USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[LedgerLiveHistoryReport]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[LedgerLiveHistoryReport] @Ward varchar(100),@CID varchar(max),@HistoryDB varchar(100),@TariffID varchar(10)
as

Declare @sqlstr varchar(max)

set @sqlstr='
create table #tmp (yearid int,monthid int)

insert into #tmp
select *
 from LedgerRptMonths

create table #tmpLiveRes (Sub_Division varchar(500), Ward varchar(500), Tariff varchar(500), LNo varchar(500), RRNo varchar(500), doorno varchar(500), RD int, ConsumerID int, Name varchar(500), Address varchar(5000),
 SD varchar(10), Year int, Month int, MonthName varchar(50), FR float, IR float, status varchar(50) , Reason varchar(100), Consumption int, BMD numeric, OB numeric, EC numeric, OtherCharges numeric,
RoundOff numeric, AvgWA money, Total numeric, AdjAmt numeric, Collection numeric, ReceiptDate varchar(50), ReceiptNo bigint, CB numeric)

insert into #tmpLiveRes
exec LedgerLive @Ward='''+@Ward+''',@ConsumerID ='''+@CID+''',@TariffID='''+@TariffID+'''

create table #tmpHistRes (Sub_Division varchar(500), Ward varchar(500), Tariff varchar(500), LNo varchar(500), RRNo varchar(500), doorno varchar(500), RD int, ConsumerID int, Name varchar(500), Address varchar(5000),
 SD varchar(10), Year int, Month int, MonthName varchar(50), FR float, IR float, status varchar(50) , Reason varchar(100), Consumption int, BMD numeric, OB numeric, EC numeric, OtherCharges numeric,
RoundOff numeric, AvgWA money, Total numeric, AdjAmt numeric, Collection numeric, ReceiptDate varchar(50), ReceiptNo bigint, CB numeric)

insert into #tmpHistRes
exec '+@HistoryDB+'LedgerLiveHistory @Ward='''+@Ward+''',@ConsumerID ='''+@CID+''',@TariffID='''+@TariffID+'''


select distinct Sub_Division, Ward, Tariff, LNo, RRNo, doorno, RD, ConsumerID, Name, Address, SD, Year, Month, MonthName, FR, IR, status, Reason, Consumption, BMD, OB, EC, OtherCharges, 
RoundOff, AvgWA, Total, AdjAmt, Collection, ReceiptDate, ReceiptNo, CB
from (
select ROW_NUMBER () over (partition by Consumerid,year,month  order by Reason desc) rn,* from (

select * from  #tmpLiveRes
union
select * from #tmpHistRes) as P) as Q
where rn=1'

exec (@sqlstr)

GO
