USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[cpm8servdate]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[cpm8servdate] @date date,@rno varchar(20)
as 
begin

update consumer set ServiceDate=@date where rrno=@rno

update DistributionNodeMeterAllocation set ConnectedDate=@date where DistributionNodeMeterAllocationID=(select max(DistributionNodeMeterAllocationID) from DistributionNodeMeterAllocation where DistributionNodeID in (select distributionnodeid from consumer where rrno=@rno)
)
end
GO
