USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[sp_updateDemandChargeType]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  Procedure [dbo].[sp_updateDemandChargeType]
@discription varchar(max),
 @DemandChargeMainTypeID varchar(max),
@ak varchar(max),
@CollectionOrder varchar(max) 
AS
SET NOCOUNT ON
Declare @v int select @v=0

select * From (
select  top 1  'Allready used in  ConsumerLedgerDemandDetails' massage ,'error'  types From  ConsumerLedgerDemandDetails  
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerLedgerDetails' massage ,'error'  types  From  ConsumerLedgerDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerArrearDetails'massage ,'error'  types  From  ConsumerArrearDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description =@discription)
union 
select  top 1  'Allready used in  PreBillDemandDetails' massage,'error'  types   From  PreBillDemandDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description =@discription))kl

set @v=(select isnull(sum(a),0) count From (
select  top 1  'Allready used in  ConsumerLedgerDemandDetails' error ,1 a From  ConsumerLedgerDemandDetails  
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerLedgerDetails' error ,1  From  ConsumerLedgerDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerArrearDetails'error ,1  From  ConsumerArrearDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  PreBillDemandDetails' error,1   From  PreBillDemandDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription))kl)

IF (@v=0 )
BEGIN

select *  into  #tempdf  from (
select  max(DemandChargeTypeID) id From DemandChargeTypes where Description=@discription
union
select TaxDemandchargeTypeID  id From DemandChargeTypeTaxAllocation where DemandChargeTypeID in (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription)
 union
select InterestDemandChargeTypeID id From DemandChargeTypeInterestAllocation where DemandChargeTypeID in (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription)
 union
select ArrearDemandChargeTypeID  id From DemandChargeTypeArrearsAllocation where DemandChargeTypeID in (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription)
)kl
delete From DemandChargeTypeTaxAllocation where DemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypeInterestAllocation where DemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypeArrearsAllocation where DemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypes where DemandChargeTypeID in  ( select id From #tempdf)






declare @sl varchar(max)  select @sl=','



declare @counts int SELECT @counts=(DATALENGTH(@ak)-DATALENGTH(REPLACE(@ak,@sl,'')))/DATALENGTH(@sl)



create table  #tempcols (name varchar(max))
WHILE ( @counts >= 0)
BEGIN
insert into #tempcols
SELECT left(@ak,CHARINDEX(@sl,@ak)-1)   where 0<@counts
insert into #tempcols
SELECT @ak  where 0=@counts
set @ak=right(@ak,len(@ak)-CHARINDEX(@sl,@ak))
set @counts=@counts-1
ENd



insert into DemandChargeTypes 
select @discription,@DemandChargeMainTypeID,null, @CollectionOrder,case when len(@ak)=0 then 0 else 1 end ,
case when @DemandChargeMainTypeID=3 then 1 else 0 end,case when @DemandChargeMainTypeID=2 then 1 else 0 end
union
select @discription+' '+name,(select  top 1 DemandChargeMainTypeID From DemandChargeMainTypes where Description=name),
null,@CollectionOrder+1,0,
case when name='Tax' then 1 else 0 end,case when name='Interest' then 1 else 0 end
From #tempcols where  name!='' 

insert into DemandChargeTypeArrearsAllocation
select  (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription), 
 (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription+' '+name )
 from  #tempcols

insert into DemandChargeTypeTaxAllocation
select  (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription), 
 (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription+' '+name)
 from  #tempcols where name='Tax'

insert into DemandChargeTypeInterestAllocation
select  (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription), 
 (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription+' '+name)
from  #tempcols where name='Interest'

drop table #tempdf
drop table  #tempcols
select   'Sucessfully update' massage,'done' types
end 
GO
