USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[sp_DistributionNodeMeterAllocation]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DistributionNodeMeterAllocation] as
BEGIN
select * from DistributionNodeMeterAllocation
END
GO
