USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[Msg]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Msg] @billeddate date
as
begin
select billno,PrintedDate as billdate, localnumber,'Dear Customer, Bill of Rs.'+cast(p.TotalDemand as varchar(50))+' is generated on '+cast(FORMAT(p.PrintedDate, 'dd/MM/yyyy', 'en-US') as varchar(50))+' for RRNo. '+cast(p.RRNo as varchar(50))+' and Due Date is '+cast(FORMAT(DATEADD (day ,15 , PrintedDate), 'dd/MM/yyyy', 'en-US') as varchar(50)) as Message from
(
select p1.billno,c2.firstname,p1.PrintedDate,p1.TotalDemand,p1.duedate,p1.rrno,c1.LocalNumber from prebilldetails p1
inner join consumerphonedetails c1 on c1.ConsumerID=p1.ConsumerID
inner join consumer c2 on c2.consumerid=c1.consumerid 
 where PrintedDate=@billeddate and billed=1 and p1.TotalDemand>0 and LEN(c1.LocalNumber)>9
) as p
end
GO
