USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDisconnectionListNotice]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_SaveDisconnectionListNotice]
@RRNO varchar(max)=null,
@ArrearsAmount   varchar(max)=null,
@FR varchar(max)=null,
@StatusID int=null,
@FromContactID int=null,
@FromODLDID int=null,
@ToContactID int=null,
@ToODLDID int=null,
@ApprovalRemarks varchar(max)=null
AS
SET NOCOUNT ON

insert into ConsumerDisConnectionList
select  (select max(OfficeLocationAllocationID) From OfficeLocationAllocation) ConsumerDisconnectionOLID,
1 ConsumerDisconnectionReasonID,getdate() DisConnectionListDate,
  c.ReadingDateAreaAllocationID,
c.ConsumerConnectionStatusID,c.ConsumerID,@FR OldFinalReading, null  NewFinalReading,@ArrearsAmount  ArrearsAmount,0 AdviceForDisconnect,
0 DisconnectCancel,null DisConnectedDate,0 DisConnected,null  ReconnectionListDate,
0 ReconnectCancel,0 AdviceForReconnect ,null ReconnectedDate  ,0 Reconnected,null Accessed,null AccessedBy,0 DisConnectedTransfered,0 ReconnectedTransfered,
0 RevenueTransfered,0 ApprovalTransfered,getdate() CreatedOn,null CreatedBy,0 cancelled,0, case when @StatusID=1 then 1 else  0 end  ,0,0
From consumer c  where RRNO=@RRNO
and c.ConsumerID not in  ( select ConsumerID From ConsumerDisConnectionList  where DisconnectCancel=0  or Reconnected=1)


insert into ActivityApprovalDetails
select 5,(select max(ConsumerDisConnectionListID) From ConsumerDisConnectionList where ConsumerID in (select ConsumerID from Consumer where RRNO=@RRNO ))
,@FromContactID ,@FromODLDID,@StatusID ,@ApprovalRemarks,@ToContactID ,@ToODLDID,getdate()
GO
