USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[cpm9drno]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[cpm9drno] @drno varchar(100),@rno varchar(20)
as
begin

update PropertyMaster set PropertyMasterName=@drno,PropertyMasterNo=@drno where PropertyMasterID in(select propertymasterid from ConsumerPropertyAllocation where consumerid in
(select consumerid from consumer where rrno=@rno))


update Properties set PropertyName=@drno,PropertyNo=@drno where PropertyID in(select PropertyID from ConsumerPropertyAllocation where consumerid in
(select consumerid from consumer where rrno=@rno))

end
GO
