USE [EnergySyncRevenueKotekar]
GO
/****** Object:  StoredProcedure [dbo].[sp_Latlong]    Script Date: 15-06-2026 10:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Latlong] @year varchar(10) ,@month varchar(10)
as  
Declare @prevbill table (UserName Varchar(50),Area varchar(100),latlongdiff int,latlongupdated int,notupdated int)
declare @sql varchar(100) 



insert into @prevbill
select 
u.username,m.areaname,
isnull(latlongdiff,0) latlongdiff,isnull(latlongupdated,0) latlongupdated,isnull(notupdated,0) notupdated
from
(
select meterreaderid,ReadingDateAreaAllocationID,isnull(count(p.rrno),0) Billedcount
 from Energysyncrevenueputtur.dbo.prebilldetails p
inner join  consumer c on p.rrno=c.rrno  
where billed=1 and  sbm=1 and  year(printeddate)=@year and month(p.PrintedDate)=@month
group by meterreaderid,ReadingDateAreaAllocationID) D left join

(select meterreaderid,ReadingDateAreaAllocationID,isnull(count(p.rrno),0) notupdated
 from Energysyncrevenueputtur.dbo.prebilldetails p
inner join  consumer c on p.rrno=c.rrno  
where billed=1 and  sbm=1 and  year(printeddate)=@year and month(p.PrintedDate)=@month  and p.Latitude is  null and p.Longitude is  null
group by meterreaderid,ReadingDateAreaAllocationID) A  on D.meterreaderid=A.meterreaderid and D.ReadingDateAreaAllocationID=A.ReadingDateAreaAllocationID

left join

(select meterreaderid,ReadingDateAreaAllocationID,isnull(count(c.rrno),0) latlongdiff
 from Energysyncrevenueputtur.dbo.consumer  c
inner join (select A.DistributionNodeID,lat,long  from (select DistributionNodeID, DistributionNodeUserDefinedFieldValue  lat
from Energysyncrevenueputtur.dbo.distributionnodesub where DistributionNodeUserDefinedFieldID=52) A
inner join
(select DistributionNodeID, DistributionNodeUserDefinedFieldValue long
from Energysyncrevenueputtur.dbo.distributionnodesub where DistributionNodeUserDefinedFieldID=53) B on A.DistributionNodeID=B.DistributionNodeID
where A.lat is not null and B.long is not null) D  on c.DistributionNodeID=d.DistributionNodeID
inner join Energysyncrevenueputtur.dbo.prebilldetails p on c.consumerid=p.consumerid
where billed=1 and  sbm=1 and  year(printeddate)=@year and month(p.PrintedDate)=@month and p.Latitude is not null and p.Longitude is not null
and dbo.DistanceBetween(lat,long,p.Latitude,p.Longitude) > 0.1
group by meterreaderid,ReadingDateAreaAllocationID ) B on D.meterreaderid=B.meterreaderid and D.ReadingDateAreaAllocationID=B.ReadingDateAreaAllocationID

left join

(select meterreaderid,ReadingDateAreaAllocationID,isnull(count(p.rrno),0) latlongupdated
 from Energysyncrevenueputtur.dbo.prebilldetails p
inner join  consumer c on p.rrno=c.rrno  
where billed=1 and  sbm=1 and  year(printeddate)=@year and month(p.PrintedDate)=@month  and p.Latitude is not null and p.Longitude is not null
group by meterreaderid,ReadingDateAreaAllocationID) C on D.meterreaderid=C.meterreaderid and D.ReadingDateAreaAllocationID=C.ReadingDateAreaAllocationID
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=D.ReadingDateAreaAllocationID
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join users u on u.contactid=D.meterreaderid



select username  ,   area,details,count  from @prevbill
unpivot
(
  count
  for details in ( latlongdiff ,latlongupdated ,notupdated  )
) u
GO
