USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_Billing]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Billing]
@FromDate varchar(100),@ToDate varchar(100)
As
Begin
SELECT RDAA.AreaOLID,ct.ContactID,ct.FileAs as MeterReader, mra.areaname, day(pbd.Printeddate) as Printeddate,  count(*) as BilledInstallation
FROM  Contacts Ct, MeterReadingAreas MRA, Consumer Cn, ReadingDateAreaAllocation RDAA, 
PreBillDetails PBD 
Where  	MRA.MeterReadingAreaId = RDAA.MeterReadingAreaId 
and	Ct.ContactID = pbd.MeterReaderID and 	cn.ReadingDateAreaAllocationId = RDAA.ReadingDateAreaAllocationID 
and PBD.consumerid= cn.consumerid
and pbd.printeddate>=@FromDate and pbd.printeddate<=@ToDate and pbd.billed=1 
and pbd.sbm=1 group by RDAA.AreaOLID,ct.ContactID,ct.fileas, pbd.printeddate, mra.areaname Order By  ct.fileas, pbd.printeddate
End
GO
