USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[CBNegative]    Script Date: 15-06-2026 10:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CBNegative]  (@ConsumerID int ,@CB money,@Collection int)
as

update consumerledger set  openingbalance=@CB+@Collection where ConsumerLedgerID=(select ConsumerLedgerID from ConsumerLedger where ConsumerID=@ConsumerID and LedgerMonth=3 and LedgerYear=2017)

update ConsumerLedgerDetails set Amount=@CB+@Collection where ConsumerLedgerID=(select ConsumerLedgerID from ConsumerLedger where ConsumerID=@ConsumerID and LedgerMonth=3 and LedgerYear=2017)
and DemandChargeTypeID=1

update ConsumerLedgerDetailsSub set Amount=@CB+@Collection 
where ConsumerLedgerDetailsID=(select ConsumerLedgerDetailsID from ConsumerLedgerDetails
                                                                 where ConsumerLedgerID in(select ConsumerLedgerID from ConsumerLedger where ConsumerID=@ConsumerID and LedgerMonth=3 and LedgerYear=2017)and  DemandChargeTypeID=1)
and DemandChargeID=2

update ConsumerArrears set balance=@CB where ConsumerID=@ConsumerID and month(BillDate)=3 and year(BillDate)=2017

update ConsumerArrearDetails set balance=@CB where ConsumerArrearsID=(select ConsumerArrearsID from ConsumerArrears where ConsumerID=@ConsumerID and month(BillDate)=3 and year(BillDate)=2017)
and DemandChargeTypeID=1

update ConsumerArrearDetailssub set balance=@CB
where ConsumerArrearsID=(select ConsumerArrearsID from ConsumerArrears where ConsumerID=@ConsumerID  and month(BillDate)=3 and year(BillDate)=2017)
and DemandChargeID=2

update Receipts set  Balance=abs(@CB+@Collection) where contactid=@ConsumerID and month(receiptdate)=3 and year(receiptdate)=2017

update ConsumerLedgerCollections set ReceiptAmount=@Collection-abs(@CB+@Collection) where ConsumerID=@ConsumerID and month(receiptdate)=3 and year(receiptdate)=2017



update ConsumerLedgerCollectionDetails set Amount=@Collection-abs(@CB+@Collection)
where ConsumerLedgerCollectionID in(select ConsumerLedgerCollectionID from ConsumerLedgerCollections
where ConsumerID=@ConsumerID and month(receiptdate)=3 and year(receiptdate)=2017) and DemandChargeTypeID=5

update ConsumerLedgerCollectionDetailsSub set Amount=@Collection-abs(@CB+@Collection)
where ConsumerLedgerCollectionDetailsID in(select ConsumerLedgerCollectionDetailsID from ConsumerLedgerCollectionDetails
where ConsumerLedgerCollectionID in(select ConsumerLedgerCollectionID from ConsumerLedgerCollections
where ConsumerID=@ConsumerID and month(receiptdate)=3 and year(receiptdate)=2017)) and DemandChargeID=2

GO
