USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecurringCharges_update]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  procedure [dbo].[sp_RecurringCharges_update] 
@DemandChargeTypeID varchar(max), 
@EffectiveDate varchar(max),
@ak varchar(max)
AS
SET NOCOUNT ON





declare @sl varchar(max)  select @sl='!'



declare @counts int SELECT @counts=(DATALENGTH(@ak)-DATALENGTH(REPLACE(@ak,@sl,'')))/DATALENGTH(@sl)

 
create table  #tempcols (name varchar(max))
WHILE ( @counts >= 0)
BEGIN
insert into #tempcols
SELECT left(@ak,CHARINDEX(@sl,@ak)-1)   where 0<@counts
insert into #tempcols
SELECT @ak  where 0=@counts
set @ak=right(@ak,len(@ak)-CHARINDEX(@sl,@ak))
set @counts=@counts-1
ENd


declare @sql1 varchar(max)
create table  #tempcols1 (tariffid varchar(100),rate varchar(100) )

DECLARE cursor_product CURSOR
FOR SELECT  name from #tempcols
OPEN cursor_product
FETCH NEXT FROM cursor_product INTO @ak
WHILE @@FETCH_STATUS = 0
BEGIN
exec('insert into #tempcols1(tariffid ,rate) values('+@ak+')')
FETCH NEXT FROM cursor_product INTO @ak
END

select *From  #tempcols1
declare @amount int 
set @amount= (SELECT avg(cast(rate as int) )From  #tempcols1)

update RecurringCharges set Amount=@amount
 where DemandChargeTypeID=@DemandChargeTypeID


update p set FromDate = year(getdate()), ToDate = year(getdate())+1, EffectiveDate = @EffectiveDate,MemoDate = getdate()
From RecurringChargeSlabPeriods  p  
inner join  #tempcols1 jk on jk.tariffid=p.TariffID 

declare @pid int 
set @pid=(select isnull(max(RecurringChargeSlabPeriodID),0) From RecurringChargeSlabPeriods)

insert into RecurringChargeSlabPeriods  
select (row_number() over(order by t.TariffID))+@pid ,t.TariffID ,year(getdate()),year(getdate())+1,getdate(),@EffectiveDate,0,0 
From #tempcols1 jk inner join Tariffs t on jk.tariffid=t.TariffID 
 where t.TariffID  not in (
select TariffID From RecurringChargeSlabPeriods 
) 
insert into RecurringChargeSlabHistory
select p.RecurringChargeSlabPeriodID,@DemandChargeTypeID,mk.MinimumAmount,DATEADD(day, -1, @EffectiveDate)
 From RecurringChargeSlabPeriods  p  
inner join  #tempcols1 jk on jk.tariffid=p.TariffID 
inner join RecurringChargeSlabs mk on mk.RecurringChargeSlabPeriodID = p.RecurringChargeSlabPeriodID


update mk set mk.amount=jk.rate,mk.MinimumAmount=jk.rate,mk.MaximumAmount = jk.rate
 From RecurringChargeSlabPeriods  p  
inner join  #tempcols1 jk on jk.tariffid=p.TariffID 
inner join RecurringChargeSlabs mk on mk.RecurringChargeSlabPeriodID = p.RecurringChargeSlabPeriodID
where  mk.DemandChargeTypeID =@DemandChargeTypeID


insert into RecurringChargeSlabs
select p.RecurringChargeSlabPeriodID,@DemandChargeTypeID, jk.rate, jk.rate, jk.rate
 From RecurringChargeSlabPeriods  p  
inner join  #tempcols1 jk on jk.tariffid=p.TariffID  
where  p.RecurringChargeSlabPeriodID  not in  (
select n.RecurringChargeSlabPeriodID from RecurringChargeSlabs n
inner join RecurringChargeSlabPeriods l on n.RecurringChargeSlabPeriodID=l.RecurringChargeSlabPeriodID
 where  n.DemandChargeTypeID = @DemandChargeTypeID )





drop table #tempcols1
drop table #tempcols
CLOSE cursor_product

DEALLOCATE cursor_product
GO
