USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_disconnectionListReconnection]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  Procedure [dbo].[sp_disconnectionListReconnection]
@MeterReaderID varchar(max),
@MeterReadingAreaID  varchar(max),
@ReadingDate varchar(max),
@TariffID varchar(max)
AS
SET NOCOUNT ON


select cv.RRNO,cv.ConsumerID, cv.FileAs consumerName,mr.AreaName,a.ReadingDate,c.FileAs MeterReader,t.Description Tariff,
cb Arrears,FinalReading,LastPaidDate,deposit From ReadingdateAreaAllocation  a
inner join contacts  c on c.ContactID=a.MeterReaderID
inner join MeterReadingAreas mr on mr.MeterReadingAreaID=a.MeterReadingAreaID
inner join Consumer cv on cv.ReadingDateAreaAllocationID=a.ReadingDateAreaAllocationID
inner join Tariffs t on t.TariffID=cv.TariffID
inner join ConsumerDisConnectionList cd on cd.ConsumerID=cv.ConsumerID  
inner join Receipts re on  re.ContactID=cv.ConsumerID and   re.ReceiptDate>=cast(cd.DisConnectedDate as date)
outer apply(select *From consumercb(cv.rrno))kl
outer apply(select  isnull(KWahFinalReading,KWahInitialReading)  FinalReading From PreBillReadingDetails  where BillNo in  (
select max(p.BillNo) From PreBillDetails p inner join  PreBillReadingDetails q on p.BillNo=q.BillNo and p.RRNo=cv.RRNo and p.Billed=1 and p.SBM=1 group by p.RRNo )
)kl1
outer apply(select sum(isnull(j.Amount,0)) deposit  
from ConsumerDepositDetails j  where j.ConsumerID=cv.ConsumerID
group by j.ConsumerID
)klkk
outer apply(select top 1 convert(varchar(max),ReceiptDate,103) LastPaidDate from Receipts where ContactID=cv.ConsumerId 
and isnull(Cancel,0)=0 order by ReceiptDate desc) LastPaidDate
where MeterReaderID = @MeterReaderID  and a.MeterReadingAreaID=@MeterReadingAreaID 
and  a.ReadingDate=@ReadingDate and cv.ConsumerConnectionStatusID=2 and 
  DisConnected=1 and isnull(DisconnectCancel,0)=0  and isnull(cancelled,0)=0 and isnull(AdviceForReconnect,0)=0
and (cv.TariffId=@TariffID or @TariffID is null or @TariffID='0') order by cb desc
GO
