USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_EnergyChargeSlabs_update]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EnergyChargeSlabs_update] 
@TariffID varchar(max), 
@EffectiveDate varchar(max),
@ak varchar(max)
AS
SET NOCOUNT ON


declare @sl varchar(max)  select @sl='!'



declare @counts int SELECT @counts=(DATALENGTH(@ak)-DATALENGTH(REPLACE(@ak,@sl,'')))/DATALENGTH(@sl)


create table  #tempcols (name varchar(max))
WHILE ( @counts >= 0)
BEGIN
insert into #tempcols
SELECT left(@ak,CHARINDEX(@sl,@ak)-1)   where 0<@counts
insert into #tempcols
SELECT @ak  where 0=@counts
set @ak=right(@ak,len(@ak)-CHARINDEX(@sl,@ak))
set @counts=@counts-1
ENd


declare @sql1 varchar(max)
create table  #tempcols1 (sequencesunitno varchar(100),fromunit varchar(100),units varchar(100),rate varchar(100) )

DECLARE cursor_product CURSOR
FOR SELECT  name from #tempcols
OPEN cursor_product
FETCH NEXT FROM cursor_product INTO @ak
WHILE @@FETCH_STATUS = 0
BEGIN
exec('insert into #tempcols1(sequencesunitno,fromunit,units,rate) values('+@ak+')')
FETCH NEXT FROM cursor_product INTO @ak
END



update EnergyChargeSlabPeriods set EffectiveDate=@EffectiveDate
where TariffID=@TariffID

insert into EnergyChargeSlabHistory
select EnergyChargeSlabPeriodID,EnergyChargeSlabSeries,EnergyChargeSlabUnits,EnergyChargeSlabRate,MinimumEnergyCharge,DATEADD(day, -1, @EffectiveDate)
 from EnergyChargeSlabs where EnergyChargeSlabPeriodID in (select EnergyChargeSlabPeriodID From EnergyChargeSlabPeriods  where TariffID= @TariffID)


delete from EnergyChargeSlabs where EnergyChargeSlabPeriodID in (select EnergyChargeSlabPeriodID From EnergyChargeSlabPeriods  where TariffID= @TariffID)

insert into EnergyChargeSlabs
select (select top 1 EnergyChargeSlabPeriodID From EnergyChargeSlabPeriods  where TariffID= @TariffID),sequencesunitno,
case  when units>=9999999 then
units
else 
cast(units as int)-cast(fromunit as int) 
end 
,rate,0  From #tempcols1


drop table #tempcols1
drop table #tempcols
CLOSE cursor_product

DEALLOCATE cursor_product
GO
