USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_ApplicationDetails]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_ApplicationDetails]
@ApplicationID varchar(max),
@FileAs varchar(max)
AS
SET NOCOUNT ON
insert into ApplicationDetails
select   top 1 @ApplicationID, OfficeLocationAllocationID ,@FileAs,0 From OfficeLocationAllocation



GO
