USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMeter]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMeter] (@mts varchar(200) ,@chi varchar(100))
as
Begin

update meterdetails set MeterStatus=@mts where meterid in(select meterid from DistributionNodeMeterAllocation where distributionnodeid in(select distributionnodeid from consumer where rrno=@chi))

update p2 set p2 .meterstatus=@mts
 from prebilldetails p1
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join consumer c1 on c1.ConsumerID=p1.consumerid and c1.RRNO=p1.RRNo
inner join DistributionNodeMeterAllocation d1 on d1.distributionnodeid=c1.DistributionNodeID
inner join MeterDetails m1 on m1.MeterID=d1.MeterID
 where p1.rrno=@chi

end

GO
