USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_DisconnectionListAdviceForDisconnect]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[sp_DisconnectionListAdviceForDisconnect]
@RRNo varchar(max),
@StatusID int=null,
@FromContactID int=null,
@FromODLDID int=null,
@ToContactID int=null,
@ToODLDID int=null,
@ApprovalRemarks varchar(max)=null
AS
SET NOCOUNT ON

update  r set r.AdviceForDisconnect=1
From consumerdisconnectionlist r where  consumerdisconnectionlistid in (
select max(consumerdisconnectionlistid)From consumerdisconnectionlist
 where   ConsumerID in   (select ConsumerID From Consumer where RRNO=@RRNo))


update  r set DisconnectionListapproved=1
From consumerdisconnectionlist r where  consumerdisconnectionlistid in (
select max(consumerdisconnectionlistid)From consumerdisconnectionlist
 where   ConsumerID in   (select ConsumerID From Consumer where RRNO=@RRNo))
and @StatusID=1


insert into ActivityApprovalDetails
select 53,(select max(ConsumerDisConnectionListID) From ConsumerDisConnectionList where ConsumerID in (select ConsumerID from Consumer where RRNO=@RRNO ))
,@FromContactID ,@FromODLDID,@StatusID ,@ApprovalRemarks,@ToContactID ,@ToODLDID,getdate()


GO
