USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_select_RecurringCharges]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  procedure [dbo].[sp_select_RecurringCharges]
@DemandChargeTypeID varchar(max)
AS
SET NOCOUNT ON


select n.DemandChargeTypeID,d.Description DemandChargeType,n.Amount ,m.TariffID,t.Description tariff,convert(varchar,m.EffectiveDate,111)EffectiveDate  From RecurringChargeSlabs  n
inner join RecurringChargeSlabPeriods m on n.RecurringChargeSlabPeriodID=m.RecurringChargeSlabPeriodID
inner join DemandChargeTypes d on d.DemandChargeTypeID=n.DemandChargeTypeID
inner join Tariffs t on t.TariffID=m.TariffID
where n.DemandChargeTypeID=@DemandChargeTypeID



select *From RecurringChargeSlabPeriods
GO
