USE [EnergySyncRevenueSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_ViweDemandChargeType]    Script Date: 15-06-2026 10:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[sp_ViweDemandChargeType]
AS
SET NOCOUNT ON

select DemandChargeTypeID,t.Description DemandChargeType ,t.Description DemandChargeMainType,t.DemandChargeMainTypeID,t.CollectionOrder,
isnull(p1.Tax,0) Tax,isnull(p2.Interest,0) Interest,isnull(p3.Arrear,0) Arrear
From DemandChargeTypes t
inner join DemandChargeMainTypes m on m.DemandChargeMainTypeID=t.DemandChargeMainTypeID
outer apply(select  1 Tax  From DemandChargeTypeTaxAllocation where DemandChargeTypeID in  ( t.DemandChargeTypeID))p1
outer apply(select  1 Interest  From DemandChargeTypeInterestAllocation where DemandChargeTypeID in  ( t.DemandChargeTypeID))p2
outer apply(select  1  Arrear From DemandChargeTypeArrearsAllocation where DemandChargeTypeID in  ( t.DemandChargeTypeID))p3
 where (SubClass = 1 or (
t.DemandChargeTypeID  not in  (select j.TaxDemandchargeTypeID From DemandChargeTypeTaxAllocation  j )
and  
t.DemandChargeTypeID   not in  (select j.InterestDemandChargeTypeID From DemandChargeTypeInterestAllocation  j )
and 
t.DemandChargeTypeID  not in  (select  ArrearDemandChargeTypeID From DemandChargeTypeArrearsAllocation  j  )
) )
GO
