USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[sp_transformer_new]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[sp_transformer_new] @olid varchar(200)  ,  @offid  varchar(200) as 
SET NOCOUNT ON


Declare @year1 varchar(MAX)
Declare @year2 varchar(MAX)
Declare @sqlFinal NVARCHAR(MAX)





 set @year1 = (select case when  month(getdate())<=3 then  
'_'+cast((year(getdate())-1) as varchar(10))+'_'+right((cast((year(getdate())) as varchar(10))),2)
else 
'_'+cast((year(getdate())) as varchar(10))+'_'+right((cast((year(getdate())+1) as varchar(10))),2) end )

set @year2 =
(select case when  month(getdate())<=3 then  
'_'+cast((year(getdate())-2) as varchar(10))+'_'+right((cast((year(getdate())-1) as varchar(10))),2)
else 
'_'+cast((year(getdate())-1) as varchar(10))+'_'+right((cast((year(getdate())) as varchar(10))),2) end )





set @sqlFinal='
select OfficeLocationAllocationID,kl1l.fileas,isnull(mm.'+@year2+',0)  '+@year2+',isnull(mm.'+@year1+',0) '+@year1+'
From OfficeLocationAllocation kl1l  
outer apply(select 
max(case when fyear='''+@year2 +'''then qunt  else 0 end)   '+@year2+',
max(case when fyear='''+@year1+''' then qunt  else 0  end)  '+@year1+'
from (

select   1 sd,row_number() over( order by fyear desc )  slno,fyear,count(*) qunt From (
select 
case when  month(w.WorkOrderDate)<=3 then  
''_''+cast((year(w.WorkOrderDate)-1) as varchar(10))+''_''+right((cast((year(w.WorkOrderDate)) as varchar(10))),2)
else 
''_''+cast((year(w.WorkOrderDate)) as varchar(10))+''_''+right((cast((year(w.WorkOrderDate)+1) as varchar(10))),2)
end fyear,
offl.OfficeLocationAllocationID,offl.fileas,w.WorkAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference
From WorkOrder w inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID 
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID 
outer apply (
select  s.*,cdd.* from StoreInvoice_pni s 
inner join StoreInvoiceDetails_pni kk on kk.StoreInvoiceNo=s.StoreInvoiceNo
inner join capacityDetails cdd on cdd.itemid=kk.ItemID 
and kk.ItemID in (select itemid From MaterialCode  where  MaterialCode like ''03 21%'')
 where s.DocumentNo=w.WorkOrderNo and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1
) kl 
where StoreInvoiceNo is not  null and w.approved=1  and w.Relation=''NEW''  and w.Canceled=0
 and w.CivilWorkContractTypeID!=10 and offl.OfficeLocationAllocationID 
in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID) 
and  w.Approved=1)mlk
group by mlk.fyear) kl1
group by sd)mm
where OfficeID='+@offid +'
and  OfficeLocationAllocationID in (
select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy 
where OfficeLocationAllocationID='+@olid+') order by OfficeLocationAllocationID '



exec(@sqlFinal)
GO
