USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_TabillforuniformVigilance]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TabillforuniformVigilance] @olid int 

as
 SET nocount on;

Declare  @ODLDAllocationDetails table(ODLDID Int,DivisionName varchar(100),OfficeID int,OfficeName varchar(100),LocationID int,
LocationName varchar(100),DepartmentID int ,DepartmentName varchar(100),DesignationID int,DesignationName varchar(100))

insert into @ODLDAllocationDetails
select distinct ODLDID,OLA.Fileas as DivisionName,O.OfficeID,OfficeName,L.LocationID,LocationName,Dep.DepartmentID,DepartmentName,Des.DesignationID,DesignationName 
from ODLDAllocation ODLD with(Nolock) left join Office O with(Nolock)  on ODLD.OfficeID=o.OfficeID
left join Location L with(Nolock)  on ODLD.LocationID=L.LocationID
left join Department Dep with(Nolock)  on ODLD.DepartmentID=Dep.DepartmentID
left join Designation Des with(Nolock)  on ODLD.DesignationID=Des.DesignationID
left join OfficeLocationAccountingUnitDetails OLAUD with(Nolock)  on OLAUD.OfficeID=O.OfficeID and  OLAUD.LocationID=L.LocationID
left join  OfficeLocationHeirarchy OLH with(Nolock) on OLAUD.OLID=OLH.HeirarchyOfficeLocationAllocationID 
left join OfficeLocationAllocation OLA  with(Nolock) on OLA.OfficeLocationAllocationID=OLAUD.AcOLID
where OLH.OfficeLocationAllocationID=@OLID
and OLAUD.AcOLID in(select AcOLID from OfficeLocationAccountingUnitDetails where OLID=@OLID)

select c.contactid,OfficeName,DivisionName ,LocationName,DepartmentName,DesignationName	,isnull(c.FileAs,'') Fileas,(select sex from employee where contactid=b.contactid) as sex
--select *
from @ODLDAllocationDetails a
inner join ( select A1.ContactID,isnull(b1.FromODLDID,A1.ODLDID) as ODLDID from employee A1 with(nolock) 
left join EmployeeAppointmentDetails B1 with(nolock) on a1.ContactID=b1.ContactID and approved=1 and reported=1 and isnull(B1.Regularised,0)=0 and B1.AppointmentTypeID in (23,47) 
union 
select ContactID,ToODLDID as ODLDID
 FROM EmployeeAppointmentDetails   with(nolock) where  AppointmentTypeID in ( 6,7,25,43,23,44,46) and 
(case when    Regularised=1 and EOMONTH (( DATEADD(month, 1, ReportedDate) ))=getdate() then 0 else   Regularised end)=0   

	 
	 ) b on a.odldid=b.odldid 
left outer join contacts c with(nolock) on c.contactid=b.contactid   
where C.ContactID IS NOT NULL 
and (case when DepartmentID=168 and  DesignationID in (223,234,241,243,244,250,251,252,253,254,262,263,264,265,271,272,277,278,279,281,282,283,284,285,287,288,289,298,299,301,302,303,304,305,306,307,308,309,310,311,312,313,314,316,317,319,320,322,325,330,332) then 1 else  case when DepartmentID<>168 
and DesignationID in (284,285,287,316,264,262,263,317,299,303,288,278,279,244,309,310,289,330,316,223,244,253,254,262,263,264,265,271,272,277,278,279,281,282,283,284,285,287,288,289,298,299,302,303,304,305,306,307,308,309,310,311,312,313,314,316,317,319,320,322,325,330,332) then 1 else 0 end end)=1


 
GO
