USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_ESMHierarchyGetUserDept]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ESMHierarchyGetUserDept]
	@ActivityID INT,
	@AcOLID INT,
	@ContactID INT


AS 
SET NOCOUNT ON
--
--
--Declare @ActivityID Int select @ActivityID = 224
--Declare @AcOLID Int select @AcOLID = 341
--Declare @ContactID Int select @ContactID = 2056



Declare @Lien Table  (ContactID Int,FromODLDID Int,ToODLDID Int,CategoryID Int,AppointmentTypeID Int)
--Insert Into @Lien 
--select distinct ContactID,FromODLDID,ToODLDID,isnull(EmployeecategoryID,1) CategoryID,AppointmentTypeID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (23,47) and Approved=1 and Reported=1 and isnull(Legacy,0)=0
--and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 )
--and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 


Declare @ODLD Table (ContactID Int,ODLDID Int) Insert Into @ODLD
        -- Relieve Expired
select a.ContactID,isnull(FromODLDID,ODLDID) ODLDID
from ( select ContactID,ODLDID from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7,3)) A
Left Outer Join @Lien  B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID
union -- Relieve Resignation
select b.ContactID,ODLDID
from EmployeeApplication A with (nolock) Inner Join EmployeeApplicationDetails B with (nolock) on b.EmployeeApplicationID=a.EmployeeApplicationID
Left Outer Join ( select distinct ContactID,EmployeeApplicationID from EmployeeAppointmentDetails C with (nolock) where isnull(legacy,0)=0 and isnull(EmployeeApplicationID,0) not in (0,1) and AppointmentTypeID=21 ) C on c.ContactID=b.ContactID and c.EmployeeApplicationID=a.EmployeeApplicationID
Inner Join Employee E with (nolock) on e.ContactID=b.ContactID
where EmployeeApplicationTypeID=23 and a.Approved=1 and c.ContactID is NULL and ODLDID is not NULL
union -- Relieve Retirement
select a.ContactID,isnull(FromODLDID,ODLDID) ODLDID
from ( select ContactID,ODLDID,DateOfBirth DOB from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7)) A
Cross Join GeneralSetting Cross Join Today_HRMS Left Outer Join @Lien B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID 
where DOB is not NULL and EOMonth(DateAdd(Year,MaxAgeForRetirement,DOB)) <=Today 
union
select b.ContactID,ODLDID
from EmployeeApplication A with (nolock) Inner Join EmployeeApplicationDetails B with (nolock) on b.EmployeeApplicationID=a.EmployeeApplicationID
Left Outer Join ( select distinct ContactID,EmployeeApplicationID from EmployeeAppointmentDetails C with (nolock) where isnull(legacy,0)=0 and  isnull(EmployeeApplicationID,0) not in (0,1) and AppointmentTypeID=21 ) C on c.ContactID=b.ContactID and c.EmployeeApplicationID=a.EmployeeApplicationID
Inner Join Employee E with (nolock) on e.ContactID=b.ContactID
where EmployeeApplicationTypeID=24 and a.Approved=1 and c.ContactID is NULL and ODLDID is not NULL
union -- Relieve Out 
select ContactID,FromODLDID from EmployeeAppointmentDetails A with (nolock) where isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=1 and isnull(Relieved,0)=0 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)=0 and isnull(FromODLDID,0)>0 and isnull(ExternalOrganizationID,0)>0 and AppointmentTypeID in (2,3,4,8,46)  
union -- Relieve Internal 
select ContactID,FromODLDID from EmployeeAppointmentDetails A with (nolock) where isnull(legacy,0)=0 and Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=0 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (2,3,4,8,48,46)  
union -- Report In
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)=0 and AppointmentTypeID in (1,20,24,26,8,46,2,3,4)  
union -- Report Internal 
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (23,47,46,2,3,4,8,48)  
union -- Report In-Charge Arrangements
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (select AppointmentTypeID from AppointmentTypes_Config where AppointmentMainTypeID = 4 and AppointmentTypeID not in (8,23,47,48,46)) 
union -- Regularisation Appointment
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) Cross Join ToDay_HRMS
where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=1 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0 and isnull(Regularised,0)=0
and (case when isnull(EmployeeCategoryID,0)=1 then DateAdd(Year,1,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime)) else DateAdd(Year,3,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime)) end)<=Today
and isnull(ToODLDID,0)>0  and isnull(FromODLDID,0)=0 and AppointmentTypeID in (1,20,26) and isnull(EmployeeCategoryID,0) in (1,3) 


Declare @ODLD1 Table (ContactID Int,ODLDID Int) Insert Into @ODLD1
select distinct a.ContactID,isnull(FromODLDID,ODLDID) ODLDID
from ( select ContactID,ODLDID from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7,3)) A
Left Outer Join @Lien  B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID 
union select distinct ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where isnull(legacy,0)=0 and  AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 


Declare @Data Table (AcOLID Int,OLID Int,ContactID Int,ODLDID Int,OID Int,DPID Int,UnderDPID Int,LID Int,DNID Int,ODID Int,ODDID Int,UserName varchar(100),OfficeLocation varchar(100),OrderNo Int) 
Insert Into @Data 
select AcOLID,OLID,a.ContactID,a.ODLDID,odld.OfficeID OID,odld.DepartmentID DPID,(case when UnderDepartmentID=odld.DepartmentID then NULL else UnderDepartmentID end) UnderrDPID,odld.LocationID LID,odld.DesignationID DNID,od.OfficeDepartmentAllocationID ODID,OfficeDepartmentDesignationAllocationID ODDID,(case when e.ODLDID is NULL then NULL else UserName end) UserName,ol.OfficeLocation,ol.OrderNo
from @ODLD A Inner Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ODLDID 
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID 
Inner Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=odld.OfficeID and ol.LocationID=odld.LocationID and AcOLID=@AcOLID
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID 
Left Outer Join Employee E with (nolock) on e.ContactID=a.ContactID
Left Outer Join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID 


Declare @Data1 Table (AcOLID Int,OLID Int,ContactID Int,ODLDID Int,OID Int,DPID Int,UnderDPID Int,LID Int,DNID Int,ODID Int,ODDID Int,UserName varchar(100),OfficeLocation varchar(100),OrderNo Int) 
Insert Into @Data1 
select AcOLID,OLID,a.ContactID,a.ODLDID,odld.OfficeID OID,odld.DepartmentID DPID,(case when UnderDepartmentID=odld.DepartmentID then NULL else UnderDepartmentID end) UnderrDPID,odld.LocationID LID,odld.DesignationID DNID,od.OfficeDepartmentAllocationID ODID,OfficeDepartmentDesignationAllocationID ODDID,(case when e.ODLDID is NULL then NULL else UserName end) UserName,ol.OfficeLocation,ol.OrderNo
from @ODLD1 A Inner Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ODLDID 
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID 
Inner Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=odld.OfficeID and ol.LocationID=odld.LocationID and AcOLID=@AcOLID
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID 
Left Outer Join Employee E with (nolock) on e.ContactID=a.ContactID
Left Outer Join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID 


select Creator,FinalApprover,isnull((case when Ltrim(Rtrim(Login))='Same Department' then concat(dp1.DepartmentCode collate database_default,'') else NULL end),Login) LoginDepartment,LoginOLID_DPID
,ContactID,ContactName,Concat(dn.DesignationName collate database_default,' (',dp2.DepartmentCode collate database_default,')') Designation,OfficeLocation,UserName ContactUser,AcOLID,OLID,ODLDID,ODID,ODDID,OID,LID,DNID,DPID,UnderDPID from (

select OrderNo,(case when (case when UserName is NULL then NULL else c.ODDID end) is NULL then '' else 'Yes' end) Creator,(case when (case when UserName is NULL then NULL else b.ApproverODDID end) is NULL then '' else 'Yes' end) FinalApprover
,AcOLID,a.OLID,ODLDID,ODID,a.ODDID,OID,DPID,UnderDPID,LID,DNID,a.ContactID,ct.Fileas ContactName,UserName,a.OfficeLocation
,isnull(isnull(isnull(isnull(isnull(isnull(isnull(
(case when d.ODL is not NULL then 'Same Department                                                  ' else NULL end) ,
(case when d1.ODL is not NULL and UserName is NULL then 'Same Department' else NULL end)),
(case when (case when a.UnderDPID is NULL then NULL else d2.ODL end) is not NULL then concat(dp.DepartmentCode collate database_default,'') else NULL end)) ,
(case when d3.ODL is not NULL then 'O&M' else NULL end)) ,
(case when (case when e.OfficeLocation is NULL then NULL else e.OfficeLocation end) is not NULL then concat(e.OfficeLocation,' O&M Department') else NULL end)) ,
(case when (case when e1.OfficeLocation is NULL then NULL else e1.OfficeLocation end) is not NULL then concat(e1.OfficeLocation,' O&M Department') else NULL end)),
(case when (case when e2.OfficeLocation is NULL then NULL else e2.OfficeLocation end) is not NULL then concat(e2.OfficeLocation,' O&M Department') else NULL end)),
(case when (case when e3.OfficeLocation is NULL then NULL else e3.OfficeLocation end) is not NULL then concat(e3.OfficeLocation,' O&M Department') else NULL end) ) Login

,isnull(isnull(isnull(isnull(isnull(isnull(isnull((case when d.ODL is not NULL then concat(a.OLID,' , ',DPID) else NULL end) ,
(case when d1.ODL is not NULL and UserName is NULL then concat(a.OLID,' , ',DPID) else NULL end)),
(case when (case when a.UnderDPID is NULL then NULL else d2.ODL end) is not NULL then concat(a.OLID,' , ',UnderDPID) else NULL end)) ,
(case when d3.ODL is not NULL then concat(a.OLID,' , 179') else NULL end)) ,
(case when e.OfficeLocation is NULL then NULL else concat(e.OLID_1,' , 179') end)),
(case when e1.OfficeLocation is NULL then NULL else concat(e1.OLID_1,' , 179') end)),
(case when e2.OfficeLocation is NULL then NULL else concat(e2.OLID_1,' , 179') end)),
(case when e3.OfficeLocation is NULL then NULL else concat(e3.OLID_1,' , 179') end) ) LoginOLID_DPID

from @Data A Left Outer Join Contacts ct with (nolock) on ct.ContactID=a.ContactID
Left Outer Join ( select distinct ApproverODDID from ApprovalDetails with (nolock) where ActivityID=@ActivityID ) B on b.ApproverODDID=a.ODDID
Left Outer Join ( select distinct OfficeDepartmentDesignationAllocationID ODDID from DesignationActivityAllocation with (nolock) where [Create]=1 and ActivityID=@ActivityID ) C on c.ODDID=a.ODDID
Full Join ( Select concat(OID,DPID,LID) ODL from @Data1 B where UserName is not NULL Group By concat(OID,DPID,LID) Having Count(*)>1 ) D on cast(d.ODL as Int)=cast(concat(OID,DPID,LID) as Int)		----- same department
Full Join ( Select concat(OID,DPID,LID) ODL from @Data1 B where UserName is not NULL Group By concat(OID,DPID,LID) Having Count(*)=1 ) D1 on cast(d1.ODL as Int)=cast(concat(OID,DPID,LID) as Int)	----- same department
Full Join ( Select distinct concat(OID,DPID,LID) ODL from @Data1 B where UserName is not NULL ) D2 on cast(d2.ODL as Int)=cast(concat(OID,isnull(UnderDPID,0),LID) as Int)					----- under department & Department
Full Join ( Select distinct concat(OID,DPID,LID) ODL from @Data1 B where UnderDPID = 179 ) D3 on cast(d3.ODL as Int)=cast(concat(OID,isnull(UnderDPID,0),LID) as Int)					----- under department1 
Left Outer Join Department DP with (nolock) on dp.DepartmentID=isnull(a.UnderDPID,0)
Full Join ( select distinct b.OLID,a.OfficeLocation,DPID DPID_1,a.OLID OLID_1 from @Data A Inner Join OfficeLocationAccountingUnitDetails B with (nolock) on b.SubDivisionOLID=a.OLID and b.SubDivisionOLID!=b.OLID	----- above office & department
where a.OrderNo=5 and UserName is not NULL and DPID=179 ) E on e.OLID=a.OLID and ( e.DPID_1=a.DPID or e.DPID_1=isnull(a.UnderDPID,0) )
Full Join ( select distinct b.OLID,a.OfficeLocation,DPID DPID_1,a.OLID OLID_1 from @Data A Inner Join OfficeLocationAccountingUnitDetails B with (nolock) on b.DivisionOLID=a.OLID and b.DivisionOLID!=b.OLID	----- above office & department
where a.OrderNo=4 and UserName is not NULL and DPID=179 ) E1 on e1.OLID=a.OLID and ( e1.DPID_1=a.DPID or e1.DPID_1=isnull(a.UnderDPID,0) )
Full Join ( select distinct b.OLID,a.OfficeLocation,DPID DPID_1,a.OLID OLID_1 from @Data A Inner Join OfficeLocationAccountingUnitDetails B with (nolock) on b.CircleOLID=a.OLID and b.CircleOLID!=b.OLID	----- above office & department
where a.OrderNo=3 and UserName is not NULL and DPID=179 ) E2 on e2.OLID=a.OLID and ( e2.DPID_1=a.DPID or e2.DPID_1=isnull(a.UnderDPID,0) )
Full Join ( select distinct b.OLID,a.OfficeLocation,DPID DPID_1,a.OLID OLID_1 from @Data A Inner Join OfficeLocationAccountingUnitDetails B with (nolock) on b.ZonalOLID=a.OLID and b.ZonalOLID!=b.OLID	----- above office & department
where a.OrderNo=2 and UserName is not NULL and DPID=179 ) E3 on e3.OLID=a.OLID and ( e3.DPID_1=a.DPID or e3.DPID_1=isnull(a.UnderDPID,0) )

where (case when OrderNo is not NULL then 1 else 0 end) = 1
and (case when @ContactID=0 then 0 else a.ContactID end)=@ContactID
--and isnull(isnull(isnull(isnull(isnull(isnull((case when d.ODL is not NULL then DPID else NULL end) ,(case when d1.ODL is not NULL and UserName is NULL then DPID else NULL end)),
--(case when (case when a.UnderDPID is NULL then NULL else d2.ODL end) is not NULL then UnderDPID else NULL end)) ,
--(case when e.OfficeLocation is NULL then NULL else DPID end)),(case when e1.OfficeLocation is NULL then NULL else DPID end)),
--(case when e2.OfficeLocation is NULL then NULL else DPID end)),(case when e3.OfficeLocation is NULL then NULL else DPID end) ) is NULL

) A Left Outer Join Department DP1 with (nolock) on dp1.DepartmentID=a.DPID
Left Outer Join Department DP2 with (nolock) on dp2.DepartmentID=a.DPID
Left Outer join Designation Dn on dn.DesignationID=DNID
Order By AcOLID,OLID,LoginDepartment,DNID,UnderDPID

GO
