USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[sp_CompletionReport]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompletionReport] @SENo int ,@CRNo int as  SET NOCOUNT ON

Declare @Status Int select @Status = 1


--Declare @SENo int =343882
--Declare @CRNo int=153200


Declare @AcOL Table (AcOLID Int,SubDivisionOLID Int,OLID Int,OfficeID Int,LocationID Int) Insert Into @AcOL
select a.AcOLID,a.SubDivisionOLID ,b.OLID,a.OfficeID,a.LocationID
from OfficeLocationAccountingUnitDetails a
Inner Join SanctionEstimate b with (nolock) on  a.OLID=b.OLID and b.SanctionEstimateNo=@SENo


Declare @SE Table (AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money)
Insert Into @SE
select AcOLID,SubDivisionOLID,a.OLID,SanctionEstimateDate,b.Description,b.SanctionEstimateNo,isnull(EIC,0) as EIC
from @AcOL A Inner Join SanctionEstimate B with (nolock) on b.OLID=a.OLID and isnull(Approved,0)=1 and isnull(canceled,0)=0 and b.SanctionEstimateNo in (@SENo)
Outer Apply ( select SanctionEstimateNo,Round(Round(Sum(Amount),2),0) as EIC from SanctionEstimateOthersWorkAllocation C with (nolock) where c.CivilWorkOtherTypeID=18 and c.SanctionEstimateNo = b.SanctionEstimateNo Group By SanctionEstimateNo ) as C 


Declare @WO Table (WorkAwardNo Int,WorkAwardDate DateTime,WorkOrderNo Int,WorkOrderDate DateTime,AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money,RateContractNo Int)
Insert Into @WO
select distinct a.WorkAwardNo,a.WorkAwardDate,WorkOrderNo,WorkOrderDate,AcOLID Int,SubDivisionOLID,b.OLID,SEDate,NameOftheWork,SENo,EIC,a.RateContractID
from @SE B Inner Join WorkOrder A with (nolock) on isnull(a.SanctionEstimateNo,0)=b.SENo and isnull(a.canceled,0)=0


Declare @MB Table (MeasurementBookID Int,WorkOrderNo Int,MeasurementDate DateTime,SENo Int) Insert Into @MB
select MeasurementBookID,WorkOrderNo,MeasurementDate,SENo from (
select a.* ,SENo,(Row_NUmber() over (Partition By a.WorkOrderNo Order By a.WorkOrderNo,WorkCompletionDate desc,MeasurementBookID desc)) as MaxNo
from @WO B Inner Join MeasurementBook A with (nolock) on isnull(a.WorkOrderNo,0)=b.WorkOrderNo and isnull(a.CompletionReport,0)= 0 ) as A 
--where b.SENo=@SENo ----- modified CPU utilization 22-12-20


Declare @CR Table (CompletionReportID Int,WorkOrderNo Int,CompletionReportDate DateTime,Canceled bit,SENo int) 
Insert Into @CR
select a.CompletionReportID,a.WorkOrderNo,a.CompletionReportDate,a.Canceled,b.SENo 
from @WO b inner Join CompletionReport a with (nolock) on isnull(a.WorkOrderNo,0)=b.WorkOrderNo and a.CompletionReportID=@CRNo
--where b.SENo=@SENo ----- modified CPU utilization 22-12-20


Declare @CRD Table (WorkOrderNo Int,WorkAllocationID Int,WorkAllocationSubID Int,CWMTypeID Int,ItemID Int,UnitID Int,Rate Float,Quantity Float,Amount Money)
Insert Into @CRD
select dd.WorkOrderNo,cc.WorkAllocationID,bb.WorkAllocationSubID,aa.CivilWorkMeasurementTypeID,aa.MILCWID,aa.UnitID,aa.Rate,Sum(aa.Quantity) as Quantity,Sum(aa.Amount) as Amount
from @CR dd 
inner Join CompletionReportDetails cc with (nolock) on cc.CompletionReportID=dd.CompletionReportID  
Inner Join CompletionReportDetailsSub bb with (nolock) on bb.CompletionReportDetailsID=cc.CompletionReportDetailsID 
inner Join CompletionReportMaterialDetails aa with (nolock) on aa.CompletionReportDetailsSubID=bb.CompletionReportDetailsSubID
--inner Join  @WO ee on dd.WorkOrderNo=ee.WorkOrderNo ----- modified CPU utilization 22-12-20
--where ee.SENo=@SENo and dd.CompletionReportID=@CRNo ----- modified CPU utilization 22-12-20
Group By dd.WorkOrderNo,cc.WorkAllocationID,bb.WorkAllocationSubID,aa.CivilWorkMeasurementTypeID,aa.MILCWID,aa.UnitID,aa.Rate
Having Sum(isnull(Quantity,0))!=0


Declare @CRDL Table (CWMTypeID Int,workOrderNo Int,WorkAllocationID Int,ItemID Int,LabourID Int,Rate Float,LUnitID int,LQuantity money,LRate Money)
Insert Into @CRDL
select CWMTypeID,workOrderNo,WorkAllocationID,ItemID,LabourID,(Max(Rate1)*LabourQty1) as Rate,LUnitID
,Sum(case when LUnitID=14 and MUnitID=27 then LabourQty2 else  case when LUnitID=27 and MUnitID=14 then LabourQty2 else  LabourQty end end)Quantity,Rate
from (
select *,(case when LUnitID=26 and MUnitID=27 then LabourQty else 
case when LUnitID=27 and MUnitID=27 then LabourQty else 1 end end) as LabourQty1
,(select value from fn_convertQty(ItemID,LunitID,MUnitID,Rate)) as Rate1 ,(select value from fn_convertQty(ItemID,LunitID,MUnitID,LabourQty)) as LabourQty2 
from  (
select a.CWMTypeID,a.workOrderNo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID as LabourID,
sum(b.Quantity*c.Quantity) as LabourQty
,b.UnitID as LUnitID,c.UnitID as MUnitID,Max(a.Rate) as Rate,Sum(a.Quantity) as Quantity,Round(Sum(a.Amount),2) as Amount 
from (
select CWMTypeID,workOrderNo,WorkAllocationID,WorkAllocationSubID,ItemID,UnitID,Rate,Quantity,(isnull(Quantity,0)*isnull(Rate,0)) as Amount
from @CRD C where c.CWMTypeID=2
) as A 

Inner Join ( select * from ( select ItemID,CivilWorkLabourTypeID,Quantity,UnitID,(Row_Number() over (Partition By ItemID,CivilWorkLabourTypeID Order By ItemID,CivilWorkLabourTypeID,StockLabourAllocationID Desc)) as MaxNo
from StockLabourAllocation SL with (nolock)
where CivilWorkLabourTypeID  in ( select CivilworkLabourTypeID from CivilWorkLabourTypes CW with (nolock) where WorkTypeID in(1,6) and cw.CivilworkLabourTypeID=sl.CivilWorkLabourTypeID )) as A 
where MaxNo=1 ) B on isnull(b.CivilWorkLabourTypeID,0)=a.ItemID

Inner Join @CRD C on c.CWMTypeID=4 and c.ItemID=b.ItemID and c.workOrderNo=a.workOrderNo and c.WorkAllocationID=a.WorkAllocationID and c.WorkAllocationSubID=a.WorkAllocationSubID
Group By a.CWMTypeID,a.workOrderNo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID,b.UnitID,c.UnitID 
Having Round(Sum(a.Amount),2)!=0
) as A ) as A 
Group By CWMTypeID,workOrderNo,WorkAllocationID,ItemID,LUnitID,LabourID,LabourQty1,Rate


Declare @CRDSlNo Table (workOrderNo Int,WorkAllocationID Int,ItemID Int,UnitID Int,Rate Money,Quantity Money,Amount Money,SlNo Int)
Insert Into @CRDSlNo
select * from (
select workOrderNo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
,(Row_Number() over (Partition By a.workOrderNo,a.ItemID Order By a.workOrderNo,a.ItemID,rate,max(WorkAllocationSubID))) as SlNo
from @CRD  a where CWMTypeID=4 Group By workOrderNo,WorkAllocationID,ItemID,UnitID,Rate ) AA
where SlNo>1


Declare @CRDFinal Table (workOrderNo Int,WorkAllocationID Int,ItemID Int,LabourID Int,UnitID Int,MRate Money,MQuantity Money,MAmount Money,LUnitID int ,LRate Money,LQuantity Money,
LAmount Money,SlNo Int)
Insert Into @CRDFinal
select isnull(a.workOrderNo,b.workOrderNo) as workOrderNo,isnull(a.WorkAllocationID,b.WorkAllocationID) as WorkAllocationID,isnull(a.ItemID,b.ItemID) as ItemID,isnull(LabourID,0) as LabourID
,a.UnitID,isnull(a.Rate,0) as MRate,isnull(a.Quantity,0) as MQuantity,(isnull(a.Rate,0)*isnull(a.Quantity,0)) as MAmount,
isnull(b.LUnitID,0) LUnitID,isnull(b.Rate,0) as LRate,isnull(b.LQuantity,0) as LQuantity,(isnull(b.Rate,0)*isnull(b.LQuantity,0)) as LAmount
,(Row_Number() over (Partition By a.workOrderNo,a.ItemID Order By a.workOrderNo,a.ItemID,LabourID)) as SlNo
from 
( select workOrderNo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
from @CRD where CWMTypeID=4 Group By workOrderNo,WorkAllocationID,ItemID,UnitID,Rate ) as A
--Full Join @CRDL B on isnull(b.ItemID,0)=a.ItemID and isnull(b.workOrderNo,0)=a.workOrderNo and isnull(b.WorkAllocationID,0)=a.WorkAllocationID ----- modified CPU utilization 22-12-20
left Outer Join @CRDL B on isnull(b.ItemID,0)=a.ItemID and isnull(b.workOrderNo,0)=a.workOrderNo and isnull(b.WorkAllocationID,0)=a.WorkAllocationID 


Declare @CRDSub table ( CRMDID int,CompletionReportID int,MILCWID  int ,ItemID int,LUnitID int ,LQuantity Money,workAllocationID Int,WASubID int,WONo int)
Insert Into @CRDSub
Select aaa.CompletionReportMaterialDetailsID, dd.CompletionReportID,aa.MILCWID, aaa.ItemID,aaa.UnitID int ,aaa.Quantity,cc.workAllocationID,workallocationsubID,dd.WorkOrderNo
from @CR dd 
inner Join CompletionReportDetails cc with (nolock) on cc.CompletionReportID=dd.CompletionReportID  
inner join CompletionReportDetailsSub bb with (nolock) on bb.CompletionReportDetailsID=cc.CompletionReportDetailsID
inner join CompletionReportMaterialDetails aa with (nolock) on aa.CompletionReportDetailsSubID=bb.CompletionReportDetailsSubID
inner join CompletionReportReturnableLabourDetails aaa with (nolock) on aaa.CompletionReportMaterialDetailsID=aa.CompletionReportMaterialDetailsID
--inner Join  @WO ee on dd.WorkOrderNo=ee.WorkOrderNo ----- modified CPU utilization 22-12-20
--where ee.SENo=@SENo and dd.CompletionReportID=@CRNo ----- modified CPU utilization 22-12-20


Declare @MissingItem  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LUnitID int,LRate Money,LQuantity Money,LAmount Money,SlNo int)
Insert Into @MissingItem
select  10 CWMTypeID,c.WorkOrderNo,b.WorkAllocationID,b.ItemID,b.MILCWID LabourID,0,0 Rate,0 Quantity,0 as Amount,LUnitID,0 LRate,sum(b.LQuantity)Quantity,0 Amount,2
from ( select * from @CRDSub b where b.MILCWID not in (306) ) b
inner join @CR c on c.CompletionReportID=b.CompletionReportID 
Inner Join CompletionReportReturnableLabourDetails a with (nolock) on a.CompletionReportMaterialDetailsID=b.CRMDID and a.ItemID=b.ItemID -- Bug #152239
--Inner Join @WO d on c.WorkOrderNo=d.WorkOrderNo ----- modified CPU utilization 22-12-20
--where d.SENo=@SENo and c.CompletionReportID=@CRNo ----- modified CPU utilization 22-12-20
group by c.WorkOrderNo,b.WorkAllocationID,b.ItemID,b.MILCWID ,b.LUnitID

Union All
select a.CWMTypeID,a.WorkOrderNo,a.WorkAllocationID,0 ItemID,a.ItemID,0 UnitID,0,0,0,UnitID,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1
from @CRD a where CWMTypeID=2 
and ItemID in ( select CivilworkLabourTypeID from CivilWorkLabourTypes b with (nolock) where isnull(WorkTypeID,1) in (1,6) and b.CivilworkLabourTypeID=a.ItemID ) --Support #143743
and ItemID Not In ( select LabourID from @CRDL b where b.LabourID=a.itemID and b.WorkOrderNo=a.WorkOrderNo )
and ItemID Not In ( select MILCWID from @CRDSub c where c.MILCWID=a.itemID and c.woNo=a.WorkOrderNo ) --Support #143743
group by CWMTypeID,WorkOrderNo,WorkAllocationID,ItemID,UnitID,Rate


Declare @ItemOrder1 Table (CivilWorkMeasurementTypeID Int,SENo Int,MBWADID Int,ItemID Int,WorkAllocationSubID Int,OrderNo Int,SlNo Int)
Insert Into @ItemOrder1
select CivilWorkMeasurementTypeID,SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID,MILCWID,WorkAllocationSubID,OrderNo
,(Row_Number() over (Order By SanctionEstimateNo,(case when CivilWorkMeasurementTypeID in (4,5) then 1 else case when CivilWorkMeasurementTypeID=3 then 2 else case when CivilWorkMeasurementTypeID=10 then 3 else 4 end end end),SanctionEstimateWorkAllocationDetailsID)) as SlNo from (
select CivilWorkMeasurementTypeID,SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID,MILCWID,WorkAllocationSubID,OrderNo,(Row_Number() over (Partition By SanctionEstimateNo,CivilWorkMeasurementTypeID,MILCWID Order By SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID)) as MinNo
from ( select *,(case when WorkAllocationSubID=4 then 1 else case when WorkAllocationSubID=46 then 2 else case when WorkAllocationSubID=2 then 3 else case when WorkAllocationSubID=7 then 4 else 5 end end end end) as OrderNo 
from SanctionEstimateWorkAllocationDetails with (nolock) where CivilWorkMeasurementTypeID!=2 and SanctionEstimateNo = @SENo ) as A
union all
select distinct CWMTypeID,SENo,ItemID,ItemID,0,1,1 from @MissingItem A Left Outer Join @WO B on b.WorkOrderNo=a.WONo
) as A where MinNo=1




Declare @ItemOrder Table (CivilWorkMeasurementTypeID Int,SENo Int,MBWADID Int,ItemID Int,WorkAllocationSubID Int,OrderNo Int,SlNo Int)
Insert Into @ItemOrder
select CivilWorkMeasurementTypeID,SENo,MBWADID,ItemID,WorkAllocationSubID,OrderNo
,(Row_Number() over (Order By SENo,(case when CivilWorkMeasurementTypeID in (4,5) then 1 else case when CivilWorkMeasurementTypeID=3 then 2 else case when CivilWorkMeasurementTypeID=10 then 3 else 4 end end end),MBWADID,SlNo,ItemID)) as SlNo from (
select * from (
select distinct a.SENo,MBWADID,isnull(BillOfMaterialItemID,ItemID) as ItemID,a.WorkAllocationSubID,OrderNo,SlNo,d.MeasurementBookID,a.CivilWorkMeasurementTypeID
,(Row_Number() over (Partition By a.SENo,a.CivilWorkMeasurementTypeID,isnull(BillOfMaterialItemID,ItemID) Order By a.SENo,a.CivilWorkMeasurementTypeID,(case when isnull(BillOfMaterialItemID,0)=0 then 1 else 2 end),a.SlNo,MBWADID)) as MaxNo
from @ItemOrder1 A 
Left Outer Join BillOfMaterials B with (nolock) on b.MainItemID=a.ItemID
Inner Join @MB C on c.SENo=a.SENo
Inner Join MeasurementBookWorkAllocationDetails D with (nolock) on d.MeasurementBookID=c.MeasurementBookID and d.MILCWID=isnull(BillOfMaterialItemID,ItemID) and d.CivilWorkMeasurementTypeID=a.CivilWorkMeasurementTypeID
) as A where MaxNo=1
union all
select distinct SENo,ItemID,isnull(BillOfMaterialItemID,ItemID) as ItemID,0,1,1,1,CWMTypeID,1 from @MissingItem A Left Outer Join @WO B on b.WorkOrderNo=a.WONo
Left Outer Join BillOfMaterials C with (nolock) on c.MainItemID=a.ItemID
union
select SENo,MBWADID,ItemID,WorkAllocationSubID,OrderNo,1 ,1,CivilWorkMeasurementTypeID,1
from @ItemOrder1 where ItemID in (select distinct MainItemID from BillOfMaterials with (nolock) )
) as A 



Declare @TotalAmount  table ( CWMTypeID int,	WONo int,	WorkAllocationID	int,ItemID int,	LabourID	int,UnitID int,	MRate Money,	MQuantity Money,	MAmount Money,LUnitID int,	LRate Money,	LQuantity Money,	LAmount Money,	SlNo int)
Insert Into @TotalAmount
select 4 as CWMTypeID,* from @CRDFinal where SlNo=1

Union all
select 4 as CWMTypeID,a.WorkOrderNo,a.WorkAllocationID,a.ItemID,a.LabourID,a.UnitID, (case when b.ItemID is Null then 0 else b.rate end) as MRate,MQuantity,
(case when b.ItemID is Null then 0 else b.Amount end) as MAmount,LUnitID,LRate,LQuantity,LAmount,a.SlNo from @CRDFinal a
left Outer Join @CRDSlNo b on a.WorkOrderNo=b.WorkOrderNo and a.ItemID=b.ItemID and a.SlNo=b.SlNo
where a.SlNo!=1

Union all
select CWMTypeID,a.WorkOrderNo,a.WorkAllocationID,a.ItemID,306 as LabourID,a.UnitID,a.Rate,sum(a.Quantity) as Quantity,sum((isnull(a.Rate,0)*isnull(a.Quantity,0))) as Amount,isnull(b.LUnitID,0)LUnitID,
0 LRate,sum(isnull(b.LQuantity,0)) as Quantity,0  Amount,2 
from @CRD  a
left outer join  @CRDSub  b  on a.ItemID=b.ItemID and b.MILCWID  in(306)  
and a.WorkAllocationSubID=b.WASubID --Support #151951
where CWMTypeID=5 
group by CWMTypeID,a.WorkOrderNo,a.WorkAllocationID,a.ItemID,a.UnitID,a.Rate,b.LUnitId

union all
select CWMTypeID,WorkOrderNo,WorkAllocationID,0 ItemID,ItemID as LabourID,0,0,0 ,0,UnitID,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1 
from @CRD where CWMTypeID=3
Group by CWMTypeID,WorkOrderNo,WorkAllocationID,ItemID,UnitID,Rate
Union All
select * from  @MissingItem




Select SlNo, SlNo1	,SlNo2,	AcOfficeLocation,	SubDivision	,Section,itemID	,	case when CWMTypeID=5 then '* '+MaterialCode else  MaterialCode end MaterialCode 	,LabourTypes,	UnitID	,UnitOfMeasure,	WO_Date	,SI_Date	,CR_Date,	MB_Date,	WA_Date	,NameOftheWork,	EIC,	RateContractNo,	MRate,	LRate	,MQuantity	,LQuantity1,	MAmount	,LAmount,	EIC1	,LQuantity,	LUnitOfMeasure
from (
select  CWMTypeID,  (Row_number() over (order by (case when ((MQuantity)+(LQuantity))=0 then 10000 else isnull(a.SlNo2,10001) end),a.SlNo)) as SlNo
,(case when b.itemID is not null then 1 else SlNo1 end) SlNo1 

,(Dense_rank() over (order by (case when ((MQuantity)+(LQuantity))=0 then 10000 else (case when CWMTypeID in (10,2) then LabourID else a.SlNo2 end) end))) as SlNo2

, AcOfficeLocation  , SubDivision  , Section   ,(case when len(MaterialCode)=0 then a.SlNo else  case when b.itemId is not null then a.ItemID+12000 else a.itemID end end) ItemID
, ( case when left(MaterialCode,1)='-' then ltrim(rtrim(right (MaterialCode,len(MaterialCode )-1))) else MaterialCode  end  )as MaterialCode


, LabourTypes,  a.UnitID ,isnull(a.UnitOfMeasure,'') UnitOfMeasure, WO_Date,SI_Date ,CR_Date ,MB_Date,WA_Date , NameOftheWork , EIC ,   RateContractNo
,  ( MRate  ) as MRate, LRate , MQuantity,LQuantity as LQuantity1
, (MAmount ) as MAmount
,LAmount
, 0 as EIC1,LQuantity, Isnull(c.UnitOfMeasure,'') as LUnitOfMeasure


 from (

select  CWMTypeID,(Row_Number() over (Order By MBWADID,MaterialCode,a.SLNo)) as SlNo
,(case when CWMTypeID=4 then  (ROW_Number() over (Partition By CWMTypeID,isnull(b.SlNo,(a.ItemID+10000)) order by CWMTypeID,isnull(b.SlNo,(a.ItemID+10000)) desc , MBWADID,MaterialCode,a.SLNo desc)) else  1 end) as SlNo1

,b.SlNo slno2
,AcOfficeLocation,SubDivision,Section,(case when CWMTypeID in(5) then max(SLNo10) +15000 else case when CWMTypeID=10 then concat(a.ItemID,LabourID)  else a.ItemID  end  end) as ItemID
,ltrim(rtrim(MaterialCode)) as MaterialCode,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,RateContractNo,
MRate,LRate,Sum(MQuantity) as MQuantity,Sum(LQuantity) as LQuantity,Sum(MAmount) as MAmount,Sum(LAmount) as LAmount,WorkAwardNo,LunitID ,LabourID from (

select ola.Fileas as AcOfficeLocation,ola1.Fileas as SubDivision,ola2.Fileas as Section,(case when CWMTypeID in(2,3) then LabourID else a.ItemID end ) as ItemID,isnull((d.MaterialCode+' - '+d.Description),'') as MaterialCode,


(case when isnull(LQuantity,0)=0 then '' else(case when LabourID in(select distinct MILCWID from MeasurementBookReturnableLabourDetails with (nolock) where Milcwid<>0) then isnull(isnull(cl.Description,Particulars),'') + ' - ' + isnull(z.Description,'') else  isnull(isnull(cl.Description,Particulars),'') end)end) as LabourTypes

,a.UnitID,UnitOfMeasure  ,(Row_Number() over (Order By (case when CWMTypeID in (3,10) then 2 else 1 end),a.ItemID,SlNo,LabourID)) as SlNo10
, WO_Date,'' SI_Date,'0'as CR_Date,'0'as MB_Date,'0' as WA_Date

,NameOftheWork,RateContractNo
,MQuantity,MRate,MAmount,LQuantity,LRate,LAmount,EIC,LabourID,SLNo,SENo,WorkAwardNo,CWMTypeID,LunitID from (


select SLNo,CWMTypeID,WONo,WorkAllocationID, ItemID,LabourID,UnitID,Sum(MRate) MRate,MQuantity,Sum(MAmount)MAmount,Sum(LRate)LRate,Sum(LQuantity)LQuantity,LUnitID
,Sum(LAmount) LAmount
from @TotalAmount  as A 
Group by WONo,WorkAllocationID,ItemID,LabourID,UnitID,MQuantity,SLNo,CWMTypeID,LunitID

) as A Full Join @WO B on b.WorkOrderNo=a.WONo
Left Outer Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=b.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with (nolock) on ola1.OfficeLocationAllocationID=b.SubDivisionOLID
Left Outer Join OfficeLocationAllocation OLA2 with (nolock) on ola2.OfficeLocationAllocationID=b.OLID
Left Outer Join UnitOfMeasure C with (nolock) on c.UnitID=a.UnitID
Left Outer Join MaterialCode D with (nolock) on d.ItemID=(case when a.CWMTypeID in (2,3,10) then 0 else a.ItemID end)
Left Outer Join MaterialCode Z with (nolock) on z.ItemID=(case when a.CWMTypeID not in (2,3,4,5,10) then 0 else a.ItemID end)
Left Outer Join (select * from (select *,(Row_Number() over (Partition By CivilWorkID Order By CivilWorkID,CivilWorkTypeID,Particulars)) as MaxNo from CivilWorks with (nolock)
) as A where MaxNo=1) as E on e.CivilWorkID=(case when a.CWMTypeID in (3) then a.LabourID else 0 end)
Cross Apply (select Concat(WorkOrderNo,' / ',convert(Varchar,WorkOrderDate,104))--+' ,' ---Support #124036 Conversion failed when converting the nvarchar value '310882 /' to data type int.
from @WO WO where wo.WorkOrderNo=a.WONo for xml path('')) as WO (WO_Date)

Left Outer Join CivilWorkLabourTypes CL with (nolock) on cl.CivilWorkLabourTypeID=LabourID

where a.UnitID is not NULL
) as A Left Outer Join @ItemOrder B on b.ItemID=isnull(a.ItemID,LabourID) and b.SENo=a.SENo and b.CivilWorkMeasurementTypeID=a.CWMTypeID
Group By AcOfficeLocation,SubDivision,Section,a.ItemID,MaterialCode,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,MRate,LRate,OrderNo,MBWADID,a.SLNo,b.SlNo,RateContractNo,WorkAwardNo,CWMTypeID,WorkAwardNo,LabourID,LunitID
) as A 
left Outer Join @CRDSlNo b on LTrim(RTrim(left(WO_Date,len(WO_Date)-12)))=b.WorkOrderNo and a.ItemID=b.ItemID and a.SlNo1=b.SlNo
Left Outer Join UnitOfMeasure C with (nolock) on c.UnitID=a.LUnitID
) as A where (MQuantity+LQuantity)<>0
Order By SLNo2,SlNo


GO
