USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_SerialnoWise]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SerialnoWise]

@FromYear varchar(max),
@ToYear varchar(max) ,
@FromMonth varchar(max),
@ToMonth varchar(max) ,
@LoginOLID int,
@LoginODLDID int


AS
BEGIN 
	SET NOCOUNT ON 

declare @serialno table (TransformerSerialNo varchar(300),capacity int,StarRating  varchar(300),FeederName varchar(200),NoofTimesFailed int ,DistributionNodeOLID int)
insert into @serialno
select dn.SerialNo as TransformerSerialNo, cd.capacity,st.star as StarRating ,dd.DistributionNodeName as FeederName,count(dn.SerialNo) as NoofTimesFailed,dn.DistributionNodeOLID
from DistributionNodes d
inner join DistributionNodeHistoryDetails dn on d.DistributionNodeID=dn.DistributionNodeID and convert (datetime,dn.Dates,105)> ='2023-03-01'  and dn.isfailureTC=1
inner join MaterialCode m on m.ItemID=dn.ItemID
inner join starrating st on st.itemid=m.ItemID
inner join capacityDetails cd on cd.itemid=m.ItemID
inner join DistributionNodes dd on dd.DistributionNodeID=d.UnderDistributionNodeID
inner join OfficeLocationAllocation ol on ol.OfficeLocationAllocationID=d.DistributionNodeOLID
where  dn.DistributionNodeID  in(select  DistributionNodeID  from WorkOrder w   
inner join ReceiptVoucherAbstract_pni rv on w.WorkOrderNo=rv.DocumentNo
inner join ReceiptVoucherDetails_pni rvd on rvd.ReceiptVoucherNo=rv.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_pni rvm on rvm.ReceiptVoucherDetailsID=rvd.ReceiptVoucherDetailsID  and rvm.StockConditionID=3  and dn.SerialNo=rvm.SerialNo
where w.DistributionNodeID=d.DistributionNodeID and w.Approved=1 and w.WorkAllocationID=158 )
and dn.Dates between convert(datetime,concat(@FromYear,'-',@FromMonth,'-01'),104) and convert(datetime,EOMonth(concat(@ToYear,'-',@ToMonth,'-1')),104)
group by dn.SerialNo,cd.capacity,st.star,dd.DistributionNodeName,dn.DistributionNodeOLID
having count(d.DistributionNodeID )>=2

declare @olid table (UnderOfficeLocationAllocationID int,OfficeLocationAllocationID int,FileAs varchar(300))
insert into @olid
select UnderOfficeLocationAllocationID,OfficeLocationAllocationID,FileAs as Section from OfficeLocationAllocation where OfficeLocationAllocationID in
(select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy
where OfficeLocationAllocationID =@LoginOLID)

declare @Office table (UnderOfficeLocationAllocationID int,sectionid int,SubDivisionid int, Division varchar(256),SubDivision varchar(256),Section varchar(256))
insert into  @Office 
select a.UnderOfficeLocationAllocationID ,c.OfficeLocationAllocationID as sectionid,b.OfficeLocationAllocationID as SubDivisionid,(select FileAs from OfficeLocationAllocation  where OfficeLocationAllocationID=a.UnderOfficeLocationAllocationID)Division ,
(select FileAs  from OfficeLocationAllocation  where OfficeLocationAllocationID=b.OfficeLocationAllocationID)SubDivision,
(select FileAs  from OfficeLocationAllocation  where OfficeLocationAllocationID=c.OfficeLocationAllocationID)Section
 from OfficeLocationAllocation a
inner join OfficeLocationAllocation b on a.OfficeLocationAllocationID=b.OfficeLocationAllocationID   and b.OfficeID=80
inner join OfficeLocationAllocation c on a.OfficeLocationAllocationID=b.OfficeLocationAllocationID   and c.OfficeID in (83,84)
where a.UnderOfficeLocationAllocationID=@LoginOLID or c.OfficeLocationAllocationID=@LoginOLID or b.OfficeLocationAllocationID=@LoginOLID

select Division,SubDivision,Section,TransformerSerialNo ,capacity ,StarRating,FeederName,NoofTimesFailed from @olid o
inner join @serialno s on s.DistributionNodeOLID=o.OfficeLocationAllocationID
left join ODLDAllocation odld with (nolock) on odld.OfficeID=65 and odld.DepartmentID=175 and odld.ODLDID=@LoginODLDID
inner join @office ol on ol.UnderOfficeLocationAllocationID=s.DistributionNodeOLID or sectionid=s.DistributionNodeOLID or SubDivisionid=s.DistributionNodeOLID

end


GO
