USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_ESMHierarchy]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ESMHierarchy]
	@ODLDID INT,
	@ContactID INT,
	@APTypeID INT,
	@ActivityID INT



AS 
SET NOCOUNT ON


--Declare @ODLDID Int select @ODLDID = 1314
--Declare @APTypeID Int select @APTypeID = 22
--Declare @ActivityID Int select @ActivityID = 261
--Declare @ContactID Int select @ContactID = 0


Declare @AcOLID Int select @AcOLID = (( select Distinct AcOLID from ALLDetails with (nolock) where ODLDID = @ODLDID ))
Declare @OLID Int select @OLID = (( select Distinct OLID from ALLDetails with (nolock) where ODLDID = @ODLDID ))
Declare @OID Int select @OID = (( select Distinct OfficeID from ALLDetails with (nolock) where ODLDID = @ODLDID ))
Declare @DPID Int select @DPID = (( select Distinct DepartmentID from ALLDetails with (nolock) where ODLDID = @ODLDID  ))
Declare @LID Int select @LID = (( select Distinct LocationID from ALLDetails with (nolock) where ODLDID = @ODLDID  ))




Declare @Lien Table  (ContactID Int,FromODLDID Int,ToODLDID Int,CategoryID Int,AppointmentTypeID Int)







Declare @ODLD Table (ContactID Int,ODLDID Int) Insert Into @ODLD
        
select a.ContactID,isnull(FromODLDID,ODLDID) ODLDID
from ( select ContactID,ODLDID from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7,3,2,6,8)) A
Left Outer Join @Lien  B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID
union 
select b.ContactID,ODLDID
from EmployeeApplication A with (nolock) Inner Join EmployeeApplicationDetails B with (nolock) on b.EmployeeApplicationID=a.EmployeeApplicationID
Left Outer Join ( select distinct ContactID,EmployeeApplicationID from EmployeeAppointmentDetails C with (nolock) where isnull(legacy,0)=0 and isnull(EmployeeApplicationID,0) not in (0,1) and AppointmentTypeID=21 ) C on c.ContactID=b.ContactID and c.EmployeeApplicationID=a.EmployeeApplicationID
Inner Join Employee E with (nolock) on e.ContactID=b.ContactID
where EmployeeApplicationTypeID=23 and a.Approved=1 and c.ContactID is NULL and ODLDID is not NULL
union 
select a.ContactID,isnull(FromODLDID,ODLDID) ODLDID
from ( select ContactID,ODLDID,DateOfBirth DOB from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7)) A
Cross Join GeneralSetting Cross Join Today_HRMS Left Outer Join @Lien B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID 
where DOB is not NULL 
and (case when day(a.DOB)=1 then EOMonth(DateAdd(Year,MaxAgeForRetirement,dateadd(MM,-1,DOB))) else EOMonth(DateAdd(Year,MaxAgeForRetirement,DOB)) end)<=Today 

union
select b.ContactID,ODLDID
from EmployeeApplication A with (nolock) Inner Join EmployeeApplicationDetails B with (nolock) on b.EmployeeApplicationID=a.EmployeeApplicationID
Left Outer Join ( select distinct ContactID,EmployeeApplicationID from EmployeeAppointmentDetails C with (nolock) where  isnull(legacy,0)=0 and  isnull(EmployeeApplicationID,0) not in (0,1) and AppointmentTypeID=21 ) C on c.ContactID=b.ContactID and c.EmployeeApplicationID=a.EmployeeApplicationID
Inner Join Employee E with (nolock) on e.ContactID=b.ContactID
where EmployeeApplicationTypeID=24 and a.Approved=1 and c.ContactID is NULL and ODLDID is not NULL
union 
select ContactID,FromODLDID from EmployeeAppointmentDetails A with (nolock) where  isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=1 and isnull(Relieved,0)=0 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)=0 and isnull(FromODLDID,0)>0 and isnull(ExternalOrganizationID,0)>0 and AppointmentTypeID in (2,3,4,8,46) and AppointmentTypeID= @APTypeID 
union 
select ContactID,FromODLDID from EmployeeAppointmentDetails A with (nolock) where  isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=0 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (2,3,4,8,48,46) and AppointmentTypeID= @APTypeID  
union 
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where  isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)=0 and AppointmentTypeID in (1,24,26,8,46,2,3,4) and AppointmentTypeID= @APTypeID 
union 
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where  isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (20,23,47,46,2,3,4,8,48) and AppointmentTypeID= @APTypeID 
union 
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where  isnull(legacy,0)=0 and  Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (select AppointmentTypeID from AppointmentTypes_Config where AppointmentMainTypeID = 4 and AppointmentTypeID not in (8,23,47,48,46)) and AppointmentTypeID= @APTypeID 
union 
select ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) Cross Join ToDay_HRMS
where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=1 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0 and isnull(Regularised,0)=0
and (case when isnull(EmployeeCategoryID,0)=1 then DateAdd(Year,1,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime)) else DateAdd(Year,3,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime)) end)<=Today
and isnull(ToODLDID,0)>0  and isnull(FromODLDID,0)=0 and AppointmentTypeID in (1,20,26) and isnull(EmployeeCategoryID,0) in (1,3) and AppointmentTypeID= @APTypeID 





Declare @ODLD1 Table (ContactID Int,ODLDID Int) Insert Into @ODLD1
select distinct a.ContactID,isnull(FromODLDID,ODLDID) ODLDID
from ( select ContactID,ODLDID from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7,3,2,6,8)) A
Left Outer Join @Lien  B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID 
union select distinct ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where  isnull(legacy,0)=0 and  AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 


Declare @Data Table (AcOLID Int,OLID Int,ContactID Int,ODLDID Int,OID Int,DPID Int,UnderDPID Int,LID Int,DNID Int,ODID Int,UserName varchar(100),OfficeLocation varchar(100),OrderNo Int) 
Insert Into @Data 
select AcOLID,OLID,a.ContactID,a.ODLDID,odld.OfficeID OID,odld.DepartmentID DPID,(case when UnderDepartmentID=odld.DepartmentID then NULL else UnderDepartmentID end) UnderrDPID,odld.LocationID LID,odld.DesignationID DNID,OfficeDepartmentAllocationID ODID,(case when e.ODLDID is NULL then NULL else UserName end) UserName,ol.OfficeLocation,ol.OrderNo
from @ODLD A Inner Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ODLDID 
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID and (isnull(od.UnderDepartmentID,od.DepartmentID)=@DPID or od.DepartmentID=@DPID)
Inner Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=odld.OfficeID and ol.LocationID=odld.LocationID 
and ol.OLID in (select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where ( OLID=@OLID or SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID 
Left Outer Join Employee E with (nolock) on e.ContactID=a.ContactID 
where (case when @ContactID=a.ContactID then 0 else 1 end)=1
union
select AcOLID,OLID,a.ContactID,a.ODLDID,odld.OfficeID OID,odld.DepartmentID DPID,(case when od.UnderDepartmentID=odld.DepartmentID then NULL else od.UnderDepartmentID end) UnderrDPID,odld.LocationID LID,odld.DesignationID DNID,od.OfficeDepartmentAllocationID ODID,(case when e.ODLDID is NULL then NULL else UserName end) UserName,ol.OfficeLocation,ol.OrderNo
from @ODLD A Inner Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ODLDID 
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID 
and od.UnderDepartmentID in ( select DepartmentID from OfficeDepartmentAllocation OD1 with (nolock) where od1.UnderDepartmentID=@DPID and OfficeID=odld.OfficeID)
Inner Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=odld.OfficeID and ol.LocationID=odld.LocationID 
and ol.OLID in (select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where ( OLID=@OLID or SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID 
Left Outer Join Employee E with (nolock) on e.ContactID=a.ContactID 
where (case when @ContactID=a.ContactID then 0 else 1 end)=1


Declare @Data1 Table (AcOLID Int,OLID Int,ContactID Int,ODLDID Int,OID Int,DPID Int,UnderDPID Int,LID Int,DNID Int,ODID Int,ODDID Int,UserName varchar(100),OfficeLocation varchar(100),OrderNo Int) 
Insert Into @Data1 
select AcOLID,OLID,a.ContactID,a.ODLDID,odld.OfficeID OID,odld.DepartmentID DPID,(case when UnderDepartmentID=odld.DepartmentID then NULL else UnderDepartmentID end) UnderrDPID,odld.LocationID LID,odld.DesignationID DNID,od.OfficeDepartmentAllocationID ODID,OfficeDepartmentDesignationAllocationID ODDID,(case when e.ODLDID is NULL then NULL else UserName end) UserName,ol.OfficeLocation,ol.OrderNo
from @ODLD1 A Inner Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ODLDID 
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID 
Inner Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=odld.OfficeID and ol.LocationID=odld.LocationID and AcOLID=@AcOLID
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID 
Left Outer Join Employee E with (nolock) on e.ContactID=a.ContactID
Left Outer Join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID 



Declare @Final Table (AcOLID Int,OLID Int,ContactID Int,ODLDID Int,OID Int,DPID Int,UnderDPID Int,LID Int,DNID Int,ODID Int,UserName varchar(100),OfficeLocation varchar(100),OrderNo Int) 
Insert Into @Final 
select * from @Data where OLID=@OLID and DPID=@DPID	
union	
select * from @Data A where OLID=@OLID and UnderDPID=@DPID	
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) ) 
union	
select * from @Data A where OLID=@OLID and UnderDPID=@DPID	----- under deprtment
and concat(OID,DPID,LID) in ( Select distinct concat(OID,DPID,LID) from @Data B where concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) Having Count(*)=1 ) 
union							
select * from @Data A where OLID=@OLID and UnderDPID in ( select DPID from @Data A where OLID=@OLID and UnderDPID=@DPID)
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) ) 
union
select * from @Data A where OLID=@OLID and UnderDPID=@DPID	
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data1 B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) Having Count(*)>1 ) and UserName is not NULL
union							
select * from @Data A where OrderNo in ( select OrderNo+1 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and DPID=@DPID 
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) ) 
and OLID in ( select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where b.OLID=a.OLID and ( SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
union							
select * from @Data A where OrderNo in ( select OrderNo+1 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and DPID=@DPID 
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) Having Count(*)>1 ) 
and OLID in ( select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where b.OLID=a.OLID and ( SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
union							
select * from @Data A where OrderNo in ( select OrderNo+1 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and UnderDPID=@DPID 
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) Having Count(*)>1 ) 
and OLID in ( select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where b.OLID=a.OLID and ( SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
and OLID not in ( 
select OLID from @Data A where OrderNo in ( select OrderNo+1 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and DPID=@DPID and UserName is not NULL
and concat(OID,DPID,LID) in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) ) )
union							
select * from @Data A where OrderNo in ( select OrderNo+2 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and DPID=@DPID 
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) Having Count(*)>1 ) 
and OLID in ( select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where b.OLID=a.OLID and ( SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
and OLID not in ( 
select distinct b.OLID from @Data A Inner Join OfficeLocationAccountingUnitDetails B with (nolock) on ( b.SubDivisionOLID=a.OLID or b.DivisionOLID=a.OLID or b.CircleOLID=a.OLID or b.ZonalOLID=a.OLID )
where a.OrderNo in ( select OrderNo+1 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and DPID=@DPID and UserName is not NULL
and concat(OID,DPID,LID) in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) )  )
union							
select * from @Data A where OrderNo in ( select OrderNo+2 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and UnderDPID=@DPID 
and concat(OID,DPID,LID) not in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) Having Count(*)>1 ) 
and OLID in ( select OLID from OfficeLocationAccountingUnitDetails B with (nolock) where b.OLID=a.OLID and ( SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID ) )
and OLID not in ( 
select distinct b.OLID from @Data A Inner Join OfficeLocationAccountingUnitDetails B with (nolock) on ( b.SubDivisionOLID=a.OLID or b.DivisionOLID=a.OLID or b.CircleOLID=a.OLID or b.ZonalOLID=a.OLID )
where a.OrderNo in ( select OrderNo+1 from OfficeLocationAccountingUnitDetails B with (nolock) where OLID=@OLID ) and DPID=@DPID and UserName is not NULL
and concat(OID,DPID,LID) in ( Select distinct concat(OID,DPID,LID) from @Data B where UserName is not NULL  and concat(OID,DPID,LID)!=concat(@OID,@DPID,@LID) Group By concat(OID,DPID,LID) )  )


Declare @Final1 Table (ContactID Int,ODLDID Int,AppointmentTypeID Int,EmployeeAppointmentDetailsID Int)
IF @ActivityID in (461) 
insert into @Final1 
select b.ContactID,ODLDID,45,0
from EmployeeApplication A with (nolock) Inner Join EmployeeApplicationDetails B with (nolock) on b.EmployeeApplicationID=a.EmployeeApplicationID
Left Outer Join ( select distinct ContactID,EmployeeApplicationID from EmployeeAppointmentDetails C with (nolock) where isnull(EmployeeApplicationID,0) not in (0,1) and AppointmentTypeID=21   and  isnull(legacy,0)=0 ) C on c.ContactID=b.ContactID and c.EmployeeApplicationID=a.EmployeeApplicationID
Inner Join Employee E with (nolock) on e.ContactID=b.ContactID
where EmployeeApplicationTypeID=23 and a.Approved=1 and c.ContactID is NULL and ODLDID is not NULL
and 45 = @APTypeID and b.ContactID in ( select distinct ContactID from @Final B1 where b1.ContactID=b.ContactID) 
and e.ODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=e.ODLDID) 


else begin IF @ActivityID in (261) 
insert into @Final1 
select a.ContactID,isnull(FromODLDID,ODLDID) ODLDID,22 AppointmentTypeID,0
from ( select ContactID,ODLDID from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7,3,2,6,8)) A
Left Outer Join @Lien  B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID
where 22 = @APTypeID and a.ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.ODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.ODLDID)


else begin IF @ActivityID in (259) 
insert into @Final1 
select a.ContactID,isnull(FromODLDID,ODLDID) ODLDID,21 AppointmentTypeID,0
from ( select ContactID,ODLDID,DateOfBirth DOB from Employee B with (nolock) where isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 and ContactID>0 and EmployeeCategoryID in (1,4,5,7)) A
Cross Join GeneralSetting Cross Join Today_HRMS Left Outer Join @Lien B on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID 
where DOB is not NULL and (case when day(a.DOB)=1 then EOMonth(DateAdd(Year,MaxAgeForRetirement,dateadd(MM,-1,DOB))) else EOMonth(DateAdd(Year,MaxAgeForRetirement,DOB)) end)<=Today 
and 21 = @APTypeID and a.ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.ODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.ODLDID)
union
select b.ContactID,ODLDID,21,0
from EmployeeApplication A with (nolock) Inner Join EmployeeApplicationDetails B with (nolock) on b.EmployeeApplicationID=a.EmployeeApplicationID
Left Outer Join ( select distinct ContactID,EmployeeApplicationID from EmployeeAppointmentDetails C with (nolock) where isnull(EmployeeApplicationID,0) not in (0,1) and AppointmentTypeID=21 and  isnull(legacy,0)=0   ) C on c.ContactID=b.ContactID and c.EmployeeApplicationID=a.EmployeeApplicationID
Inner Join Employee E with (nolock) on e.ContactID=b.ContactID
where EmployeeApplicationTypeID=24 and a.Approved=1 and c.ContactID is NULL and ODLDID is not NULL
and 21 = @APTypeID and b.ContactID in ( select distinct ContactID from @Final B1 where b1.ContactID=b.ContactID)
and e.ODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=e.ODLDID)



else begin IF @ActivityID in (220,231,241,339,509)  
insert into @Final1 
select ContactID,FromODLDID,AppointmentTypeID,EmployeeAppointmentDetailsID from EmployeeAppointmentDetails A with (nolock) where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=1 and isnull(Relieved,0)=0 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)=0 and isnull(FromODLDID,0)>0 and isnull(ExternalOrganizationID,0)>0 and AppointmentTypeID in (2,3,4,8,46) 
and AppointmentTypeID= @APTypeID and ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.FromODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.FromODLDID)


else begin IF @ActivityID in (213,224,234,570)   
insert into @Final1 
select ContactID,FromODLDID,AppointmentTypeID,EmployeeAppointmentDetailsID from EmployeeAppointmentDetails A with (nolock) where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=0 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (2,3,4,8,48,46) 
and AppointmentTypeID= @APTypeID and ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.FromODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.FromODLDID)


else begin IF @ActivityID in (345,202,209,341,506,217,228,238) 
insert into @Final1 
select ContactID,ToODLDID,AppointmentTypeID,EmployeeAppointmentDetailsID from EmployeeAppointmentDetails A with (nolock) where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)=0 and AppointmentTypeID in (1,24,26,8,46,2,3,4) 
and AppointmentTypeID= @APTypeID and ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.ToODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.ToODLDID)


else begin IF @ActivityID in (454,310,515,501,214,225,235,257,571) 
insert into @Final1 
select ContactID,ToODLDID,AppointmentTypeID,EmployeeAppointmentDetailsID from EmployeeAppointmentDetails A with (nolock) where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (20,23,47,46,2,3,4,8,48) 
and AppointmentTypeID= @APTypeID and ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.ToODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.ToODLDID)


else begin IF @ActivityID in (249,458,352,379,404,416,408,400,420,412,245,323,253,424) 
insert into @Final1 
select ContactID,ToODLDID,AppointmentTypeID,EmployeeAppointmentDetailsID from EmployeeAppointmentDetails A with (nolock) where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=0 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0
and isnull(ToODLDID,0)>0 and isnull(FromODLDID,0)>0 and AppointmentTypeID in (select AppointmentTypeID from AppointmentTypes_Config where AppointmentMainTypeID = 4 and AppointmentTypeID not in (8,23,47,48,46)) 
and AppointmentTypeID= @APTypeID and ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.ToODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.ToODLDID)


else begin IF @ActivityID in (510,203,206) 
insert into @Final1 
select ContactID,ToODLDID,AppointmentTypeID,EmployeeAppointmentDetailsID
from EmployeeAppointmentDetails A with (nolock) Cross Join ToDay_HRMS
where Approved=1 and isnull(Legacy,0)=0 and isnull(Reported,0)=1 and isnull(Relieved,0)=1 and isnull(ContactID,0)>0 and isnull(Regularised,0)=0
and (case when isnull(EmployeeCategoryID,0)=1 then DateAdd(Year,1,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime)) else DateAdd(Year,3,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime)) end)<=Today
and isnull(ToODLDID,0)>0  and isnull(FromODLDID,0)=0 and AppointmentTypeID in (1,20,26) and isnull(EmployeeCategoryID,0) in (1,3)
and AppointmentTypeID= @APTypeID and ContactID in ( select distinct ContactID from @Final B where b.ContactID=a.ContactID)
and a.ToODLDID in ( select distinct ODLDID from @Final B where b.ODLDID=a.ToODLDID)









End End End End End End End End 




select AcOLID AcOLID,ol.OLID,a.ODLDID,odld.OfficeID OID,odld.LocationID LID,odld.DepartmentID DPID,odld.DesignationID DNID
,ola.Fileas AcOfficeLocation,ol.OfficeLocation,a.ContactID,ct.Fileas ContactName,concat(DesignationName collate database_default,' (',DepartmentCode collate database_default,')') Designation
,Replace(ac.ActivityDescription,'Employee Service Management ','') Activity,UserName,EmployeeAppointmentDetailsID
from @Final1 A Inner Join Contacts CT with (nolock) on ct.ContactID=a.ContactID
Left Outer Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ODLDID
Left Outer Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=odld.OfficeID and ol.LocationID=odld.LocationID
Left Outer Join Designation DN with (nolock) on dn.DesignationID=odld.DesignationID
Left Outer Join Department DP with (nolock) on dp.DepartmentID=odld.DepartmentID
Left Outer Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=AcOLID
Left Outer Join AppointmentTypes_Config AP with (nolock) on ap.AppointmentTypeID=@APTypeID 
Left Outer Join Activity Ac with (nolock) on ac.ActivityID=@ActivityID 
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID 
Order By OfficeLocation,Designation,ContactName

GO
