USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_StoreConsumptionReportHeading]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_StoreConsumptionReportHeading] @OLID varchar(50) as 

--Declare @OLID int=337

SET NOCOUNT ON

DECLARE @sql1 as NVARCHAR(MAX),@sq1 as NVARCHAR(MAX),@sql as NVARCHAR(MAX),@DynamicPivotQuery as NVARCHAR(MAX),
@PivotColumnNames as NVARCHAR(MAX),@PivotSelectColumnNames as NVARCHAR(MAX)
 Declare @sq table (ID int identity primary key,OfficeLocation varchar(max),OfficeLocDesc varchar(max))
 
set @sq1='select olid,replace(officelocation,''O & M - Division'','''')  from fnunderol() where officeid=50 and (corporateolid='+cast(@OLID as varchar(100))+' or zonalolid='+cast(@OLID as varchar(100))+
' or circleolid='+cast(@OLID as varchar(100))+' or divisionolid='+cast(@OLID as varchar(100))+') order by circleolid,olid'

insert into @sq
exec(@sq1)
 
select [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15]
from (
select ID,OfficeLocDesc from @sq) as A 
pivot (min(OfficeLocDesc) for ID in( [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15])) as Pvt



 -- SP_StoreConsumptionReportHeading 337
GO
