USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_WorkAwardLC]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_WorkAwardLC] @SENo int as 
SET NOCOUNT ON



Declare @Status Int select @Status = 1
declare @SE table (SENo int,OLID int,SEDate Date ,ORNo varchar(max) )
insert into @SE 
select SanctionEstimateNo,OLID,SanctionEstimateDate,OfficialReferenceNo 
from Sanctionestimate with(nolock)
where SanctionEstimateNo=@SENo


declare @WO  table (SENo int,WONo int,WANo int,OLID int,WOdate date,Approved bit,canceled bit,Awarded bit,WOffrn varchar(max),ratecontractID int )
insert into @WO 
select SanctionEstimateNo,WorkOrderNo,WorkAwardNo,OLID,WorkOrderDate,Approved,Canceled,Awarded,OfficialReferenceNo ,ratecontractID
from WorkOrder  with(nolock)
where SanctionEstimateNo=@SENo


declare @Estimates table(sanctionEstimateNo Int)
insert Into  @Estimates 
select a.sanctionEstimateNo from 
(select a.workawardNo,a. sanctionEstimateNo,a.workOrderNo,b.Dt,b.DocumentNo
from workoRder a  with(nolock)
inner join 
(select ACtivityID,max(DateAndTime)Dt,DocumentNo
from ActivityApprovals_Works with(nolock) where ActivityID=52 and DocumentNo=@SENo 
group by ActivityID,DocumentNo) b on a.sanctionEstimateNo=b.DocumentNo) a
inner Join 
(select ACtivityID,max(DateAndTime)workAwarddate,DocumentNo
from ActivityApprovals_Works with(nolock) where ActivityID=264
group by ActivityID,DocumentNo)  b on  a.workawardNo=b.DocumentNo and a.Dt>workAwarddate 


declare @EstRevisionQty table(SENo int,WorkAllocationSubID int, CWMTypeID int,MILCWID int,UnitID int, SQ Money, TQ Money, IQ Money, SR Money, TR Money, IR Money, SA Money, TA Money, IA Money )
insert into @EstRevisionQty
select SanctionEstimateNo,WorkAllocationSubID,CivilWorkMeasurementTypeID CWMTypeID,MILCWID,UnitID,SanctionedQuantity SQ,TenderedQuantity TQ,InitialQuantity IQ,
SanctionedRate SR,TenderedRate TR,InitialRate IR,SanctionedAmount SA,TenderedAmount TA,InitialAmount IA 
from SanctionEstimateWorkAllocationDetails with(nolock)
where SanctionEstimateNo= @SENo and SanctionedQuantity<>InitialQuantity


declare @EstRevisionQtySub table(SENo int,WorkAllocationSubID int, CWMTypeID int,MILCWID int,ItemID int,UnitID int, SQ Money, TQ Money, IQ Money, SR Money, TR Money, IR Money, SA Money, TA Money, IA Money )
insert into @EstRevisionQtySub
select distinct  b.SanctionEstimateNo,b.WorkAllocationSubID,b.CivilWorkMeasurementTypeID CWMTypeID,b.MILCWID,b.ItemID,b.UnitID,b.SanctionedQuantity SQ,b.TenderedQuantity TQ,b.InitialQuantity IQ,
b.SanctionedRate SR,b.TenderedRate TR,b.InitialRate IR,b.SanctionedAmount SA,b.TenderedAmount TA,b.InitialAmount IA 
from SanctionEstimateWorkAllocationDetails a with(nolock)
inner join SanctionEstimateWorkAllocationDetailsSub b on a.SanctionEstimateNo=b.SanctionEstimateNo and a.MILCWID=b.MILCWID and a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
where b.SanctionEstimateNo= @SENo and b.SanctionedQuantity<>b.InitialQuantity



declare @SELabourSub table (SEWADID int,SENo int,CWMTypeID int,LabourID int,WorkAllocationSubID int ,LabourItemID int,LabourDesc varchar(max),UnitID int,TQ Money,TR Money,TA Money,source varchar(max),SoilTypeId varchar(max) )
insert into @SELabourSub 
select  SanctionEstimateWorkAllocationDetailsID,a.SanctionEstimateNo,a.CivilWorkMeasurementTypeID,a.MILCWID,a.WorkAllocationSubID ,a.ItemID,(b.Description+' - '+c.Description) LabourDesc,
a.UnitID,a.TenderedQuantity,a.TenderedRate,a.TenderedAmount,a.source,isnull((select Description from SoilTypes where SoilTypeId=a.SoilTypeId),'') SoilTypeId
from SanctionEstimateWorkAllocationDetails aa  with(nolock)
inner join SanctionEstimateWorkAllocationDetailsSub a with(nolock) on aa.SanctionEstimateNo=a.SanctionestimateNo and aa.WorkallocationSubID=a.WorkAllocationSubID and aa.MILCWID=a.MILCWID
inner Join CivilWorkLabourTypes b with(nolock) on a.MILCWID=b.CivilWorkLabourTypeID
left Outer Join MaterialCode c on a.ItemID=c.ItemID
where a.Source='Contractor'  and   a.SanctionEstimateNo=@SENo  and a.CivilWorkMeasurementTypeID in(2)

and aa.MILCWID not in(
select MILCWID from SanctionEstimateWorkAllocationDetailssub with(nolock) where SanctionEstimateNo  in(Select sanctionEstimateNo from @Estimates) and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0 and SanctionedAmount<>ActualAmount) --support #131631 SanctionedAmount=ActualAmount 
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=2)




declare @SELabour table (SEWADID int,SENo int,CWMTypeID int,LabourID int,LabourDesc varchar(max),WorkAllocationSubID int ,UnitID int,TQ Money,TR Money,TA Money,source varchar(max),SoilTypeId varchar(max) )
insert into @SELabour
select  SanctionEstimateWorkAllocationDetailsID,SanctionEstimateNo,CivilWorkMeasurementTypeID,MILCWID,Description ,WorkAllocationSubID,
a.UnitID,TenderedQuantity,TenderedRate,TenderedAmount,source,isnull((select Description from SoilTypes where SoilTypeId=a.SoilTypeId),'') SoilTypeId
from SanctionEstimateWorkAllocationDetails a with(nolock)
inner Join CivilWorkLabourTypes b with(nolock) on a.MILCWID=b.CivilWorkLabourTypeID
where Source='Contractor'  and   SanctionEstimateNo=@SENo  and CivilWorkMeasurementTypeID in(2) and a.MILCWID not in(
select LabourID from  @SELabourSub where SENo=@SENo


Union 
select MILCWID from SanctionEstimateWorkAllocationDetails with(nolock) where SanctionEstimateNo  in(Select sanctionEstimateNo from @Estimates)
 and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0 and SanctionedAmount=ActualAmount)
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=2


)


declare @SEWorks table (SEWADID int,SENo int,CWMTypeID int,LabourID int,LabourDesc varchar(max),WorkAllocationSubID int ,UnitID int,TQ Money,TR Money,TA Money,source varchar(max),SoilTypeId varchar(max) )
insert into @SEWorks 
select  SanctionEstimateWorkAllocationDetailsID,SanctionEstimateNo,CivilWorkMeasurementTypeID,MILCWID,particulars,WorkAllocationSubID,a.UnitID,TenderedQuantity,TenderedRate,TenderedAmount,source,isnull((select Description from SoilTypes where SoilTypeId=a.SoilTypeId),'') SoilTypeId
from SanctionEstimateWorkAllocationDetails a with(nolock)
inner Join CivilWorks b with(nolock) on a.MILCWID=b.CivilWorkID
where  Source='Contractor'  and   SanctionEstimateNo=@SENo  and CivilWorkMeasurementTypeID in(3)
and a.MILCWID not in (
select MILCWID from SanctionEstimateWorkAllocationDetails with(nolock) where SanctionEstimateNo  in(Select sanctionEstimateNo from @Estimates)
 and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0 and SanctionedAmount=ActualAmount)
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=3)

--case when c.SR<>c.IR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IR else  a.LRate end LRate	,
--case when c.SQ<>c.IQ and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then c.IQ else a.LQuantity end LQuantity	,
--case when c.SA<>c.IA  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IA else a.LAmount end LAmount,


Declare @TotalAmt table ( SEWADID int,SENo int ,CWMTypeID int ,LabourID  int,LabourDesc varchar(max),WorkAllocationSubID int ,LabourItemID int ,UnitID int ,TQ Money ,TR  Money,TA Money ,source varchar(max) ,SoilTypeId varchar(max) )
insert into @TotalAmt

Select a.SEWADID,a.SENo ,a.CWMTypeID ,a.LabourID ,a.LabourDesc+' - ' +a.SoilTypeId,a.WorkAllocationSubID  ,0 LabourItemID ,a.UnitID ,
case when b.SQ<>b.IQ and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then b.IQ else a.TQ end TQ	,
case when b.SR<>b.IR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then b.IR else  a.TR end TR	,
case when b.SA<>b.IA  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then b.IA else a.TA end TA,
a.source ,a.SoilTypeId 
from @SELabour a
left Outer Join @EstRevisionQty b on a.CWMTypeID=b.CWMTypeID and  a.LabourID=b.MILCWID and a.workallocationsubid=b.workallocationsubid and b.CWMTypeID=2

Union all
Select a.SEWADID,a.SENo ,a.CWMTypeID ,a.LabourID ,a.LabourDesc,a.WorkAllocationSubID  ,a.LabourItemID ,a.UnitID ,

case when c.SQ<>c.IQ and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then c.IQ else a.TQ end TQ	,
case when c.SR<>c.IR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IR else  a.TR end TR	,
case when c.SA<>c.IA  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IA else a.TA end TA,
source ,SoilTypeId 
from @SELabourSub a
left Outer Join @EstRevisionQty b on a.CWMTypeID=b.CWMTypeID and  a.LabourID=b.MILCWID and a.workallocationsubid=b.workallocationsubid and b.CWMTypeID=2
left Outer Join @EstRevisionQtySub c on  a.CWMTypeID=c.CWMTypeID and a.workallocationsubid=c.workallocationsubid   and  a.LabourID=c.MILCWID  and a.LabourItemID=c.ItemID


Union all
Select a.SEWADID,a.SENo ,a.CWMTypeID ,a.LabourID ,a.LabourDesc,a.WorkAllocationSubID  ,0 LabourItemID ,a.UnitID ,
case when b.SQ<>b.IQ and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then b.IQ else a.TQ end TQ	,
case when b.SR<>b.IR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then b.IR else  a.TR end TR	,
case when b.SA<>b.IA  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then b.IA else a.TA end TA,
source ,SoilTypeId
from @SEWorks a
left Outer Join @EstRevisionQty b on a.CWMTypeID=b.CWMTypeID and  a.LabourID=b.MILCWID and a.workallocationsubid=b.workallocationsubid and b.CWMTypeID=3


Declare @AssetCategry table ( AssetcatID int,SENo int ,WorkAllocationSubID int)
insert into @AssetCategry
select a.SanctionEstimateWorkAllocationSubID AssetcatID,a.SanctionestimateNo,a.WorkAllocationSubID
from SanctionEstimateWorkAllocationSub  a with(nolock)
inner Join (Select distinct WorkAllocationSubID  from  @TotalAmt ) b on a.WorkAllocationSubID=b.WorkAllocationSubID
where   a.SanctionEstimateNo=@SENo 
Order by AssetcatID


Declare @TotalAmtFinal table(AssetcatID int, SEWADID int,SENo int	,CWMTypeID int	,LabourID int,LabourDesc varchar(max)	,	LabourItemID int,	UnitID int,TQ money,TR money,TA money,	source varchar(max),	SoilTypeId  varchar(max))
Insert Into  @TotalAmtFinal 
select min(b.AssetcatID)AssetcatID,MIn(a.SEWADID)SEWADID,a.SENo	,a.CWMTypeID	,a.LabourID	,a.LabourDesc,	a.LabourItemID,	a.UnitID,	Sum(a.TQ)TQ,a.TR,Sum(a.TA)TA,	a.source,	a.SoilTypeId
from @TotalAmt a 
inner Join @AssetCategry b on a.WorkAllocationSubID=b.WorkAllocationSubID
group by a.SENo	,a.CWMTypeID	,a.LabourID	,a.LabourDesc,a.LabourItemID,	a.UnitID,	a.TR,	a.source,	a.SoilTypeId




Declare @TotalAmtOrdering table (AssetcatID int,SEWADID int,SENo	Int ,CWMTypeID 	Int ,LabourID	Int,LabourDesc varchar(max),	LabourItemID Int,	UnitID Int,TQ Money,TR Money ,TA Money,	source varchar(max),	SoilTypeId varchar(max))
Insert into @TotalAmtOrdering
select distinct AssetcatID,SEWADID,SENo	,CWMTypeID	,LabourID	,LabourDesc,	LabourItemID,	UnitID,TQ,TR,TA,source,SoilTypeId
from  @TotalAmtFinal 
Order By AssetcatID,SEWADID


Select b.WANo A,b.WONo B, 0 C,0 D,0 E,
ROW_NUMBER() OVER(ORDER BY a.SENo) SlNo,
(row_Number() over  (  Partition by LabourDesc Order by  LabourDesc desc )  ) 	SlNo1,
ROW_NUMBER() OVER(ORDER BY a.SENo) SlNo2,
ROW_NUMBER() OVER(ORDER BY a.SENo) SLNo3,
''AcOfficeLocation,''	SubDivision,''Section,ROW_NUMBER() OVER(ORDER BY a.SENo) ItemID, '' MaterialCode,
LabourDesc LabourTypes,	UnitID,	(select UnitOfMeasure from UnitOfMeasure where a.UnitID=UnitID) UnitOfMeasure,''WO_Date,''	SI_Date,'' CR_Date,''	MB_Date,''	WA_Date,''	NameOftheWork,0	EIC	,0 RateContractNo,0 MRate,TR LRate,TQ MQuantity,0 MAmount,TA	LAmount	,0 EIC1,0 TotMatAmt,0	TotLabAmt
from  @TotalAmtOrdering a
inner Join @WO b on a.SENo=b.SENo
Union All
Select WANo,WONo,0,0,0,
0,20000,20000,20000,'','','',0,'',
'Grand Total',0 ,'','','' ,'','','','',0,0,0,0,0,0,Sum(TA)TotLabAmt,0,0,0
 from @TotalAmtOrdering  a
inner join @WO b  on  a.SENo=b.SENo
group By WANo,WONo
order by  SlNo2, SlNo3




GO
