/****** Object:  StoredProcedure [dbo].[GetAllSaleReportItemwise]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllSaleReportItemwise]
(
@companyID BigInt,
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@ItemID bigint,
@status bigint,
@itemSegment bigint = 1

)
As



if( @ItemID > 0 )
begin

if( @status = 1)
begin

select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	
	pt.Name as PartyCode,
	pa.AreaCode as PartyArea,

	it.Status as Status,
	it.AnyReturn as AnyReturn,
	it.AllReturn as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	ic.Code as ItemCompanyCode,
	ic.Name as ItemCompanyName,
	it.ReferenceTag as ReferenceTag,
	pt.GST as GSTIN,
	pd.AdditionalDiscount as AdditionalDiscount,
	pd.AdditionalFreeQty as AdditionalFreeQty
	
	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_SaleDetail pd on it.PKID = pd.SaleID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo

end
else if( @status = 2)
begin

select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	
	pt.Name as PartyCode,
	pa.AreaCode as PartyArea,

	it.Status as Status,
	it.AnyReturn as AnyReturn,
	it.AllReturn as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	ic.Code as ItemCompanyCode,
	ic.Name as ItemCompanyName,
	it.ReferenceTag as ReferenceTag,
	pt.GST as GSTIN,
	pd.AdditionalDiscount as AdditionalDiscount,
	pd.AdditionalFreeQty as AdditionalFreeQty
	
	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_SaleDetail pd on it.PKID = pd.SaleID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo
end
else if ( @status = 3)
begin
select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	
	pt.Name as PartyCode,
	pa.AreaCode as PartyArea,

	it.Status as Status,
	it.AnyReturn as AnyReturn,
	it.AllReturn as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	ic.Code as ItemCompanyCode,
	ic.Name as ItemCompanyName,
	it.ReferenceTag as ReferenceTag,
	pt.GST as GSTIN,
	pd.AdditionalDiscount as AdditionalDiscount,
	pd.AdditionalFreeQty as AdditionalFreeQty
	
	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_SaleDetail pd on it.PKID = pd.SaleID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where ite.PKID = @ItemID and it.Status = 0 and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo
end



end
else
	begin

	if( @status = 1)
	begin
	select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.Name as PartyCode,
	pa.AreaCode as PartyArea,
	it.Status as Status,
	it.AnyReturn as AnyReturn,
	it.AllReturn as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	ic.Code as ItemCompanyCode,
	ic.Name as ItemCompanyName,
	it.ReferenceTag as ReferenceTag,
	pt.GST as GSTIN,
	pd.AdditionalDiscount as AdditionalDiscount,
	pd.AdditionalFreeQty as AdditionalFreeQty
	
	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation 
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_SaleDetail pd on it.PKID = pd.SaleID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation  and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo
	end
	else if( @status = 2)
	begin
	select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.Name as PartyCode,
	pa.AreaCode as PartyArea,
	it.Status as Status,
	it.AnyReturn as AnyReturn,
	it.AllReturn as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	ic.Code as ItemCompanyCode,
	ic.Name as ItemCompanyName,
	it.ReferenceTag as ReferenceTag,
	pt.GST as GSTIN,
	pd.AdditionalDiscount as AdditionalDiscount,
	pd.AdditionalFreeQty as AdditionalFreeQty
	
	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on  pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_SaleDetail pd on it.PKID = pd.SaleID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and  it.ServiceLocation = @ServiceLocation and it.Status = 1 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo
	end
	else if (@status = 3)
	begin

	select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.Name as PartyCode,
	pa.AreaCode as PartyArea,
	it.Status as Status,
	it.AnyReturn as AnyReturn,
	it.AllReturn as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	ic.Code as ItemCompanyCode,
	ic.Name as ItemCompanyName,
	it.ReferenceTag as ReferenceTag,
	pt.GST as GSTIN,
	pd.AdditionalDiscount as AdditionalDiscount,
	pd.AdditionalFreeQty as AdditionalFreeQty
	
	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation 
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_SaleDetail pd on it.PKID = pd.SaleID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.Status = 0 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo
	end

	

	end
GO
