/****** Object:  StoredProcedure [dbo].[RESET_ITEM_ASSOCIATION_ITEM]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE PROCEDURE [dbo].[RESET_ITEM_ASSOCIATION_ITEM]  
AS  
     BEGIN  
         update t_Seq_ItemAssociationItems set CurrVal = ( select max(PKID) + 1 from t_ItemAssociationItems)
		 update t_Seq_ItemAssociationHeader set CurrVal = ( select max(PKID) + 1 from t_ItemAssociationHeader)
		 
     END;
GO
