/****** Object:  StoredProcedure [dbo].[GetAllTransferRegisterReport]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[GetAllTransferRegisterReport]
(
@companyID BigInt,

@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@type bigint,
@transferType bigint
)
As


if( @transferType = 1)
begin




select 
	it.PKID,
	it.RefNo,
	it.BillAmount,
	it.CreateDate,
	it.EnteredDate,
	pt.Name as SourceLocation,
	it.DestinyLocationID as Status,
	pt.PKID as SourceLocationID,
	d.Name as DestinationLocation,
	t.TransferInID as TransferInID
	

	from t_TransferOut it 
	inner join t_Transfer t on t.TransferOutID = it.PKID
	inner join t_ServiceLocation pt on it.ServiceLocation = pt.PKID
	inner join t_ServiceLocation d on it.DestinyLocationID = d.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)
	


end
else
begin
	
select 
	it.PKID,
	it.RefNo,
	it.BillAmount,
	it.CreateDate,
	it.EnteredDate,
	pt.Name as SourceLocation,
	it.DestinyLocationID as Status,
	pt.PKID as SourceLocationID,
	d.Name as DestinationLocation,
	t.TransferInID as TransferInID
	from t_TransferIn it 
	inner join t_Transfer t on t.TransferOutID = it.PKID
	inner join t_ServiceLocation pt on it.ServiceLocation = pt.PKID
	inner join t_ServiceLocation d on it.DestinyLocationID = d.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.DestinyLocationID = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)
	
end
GO
