/****** Object:  StoredProcedure [dbo].[AddLoggedInUserTimeStamp]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddLoggedInUserTimeStamp](@nUserID bigint)
AS
     DECLARE @logintime DATETIME;
     SET @logintime = GETDATE();
     DELETE FROM t_UserLoggedInTimestamp
     WHERE UserID = @nUserID;
     INSERT INTO t_UserLoggedInTimestamp
     (UserID,
      LoginTime
     )
     VALUES
     (@nUserID,
      @logintime
     );
     SELECT @logintime;
GO
