/****** Object:  StoredProcedure [dbo].[ResetBatchwiseStockForItem]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[ResetBatchwiseStockForItem]      
(      
@servicelocation bigint,  
@itemId bigint  
)      
AS      
      
declare @batchMax bigint    
select @batchMax = max(PKID) + 1 from t_BatchwiseStock      
delete from t_BatchwiseStock where ServiceLocation = @servicelocation   and ItemId =  @itemId   
declare @purgeMax bigint    
select @purgeMax = max(PKID) + 1 from t_BatchwiseStock_Purge    
if( @purgeMax is null)  
begin  
set @purgeMax = 1  
end  
if(@batchMax > @purgeMax)    
 begin    
  select @batchMax    
 end    
else    
 begin    
  select @purgeMax    
 end
GO
