/****** Object:  StoredProcedure [dbo].[GetAllTransferOuts]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE procedure [dbo].[GetAllTransferOuts]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@location bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	   it.[PKID] as ID
      ,it.[RefNo] as RefNo
      ,it.ServiceLocation as Source,
	  pg.TransferOutDate as TransferOutDate,
	  it.BillAmount as BillAmount,
	  it.Miscellaneous as Miscellaneous,
	  pg.TransferInLocation as Destination,
	  pg.TransferInID as TransferInID,
	  sr.Name as SourceDisplay,
	  dt.Name as DestinationDisplay,
	  COALESCE(tor.OrderNo, '') as OrderNo,
	  COALESCE(tor.PKID, 0) as OrderID
	  
     
		
    from t_Transfer pg
	inner join t_TransferOut it  on it.PKID = pg.TransferOutID
	inner join t_ServiceLocation sr on pg.TransferOutLocation = sr.PKID
	inner join t_ServiceLocation dt on pg.TransferInLocation = dt.PKID
	left join t_TransferOrder tor on it.OrderNumber = tor.PKID 

	--where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))
	where it.CompanyID = @companyID and it.ServiceLocation = @location  and (it.RefNo like @query  )
	and CAST(pg.TransferOutDate as date) >= CAST(@fromDate as date)  and  CAST(pg.TransferOutDate as date) <= CAST(@toDate as date)
	
	
	
)

SELECT 
    ID,
	RefNo,
	Source,
	TransferOutDate,
	BillAmount,
	Destination,
	TransferInID,
	SourceDisplay,
	DestinationDisplay,
	Miscellaneous,
	OrderNo,
	OrderID,
    tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN ID end desc,
 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN ID end desc,
  CASE WHEN @sortField='TransferOutDate' and @sortOrder ='asc' THEN TransferOutDate end asc,
  case   WHEN @sortField='SourceDisplay' and @sortOrder ='asc'  THEN SourceDisplay end asc,
  case   WHEN @sortField='DestinationDisplay' and @sortOrder ='asc'  THEN DestinationDisplay end asc
	
	
	
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
