/****** Object:  StoredProcedure [dbo].[GetAllReceipt]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllReceipt]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@areaCode nvarchar(max),
@status bigint,
@itemSegment bigint = 1

)
As



declare @skipRows int = @pageIndex,
		@takeRows int = @pageSize,
		@count int = 0

		if ( @areaCode != '')
		begin
			if( @status = 0 )
			begin

			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on  pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation and pa.AreaCode = @areaCode
	inner join t_Party ac on it.PartyAccount = ac.PKID 
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	 tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;


			end
			else if( @status = 1)
			begin

			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation and pa.AreaCode = @areaCode
	inner join t_Party ac on it.PartyAccount = ac.PKID 
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	  tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount
ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;



			end
			else if( @status = 2)
			begin

				;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation and pa.AreaCode = @areaCode
	inner join t_Party ac on it.PartyAccount = ac.PKID 
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 0 and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	  tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

			end
			else if( @status = 3)
			begin

			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation and pa.AreaCode = @areaCode
	inner join t_Party ac on it.PartyAccount = ac.PKID 
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and it.Clear = 0 and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	  tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount
ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;



			end








			
			
		end
		else
		begin

		if ( @status = 0)
		begin
			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_Party ac on it.PartyAccount = ac.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	   tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

		end
		else if(@status = 1)
		begin

			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment 
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_Party ac on it.PartyAccount = ac.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	 tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
		end
		else if( @status = 2)
		begin

			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment
	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_Party ac on it.PartyAccount = ac.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 0 and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	  tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

		end
			else if(@status = 3)
		begin

			;WITH Orders_cte AS (

select 
	it.PKID,
	it.ReceiptNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	pa.AreaCode as Area
	
	from t_Receipt it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.Segmentid = @itemSegment

	inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation
	inner join t_Party ac on it.PartyAccount = ac.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and it.Clear = 0 and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
	
)

SELECT 
	 PKID,
	 ReceiptNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Area,
	 tTotalAmount.ReceiptAmount AS ReceiptAmount
	
FROM Orders_cte
	CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders
	CROSS JOIN (SELECT SUM(Amount) AS ReceiptAmount FROM Orders_cte) AS tTotalAmount

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PKID end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
		end
		



		end
GO
