/****** Object:  StoredProcedure [dbo].[GetAllSaleReturnOrder]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[GetAllSaleReturnOrder]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@sortField nvarchar(max),  
@sortOrder nvarchar(max),  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint  
  
)  
As  
  
  
  
select   
 it.PKID,  
 it.BillNo,  
 it.BillAmountWithoutGST,  
 it.DiscountTotal,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.SaleReturnBillNo,  
 pt.Name as PartyCode,  
 BillClear as BillClear,  
   
   
 --bt.Name as BillTypeDisplay,  
 it.Status as Status,  
 usr.FirstName  
 from t_SaleReturnOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_User usr on it.CreatedBy = usr.PKID  
 --inner join t_BillType bt on bt.PKID = it.BillType  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.SaleReturnBillNo like @query) or (it.BillNo like @query ) or (usr.FirstName like @query )  or  (pt.Name like @query ))  
 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)
GO
