/****** Object:  StoredProcedure [dbo].[tvsPageColumns]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[tvsPageColumns]
(
@company bigint,
@user bigint
)
AS

BEGIN TRY

    --BEGIN TRAN


  DECLARE @NewSeqVal BIGINT;

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Import', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;



insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Import', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Import', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )



UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;


insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Import', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )


-- Move



 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Move', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Move', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Move', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 





UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Move', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )

-- Accept


 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Accept', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Accept', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Accept', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Accept', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )


--barcode



 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Barcode', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Barcode', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Barcode', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 


UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Barcode', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )


--All products





 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Allproducts', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Allproducts', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Allproducts', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )




UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Allproducts', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Allproducts', 'Location', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SourceLocationName',5 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Allproducts', 'Invoice', GETDATE(), GETDATE(),@user, @user, 1, @company, 'InvoiceID',6 )



--Transient

 



 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 


UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )


UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'From', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SourceLocationName', 5 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'To', GETDATE(), GETDATE(),@user, @user, 1, @company, 'DestinationLocationName', 6 )



UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Transient', 'Date', GETDATE(), GETDATE(),@user, @user, 1, @company, 'TransientDateDisplay', 7 )





-- Missing






 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 



UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Source Note', GETDATE(), GETDATE(),@user, @user, 1, @company, 'Note',5 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Missing Date', GETDATE(), GETDATE(),@user, @user, 1, @company, 'MissingDateDisplay',6 )


UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Missing', 'Missing Location', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SourceLocationName',7 )



--Sold




 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 


UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Invoice', GETDATE(), GETDATE(),@user, @user, 1, @company, 'InvoiceID',5 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Sales', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SalesID',6 )


UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Date', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SoldDateDisplay',7 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Sold By', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SoldBy',8 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Sold', 'Sold Location', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SoldLocation',9 )


--Deliver





 UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Frame Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'FrameNumber',1 )

         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Engine Number', GETDATE(), GETDATE(),@user, @user, 1, @company, 'EngineNumber',2 )

   UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Model', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ModelName',3 )

 
UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Color', GETDATE(), GETDATE(),@user, @user, 1, @company, 'ColourName',4 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Sales', GETDATE(), GETDATE(),@user, @user, 1, @company, 'SalesID',5 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Invoice', GETDATE(), GETDATE(),@user, @user, 1, @company, 'InvoiceID',6 )

UPDATE [dbo].[t_Seq_PageProductDisplayColumns]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;

insert into t_PageProductDisplayColumns(PKID, [Page], ColumnName, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ModelColumnName, [Order])
values(@NewSeqVal, 'Deliver', 'Customer Info', GETDATE(), GETDATE(),@user, @user, 1, @company, 'Customer',7 )

--insert the model master data

 --COMMIT TRAN
 END TRY
 BEGIN CATCH
    /*************************************
    *  Get the Error Message for @@Error
    *************************************/
   -- IF @@TRANCOUNT > 0 ROLLBACK

END CATCH
GO
