/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemSleekForSaleReturn]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	Create procedure [dbo].[GetAllSearchableItemSleekForSaleReturn]
(
@companyID BigInt,
@query nvarchar(max),
@location bigint,
@includeZero bit,
@isQuotation bit,
@shouldPickQuotationPrice bit

)
As

if( @isQuotation = 1 and @shouldPickQuotationPrice = 1)
begin


	select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	it.QuotationPrice as ClosingQty,
	it.QuotationPrice as CostPrice,
	it.QuotationPrice as MRP,
	it.QuotationPrice as OpeningQty,
	it.QuotationPrice as QuotationPrice,
	
	ic.Code as Company,
	it.QuotationPrice as InStockQty,
	it.QuotationPrice as DamageQty,
	it.QuotationPrice as NoStockQty,
	it.QuotationPrice as RegionalStockistPrice,
	it.QuotationPrice as SuperStockistPrice,
	it.QuotationPrice as StockistPrice,
	it.QuotationPrice as DistributorPrice,
	it.QuotationPrice as SubDistributorPrice,
	it.QuotationPrice as SuperRetailerPrice,
	it.QuotationPrice as RetailerPrice,
	it.AllotmentPercentage as AllotmentPercentage,
	ic.PKID as ItemCompany,
	it.ItemStatus as ItemStatus,
	it.ItemNature as ItemNature,
	ic.Division as Division,
	it.ItemSegment as ItemSegment,
	
	COALESCE(istk.FMCGRate, 0) as FMCGRate,
	COALESCE(istk.SellingPrice, 0) as SellingPrice,
	it.NewItemExpiryDate as NewItemExpiryDate,
	it.MarginPercentage as MarginPercentage
	
	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	left join t_ItemwiseStock istk on it.PKID = istk.ItemId and istk.ServiceLocation = @location

	where it.ItemNature = 1 and  it.CompanyID = @companyID  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ))
	

end
else if ( @isQuotation = 1)
begin

select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	it.AllotmentPercentage as AllotmentPercentage,
	ic.PKID as ItemCompany,
	it.ItemStatus as ItemStatus,
	it.QuotationPrice as QuotationPrice,

	COALESCE(ist.ClosingQty, '0') as ClosingQty,
	COALESCE(ist.CostPrice, '0') as CostPrice,

	COALESCE(ist.MRP, '0') as MRP,
	COALESCE(ist.OpeningQty, '0') as OpeningQty,
	COALESCE(ist.SellingPrice, '0') as SellingPrice,
	
	
	ic.Code as Company,

	COALESCE(ist.ClosingQty, '0') as InStockQty,
	COALESCE(ist.DamageQty, '0') as DamageQty,
	COALESCE(ist.NoStockQty, '0') as NoStockQty,
	
	COALESCE(ist.RegionalStockistPrice, '0') as RegionalStockistPrice,
	COALESCE(ist.SuperStockistPrice, '0') as SuperStockistPrice,
	COALESCE(ist.StockistPrice, '0') as StockistPrice,
	COALESCE(ist.DistributorPrice, '0') as DistributorPrice,
	COALESCE(ist.SubDistributorPrice, '0') as SubDistributorPrice,
	COALESCE(ist.SuperRetailerPrice, '0') as SuperRetailerPrice,
	COALESCE(ist.RetailerPrice, '0') as RetailerPrice,
	it.ItemNature as ItemNature,
	ic.Division as Division,
	it.ItemSegment as ItemSegment,
	COALESCE(ist.FMCGRate, 0) as FMCGRate,
	COALESCE(ist.SellingPrice, 0) as SellingPrice,
	it.NewItemExpiryDate as NewItemExpiryDate,
	it.MarginPercentage as MarginPercentage
	

	

	
	from t_Item it 

	left join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location

	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	where it.ItemNature = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ))
end
else
begin


if (@includeZero = 1)

	begin


	select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	ist.ClosingQty as ClosingQty,
	ist.CostPrice as CostPrice,
	ist.MRP as MRP,
	ist.OpeningQty as OpeningQty,
	ist.SellingPrice as SellingPrice,
	ic.Code as Company,
	ist.ClosingQty as InStockQty,
	ist.DamageQty as DamageQty,
	ist.NoStockQty as NoStockQty,
	ist.RegionalStockistPrice as RegionalStockistPrice,
	ist.SuperStockistPrice as SuperStockistPrice,
	ist.StockistPrice as StockistPrice,
	ist.DistributorPrice as DistributorPrice,
	ist.SubDistributorPrice as SubDistributorPrice,
	ist.SuperRetailerPrice as SuperRetailerPrice,
	ist.RetailerPrice as RetailerPrice,
	it.AllotmentPercentage as AllotmentPercentage,
	ic.PKID as ItemCompany,
	it.ItemStatus as ItemStatus,
	it.ItemNature as ItemNature,
	ic.Division as Division,
	it.ItemSegment as ItemSegment,
	COALESCE(ist.FMCGRate, 0) as FMCGRate,
	COALESCE(ist.SellingPrice, 0) as SellingPrice,
	it.QuotationPrice as QuotationPrice,
	it.NewItemExpiryDate as NewItemExpiryDate,
	it.MarginPercentage as MarginPercentage

	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	where it.ItemNature = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ))

	union

	select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	isnull(ist.ClosingQty,0) as ClosingQty,
	isnull(ist.CostPrice,0) as CostPrice,
	isnull(it.QuotationPrice, 0) as MRP,
	isnull(ist.OpeningQty,0) as OpeningQty,
	isnull(it.QuotationPrice,0) as QuotationPrice,
	ic.Code as Company,
	isnull(ist.ClosingQty,0) as InStockQty,
	isnull(ist.DamageQty,0) as DamageQty,
	isnull(ist.NoStockQty,0) as NoStockQty,
	isnull(it.QuotationPrice, 0) as RegionalStockistPrice,
	isnull(it.QuotationPrice, 0) as SuperStockistPrice,
	isnull(it.QuotationPrice, 0) as StockistPrice,
	isnull(it.QuotationPrice, 0) as DistributorPrice,
	isnull(it.QuotationPrice, 0) as SubDistributorPrice,
	isnull(it.QuotationPrice, 0) as SuperRetailerPrice,
	isnull(it.QuotationPrice, 0) as RetailerPrice,
	it.AllotmentPercentage as AllotmentPercentage,
	ic.PKID as ItemCompany,
	it.ItemStatus as ItemStatus,
	it.ItemNature as ItemNature,
	ic.Division as Division,
	it.ItemSegment as ItemSegment,
	COALESCE(ist.FMCGRate, 0) as FMCGRate,
	COALESCE(ist.SellingPrice, 0) as SellingPrice,
	it.QuotationPrice as QuotationPrice,
	it.NewItemExpiryDate as NewItemExpiryDate,
	it.MarginPercentage as MarginPercentage
	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	left join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	where ( it.ItemNature = 2) and it.CompanyID = @companyID  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ))
	

	end
else

	begin


	select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	COALESCE(ist.ClosingQty, 0) as ClosingQty,
	COALESCE(ist.CostPrice, 0) as CostPrice,
	COALESCE(ist.MRP, 0) as MRP,
	COALESCE(ist.OpeningQty, 0) as OpeningQty,
	COALESCE(ist.SellingPrice, 0) as SellingPrice,
	ic.Code as Company,
	COALESCE(ist.ClosingQty, 0) as InStockQty,
	COALESCE(ist.DamageQty, 0) as DamageQty,
	COALESCE(ist.NoStockQty, 0) as NoStockQty,
	COALESCE(ist.RegionalStockistPrice, 0) as RegionalStockistPrice,
	COALESCE(ist.SuperStockistPrice, 0) as SuperStockistPrice,
	COALESCE(ist.StockistPrice, 0) as StockistPrice,
	COALESCE(ist.DistributorPrice, 0) as DistributorPrice,
	COALESCE(ist.SubDistributorPrice, 0) as SubDistributorPrice,
	COALESCE(ist.SuperRetailerPrice, 0) as SuperRetailerPrice,
	COALESCE(ist.RetailerPrice, 0) as RetailerPrice,
	it.AllotmentPercentage as AllotmentPercentage,
	ic.PKID as ItemCompany,
	it.ItemStatus as ItemStatus,
	it.ItemNature as ItemNature,
	ic.Division as Division,
	it.ItemSegment as ItemSegment,
	COALESCE(ist.FMCGRate, 0) as FMCGRate,
	COALESCE(ist.SellingPrice, 0) as SellingPrice,
	it.QuotationPrice as QuotationPrice,
	it.NewItemExpiryDate as NewItemExpiryDate,
	it.MarginPercentage as MarginPercentage
	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	left join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location --and ist.ClosingQty > 0
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	where ( it.ItemNature = 1) and it.CompanyID = @companyID  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ))
	
	union

	select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	isnull(ist.ClosingQty,0) as ClosingQty,
	isnull(ist.CostPrice,0) as CostPrice,
	isnull(it.QuotationPrice, 0) as MRP,
	isnull(ist.OpeningQty,0) as OpeningQty,
	isnull(it.QuotationPrice,0) as QuotationPrice,
	ic.Code as Company,
	isnull(ist.ClosingQty,0) as InStockQty,
	isnull(ist.DamageQty,0) as DamageQty,
	isnull(ist.NoStockQty,0) as NoStockQty,
	isnull(it.QuotationPrice, 0) as RegionalStockistPrice,
	isnull(it.QuotationPrice, 0) as SuperStockistPrice,
	isnull(it.QuotationPrice, 0) as StockistPrice,
	isnull(it.QuotationPrice, 0) as DistributorPrice,
	isnull(it.QuotationPrice, 0) as SubDistributorPrice,
	isnull(it.QuotationPrice, 0) as SuperRetailerPrice,
	isnull(it.QuotationPrice, 0) as RetailerPrice,
	it.AllotmentPercentage as AllotmentPercentage,
	ic.PKID as ItemCompany,
	it.ItemStatus as ItemStatus,
	it.ItemNature as ItemNature,
	ic.Division as Division,
	it.ItemSegment as ItemSegment,
	COALESCE(ist.FMCGRate, 0) as FMCGRate,
	COALESCE(ist.SellingPrice, 0) as SellingPrice,
	it.QuotationPrice as QuotationPrice,
	it.NewItemExpiryDate as NewItemExpiryDate,
	it.MarginPercentage as MarginPercentage
	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	left join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	where ( it.ItemNature = 2) and it.CompanyID = @companyID  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ))
	

	end

end
GO
