/****** Object:  StoredProcedure [dbo].[UpdateItemSeq]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





Create Procedure [dbo].[UpdateItemSeq]
(
@current bigint
)
As

update t_Seq_Item set Currval = @current
GO
