/****** Object:  StoredProcedure [dbo].[GET_NEXT_USER_ROLE]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GET_NEXT_USER_ROLE]
AS

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_UserRole]
 UPDATE [t_Seq_UserRole] SET [current] = @NextNumber

 Select @NextNumber
GO
