/****** Object:  StoredProcedure [dbo].[GET_NEXT_PARTY_TYPE_ITEM_COMPANY]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GET_NEXT_PARTY_TYPE_ITEM_COMPANY]
AS
     BEGIN
         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_Party_Type_Item_Company]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;
     END;
GO
