/****** Object:  StoredProcedure [dbo].[GET_NEXT_BILL_BOOK_REF_PREV]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[GET_NEXT_BILL_BOOK_REF_PREV]  
(@serviceLocation bigint,  
@BillBook bigint,
@FinYearMark bigint,
@finYearFilter datetime)  
AS  
   BEGIN  
   
   declare @count bigint  
   select @count = count(*) from t_Seq_BillBookRef_Prev where ServiceLocation = @serviceLocation and BillBook = @BillBook  and FinYearMark = @FinYearMark
   if  @count = 0   
	begin  
		declare @existingId bigint
		declare @billBookName nvarchar(max)
		select @billBookName = [Name] from t_BillBook where PKID = @BillBook
		declare @billNo nvarchar(max)
		declare @company bigint
		declare @finYearBegin datetime
		set @finYearBegin = dateadd(day, 1,  dateadd(year, -1, @finYearFilter))
		select top 1 @company = CompanyID, @billNo = BillNo from t_Sale where
		
		((CAST(BillDate as date) >= cast(@finYearBegin as date)) and (CAST(BillDate as date) <= cast(@finYearFilter as date)) ) and SUBSTRING(Billno, 4, 1) = @billBookName and ServiceLocation = @serviceLocation order by PKID desc
		
		if @billno is null
		   begin
			set @existingId = 0
		   end
		else
			begin
				if @company = 98
				begin
					set @billNo = LEFT(@billNo, LEN(@billNo)- 6)
					set @existingId = convert(bigint, substring(@billNo, 6, 100))
				end
				else if @company != 76
				begin
					set @billNo = LEFT(@billNo, LEN(@billNo)- 6)
					set @existingId = COnvert(bigint, substring(@billNo, 5, 100))
				end
				else
				begin
					set @billNo = LEFT(@billNo, LEN(@billNo)- 6)
					set @existingId = Convert(bigint, substring(@billNo, 5, 100))
				end
			end
		insert into t_Seq_BillBookRef_Prev(Seed, Incr, Currval, ServiceLocation, BillBook, FinYearMark)  
			values(1, 1,@existingId, @serviceLocation, @BillBook, @FinYearMark)  
  
	end  
  
    DECLARE @NewSeqVal BIGINT;  
    UPDATE [dbo].[t_Seq_BillBookRef_Prev]  
    SET  
        @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation and BillBook = @BillBook  and FinYearMark = @FinYearMark
    SELECT @NewSeqVal;  
END;
GO
