/****** Object:  StoredProcedure [dbo].[GetAllClaimDetail]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE procedure [dbo].[GetAllClaimDetail]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@sortField nvarchar(max),  
@sortOrder nvarchar(max),  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@claimStatus bigint,
@claimType bigint
  
)  
As  
  
  
  
declare @skipRows int = @pageIndex,  
        @takeRows int = @pageSize,  
        @count int = 0  
  
if ( @claimStatus <= 0)  
begin  
  
   if( @claimType <= 0)
	begin
	select   
 it.PKID,  
 p.Name as Supplier,  
 isnull(c.Name, '') as ItemCompany,  
 isnull(c.PKID, -1) as ItemCompanyID,  
 isnull(r.ReturnBillNo, '') as ReturnBillNo,  
 isnull(r.BillDate, '') as ReturnBillDate,  
 it.DocumentDate as DocumentDate,  
 it.DocumentNumber as DocumentNumber,  
 it.ClaimAmount,  
 it.SettledAmount,  
 s.Name as ClaimStatus,  
 it.Remarks,  
 it.IsActive,  
 p.PKID as SupplierID ,
 it.ClaimType,
 t.Name as ClaimName
 from t_Claim it  
 inner join t_Party p on it.PartyID = p.PKID  
 inner join t_ClaimStatus s on it.ClaimStatus = s.PKID  
 inner join t_ClaimType t on it.ClaimType = t.PKID  
 left join t_ItemCompany c on it.ItemCompany = c.PKID  
  
 left join t_PurchaseReturn r on it.PurchaseReturnID = r.PKID  
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (p.Name like @query ) or (c.Name like @query ) or ((p.Code like @query )) or  (it.DocumentNumber like @query ))  
	end
	else
	begin
		select   
 it.PKID,  
 p.Name as Supplier,  
 isnull(c.Name, '') as ItemCompany,  
 isnull(c.PKID, -1) as ItemCompanyID,  
 isnull(r.ReturnBillNo, '') as ReturnBillNo,  
 isnull(r.BillDate, '') as ReturnBillDate,  
 it.DocumentDate as DocumentDate,  
 it.DocumentNumber as DocumentNumber,  
 it.ClaimAmount,  
 it.SettledAmount,  
 s.Name as ClaimStatus,  
 it.Remarks,  
 it.IsActive,  
 p.PKID as SupplierID ,
 it.ClaimType,
 t.Name as ClaimName
 from t_Claim it  
 inner join t_Party p on it.PartyID = p.PKID  
 inner join t_ClaimStatus s on it.ClaimStatus = s.PKID  
 inner join t_ClaimType t on it.ClaimType = t.PKID  
 left join t_ItemCompany c on it.ItemCompany = c.PKID  
  
 left join t_PurchaseReturn r on it.PurchaseReturnID = r.PKID  
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.ClaimType = @claimType and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (p.Name like @query ) or (c.Name like @query ) or ((p.Code like @query )) or  (it.DocumentNumber like @query ))  
	end

   
   
  
end  
else  
begin  
 
 if(@claimType <= 0)
 begin
	select   
 it.PKID,  
 p.Name as Supplier,  
 isnull(c.Name, '') as ItemCompany,  
 isnull(c.PKID, -1) as ItemCompanyID,  
 isnull(r.ReturnBillNo, '') as ReturnBillNo,  
 isnull(r.BillDate, '') as ReturnBillDate,  
 it.DocumentDate as DocumentDate,  
 it.DocumentNumber as DocumentNumber,  
 it.ClaimAmount,  
 it.SettledAmount,  
 s.Name as ClaimStatus,  
 it.Remarks,  
 it.IsActive,  
 p.PKID as SupplierID ,
 it.ClaimType,
  t.Name as ClaimName
    
 from t_Claim it  
 inner join t_Party p on it.PartyID = p.PKID  
 inner join t_ClaimStatus s on it.ClaimStatus = s.PKID  
 inner join t_ClaimType t on it.ClaimType = t.PKID  
 left join t_ItemCompany c on it.ItemCompany = c.PKID  
  
 left join t_PurchaseReturn r on it.PurchaseReturnID = r.PKID  
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.ClaimStatus = @claimStatus and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (p.Name like @query ) or (c.Name like @query ) or ((p.Code like @query )) or  (it.DocumentNumber like @query ))  
 end
 else
 begin

 select   
 it.PKID,  
 p.Name as Supplier,  
 isnull(c.Name, '') as ItemCompany,  
 isnull(c.PKID, -1) as ItemCompanyID,  
 isnull(r.ReturnBillNo, '') as ReturnBillNo,  
 isnull(r.BillDate, '') as ReturnBillDate,  
 it.DocumentDate as DocumentDate,  
 it.DocumentNumber as DocumentNumber,  
 it.ClaimAmount,  
 it.SettledAmount,  
 s.Name as ClaimStatus,  
 it.Remarks,  
 it.IsActive,  
 p.PKID as SupplierID ,
 it.ClaimType,
  t.Name as ClaimName
    
 from t_Claim it  
 inner join t_Party p on it.PartyID = p.PKID  
 inner join t_ClaimStatus s on it.ClaimStatus = s.PKID 
 inner join t_ClaimType t on it.ClaimType = t.PKID  
 left join t_ItemCompany c on it.ItemCompany = c.PKID  
  
 left join t_PurchaseReturn r on it.PurchaseReturnID = r.PKID  
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.ClaimType = @claimType and it.ClaimStatus = @claimStatus and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (p.Name like @query ) or (c.Name like @query ) or ((p.Code like @query )) or  (it.DocumentNumber like @query ))  

 end

   

   
end
GO
