/****** Object:  StoredProcedure [dbo].[RemoveAllEntryForAnItemDatewiseStock]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE procedure [dbo].[RemoveAllEntryForAnItemDatewiseStock]  
(  
@companyID BigInt,  
@location bigint,
@itemId bigint
  
)  
As  
  
update t_ItemwiseStock set OpeningQty = 0, ClosingQty = 0 where ServiceLocation = @location and CompanyID = @companyID and ItemId = @itemId 
update  t_BatchwiseStock set BoughtQty = 0 , SoldQty = 0  where ServiceLocation = @location and CompanyID = @companyID  and ItemID = @itemId
delete from t_DatewiseItem where ServiceLocation = @location and ItemId = @itemId
GO
