/****** Object:  StoredProcedure [dbo].[GetAllPurchaseOrderInRequest]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  procedure [dbo].[GetAllPurchaseOrderInRequest]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	sr.Name as ServiceLocation
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	inner join t_ServiceLocation sr on it.ServiceLocation = sr.PKID
	where it.CompanyID = @companyID and  it.ServiceLocation = @ServiceLocation and it.Clear = 0 and it.Status = 1 and it.IsVerified = 1 and it.IsApproved = 1 and ( (it.OrderNo like @query )  or  (pt.Name like @query )) 
	and CAST(it.CreateDate as date) >= CAST(@fromDate as date)  and  CAST(it.CreateDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Party,
	 ServiceLocation,
	 tCountOrders.CountOrders AS TotalRows
	
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
