/****** Object:  StoredProcedure [dbo].[GetAllSaleReturnReportItemwiseByArea]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllSaleReturnReportItemwiseByArea]
(
@companyID BigInt,
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@ItemID bigint,
@areaCode nvarchar(max),
@status bigint,
@itemSegment bigint = 1

)
As

if @status < 0
begin



if( @ItemID > 0 )
begin

select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.GST as GSTIN,
	pt.Name as PartyCode,
	pa.AreaCode as Area,

	it.Status as Status,
	1 as AnyReturn,
	1 as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	pt.PKID as PartyID
	
	from t_SaleReturn it 
	inner join t_Party pt on it.PartyID = pt.PKID

	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment
	inner join t_Rep_Area pa on a.areaid = pa.PKID and pa.AreaCode = @areaCode and pa.ServiceLocation = @ServiceLocation

	
	inner join t_SaleReturnDetail pd on it.PKID = pd.SaleReturnID
	inner join t_Item ite on pd.ItemID = ite.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo

end
else
	begin

	select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.Name as PartyCode,
	pa.AreaCode as Area,
	it.Status as Status,
	1 as AnyReturn,
	1 as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	ite.PKID as ItemId,
	pd.SellingRate as SellingRate,
	pt.GST as GSTIN,
	pt.PKID as PartyID
	
	from t_SaleReturn it 
	inner join t_Party pt on it.PartyID = pt.PKID  
	
	
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment
	inner join t_Rep_Area pa on a.areaid = pa.PKID and pa.AreaCode = @areaCode and pa.ServiceLocation = @ServiceLocation

	

	inner join t_SaleReturnDetail pd on it.PKID = pd.SaleReturnID
	inner join t_Item ite on pd.ItemID = ite.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo

	end

end
else
begin

if( @ItemID > 0 )
begin

select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.GST as GSTIN,
	pt.Name as PartyCode,
	pa.AreaCode as Area,

	it.Status as Status,
	1 as AnyReturn,
	1 as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	pd.SellingRate as SellingRate,
	ite.PKID as ItemId,
	pt.PKID as PartyID
	
	from t_SaleReturn it 
	inner join t_Party pt on it.PartyID = pt.PKID  
	
	inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment
	inner join t_Rep_Area pa on a.areaid = pa.PKID and pa.AreaCode = @areaCode and pa.ServiceLocation = @ServiceLocation

	
	inner join t_SaleReturnDetail pd on it.PKID = pd.SaleReturnID
	inner join t_Item ite on pd.ItemID = ite.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.Status = @status and ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo

end
else
	begin

	select 
	it.PKID,
	it.BillNo,
	it.BillAmountWithoutGST,
	it.DiscountTotal,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.Name as PartyCode,
	pa.AreaCode as Area,
	it.Status as Status,
	1 as AnyReturn,
	1 as AllReturn,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.Qty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	ite.PKID as ItemId,
	pd.SellingRate as SellingRate,
	pt.GST as GSTIN,
	pt.PKID as PartyID
	
	from t_SaleReturn it 
	inner join t_Party pt on it.PartyID = pt.PKID  
	
	inner join t_Party_Area a on  pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment
	inner join t_Rep_Area pa on a.areaid = pa.PKID and pa.AreaCode = @areaCode and pa.ServiceLocation = @ServiceLocation

	

	inner join t_SaleReturnDetail pd on it.PKID = pd.SaleReturnID
	inner join t_Item ite on pd.ItemID = ite.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.Status = @status and it.ServiceLocation = @ServiceLocation and it.Status = 1 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)

	--order by BillNo

	end

end
GO
