/****** Object:  StoredProcedure [dbo].[GetAllSalesReportSummary]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetAllSalesReportSummary]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@status bigint

)
As

declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0


if( @status = 1 )
begin





select 
	
	 sum(it.BillAmountWithoutGST) as BillAmountWithoutGST,
	sum(it.DiscountTotal) as DiscountTotal,
	sum(it.TaxTotal) as TaxTotal,
	sum(it.Miscellaneous) as Miscellaneous,
	Sum(it.Freight) as Freight,
	Sum(it.ServiceCharge) as ServiceCharge,
	Sum(it.TCS) as TCS

	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID

	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ) or ( it.ReferenceTag like @query ))
	


end

else if( @status = 2 )
begin



select 
	 sum(it.BillAmountWithoutGST) as BillAmountWithoutGST,
	sum(it.DiscountTotal) as DiscountTotal,
	sum(it.TaxTotal) as TaxTotal,
	sum(it.Miscellaneous) as Miscellaneous,
	Sum(it.Freight) as Freight,
	Sum(it.ServiceCharge) as ServiceCharge,
	Sum(it.TCS) as TCS

	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID
	
	where it.CompanyID = @companyID and it.Status = 1 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ) or (it.ReferenceTag like @query ))
	
 
end
else if( @status = 3)
begin



select 
	 sum(it.BillAmountWithoutGST) as BillAmountWithoutGST,
	sum(it.DiscountTotal) as DiscountTotal,
	sum(it.TaxTotal) as TaxTotal,
	sum(it.Miscellaneous) as Miscellaneous,
	Sum(it.Freight) as Freight,
	Sum(it.ServiceCharge) as ServiceCharge,
	Sum(it.TCS) as TCS

	from t_Sale it 
	inner join t_Party pt on it.PartyID = pt.PKID

	
	where it.CompanyID = @companyID and it.Status = 0 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ) or (it.ReferenceTag like @query ))
	

end
GO
