/****** Object:  StoredProcedure [dbo].[GetAllDisposal]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllDisposal]        
(        
@companyID BigInt,        
@query nvarchar(max),        
@fromDate datetime,        
@toDate datetime,        
@ServiceLocation bigint  
  
        
)        
As        
        
select         
 it.PKID,        
 it.BillNo,        
 it.BillAmount,        
 it.BillDate,        
 it.Status as Status,
 it.TaxTotal
 
 from t_Disposal it         
 
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ))        
        
 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)
GO
