/****** Object:  StoredProcedure [dbo].[GetPaymentByParty]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetPaymentByParty]
(
@companyID BigInt,
 
@ServiceLocation bigint,
 
@paymentId bigint

)
As


 

select 
	it.PKID,
	it.PaymentNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status
	
	from t_Payment it
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party ac on it.PartyAccount = ac.PKID
	

	
	where it.PKID = @paymentId and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation
GO
