/****** Object:  StoredProcedure [dbo].[GET_NEXT_CREDIT_NOTE]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GET_NEXT_CREDIT_NOTE]
AS
     BEGIN
         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_creditNote]
           SET
               @NewSeqVal = Curr  = Curr  + Seed;
         SELECT @NewSeqVal;
     END;
GO
