/****** Object:  StoredProcedure [dbo].[sp_ResetAccountsEntries]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[sp_ResetAccountsEntries]
(
@serviceLocation bigint,
@toDate datetime
)
AS

set @toDate = '2024-03-31 00:00:00.000'

select * from t_PaymentDetail where  PaymentID in (
select PKID from  t_Payment where ServiceLocation = @serviceLocation and Date <= @toDate
)

delete from t_Payment where Date <= @toDate

select * from t_ReceiptDetail where ReceiptID in (
select PKID from  t_Receipt where ServiceLocation = @serviceLocation and Date <= @toDate
)

delete from t_Receipt where Date <= @toDate

select * from t_VoucherDetail where VoucherID in (
select PKID from  t_Voucher where ServiceLocation = @serviceLocation and  Date <= @toDate
)

delete from t_Voucher where Date <= @toDate

select * from t_EntryDetail where EntryID in (
select PKID from  t_Entry where ServiceLocation = @serviceLocation and Date <= @toDate
)

delete from t_Entry where Date <= @toDate

delete from t_DatewiseAccount where ServiceLocation = @serviceLocation and Date <= @toDate
GO
