/****** Object:  StoredProcedure [dbo].[GET_NEXT_BILL_NUMBER_BATCH]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[GET_NEXT_BILL_NUMBER_BATCH]
(
@batchQty BigInt
)
AS
BEGIN
    DECLARE @NewSeqVal BIGINT;
	declare @CurrVal BIGINT;
	select @CurrVal = CurrVal + 1 from t_Seq_Bill
    UPDATE [dbo].[t_Seq_Bill]
    SET
        @NewSeqVal = CurrVal = CurrVal + @batchQty;
    SELECT @CurrVal;
END;
GO
