/****** Object:  StoredProcedure [dbo].[GetRouteConsumptionData]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRouteConsumptionData]
 @StartDate DATETIME, -- Start date filter
 @EndDate DATETIME -- End date filter
AS
BEGIN
 SET NOCOUNT ON;

 -----------------------------------------------------------------------------------------
 -- Step 1: Get master IDs for Debit and Credit once (avoid repeated subqueries)
 -----------------------------------------------------------------------------------------
 DECLARE @DebitPKID INT = (
 SELECT PKID 
 FROM t_AllMaster 
 WHERE mastertype = (
 SELECT PKID FROM t_AllMasterType WHERE Name = 'Debit Credit Ind'
 )
 AND Code = 'D'
 );

 DECLARE @CreditPKID INT = (
 SELECT PKID 
 FROM t_AllMaster 
 WHERE mastertype = (
 SELECT PKID FROM t_AllMasterType WHERE Name = 'Debit Credit Ind'
 )
 AND Code = 'C'
 );

 -----------------------------------------------------------------------------------------
 -- Step 2: Calculate total consumption per route
 -----------------------------------------------------------------------------------------
 SELECT 
 q.RouteNumber, 
 q.RouteName, 
 CAST(SUM(q.TotalConsumption) AS INT) AS ConsumptionM3
 FROM (
 SELECT 
 r.PKID AS RouteNumber,
 r.Name AS RouteName,
 CASE 
 WHEN o.DebiCreditInd = @DebitPKID 
 THEN COALESCE(o.Consumption, 0)
 WHEN o.DebiCreditInd = @CreditPKID 
 THEN -1 * COALESCE(o.Consumption, 0)
 ELSE 0 
 END AS TotalConsumption
 FROM t_OpenItem o
 INNER JOIN t_ConsumerAccount ca ON o.ConsumerNum = ca.ConsumerNum
 INNER JOIN t_Party p ON ca.PKID = p.PKID
 INNER JOIN t_Route r ON p.Route = r.PKID
 WHERE
 o.PostedDate BETWEEN @StartDate AND @EndDate
 ) q
 GROUP BY q.RouteNumber, q.RouteName
 ORDER BY q.RouteName;

END;
GO
