/****** Object:  StoredProcedure [dbo].[GET_NEXT_PENDING_BILL_TRACKING]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_PENDING_BILL_TRACKING]
(
	@batchQty BigInt
)
AS
     BEGIN
         DECLARE @NewSeqVal BIGINT;
		 declare @CurrVal BIGINT;
		 select @CurrVal = CurrVal + 1 from t_Seq_PendingBillTracking
         UPDATE [dbo].[t_Seq_PendingBillTracking]
           SET
               @NewSeqVal = CurrVal = CurrVal + @batchQty;
         SELECT @CurrVal;
     END;
GO
