/****** Object:  StoredProcedure [dbo].[sp_RemoveObsoleteSaleBills]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RemoveObsoleteSaleBills](    
    @list [NumberList] READONLY)    
AS    
BEGIN    



delete from t_DoctorOpinionDetail where SaleID in (SELECT l.Item FROM @list l)
delete from t_PatientVisitDetail where SaleID in (SELECT l.Item FROM @list l)
delete from t_PatientCertificateDetail where VisitID in (SELECT l.Item FROM @list l)
delete from  t_PatientCovidDocumentDetail where SaleID in (SELECT l.Item FROM @list l)
delete from  t_PatientRestDetail where SaleID in (SELECT l.Item FROM @list l)
delete from  t_PatientVisitDiagnosis where SaleID in (SELECT l.Item FROM @list l)
delete from  t_PatientVisitDocumentDetail where SaleID in (SELECT l.Item FROM @list l)
delete from  t_PatientVisitReason where SaleID in (SELECT l.Item FROM @list l)
delete from  t_SaleBillPaymentDetail where SaleID in (SELECT l.Item FROM @list l)
delete from  t_SaleCreditNote where SalesID in (SELECT l.Item FROM @list l)
delete from  t_SaleDetail where SaleID in (SELECT l.Item FROM @list l)

delete from  t_SaleItemFlowUserDetail where ItemFlowDetailID in (
select PKID from t_SaleItemFlowDetail where SaleID in (SELECT l.Item FROM @list l))

delete from  t_SaleItemFlowDetail where SaleID in (SELECT l.Item FROM @list l)

delete from  t_SaleHistory where SaleID in (SELECT l.Item FROM @list l)
delete from  t_SaleReturnSaleBill where SaleBillNo in (
select BillNo from t_Sale where PKID in (SELECT l.Item FROM @list l))

delete from  t_TripBillDetail where SaleID in (SELECT l.Item FROM @list l)

delete from t_Sale where PKID in (SELECT l.Item FROM @list l)    
    
    
    
END
GO
