/****** Object:  StoredProcedure [dbo].[GET_NEXT_COMPANY_SERVICE]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GET_NEXT_COMPANY_SERVICE]
AS
    BEGIN
        DECLARE @NewSeqVal BIGINT;
        UPDATE [dbo].[t_Seq_CompanyService]
          SET @NewSeqVal = CurrVal = CurrVal + Incr;
        SELECT @NewSeqVal;
    END;
GO
