/****** Object:  StoredProcedure [dbo].[GET_NEXT_ERROR]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GET_NEXT_ERROR]
AS

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_Error]
 UPDATE [t_Seq_Error] SET [current] = @NextNumber

 Select @NextNumber
GO
