/****** Object:  StoredProcedure [dbo].[GET_NEXT_TESTIMONIAL]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_NEXT_TESTIMONIAL]
AS
    BEGIN
        DECLARE @NewSeqVal BIGINT;
        UPDATE [dbo].[t_Seq_Testimonial]
          SET @NewSeqVal = CurrVal = CurrVal + Incr;
        SELECT @NewSeqVal;
    END;
GO
