/****** Object:  StoredProcedure [dbo].[GET_NEXT_PAGEPRODUCTDISPLAY]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Ends

CREATE PROCEDURE [dbo].[GET_NEXT_PAGEPRODUCTDISPLAY]  
AS  
     BEGIN  
         DECLARE @NewSeqVal BIGINT;  
         UPDATE [dbo].[t_Seq_PageProductDisplayColumns]  
           SET  
               @NewSeqVal = CurrVal = CurrVal + Incr;  
         SELECT @NewSeqVal;  
     END;
GO
