/****** Object:  StoredProcedure [dbo].[GET_NEXT_FEATURE_ACTION]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GET_NEXT_FEATURE_ACTION]
AS

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_FeatureAction]
 UPDATE [t_Seq_FeatureAction] SET [current] = @NextNumber

 Select @NextNumber
GO
