/****** Object:  StoredProcedure [dbo].[GET_NEXT_USER_ROLE_BATCH]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 Create procedure [dbo].[GET_NEXT_USER_ROLE_BATCH] 
(
@batchQty bigint
)
AS  
  
  BEGIN
         DECLARE @NewSeqVal BIGINT;
		 declare @CurrVal BIGINT;
		 select @CurrVal = [Current] + 1 from t_Seq_UserRole
         UPDATE [dbo].t_Seq_UserRole
           SET
               @NewSeqVal = [Current] = [Current] + @batchQty;
         SELECT @CurrVal;
     END;
GO
