/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemSleekForProductionIndent]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllSearchableItemSleekForProductionIndent]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@query nvarchar(max),  
@location bigint,  
@includeZero bit,  
@isFullTextSearch bit,  
@mixType bigint  
)  
As  
  
     
  
select   
 it.PKID,  
 it.PKID as ItemID,  
 it.Code as ItemCode,  
 it.Description as ItemDescription,  
 it.IsBatchwise as IsBatchwise,  
 tc.Percentage as Tax,  
 tc.PKID as TaxCategory,  
 COALESCE(hs.Code,'') as  HSN,  
   
 COALESCE(ist.ClosingQty,'0') as  ClosingQty,  
 COALESCE(ist.CostPrice,'0') as  CostPrice,  
 COALESCE(ist.MRP,'0') as  MRP,  
   
 COALESCE(ist.OpeningQty,'0') as  OpeningQty,  
 COALESCE(ist.SellingPrice,'0') as  SellingPrice,  
   
 ic.Code as Company,  
 ic.PKID as ItemCompany,  
  
 COALESCE(ist.ClosingQty,'0') as  InStockQty,  
   
 COALESCE(ist.DamageQty,'0') as  DamageQty,  
  
 COALESCE(ist.NoStockQty,'0') as  NoStockQty,  
  
   
 COALESCE(ist.RegionalStockistPrice,'0') as  RegionalStockistPrice,  
  
   
 COALESCE(ist.SuperStockistPrice,'0') as  SuperStockistPrice,  
  
   
 COALESCE(ist.StockistPrice,'0') as  StockistPrice,  
  
   
 COALESCE(ist.DistributorPrice,'0') as  DistributorPrice,  
  
   
 COALESCE(ist.SubDistributorPrice,'0') as  SubDistributorPrice,  
  
   
 COALESCE(ist.SuperRetailerPrice,'0') as  SuperRetailerPrice,  
  
   
 COALESCE(ist.RetailerPrice,'0') as  RetailerPrice,  
  
 it.AllotmentPercentage as AllotmentPercentage,  
 It.ItemStatus as ItemStatus,  
 it.KgsPerItem as KgsPerItem,  
 it.MarginPercentage as MarginPercentage,  
 it.MinStock as MinStock,  
   
 it.CategoryID as CategoryID,  
 it.SubCategoryID as SubCategoryID,  
 it.ContentID as ContentID,  
 it.Barcode as Barcode,  
 it.ItemType as ItemType,
 COALESCE(hs.Description,'') as  HSNDescription
  
 from t_Item it   
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID  
 LEFT join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location  
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID  
  
 left join t_HSN hs on it.HSNCode = hs.PKID  
 where it.IsActive = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query )  or  (it.Description like @query  ) or ( it.Barcode = @query))  
 and it.PKID in ( select ItemID from t_MaterialProductMix where productmixType = @mixType and isapproved = 1 )
GO
