/****** Object:  StoredProcedure [dbo].[GetAllParty]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllParty]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@location bigint,
@itemSegment bigint = 1

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

		if @itemSegment = 3
			begin

			;WITH Orders_cte AS (

select 
	   it.[PKID] as ID
      ,it.[Code] as PartyCode
      ,it.[GroupID] as GroupID
      ,it.[Name] as Name
      ,it.[Address1] as Address1
      ,it.[Address2] as Address2
      ,it.[Address3] as Address3
      ,it.[City] as City
      ,it.[PinCode] as PinCode
      ,it.[Country] as CountryID
      ,it.[State] as StateID
      ,it.[GST] as GST
      ,it.[MobileNo] as MobileNo
      ,it.[LandLine] as LandlineNo
      ,it.[DrugLicence1] as DrugLicence1
      ,it.[DrugLicence2] as DrugLicence2
      ,it.[District] as District
      ,pa.[AreaCode] as Area
      ,COALESCE (a.PKID, -1) as Route
      ,it.[OpeningBalance] as OpeningBalance
      ,it.[ClosingBalance] as ClosingBalance
      ,it.[DoctorName] as DoctorName
      ,it.[KVCNo] as KVCNo
      ,it.[CreditLimit] as CreditLimit
      ,it.[CreditDays] as CreditDays
      ,it.[ServiceLocation] as ServiceLocation
      ,it.[CompanyID] as CompanyID
      ,it.[IsActive] as IsActive,
	  
	pg.Code as GroupName,
	--	ct.Country as CountryDisplay,
	--	st.State as StateDisplay,
		it.ModifiedDate as ModifiedDate,
		it.MaximumLeadTime,
		it.AverageLeadTime,
		pt.Type as PartyTypeDisplay,
		st.State,
		it.IsDefaultAccountParty as IsDefaultAccountParty
		
		--sl.Name as ServiceLocationName
		
    from t_Party it 
	inner join t_Party_Area a on it.PKID = a.PartyID and a.ServiceLocation = @location
	inner join t_Rep_Area pa on pa.PKID = a.AreaID and pa.ServiceLocation = @location
	left join t_Route ro on a.routeid = ro.PKID 
	inner join t_PartyGroup pg on it.GroupID = pg.PKID
	inner join t_PartyType pt on it.PartyType = pt.PKID
	--inner join t_Country ct on it.Country = ct.PKID
	inner join t_State st on it.State = st.PKID
	--inner join t_ServiceLocation sl on it.ServiceLocation = sl.PKID
	
	--where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))
	where it.CompanyID = @companyID and it.ServiceLocation = @location and  ( (it.Code like @query )  or  (it.Name like @query ) or ( pg.Description like @query) or ( pg.Code like @query))
	
	
	
)

SELECT 
    ID,
	PartyCode,
	GroupID,
	Name,
	Address1,
	Address2,
	Address3,
	City,
	PinCode,
	CountryID,
	StateID,
	GST,
	MobileNo,
	LandlineNo,
	DrugLicence1,
	DrugLicence2,
	District,
	Area,
	Route,
    tCountOrders.CountOrders AS TotalRows,
	OpeningBalance,
	ClosingBalance,
	DoctorName,
	KVCNo,
	CreditLimit,
	CreditDays,
	ServiceLocation,
	CompanyID,
	IsActive,
	GroupName,
	--CountryDisplay,
	--StateDisplay,
	ModifiedDate,
	MaximumLeadTime,
	AverageLeadTime,
	PartyTypeDisplay,
	State,
	IsDefaultAccountParty
	
	--ServiceLocationName
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PartyCode end asc,
  CASE WHEN @sortField='PartyCode' and @sortOrder ='asc' THEN PartyCode end asc,
  case   WHEN @sortField='ID' and @sortOrder ='asc'  THEN ID end asc,
  case   WHEN @sortField='Address1' and @sortOrder ='asc'  THEN Address1 end asc,
  case   WHEN @sortField='Address2' and @sortOrder ='asc'  THEN Address2 end asc,
  case   WHEN @sortField='CreditLimit' and @sortOrder ='asc'  THEN CreditLimit end asc,
  case   WHEN @sortField='CreditDays' and @sortOrder ='asc'  THEN CreditDays end asc,
  case   WHEN @sortField='GroupName' and @sortOrder ='asc'  THEN GroupName end asc,
  case   WHEN @sortField='DoctorName' and @sortOrder ='asc'  THEN DoctorName end asc,
  case   WHEN @sortField='KVCNo' and @sortOrder ='asc'  THEN KVCNo end asc,
  case   WHEN @sortField='Area' and @sortOrder ='asc'  THEN Area end asc,
  case   WHEN @sortField='District' and @sortOrder ='asc'  THEN District  end asc,

	CASE WHEN @sortField='Route' and @sortOrder ='desc' THEN Route end desc,
  case   WHEN @sortField='MobileNo' and @sortOrder ='desc'  THEN MobileNo end desc,
  case   WHEN @sortField='LandlineNo' and @sortOrder ='desc'  THEN LandlineNo end desc,
  case   WHEN @sortField='PinCode' and @sortOrder ='desc'  THEN PinCode end desc,
  case   WHEN @sortField='City' and @sortOrder ='desc'  THEN City end desc,
  case   WHEN @sortField='Address3' and @sortOrder ='desc'  THEN Address3 end desc,
 	case   WHEN @sortField='Name' and @sortOrder ='desc'  THEN Name end desc
--	case   WHEN @sortField='CountryDisplay' and @sortOrder ='desc'  THEN CountryDisplay end desc,
--	case   WHEN @sortField='StateDisplay' and @sortOrder ='desc'  THEN StateDisplay end desc
	
	
	
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

			end
		else
			begin
				
				;WITH Orders_cte AS (

select 
	   it.[PKID] as ID
      ,it.[Code] as PartyCode
      ,it.[GroupID] as GroupID
      ,it.[Name] as Name
      ,it.[Address1] as Address1
      ,it.[Address2] as Address2
      ,it.[Address3] as Address3
      ,it.[City] as City
      ,it.[PinCode] as PinCode
      ,it.[Country] as CountryID
      ,it.[State] as StateID
      ,it.[GST] as GST
      ,it.[MobileNo] as MobileNo
      ,it.[LandLine] as LandlineNo
      ,it.[DrugLicence1] as DrugLicence1
      ,it.[DrugLicence2] as DrugLicence2
      ,it.[District] as District
      ,pa.[AreaCode] as Area
      ,COALESCE (a.PKID, -1) as Route
      ,it.[OpeningBalance] as OpeningBalance
      ,it.[ClosingBalance] as ClosingBalance
      ,it.[DoctorName] as DoctorName
      ,it.[KVCNo] as KVCNo
      ,it.[CreditLimit] as CreditLimit
      ,it.[CreditDays] as CreditDays
      ,it.[ServiceLocation] as ServiceLocation
      ,it.[CompanyID] as CompanyID
      ,it.[IsActive] as IsActive,
	  
	pg.Code as GroupName,
	--	ct.Country as CountryDisplay,
	--	st.State as StateDisplay,
		it.ModifiedDate as ModifiedDate,
		it.MaximumLeadTime,
		it.AverageLeadTime,
		pt.Type as PartyTypeDisplay,
		st.State,
		it.IsDefaultAccountParty as IsDefaultAccountParty
		
		--sl.Name as ServiceLocationName
		
    from t_Party it 
	inner join t_Party_Area a on it.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @location
	inner join t_Rep_Area pa on pa.PKID = a.AreaID and pa.ServiceLocation = @location
	left join t_Route ro on a.routeid = ro.PKID 
	inner join t_PartyGroup pg on it.GroupID = pg.PKID
	inner join t_PartyType pt on it.PartyType = pt.PKID
	--inner join t_Country ct on it.Country = ct.PKID
	inner join t_State st on it.State = st.PKID
	--inner join t_ServiceLocation sl on it.ServiceLocation = sl.PKID
	
	--where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))
	where it.CompanyID = @companyID and it.ServiceLocation = @location and  ( (it.Code like @query )  or  (it.Name like @query ) or ( pg.Description like @query) or ( pg.Code like @query))
	
	
	
)

SELECT 
    ID,
	PartyCode,
	GroupID,
	Name,
	Address1,
	Address2,
	Address3,
	City,
	PinCode,
	CountryID,
	StateID,
	GST,
	MobileNo,
	LandlineNo,
	DrugLicence1,
	DrugLicence2,
	District,
	Area,
	Route,
    tCountOrders.CountOrders AS TotalRows,
	OpeningBalance,
	ClosingBalance,
	DoctorName,
	KVCNo,
	CreditLimit,
	CreditDays,
	ServiceLocation,
	CompanyID,
	IsActive,
	GroupName,
	--CountryDisplay,
	--StateDisplay,
	ModifiedDate,
	MaximumLeadTime,
	AverageLeadTime,
	PartyTypeDisplay,
	State,
	IsDefaultAccountParty
	
	--ServiceLocationName
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PartyCode end asc,
  CASE WHEN @sortField='PartyCode' and @sortOrder ='asc' THEN PartyCode end asc,
  case   WHEN @sortField='ID' and @sortOrder ='asc'  THEN ID end asc,
  case   WHEN @sortField='Address1' and @sortOrder ='asc'  THEN Address1 end asc,
  case   WHEN @sortField='Address2' and @sortOrder ='asc'  THEN Address2 end asc,
  case   WHEN @sortField='CreditLimit' and @sortOrder ='asc'  THEN CreditLimit end asc,
  case   WHEN @sortField='CreditDays' and @sortOrder ='asc'  THEN CreditDays end asc,
  case   WHEN @sortField='GroupName' and @sortOrder ='asc'  THEN GroupName end asc,
  case   WHEN @sortField='DoctorName' and @sortOrder ='asc'  THEN DoctorName end asc,
  case   WHEN @sortField='KVCNo' and @sortOrder ='asc'  THEN KVCNo end asc,
  case   WHEN @sortField='Area' and @sortOrder ='asc'  THEN Area end asc,
  case   WHEN @sortField='District' and @sortOrder ='asc'  THEN District  end asc,

	CASE WHEN @sortField='Route' and @sortOrder ='desc' THEN Route end desc,
  case   WHEN @sortField='MobileNo' and @sortOrder ='desc'  THEN MobileNo end desc,
  case   WHEN @sortField='LandlineNo' and @sortOrder ='desc'  THEN LandlineNo end desc,
  case   WHEN @sortField='PinCode' and @sortOrder ='desc'  THEN PinCode end desc,
  case   WHEN @sortField='City' and @sortOrder ='desc'  THEN City end desc,
  case   WHEN @sortField='Address3' and @sortOrder ='desc'  THEN Address3 end desc,
 	case   WHEN @sortField='Name' and @sortOrder ='desc'  THEN Name end desc
--	case   WHEN @sortField='CountryDisplay' and @sortOrder ='desc'  THEN CountryDisplay end desc,
--	case   WHEN @sortField='StateDisplay' and @sortOrder ='desc'  THEN StateDisplay end desc
	
	
	
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

			end
GO
