/****** Object:  StoredProcedure [dbo].[GET_NEXT_POSTOFFICE]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_POSTOFFICE]
AS
     BEGIN
		 DECLARE @AnyRecord bigint
         DECLARE @NewSeqVal BIGINT;
		 select  @AnyRecord  = count(*) from  [dbo].[t_Seq_PostOffice]
		
		 if( @AnyRecord > 0)
			 begin
				UPDATE [dbo].[t_Seq_PostOffice] SET @NewSeqVal = CurrVal = CurrVal + Incr;
				SELECT @NewSeqVal;
			 end
		 else
			begin
				INSERT into [t_Seq_PostOffice](Seed, Incr, Currval) values(1, 1, 1)
				select 1;
			end
         
     END;
GO
