/****** Object:  StoredProcedure [dbo].[GET_NEXT_APPOINTMENT]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_APPOINTMENT]
AS
    BEGIN
        DECLARE @NewSeqVal BIGINT;
        UPDATE [dbo].[t_Seq_Appointment]
          SET @NewSeqVal = CurrVal = CurrVal + Incr;
        SELECT @NewSeqVal;
    END;
GO
