/****** Object:  StoredProcedure [dbo].[GET_NEXT_BATCHWISE_DAMAGE_STOCK_TAKE_BATCH]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




  
CREATE PROCEDURE [dbo].[GET_NEXT_BATCHWISE_DAMAGE_STOCK_TAKE_BATCH]
(
@batchQty BigInt
)

AS  
     BEGIN  
	 DECLARE @NewSeqVal BIGINT;
		 declare @CurrVal BIGINT;
		 select @CurrVal = CurrVal + 1 from t_Seq_BatchwiseDamageStockTake
         UPDATE [dbo].t_Seq_BatchwiseDamageStockTake
           SET
               @NewSeqVal = CurrVal = CurrVal + @batchQty;
         SELECT @CurrVal;

         
     END;
GO
