/****** Object:  StoredProcedure [dbo].[GET_NEXT_CLOSE_ACCOUNT_BATCH_FOR_PREVIEW]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GET_NEXT_CLOSE_ACCOUNT_BATCH_FOR_PREVIEW]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 -- Insert statements for procedure here
	SELECT Currval + 1 AS NextVal
	FROM t_Seq_CloseAccountBatch
END
GO
