/****** Object:  StoredProcedure [dbo].[GET_NEXT_SALES_RETURN_Segregation_IN_REF]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[GET_NEXT_SALES_RETURN_Segregation_IN_REF]
(@serviceLocation bigint)
AS
     BEGIN
	     DECLARE @AnyRecord bigint
		 DECLARE @NewSeqVal BIGINT;
	     select  @AnyRecord  = count(*) from  [dbo].[t_Seq_Sales_Return_Segregation] where ServiceLocation = @serviceLocation
		
		 if( @AnyRecord > 0)
			 begin
				 
				 UPDATE [dbo].[t_Seq_Sales_Return_Segregation]
				   SET
					   @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation
				 SELECT  @NewSeqVal;
			 end
		 else
			begin
			insert into [dbo].[t_Seq_Sales_Return_Segregation]( Seed, Incr, Currval, ServiceLocation) values( 1, 1, 0, @serviceLocation)
			
				 UPDATE [dbo].[t_Seq_Sales_Return_Segregation]
				   SET
					   @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation
				 SELECT @NewSeqVal;
			end
     END;
GO
