/****** Object:  StoredProcedure [dbo].[GetAllSalesReturnReportByArea]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllSalesReturnReportByArea]      
(      
@companyID BigInt,      
@pageSize int,      
@pageIndex int,      
@sortField nvarchar(max),      
@sortOrder nvarchar(max),      
@query nvarchar(max),      
@fromDate datetime,      
@toDate datetime,      
@ServiceLocation bigint,      
@areaCode nvarchar(max),      
@status bigint,      
@itemSegment bigint = 1      
      
)      
As      
      
      
      
declare @skipRows int = @pageIndex,      
        @takeRows int = @pageSize,      
        @count int = 0      
      
      
if @status < 0      
begin      
      
      
select       
 it.PKID,      
 it.ReturnBillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
 pt.GST as GSTIN,      
 pt.Name as PartyCode,      
       
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 1 as AnyReturn,      
 1 as AllReturn,      
 pa.AreaCode as Area,      
 pt.PKID as PartyID  ,    
 it.InState ,  
 it.Freight,  
 it.FreightGSTPercentage,
 AckNo as AckNo,
 AckDate as AckDate,
 IRN as IRN
      
 from t_SaleReturn it       
 inner join t_Party pt on it.PartyID = pt.PKID       
 inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment      
 inner join t_Rep_Area pa on a.areaid = pa.PKID and pa.AreaCode = @areaCode and pa.ServiceLocation = @ServiceLocation      
 inner join t_BillType bt on bt.PKID = it.BillType      
       
      
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)       
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ))      
       
      
end      
else      
begin      
      
select       
 it.PKID,      
 it.ReturnBillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
 pt.GST as GSTIN,      
 pt.Name as PartyCode,      
       
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 1 as AnyReturn,      
 1 as AllReturn,      
 pa.AreaCode as Area,      
 pt.PKID as PartyID ,    
 it.InState  ,  
 it.Freight,  
 it.FreightGSTPercentage ,
 AckNo as AckNo,
 AckDate as AckDate,
 IRN as IRN
 from t_SaleReturn it       
 inner join t_Party pt on it.PartyID = pt.PKID        
       
 inner join t_Party_Area a on pt.PKID = a.PartyID  and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment       
 inner join t_Rep_Area pa on a.areaid = pa.PKID and pa.AreaCode = @areaCode and pa.ServiceLocation = @ServiceLocation      
      
      
 inner join t_BillType bt on bt.PKID = it.BillType      
       
      
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)       
 where it.CompanyID = @companyID and it.Status = @status and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ))      
       
      
      
end
GO
