/****** Object:  StoredProcedure [dbo].[sp_RemoveSEODetail]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_RemoveSEODetail](  
       @seoId  BIGINT,  
       @pageId INT )  
AS  
    BEGIN  
        DELETE FROM t_CompanySEOMetaData  
        WHERE MetaDataID IN( SELECT pkid  
                             FROM t_MetaData  
                             WHERE PageID = @pageId and SeoId = @seoId );  
        DELETE FROM t_CompanySEOMetaProperty  
        WHERE MetaPropertyID IN( SELECT pkid  
                                 FROM t_MetaProperty  
                                 WHERE PageID = @pageId and SeoId = @seoId);  
        DELETE FROM t_MetaData  
        WHERE PageID = @pageId;  
        DELETE FROM t_MetaProperty  
        WHERE PageID = @pageId;  
    END;
GO
