/****** Object:  StoredProcedure [dbo].[GetAllQuotationByRep]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[GetAllQuotationByRep]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@sortField nvarchar(max),  
@sortOrder nvarchar(max),  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@Rep bigint,  
@Status int,  
@area nvarchar(max),  
@itemSegment bigint = 1  
)  
As  
  
  
  
declare @skipRows int = @pageIndex,  
        @takeRows int = @pageSize,  
        @count int = 0  
  
  if( @Status = 1 )  
  begin  
  
  if( @area = '')  
  begin  
  
  ;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 it.Status,  
 it.Clear,  
 it.ClearDate,  
 it.IsDraft,  
 it.SaleBillNo ,
 it.CreateDate
   
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.CreateBy = @Rep and it.CreateBy = @Rep and it.ServiceLocation = @ServiceLocation and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ) )  
 and it.IsQuotation = 1  
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear,  
  ClearDate,  
  IsDraft,  
  SaleBillNo ,
  CreateDate
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,  
 CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
 case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc  
    
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
end  
else  
begin  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 it.Status,  
 it.Clear,  
 it.ClearDate,  
 it.IsDraft,  
 it.SaleBillNo ,
 it.CreateDate
   
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID   
 inner join t_party_area a on pt.PKID = a.PartyID and a.Segmentid = @itemSegment and a.Servicelocation = @ServiceLocation  
 inner join t_Rep_Area ra on a.areaid = ra.pkid and ra.AreaCode = @area  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.CreateBy = @Rep and it.CreateBy = @Rep and it.ServiceLocation = @ServiceLocation and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ) )  
 and it.IsQuotation = 1  
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear,  
  ClearDate,  
  IsDraft,  
  SaleBillNo ,
  CreateDate
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,  
 CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
 case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc  
    
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
end  
  
  end  
  else if( @Status = 2 )  
  begin  
  
  if( @area = '')  
  begin  
  
  ;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 it.Status,  
 it.Clear,  
 it.ClearDate,  
 it.IsDraft,  
 it.SaleBillNo  ,
 it.CreateDate
   
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.CreateBy = @Rep and it.CreateBy = @Rep and it.ServiceLocation = @ServiceLocation and it.Clear = 1 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ) )  
 and it.IsQuotation = 1  
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear,  
  ClearDate,  
  IsDraft,  
  SaleBillNo ,
  CreateDate
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,  
 CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
 case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc  
    
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
end  
else  
begin  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 it.Status,  
 it.Clear,  
 it.ClearDate,  
 it.IsDraft,  
 it.SaleBillNo  
   
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID --and pt.Area = @area  
 inner join t_party_area a on pt.PKID = a.PartyID and a.Segmentid = @itemSegment and a.Servicelocation = @ServiceLocation  
 inner join t_Rep_Area ra on a.areaid = ra.pkid and ra.AreaCode = @area  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.CreateBy = @Rep and it.CreateBy = @Rep and it.ServiceLocation = @ServiceLocation and it.Clear = 1 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ) )  
 and it.IsQuotation = 1  
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear,  
  ClearDate,  
  IsDraft,  
  SaleBillNo  
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,  
 CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
 case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc  
    
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
end  
  
  end  
  else if( @Status = 3)  
  begin  
  
  if( @area = '')  
  begin  
  
  ;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 it.Status,  
 it.Clear,  
 it.ClearDate,  
 it.IsDraft,  
 it.SaleBillNo ,
 it.CreateDate
   
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.CreateBy = @Rep and it.CreateBy = @Rep and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ) )  
 and it.IsQuotation = 1  
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear,  
  ClearDate,  
  IsDraft,  
  SaleBillNo ,
  CreateDate
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,  
 CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
 case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc  
    
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
end  
else  
begin  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 it.Status,  
 it.Clear,  
 it.ClearDate,  
 it.IsDraft,  
 it.SaleBillNo  ,
 it.CreateDate
   
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID --and pt.Area = @area  
 inner join t_party_area a on pt.PKID = a.PartyID and a.Segmentid = @itemSegment and a.Servicelocation = @ServiceLocation   
 inner join t_Rep_Area ra on a.areaid = ra.pkid and ra.AreaCode = @area  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.CreateBy = @Rep and it.CreateBy = @Rep and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ) )  
 and it.IsQuotation = 1  
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear,  
  ClearDate,  
  IsDraft,  
  SaleBillNo ,
  CreateDate
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,  
 CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
 case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc  
    
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
end  
  
  end
GO
