/****** Object:  StoredProcedure [dbo].[GetAllMaterialProductionIndent]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE procedure [dbo].[GetAllMaterialProductionIndent]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.BillNo,
	it.GrandTotal,
	 
	it.BillDate,
	it.EnteredDate,
	it.Status as Status,
	i.Description as ItemDescription,
	i.Code as Code
	
	from t_MaterialProductionIndent it 
	join t_MaterialProductionIndentDetail id on it.PKID = id.MaterialProductionIndent
	inner join t_Item i on id.itemid = i.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) ) and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	and ( (i.Code like @query )  or  (i.Description like @query ))
	
)

SELECT 
    PKID,
	BillNo,
	GrandTotal,
	ItemDescription,
	Code,
	BillDate,
	EnteredDate,
	
	tCountOrders.CountOrders AS TotalRows,
	Status
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,
 -- CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end asc,
 -- case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,
 
 -- case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,

 -- CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,
 -- case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,
 -- case   WHEN @sortField='OrderNumberDisaply' and @sortOrder ='desc'  THEN OrderNo end desc
  
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
