/****** Object:  StoredProcedure [dbo].[GET_NEXT_TRANSFER_OUT_REF_PREV]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_NEXT_TRANSFER_OUT_REF_PREV]  
(@serviceLocation bigint,
@finYearID bigint,
@finYear datetime)  
AS  
     BEGIN  
      DECLARE @AnyRecord bigint  
   DECLARE @NewSeqVal BIGINT;  
      select  @AnyRecord  = count(*) from  [dbo].t_Seq_TransferOut_Prev where ServiceLocation = @serviceLocation  and FinyearID = @finYearID
    
   if( @AnyRecord > 0)  
    begin  
       
     UPDATE [dbo].[t_Seq_TransferOut_Prev]  
       SET  
        @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation  and FinyearID = @finYearID
     SELECT  @NewSeqVal;  
    end  
   else  
   begin  
    declare @existingId bigint
	declare @billno nvarchar(max)
	declare @finYearBegin datetime
	set @finYearBegin = dateadd(day, 1,  dateadd(year, -1, @finYear))

	select top 1 @billno = RefNo from t_TransferOut where
	((CAST(CreateDate as date) >= cast(@finYearBegin as date)) and  (CAST(CreateDate as date) <= cast(@finYear as date)) )  and ServiceLocation = @serviceLocation order by PKID desc
	
	if @billno is null
		begin
			set @existingId = 0
		end
	else
		begin
			
--BAKO0001324-2324
--BAK-TRO-0000108-2425
--BAK-TRO-0001329
				if len(@billno) = 15
				begin
					set @billno = substring(@billno, 9, 7)
					set @existingId = convert(bigint, @billno) 
				end
				else if len(@billno) = 16
				begin
					set @billno = substring(@billno, 5, 7)
					set @existingId = convert(bigint, @billno) 
				end
				else if len(@billno) = 20
				begin
					set @billno = substring(@billno, 9, 7)
					set @existingId = convert(bigint, @billno) 
				end
			
		end
	insert into [dbo].t_Seq_TransferOut_Prev( Seed, Incr, Currval, ServiceLocation, FinyearID) values( 1, 1, @existingId, @serviceLocation, @finYearID)  
     
     UPDATE [dbo].t_Seq_TransferOut_Prev 
       SET  
        @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation  and FinyearID = @finYearID
     SELECT @NewSeqVal;  
   end  
     END;
GO
