/****** Object:  StoredProcedure [dbo].[Update_Item_Price_SEQ]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Update_Item_Price_SEQ]
(
@current bigint
)
as

update t_Seq_ItemPrice set Currval = @current
GO
