/****** Object:  StoredProcedure [dbo].[GetAllSalesReport]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
          
CREATE procedure [dbo].[GetAllSalesReport]                  
(                  
@companyID BigInt,                  
@pageSize int,                  
@pageIndex int,                  
@sortField nvarchar(max),                  
@sortOrder nvarchar(max),                  
@query nvarchar(max),                  
@fromDate datetime,                  
@toDate datetime,                  
@ServiceLocation bigint,                  
@status bigint,                  
@itemSegment bigint = 1  ,              
@delivery bigint = -1              
                  
)                  
As                  
                  
declare @skipRows int = @pageIndex,                  
        @takeRows int = @pageSize,                  
        @count int = 0                  
                  
                  
if( @status = 1 )                  
              
begin                  
 if( @itemSegment = 3)                  
   begin               
   if( @delivery = -1)              
    begin              
     select                   
      it.PKID,                  
      it.BillNo,                  
      it.BillAmountWithoutGST,                  
      it.DiscountTotal,                  
      it.TaxTotal,                  
      it.Miscellaneous,                  
      it.BillDate,                  
                   
      pt.Name as PartyCode,                  
                   
      bt.Name as BillTypeDisplay,                  
      it.Status as Status,                  
      it.AnyReturn as AnyReturn,                  
      it.AllReturn as AllReturn,                  
      it.IsRetail as IsRetail,                  
      it.ReferenceTag as ReferenceTag,                  
      it.Freight,                  
      it.ServiceCharge,                  
      it.TCS,                  
      it.OverAllDiscountPercentage,                  
      'N/A' as Area,                  
      pt.GST as GSTIN,                  
      it.BillType,                  
      pt.ActingRole,                  
      pt.PKID as PartyID  ,                
      it.InState ,              
      it.Delivery,            
   it.CessAmount ,          
   it.CreatedBy,        
   it.RepID as RepID,    
   COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS  ,  
   pt.Email as PartyEmail,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
        
                  
      from t_Sale it                   
      inner join t_Party pt on it.PartyID = pt.PKID                  
      inner join t_BillType bt on bt.PKID = it.BillType    
   left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
        
      where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                  
    end              
   else              
    begin              
              
    select                   
      it.PKID,                  
      it.BillNo,                  
      it.BillAmountWithoutGST,                  
      it.DiscountTotal,                  
      it.TaxTotal,                  
      it.Miscellaneous,                  
      it.BillDate,                  
                   
      pt.Name as PartyCode,                  
                   
      bt.Name as BillTypeDisplay,                  
      it.Status as Status,                  
      it.AnyReturn as AnyReturn,                  
      it.AllReturn as AllReturn,                  
      it.IsRetail as IsRetail,                  
      it.ReferenceTag as ReferenceTag,                  
      it.Freight,                  
      it.ServiceCharge,                  
      it.TCS,                  
      it.OverAllDiscountPercentage,                  
      'N/A' as Area,                  
      pt.GST as GSTIN,                  
      it.BillType,                  
      pt.ActingRole,                  
      pt.PKID as PartyID  ,                
      it.InState ,              
      it.Delivery ,            
   it.CessAmount ,          
   it.CreatedBy,        
   it.RepID as RepID ,    
   COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS ,  
   pt.Email as PartyEmail,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
      from t_Sale it                   
      inner join t_Party pt on it.PartyID = pt.PKID                  
      inner join t_BillType bt on bt.PKID = it.BillType                  
      left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
      where it.Delivery = @delivery and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                  
              
    end              
                 
   end                  
 else                  
   begin                
   if(@delivery = -1)              
    begin              
     select                   
    it.PKID,                  
    it.BillNo,                  
    it.BillAmountWithoutGST,                  
    it.DiscountTotal,                  
    it.TaxTotal,                  
    it.Miscellaneous,                  
    it.BillDate,                  
                   
    pt.Name as PartyCode,                  
                   
    bt.Name as BillTypeDisplay,                  
    it.Status as Status,                  
    it.AnyReturn as AnyReturn,                  
    it.AllReturn as AllReturn,                  
    it.IsRetail as IsRetail,                  
    it.ReferenceTag as ReferenceTag,                  
    it.Freight,                  
    it.ServiceCharge,                  
    it.TCS,                  
    it.OverAllDiscountPercentage,                  
    pa.AreaCode as Area,                  
    pt.GST as GSTIN,                  
    it.BillType,                  
    pt.ActingRole,                  
    pt.PKID as PartyID ,                
    it.InState ,              
    it.Delivery ,            
 it.CessAmount ,          
 it.CreatedBy ,        
 it.RepID as RepID ,    
 COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS  ,  
   pt.Email as PartyEmail ,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
    from t_Sale it                   
    inner join t_Party pt on it.PartyID = pt.PKID                  
    inner join t_Party_Area a on  pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment                  
    inner join t_Rep_Area pa on a.areaid = pa.PKID and  pa.ServiceLocation = @ServiceLocation                  
    inner join t_BillType bt on bt.PKID = it.BillType     
 left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
    where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.ItemSegment = @itemSegment and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                  
    end              
   else              
    begin              
              
    select                   
    it.PKID,                  
    it.BillNo,                  
    it.BillAmountWithoutGST,                  
    it.DiscountTotal,                  
    it.TaxTotal,                  
    it.Miscellaneous,                  
    it.BillDate,                  
                   
    pt.Name as PartyCode,                  
                   
    bt.Name as BillTypeDisplay,                  
    it.Status as Status,                  
    it.AnyReturn as AnyReturn,                  
    it.AllReturn as AllReturn,                  
    it.IsRetail as IsRetail,                  
    it.ReferenceTag as ReferenceTag,                  
    it.Freight,                  
    it.ServiceCharge,                  
    it.TCS,                  
    it.OverAllDiscountPercentage,                  
    pa.AreaCode as Area,                  
    pt.GST as GSTIN,                  
    it.BillType,                  
    pt.ActingRole,                  
    pt.PKID as PartyID ,                
    it.InState ,              
    it.Delivery ,            
 it.CessAmount ,          
 it.CreatedBy,    
 it.RepID as RepID,    
 COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS  ,  
   pt.Email as PartyEmail,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
    from t_Sale it                   
    inner join t_Party pt on it.PartyID = pt.PKID                  
                   
    inner join t_Party_Area a on  pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment                  
    inner join t_Rep_Area pa on a.areaid = pa.PKID and  pa.ServiceLocation = @ServiceLocation                  
    inner join t_BillType bt on bt.PKID = it.BillType     
 left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
                   
                  
    
    where it.Delivery = @delivery and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.ItemSegment = @itemSegment and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) 
   
    
      
        
          
           
                 
    end              
                 
   end                  
 end                  
                  
else if( @status = 2 )                  
begin                  
                  
if( @itemSegment = 3)                  
 begin                  
          
  if(@delivery = -1)              
   begin              
              
   select                   
  it.PKID,                  
  it.BillNo,                  
  it.BillAmountWithoutGST,                  
  it.DiscountTotal,                  
  it.TaxTotal,                  
  it.Miscellaneous,                  
  it.BillDate,                  
                   
  pt.Name as PartyCode,                  
                   
  bt.Name as BillTypeDisplay,                  
  it.Status as Status,                  
  it.AnyReturn as AnyReturn,                  
  it.AllReturn as AllReturn,                  
  it.IsRetail as IsRetail,                  
  it.ReferenceTag as ReferenceTag,                  
  it.Freight,                  
  it.ServiceCharge,                  
  it.TCS,                  
  it.OverAllDiscountPercentage,                  
  'N/A' as Area,                  
  pt.GST as GSTIN,                  
  it.BillType,                  
  pt.ActingRole,                  
  pt.PKID as PartyID  ,                
  it.InState ,              
  it.Delivery ,            
  it.CessAmount ,          
  it.CreatedBy,        
  it.RepID as RepID,    
  COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS  ,  
   pt.Email as PartyEmail,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
  from t_Sale it                   
  inner join t_Party pt on it.PartyID = pt.PKID                  
                   
                   
                   
  inner join t_BillType bt on bt.PKID = it.BillType      
  left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
                   
                  
  --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
  where it.CompanyID = @companyID and it.Status = 1 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                   
              
   end              
  else              
   begin              
              
   select                   
  it.PKID,                  
  it.BillNo,                  
  it.BillAmountWithoutGST,                  
  it.DiscountTotal,                  
  it.TaxTotal,                  
  it.Miscellaneous,                  
  it.BillDate,                  
                   
  pt.Name as PartyCode,                  
                   
  bt.Name as BillTypeDisplay,                  
  it.Status as Status,                  
  it.AnyReturn as AnyReturn,                  
  it.AllReturn as AllReturn,                  
  it.IsRetail as IsRetail,                  
  it.ReferenceTag as ReferenceTag,                  
  it.Freight,                  
  it.ServiceCharge,                  
  it.TCS,                  
  it.OverAllDiscountPercentage,                  
  'N/A' as Area,                  
  pt.GST as GSTIN,                  
  it.BillType,                  
  pt.ActingRole,                  
  pt.PKID as PartyID  ,                
  it.InState  ,              
  it.Delivery ,            
  it.CessAmount ,          
  it.CreatedBy,        
  it.RepID as RepID,    
  COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS  ,  
   pt.Email as PartyEmail  ,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
  from t_Sale it                   
  inner join t_Party pt on it.PartyID = pt.PKID                  
                   
                   
                   
  inner join t_BillType bt on bt.PKID = it.BillType         
  left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
                   
                  
  --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
  where it.Delivery = @delivery and it.CompanyID = @companyID and it.Status = 1 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                   
              
   end              
                
                  
 end                  
else                  
 begin                  
                  
  if(@delivery = -1)              
   begin              
    select                   
  it.PKID,                  
  it.BillNo,                  
  it.BillAmountWithoutGST,                  
  it.DiscountTotal,                  
  it.TaxTotal,                  
  it.Miscellaneous,                  
  it.BillDate,                  
                   
  pt.Name as PartyCode,                  
                   
  bt.Name as BillTypeDisplay,                  
  it.Status as Status,                  
  it.AnyReturn as AnyReturn,                  
  it.AllReturn as AllReturn,                  
  it.IsRetail as IsRetail,                  
  it.ReferenceTag as ReferenceTag,                  
  it.Freight,                  
  it.ServiceCharge,                  
  it.TCS,                  
  it.OverAllDiscountPercentage,                  
  pa.AreaCode as Area,                  
  pt.GST as GSTIN,                  
  it.BillType,                  
  pt.ActingRole,                  
  pt.PKID as PartyID  ,                
  it.InState ,              
  it.Delivery ,            
  it.CessAmount ,          
  it.CreatedBy,        
  it.RepID as RepID,    
  COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS,  
   pt.Email as PartyEmail,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
  from t_Sale it                   
  inner join t_Party pt on it.PartyID = pt.PKID                  
  inner join t_Party_Area a on  pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment                  
  inner join t_Rep_Area pa on a.areaid = pa.PKID and  pa.ServiceLocation = @ServiceLocation                  
                   
                   
  inner join t_BillType bt on bt.PKID = it.BillType                  
   left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1                    
                  
  --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
  where it.CompanyID = @companyID and it.Status = 1 and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)              
  
   end              
  else              
   begin              
              
   select                   
  it.PKID,                  
  it.BillNo,                  
  it.BillAmountWithoutGST,                  
  it.DiscountTotal,                  
  it.TaxTotal,                  
  it.Miscellaneous,                  
  it.BillDate,              
                   
  pt.Name as PartyCode,                  
                   
  bt.Name as BillTypeDisplay,                  
  it.Status as Status,                  
  it.AnyReturn as AnyReturn,                  
  it.AllReturn as AllReturn,                  
  it.IsRetail as IsRetail,                  
  it.ReferenceTag as ReferenceTag,                  
  it.Freight,                  
  it.ServiceCharge,                  
  it.TCS,                  
  it.OverAllDiscountPercentage,                  
  pa.AreaCode as Area,                  
  pt.GST as GSTIN,                  
  it.BillType,                  
  pt.ActingRole,                
  pt.PKID as PartyID  ,                
  it.InState,              
  it.Delivery  ,            
  it.CessAmount ,          
  it.CreatedBy,        
  it.RepID as RepID ,    
  COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS,  
   pt.Email as PartyEmail ,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
  from t_Sale it                   
  inner join t_Party pt on it.PartyID = pt.PKID                  
  inner join t_Party_Area a on  pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment                  
  inner join t_Rep_Area pa on a.areaid = pa.PKID and  pa.ServiceLocation = @ServiceLocation                  
                   
                   
  inner join t_BillType bt on bt.PKID = it.BillType                  
   left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1                    
                  
  --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
  where it.Delivery = @delivery and it.CompanyID = @companyID and it.Status = 1 and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                
   end                    
 end                  
                  
                  
                  
                   
                   
end                  
else if( @status = 3)                  
begin                  
                  
                  
if( @itemSegment = 3)                   
 begin                  
 if(@delivery = -1)              
  begin              
   select                   
 it.PKID,                  
 it.BillNo,                  
 it.BillAmountWithoutGST,                  
 it.DiscountTotal,                  
 it.TaxTotal,                  
 it.Miscellaneous,                  
 it.BillDate,                  
                   
 pt.Name as PartyCode,                  
                   
 bt.Name as BillTypeDisplay,                  
 it.Status as Status,                  
 it.AnyReturn as AnyReturn,                  
 it.AllReturn as AllReturn,                  
 it.IsRetail as IsRetail,                  
 it.ReferenceTag as ReferenceTag,                  
 it.Freight,                  
 it.ServiceCharge,                  
 it.TCS,                  
 it.OverAllDiscountPercentage,                  
 'N/A' as Area,                  
 pt.GST as GSTIN,                  
 it.BillType,                  
 pt.ActingRole,                  
 pt.PKID as PartyID  ,                
 it.InState ,              
 it.Delivery ,            
 it.CessAmount ,          
 it.CreatedBy,        
 it.RepID as RepID ,    
 COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS,  
   pt.Email as PartyEmail ,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
 from t_Sale it                   
 inner join t_Party pt on it.PartyID = pt.PKID                  
                   
                   
 inner join t_BillType bt on bt.PKID = it.BillType                  
left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1                       
                  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
 where it.CompanyID = @companyID and it.Status = 0 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                   
               
  end              
 else              
  begin              
              
   select                   
 it.PKID,                  
 it.BillNo,                  
 it.BillAmountWithoutGST,                  
 it.DiscountTotal,                  
 it.TaxTotal,                  
 it.Miscellaneous,                  
 it.BillDate,                  
                   
 pt.Name as PartyCode,                  
                   
 bt.Name as BillTypeDisplay,                  
 it.Status as Status,                  
 it.AnyReturn as AnyReturn,                  
 it.AllReturn as AllReturn,                  
 it.IsRetail as IsRetail,                  
 it.ReferenceTag as ReferenceTag,                  
 it.Freight,                  
 it.ServiceCharge,                  
 it.TCS,                
 it.OverAllDiscountPercentage,                  
 'N/A' as Area,                  
 pt.GST as GSTIN,                  
 it.BillType,                  
 pt.ActingRole,                  
 pt.PKID as PartyID  ,                
 it.InState ,              
 it.Delivery,            
 it.CessAmount,          
 it.CreatedBy,        
 it.RepID as RepID ,    
 COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS ,  
   pt.Email as PartyEmail ,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
 from t_Sale it                   
 inner join t_Party pt on it.PartyID = pt.PKID                  
                   
                   
 inner join t_BillType bt on bt.PKID = it.BillType                  
                   
   left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1                   
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
 where it.delivery = @delivery and it.CompanyID = @companyID and it.Status = 0 and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                   
               
  end              
                  
 end                  
else                  
 begin                  
   if(@delivery = -1)              
    begin              
   select                   
 it.PKID,                  
 it.BillNo,                  
 it.BillAmountWithoutGST,                  
 it.DiscountTotal,                  
 it.TaxTotal,                  
 it.Miscellaneous,                  
 it.BillDate,                  
                   
 pt.Name as PartyCode,                  
                  
 bt.Name as BillTypeDisplay,                  
 it.Status as Status,                  
 it.AnyReturn as AnyReturn,                  
 it.AllReturn as AllReturn,                  
 it.IsRetail as IsRetail,                  
 it.ReferenceTag as ReferenceTag,                  
 it.Freight,                  
 it.ServiceCharge,                  
 it.TCS,                  
 it.OverAllDiscountPercentage,                  
 pa.AreaCode as Area,                  
 pt.GST as GSTIN,                  
 it.BillType,                  
 pt.ActingRole,                  
 pt.PKID as PartyID,                
 it.InState,              
 it.Delivery ,            
 it.CessAmount ,          
 it.CreatedBy,        
 it.RepID as RepID ,    
 COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS,  
   pt.Email as PartyEmail ,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
 from t_Sale it                   
 inner join t_Party pt on it.PartyID = pt.PKID                  
 inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment                  
 inner join t_Rep_Area pa on a.areaid = pa.PKID and  pa.ServiceLocation = @ServiceLocation                  
                   
 inner join t_BillType bt on bt.PKID = it.BillType                  
 left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
                  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)                   
 where it.CompanyID = @companyID and it.Status = 0 and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)               
 
    
    end              
   else              
    begin              
              
    select                   
 it.PKID,                  
 it.BillNo,                  
 it.BillAmountWithoutGST,                  
 it.DiscountTotal,                  
 it.TaxTotal,                  
 it.Miscellaneous,                  
 it.BillDate,                  
                   
 pt.Name as PartyCode,                  
                   
 bt.Name as BillTypeDisplay,                  
 it.Status as Status,                  
 it.AnyReturn as AnyReturn,                  
 it.AllReturn as AllReturn,                  
 it.IsRetail as IsRetail,                  
 it.ReferenceTag as ReferenceTag,                  
 it.Freight,                  
 it.ServiceCharge,                  
 it.TCS,                  
 it.OverAllDiscountPercentage,                  
 pa.AreaCode as Area,                  
 pt.GST as GSTIN,                  
 it.BillType,                  
 pt.ActingRole,                  
 pt.PKID as PartyID,                
 it.InState,              
 it.Delivery ,            
 it.CessAmount,          
 it.CreatedBy,        
 it.RepID as RepID,    
 COALESCE(co.Email, 0) as Email,        
   COALESCE(co.SMS, 0) as SMS,  
   pt.Email as PartyEmail,
   AckNo as AckNo,
   AckDate as AckDate,
   IRN as IRN,
   AntiFakeCode as AntiFakeCode
                  
 from t_Sale it                   
 inner join t_Party pt on it.PartyID = pt.PKID                  
 inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment                  
 inner join t_Rep_Area pa on a.areaid = pa.PKID and  pa.ServiceLocation = @ServiceLocation                  
                   
 inner join t_BillType bt on bt.PKID = it.BillType      
 left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1        
 where it.Delivery = @delivery and it.CompanyID = @companyID and it.Status = 0 and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)                  
              
    end              
                 
 end                  
                  
                  
                   
                   
end
GO
