/****** Object:  StoredProcedure [dbo].[GetVendorGroupMembers]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[GetVendorGroupMembers]
( 
@vendorId bigint
)
As

;WITH cte AS (
    SELECT [pkID]
       ,OwnedBy
    FROM t_Party
    WHERE [pkID] = @vendorId


    UNION ALL

    SELECT
       t.pkId
       ,t.OwnedBy
    FROM
       t_Party t
       INNER JOIN cte c
       ON t.OwnedBy = c.pkId
)

SELECT *
FROM cte
GO
