/****** Object:  StoredProcedure [dbo].[GetAllSearchableOnlyItem]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllSearchableOnlyItem]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@query nvarchar(max),  
@location bigint  
  
)  
As  
  
  
  
declare @skipRows int = @pageIndex,  
        @takeRows int = @pageSize,  
        @count int = 0  
  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.PKID as ItemID,  
 it.Code as ItemCode,  
 it.Description as ItemDescription,  
 tc.Percentage as Tax,  
 tc.PKID as TaxCategory,  
 ic.Code as Company
    
 from t_Item it   
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID  

 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID  
  
 where it.IsActive = 1 and it.CompanyID = @companyID and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))  
   
)  
  
SELECT   
 PKID,  
   ItemID,  
  ItemCode,  
   ItemDescription,  
   Tax,  
  TaxCategory,  
   Company,
     
   
      tCountOrders.CountOrders AS TotalRows   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY ItemCode asc  
   
     
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;
GO
