/****** Object:  StoredProcedure [dbo].[GetAllPurchaseRegisterReport]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    
CREATE procedure [dbo].[GetAllPurchaseRegisterReport]        
(        
@companyID BigInt,        
        
@fromDate datetime,        
@toDate datetime,        
@ServiceLocation bigint,        
@type bigint        
)        
As        
        
        
        
        
if ( @type = 1 )        
begin        
        
        
        
        
select         
 it.PKID,        
 it.BillNo,        
 it.BillAmount,        
 it.TotalDiscount,        
 it.TaxTotal,        
 it.Miscellaneous,        
 it.BillDate,        
 it.EnteredDate,        
 pt.Name as PartyCode,        
 inst.Name as InstateDisplay,        
 bt.Name as BillTypeDisplay,        
 it.Status as Status,        
 it.AnyReturn as AnyReturn,        
 it.AllReturn as AllReturn,        
 it.TCS,        
 it.Freight,        
 pt.GST as GSTIN,        
 pt.PKID as PartyID ,      
 it.InState ,    
 it.FreightGSTPercentage ,  
 it.PurchaseRefNo,
 it.IsEInvoiceCompleted
        
 from t_Purchase it         
 inner join t_Party pt on it.PartyID = pt.PKID        
 inner join t_InState inst on inst.PKID = it.InState        
 inner join t_BillType bt on bt.PKID = it.BillType        
         
        
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)         
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)        
         
        
        
end        
else        
begin        
        
select         
 it.PKID,        
 it.BillNo,        
 it.BillAmount,        
 it.TotalDiscount,        
 it.TaxTotal,        
 it.Miscellaneous,        
 it.BillDate,        
 it.EnteredDate,        
 pt.Name as PartyCode,        
 inst.Name as InstateDisplay,        
 bt.Name as BillTypeDisplay,        
 it.Status as Status,        
 it.AnyReturn as AnyReturn,        
 it.AllReturn as AllReturn,        
 TCS,        
 Freight,        
 pt.GST as GSTIN,        
 pt.PKID as PartyID  ,      
 it.InState  ,    
 it.FreightGSTPercentage,  
 it.PurchaseRefNo ,
 it.IsEInvoiceCompleted
        
 from t_Purchase it         
 inner join t_Party pt on it.PartyID = pt.PKID        
 inner join t_InState inst on inst.PKID = it.InState        
 inner join t_BillType bt on bt.PKID = it.BillType        
         
        
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)         
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)        
         
        
        
end
GO
