/****** Object:  StoredProcedure [dbo].[GET_NEXT_TAX_CATEGORY]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GET_NEXT_TAX_CATEGORY]
AS

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_TaxCategory]
 UPDATE [t_Seq_TaxCategory] SET [current] = @NextNumber

 Select @NextNumber
GO
