/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemSleekForSale]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllSearchableItemSleekForSale]                
(                
@companyID BigInt,                
@pageSize int,                
@pageIndex int,                
@query nvarchar(max),                
@location bigint,                
@includeZero bit,                
@isFullTextSearch bit                
                
)                
As                
                
                
                
                
if (@includeZero = 1)                
                
  begin                
                
                   
                
select top 50                 
 it.PKID,                
 it.PKID as ItemID,                
 it.Code as ItemCode,                
 it.Description as ItemDescription,                
 it.IsBatchwise as IsBatchwise,                
 tc.Percentage as Tax,                
 tc.PKID as TaxCategory,                
 it.AllowRateEdit as AllowRateEdit,                
 it.AllowLoyality as AllowLoyality,                
 ist.ClosingQty  as  ClosingQty,                
 ist.CostPrice  as  CostPrice,                
 ist.MRP  as  MRP,                
                 
 ist.OpeningQty as  OpeningQty,                
 ist.SellingPrice  as  SellingPrice,                
                 
 ic.Code as Company,                
                
 ist.ClosingQty as  InStockQty,                
                 
 ist.DamageQty  as  DamageQty,                
                
 ist.NoStockQty  as  NoStockQty,                
                
                 
 ist.RegionalStockistPrice  as  RegionalStockistPrice,                
                
                 
 ist.SuperStockistPrice  as  SuperStockistPrice,                
                
                 
 ist.StockistPrice  as  StockistPrice,                
                
                 
 ist.DistributorPrice  as  DistributorPrice,                
                
                 
 ist.SubDistributorPrice  as  SubDistributorPrice,                
                
                 
 ist.SuperRetailerPrice  as  SuperRetailerPrice,                
                
                 
 ist.RetailerPrice  as  RetailerPrice,                
                
 it.AllotmentPercentage as AllotmentPercentage,                
 It.ItemStatus as ItemStatus,                
 it.IsInclusiveOfTax as IsInclusiveOfTax,                
 ist.FMCGRate as FMCGRate  ,              
 ic.ZeroDiscount ,            
 it.CessPercentage ,           
 it.Units,          
 uom.Code,      
 ist.SaleReturnAreaQty  as  SaleReturnAreaQty ,    
 ic.PKID as ItemCompanyID ,  
 COALESCE(uom2.PKID, -1) as UOM2ID,  
 COALESCE(uom2.Code, '') as UOM2Code,
 tc.Name as TaxDescription
  
  
 from t_Item it             
 inner join t_UOM uom on it.UOMId = uom.PKID               
           
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID                
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location                
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID                
 left join t_UOM uom2 on it.UOM2 = uom2.PKID  
   
 where it.ShouldShowInSaleBill = 1 and it.IsActive = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query )  or  (it.Description like @query  ) or ( it.Barcode = @query))                
                 
                
                
  end                
else                
begin                
                
                  
select top 50                 
 it.PKID,                
 it.PKID as ItemID,                
 it.Code as ItemCode,                
 it.Description as ItemDescription,                
 it.IsBatchwise as IsBatchwise,                
 tc.Percentage as Tax,                
 tc.PKID as TaxCategory,                
 ist.ClosingQty as ClosingQty,                
 ist.CostPrice as CostPrice,                
 ist.MRP as MRP,                
 ist.OpeningQty as OpeningQty,                
 ist.SellingPrice as SellingPrice,                
 ic.Code as Company,                
 ist.ClosingQty as InStockQty,                
 ist.DamageQty as DamageQty,                
 ist.NoStockQty as NoStockQty,                
 ist.RegionalStockistPrice as RegionalStockistPrice,                
 ist.SuperStockistPrice as SuperStockistPrice,                
 ist.StockistPrice as StockistPrice,                
 ist.DistributorPrice as DistributorPrice,                
 ist.SubDistributorPrice as SubDistributorPrice,                
 ist.SuperRetailerPrice as SuperRetailerPrice,                
 ist.RetailerPrice as RetailerPrice,                
 it.AllotmentPercentage as AllotmentPercentage,                
 It.ItemStatus as ItemStatus,                
 it.IsInclusiveOfTax as IsInclusiveOfTax,                
 it.AllowRateEdit as AllowRateEdit,                
 it.AllowLoyality as AllowLoyality,                
 ist.FMCGRate as FMCGRate ,              
 ic.ZeroDiscount,            
 it.CessPercentage,          
 it.Units,          
 uom.Code,      
 ist.SaleReturnAreaQty  as  SaleReturnAreaQty,    
 ic.PKID as ItemCompanyID,  
 COALESCE(uom2.PKID, -1) as UOM2ID,  
 COALESCE(uom2.Code, '') as UOM2Code,
 tc.Name as TaxDescription
         
 from t_Item it             
 inner join t_UOM uom on it.UOMId = uom.PKID               
              
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID                
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location and ist.ClosingQty > 0                
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID                
 left join t_UOM uom2 on it.UOM2 = uom2.PKID             
 where it.ShouldShowInSaleBill = 1 and it.IsActive = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query )  or  (it.Description like @query   ) or ( it.Barcode = @query))                
                
                
end
GO
