/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemBatchwiseForSaleReturn]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllSearchableItemBatchwiseForSaleReturn]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@query nvarchar(max),  
@location bigint  
  
)  
As  
  
  
  
  
select  top 50  
 it.PKID,  
 it.PKID as ItemID,  
 it.Code as ItemCode,  
 it.Description as ItemDescription,  
 it.IsBatchwise as IsBatchwise,  
 tc.Percentage as Tax,  
 tc.PKID as TaxCategory,  
 COALESCE(bst.BoughtQty, '0') as BBoughtQty,  
 COALESCE(bst.SoldQty, '0') as BSoldQty,  
 COALESCE(bst.BatchNo, '') as BBatchNo,  
 COALESCE(bst.Expiry, '') as BExpiry,  
 COALESCE(bst.Scheme, '0') as BScheme,  
 COALESCE(bst.ShemeQty, '0') as BSchemeQty,  
 COALESCE(bst.MRP, '0') as BMRP,  
 COALESCE(bst.CostPrice, '0') as BCostPrice,  
 COALESCE(bst.SellingPrice, '0') as BSellingPrice,  
   
 COALESCE(ist.ClosingQty, '0') as ClosingQty,  
 COALESCE(ist.CostPrice, '0') as CostPrice,  
 COALESCE(ist.MRP, '0') as MRP,  
 COALESCE(ist.OpeningQty, '0') as OpeningQty,  
 COALESCE(ist.SellingPrice, '0') as SellingPrice,  
  
 ic.Code as Company,
 tc.Name as TaxDescription
   
 from t_Item it   
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID  
 LEFT join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location  
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID  
 left join t_BatchwiseStock bst on it.PKID = bst.ItemID and bst.ServiceLocation = @location  
  
 --where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 and bst.Type = 1 and ( DATEDIFF(dd, GETDATE(), bst.Expiry) > 90) ))   and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))  
 where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 )) and  ((  it.Code like + '%' + @query + '%')  or  (it.Description like + '%' + @query + '%'  ))
GO
