/****** Object:  StoredProcedure [dbo].[GetReceiptsByClearDate]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE procedure [dbo].[GetReceiptsByClearDate]  
(  
@companyID BigInt,  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@itemSegment bigint = 1  
  
)  
As  
   
  
select distinct  
 it.PKID,  
 it.ReceiptNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 ac.Name as AccountParty,  
 it.Clear,  
 it.ClearDate,  
 it.Status,  
   
 it.CreatedBy as CreatedBy  
 --COALESCE(rc.ChequeNumber, 'N/A') as ChequeNo  
 --COALESCE(rptdetail.BillNo, 'N/A') as BillNo  
   
   
 from t_Receipt it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_Party ac on it.PartyAccount = ac.PKID  
 --left join t_ReceiptChequeDetail rc on it.PKID = rc.ReceiptID  
 --inner join t_ReceiptDetail rptdetail on it.PKID = rptdetail.ReceiptID  
  
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation --and ( (it.ReceiptNo like @query )  or  (pt.Name like @query ))  
 and CAST(it.ClearDate as date) >= CAST(@fromDate as date)  and  CAST(it.ClearDate as date) <= CAST(@toDate as date)
GO
