/****** Object:  StoredProcedure [dbo].[GET_NEXT_TRANSFERIN_DETAIL]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 Create PROCEDURE [dbo].[GET_NEXT_TRANSFERIN_DETAIL]
AS
     BEGIN
         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_TransferInDetail]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;
     END;
GO
