/****** Object:  StoredProcedure [dbo].[CreateFinancialYear]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[CreateFinancialYear]
(
@companyID bigint
)
As

--1. Update party balances..
update t_Party set OpeningBalance = ClosingBalance where CompanyID = @companyID and GroupID in ( 6, 8, 11, 14, 15, 13, 12, 10, 9, 4 )

update t_Party set OpeningBalance = 0, ClosingBalance = 0 where CompanyID = @companyID and GroupID not in ( 6, 8, 11, 14, 15, 13, 12, 10, 9, 4 )

--2. Reset the Id's

delete from t_SaleReturnDetail
delete from t_SaleReturnSaleBill

--delete from t_SaleDetail
--delete from t_SaleCreditNote
--delete from t_SaleHistory
--delete from t_SaleBillPaymentDetail
--delete from t_Sale

--delete from t_PurchaseDetail
--delete from t_Purchase

delete from t_SaleReturnDetail
delete from t_SaleReturn

delete from t_MaterialReceiveDetail
delete from t_MaterialReceive

delete from t_MaterialIssueDetail
delete from t_MaterialIssue

delete from t_PurchaseReturnDetail
delete from t_PurchaseReturn

delete from t_TransferInDetail
delete from t_TransferIn

delete from t_TransferOutDetail

delete from t_Transfer
delete from t_TransferOut

delete from t_PurchaseOrderDetail
delete from t_SupplierStatistics
delete from t_PurchaseOrder


delete from t_DatewiseAccount
delete from t_DatewiseItem


update t_Seq_BillBookRef set Currval = 0
--update t_Seq_CreditNote set Curr = 0
update t_Seq_DatewiseAccount set Currval = 0
update t_Seq_Entry set Currval = 0
update t_Seq_Entry_Detail set Currval = 0
update t_Seq_Entry_Ref set Currval = 0
update t_Seq_GRN_Ref set Currval = 0
update t_Seq_MaterialIssue set Currval = 0
update t_Seq_MaterialIssueDetail set Currval = 0
update t_Seq_MaterialReceive set Currval = 0
update t_Seq_MaterialReceiveDetail set Currval = 0
update t_Seq_MatissueRef set Currval = 0
update t_Seq_MatReceiveRef set Currval = 0
update t_Seq_Payment set Currval = 0
update t_Seq_Payment_Detail set Currval = 0
update t_Seq_Payment_Ref set Currval = 0
--update t_Seq_Purchase set Currval = 0
update t_Seq_Purchase_Return set Currval = 0
update t_Seq_Purchase_Return_Ref set Currval = 0
update t_Seq_Purchase_ReturnDetial set Currval = 0
--update t_Seq_PurchaseDetail set Currval = 0

--update t_Seq_Receipt_Detail set Currval = 0
update t_Seq_Receipt_Ref set Currval = 0
--update t_Seq_Sale set Currval = 0
--update t_Seq_SaleDetail set Currval = 0
update t_Seq_SaleReturn set Currval = 0
update t_Seq_SaleReturnDetail set Currval = 0
update t_Seq_Sales_Return set Currval = 0
update t_Seq_Transfer_Order_Ref set Currval = 0
update t_Seq_Voucher_Ref set Currval = 0


update t_Seq_DatewiseAccount set Currval = 0
update t_Seq_t_DatewiseItem set Currval = 0


--3. Remove in active party




--delete from t_SaleDetail where SaleID in (select pkid from t_Sale where PartyID in ( select pkid from t_Party where IsActive = 0))

--delete from t_SaleCreditNote where SalesID in  (select pkid from t_Sale where PartyID in ( select pkid from t_Party where IsActive = 0))

--delete from t_Sale where PartyID in ( select pkid from t_Party where IsActive = 0)


--delete from t_PendingSale where Party in ( select pkid from t_Party where IsActive = 0)

--delete from t_ReceiptDetail where ReceiptID in (select PKID from t_Receipt where PartyID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_Receipt where PartyID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_SaleOrderDetail where SaleOrderID in (select PKID from t_SaleOrder where PartyID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_SaleOrder where PartyID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_SupplierStatistics where SupplierID in  ( select pkid from t_Party where IsActive = 0)

--delete from t_PurchaseOrderDetail where PurchaseOrderID in (select PKID from t_PurchaseOrder where SupplierID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_PurchaseOrder where SupplierID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_NoShow where PartyID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_SaleReturnDetail where SaleReturnID in (select PKID from t_SaleReturn where PartyID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_SaleReturn where PartyID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_PendingNote where PartyID in  ( select pkid from t_Party where IsActive = 0)



--delete from t_EntryDetail where EntryID in (select PKID from t_Entry where PartyID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_Entry where PartyID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_VoucherDetail where VoucherID in (select PKID from t_Voucher where PartyID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_Voucher where PartyID in  ( select pkid from t_Party where IsActive = 0)




--delete from t_PaymentDetail where PaymentID in (select PKID from t_Payment where PartyID in  ( select pkid from t_Party where IsActive = 0))

--delete from t_Payment where PartyID in  ( select pkid from t_Party where IsActive = 0)


--delete from t_VoucherDetail where DebitPartyID in ( select pkid from t_Party where IsActive = 0)


--delete from t_Party where IsActive = 0


delete from t_BatchwiseStock where BoughtQty = SoldQty and  isnull( DamageQty,0) = 0 and isnull( NoStockQty,0) = 0

update t_ItemwiseStock set OpeningQty = 0


DECLARE @CursorServiceLocation BIGINT;
DECLARE @CursorItemID BIGINT;

DECLARE CUR_LOCATION CURSOR FAST_FORWARD FOR
   select PKID from t_ServiceLocation;
 
OPEN CUR_LOCATION
FETCH NEXT FROM CUR_LOCATION INTO @CursorServiceLocation
 
WHILE @@FETCH_STATUS = 0
BEGIN

			DECLARE CUR_ITEM CURSOR FAST_FORWARD FOR
			   select PKID from t_Item;
 
			OPEN CUR_ITEM
			FETCH NEXT FROM CUR_ITEM INTO @CursorItemID
 
			WHILE @@FETCH_STATUS = 0
				BEGIN

					delete from t_BatchwiseOpeningStock where ItemID = @CursorItemID AND  ServiceLocation = @CursorServiceLocation and BatchNo in ( select BatchNo from t_BatchwiseStock where BoughtQty = SoldQty and ServiceLocation = @CursorServiceLocation and ItemID = @CursorItemID)
				    --Those where there is live stock, update the opening stock and itemwise stock..
					
					
					--Batchwise cursor..
					DECLARE @CursorBatchNo nvarchar(max);

					DECLARE CUR_BATCH CURSOR FAST_FORWARD FOR
					select batchno from t_BatchwiseStock where ItemID = @CursorItemID and ServiceLocation = @CursorServiceLocation and BoughtQty != SoldQty;

					OPEN CUR_BATCH
					FETCH NEXT FROM CUR_BATCH INTO @CursorBatchNo
 
					WHILE @@FETCH_STATUS = 0
						BEGIN
							
							declare @qty decimal(18,3)
							declare @damageQty decimal(18,3)
							declare @nostockQty decimal(18,3)

							select @qty = (BoughtQty - SoldQty) , @damageQty = DamageQty ,@nostockQty =  NoStockQty from t_BatchwiseStock where ItemID = @CursorItemID and ServiceLocation = @CursorServiceLocation and BatchNo = @CursorBatchNo and BoughtQty != SoldQty

							if( @qty is null)
							BEGIN
								set @qty = 0
							END
							if( @damageQty is null)
							BEGIN
								set @damageQty = 0
							END
							if( @nostockQty is null)
							BEGIN
								set @nostockQty = 0
							END
							update t_BatchwiseOpeningStock set Qty = @qty , OpeningDamageQty = @damageQty, OpeningNoStockQty = @nostockQty where ItemID = @CursorItemID and ServiceLocation = @CursorServiceLocation and BatchNo = @CursorBatchNo
							
							FETCH NEXT FROM CUR_BATCH INTO @CursorBatchNo
						END
					CLOSE CUR_BATCH
					DEALLOCATE CUR_BATCH
					
					--Update the itemstock..
					declare @totQty decimal(18,3)
					select @totQty = sum((BoughtQty - SoldQty +  ISNULL( DamageQty, 0) + isnull( NoStockQty, 0))) , @damageQty = sum(ISNULL( DamageQty, 0)), @nostockQty = sum(ISNULL( NoStockQty, 0))  from t_BatchwiseStock where ItemID = @CursorItemID and ServiceLocation = @CursorServiceLocation

					if( @totQty is null)
					BEGIN
						set @totQty = 0
					END

					update t_ItemwiseStock set OpeningQty = @totQty, ClosingQty = 0, DamageQty = @damageQty, NoStockQty = NoStockQty where ItemId = @CursorItemID and ServiceLocation = @CursorServiceLocation

			
					FETCH NEXT FROM CUR_ITEM INTO @CursorItemID
				END
			CLOSE CUR_ITEM
			DEALLOCATE CUR_ITEM

   FETCH NEXT FROM CUR_LOCATION INTO @CursorServiceLocation
END
CLOSE CUR_LOCATION
DEALLOCATE CUR_LOCATION

update t_ItemwiseStock set ClosingQty = OpeningQty


--delete from t_PendingSale where ReceiptID > 0

delete from t_ReceiptDetail 
delete from t_Receipt



--delete from t_PendingPurchase where Status in ( 'C', 'U')

--delete from t_PendingNote where BillNo is not null

delete from t_VoucherDetail
delete from t_Voucher

delete from t_EntryDetail
delete from t_Entry


delete from t_PaymentDetail
delete from t_Payment


--update t_Seq_Receipt set Currval = 0
--update t_Seq_Receipt_Detail set Currval = 0


update  t_Seq_Payment set Currval = 0

update  t_Seq_Payment_Detail set Currval = 0

update t_Seq_Voucher_Detail set Currval = 0
update  t_Seq_Voucher set Currval = 0

update t_Seq_Entry_Detail set Currval = 0
update t_Seq_Entry set Currval = 0


delete from t_SaleOrderDetail where SaleOrderID in ( select PKID  from t_SaleOrder where ( Clear = 1 or Status = 0))
delete from t_SaleOrder where Clear = 1 or Status = 0
GO
