/****** Object:  StoredProcedure [dbo].[GetAllSalesOrderInRequestByArea]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE procedure [dbo].[GetAllSalesOrderInRequestByArea]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@sortField nvarchar(max),  
@sortOrder nvarchar(max),  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@area bigint,
@itemSegment bigint = 1

  
)  
As  
  
  
  
declare @skipRows int = @pageIndex,  
        @takeRows int = @pageSize,  
        @count int = 0  
  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 sr.Name as ServiceLocation,  
 pa.AreaName,  
 pa.PKID as AreaID,  
 it.Status,  
 it.Clear  
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_ServiceLocation sr on it.ServiceLocation = sr.PKID  
 inner join t_Party_Area a on  pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation
 inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.PKID = @area
 where it.CompanyID = @companyID and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and it.IsDraft = 0 and it.Status = 1 and ( (it.OrderNo like @query )  or  (pt.Name like @query )  
 or  (pa.AreaName like @query ))  
 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date)   
   
)  
  
SELECT   
     PKID,  
  OrderNo,  
  Amount,  
  Date,  
  Party,  
  AreaName,  
  AreaID,  
  ServiceLocation,  
  tCountOrders.CountOrders AS TotalRows,  
  Status,  
  Clear  
   
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,  
    
   
  case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc  
   
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;
GO
