/****** Object:  StoredProcedure [dbo].[sp_GetNISReportToRespond]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------Reminder Letter---------------------


----------------------NIS Report------------------------

CREATE PROCEDURE [dbo].[sp_GetNISReportToRespond]
(
 @Year INT,
 @Month INT
)
AS
BEGIN
 SET NOCOUNT ON;

 ;WITH LatestInstalledMeter AS
 (
 SELECT *,
 ROW_NUMBER() OVER (
 PARTITION BY MeterNum
 ORDER BY ModifiedDate DESC
 ) AS RN
 FROM t_InstalledMeter
 )
 SELECT
 ROW_NUMBER() OVER (ORDER BY c.NISReportedDate) AS No,
 c.NISReportedDate AS MRRDate,
 c.ProformaIssueDate AS EmailedOn,

 CAST(c.ConsumerNum AS VARCHAR) + '-' + p.CheckDigit AS AccountNumber,
 c.NISMeterLocation AS Address,
 c.CaseRemarks AS Remark,
 c.NISMeterNumTxt AS MeterNo,

 CASE 
 WHEN am.Name = 'Disconnected' THEN im.ModifiedDate
 ELSE NULL
 END AS DisconnectionDate,

 c.NISCurrentRdg AS Reading,
 u.FirstName AS DoneBy,
 '' AS AcknowledgeByMgmt

 FROM t_NISCase c

 LEFT JOIN t_ConsumerAccount ca ON ca.ConsumerNum = c.ConsumerNum

 LEFT JOIN t_Party p ON p.PKID = ca.PKID

 LEFT JOIN LatestInstalledMeter im ON im.MeterNum = c.ConsumerNum AND im.RN = 1

 LEFT JOIN t_AllMaster am ON am.PKID = im.InstalledMeterStatus

 LEFT JOIN t_User u ON u.PKID = c.CreatedByUser

 WHERE 
 YEAR(c.NISReportedDate) = @Year
 AND MONTH(c.NISReportedDate) = @Month
 AND c.IsActive = 1

 ORDER BY c.NISReportedDate;
END
GO
