/****** Object:  StoredProcedure [dbo].[GET_NEXT_CYL_CONSUMER_TARIFF]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[GET_NEXT_CYL_CONSUMER_TARIFF]
	AS
		 BEGIN
			 DECLARE @NewSeqVal BIGINT;
			 UPDATE [dbo].[t_Seq_CylConsumerTariff]
			   SET
				   @NewSeqVal = CurrVal = CurrVal + Incr;
			 SELECT @NewSeqVal;
		 END;
GO
