/****** Object:  StoredProcedure [dbo].[GET_NEXT_BILL_BOOK_REF]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_NEXT_BILL_BOOK_REF]
(@serviceLocation bigint,
@BillBook bigint)
AS
     BEGIN

		 declare @count bigint
		 select @count = count(*) from t_Seq_BillBookRef where ServiceLocation = @serviceLocation and BillBook = @BillBook
		 if  @count = 0 
		 begin

		  insert into t_Seq_BillBookRef(Seed, Incr, Currval, ServiceLocation, BillBook)
		  values(1, 1,0, @serviceLocation, @BillBook)

		 end

         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_BillBookRef]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation and BillBook = @BillBook
         SELECT @NewSeqVal;
     END;
GO
