/****** Object:  StoredProcedure [dbo].[GetBatchCloseAccountTerminatedConsumers]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetBatchCloseAccountTerminatedConsumers] 
	-- Add the parameters for the stored procedure here
	@CompanyID BIGINT,
 @TerminateSupplyFrom DATETIME = NULL,
 @TerminateSupplyTo DATETIME = NULL,
 @TariffCode BIGINT = NULL,
 @ConsumerType BIGINT = NULL,
 @SupplyType BIGINT = NULL,
 @AccountCriteria BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 -- Insert statements for procedure here
	IF @TerminateSupplyFrom IS NULL SET @TerminateSupplyFrom = '1900-01-01';
 IF @TerminateSupplyTo IS NULL SET @TerminateSupplyTo = '9999-12-31';

	DECLARE @ConsumerStatusMasterTypePKID BIGINT;
 DECLARE @DepositTypeMasterTypePKID BIGINT;
 DECLARE @AdjustmentReasonMasterTypePKID BIGINT;
 DECLARE @BatchItemStatusMasterTypePKID BIGINT;
	DECLARE @CloseAccountBatchTypePKID BIGINT;

 SELECT 
 @ConsumerStatusMasterTypePKID = PKID FROM t_AllMasterType WHERE Name = 'Consumer Status';
 SELECT 
 @DepositTypeMasterTypePKID = PKID FROM t_AllMasterType WHERE Name = 'Deposit Type';
 SELECT 
 @AdjustmentReasonMasterTypePKID = PKID FROM t_AllMasterType WHERE Name = 'Adjustment Reason';
 SELECT 
 @BatchItemStatusMasterTypePKID = PKID FROM t_AllMasterType WHERE Name = 'Batch Item Status';

 -- Get PKIDs for statuses and codes
 DECLARE @TerminatedStatusPKID BIGINT;
 DECLARE @NonCashDepositTypePKID BIGINT;
 DECLARE @ServiceReasonCode86PKID BIGINT;
 DECLARE @ServiceReasonCode87PKID BIGINT;
	DECLARE @CloseAccountBatchTypeCode NVARCHAR(MAX);
 DECLARE @CancelBatchItemId BIGINT;

 SELECT TOP 1 @TerminatedStatusPKID = PKID
 FROM t_AllMaster
 WHERE Code = '09'
 AND MasterType = @ConsumerStatusMasterTypePKID
 AND IsActive = 1
 AND CompanyID = @CompanyID;

 SELECT TOP 1 @NonCashDepositTypePKID = PKID
 FROM t_AllMaster
 WHERE Code = 'BG'
 AND MasterType = @DepositTypeMasterTypePKID
 AND IsActive = 1
 AND CompanyID = @CompanyID;

 SELECT 
 @ServiceReasonCode86PKID = MAX(CASE WHEN Code = '86' THEN PKID END),
 @ServiceReasonCode87PKID = MAX(CASE WHEN Code = '87' THEN PKID END)
 FROM t_AllMaster
 WHERE MasterType = @AdjustmentReasonMasterTypePKID
 AND IsActive = 1
 AND CompanyID = @CompanyID;

 SELECT TOP 1 @CancelBatchItemId = PKID
 FROM t_AllMaster
 WHERE Code = '4'
 AND MasterType = @BatchItemStatusMasterTypePKID
 AND IsActive = 1
 AND CompanyID = @CompanyID;

	SELECT TOP 1 @CloseAccountBatchTypeCode = Code
	FROM t_AllMaster
	WHERE PKID = @AccountCriteria;

 WITH DepositSums AS (
 SELECT 
 d.ConsumerNum,
 SUM(CASE 
 WHEN d.DepositType != @NonCashDepositTypePKID 
 AND (d.AdjReasonCode NOT IN (@ServiceReasonCode86PKID, @ServiceReasonCode87PKID) OR d.AdjReasonCode IS NULL)
 THEN ISNULL(d.DepositAmount, 0) ELSE 0 END) AS GasDeliveryCashDeposit,
 SUM(CASE 
 WHEN d.DepositType != @NonCashDepositTypePKID 
 AND d.AdjReasonCode IN (@ServiceReasonCode86PKID, @ServiceReasonCode87PKID)
 THEN ISNULL(d.DepositAmount, 0) ELSE 0 END) AS ServiceCashDeposit
 FROM t_Deposit d
 WHERE d.IsActive = 1
 GROUP BY d.ConsumerNum
 )

 SELECT 
 p.PKID AS PKID,
 ca.ConsumerNum AS ConsumerNumber,
 p.Name AS ConsumerName,
 ISNULL(p.TariffCode, 0) AS TariffCode,
 am_TariffCode.Code AS TariffCodeDisplay,
 ISNULL(p.AccountType, 0) AS AccountType,
 am_AccountType.Description AS AccountTypeDisplay,
 ISNULL(ca.DisconnectionDate, '1900-01-01') AS TerminateDate,
 ISNULL(ca.Arrears, 0) - ISNULL(ca.ServiceArrears, 0) AS GasDeliveryArrears,
 ISNULL(ca.ServiceArrears, 0) AS ServiceArrears,
 ISNULL(ds.GasDeliveryCashDeposit, 0) AS GasDeliveryCashDeposit,
 ISNULL(ds.ServiceCashDeposit, 0) AS ServiceCashDeposit,
 (ISNULL(ca.Arrears, 0) - ISNULL(ca.ServiceArrears, 0)) - ISNULL(ds.GasDeliveryCashDeposit, 0) AS GasDeliveryBalance,
 ISNULL(ca.ServiceArrears, 0) - ISNULL(ds.ServiceCashDeposit, 0) AS ServiceBalance
 FROM 
 t_Party p
 INNER JOIN t_ConsumerAccount ca ON ca.ConsumerNum = p.PKID
 LEFT JOIN DepositSums ds ON ds.ConsumerNum = ca.ConsumerNum
 LEFT JOIN t_AllMaster am_AccountType ON p.AccountType = am_AccountType.PKID
 LEFT JOIN t_AllMaster am_TariffCode ON p.TariffCode = am_TariffCode.PKID
 WHERE 
 p.ConsumerStatus = @TerminatedStatusPKID
 --AND ca.DepositAmt >= 0
 AND ca.DisconnectionDate BETWEEN @TerminateSupplyFrom AND @TerminateSupplyTo
 AND (@TariffCode IS NULL OR p.TariffCode = @TariffCode)
 AND (@ConsumerType IS NULL OR p.ConsumerType = @ConsumerType)
 AND (@SupplyType IS NULL OR p.SupplyType = @SupplyType)
 AND p.CompanyID = @CompanyID
 AND NOT EXISTS (
 SELECT 1 
 FROM t_CloseAccountDetail cad 
 WHERE cad.ConsumerNum = p.PKID
 AND cad.BatchItemStatus IS NOT NULL
 AND cad.BatchItemStatus != @CancelBatchItemId
 )
 AND (
			(
 @CloseAccountBatchTypeCode = 'C' AND --Close Account
 ABS(
 (ISNULL(ca.Arrears, 0) - ISNULL(ca.ServiceArrears, 0)) - ISNULL(ds.GasDeliveryCashDeposit, 0) 
 + ISNULL(ca.ServiceArrears, 0) - ISNULL(ds.ServiceCashDeposit, 0)
 ) = 0
 )
 OR (
 @CloseAccountBatchTypeCode = 'S' AND -- Credit To State Revenue
 (
 ((ISNULL(ca.Arrears, 0) - ISNULL(ca.ServiceArrears, 0)) - ISNULL(ds.GasDeliveryCashDeposit, 0)) 
 + (ISNULL(ca.ServiceArrears, 0) - ISNULL(ds.ServiceCashDeposit, 0)) < 0
 )
 )
 OR (
 @CloseAccountBatchTypeCode = 'B' AND -- Bad Debt
 (
 ((ISNULL(ca.Arrears, 0) - ISNULL(ca.ServiceArrears, 0)) - ISNULL(ds.GasDeliveryCashDeposit, 0)) 
 + (ISNULL(ca.ServiceArrears, 0) - ISNULL(ds.ServiceCashDeposit, 0)) > 0
 )
 )
 )
 ORDER BY 
 ca.ConsumerNum;
END
GO
