/****** Object:  StoredProcedure [dbo].[sp_RemoveObsoletePendingSale]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RemoveObsoletePendingSale](      
    @list [NumberList] READONLY,
	@toDate datetime,
	@serviceLocation bigint)      
AS      
BEGIN      
  
delete from t_PendingSale where ServiceLocation = @serviceLocation and Date <= @toDate and PKID not in (SELECT l.Item FROM @list l)  
      
END
GO
