/****** Object:  StoredProcedure [dbo].[GetAllDefaultFeesItemDetail]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE procedure [dbo].[GetAllDefaultFeesItemDetail]
(
@companyID BigInt,
@location bigint

)
As





select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	COALESCE(it.ItemNature, '1') as ItemNature,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	

	ist.ClosingQty as ClosingQty,
	ist.CostPrice as CostPrice,
	ist.MRP as MRP,
	ist.OpeningQty as OpeningQty,
	ist.SellingPrice as SellingPrice,

	COALESCE(ist.RegionalStockistPrice, '0') as RegionalStockistPrice,
	COALESCE(ist.SuperStockistPrice, '0') as SuperStockistPrice,
	COALESCE(ist.StockistPrice, '0') as StockistPrice,
	COALESCE(ist.DistributorPrice, '0') as DistributorPrice,
	COALESCE(ist.SubDistributorPrice, '0') as SubDistributorPrice,
	COALESCE(ist.SuperRetailerPrice, '0') as SuperRetailerPrice,
	COALESCE(ist.RetailerPrice, '0') as RetailerPrice,


	ic.Code as Company,
	ist.ClosingQty as InStockQty
	


	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	--where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 and bst.Type = 1 and ( DATEDIFF(dd, GETDATE(), bst.Expiry) > 90) ))   and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	where it.CompanyID = @companyID and it.ShouldAppearAsDefaultItemWhileBill = 1
GO
