/****** Object:  StoredProcedure [dbo].[GET_NEXT_SUPPLYCOMMENT]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_NEXT_SUPPLYCOMMENT]
AS
BEGIN
 DECLARE @NextId BIGINT;
 SELECT @NextId = ISNULL(MAX(PKID), 0) + 1 FROM t_SupplyComment;
 SELECT @NextId;
END
GO
