/****** Object:  StoredProcedure [dbo].[GetAllMaterialReceivedRegister]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[GetAllMaterialReceivedRegister]
(
@companyID BigInt,
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



select 
	it.PKID,
	it.BillNo,
	it.BillAmount,
	it.TotalDiscount,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	pt.Name as PartyCode,
	it.Status as Status,
	it.MaterialReceiveRef as MaterialReceiveRef,
	pt.GST as GSTIN
	from t_MaterialReceive it 
	inner join t_Party pt on it.PartyID = pt.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation  and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)
GO
