/****** Object:  StoredProcedure [dbo].[GET_NEXT_ENTRY_REF]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GET_NEXT_ENTRY_REF]
(@serviceLocation bigint,
@entryType bigint)
AS
     BEGIN
	     DECLARE @AnyRecord bigint
		 DECLARE @NewSeqVal BIGINT;
	     select  @AnyRecord  = count(*) from  [dbo].[t_Seq_Entry_Ref] where ServiceLocation = @serviceLocation and EntryType = @entryType
		
		 if( @AnyRecord > 0)
			 begin
				 
				 UPDATE [dbo].[t_Seq_Entry_Ref]
				   SET
					   @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation and EntryType = @entryType
				 SELECT  @NewSeqVal;
			 end
		 else
			begin
			insert into [dbo].[t_Seq_Entry_Ref]( Seed, Incr, Currval, ServiceLocation, EntryType) values( 1, 1, 0, @serviceLocation, @entryType)
			
				 UPDATE [dbo].[t_Seq_Entry_Ref]
				   SET
					   @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation and EntryType = @entryType
				 SELECT @NewSeqVal;
			end
     END;
GO
