/****** Object:  StoredProcedure [dbo].[GetAllPayment]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




		CREATE procedure [dbo].[GetAllPayment]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@status bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0


		if ( @status = 0)
		begin

		;WITH Orders_cte AS (

select 
	it.PKID,
	it.PaymentNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	COALESCE(pc.ChequeNumber, 'N/A') as ChequeNo
	
	from t_Payment it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party ac on it.PartyAccount = ac.PKID
	left join t_PaymentChequeDetail pc on it.PKID = pc.PaymentID
	

	
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.PaymentNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
)

SELECT 
     PKID,
	 PaymentNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 ChequeNo
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PaymentNo end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

		end
		else if( @status = 1)
		begin

		;WITH Orders_cte AS (

select 
	it.PKID,
	it.PaymentNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	COALESCE(pc.ChequeNumber, 'N/A') as ChequeNo
	
	from t_Payment it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party ac on it.PartyAccount = ac.PKID
	left join t_PaymentChequeDetail pc on it.PKID = pc.PaymentID

	
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and ( (it.PaymentNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
)

SELECT 
     PKID,
	 PaymentNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 ChequeNo
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PaymentNo end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

		end
		else if( @status = 2)
		begin 

		;WITH Orders_cte AS (

select 
	it.PKID,
	it.PaymentNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	ac.Name as AccountParty,
	it.Clear,
	it.ClearDate,
	it.Status,
	COALESCE(pc.ChequeNumber, 'N/A') as ChequeNo
	
	from t_Payment it 
	inner join t_Party pt on it.PartyID = pt.PKID
	inner join t_Party ac on it.PartyAccount = ac.PKID
	left join t_PaymentChequeDetail pc on it.PKID = pc.PaymentID

	
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 0 and ( (it.PaymentNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
)

SELECT 
     PKID,
	 PaymentNo,
	 Amount,
	 Date,
	 Party,
	 AccountParty,
	 Clear,
	 ClearDate,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 ChequeNo
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN PaymentNo end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
 -- case   WHEN @sortField='AccountParty' and @sortOrder ='desc'  THEN AccountParty end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

		end
GO
