/****** Object:  StoredProcedure [dbo].[Update_Non_Saleable_Item_Stock]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Update_Non_Saleable_Item_Stock]
(
@current bigint
)
as

update t_Seq_NonSaleableItemStock set Currval = @current
GO
