/****** Object:  StoredProcedure [dbo].[GetAllItem]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[GetAllItem]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@serviceLocation bigint,
@taxCategory bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

if (@taxCategory = -1)
begin

;WITH Orders_cte AS (

select 
	it.PKID,
	it.IsActive, 
	tx.Percentage as Tax,
	tx.Name as TaxCategoryDisplay,
	tx.PKID as TaxCategoryID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.MinStock as MinStock,
	it.MaxStock as MaxStock,
	it.ShelfLife as ShelfLife,
	it.AllowRateEdit as AllowRateEdit,
	it.AllowLoyality as AllowLoyality,
	it.MinShelfLife as MinShelfLife,
	--it.LocationID as ServiceLocationID,
	--sl.Name as ServiceLocationDisplay,

	--COALESCE(rw.Name,'') as [Row],
	--COALESCE(rk.Name,'') as [Rack],
	COALESCE(sf.Name,'') as [Self],
	--COALESCE(bn.Name,'') as  [Bin],
	COALESCE(op.OpeningQty,'0') as  OpeningQty,
	COALESCE(op.ClosingQty,'0') as  ClosingQty,
	
	--it.RequiredTracking as RequiredTracking,
	--it.CreateDate as CreateDate,
	it.LastModifiedDate as LastModifiedDate,
	COALESCE(cm.Name,'') as  ItemCompanyDisplay,
	COALESCE(cm.Code,'') as  ItemCompanyCode,
	COALESCE(dep.Name,'') as  DepartmentName,
	COALESCE(drg.Type,'') as  DrugType,
	COALESCE(it.AllotmentPercentage,'100') as  AllotmentPercentage,

	COALESCE(pc.Code,'') as  Category,
	COALESCE(ps.Code,'') as  SubCategory,
	COALESCE(mdl.Model,'') as  Model,
	COALESCE(mdlc.Color,'') as  Color,
	COALESCE(brn.Brand,'') as  Brand


	from t_Item it 
	--inner join t_HSN hs on it.HSNCode = hs.PKID
	inner join t_TaxCategory tx on it.TaxCategory = tx.PKID
	--inner join t_ServiceLocation sl on it.LocationID= sl.PKID

	left join t_ProductCategory pc on it.CategoryID = pc.PKID
	left join t_ProductSubCategory ps on it.SubCategoryID = ps.PKID
	left join t_Model mdl on it.ModelID = mdl.PKID
	left join t_ModelColor mdlc on it.ColorID = mdlc.PKID
	left join t_Brand brn on it.BrandID = brn.PKID
	--left join t_UOM uo on it.UOMId = uo.PKID
	left join t_ItemwiseStock op on op.ItemId = it.PKID and op.ServiceLocation = @serviceLocation

	--left join t_Row rw on it.RowID= rw.PKID
	--left join t_Rack rk on it.Rack= rk.PKID
	left join t_Self sf on it.SelfID= sf.PKID
	--left join t_Bin bn on it.Bin= bn.PKID
	left join t_ItemCompany cm on it.ItemCompany = cm.PKID
	left join t_Department dep on it.DepartmentID = dep.PKID
	left join t_DurgType drg on it.DrugType = drg.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and ( (it.Code like @query )  or  (it.Description like @query ) or (cm.Name like @query ))
	
)

SELECT 
    PKID,
	IsActive,
	--HsnCode,
	Tax,
	--CategoryID,
	--SubCategoryID,
	 Category,
	 SubCategory,
	 Model,
	 Brand,
	 Color,
	--UOM,
	--UomID,
	ItemID,
	ItemCode,
	ItemDescription,
	--ServiceLocationID,
	--ServiceLocationDisplay,
	--[Row],
	--[Rack],
	[Self],
	--[Bin],
    tCountOrders.CountOrders AS TotalRows,
	--CreateDate,
	LastModifiedDate,
	ItemCompanyDisplay,
	TaxCategoryDisplay,
	ClosingQty,
	OpeningQty,
	TaxCategoryID,
	DepartmentName,
	DrugType,
	AllotmentPercentage,
	ItemCompanyCode,
	MinStock,
	MaxStock,
	ShelfLife,
	AllowRateEdit,
	AllowLoyality,
	MinShelfLife
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN ItemCode end desc,
  CASE WHEN @sortField='ItemCode' and @sortOrder ='asc' THEN ItemCode end asc,
  case   WHEN @sortField='ItemDescription' and @sortOrder ='asc'  THEN ItemDescription end asc,
  --case   WHEN @sortField='CategoryDisplay' and @sortOrder ='asc'  THEN CategoryDisplay end asc,
  --case   WHEN @sortField='SubCategoryDisplay' and @sortOrder ='asc'  THEN SubCategoryDisplay end asc,
  --case   WHEN @sortField='UOM' and @sortOrder ='asc'  THEN UOM end asc,
  --case   WHEN @sortField='HsnCode' and @sortOrder ='asc'  THEN HsnCode end asc,
  --case   WHEN @sortField='Tax' and @sortOrder ='asc'  THEN Tax end asc,
  --case   WHEN @sortField='Row' and @sortOrder ='asc'  THEN Row end asc,
  --case   WHEN @sortField='Rack' and @sortOrder ='asc'  THEN Rack end asc,
  case   WHEN @sortField='Self' and @sortOrder ='asc'  THEN Self end asc,
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,

	CASE WHEN @sortField='ItemCode' and @sortOrder ='desc' THEN ItemCode end desc,
  case   WHEN @sortField='ItemDescription' and @sortOrder ='desc'  THEN ItemDescription end desc,
  --case   WHEN @sortField='CategoryDisplay' and @sortOrder ='desc'  THEN CategoryDisplay end desc,
  --case   WHEN @sortField='SubCategoryDisplay' and @sortOrder ='desc'  THEN SubCategoryDisplay end desc,
  --case   WHEN @sortField='UOM' and @sortOrder ='desc'  THEN UOM end desc,
  --case   WHEN @sortField='HsnCode' and @sortOrder ='desc'  THEN HsnCode end desc,
 	--case   WHEN @sortField='Tax' and @sortOrder ='desc'  THEN Tax end desc,
	--case   WHEN @sortField='Row' and @sortOrder ='desc'  THEN Row end desc,
	--case   WHEN @sortField='Rack' and @sortOrder ='desc'  THEN Rack end desc,
	case   WHEN @sortField='Self' and @sortOrder ='desc'  THEN Self end desc,
	--case   WHEN @sortField='Bin' and @sortOrder ='desc'  THEN Bin  end desc,
	case   WHEN @sortField='Company' and @sortOrder ='desc'  THEN ItemCompanyDisplay  end desc,
	case   WHEN @sortField='TaxCategoryDisplay' and @sortOrder ='desc'  THEN TaxCategoryDisplay  end desc,
	case   WHEN @sortField='ClosingQty' and @sortOrder ='desc'  THEN ClosingQty  end desc,
	case   WHEN @sortField='OpeningQty' and @sortOrder ='desc'  THEN OpeningQty  end desc

	
	
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
end
else
begin

;WITH Orders_cte AS (

select 
	it.PKID,
	it.IsActive, 
	tx.Percentage as Tax,
	tx.Name as TaxCategoryDisplay,
	tx.PKID as TaxCategoryID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.MinStock as MinStock,
	it.MaxStock as MaxStock,
	it.ShelfLife as ShelfLife,
	it.AllowRateEdit as AllowRateEdit,
	it.AllowLoyality as AllowLoyality,
	it.MinShelfLife as MinShelfLife,
	--it.LocationID as ServiceLocationID,
	--sl.Name as ServiceLocationDisplay,

	--COALESCE(rw.Name,'') as [Row],
	--COALESCE(rk.Name,'') as [Rack],
	COALESCE(sf.Name,'') as [Self],
	--COALESCE(bn.Name,'') as  [Bin],
	COALESCE(op.OpeningQty,'0') as  OpeningQty,
	COALESCE(op.ClosingQty,'0') as  ClosingQty,
	
	--it.RequiredTracking as RequiredTracking,
	--it.CreateDate as CreateDate,
	it.LastModifiedDate as LastModifiedDate,
	COALESCE(cm.Name,'') as  ItemCompanyDisplay,
	COALESCE(cm.Code,'') as  ItemCompanyCode,
	COALESCE(dep.Name,'') as  DepartmentName,
	COALESCE(drg.Type,'') as  DrugType,
	COALESCE(it.AllotmentPercentage,'100') as  AllotmentPercentage,

	COALESCE(pc.Code,'') as  Category,
	COALESCE(ps.Code,'') as  SubCategory,
	COALESCE(mdl.Model,'') as  Model,
	COALESCE(mdlc.Color,'') as  Color,
	COALESCE(brn.Brand,'') as  Brand


	from t_Item it 
	--inner join t_HSN hs on it.HSNCode = hs.PKID
	inner join t_TaxCategory tx on it.TaxCategory = tx.PKID
	--inner join t_ServiceLocation sl on it.LocationID= sl.PKID

	left join t_ProductCategory pc on it.CategoryID = pc.PKID
	left join t_ProductSubCategory ps on it.SubCategoryID = ps.PKID
	left join t_Model mdl on it.ModelID = mdl.PKID
	left join t_ModelColor mdlc on it.ColorID = mdlc.PKID
	left join t_Brand brn on it.BrandID = brn.PKID
	--left join t_UOM uo on it.UOMId = uo.PKID
	left join t_ItemwiseStock op on op.ItemId = it.PKID and op.ServiceLocation = @serviceLocation

	--left join t_Row rw on it.RowID= rw.PKID
	--left join t_Rack rk on it.Rack= rk.PKID
	left join t_Self sf on it.SelfID= sf.PKID
	--left join t_Bin bn on it.Bin= bn.PKID
	left join t_ItemCompany cm on it.ItemCompany = cm.PKID
	left join t_Department dep on it.DepartmentID = dep.PKID
	left join t_DurgType drg on it.DrugType = drg.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.TaxCategory = @taxCategory and( (it.Code like @query )  or  (it.Description like @query ) or (cm.Name like @query ))
	
)

SELECT 
    PKID,
	IsActive,
	--HsnCode,
	Tax,
	--CategoryID,
	--SubCategoryID,
	 Category,
	 SubCategory,
	 Model,
	 Brand,
	 Color,
	--UOM,
	--UomID,
	ItemID,
	ItemCode,
	ItemDescription,
	--ServiceLocationID,
	--ServiceLocationDisplay,
	--[Row],
	--[Rack],
	[Self],
	--[Bin],
    tCountOrders.CountOrders AS TotalRows,
	--CreateDate,
	LastModifiedDate,
	ItemCompanyDisplay,
	TaxCategoryDisplay,
	ClosingQty,
	OpeningQty,
	TaxCategoryID,
	DepartmentName,
	DrugType,
	AllotmentPercentage,
	ItemCompanyCode,
	MinStock,
	MaxStock,
	ShelfLife,
	AllowRateEdit,
	AllowLoyality,
	MinShelfLife
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN ItemCode end desc,
  CASE WHEN @sortField='ItemCode' and @sortOrder ='asc' THEN ItemCode end asc,
  case   WHEN @sortField='ItemDescription' and @sortOrder ='asc'  THEN ItemDescription end asc,
  --case   WHEN @sortField='CategoryDisplay' and @sortOrder ='asc'  THEN CategoryDisplay end asc,
  --case   WHEN @sortField='SubCategoryDisplay' and @sortOrder ='asc'  THEN SubCategoryDisplay end asc,
  --case   WHEN @sortField='UOM' and @sortOrder ='asc'  THEN UOM end asc,
  --case   WHEN @sortField='HsnCode' and @sortOrder ='asc'  THEN HsnCode end asc,
  --case   WHEN @sortField='Tax' and @sortOrder ='asc'  THEN Tax end asc,
  --case   WHEN @sortField='Row' and @sortOrder ='asc'  THEN Row end asc,
  --case   WHEN @sortField='Rack' and @sortOrder ='asc'  THEN Rack end asc,
  case   WHEN @sortField='Self' and @sortOrder ='asc'  THEN Self end asc,
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,

	CASE WHEN @sortField='ItemCode' and @sortOrder ='desc' THEN ItemCode end desc,
  case   WHEN @sortField='ItemDescription' and @sortOrder ='desc'  THEN ItemDescription end desc,
  --case   WHEN @sortField='CategoryDisplay' and @sortOrder ='desc'  THEN CategoryDisplay end desc,
  --case   WHEN @sortField='SubCategoryDisplay' and @sortOrder ='desc'  THEN SubCategoryDisplay end desc,
  --case   WHEN @sortField='UOM' and @sortOrder ='desc'  THEN UOM end desc,
  --case   WHEN @sortField='HsnCode' and @sortOrder ='desc'  THEN HsnCode end desc,
 	--case   WHEN @sortField='Tax' and @sortOrder ='desc'  THEN Tax end desc,
	--case   WHEN @sortField='Row' and @sortOrder ='desc'  THEN Row end desc,
	--case   WHEN @sortField='Rack' and @sortOrder ='desc'  THEN Rack end desc,
	case   WHEN @sortField='Self' and @sortOrder ='desc'  THEN Self end desc,
	--case   WHEN @sortField='Bin' and @sortOrder ='desc'  THEN Bin  end desc,
	case   WHEN @sortField='Company' and @sortOrder ='desc'  THEN ItemCompanyDisplay  end desc,
	case   WHEN @sortField='TaxCategoryDisplay' and @sortOrder ='desc'  THEN TaxCategoryDisplay  end desc,
	case   WHEN @sortField='ClosingQty' and @sortOrder ='desc'  THEN ClosingQty  end desc,
	case   WHEN @sortField='OpeningQty' and @sortOrder ='desc'  THEN OpeningQty  end desc

	
	
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;


end
GO
