/****** Object:  StoredProcedure [dbo].[GetAllSaleReturnSegregation]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllSaleReturnSegregation]      
(      
@companyID BigInt,      
@pageSize int,      
@pageIndex int,      
@sortField nvarchar(max),      
@sortOrder nvarchar(max),      
@query nvarchar(max),      
@fromDate datetime,      
@toDate datetime,      
@ServiceLocation bigint      
      
)      
As      
      
select       
 it.PKID,      
 it.BillNo,      
 it.BillAmountWithoutGST,      
 it.TaxTotal,      
 it.BillDate,      
 it.ReturnBillNo,      
 pt.Name as PartyCode,      
 it.Status as Status,      
 usr.FirstName      
 from t_SaleReturnSegregation it       
 inner join t_Party pt on it.PartyID = pt.PKID      
 inner join t_User usr on it.CreatedBy = usr.PKID      
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.ReturnBillNo like @query) or (it.BillNo like @query ) or (usr.FirstName like @query )  or  (pt.Name like @query ))      
 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)
GO
