/****** Object:  StoredProcedure [dbo].[GET_NEXT_PETTY_CASH_COUNT_CONTROL]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_NEXT_PETTY_CASH_COUNT_CONTROL]
AS
 BEGIN
 DECLARE @NewSeqVal BIGINT;
 UPDATE [dbo].[t_Seq_CashCountControl]
 SET
 @NewSeqVal = CurrVal = CurrVal + Incr;
 SELECT @NewSeqVal;
 END;
GO
