/****** Object:  StoredProcedure [dbo].[GET_NEXT_PAYMENT_STUB_DETAIL_BATCH]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_PAYMENT_STUB_DETAIL_BATCH]  
(
@batchQty BigInt
)
AS

	DECLARE @NewSeqVal BIGINT;
	declare @CurrVal BIGINT;
	select @CurrVal = CurrVal + 1 from t_Seq_PaymentStubDetail
    UPDATE [dbo].[t_Seq_PaymentStubDetail]
    SET
        @NewSeqVal = CurrVal = CurrVal + @batchQty;
    SELECT @CurrVal;
GO
