/****** Object:  StoredProcedure [dbo].[GET_NEXT_PURCHASE_ORDER]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[GET_NEXT_PURCHASE_ORDER]
AS
     BEGIN
         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_PurchaseOrder]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;
     END;
GO
