/****** Object:  StoredProcedure [dbo].[sp_CreateDefaultPartyType]    Script Date: 17-06-2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_CreateDefaultPartyType]
(
@serviceLocation bigint,
@companyID bigint,
@user bigint
)

As

update t_Seq_PartyType set Currval =(
select max(PKID) + 1 from t_PartyType)

declare @partyTypeID bigint
select @partyTypeID = currval from t_Seq_PartyType

set @partyTypeID = @partyTypeID + 1


insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Regional Stockist', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Super Stockist', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Stockist', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Distributor', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Sub Distributor', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Super Retailer', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Retailer', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

insert into t_PartyType(PKID, Type, Status, CreatedBy, LastModifiedUserID, CreateDate, LastModifiedDate, ServiceLocation) values(@partyTypeID, 'Regular', 1, @user, @user, getdate(), getdate(), @serviceLocation)
set @partyTypeID = @partyTypeID + 1

update t_Seq_PartyType set Currval = @partyTypeID
GO
