/****** Object:  StoredProcedure [dbo].[BulkUpdateBatchwiseCostPrice]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Procedure [dbo].[BulkUpdateBatchwiseCostPrice]
(
@prices SaleDetailType readonly
)
AS

update t_BatchwiseStock Set ActualCostPrice = std.CostPrice
from t_BatchwiseStock 
inner join @prices as std
on t_BatchwiseStock.PKID = std.PKID
GO
