/****** Object:  StoredProcedure [dbo].[GET_NEXT_RECEIPT_REF_PREV]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[GET_NEXT_RECEIPT_REF_PREV]  
(@serviceLocation bigint,
@finYearID bigint,
@finYear datetime)  
AS  
     BEGIN  
      DECLARE @AnyRecord bigint  
   DECLARE @NewSeqVal BIGINT;  
      select  @AnyRecord  = count(*) from  [dbo].[t_Seq_Receipt_Ref_Prev] where ServiceLocation = @serviceLocation  and FinYearID = @finYearID
    
   if( @AnyRecord > 0)  
    begin  
       
     UPDATE [dbo].[t_Seq_Receipt_Ref_Prev]  
       SET  
        @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation  and FinYearID = @finYearID
     SELECT  @NewSeqVal;  
    end  
   else  
   begin  
    declare @existingId bigint
	declare @billno nvarchar(max)
	declare @finYearBegin datetime
	set @finYearBegin = dateadd(day, 1,  dateadd(year, -1, @finYear))

	select top 1 @billno = ReceiptNo from t_Receipt where
	((CAST([date] as date) >= cast(@finYearBegin as date)) and  (CAST([date] as date) <= cast(@finYear as date)) )  and ServiceLocation = @serviceLocation order by PKID desc

	if @billno is null
		begin
			set @existingId = 0
		end
	else
		begin
			set @billno = replace(@billno, '-','')
			set @billno = LEFT(@billno, LEN(@billno) - 4)
			set @billno = right(@billNo, 7)
			set @existingId = convert(bigint, @billno)   
		end
   insert into [dbo].[t_Seq_Receipt_Ref_Prev]( Seed, Incr, Currval, ServiceLocation, FinYearID) values( 1, 1, @existingId, @serviceLocation, @finYearID)  
     
     UPDATE [dbo].[t_Seq_Receipt_Ref_Prev]  
       SET  
        @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation  and FinYearID = @finYearID
     SELECT @NewSeqVal;  
   end  
     END;
GO
