/****** Object:  StoredProcedure [dbo].[BookBulkSlot]    Script Date: 17-06-2026 14:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[BookBulkSlot]
(
@slot bigint
)
AS

update t_Seq_DatewiseAccount set Currval = @slot
GO
