USE [ESMCCKotekar]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_Complaintmanagement]    Script Date: 15-06-2026 11:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_ETL_Complaintmanagement] @DBID int AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select *,GetDate() dashboardupdated from '+@DBName+'complaintmanagement
order by complaintmanagementID 
'exec (@Sql)


GO
