USE [ESMCCKotekar]
GO
/****** Object:  StoredProcedure [dbo].[AllConsumers]    Script Date: 15-06-2026 11:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AllConsumers] (@var varchar(1000),@Month varchar(10),@Year varchar(10)) as

BEGIN
SET NOCOUNT ON

DECLARE @DynamicPivotQuery AS NVARCHAR(MAX), @DynamicPivotQuery1 AS NVARCHAR(MAX),@DynamicPivotQuery2 AS NVARCHAR(MAX),
@PivotColumnNames AS NVARCHAR(MAX), @PivotSelectColumnNames1 AS NVARCHAR(MAX),@PivotSelectColumnNames2 AS NVARCHAR(MAX),@PivotSelectColumnNames AS NVARCHAR(MAX)

DECLARE @sql1 as NVARCHAR(MAX)
DECLARE @sq1 as NVARCHAR(MAX)
Declare @sq table (Description varchar(max))
Declare @head as varchar(max)

set @sq1='select distinct Description
from DCBDetails dcb inner join (select tariffid tid,description from Tariffs) t on dcb.TariffID=t.tid
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') and ConsumerConnectionStatusID in(1,2,4)
'+@var+''

insert into @sq
exec(@sq1)

SELECT @PivotColumnNames= ISNULL(@PivotColumnNames + ',','')+ QUOTENAME(Description)
FROM @sq

SELECT @PivotSelectColumnNames = ISNULL(@PivotSelectColumnNames + ',','')
    + 'ISNULL(' + QUOTENAME(Description) + ', 0) AS ' + QUOTENAME('Live'+Description)
FROM @sq 

SELECT @PivotSelectColumnNames1 = ISNULL(@PivotSelectColumnNames1 + ',','')
    + 'ISNULL(' + QUOTENAME(Description) + ', 0) AS ' + QUOTENAME('Disconnected '+Description)
FROM @sq 

SELECT @PivotSelectColumnNames2 = ISNULL(@PivotSelectColumnNames2 + ',','')
    + 'ISNULL(' + QUOTENAME(Description) + ', 0) AS ' + QUOTENAME('Dismantled'+Description)
FROM @sq 



SELECT    @head = STUFF( (select  ', ' + 'ISNULL(' + QUOTENAME('Live'+Description) + ', 0) AS ' + QUOTENAME('Live_'+Description) +','+
 'ISNULL(' + QUOTENAME('Disconnected '+Description) + ', 0) AS ' + QUOTENAME('Disconnected_'+Description) +','+
  'ISNULL(' + QUOTENAME('Dismantled'+Description) + ', 0) AS ' + QUOTENAME('Dismantled_'+Description) 
FROM @sq FOR XML PATH('')),  1, 1, '')

SET @sql1 ='select distinct A.WardName,(isnull(A.Connected,0)+isnull(A.DisConnected,0)) Total,isnull(A.Connected,0) LiveConnections,'+@head+'

from
(
select dcb.WardName,sum(case when dcb.ConsumerConnectionStatusID=1 then 1 end) as Connected,
sum(case when dcb.ConsumerConnectionStatusID not in(1) then 1 end) as DisConnected
from DCBDetails dcb
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') '+@var+'
group by dcb.WardName) as A'

SET @DynamicPivotQuery =
N'SELECT WardName, ' + @PivotSelectColumnNames + ' from
(select dcb.WardName,t.Description,count(dcb.ConsumerConnectionStatusID) Count
from DCBDetails dcb inner join (select TariffID as TID, Description from Tariffs) t on dcb.TariffID=t.TID
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+'and ConsumerConnectionStatusID=1'+@var+')
group by dcb.WardName,t.Description)X

PIVOT(
    SUM(Count)
FOR Description IN (' + @PivotColumnNames + ')) AS PVTTable'

SET @DynamicPivotQuery1 =
N'SELECT WardName, ' + @PivotSelectColumnNames1 + ' from
(select dcb.WardName,t.Description,count(dcb.ConsumerConnectionStatusID) Count
from DCBDetails dcb inner join (select TariffID as TID, Description from Tariffs) t on dcb.TariffID=t.TID
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+'and ConsumerConnectionStatusID=2'+@var+')
group by dcb.WardName,t.Description)X

PIVOT(
    SUM(Count)
FOR Description IN (' + @PivotColumnNames + ')) AS PVTTable'

SET @DynamicPivotQuery2 =
N'SELECT WardName, ' + @PivotSelectColumnNames2 + ' from
(select dcb.WardName,t.Description,count(dcb.ConsumerConnectionStatusID) Count
from DCBDetails dcb inner join (select TariffID as TID, Description from Tariffs) t on dcb.TariffID=t.TID
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+'and ConsumerConnectionStatusID=4'+@var+')
group by dcb.WardName,t.Description)X

PIVOT(
    SUM(Count)
FOR Description IN (' + @PivotColumnNames + ')) AS PVTTable'


set @DynamicPivotQuery = @sql1+ ' left join(' + @DynamicPivotQuery +') as B on A.WardName=B.WardName 
                                                                    left join(' + @DynamicPivotQuery1 +') as C on A.WardName=C.WardName
                                                                    left join(' + @DynamicPivotQuery2 +') as D on A.WardName=D.WardName '

EXEC sp_executesql @DynamicPivotQuery

END
GO
