USE [ESMCCKotekar]
GO
/****** Object:  StoredProcedure [dbo].[sp_Tariffwise_KMF]    Script Date: 15-06-2026 11:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec sp_Tariffwise_KMF  @FromDate='2012-04-01',@ToDate ='2016-03-31',@TariffID=7

--drop procedure [sp_Tariffwise_KMF]
CREATE PROCEDURE [dbo].[sp_Tariffwise_KMF]
@FromDate varchar(20) ,
@ToDate varchar(20),
@TariffID int

AS

SET NOCOUNT ON
--
--
--
--
--Declare @FromDate varchar(20) select @FromDate='2015-04-01'
--Declare @ToDate varchar(20) select @ToDate='2016-03-31'
--Declare @TariffID int select @TariffID=7
----

;With DCB1 (ConsumerID,DCBMonth,DCBTariffID,Consumption,OB,Demand,Collection,Adjustments) as (
select consumerid,DCBMonth,DCBTariffID
,Sum(isnull(Consumption,0)) as Consumption
,case when @FromDate=DCBMonth then
(round(Round(sum(OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceInterest+OpeningBalanceTax+OpeningBalanceSupervisionFee+OpeningBalanceMeterRent+OpeningBalanceDandR),2),0)+
round(Round(sum(GOKOBFixedCharge+GOKOBEnergyCharge+GOKOBRevenueOthers+GOKOBInterest+GOKOBTax+GOKOBSupervisionFee+GOKOBMeterRent),2),0))
else 0 end as OB


,(round(Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+DemandSupervisionFee+DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),2),0)+round(Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers
+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),2),0)) as Demand

,round(round(Sum(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionInterest
+CollectionTax+CollectionSupervisionFee+CollectionMeterRent+CollectionBalance
+CollectionDRCharges+CollectionSuspense-CollectionDHAmount),2),0) as Collection

,round(round(sum(isnull(CollectionCBTransfer,0)+isnull(CollectionLTOLRevenueFixedCharge,0)+isnull(CollectionLTOLRevenueEnergyCharge,0)+isnull(CollectionLTOLRevenueOthers,0)+isnull(CollectionLTOLInterest,0)+isnull(CollectionLTOLTax,0)+isnull(CollectionLTOLSupervisionFee,0)+isnull(CollectionLTOLMeterRent,0)+isnull(CollectionLTOLBalance,0)+isnull(CollectionMiscToRevenueFixedCharge,0)+isnull(CollectionMiscToRevenueEnergyCharge,0)+isnull(CollectionMiscToRevenueOthers,0)+isnull(CollectionMiscToRevenueInterest,0)+isnull(CollectionMiscToRevenueTax,0)+isnull(CollectionMiscToRevenueSupervisionFee,0)+isnull(CollectionMiscToRevenueMeterRent,0)+isnull(CollectionMiscToRevenueBalance,0)+isnull(CollectionRevenueToMisc,0)+isnull(CollectionDepositToRevenueFixedCharge,0)+isnull(CollectionDepositToRevenueEnergyCharge,0)+isnull(CollectionDepositToRevenueOthers,0)
+isnull(CollectionDepositToRevenueInterest,0)+isnull(CollectionDepositToRevenueTax,0)+isnull(CollectionDepositToRevenueSupervisionFee,0)+isnull(CollectionDepositToRevenueMeterRent,0)+isnull(CollectionDepositToRevenueBalance,0)+isnull(CollectionWithdrawlsRevenueFixedCharge,0)+isnull(CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(CollectionWithdrawlsRevenueOthers,0)+isnull(CollectionWithdrawlsInterest,0)+isnull(CollectionWithdrawlsTax,0)+isnull(CollectionWithdrawlsSupervisionFee,0)+isnull(CollectionWithdrawlsMeterRent,0)+isnull(CollectionWithdrawlsBalance,0)+isnull(CollectionOfficeAdjustmentFixedCharge,0)+isnull(CollectionOfficeAdjustmentEnergyCharge,0)+isnull(CollectionOfficeAdjustmentOthers,0)+isnull(CollectionOfficeAdjustmentInterest,0)+isnull(CollectionOfficeAdjustmentTax,0)+isnull(CollectionOfficeAdjustmentSupervisionFee,0)
+isnull(CollectionOfficeAdjustmentMeterRent,0)+isnull(CollectionOfficeAdjustmentBalance,0)+isnull(CollectionOfficeLightingJVFixedCharge,0)+isnull(CollectionOfficeLightingJVEnergyCharge,0)+isnull(CollectionOfficeLightingJVOthers,0)+isnull(CollectionOfficeLightingJVInterest,0)+isnull(CollectionOfficeLightingJVTax,0)+isnull(CollectionOfficeLightingJVSupervisionFee,0)+isnull(CollectionOfficeLightingJVMeterRent,0)+isnull(CollectionOfficeLightingJVBalance,0)+isnull(CollectionLT6JVFixedCharge,0)+isnull(CollectionLT6JVEnergyCharge,0)+isnull(CollectionLT6JVRevenueOthers,0)+isnull(CollectionLT6JVInterest,0)+isnull(CollectionLT6JVTax,0)+isnull(CollectionLT6JVSupervisionFee,0)+isnull(CollectionLT6JVMeterRent,0)+isnull(CollectionLT6JVBalance,0)+isnull(CollectionJVOthers,0)+isnull(CollectionJVOthersBalance,0)+isnull(CollectionDisputeToJVFixedCharge,0)
+isnull(CollectionDisputeToJVEnergyCharge,0)+isnull(CollectionDisputeToJVRevenueOthers,0)+isnull(CollectionDisputeToJVInterest,0)+isnull(CollectionDisputeToJVTax,0)+isnull(CollectionDisputeToJVSupervisionFee,0)+isnull(CollectionDisputeToJVMeterRent,0)+isnull(CollectionDisputeToJVBalance,0)+isnull(GOKCollectionRevenueFixedCharge,0)+isnull(GOKCollectionRevenueEnergyCharge,0)+isnull(GOKCollectionRevenueOthers,0)+isnull(GOKCollectionInterest,0)+isnull(GOKCollectionTax,0)+isnull(GOKCollectionSupervisionFee,0)
+isnull(GOKCollectionMeterRent,0)+isnull(GOKCollectionBalance,0)),2),0) as Adjustment




from ( select Convert(datetime,(Cast(DCBYear as varchar(4))+'-'+cast(DCBMOnth as varchar(2))+'-1')) as DCBMonth,d.* 
from DCBDetails d inner join DCB B on Convert(datetime,(Cast(DCBYear as varchar(4))+'-'+cast(DCBMOnth as varchar(2))+'-1')) Between @FromDate and @ToDate and b.DCBID=d.DCBID ) d 
inner join DCBTariffAllocation dta on dta.TariffID=d.TariffID  and DCBTariffID=@TariffID
Group By consumerid,DCBMonth,DCBTariffID)
select DCBMonth,DCBTariffID,
--,(case when WardName='ZRevenue Suspense' then 'Revenue Suspense' else Tariffs end) as Tariffs
--,(case when WardName='ZRevenue Suspense' then 'Revenue Suspense' else WardName end) as WardName
--,(case when WardName='ZRevenue Suspense' then 'Revenue Suspense' else BlockName end) as BlockName
sum(OB) as OB ,sum(Demand) Demand,sum(Collection)  Collection,sum(Adjustments) Adjustment from DCB1
group by DCBMonth,DCBTariffID
GO
