USE [ESMCCKotekar]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_Consumerledger]    Script Date: 15-06-2026 11:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create PROCEDURE [dbo].[SP_ETL_Consumerledger] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select ConsumerLedgerID,ConsumerID,LedgerMonth,LedgerYear,OpeningBalance,GOKOpeningBalance,CourtDisputeOpeningBalance,AppellateDisputeOpeningBalance,CreatedOn,CreatedBy
,GetDate() dashboardupdated  
from '+@DBName+'Consumerledger a cross join '+@DBName+'Today
where ledgermonth = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and ledgeryear = (case when '+@year+' = 0 then year(today) else '+@year+' end)
Order by ConsumerLedgerID
'exec (@Sql)

GO
