USE [ESMCCKotekar]
GO
/****** Object:  StoredProcedure [dbo].[Billing]    Script Date: 15-06-2026 11:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[Billing](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)
select @sql='

select A.TariffID,A.WardName,A.Total,Live,B.Billed,B.UnBilled
from

(select dcb.TariffID,dcb.WardName,count(*) as Total
from DCBDetails dcb
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') 
'+@var+'
group by dcb.TariffID,dcb.WardName) as A
inner join
(select dcb.TariffID,dcb.WardName,sum(case when dcb.ArrearBill=1 then 1 else 0 end) as Billed,sum(case when dcb.ArrearBill=0 then 1 else 0 end) as UnBilled,
sum(case when dcb.ConsumerConnectionStatusID=1 then 1 end) as Live
from DCBDetails dcb
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') and ConsumerConnectionStatusID=1 
'+@var+'
group by dcb.TariffID,dcb.WardName) as B on A.TariffID=B.TariffID and A.WardName=B.WardName'

exec(@sql)
GO
