USE [ESMCCKotekar]
GO
/****** Object:  StoredProcedure [dbo].[sp_MNR]    Script Date: 15-06-2026 11:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  PROCEDURE [dbo].[sp_MNR]
 AS

BEGIN

Select (Select OfficeName from Office where 
OfficeID=(Select OfficeLocationAllocationID from OfficeLocationAllocation  
where OfficeLocationAllocationID=Consumer.OLID)) as Office,
(select LocationName from Office,Location,OfficeLocationAllocation
   where(Office.OfficeID = OfficeLocationAllocation.OfficeID
 And Location.LocationID = OfficeLocationAllocation.LocationID)
  and OfficeLocationAllocation.OfficeLocationAllocationID =(Consumer.OLID)) as Location, 
 (Select AreaName from MeterReadingAreas where MeterReadingAreaID
   in (Select distinct(MeterReadingAreaID) from ReadingDateAreaAllocation RDA 
where   RDA.ReadingDateAreaAllocationID=Consumer.ReadingDateAreaAllocationID)) as Area, 
  (select Meterstatus from DistributionNodeMNRList where Consumer.DistributionNodeID=DistributionNodeMNRList.DistributionNodeID) as Status, 
  RRNO as SequenceNo,(LedgerNo+FolioNo) as LFNO,(Select Description from Tariffs 
   where Tariffs.TariffID=Consumer.TariffID) as Tariffs, FileAs as Name,  
  (Select (Area.AreaName)+ char(10) +(CD.StreetName)+ char(10) +(City.CityName)+    
char(10) +(Taluks.TalukName)+char(10) +(CD.Pincode) from  ConsumerAddressDetails CD
    left outer join Area on CD.AreaID=Area.AreaID left outer join City on CD.CityID=City.CityID
     left outer join Taluks on CD.TalukID=Taluks.TalukID   
   where CD.ConsumerID=Consumer.ConsumerID and CD.AddressCategoryID=5) as Address       
from Consumer where Consumer.DistributionNodeID in  
	(Select DistributionNodeID from DistributionNodeMNRList)


End



-- drop procedure sp_MNR
GO
