USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_NonOperated_Works_New]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_CWIP_NonOperated_Works_New] @FromFyYear DateTime,@ToFyYear DateTime,@AcOLID Int,@Year Int
AS SET NOCOUNT ON


--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2026-03-31'
--Declare @AcOLID varchar(200) select @AcOLID = -99
--Declare @Year Int select @Year = 5


Declare @FromDate DateTime = (select DateAdd(Year,-@Year+1,@FromFyYear)) 
--select @FromDate,DateAdd(Year,1,@FromDate)-1

Declare @JVNo Table (DocumentTypeID Int,JournalVoucherNo Int) 
Insert Into @JVNo 
select Distinct DocumentTypeID,JournalVoucherNo from JournalVoucher A with(nolock) where DocumentTypeID in (10,33,29,37) and Approved=1
and JournalVoucherNo in (select JournalVoucherNo from JournalVoucherDetails B with(nolock) where b.JournalVoucherNo=a.JournalVoucherNo 
and (b.FromMainAccountCode like '14.%' or b.ToMainAccountCode like '14.%'))
and (OLID=@AcOLID or @AcOLID=-99) 
and JournalVoucherDate Between @FromDate and @ToFyYear 

Declare @WONo1 Table (WorkOrderNo Int) 
Insert Into @WONo1 
select distinct DocumentNo from (
select  * ,(Row_Number() over (Partition By DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from ActivityApprovals_Works with(nolock) where ActivityID in (133,134,386)
) A where MaxNo=1 and StatusID not in (8) 


Declare @WONo Table (WorkOrderNo Int) 
Insert Into @WONo 
select Distinct DocumentNo from StoreInvoice_Accounts A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=10) 
union 
select Distinct DocumentNo from ReceiptVoucherAbstract_Accounts A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=33) 
union 
select Distinct DocumentNo from CivilInvoice A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=29) 
union 
select Distinct DocumentNo from CostRegister A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=37) 

select 2 OrderNo,a.WorkOrderNo,concat('Since ',@Year,' year non operated works') List 
from WorkOrder A with(nolock) 
left join @WONo1 w on w.WorkOrderNo=a.WorkOrderNo
outer apply (select * from (select WorkOrderNo,CompletionReportDate,CommissionedDate,CompletionDate,(Row_Number() over (Partition By WorkOrderNo Order By WorkOrderNo,CompletionReportDate desc,CompletionReportID desc)) RowNo
	from CompletionReport D with(nolock) where d.WorkOrderNo=a.WorkOrderNo AND ISNULL(Canceled,0) = 0 ) A where RowNo=1 ) CR
outer apply (select * from (select WorkOrderNo,CompletionReportDate,WorksCompletionDate,(Row_Number() over (Partition By WorkOrderNo Order By WorkOrderNo,CompletionReportDate desc,LegacyWOcompletionreportId desc)) RowNo
	from LegacyWOcompletionreport D with(nolock) where d.WorkOrderNo=a.WorkOrderNo AND ISNULL(Canceled,0) = 0 and Approved=1 ) A where RowNo=1 ) CR1
where (case when TokenWorkOrder=1 then 1 else Approved end)=1 
--and isnull(canceled,0)=0
and (case when w.WorkOrderNo is not NULL then 0 else isnull(canceled,0) end)=0 
and (case when isnull(isnull(CommissionedDate,WorksCompletionDate),'1900-01-01')>=@FromFyYear then 0 else isnull(Complete,0) end)=0 
and OLID in (select OLID from OfficeLocationAccountingUnitDetails B with(nolock) where b.OLID=a.OLID and (b.AcOLID=@AcOLID or @AcOLID=-99)) 
and a.WorkOrderNo not in (select WorkOrderNo from @WONo C where c.WorkOrderNo=a.WorkOrderNo) 
and isnull(WorkAllocationID,0) in (select WorkAllocationID from WorkAllocation with(nolock) where MainAccountCode like '14.%')
and WorkOrderDate >= @FromDate  --and a.WorkOrderNo = 676332
Order By WorkOrderNo desc 
OPTION(RECOMPILE)




--select * from @WONo where WorkOrderNo = 1008811
--select * from ActivityApprovals_Works with(nolock) where ActivityID in (133,134,386) and DOcumentNo = 1008811




GO
