USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMakeModelAlt]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMakeModelAlt] @SIAltDetID int as


SELECT
STUFF((select ', '+
Concat(SIDATA.SerialNo  COLLATE DATABASE_DEFAULT,
CASE WHEN SIDATA.MAKE is null THEN '' ELSE ' -  ' end,isnull(SIDATA.MAKE,'') COLLATE DATABASE_DEFAULT,
CASE WHEN SIDATA.MODEL is null THEN '' ELSE ' -  ' end,isnull(SIDATA.MODEL,'') COLLATE DATABASE_DEFAULT)
FROM
(
select DISTINCT case when s.SerialFlag=0 then '' else siamd.SerialNo end SerialNo,siamds1.UserDefinedFieldValue make,siamds.UserDefinedFieldValue model
from StoreInvoiceAlternateMaterialDetails_Accounts siamd with(nolock)
inner join StoreInvoiceAlternateDetails_Accounts siad  with(nolock) on siad.StoreInvoiceAlternateDetailsID=siamd.StoreInvoiceAlternateDetailsID
inner join StoreInvoiceDetails_Accounts sid  with(nolock) on sid.StoreInvoiceDetailsID=siad.StoreInvoiceDetailsID
inner join StoreInvoice_Accounts si  with(nolock) on si.StoreInvoiceNo=sid.StoreInvoiceNo
left outer join StoreInvoiceAlternateMaterialDetailsSub_PnI siamds  with(nolock) on siamds.StoreInvoiceAlternateMaterialDetailsID=siamd.StoreInvoiceAlternateMaterialDetailsID and siamds.DistributionNodeUserDefinedFieldID=1
left outer join StoreInvoiceAlternateMaterialDetailsSub_PnI siamds1  with(nolock) on siamds1.StoreInvoiceAlternateMaterialDetailsID=siamd.StoreInvoiceAlternateMaterialDetailsID and siamds1.DistributionNodeUserDefinedFieldID=20
inner join Stock s  with(nolock) on s.ItemID=siad.ItemID
where siad.StoreInvoiceAlternateDetailsID=@SIAltDetID and siamd.StockConditionID<>4)SIDATA
FOR XML PATH('')),1,1,'')
GO
