USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SectionWiseReport]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SectionWiseReport]
    @SalaryMonth int,
	@SalaryYear int,
	@config NVARCHAR(200),
	@hr NVARCHAR(200)

AS 

SET NOCOUNT ON

DECLARE @LoanAndAdvanceSum VARCHAR(8000)
SELECT @LoanAndAdvanceSum=dbo.fn_getLoanAndAdvanceSum()

DECLARE @LoanAndAdvanceColumns VARCHAR(8000)

SELECT @LoanAndAdvanceColumns= dbo.fn_getLoanAndAdvanceColumns()

DECLARE @LoanAndAdvanceQuery VARCHAR(8000)
SET @LoanAndAdvanceQuery='create view TEST123 as SELECT  ScaleregisterID,'+
							@LoanAndAdvanceColumns+' FROM (SELECT SR.ScaleRegisterID, SRLA.Amount as NewAmount,EO.Name+'+''+'+EOB.Name as Organisation
																FROM EmployeeLoanAndAdvance ELA, ExternalOrganisations EO, 
																ExternalOrganisationBranches EOB,ScaleRegisterLoansAndAdvances SRLA,ScaleRegister SR
																WHERE EO.ExternalOrganisationID =ELA.ExternalOrganisationID 
																AND ELA.ExternalOrganisationBranchID=EOB.ExternalOrganisationBranchID
																AND EOB.ExternalOrganisationID=EO.ExternalOrganisationID
																AND SRLA.ScaleRegisterID=SR.ScaleRegisterID
																AND SRLA.LoanAndAdvanceID=ELA.LoanAndAdvanceID
																AND SR.ContactID=ELA.ContactID
																
																)
						p PIVOT (sum([NewAmount]) FOR Organisation 
						IN ('+@LoanAndAdvanceColumns+')) AS pvt
				'

						
		Execute(@LoanAndAdvanceQuery)


DECLARE @FinalQuery VARCHAR(MAX)
set @FinalQuery ='select (select FileAs from officelocationallocation where officelocationAllocationid=OLA.UnderOfficeLocationAllocationID) as Office,'
set @FinalQuery =@FinalQuery+'OLA.FileAs, E.Contactid,'
set @FinalQuery =@FinalQuery+'(Select isnull(Sum(Amount),0) from Scaleregisterbasicpaydetails where ScaleregisterID=SR.ScaleregisterId) as Basic,'
set @FinalQuery =@FinalQuery+'(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId  and allowanceid=18) as MDA,'
set @FinalQuery =@FinalQuery+'(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId  and allowanceid=1) as DA,'
set @FinalQuery =@FinalQuery+'(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId  and allowanceid=17) as Special_Pay,'
set @FinalQuery =@FinalQuery+'(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId  and allowanceid=2) as HRA,'
set @FinalQuery =@FinalQuery+'(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId  and allowanceid=3) as CCA,'
set @FinalQuery =@FinalQuery+'(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId  and allowanceid=13) as Others,'
set @FinalQuery =@FinalQuery+'(Select isnull(Sum(Amount),0) from Scaleregisterbasicpaydetails where ScaleregisterID=SR.ScaleregisterId)'
set @FinalQuery =@FinalQuery+'+(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=18)'
set @FinalQuery =@FinalQuery+'+(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=1)'
set @FinalQuery =@FinalQuery+'+(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=17) 
+(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=2)
+(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=3) 
+(select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=13)
as Gross,
0 as JS,
(select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=2) as IT,
(select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=3) as ProfTAX,
(select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=5) as Union_Deduc,
0 as FBF,
(select isnull(Sum (Amount),0) from ScaleregisterLoansandAdvances where ScaleregisterID=SR.ScaleregisterId and LoanandAdvanceID=9) as FA,
T.*,'+ @LoanAndAdvanceSum +
'+ (select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=2) 
 + (select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=3) 
 + (select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=5) 
 as TotalDeductions, 
((Select isnull(Sum(Amount),0) from Scaleregisterbasicpaydetails where ScaleregisterID=SR.ScaleregisterId)
+ (select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=18)
+ (select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=1)
+ (select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=17) 
+ (select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=2)
+ (select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=3) 
+ (select isnull(Sum (Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=13))
- ( + '+ @LoanAndAdvanceSum + '
+(select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=2) 
+ (select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=3) 
+(select isnull(Sum (Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=5)  
+ (select isnull(Sum (Amount),0) from ScaleregisterLoansandAdvances where ScaleregisterID=SR.ScaleregisterId and LoanandAdvanceID=9)
) as NetPayments  
from employee E,contacts C,odldallocation O,Designation D,Scaleregister SR,Test123 T,officelocationallocation OLA
where E.Contactid=C.contactid 
and T.ScaleregisterID=SR.ScaleregisterId
and E.odldid=O.odldid
and O.designationid=D.designationid
and O.locationid=OLA.locationid
and O.officeid=OLA.officeid
and OLA.officeid=6
and SR.contactid=E.Contactid
and SR.ScaleregisterId in (Select max(ScaleRegisterID) from Scaleregister SR2
where SalaryMonth= '+cast (@SalaryMonth as VARCHAR(2))+' and SalaryYear='+cast (@SalaryYear as VARCHAR(4)) + 'and SR2.Contactid=SR.contactid) '



EXECUTE (@FinalQuery)

drop view test123
GO
