USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ODLD_Update]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_ODLD_Update]
 @TableName Int,@Query Varchar(10),@OID Int,@LID Int,@ParentOLID Int,@VCID Int,@Active Int
 ,@UOLID Int,@DPID Int,@UDPID Int
AS SET NOCOUNT ON 

--Declare @TableName Int = 3
--Declare @Query Varchar(10) = 'Select'

--Declare @OID Int = 83
--Declare @LID Int = 21
--Declare @ParentOLID Int = 10505
--Declare @VCID Int = 8
--Declare @Active Int = 1
--Declare @UOLID Int = 9513

--Declare @DPID Int = 197 
--Declare @UDPID Int = 179 


Declare @OName Varchar(100) = (select OfficeName from Office O with(nolock) where OfficeID=@OID) 
Declare @LName Varchar(100) = (select LocationName from Location L with(nolock) where LocationID=@LID)
Declare @DName Varchar(100) = (select DepartmentName from Department L with(nolock) where DepartmentID=@DPID)



IF (@Query='Import' and @TableName=1)
insert into OfficeLocationAllocation (OfficeID,LocationID,UnderOfficeLocationAllocationID,VoltageClassID,FileAs,LastUpdatedBy,LastUpdatedOn,LastUpdatedTerminal,ImprestBudget,Active)
select @OID,@LID,@ParentOLID,@VCID,concat(@LName,'  ',@OName) FileAs,0 LastUpdatedBy,GetDate() LastUpdatedOn,'' LastUpdatedTerminal,1 ImprestBudget,@Active 

IF (@Query='Update' and @TableName=1)
update ol set OfficeID=@OID,LocationID=@LID,UnderOfficeLocationAllocationID=@UOLID,VoltageClassID=@VCID,FileAs=concat(@LName,'  ',@OName),LastUpdatedBy=0,LastUpdatedOn=GetDate(),LastUpdatedTerminal='' ,ImprestBudget=1,Active=@Active
from OfficeLocationAllocation OL with(nolock) where OfficeID=@OID and LocationID=@LID 

IF (@TableName=1)
select * from OfficeLocationAllocation OL with(nolock) where OfficeID=@OID and LocationID=@LID 


IF (@Query='Import1' and @TableName=2)
insert into OfficeDepartmentAllocation (DepartmentID,OfficeID,UnderDepartmentID,DepartmentFileAs,CreatedBy,CreatedOn,CreatedTerminal)
select @DPID,@OID,@UDPID,concat(@OName,'  ',@DName) FileAs,NULL,GETDATE(),''

IF (@Query='Update1' and @TableName=2)
update a set DepartmentID=@DPID,OfficeID=@OID,UnderDepartmentID=@UDPID,DepartmentFileAs=concat(@OName,'  ',@DName) 
from OfficeDepartmentAllocation a with(nolock) where OfficeID=@OID and DepartmentID=@DPID

IF (@TableName=2)
select * from OfficeDepartmentAllocation with(nolock) where OfficeID=@OID and DepartmentID=@DPID


Declare @OLD Table (OfficeDepartmentAllocationID Int,OfficeLocationAllocationID Int,FileAs Varchar(200),CreatedBy Int,CreatedOn DateTime,CreatedTerminal Varchar(50))
Insert Into @OLD
select OfficeDepartmentAllocationID,@ParentOLID,concat( ol.Fileas,' ',DepartmentName),0,GetDate(),''
from OfficeDepartmentAllocation a
inner join Department b on b.DepartmentID=a.DepartmentID
inner join Office b1 on b1.OfficeID=a.OfficeID
inner join OfficeLocationAllocation ol on ol.OfficeLocationAllocationID=@ParentOLID
where a.OfficeDepartmentAllocationID not in (select OfficeDepartmentAllocationID from OfficeLocationDepartmentAllocation A1 where a1.OfficeDepartmentAllocationID = a.OfficeDepartmentAllocationID and a1.OfficeLocationAllocationID = @ParentOLID ) 
and a.OfficeID = @OID 
order by a.OfficeDepartmentAllocationID


IF (@Query='Import2' and @TableName=3)
 insert into OfficeLocationDepartmentAllocation  select * from @OLD 
IF (@TableName=3)  select * from @OLD 



Declare @ODD Table (OfficeDepartmentAllocationID Int,DesignationID Int,UnderDesignationID Int,UnderOfficeDepartmentDesignationID Int,CreatedBy Int,CreatedOn DateTime,CreatedTerminal Varchar(50),Seniority Money,JobTitle Varchar(255),FileAs Varchar(255))
;With Data1 as (
select ODLDID,a.OfficeID,a.DepartmentID,a.LocationID,a.DesignationID,b.OfficeLocationAllocationID OLID,UnderOfficeLocationAllocationID UnderOLID
,c.OfficeDepartmentAllocationID ODID,OfficeLocationDepartmentAllocationID OLDID,OfficeDepartmentDesignationAllocationID ODDID
from (select * from ODLDAllocation with(nolock) where ODLDID in (select distinct ODLDID from ODLDAllocation with(nolock))
) A left join OfficeLocationAllocation B with(nolock) on b.OfficeID=a.OfficeID and b.LocationID=a.LocationID
left join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=a.OfficeID and c.DepartmentID=a.DepartmentID
left join OfficeLocationDepartmentAllocation D with(nolock) on d.OfficeLocationAllocationID=b.OfficeLocationAllocationID and d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID
left join OfficeDepartmentDesignationAllocation E with(nolock) on e.DesignationID=a.DesignationID and e.OfficeDepartmentAllocationID=d.OfficeDepartmentAllocationID 
where OfficeDepartmentDesignationAllocationID is NULL
)
Insert Into @ODD
select distinct ODID,a.DesignationID,NULL,NULL,NULL,GetDate(),'',NULL,'',concat(departmentFileAs,DesignationName) 
from Data1 a 
left join OfficeDepartmentAllocation b on b.OfficeDepartmentAllocationID=ODID
left join Designation c on c.DesignationID=a.DesignationID
where ODID is not NULL 
and Concat(ODID,a.DesignationID) not in (select Concat(OfficeDepartmentAllocationID,DesignationID) from OfficeDepartmentDesignationAllocation)
Order By concat(departmentFileAs,DesignationName) 


IF (@Query='Import3' and @TableName=4)
 insert into OfficeDepartmentDesignationAllocation  select * from @ODD 
IF (@TableName=4)  select * from @ODD 



Declare @OH Table (OLID Int,HeirarchyOLID Int,AcUnit Int,OfficeLocationHeirarchyID Int,OfficeLocationAllocationID Int,HeirarchyOfficeLocationAllocationID Int,AccountingUnit Int)
Insert Into @OH
select * from (
select CorporateOLID OLID,OLID HeirarchyOLID,AcUnit from OfficeLocationAccountingUnitDetails a 
inner join OfficeLocationAllocation a1 on a1.OfficeLocationAllocationID=a.OLID 
where CorporateOLID !=0 
union 
select ZonalOLID,OLID,AcUnit from OfficeLocationAccountingUnitDetails a 
inner join OfficeLocationAllocation a1 on a1.OfficeLocationAllocationID=a.OLID 
where ZonalOLID !=0
union
select CircleOLID,OLID,AcUnit from OfficeLocationAccountingUnitDetails a 
inner join OfficeLocationAllocation a1 on a1.OfficeLocationAllocationID=a.OLID 
where CircleOLID !=0
union
select DivisionOLID,OLID,AcUnit from OfficeLocationAccountingUnitDetails a 
inner join OfficeLocationAllocation a1 on a1.OfficeLocationAllocationID=a.OLID 
where DivisionOLID !=0
union 
select SubDivisionOLID,OLID,AcUnit from OfficeLocationAccountingUnitDetails a 
inner join OfficeLocationAllocation a1 on a1.OfficeLocationAllocationID=a.OLID 
where SubDivisionOLID !=0
union 
select OLID,OLID,AcUnit from OfficeLocationAccountingUnitDetails a 
inner join OfficeLocationAllocation a1 on a1.OfficeLocationAllocationID=a.OLID 
where a.OfficeID not in (65,66,49,50,80)
) A full join OfficeLocationHeirarchy  B on b.OfficeLocationAllocationID=a.OLID and b.HeirarchyOfficeLocationAllocationID=a.HeirarchyOLID


IF (@Query='Import4' and @TableName=5)
INSERT INTO OfficeLocationHeirarchy (OfficeLocationAllocationID, HeirarchyOfficeLocationAllocationID, AccountingUnit)
select OLID,HeirarchyOLID,AcUnit from @OH where HeirarchyOfficeLocationAllocationID is NUll  

IF (@Query='Delete' and @TableName=5)
IF (@TableName=5)  select OfficeLocationAllocationID, HeirarchyOfficeLocationAllocationID, AccountingUnit from @OH where OLID is NUll  

IF (@TableName=5)  
select * from @OH where (HeirarchyOfficeLocationAllocationID is NUll or OLID is NUll)







GO
