USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure1a]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_Annexure1a] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON



--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2026-03-31'
--Declare @AcOLID varchar(100) select @AcOLID = '658'


Declare @AcOL Table (OLID Int) Insert Into @AcOL
select distinct OLID from OfficeLocationAccountingUnitDetails with(nolock) where AcOLID=@AcOLID 


Declare @JVNo Table (JournalVoucherNo Int,OLID Int)
Insert into @JVNo
select distinct JournalVoucherNo,OLID from JVDetailsAnnexure1to8 A with(nolock) 
where JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select OLID from @AcOL) 
and (left(FromAcHead,4) in ('14.7','14.8') or left(ToAcHead,4) in ('14.7','14.8') ) and DocumentTypeID=10
--and  JournalVoucherNo in ( 2591415,2566623 )  

Declare @JVNo1 Table (JournalVoucherNo Int,OLID Int)
Insert into @JVNo1
select distinct JournalVoucherNo,OLID from JVDetailsAnnexure1to8 A with(nolock) 
where JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select OLID from @AcOL) 
and (left(FromAcHead,4) in ('14.7','14.8') or left(ToAcHead,4) in ('14.7','14.8') ) and DocumentTypeID=33
--and  JournalVoucherNo in ( 2349805 )

Declare @SINo Table (DocumentNo Int)
Insert into @SINo
select DocumentNo from AdviceofTransfer where AdviceofTransferNo in (
select distinct DocumentNo from JVDetailsAnnexure1to8 A with(nolock)  
where JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select OLID from @AcOL) 
and (left(FromAcHead,4) in ('14.7','14.8') or left(ToAcHead,4) in ('14.7','14.8') ) and DocumentTypeID = 45 
) and DocumentTypeID=10


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int)
Insert into @JV
select * from (
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where (FromAcHead like '14.%' or ToAcHead like '14.%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select OLID from @AcOL) 
and (left(FromAcHead,4) not in ('14.7','14.8') and left(ToAcHead,4) not in ('14.7','14.8') )
--and JournalVoucherNo = 2598558
union all 
select a.JournalVoucherNo,a.OLID,28 DocumentTypeID,ItemID,isnull(isnull(isnull(j.FromAcHead,j1.FromAcHead),j2.FromAcHead),j3.FromAcHead) FromAcHead
,(case when j.FromAcHead is NULL then isnull(isnull(isnull(j.ToAcHead,j1.ToAcHead),j2.ToAcHead),j3.ToAcHead) else (c.MainAccountCode+c.SubAccountCode) end) ToAcHead,VoltageClassCode,abs(c.Amount),0
froM @JVNo A left join StockLedgerDetails_Accounts B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo and b.StockTransactionTypeID=1
left join StockLedgerMaterialDetails C with(nolock) on c.StockLedgerDetailsID=b.StockLedgerDetailsID
outer apply ( select top 1 * from JVDetailsAnnexure1to8 J with(nolock) where j.JournalVoucherNo=a.JournalVoucherNo and j.ToAcHead=(c.MainAccountCode+c.SubAccountCode) and j.Amount=abs(c.Amount)) J 
outer apply ( select top 1 * from JVDetailsAnnexure1to8 J with(nolock) where j.JournalVoucherNo=a.JournalVoucherNo and j.ToAcHead=(c.MainAccountCode+c.SubAccountCode)) J1
outer apply ( select top 1 * from JVDetailsAnnexure1to8 J with(nolock) where j.JournalVoucherNo=a.JournalVoucherNo and j.FromAcHead=(c.MainAccountCode+c.SubAccountCode)) J2
outer apply ( select top 1 * from JVDetailsAnnexure1to8 J1 with(nolock) where j.JournalVoucherNo=a.JournalVoucherNo and j.ToAcHead like '22.%') J3 
left join VoltageClass d With (NoLock) on D.VoltageClassID=isnull(isnull(isnull(J.VoltageClassID,j2.VoltageClassID),j1.VoltageClassID),j3.VoltageClassID)
--where ItemID = 3091 
union all 
select a.JournalVoucherNo,a.OLID,28 DocumentTypeID,ItemID,(c.MainAccountCode+c.SubAccountCode) FromAcHad
,(case when j.ToAcHead is NULL then j1.ToAcHead else j.ToAcHead end) ToAcHead,VoltageClassCode,c.Amount,0
froM @JVNo1 A left join StockLedgerDetails_Accounts B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo and b.StockTransactionTypeID=2
left join StockLedgerMaterialDetails C with(nolock) on c.StockLedgerDetailsID=b.StockLedgerDetailsID
outer apply ( select top 1 * from JVDetailsAnnexure1to8 J with(nolock) where j.JournalVoucherNo=a.JournalVoucherNo and j.FromAcHead=(c.MainAccountCode+c.SubAccountCode)) J 
outer apply ( select top 1 * from JVDetailsAnnexure1to8 J1 with(nolock) where j1.JournalVoucherNo=a.JournalVoucherNo and j1.FromAcHead like '22.%') J1 
left join VoltageClass d With (NoLock) on D.VoltageClassID=isnull(J.VoltageClassID,j1.VoltageClassID)
union all 
select j1.JournalVoucherNo,j1.OLID,28 DocumentTypeID,j2.ItemID,j3.FromAcHead,j3.ToAcHead,VoltageClassCode,j2.Amount,0 from (
select StoreInvoiceNo,JournalVoucherNo,OLID from StoreInvoice_Accounts J with(nolock) where j.StoreInvoiceNo in (select DocumentNo from @SINo)
) J1 inner Join StoreInvoiceDetails_Accounts J2 with(nolock) on j2.StoreInvoiceNo=j1.StoreInvoiceNo 
left Join JVDetailsAnnexure1to8 J3 with(nolock) on j3.JournalVoucherNo=j1.JournalVoucherNo 
left join VoltageClass B With (NoLock) on b.VoltageClassID=j3.VoltageClassID
where J1.OLID=@AcOLID 
--where j1.JournalVoucherNo = 2306628 
union all 
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo
from JVDetailsAnnexure1to8 A with(nolock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where DocumentNo in ( select DocumentNo from AdviceofTransfer where AdviceofTransferNo in (
select distinct DocumentNo from JVDetailsAnnexure1to8 A with(nolock)  
where JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select OLID from @AcOL) 
and (left(FromAcHead,4) in ('14.7','14.8') or left(ToAcHead,4) in ('14.7','14.8') ) and DocumentTypeID = 45 
) and DocumentTypeID!=10)
union all
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where (FromAcHead like '14.%' or ToAcHead like '14.%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select OLID from @AcOL) 
and (left(FromAcHead,4) in ('14.7','14.8') or left(ToAcHead,4) in ('14.7','14.8') ) and DocumentTypeID not in (10,33,45) 
) A 
--where JournalVoucherNo = 2598558


Declare @Series10 Table (SlNo Int,Series10 Varchar(20))
Insert into @Series10
select (Row_Number() over (Order By Series10))+100 SlNo,Series10 from (
select '10.101' Series10 union all select '10.211' union all select '10.222' union all select '10.223' union all select '10.303' union all select '10.304' union all select '10.305' 
union all select '10.516' union all select '10.530' union all select '10.531' union all select '10.532' union all select '10.533' union all select '10.535' 
union all select '10.541' union all select '10.542' union all select '10.543' union all select '10.551' union all select '10.552' union all select '10.553' 
union all select '10.555' union all select '10.561' union all select '10.563' union all select '10.565' union all select '10.567' union all select '10.571' 
union all select '10.572' union all select '10.573' union all select '10.574' union all select '10.575' union all select '10.576' union all select '10.577' 
union all select '10.578' union all select '10.580' union all select '10.581' union all select '10.582' union all select '10.583' union all select '10.584' 
union all select '10.585' union all select '10.586' union all select '10.599' union all select '10.601' union all select '10.602' union all select '10.603' 
union all select '10.611' union all select '10.612' union all select '10.621' union all select '10.631' union all select '10.632' union all select '10.641' 
union all select '10.685' union all select '10.710' union all select '10.720' union all select '10.730' union all select '10.740' union all select '10.800' 
union all select '10.903' union all select '10.904' union all select '10.905' ) A 

 
Declare @Annex1 Table (SLNo Int,OLID Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money,VoltageClassCode Varchar(20),JournalVoucherNo Int,DocumentTypeID Int,DocumentNo Int) 
Insert Into @Annex1 
select a.* from (
select SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from ( 
		  select 10 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '22.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 10 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '22.%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 11 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where left(FromAcHead,4) in ('14.6','14.7','14.8') 
	and (ToAcHead not like '14.%' and ToAcHead not like '16.%' and ToAcHead not like '37.%' and ToAcHead not like '32.%' and ToAcHead not like '10.%' and ToAcHead not in ('22.310','42.401','55.100','78.900','75.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) 
	group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 11 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where left(ToAcHead,4) in ('14.6','14.7','14.8') 
	and (FromAcHead not like '14.%' and FromAcHead not like '16.%' and FromAcHead not like '37.%' and FromAcHead not like '32.%' and FromAcHead not like '10.%' and FromAcHead not in ('22.310','42.401','55.100','78.900','75.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) 
	group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 12 SLNo,OLID,FromAcHead,'16' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '16.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 12 SLNo,OLID,ToAcHead,'16' FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '16.%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 13 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '42.401%') and left(FromAcHead,4) not in ('14.6','14.7','14.8') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 13 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '42.401%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 13 SLNo,OLID,FromAcHead,'42.401' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where left(FromAcHead,4) not in ('14.6','14.7','14.8') and FromAcHead like '14.%' 
	and (ToAcHead not like '14.%' and ToAcHead not like '16.%' and ToAcHead not like '37.%' and ToAcHead not like '32.%' and ToAcHead not like '10.%' and ToAcHead not like '22.%' 
	and ToAcHead not in ('17.301','42.401','55.100','78.900','75.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 13 SLNo,OLID,ToAcHead,'42.401' FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where left(ToAcHead,4) not in ('14.6','14.7','14.8') and ToAcHead like '14.%' 
	and (FromAcHead not like '14.%' and FromAcHead not like '16.%' and FromAcHead not like '37.%' and FromAcHead not like '32.%' and FromAcHead not like '10.%' and FromAcHead not like '22.%' 
	and FromAcHead not in ('17.301','42.401','55.100','78.900','75.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 13 SLNo,OLID,FromAcHead,'42.401' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where FromAcHead in ('14.990') and ToAcHead='42.401' group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 13 SLNo,OLID,ToAcHead,'42.401' FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where ToAcHead in ('14.990') and FromAcHead='42.401' group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 


union all select 14 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '55.100%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 14 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '55.100%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 15 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and left(ToAcHead,4) in ('78.9','75.9') ) and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 15 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (left(FromAcHead,4) in ('78.9','75.9') and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 16 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '46.440%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 16 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '46.440%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 17 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '17.301%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 17 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '17.301%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 


union all select 19 SLNo,OLID,FromAcHead,'32.2' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '32.2%') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 19 SLNo,OLID,ToAcHead,'32.2' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '32.2%' and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 20 SLNo,OLID,FromAcHead,'32.3' ,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '32.3%') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 20 SLNo,OLID,ToAcHead,'32.3' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '32.3%' and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 20 SLNo,OLID,FromAcHead,'32.3' ,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '37.3%') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 20 SLNo,OLID,ToAcHead,'32.3' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '37.3%' and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 21 SLNo,OLID,FromAcHead,'42' ,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead in ('42.219','42.220','42.222','42.223','42.790')) group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 21 SLNo,OLID,ToAcHead,'42' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead in ('42.219','42.220','42.222','42.223','42.790') and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 23 SLNo,OLID,ToAcHead,'32.1' ,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '32.1%' and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 23 SLNo,OLID,FromAcHead,'32.01' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '32.1%') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 24 SLNo,OLID,ToAcHead,'32.4' ,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '32.4%' and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 24 SLNo,OLID,FromAcHead,'32.4' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '32.4%') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 25 SLNo,OLID,ToAcHead,'28' ,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead in ('28.831','28.832','28.834','28.835','28.790') and ToAcHead like '14.%')  group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 25 SLNo,OLID,FromAcHead,'28' ,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead in ('28.831','28.832','28.834','28.835','28.790')) group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 27 SLNo,OLID,ToAcHead,FromAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '10.%' and ToAcHead like '14.%') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 27 SLNo,OLID,FromAcHead,ToAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '10.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 28 SLNo,0 OLID,'' ToAcHead,'' FromAcHead,0 Amount,'7' VoltageClassCode,0,0 DocumentTypeID,0 DocumentNo
--union all select 29 SLNo,OLID,FromAcHead,'Reclasification' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '14.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
--union all select 29 SLNo,OLID,ToAcHead,'Reclasification' FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where (FromAcHead like '14.%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 

union all select 17 SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where FromAcHead like '14.%' and ToAcHead like '14.%' group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 
union all select 17 SLNo,OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @JV where ToAcHead like '14.%' and FromAcHead like '14.%' and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by OLID, FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo 


) A where len(FromAcHead)>0  --and JournalVoucherNo=1750236
Group By SLNo,OLID,FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo
) A 
--where DocumentTypeID = 28 

--IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TableType' AND ss.name = N'dbo')  begin
--    drop type dbo.TableType  end
--    create type dbo.TableType as table (SLNo Int,OLID Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money,VoltageClassCode Varchar(20),JournalVoucherNo Int,DocumentTypeID Int,DocumentNo Int) 

Declare @Annex1a as dbo.TableType 
Insert Into @Annex1a 
select * from @Annex1 
union all select 18 SLNo,OLID,FromAcHead,'Total_18' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @Annex1 where SlNo Between 10 and 17 Group By OLID,FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo
union all select 22 SLNo,OLID,FromAcHead,'Total_22' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @Annex1 where SlNo Between 19 and 21 Group By OLID,FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo
union all select 26 SLNo,OLID,FromAcHead,'Total_26' ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @Annex1 where SlNo Between 23 and 25 Group By OLID,FromAcHead,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo
union all select b.SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo,DocumentTypeID,DocumentNo from @Annex1 a left join @Series10 B on b.Series10=ToAcHead where a.SlNo=27 Group By OLID,FromAcHead,JournalVoucherNo,ToAcHead,b.SLNo,VoltageClassCode,DocumentTypeID,DocumentNo
Order By JournalVoucherNo,FromAcHead,SLNo


declare @columns nvarchar(max) declare @columns1 nvarchar(max) declare @sql nvarchar(max)
;WITH hier (row) AS (SELECT 10 UNION ALL SELECT  row + 1 FROM hier WHERE row < 29 )
select @columns = coalesce(@columns + ',','') + quotename(SLNo) , @columns1 = coalesce(@columns1 + ',','') + 'ISNULL('+quotename(SLNo)+',0) AS '+QUOTENAME(SLNo)  
from (SELECT Row SLNo FROM  hier union select distinct SLNo from @Annex1a union select distinct SLNo from @Series10) as x


set @sql = 'with cte as (select SlNo,Amount,OLID,JournalVoucherNo,concat(FromAcHead,VoltageClassCode) AcHead,DocumentTypeID,DocumentNo from @Annex1a) 
select OLID,JournalVoucherNo,AcHead,DocumentTypeID,DocumentNo, ' + @columns1 + ' from cte pivot 
(sum(Amount) FOR SLNo in ( ' + @columns + ')) as PivotTable'
exec sp_executesql @sql,N'@Annex1a dbo.TableType READONLY', @Annex1a;






GO
