USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SR_LoanAndAdvanceDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SR_LoanAndAdvanceDetails]
 @Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money
 ,@EOTypeID Int,@EOID Int,@EOBID Int,@PolicyNo Varchar(100)
AS SET NOCOUNT ON


--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 22313
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 601
--Declare @TypeID Int = 0
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 0
--Declare @EOTypeID Int = 0
--Declare @EOID Int = 0
--Declare @EOBID Int = 0
--Declare @PolicyNo Varchar(100) = ''


IF (@Query='Import' )
 insert into ScaleRegisterLoansandAdvances
select @SRID,@ODLDID,@TypeID,@FromDate,@ToDate,@Amount,@EOTypeID,@EOID,@EOBID,@PolicyNo,0
else IF (@Query='Update' )
 update a set LoanandAdvanceID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount,ExternalOrganisationTypeID=@EOTypeID,ExternalOrganisationID=@EOID,ExternalOrganisationBranchID=@EOBID,ExternalRRNo=@PolicyNo,Expired=0
from ScaleRegisterLoansandAdvances a with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterLoansandAdvancesID end)=@ColumnID
and (case when @TypeID=0 then 0 else LoanandAdvanceID end)=@TypeID

select ScaleRegisterID SRID,ODLDID,LoanandAdvanceID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount
,ExternalOrganisationTypeID EOTypeID,ExternalOrganisationID EOID,ExternalOrganisationBranchID EOBID,ExternalRRNo PolicyNo,Expired,ScaleRegisterLoansandAdvancesID SROLAID 
from ScaleRegisterLoansandAdvances with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterLoansandAdvancesID end)=@ColumnID
and (case when @TypeID=0 then 0 else LoanandAdvanceID end)=@TypeID
Order By LoanandAdvanceID,Amount



 

 
GO
