USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Material_Requirment]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_Material_Requirment] 
	@AcOLID Int,
	@OLID int ,
	@Status Varchar(20) ,
	@UBGTypes varchar(1000) ,
	@AcCode varchar(500) ,
	@MType varchar(100) ,
	@MCode Int

AS 



--Declare @AcOLID Int select @AcOLID = 412
--Declare @OLID Int select @OLID = 0
--Declare @Status varchar(20) select @Status= 'ALL'
--Declare @UBGTypes varchar(1000) select @UBGTypes = 'Total'
--Declare @AcCode varchar(500) select @AcCode = 'Total'
--Declare @MType varchar(500) select @MType = (select concat('0,',''))
--Declare @MCode Int select @MCode = (select isnull((select top 1 ItemID from MaterialCode with(nolock) where MaterialCode='ALL'),0))



Declare @AcOLID1 Int = (select distinct AcOLID from OfficeLocationAccountingUnitDetails with(nolock) where  OLID=@AcOLID)

Declare @AcOL Table (CircleOLID Int,AcOLID Int,OLID Int)
Insert into @AcOL
select CircleOLID,AcOLID,OLID from OfficeLocationAccountingUnitDetails ol with(nolock)  
where ( (case when @OLID=0 then 0 else DivisionOLID end)=@OLID or (case when @OLID=0 then 0 else SubDivisionOLID end)=@OLID or (case when @OLID=0 then 0 else OLID end)=@OLID  )
and ( AcOLID=@AcOLID or OLID=@AcOLID or CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID )  


Declare @WorkAllocation1 Table (WorkAllocationID Int,WorkDescription Varchar(500),FromMainAccountCode Varchar(10),FromSubAccountCode Varchar(10),ToMainAccountCode Varchar(10),ToSubAccountCode Varchar(10),BudgetGrantMainTypeID Int,BudgetGrantTypeID Int,BGTypes Varchar(500),UBGTypeID Int,UnderBGTypes Varchar(500))
Insert into @WorkAllocation1
select WorkAllocationID,WorkDescription,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,BudgetGrantMainTypeID,BudgetGrantTypeID,BGTypes,UBGTypeID,UnderBGTypes
from WorkAllocation_View with(nolock) 
where (case when @UBGTypes='Total' then 'Total' else isnull(UnderBGTypes,'NA') end) = @UBGTypes 
and (case when @AcCode='Total' then 'Total' else isnull(FromMainAccountCode,'NA') collate database_default+isnull(FromSubAccountCode,'') end) in ( select * from Split(@AcCode,',') )


Declare @WorkOrder1  Table (AcOLID Int,OLID Int,WorkOrderNo Int,WorkOrderDate DateTime,SanctionEstimateNo Int,WorkAllocationID Int) 
Insert into @WorkOrder1
select b.AcOLID,b.OLID,WorkOrderNo,WorkOrderDate,isnull(SanctionEstimateNo,0) SanctionEstimateNo,isnull(WorkAllocationID,0) WorkAllocationID 
from @AcOL B inner join MRQMT_Workorder a with(nolock) on a.OLID=b.OLID 
and isnull(WorkAllocationID,0) in (select WorkAllocationID from @WorkAllocation1 C where c.WorkAllocationID=isnull(a.WorkAllocationID,0))
--and WorkOrderNo = 996494

Declare @SEAD  Table (AcOLID Int,OLID Int,WorkAllocationID Int,WorkOrderNo Int,WorkOrderDate DateTime,ItemID Int,UnitID Int,ActualQuantity Float,BOMItemID Int,BOMUnitID Int,BOMQuantity Float,TotalQuantity Float,ActualUnitID Int,EstimateQuantity Float,ReturnRVQuantity Float,SIQuqntity Float) 
Insert into @SEAD
select a.AcOLID,a.OLID,a.WorkAllocationID,a.WorkOrderNo,a.WorkOrderDate,b.ItemID,UnitID,ActualQuantity,(case when BOMItemID=0 then NULL else BOMItemID end),(case when BOMUnitID=0 then NULL else BOMUnitID end) BOMUnitID,BOMQuantity,TotalQuantity,ActualUnitID,EstimateQuantity,0 ReturnRVQuantity,0 SIQuqntity 
from @WorkOrder1 A 
inner join MRQMT_SanctionEstimate B with(nolock) on b.WorkOrderNo=a.WorkOrderNo 
left join Stock s with(nolock) on s.ItemID=isnull((case when BOMItemID=0 then NULL else BOMItemID end),b.ItemID) 
where (case when @MCode=0 then 0 else isnull((case when BOMItemID=0 then NULL else BOMItemID end),b.ItemID) end) = @MCode 
and (case when @MType='0,' then 0 else isnull(s.StockTypeID,0) end) in ( select * from Split(@MType,',') where len(Data)>0 )


Declare @RVD  Table (AcOLID Int,OLID Int,WorkAllocationID Int,WorkOrderNo Int,WorkOrderDate DateTime,ItemID Int,UnitID Int,ReceivedQuantity Float,BOMItemID Int,BOMUnitID Int,BOMQuantity Float,TotalQuantity Float,ActualUnitID Int,EstimateQuantity Float,ReturnRVQuantity Float,SIQuqntity Float) 
Insert into @RVD
select a.AcOLID,a.OLID,a.WorkAllocationID,a.WorkOrderNo,a.WorkOrderDate,rv.ItemID,UnitID,ActualQuantity,(case when BOMItemID=0 then NULL else BOMItemID end),(case when BOMUnitID=0 then NULL else BOMUnitID end) BOMUnitID,BOMQuantity,TotalQuantity,ActualUnitID,0 EstimateQuantity,ReturnRVQuantity,0 SIQuqntity
from @WorkOrder1 A 
Inner Join MRQMT_ReceiptVoucher RV with(nolock) on rv.WorkOrderNo=a.WorkOrderNo  
left join Stock s with(nolock) on s.ItemID=isnull((case when BOMItemID=0 then NULL else BOMItemID end),rv.ItemID)
where (case when @MCode=0 then 0 else isnull((case when BOMItemID=0 then NULL else BOMItemID end),rv.ItemID) end) = @MCode 
and (case when @MType='0,' then 0 else isnull(s.StockTypeID,0) end) in ( select * from Split(@MType,',') where len(Data)>0 )


Declare @SID  Table (AcOLID Int,OLID Int,WorkAllocationID Int,WorkOrderNo Int,WorkOrderDate DateTime,ItemID Int,UnitID Int,QuantityIssued Float,BOMItemID Int,BOMUnitID Int,BOMQuantity Float,TotalQuantity Float,ActualUnitID Int,EstimateQuantity Float,ReturnRVQuantity Float,SIQuqntity Float) 
Insert into @SID
select a.AcOLID,a.OLID,a.WorkAllocationID,a.WorkOrderNo,a.WorkOrderDate,si.ItemID,UnitID,ActualQuantity,(case when BOMItemID=0 then NULL else BOMItemID end),(case when BOMUnitID=0 then NULL else BOMUnitID end) BOMUnitID,BOMQuantity,TotalQuantity,ActualUnitID,0 EstimateQuantity,0 ReturnRVQuantity,SIQuqntity 
from @WorkOrder1 A 
inner join MRQMT_StoreInvoice SI with(nolock) on si.WorkOrderNo=a.WorkOrderNo  
left join Stock s with(nolock) on s.ItemID=isnull((case when BOMItemID=0 then NULL else BOMItemID end),si.ItemID)
where (case when @MCode=0 then 0 else isnull((case when BOMItemID=0 then NULL else BOMItemID end),si.ItemID) end) = @MCode 
and (case when @MType='0,' then 0 else isnull(s.StockTypeID,0) end) in ( select * from Split(@MType,',') where len(Data)>0 )


-- -- if SI=RV  then WTTU else WUP
-- -- if row exists then WUP else WTTU 
----Declare @MaterialRequirement Table ( CircleOLID Int,AcOLID Int,OLID Int,WorkOrderNo Int,WorkOrderDate DateTime,WorkAllocationID Int,WorkDescription varchar(500),AccountCode varchar(20),UBGTypeID Int,UnderBGTypes varchar(500),ItemID Int,UnitID Int,EstimateQuantity Float,ReturnRVQuantity Float,SIQuantity Float,Status varchar(10),Balance Float,OrderNo Int ) 
----Insert into @MaterialRequirement 

select wo.*,(DENSE_RANK() over (Order By isnull(UnderBGTypes,'NA'))) as OrderNo,(DENSE_RANK() over (Order By isnull(AccountCode,'NA'))) as OrderNo1 from (
select wo.*,((Estimatequantity+ReturnRVQuantity) - SIQuantity) as Balance ,(isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')) AccountCode,UBGTypeID,UnderBGTypes,WorkDescription from ( 
select AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,ItemID,UnitID,Sum(EstimateQuantity) as EstimateQuantity,Sum(ReturnRVQuantity) as ReturnRVQuantity,Sum(SIQuqntity) as SIQuantity
,(case when Sum(ReturnRVQuantity)=Sum(SIQuqntity) then 'WTTP' else case when Sum(SIQuqntity)=0 then 'WTTP' else 'WUP' end end) as Status from ( 
select AcOLID,OLID,WorkOrderNo,WorkOrderDate,wo.WorkAllocationID,isnull(BOMItemID,ItemID) ItemID,isnull(BOMUnitID,ActualUnitID) UnitID,EstimateQuantity,ReturnRVQuantity, SIQuqntity 
from (select * from @SEAD union all select * from @RVD union all select * from @SID) WO
) MR Group By AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,ItemID,UnitID
) WO left join @WorkAllocation1 wa on isnull(wa.WorkAllocationID,0)=wo.WorkAllocationID
where ((Estimatequantity+ReturnRVQuantity) - SIQuantity) >0 and (case when @Status='ALL' then 'ALL' else Status end)=@Status 
) WO



GO
