USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Shift_Arrears_Generation_Bulk]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





create  PROCEDURE [dbo].[SP_Shift_Arrears_Generation_Bulk] 
	@FromDate DateTime ,
	@ToDate DateTime ,
	@AcOLID Int ,
	@ContactID Int 
	
	AS 


--Declare @FromDate DateTime = '2022-01-01' 
--Declare @ToDate DateTime = '2023-05-31' 
--Declare @AcOLID Int = 341   
--Declare @ContactID Int = 1676 


Declare @Suppliment Int = 4  
Declare @SRID3 table (ContactID Int) insert into @SRID3
select distinct ContactID from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID    
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID   
and StartingDate >= @FromDate and EndingDate<= @ToDate


Declare @SRID4 Int 
DECLARE Cur4 CURSOR FOR select ContactID from @SRID3 Order By ContactID 
--------------------------------------------------------
OPEN Cur4; FETCH NEXT FROM Cur4 INTO @SRID4; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

exec SP_Shift_Arrears_Generation @FromDate,@ToDate,@AcOLID,@SRID4

--------------------------------------------------------
;FETCH NEXT FROM Cur4 INTO @SRID4; 
END; CLOSE Cur4; DEALLOCATE Cur4; 


select a.ContactID,ct.Fileas EmployeeName,Count(*) 'Generated Months' 
from ScaleRegister A with(nolock) Inner Join Contacts CT with(nolock) on ct.ContactID=a.ContactID
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID  
and (case when @ContactID=0 then 0 else a.ContactID end) = @ContactID  
and StartingDate >= @FromDate and EndingDate<= @ToDate 
Group By a.ContactID,ct.Fileas Order By EmployeeName







GO
