USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_YearWiseFailedTransformersDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YearWiseFailedTransformersDetails] 
AS
BEGIN

declare @s_date date=(select
    cast('01-Apr-' +
         cast(
            case
               when datepart(mm,getdate()) >3
           then DATEPART(yy,getdate())
           else DATEPART(yy,getdate())-1
            end as varchar
         ) as datetime
    ) as fy_start)

declare @e_date date=(select
    cast('31-mar-' +
         cast(
            case
               when datepart(mm,getdate()) >3
           then DATEPART(yy,getdate())+1
           else DATEPART(yy,getdate())
            end as varchar
         ) as datetime
    ) as fy_start)

DECLARE @ps_date DATE = (
    SELECT CAST(
        '01-Apr-' +
        CAST(
            CASE
                WHEN DATEPART(MM, GETDATE()) > 3
                THEN DATEPART(YY, GETDATE()) - 1
                ELSE DATEPART(YY, GETDATE()) - 2
            END AS VARCHAR
        ) AS DATETIME
    )as fy_start)

DECLARE @pe_date DATE = (
    SELECT CAST(
        '31-Mar-' +
        CAST(
            CASE
                WHEN DATEPART(MM, GETDATE()) > 3
                THEN DATEPART(YY, GETDATE())
                ELSE DATEPART(YY, GETDATE()) - 1
            END AS VARCHAR
        ) AS DATETIME
    )as fy_start)

select sort_order, card_type,qunt,title,types from (select  
sort_order, card_type,qunt,title,types from (select  9 as sort_order,27 as card_type,count(*) as qunt,
 'Transformers failed Previous' as title,2 as types
 From (

select
 w.*
 from WorkOrder w

inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
where WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1and w.Awarded=1 and w.WorkOrderDate>=@ps_date and w.WorkOrderDate<=@pe_date

)kl
 )w
)klf     

union 



select sort_order, card_type,qunt,title,types from (select  row_number()  over(order by  cast(left(fyear,4) as int) desc)  sl , sort_order,
 card_type,qunt,title,types from (select  10 as sort_order,17 as card_type,count(*) qunt, 'Transformers failed during' as title,2 as types,fyear
 From (

select
case when  month(w.WorkOrderDate)<=3 then  
cast((year(w.WorkOrderDate)-1) as varchar(10))+'-'+right((cast((year(w.WorkOrderDate)) as varchar(10))),2)
else
cast((year(w.WorkOrderDate)) as varchar(10))+'-'+right((cast((year(w.WorkOrderDate)+1) as varchar(10))),2)
end fyear,w.*
 from WorkOrder w
inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
where WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1and w.Awarded=1
)kl
group by   fyear)w
)klf  where  sl=1


union


select  12 as sort_order,19 as card_type,
case when  sum(isnull(quantity1,0))!=0 then
round(((cast(sum(isnull(quantity,0)) as float) / cast(sum(isnull(quantity1,0)) as float)) *100.0 ),4)
else 0 end  counts,' % of Transformer failure with respect to transformer existing in field during the year' as title,2 as types
from (select OfficeLocationAllocationID,kl1l.fileas, capacity ,
sum(isnull(mm.qaun,0)) quantity,sum(isnull(mm1.quantity1,0))   quantity1
From (select *
From OfficeLocationAllocation kl1l1  ,
 (select distinct capacity From capacityDetails where capacity in (25,63,100,250,500))kk) kl1l
outer apply(select count(*)  qaun From (select
w.WorkOrderDate,
wol.MainAccountCode+wol.SubAccountCode+'-'+wol.Description acountHead,
offl.OfficeLocationAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference,cp.capacity
 from WorkOrder w
inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join WorkAllocation wol on wol.WorkAllocationID=w.WorkAllocationID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID
where w.WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1 and w.Awarded=1
and w.WorkOrderDate between   @s_date and @e_date
and offl.OfficeLocationAllocationID in (select HeirarchyOfficeLocationAllocationID
From OfficeLocationHeirarchy where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID)
and cp.capacity=kl1l.capacity
)hj
)mm
outer apply(

select sum(isnull(quan,0)) quantity1
From ( select offf.fileas,capacity,offf.OfficeLocationAllocationID,count(*) quan
From DistributionNodes d inner join DistributionNodeDetails dd
on d.DistributionNodeID=dd.DistributionNodeId
 left join capacitydetails d1 on d1.itemid=dd.itemid
inner join (select DistributionNodeID ,max(DistributionNodeOLID) DistributionNodeOLID
From DistriButionNodeOfficeAllocation group by DistributionNodeID) ddd on ddd.DistributionNodeID=d.DistributionNodeID
inner join OfficeLocationAllocation offf on offf.OfficeLocationAllocationID=ddd.DistributionNodeOLID
inner join OfficeLocationAllocation offf1 on offf1.OfficeLocationAllocationID=offf.UnderOfficeLocationAllocationID
 and offf1.OfficeID=80
left join OfficeLocationAllocation offf2
on offf2.OfficeLocationAllocationID=offf1.UnderOfficeLocationAllocationID
and offf2.OfficeID=50
outer apply(select sub.DistributionNodeUserDefinedFieldValue make
 From DistributionNodeDetailsSub sub where sub.DistributionNodeDetailsID=dd.DistributionNodeDetailsID
and sub.DistributionNodeUserDefinedFieldID=20 )jk where UnderDistributionNodeTypeID =2
and (ddd.DistributionNodeOLID in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy
where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID) or ddd.DistributionNodeOLID is null)
and d1.capacity=kl1l.capacity and capacity is not null group by capacity,offf.OfficeLocationAllocationID,offf.fileas) kh
)mm1
where OfficeID=65
and  OfficeLocationAllocationID in (
select HeirarchyOfficeLocationAllocationID
From OfficeLocationHeirarchy
where OfficeLocationAllocationID=337)
group by OfficeLocationAllocationID,kl1l.fileas,capacity)jhg
group by OfficeLocationAllocationID,fileas

END;
GO
