USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_OtherAllowanceReportNew]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OtherAllowanceReportNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON










Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)


Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OfficeID int,OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OfficeID,OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @SRB table (CID int,ODLDID int,EmployeeStatusID int,ScaleRegisterID int)
insert into @SRB
select distinct CID,srb.ODLDID,EmployeeStatusID,ScaleRegisterID 
from FnMaxSRBODLDID4() srb 
where OLID=@OLID and srb.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)
and srb.Date in (select max(srb1.Date) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and OLID=@OLID and srb1.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)) 
and srb.ScaleRegisterID in (select min(srb1.ScaleRegisterID) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and OLID=@OLID and srb1.Date = srb.Date) 



Declare @SR3 table (ContactID int,Generated int,BillRegisterNo varchar(50)) 
insert into @SR3
select ContactID,Generated,BillregisterNo 
from FnSRNew() sr1 where  sr1.SalaryTypeID=1 and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month and OLID=@OLID



Declare @SR1 table (ODLDID int,EmployeeStatusID int,SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct ODLDID,EmployeeStatusID,sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,isnull(sr.BillRegisterNo,'0') as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr left outer join @SRB srb on srb.CID=sr.ContactID 
full join @SR3 sr1 on  sr1.ContactID= sr.ContactID 
where sr.YearID in (@Year) and sr.MonthID in (@Month) and OLID=@OLID
and (case when isnull(sr.Suppliment,0) in (2,7) and isnull(sr.BillRegisterNo,'0')='0' then '2' else 
case when isnull(sr.Suppliment,0)=3 and isnull(sr.BillRegisterNo,'0')='0' then '3' else 
case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and isnull(sr.BillRegisterNo,'0')='0' then isnull(sr.BillRegisterNo,'0') else  
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID<>2 then '1' else 
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID=2 and (sr1.ContactID is NULL or sr1.generated =0 or isnull(sr1.BillRegisterNo,'0')<>'0') then '1' else isnull(sr.BillRegisterNo,'0') end end end end end ) in (@BRNo)


Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int) 
insert into @SRD1
select srd.ScaleRegisterID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 'RC' else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end end) as Types
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 6 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end end) as TypesID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 30 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 30 else TypeID end end) as TypeID,BankID
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else 
case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end end) as Amount,srd.BankTypeID 
,TypesID ,TypeID
from @SR1 sr inner join FnSRADNew() srd  on srd.ScaleRegisterID=sr.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,srd.BankTypeID
having sum(isnull(DiffAmount,0))<>0



Declare @SR table (LocationOrdered int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthId int,YearID1 int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(50),OLID int,SOLID int,EmployeeTypes varchar(20),EOrder varchar(4),BRDate datetime)
insert into @SR 

select distinct oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.YearID,sr.MonthID,Year(sr.BillRegisterDate) as YearID1,datename(month,sr.BillRegisterDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,'0') as BRNo,ol1.OLID,ol.OLID
,(case when ct.EmployeeCategoryID in (2,8) then 'Contract Employee' else case when EmployeeStatusID in (19) then 'Deputed' else case when EmployeeGradeID in (1,2) then 'Officers' else 'Employees' end end end) as EmployeeTypes
,(case when ct.EmployeeCategoryID in (2,8) then '04' else case when EmployeeStatusID in (19) then '03' else case when EmployeeGradeID in (1,2) then '01' else '02' end end end) as EOrder,sr.BillRegisterDate
from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1

inner join @ODLD ol on ol.ODLDID=sr.ODLDID 
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID



Declare @SRD2 table (ScaleRegisterID int,Amount money,SalaryTypes varchar(50))
insert into @SRD2 

select ScaleregisterID,sum(isnull(Amount,0)) as Amount
,isnull(
isnull(
isnull(
(case when Typeid=4 then 'Charge                   ' else 
case when Typeid=5 then 'Spl.Place' else 
case when Typeid=6 then 'Vehicle' else 
case when Typeid=7 then 'Washing' else 
case when Typeid=8 then 'Shift' else 
case when Typeid=9 then 'Convy for AE/JE' else 
case when Typeid=10 then 'Daily' else 
case when Typeid=11 then 'Project' else 
case when Typeid=12 then 'Travel' else 
case when Typeid=13 then 'Others' else NULL end end end end end end end end end end),

(case when Typeid=17 then 'Spl.Pay' else 
case when Typeid=18 then 'Convy for Cash Duty ' else 
case when Typeid=19 then 'Convy InCharge Cash Duty' else 
case when Typeid=20 then 'Dearness Pay' else 
case when Typeid=22 then 'InCahrge TL_SS' else 
case when Typeid=23 then 'Convy for Men / Women' else 
case when Typeid=24 then 'Delivery Tappal' else 
case when Typeid=25 then 'InCharge Delivery Tappal' else 
case when Typeid=26 then 'Operator Overseer' else 
case when Typeid=27 then 'Hill Allowance' else NULL end end end end end end end end end end)
),
(case when Typeid=28 then 'Hazardous' else 
case when Typeid=29 then 'Teaching' else 
case when Typeid=30 then 'Holiday compen sation' else 
case when Typeid=32 then 'Spl.zed Works' else 
case when Typeid=31 then 'Hot Stick' else 
case when Typeid=33 then 'House Orderly' else 
case when Typeid=34 then 'Medical' else 
case when Typeid=35 then 'Handi capped' else 
case when Typeid=36 then 'Cash  Duty' else 
case when Typeid=37 then 'InCharge Cash Duty' else NULL end end end end end end end end end end)
),
(case when Typeid=38 then 'Personal Pay' else 
case when Typeid=39 then 'IR Pensioner' else 
case when Typeid=40 then 'Spl.Pay for( OAGr.1&2)' else 
case when Typeid=41 then 'Spl.Pay for Secretary' else 'Other Allowance' end end end end)
) as SalaryTypes
from @SRD1 srd 
where TypesID in (2) and TypeID not in (1,2,3,21,20) 
group by ScaleregisterID,TypeID
union all
select ScaleregisterID,sum(isnull(Amount,0)) as Amount
,(case when Typeid=2 then 'Double Wages' else 
case when Typeid=3 then 'Bonus' else 
case when Typeid=6 then 'Ex-gratia' else 'Other Allowance' end end end) as SalaryTypes
from @SRD1 srd 
where TypesID in (3) and TypeID in (2,3,7) 
group by ScaleregisterID,TypeID




Declare @SRD table (ScaleRegisterID int,Amount money,SalaryTypes varchar(50),Ordering int)
insert into @SRD 
select s.*,s1.Ordering from @SRD2 s
left outer join (
select SalaryTypes,Row_Number() over (order by SalaryTypes) as Ordering 
from (select distinct SalaryTypes from @SRD2) as S) as s1 on s1.SalaryTypes=s.SalaryTypes



IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpOtherAllowances]'))
    EXEC sp_executesql N'create table TmpOtherAllowances 
	(OLID int,BRNo varchar(50),BRDate datetime,Ordered varchar(6),ContactID int,MnYr varchar(10),YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(100), LocationName varchar(100),EmployeeName varchar(100), DesignationName varchar(100),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),LocationCode varchar(100),EmployeeTypes varchar(20),MnYr varchar(10))
	'
drop table TmpOtherAllowances
Create table TmpOtherAllowances  (OLID int,BRNo varchar(50),BRDate datetime,Ordered varchar(6),ContactID int,YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(100), LocationName varchar(100),EmployeeName varchar(100), DesignationName varchar(100),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),MnYr varchar(10))
insert into TmpOtherAllowances 

select OLID,sr.BRNo,sr.BRDate,sr.Ordered,sr.ContactID,sr.YearID,sr.MonthID,sr.YearID1,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.EmployeeName,sr.DesignationName
,(case when len(srd.Ordering)=1 then '0'+cast(srd.Ordering as varchar(6)) else cast(srd.Ordering as varchar(6)) end) as Ordering
,rtrim(ltrim(srd.SalaryTypes)) as SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,(left(datename(month,sr.StartingDate),3)+'-'+cast(right(sr.YearID,2) as varchar(2))) as MnYr
from @SR sr inner join (select * from @SRD union all
select ScaleregisterID,sum(isnull(Amount,0)) as Amount,'Total' as SalaryTypes,((select Max(Ordering) from @SRD)+1) as Ordering
from @SRD1 srd  where TypesID in (2) and TypeID not in (1,2,3,21,20) group by ScaleregisterID union all
select ScaleregisterID,sum(isnull(Amount,0)) as Amount,'Total' as SalaryTypes,((select Max(Ordering) from @SRD)+1) as Ordering
from @SRD1 srd  where TypesID in (3) and TypeID in (2,3,7) group by ScaleregisterID
) srd on srd.ScaleRegisterID=sr.ScaleRegisterID
group by OLID,sr.BRNo,sr.BRDate,sr.Ordered,sr.ContactID,sr.YearID,sr.MonthID,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sr.YearID1,datename(month,sr.StartingDate)


update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from TmpOtherAllowances A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from TmpOtherAllowances ) as B ) b on b.Ordering=a.Ordering


























Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from TmpOtherAllowances ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from TmpOtherAllowances ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTOtherAllowancesDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTOtherAllowancesDView] AS 
	select BRNo,BRDate,Ordering,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpOtherAllowances'
drop view PVTOtherAllowancesDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTOtherAllowancesDView as  select BRNo,BRDate,Ordered as Ordering,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,OfficeName,LocationName,EmployeeName,DesignationName,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select BRNo,convert(varchar,BRDate,103) as BRDate,Ordered,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpOtherAllowances ) as A
	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query )
GO
