USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Schedule_AfterBill_Update]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_Schedule_AfterBill_Update] @id int as

declare @detid  int
declare @ob money
declare @debit money
declare @credit money
declare @cb money

declare @Cursor1 as cursor

set @Cursor1=cursor for
select ScheduleDetailsID,DebitCash,CreditCash from ScheduleDetails where ScheduleID=@id
order by ScheduleDetailsID
open @Cursor1
set @ob=0
fetch next from @Cursor1 into @detid,@debit,@credit
while @@fetch_status=0

begin
set @cb=@ob+@debit-@credit
update ScheduleDetails set OpeningBalance=@ob,ClosingBalance=@cb where ScheduleDetailsID=@detid
set @ob=@cb
fetch next from @Cursor1 into @detid,@debit,@credit
end

close @Cursor1
DEALLOCATE @Cursor1
GO
