USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Z_SP_Pension]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Z_SP_Pension]
	@Config varchar(200), 
	@HR varchar(200) ,
	@OLID VARCHAR(10) ,
	@ContactID VARCHAR(10) 



AS 
SET NOCOUNT ON










Declare @OLSql varchar(Max) Set @OLSql='Create view OLPenDetailsView as
	select Distinct ola.OfficeLocationAllocationID as OLID,o.OfficeID,o.OfficeName,l.LocationID,l.LocationName,ct.ContactID,ct.Fileas as EmployeeName
	,dn.DesignationID,dn.DesignationName,dp.DepartmentID,dp.DepartmentName,e.BankAcNo
	from ODLDAllocation ODLD
	left outer join Employee e on e.ODLDID=ODLD.ODLDID
	left outer join Contacts ct on ct.ContactID=e.ContactID
	left outer join Designation dn on dn.DesignationID=ODLD.DesignationID
	left outer join Department dp on dp.DepartmentID=ODLD.DepartmentID
	left outer join Office o on o.OfficeID=ODLD.OfficeId
	left outer join Location l on l.LocationId=ODLD.LocationID
	left outer join OfficeLocationAllocation ola on ola.OfficeId=odld.OfficeID and ola.LocationId=odld.LocationId
' exec (@OLSql)

Declare @PenAges varchar(Max) Set @PenAges='Create view PenAgesView as
select distinct epd.ContactID,e.DateOfBirth as DOB,epd1.ReportedDate as JoinDate,epd.RelievedDate as RetiredDate
,year(epd.RelievedDate) as RetiredYear,year(epd1.ReportedDate) as JoinYear,year(e.DateOfBirth) as DOBYear,month(epd.RelievedDate) as RetiredMonth,month(epd1.ReportedDate) as JoinMonth,month(e.DateOfBirth) as DOBMonth,day(epd.RelievedDate) as RetiredDay,day(epd1.ReportedDate) as JoinDay,day(e.DateOfBirth) as DOBDay
,(case when (case when (day(epd.RelievedDate)-day(e.DateOfBirth))<0 then (month(epd.RelievedDate)-month(e.DateOfBirth))-1 else (month(epd.RelievedDate)-month(e.DateOfBirth)) end)<0 then (year(epd.RelievedDate)-year(e.DateOfBirth))-1 else (year(epd.RelievedDate)-year(e.DateOfBirth)) end)  as AgeOnRetiredYr
,(case when (case when (day(epd.RelievedDate)-day(e.DateOfBirth))<0 then (month(epd.RelievedDate)-month(e.DateOfBirth))-1 else (month(epd.RelievedDate)-month(e.DateOfBirth)) end)<0 then (case when (day(epd.RelievedDate)-day(e.DateOfBirth))<0 then (month(epd.RelievedDate)-month(e.DateOfBirth))-1 else (month(epd.RelievedDate)-month(e.DateOfBirth)) end)+12 else (case when (day(epd.RelievedDate)-day(e.DateOfBirth))<0 then (month(epd.RelievedDate)-month(e.DateOfBirth))-1 else (month(epd.RelievedDate)-month(e.DateOfBirth)) end) end) as AgeOnRetiredMn
,(case when (day(epd.RelievedDate)-day(e.DateOfBirth))<0 then (case when month(epd.RelievedDate) in (1,2,4,6,8,9,11) then (day(epd.RelievedDate)-day(e.DateOfBirth))+31 else case when month(epd.RelievedDate) in (3) then (day(epd.RelievedDate)-day(e.DateOfBirth))+28 else case when month(epd.RelievedDate) in (5,7,10,12) then (day(epd.RelievedDate)-day(e.DateOfBirth))+30 else (day(epd.RelievedDate)-day(e.DateOfBirth)) end end end) else (day(epd.RelievedDate)-day(e.DateOfBirth)) end) as AgeOnRetiredDay
,(case when (case when (day(epd1.ReportedDate)-day(e.DateOfBirth))<0 then (month(epd1.ReportedDate)-month(e.DateOfBirth))-1 else (month(epd1.ReportedDate)-month(e.DateOfBirth)) end)<0 then (year(epd1.ReportedDate)-year(e.DateOfBirth))-1 else (year(epd1.ReportedDate)-year(e.DateOfBirth)) end)  as AgeOnJoinYr
,(case when (case when (day(epd1.ReportedDate)-day(e.DateOfBirth))<0 then (month(epd1.ReportedDate)-month(e.DateOfBirth))-1 else (month(epd1.ReportedDate)-month(e.DateOfBirth)) end)<0 then (case when (day(epd1.ReportedDate)-day(e.DateOfBirth))<0 then (month(epd1.ReportedDate)-month(e.DateOfBirth))-1 else (month(epd1.ReportedDate)-month(e.DateOfBirth)) end)+12 else (case when (day(epd1.ReportedDate)-day(e.DateOfBirth))<0 then (month(epd1.ReportedDate)-month(e.DateOfBirth))-1 else (month(epd1.ReportedDate)-month(e.DateOfBirth)) end) end) as AgeOnJoinMn
,(case when (day(epd1.ReportedDate)-day(e.DateOfBirth))<0 then (case when month(epd1.ReportedDate) in (1,2,4,6,8,9,11) then (day(epd1.ReportedDate)-day(e.DateOfBirth))+31 else case when month(epd1.ReportedDate) in (3) then (day(epd1.ReportedDate)-day(e.DateOfBirth))+28 else case when month(epd1.ReportedDate) in (5,7,10,12) then (day(epd1.ReportedDate)-day(e.DateOfBirth))+30 else (day(epd1.ReportedDate)-day(e.DateOfBirth)) end end end) else (day(epd1.ReportedDate)-day(e.DateOfBirth)) end) as AgeOnJoinDay
,(case when (case when (day(epd.RelievedDate)-day(epd1.ReportedDate))<0 then (month(epd.RelievedDate)-month(epd1.ReportedDate))-1 else (month(epd.RelievedDate)-month(epd1.ReportedDate)) end)<0 then (year(epd.RelievedDate)-year(epd1.ReportedDate))-1 else (year(epd.RelievedDate)-year(epd1.ReportedDate)) end)  as AgeOnServiceYr
,(case when (case when (day(epd.RelievedDate)-day(epd1.ReportedDate))<0 then (month(epd.RelievedDate)-month(epd1.ReportedDate))-1 else (month(epd.RelievedDate)-month(epd1.ReportedDate)) end)<0 then (case when (day(epd.RelievedDate)-day(epd1.ReportedDate))<0 then (month(epd.RelievedDate)-month(epd1.ReportedDate))-1 else (month(epd.RelievedDate)-month(epd1.ReportedDate)) end)+12 else (case when (day(epd.RelievedDate)-day(epd1.ReportedDate))<0 then (month(epd.RelievedDate)-month(epd1.ReportedDate))-1 else (month(epd.RelievedDate)-month(epd1.ReportedDate)) end) end) as AgeOnServiceMn
,(case when (day(epd.RelievedDate)-day(epd1.ReportedDate))<0 then (case when month(epd.RelievedDate) in (1,2,4,6,8,9,11) then (day(epd.RelievedDate)-day(epd1.ReportedDate))+31 else case when month(epd.RelievedDate) in (3) then (day(epd.RelievedDate)-day(epd1.ReportedDate))+28 else case when month(epd.RelievedDate) in (5,7,10,12) then (day(epd.RelievedDate)-day(epd1.ReportedDate))+30 else (day(epd.RelievedDate)-day(epd1.ReportedDate)) end end end) else (day(epd.RelievedDate)-day(epd1.ReportedDate)) end) as AgeOnServiceDay
from EmployeeAppointmentDetails epd 
left outer join Employee e on e.ContactID=epd.ContactID
left outer join EmployeeAppointmentDetails epd1 on epd1.ContactID=epd.ContactID and epd1.AppointmentTypeID=1 and isnull(epd1.Approved,0)=1 and isnull(epd1.Reported,0)=1
where epd.AppointmentTypeID in (21,22) and isnull(epd.Approved,0)=1 and isnull(epd.Relieved,0)=1 
' exec (@PenAges)


Declare @PenLastPay varchar(Max) Set @PenLastPay='Create view PenLastPayView as
select e.ContactID,isnull(prm.Dies_Non,0) as Dies_Non,isnull(epds.ModifiedValue,0) as LastPay,isnull(ar.AllowanceRate,0) as MDA,(isnull(epds.ModifiedValue,0)*isnull(ar.AllowanceRate,0)) as Total
from Employee e 
left outer join PensionRegisterMain prm on prm.ContactID=e.ContactID
left outer join EmployeePayDetails epds on epds.ContactID=e.ContactID 
and epds.EmployeePayDetailsid in (select max(epds1.EmployeePayDetailsid) from EmployeePayDetails epds1 where epds1.ContactID=epds1.ContactID 
and epds.EmployeePayTypeID in (select ept.EmployeePayTypeID from EmployeePayTypes ept where ept.EmployeePayMainTypeID=2) group by epds1.ContactID)
left outer join AllowanceRatePeriods arp on arp.AllowanceID=20 
and arp.EffectiveDate in (select max(arp1.EffectiveDate) from AllowanceRatePeriods arp1 where arp1.AllowanceID=arp.AllowanceID group by arp1.AllowanceID)
left outer join AllowanceRates ar on ar.AllowanceRatePeriodID=arp.AllowanceRatePeriodID
' exec (@PenLastPay)

Declare @PenTypesEF varchar(Max) Set @PenTypesEF='Create view PenTypesEFView as
select Distinct ptrp.PensionTypeID as EmployeeID,isnull(ptr.MaximumAmount,0) as E_LimitAmount,ptrp1.PensionTypeID as FamilyID,isnull(ptr1.MaximumAmount,0) as F_LimitAmount,isnull(ptr1.PensionTypeRate,0) as F_Rates,ptrp.EffectiveDate,gs.MaxServiceForRetire
from GeneralSetting gs
left outer join PensionTypeRatePeriods ptrp on ptrp.PensionTypeID=1	----- Employee
and ptrp.EffectiveDate in (select max(ptrp2.EffectiveDate) from PensionTypeRatePeriods ptrp2 where ptrp2.PensionTypeID=ptrp.PensionTypeID group by ptrp2.PensionTypeID)
left outer join PensionTypeRates ptr on ptr.PensionTypeRatePeriodID=ptrp.PensionTypeRatePeriodID
left outer join PensionTypeRatePeriods ptrp1 on ptrp1.PensionTypeID=2	----- Family
and ptrp1.EffectiveDate in (select max(ptrp3.EffectiveDate) from PensionTypeRatePeriods ptrp3 where ptrp3.PensionTypeID=ptrp1.PensionTypeID group by ptrp3.PensionTypeID)
left outer join PensionTypeRates ptr1 on ptr1.PensionTypeRatePeriodID=ptrp1.PensionTypeRatePeriodID
' exec (@PenTypesEF)


Declare @PenTypesC varchar(Max) Set @PenTypesC='Create view PenTypesCView as
select Distinct ptrp1.PensionTypeID as CommutationID,ptr1.PensionTypeRateUnits,isnull(ptr1.PensionTypeRate,0) as C_Rates,ptrp1.EffectiveDate
from PensionTypeRatePeriods ptrp1 
left outer join PensionTypeRates ptr1 on ptr1.PensionTypeRatePeriodID=ptrp1.PensionTypeRatePeriodID
where ptrp1.PensionTypeID=8	----- Commutation
and ptrp1.EffectiveDate in (select max(ptrp3.EffectiveDate) from PensionTypeRatePeriods ptrp3 where ptrp3.PensionTypeID=ptrp1.PensionTypeID group by ptrp3.PensionTypeID)
' exec (@PenTypesC)

Declare @PenTypesRH varchar(Max) Set @PenTypesRH='Create view PenTypesRHView as
select distinct ptrp.PensionTypeID,ptrp.EffectiveDate,ptrh.ValidUpTo,ptrh.MinimumAmount,ptrh.MaximumAmount,ptrh.PensionTypeRate,ptrh.PensionTypeRateUnits
from PensionTypeRatePeriods ptrp
left outer join PensionTypeRateHistory ptrh on ptrh.PensionTypeRatePeriodID=ptrp.PensionTypeRatePeriodID and ptrh.ValidUpTo<ptrp.EffectiveDate
where ptrp.EffectiveDate in (select max(ptrp1.EffectiveDate) from PensionTypeRatePeriods ptrp1 where ptrp1.PensionTypeID=ptrp.PensionTypeID group by ptrp1.PensionTypeID)
' exec (@PenTypesRH)


select ol.OfficeName,ol.LocationName,ol.EmployeeName,ol.DesignationName,DOB,JoinDate,RetiredDate
,DOBYear,JoinYear,RetiredYear,DOBMonth,JoinMonth,RetiredMonth,DOBDay,JoinDay,RetiredDay,AgeOnServiceYr,AgeOnJoinYr,AgeOnRetiredYr,AgeOnServiceMn,AgeOnJoinMn,AgeOnRetiredMn,AgeOnServiceDay ,AgeOnJoinDay,AgeOnRetiredDay,pp.Dies_Non
,(case when (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0))>pte.MaxServiceForRetire then pte.MaxServiceForRetire else (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0)) end) as Q_Service
,pp.LastPay,pp.MDA,pp.Total
,(((pp.Total/2) * ((case when (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0))>pte.MaxServiceForRetire then pte.MaxServiceForRetire else (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0)) end)*2)) / 66) as E_Total
,(case when pte.EffectiveDate>RetiredDate then isnull(p.MaximumAmount,0) else pte.E_LimitAmount end) as E_LimitAmount
,((pp.Total/100) * (case when pte.EffectiveDate>RetiredDate then isnull(p2.PensionTypeRate,0) else pte.F_Rates  end) ) as F_Total
,(case when pte.EffectiveDate>RetiredDate then isnull(p2.MaximumAmount,0) else pte.F_LimitAmount end) as F_LimitAmount
,(case when pte.EffectiveDate>RetiredDate then (cast(isnull(p2.PensionTypeRate,0) as varchar(10))+'%') else (cast(pte.F_Rates as varchar(10))+'%') end) as F_Rates
,((pp.Total * ((case when (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0))>pte.MaxServiceForRetire then pte.MaxServiceForRetire else (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0)) end)*2)) / 4) as D_Total
,(((pte.E_LimitAmount/3)*12) * (case when pte.EffectiveDate>RetiredDate then isnull(p3.PensionTypeRate,0) else isnull(pc.C_Rates,0) end) ) as C_Total
,(case when pte.EffectiveDate>RetiredDate then isnull(p3.PensionTypeRate,0) else isnull(pc.C_Rates,0) end) as C_Rates
,(pte.E_LimitAmount-(pte.E_LimitAmount/3)) as C_ELess
,(round((case when (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0))>pte.MaxServiceForRetire then pte.MaxServiceForRetire else (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0)) end),0)+1)

from PenAgesView pa cross join PenTypesEFView pte
left outer join OLPenDetailsView ol on ol.ContactID=pa.ContactID
left outer join PenLastPayView pp on pp.ContactID=pa.ContactID
left outer join PenTypesCView pc on pc.PensionTypeRateUnits=(round((case when (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0))>pte.MaxServiceForRetire then pte.MaxServiceForRetire else (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0)) end),0)+1)
left outer join PenTypesRHView p on p.PensionTypeID=1	
and isnull(p.validUpTo,0) in (select max(isnull(p1.validUpTo,0)) from PenTypesRHView p1 where p1.PensionTypeid=p.PensionTypeid group by p1.PensionTypeid)
left outer join PenTypesRHView p2 on p2.PensionTypeID=2	
and isnull(p2.validUpTo,0) in (select max(isnull(p1.validUpTo,0)) from PenTypesRHView p1 where p1.PensionTypeid=p2.PensionTypeid group by p1.PensionTypeid)
left outer join PenTypesRHView p3 on p3.PensionTypeID=8	
and isnull(p3.validUpTo,0) in (select max(isnull(p1.validUpTo,0)) from PenTypesRHView p1 where p1.PensionTypeid=p3.PensionTypeid group by p1.PensionTypeid)
and p3.PensionTypeRateUnits=(round((case when (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0))>pte.MaxServiceForRetire then pte.MaxServiceForRetire else (isnull(AgeOnServiceYr,0)-isnull(pp.Dies_Non,0)) end),0)+1)
where pa.ContactID=@ContactID



Drop View OLPenDetailsView
Drop View PenAgesView
Drop View PenLastPayView
Drop View PenTypesEFView
Drop View PenTypesCView
Drop View PenTypesRHView
GO
