USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annex1a_Report_Old]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_Annex1a_Report_Old] 
	@LoginOLID Int ,
	@FromYear Int ,
	@ToYear Int ,
	@FromFyYear DateTime ,
	@ToFyYear DateTime ,
	@AcOLID varchar(200) ,
	@AcCode varchar(20)

AS SET NOCOUNT ON



--Declare @LoginOLID Int select @LoginOLID = 344
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2025-12-31'
--Declare @AcOLID varchar(200) select @AcOLID = 408
--Declare @AcCode varchar(20) select @AcCode = 'ALL'



Declare @FromDate DateTime = (select convert(datetime,concat(@FromYear,'-4-1')))
Declare @AcCode1 varchar(20) = (select left(@AcCode,6))
Declare @JVNo Int = 0
Declare @DocumentNo Int = 0
Declare @Data Table (OLID Int,JournalVoucherNo Int,AcHead Varchar(20),_10 Money,_11 Money,_12 Money,_13 Money,_14 Money,_15 Money,_16 Money,_17 Money,_18 Money,_19 Money,_20 Money,_21 Money,_22 Money,_23 Money,_24 Money,_25 Money,_26 Money,_27 Money,_28 Money,_29 Money,_101 Money,_102 Money,_103 Money,_104 Money,_105 Money,_106 Money,_107 Money,_108 Money,_109 Money,_110 Money,_111 Money,_112 Money,_113 Money,_114 Money,_115 Money,_116 Money,_117 Money,_118 Money,_119 Money,_120 Money,_121 Money,_122 Money,_123 Money,_124 Money,_125 Money,_126 Money,_127 Money,_128 Money,_129 Money,_130 Money,_131 Money,_132 Money,_133 Money,_134 Money,_135 Money,_136 Money,_137 Money,_138 Money,_139 Money,_140 Money,_141 Money,_142 Money,_143 Money,_144 Money,_145 Money,_146 Money,_147 Money,_148 Money,_149 Money,_150 Money,_151 Money,_152 Money,_153 Money,_154 Money,_155 Money,_156 Money,_157 Money,_158 Money)
insert into @Data
exec SP_Annexure1a @LoginOLID,@FromYear,@ToYear,@FromFyYear,@ToFyYear,@AcOLID


Declare @Data2 Table (WorkOrderNo Int,Amount Money,BRNo Varchar(2000),BRDate Varchar(2000),Complte Int )
insert into @Data2
exec SP_ExpenditureTotal @AcOLID,@FromYear,@AcCode1

--------------------------------------------


Declare @CWIP Table (OrderNo Int,DocumentTypeID Int,WorkInChargeID Int,ODLDID Int,Legacy Int,WorkOrderNo1 Varchar(50),WorkOrderDate DateTime,JVDate DateTime,Table1 Varchar(20),WorkOrderNo Int,TransNo Int,TransDate DateTime,OfficeID Int,Description Varchar(500),AccountHead Varchar(10),OB Money,Expenditure Money,ReceivedAmount Money,TransferedAmount Money,Asseted Money,CB Money)
insert into @CWIP
exec SP_CWIP_Expenditure_New @AcOLID,@FromFyYear,@ToFyYear,@AcCode1 

--------------------------------------------------------------

declare @OB1 table(AcOLID Int,OLID Int,WONo Int,ExpenditureAmount Money)
Insert Into @OB1 
select AcOLID,a.OLID,DocumentNo WONo,ExpenditureAmount from (
select * from OfficeLocationAccountingUnitDetails a with(nolock) where AcOLID=@AcOLID) as a
inner join CostRegisterExpenditureDetails b with(nolock) on b.DocumentOLID=a.OLID and cast(EffectiveDate as date)=dateadd(day,-1,@FromDate) 
inner join WorkOrder C with(nolock) on c.WorkOrderNo=b.DocumentNo 
inner join WorkAllocation WA with(nolock) on wa.WorkAllocationID=isnull(c.WorkAllocationID,0) 
and (case when @AcCode='ALL' then 'ALL' else (MainAccountCode+SubAccountCode) end)=@AcCode1
and (case when @DocumentNo=0 then 0 else DocumentNo end)=@DocumentNo 


declare @OB table(AcOLID Int,OLID Int,WONo Int,ExpenditureAmount Money,Expenditure1 Money,Asseted1 Money)
Insert Into @OB 
select a.*,isnull(Expenditure,0) Expenditure,isnull(Asseted,0) Asseted from @OB1 A
outer apply (select sum(Expenditure) Expenditure,sum(Asseted) Asseted from @CWIP B where isnull(b.WorkOrderNo,0)=isnull(a.WONo,0)) B 


Declare @Data1 Table (WONo Int,List Varchar(100))
insert into @Data1
select a.WorkOrderNo
,CASE 
        WHEN Sum(case WHEN a.WorkOrderDate<@FromDate 
                      and isnull(isnull(cr.CompletionDate,WorksCompletionDate),@ToFyYear)< @FromDate 
                  then (isnull(Expenditure,0)+ISNULL(Asseted,0)+isnull(ReceivedAmount,0)+isnull(TransferedAmount,0)) else 0 end) <> 0 
            THEN 'List1'

        WHEN Sum(case WHEN a.WorkOrderDate< @FromDate 
                      and isnull(isnull(cr.CompletionDate,WorksCompletionDate),@ToFyYear)>= @FromDate 
					  and isnull(z.WONo,a.WorkOrderNo) is not null 
                      and isnull(z.ExpenditureAmount,0)<>0  
                  then (isnull(Expenditure,0)+ISNULL(Asseted,0)+isnull(ReceivedAmount,0)+isnull(TransferedAmount,0)) else 0 end) <> 0 
            THEN 'List2A'

        WHEN Sum(case WHEN a.WorkOrderDate< @FromDate 
                      and isnull(isnull(cr.CompletionDate,WorksCompletionDate),@ToFyYear)>= @FromDate 
                      and isnull(z.WONo,a.WorkOrderNo) is not null 
                      and isnull(z.ExpenditureAmount,0)=0  
                  then (isnull(Expenditure,0)+ISNULL(Asseted,0)+isnull(ReceivedAmount,0)+isnull(TransferedAmount,0)) else 0 end) <> 0 
            THEN 'List2B'

        WHEN Sum(case WHEN a.WorkOrderDate>=@FromDate 
                  then (isnull(Expenditure,0)+ISNULL(Asseted,0)+isnull(ReceivedAmount,0)+isnull(TransferedAmount,0)) else 0 end) <> 0 
            THEN 'List3'

        WHEN Sum(case WHEN a.WorkOrderDate<@FromDate 
                      and isnull(isnull(cr.CompletionDate,WorksCompletionDate),@ToFyYear)< @FromDate 
					  and isnull(z.WONo,a.WorkOrderNo) is not null 
                      and isnull(z.ExpenditureAmount,0)<>0 
                  then (isnull(Expenditure,0)+ISNULL(Asseted,0)+isnull(ReceivedAmount,0)+isnull(TransferedAmount,0)) else -1 end) = 0 
            THEN 'List1 not operated during 2026'

		WHEN Sum(case WHEN a.WorkOrderDate< @FromDate 
                      and isnull(isnull(cr.CompletionDate,WorksCompletionDate),@ToFyYear)>= @FromDate 
					  and isnull(z.WONo,a.WorkOrderNo) is not null 
                      and isnull(z.ExpenditureAmount,0)<>0  
                  then (isnull(Expenditure,0)+ISNULL(Asseted,0)+isnull(ReceivedAmount,0)+isnull(TransferedAmount,0)) else -1 end) = 0 
            THEN 'List2A not operated during 2026'
    END AS List
from (
select * from @CWIP where (case when @DocumentNo=0 then 0 else WorkOrderNo end)=@DocumentNo and (case when @AcCode='ALL' then 'ALL' else AccountHead end)=@AcCode1
union all 
select * from (
	select 0 OrderNO,(case when ISNULL(Legacy,0)=0 then 2 else 22 end) Legacy1,WorkInChargeID,ODLDID,isnull(Legacy,0) Legacy,OfficialReferenceNo collate database_default OfficialReferenceNo,WorkOrderDate,NULL AA,'OB' Status1,WorkOrderNo
	,0 BB,NULL CC,ola.OfficeID,Description collate database_default Description,(MainAccountCode+SubAccountCode) collate database_default AcHead,ExpenditureAmount,Expenditure1,0 DD,0 EE,Asseted1,ExpenditureAmount FF
	from @OB A inner join WorkOrder B with(nolock) on b.WorkOrderNo=A.WONo
	left join OfficeLocationAccountingUnitDetails ola on ola.OLID = a.AcOLID
	left join WorkAllocation wa with (nolock) on wa.WorkAllocationID=isnull(b.WOrkAllocationID,0)
	where isnull(Expenditure1,0)=0 and isnull(Asseted1,0)=0 
	) A 
	) A 
full join @OB Z on z.WONo=a.WorkOrderNo 
Outer Apply ( select * from (select WorkOrderNo WO,CompletionDate,CommissionedDate,(Row_Number() over (Partition By WorkOrderNo order By WorkOrderNo,len(OfficialReferenceNo) desc,isnull(complete,0) desc,CompletionReportID desc)) MaxNo 
	from CompletionReport CR with(nolock) where cr.WorkOrderNo =a.WorkOrderNo and isnull(Canceled,0)=0 and CompletionDate is not NULL
	and len(OfficialReferenceNo)>0 ) A where MaxNo=1  ) CR
Outer Apply ( select * from (select WorkOrderNo WO,WorksCompletionDate,(Row_Number() over (Partition By WorkOrderNo order By WorkOrderNo,len(OfficialReferenceNo) desc,LegacyWOcompletionreportId desc)) MaxNo 
	from LegacyWOcompletionreport CR with(nolock) where cr.WorkOrderNo =a.WorkOrderNo and isnull(Canceled,0)=0 and WorksCompletionDate is not NULL
	and len(OfficialReferenceNo)>0 ) A where MaxNo=1  ) CR1	
Group By a.WorkOrderNo 
order by WorkOrderNo


---------------------------------------------------------------

Declare @WONo Table (DocumentNo Int,DocumentTypeID Int,JVOLID Int) 
Insert into @WONo
select distinct DocumentNo,(case when DocumentTypeID=22 then 2 else DocumentTypeID end) DocumentTypeID,JVOLID 
from JVWorkOrderDetails a with(nolock) where JVDate Between @FromFyYear and @ToFyYear and JVOLID in (select * from Split(@AcOLID,',')) 
and a.JournalVoucherNo in (select JournalVoucherNo from @Data b where b.JournalVoucherNo=a.JournalVoucherNo) and DocumentNo!=0


----select * from @Data
----select * from @Data where  JournalVoucherNo=2382566 
----select JournalVoucherNo,AcHead,Count(*) from @Data Group By JournalVoucherNo,AcHead Having Count(*)>1 

----select * from (select * from JVWorkOrderDetails a with(nolock) where JVDate Between @FromFyYear and @ToFyYear and JVOLID in (select * from Split(@AcOLID,',')) 
----) A left join @Data b on b.JournalVoucherNo=a.JournalVoucherNo where b.JournalVoucherNo is NULL and TableName!='CWIP_OB' 


select a.*,concat('Opening Balance as on ',FromFyYear) OBLabel,concat('Expenditure Booked in the Year ',FyYear) ExpenditureHead1,concat('ECWIP Received during the year  ',FyYear) ExpenditureHead2
,concat('CWIP Transferred during the year ',FyYear) ExpenditureHead3,concat('Closing Balance as on ',ToFyYear) CBLabel 
,concat('If work is ONGOING as on ',ToFyYear,'  ,furnish following information') ExpenditureHead4,concat('Total expenditure incurred on project upto ',ToFyYear,' including provision') CBLabel1 
,concat('If work is COMPLETED as on ',ToFyYear,'  ,furnish following information') ExpenditureHead5
,concat('Amount of Bills pending as on ',ToFyYear,' in respect of completed works ') BillsPendingLabel
,Left(LocationCode,3) as LocationCode,Replace(Replace(OfficeLocation,'O & M ',''),'O&M ','') OfficeLocation,List
from (

select left(JVNo,len(JVNo)-1) JVNo,BRNo,BRDate 
,Ltrim(Rtrim(Replace(Replace(Replace(isnull(ol.OfficeLocation,''),'O&M - Non Accounting Section',''),' O&M - Accounting Section',' Accounting'),' 33/11 KV Stations',' Stations'))) Section
,isnull(ct.Fileas,'') SectionOfficer,a.* ,isnull(_9,0) _9,(_27a+isnull(_27b,0)) _27,((isnull(_9,0)+_18+_22+_28+_29)-(_26+_27a+isnull(_27b,0))) _30,(_32+_33) _34 
--,((isnull(_9,0)+_18+_22+_28+_29+_32+_33)-(_26+_27a+isnull(_27b,0))) _35
--,(isnull(WO_POAmount,0) - ((isnull(_9,0)+_18+_22+_28+_29+_32+_33)-(_26+_27a+isnull(_27b,0)))) _36
,isnull(d2.Amount,0) _35,(case when isnull(d2.Complte,0)=0 then (isnull(WO_POAmount,0) - isnull(d2.Amount,0)) else 0 end) _36 
,(case when CompletionReportDate is NULL then 'Ongoing' else 'Completed' end) Status1,left(CategorizationDate,len(CategorizationDate)-1) CategorizationDate
,(case when CompletionReportDate is NULL then '' else 'Yes' end) CR_Submitted,isnull(ct.Fileas,'') Incahrge,isnull(WorkCategoryMainTypeCode,'') Project_objective 
,'' IfnotCR_Submitted,'' Time_Overrun,'' Reasons_Overrun,'' CostOverrun,'' Cost_Reasons,0 PendingBills 
,(cast(@FromYear as varchar(4))+'-'+cast(right(@ToYear,2) as varchar(4))) as FyYear,Convert(varchar,@FromFyYear,104) as FromFyYear,Convert(varchar,@ToFyYear,104) as ToFyYear 
from (

select AcHead,DocumentNo,DocumentTypeID,JVOLID,WO_PO_OLID,Max(isnull(WO_PODate,'')) WO_PODate,Max(ScheduleCompletionDate) ScheduleCompletionDate
,Max(ActualCompletionDate) ActualCompletionDate,Max(CommissionedDate) CommissionedDate,Max(CompletionReportDate) CompletionReportDate
,(case when DocumentTypeID=1 then 'PO No' when DocumentTypeID=12 then 'RV No' when DocumentTypeID=10 then 'Invoice No' else Reference end) Reference,ExecutionType,WO_POAmount,WorkInChargeID,ODLDID,CommissionMnYr,WorkAllocationID,WOSanction
,sum(_10) _10,Sum(_11) _11,Sum(_12) _12,Sum(_13) _13,Sum(_14) _14,Sum(_15) _15,Sum(_16) _16
,Sum(_17) _17,Sum(_18) _18,Sum(_19) _19,Sum(_20) _20,Sum(_21) _21,Sum(_22) _22,Sum(_23) _23,Sum(_24) _24,Sum(_25) _25,Sum(_26) _26,Sum(_27a) _27a,Sum(_28) _28,Sum(_29) _29,Sum(_101) _101
,Sum(_102) _102,Sum(_103) _103,Sum(_104) _104,Sum(_105) _105,Sum(_106) _106,Sum(_107) _107,Sum(_108) _108,Sum(_109) _109,Sum(_110) _110,Sum(_111) _111,Sum(_112) _112,Sum(_113) _113,Sum(_114) _114,Sum(_115) _115
,Sum(_116) _116,Sum(_117) _117,Sum(_118) _118,Sum(_119) _119,Sum(_120) _120,Sum(_121) _121,Sum(_122) _122,Sum(_123) _123,Sum(_124) _124,Sum(_125) _125,Sum(_126) _126,Sum(_127) _127,Sum(_128) _128,Sum(_129) _129
,Sum(_130) _130,Sum(_131) _131,Sum(_132) _132,Sum(_133) _133,Sum(_134) _134,Sum(_135) _135,Sum(_136) _136,Sum(_137) _137,Sum(_138) _138,Sum(_139) _139,Sum(_140) _140,Sum(_141) _141,Sum(_142) _142,Sum(_143) _143
,Sum(_144) _144,Sum(_145) _145,Sum(_146) _146,Sum(_147) _147,Sum(_148) _148,Sum(_149) _149,Sum(_150) _150,Sum(_151) _151,Sum(_152) _152,Sum(_153) _153,Sum(_154) _154,Sum(_155) _155,Sum(_156) _156,Sum(_157) _157
,Sum(_158) _158,0 _32,0 _33,SUM(_18a) _18a  from (

select a.JournalVoucherNo,isnull( b.AcHead,a.AcHead) AcHead,DocumentNo,(case when DocumentTypeID=22 then 2 else DocumentTypeID end) DocumentTypeID,JVOLID,WO_PO_OLID,convert(varchar,Max(WO_PODate),104) WO_PODate
,convert(varchar,Max(ScheduleCompletionDate),104) ScheduleCompletionDate,convert(varchar,Max(ActualCompletionDate),104) ActualCompletionDate,convert(varchar,Max(CommissionedDate),104) CommissionedDate
,convert(varchar,Max(isnull(CompletionReportDate,cr1.WorksCompletionDate)),104) CompletionReportDate
--,COALESCE(TRY_CONVERT(DATETIME, ActualCompletionDate),(SELECT TOP 1 TRY_CONVERT(DATETIME, ActualCompletionDate)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND ActualCompletionDate IS NOT NULL)) AS ActualCompletionDate
--,COALESCE(TRY_CONVERT(DATETIME, CommissionedDate),(SELECT TOP 1 TRY_CONVERT(DATETIME, CommissionedDate)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND CommissionedDate IS NOT NULL) ) AS CommissionedDate
--,COALESCE(TRY_CONVERT(DATETIME, CompletionReportDate),(SELECT TOP 1 TRY_CONVERT(DATETIME, CompletionReportDate)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND CommissionedDate IS NOT NULL)) AS CompletionReportDate
,Ltrim(Rtrim(Replace (REPLACE(REPLACE(Reference, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),''))) Reference,ExecutionType,WO_POAmount,
(select WorkInChargeID from JVWorkOrderDetails where JVWorkOrderDetailsID in( select MAx(J.JVWorkOrderDetailsID) from JVWorkOrderDetails J where J.DocumentNo=A.DocumentNo)) as WorkInChargeID
,(select ODLDID from JVWorkOrderDetails where JVWorkOrderDetailsID in( select MAx(J.JVWorkOrderDetailsID) from JVWorkOrderDetails J where J.DocumentNo=A.DocumentNo)) ODLDID
,COALESCE(RIGHT(CONVERT(VARCHAR, CommissionedDate, 106), 8),(SELECT TOP 1 RIGHT(CONVERT(VARCHAR, CommissionedDate, 106), 8)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND CommissionedDate IS NOT NULL)) AS CommissionMnYr,
WorkAllocationID,(CASE WHEN (MONTH(WO_PODate))<= 3 THEN convert(varchar(4), YEAR(WO_PODate)-1) + '-' + convert(varchar(4), YEAR(WO_PODate)%100) ELSE convert(varchar(4),YEAR(WO_PODate))+ '-' + convert(varchar(4),(YEAR(WO_PODate)%100)+1)END) as  WOSanction
,Sum(isnull(_10,0)) _10,Sum(isnull(_11,0)) _11,Sum(isnull(_12,0)) _12,Sum(isnull((case when TableName='DivisionAdjustment' then AssetAmount else _13 end),0)) _13
,Sum(isnull(_14,0)) _14,Sum(isnull(_15,0)) _15,Sum(isnull(_16,0)) _16,Sum(isnull(_17,0)) _17
,Sum(isnull((case when TableName='DivisionAdjustment' then AssetAmount else _18 end),0)) _18
,Sum(isnull(_19,0)) _19,Sum(isnull(_20,0)) _20,Sum(isnull(_21,0)) _21,Sum(isnull(_22,0)) _22,Sum(isnull(_23,0)) _23
,Sum(isnull(_24,0)) _24,Sum(isnull(_25,0)) _25,Sum(isnull(_26,0)) _26,Sum(isnull(_27,0)) _27a,Sum(isnull(_28,0)) _28,Sum(isnull(_29,0)) _29,Sum(isnull(_101,0)) _101
,Sum(isnull(_102,0)) _102,Sum(isnull(_103,0)) _103,Sum(isnull(_104,0)) _104,Sum(isnull(_105,0)) _105,Sum(isnull(_106,0)) _106,Sum(isnull(_107,0)) _107,Sum(isnull(_108,0)) _108
,Sum(isnull(_109,0)) _109,Sum(isnull(_110,0)) _110,Sum(isnull(_111,0)) _111,Sum(isnull(_112,0)) _112,Sum(isnull(_113,0)) _113,Sum(isnull(_114,0)) _114,Sum(isnull(_115,0)) _115
,Sum(isnull(_116,0)) _116,Sum(isnull(_117,0)) _117,Sum(isnull(_118,0)) _118,Sum(isnull(_119,0)) _119,Sum(isnull(_120,0)) _120,Sum(isnull(_121,0)) _121,Sum(isnull(_122,0)) _122
,Sum(isnull(_123,0)) _123,Sum(isnull(_124,0)) _124,Sum(isnull(_125,0)) _125,Sum(isnull(_126,0)) _126,Sum(isnull(_127,0)) _127,Sum(isnull(_128,0)) _128,Sum(isnull(_129,0)) _129
,Sum(isnull(_130,0)) _130,Sum(isnull(_131,0)) _131,Sum(isnull(_132,0)) _132,Sum(isnull(_133,0)) _133,Sum(isnull(_134,0)) _134,Sum(isnull(_135,0)) _135,Sum(isnull(_136,0)) _136
,Sum(isnull(_137,0)) _137,Sum(isnull(_138,0)) _138,Sum(isnull(_139,0)) _139,Sum(isnull(_140,0)) _140,Sum(isnull(_141,0)) _141,Sum(isnull(_142,0)) _142,Sum(isnull(_143,0)) _143
,Sum(isnull(_144,0)) _144,Sum(isnull(_145,0)) _145,Sum(isnull(_146,0)) _146,Sum(isnull(_147,0)) _147,Sum(isnull(_148,0)) _148,Sum(isnull(_149,0)) _149,Sum(isnull(_150,0)) _150
,Sum(isnull(_151,0)) _151,Sum(isnull(_152,0)) _152,Sum(isnull(_153,0)) _153,Sum(isnull(_154,0)) _154,Sum(isnull(_155,0)) _155,Sum(isnull(_156,0)) _156,Sum(isnull(_157,0)) _157
,Sum(isnull(_158,0)) _158,0 _32,0 _33,abs(Sum(isnull(_18,0)))_18a from (
--select * from (
select * from @Data where (case when @AcCode='ALL' then 'ALL' else AcHead end)=@AcCode 
and (case when @JVNo=0 then 0 else JournalVoucherNo end)=@JVNo 
) B left join JVWorkOrderDetails a with(nolock) on JVDate Between @FromFyYear and @ToFyYear and JVOLID in (select * from Split(@AcOLID,',')) and a.JournalVoucherNo=b.JournalVoucherNo
Outer Apply ( select top 1 * from (select WorkOrderNo WO,WorksCompletionDate,(Row_Number() over (Partition By WorkOrderNo order By WorkOrderNo,len(OfficialReferenceNo) desc,LegacyWOcompletionreportId desc)) MaxNo 
	from LegacyWOcompletionreport CR with(nolock) where cr.WorkOrderNo = (case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end) 
	and isnull(Canceled,0)=0 and WorksCompletionDate is not NULL and len(OfficialReferenceNo)>0 ) A where MaxNo=1  ) CR1
where (case when @DocumentNo=0 then 0 else DocumentNo end)=@DocumentNo and isnull(a.AcHead,0)=isnull(b.AcHead,0)
----and (case when left(b.AcHead,6) in ('14.809','14.810') and a.AcHead='-' then b.AcHead else a.AcHead end)=b.AcHead
Group By a.JournalVoucherNo,isnull( b.AcHead,a.AcHead),DocumentNo,(case when DocumentTypeID=22 then 2 else DocumentTypeID end),JVOLID,WO_PO_OLID,WO_PODate,ScheduleCompletionDate,ActualCompletionDate,isnull(CompletionReportDate,cr1.WorksCompletionDate),CommissionedDate,
Reference,ExecutionType,WO_POAmount,WorkInChargeID,ODLDID,WorkAllocationID,(CASE WHEN (MONTH(WO_PODate))<= 3 THEN convert(varchar(4), YEAR(WO_PODate)-1) + '-' + convert(varchar(4), YEAR(WO_PODate)%100) ELSE convert(varchar(4),YEAR(WO_PODate))+ '-' + convert(varchar(4),(YEAR(WO_PODate)%100)+1)END)  

) A where AcHead like '14.%'
group by AcHead,DocumentNo,DocumentTypeID,JVOLID,WO_PO_OLID,Reference,ExecutionType,WO_POAmount,WorkInChargeID,ODLDID,CommissionMnYr,WorkAllocationID,WOSanction
------------ 
union all
select AcHead,DocumentNo,(case when DocumentTypeID=22 then 2 else DocumentTypeID end) DocumentTypeID,JVOLID,WO_PO_OLID
,isnull(try_convert(varchar,WO_PODate,104),'') WO_PODate,try_convert(varchar,ScheduleCompletionDate,104) ScheduleCompletionDate
,convert(varchar,ActualCompletionDate,104) ActualCompletionDate,convert(varchar,CommissionedDate,104) CommissionedDate
,convert(varchar,(isnull(CompletionReportDate,WorksCompletionDate)),104) CompletionReportDate
--,COALESCE(TRY_CONVERT(DATETIME, ActualCompletionDate),(SELECT TOP 1 TRY_CONVERT(DATETIME, ActualCompletionDate)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND ActualCompletionDate IS NOT NULL)) AS ActualCompletionDate
--,COALESCE(TRY_CONVERT(DATETIME, CommissionedDate),(SELECT TOP 1 TRY_CONVERT(DATETIME, CommissionedDate)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND CommissionedDate IS NOT NULL) ) AS CommissionedDate
--,COALESCE(TRY_CONVERT(DATETIME, CompletionReportDate),(SELECT TOP 1 TRY_CONVERT(DATETIME, CompletionReportDate)FROM JVWorkOrderDetails j WHERE j.DocumentNo =a.DocumentNo AND CommissionedDate IS NOT NULL)) AS CompletionReportDate
,(case when DocumentTypeID=1 then 'PO No' when DocumentTypeID=12 then 'RV No' else Ltrim(Rtrim(Replace (REPLACE(REPLACE(Reference, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),''))) end) Reference
,ExecutionType,WO_POAmount,
(select WorkInChargeID from JVWorkOrderDetails with(nolock) where JVWorkOrderDetailsID in( select MAx(J.JVWorkOrderDetailsID) from JVWorkOrderDetails J with(nolock) where J.DocumentNo=A.DocumentNo)) as WorkInChargeID
,(select ODLDID from JVWorkOrderDetails with(nolock) where JVWorkOrderDetailsID in( select MAx(J.JVWorkOrderDetailsID) from JVWorkOrderDetails J with(nolock) where J.DocumentNo=A.DocumentNo)) ODLDID
,COALESCE(RIGHT(CONVERT(VARCHAR, CommissionedDate, 106), 8),(SELECT TOP 1 RIGHT(CONVERT(VARCHAR, CommissionedDate, 106), 8) FROM JVWorkOrderDetails j with(nolock) WHERE j.DocumentNo =a.DocumentNo AND CommissionedDate IS NOT NULL)) AS CommissionMnYr
,WorkAllocationID
,(CASE WHEN (MONTH(WO_PODate))<= 3 THEN TRY_convert(varchar(4), YEAR(WO_PODate)-1) + '-' + TRY_convert(varchar(4), YEAR(WO_PODate)%100) ELSE TRY_convert(varchar(4),YEAR(WO_PODate))+ '-' + TRY_convert(varchar(4),(YEAR(WO_PODate)%100)+1)END) WOSanction
,0 _10,0 _11,0 _12,0 _13,0 _14,0 _15,0 _16,0 _17,0 _18,0 _19,0 _20,0 _21,0 _22,0 _23,0 _24,0 _25,0 _26,0 _27a,0 _28,0 _29,0 _101,0 _102,0 _103,0 _104,0 _105,0 _106,0 _107,0 _108
,0 _109,0 _110,0 _111,0 _112,0 _113,0 _114,0 _115,0 _116,0 _117,0 _118,0 _119,0 _120,0 _121,0 _122,0 _123,0 _124,0 _125,0 _126,0 _127,0 _128,0 _129,0 _130,0 _131,0 _132,0 _133
,0 _134,0 _135,0 _136,0 _137,0 _138,0 _139,0 _140,0 _141,0 _142,0 _143,0 _144,0 _145,0 _146,0 _147,0 _148,0 _149,0 _150,0 _151,0 _152,0 _153,0 _154,0 _155,0 _156,0 _157
,0 _158,0 _32,0 _33,0 _18a
from JVWorkOrderDetails a with(nolock) 
Outer Apply ( select top 1 * from (select WorkOrderNo WO,WorksCompletionDate,(Row_Number() over (Partition By WorkOrderNo order By WorkOrderNo,len(OfficialReferenceNo) desc,LegacyWOcompletionreportId desc)) MaxNo 
	from LegacyWOcompletionreport CR with(nolock) where cr.WorkOrderNo = (case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end) 
	and isnull(Canceled,0)=0 and WorksCompletionDate is not NULL and len(OfficialReferenceNo)>0 ) A where MaxNo=1  ) CR1
where JVDate Between @FromFyYear and @ToFyYear and JVOLID in (select * from Split(@AcOLID,',')) and TableName='CWIP_OB' 
and DocumentNo not in (select DocumentNo from @WONo b where b.DocumentNo=a.DocumentNo and (case when b.DocumentTypeID=22 then 2 else b.DocumentTypeID end)=(case when a.DocumentTypeID=22 then 2 else a.DocumentTypeID end) and b.JVOLID=a.JVOLID)
and (case when @AcCode='ALL' then 'ALL' else AcHead end)=@AcCode
and (case when @DocumentNo=0 then 0 else DocumentNo end)=@DocumentNo
and AcHead like '14.%'

) A 
outer apply (select Sum(AssetAmount) _9,0 _27b  from JVWorkOrderDetails b with(nolock) where JVDate Between @FromFyYear and @ToFyYear and JVOLID in (select * from Split(@AcOLID,',')) 
	and TableName='CWIP_OB' and b.DocumentNo=a.DocumentNo and b.AcHead=a.AcHead 
	and (case when b.DocumentTypeID=22 then 2 else b.DocumentTypeID end)=(case when a.DocumentTypeID=22 then 2 else a.DocumentTypeID end) and b.JVOLID=a.JVOLID ) B 
--outer apply (select 0 _27b from JVWorkOrderDetails b with(nolock) where JVDate Between @FromFyYear and @ToFyYear and JVOLID in (select * from Split(@AcOLID,',')) --Sum(AssetAmount)
--	and TableName='CostRegister' and b.DocumentNo=a.DocumentNo and b.DocumentTypeID=a.DocumentTypeID and b.JVOLID=a.JVOLID ) C 
left join ODLDAllocation D with(nolock) on d.ODLDID=a.ODLDID
left join OfficeLocationAccountingUnitDetails ol with(nolock) on ol.OfficeID=d.OfficeID and ol.LocationID=d.LocationID 
left join Contacts ct with(nolock) on ct.ContactID=a.WorkInChargeID 
left join WorkAllocationDescription WA with(nolock) on wa.WorkAllocationID=a.WorkAllocationID
outer apply (select concat(a1.JournalVoucherNo,'') +' , ' from @Data A1 inner join CostRegister B with(nolock) on b.JournalVoucherNo=a1.JournalVoucherNo and b.DocumentTypeID in (2,22) and b.DocumentNo=a.DocumentNo order by a1.JournalVoucherNo for xml path('')) CR (JVNo) 
outer apply (select convert(Varchar,CategorizationDate,104) +' , ' from @Data A1 inner join CostRegister B with(nolock) on b.JournalVoucherNo=a1.JournalVoucherNo and b.DocumentTypeID in (2,22) and b.DocumentNo=a.DocumentNo order by a1.JournalVoucherNo for xml path('')) CR1 (CategorizationDate) 
left join @Data2 D2 on d2.WorkOrderNo=(case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end)

) A left join OfficeLocationAccountingUnitDetails ola with (nolock) on ola.OLID=@AcOLID
left join LocationCode lc with (nolock) on lc.Budget=1 and lc.OfficeID=ola.OfficeID and lc.LocationId=ola.LocationID 
full join @Data1 D on d.WONo=(case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end)
where (abs((_9))+abs((_18))+abs((_22))+abs((_26))+abs((_27))+abs((_28))+abs((_29))+_18a)!=0
Order By AcHead,DocumentNo




GO
