USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Query]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE  PROCEDURE [dbo].[SP_Select_Query] @Query Varchar(Max) as 

--Declare @Query Varchar(Max) = 'select ContactID,FathersName,FileAs,TitleID from Contacts where ContactID = 1631' 


IF OBJECT_ID('tempdb..#SPUnion') IS NOT NULL DROP TABLE #SPUnion
CREATE TABLE #SPUnion (A NVARCHAR(500),B NVARCHAR(500),C NVARCHAR(500),D NVARCHAR(500),E NVARCHAR(500),F NVARCHAR(500),G NVARCHAR(500),H NVARCHAR(500),I NVARCHAR(500),J NVARCHAR(500),K NVARCHAR(500),L NVARCHAR(500),M NVARCHAR(500),N NVARCHAR(500),O NVARCHAR(500),P NVARCHAR(500),Q NVARCHAR(500),R NVARCHAR(500),S NVARCHAR(500),T NVARCHAR(500),U NVARCHAR(500),V NVARCHAR(500),W NVARCHAR(500),X NVARCHAR(500),Y NVARCHAR(500),Z NVARCHAR(500),AA Int)
INSERT INTO #SPUnion EXEC SP_Query_Select1 @Query ; 
INSERT INTO #SPUnion EXEC SP_Query_Select @Query ;
select * from #SPUnion 



GO
