USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ELS_Arrears_Generation]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_ELS_Arrears_Generation] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@IT Int ,
	@ODLDID_1 int,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float 

AS SET NOCOUNT ON


--Declare @AcOLID Int = 341     
--Declare @FromDate DateTime = '2022-08-01' 
--Declare @ToDate DateTime = '2022-08-31' 
--Declare @ContactID Int = 5310       
--Declare @IT Int = 0
--Declare @ODLDID_1 int = 3366 
--Declare @BPRate Float = NULL   
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  

Declare @Suppliment int = 2
Declare @EmpStatusID Int = 1  
Declare @EmpCategoryID Int = 1  
Declare @Remarks Varchar(50) = (( select concat(@ContactID,' ELS Arrears Suppliment ',@Suppliment,'_',Month(@FromDate),Year(@FromDate)) ))


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @SRID1 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0') 

Declare @SRID10 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and EmployeeCategoryID=1 and BillRegisterDate is not NULL  ) 


Declare @SRID3 table (ScaleRegisterID Int) 
insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock)  where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                
and StartingDate >= @FromDate and EndingDate<= @ToDate
) A where Maxno = 1 
 

Declare @SRID2 Int = (( select * from @SRID3 ))


Declare @ODLDID1 table (SlNo Int,EADID Int,ContactID Int,AppointmentTypeID Int,Percentage Money,JoiningDuration Int,RelievedDate DateTime,ReportedDate2 DateTime,ODLDID Int,JD_ODLDID Int,JD_Days Int,LienODLDID Int,Regularised Int,OLID Int,AcOLID Int,Date1 DateTime,HolidayDate DateTime,Sunday Int,Saturday Int,Attendance Int,EmployeeGradeID Int,MinNo Int,FromDate DateTime,ToDate DateTime)
insert into @ODLDID1
select * from Fn_SalaryODLDID(@AcOLID,@FromDate,@ToDate,@ContactID,@ODLDID_1,@Suppliment,1) A
where (case when JD_Days!=0 and (case when JoiningDuration=0 then NULL else JoiningDuration end) is NULL then 0 else 1 end) = 1 


Declare @OLDID2 Table (ODLDID Int,ODID Int,OLDID Int,DesignationID Int)
insert into @OLDID2
select ODLDID,od.OfficeDepartmentAllocationID as ODID,old.OfficeLocationDepartmentAllocationID as OLDID,DesignationID
from (select distinct ODLDID ODLDID1 from @ODLDID1 union select distinct LienODLDID from @ODLDID1) A 
inner join ODLDAllocation odld with (nolock) on odld.ODLDID=a.ODLDID1
inner join OfficeDepartmentAllocation od with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
inner join OfficeLocationAccountingUnitDetails ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID 
inner join OfficeLocationDepartmentAllocation old with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ola.OLID


Declare @OLDID1 Table (ContactID Int,ODLDID Int,Allow_ODLDID Int,ODID Int,OLDID Int,DesignationID Int,EmployeeGradeID Int,Date1 DateTime,AppointmentTypeID Int)
insert into @OLDID1
select distinct a.ContactID,a.ODLDID,Allow_ODLDID,ODID,OLDID,DesignationID,a.EmployeeGradeID,Date1,AppointmentTypeID
from (select distinct ContactID,isnull(isnull(@ODLDID_1,LienODLDID),ODLDID) Allow_ODLDID,EmployeeGradeID,Date1,ODLDID,AppointmentTypeID from @ODLDID1 ) A 
cross apply(select distinct ODID,OLDID,DesignationID from @OLDID2 B where b.ODLDID = a.Allow_ODLDID ) B 


Declare @ELSDate1 Table (ContactID Int,FromDate DateTime)
Insert into @ELSDate1
select ContactID,Min(FromDate) FromDate  from (
select distinct ContactID,EmployeepayTypeID,FromDate-1 FromDate,ToDate 
from EmployeePayDetails A with(nolock) Inner Join EmployeePayDetailsSub B with(nolock) on b.EmployeePayDetailsID=a.EmployeePayDetailsID
where EmployeepayTypeID in (16) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate 
Group By ContactID


Declare @BP Table (EPDID Int,ContactID Int,EmployeePayTypeID Int,Modifiedvalue Money,FromDate DateTime,ToDate DateTime,Date1 DateTime,PerDay Float)
Insert into @BP
select  a.*,b.Date1,(cast(Modifiedvalue as Float)/Day(@ToDate)) PerDay from (
select a.* from (
select EmployeePayDetailsID EPDID,ContactID,EmployeePayTypeID,isnull(@BPRate,Modifiedvalue) Modifiedvalue,isnull(ActualEffectiveDate,EffectiveDate) FromDate 
,isnull((lead(isnull(ActualEffectiveDate,EffectiveDate)) over (Partition By ContactID Order By ContactID,isnull(ActualEffectiveDate,EffectiveDate),isnull(Modifiedvalue,0),EmployeePayDetailsID ))-1,@ToDate) ToDate 
from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
) A inner join @ELSDate1 b on b.ContactID=a.ContactID and b.FromDate Between a.FromDate and ToDate
) A Inner join @Date2 b on b.Date1 Between @FromDate and @ToDate 


Declare @PP Table (ContactID Int,FromDate DateTime,ToDate DateTime,Amount Money,PP Float,Date1 DateTime)
Insert into @PP
select ContactID,FromDate,@ToDate ToDate,Sum(Amount) Amount,(cast(Sum(Amount) as Float)/Day(@ToDate)) PP,Date1  from (
select ContactID,EmployeepayTypeID,isnull(ActualEffectiveDate,EffectiveDate) FromDate,(isnull(ModifiedValue,0)-isnull(CurrentPay,0)) Amount 
,(Row_Number() over (Partition By ContactID,EmployeepayTypeID order By ContactID,EmployeepayTypeID,EmployeePayDetailsID desc )) MaxNo 
from EmployeePayDetails with(nolock) where EmployeepayTypeID in (6,13) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
and (isnull(ModifiedValue,0)-isnull(CurrentPay,0))>0 and ContactID>0 
) A Inner join @Date2 b on b.Date1 Between FromDate and @ToDate 
where MaxNo=1 
Group By ContactID,FromDate,Date1 



Declare @Rate1 table (RateTypeID Int,Rates Float,Date1 DateTime)
Insert into @Rate1
select RateTypeID,cast(isnull(@DPRate,Rates) as Float),b.FromDate from ( 
select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances' and RateTypeID in (20) 
) A Inner join @ELSDate1 b on b.FromDate Between a.FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date)))  
union all 
select RateTypeID,cast(isnull(@DPRate,Rates) as Float),b.FromDate from ( 
select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances' and RateTypeID in (1) 
) A Inner join @ELSDate1 b on b.FromDate Between a.FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date)))  


Declare @ELSDate Table (ContactID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
Insert into @ELSDate
select ContactID,FromDate,ToDate,Date1  from (
select distinct ContactID,EmployeepayTypeID,FromDate,ToDate 
from EmployeePayDetails A with(nolock) Inner Join EmployeePayDetailsSub B with(nolock) on b.EmployeePayDetailsID=a.EmployeePayDetailsID
where EmployeepayTypeID in (16) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate 



Declare @BP1 Table (ContactID Int,AcOLID Int,ODLDID Int,Attendance Int,FromDate DateTime,ToDate DateTime,Date1 DateTime,BP Float,PP Float,DP Float,DA Float,BPDP Float)
Insert Into @BP1 
select *,(BP+DP) BPDP from (
select a.*,isnull((BP*r.Rates/100),0) DP,((BP+isnull((BP*r.Rates/100),0)) * r1.Rates/100) DA  from (
select a.ContactID,AcOLID,ODLDID,Attendance,a.FromDate,a.ToDate,a.Date1,(case when AppointmentTypeID = 17 then ((PerDay/100)*(case when Percentage=0 then 100 else Percentage end)) else PerDay end) BP,((isnull(PP,0)/100)*(case when Percentage=0 then 100 else Percentage end)) PP
from @ODLDID1 a left join @BP bp on bp.ContactID=a.ContactID and bp.Date1=a.Date1 
inner join @ELSDate el on el.ContactID=a.ContactID and el.Date1=a.Date1
left join @PP PP on pp.ContactID=a.ContactID and pp.Date1=a.Date1 
) A left join @Rate1 r on  r.RateTypeID=20 
left join @Rate1 r1 on r1.RateTypeID=1 
) A 

Declare @Allowances Table (ContactID Int,ODLDID Int,RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),RateSeries Int,Duration Float,Rates Float,MaximumAmount Float,Date1 DateTime,PerDay Float,MinNo Int,MaxPerDay Float,Amount1 Float,MaxDay Int,Amount Float,MaxiPerDay Float)
insert into @Allowances
select * ,(case when MaxPerDay>0 and MaxPerDay<MaxDay and Duration!=1 then 0 else Amount end) Amount1 
,(case when Amount=0 then 0 else (case when Duration=1 and MaximumAmount>0 then (MaximumAmount/Day(@ToDate)) else 0 end) end) MaxiPerDay from (
select * ,(Row_Number() over (Partition By ContactID,RateTypeID,(case when Amount=0 then 99 else 1 end) Order By ContactID,RateTypeID,Date1)) MaxDay from (
select * , PerDay Amount from ( 
select * ,round((case when RateMode='Amount' and Duration!=1 and MaximumAmount>0 then (MaximumAmount/Rates) else Rates end),0)  MaxPerDay from (
select o.ContactID,o.ODLDID,RateTypeID,RateMode,RateType,RateSeries,Duration
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(Rates,0) end) Rates,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(MaximumAmount,0) end) MaximumAmount
,b.Date1,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else (case when RateMode='Amount' and Duration=1 then (Rates/Day(@ToDate)) else Rates end) end) PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID,b.Date1 Order By o.ContactID,RateTypeID,b.Date1,OfficeDepartmentAllocationID desc)) MinNo 
from ( 
select RateTypeID,RateMode,RateType,RateSeries,cast(Duration as Float) Duration,cast(Rates as Float) Rates,cast(MaximumAmount as Float) MaximumAmount,a.FromDate,isnull(ToDate,EOMonth(cast(GetDate() as Date))) ToDate,RateUnits,TerritoryClassTypeID,EmployeeGradeID,TerritoryID,DesignationID,OfficeDepartmentAllocationID 
	from FnRateDetails() a Inner join @ELSDate1 b on b.FromDate Between a.FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date)))  
	where RateTypes='Allowances' and isnull(ExternalOrganisationTypeID,0)=0 
	and (case when RateTypeID=3 and isnull(Rates,0)=0 and RateSeries not in (1,4) then 0 else 1 end)=1 
	and (case when RateTypeID=3 and EmployeeGradeID is NULL then 0 else 1 end)=1
	and RateTypeID in (select AllowanceID from Allowances B with(nolock) where ELS=1) and RateTypeID not in (20,1,43,32,38)
) A full join @Date2 b on b.Date1 Between @FromDate and @ToDate 
full join @OLDID1 O on o.Date1=b.Date1
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and HRATerritoryClassTypeID=(case when RateTypeID=2 and isnull(RateUnits,0)=0 then TerritoryClassTypeID else 0 end)) HRA1  
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and CCATerritoryClassTypeID=(case when RateTypeID=3 then TerritoryClassTypeID else 0 end) and o.EmployeeGradeID=(case when RateTypeID=3 then a.EmployeeGradeID else 0 end)) CCA1  
Outer Apply (select top 1 TerritoryID from OfficeLocationDepartmentAddress with(nolock) where OfficeLocationDepartmentAllocationID=OLDID and TerritoryID=(case when RateTypeID=5 then a.TerritoryID else 0 end)) SL
left join @OLDID1 O3 on o3.Date1=b.Date1 and o3.DesignationID=(case when RateTypeID in (17) then a.DesignationID else 0 end) and o3.ODID=(case when RateTypeID in (17) then isnull(a.OfficeDepartmentAllocationID,o3.ODID) else 0 end)

where (case when RateTypeID=2 and hra1.HRATerritoryClassTypeID is NULL then 0  
when RateTypeID=3 and cca1.CCATerritoryClassTypeID is NULL then 0  
when RateTypeID=5 and sl.TerritoryID is NULL then 0  
when RateTypeID in (17) and o3.DesignationID is NULL then 0  
else 1 end) = 1
) A where MinNo = 1 --and RateTypeID = 5 
) A 
) A 
) A 


Declare @HRARates Table (ContactID Int ,Rates Float,Nos Int)
Insert into @HRARates
select distinct ContactID,cast(Rates as Float) Rates,1 Nos from @Allowances where RateTypeID=2 

;

insert into ScaleRegister 
select ContactID,Month(@FromDate),Year(@FromDate),Min(Date1),Max(Date1),AcOLID,@EmpCategoryID,NULL,0,Sum(Attendance),0,0,0,0,0,0,0,1,@Suppliment,0,'0',NULL,NULL,GetDate(),0,NULL,NULL,@Remarks,0,0,NULL,NULL
from @BP1 where ContactID not in ( 
	select ContactID from ScaleRegister with (nolock) where ScaleRegisterID = @SRID1  )
Group By ContactID,AcOLID 

;
Declare @SRID Int = (isnull(@SRID1,(select ScaleRegisterID  from ScaleRegister with (nolock) where Remarks=@Remarks and OLID=@AcOLID and ContactID>0))) 


;
delete from ScaleRegisterBasicPayDetails where ScaleRegisterID = @SRID

;
 insert into ScaleRegisterBasicPayDetails  
select @SRID,ODLDID,FromDate,ToDate,cast(PerDay as Money) PerDay,cast(Sum(BP) as Money) Basic,@EmpStatusID,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,BP PerDay,BP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate,PerDay

;
 insert into ScaleRegisterBasicPayDetails 
select ScaleRegisterID,Max(ODLDID),Min(StartingDate),Max(EndingDate),0 BasicPerDay,(round(round(Sum(Amount),2),0)-Sum(Amount)),@EmpStatusID,'' Remarks
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID having (round(round(Sum(Amount),2),0)-Sum(Amount))!=0 

;
delete from ScaleRegisterALlowances where ScaleRegisterID = @SRID

;
 insert into ScaleRegisterALlowances  
select @SRID,20,ODLDID,FromDate,ToDate,cast(Sum(DP) as Money) DP,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,DP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate
union all
select @SRID,1,ODLDID,FromDate,ToDate,cast(Sum(DA) as Money) DA,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,DA,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate
union all
select @SRID,38,ODLDID,FromDate,ToDate,cast(Sum(PP) as Money) PP,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,PP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate

;
 insert into ScaleRegisterALlowances  
 select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),(DP-Sum(Amount)),0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
cross join (select round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
	select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R ) B 
where ScaleRegisterID = @SRID and AllowanceID = 20 Group By ScaleRegisterID,AllowanceID,DP having (DP-Sum(Amount))!=0 

;
 insert into ScaleRegisterALlowances  
 select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),(DA-Sum(Amount)),0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
cross join ( select round(round(isnull((BPDP*r.Rates/100),0),2),0) DA from (
	select (BP+round(round(isnull((BP*r.Rates/100),0),2),0)) BPDP from (
	select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R 
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=1 ) R ) B 
where ScaleRegisterID = @SRID and AllowanceID = 1 Group By ScaleRegisterID,AllowanceID,DA having (DA-Sum(Amount))!=0 

;
 insert into ScaleRegisterALlowances 
select @SRID,RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateMode='Percentage' then BPDP*Amount/100 else Amount end) Amount,MaximumAmount 
from @BP1 a inner join @Allowances b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID and MaximumAmount=0 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 
union all 
select @SRID,RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(case when RateMode='Percentage' and MaxiPerDay<Amount then MaxiPerDay else Amount end) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateMode='Percentage' then BPDP*Amount/100 else Amount end) Amount,MaximumAmount,MaxiPerDay 
from @BP1 a inner join @Allowances b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID and MaximumAmount>0 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 


;
Declare @BPDP table (ScaleRegisterID Int,BPDP Int,BPDPDA Int)
insert into @BPDP
select ScaleRegisterID,(BP+DP) BPDP,(BP+DP+DA) BPDPDA from (
select a.*,round(round(isnull(((BP+DP)*r.Rates/100),0),2),0) DA from ( 
select ScaleRegisterID,BP,round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=1 ) R  
) A 

;
 insert into ScaleRegisterALlowances
select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),cast((HRA-Sum(Amount)) as Money) ,0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
Cross join (select round(round((BPDP*Rates/100),2),0) HRA from (
select ScaleRegisterID,BPDP from @BPDP a cross join (select Sum(Nos) Nos from @HRARates Having Sum(Nos)=1) b
) A Cross join @HRARates B ) B 
where ScaleRegisterID = @SRID and AllowanceID = 2 Group By ScaleRegisterID,AllowanceID,HRA having (HRA-Sum(Amount))!=0 

;
delete from ScaleRegisterOtherDeductions where ScaleRegisterID = @SRID 
;

 insert into ScaleRegisterOtherDeductions
select @SRID,ODLDID,SalaryOtherDeductionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherDeductions A with(nolock) where a.ScaleRegisterID=@SRID2
union all
select @SRID,ODLDID,RateTypeID,StartingDate,EndingDate,b.Amount from (
select * , (Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
cross join (select 2 RateTypeID,@IT Amount ) b 
where SlNo = 1 and b.Amount!=0 


;
Declare @SRIDNew Table (ScaleRegisterID Int) Insert into @SRIDNew
select ScaleRegisterID from ScaleRegister where Remarks = @Remarks and OLID=@AcOLID and ContactID>0
;
insert into  ScaleRegisterWithdrawals 
select c.ScaleRegisterID,StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount
from ScaleRegister B with(nolock) 
inner Join @SRIDNew C on c.ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterWithdrawals d where d.ScaleRegisterID=c.ScaleRegisterID) 
where b.ScaleRegisterID=@SRID2
;
Declare @SRWIDNew Table (ScaleRegisterWithdrawalID Int) Insert into @SRWIDNew
select distinct ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals A with(nolock) Inner Join @SRIDNew B on a.ScaleRegisterID=b.ScaleRegisterID 

;
delete from ScaleRegisterBasicPayWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterAllowanceWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherAdditionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherDeductionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterLoanandAdvanceWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterRecoveryWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)


;
 insert into ScaleRegisterBasicPayWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,StartingDate,EndingDate,Amount
from ScaleRegisterBasicPayDetails A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterAllowanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,AllowanceID,StartingDate,EndingDate,Amount
from ScaleRegisterAllowances A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherAdditionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherAdditions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherDeductionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherDeductionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherDeductions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterLoanandAdvanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Amount
from ScaleRegisterLoansandAdvances A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterRecoveryWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,ScheduleTypeID,StartingDate,EndingDate,Amount,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2


;
exec SP_SRID_MismatchUpdate @FromDate,@SRID 
;
update a set CreatedOn=GetDate() from ScaleRegister a with(nolock) where ScaleRegisterID = @SRID 
;
--select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID 









GO
