USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_SQ]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Data_Integrity_SQ] @FromDate DateTime AS

--Declare @FromDate DateTime = '2023-02-01' 

----------------------------------------------------------------------------
-- Quantity mismatch in StockQuantity table Quantity should be equal to sum of Good,ReleasedGoodQuantity,ReleasedFaultyQuantity,ReleasedScrapQuantity
--select ItemID,Quantity,(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0)) SumQuantity
 update a set Quantity = (isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
from StockQuantity A with(nolock) 
where isnull(Quantity,0)!=(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))

----------------------------------------------------------------------------

-- Negative Quantity serialNo false case in StockQuantity table
Declare @SQID Table (StockQuantityid int) insert into @SQID
select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 0 
where ( isnull(GoodQuantity,0)<0 or isnull(ReleasedGoodQuantity,0)<0 or isnull(ReleasedFaultyQuantity,0)<0 or isnull(ReleasedScrapQuantity,0)<0 ) 
;
--select * 
 delete 
from StockQuantitySub where StockQuantityid in (select StockQuantityid from @SQID)
;
--select * 
 delete 
from StockQuantity where StockQuantityid in (select StockQuantityid from @SQID)

----------------------------------------------------------------------------

-- Negative Quantity serialNo false case in StockQuantitySub table
Declare @SQSID Table (StockQuantitySubID int) insert into @SQSID
select StockQuantitySubID from StockQuantitySub sqs with(nolock) where (isnull(sqs.Quantity,0)<0 or sqs.StockConditionID is null)
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 0 ) 
;
--select * 
 delete 
from StockQuantitySub where StockQuantitySubID in (select StockQuantitySubID from @SQSID)

----------------------------------------------------------------------------

-- No duplicates in StockQuantitySub against a particular ItemID. 
-- In StockQuantitySub table for a particular Serial No there should not be any duplicates for a particular ItemID and StockCondition.
--select * 
 delete 
from StockQuantitySub where StockQuantitySubID in (
select StockQuantitySubID from (
select a.*,StockQuantitySubID
,(Row_Number() over (Partition By a.StockQuantityID,a.StockConditionID,a.SerialNo order by a.StockQuantityID,a.StockConditionID,a.SerialNo,StockQuantitySubID)) SlNo from (
select sqs.StockQuantityID,sqs.StockConditionID,sqs.SerialNo,count(sqs.Quantity) Nos 
from StockQuantitySub sqs with(nolock) 
where StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 0 ) 
group by sqs.StockQuantityID,sqs.StockConditionID,sqs.SerialNo having count(sqs.Quantity)>1
) A Inner Join StockQuantitySub B with(nolock) on b.StockQuantityID=a.StockQuantityID and b.StockConditionID=a.StockConditionID and b.SerialNo=a.SerialNo
) A where SlNo!=1 ) 

----------------------------------------------------------------------------

-- SerialFlag false case delete StockQuantityUserDefinedFields table 
--select * 
 delete 
from StockQuantityUserDefinedFields where StockQuantitySubID in (
select StockQuantitySubID from StockQuantitySub sqs with(nolock) 
where StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 0 ))

----------------------------------------------------------------------------

-- StockConditionID zero in StockQuantitySub table 
--select *  
 delete 
from StockQuantitySub  where isnull(StockConditionID,0)=0 
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 0 ) 

----------------------------------------------------------------------------

-- UnitID mismatch 
--select * 
 update sqs set sqs.UnitID=sq.UnitID 
from StockQuantity sq with(nolock) 
inner join StockQuantitySub sqs with(nolock) on sqs.StockQuantityID=sq.StockQuantityID
where  isnull(sq.UnitID,0)<>isnull(sqs.UnitID,0)



-- Dispatched should not be true in  StockQuantitySub table for Serial Flag true cases. Dispatched column value should only be 0 for ItemIDs for which Serial Flag is 0
--select * 
 update a set Dispatched = 0 
from StockQuantitySub a with(nolock) where a.Dispatched=1
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 ) 

----------------------------------------------------------------------------


-- StockQuantitySub tables SerialNo updating to true without Invoices. 
-- In StockQuantitySub table Serial Nos are updated to true only against Invoice is created but not finally approved.Thus checking for Dispatched true condition where no invoices done.
--select b.* 
 update a set Dispatched = 0 
from ( select * from StockQuantitySub with(nolock) 
where Dispatched=1 and isnull(SerialNo,'') not in (
select isnull(SerialNo,'') from StoreInvoiceMaterialDetails_pni with(nolock) 
where StoreInvoiceDetailsID in (select StoreInvoiceDetailsID from StoreInvoiceDetails_pni with(nolock) 
	where StoreInvoiceNo in (select StoreInvoiceNo from StoreInvoice_pni with(nolock) where StoreInvoiceDate>= @FromDate and isnull(Passed,0)=0))
union all
select SerialNo from StoreInvoiceAlternateMaterialDetails_pni with(nolock) 
where StoreInvoiceAlternateDetailsID in (select StoreInvoiceAlternateDetailsID from StoreInvoiceAlternateDetails_pni with(nolock) 
	where StoreInvoiceDetailsID in (select StoreInvoiceDetailsID from StoreInvoiceDetails_pni with(nolock) 
	where StoreInvoiceNo in (select StoreInvoiceNo from StoreInvoice_pni with(nolock) where StoreInvoiceDate>= @FromDate and isnull(Passed,0)=0)))
) and isnull(serialno,'') not in (select isnull(serialno,'') collate database_default from TransferOfStockConditionMaterialDetails a with(nolock) 
	inner join TransferOfStockConditionDetails b with(nolock) on a.TransferOfStockConditionDetailsID=b.TransferOfStockConditionID where b.ToStockConditionID=StockConditionID)
) A inner join StockQuantitySub B with(nolock) on b.StockQuantitySubID=a.StockQuantitySubID

----------------------------------------------------------------------------

-- StockQuantityUserDefinedFields table for duplicates. No rows should be duplicated in StockquantityUserDefinedFields table i.e. one SerialNo should have only 1 make.
--select * 
 delete 
from StockQuantityUserDefinedFields where StockQuantityUserDefinedFieldsID in (
select StockQuantityUserDefinedFieldsID from (
select a.*,StockQuantityUserDefinedFieldsID
,(Row_Number() over (Partition By a.StockQuantitySubID,a.DistributionNodeUserDefinedFieldID,a.UserDefinedFieldValue order by a.StockQuantitySubID,a.DistributionNodeUserDefinedFieldID,a.UserDefinedFieldValue,StockQuantityUserDefinedFieldsID)) SlNo from (
select StockQuantitySubID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,count(*) Nos
from StockQuantityUserDefinedFields with(nolock) group by StockQuantitySubID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue
having count(*)>1 ) A Inner Join StockQuantityUserDefinedFields B with(nolock) on b.StockQuantitySubID=a.StockQuantitySubID and b.DistributionNodeUserDefinedFieldID=a.DistributionNodeUserDefinedFieldID and b.UserDefinedFieldValue=a.UserDefinedFieldValue
) A where SlNo!=1 )

----------------------------------------------------------------------------

-- StockQuantitySubID in StockQuantityUserDefinedFields table  which is not existing in StockQuantitySub table.
--select * 
 delete 
from StockQuantityUserDefinedFields 
where StockQuantitySubID not in ( select StockQuantitySubID from StockQuantitySub with(nolock) where StockQuantitySubID=StockQuantityUserDefinedFields.StockQuantitySubID )

----------------------------------------------------------------------------

-- DistributionNodeUserDefinedFieldID in StockQuantityUserDefinedFields table against an ItemID should not be null. 
-- In StockQuantityUserDefinedFields table for a particular Serial No the DistributionNodeUserDefinedFieldsID cannot be NULL for a particular ItemID.
--select * 
 delete 
from StockQuantityUserDefinedFields where DistributionNodeuserdefinedfieldID is null

----------------------------------------------------------------------------

delete from SerialFlag_True_StockQuantity DBCC CHECKIDENT ('SerialFlag_True_StockQuantity', RESEED, 0);

GO
