USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_GenralLedger]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_GenralLedger] 
	@AcOLID Int ,
	@LC Varchar(10) ,
	@FYYear Varchar(20) ,
	@ToDate DateTime ,
	@AcCode Varchar(20) ,
	@OLID Int

AS 
SET NOCOUNT ON

--Declare @AcOLID Int select @AcOLID = 343
--Declare @LC Varchar(10) select @LC = '451'
--Declare @FYYear Varchar(20) select @FYYear = '2025-2026' 
--Declare @ToDate DateTime select @ToDate = '2025-09-30' 
--Declare @AcCode Varchar(20) select @AcCode = '22.210'
--Declare @OLID Int select @OLID = 0

Declare @TBOB Table (YearID Int,MonthID Int,OLID Int,AccountCode Varchar(20),DebitAmount Money,CreditAmount Money,VoltageClassCode Varchar(10),LocationCode Varchar(10))
insert into @TBOB
exec TBOB_MIS @AcOLID,@LC,@FYYear,@ToDate,@AcCode 

Declare @JV Table (LocationCode Varchar(10),AccountCode Varchar(20),YearID Int,MonthID Int,Monthdesc Varchar(20),Debit Money,Credit Money,AcDesc Varchar(500),OfficeLocation Varchar(200),OfficeID Int) 
insert into @JV
exec JV_Analysis_MIS @AcOLID,@LC,@FYYear,@ToDate,@AcCode 

Declare @Cash Table (AccountCode Varchar(20),Debit Money,Credit Money,AcDesc Varchar(500),YearID Int,MonthID Int,Monthdesc Varchar(20),OfficeLocation Varchar(200),LocationCode Varchar(10),OfficeID Int,AcOLID Int) 
insert into @Cash
exec Cash_Analysis_MIS @AcOLID,@LC,@FYYear,@ToDate,@AcCode,@OLID 
;

with Data1 as (
select orderNo,YearID,MonthID,OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc,Particular,[JA/CA Reference]
,Sum(DebitAmount) Debit,Sum(CreditAmount) Credit from (
select 1 orderNo,YearID,MonthID,ola.OfficeLocation,LocationCode,AccountCode,AcDesc,DateName(Month,convert(DateTime,concat(YearID,'-',MonthID,'-01'))) as Monthdesc
,'To BALANCE B/D' Particular,'' 'JA/CA Reference',DebitAmount,CreditAmount from @TBOB A 
left join ( select (MainAccountCode+SubAccountCode) as AcCode,Description as AcDesc from SubAccount with (nolock)) as B on b.AcCode=left(a.AccountCode,6) collate database_default
left join OfficeLocationAccountingUnitDetails OLA with (nolock) on ola.OLID=a.OLID
union all 
select 2 orderNo,YearID,MonthID,ola.OfficeLocation,LocationCode,left(AccountCode,6),AcDesc,DateName(Month,convert(DateTime,concat(YearID,'-',MonthID,'-01'))) as Monthdesc
,'To CASH' Particular,'Cash Analysis' 'JA/CA Reference',Debit,Credit from @Cash A 
left join OfficeLocationAccountingUnitDetails OLA with (nolock) on ola.OLID=a.AcOLID
union all 
select 3 orderNo,YearID,MonthID,OfficeLocation,LocationCode,left(AccountCode,6),AcDesc collate database_default,DateName(Month,convert(DateTime,concat(YearID,'-',MonthID,'-01'))) as Monthdesc
,'To SUNDRIES' Particular,'JV Analysis' 'JA/CA Reference',Debit,Credit from @JV A 
) A Group By orderNo,YearID,MonthID,OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc,Particular,[JA/CA Reference]
) 
select orderNo,YearID,MonthID,OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc,Particular,[JA/CA Reference],Replace(Particular,'To ','By ') Particular1 
,Sum(Debit) Debit,Sum(Credit) Credit from (
select * from Data1 with(nolock) union all 
select 4 orderNo,max(YearID),Max(MonthID),OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc,'To BALANCE C/D' Particular,'' [JA/CA Reference] 
,(case when Sum(Debit-Credit)<0 then abs(Sum(Debit-Credit)) else 0 end) Debit,(case when Sum(Debit-Credit)>0 then abs(Sum(Debit-Credit)) else 0 end) Credit
from Data1 with(nolock) Group By OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc 
union all 
select b.OrderNo,YearID,MonthID,OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc,b.Particular,b.[JA/CA Reference],0 Debit,0 Credit 
from Data1 A with(nolock) cross join (
select 1 OrderNo,'To BALANCE B/D' Particular,'' [JA/CA Reference] union all 
select 2 OrderNo,'To CASH' Particular,'Cash Analysis' [JA/CA Reference] union all 
select 3 OrderNo,'To SUNDRIES' Particular,'JV Analysis' [JA/CA Reference] union all 
select 4 OrderNo,'To BALANCE C/D' Particular,'' [JA/CA Reference] ) B 
) A group by orderNo,YearID,MonthID,OfficeLocation,LocationCode,AccountCode,AcDesc,Monthdesc,Particular,[JA/CA Reference]
Order By YearID,MonthID,orderNo


--select * from Data1 
GO
