USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_EstimateReport]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[sp_EstimateReport] @SENo int ,@VersionID varchar(max) ,@Module varchar(max) as 
SET NOCOUNT ON
  
 Declare @Status Int select @Status = 1
 --Declare @SENo Int select @SENo = 343882
 --Declare @VersionID varchar(max) = '1.4000'
 --Declare @Module varchar(max) = 'Estimate-Sanction Estimate'




Declare @SE Table (SEno int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),workallocationID int,ExecutionType int)
Insert Into @SE
select SanctionEstimateNo,OLID,SanctionEstimateDate,Description,WorkAllocationID,CivilWorkContractTypeID
FROM SanctionEstimate with (nolock)  where isnull(Approved,0)=1 and isnull(canceled,0)=0 and SanctionEstimateNo =@SENo
    

Declare @WO Table (WOno int,WorkOrderDate DateTime,OLID int,WorkAwardNo Int,WorkAwardDate DateTime,RateContractNo Int)
Insert Into @WO
select a.WorkOrderNo,a.WorkOrderDate,a.OLID,a.WorkAwardNo,a.WorkAwardDate,a.RateContractID
from @SE B Inner Join WorkOrder A with (nolock) on a.SanctionEstimateNo=b.SEno
    
	    
Declare @Assetcategogy Table (ESAssetCatID int ,SEno int,WorkAllocationID int,WorkAllocationSubID int,VersionID varchar(max))
insert into @Assetcategogy
Select SanctionEstimateWorkAllocationSubID,SanctionEstimateNo int,WorkAllocationID,WorkAllocationSubID,VersionID
from SanctionEstimateWorkAllocationSub with (nolock)
where SanctionEstimateNo=@SENo and isnull(VersionID,0.0)=@VersionID  and Isnull(Module,0)=@Module
order by SanctionEstimateWorkAllocationSubID
    

Declare  @Assetcategogy1 Table (ESAssetCatID int ,SEno int,WorkAllocationID int,WorkAllocationSubID int,VErsionID varchar(max))
insert into  @Assetcategogy1
Select SanctionEstimateWorkAllocationSubHistoryID,SanctionEstimateNo int,WorkAllocationID,WorkAllocationSubID,VErsionID
from SanctionEstimateWorkAllocationSubHistory with (nolock)
where SanctionEstimateNo=@SENo and isnull(VersionID,0.0)=@VersionID and Isnull(Module,0)=@Module
order by SanctionEstimateWorkAllocationSubHistoryID


Declare @EStimateAssetcategory Table (SEWDID int, SEno int,WorkAllocationsubID int,CivilWorkMeasurementTypeID int,MILCWID int,ESAssetCatID int)
insert into @EStimateAssetcategory
Select a.SanctionEstimateWorkAllocationDetailsID,a.SanctionEstimateNo,b.WorkAllocationsubID,a.CivilWorkMeasurementTypeID,a.MILCWID,b.ESAssetCatID
from ( select * from SanctionEstimateWorkAllocationDetails a with (nolock) where a.SanctionEstimateNo=@SENo and isnull(a.VersionID,0.0)=@VersionID  and Isnull(a.Module,0)=@Module ) a
inner join @Assetcategogy b on a.SanctionEstimateNo=b.SEno and a.WorkAllocationsubID=b.WorkAllocationsubID  
order by b.ESAssetCatID,a.SanctionEstimateWorkAllocationDetailsID


Declare @EStimateAssetcategory1 Table (SEWDID int, SEno int,WorkAllocationsubID int,CivilWorkMeasurementTypeID int,MILCWID int,ESAssetCatID int,VersionID varchar(max))
insert into @EStimateAssetcategory1
Select a.SanctionEstimateWorkAllocationDetailsHistoryID,a.SanctionEstimateNo,b.WorkAllocationsubID,a.CivilWorkMeasurementTypeID,a.MILCWID,b.ESAssetCatID,a.VersionID
from (select * from SanctionEstimateWorkAllocationDetailsHistory a with (nolock) where a.SanctionEstimateNo=@SENo  and isnull(a.VersionID,0.0)=@VersionID  and Isnull(a.Module,0)=@Module ) a
inner join  @Assetcategogy1 b on a.SanctionEstimateNo=b.SEno and a.WorkAllocationsubID=b.WorkAllocationsubID
order by b.ESAssetCatID,a.SanctionEstimateWorkAllocationDetailsHistoryID 
 
  
Declare @ESMaterial Table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,MILCWID int,UnitID int,MQty money,MRate money,MAmt money,MRQty money,MRRate money,MRAmt money,VersionID varchar(max))
insert into @ESMaterial
Select a.SanctionEstimateWorkAllocationDetailsID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,a.VersionID
from (select * from SanctionEstimateWorkAllocationDetails a with (nolock) where a.CivilWorkMeasurementTypeID=4 and a.SanctionEstimateNo=@SENo and isnull(a.VersionID,0.0)=@VersionID   and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner join @EStimateAssetcategory b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsID and b.WorkAllocationsubID=a.WorkAllocationsubID
--and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID ,SanctionEstimateWorkAllocationDetailsID



Declare @ESMaterial1 Table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,MILCWID int,UnitID int,MQty money,MRate money,MAmt money,MRQty money,MRRate money,MRAmt money,VersionID varchar(max))
insert into @ESMaterial1
Select a.SanctionEstimateWorkAllocationDetailsHistoryID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,a.VersionID
from (select * from SanctionEstimateWorkAllocationDetailsHistory a with (nolock) where a.CivilWorkMeasurementTypeID=4 and a.SanctionEstimateNo=@SENo and isnull(a.VersionID,0.0)=@VersionID and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner join @EStimateAssetcategory1 b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsHistoryID and b.WorkAllocationsubID=a.WorkAllocationsubID
--and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID ,SanctionEstimateWorkAllocationDetailsHistoryID


  
Declare @ESDecommMaterial Table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,ItemID int,MUnitID int,MQty money,MRate money,MAmt money,MRQty money,MRRate money,MRAmt money,Laboursub varchar(max), DecLabrID int,Declabr1 int,DecUnitId int,DecQty Money,DecRate money,DecAmt Money,DecRQty Money,DecRRate money,DecRAmt Money,VersionID  varchar(max), WDV money,	WDA  money)
insert into @ESDecommMaterial
Select a.SanctionEstimateWorkAllocationDetailsID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount
,((select Description from CivilWorkLabourTypes with (nolock) where CivilWorkLabourTypeID=c.MILCWID)+'-' +(Select Description from MaterialCode where ItemID= c.ItemID)) as Laboursub
,c.MILCWID,c.ItemID,c.UnitID
,isnull(c.InitialQuantity,0) InitialQuantity,(c.InitialAmount/NULLIF(a.InitialQuantity,0)) InitialRate,isnull(c.InitialAmount,0) InitialAmount
,isnull(c.SanctionedQuantity,0) SanctionedQuantity,(c.SanctionedAmount/NULLIF(a.sanctionedQuantity,0)) SanctionedRate,isnull(c.SanctionedAmount,0) SanctionedAmount
,a.VersionID,(a.OriginalValue-a.DepreciationValue) WritteDownValue,	((a.OriginalValue-a.DepreciationValue) * a.InitialQuantity ) WritteDownAmount

from ( select Max(SanctionEstimateWorkAllocationDetailsID) SanctionEstimateWorkAllocationDetailsID,SanctionEstimateNo,CivilWorkMeasurementTypeID,WorkAllocationsubID,MILCWID,UnitID
,Sum(InitialQuantity)InitialQuantity,InitialRate,Sum(InitialAmount)InitialAmount,Sum(SanctionedQuantity)SanctionedQuantity,SanctionedRate,Sum(SanctionedAmount ) SanctionedAmount
,OriginalValue,DepreciationValue,VersionID,Module
from SanctionEstimateWorkAllocationDetails a with (nolock) where SanctionEstimateNo=@SENo and a.CivilWorkMeasurementTypeID=5 and isnull(a.VersionID,0.0)=@VersionID and Isnull(a.Module,0)=@Module 
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) 
group by SanctionEstimateNo, CivilWorkMeasurementTypeID,WorkAllocationsubID,MILCWID,InitialRate,SanctionedRate,OriginalValue,DepreciationValue,UnitID,VersionID,Module) a
inner join @EStimateAssetcategory b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsID and b.WorkAllocationsubID=a.WorkAllocationsubID
left Outer Join SanctionEstimateWorkAllocationDetailsSub c with (nolock) on c.MILCWID in (306) and c.SanctionEstimateNo=a.SanctionEstimateNo and c.ItemID=a.MILCWID and c.WorkAllocationsubID=a.WorkAllocationsubID and Isnull(c.VersionID,0.0)=@VersionID  and Isnull(c.Module,0)=@Module
-- and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID ,a.SanctionEstimateWorkAllocationDetailsID



Declare @ESDecommMaterial1 Table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,ItemID int,MUnitID int,MQty money,MRate money,MAmt money,MRQty money,MRRate money,MRAmt money,Laboursub varchar(max),DecLabrID int,Declabr1 int,DecUnitId int,DecQty Money,DecRate money,DecAmt Money,DecRQty Money,DecRRate money,DecRAmt Money,VersionID  varchar(max),  WDV money,	WDA  money)
insert into @ESDecommMaterial1
Select a.SanctionEstimateWorkAllocationDetailsHistoryID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount
,((select Description from CivilWorkLabourTypes with (nolock) where CivilWorkLabourTypeID=c.MILCWID)+'-' +(Select Description from MaterialCode where ItemID= c.ItemID)) as Laboursub
, c.MILCWID,c.ItemID,c.UnitID
,isnull(c.InitialQuantity,0),(c.InitialAmount/NULLIF(a.InitialQuantity,0)) InitialRate,isnull(c.SanctionedAmount,0)
,isnull(c.SanctionedQuantity,0),(c.SanctionedAmount/NULLIF(a.sanctionedQuantity,0)) SanctionedRate,isnull(c.SanctionedAmount,0)
,a.VersionID  ,(a.OriginalValue-a.DepreciationValue) WritteDownValue,	((a.OriginalValue-a.DepreciationValue) *a.InitialQuantity ) WritteDownAmount

from ( select Max(SanctionEstimateWorkAllocationDetailsHistoryID)SanctionEstimateWorkAllocationDetailsHistoryID,SanctionEstimateNo,CivilWorkMeasurementTypeID,WorkAllocationsubID,MILCWID,UnitID,
Sum(InitialQuantity)InitialQuantity,InitialRate,Sum(InitialAmount)InitialAmount,Sum(SanctionedQuantity)SanctionedQuantity,SanctionedRate,Sum(SanctionedAmount ) SanctionedAmount,OriginalValue,DepreciationValue,VersionID,Module
from SanctionEstimateWorkAllocationDetailsHistory a with (nolock) where SanctionEstimateNo=@SENo and a.CivilWorkMeasurementTypeID=5 and isnull(a.VersionID,0.0)=@VersionID  and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0)
group by SanctionEstimateNo, CivilWorkMeasurementTypeID,WorkAllocationsubID,MILCWID,InitialRate,SanctionedRate,OriginalValue,DepreciationValue,UnitID,VersionID,Module) a
  
inner join @EStimateAssetcategory1 b on b.SEWDID=a.SanctionEstimateWorkAllocationDetailsHistoryID  and b.WorkAllocationsubID=a.WorkAllocationsubID 
left Outer Join SanctionEstimateWorkAllocationDetailsSubHistory c on  c.MILCWID in(306) and  c.SanctionEstimateNo=a.SanctionEstimateNo and c.ItemID=a.MILCWID and c.WorkAllocationsubID=a.WorkAllocationsubID and Isnull(c.VersionID,0.0)=@VersionID   and Isnull(c.Module,0)=@Module
--and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID ,a.SanctionEstimateWorkAllocationDetailsHistoryID


Declare @ESLabour table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,MILCWID int,UnitID int,LQty money,LRate money,LAmt money,LRQty money,LRRate money,LRAmt money,SoilType varchar(50),VersionID  varchar(max))
insert into @ESLabour
Select a.SanctionEstimateWorkAllocationDetailsID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,c.description,a.VersionID
from ( select * from SanctionEstimateWorkAllocationDetails a with (nolock) where a.CivilWorkMeasurementTypeID=2 and a.SanctionEstimateNo=@SENo  and isnull(a.VersionID,0.0)=@VersionID  and Isnull(a.Module,0)=@Module
and a.MILCWID not in (select MILCWID from  SanctionEstimateWorkAllocationDetailsSub with (nolock) where SanctionEstimateNo=@SENo )
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner join @EStimateAssetcategory b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsID and b.WorkAllocationsubID=a.WorkAllocationsubID
inner Join SoilTypes c with (nolock) on c.SoiltypeID=a.SoiltypeID
--and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID ,a.SanctionEstimateWorkAllocationDetailsID


Declare @ESLabour1 table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,MILCWID int,UnitID int,LQty money,LRate money,LAmt money,LRQty money,LRRate money,LRAmt money,SoilType varchar(50),VersionID  varchar(max))
insert into @ESLabour1
Select a.SanctionEstimateWorkAllocationDetailsHistoryID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,c.description,a.VersionID
from ( select * from SanctionEstimateWorkAllocationDetailsHistory a with (nolock) where a.CivilWorkMeasurementTypeID=2 and a.SanctionEstimateNo=@SENo   and isnull(a.VersionID,0.0)=@VersionID and Isnull(a.Module,0)=@Module
and a.MILCWID not in (select MILCWID from SanctionEstimateWorkAllocationDetailsSubHistory with (nolock) where SanctionEstimateNo=@SENo )
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner join @EStimateAssetcategory1 b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsHistoryID and b.WorkAllocationsubID=a.WorkAllocationsubID
inner Join SoilTypes c with (nolock) on c.SoiltypeID=a.SoiltypeID
--and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID ,a.SanctionEstimateWorkAllocationDetailsHistoryID
   

Declare @EScivilWokrs table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,civilworkID int,CVUnitID int,CVQty money,CVRate money,CVAmt money,CVRQty money,CVRRate money,CVRAmt money,VersionID  varchar(max))
insert into @EScivilWokrs
Select a.SanctionEstimateWorkAllocationDetailsID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,a.VersionID
from ( select * from SanctionEstimateWorkAllocationDetails a with (nolock) where a.CivilWorkMeasurementTypeID=3 and a.SanctionEstimateNo=@SENo and isnull(a.VersionID,0.0)=@VersionID   and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner join @EStimateAssetcategory b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsID and b.WorkAllocationsubID=a.WorkAllocationsubID
-- and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID  ,a.SanctionEstimateWorkAllocationDetailsID


Declare @EScivilWokrs1 table (SEWDID int,ESAssetCatID int, SEno int,WorkAllocationSubID int,CWMTypeID int,civilworkID int,CVUnitID int,CVQty money,CVRate money,CVAmt money,CVRQty money,CVRRate money,CVRAmt money,VersionID  varchar(max))
insert into @EScivilWokrs1
Select a.SanctionEstimateWorkAllocationDetailsHistoryID,b.ESAssetCatID, a.SanctionEstimateNo,a.WorkAllocationSubID,a.CivilWorkMeasurementTypeID,a.MILCWID,a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,a.VersionID
from ( select * from SanctionEstimateWorkAllocationDetailsHistory a with (nolock) where a.CivilWorkMeasurementTypeID=3 and a.SanctionEstimateNo=@SENo  and isnull(a.VersionID,0.0)=@VersionID  and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner join @EStimateAssetcategory1 b on  b.SEWDID=a.SanctionEstimateWorkAllocationDetailsHistoryID and b.WorkAllocationsubID=a.WorkAllocationsubID
--and a.InitialQuantity<>0 and a.InitialRate<>0 and a.InitialAmount<>0 and a.SanctionedQuantity<>0 and a.SanctionedRate<>0 and a.SanctionedAmount<>0
order by b.ESAssetCatID  ,a.SanctionEstimateWorkAllocationDetailsHistoryID
   
  

Declare @ESMaterialLabour table(SEWDID int,ESAssetCatID int ,SENo int,CWMTypeID int,ItemID int,MUnitID int,LabourID int,LUnitID int,MQty money,MRQty money,LQty money,LRQty money,MRate money,MRRate money,LRate money,LRRate money,MAmt money,MRAmt money,LAmt money,LRAmt money ,WorkAllocationSubID int,SoilType varchar(max),VersionID  varchar(max),Sl int,SLQty money)
insert into @ESMaterialLabour
select a.SEWDID,a.ESAssetCatID,a.SENo,a.CWMTypeID,a.MILCWID,a.UnitiD,b.CivilWorkLabourTypeID,c.UnitID,a.MQty,a.MRQty,c.LQty,c.LRQty,a.MRate,a.MRRate,c.LRate,c.LRRate,a.MAmt,a.MRAmt,c.LAmt,c.LRAmt,a.WorkAllocationSubID,c.SoilType,a.VersionID
,(row_Number() over  (  Partition by a.MILCWID,a.ESAssetCatID Order by a.ESAssetCatID, a.MILCWID,b.CivilWorkLabourTypeID ) ) SL,b.Quantity
from ( select * from @ESMaterial a where a.CWMTypeID=4 ) a
inner Join ( select a.ItemID,a.CivilWorkLabourTypeID,a.Quantity from StockLabourAllocation a with (nolock) 
			inner Join CivilWorkLabourTypes b with (nolock) on b.CivilWorkLabourTypeID=a.CivilWorkLabourTypeID and  b.Worktypeid in (1,6)) b on b.ItemID=a.MILCWID 
inner join @ESLabour c on  c.MILCWID=b.CivilWorkLabourTypeID and c.CWMTypeID=2 and c.WorkAllocationSubID= a.WorkAllocationSubID
Order by a.ESAssetCatID,a.SEWDID



Declare  @ESMaterial1Labour1 table(SEWDID int,ESAssetCatID int ,SENo int,CWMTypeID int,ItemID int,MUnitID int,LabourID int,LUnitID int,MQty money,MRQty money,LQty money,LRQty money,MRate money,MRRate money,LRate money,LRRate money,MAmt money,MRAmt money,LAmt money,LRAmt money ,WorkAllocationSubID int,SoilType varchar(max),VersionID  varchar(max) ,Sl int,SLQty money)
insert into  @ESMaterial1Labour1
select a.SEWDID,a.ESAssetCatID,a.SENo,a.CWMTypeID,a.MILCWID,a.UnitiD,b.CivilWorkLabourTypeID,c.UnitID,a.MQty,a.MRQty,c.LQty,c.LRQty,a.MRate,a.MRRate,c.LRate,c.LRRate,a.MAmt,a.MRAmt,c.LAmt,c.LRAmt,a.WorkAllocationSubID,c.SoilType,a.VersionID
,(row_Number() over  ( Partition by a.MILCWID,a.ESAssetCatID Order by a.ESAssetCatID, a.MILCWID,b.CivilWorkLabourTypeID ) ) SL,b.Quantity
from (select * from @ESMaterial1 a where a.CWMTypeID=4 )a
inner Join ( select a.ItemID,a.CivilWorkLabourTypeID,a.Quantity from StockLabourAllocation a with (nolock) 
			inner Join CivilWorkLabourTypes b with (nolock) on b.CivilWorkLabourTypeID=a.CivilWorkLabourTypeID and b.Worktypeid in(1,6)) b on b.ItemID=a.MILCWID 
inner join @ESLabour1 c on  c.MILCWID=b.CivilWorkLabourTypeID and c.CWMTypeID=2 and c.WorkAllocationSubID=a.WorkAllocationSubID
Order by a.ESAssetCatID,a.SEWDID



Declare @ESMaterialLabourRepl table(SEWDID int,ESAssetCatID int ,SENo int,CWMTypeID int,ItemID int,MUnitID int,LabourID int,LUnitID int,MQty money,MRQty money,LQty money,LRQty money,MRate money,MRRate money,LRate money,LRRate money,MAmt money,MRAmt money,LAmt money,LRAmt money ,WorkAllocationSubID int,SoilType varchar(max),VersionID  varchar(max))
insert into @ESMaterialLabourRepl
select SEWDID,	ESAssetCatID,	SENo,	CWMTypeID,	ItemID,	MUnitID,	LabourID,	LUnitID	,MQty,	MRQty,	LQty,	LRQty,	
Case when Sl>1 then 0 else MRate  end MRate,	
Case when Sl>1 then 0 else MRRate end  MRRate,
((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LRate, 
((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LRRate, 
Case when Sl>1 then 0 else MAmt  end    MAmt,	
Case when Sl>1 then 0 else MRAmt  end   MRAmt,
MQty*((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LAmt, 
MRQty*((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LRAmt, 
WorkAllocationSubID	,SoilType,	VersionID	
from @ESMaterialLabour  a 


Declare @ESMaterial1Labour1Repl table(SEWDID int,ESAssetCatID int ,SENo int,CWMTypeID int,ItemID int,MUnitID int,LabourID int,LUnitID int,MQty money,MRQty money,LQty money,LRQty money,MRate money,MRRate money,LRate money,LRRate money,MAmt money,MRAmt money,LAmt money,LRAmt money ,WorkAllocationSubID int,SoilType varchar(max),VersionID  varchar(max))
insert into @ESMaterial1Labour1Repl
select SEWDID,	ESAssetCatID,	SENo,	CWMTypeID,	ItemID,	MUnitID,	LabourID,	LUnitID	,MQty,	MRQty,	LQty,	LRQty,	
Case when Sl>1 then 0 else MRate  end MRate,	
Case when Sl>1 then 0 else MRRate  end   MRRate,
((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LRate, 
((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LRRate, 
Case when Sl>1 then 0 else MAmt  end    MAmt,	
Case when Sl>1 then 0 else MRAmt  end   MRAmt,
MQty*((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LAmt, 
MRQty*((select value from fn_convertQty(ItemID,LunitID,MUnitID,LRRate)) * (case when LUnitID=26 and MUnitID=27 then SlQty else case when LUnitID=27 and MUnitID=27 then SlQty else 1 end end) ) LRAmt, 
WorkAllocationSubID	,SoilType,	VersionID	
from @ESMaterial1Labour1 


Declare @EMissingItems table(SEWDID int,ESAssetCatID int,SENo int,CWMTypeID int,Itemid int,MUnitID int,LabourID int,LUnitID int,MQty Money,MRQty Money,LQty money,LRQty money,MRate Money,MRRate Money,LRate Money,LRRate Money,MAmt Money,MRAmt money,LAmt money,LRAmt money,WorkallocationSubID  int,Soiltype varchar(max),VersionID varchar(max))
insert into @EMissingItems
Select a.SEWDID,ESAssetCatID,SENo,CWMTypeID,MILCWID,UnitID,0,0,MQty,MRQty,0,0,MRate,MRRate,0,0,MAmt,MRAmt,0,0,WorkallocationSubID,'',a.VersionID
from @ESMaterial a where a.MILCWID not in (select ItemID from  @ESMaterialLabourRepl b where b.WorkAllocationSubID=a.WorkAllocationSubID )
Union all
Select a.SEWDID ,ESAssetCatID,SENo,CWMTypeID,MILCWID+10000000,UnitID, MILCWID,UnitID, LQty MQty,LRQty MRQty ,LQty,LRQty,0,0, LRate,LRRate,0,0,LAmt,LRAmt,WorkallocationSubID ,a.SoilType,a.VersionID
from @ESLabour a where a.MILCWID not in (select LabourID from   @ESMaterialLabourRepl b where b.WorkAllocationSubID=a.WorkAllocationSubID )
Order By ESAssetCatID,SEWDID


Declare @EMissingItems1 table(SEWDID int,ESAssetCatID int,SENo int,CWMTypeID int,Itemid int,MUnitID int,LabourID int,LUnitID int,MQty Money,MRQty Money,LQty money,LRQty money,MRate Money,MRRate Money,LRate Money,LRRate Money,MAmt Money,MRAmt money,LAmt money,LRAmt money,WorkallocationSubID  int,Soiltype varchar(max),VersionID varchar(max))
insert into @EMissingItems1
Select a.SEWDID,ESAssetCatID,SENo,CWMTypeID,MILCWID,UnitID,0,0,MQty,MRQty,0,0,MRate,MRRate,0,0,MAmt,MRAmt,0,0,WorkallocationSubID,'',a.VersionID
from @ESMaterial1 a where a.MILCWID not in (select ItemID from   @ESMaterial1Labour1REpl b where b.WorkAllocationSubID=a.WorkAllocationSubID )
Union all
Select a.SEWDID ,ESAssetCatID,SENo,CWMTypeID,MILCWID +10000000,UnitID,        MILCWID,UnitID,LQty MQty,LRQty MRQty,LQty,LRQty,0,0,        LRate,LRRate,0,0,LAmt,LRAmt,WorkallocationSubID ,a.SoilType,a.VersionID
from @ESLabour1 a where a.MILCWID not in (select LabourID from   @ESMaterial1Labour1REpl b where b.WorkAllocationSubID=a.WorkAllocationSubID )
Order By ESAssetCatID,SEWDID



Declare @ESLabourSub table(SEWDID int,ESAssetCatID int,SENo int,CWMTypeID int,WorkAllocationSubID int,LabourID int,LabourItemID int,LabourSub varchar(max),LUnitID int,LQty Money,LRate Money,LAmt Money,LRQty Money,LRRate Money,LRAmt Money,VersionID  varchar(max),SoilType varchar(max))
Insert into @ESLabourSub
select b.SanctionEstimateWorkAllocationDetailsID, c.ESAssetCatID ,a.SanctionestimateNo,10,a.WorkAllocationSubID,a.MILCWID,a.ItemID,
((select Description from CivilWorkLabourTypes where CivilWorkLabourTypeID=a.MILCWID)+'-' +(Select Description from MaterialCode where ItemID= a.ItemID)) as Laboursub,
a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,b.VersionID
,(select Description from SoilTypes with (nolock) where b.SoilTypeID=SoilTypeID) SoilType
from ( select * from SanctionestimateWorkallocationDetailsSub a  with (nolock) where a.SanctionEstimateNo= @SENo and ISNULL(a.VersionID,0.0)=@VersionID and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner Join SanctionestimateWorkallocationDetails b with (nolock) on b.SanctionEstimateNo=a.SanctionEstimateNo and b.MILCWID=a.MILCWID and b.CivilWorkMeasurementTypeID=a.CivilWorkMeasurementTypeID and b.WorkAllocationSubID=a.WorkAllocationSubID  and isnull(b.VersionID,0.0)=@VersionID  and Isnull(b.Module,0)=@Module
Inner Join @Assetcategogy c on c.WorkAllocationSubID=b.WorkAllocationSubID
Order By c.ESAssetCatID,b.SanctionEstimateWorkAllocationDetailsID



Declare @ESLabour1Sub1 table(SEWDID int,ESAssetCatID int,SENo int,CWMTypeID int,WorkAllocationSubID int,LabourID int,LabourItemID int,LabourSub varchar(max),LUnitID int,LQty Money,LRate Money,LAmt Money,LRQty Money,LRRate Money,LRAmt Money,VersionID  varchar(max),SoilType varchar(max))
Insert into @ESLabour1Sub1
select b.SanctionEstimateWorkAllocationDetailsHistoryID, c.ESAssetCatID ,a.SanctionestimateNo,10,a.WorkAllocationSubID,a.MILCWID,a.ItemID,
((select Description from CivilWorkLabourTypes where CivilWorkLabourTypeID=a.MILCWID)+'-' +(Select Description from MaterialCode where ItemID= a.ItemID)) as Laboursub,
a.UnitID,a.InitialQuantity,a.InitialRate,a.InitialAmount,a.SanctionedQuantity,a.SanctionedRate,a.SanctionedAmount,b.VersionID,(select Description from SoilTypes where b.SoilTypeID=SoilTypeID)SoilType
from ( select * from SanctionestimateWorkallocationDetailsSubHistory  a  with (nolock) where a.SanctionEstimateNo= @SENo   and ISNULL(a.VersionID,0.0)=@VersionID and Isnull(a.Module,0)=@Module
and (isnull(a.InitialQuantity,0)<>0 or isnull(a.SanctionedQuantity,0)<>0) ) a
inner Join SanctionestimateWorkallocationDetailsHistory b with (nolock) on  b.SanctionEstimateNo=a.SanctionEstimateNo and b.MILCWID=a.MILCWID and b.CivilWorkMeasurementTypeID=a.CivilWorkMeasurementTypeID and b.WorkAllocationSubID=a.WorkAllocationSubID  and isnull(b.VersionID,0.0)=@VersionID and Isnull(b.Module,0)=@Module
Inner Join  @Assetcategogy1 c on c.WorkAllocationSubID=b.WorkAllocationSubID 
Order By   c.ESAssetCatID,b.SanctionEstimateWorkAllocationDetailsHistoryID
 
 
Declare @ESFinal table(SEWDID int,ESAssetCatID int,SENo int,CWMTypeID int,ItemID int,MUnitID int,LabourID int,LabourSub varchar(max),LUnitID int,MQty money,MRQty money,LQty money,LRQty money,MRate money,MRRate money,LRate money,LRRate money,MAmt money,MRAmt money,LAmt money,LRAmt money ,WorkAllocationSubID int,SoilType varchar(max),VersionID  varchar(max))
insert into @ESFinal
select SEWDID,ESAssetCatID,SENo,CWMTypeID ,Itemid ,MUnitID ,LabourID,'' LabourSub       ,LUnitID ,MQty,MRQty ,LQty,LRQty ,MRate,MRRate ,LRate ,LRRate,MAmt,MRAmt , LAmt, LRAmt ,WorkallocationSubID  ,SoilType,VersionID
from  @ESMaterialLabourRepl
Union All
select SEWDID,ESAssetCatID,SENo,CWMTypeID ,Itemid ,MUnitID ,LabourID,'' LabourSub        ,LUnitID ,MQty ,MRQty,LQty ,LRQty,MRate,MRRate ,LRate ,LRRate,MAmt ,MRAmt,LAmt ,LRAmt,WorkallocationSubID  ,SoilType,VersionID
from @EMissingItems
Union All
select SEWDID,ESAssetCatID,SENo,CWMTypeID ,civilworkID+10000000          ,CVUnitID        ,civilworkID ,'' LabourSub,CVUnitID ,CVQty ,CVRQty,      CVQty ,CVRQty,0 ,0,             CVRate ,CVRRate ,0,0,             CVAmt ,CVRAmt,WorkallocationSubID  ,'',VersionID
from @EScivilWokrs
Union All
select SEWDID,ESAssetCatID,SENo, CWMTypeID ,concat(LabourID,LabourItemID)+10000000 ,LUnitID  ,LabourID,LabourSub      ,LUnitID ,LQty  as MQty         ,LRQty  as MRQty ,       LQty , LRQty   ,0, 0,              LRate  ,LRRate , 0,0,                 LAmt,LRAmt ,WorkallocationSubID  ,SoilType,VersionID
from @ESLabourSub where LabourID not in (306)
Union All
select SEWDID,ESAssetCatID,SENo, CWMTypeID ,ItemID ,MUnitID ,DecLabrID LabourID ,isnull(LabourSub,'')LabourSub      ,DecUnitID LUnitID ,MQty ,MRQty,DecQty ,DecRQty,0 MRate,0 MRRate ,DecRate,DecRRate  ,0 MAmt ,0 MRAmt,  DecAmt,  DecRAmt,WorkallocationSubID  ,'',VersionID
from @ESDecommMaterial



Declare @ESFinal1 table(SEWDID int,ESAssetCatID int,SENo int,CWMTypeID int,ItemID int,MUnitID int,LabourID int,LabourSub varchar(max),LUnitID int,MQty money,MRQty money,LQty money,LRQty money,MRate money,MRRate money,LRate money,LRRate money,MAmt money,MRAmt money,LAmt money,LRAmt money ,WorkAllocationSubID int,SoilType varchar(max),VersionID  varchar(max))
insert into @ESFinal1
select SEWDID,ESAssetCatID,SENo,CWMTypeID ,Itemid ,MUnitID ,LabourID,'' LabourSub       ,LUnitID ,MQty,MRQty ,LQty,LRQty ,MRate,MRRate ,LRate ,LRRate,MAmt,MRAmt ,LAmt,LRAmt ,WorkallocationSubID  ,SoilType,VersionID
from  @ESMaterial1Labour1REpl
Union All
select SEWDID,ESAssetCatID,SENo,CWMTypeID ,Itemid ,MUnitID ,LabourID,'' LabourSub        ,LUnitID ,MQty ,MRQty,LQty ,LRQty,MRate,MRRate ,LRate ,LRRate,MAmt ,MRAmt,LAmt ,LRAmt,WorkallocationSubID  ,SoilType,VersionID
from @EMissingItems1
Union All
select SEWDID,ESAssetCatID,SENo,CWMTypeID ,civilworkID  +10000000        ,CVUnitID        ,civilworkID ,'' LabourSub,CVUnitID ,CVQty ,CVRQty,      CVQty ,CVRQty,0 ,0,             CVRate ,CVRRate ,0,0,             CVAmt ,CVRAmt,WorkallocationSubID  ,'',VersionID
from @EScivilWokrs1
Union All
select SEWDID,ESAssetCatID,SENo, CWMTypeID ,concat(LabourID,LabourItemID)+10000000           ,LUnitID  ,LabourID,LabourSub      ,LUnitID ,LQty  as MQty      ,LRQty as MRQty,       LQty , LRQty   ,0, 0,              LRate  ,LRRate , 0,0,                 LAmt,LRAmt ,WorkallocationSubID  ,SoilType,VersionID
from @ESLabour1Sub1 where LabourID not in (306)
Union All
select SEWDID,ESAssetCatID,SENo, CWMTypeID ,ItemID ,MUnitID ,DecLabrID ,isnull(LabourSub,'')LabourSub       ,DecUnitID ,MQty ,MRQty,DecQty ,DecRQty,0 MRate,0 MRRate ,DecRate,DecRRate  ,0 MAmt ,0 MRAmt,  DecAmt,  DecRAmt,WorkallocationSubID  ,'',VersionID
from @ESDecommMaterial1



select (row_Number() over  (  Partition by SL2,ESAssetCatID Order by  SL2,LabourID desc )  ) SL1,	SL2	,CWMTypeID,	AssetCat,	
(case when CWMTypeID =5 then ItemID+100000 else isnull(ItemID,LabourID) end) as ItemID 	,
LabourID	,Material	,MUnitID	,Labour,	LUnitID,	MQty,	MRQty	,MRevisedQty,	LQty	,LRQty,	LRevisedQty,	MRate,	MRRate,	MRevisedRate	,LRate	,LRRate,	LRevisedRate,	
MAmt,	MRAmt	,MRevisedAmount,	LAmt,	LRAmt,	LRevisedAmount	,MAsstAmt,	LAsstAmt,	TotalAmt,	VersionID,ESAssetCatID,
MAsstRRAmt,LAsstRRAmt,TotalRRAmt,RevisedMAsstAmt,RevisedLAsstAmt,RevisedTotAsstAmt,TotalML

from ( select  a.ESAssetCatID,dense_rank() over (partition by a.ESAssetCatID Order By a.ESAssetCatID,SEWDID,isnull(a.ItemID,labourID) )SL2, CWMTypeID,
( Select (MainAccountCode+SubAccountCode)+'->'+Description from WorkallocationSub with (nolock) where WorkAllocationSubID=a.WorkallocationSubID) AssetCat,
a.ItemID,LabourID,
case when left(MaterialCode,1)='-' then ltrim(rtrim(right (MaterialCode,len(MaterialCode )-1))) 
       when MaterialCode is null  then ''       when CWMTypeID=5 then '* '+MaterialCode        else MaterialCode end  Material,
Isnull((select UnitOfMeasure from UOMShortForm where UnitID=a.MUnitID ),'') MUnitID,

(case when CWMTypeID =4   then Isnull((Select Description collate database_default from CivilWorkLabourTypes where CivilWorkLabourTypeID=a.LabourID)+' - '+SoilType,'')  
          when CWMTypeID  =10 then LabourSub +' - ' +SoilType
          when CWMTypeID  =3 then (select Particulars from civilWorks  where CivilWorkID =a.LabourID ) 
          when CWMTypeID  =5 then LabourSub
else  Isnull((Select Description collate database_default from CivilWorkLabourTypes where CivilWorkLabourTypeID=a.LabourID),'')  end ) Labour,
Isnull((select UnitOfMeasure  from UOMShortForm where UnitID=a.LUnitID ),'') LUnitID,

a.MQty ,a.MRQty,(convert(varchar(max), a.MQty) +' / ' +(convert(varchar(max), a.MRQty) ) ) MRevisedQty,
 Case when CWMTypeID=4 and LabourID<>0 then a.MQty else  a.LQty  end  LQty ,
  Case when CWMTypeID=4 and LabourID<>0 then a.MRQty else  a.LRQty  end    LRQty,
(convert(varchar(max), Case when CWMTypeID=4 and LabourID<>0 then a.MQty else  a.LQty  end) +' / ' +(convert(varchar(max),  Case when CWMTypeID=4 and LabourID<>0 then a.MRQty else  a.LRQty  end ) ) ) LRevisedQty,

a.MRate ,(case when a.MRRate=0 then MRate  else a.MRRate end )MRRate,--a.MRRate,
 (convert(varchar(max), a.MRate) +' / ' +(convert(varchar(max), a.MRRate) ) ) MRevisedRate,
a.LRate ,(case when a.LRRate=0 then LRate  else a.LRRate end )LRRate,--a.LRRate,
(convert(varchar(max), a.LRate) +' / ' +(convert(varchar(max), a.LRRate) ) ) LRevisedRate,
a.MAmt ,a.MRAmt  
,(convert(varchar(max), a.MAmt) +' / ' +(convert(varchar(max), a.MRAmt) ) ) MRevisedAmount,
LAmt,LRAmt,
(convert(varchar(max), LAmt) +' / ' +(convert(varchar(max),LRAmt) ) ) LRevisedAmount,
b.MAsstAmt,c.LAsstAmt,
(b.MAsstAmt+c.LAsstAmt) TotalAmt
,a.VersionID,
b.MAsstRRAmt,c.LAsstRRAmt,(b.MAsstRRAmt+c.LAsstRRAmt ) TotalRRAmt,
(convert(varchar(max), b.MAsstAmt) +' / ' +(convert(varchar(max), b.MAsstRRAmt) ) ) as RevisedMAsstAmt,
(convert(varchar(max), c.LAsstAmt) +' / ' +(convert(varchar(max), c.LAsstRRAmt) ) )as RevisedLAsstAmt,
(convert(varchar(max), (b.MAsstAmt+c.LAsstAmt) ) +' / ' +(convert(varchar(max), (b.MAsstRRAmt+c.LAsstRRAmt )) )) as RevisedTotAsstAmt,
(convert(varchar(max), (a.MAmt+a.LAmt)  ) +' / ' +(convert(varchar(max), (MRAmt+LRAmt)) )) TotalML

from @ESFinal  a 
LEFT oUTER join ( select ItemID,ltrim(rtrim((MAterialcode+'-' +Description))) MAterialCode from MaterialCode with (nolock) ) m on m.ItemID=a.itemID
inner Join ( select ESAssetCatID,SENo,Sum(MAmt)MAsstAmt,Sum(LAmt) LAsstAmt,Sum(MRAmt)MAsstRRAmt,Sum(LRAmt) LAsstRRAmt 
			from  @ESFinal group by  SENo,ESAssetCatID ) b On b.SENo=a.SENo and b.ESAssetCatID=a.ESAssetCatID
inner Join ( select ESAssetCatID,SENo,Sum(LAmt) LAsstAmt,Sum(LRAmt) LAsstRRAmt 
			from  @ESFinal group by  SENo,ESAssetCatID ) c On c.SENo=a.SENo and c.ESAssetCatID=a.ESAssetCatID
) as FR
Union all

select (row_Number() over  (  Partition by SL2,ESAssetCatID Order by SL2 ,LabourID desc ) ) SL1,SL2	,CWMTypeID,	AssetCat,	
(case when CWMTypeID =5 then ItemID+100000 else isnull(ItemID,LabourID) end) as ItemID 	,
LabourID	,Material	,MUnitID	,Labour,	LUnitID,	MQty,	MRQty	,MRevisedQty,	LQty	,LRQty,	LRevisedQty,	MRate,	MRRate,	MRevisedRate	,LRate	,LRRate,	LRevisedRate,	MAmt,	MRAmt	,MRevisedAmount,	LAmt,	LRAmt,	LRevisedAmount	,MAsstAmt,	LAsstAmt,	TotalAmt,	VersionID
,ESAssetCatID,MAsstRRAmt,LAsstRRAmt,TotalRRAmt,RevisedMAsstAmt,RevisedLAsstAmt,RevisedTotAsstAmt,TotalML

from ( select  a.ESAssetCatID,
dense_rank() over (partition by a.ESAssetCatID,isnull(a.ItemID,labourID) Order By a.ESAssetCatID,isnull(a.ItemID,labourID) )SL1,
dense_rank() over (partition by a.ESAssetCatID Order By a.ESAssetCatID,SEWDID,isnull(a.ItemID,labourID) )SL2, CWMTypeID,
(Select (MainAccountCode+SubAccountCode)+'->'+Description from WorkallocationSub with (nolock) where WorkAllocationSubID=a.WorkallocationSubID) AssetCat,
a.ItemID,LabourID,
case when left(MaterialCode,1)='-' then ltrim(rtrim(right (MaterialCode,len(MaterialCode )-1))) 
        when MaterialCode is null then ''         when CWMTypeID=5 then '* '+MaterialCode          else MaterialCode end Material,
Isnull((select UnitOfMeasure from UOMShortForm where UnitID=a.MUnitID ),'') MUnitID,

(case when CWMTypeID =4   then Isnull((Select Description collate database_default from CivilWorkLabourTypes where CivilWorkLabourTypeID=a.LabourID)+' - '+SoilType,'')  
          when CWMTypeID  =10 then LabourSub  +' - ' +SoilType
          when CWMTypeID  =3 then (select Particulars from civilWorks where CivilWorkID =a.LabourID )
          when CWMTypeID  =5 then LabourSub
else  Isnull((Select Description collate database_default from CivilWorkLabourTypes where CivilWorkLabourTypeID=a.LabourID),'')  end ) Labour,
Isnull((select UnitOfMeasure from UOMShortForm where UnitID=a.LUnitID ),'') LUnitID,

a.MQty ,a.MRQty,(convert(varchar(max), a.MQty) +' / ' +(convert(varchar(max), a.MRQty) ) ) MRevisedQty,
 Case when CWMTypeID=4  and LabourID<>0 then a.MQty else  a.LQty  end  LQty ,
  Case when CWMTypeID=4 and LabourID<>0 then a.MRQty else  a.LRQty  end    LRQty,
(convert(varchar(max), Case when CWMTypeID=4 and LabourID<>0 then a.MQty else  a.LQty  end) +' / ' +(convert(varchar(max),  Case when CWMTypeID=4 and LabourID<>0 then a.MRQty else  a.LRQty  end ) ) ) LRevisedQty,

a.MRate ,(case when a.MRRate=0 then MRate  else a.MRRate end )MRRate,--a.MRRate,
 (convert(varchar(max), a.MRate) +' / ' +(convert(varchar(max), a.MRRate) ) ) MRevisedRate,
a.LRate ,(case when a.LRRate=0 then LRate  else a.LRRate end )LRRate,--a.LRRate,
(convert(varchar(max), a.LRate) +' / ' +(convert(varchar(max), a.LRRate) ) ) LRevisedRate,
a.MAmt ,a.MRAmt
,(convert(varchar(max), a.MAmt) +' / ' +(convert(varchar(max), a.MRAmt) ) ) MRevisedAmount,
 a.LAmt, a.LRAmt,
(convert(varchar(max), a.LAmt) +' / ' +(convert(varchar(max),a.LRAmt) ) ) LRevisedAmount,
b.MAsstAmt,c.LAsstAmt,(b.MAsstAmt+c.LAsstAmt) TotalAmt,a.VersionID,
b.MAsstRRAmt,c.LAsstRRAmt,(b.MAsstRRAmt+c.LAsstRRAmt ) TotalRRAmt,
(convert(varchar(max), b.MAsstAmt) +' / ' +(convert(varchar(max), b.MAsstRRAmt) ) ) as RevisedMAsstAmt,
(convert(varchar(max), c.LAsstAmt) +' / ' +(convert(varchar(max), c.LAsstRRAmt) ) )as RevisedLAsstAmt,
(convert(varchar(max), (b.MAsstAmt+c.LAsstAmt) ) +' / ' +(convert(varchar(max), (b.MAsstRRAmt+c.LAsstRRAmt )) )) as RevisedTotAsstAmt,
(convert(varchar(max), (a.MAmt+a.LAmt)  ) +' / ' +(convert(varchar(max), (MRAmt+LRAmt)) )) TotalML

from @ESFinal1 a
left Outer join ( select ItemID,ltrim(rtrim((MAterialcode+'-' +Description))) MAterialCode from MaterialCode with (nolock) )m on m.ItemID=a.itemID
inner Join ( select ESAssetCatID,SENo,Sum(MAmt)MAsstAmt,Sum(LAmt) LAsstAmt,Sum(MRAmt)MAsstRRAmt,Sum(LRAmt) LAsstRRAmt 
			from  @ESFinal1 group by  SENo,ESAssetCatID ) b On b.SENo=a.SENo and b.ESAssetCatID=a.ESAssetCatID
inner Join ( select ESAssetCatID,SENo,Sum(LAmt) LAsstAmt,Sum(LRAmt) LAsstRRAmt 
			from  @ESFinal1 group by  SENo,ESAssetCatID ) c On c.SENo=a.SENo and c.ESAssetCatID=a.ESAssetCatID
) as FR
Order By FR.ESAssetCatID  , SL2 ,LabourID









GO
