USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_DTCHistorys_DTC]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DTCHistorys_DTC]  @serialno varchar(200) as
SET NOCOUNT ON

SELECT 
    A,
    ROW_NUMBER() OVER(ORDER BY TransactionDate, AutoGenID) B,
    C,D,E,F,G,H,
    LAST_VALUE(G) OVER (
        ORDER BY TransactionDate, AutoGenID
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) AS I,J,K,L,M
FROM (
select  AutoGenID,TransactionDate,
 m.SerialNo collate SQL_Latin1_General_CP1_CI_AS +' - '+' ( '+isnull(p4.ExistingDTCSerialNo,0) collate SQL_Latin1_General_CP1_CI_AS +' ) '+  cp.capacity collate SQL_Latin1_General_CP1_CI_AS  +'KVA'   A  ,

'DTC name & code :'+dd.DistributionNodeName collate SQL_Latin1_General_CP1_CI_AS ++'('+dd.DistributionNodecode ++')' c ,

('Section :'+(select   FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd where cd.DistributionNodeID=dd.DistributionNodeID))

+ CHAR(10) + '\n Division :' + ISNULL( (select sdf.FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation sdf
where sdf.OfficeLocationAllocationID = d.olid ),'')

+'\n Station :'+
(select DistributionNodeName From DistributionNodes where DistributionNodeID in (
select  jk.UnderDistributionNodeID from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID))
+'\n Feeder :'+
(select  DistributionNodeName from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID
)) D,

('Receipt Voucher ,'+isnull(cast(v.ReceiptVoucherNo as varchar(200)),'')+' ,'+isnull(cast(  FORMAT (ReceiptVoucherDate, 'dd-MM-yyyy')   as varchar(200)),'')+' ,
'+isnull((select top 1  cc.Description From ContactCategories cc  where cc.ContactCategoryID=v.ContactCategoryID),'')+','+
isnull((select Description From DocumentTypes kjl where kjl.DocumentTypeID=v.DocumentTypeID),'')+','+
isnull(cast(v.DocumentNo as varchar(200)),'')+' ' +
' , '+isnull(cast(FORMAT (w.WorkOrderDate , 'dd-MM-yyyy') as  varchar(200)),'')+','+
isnull((select cvb.Description From StockConditions cvb where cvb.StockConditionID=m.StockConditionID),'')+' ,'+
isnull((select sdf.FileAs From OfficeLocationAllocation sdf  where sdf.OfficeLocationAllocationID=d.olid),'')) E,
'Capacity :'+cp.capacity +'KVA' F,'Make:'+ m1.UserDefinedFieldValue G,'DT Code :'+dd.DistributionNodecode  H,

'Section :'+(select   FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd where cd.DistributionNodeID=dd.DistributionNodeID)) J,

'Division :' + ISNULL( (select sdf.FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation sdf
where sdf.OfficeLocationAllocationID = d.olid ),'') K,

'Station :'+
(select DistributionNodeName From DistributionNodes where DistributionNodeID in (
select  jk.UnderDistributionNodeID from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID)) L,

'Feeder :'+
(select  DistributionNodeName from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID
) M 

From ReceiptVoucherAbstract_pni v
inner join ReceiptVoucherDetails_pni d on v.ReceiptVoucherNo=d.ReceiptVoucherNo
inner join CapacityStarRatingAllocation vb on vb.itemid   =d.ItemID  
inner join Capacity cp on cp.CapacityID = vb.CapacityID  
inner join ReceiptVoucherMaterialDetails_pni  m on  m.ReceiptVoucherDetailsID=d.ReceiptVoucherDetailsID
inner join ReceiptVoucherMaterialDetailsSub_pni m1 on m1.ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and m1.DistributionNodeUserDefinedFieldID=20
inner join StockLedgerDetails_pni obl on obl.InvoiceOrVoucherNo=v.ReceiptVoucherNo and d.ItemID=obl.ItemID    and StockTransactionTypeID=2
left  join WorkOrder w   on  w.WorkOrderNo=v.DocumentNo and  v.DocumentTypeID in (2,22)             
inner join DistributionNodes dd on dd.DistributionNodeID=w.DistributionNodeID
outer apply(select  p1.UserDefinedFieldValue  make  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=20)p1
outer apply(select p1.UserDefinedFieldValue  Capacity from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=31)p2
outer apply(select  p1.UserDefinedFieldValue  Model  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=1)p3
outer apply(select  p1.UserDefinedFieldValue  ExistingDTCSerialNo  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=115)p4
outer apply(select  p1.UserDefinedFieldValue  ExistingMeterSerialNo  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=116)p5
where  dd.DistributionNodeCode=@serialno

union

select  AutoGenID,TransactionDate,
 m.SerialNo collate SQL_Latin1_General_CP1_CI_AS +' - '+' ( '+isnull(p4.ExistingDTCSerialNo,0) collate SQL_Latin1_General_CP1_CI_AS +' ) '+cp.capacity collate SQL_Latin1_General_CP1_CI_AS +'KVA' A,
'DTC name & code : '+dd.DistributionNodeName  collate SQL_Latin1_General_CP1_CI_AS++'('+dd.DistributionNodecode  ++')' c,
('Section:'+(select   FileAs collate SQL_Latin1_General_CP1_CI_AS  From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd where cd.DistributionNodeID=dd.DistributionNodeID))

+ CHAR(10) + '\n Division :' + ISNULL(( select sdf.FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation sdf where sdf.OfficeLocationAllocationID = d.olid),
'')

+'\n Station :'+
(select DistributionNodeName From DistributionNodes where DistributionNodeID in (
select  jk.UnderDistributionNodeID from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID))
+'\n Feeder :'+
(select  DistributionNodeName from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID
)) D,
('Store Invoice ,'+isnull(cast(v.StoreInvoiceNo as varchar(200)),'')+' ,'+isnull(cast(  FORMAT (StoreInvoiceDate, 'dd-MM-yyyy')   as varchar(200)),'')+' ,
'+isnull((select top 1  cc.Description From ContactCategories cc  where cc.ContactCategoryID=v.ContactCategoryID),'')+','+
isnull((select Description From DocumentTypes kjl where kjl.DocumentTypeID=v.DocumentTypeID),'')+','+
isnull(cast(v.DocumentNo as varchar(200)),'')+' ' +
' , '+isnull(cast(FORMAT (w.WorkOrderDate , 'dd-MM-yyyy') as  varchar(200)),'')+','+
isnull((select cvb.Description From StockConditions cvb where cvb.StockConditionID=m.StockConditionID),'')+' ,'+
isnull((select sdf.FileAs From OfficeLocationAllocation sdf  where sdf.OfficeLocationAllocationID=d.olid),'')) E,
'Capacity :'+cp.capacity +'KVA' F ,'Make:'+ m1.UserDefinedFieldValue G,'DT Code :'+dd.DistributionNodecode  H,

'Section:'+(select   FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd where cd.DistributionNodeID=dd.DistributionNodeID)) J ,

'Division :' + ISNULL(( select sdf.FileAs collate SQL_Latin1_General_CP1_CI_AS From OfficeLocationAllocation sdf where sdf.OfficeLocationAllocationID = d.olid),'') K,

'Station :'+
(select DistributionNodeName From DistributionNodes where DistributionNodeID in (
select  jk.UnderDistributionNodeID from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID)) L,

'Feeder :'+
(select  DistributionNodeName from DistributionNodes  jk where jk.DistributionNodeID=dd.UnderDistributionNodeID
) M

 From StoreInvoice_pni  v
inner join StoreInvoiceDetails_pni  d on v.StoreInvoiceNo=d.StoreInvoiceNo
inner join CapacityStarRatingAllocation vb on vb.itemid=d.ItemID

inner join Capacity cp on cp.CapacityID=vb.CapacityID
inner join StoreInvoiceMaterialDetails_pni  m on  m.StoreInvoiceDetailsID=d.StoreInvoiceDetailsID
inner join StoreInvoiceMaterialDetailsSub_pni m1 on m.StoreInvoiceMaterialDetailsID=m1.StoreInvoiceMaterialDetailsID and m1.DistributionNodeUserDefinedFieldID=20

left  join WorkOrder w   on  w.WorkOrderNo=v.DocumentNo and  v.DocumentTypeID in (2,22)
inner  join DistributionNodes dd on dd.DistributionNodeID=w.DistributionNodeID
left  join StockLedgerDetails_pni obl on obl.InvoiceOrVoucherNo=v.StoreInvoiceNo and d.ItemID=obl.ItemID    and StockTransactionTypeID=1
outer apply(select  p1.UserDefinedFieldValue  make  from StoreInvoiceMaterialDetailsSub_pni  p1 where p1.StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=20)p1
outer apply(select p1.UserDefinedFieldValue  Capacity from StoreInvoiceMaterialDetailsSub_pni  p1 where p1.StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=31)p2
outer apply(select  p1.UserDefinedFieldValue  Model  from StoreInvoiceMaterialDetailsSub_pni  p1 where StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=1)p3
outer apply(select  p1.UserDefinedFieldValue  ExistingDTCSerialNo  from StoreInvoiceMaterialDetailsSub_pni  p1 where StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=115)p4
outer apply(select  p1.UserDefinedFieldValue  ExistingMeterSerialNo  from StoreInvoiceMaterialDetailsSub_pni  p1 where StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=116)p5
where dd.DistributionNodeCode=@serialno)kl
order by TransactionDate,AutoGenID

GO
