USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Zone_User_Activation]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Zone_User_Activation]
AS
BEGIN

DECLARE @CurrentTime TIME
SET @CurrentTime = CONVERT(TIME, GETDATE())

-----------------------------------------
-- 9 AM : Disable Shivamogga Zone
-----------------------------------------
IF @CurrentTime >= '09:00:00' AND @CurrentTime < '14:00:00'
BEGIN

UPDATE B 
SET Active = 0
from Employee A
inner join Users B on B.ContactID = A.ContactID 
Inner Join ODLDAllocation C on C.ODLDID = A.ODLDID
Inner Join OfficeLocationAccountingUnitDetails D 
        on D.OfficeID = C.OfficeID and D.LocationID = C.LocationID
Inner Join OfficeLocationAccountingUnitDetails D1 on D1.OLID = D.AcOLID
left Join OfficeLocationAccountingUnitDetails D2 on D2.OLID = D.CircleOLID
left Join OfficeLocationAccountingUnitDetails D3 on D3.OLID = D2.ZonalOLID
WHERE D3.ZonalOLID = 2864

END


-----------------------------------------
-- 2 PM : Disable Mangalore
-----------------------------------------
IF @CurrentTime >= '14:00:00' AND @CurrentTime < '19:00:00'
BEGIN

UPDATE B 
SET Active = 0
from Employee A
inner join Users B on B.ContactID = A.ContactID 
Inner Join ODLDAllocation C on C.ODLDID = A.ODLDID
Inner Join OfficeLocationAccountingUnitDetails D 
        on D.OfficeID = C.OfficeID and D.LocationID = C.LocationID
Inner Join OfficeLocationAccountingUnitDetails D1 on D1.OLID = D.AcOLID
left Join OfficeLocationAccountingUnitDetails D2 on D2.OLID = D.CircleOLID
left Join OfficeLocationAccountingUnitDetails D3 on D3.OLID = D2.ZonalOLID
WHERE D3.ZonalOLID = 338

END


-----------------------------------------
-- 2 PM : Enable Shivamogga
-----------------------------------------
IF @CurrentTime >= '14:00:00'
BEGIN

UPDATE B 
SET Active = 1
from Employee A
inner join Users B on B.ContactID = A.ContactID 
Inner Join ODLDAllocation C on C.ODLDID = A.ODLDID
Inner Join OfficeLocationAccountingUnitDetails D 
        on D.OfficeID = C.OfficeID and D.LocationID = C.LocationID
Inner Join OfficeLocationAccountingUnitDetails D1 on D1.OLID = D.AcOLID
left Join OfficeLocationAccountingUnitDetails D2 on D2.OLID = D.CircleOLID
left Join OfficeLocationAccountingUnitDetails D3 on D3.OLID = D2.ZonalOLID
WHERE D3.ZonalOLID = 2864

END

-----------------------------------------
-- 7 PM : Enable Mangalore
-----------------------------------------
IF @CurrentTime >= '19:00:00' 
BEGIN

UPDATE B 
SET Active = 1
from Employee A
inner join Users B on B.ContactID = A.ContactID 
Inner Join ODLDAllocation C on C.ODLDID = A.ODLDID
Inner Join OfficeLocationAccountingUnitDetails D 
        on D.OfficeID = C.OfficeID and D.LocationID = C.LocationID
Inner Join OfficeLocationAccountingUnitDetails D1 on D1.OLID = D.AcOLID
left Join OfficeLocationAccountingUnitDetails D2 on D2.OLID = D.CircleOLID
left Join OfficeLocationAccountingUnitDetails D3 on D3.OLID = D2.ZonalOLID
WHERE D3.ZonalOLID = 338

END

END

GO
