USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_OLWisePaySlip]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OLWisePaySlip]
	@Config varchar(200), 
	@OLID VARCHAR(10) ,
	@YearID VARCHAR(4) ,
	@MonthID VARCHAR(2)


AS 
SET NOCOUNT ON



DECLARE @FromDate varchar(12) select @FromDate=convert(datetime,(@YearID+'-'+@MonthID+'-01'))
DECLARE @ToDate varchar(12) select @ToDate=(DateAdd(Month,1,convert(datetime,(@YearID+'-'+@MonthID+'-01')))-1)



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering from FnADLR()
' insert into @Desc exec (@DescSql) 

Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50))
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),Ordering varchar(6))
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,Ordering from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @UF table (OLID int,ContactID int,YearID int,MonthID int,Amount money)
GO
