USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_BRNo]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BRNo]
	@Config varchar(200), 
	@OLID Int ,
	@YearID Int ,
	@MonthID Int


AS 
SET NOCOUNT ON







Declare @OID table (OLID int,OID int,LID int)
Declare @OIDSql varchar(Max) Set @OIDSql='
select distinct OfficeLocationAllocationID,OfficeID,LocationID from OfficeLocationAllocation 
' insert into @OID exec (@OIDSql)

Declare @OLID1 table (OLID int)
Declare @OLID1Sql varchar(Max) Set @OLID1Sql='
select distinct OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OLID1 exec (@OLID1Sql)

Declare @ODLDID table (ODLDID int ,OfficeID int,LocationID int)
Declare @ODLDIDSql varchar(Max) Set @ODLDIDSql='
select distinct ODLDID,OfficeID,LocationID from ODLDAllocation
' insert into @ODLDID exec (@ODLDIDSql)


Declare @OL table (OLID int)
if (select distinct OID from @OID where OLID=@OLID)=50  
insert into @OL select OLID from @OLID1 else 
insert into @OL select OLID from @OLID1 where OLID in (@OLID)


select Distinct @OLID as OLID,Year(sr.BillRegisterDate) as YearID,Month(sr.BillRegisterDate) as MonthID
,(case when isnull(sr.Suppliment,0)=1 and isnull(sr.BillRegisterNo,0)=0 then 2 else
case when isnull(sr.BillRegisterNo,0)=0 and sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) then isnull(sr.BillRegisterNo,0) else 
case when isnull(sr.BillRegisterNo,0)=0 then 1 else isnull(sr.BillRegisterNo,0) end end end) as BRNo
from FnSRNew() sr
inner join FnMaxSRBODLDID() srb on srb.ScaleRegisterId=sr.ScaleRegisterID
left outer join @ODLDID odld on odld.ODLDID=srb.ODLDID
left outer join @OID ola on ola.OID=odld.OfficeID and ola.LID=odld.LocationID
where isnull(ola.OLID,0) in (select OLID from @OL) and Year(sr.BillRegisterDate) in (@YearID) and Month(sr.BillRegisterDate) in (@MonthID)
order by OLID,YearID,MonthID,BRNo
GO
