USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure2a]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_Annexure2a] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON



--Declare @LoginOLID Int select @LoginOLID = 355
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2025-12-31'
--Declare @AcOLID varchar(100) select @AcOLID = '355'


Declare @AcOL Table (OLID Int) Insert Into @AcOL
select distinct OLID from OfficeLocationAccountingUnitDetails with(nolock) where AcOLID in (select * from Split(@AcOLID,',')) 


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where (FromAcHead like '55.100%' or ToAcHead like '55.100%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 



Declare @Series10 Table (SlNo Int,Series10 Varchar(20))
Insert into @Series10
select (Row_Number() over (Order By Series10))+100 SlNo,Series10 from (
select '10.101' Series10 union all select '10.211' union all select '10.222' union all select '10.223' union all select '10.303' union all select '10.304' union all select '10.305' 
union all select '10.516' union all select '10.530' union all select '10.531' union all select '10.532' union all select '10.533' union all select '10.535' 
union all select '10.541' union all select '10.542' union all select '10.543' union all select '10.551' union all select '10.552' union all select '10.553' 
union all select '10.555' union all select '10.561' union all select '10.563' union all select '10.565' union all select '10.567' union all select '10.571' 
union all select '10.572' union all select '10.573' union all select '10.574' union all select '10.575' union all select '10.576' union all select '10.577' 
union all select '10.578' union all select '10.580' union all select '10.581' union all select '10.582' union all select '10.583' union all select '10.584' 
union all select '10.585' union all select '10.586' union all select '10.599' union all select '10.601' union all select '10.602' union all select '10.603' 
union all select '10.611' union all select '10.612' union all select '10.621' union all select '10.631' union all select '10.632' union all select '10.641' 
union all select '10.685' union all select '10.710' union all select '10.720' union all select '10.730' union all select '10.740' union all select '10.800' 
union all select '10.903' union all select '10.904' union all select '10.905' 
union all select '10.102' union all select '10.207' union all select '10.208' union all select '10.302' union all select '10.401' union all select '10.402' 
union all select '10.569' union all select '10.579' union all select '10.598' union all select '10.901' union all select '10.902' union all select '10.906' 
union all select '10.907' union all select '10.908' union all select '10.909' 
) A Order By Series10


Declare @Annex1 Table (SLNo Int,OLID Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money,VoltageClassCode Varchar(20),JournalVoucherNo Int,WorkOrderNo Int) 
Insert Into @Annex1 
select a.*,isnull(b.DocumentNo,b1.DoucmentNo) DocumentNo from (
select SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo from ( 
		  select 1 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode,JournalVoucherNo from @JV where (FromAcHead like '10.%' and ToAcHead like '55.100%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo 
union all select 1 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode,JournalVoucherNo from @JV where (FromAcHead like '55.100%' and ToAcHead like '10.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo 
) A where len(ToAcHead)>0  --and JournalVoucherNo=1750236
Group By SLNo,OLID,FromAcHead,ToAcHead,VoltageClassCode,JournalVoucherNo
) A left Join CostRegister B on b.JournalVoucherNo=a.JournalVoucherNo 
left Join JournalVoucher B1 on b1.JournalVoucherNo= a.JournalVoucherNo  


----IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TableType' AND ss.name = N'dbo')  begin
----    drop type dbo.TableType2a  end
----    create type dbo.TableType2a as table (SLNo Int,OLID Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money,VoltageClassCode Varchar(20),JournalVoucherNo Int,WorkOrderNo Int) 


Declare @Annex1a as dbo.TableType2a 
Insert Into @Annex1a 
select * from @Annex1 union all 
select b.SLNo,OLID,FromAcHead,ToAcHead,Amount,VoltageClassCode,JournalVoucherNo,WorkOrderNo 
from @Annex1 a inner join @Series10 B on b.Series10=a.FromAcHead
Order By JournalVoucherNo,FromAcHead,SLNo


declare @columns nvarchar(max) declare @columns1 nvarchar(max) declare @sql nvarchar(max)
;WITH hier (row) AS (SELECT 1 UNION ALL SELECT  row + 1 FROM hier WHERE row < 1 )
select @columns = coalesce(@columns + ',','') + quotename(SLNo) , @columns1 = coalesce(@columns1 + ',','') + 'ISNULL('+quotename(SLNo)+',0) AS '+QUOTENAME(SLNo)  
from (SELECT Row SLNo FROM  hier union select distinct SLNo from @Annex1a union select distinct SLNo from @Series10) as x


set @sql = 'with cte as (select SlNo,Amount,OLID,WorkOrderNo,concat(ToAcHead,VoltageClassCode) AcHead from @Annex1a) 
select OLID,WorkOrderNo,AcHead, ' + @columns1 + ' from cte pivot 
(sum(Amount) FOR SLNo in ( ' + @columns + ')) as PivotTable'
exec sp_executesql @sql,N'@Annex1a dbo.TableType2a READONLY', @Annex1a;








GO
