USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure7E]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_Annexure7E] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON



--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @FromYear Int select @FromYear = 2023
--Declare @ToYear Int select @ToYear = 2024
--Declare @FromFyYear DateTime select @FromFyYear = '2023-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2023-12-31'
--Declare @AcOLID varchar(100) select @AcOLID = '2921'



Declare @OB Table (OLID Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money) 
Insert Into @OB 
select OLID,Left((isnull(MainAccountCode,'')+isnull(SubAccountCode,'')),6) as FromAcHead,'OB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount
from TrialBalanceDetails With (NoLock) where (isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) like '%32.310%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(@FromFyYear) and TrialBalanceYear=Year(@FromFyYear) )
Group By OLID,Left((isnull(MainAccountCode,'')+isnull(SubAccountCode,'')),6)


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int,JournalVoucherDate DateTime)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo,JournalVoucherDate
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where FromAcHead not in ('-') and ToAcHead not in ('-') 
and ( FromAcHead  like '%32.310%' or ToAcHead  like '%32.310%' )
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 


Declare @JV1 Table (SlNo Int,JournalVoucherNo Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money)
Insert into @JV1
select SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Amount from (
		  select 2 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '32.110%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 2 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '32.110%' and ToAcHead like '32.310%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 3 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '32.410%') group by JournalVoucherNo,ToAcHead,FromAcHead
union all select 4 SlNo,0 JournalVoucherNo,'' FromAcHead,'' ToAcHead,0 Amount 
union all select 5 SlNo,0 JournalVoucherNo,'' FromAcHead,'' ToAcHead,0 Amount
union all select 6 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 7 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '14.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 9 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '32.210%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 9 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.210%' and ToAcHead like '32.310%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 10 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.510%' and ToAcHead like '32.310%') group by JournalVoucherNo,ToAcHead,FromAcHead
union all select 11 SlNo,0 JournalVoucherNo,'' ToAcHead,'' FromAcHead,0 Amount 
union all select 12 SlNo,0 JournalVoucherNo,'' ToAcHead,'' FromAcHead,0 Amount 
union all select 13 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (ToAcHead like '32.310%' and FromAcHead like '14.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (ToAcHead like '32.310%' and FromAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 15 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (ToAcHead like '32.310%' and FromAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
) A  

------ skip value find
--select * from @JV where ( (FromAcHead like '32.310%' and ToAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) 
--or (ToAcHead like '32.310%' and FromAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) ) 


select a.*,(OB+(TotalofSlNo2to8-TotalofSlNo9to15)) CB from (
select a.* ,isnull(ob.Amount,0) OB,(Amount32110+Amount32410_14+Amount32410_10+Amount32410_12+FAmount12+TAmount10+TAmount14) TotalofSlNo2to8 
,(Amount32210+Amount32510_14+Amount32510_10+Amount32510_12+FAmount14+FAmount10+TAmount12) TotalofSlNo9to15 from (
select left(FromAcHead,6) FromAcHead,Sum(case when SlNo=2 then Amount else 0 end) Amount32110,Sum(case when SlNo=3 then Amount else 0 end) Amount32410_14
,Sum(case when SlNo=4 then Amount else 0 end) Amount32410_10,Sum(case when SlNo=5 then Amount else 0 end) Amount32410_12,Sum(case when SlNo=6 then Amount else 0 end) FAmount12
,Sum(case when SlNo=7 then Amount else 0 end) TAmount10,Sum(case when SlNo=8 then Amount else 0 end) TAmount14,Sum(case when SlNo=9 then Amount else 0 end) Amount32210
,Sum(case when SlNo=10 then Amount else 0 end) Amount32510_14,Sum(case when SlNo=11 then Amount else 0 end) Amount32510_10,Sum(case when SlNo=12 then Amount else 0 end) Amount32510_12
,Sum(case when SlNo=13 then Amount else 0 end) FAmount14,Sum(case when SlNo=14 then Amount else 0 end) FAmount10,Sum(case when SlNo=15 then Amount else 0 end) TAmount12
from @JV1 A where FromAcHead like '32.310%' Group By left(FromAcHead,6)
) A left join @OB OB on ob.FromAcHead=a.FromAcHead 
) A 
Order by a.FromAcHead








GO
