USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_DN_Hierarchy]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_DN_Hierarchy] @DNID1 Int 
AS SET NOCOUNT ON

--Declare @DNID1 Int = 279


Declare @Data Table (SLNo Int,DNID Int,UDNID Int,DesignationName Varchar(200))
Declare @DPID Int 
DECLARE Cur CURSOR FOR select DesignationID from Designation where (case when @DNID1=0 then 0 else DesignationID end)=@DNID1  Order By DesignationID 

--------------------------------------------------------
OPEN Cur; FETCH NEXT FROM Cur INTO @DPID ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

With Data1 as (
select 1 SLNo,DesignationID DNID,UnderPromteDesignationID UDNID,DesignationName 
from Designation with(nolock) where DesignationID=@DPID 
union all
select b.SLNo+1 SLNo,DesignationID DNID,UnderPromteDesignationID UDNID,DesignationName 
from Designation A with(nolock) 
cross apply (select SlNo from Data1 B where b.UDNID=a.DesignationID) B
) insert into @Data 
select * from Data1  

--------------------------------------------------------
;FETCH NEXT FROM Cur INTO @DPID ; 
END; CLOSE Cur; DEALLOCATE Cur; 

select * from @Data

GO
