USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annex1_Diff]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_Annex1_Diff] 
	@FromYear Int ,
	@ToYear Int ,
	@FromFyYear DateTime ,
	@ToFyYear DateTime ,
	@AcOLID varchar(200)  

AS SET NOCOUNT ON


-- =============================================
-- OPTIMIZED - MULTI-USER SAFE VERSION
-- Zero logic change. Optimizations applied:
--   1. @Data      -> #Data      (+ index)
--   2. @Data1     -> #Data1     (+ index)
--   3. @WONo      -> #WONo      (+ index)
--   4. @Annex1A   -> #Annex1A   (+ index)
--   5. @Annex1    -> #Annex1    (+ index)
--   6. Split(@AcOLID,',') materialized once -> #AcOLIDs
--   7. OPTION (RECOMPILE) on final SELECT
--   8. ORDER BY kept only on final SELECT
--   9. Session-safe DROP guards at top
-- =============================================

--DECLARE @FromYear   INT          = 2025
--DECLARE @ToYear     INT          = 2026
--DECLARE @FromFyYear DATETIME     = '2025-04-01'
--DECLARE @ToFyYear   DATETIME     = '2026-03-31'
--DECLARE @AcOLID     VARCHAR(200) = 376

DECLARE @JVNo       INT = 0
DECLARE @DocumentNo INT = 0

-- =============================================
-- SESSION-SAFE DROP GUARDS
-- #temp tables are session-scoped (per SPID).
-- Guards only fire if same session re-runs.
-- =============================================
IF OBJECT_ID('tempdb..#AcOLIDs') IS NOT NULL DROP TABLE #AcOLIDs
IF OBJECT_ID('tempdb..#Data')    IS NOT NULL DROP TABLE #Data
IF OBJECT_ID('tempdb..#Data1')   IS NOT NULL DROP TABLE #Data1
IF OBJECT_ID('tempdb..#WONo')    IS NOT NULL DROP TABLE #WONo
IF OBJECT_ID('tempdb..#Annex1A') IS NOT NULL DROP TABLE #Annex1A
IF OBJECT_ID('tempdb..#Annex1')  IS NOT NULL DROP TABLE #Annex1


-- =============================================
-- 2. #Data  (was @Data)
-- =============================================
CREATE TABLE #Data (
    OLID INT, JournalVoucherNo INT, AcHead VARCHAR(20),DocumentTypeID Int,DocumentNo Int,
    _10 MONEY,_11 MONEY,_12 MONEY,_13 MONEY,_14 MONEY,_15 MONEY,_16 MONEY,_17 MONEY,
    _18 MONEY,_19 MONEY,_20 MONEY,_21 MONEY,_22 MONEY,_23 MONEY,_24 MONEY,_25 MONEY,
    _26 MONEY,_27 MONEY,_28 MONEY,_29 MONEY,
    _101 MONEY,_102 MONEY,_103 MONEY,_104 MONEY,_105 MONEY,_106 MONEY,_107 MONEY,_108 MONEY,
    _109 MONEY,_110 MONEY,_111 MONEY,_112 MONEY,_113 MONEY,_114 MONEY,_115 MONEY,_116 MONEY,
    _117 MONEY,_118 MONEY,_119 MONEY,_120 MONEY,_121 MONEY,_122 MONEY,_123 MONEY,_124 MONEY,
    _125 MONEY,_126 MONEY,_127 MONEY,_128 MONEY,_129 MONEY,_130 MONEY,_131 MONEY,_132 MONEY,
    _133 MONEY,_134 MONEY,_135 MONEY,_136 MONEY,_137 MONEY,_138 MONEY,_139 MONEY,_140 MONEY,
    _141 MONEY,_142 MONEY,_143 MONEY,_144 MONEY,_145 MONEY,_146 MONEY,_147 MONEY,_148 MONEY,
    _149 MONEY,_150 MONEY,_151 MONEY,_152 MONEY,_153 MONEY,_154 MONEY,_155 MONEY,_156 MONEY,
    _157 MONEY,_158 MONEY
)

INSERT INTO #Data
EXEC SP_Annexure1a @AcOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

CREATE INDEX ix_Data_JV_AcHead ON #Data (JournalVoucherNo, AcHead)

-- =============================================
-- 3. #Data1  (was @Data1)
-- =============================================
CREATE TABLE #Data1 (
    SLNo INT, OLID INT,
    FromAcHead VARCHAR(20), ToAcHead VARCHAR(20),
    Amount MONEY, VoltageClassCode VARCHAR(20), LocationCod VARCHAR(20)
)

INSERT INTO #Data1
EXEC SP_Annexure1 @AcOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

CREATE INDEX ix_Data1_OLID_SLNo ON #Data1 (OLID, SLNo)

-- =============================================
-- 4. #WONo  (was @WONo)
-- =============================================
SELECT DISTINCT
    DocumentNo,
    (CASE WHEN DocumentTypeID = 22 THEN 2 ELSE DocumentTypeID END) DocumentTypeID,
    JVOLID
INTO #WONo
FROM JVWorkOrderDetails a WITH(NOLOCK)
WHERE JVDate BETWEEN @FromFyYear AND @ToFyYear
  AND JVOLID = @AcOLID
  AND a.JournalVoucherNo IN (
      SELECT JournalVoucherNo FROM #Data b
      WHERE b.JournalVoucherNo = a.JournalVoucherNo
  )
  AND DocumentNo != 0

CREATE INDEX ix_WONo_Doc ON #WONo (DocumentNo, DocumentTypeID, JVOLID)

-- =============================================
-- 5. #Annex1A  (was @Annex1A)
-- =============================================
CREATE TABLE #Annex1A (
    OfficeLocation VARCHAR(200), Annex VARCHAR(10), AcHead VARCHAR(20) ,
    _9 MONEY,_10 MONEY,_11 MONEY,_12 MONEY,_13 MONEY,_14 MONEY,_15 MONEY,
    _16 MONEY,_17 MONEY,_18 MONEY,_19 MONEY,_20 MONEY,_21 MONEY,_22 MONEY,
    _23 MONEY,_24 MONEY,_25 MONEY,_26 MONEY,_27 MONEY,_28 MONEY,_29 MONEY,_30 MONEY
)

INSERT INTO #Annex1A
SELECT
    OfficeLocation, Annex, AcHead,
    SUM(ISNULL(_9,0))  _9,  SUM(_10) _10, SUM(_11) _11, SUM(_12) _12,
    SUM(_13) _13, SUM(_14) _14, SUM(_15) _15, SUM(_16) _16, SUM(_17) _17,
    SUM(_18) _18, SUM(_19) _19, SUM(_20) _20, SUM(_21) _21, SUM(_22) _22,
    SUM(_23) _23, SUM(_24) _24, SUM(_25) _25, SUM(_26) _26, SUM(_27) _27,
    SUM(_28) _28, SUM(_29) _29, SUM(_30) _30
FROM (
    SELECT
        '1A' Annex,
        ol.OfficeLocation,
        a.*,
        ISNULL(_9, 0)                              _9,
        (_27a + ISNULL(_27b, 0))                   _27,
        ((ISNULL(_9,0)+_18+_22+_28+_29) - (_26+_27a+ISNULL(_27b,0))) _30
    FROM (
        -- ---- Aggregated JV + CWIP_OB rows ----
        SELECT
            AcHead, DocumentNo, DocumentTypeID, JVOLID,
            SUM(_10) _10, SUM(_11) _11, SUM(_12) _12, SUM(_13) _13,
            SUM(_14) _14, SUM(_15) _15, SUM(_16) _16, SUM(_17) _17,
            SUM(_18) _18, SUM(_19) _19, SUM(_20) _20, SUM(_21) _21,
            SUM(_22) _22, SUM(_23) _23, SUM(_24) _24, SUM(_25) _25,
            SUM(_26) _26, SUM(_27a) _27a, SUM(_28) _28, SUM(_29) _29
        FROM (
            -- ---- JV detail rows ----
            SELECT
                a.JournalVoucherNo,
                ISNULL(b.AcHead, a.AcHead) AcHead,
                a.DocumentNo,
                (CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END) DocumentTypeID,
                isnull(b.OLID,JVOLID) JVOLID,
                SUM(ISNULL(_10,0)) _10, SUM(ISNULL(_11,0)) _11, SUM(ISNULL(_12,0)) _12,
                SUM(ISNULL((CASE WHEN c.ToAcHead='17.301' THEN 0 WHEN TableName='DemandRaising' and LEFT(a.AcHead,6)=LEFT(b.AcHead,6) THEN AssetAmount WHEN TableName='DivisionAdjustment' and LEFT(a.AcHead, 4) NOT IN ('14.9', '14.8', '14.7') THEN AssetAmount ELSE _13 END),0)) _13,
                SUM(ISNULL(_14,0)) _14, SUM(ISNULL(_15,0)) _15, 
				SUM(ISNULL((CASE WHEN TableName='ProformaInvoice' then AssetAmount else _16 end),0)) _16, 
                SUM(ISNULL(_17,0)) _17,
                SUM(ISNULL((CASE WHEN TableName='ProformaInvoice' and c.ToAcHead!='42.401' then AssetAmount WHEN TableName='DemandRaising' and LEFT(a.AcHead,6)=LEFT(b.AcHead,6) THEN AssetAmount WHEN TableName='DivisionAdjustment' and LEFT(a.AcHead, 4) NOT IN ('14.9', '14.8', '14.7') THEN AssetAmount ELSE _18 END),0)) _18,
                SUM(ISNULL(_19,0)) _19, SUM(ISNULL(_20,0)) _20, SUM(ISNULL(_21,0)) _21,
                SUM(ISNULL(_22,0)) _22, SUM(ISNULL(_23,0)) _23, SUM(ISNULL(_24,0)) _24,
                SUM(ISNULL(_25,0)) _25, SUM(ISNULL(_26,0)) _26, SUM(ISNULL(_27,0)) _27a,
                SUM(ISNULL(_28,0)) _28, SUM(ISNULL(_29,0)) _29
            FROM (
                SELECT * FROM #Data
                WHERE (CASE WHEN @JVNo=0 THEN 0 ELSE JournalVoucherNo END) = @JVNo
            ) B
            LEFT JOIN JVWorkOrderDetails a WITH(NOLOCK)
                ON  JVDate BETWEEN @FromFyYear AND @ToFyYear
                AND JVOLID = @AcOLID
                AND a.JournalVoucherNo = b.JournalVoucherNo 
				AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0)
				outer apply (select top 1 * from JVDetailsAnnexure1to8 C with(nolock) where c.JournalVoucherNo=b.JournalVoucherNo) C 
			Outer Apply (select top 1 * from JournalVoucher J with(nolock) where j.JournalVoucherNo=b.JournalVoucherNo) J
            WHERE (CASE WHEN @DocumentNo=0 THEN 0 ELSE b.DocumentNo END) = @DocumentNo
              --AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0)
            GROUP BY
                a.JournalVoucherNo,
                ISNULL(b.AcHead, a.AcHead),
                a.DocumentNo,
                (CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END),
                isnull(b.OLID,JVOLID)
        ) A WHERE AcHead LIKE '14.%'
        GROUP BY AcHead, DocumentNo, DocumentTypeID, JVOLID

        UNION ALL

        -- ---- CWIP_OB zero-value rows ----
        SELECT
            AcHead,
            DocumentNo,
            (CASE WHEN DocumentTypeID=22 THEN 2 ELSE DocumentTypeID END) DocumentTypeID,
            JVOLID,
            0 _10,0 _11,0 _12,0 _13,0 _14,0 _15,0 _16,0 _17,
            0 _18,0 _19,0 _20,0 _21,0 _22,0 _23,0 _24,0 _25,
            0 _26,0 _27a,0 _28,0 _29
        FROM JVWorkOrderDetails a WITH(NOLOCK)
        WHERE JVDate BETWEEN @FromFyYear AND @ToFyYear
          AND JVOLID = @AcOLID
          AND TableName = 'CWIP_OB'
          AND DocumentNo NOT IN (
              SELECT DocumentNo FROM #WONo b
              WHERE b.DocumentNo = a.DocumentNo
                AND (CASE WHEN b.DocumentTypeID=22 THEN 2 ELSE b.DocumentTypeID END)
                  = (CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END)
                AND b.JVOLID = a.JVOLID
          )
          AND (CASE WHEN @DocumentNo=0 THEN 0 ELSE DocumentNo END) = @DocumentNo
          AND AcHead LIKE '14.%'
    ) A
    OUTER APPLY (
        SELECT SUM(AssetAmount) _9, 0 _27b
        FROM JVWorkOrderDetails b WITH(NOLOCK)
        WHERE JVDate BETWEEN @FromFyYear AND @ToFyYear
          --AND JVOLID = @AcOLID
          AND TableName = 'CWIP_OB'
          AND b.DocumentNo = a.DocumentNo
          AND b.AcHead     = a.AcHead
          AND (CASE WHEN b.DocumentTypeID=22 THEN 2 ELSE b.DocumentTypeID END)
            = (CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END)
          AND b.JVOLID = a.JVOLID
    ) B
    LEFT JOIN OfficeLocationAccountingUnitDetails ol WITH(NOLOCK) ON ol.OLID = a.JVOLID
) A
GROUP BY OfficeLocation, Annex, AcHead

CREATE INDEX ix_Annex1A_OL_AcHead ON #Annex1A (OfficeLocation, AcHead)

-- =============================================
-- 6. #Annex1  (was @Annex1)
-- =============================================
CREATE TABLE #Annex1 (
    OfficeLocation VARCHAR(200), Annex VARCHAR(10), AcHead VARCHAR(20),
    _9 MONEY,_10 MONEY,_11 MONEY,_12 MONEY,_13 MONEY,_14 MONEY,_15 MONEY,
    _16 MONEY,_17 MONEY,_18 MONEY,_19 MONEY,_20 MONEY,_21 MONEY,_22 MONEY,
    _23 MONEY,_24 MONEY,_25 MONEY,_26 MONEY,_27 MONEY,_28 MONEY,_29 MONEY,_30 MONEY
)

INSERT INTO #Annex1
SELECT
    OfficeLocation, '1' Annex, FromAcHead AcHead,
    [3]  _9,  [4]  _10, [5]  _11, [6]  _12, [7]  _13, [8]  _14,
    [9]  _15, [10] _16, [11] _17, [12] _18, [13] _19, [14] _20,
    [15] _21, [16] _22, [17] _23, [18] _24, [19] _25, [20] _26,
    [21] _27, [22] _28, [23] _29, [24] _30
FROM (
    SELECT
        OLID, FromAcHead,
        ISNULL([3],0)  AS [3],  ISNULL([4],0)  AS [4],  ISNULL([5],0)  AS [5],
        ISNULL([6],0)  AS [6],  ISNULL([7],0)  AS [7],  ISNULL([8],0)  AS [8],
        ISNULL([9],0)  AS [9],  ISNULL([10],0) AS [10], ISNULL([11],0) AS [11],
        ISNULL([12],0) AS [12], ISNULL([13],0) AS [13], ISNULL([14],0) AS [14],
        ISNULL([15],0) AS [15], ISNULL([16],0) AS [16], ISNULL([17],0) AS [17],
        ISNULL([18],0) AS [18], ISNULL([19],0) AS [19], ISNULL([20],0) AS [20],
        ISNULL([21],0) AS [21], ISNULL([22],0) AS [22], ISNULL([23],0) AS [23],
        ISNULL([24],0) AS [24], ISNULL([25],0) AS [25], ISNULL([26],0) AS [26]
    FROM (
        SELECT SLNo, OLID, CONCAT(FromAcHead, VoltageClassCode) FromAcHead, Amount
        FROM #Data1
    ) AS MR
    PIVOT (
        SUM(Amount) FOR SLNo IN (
            [3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],
            [14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26]
        )
    ) AS pvt
) A
LEFT JOIN OfficeLocationAccountingUnitDetails ola WITH(NOLOCK) ON ola.OLID = @AcOLID
LEFT JOIN LocationCode lc WITH(NOLOCK)
    ON  lc.Budget     = 1
    AND lc.OfficeID   = ola.OfficeID
    AND lc.LocationId = ola.LocationID
WHERE ([3]+[4]+[5]+[6]+[7]+[8]+[9]+[10]+[11]+[12]+[13]+[14]+[15]+[16]+[17]+[18]+[19]+[20]+[21]+[22]+[23]+[24]) != 0

CREATE INDEX ix_Annex1_OL_AcHead ON #Annex1 (OfficeLocation, AcHead)

-- =============================================
-- 7. FINAL SELECT  (ORDER BY + OPTION RECOMPILE)
--    OPTION (RECOMPILE): each concurrent user
--    gets a plan tuned to their own parameter
--    values, preventing plan cache pollution.
-- =============================================
SELECT * FROM #Annex1

UNION ALL

SELECT * FROM #Annex1A

UNION ALL

SELECT
    OfficeLocation,
    'Diff' Annex,
    AcHead,
    SUM(ISNULL(_9,0))  _9,  SUM(_10) _10, SUM(_11) _11, SUM(_12) _12,
    SUM(_13) _13, SUM(_14) _14, SUM(_15) _15, SUM(_16) _16, SUM(_17) _17,
    SUM(_18) _18, SUM(_19) _19, SUM(_20) _20, SUM(_21) _21, SUM(_22) _22,
    SUM(_23) _23, SUM(_24) _24, SUM(_25) _25, SUM(_26) _26, SUM(_27) _27,
    SUM(_28) _28, SUM(_29) _29, SUM(_30) _30
FROM (
    SELECT * FROM #Annex1A

    UNION ALL

    SELECT
        OfficeLocation, '1' Annex, AcHead,
        -_9,-_10,-_11,-_12,-_13,-_14,-_15,-_16,-_17,-_18,
        -_19,-_20,-_21,-_22,-_23,-_24,-_25,-_26,-_27,-_28,-_29,-_30
    FROM #Annex1
) A
GROUP BY OfficeLocation, AcHead

ORDER BY AcHead, Annex
OPTION (RECOMPILE)

-- =============================================
-- Cleanup
-- =============================================
IF OBJECT_ID('tempdb..#AcOLIDs') IS NOT NULL DROP TABLE #AcOLIDs
IF OBJECT_ID('tempdb..#Data')    IS NOT NULL DROP TABLE #Data
IF OBJECT_ID('tempdb..#Data1')   IS NOT NULL DROP TABLE #Data1
IF OBJECT_ID('tempdb..#WONo')    IS NOT NULL DROP TABLE #WONo
IF OBJECT_ID('tempdb..#Annex1A') IS NOT NULL DROP TABLE #Annex1A
IF OBJECT_ID('tempdb..#Annex1')  IS NOT NULL DROP TABLE #Annex1



GO
