USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeLeaveDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_EmployeeLeaveDetails]
    @Types Varchar(10) ,
    @CID Int ,
	@FromDate DateTime ,
	@Status Int ,
    @LTID int ,
	@ELDID Int ,
	@FromDate1 Varchar(20) ,
	@ToDate Varchar(20) ,
	@LTCount Float ,
	@Approved Int ,
	@Cancel Int ,
	@LTID1 Int ,
	@LTTID Int ,
	@Remarks Varchar(500) 
AS SET NOCOUNT ON


--Declare @Types Varchar(10) = 'Select' ----- Select Update Import Delete 
--Declare @CID Int = 1424 
--Declare @FromDate DateTime = '2024-01-01'
--Declare @Status Int = 0
--Declare @LTID Int = 1

--Declare @ELDID Int = 15600
--Declare @FromDate1 Varchar(20) = '2024-10-01'
--Declare @ToDate Varchar(20) = '2024-10-31'
--Declare @LTCount Float = -31 
--Declare @Approved Int = 0 
--Declare @Cancel Int = 1 
--Declare @LTID1 Int = 1
--Declare @LTTID Int = 1 
--Declare @Remarks Varchar(500) = 'Issue No Test'


IF @Types='Update' 
update a set LeaveTypeID=isnull((case when @LTID1=0 then NULL else @LTID1 end),@LTID),FromDate=@FromDate1,ToDate=@ToDate,LeaveCount=@LTCount,Balance=@LTCount,Approved=@Approved,Cancel=@Cancel,Remarks=@Remarks
from EmployeeLeaveDetails A with(nolock) where a.EmployeeLeaveDetailsID=@ELDID  
else 
IF (@Types='Import' and len(@FromDate1)>0 and len(@ToDate)>0) 
insert into EmployeeLeaveDetails (ContactID,LeaveTypeID,FromDate,ToDate,LeaveCount,Balance,Approved,Cancel,Remarks,ManualOMNo,CreatedOn,LeaveTransactionTypeID) 
select @CID,@LTID,@FromDate1,@ToDate,@LTCount,@LTCount,@Approved,@Cancel,@Remarks,'' ManualOMNo,cast(GetDate() as Date) CreatedOn,@LTTID

;with Data1 as (
select isnull(e2.OfficeLocation,e.OfficeLocation) SanctionLocation,e.OfficeLocation WorkingLocation
,a.ContactID,c.Fileas ContactName,CONCAT(DesignationCode,' (',DepartmentCode,')') Designation
,EmployeeLeaveDetailsID ELDID,EmployeeApplicationID EAID,a.LeaveTypeID LTypeID,f.Description LeaveTypes,lrt.Description Transactions
,FromDate FromDate1,ToDate ToDate1,cast(LeaveCount as float) LCount,cast(Balance as float) Balance,a.Approved,Cancel,a.CreatedOn CreatedOn1
from (select * from EmployeeLeaveDetails A with(nolock) where a.ContactID=@CID and FromDate>=@FromDate and LeaveTypeID not in (19)
	and (case when isnull(Cancel,0)=1 then 0 else Approved end)=@Status  
	and (case when @ELDID=0 then 0 else a.EmployeeLeaveDetailsID end)=@ELDID
	and (case when @LTID=0 then 0 else a.LeaveTypeID end)=@LTID) A 
inner join Employee B with(nolock) on b.ContactID=a.ContactID 
inner join Contacts C with(nolock) on c.ContactID=a.ContactID 
inner join ODLDAllocation D with(nolock) on d.ODLDID=isnull(b.ODLDID,0)
inner join OfficeLocationAccountingUnitDetails E with(nolock) on e.OfficeID=d.OfficeID and e.LocationID=d.LocationID 
inner join LeaveTypes F with(nolock) on F.LeaveTypeID=A.LeaveTypeID
inner join Department DP with(nolock) on DP.DepartmentID=D.DepartmentID
inner join Designation DN with(nolock) on Dn.DesignationID=D.DesignationID
outer apply (select top 1 FromODLDID from EmployeeAppointmentDetails E1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(FromODLDID,0)>0 and e1.ContactID=isnull(a.ContactID,a.ContactID)) E1
left join ODLDAllocation D1 with(nolock) on d1.ODLDID=isnull(e1.FromODLDID,0)
left join OfficeLocationAccountingUnitDetails E2 with(nolock) on e2.OfficeID=d1.OfficeID and e2.LocationID=d1.LocationID 
left join LeaveTransactionTypes LRT with(nolock) on LRT.LeaveTransactionTypeID=ISNULL(a.LeaveTransactionTypeID,0)
) select ContactID,ContactName,Designation,ELDID,EAID,LTypeID,LeaveTypes,Transactions
,convert(varchar,FromDate1,104) FromDate,convert(varchar,ToDate1,104) ToDate,LCount,Balance,convert(varchar,CreatedOn1,104) CreatedOn  
from Data1 order By (case when LTypeID in (19,20) then 1 else 2 end),FromDate1,ToDate1 





GO
