USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryDepartmentWise]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SalaryDepartmentWise]
	@Config varchar(200), 
	@OLID int ,
	@YearID VARCHAR(4) ,
	@MonthID VARCHAR(2)


AS 
SET NOCOUNT ON








DECLARE @FromDate varchar(12) select @FromDate = cast((@YearID+'-'+@MonthID+'-01') as datetime)
DECLARE @ToDate varchar(12) select @ToDate = (dateadd(month,1,cast((@YearID+'-'+@MonthID+'-01') as datetime))-1)

Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)

Declare @AOLID table (OLID int)
Declare @OID int select @OID=(select * from @OID1)  if @OID=50  
insert into @AOLID 
select OLID from @OID2 else 
insert into @AOLID 
select OLID from @OID2
where OLID in (@OLID)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),DepartmentID int,EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,DepartmentID,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @Qtr table (ContactID int,Types int,Organisation varchar(100),Branch varchar(100),BranchAddress varchar(500)) 
Declare @TypesSql varchar(Max) Set @TypesSql='
	select distinct eqd.ContactID,b.ExternalOrganisation,eo.Name,eob.Name,eob.StreetName  
	from EmployeeQuarterDetails eqd 
	left outer join Buildings b on b.BuildingID=eqd.EmployeeQuartersID 
	left outer join ExternalOrganisations eo on eo.ExternalOrganisationID=b.ExternalOrganisationID
	left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationID=eo.ExternalOrganisationID and eob.ExternalOrganisationBranchID=b.ExternalOrganisationBranchID
	where eqd.fromdate in (select max(eqd1.fromdate) from EmployeeQuarterDetails eqd1 where eqd1.ContactID=eqd.ContactID group by eqd1.Contactid)
' insert into @Qtr exec (@TypesSql)


Declare @SR table (DepartmentID int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthId int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(20),OLID int,SOLID int,JoinTypes varchar(50),BAID int,EmployeeTypes varchar(20),EmployeeStatusID int,DPOrder varchar(4))
insert into @SR 

select distinct DepartmentID,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,datename(month,sr.StartingDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,0) as BRNo,ol1.OLID,ol.OLID
,JoinTypes,(case when JoinTypes='Before-2006' then 1 else 2 end) as BAID,(case when EmployeeGradeID in (1,2) then 'Officers' else 'Employees' end) as EmployeeTypes,EmployeeStatusID
,(case when (case when JoinTypes='Before-2006' then 1 else 2 end) =1 and DepartmentID not in (199,196,195) and EmployeeStatusID not in (19) then '01' else 
case when (case when JoinTypes='Before-2006' then 1 else 2 end) =2 and DepartmentID not in (199,196,195) and EmployeeStatusID not in (19) then '02' else 
Case when DepartmentID=199 and EmployeeStatusID not in (19) then '03' else 
Case when DepartmentID=196 and EmployeeStatusID not in (19) then '04' else 
Case when DepartmentID=195 and EmployeeStatusID not in (19) then '05' else 
Case when EmployeeStatusID = 19 then '06' else NULL end end end end end end)
from FnMaxSRBDate(@FromDate,@ToDate) sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on ol.OLID in (select OLID from @AOLID) and ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join (select distinct EmployeeAppointmentDetailsID,ContactID,convert(varchar,ReportedDate ,103) as JoinDate ,(case when isnull(ReportedDate,0)>='2006-04-01' then 'After-2006' else 'Before-2006' end) as JoinTypes
from EmployeeAppointmentDetails where AppointmentTypeID=1) as A on a.ContactID=sr.ContactID


Declare @SRD table (ATypeID int,ScaleRegisterID int,ContactID int,YearID int,MonthId int,Amount money,SalaryTypes varchar(20),Ordering varchar(6),BRNo varchar(20))
insert into @SRD 

select ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID,sum(isnull(srd.Amount,0)) as Amount
,(case when ATypeID=1 then 'Total Earnings' else case when ATypeID=2 then 'Total Deductions'  else NULL end end) as SalaryTypes
,(case when ATypeID=1 then '09' else case when ATypeID=2 then '37'  else NULL end end) as Ordering,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,ATypeID,sr.BRNo
union all
select 2 as ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID
,(sum(case when d.ATypeID=1 then (isnull(srd.Amount,0)) else 0 end) - sum(case when d.ATypeID=2 then (isnull(srd.Amount,0)) else 0 end)) as Amount
,'Net Payable' as SalaryTypes,'38' as Ordering ,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,sr.BRNo
union all
select d.ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID,sum(isnull(srd.Amount,0)) as Amount,d.SalaryTypes,d.Ordering,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else case when srd.TypesID in (5) and srd.TypeID in (15) then 0 else srd.TypeID end end) <> 0
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,d.SalaryTypes ,d.Ordering,d.ATypeID,sr.BRNo
union all
select distinct ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID,sum(isnull(srd.Amount,0)) as Amount,'RD / PLI' as SalaryTypes,'24' as Ordering ,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else case when srd.TypesID in (5) and srd.TypeID in (15) then 0 else srd.TypeID end end) = 0
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,ATypeID,sr.BRNo



IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpSRD]'))
    EXEC sp_executesql N'create table TmpSalaryDepartmentWise 
	(LocationOrdered int,Employees int,YearID int, MonthDesc varchar(10),OfficeName varchar(50), LocationName varchar(50),SOfficeName varchar(50), SLocationName varchar(50),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(20))
	'
drop table TmpSalaryDepartmentWise
Create table TmpSalaryDepartmentWise  (LocationOrdered int,Employees int,YearID int, MonthDesc varchar(10),OfficeName varchar(50), LocationName varchar(50),SOfficeName varchar(50), SLocationName varchar(50),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(20))
insert into TmpSalaryDepartmentWise 

select sr.DepartmentID,n.Employees,sr.YearID,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.SOfficeName,sr.SLocationName,srd.Ordering,srd.SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,sr.BRNo
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID and srd.ContactID=sr.ContactID and srd.YearID=sr.YearID and srd.MonthID=sr.MonthID
left outer join (select distinct OLID,SOLID,YearID,MonthID,sr.BRNo,count(distinct sr.contactid) as Employees
from @SR sr group by YearID,MonthID,sr.BRNo,OLID,SOLID) as N on n.OLID=sr.OLID and n.SOLID=sr.SOLID and n.YearID=sr.YearID and n.MonthID=sr.MonthID and n.BRNo=sr.BRNo

group by sr.YearID,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.SOfficeName,sr.SLocationName,srd.Ordering,srd.SalaryTypes,sr.BRNo,sr.DepartmentID,n.Employees


update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from TmpSalaryDepartmentWise A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from TmpSalaryDepartmentWise ) as B ) b on b.Ordering=a.Ordering






Declare @listCol varchar (Max)
SELECT  @listCol = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) 	FROM  (
select * from TmpSalaryDepartmentWise
) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTDepartmentWiseSalaryHView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTDepartmentWiseSalaryHView] AS 
	select Ordered1,SalaryTypes from TmpSalaryDepartmentWise'
drop view PVTDepartmentWiseSalaryHView

DECLARE @QuerySql VARCHAR(Max)
	SET @QuerySql ='CREATE VIEW PVTDepartmentWiseSalaryHView as SELECT * FROM (
	select Ordered1,SalaryTypes from TmpSalaryDepartmentWise
	) as cl PIVOT (Min(SalaryTypes) FOR Ordered1 IN ('+isnull(@listCol,'[01]')+')) as pvt'
EXECUTE  (@QuerySql) 





Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from TmpSalaryDepartmentWise ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from TmpSalaryDepartmentWise ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTDepartmentWiseSalaryDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTDepartmentWiseSalaryDView] AS 
	select BRNo,LocationOrdered,YearID,MonthDesc,OfficeName,LocationName,SOfficeName,SLocationName,Employees,Ordered1,Amount
	FROM    TmpSalaryDepartmentWise'
drop view PVTDepartmentWiseSalaryDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTDepartmentWiseSalaryDView as  select BRNo,LocationOrdered,YearID,MonthDesc,OfficeName,LocationName,SOfficeName,SLocationName,Employees,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select BRNo,LocationOrdered,YearID,MonthDesc,OfficeName,LocationName,SOfficeName,SLocationName,Employees,Ordered1,Amount
	FROM    TmpSalaryDepartmentWise ) as A
	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query )








select distinct * from @SR
GO
