USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_JVWorkOrderDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_JVWorkOrderDetails] 
	@AcOLID Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime 

AS SET NOCOUNT ON


--Declare @AcOLID Int select @AcOLID = 658
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2026-03-31'


Declare @AcOL Table (OLID Int) Insert Into @AcOL
select distinct OLID from OfficeLocationAccountingUnitDetails with(nolock) 
where (CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID or AcOLID=@AcOLID or OLID=@AcOLID)


IF EXISTS(SELECT name FROM sys.sysobjects WHERE Name = N'TempWorkOrderDetails' AND xtype = N'U') BEGIN drop table TempWorkOrderDetails END
select a.* ,(case when a.DocumentTypeID=10 then 'StoreInvoice_Accounts' when a.DocumentTypeID=33 then 'ReceiptVoucherAbstract_Accounts' 
when a.DocumentTypeID=45 then 'AdviceofTransfer' when a.DocumentTypeID=37 then 'CostRegister' when a.DocumentTypeID=40 and isnull(RectifiedJVNo,0)!=0 then 'Rectification' 
when a.DocumentTypeID=2 then 'Reversal_Categorization' when a.DocumentTypeID=41 then 'LiabilityProvisions'
else b.MasterTable end) TableName 
into TempWorkOrderDetails from (
select distinct OLID,DocumentTypeID,InvoiceTypeID ,JournalVoucherNo,DocumentNo,RectifiedJVNo,JournalVoucherDate
from JVDetailsAnnexure1to8 A with(nolock) cross join Today_Accounts with(nolock)
where ((JournalVoucherDate Between (case when @FromFyYear=0 then dateadd(month,-1,dateadd(day,1,EOmonth(Today))) else @FromFyYear end) and (case when @ToFyYear=0 then EOmonth(Today) else @ToFyYear end))
or (cast(CurrentTimeStamp as Date) Between (case when @FromFyYear=0 then dateadd(month,-1,dateadd(day,1,EOmonth(Today))) else @FromFyYear end) and (case when @ToFyYear=0 then EOmonth(Today) else @ToFyYear end))) 
and OLID in (select * from @AcOL)
and DocumentTypeID not in (77) and InvoiceTypeID not in (5,11,9,3,13)
and (FromAcHead like '14.%' or ToAcHead like '14.%' ) --and FromAcHead='14.322' and DocumentTypeID=29 
) A left join InvoiceTypes B with(nolock) on b.InvoiceTypeID=a.InvoiceTypeID
left join DocumentTypes B1 with(nolock) on b1.DocumentTypeID=a.DocumentTypeID
--where b.MasterTable='ProformaInvoice' 
--where JournalVoucherNo=2675301 

--select * from (select distinct TableName from @Data where TableName is not NULL) A 
--cross Apply (select concat(JournalVoucherNo,'')+',' from @Data B where b.TableName=a.TableName order by JournalVoucherNo for xml path('')) JV (JVNo)

--select RectifiedJVNo from (select JournalVoucherNo,RectifiedJVNo from TempWorkOrderDetails where TableName='Rectification' and JournalVoucherNo != 2042539 ) A
--select * from TempWorkOrderDetails



select a.*,isnull(isnull(e.OLID,g.AcOLID),0) JVOLID ,isnull(isnull(b.WorkOrderNo,PurchaseOrderNo),0) WO_PONo,isnull(isnull(b.OLID,b1.OLID),0) WO_PO_OLID
,isnull(isnull(WorkOrderDate,PurchaseOrderDate),@FromFyYear) WO_PODate
,isnull(JournalVoucherDate,TableRefDate+1) JVDate,b.CompletionDate ScheduleCompletionDate
,isnull(cr.CompletionDate,WorksCompletionDate) ActualCompletionDate,CommissionedDate
,isnull(cr.CompletionReportDate,cr1.CompletionReportDate) CompletionReportDate
,isnull(Reference,'-') Reference,isnull(cw.Description,'-') ExecutionType ,isnull(isnull(b.Amount,b1.PurchaseOrderAmount),0) WO_POAmount
,isnull(b.WorkAllocationID,0) WorkAllocationID
,concat(isnull(isnull(isnull(isnull((c.MainAccountCode+c.SubAccountCode),(b1.MainAccountCode+b1.SubAccountCode)),rv.FromAcCode),si.ToAcCode),sl.AcCode) , (case when isnull(isnull(isnull(isnull((c.MainAccountCode+c.SubAccountCode),(b1.MainAccountCode+b1.SubAccountCode)),rv.FromAcCode),si.ToAcCode),sl.AcCode) is not NULL then isnull(VoltageClassCode,'7') else '-' end)) AcHead
,isnull(WorkInChargeID,0) WorkInChargeID,isnull(ODLDID,0) ODLDID,isnull(TokenWorkOrder,0) TokenWorkOrder from (
select AcOLID,a.* from (
----select OLID,JournalVoucherNo,(case when isnull(DocumentTypeID,0)=0 then 10 else DocumentTypeID end) DocumentTypeID
----,(case when isnull(DocumentTypeID,0)=0 then StoreInvoiceNo else DocumentNo end) DocumentNo
----,'StoreInvoice_Accounts' TableName,StoreInvoiceNo TableRefNo,StoreInvoiceDate TableRefDate,0 AssetAmount from StoreInvoice_Accounts A with(nolock) 
----where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='StoreInvoice_Accounts' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)

select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'StoreInvoice_Accounts' TableName,StoreInvoiceNo TableRefNo,StoreInvoiceDate TableRefDate,0 AssetAmount from StoreInvoice_Accounts A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='StoreInvoice_Accounts' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'ReceiptVoucherAbstract_Accounts' TableName,ReceiptVoucherNo,ReceiptVoucherDate,0 from ReceiptVoucherAbstract_Accounts A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ReceiptVoucherAbstract_Accounts' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select BillRegisterOLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'SupplierInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from SupplierInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='SupplierInvoice' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select BillRegisterOLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'CivilInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from CivilInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='CivilInvoice' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'FuelInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from FuelInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='FuelInvoice' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'ContractAgencyInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from ContractAgencyInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ContractAgencyInvoice' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'RentInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from RentInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='RentInvoice' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select a.BillRegisterOLID,ProformaJournalVoucherNo,isnull(b.DocumentTypeID,a.DocumentTypeID),isnull(b.DocumentNo,a.DocumentNo),'ProformaInvoice' TableName,isnull(b.BillRegisterNo,a.BillRegisterNo),BillRegisterDate
,(case when c.ToAcHead='42.401' then 0 else isnull(b.Amount,a.Amount) end) Amount 
from ProformaInvoice A with(nolock) left join ProformaInvoiceDetails B with(nolock) on b.BillRegisterNo=a.BillRegisterNo and b.DocumentTypeID in (2,22)
outer apply (select top 1 * from JVDetailsAnnexure1to8 C with(nolock) where c.JournalVoucherNo=ProformaJournalVoucherNo) C 
where ProformaJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ProformaInvoice' and b.JournalVoucherNo=a.ProformaJournalVoucherNo and b.OLID=a.ProformaJournalVoucherOLID)
union 
select a.BillRegisterOLID,RegularizedJournalVoucherNo,isnull(b.DocumentTypeID,a.DocumentTypeID),isnull(b.DocumentNo,a.DocumentNo),'ProformaInvoice' TableName,isnull(b.BillRegisterNo,a.BillRegisterNo),BillRegisterDate,0
from ProformaInvoice A with(nolock) left join ProformaInvoiceDetails B with(nolock) on b.BillRegisterNo=a.BillRegisterNo and b.DocumentTypeID in (2,22)
where RegularizedJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ProformaInvoice' and b.JournalVoucherNo=a.RegularizedJournalVoucherNo and b.OLID=a.RegularizedJournalVoucherOLID)
union 
select ATJournalVoucherOLID, ATJournalVoucherNo,isnull(DocumentTypeID,45),isnull(DocumentNo,0),'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where ATJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.ATJournalVoucherNo and b.OLID=a.ATJournalVoucherOLID)
union 
select AcceptanceJournalVoucherOLID,AcceptanceJournalVoucherNo,isnull(DocumentTypeID,45),isnull(DocumentNo,0),'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AcceptanceJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AcceptanceJournalVoucherNo and b.OLID=a.AcceptanceJournalVoucherOLID)
union 
select AcknowledgedJournalVoucherOLID,AcknowledgedJournalVoucherNo,isnull(DocumentTypeID,45),isnull(DocumentNo,0),'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AcknowledgedJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AcknowledgedJournalVoucherNo and b.OLID=a.AcknowledgedJournalVoucherOLID)
union 
select OLID,AssetJournalVoucherNo,isnull(DocumentTypeID,45),isnull(DocumentNo,0),'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 
from (select JournalVoucherNo,OLID from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer') B
inner join AdviceofTransfer A with(nolock) on a.AssetJournalVoucherNo=b.JournalVoucherNo
union 
select AcceptanceClearnceJVOLID,AcceptanceClearnceJVNo,isnull(DocumentTypeID,45),isnull(DocumentNo,0),'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AcceptanceClearnceJVNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AcceptanceClearnceJVNo and b.OLID=a.AcceptanceClearnceJVOLID)
union
select a.OLID,DebitJournalVoucherNo,DocumentTypeID,DocumentNo,'LiabilityProvisions' TableName,a.LiabilityProvisionID,LiabilityProvisionDate,0 from LiabilityProvisions A with(nolock) 
inner join LiabilityProvisionDetails B with(nolock) on b.LiabilityProvisionID=a.LiabilityProvisionID
where DebitJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='LiabilityProvisions' and b.JournalVoucherNo=a.DebitJournalVoucherNo and b.OLID=a.DebitJournalVoucherOLID)
union
select DocumentOLID,0,DocumentTypeID,DocumentNo,'CWIP_OB',CostRegisterNo,EffectiveDate,Round(Round(Sum(ExpenditureAmount),2),2) ExpenditureAmount
from CostRegisterExpenditureDetails A with (nolock) 
where EffectiveDate=concat(Year(@FromFyYear),'-03-31') and DocumentTypeID in (2,22,1,10,12,28) and DocumentOLID in (select * from @AcOL)
Group By DocumentOLID,DocumentTypeID,DocumentNo,CostRegisterNo,EffectiveDate Having Round(Round(Sum(ExpenditureAmount),2),2) <>0
union 
select distinct a.JournalVoucherOLID ,JournalVoucherNo,b.DocumentTypeID,b.ReferenceNo,'DemandRaising' TableName,a.DemandRaisingID,DemandRaisingDate
,(case when b.DebitAccountCode like'14.%' then b.Amount else -b.Amount end) Amount
from DemandRaising A with(nolock) inner join DemandRaisingDetails B with(nolock) on b.DemandRaisingID=a.DemandRaisingID
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName is null  and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
and (b.DebitAccountCode like'14.%' or b.CreditAccountCode like '14.%')
union 
select distinct a.JournalVoucherOLID,a.JournalVoucherNo,c.DocumentTypeID,c.DocumentNo,'DivisionAdjustment' TableName,a.DivisionAdjustmentID,AdjustmentDate
,(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) Amount from (
select DivisionAdjustmentID,AdjustmentDate,JournalVoucherNo,JournalVoucherOLID from DivisionAdjustments A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName is null  and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID) ) A 
inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID and (FromAccountCode like'14.%' or ToAccountCode like '14.%') and b.DocumentTypeID in (29) and len(ReferenceNo)>=6
inner join CivilInvoice C with(nolock) on c.BillRegisterNo = LTRIM(RTRIM(REPLACE(CASE WHEN b.ReferenceNo IS NULL OR b.ReferenceNo = '' THEN ''WHEN PATINDEX('%]%', b.ReferenceNo) > 1 THEN LEFT(b.ReferenceNo, PATINDEX('%]%', b.ReferenceNo) - 1) ELSE b.ReferenceNo END,'[','')))
and c.DocumentTypeID in (2,22)
union 
select distinct a.JournalVoucherOLID,a.JournalVoucherNo,c.DocumentTypeID,c.DocumentNo,'DivisionAdjustment' TableName,a.DivisionAdjustmentID,AdjustmentDate
,(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) Amount from (
select DivisionAdjustmentID,AdjustmentDate,JournalVoucherNo,JournalVoucherOLID from DivisionAdjustments A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName is null  and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID) ) A 
inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID and (FromAccountCode like'14.%' or ToAccountCode like '14.%') and b.DocumentTypeID in (29) and len(ReferenceNo)<=9
inner join ContractAgencyInvoice C with(nolock) on c.BillRegisterNo=b.ReferenceNo collate database_default --and c.DocumentTypeID in (21)
left join WorkOrder D with(nolock) on isnull(d.WorkAwardNo,0)=isnull(c.DocumentNo,0)
union 
select distinct a.JournalVoucherOLID,a.JournalVoucherNo,b.DocumentTypeID,b.ReferenceNo,'DivisionAdjustment' TableName,a.DivisionAdjustmentID,AdjustmentDate
,(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) Amount from (
select DivisionAdjustmentID,AdjustmentDate,JournalVoucherNo,JournalVoucherOLID,WorkOrderNo from DivisionAdjustments A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName is null  and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID) ) A 
inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID 
and (FromAccountCode like'14.%' or ToAccountCode like '14.%') and b.DocumentTypeID in (2,22) and len(ReferenceNo)<=9
union 
select a.JournalVoucherOLID,a.JournalVoucherNo,(case when w.Legacy=1 then 22 else 2 end) DocumentTypeID,a.WorkOrderNo,'DivisionAdjustment' TableName,a.DivisionAdjustmentID,AdjustmentDate
,Sum(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) Amount from (
select DivisionAdjustmentID,AdjustmentDate,JournalVoucherNo,JournalVoucherOLID,WorkOrderNo from DivisionAdjustments A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName is null  and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID) ) A 
inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID 
and (FromAccountCode like'14.%' or ToAccountCode like '14.%') and WorkOrderNo is not NULL
left join WorkOrder W with(nolock) on w.WorkOrderNo=a.WorkOrderNo  
group by a.JournalVoucherOLID,a.JournalVoucherNo,(case when w.Legacy=1 then 22 else 2 end),a.WorkOrderNo,a.DivisionAdjustmentID,AdjustmentDate
union 
select OLID,a.JournalVoucherNo,a.DocumentTypeID,a.DocumentNo,'Categorization_JV' TableName,JournalVoucherNo,JournalVoucherDate,(case when FromAcHead like'14.%' then -isnull(Amount,0) else isnull(Amount,0) end) Amount 
from JVDetailsAnnexure1to8 A with(nolock) 
where FromAcHead like '10.%' and (ToAcHead like '14.%' or ToAcHead like '55.1%') 
and a.JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='Reversal_Categorization' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.OLID)
union 
select OLID,a.JournalVoucherNo,2 DocumentTypeID,a.DocumentNo,'Categorization' TableName,CostRegisterNo,JournalVoucherDate,(case when FromAcHead like'10.%' then isnull(Amount,0) else -isnull(Amount,0) end) Amount 
from (select * from JVDetailsAnnexure1to8 A with(nolock)  where a.JournalVoucherDate Between @FromFyYear and @ToFyYear 
and a.OLID in (select OLID from @AcOL)
and (FromAcHead like '10.%' or ToAcHead like '10.%')
and a.DocumentTypeID=40 and a.DocumentNo!=0 ) A
inner join CostRegister B with(nolock) on isnull(b.JournalVoucherNo,0)=a.JournalVoucherNo 
union 
select OLID,a.JournalVoucherNo,a.DocumentTypeID,a.DocumentNo,'Reversal_JV' TableName,JournalVoucherNo,JournalVoucherDate,(case when FromAcHead like'14.%' then -isnull(Amount,0) else isnull(Amount,0) end) Amount 
from JVDetailsAnnexure1to8 A  
where ToAcHead like '10.%' and (FromAcHead like '14.%' or FromAcHead like '55.1%') 
and a.JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='Reversal_Categorization' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.OLID)
union 
select OLID,a.JournalVoucherNo,a.DocumentTypeID,a.DocumentNo,'Reversal_JV' TableName,JournalVoucherNo,JournalVoucherDate,(case when FromAcHead like'14.%' then isnull(Amount,0) else -isnull(Amount,0) end) Amount 
from JVDetailsAnnexure1to8 A  
where (FromAcHead like '14.%' or ToAcHead like '14.%') and DocumentTypeID=2 
and a.JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='Reversal_Categorization' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.OLID)
union
select DocumentOLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'CostRegister' TableName,CostRegisterNo,CategorizationDate,TotalAmount from CostRegister A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='CostRegister' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union
select DocumentOLID,a.JournalVoucherNo,2 DocumentTypeID,b.DocumentNo,'CostRegister75900' TableName,CostRegisterNo,JournalVoucherDate,0 
from (select DoucmentNo,JournalVoucherNo,JournalVoucherDate from JournalVoucher A with(nolock) where DocumentTypeID=37
and JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='CostRegister' and b.JournalVoucherNo=a.JournalVoucherNo and b.OLID=a.OLID)
) A inner join CostRegister B with(nolock) on b.CostRegisterNo=a.DoucmentNo  
union
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'StoreInvoice_Accounts' TableName,StoreInvoiceNo TableRefNo,StoreInvoiceDate TableRefDate,0 AssetAmount from StoreInvoice_Accounts A with(nolock) 
where JournalVoucherNo in (select RectifiedJVNo from TempWorkOrderDetails B with(nolock) where b.TableName='Rectification' and b.RectifiedJVNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select DocumentOLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'CostRegister' TableName,CostRegisterNo,CategorizationDate,TotalAmount from CostRegister A with(nolock) 
where JournalVoucherNo in (select RectifiedJVNo from TempWorkOrderDetails B with(nolock) where b.TableName='Rectification' and b.RectifiedJVNo=a.JournalVoucherNo and b.OLID=a.JournalVoucherOLID)
union 
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'ALLInvoice' TableName,BillRegisterNo,JournalVoucherDate,0 from EnergySync_MISDW.dbo.ALLInvoiceBRDetailsMIS A with(nolock) 
where JournalVoucherNo in (select RectifiedJVNo from TempWorkOrderDetails B with(nolock) where b.TableName='Rectification' and b.RectifiedJVNo=a.JournalVoucherNo)
union
select a.OLID,b.JournalVoucherNo,a.DocumentTypeID,a.DocumentNo,'ALLInvoice' TableName,b.JournalVoucherNo,'' JournalVoucherDate,0 from (
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'StoreInvoice_Accounts' TableName from StoreInvoice_Accounts A with(nolock) 
where JournalVoucherNo in (select RectifiedJVNo from TempWorkOrderDetails B with(nolock) where b.TableName='Rectification' and b.RectifiedJVNo=a.JournalVoucherNo)
union 
select DocumentOLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'CostRegister' TableName from CostRegister A with(nolock) 
where JournalVoucherNo in (select RectifiedJVNo from TempWorkOrderDetails B with(nolock) where b.TableName='Rectification' and b.RectifiedJVNo=a.JournalVoucherNo)
union 
select OLID,JournalVoucherNo,DocumentTypeID,DocumentNo,'ALLInvoice' TableName from EnergySync_MISDW.dbo.ALLInvoiceBRDetailsMIS A with(nolock) 
where JournalVoucherNo in (select RectifiedJVNo from TempWorkOrderDetails B with(nolock) where b.TableName='Rectification' and b.RectifiedJVNo=a.JournalVoucherNo)
) A inner join TempWorkOrderDetails B with(nolock) on b.RectifiedJVNo=a.JournalVoucherNo 

) A left join OfficeLocationAccountingUnitDetails B with (nolock) on b.OLID=a.OLID 
) A left join WorkOrder B With(nolock) on b.WorkOrderNo=(case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end)
left join CivilWorkContractTypes CW with(nolock) on cw.CivilWorkContractTypeID=isnull(b.CivilWorkContractTypeID,0)
left join PurchaseOrder B1 With(nolock) on b1.PurchaseOrderNo=(case when a.DocumentTypeID in (1) then a.DocumentNo else 0 end) 
left join MaterialCode  B2 With(nolock) on b2.ItemID=(case when a.DocumentTypeID in (28) then a.DocumentNo else 0 end)
left join WOrkAllocation C with(nolock) on c.WOrkAllocationID=isnull(b.WOrkAllocationID,0)
outer apply (select * from (select WorkOrderNo,CompletionReportDate,CommissionedDate,CompletionDate,(Row_Number() over (Partition By WorkOrderNo Order By WorkOrderNo,CompletionReportDate desc,CompletionReportID desc)) RowNo
	from CompletionReport D with(nolock) where d.WorkOrderNo=b.WorkOrderNo AND ISNULL(Canceled,0) = 0 ) A where RowNo=1 ) CR
outer apply (select * from (select WorkOrderNo,CompletionReportDate,WorksCompletionDate,(Row_Number() over (Partition By WorkOrderNo Order By WorkOrderNo,CompletionReportDate desc,LegacyWOcompletionreportId desc)) RowNo
	from LegacyWOcompletionreport D with(nolock) where d.WorkOrderNo=b.WorkOrderNo AND ISNULL(Canceled,0) = 0 and Approved=1 ) A where RowNo=1 ) CR1
left join JournalVoucher E with(nolock) on e.JournalVoucherNo=a.JournalVoucherNo
left join CostRegister F with(nolock) on f.CostRegisterNo=(case when TableName='CWIP_OB' then TableRefNo else 0 end) 
outer apply (select distinct a1.ReceiptVoucherNo,concat(FromMainAccountCode,FromSubAccountCode) FromAcCode
	from ReceiptVoucherAbstract_Accounts a1 with(nolock) 
	inner join JournalVoucherDetails B with(nolock) on b.JournalVoucherNo=a1.JournalVoucherNo 
	and ( FromMainAccountCode like '14.%' or ToMainAccountCode like '14.%')
	where a1.ReceiptVoucherNo=(case when a.DocumentTypeID in (12) then a.DocumentNo else 0 end)) RV
outer apply (select distinct a1.StoreInvoiceNo,concat(ToMainAccountCode,ToSubAccountCode) ToAcCode
	from StoreInvoice_Accounts a1 with(nolock) 
	inner join JournalVoucherDetails B with(nolock) on b.JournalVoucherNo=a1.JournalVoucherNo 
	and ( FromMainAccountCode like '14.%' or ToMainAccountCode like '14.%')
	where a1.StoreInvoiceNo=(case when a.DocumentTypeID in (10) then a.DocumentNo else 0 end)) SI
left join OfficeLocationAccountingUnitDetails G with(nolock) on g.OLID=f.DocumentOLID
left join VoltageClass VC with(nolock) on vc.VoltageClassID=b.VoltageClassID
outer apply ( select top 1 (MainAccountCode+SubAccountCode) AcCode from (
select StockLedgerID,ItemID,OLID from StockLedger_Accounts a3 where a3.OLID=a.AcOLID  and a3.ItemID = b2.ItemID
		and a3.StockLedgerYear=Year(@FromFyYear) and a3.StockLedgerMonth=4) A3 
inner join StockLedgerOBDetails_Accounts a2 on a2.StockLedgerID=a3.StockLedgerID and a2.ItemID = a3.ItemID and a2.OLID=a3.OLID
inner join StockLedgerOBMaterialDetails_Accounts a1 on a1.StockLedgerOBDetailsID=a2.StockLedgerOBDetailsID ) SL
--where a.DocumentTypeID in (12)
--where A.JournalVoucherNo in (2235701) 
--where TableName='CWIP_OB' and a.DocumentTypeID=28 

--Order By JournalVoucherNo,DocumentNo,AcHead








GO
