USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_TBDETAILS]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TBDETAILS] @olid int,@loc varchar(1000),@fy varchar(10),@part int
as
select o.OfficeName,l.locationname,sb.MainAccountCode+sb.SubAccountCode+vc.VoltageClassCode AccountCode,sb.Description Particulars,sum(tbd.DebitAmount) DebitAmount,sum(tbd.CreditAmount) CreditAmount
from TBFinal tb
inner join TBFinalDetails tbd on tbd.TBFinalID=tb.TBFinalID
left join SubAccount sb on sb.MainAccountCode+sb.SubAccountCode=tbd.MainAccountCode+tbd.SubAccountCode Collate Database_Default
left join VoltageClass vc on vc.VoltageClassID=tbd.VoltageClassID
left join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=tb.OLID
left join Office o on o.OfficeID=ola.OfficeID
left join Location l on l.locationid=ola.locationid
where OLID=@olid and LocationCode=@loc and FinancialYear=@fy and tbd.Partid=@part
--where OLID=453 and LocationCode='475 - O&M Division  Kundapura' and FinancialYear='2016-2017' and tbd.Partid=1
group by o.OfficeName,l.locationname,sb.MainAccountCode+sb.SubAccountCode+vc.VoltageClassCode,sb.Description,tbd.Partid
GO
