USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[ScheduleImport]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ScheduleImport] @OLID int,@ConsumerName varchar(1000),@CCID varchar(100),@LocID varchar(100),@DocTypeID int,@DocumentNo varchar(500),@DocDate varchar(100) ,@Debit money,@Credit money,@SchTypeID int

AS 

Declare @Remarks varchar(max) set @Remarks=''
Declare @ScheduleID int 


                                Declare @SchID int
                                Declare @BRNo int
                                Declare @BRDate datetime
                                Declare @JVDate datetime
                                Declare @JVNo int
                                Declare @AcHead varchar(100)
                                Declare @HeadType varchar(100)
                                Declare @Amount money
                                Declare @DocTypeID1 int
                                Declare @ChqNo varchar(100)
                                Declare @OB money set @OB=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit end)
                                Declare @O money

if   ((@CCID='' AND  @ConsumerName='' AND @LocID='') OR (@CCID!='' AND  @ConsumerName!='' AND @LocID!='') 
OR (@CCID!='' AND  @ConsumerName!='' AND @LocID='') OR (@CCID='' AND  @ConsumerName!='' AND @LocID!='') OR (@CCID!='' AND  @ConsumerName='' AND @LocID!=''))

    set @Remarks ='Either of CCID or Consumer Name or Location ID has to be filled/ '

if (@DocTypeID not in(select DocumentTypeID from documenttypes))

    set @Remarks+='Please enter valid Document Type ID/ '

if (@SchTypeID not in(select ScheduleTypeID from ScheduleTypes))

    set @Remarks+='Please enter valid Schedule Type ID/ '

if(TRY_CONVERT(DATETIME, @DocDate,120) is NULL)

    set @Remarks+='Please enter valid Document Date/'

if( (@Debit<>'' and @Credit<>'') OR (@Debit=0 and @Credit=0) OR (@Debit is NULL and @Credit=0) OR (@Debit=0 and @Credit is NULL) )

    set @Remarks+='Please enter either Debit or Credit Amount.'

if(@LocID <>'' and @LocID not in(select  OfficeLocationAllocationID from OfficeLocationAllocation))

    set @Remarks+='Please enter valid Location ID'

if(@CCID <>'' and @CCID not in(select b.ContactCategoryAllocationID from Contacts a
                                                             inner join ContactCategoryAllocation  b on a.ContactID=b.ContactID
                                                             inner join ContactCategories c on b.ContactCategoryID=c.ContactCategoryID and c.ContactCategoryID in(1,9,2,12,3,10,20,21,22,19)))

    set @Remarks+='Please enter valid CCID'

if(@DocumentNo='')

    set @Remarks+='Please enter valid Document Number'

if(@DocDate='')

    set @Remarks+='Please enter valid Document Date'

if(@ConsumerName<>'' and @ConsumerName not like '%[A-Z]%' )

    set @Remarks+='Please enter valid Consumer Name only characters'


if(@DocTypeID in(1,2,3,10,12,21,22,33,34,40,29,27))

BEGIN

                            if(isnumeric(@DocumentNo))=0

                            set @Remarks+='Please enter valid numeric Document Number/'

                            if(@DoctypeID=1 and @DocumentNo not in(select cast(PurchaseOrderNo as varchar(1000)) from PurchaseOrder ))

                            set @Remarks+='Please enter Valid Purchase Order Number/'

                            if(@DoctypeID=2 and @DocumentNo not in(select cast(WorkOrderNo as varchar(1000)) from WorkOrder ))

                            set @Remarks+='Please enter Valid Work Order Number/'

                            if(@DoctypeID=3 and @DocumentNo not in((select cast(OfficeMemoNo as varchar(1000)) from OfficeMemo_Accounts ) union all (select cast(OfficeMemoNo as varchar(1000)) from OfficeMemo_hrms )))

                            set @Remarks+='Please enter Valid Office Memo Number/'

                            if(@DoctypeID=10 and @DocumentNo not in(select cast(StoreInvoiceNo as varchar(1000)) from StoreInvoice_Accounts ))

                            set @Remarks+='Please enter Valid Store Invoice Number/'

                            if(@DoctypeID=12 and @DocumentNo not in(select cast(ReceiptVoucherNo as varchar(1000)) from ReceiptVoucherAbstract_Accounts ))

                            set @Remarks+='Please enter Valid Receipt Voucher Number/'

                            if(@DoctypeID=21 and @DocumentNo not in(select cast(WorkAwardNo as varchar(1000)) from WorkAwardAbstract ))

                            set @Remarks+='Please enter Valid Work Award Number/'

                            if(@DoctypeID=22 and @DocumentNo not in(select cast(WorkOrderNo as varchar(1000)) from WorkOrder where Legacy=1 ))

                            set @Remarks+='Please enter Valid Legacy Work Order Number/'

                            if(@DoctypeID=29 and @DocumentNo not in(select cast(BillRegisterNo as varchar(1000)) from BillRegisterNoInvoiceTypeAllocation))

                            set @Remarks+='Please enter Valid Bill Register Number/'

                            if(@DoctypeID=33 and @DocumentNo not in(select cast(ReceiptVoucherNo as varchar(1000)) from ReceiptVoucherAbstract_Accounts))

                            set @Remarks+='Please enter Valid Receipt Voucher Number/'

                            if(@DoctypeID=34 and @DocumentNo not in(select cast(ChequeID as varchar(1000))  from Cheques))

                            set @Remarks+='Please enter Valid Cheque Number/'

                            if(@DoctypeID=40 and @DocumentNo not in(select cast(JournalVoucherNo as varchar(1000))  from JournalVoucher))

                            set @Remarks+='Please enter Valid Journal Voucher Number/'

                            if(@DoctypeID=27 and @DocumentNo not in(select cast(CompletionReportID as varchar(1000))  from CompletionReport))

                            set @Remarks+='Please enter Valid Completion Report Number/'


END

if @Remarks=''
begin
            set @Remarks='Valid' select @Remarks

            Insert into SchedulesFrontEndImportData
            select @OLID,@ConsumerName,@CCID,@LocID,@DocTypeID,@DocumentNo,@DocDate ,@Debit,@Credit,@SchTypeID,getdate(),@Remarks,0

             if EXISTS(select * from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=(case when @CCID<>'' then ContactID when @LocID<>'' then @LocID end) 
                               and ContactCategoryID=(case when @CCID<>'' then ContactCategoryID when @LocID<>'' then 11 end) and DocumentNo=@DocumentNo and Complete=0
                               union all
                               select * from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=0 and ContactCategoryID=7 and DocumentNo=@DocumentNo and Complete=0  and ContactName=@ConsumerName)
               BEGIN 
                            if(@CCID<>'')
                                BEGIN
                                   
                                        update Schedules set Complete=1  where ScheduleID in(select ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=ContactID
                                        and ContactCategoryID=ContactCategoryID  and DocumentNo=@DocumentNo and Complete=0) 
                                        and ScheduleID not in(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=(case when @CCID<>'' then ContactID when @LocID<>'' then @LocID  end) 
                                        and ContactCategoryID=ContactCategoryID  and DocumentNo=@DocumentNo and Complete=0 order by ScheduleID desc)
                                
                                        update Schedules set Balance=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit when @Debit=@Credit then @Debit end) ,Amount=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit when @Debit=@Credit then @Debit end) 
                                        where ScheduleID=(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=ContactID and ContactCategoryID=ContactCategoryID and DocumentNo=@DocumentNo and Complete=0 order by ScheduleID desc)

                                        set @ScheduleID=(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=ContactID and ContactCategoryID=ContactCategoryID and DocumentNo=@DocumentNo and Complete=0 order by ScheduleID desc)
                                  
                                        delete from ScheduleDetails where ScheduleID=@ScheduleID 
                                        
                                          if exists(select * from ScheduleDataView where scheduleID=@ScheduleID)
                                       
                                      BEGIN
                                      Declare db_cursor CURSOR For

                                      select ScheduleID,BillRegisterNo,BillRegisterDate,JournalVoucherDate,JournalVoucherNo,AccHead,HeadType,Amount,DocumentType,ChequeNo
                                      from ScheduleDataView where ScheduleID=@ScheduleID
                                      order by  JournalVoucherDate

                                     OPEN db_cursor  
                                      FETCH NEXT FROM db_cursor INTO @SchID,@BRNo,@BRDate,@JVDate,@JVNo,@AcHead,@HeadType,@Amount,@DocTypeID1,@ChqNo

                                      WHILE @@FETCH_STATUS = 0  
                                       BEGIN  

                                           if (@HeadType = 'Debit' )
                                             begin
                                             set @O=@OB
                                             set @OB=@OB+@Amount
                                              INSERT INTO ScheduleDetails (ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                              select @SchID,@OLID ,substring(@AcHead,1,4) ,substring(@AcHead,5,6) ,month(@JVDate) ,year(@JVDate) ,@O,@JvNo,@OLID,@Amount,@Amount,null,null,null,null, @OB, @BRNo, @JVDate,'' ,@DocTypeID1 ,@BRNo , ''
                                             end

                                           if (@HeadType='Credit')
                                           begin
                                           set @O=@OB
                                           set @OB=@OB-@Amount
                                           INSERT INTO ScheduleDetails (ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, 
                                           CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                           select @SchID,@OLID ,substring(@AcHead,1,4) ,substring(@AcHead,5,6) ,month(@JVDate) ,year(@JVDate) ,@O,null,null,null,null,@JvNo,@OLID,@Amount ,@Amount , @OB, @BRNo, @BRDate,'' ,@DocTypeID1 ,@BRNo , @ChqNo
                                           end

                                         FETCH NEXT FROM db_cursor INTO @SchID,@BRNo,@BRDate,@JVDate,@JVNo,@AcHead,@HeadType,@Amount,@DocTypeID1,@ChqNo
                                      END  

                                   CLOSE db_cursor  
                                   DEALLOCATE db_cursor 
                                
                                   update Schedules set Balance=@OB where ScheduleID=@SchID
                                END
                                ELSE
                                BEGIN
                                   insert into ScheduleDetails(ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, 
                                   CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                   select @ScheduleID,@OLID,(select MainAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),(select SubAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),
                                   4,2017,(case when @Debit>@Credit then @Debit else @Credit end),null,null,(case when @Debit>@Credit then @Debit else NULL end),(case when @Debit>@Credit then @Debit else NULL end),null,null,
                                   (case when @Credit>@Debit then @Credit else NULL end),(case when @Credit>@Debit then @Credit else NULL end),(case when @Debit>@Credit then @Debit else @Credit end),@DocumentNo,@DocDate,'',@DocTypeID,@DocumentNo,''

                               END
                                END

                            if(@LocID<>'')
                                BEGIN
                                   
                                        update Schedules set Complete=1  where ScheduleID in(select ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=@LocID
                                        and ContactCategoryID=11  and DocumentNo=@DocumentNo and Complete=0) 
                                        and ScheduleID not in(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=@LocID 
                                        and ContactCategoryID=11  and DocumentNo=@DocumentNo and Complete=0 order by ScheduleID desc)

                                        update Schedules set Balance=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit when @Debit=@Credit then @Debit end) ,Amount=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit when @Debit=@Credit then @Debit end) 
                                        where ScheduleID=(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=@LocID and ContactCategoryID=11 and DocumentNo=@DocumentNo and Complete=0 order by ScheduleID desc)

                                        set @ScheduleID=(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=@LocID and ContactCategoryID=11 and DocumentNo=@DocumentNo and Complete=0 order by ScheduleID desc)
                                  
                                        delete from ScheduleDetails where ScheduleID=@ScheduleID 
                      
                                        if exists(select *  from SecurityDeposit sd
                                                          inner join SecurityDepositDetails sdd on sdd.SecurityDepositId=sd.SecurityDepositId
                                                          inner join Schedules s on sd.ContactCategoryId=sd.ContactCategoryId and sd.ContactId=s.ContactID and sd.DocumentTypeId=s.DocumentTypeID and sd.DocumentNumber=s.DocumentNo
                                                          inner join ScheduleTypes st on st.ScheduleTypeID=s.ScheduleTypeID where s.ScheduleID=@ScheduleID)
 
                                          BEGIN
                                           declare @bal int=(select Balance from Schedules where ScheduleID=@ScheduleID)

                                           insert into ScheduleDetails(ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                           select s.ScheduleID,s.ScheduleOLID,st.MainAccountCode,st.SubAccountCode,month(sdd.ReferenceDate),year(sdd.ReferenceDate),(case when @Debit<>0 then @Debit else @Credit end),null,null,null,null,null,null,
                                           sdd.Amount,sdd.Amount,s.Balance-sdd.Amount,sdd.ReferenceNumber,sdd.ReferenceDate,sdd.Remarks,sd.DocumentTypeId,sd.SecurityDepositId,''
                                           from SecurityDeposit sd
                                           inner join SecurityDepositDetails sdd on sdd.SecurityDepositId=sd.SecurityDepositId
                                           inner join Schedules s on sd.ContactCategoryId=sd.ContactCategoryId and sd.ContactId=s.ContactID and sd.DocumentTypeId=s.DocumentTypeID and sd.DocumentNumber=s.DocumentNo
                                           inner join ScheduleTypes st on st.ScheduleTypeID=s.ScheduleTypeID
                                            where s.ScheduleID=@ScheduleID

                                           update s set balance=ClosingBalance
                                           from ScheduleDetails sd 
                                           inner join Schedules s on s.ScheduleID=sd.ScheduleID
                                           where ScheduleDetailsID in(select max(ScheduleDetailsID) from ScheduleDetails group by ScheduleID)
                                           and s.ScheduleID=@ScheduleID
                                           declare @bal1 int=(select Balance from Schedules where ScheduleID=@ScheduleID)

                                           END
                                      ELSE
                                           BEGIN 
                                            insert into ScheduleDetails(ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, 
                                            CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                            select @ScheduleID,@OLID,(select MainAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),(select SubAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),
                                            4,2017,(case when @Debit>@Credit then @Debit else @Credit end),null,null,(case when @Debit>@Credit then @Debit else NULL end),(case when @Debit>@Credit then @Debit else NULL end),null,null,
                                            (case when @Credit>@Debit then @Credit else NULL end),(case when @Credit>@Debit then @Credit else NULL end),(case when @Debit>@Credit then @Debit else @Credit end),@DocumentNo,@DocDate,'',@DocTypeID,@DocumentNo,''

                                            END
                                  END

                                  IF (@ConsumerName<>'')
                                  BEGIN
                                                              
                                      update Schedules set Complete=1 
                                      where ScheduleID in(select ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=0 and ContactCategoryID=7 and DocumentNo=@DocumentNo 
                                                                           and Complete=0 and ContactName=@ConsumerName) and ScheduleID not in(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=0 and ContactCategoryID=7 and DocumentNo=@DocumentNo 
                                                                           and Complete=0 and ContactName=@ConsumerName order by ScheduleID desc)

                                      update Schedules set Balance=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit when @Debit=@Credit then @Debit end) ,Amount=(case when @Debit=0 then -@Credit when @Credit=0 then @Debit when @Debit=@Credit then @Debit end) 
                                      where ScheduleID=(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=0 and ContactCategoryID=7 and DocumentNo=@DocumentNo 
                                                                                  and Complete=0 and ContactName=@ConsumerName order by ScheduleID desc)

                                       set @ScheduleID=(select top 1 ScheduleID from Schedules where scheduletypeid=@SchTypeID and ScheduleOLID=@OLID and ContactID=0 and ContactCategoryID=7 and DocumentNo=@DocumentNo 
                                                                                  and Complete=0 and ContactName=@ConsumerName order by ScheduleID desc)

                                       delete from ScheduleDetails where ScheduleID=@ScheduleID 
    
                                       if exists(select * from ScheduleDataView where scheduleID=@ScheduleID)
                                       
                                      BEGIN
                                      Declare db_cursor CURSOR For

                                      select ScheduleID,BillRegisterNo,BillRegisterDate,JournalVoucherDate,JournalVoucherNo,AccHead,HeadType,Amount,DocumentType,ChequeNo
                                      from ScheduleDataView where ScheduleID=@ScheduleID
                                      order by  JournalVoucherDate

                                     OPEN db_cursor  
                                      FETCH NEXT FROM db_cursor INTO @SchID,@BRNo,@BRDate,@JVDate,@JVNo,@AcHead,@HeadType,@Amount,@DocTypeID1,@ChqNo

                                      WHILE @@FETCH_STATUS = 0  
                                       BEGIN  

                                           if (@HeadType = 'Debit' )
                                             begin
                                             set @O=@OB
                                             set @OB=@OB+@Amount
                                              INSERT INTO ScheduleDetails (ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                              select @SchID,@OLID ,substring(@AcHead,1,4) ,substring(@AcHead,5,6) ,month(@JVDate) ,year(@JVDate) ,@O,@JvNo,@OLID,@Amount,@Amount,null,null,null,null, @OB, @BRNo, @JVDate,'' ,@DocTypeID1 ,@BRNo , ''
                                             end

                                           if (@HeadType='Credit')
                                           begin
                                           set @O=@OB
                                           set @OB=@OB-@Amount
                                           INSERT INTO ScheduleDetails (ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, 
                                           CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                           select @SchID,@OLID ,substring(@AcHead,1,4) ,substring(@AcHead,5,6) ,month(@JVDate) ,year(@JVDate) ,@O,null,null,null,null,@JvNo,@OLID,@Amount ,@Amount , @OB, @BRNo, @BRDate,'' ,@DocTypeID1 ,@BRNo , @ChqNo
                                           end

                                         FETCH NEXT FROM db_cursor INTO @SchID,@BRNo,@BRDate,@JVDate,@JVNo,@AcHead,@HeadType,@Amount,@DocTypeID1,@ChqNo
                                      END  

                                   CLOSE db_cursor  
                                   DEALLOCATE db_cursor 
                                
                                   update Schedules set Balance=@OB where ScheduleID=@SchID
                                END
                                ELSE
                                BEGIN
                                   insert into ScheduleDetails(ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, 
                                   CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                   select @ScheduleID,@OLID,(select MainAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),(select SubAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),
                                   4,2017,(case when @Debit>@Credit then @Debit else @Credit end),null,null,(case when @Debit>@Credit then @Debit else NULL end),(case when @Debit>@Credit then @Debit else NULL end),null,null,
                                   (case when @Credit>@Debit then @Credit else NULL end),(case when @Credit>@Debit then @Credit else NULL end),(case when @Debit>@Credit then @Debit else @Credit end),@DocumentNo,@DocDate,'',@DocTypeID,@DocumentNo,''

                               END
                     END
               end

               ELSE
                   BEGIN
                         if(@LocID>0)
                           BEGIN
                                INSERT INTO Schedules(ScheduleOLID, ScheduleTypeID, ContactCategoryID, ContactID, ContactName, DocumentTypeID, DocumentNo, DocumentOLID, Balance, Amount, InstallmentCount, Complete, ExternalOrganisationID, ExternalOrganisationBrachID)
                                select distinct @OLID,@SchTypeID,11 ContactCategoryID,@LocID ,(select FileAs from OfficeLocationAllocation where OfficeLocationAllocationID=@LocID) ContactName, @DocTypeID,@DocumentNo,
                                @OLID,(case when @Debit=0 then @Credit when @Credit=0 then @Debit end) Balance,(case when @Debit=0 then @Credit when @Credit=0 then @Debit end) Amount,0,0,0,null
                                SET @ScheduleID=SCOPE_IDENTITY() 
                           END
                           if (@CCID>0) 
                           BEGIN
                                INSERT INTO Schedules(ScheduleOLID, ScheduleTypeID, ContactCategoryID, ContactID, ContactName, DocumentTypeID, DocumentNo, DocumentOLID, Balance, Amount, InstallmentCount, Complete, ExternalOrganisationID, ExternalOrganisationBrachID)
                                select distinct @OLID,@SchTypeID,b.ContactCategoryID ContactCategoryID,a.ContactID ContactID,a.FileAs  ContactName,@DocTypeID,@DocumentNo,@OLID,
                                (case when @Debit=0 then -@Credit when @Credit=0 then @Debit end) Balance,(case when @Debit=0 then -@Credit when @Credit=0 then @Debit end) Amount,0,0,0,null
                                from Contacts a
                                 inner join ContactCategoryAllocation  b on a.ContactID=b.ContactID and b.ContactCategoryAllocationID=@CCID
                                 inner join ContactCategories c on b.ContactCategoryID=c.ContactCategoryID and c.ContactCategoryID in(1,9,2,12,3,10,20,21,22,19) 
                                 SET @ScheduleID=SCOPE_IDENTITY() 
                           END
                           if(@ConsumerName<>'') 
                           BEGIN 
                                INSERT INTO Schedules(ScheduleOLID, ScheduleTypeID, ContactCategoryID, ContactID, ContactName, DocumentTypeID, DocumentNo, DocumentOLID, Balance, Amount, InstallmentCount, Complete, ExternalOrganisationID, ExternalOrganisationBrachID)
                                select distinct @OLID,@SchTypeID,7  ContactCategoryID,0 ContactID, @ConsumerName ContactName,@DocTypeID,@DocumentNo,@OLID,
                                (case when @Debit=0 then -@Credit when @Credit=0 then @Debit end) Balance,(case when @Debit=0 then -@Credit when @Credit=0 then @Debit end) Amount,0,0,0,null
                                SET @ScheduleID=SCOPE_IDENTITY() 
                           END
                           if exists(select * from ScheduleDataView where scheduleID=@ScheduleID)
                           BEGIN
                                
                                Declare db_cursor CURSOR For
                                    
                                select ScheduleID,BillRegisterNo,BillRegisterDate,JournalVoucherDate,JournalVoucherNo,AccHead,HeadType,Amount,DocumentType,ChequeNo
                                from ScheduleDataView where ScheduleID=@ScheduleID order by  JournalVoucherDate

                                OPEN db_cursor  
                                FETCH NEXT FROM db_cursor INTO @SchID,@BRNo,@BRDate,@JVDate,@JVNo,@AcHead,@HeadType,@Amount,@DocTypeID1,@ChqNo

                                WHILE @@FETCH_STATUS = 0  
                                BEGIN  
                                        if (@HeadType = 'Debit' )
                                        begin
                                            set @O=@OB
                                            set @OB=@OB+@Amount
                                            INSERT INTO ScheduleDetails (ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                            select @SchID,@OLID ,substring(@AcHead,1,4) ,substring(@AcHead,5,6) ,month(@JVDate) ,year(@JVDate),@O
                                            ,@JvNo,@OLID,@Amount,@Amount,null,null,null,null, @OB, @BRNo, @JVDate,'' ,@DocTypeID1 ,@BRNo , ''
                                        end

                                        if (@HeadType='Credit')
                                        begin
                                            set @O=@OB
                                            set @OB=@OB-@Amount
                                            INSERT INTO ScheduleDetails (ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                            select @SchID,@OLID ,substring(@AcHead,1,4) ,substring(@AcHead,5,6) ,month(@JVDate) ,year(@JVDate) ,@O
                                            ,null,null,null,null,@JvNo,@OLID,@Amount ,@Amount , @OB, @BRNo, @BRDate,'' ,@DocTypeID1 ,@BRNo , @ChqNo
                                        end

                                        FETCH NEXT FROM db_cursor INTO @SchID,@BRNo,@BRDate,@JVDate,@JVNo,@AcHead,@HeadType,@Amount,@DocTypeID1,@ChqNo
                                END  

                                CLOSE db_cursor  
                                DEALLOCATE db_cursor 
                                
                                update Schedules set Balance=@OB where ScheduleID=@SchID

                           END
                           
                           else if exists(select *  from SecurityDeposit sd
                                                      inner join SecurityDepositDetails sdd on sdd.SecurityDepositId=sd.SecurityDepositId
                                                      inner join Schedules s on sd.ContactCategoryId=sd.ContactCategoryId and sd.ContactId=s.ContactID and sd.DocumentTypeId=s.DocumentTypeID and sd.DocumentNumber=s.DocumentNo
                                                      inner join ScheduleTypes st on st.ScheduleTypeID=s.ScheduleTypeID where s.ScheduleID=@ScheduleID)
 
                             BEGIN
                                           insert into ScheduleDetails(ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                           select s.ScheduleID,s.ScheduleOLID,st.MainAccountCode,st.SubAccountCode,month(sdd.ReferenceDate),year(sdd.ReferenceDate),(case when @Debit>@Credit then @Debit else @Credit end),null,null,null,null,null,null,
                                           sdd.Amount,sdd.Amount,s.Balance-sdd.Amount,sdd.ReferenceNumber,sdd.ReferenceDate,sdd.Remarks,sd.DocumentTypeId,sd.SecurityDepositId,''
                                           from SecurityDeposit sd
                                           inner join SecurityDepositDetails sdd on sdd.SecurityDepositId=sd.SecurityDepositId
                                           inner join Schedules s on sd.ContactCategoryId=sd.ContactCategoryId and sd.ContactId=s.ContactID and sd.DocumentTypeId=s.DocumentTypeID and sd.DocumentNumber=s.DocumentNo
                                           inner join ScheduleTypes st on st.ScheduleTypeID=s.ScheduleTypeID
                                            where s.ScheduleID=@ScheduleID
                         
                                           update s set balance=ClosingBalance
                                           from ScheduleDetails sd 
                                           inner join Schedules s on s.ScheduleID=sd.ScheduleID
                                           where ScheduleDetailsID in(select max(ScheduleDetailsID) from ScheduleDetails group by ScheduleID)
                                           and s.ScheduleID=@ScheduleID
                                END
                                Else
                                BEGIN 
                                            insert into ScheduleDetails(ScheduleID, OLID, MainAccountCode, SubAccountCode, ScheduleMonth, ScheduleYear, OpeningBalance, DebitJournalVoucherNo, DebitJournalVoucherOLID, DebitCash, DebitTotal, 
                                            CreditJournalVoucherNo, CreditJournalVoucherOLID, CreditCash, CreditTotal, ClosingBalance, ReferenceNo, ReferenceDate, Remarks, DocumentTypeID, DocumentNo, ChequeNo) 
                                            select @ScheduleID,@OLID,(select MainAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),(select SubAccountCode from ScheduleTypes where ScheduleTypeID=@SchTypeID),
                                            4,2017,(case when @Debit>@Credit then @Debit else @Credit end),null,null,(case when @Debit>@Credit then @Debit else NULL end),(case when @Debit>@Credit then @Debit else NULL end),null,null,
                                            (case when @Credit>@Debit then @Credit else NULL end),(case when @Credit>@Debit then @Credit else NULL end),(case when @Debit>@Credit then @Debit else @Credit end),@DocumentNo,@DocDate,'',@DocTypeID,@DocumentNo,''

                                  END
                   END
end
else  select @Remarks
--------------------
GO
