USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ScheduleReportCredit_backup]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE  PROCEDURE [dbo].[SP_ScheduleReportCredit_backup]
    @YearID Int ,
    @MonthID Int ,
    @typee int ,
    @olid int

AS SET NOCOUNT ON


--Declare @YearID Int = 2025
--Declare @MonthID Int = 6
----Declare @typee int = 66 
--Declare @typee int = (select ScheduleTypeID from ScheduleTypes with(nolock) where MainAccountCode='27.2' and SubAccountCode='03' and Display=1)
--Declare @olid int = 343



Declare @AcCode Varchar(10) = (select (MainAccountCode+SubAccountCode) from ScheduleTypes a where ScheduleTypeID = @typee)
Declare @Date DateTime = (select EOMonth(dateadd(month,-1,convert(DateTime,concat(@YearID,'-',@MonthID,'-1')))))
Declare @Date1 DateTime = (select EOMonth(convert(DateTime,concat(@YearID,'-',@MonthID,'-1'))))
Declare @FFYYear DateTime = (select convert(dateTime,CONCAT((case when @MonthID in (1,2,3) then @YearID-1 else @YearID end),'-',4,'-',1))) 
Declare @ScheduleID int = 0




Declare @SCID Table (ScheduleID Int) 
Insert Into @SCID
select Distinct ScheduleID from (
select ScheduleID,ScheduleDetailsID,ScheduleDetailsID ReferanceScheduleDetailsID,DocumentTypeID,DocumentNo,ReferenceDate,ClosingBalance OB,0 Debit,0 Credit,0 CB
,(Row_Number() over (Partition By ScheduleID Order By ScheduleID,ScheduleYear desc,ScheduleMonth desc,ScheduleDetailsID desc)) as MaxNo 
,convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) ScDate
from ScheduleDetails sd with (nolock) 
where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
) A Where MaxNo=1 and (OB)!=0 
--select * from @SCID


Declare @OB Table (ScheduleID Int,ScheduleDetailsID Int,ScDate DateTime,RFNO Varchar(500),OB Money,DocumentNo Varchar(500)) 
Insert Into @OB
select ScheduleID,ScheduleDetailsID,convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) ScDate
,concat(case when DocumentTypeID= 29 then 'BrNo' 
when DocumentTypeID=40   then 'JvNo' 
when DocumentTypeID=55 then 'RtNo' 
when DocumentTypeID=12 then 'RvNo' end ,'/',' ', DocumentNo ,'/',' ',CONVERT(VARCHAR(10), ReferenceDate, 120)) RFNO
,(isnull(DebitTotal,0)-isnull(CreditTotal,0)) OB,DocumentNo
from ScheduleDetails sd with (nolock) 
where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (isnull(DebitTotal,0)-isnull(CreditTotal,0))!=0 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
and ScheduleID in (select ScheduleID from @SCID)
--select top 10 * from --StoreInvoice_Accounts
--Schedules where ScheduleID=2164108



Declare @Trans Table (ScheduleID Int,ScheduleDetailsID Int,ReferanceScheduleDetailsID Int,ReferenceDate DateTime,RFNO Varchar(500),Debit Money,Credit Money,DocumentNo Varchar(500)) 
Insert Into @Trans
select ScheduleID,ScheduleDetailsID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID) ReferanceScheduleDetailsID,ReferenceDate
,concat(case when DocumentTypeID= 29 then 'BrNo' when DocumentTypeID=40   then 'JvNo' when DocumentTypeID=55 then 'RtNo' when DocumentTypeID=12 then 'RvNo' end ,'/',' ', DocumentNo ,'/',' ',CONVERT(VARCHAR(10), ReferenceDate, 120)) RFNO
,isnull(DebitTotal,0) Debit,isnull(CreditTotal,0) Credit,DocumentNo 
from ScheduleDetails sd with (nolock) 
where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) Between @Date+1 and @Date1
and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
and (isnull(DebitTotal,0))!=0 


Declare @Trans1 Table (ScheduleID Int,ScheduleDetailsID Int,ReferanceScheduleDetailsID Int,ReferenceDate DateTime,RFNO Varchar(500),Debit Money,Credit Money,DocumentNo Varchar(500)) 
Insert Into @Trans1
select ScheduleID,ScheduleDetailsID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID) ReferanceScheduleDetailsID,ReferenceDate
,concat(case when DocumentTypeID= 29 then 'BrNo' when DocumentTypeID=40   then 'JvNo' when DocumentTypeID=55 then 'RtNo' when DocumentTypeID=12 then 'RvNo' end ,'/',' ', DocumentNo ,'/',' ',CONVERT(VARCHAR(10), ReferenceDate, 120)) RFNO
,isnull(DebitTotal,0) Debit,isnull(CreditTotal,0) Credit,DocumentNo 
from ScheduleDetails sd with (nolock) 
where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) Between @Date+1 and @Date1
and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
and (isnull(CreditTotal,0))!=0 

select *,(case when nSlNo=1 then (Sum(ClosingBalance) over(partition by ContactName,ScheduleID Order by ContactName,ScheduleID )) else 0 end) CB1 from (
select * ,(Sum(OpeningBalance+Addition-Subtraction) over(partition by ContactName,ReferanceScheduleDetailsID Order by ContactName,ReferanceScheduleDetailsID,NSlNo desc,OrderNo )) ClosingBalance
from (
select ScheduleID,ScheduleDetailsID,ReferanceScheduleDetailsID,ContactID,ContactName
,OB_RFNO RFNO1,(case when OBSlNo=1 then (case when isnull(CreditHead,0)=1 then -OB else OB end) else 0 end) OpeningBalance
,(case when isnull(CreditHead,0)=1 then (case when Credit!=0 then RFNO_C else '' end) else (case when Debit!=0 then RFNO_D else '' end) end)  RFNO2
,(case when isnull(CreditHead,0)=1 then Credit else Debit end) Addition
,(case when isnull(CreditHead,0)=1 then (case when Debit!=0 then RFNO_D else '' end) else (case when Credit!=0 then RFNO_C else '' end) end) RFNO3
,(case when isnull(CreditHead,0)=1 then Debit else Credit end) Subtraction
,'' RFNO4
--,(case when isnull(CreditHead,0)=1 then -CB2 else CB2 end)  ClosingBalance1
,1 CBSlNo,OBSlNo,(case when OBSlNo=1 then (case when isnull(CreditHead,0)=1 then -OB else OB end) else 0 end) OB1
--,(case when OrderNo2=1 then (case when isnull(CreditHead,0)=1 then -CB else CB end) else 0 end) CB
,OrderNo1 NSlNo,OrderNo from (

select *,(Row_Number() over (partition by ReferanceScheduleDetailsID,OB order by ReferanceScheduleDetailsID,OB,RFNO_D,RFNO_C)) OBSlNo from (
select distinct ScheduleTypeID,isnull(ct.ContactID,0) ContactID,isnull(ct.Fileas,Contactname) ContactName,isnull(isnull(a.ScheduleDetailsID,b.ReferanceScheduleDetailsID),b1.ReferanceScheduleDetailsID) ReferanceScheduleDetailsID
,isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID) ScheduleID,isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID) ScheduleDetailsID
,isnull(ScDate,isnull(b.ReferenceDate,b1.ReferenceDate)) ScDate
,isnull(a.RFNO,'') OB_RFNO,isnull(OB,0) OB
,isnull(b.Debit,0) Debit
,isnull(b1.Credit,0) Credit
,(Sum(isnull(OB,0)+isnull(b.Debit,0)-isnull(b1.Credit,0)) over(Partition By isnull(ct.Fileas,Contactname),isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID) Order By isnull(ct.Fileas,Contactname),isnull(ct.ContactID,0),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(ScDate,@FFYYear),isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID))) CB  
,(ROW_NUMBER() over (Partition By isnull(ct.Fileas,Contactname),isnull(ct.ContactID,0),isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID) Order By isnull(ct.Fileas,Contactname),isnull(ct.ContactID,0),isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID),isnull(ScDate,@FFYYear),isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID))) OrderNo  
,(ROW_NUMBER() over(Partition By isnull(ct.Fileas,Contactname) Order By isnull(ct.Fileas,Contactname),isnull(ct.ContactID,0),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(ScDate,@FFYYear) Desc,isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID) Desc,isnull(b.RFNO,'') desc,isnull(b1.RFNO,'') desc)) OrderNo1  
,(ROW_NUMBER() over(Partition By isnull(ct.Fileas,Contactname),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID) Order By isnull(ct.Fileas,Contactname),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(ScDate,@FFYYear) Desc,isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID) Desc)) OrderNo2  
,(Sum(isnull(OB,0)+isnull(b.Debit,0)-isnull(b1.Credit,0)) over(Partition By isnull(ct.Fileas,Contactname),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(isnull(a.DocumentNo,b.DocumentNo),b1.DocumentNo)  Order By isnull(ct.Fileas,Contactname),isnull(ct.ContactID,0),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(ScDate,@FFYYear),isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID))) CB2  
,isnull(b.RFNO,'') RFNO_D,isnull(b1.RFNO,'') RFNO_C
,isnull(b.ReferenceDate,b1.ReferenceDate) ReferenceDate
from @OB A 
full Join @Trans B on B.ScheduleID=A.ScheduleID and B.ReferanceScheduleDetailsID=A.ScheduleDetailsID
full Join @Trans1 B1 on B1.ScheduleID=isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID) and B1.ReferanceScheduleDetailsID=isnull(A.ScheduleDetailsID,b.ReferanceScheduleDetailsID)
left join Schedules C with(nolock) on c.ScheduleID=isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID)
left join Contacts CT with(nolock) on ct.ContactID=isnull(c.ContactID,0) 
--where a.ScheduleID in (2271316,2164108)
) A 
) A left join (select ScheduleTypeID,isnull(Credit,0) CreditHead from ScheduleTypes with(nolock) where isnull(Credit,0)=1) C on C.ScheduleTypeID=a.ScheduleTypeID
) A ) A Order By ContactName,NSlNo desc,OrderNo









GO
