USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[JV_Analysis_MIS]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[JV_Analysis_MIS] @AcOLID Int,@LC Varchar(10),@FYYear Varchar(20),@ToDate DateTime,@AcCode Varchar(20) 
AS SET NOCOUNT ON

--Declare @AcOLID Int select @AcOLID = 337
--Declare @LC Varchar(10) select @LC = '761'
--Declare @FYYear Varchar(20) select @FYYear = '2025-2026' 
--Declare @ToDate DateTime select @ToDate = '2025-10-31' 
--Declare @AcCode Varchar(20) select @AcCode = 'All'




Declare @FromDate DateTime select @FromDate = (select convert(DateTime,concat(left(@FYYear,4),'-04-01')))
Declare @ToDate1 DateTime select @ToDate1 = (select convert(DateTime,concat(right(@FYYear,4),'-03-31')))
Declare @JVNo1 Int select @JVNo1 = 0



 
Declare @JVNo Table (LocationCode Varchar(10),OLID Int,JournalVoucherNo Int,JournalVoucherDate DateTime,RectifiedJVNo Int,DocumentTypeID Int,DocumentNo Int,Narration Varchar(Max),OfficialReferenceNo Varchar(50))
IF @AcCode='All' 
Insert Into @JVNo
select ltrim(rtrim(left(LocationCode,3))) LocationCode,OLID,JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DoucmentNo,Narration,OfficialReferenceNo
from JournalVoucher A with (nolock) where Approved=1 and isnull(DocumentTypeID,0)!=43 
and OLID=@AcOLID and JournalVoucherDate Between @FromDate and @ToDate1 and JournalVoucherDate <= @ToDate
and Year(JournalVoucherDate)=Year(@ToDate) and Month(JournalVoucherDate)=Month(@ToDate) 
and (case when @LC='All' then 'All' else ltrim(rtrim(left(LocationCode,3))) end)=@LC
and (case when @JVNo1=0 then 0 else JournalVoucherNo end) = @JVNo1

else 
Insert Into @JVNo
select ltrim(rtrim(left(LocationCode,3))) LocationCode,OLID,JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DoucmentNo,Narration,OfficialReferenceNo
from JournalVoucher A with (nolock) where Approved=1 and isnull(DocumentTypeID,0)!=43 
and OLID=@AcOLID and JournalVoucherDate Between @FromDate and @ToDate1 and JournalVoucherDate <= @ToDate
and (case when @LC='All' then 'All' else ltrim(rtrim(left(LocationCode,3))) end)=@LC
and (case when @JVNo1=0 then 0 else JournalVoucherNo end) = @JVNo1
and JournalVoucherNo in (select JournalVoucherNo from JournalVoucherDetails B with (nolock) where b.JournalVoucherNo=a.JournalVoucherNo 
	and ((case when @AcCode='All' then 'All' else (FromMainAccountCode+FromSubAccountCode) end)=@AcCode
	or (case when @AcCode='All' then 'All' else (ToMainAccountCode+ToSubAccountCode) end)=@AcCode ))


Declare @JVD Table (LocationCode Varchar(10),OLID Int,JournalVoucherNo Int,JournalVoucherDate DateTime,RectifiedJVNo Int,DocumentTypeID Int,DocumentNo Int,FromAcCode Varchar(20),ToAcCode Varchar(20),VoltageClassCode Varchar(20),Amount Money,OfficialReferenceNo Varchar(50))
Insert Into @JVD
select LocationCode,a.OLID,a.JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DocumentNo
,(FromMainAccountCode+FromSubAccountCode) as FromAcCode,(ToMainAccountCode+ToSubAccountCode) as ToAcCode,VoltageClassCode,Sum(isnull(Amount,0)) as Amount,OfficialReferenceNo
from @JVNo A Inner Join JournalVoucherDetails B with (nolock) on b.JournalVoucherNo=a.JournalVoucherNo
Left Join VoltageClass C with (nolock) on c.VoltageClassID=b.VoltageClassID
--where (FromMainAccountCode+FromSubAccountCode) = '78.599'
Group By LocationCode,a.OLID,a.JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DocumentNo,(FromMainAccountCode+FromSubAccountCode),(ToMainAccountCode+ToSubAccountCode),VoltageClassCode,OfficialReferenceNo


Declare @JVA Table (LocationCode Varchar(10),OLID Int,JournalVoucherNo Int,JournalVoucherDate DateTime,TransactionTypes Varchar(50),TransactionDate DateTime,OfficialReferenceNo Varchar(50),AccountCode Varchar(20),Debit Money,Credit Money,DocumentTypeID Int,Ordered Int)
Insert Into @JVA 
select LocationCode,OLID,a.JournalVoucherNo,JournalVoucherDate,(case when isnull(DocumentTypeID,0)=40 then 'Legacy Journal Voucher' else '' end) as TransactionTypes
,(case when isnull(DocumentTypeID,0)=40 then a.JournalVoucherDate else NULL end) as TransactionDate
,(case when isnull(DocumentTypeID,0)=40 then a.OfficialReferenceNo else '0' end) as OfficialReferenceNo
,FromAcCode+VoltageClassCode as AccountCode,Amount as Debit,0 as Credit,DocumentTypeID ,1 as Ordered
from @JVD A where len(FromAcCode)!=0
union all
select LocationCode,OLID,a.JournalVoucherNo,JournalVoucherDate,(case when isnull(DocumentTypeID,0)=40 then 'Legacy Journal Voucher' else '' end) as TransactionTypes
,(case when isnull(DocumentTypeID,0)=40 then a.JournalVoucherDate else NULL end) as TransactionDate
,(case when isnull(DocumentTypeID,0)=40 then a.OfficialReferenceNo else '0' end) as OfficialReferenceNo
,ToAcCode+VoltageClassCode as AccountCode,0 as Debit,Amount as Credit,DocumentTypeID ,2 as Ordered
from @JVD A where len(ToAcCode)!=0


Declare @DiffJVNo Table (JournalVoucherNo Int,Diff Money) 
Insert Into @DiffJVNo 
select JournalVoucherNo,Diff from ( select a.JournalVoucherNo,(Sum(Debit)-SUm(Credit)) as Diff
from @JVA A Group By a.JournalVoucherNo ) as A where Diff!=0


----- JV Analysis
select a.*,AcDesc,ola.Fileas OfficeLocation,ola.OfficeID from (
select LocationCode,isnull(AccountCode,'--') AccountCode,Year(JournalVoucherDate) YearID,Month(JournalVoucherDate) MonthID,DateName(Month,JournalVoucherDate) Monthdesc
,Sum(Debit) as Debit,Sum(Credit) as Credit from (
select LocationCode,OLID,a.JournalVoucherNo,JournalVoucherDate,TransactionTypes,TransactionDate,OfficialReferenceNo,AccountCode,Debit,Credit,DocumentTypeID,Ordered,isnull(c.Diff,0) as DiffAmount
from @JVA A left join @DiffJVNo C on c.JournalVoucherNo=a.JournalVoucherNo
) A where (case when @AcCode='All' then 'All' else left(isnull(AccountCode,'--'),6) end)=@AcCode
Group By LocationCode,AccountCode,Year(JournalVoucherDate),Month(JournalVoucherDate),DateName(Month,JournalVoucherDate)  
) as A
left join ( select (MainAccountCode+SubAccountCode) as AcCode,Description as AcDesc from SubAccount with (nolock)) as B on b.AcCode=left(a.AccountCode,6) collate database_default
left join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=@AcOLID
Order By AccountCode,a.YearID,MonthID


GO
