USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObCbMismatch]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_ObCbMismatch] @year int ,@month int ,@stockcond int,@olid int    as
 

declare @fromdate datetime
declare @todate datetime
--declare @olid int
--declare @stockcond int 


--set @fromdate=(convert(datetime,concat(@year,'-',@month,'-1')))
set @fromdate=(select DATEADD(MONTH, DATEDIFF(MONTH, 0, (convert(datetime,concat(@year,'-',@month,'-1'))))-1, 0))
set @todate=(select EOMonth(@fromdate))
--set @olid=344
--set @stockcond=4
select x.MaterialCode,x.itemid,X.CBAmt,NextObAmt

from

(
select mc.MaterialCode,st.itemid as itemid,P.OBamount,Q.RVSum,R.SISum,S.SIASum,U.PriceVar,--T.SICan,U.RVCan,
isnull(P.OBamount,0)+isnull(Q.RVSum,0)-isnull(R.SISum,0)-isnull(S.SIASum,0)+isnull(U.PriceVar,0)--+isnull(U.RVCan,0)-isnull(T.SICan,0)
as CBAmt

from stock st

left outer join MaterialCode mc on mc.ItemID=st.ItemID

full outer join

(select slobd.itemid,sum(slobmd.amount) as OBamount
from stockledger_accounts sl,stockledgerobdetails_accounts slobd,StockLedgerobMaterialDetails_accounts slobmd
where sl.StockLedgerID=slobd.StockLedgerID and slobd.StockLedgerOBDetailsID=slobmd.StockLedgerOBDetailsID
and sl.StockLedgerMonth=month(@fromdate) and sl.StockLedgerYear=year(@fromdate) and slobmd.StockConditionID=@stockcond and sl.OLID=@olid
group by slobd.itemid) as P on P.Itemid=st.itemid

full outer join

(select rd.itemid,sum(rvmd.amount) as RVSum
from ReceiptVoucherAbstract_accounts r,ReceiptVoucherDetails_accounts rd,ReceiptVoucherMaterialDetails_Accounts rvmd
where month(ReceiptVoucherDate)=month(@fromdate) and year(ReceiptVoucherDate)=year(@fromdate) and rvmd.StockConditionID=@stockcond and r.OLID=@olid
and Approved=1 and r.Priced=1 and rd.ReceiptVoucherNo=r.ReceiptVoucherNo and rvmd.ReceiptVoucherDetailsID=rd.ReceiptVoucherDetailsID
and r.Canceled=0
group by rd.itemid) as Q on Q.itemid=st.itemid

full outer join

(select sd.itemid,sum(simd.amount) as SISum
from StoreInvoice_accounts s,StoreInvoiceDetails_accounts sd,StoreInvoiceMaterialDetails_Accounts simd
where month(StoreInvoiceDate)=month(@fromdate) and year(StoreInvoiceDate)=year(@fromdate)
and Passed=1 and s.Priced=1 and s.StoreInvoiceNo=sd.StoreInvoiceNo and simd.StockConditionID=@stockcond and s.OLID=@olid
and s.Canceled=0
and sd.StoreInvoiceDetailsID=simd.StoreInvoiceDetailsID
group by sd.itemid) as R on R.itemid=st.itemid

full outer join

(select sia.ItemID, sum(simd.amount) as SIASum
from StoreInvoice_accounts s,StoreInvoiceDetails_accounts sd,StoreInvoiceAlternateDetails_Accounts sia,StoreInvoiceAlternateMaterialDetails_Accounts simd
where month(StoreInvoiceDate)=month(@fromdate) and year(StoreInvoiceDate)=year(@fromdate)  and s.OLID=@olid
and s.StoreInvoiceNo=sd.StoreInvoiceNo and Passed=1 and sia.StoreInvoiceAlternateDetailsID=simd.StoreInvoiceAlternateDetailsID
and sia.StoreInvoiceDetailsID=sd.StoreInvoiceDetailsID and simd.StockConditionID=@stockcond
and s.Canceled=0
group by sia.itemid) as S on S.itemid=st.itemid
/*
full outer join

(select ItemID,sum(Amount)  as SICan
from StockLedgerDetails_Accounts
where StockLedgerDetailsID
in(select max(sld.StockLedgerDetailsID)
from StockLedgerDetails_Accounts sld
inner join StoreInvoice_Accounts si on si.StoreInvoiceNo=sld.InvoiceOrVoucherNo
inner join StockLedger_Accounts sl on sl.StockLedgerID=sld.StockLedgerID
 where sl.StockLedgerMonth=month(@fromdate) and sl.StockLedgerYear=year(@fromdate) and sld.OLID=@olid
and sld.TransactionDate<>si.StoreInvoiceDate and sld.StockTransactionTypeID=1
group by sld.InvoiceOrVoucherNo,sld.itemid)
and quantity<0
group by ItemID) as T on T.itemid=st.itemid*/

full outer join

(select sl.ItemID,sum(sld.Amount) PriceVar
from StockLedgerDetails_Accounts sld
inner join StockLedger_Accounts sl on sl.StockLedgerID=sld.StockLedgerID and sld.StockTransactionTypeID in(3,4) and sld.Quantity is null
where sl.StockLedgerMonth=month(@fromdate) and sl.StockLedgerYear=year(@fromdate)  and sld.OLID=@olid and
(case when @stockcond=1 then 1 else 0 end) =1
group by sl.ItemID) as U on U.itemid=st.itemid

)as X

full outer join

(select slobd.itemid,sum(slobmd.amount) as NextObAmt
from stockledger_accounts sl,stockledgerobdetails_accounts slobd,StockLedgerobMaterialDetails_accounts slobmd
where sl.StockLedgerID=slobd.StockLedgerID and slobd.StockLedgerOBDetailsID=slobmd.StockLedgerOBDetailsID
and sl.StockLedgerMonth=month(convert(date,DATEADD(month,1,@fromdate))) and sl.StockLedgerYear=year(convert(date,DATEADD(month,1,@fromdate)))
and slobmd.StockConditionID=@stockcond and sl.OLID=@olid
group by slobd.itemid)as OBC on OBC.itemid=x.itemid
where round(isnull(x.CBAmt,0),0)-round(isnull(OBC.NextObAmt,0),0)<>0
ORDER BY x.ITEMID
GO
