USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ELS_Arrears_Generation_Bulk]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_ELS_Arrears_Generation_Bulk] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@IT Int ,
	@ODLDID_1 int,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float 

AS 
SET NOCOUNT ON



--Declare @AcOLID Int = 605     
--Declare @FromDate DateTime = '2022-04-01' 
--Declare @ToDate DateTime = '2023-03-31' 
--Declare @ContactID Int = 0  
--Declare @IT Int = 0          
--Declare @ODLDID_1 int = NULL  
--Declare @BPRate Float = NULL   
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  



Declare @Suppliment int = 2         
Declare @SRID table (OLID Int,ContactID Int,StartingDate DateTime,EndingDate DateTime) 
insert into @SRID
select OLID,ContactID,dateadd(month,-1,dateadd(Day,1,EOMonth(EndingDate))) StartingDate,EOMonth(EndingDate) EndingDate from (
select OLID,ContactID,ScaleRegisterID,StartingDate,EndingDate
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID  and (case when @ContactID=0 then 0 else ContactID end) = @ContactID  
and StartingDate >= @FromDate and EndingDate<= @ToDate
) A where Maxno = 1 



Declare @SRID1 Int Declare @SRID2 Int Declare @SRID3 DateTime Declare @SRID4 DateTime 
DECLARE Cur3 CURSOR FOR select * from @SRID Order By ContactID,StartingDate 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2,@SRID3,@SRID4 ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------
 
exec SP_ELS_Arrears_Generation @SRID1,@SRID3,@SRID4,@SRID2,@IT,@ODLDID_1,@BPRate,@DPRate,@DARate

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2,@SRID3,@SRID4 ; 
END; CLOSE Cur3; DEALLOCATE Cur3; 



select * from ScaleRegister A with(nolock) 
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID and (case when @ContactID=0 then 0 else ContactID end) = @ContactID  
and isnull(ContactID,0)>0 and StartingDate >= @FromDate and EndingDate<= @ToDate 
Order By ContactID,StartingDate,ScaleRegisterID





GO
