USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_StoreConsumptionReport]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_StoreConsumptionReport] @FromDate varchar(100),@ToDate varchar(100),@OLID varchar(50),@Str varchar(max)  as 

--Declare @FromDate varchar(100)='2019-07-01'
--Declare @ToDate varchar(100)='2019-07-19'
--Declare @OLID int=605
--Declare @Str varchar(max)=''
SET NOCOUNT ON
DECLARE @sql1 as NVARCHAR(MAX),@sq1 as NVARCHAR(MAX),@sql as NVARCHAR(MAX),@DynamicPivotQuery as NVARCHAR(MAX),
@PivotColumnNames as NVARCHAR(MAX),@PivotSelectColumnNames as NVARCHAR(MAX)
 Declare @sq table (ID int identity primary key,OfficeLocation varchar(max),OfficeLocDesc varchar(max))
Declare @Final table(OLID int,MaterialCode varchar(50),Description Varchar(500),UOM varchar(50),Type varchar(10),Qty money)
 
set @sq1='select olid,officelocation  from fnunderol() where officeid=50 and (corporateolid='+cast(@OLID as varchar(100))+' or zonalolid='+cast(@OLID as varchar(100))+
' or circleolid='+cast(@OLID as varchar(100))+' or divisionolid='+cast(@OLID as varchar(100))+') order by circleolid,olid'

insert into @sq
exec(@sq1)

SELECT @PivotColumnNames= ISNULL(@PivotColumnNames + ',','')+ QUOTENAME(concat(officelocation,'_G')) + ','+ QUOTENAME(concat(officelocation,'_RG')) FROM @sq

SELECT @PivotSelectColumnNames= ISNULL(@PivotSelectColumnNames + ',','')+ 'ISNULL('+QUOTENAME(concat(officelocation,'_G')) + ',0) as '+QUOTENAME(cast(ID*2-1 as varchar(100)) )+
+',ISNULL('+ QUOTENAME(concat(officelocation,'_RG')) +',0) as '+  QUOTENAME(cast(ID*2 as varchar(100))) FROM @sq

 
Declare @OLID1 table(OLID int,officelocation varchar(100))
insert into @OLID1
select olid,officelocation from fnunderol()  d where officeid=50 and (corporateolid=@OLID  or zonalolid=@OLID or circleolid=@OLID or divisionolid=@OLID)

select @sql1='Declare @OLID1 table(OLID int,officelocation varchar(100))
insert into @OLID1
select olid,officelocation from fnunderol()    d where officeid=50 and (corporateolid='+cast(@OLID as varchar(100))+'  or zonalolid='+cast(@OLID as varchar(100))+'
 or circleolid='+cast(@OLID as varchar(100))+' or divisionolid='+cast(@OLID as varchar(100))+')

select MaterialCode,Description,UnitOfMeasure,'+@PivotSelectColumnNames+'
from (
select MaterialCode,Description,UnitOfMeasure,cast(olid as varchar(100))+''_''+col as col, value from (
select olid,MaterialCode,Description,UnitOfMeasure,sum(G) as G,sum(RG) as RG from (
select isnull(A.olid,C.stockolid) OLID,isnull(A.ItemID,C.ItemID) ItemID,mc1.MaterialCode,mc1.Description,B.UnitOfMeasure,(select value from fn_convertqty(isnull(A.ItemID,C.ItemID),Q.unitID,isnull(A.UnitID,Q.UnitID),isnull(GQty,0) )) G,
(select value from fn_convertqty(isnull(A.ItemID,C.ItemID),Q.unitID,isnull(A.UnitID,Q.UnitID),isnull(RGQty,0) )) RG
from(
select a.olid,b.itemID,sum(isnull(b.GoodQuantity,0) ) GQty,sum(isnull(b.ReleasedGoodQuantity,0)) RGQty,c.UnitID 
from StoreInvoice_pni a with (nolock)  
inner join @OLID1 f on f.OLID=isnull(a.OLID,0) and a.passed=1 and isnull(a.canceled,0)=0  and convert(date,StoreInvoiceDate,120) between '''+@FromDate+''' and '''+@ToDate+'''
inner join StockLedgerDetails_pni b with (nolock)  on b.StockTransactionTypeID=1  and a.StoreInvoiceNo=b.InvoiceOrVoucherNo and ( isnull( b.GoodQuantity,0)>0  or isnull(b.ReleasedGoodQuantity,0)>0  )

inner join StockLedger_pni c with (nolock)  on b.StockLedgerID=c.StockLedgerID
left join workorder e  with (nolock)  on workorderno=isnull(a.documentno,0) and workallocationid not in(57,58)
group by a.OLID,b.itemid,c.UnitID ) as A
right join
(select distinct itemid,olid stockolid from StockQuantity  with (nolock) 
where OLID in(select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock)  where OfficeLocationAllocationID='+cast(@OLID as varchar(100))+')) as C on C.ItemID=A.ItemiD 
and a.OLID=c.stockolid
inner join Stock s with (nolock) on isnull(A.ItemID,C.ItemID)=s.ItemID
left join (select StockTypeid STTypeID,Description from StockType with (nolock)) as st  on s.StockTypeID=st.STTypeID
inner join MaterialCode mc1 with (nolock)  on isnull(A.ItemID,C.ItemID)=mc1.Itemid
left join (select distinct itemid,unitid from StockConditionUOMAllocation with (nolock)  where StockConditionID=1) as Q on isnull(A.ItemID,C.ItemID)=Q.ItemID 
left join UnitOfMeasure B with (nolock)  on B.UnitID=Q.UnitID where 1=1 '+@str+') as O
group by olid,MaterialCode,Description,UnitOfMeasure) src 
unpivot ( value FOR col in (G,RG))unpiv ) tp
pivot ( SUM(value) FOR col in ('+@PivotColumnNames+')) piv'

exec   (@sql1)
 
--SP_StoreConsumptionReport   '2019-09-01','2019-09-17',453,' and stocktypeid=33 and itemid=6 '
GO
