USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ScheduleReportCreditPowerPurchase_backup]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE  PROCEDURE [dbo].[SP_ScheduleReportCreditPowerPurchase_backup]
    @YearID Int ,
    @MonthID Int ,
    @typee int ,
    @olid int,
	@code Varchar(100)

AS SET NOCOUNT ON


--Declare @YearID Int = 2024
--Declare @MonthID Int = 10
----Declare @typee int = 66 
--Declare @typee int = (select ScheduleTypeID from ScheduleTypes with(nolock) where MainAccountCode='46.9' and SubAccountCode='36' and Display=1)
--Declare @olid int = 341
--Declare @code Varchar(100)='763 - Power Purchase Cell, Corporate Office'


Declare @AcCode Varchar(10) = (select (MainAccountCode+SubAccountCode) from ScheduleTypes a where ScheduleTypeID = @typee)
Declare @Date DateTime = (select EOMonth(dateadd(month,-1,convert(DateTime,concat(@YearID,'-',@MonthID,'-1')))))
Declare @Date1 DateTime = (select EOMonth(convert(DateTime,concat(@YearID,'-',@MonthID,'-1'))))
Declare @FFYYear DateTime = (select convert(dateTime,CONCAT((case when @MonthID in (1,2,3) then @YearID-1 else @YearID end),'-',4,'-',1))) 
Declare @ScheduleID int = 0



--Declare @SCID Table (ScheduleID Int) 
--Insert Into @SCID
--select Distinct ScheduleID from (
--select sd.ScheduleID,ScheduleDetailsID,ScheduleDetailsID ReferanceScheduleDetailsID,DocumentTypeID,DocumentNo,ReferenceDate,ClosingBalance OB,0 Debit,0 Credit,0 CB
--,(Row_Number() over (Partition By sd.ScheduleID Order By sd.ScheduleID,ScheduleYear desc,ScheduleMonth desc,ScheduleDetailsID desc)) as MaxNo 
--,convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) ScDate
--from ScheduleDetails sd with (nolock)
--inner join ScheduleLocationCodeDetails scd with (nolock) on scd.ScheduleID=sd.ScheduleID and scd.LocationCode=@code  
--where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
--and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
--and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
--and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
--) A Where MaxNo=1 and (OB)!=0 

Declare @SCID Table (ScheduleID Int) 
Insert Into @SCID
select Distinct ScheduleID from (
select sd.ScheduleID,ScheduleDetailsID,ScheduleDetailsID ReferanceScheduleDetailsID,DocumentTypeID,DocumentNo,ReferenceDate,ClosingBalance OB,0 Debit,0 Credit,0 CB
,(Row_Number() over (Partition By sd.ScheduleID Order By sd.ScheduleID,ScheduleYear desc,ScheduleMonth desc,ScheduleDetailsID desc)) as MaxNo 
,convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) ScDate
from ScheduleDetails sd with (nolock)
left join (select distinct scheduleid,locationcode from schedulelocationcodedetails) slcd
on sd.scheduleid = slcd.scheduleid
where 
scheduleyear >= 1900  
and isnull(slcd.locationcode, '760 - Corporate Office') = @code
 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
) A Where MaxNo=1 and (OB)!=0 



--Declare @OB1 Table (ScheduleID Int,ScheduleDetailsID Int,DocumentNo Varchar(500),OB Money) 
--Insert Into @OB1
--select s.ScheduleID,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID) RefScheduleDetailsID,DocumentNo,Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0))) OB
--from (select distinct ScheduleID,ScheduleTypeID from Schedules S with(nolock) where ScheduleID in (select ScheduleID from @SCID)) S
--inner join ScheduleDetails sd with (nolock) on sd.ScheduleID=s.ScheduleID
--where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
--and (isnull(DebitTotal,0)-isnull(CreditTotal,0))!=0 
--and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
--Group By s.ScheduleID,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID),DocumentNo
--Having Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0)))!=0



--Declare @OB2 Table (ScheduleID Int,ScheduleDetailsID Int,DocumentNo Varchar(500),OB Money) 
--Insert Into @OB2
--select s.ScheduleID,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID) RefScheduleDetailsID
--,isnull(sd1.DocumentNo,sd.DocumentNo) DocumentNo
--,Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0))) OB
--from (select distinct ScheduleID,ScheduleTypeID from Schedules S with(nolock) where ScheduleID in (select ScheduleID from @SCID)) S
--inner join ScheduleDetails sd with (nolock) on sd.ScheduleID=s.ScheduleID
--outer apply (select DocumentNo from ScheduleDetails sd1 with (nolock) where sd1.ScheduleID=s.ScheduleID and sd1.DocumentTypeID in (40) and sd1.ScheduleDetailsID=ISNULL(sd.ReferanceScheduleDetailsid,0)
--,and Try_convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date ) SD1 
--where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
--and (isnull(DebitTotal,0)-isnull(CreditTotal,0))!=0 
--and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
--Group By s.ScheduleID,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID),isnull(sd1.DocumentNo,sd.DocumentNo)
--Having Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0)))!=0


Declare @OB1 Table (ScheduleID Int,ScheduleDetailsID Int,DocumentNo Varchar(500),OB Money) 
Insert Into @OB1
select s.ScheduleID,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID) RefScheduleDetailsID
,isnull(sd1.DocumentNo,sd.DocumentNo) DocumentNo
,Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0))) OB
from (select distinct ScheduleID,ScheduleTypeID from Schedules S with(nolock) where ScheduleID in (select ScheduleID from @SCID)) S
inner join ScheduleDetails sd with (nolock) on sd.ScheduleID=s.ScheduleID
outer apply (select DocumentNo from ScheduleDetails sd1 with (nolock) where sd1.ScheduleID=s.ScheduleID and sd1.DocumentTypeID in (40) and sd.ScheduleDetailsID=ISNULL(sd1.ReferanceScheduleDetailsid,0)
	and Try_convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date ) SD1 
where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (isnull(DebitTotal,0)-isnull(CreditTotal,0))!=0 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
Group By s.ScheduleID,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID),isnull(sd1.DocumentNo,sd.DocumentNo)
Having Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0)))!=0 
--and isnull(ReferanceScheduleDetailsid,ScheduleDetailsID) = 4866317



Declare @OB Table (ScheduleID Int,ScheduleDetailsID Int,ScDate DateTime,RFNO Varchar(500),OB Money,DocumentNo Varchar(500),ReferenceDate DateTime) 
Insert Into @OB
select * from (
select ScheduleID,ScheduleDetailsID,Min(ScDate) ScDate,Min(RFNO) RFNO,Sum(case when ScheduleTypeID in (44) then OB1  when ScheduleTypeID in (363,364,272,273) then OB2 else OB end) OB,Min(DocumentNo) DocumentNo,Min(ReferenceDate) ReferenceDate from (
select ScheduleTypeID,(Row_Number() over (Partition By s.ScheduleID Order By s.ScheduleID,ReferenceDate,ScheduleDetailsID)) RowNo,Sum((isnull(DebitTotal,0)-isnull(CreditTotal,0))) over (Partition By s.ScheduleID Order By s.ScheduleID) OB1
,s.ScheduleID
,isnull(ReferanceScheduleDetailsid,ScheduleDetailsID) ScheduleDetailsID
,convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) ScDate
,concat(case when DocumentTypeID= 29 then 'BrNo' when MainAccountCode+SubAccountCode='42.101' and DocumentTypeID=40 then 'Rvno' when DocumentTypeID=40   then 'JvNo' when DocumentTypeID=55 then 'RtNo' when DocumentTypeID=12 then 'RvNo' end ,'/',' ', 
CASE 
when MainAccountCode+SubAccountCode='42.101' and DocumentTypeID=40 then ReferenceNo
       WHEN DocumentTypeID in  (55,29) THEN left(ReferenceNo,8) COLLATE SQL_Latin1_General_CP1_CI_AS
            WHEN CHARINDEX(',', DocumentNo) > 0 
                 AND (CHARINDEX('/', DocumentNo) = 0 OR CHARINDEX(',', DocumentNo) < CHARINDEX('/', DocumentNo))
                 AND (CHARINDEX(' ', DocumentNo) = 0 OR CHARINDEX(',', DocumentNo) < CHARINDEX(' ', DocumentNo))
                THEN LEFT(DocumentNo, CHARINDEX(',', DocumentNo) - 1) COLLATE SQL_Latin1_General_CP1_CI_AS
            WHEN CHARINDEX('/', DocumentNo) > 0 
                 AND (CHARINDEX(',', DocumentNo) = 0 OR CHARINDEX('/', DocumentNo) < CHARINDEX(',', DocumentNo))
                 AND (CHARINDEX(' ', DocumentNo) = 0 OR CHARINDEX('/', DocumentNo) < CHARINDEX(' ', DocumentNo))
                THEN LEFT(DocumentNo, CHARINDEX('/', DocumentNo) - 1) COLLATE SQL_Latin1_General_CP1_CI_AS
            WHEN CHARINDEX(' ', DocumentNo) > 0 
                 AND (CHARINDEX(',', DocumentNo) = 0 OR CHARINDEX(' ', DocumentNo) < CHARINDEX(',', DocumentNo))
                 AND (CHARINDEX('/', DocumentNo) = 0 OR CHARINDEX(' ', DocumentNo) < CHARINDEX('/', DocumentNo))
                THEN LEFT(DocumentNo, CHARINDEX(' ', DocumentNo) - 1) COLLATE SQL_Latin1_General_CP1_CI_AS
            ELSE DocumentNo COLLATE SQL_Latin1_General_CP1_CI_AS
    end


,'/',' ',CONVERT(VARCHAR(10), ReferenceDate, 120)) RFNO,ReferenceDate
,(isnull(DebitTotal,0)-isnull(CreditTotal,0)) OB,
(isnull(CreditTotal,0)-isnull(DebitTotal,0)) OB2
,DocumentNo
from (select distinct ScheduleID,ScheduleTypeID from Schedules S with(nolock) where ScheduleID in (select ScheduleID from @SCID)) S
inner join ScheduleDetails sd with (nolock) on sd.ScheduleID=s.ScheduleID
where ScheduleYear>= 1900 and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (isnull(DebitTotal,0)-isnull(CreditTotal,0))!=0 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) <= @Date
and (ScheduleDetailsID In (select ScheduleDetailsID from @OB1) or isnull(ReferanceScheduleDetailsid,0) In (select ScheduleDetailsID from @OB1))
--and (ScheduleDetailsID In (select ScheduleDetailsID from @OB2) or isnull(ReferanceScheduleDetailsid,0) In (select ScheduleDetailsID from @OB2))
) A where (case when ScheduleTypeID in (44) then RowNo else 1 end)=1   -- 363,364,272,273 #281338
Group By ScheduleID,ScheduleDetailsID
) A where OB!=0 


Declare @Trans Table (ScheduleID Int,ScheduleDetailsID Int,ReferanceScheduleDetailsID Int,ReferenceDate DateTime,RFNO Varchar(500),Debit Money,Credit Money,DocumentNo Varchar(500),RowNo Int) 
Insert Into @Trans
select *,(ROW_NUMBER() over (PARTITION By ScheduleID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID) order by ScheduleID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID),ScheduleDetailsID)) RowNo from (
select ScheduleID,Max(ScheduleDetailsID) ScheduleDetailsID,ReferanceScheduleDetailsID,ReferenceDate,RFNO,Sum(Debit) Debit,Sum(Credit) Credit,DocumentNo from (
select sd.ScheduleID,ScheduleDetailsID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID) ReferanceScheduleDetailsID,ReferenceDate
,concat(case when MainAccountCode+SubAccountCode='42.101' and DocumentTypeID=40 then 'Rvno' when DocumentTypeID= 29 then 'BrNo' when DocumentTypeID=40   then 'JvNo' when DocumentTypeID=55 then 'RtNo' when DocumentTypeID=12 then 'RvNo' end ,'/',' ', 
 CASE when MainAccountCode+SubAccountCode='42.101' and DocumentTypeID=40 then ReferenceNo when  MainAccountCode+SubAccountCode in ('27.205','27.204','27.202') and DocumentTypeID=29 then DocumentNo  WHEN DocumentTypeID in (55,29) then ReferenceNo COLLATE SQL_Latin1_General_CP1_CI_AS else  DocumentNo COLLATE SQL_Latin1_General_CP1_CI_AS  end
 ,'/',' ',CONVERT(VARCHAR(10), ReferenceDate, 120)) RFNO
,isnull(DebitTotal,0) Debit,isnull(CreditTotal,0) Credit,DocumentNo 
from ScheduleDetails sd with (nolock)
left join (select distinct ScheduleID, LocationCode FROM ScheduleLocationCodeDetails) slcd 
on slcd.ScheduleID = sd.ScheduleID
where ScheduleYear >= 1900
and isnull(slcd.LocationCode, '760 - Corporate Office') = @code and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) Between @Date+1 and @Date1
and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
and (isnull(DebitTotal,0))!=0 
--and DocumentNo='543342' 
) A Group By ScheduleID,ReferanceScheduleDetailsID,ReferenceDate,RFNO,DocumentNo 
) A 

Declare @Trans1 Table (ScheduleID Int,ScheduleDetailsID Int,ReferanceScheduleDetailsID Int,ReferenceDate DateTime,RFNO Varchar(500),Debit Money,Credit Money,DocumentNo Varchar(500),RowNo Int) 
Insert Into @Trans1
select *,(ROW_NUMBER() over (PARTITION By ScheduleID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID) order by ScheduleID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID),ScheduleDetailsID)) RowNo from (
select ScheduleID,Max(ScheduleDetailsID) ScheduleDetailsID,ReferanceScheduleDetailsID,ReferenceDate,RFNO,Sum(Debit) Debit,Sum(Credit) Credit,DocumentNo from (
select sd.ScheduleID,ScheduleDetailsID,isnull(ReferanceScheduleDetailsID,ScheduleDetailsID) ReferanceScheduleDetailsID,ReferenceDate
,concat(case when MainAccountCode+SubAccountCode='42.101' and DocumentTypeID=40 then 'Rvno' when DocumentTypeID= 29 then 'BrNo' when DocumentTypeID=40   then 'JvNo'   when DocumentTypeID=55 then 'RtNo' when DocumentTypeID=12 then 'RvNo' end ,'/',' ',
 CASE when MainAccountCode+SubAccountCode='42.101' and DocumentTypeID=40 then ReferenceNo when  MainAccountCode+SubAccountCode in ('27.205','27.204','27.202') and DocumentTypeID=29 then DocumentNo WHEN DocumentTypeID in (55,29) then ReferenceNo COLLATE SQL_Latin1_General_CP1_CI_AS else  DocumentNo COLLATE SQL_Latin1_General_CP1_CI_AS  end
  ,'/',' ',CONVERT(VARCHAR(10), ReferenceDate, 120)) RFNO
,isnull(DebitTotal,0) Debit,isnull(CreditTotal,0) Credit,DocumentNo 
from ScheduleDetails sd with (nolock)
left join (select distinct ScheduleID, LocationCode FROM ScheduleLocationCodeDetails) slcd 
on slcd.ScheduleID = sd.ScheduleID
where ScheduleYear >= 1900
and isnull(slcd.LocationCode, '760 - Corporate Office') = @code and ScheduleMonth in (1,2,3,4,5,6,7,8,9,10,11,12) and len(ScheduleYear)=4 
and (MainAccountCode+SubAccountCode) = @AcCode and sd.OLID=@olid 
and convert(dateTime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) Between @Date+1 and @Date1
and (case when @ScheduleID=0 then 0 else sd.ScheduleID end)=@ScheduleID
and (isnull(CreditTotal,0))!=0 
) A Group By ScheduleID,ReferanceScheduleDetailsID,ReferenceDate,RFNO,DocumentNo 
) A 


select ScheduleID,ScheduleDetailsID,ReferanceScheduleDetailsID,ContactID,ContactName
,OB_RFNO RFNO1
,(case when isnull(CreditHead,0)=1 then -OB else OB end) OpeningBalance
,(case when isnull(CreditHead,0)=1 then (case when Credit!=0 then RFNO_C else '' end) else (case when Debit!=0 then RFNO_D else '' end) end)  RFNO2
,(case when isnull(CreditHead,0)=1 then Credit else Debit end) Addition
,(case when isnull(CreditHead,0)=1 then (case when Debit!=0 then RFNO_D else '' end) else (case when Credit!=0 then RFNO_C else '' end) end) RFNO3
,(case when isnull(CreditHead,0)=1 then Debit else Credit end) Subtraction
--,'' RFNO4,(case when isnull(CreditHead,0)=1 then -CB2 else CB2 end)  ClosingBalance
,'' RFNO4,(SUM((case when isnull(CreditHead,0)=1 then -OB else OB end)+(case when isnull(CreditHead,0)=1 then Credit else Debit end)-(case when isnull(CreditHead,0)=1 then Debit else Credit end)) over (PARTITION By ContactName,ScheduleID,ReferanceScheduleDetailsID order by ContactName,ScDate,ScheduleID,isnull(ScheduleDetailsID,ReferanceScheduleDetailsID),ScheduleDetailsID,OrderNo1 desc,OrderNo)) ClosingBalance
--,'' RFNO4,(case when isnull(CreditHead,0)=1 then (case when isnull(CreditHead,0)=1 then -CB2 else CB2 end) else (SUM((case when isnull(CreditHead,0)=1 then -OB else OB end)+(case when isnull(CreditHead,0)=1 then Credit else Debit end)-(case when isnull(CreditHead,0)=1 then Debit else Credit end)) over (PARTITION By ContactName,ScheduleID order by ContactName,ScDate,ScheduleID,isnull(ScheduleDetailsID,ReferanceScheduleDetailsID),ScheduleDetailsID,OrderNo1,OrderNo)) end) ClosingBalance
,1 CBSlNo,1 OBSlNo,(case when isnull(CreditHead,0)=1 then -OB else OB end) OB1
--,(case when OrderNo2=1 then (case when isnull(CreditHead,0)=1 then -CB else CB end) else 0 end) CB1
,(case when OrderNo2=1 then (SUM((case when isnull(CreditHead,0)=1 then -OB else OB end)+(case when isnull(CreditHead,0)=1 then Credit else Debit end)-(case when isnull(CreditHead,0)=1 then Debit else Credit end)) over (PARTITION By ContactName,ScheduleID,ReferanceScheduleDetailsID order by ContactName,ScDate,ScheduleID,isnull(ScheduleDetailsID,ReferanceScheduleDetailsID),ScheduleDetailsID,OrderNo1 desc,OrderNo)) else 0 end) CB1 
,OrderNo1 NSlNo from (
select ScheduleTypeID,isnull(ct.ContactID,0) ContactID,Ltrim(Rtrim(isnull(ct.Fileas,Contactname))) ContactName,isnull(isnull(a.ScheduleDetailsID,b.ReferanceScheduleDetailsID),b1.ReferanceScheduleDetailsID) ReferanceScheduleDetailsID
,isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID) ScheduleID,isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID) ScheduleDetailsID
,isnull(ScDate,isnull(b.ReferenceDate,b1.ReferenceDate)) ScDate
,(case when (isnull(b.RowNo,0) in (0,1) and isnull(b1.RowNo,0) in (0,1)) then isnull(a.RFNO,'') else '' end) OB_RFNO
,(case when (isnull(b.RowNo,0) in (0,1) and isnull(b1.RowNo,0) in (0,1)) then isnull(OB,0) else 0 end) OB
,(case when isnull(b1.RowNo,0) in (0,1) then isnull(b.Debit,0) else 0 end) Debit
,(case when isnull(b.RowNo,0) in (0,1) then isnull(b1.Credit,0) else 0 end) Credit
,(Sum((case when (isnull(b.RowNo,0) in (0,1) and isnull(b1.RowNo,0) in (0,1)) then isnull(OB,0) else 0 end)+(case when isnull(b1.RowNo,0) in (0,1) then isnull(b.Debit,0) else 0 end)-(case when isnull(b.RowNo,0) in (0,1) then isnull(b1.Credit,0) else 0 end)) over(Partition By isnull(ct.Fileas,Contactname),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(isnull(a.DocumentNo,b.DocumentNo),b1.DocumentNo) Order By isnull(ct.Fileas,Contactname),isnull(ScDate,@FFYYear),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID),isnull(isnull(a.DocumentNo,b.DocumentNo),b1.DocumentNo))) CB  
,(ROW_NUMBER() over (Partition By isnull(ct.Fileas,Contactname),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID) Order By isnull(ct.Fileas,Contactname),isnull(ScDate,@FFYYear),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID),isnull(b.RowNo,0) desc,isnull(b1.RowNo,0) desc)) OrderNo
,(ROW_NUMBER() over(Partition By isnull(ct.Fileas,Contactname) Order By isnull(ct.Fileas,Contactname),isnull(ScDate,@FFYYear),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID) Desc,isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID) Desc)) OrderNo1  
,(ROW_NUMBER() over(Partition By isnull(ct.Fileas,Contactname),isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(isnull(a.ScheduleDetailsID,b.ReferanceScheduleDetailsID),b1.ReferanceScheduleDetailsID) Order By isnull(ct.Fileas,Contactname),isnull(ScDate,@FFYYear) Desc,isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),isnull(isnull(a.ScheduleDetailsID,b.ScheduleDetailsID),b1.ScheduleDetailsID) Desc)) OrderNo2  
,(case when isnull(b1.RowNo,0) in (0,1) then isnull(b.RFNO,'') else '' end) RFNO_D
,(case when isnull(b.RowNo,0) in (0,1) then isnull(b1.RFNO,'') else '' end) RFNO_C
,COALESCE(A.ReferenceDate,B.ReferenceDate,B1.ReferenceDate) as ReferenceDate
from @OB A Full Join @Trans B on B.ScheduleID=A.ScheduleID and B.ReferanceScheduleDetailsID=A.ScheduleDetailsID
Full Join @Trans1 B1 on B1.ScheduleID=isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID) and B1.ReferanceScheduleDetailsID=isnull(A.ScheduleDetailsID,b.ReferanceScheduleDetailsID)
left join Schedules C with(nolock) on c.ScheduleID=isnull(isnull(isnull(a.ScheduleID,b.ScheduleID),b1.ScheduleID),b1.ScheduleID)
left join Contacts CT with(nolock) on ct.ContactID=isnull(c.ContactID,0) 
--where isnull(isnull(a.ScheduleDetailsID,b.ReferanceScheduleDetailsID),b1.ReferanceScheduleDetailsID) = 8482844
) A left join (select ScheduleTypeID,isnull(Credit,0) CreditHead from ScheduleTypes with(nolock) where isnull(Credit,0)=1) C on C.ScheduleTypeID=a.ScheduleTypeID
Order By ContactName,ScDate ,NSlNo desc,OrderNo





GO
