USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_JV10SeriesMismatch]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_JV10SeriesMismatch] 
	@AcOLID Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime 

AS SET NOCOUNT ON


--Declare @AcOLID Int = 341
--Declare @FromFyYear DateTime = '2025-04-01'
--Declare @ToFyYear DateTime = '2026-02-28'



Declare @OLID Table (OLID Int) Insert Into @OLID
select OLID from OfficeLocationAccountingUnitDetails with(nolock) 
where (DivisionOLID=@AcOLID or CircleOLID=@AcOLID or ZonalOLID=@AcOLID or CorporateOLID=@AcOLID or OLID=@AcOLID) 

IF EXISTS(SELECT name FROM sys.sysobjects WHERE Name = N'TempJVSplitA' AND xtype = N'U') BEGIN drop table TempJVSplitA END
select *,Len(a.FromAcHead) as LenFromAcHead,Len(a.ToAcHead) as LenToAcHead into TempJVSplitA from (
select JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassID,Round(Sum(Amount),2) Amount,InvoiceTypeID from (
select a.*,(isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')) as FromAcHead,(isnull(ToMainAccountCode,'')+isnull(ToSubAccountCode,'')) as ToAcHead,VoltageClassID,Amount,isnull(InvoiceTypeID,0) InvoiceTypeID from (
select JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,isnull(DoucmentNo,0) DocumentNo from JournalVoucher with(nolock) 
where JournalVoucherDate Between @FromFyYear and @ToFyYear and Approved=1 and OLID in (select OLID from @OLID) and DocumentTypeID in (12,33) ) A 
inner join JournalVoucherDetails B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo and (isnull(ToMainAccountCode,'')+isnull(ToSubAccountCode,'')) like '10.%'
--and a.JournalVoucherNo = 2531095
left join BillRegisterNoInvoiceTypeAllocation B1 with(nolock) on b1.BillRegisterNo=(case when DocumentTypeID=29 then isnull(DocumentNo,0) else 0 end) 
) A Group By JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassID,InvoiceTypeID
) A 

--select * from TempJVSplitA 

select *,(isnull(Series10A,0)-isnull(a.Amount,0)) Diff from (

select JournalVoucherNo,DocumentNo RVNo,ToAcHead JVAcHead,Sum(Amount) Amount
from TempJVSplitA with(nolock) where DocumentTypeID in (12,33) and ToAcHead like '10.%'
Group By JournalVoucherNo,DocumentNo,ToAcHead 
) A 
outer Apply ( select Sum(isnull(b.OriginalCost,0)) Series10A,(isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),''))  AccountCode 
	from ReleasedAssetDetails b with (nolock) inner join ReleasedAssets C with (nolock) on c.FolioNo=b.FolioNo where b.DocumentTypeID in (12,33) and isnull(b.DocumentNo,0)=a.RVNo 
	and isnull((isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),'')),JVAcHead) = JVAcHead  
	Group By b.DocumentNo,(isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),'')) 
	--having Sum(isnull(b.OriginalCost,0))=a.Amount
	) B 
----where JVAcHead!=isnull(AccountCode,'')
where (isnull(Series10A,0)-isnull(a.Amount,0))!=0
Order By RVNo,JVAcHead,JournalVoucherNo

GO
