USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SR_AllowanceDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SR_AllowanceDetails]
 @Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money,@Remarks Varchar(500)
AS SET NOCOUNT ON


--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 1453
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 601
--Declare @TypeID Int = 1
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 3315
--Declare @Remarks Varchar(500) = ''


IF (@Query='Import' )
 insert into ScaleRegisterALlowances
select @SRID,@TypeID,@ODLDID,@FromDate,@ToDate,@Amount,0,@Remarks 
else IF (@Query='Update' )
 update a set AllowanceID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount,Expired=0,Remarks=@Remarks 
from ScaleRegisterALlowances a with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterALlowancesID end)=@ColumnID
and (case when @TypeID=0 then 0 else AllowanceID end)=@TypeID

select ScaleRegisterID SRID,AllowanceID,ODLDID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount,cast(Expired as Int) Expired,ScaleRegisterALlowancesID SRAID,Remarks 
from ScaleRegisterALlowances with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterALlowancesID end)=@ColumnID
and (case when @TypeID=0 then 0 else AllowanceID end)=@TypeID
Order By AllowanceID,Amount


GO
