USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_BankWiseReportNew]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BankWiseReportNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int,
	@Suppliment int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON


--Declare @Config varchar(200) select @Config = 'EnergySync.dbo.'
--Declare @OLID int select @OLID = 341
--Declare @Year int select @Year = 2014
--Declare @Month int select @Month = 10
--Declare @Suppliment int select @Suppliment = 1
--Declare @BRNo varchar(50) select @BRNo = '0'




Declare @SRB table (CID int,ODLDID int,EmployeeStatusID int,ScaleRegisterID int)
insert into @SRB
select distinct CID,srb.ODLDID,EmployeeStatusID,ScaleRegisterID 
from FnMaxSRBODLDID4() srb 
where OLID=@OLID and srb.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)
and srb.Date in (select max(srb1.Date) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and OLID=@OLID and srb1.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)) 
and srb.ScaleRegisterID in (select min(srb1.ScaleRegisterID) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and OLID=@OLID and srb1.Date = srb.Date) 


Declare @SR3 table (ContactID int,Generated int,BillRegisterNo varchar(50)) 
insert into @SR3
select ContactID,Generated,BillregisterNo 
from FnSRNew() sr1 where  sr1.SalaryTypeID=1 and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month and OLID=@OLID



Declare @SR1 table (ODLDID int,EmployeeStatusID int,SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime,Suppliment int) 
insert into @SR1
select ODLDID,EmployeeStatusID,sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,sr.BillRegisterNo as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate,Suppliment
from FnSRNew() sr left outer join @SRB srb on srb.CID=sr.ContactID 
full join @SR3 sr1 on  sr1.ContactID= sr.ContactID 
where sr.YearID in (@Year) and sr.MonthID in (@Month) and sr.OLID in (@OLID)
and sr.BillRegisterNo in (@BRNo) and sr.Suppliment in (@Suppliment,(case when @Suppliment=0 then 6 else 100 end))









Declare @SRD1 table (ScaleRegisterID int ,Amount money) 
insert into @SRD1
select distinct sr.ScaleRegisterID,sum(case when TypesId in (1,2,3) then isnull(DiffAmount,0) else isnull(-DiffAmount,0) end) as Amount 
from @SR1 sr 
full join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
group by sr.ScaleRegisterID having sum(case when TypesId in (1,2,3) then isnull(DiffAmount,0) else isnull(-DiffAmount,0) end)<>0



Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)











Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int,BankAddress varchar(1000),BankID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID,BankAddress,BankID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int,OID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID,ol.OfficeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @Retired table (AcOLID int,OLID int,ODLDID int,ContactID int)
Declare @RetiredSql varchar(Max) Set @RetiredSql='
select ol.AcOLID,ol.OLID,odld.ODLDID,e.ContactID
from FnAcOLID() ol 
inner join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID
inner join ODLDAllocation odld on odld.OfficeID=ola.OfficeID and odld.LocationID=ola.LocationID
inner join Employee e on isnull(e.ODLDID,0)=odld.ODLDID and isnull(e.Retired,0)<>1
where ol.AcOLID in ('+cast(@OLID as varchar(10))+')
' insert into @Retired exec (@RetiredSql) 

Declare @SR table (ContactID int,YearID int,MonthDesc varchar(12),OfficeName varchar(100),LocationName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),AcNo varchar(50),Net money,Office varchar(100),Bank varchar(100),Branch varchar(100),MnYr varchar(20),Ordering varchar(6),BankAddress varchar(1000),BRNo varchar(50),BRDate varchar(12),OLID int,BankBranch varchar(200),BankID int,MonthID int,EmployeeCategoryID int,OID int)
insert into @SR 
select  sr.ContactID,Year(sr.BillRegisterDate) as YearID,datename(month,sr.BillRegisterDate) as MonthDesc,ol1.OfficeName,ol1.LocationName,ct.EmployeeName,ol.DesignationName 
,(case when r.ContactID is null and min(isnull(Suppliment,0))<>0 then '' else isnull(ct.BankAcNo,'') end) as AcNo,sum(isnull(srd.Amount,0)) as Net
,(ol1.OfficeName+'  '+', MESCOM') as Office,(case when r.ContactID is null and min(isnull(sr.Suppliment,0))<>0 then '1Retired or Transfered Employees' else '2'+ct.Bank end) as Bank
,(case when r.ContactID is null and min(isnull(sr.Suppliment,0))<>0 then 'Retired or Transfered Employees' else ct.Branch end) as Branch
,(datename(month,sr.BillRegisterDate)+' - '+cast(Year(sr.BillRegisterDate) as varchar(4))) as MnYr ,ol.Ordering
,(case when r.ContactID is null and min(isnull(Suppliment,0))<>0 then '' else BankAddress end) as BankAddress
,isnull(sr.BillRegisterNo,'0') as BRNo,convert(varchar,sr.BillRegisterDate,103) as BRDAte,ol.OLID
,((case when r.ContactID is null and min(isnull(sr.Suppliment,0))<>0 then 'Retired or Transfered Employees' else isnull(ct.Bank,'') end)+' - '+(case when r.ContactID is null and min(isnull(sr.Suppliment,0))<>0 then '' else isnull(ct.Branch,'') end)) as BankBranch
,(case when r.ContactID is null and min(isnull(Suppliment,0))<>0 then 0 else isnull(ct.BankID,0) end) as BankID
,Month(sr.BillRegisterDate) as MonthID,(Case when isnull(ct.EmployeeCategoryID,1) in (2,8) then 2 else isnull(ct.EmployeeCategoryID,1) end ) EmployeeCategoryID,ol1.OID

from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID,OID from @ODLD where OLID in (select @OLID)) as OL1
inner join @SRD1 srd on srd.ScaleregisterID=sr.ScaleRegisterID 


inner join @ODLD ol on ol.ODLDID=sr.ODLDID 
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @Retired r on r.ContactID=sr.ContactID

group by sr.BillRegisterDate,ol1.OfficeName,ol1.LocationName,ct.EmployeeName,ol.DesignationName,ct.BankAcNo,ct.Bank,ct.Branch
,ol.Ordering,BankAddress,sr.BillRegisterNo,ol.OLID,ct.BankID,ct.EmployeeCategoryID,ol1.OID,sr.ContactID,r.ContactID
having sum(isnull(srd.Amount,0))<>0

select sr.ContactID,YearID as A,MonthDesc as B,OfficeName as C,LocationName as D,EmployeeName as E,DesignationName as F,AcNo as G,Net as H,Office as I,right(Bank,len(Bank)-1) as J,Branch as K,MnYr as L,Ordering as M,w1.Words as N
,BankAddress O,BRNo as P,BankBranch as Q,w1.Amount as R,w2.Words as S,BRDate as T 
from @SR sr
left outer join (select BankID,EmployeeCategoryID,sum(isnull(Net,0)) as Amount,dbo.fnNumToWords(sum(isnull(Net,0))) as Words from @SR group by BankID,EmployeeCategoryID) as W1 on w1.BankID=sr.BankID and w1.EmployeeCategoryID=sr.EmployeeCategoryID
left outer join (select EmployeeCategoryID,sum(isnull(Net,0)) as Amount,dbo.fnNumToWords(sum(isnull(Net,0))) as Words from @SR group by EmployeeCategoryID) as W2 on w2.EmployeeCategoryID=sr.EmployeeCategoryID
order by Bank,K,M,E
GO
