USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance_New1]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Attendance_New1]
@Config varchar(50),
@OLID varchar(6),
@OID varchar(6),
@DPID varchar(6),
@FromDate varchar(12),
@ToDate varchar(12)

AS 
SET NOCOUNT ON









insert into AEnd (OLID)
select @OLID
GO
