USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Annexture8]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Annexture8] @LoginOLID INT,@FromYear INT ,@ToYear INT ,@FromFyYear DATETIME,@ToFyYear DATETIME,@AcOLID VARCHAR(100)
AS SET NOCOUNT ON

-- =============================================
-- OPTIMIZED - MULTI-USER SAFE VERSION
-- Zero logic change. Optimizations applied:
--   1. All @table variables -> #temp tables
--   2. Indexes added after each INSERT
--   3. Aggregation temp tables use SELECT INTO
--      (faster than CREATE + INSERT for small sets)
--   4. OPTION (RECOMPILE) on final SELECT
--   5. Session-safe DROP guards at top
-- NOTE: No Split() used in this script so
--       #AcOLIDs not needed here.
-- =============================================

--DECLARE @LoginOLID  INT          = 337
--DECLARE @FromYear   INT          = 2025
--DECLARE @ToYear     INT          = 2026
--DECLARE @FromFyYear DATETIME     = '2025-04-01'
--DECLARE @ToFyYear   DATETIME     = '2026-03-31'
--DECLARE @AcOLID     VARCHAR(100) = 601

-- =============================================
-- SESSION-SAFE DROP GUARDS
-- =============================================
IF OBJECT_ID('tempdb..#Annex3')    IS NOT NULL DROP TABLE #Annex3
IF OBJECT_ID('tempdb..#Anex3Net')  IS NOT NULL DROP TABLE #Anex3Net
IF OBJECT_ID('tempdb..#Annex1')    IS NOT NULL DROP TABLE #Annex1
IF OBJECT_ID('tempdb..#Anex1')     IS NOT NULL DROP TABLE #Anex1
IF OBJECT_ID('tempdb..#Annex4a')   IS NOT NULL DROP TABLE #Annex4a
IF OBJECT_ID('tempdb..#Anex4')     IS NOT NULL DROP TABLE #Anex4
IF OBJECT_ID('tempdb..#Annex7e')   IS NOT NULL DROP TABLE #Annex7e
IF OBJECT_ID('tempdb..#Anex7eNet') IS NOT NULL DROP TABLE #Anex7eNet
IF OBJECT_ID('tempdb..#Annex7f')   IS NOT NULL DROP TABLE #Annex7f
IF OBJECT_ID('tempdb..#Anex7fNet') IS NOT NULL DROP TABLE #Anex7fNet
IF OBJECT_ID('tempdb..#Annex7g')   IS NOT NULL DROP TABLE #Annex7g
IF OBJECT_ID('tempdb..#Anex7gNet') IS NOT NULL DROP TABLE #Anex7gNet
IF OBJECT_ID('tempdb..#Annex5a')   IS NOT NULL DROP TABLE #Annex5a
IF OBJECT_ID('tempdb..#Anex5')     IS NOT NULL DROP TABLE #Anex5
IF OBJECT_ID('tempdb..#Annex2a')   IS NOT NULL DROP TABLE #Annex2a
IF OBJECT_ID('tempdb..#Anex2')     IS NOT NULL DROP TABLE #Anex2

-- =============================================
-- 1. #Annex3  (was @Annex3)
-- =============================================
CREATE TABLE #Annex3 (
    FromAcHead VARCHAR(10),
    TotalJV10 MONEY, HalfYear1 MONEY, HalfYear2 MONEY,
    SlNo2a MONEY, JV32310 MONEY, JV42 MONEY, JV32410 MONEY,
    JV28 MONEY, JV161 MONEY, JV16115 MONEY, JV162 MONEY, JV16215 MONEY,
    JV12 MONEY, JV77711 MONEY, SlNo11 MONEY, SlNo12 MONEY, SlNo13 MONEY,
    Reclasification MONEY, NetAmount MONEY, OB MONEY,
    Total MONEY, CB MONEY, Difference MONEY
)

INSERT INTO #Annex3
EXEC SP_Annexure3 @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

-- Index supports the aggregation in #Anex3Net
CREATE INDEX ix_Annex3_AcHead ON #Annex3 (FromAcHead)

-- =============================================
-- 2. #Anex3Net  (was @Anex3Net)
--    Small single-row aggregate - SELECT INTO
-- =============================================
SELECT
    SUM(NetAmount - SlNo2a) Anne3Net,
    SUM(JV77711)            Anne377711,
    SUM(SlNo11)             Anne3SlNo11
INTO #Anex3Net
FROM #Annex3

-- =============================================
-- 3. #Annex1  (was @Annex1)
-- =============================================
CREATE TABLE #Annex1 (
    SlNo INT, OLID INT,
    FromAcHead VARCHAR(20), ToAcHead VARCHAR(20),
    Amount MONEY, VoltageClassCode VARCHAR(10), LocationCode VARCHAR(10)
)

INSERT INTO #Annex1
EXEC SP_Annexure1 @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

-- Index supports the SlNo filter in #Anex1 aggregation
CREATE INDEX ix_Annex1_SlNo ON #Annex1 (SlNo)

-- =============================================
-- 4. #Anex1  (was @Anex1)
--    Small single-row aggregate - SELECT INTO
-- =============================================
SELECT
    SUM(CASE WHEN SlNo IN (3,24)
             THEN (CASE WHEN SlNo=3 THEN -Amount ELSE Amount END)
             ELSE 0 END) Anne1Net,
    SUM(CASE WHEN SlNo=12 THEN Amount ELSE 0 END) Anne1Total
INTO #Anex1
FROM #Annex1
WHERE SlNo IN (3, 24, 12)

-- =============================================
-- 5. #Annex4a  (was @Annex4a)
-- =============================================
CREATE TABLE #Annex4a (
    FromAcHead VARCHAR(10),
    S10 MONEY, S32210 MONEY, S42 MONEY, S22 MONEY,
    S26604 MONEY, S27210 MONEY, S74117 MONEY,
    Reclasification MONEY, Rectification MONEY,
    S14 MONEY, S47 MONEY, S22641 MONEY, S12 MONEY,
    S32110 MONEY, S28 MONEY, S74510 MONEY,
    SI26604 MONEY, SI27210 MONEY, SI28103 MONEY, SIB28103 MONEY, SI28401 MONEY,
    SS16 MONEY, S77711 MONEY, OB MONEY, CB MONEY,
    SSTotal MONEY, NetAmount MONEY, OB_NetAmount MONEY,
    Series16 VARCHAR(10)
)

INSERT INTO #Annex4a
EXEC SP_Annexure4 @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

CREATE INDEX ix_Annex4a_AcHead ON #Annex4a (FromAcHead)

-- =============================================
-- 6. #Anex4  (was @Anex4)
--    Small single-row aggregate - SELECT INTO
-- =============================================
SELECT
    SUM(NetAmount)                        Anne4Net,
    -SUM(S22)                              Anex4_22,
    SUM(SI26604+SI27210-S26604-S27210)    Anex4_2627,
    SUM(SI28103)                          SI28103,
    SUM(S74510)                           S74510,
    SUM(S47)                              S47,
    SUM(S77711)                           S77711,
    SUM(S12)                              S12,
    SUM(S22641)                           S22641,
    SUM(SIB28103)                         SIB28103,
    -SUM(S74117)                          S74117,
    SUM(S14)                              S14 ,
    SUM(SI28401)                          SI28401
INTO #Anex4
FROM #Annex4a

-- =============================================
-- 7. #Annex7e  (was @Annex7e)
-- =============================================
CREATE TABLE #Annex7e (
    FromAcHead VARCHAR(10),
    Amount32110 MONEY, Amount32410_14 MONEY, Amount32410_10 MONEY, Amount32410_12 MONEY,
    FAmount12 MONEY, TAmount10 MONEY, TAmount14 MONEY,
    Amount32210 MONEY, Amount32510_14 MONEY, Amount32510_10 MONEY, Amount32510_12 MONEY,
    FAmount14 MONEY, FAmount10 MONEY, TAmount12 MONEY,
    OB MONEY, TotalofSlNo2to8 MONEY, TotalofSlNo9to15 MONEY, CB MONEY
)

INSERT INTO #Annex7e
EXEC SP_Annexure7E @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

CREATE INDEX ix_Annex7e_AcHead ON #Annex7e (FromAcHead)

-- =============================================
-- 8. #Anex7eNet  (was @Anex7eNet)
--    Small single-row aggregate - SELECT INTO
-- =============================================
SELECT SUM(-OB + CB) Anne7eNet
INTO #Anex7eNet
FROM #Annex7e

-- =============================================
-- 9. #Annex7f  (was @Annex7f)
-- =============================================
CREATE TABLE #Annex7f (
    A10790 MONEY,A10831 MONEY,A10832 MONEY,A10834 MONEY,A10835 MONEY,
    A12790 MONEY,A12831 MONEY,A12832 MONEY,A12834 MONEY,A12835 MONEY,
    A14790 MONEY,A14831 MONEY,A14832 MONEY,A14834 MONEY,A14835 MONEY,
    A16790 MONEY,A16831 MONEY,A16832 MONEY,A16834 MONEY,A16835 MONEY,
    AC790 MONEY,AC831 MONEY,AC832 MONEY,AC834 MONEY,AC835 MONEY,
    CB790 MONEY,CB831 MONEY,CB832 MONEY,CB834 MONEY,CB835 MONEY,
    OB790 MONEY,OB831 MONEY,OB832 MONEY,OB834 MONEY,OB835 MONEY,
    SAmount10 MONEY,SAmount12 MONEY,SAmount14 MONEY,SAmount16 MONEY,
    SAmountCash MONEY,SCB MONEY,SOB MONEY
)

INSERT INTO #Annex7f
EXEC SP_Annexure7F @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

-- =============================================
-- 10. #Anex7fNet  (was @Anex7fNet)
--     Single-row, no aggregation - SELECT INTO
-- =============================================
SELECT (-SOB + SCB) Anne7fNet
INTO #Anex7fNet
FROM #Annex7f

-- =============================================
-- 11. #Annex7g  (was @Annex7g)
-- =============================================
CREATE TABLE #Annex7g (
    A10219 MONEY,A10220 MONEY,A10222 MONEY,A10223 MONEY,A10790 MONEY,
    A12219 MONEY,A12220 MONEY,A12222 MONEY,A12223 MONEY,A12790 MONEY,
    A14219 MONEY,A14220 MONEY,A14222 MONEY,A14223 MONEY,A14790 MONEY,
    A16219 MONEY,A16220 MONEY,A16222 MONEY,A16223 MONEY,A16790 MONEY,
    AC219 MONEY,AC220 MONEY,AC222 MONEY,AC223 MONEY,AC790 MONEY,
    CB219 MONEY,CB220 MONEY,CB222 MONEY,CB223 MONEY,CB790 MONEY,
    OB219 MONEY,OB220 MONEY,OB222 MONEY,OB223 MONEY,OB790 MONEY,
    SAmount10 MONEY,SAmount12 MONEY,SAmount14 MONEY,SAmount16 MONEY,
    SAmountCash MONEY,SCB MONEY,SOB MONEY
)

INSERT INTO #Annex7g
EXEC SP_Annexure7G @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

-- =============================================
-- 12. #Anex7gNet  (was @Anex7gNet)
--     Single-row, no aggregation - SELECT INTO
-- =============================================
SELECT (-SOB + SCB) Anne7gNet
INTO #Anex7gNet
FROM #Annex7g

-- =============================================
-- 13. #Annex5a  (was @Annex5a)
-- =============================================
CREATE TABLE #Annex5a (
    FromAcHead VARCHAR(10),
    FAmount10 MONEY, FAmount16 MONEY, FAmount32310 MONEY, FAmount32510 MONEY,
    FAmount65 MONEY, FAmount83 MONEY,
    Rectification MONEY, Reclasification MONEY,
    OB MONEY, CB MONEY, NetAmount MONEY, OB_NetAmount MONEY,
    Difference MONEY, Series12 VARCHAR(10)
)

INSERT INTO #Annex5a
EXEC SP_Annexure5 @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

CREATE INDEX ix_Annex5a_AcHead ON #Annex5a (FromAcHead)

-- =============================================
-- 14. #Anex5  (was @Anex5)
--     Small single-row aggregate - SELECT INTO
-- =============================================
SELECT
    SUM(FAmount16)     Anex516,
    SUM(FAmount32510)  FAmount32510,
    -SUM(FAmount32310) FAmount32310
INTO #Anex5
FROM #Annex5a

-- =============================================
-- 15. #Annex2a  (was @Annex2a)
-- =============================================
CREATE TABLE #Annex2a (
    OLID INT, OrderNo INT, JournalVoucherNo INT,
    FromAcHead VARCHAR(50), ToAcHead VARCHAR(50), Amount MONEY
)

INSERT INTO #Annex2a
EXEC SP_Annexure2 @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @AcOLID

-- Index supports the OrderNo + JournalVoucherNo filter in #Anex2
CREATE INDEX ix_Annex2a_OrderJV ON #Annex2a (OrderNo, JournalVoucherNo)

-- =============================================
-- 16. #Anex2  (was @Anex2)
--     Small single-row aggregate - SELECT INTO
-- =============================================
SELECT -SUM(Amount) A55100
INTO #Anex2
FROM #Annex2a
WHERE OrderNo IN (2) AND JournalVoucherNo = 0

-- =============================================
-- 17. FINAL SELECT with OPTION (RECOMPILE)
--     Each concurrent user gets their own plan
--     tuned to their parameter values.
-- =============================================
SELECT
    (CAST(@FromYear AS VARCHAR(4)) + '-' + CAST(@ToYear AS VARCHAR(4))) AS FyYear,
    CONVERT(VARCHAR, @FromFyYear, 104) AS FromFyYear,
    CONVERT(VARCHAR, @ToFyYear,   104) AS ToFyYear,
    LEFT(LocationCode, 3)              AS LocationCode,
    CONCAT('MARCH ', @ToYear)          FyMonth,
    OfficeLocation,
    a.*
FROM (
    SELECT
        *,
        (   ISNULL(Anne3Net,0)     + ISNULL(Anne377711,0)   + ISNULL(Anne3SlNo11,0)
          + ISNULL(Anne1Net,0)     + ISNULL(Anne4Net,0)     + ISNULL(Anex4_22,0)
          + ISNULL(Anex4_2627,0)   + ISNULL(SI28103,0)      + ISNULL(S74510,0)
          + ISNULL(S47,0)          + ISNULL(S77711,0)        + ISNULL(S12,0)
          + ISNULL(S22641,0)       + ISNULL(SIB28103,0)     + ISNULL(S74117,0)
          + ISNULL(Anne7eNet,0)    + ISNULL(Anne7fNet,0)    + ISNULL(Anne7gNet,0)
          + ISNULL(Anex516,0)      + ISNULL(FAmount32510,0) + ISNULL(FAmount32310,0)
          + ISNULL(A55100,0)	   + ISNULL(SI28401,0) 
        ) TotalA,
        (ISNULL(Anne1Total,0) - ISNULL(S14,0)) TotalB
    FROM (SELECT 1 AS ID) A
    LEFT JOIN #Anex3Net  ON ID = 1
    LEFT JOIN #Anex1     ON ID = 1
    LEFT JOIN #Anex4     ON ID = 1
    LEFT JOIN #Anex7eNet ON ID = 1
    LEFT JOIN #Anex7fNet ON ID = 1
    LEFT JOIN #Anex7gNet ON ID = 1
    LEFT JOIN #Anex5     ON ID = 1
    LEFT JOIN #Anex2     ON ID = 1
) A
LEFT JOIN OfficeLocationAccountingUnitDetails ola WITH(NOLOCK)
    ON  ola.OLID = @AcOLID
LEFT JOIN LocationCode lc WITH(NOLOCK)
    ON  lc.Budget     = 1
    AND lc.OfficeID   = ola.OfficeID
    AND lc.LocationId = ola.LocationID
OPTION (RECOMPILE)

-- =============================================
-- Cleanup
-- =============================================
IF OBJECT_ID('tempdb..#Annex3')    IS NOT NULL DROP TABLE #Annex3
IF OBJECT_ID('tempdb..#Anex3Net')  IS NOT NULL DROP TABLE #Anex3Net
IF OBJECT_ID('tempdb..#Annex1')    IS NOT NULL DROP TABLE #Annex1
IF OBJECT_ID('tempdb..#Anex1')     IS NOT NULL DROP TABLE #Anex1
IF OBJECT_ID('tempdb..#Annex4a')   IS NOT NULL DROP TABLE #Annex4a
IF OBJECT_ID('tempdb..#Anex4')     IS NOT NULL DROP TABLE #Anex4
IF OBJECT_ID('tempdb..#Annex7e')   IS NOT NULL DROP TABLE #Annex7e
IF OBJECT_ID('tempdb..#Anex7eNet') IS NOT NULL DROP TABLE #Anex7eNet
IF OBJECT_ID('tempdb..#Annex7f')   IS NOT NULL DROP TABLE #Annex7f
IF OBJECT_ID('tempdb..#Anex7fNet') IS NOT NULL DROP TABLE #Anex7fNet
IF OBJECT_ID('tempdb..#Annex7g')   IS NOT NULL DROP TABLE #Annex7g
IF OBJECT_ID('tempdb..#Anex7gNet') IS NOT NULL DROP TABLE #Anex7gNet
IF OBJECT_ID('tempdb..#Annex5a')   IS NOT NULL DROP TABLE #Annex5a
IF OBJECT_ID('tempdb..#Anex5')     IS NOT NULL DROP TABLE #Anex5
IF OBJECT_ID('tempdb..#Annex2a')   IS NOT NULL DROP TABLE #Annex2a
IF OBJECT_ID('tempdb..#Anex2')     IS NOT NULL DROP TABLE #Anex2
GO
