USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_RV]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Data_Integrity_RV] @FromDate DateTime,@ToDate DateTime AS

--go 
--Declare @FromDate DateTime = '2023-02-01' 
--Declare @ToDate DateTime = '2023-02-28' 
;

----------------------------------------------------------------------------

-- Receipt Voucher against Quantity: ReceivedQuantity in ReceiptVoucherDetails table should be equal to sum of Quantity in ReceiptVoucherMaterialDetails table 
--select ItemID,ReceivedQuantity,(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0)) SumQuantity
 update a set ReceivedQuantity = (isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
from ReceiptVoucherDetails_pni  A with(nolock) 
where isnull(ReceivedQuantity,0)!=(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
and ReceiptVoucherNo in ( select ReceiptVoucherNo from ReceiptVoucherAbstract_pni s with(nolock) where s.ReceiptVoucherDate between @FromDate and @ToDate )

----------------------------------------------------------------------------

-- ReceiptVoucherMaterialDetailsSub table for Duplicates. No rows should be duplicated in ReceiptVoucherMaterialDetailsSub table i.e. one SerialNo should have only 1 make. 
--select * 
 delete 
from ReceiptVoucherMaterialDetailsSub_pni where ReceiptVoucherUserDefinedFieldID in (
select ReceiptVoucherUserDefinedFieldID from (
select a.*,ReceiptVoucherUserDefinedFieldID,(Row_Number() over (Partition By a.ReceiptVoucherMaterialDetailsID Order By a.ReceiptVoucherMaterialDetailsID,ReceiptVoucherUserDefinedFieldID )) SlNo  from (
select rvmds.ReceiptVoucherMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,rvmd.Quantity,count(*) Nos
from ReceiptVoucherMaterialDetailsSub_pni rvmds with(nolock) ,ReceiptVoucherMaterialDetails_pni rvmd with(nolock) 
where rvmds.ReceiptVoucherMaterialDetailsID=rvmd.ReceiptVoucherMaterialDetailsID
and ReceiptVoucherDetailsID in (select ReceiptVoucherDetailsID from ReceiptVoucherDetails_pni with(nolock) 
	where ReceiptVoucherNo in (select ReceiptVoucherNo from ReceiptVoucherAbstract_pni with(nolock) where ReceiptVoucherDate>= @FromDate ) 
	and ItemID in (select ItemID from Stock with(nolock) where isnull(SerialFlag,0)=0 )) 
group by rvmds.ReceiptVoucherMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,rvmd.Quantity
having count(*)>1 ) A 
inner join ReceiptVoucherMaterialDetailsSub_pni B with(nolock) on b.ReceiptVoucherMaterialDetailsID=a.ReceiptVoucherMaterialDetailsID and b.DistributionNodeUserDefinedFieldID=a.DistributionNodeUserDefinedFieldID and b.UserDefinedFieldValue=a.UserDefinedFieldValue
) A where SlNo != 1 ) 

----------------------------------------------------------------------------

--Row must be inserted to ReturnInvoiceMaterialDetailsSub when RI is inserted for Serial Flag true cases fetching Make from StoreInvoiceMaterialDetailsSub against a particular Work Order.
insert into ReturnInvoiceMaterialDetailsSub
select distinct G.ReturnInvoiceMaterialDetailsID,H.DistributionNodeUserDefinedFieldID,H.UserDefinedFieldValue
from ( select A.ReturnInvoiceNo,C.ItemID,E.SerialNo,F.DistributionNodeUserDefinedFieldID,F.UserDefinedFieldValue,A.DocumentNo,E.ReturnInvoiceMaterialDetailsID
	from ReturnInvoiceAbstract A with(nolock) 
	INNER join ReturnInvoiceDetails C with(nolock) on A.ReturnInvoiceNo=C.ReturnInvoiceNo
	inner join Stock D with(nolock) on C.ItemID=D.ItemID
	inner join ReturnInvoicematerialDetails E with(nolock) on C.ReturnInvoiceDetailsID=E.ReturnInvoiceDetailsID
	left outer join ReturnInvoiceMaterialDetailsSub F with(nolock) on E.ReturnInvoiceMaterialDetailsID=F.ReturnInvoiceMaterialDetailsID
	where ReturnTypeID is null and DocumentNo in (select B.WorkOrderNo from WorkOrder B with(nolock) WHERE B.WorkAllocationID IN (57,58))
	and D.SerialFlag=1 and F.UserDefinedFieldValue is null and A.ReturnInvoiceDate>= @FromDate ) as G
inner join ( select Q.ItemID,S.SerialNo,R.DistributionNodeUserDefinedFieldID,R.UserDefinedFieldValue,P.DocumentNo
	from StoreInvoice_pni P with(nolock) 
	inner join StoreInvoiceDetails_pni Q with(nolock) on P.StoreInvoiceNo=Q.StoreInvoiceNo
	inner join StoreInvoiceMaterialDetails_pni S with(nolock) on Q.StoreInvoiceDetailsID=S.StoreInvoiceDetailsID
	inner join StoreInvoiceMaterialDetailsSub_pni R with(nolock) on S.StoreInvoiceMaterialDetailsID=R.StoreInvoiceMaterialDetailsID
	inner join Stock T with(nolock) on Q.ItemID=T.ItemID
	where T.SerialFlag=1 and isnull(documentno,0)<>0 and R.UserDefinedFieldValue<>'' and R.UserDefinedFieldValue<>'0'
	) as H on G.DocumentNo=H.DocumentNo and G.ItemID=H.ItemID and G.SerialNo collate database_default=H.SerialNo collate database_default


----------------------------------------------------------------------------

delete from SerialFlag_True_RVMD DBCC CHECKIDENT ('SerialFlag_True_RVMD', RESEED, 0); 



GO
