USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ListOfRVReportAgainstRI]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ListOfRVReportAgainstRI] @OLID varchar(50),@FromD varchar(50),@ToD varchar(50),@Param varchar(max) as

--Declare @OLID varchar(50)=2823
--Declare @FromD varchar(50)='2019-01-01'
--Declare @ToD varchar(50)='2019-08-30'
--Declare @Param varchar(max)=''

Declare @sqlstr varchar(max)

set @sqlstr='select b.OfficialReferenceNo RINo,format(ReturnInvoiceDate,''dd-MM-yyyy'') RIdate,g.FileAs WInCharge,a.OfficialReferenceNo RVNo,format(ReceiptVoucherDate,''dd-MM-yyyy'') RVDate,
(case when a.Canceled=1 then ''Canceled'' when a.Approved=1 then ''Approved'' else ''Not Approved'' end) Status ,concat(d.FileAs collate database_default,char(10) ,i.DesignationName collate database_default,''('',DepartmentName collate database_default,'') '', '' , '' ,h.OfficeName collate database_default, '' , '' ,j.LocationName collate database_default) ApprovedBy
from ReceiptVoucherAbstract_pni a with (nolock)
inner join ReturnInvoiceAbstract b with (nolock) on a.ReturnInvoiceNo=b.ReturnInvoiceNo
left join ActivityApprovals_pni c with (nolock) on c.DocumentNo=a.ReceiptVoucherNo and c.ActivityID=98 and c.StatusID=1
inner join ODLDAllocation e with (nolock) on e.ODLDID=c.ApproverODLDID
inner join Office h on h.OfficeID=e.OfficeID
inner join Designation i on i.DesignationID=e.DesignationID
inner join Location j on j.LocationID=e.LocationID
inner join Department k on k.DepartmentID=e.DepartmentID
left join Contacts d with (nolock) on d.ContactID=c.ApproverContactID
left join ActivityApprovals_works f with (nolock) on f.DocumentNo=b.ReturnInvoiceNo and f.ActivityID=281 and f.StatusID=5
left join Contacts g with (nolock) on g.ContactID=f.ApproverContactID
where 1=1
and (a.OLID in (select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock) where OfficeLocationAllocationID=' + @OLID+ ' )
or ReturnInvoiceOLID in (select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock)  where OfficeLocationAllocationID=' + @OLID+ '))
and convert(date,ReceiptVoucherDate,120) between '''+@FromD+''' and '''+@ToD+''' '+ @Param +'
order by g.Fileas '

exec     (@sqlstr)

--SP_ListOfRVReportAgainstRI 341,'2018-01-01','2019-08-30','and a.Approved=1 and a.Canceled=0'--Approved

--SP_ListOfRVReportAgainstRI 341,'2018-01-01','2019-08-30','and a.Approved=0 and a.Canceled=0'-- Not Approved
 
--SP_ListOfRVReportAgainstRI 341,'2018-01-01','2019-08-30',' and a.Canceled=1'--canceled

 --SP_ListOfRVReportAgainstRI 341,'2018-01-01','2019-08-30','  '--All
GO
