USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_WorkAwardReport_old]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create PROCEDURE [dbo].[SP_WorkAwardReport_old] @SENo int as 
SET NOCOUNT ON

Declare @Status Int select @Status = 1

Declare @AcOL Table (AcOLID Int,SubDivisionOLID Int,OLID Int,OfficeID Int,LocationID Int) Insert Into @AcOL
select a.AcOLID,a.SubDivisionOLID ,b.OLID,a.OfficeID,a.LocationID
from FnUnderOL() a
Inner Join SanctionEstimate b on  a.OLID=b.OLID and b.SanctionEstimateNo=@SENo


Declare @SE Table (AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money)
Insert Into @SE
select AcOLID,SubDivisionOLID,a.OLID,SanctionEstimateDate,b.Description,b.SanctionEstimateNo,isnull(EIC,0) as EIC
from @AcOL A Inner Join SanctionEstimate B with (nolock) on b.OLID=a.OLID and isnull(Approved,0)=1 and isnull(canceled,0)=0 and b.SanctionEstimateNo in (@SENo)
Left Outer Join ( select SanctionEstimateNo,Round(Round(Sum(Amount),2),0) as EIC from SanctionEstimateOthersWorkAllocation with (nolock) where CivilWorkOtherTypeID=18 
and SanctionEstimateNo = @SENo 
Group By SanctionEstimateNo ) as C on c.SanctionEstimateNo=b.SanctionEstimateNo



Declare @WO Table (WorkAwardNo Int,WorkAwardDate DateTime,WorkOrderNo Int,WorkOrderDate DateTime,AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money,RateContractNo Int)
Insert Into @WO
select distinct a.WorkAwardNo,a.WorkAwardDate,WorkOrderNo,WorkOrderDate,AcOLID Int,SubDivisionOLID,b.OLID,SEDate,NameOftheWork,SENo,EIC,a.RateContractID
from WorkOrder A with (nolock) Inner Join @SE B on b.SENo=a.SanctionEstimateNo
where a.canceled=0



Declare @MB Table (MeasurementBookID Int,WorkOrderNo Int,MeasurementDate DateTime,SENo Int) Insert Into @MB
select MeasurementBookID,WorkOrderNo,MeasurementDate,SENo from (
select a.* ,SENo,(Row_NUmber() over (Partition By a.WorkOrderNo Order By a.WorkOrderNo,WorkCompletionDate desc,MeasurementBookID desc)) as MaxNo
from MeasurementBook A with (nolock) Inner Join @WO B on b.WorkOrderNo=a.WorkOrderNo
where isnull(Canceled,0)=0  and Approved= @Status ) as A where MaxNo=1




Declare @CR Table (WorkOrderNo Int,CompletionDate DateTime) Insert Into @CR
select WorkOrderNo,CompletionDate from (
select a.WorkOrderNo,CompletionDate,(Row_NUmber() over (Partition By a.WorkOrderNo Order By a.WorkOrderNo,CompletionDate desc,MeasurementBookID desc)) as MaxNo
from CompletionReport A With (NoLock) where isnull(Canceled,0)=0 and Complete=1 and isnull(MeasurementBookID,0)>0 and CompletionDate>0
and WorkOrderNo in ( select WorkOrderNo from @WO B where b.WorkOrderNo=a.WorkOrderNo )
) as A where MaxNo=1




Declare @SI Table (WorkOrderNo Int,StoreInvoiceNo Int,StoreInvoiceDate DateTime) Insert Into @SI
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate from (
select DocumentNo ,StoreInvoiceNo,StoreInvoiceDate,(Row_NUmber() over (Partition By a.DocumentNo Order By a.DocumentNo,StoreInvoiceDate desc,StoreInvoiceNo desc)) as MaxNo
from StoreInvoice_PnI A with (nolock) where DocumentTypeID in (2,22) and isnull(Canceled,0)=0 and Passed=1
and DocumentNo in ( select WorkOrderNo from @WO B where b.WorkOrderNo=a.DocumentNo )
) as A where MaxNo=1


Declare @MBD Table (WONo Int,WorkAllocationID Int,WorkAllocationSubID Int,CWMTypeID Int,ItemID Int,UnitID Int,Rate Float,Quantity Float,Amount Money,Source varchar(200))
Insert Into @MBD
select WorkOrderNo,B.WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,UnitID,TenderedRate,Sum(TenderedQuantity) as Quantity,Sum(TenderedAmount) as Amount,Source
from  SanctionEstimateWorkAllocationDetails A with (nolock)
inner join SanctionEstimate B with (nolock) on A.SanctionEstimateNo=B.SanctionEstimateNo
inner join WorkOrder c on C.SanctionEstimateNo=B.SanctionEstimateNo  and c.canceled=0
where A.sanctionestimateno=@SENo 
Group By WorkOrderNo,B.WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,UnitID,TenderedRate,Source
Having Sum(TenderedRate)!=0


Declare @MBDL Table (CWMTypeID Int,WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,Rate Float)
Insert Into @MBDL
select CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,(Max(Rate1)*LabourQty1) as Rate from (
select *,(case when LUnitID=26 and MUnitID=27 then LabourQty else case when LUnitID=27 and MUnitID=27 then LabourQty else 1 end end) as LabourQty1
,(select value from fn_convertQty(ItemID,LunitID,MUnitID,Rate)) as Rate1 from (
select a.CWMTypeID,a.WONo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID as LabourID,isnull(b.Quantity,1) as LabourQty,b.UnitID as LUnitID,c.UnitID as MUnitID,Max(a.Rate) as Rate,Sum(a.Quantity) as Quantity,Round(Sum(a.Amount),2) as Amount from (
select CWMTypeID,WONo,WorkAllocationID,WorkAllocationSubID,ItemID,UnitID,Rate,Quantity,(isnull(Quantity,0)*isnull(Rate,0)) as Amount,(isnull(Quantity,0)+isnull(Rate,0)) sum
from @MBD C where c.CWMTypeID=2
) as A Inner Join ( select * from ( select ItemID,CivilWorkLabourTypeID,Quantity,UnitID,(Row_Number() over (Partition By ItemID,CivilWorkLabourTypeID Order By ItemID,CivilWorkLabourTypeID,StockLabourAllocationID Desc)) as MaxNo
from StockLabourAllocation with (nolock)

where CivilWorkLabourTypeID  in(select CivilworkLabourTypeID from CivilWorkLabourTypes where WorkTypeID in (1,6) )) as A 
where MaxNo=1 ) B on b.CivilWorkLabourTypeID=a.ItemID
Inner Join @MBD C on c.CWMTypeID=4 and c.ItemID=b.ItemID and c.WONo=a.WONo and c.WorkAllocationID=a.WorkAllocationID and c.WorkAllocationSubID=a.WorkAllocationSubID
Group By a.CWMTypeID,a.WONo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID,b.Quantity,b.UnitID,c.UnitID Having Round(Sum(a.sum),2)!=0---131631a.amount
) as A ) as A Group By CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,LabourQty1



Declare @MBDSlNo Table (WONo Int,WorkAllocationID Int,ItemID Int,UnitID Int,Rate Money,Quantity Money,Amount Money,SlNo Int)
Insert Into @MBDSlNo
select * from (
select WONo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
,(Row_Number() over (Partition By a.WONo,a.ItemID Order By a.WONo,a.ItemID,rate,max(WorkAllocationSubID))) as SlNo
from @MBD  a where CWMTypeID=4 Group By WONo,WorkAllocationID,ItemID,UnitID,Rate ) AA
where SlNo>1


Declare @MBDFinal Table (WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,UnitID Int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo Int,Source varchar (50))
Insert Into @MBDFinal
select isnull(a.WONo,b.WONo) as WONo,isnull(a.WorkAllocationID,b.WorkAllocationID) as WorkAllocationID,isnull(a.ItemID,b.ItemID) as ItemID,isnull(LabourID,0) as LabourID
,a.UnitID,isnull(a.Rate,0) as MRate,isnull(a.Quantity,0) as MQuantity,(isnull(a.Rate,0)*isnull(a.Quantity,0)) as MAmount
,isnull(b.Rate,0) as LRate,isnull(a.Quantity,0) as LQuantity,(isnull(b.Rate,0)*isnull(a.Quantity,0)) as LAmount
,(Row_Number() over (Partition By a.WONo,a.ItemID Order By a.WONo,a.ItemID,LabourID)) as SlNo,Source
from ( select WONo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount,Source
from @MBD where CWMTypeID=4 Group By WONo,WorkAllocationID,ItemID,UnitID,Rate,Source ) as A
Full Join @MBDL B on b.ItemID=a.ItemID and b.WONo=a.WONo and b.WorkAllocationID=a.WorkAllocationID


Declare @MBDSub table ( MBWAD int,MeasurementBookID int,MILCWID  int ,ItemID int,UnitID int ,Quantity Money,Rate Money,Amount Money ,Source varchar(50),workallocationSubID int)
Insert Into @MBDSub
Select 0, a.SanctionEstimateNo,a.MILCWID, a.ItemID,a.UnitID int ,a.TenderedQuantity,a.Tenderedrate,a.TenderedAmount,Source,workallocationSubID
from  SanctionEstimateworkallocationDetailsSub a with (nolock)
where a.SanctionEstimateNo=@SENo



Declare @MissingItem  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo int,Source varchar(50),Source1 varchar(50))
Insert Into @MissingItem
select 10 CWMTypeID,WorkOrderNo,b.WorkAllocationID,ItemID,a.MILCWID LabourID,a.UnitID,0 Rate,sum(a.Quantity) Quantity,0 as Amount,a.Rate,sum(a.Quantity)Quantity,sum(a.Amount)Amount,2,a.Source,a.Source
from @MBDSub a
inner Join SanctionEstimateWorkAllocationDetails b with (nolock) on a.MeasurementBookID=b.SanctionEstimateNo  AND a.MILCWID=b.MILCWID and a.workallocationSubID=b.workallocationSubID
inner Join @WO c on b.sANCTIONeSTIMATEnO=c.SENo 
where a.MILCWID not in (306)
group by WorkOrderNo,b.WorkAllocationID,ItemID,a.MILCWID ,a.UnitID,a.Rate,a.Source,a.Source
Union All
select a.CWMTypeID,a.WONo,a.WorkAllocationID,0 ItemID,a.ItemID,UnitID,0,Sum(Quantity) Quantity,0,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1 ,Source,Source
from @MBD a 
where CWMTypeID=2 --and ItemID  in(select CivilworkLabourTypeID from CivilWorkLabourTypes where WorkTypeID=1 ) --Bug #114265
and ItemID Not In (select LabourID from @MBDL b where b.LabourID=a.itemID and b.woNo=a.WOnO
Union all select MILCWID from @MBDSub d where d.MILCWID=a.itemID)--Bug #114265
group by CWMTypeID,WONo,WorkAllocationID,ItemID,UnitID,Rate,Source



Declare @ItemOrder1 Table (CivilWorkMeasurementTypeID Int,SENo Int,MBWADID Int,ItemID Int,WorkAllocationSubID Int,OrderNo Int,SlNo Int)
Insert Into @ItemOrder1
select CivilWorkMeasurementTypeID,SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID,MILCWID,WorkAllocationSubID,OrderNo
,(Row_Number() over (Order By SanctionEstimateNo,(case when CivilWorkMeasurementTypeID in (4,5) then 1 else case when CivilWorkMeasurementTypeID=3 then 2 else case when CivilWorkMeasurementTypeID=10 then 3 else 4 end end end),SanctionEstimateWorkAllocationDetailsID)) as SlNo from (
select CivilWorkMeasurementTypeID,SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID,MILCWID,WorkAllocationSubID,OrderNo,(Row_Number() over (Partition By SanctionEstimateNo,CivilWorkMeasurementTypeID,MILCWID Order By SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID)) as MinNo
from (select *,(case when WorkAllocationSubID=4 then 1 else case when WorkAllocationSubID=46 then 2 else case when WorkAllocationSubID=2 then 3 else case when WorkAllocationSubID=7 then 4 else 5 end end end end) as OrderNo from SanctionEstimateWorkAllocationDetails with (nolock) ) as A
where CivilWorkMeasurementTypeID!=2 and SanctionEstimateNo = @SENo 
union all
select distinct CWMTypeID,SENo,ItemID,ItemID,0,1,1 from @MissingItem A Left Outer Join @WO B on b.WorkOrderNo=a.WONo
) as A where MinNo=1


declare @Estimates table(sanctionEstimateNo Int)
insert Into  @Estimates 
select a.sanctionEstimateNo from 
(select a.workawardNo,a. sanctionEstimateNo,a.workOrderNo,b.Dt,b.DocumentNo
from workoRder a 
inner join 
(select ACtivityID,max(DateAndTime)Dt,DocumentNo
from ActivityApprovals_Works where ActivityID=52 and DocumentNo=@SENo 
group by ActivityID,DocumentNo) b on a.sanctionEstimateNo=b.DocumentNo) a
inner Join 
(select ACtivityID,max(DateAndTime)workAwarddate,DocumentNo
from ActivityApprovals_Works where ActivityID=264
group by ActivityID,DocumentNo)  b on  a.workawardNo=b.DocumentNo and a.Dt>workAwarddate 


declare @EstRevisionQty table(SENo int,WorkAllocationSubID int, CWMTypeID int,MILCWID int,UnitID int, SQ Money, TQ Money, IQ Money, SR Money, TR Money, IR Money, SA Money, TA Money, IA Money )
insert into @EstRevisionQty
select SanctionEstimateNo,WorkAllocationSubID,CivilWorkMeasurementTypeID CWMTypeID,MILCWID,UnitID,SanctionedQuantity SQ,TenderedQuantity TQ,InitialQuantity IQ,
SanctionedRate SR,TenderedRate TR,InitialRate IR,SanctionedAmount SA,TenderedAmount TA,InitialAmount IA 
from SanctionEstimateWorkAllocationDetails
where SanctionEstimateNo= @SENo and SanctionedQuantity<>InitialQuantity




declare @EstRevisionQtySub table(SENo int,WorkAllocationSubID int, CWMTypeID int,MILCWID int,ItemID int,UnitID int, SQ Money, TQ Money, IQ Money, SR Money, TR Money, IR Money, SA Money, TA Money, IA Money )
insert into @EstRevisionQtySub
select DISTINCT b.SanctionEstimateNo,b.WorkAllocationSubID,b.CivilWorkMeasurementTypeID CWMTypeID,b.MILCWID,b.ItemID,b.UnitID,b.SanctionedQuantity SQ,b.TenderedQuantity TQ,b.InitialQuantity IQ,
b.SanctionedRate SR,b.TenderedRate TR,b.InitialRate IR,b.SanctionedAmount SA,b.TenderedAmount TA,b.InitialAmount IA 
from SanctionEstimateWorkAllocationDetails a
inner join SanctionEstimateWorkAllocationDetailsSub b on a.SanctionEstimateNo=b.SanctionEstimateNo and a.MILCWID=b.MILCWID and a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
where b.SanctionEstimateNo= @SENo and b.SanctionedQuantity<>b.InitialQuantity

declare @EstRevisionQtySub1 table(SENo int, CWMTypeID int,MILCWID int,ItemID int,UnitID int, SQ Money, TQ Money, IQ Money, SR Money, TR Money, IR Money, SA Money, TA Money, IA Money )
insert into @EstRevisionQtySub1
select DISTINCT b.SanctionEstimateNo,b.CivilWorkMeasurementTypeID CWMTypeID,b.MILCWID,b.ItemID,b.UnitID,sum(b.SanctionedQuantity) SQ,sum(b.TenderedQuantity) TQ,sum(b.InitialQuantity) IQ,
b.SanctionedRate SR,b.TenderedRate TR,b.InitialRate IR,sum(b.SanctionedAmount) SA,sum(b.TenderedAmount) TA, sum(b.InitialAmount) IA 
from SanctionEstimateWorkAllocationDetails a
inner join SanctionEstimateWorkAllocationDetailsSub b on a.SanctionEstimateNo=b.SanctionEstimateNo and a.MILCWID=b.MILCWID and a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
where b.SanctionEstimateNo= @SENo and b.SanctionedQuantity<>b.InitialQuantity
group by b.SanctionEstimateNo,b.CivilWorkMeasurementTypeID ,b.MILCWID,b.ItemID,b.UnitID,b.SanctionedRate ,b.TenderedRate ,b.InitialRate 
----for iteme id 150 double amount issue


Declare @TotalAmount  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo int,Source varchar(50),Source1 varchar(50))
Insert Into @TotalAmount
select distinct 4 as CWMTypeID,	a.WONo,	a.WorkAllocationID,	a.ItemID	,a.LabourID	,a.UnitID,	
case when b.SR<>b.TR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then b.TR else  a.MRate end MRate 	,
case when b.SQ<>b.IQ and  @SENo  in(Select sanctionEstimateNo from @Estimates) then b.IQ else a.MQuantity end MQuantity,	
case when  ((b.SR=b.TR   and  b.IQ<>b.TQ ) or (b.SR<>b.TR   and  b.TQ=0 ) )   and  @SENo  in(Select sanctionEstimateNo from @Estimates)then b.IQ*b.TR else  a.MAmount	end MAmount ,
case when c.SR<>c.TR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.TR else  a.LRate end LRate	,
case when c.SQ<>c.IQ and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then c.IQ else a.LQuantity end LQuantity	,
case when  ((c.SR=c.TR   and  c.IQ<>c.TQ ) or (c.SR<>c.TR   and  c.TQ=0 ) )  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IQ*c.TR else a.LAmount end LAmount, 	a.SlNo	,a.Source	,a.source
from @MBDFinal a
left Outer Join @EstRevisionQty b on  a.ItemID=b.MILCWID and b.CWMTypeID=4 
left Outer Join @EstRevisionQty c on  a.LabourID=c.MILCWID and c.CWMTypeID=2
where a.SlNo=1
and a.Itemid not in(
select MILCWID from SanctionEstimateWorkAllocationDetails where SanctionEstimateNo in(Select sanctionEstimateNo from @Estimates) and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0)
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=4)

Union all
select distinct 4 as CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.LabourID,a.UnitID, 
(case when b.ItemID is Null then 0 when  bb.SR<>bb.TR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then bb.TR else b.rate end) as MRate,
case when bb.SQ<>bb.IQ  and  @SENo  in(Select sanctionEstimateNo from @Estimates)then bb.IQ else MQuantity end MQuantity,	
(case when b.ItemID is Null then 0 when   ((bb.SR=bb.TR   and  bb.IQ<>bb.TQ ) or (bb.SR<>bb.TR   and  bb.TQ=0 ) ) and  @SENo  in(Select sanctionEstimateNo from @Estimates) then bb.IQ*bb.TR else b.Amount end) as MAmount,
case when c.SR<>c.TR and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then c.TR else  a.LRate end LRate	,
case when c.SQ<>c.IQ  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IQ else a.LQuantity end LQuantity	,
case when  ((c.SR=c.TR   and  c.IQ<>c.TQ ) or (c.SR<>c.TR   and  c.TQ=0 ) )  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IQ*c.TR else a.LAmount end LAmount,
a.SlNo,Source,Source 
from @MBDFinal a
left Outer Join @MBDSlNo b on a.WONo=b.WONo and a.ItemID=b.ItemID and a.SlNo=b.SlNo
left Outer Join @EstRevisionQty bb on  a.ItemID=bb.MILCWID and bb.CWMTypeID=4 
left Outer Join @EstRevisionQty c on  a.LabourID=c.MILCWID and c.CWMTypeID=2
where a.SlNo!=1 and a.Itemid not in(
select MILCWID from SanctionEstimateWorkAllocationDetails where SanctionEstimateNo in(Select sanctionEstimateNo from @Estimates)  and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0)
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=4)

union all
select a.CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,306 as LabourID,a.UnitID,
a.Rate,case when sum(c.SQ)<>sum(c.IQ) and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then sum(c.IQ) else sum(b.Quantity)  end Quantity,	
--sum(a.Quantity) as Quantity,
sum((isnull(a.Rate,0)*isnull(a.Quantity,0))) as Amount,
case when max(c.SR)<>max(c.TR) and  @SENo  in(Select sanctionEstimateNo from @Estimates) then max(c.TR) else  b.Rate end Rate	,
case when sum(c.SQ)<>sum(c.IQ) and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then sum(c.IQ) else sum(b.Quantity)  end Quantity	,
--case when sum(c.SA)<>sum(c.TA)  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then sum(c.IQ)*sum(c.TR) else sum(b.Amount) end Amount,
case when ( (sum(C.SR)=sum(C.TR)  AND sum(IQ)<>sum(TQ)  or sum(C.SR)<>sum(C.TR) AND sum(C.TQ)=0)) and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then Sum((isnull(c.TR,0)*isnull(c.IQ,0)))  else Sum((isnull(b.Rate,0)*isnull(b.Quantity,0)))  end Amount 	
,
2 ,b.Source,a.Source
from @MBD  a
left outer join  @MBDSub  b  on a.ItemID=b.ItemID and  a.workallocationSubID=b.workallocationSubID and b.MILCWID in (306)   
left Outer Join  @EstRevisionQtySub c On b.ItemID=c.ItemID and  b.workallocationSubID=c.workallocationSubID and c.MILCWID in (306) 
where a.CWMTypeID=5 
and concat(b.ItemId,b.MILCWID) not in(
select concat(ItemId,MILCWID) from SanctionEstimateWorkAllocationDetailssub where SanctionEstimateNo in(Select sanctionEstimateNo from @Estimates)  and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0)
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=2)
group by a.CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.UnitID,a.Rate,b.Rate,b.Source,a.Source
union all
select a.CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,0 as LabourID,a.UnitID,0,
case when sum(c.SQ)<>sum(c.IQ)  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then Sum(c.IQ) else  Sum(Quantity) end Quantity	,0,
case when avg(c.SR)<>avg(c.TR ) and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then avg(c.TR) else  Rate end Rate 	,
case when sum(c.SQ)<>sum(c.IQ)  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then Sum(c.IQ) else  Sum(Quantity) end Quantity,
case when ( (sum(C.SR)=sum(C.TR)  AND sum(IQ)<>sum(TQ)  or sum(C.SR)<>sum(C.TR) AND sum(C.TQ)=0)) and  @SENo  in(Select sanctionEstimateNo from @Estimates)  then Sum((isnull(c.TR,0)*isnull(c.IQ,0)))  else Sum((isnull(Rate,0)*isnull(Quantity,0)))  end Amount 	
,1,
Source ,Source 
from @MBD a
left Outer Join @EstRevisionQty c on  a.itemid=c.MILCWID and c.CWMTypeID=3
where a.CWMTypeID=3 and source='Contractor'
and itemID not in (
select MILCWID from SanctionEstimateWorkAllocationDetails where SanctionEstimateNo in(Select sanctionEstimateNo from @Estimates) 
 and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0)
--or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=3)
Group by a.CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.UnitID,a.Rate,a.Source

Union All
select a.CWMTypeID,a.WONo	,a.WorkAllocationID	,a.ItemID	,a.LabourID	,a.UnitID	,
case when c.SR<>c.TR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.TR else  a.MRate end MRate,
case when c.SQ<>c.IQ  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then c.IQ else a.MQuantity	 end MQuantity	,
case when  ((c.SR=c.TR   and  c.IQ<>c.TQ ) or (c.SR<>c.TR   and  c.TQ=0 ) )   and  @SENo  in(Select sanctionEstimateNo from @Estimates)then c.IQ*c.TR else  a.MAmount	end MAmount ,
case when cc.SR<>cc.TR  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then cc.TR else  a.LRate end LRate	,
case when cc.SQ<>cc.IQ  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then cc.IQ else a.LQuantity end LQuantity	,
case when  ((cc.SR=cc.TR   and  cc.IQ<>cc.TQ ) or (cc.SR<>cc.TR   and  cc.TQ=0 ) )  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then cc.IQ*cc.TR else a.LAmount end LAmount,
a.SlNo	,
a.Source	,a.Source1
from @MissingItem a
left Outer Join  @EstRevisionQty  c On a.ItemID=c.MILCWID   and c.CWMTypeID=4
left Outer Join  @EstRevisionQty  cc On a.LabourID=cc.MILCWID  and cc.CWMTypeID=2
where a.CWMTypeID<>10


Union all
select a.CWMTypeID,a.WONo    ,a.WorkAllocationID    ,a.ItemID    ,a.LabourID    ,a.UnitID    ,
0  MRate,
case when (a.CWMTypeID=10 and ccc.SQ<>ccc.IQ    and  @SENo  in(Select sanctionEstimateNo from @Estimates)) then ccc.IQ else a.LQuantity end MQuantity    ,
0 MAmount ,
case when (a.CWMTypeID=10 and ccc.SR<>ccc.TR  and  @SENo  in(Select sanctionEstimateNo from @Estimates)) then ccc.TR  else  a.LRate end LRate    ,
case when (a.CWMTypeID=10 and ccc.SQ<>ccc.IQ    and  @SENo  in(Select sanctionEstimateNo from @Estimates)) then ccc.TQ else a.LQuantity end LQuantity    ,
case when (a.CWMTypeID=10 and ((ccc.SR=ccc.TR   and  ccc.IQ<>ccc.TQ ) or (ccc.SR<>ccc.TR   and  ccc.TQ=0 ) ))  and  @SENo  in(Select sanctionEstimateNo from @Estimates) then ccc.IQ*ccc.TR  else a.LAmount end LAmount,
a.SlNo    ,
a.Source    ,a.Source1
from @MissingItem a
left outer join  @EstRevisionQtySub1  ccc On a.LabourID=ccc.MILCWID  and a.ItemID=ccc.ItemID
where a.CWMTypeID=10 and  CONCAT(a.labourid,a.Itemid) not in(
select CONCAT(MILCWID,ItemID) from SanctionEstimateWorkAllocationDetailsSub where
SanctionEstimateNo in(Select sanctionEstimateNo from @Estimates) and(( InitialQuantity=0 and SanctionedQuantity<>0 and TenderedQuantity<>0)
or( InitialQuantity<>0 and SanctionedQuantity=0 and TenderedQuantity=0)
) and CivilWorkMeasurementTypeID=2 and MILCWID<>306)




select * from (
select  0 as A,0 as B,WorkAwardNo as C,LTrim(RTrim(left(WO_Date,len(WO_Date)-12))) as D,0 as E
,(Row_number() over (order by (case when  ((case when Source1='Company' then 0  else  MAmount  end )+LAmount)=0 then 10000 else  a.SlNo end))) as SlNo
,(case when b.itemID is not null then 1 else SlNo1 end) SlNo1 
,(Dense_rank() over (order by (case when  ((case when Source1='Company' then 0  else  MAmount  end )+LAmount)=0 then 10000 else  SlNo2 end))) as SlNo2
, AcOfficeLocation  , SubDivision  , Section   ,(case when len(MaterialCode)=0 then a.SlNo else  case when b.itemId is not null then a.ItemID+12000 else a.itemID end end) ItemID
,(case when Source1='Company' and CWMTypeID=4 then '' else case when CWMTypeID=5 then MaterialCode   else case when left(MaterialCode,1)='-' then ltrim(rtrim(right (MaterialCode,len(MaterialCode )-1))) else MaterialCode end end end) as MaterialCode

, LabourTypes,  a.UnitID ,UnitOfMeasure, WO_Date,SI_Date ,CR_Date ,MB_Date,WA_Date,NameOftheWork,EIC,RateContractNo
,  (case when CWMTypeID=5 then 0 else case when Source1='Company' then 0  else MRate end end) as MRate,
LRate,MQuantity, 
(case when CWMTypeID=5 then 0 else case when Source1='Company' then 0 else MAmount end end ) as MAmount
,LAmount, 0 as EIC1,0 as TotMatAmt,0 as TotLabAmt from (
 
select CWMTypeID,(Row_Number() over (Order By b.SLNo)) as SlNo
,(case when CWMTypeID=4 then  (ROW_Number() over (Partition By CWMTypeID,isnull(b.SlNo,(a.ItemID+10000)) order by CWMTypeID,isnull(b.SlNo,(a.ItemID+10000)) desc , MBWADID,MaterialCode,a.SLNo desc)) else  1 end) as SlNo1

,(Dense_Rank() over (order by b.SlNo)) SLNo2
,AcOfficeLocation,SubDivision,Section,(case when CWMTypeID in(5) then max(SLNo10) +15000 else case when CWMTypeID=10 then concat(a.ItemID,LabourID)  else a.ItemID  end  end) as ItemID
,ltrim(rtrim(MaterialCode)) as MaterialCode,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,RateContractNo,
MRate,LRate,Sum(MQuantity) as MQuantity,Sum(LQuantity) as LQuantity,Sum(MAmount) as MAmount,Sum(LAmount) as LAmount,WorkAwardNo,source1  from (

select ola.Fileas as AcOfficeLocation,ola1.Fileas as SubDivision,ola2.Fileas as Section,a.ItemID,isnull((d.MaterialCode+' - '+d.Description),'') as MaterialCode,

(case when isnull(Lamount,0)=0 then '' else(case when LabourID in(select distinct MILCWID from SanctionestimateWorkallocationDetailsSub with (nolock) where Milcwid<>0) then isnull(isnull(cl.Description,Particulars),'') + ' - ' + isnull(z.Description,'') else  isnull(isnull(cl.Description,Particulars),'') end)end) as LabourTypes
,a.UnitID,UnitOfMeasure  ,(Row_Number() over (Order By (case when CWMTypeID in (3,10) then 2 else 1 end),a.ItemID,SlNo,LabourID)) as SlNo10
,left(WO_Date,len(WO_Date)-1) as WO_Date,left(SI_Date,len(SI_Date)-1) as SI_Date,left(CR_Date,len(CR_Date)-1) as CR_Date,left(MB_Date,len(MB_Date)-1) as MB_Date,left(WA_Date,len(WA_Date)-1) as WA_Date,NameOftheWork,RateContractNo
,MQuantity,MRate,MAmount,LQuantity,LRate,LAmount,EIC,LabourID,SLNo,SENo,WorkAwardNo,CWMTypeID,source1 from (

select SLNo,CWMTypeID,WONo,WorkAllocationID, ItemID,LabourID,UnitID,Sum(MRate) MRate,MQuantity,Sum(MAmount)MAmount,Sum(LRate)LRate,Sum(LQuantity)LQuantity,Sum(LAmount) LAmount,source1
from @TotalAmount  as A 
Group by WONo,WorkAllocationID,ItemID,LabourID,UnitID,MQuantity,SLNo,CWMTypeID,source1,source

) as A Full Join @WO B on b.WorkOrderNo=a.WONo
Left Outer Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=b.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with (nolock) on ola1.OfficeLocationAllocationID=b.SubDivisionOLID
Left Outer Join OfficeLocationAllocation OLA2 with (nolock) on ola2.OfficeLocationAllocationID=b.OLID
Left Outer Join UnitOfMeasure C with (nolock) on c.UnitID=a.UnitID
Left Outer Join MaterialCode D with (nolock) on d.ItemID=(case when a.CWMTypeID in (2,3,10) then 0 else a.ItemID end)
Left Outer Join MaterialCode Z with (nolock) on z.ItemID=(case when a.CWMTypeID not in (2,3,4,5,10) then 0 else a.ItemID end)
Left Outer Join (select * from (select *,(Row_Number() over (Partition By CivilWorkID Order By CivilWorkID,CivilWorkTypeID,Particulars)) as MaxNo from CivilWorks 
) as A where MaxNo=1) as E on e.CivilWorkID=(case when a.CWMTypeID in (3) then a.ItemID else 0 end)
Cross Apply (select Concat(WorkOrderNo,' / ',convert(Varchar,WorkOrderDate,104))+' ,' from @WO WO where wo.WorkOrderNo=a.WONo for xml path('')) as WO (WO_Date)
Cross Apply (select convert(Varchar,CompletionDate,104)+' ,' from @CR WO where wo.WorkOrderNo=a.WONo for xml path('')) as CR (CR_Date)
Cross Apply (select Concat(StoreInvoiceNo,' / ',convert(Varchar,StoreInvoiceDate,104))+' ,' from @SI WO where wo.WorkOrderNo=a.WONo for xml path('')) as SI (SI_Date)
Cross Apply (select convert(Varchar,MeasurementDate,104)+' ,' from @MB WO where wo.WorkOrderNo=a.WONo for xml path('')) as MB (MB_Date)
Cross Apply (select Concat(WorkAwardNo,' / ',convert(Varchar,WorkAwardDate,104))+' ,' from @WO WO where wo.WorkOrderNo=a.WONo for xml path('')) as WA (WA_Date)
Left Outer Join CivilWorkLabourTypes CL with (nolock) on cl.CivilWorkLabourTypeID=LabourID
where a.UnitID is not NULL
) as A Left Outer Join @ItemOrder1 B on b.ItemID=a.ItemID and b.SENo=a.SENo and b.CivilWorkMeasurementTypeID=a.CWMTypeID
--Group By AcOfficeLocation,SubDivision,Section,a.ItemID,MaterialCode,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,MRate,LRate,OrderNo,MBWADID,a.SLNo,b.SlNo,RateContractNo,WorkAwardNo,CWMTypeID,WorkAwardNo,LabourID,source1 
Group By AcOfficeLocation,SubDivision,Section,a.ItemID,MaterialCode,a.SLNo,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,MRate,LRate,OrderNo,MBWADID,b.SlNo,RateContractNo,WorkAwardNo,CWMTypeID,WorkAwardNo,LabourID,source1 --Support #117790
) as A left Outer Join @MBDSlNo b on LTrim(RTrim(left(WO_Date,len(WO_Date)-12)))=b.WONo and a.ItemID=b.ItemID and a.SlNo1=b.SlNo
) as A where (Mamount+LAmount)<>0

Union all
Select 0,0,WorkAwardNo,WONo,0,20000,1,20000,'','','',0,'','Grand Total',0 ,'','','' ,'','','','',0,0,0,0,0,Sum(case when source1='Company' then 0 else case when CWMTypeID=5 then 0 else MAmount end end )TotMatAmt,Sum(LAmount)TotLabAmt,0,0,0
--Sum(case when source1='Company' then 0 else MAmount end)TotMatAmt
from  @TotalAmount a  
 inner join @WO b  on a.WONo=b.WorkOrderNo 
group By WorkAwardNo,WONo
Order By SLNo2,SlNo



GO
