USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_Expenditure_New2]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_CWIP_Expenditure_New2] @AcOLID int,@FromDate datetime,@ToDate datetime,@AcCode Varchar(10) 
AS SET NOCOUNT ON


--Declare @AcOLID Int  = 0
--Declare @FromDate datetime = '2026-04-01'
--Declare @ToDate datetime = '2027-03-31'
--Declare @AcCode Varchar(10) = 'ALL'



Declare @StartFyYear datetime  = (select StartingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))
Declare @EndFyYear datetime  = (select EndingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))


Declare @AcOL Table (AcOLID Int,OfficeID Int,LocationID Int,OLID Int,OfficeLocation varchar(200)) Insert Into @AcOL
select AcOLID,OfficeID,LocationID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails with(nolock) 
where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 

Declare @JV Table (JVNo Int,JVDate DateTime) 
Insert Into @JV
select JournalVoucherNo,JournalVoucherDate from @AcOL ol 
inner join JournalVoucher JV with(nolock) on jv.OLID=ol.OLID and Approved=1 and JournalVoucherDate Between @StartFyYear and @ToDate and JournalVoucherDate Between @StartFyYear and @EndFyYear
where JournalVoucherNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where b.JournalVoucherNo = jv.JournalVoucherNo 
and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%') ) 
--and JournalVoucherNo = 2586929 


Declare @Trans Table (OrderNo Int,Table1 Varchar(50),WorkOrderNo Int,TransNo Int,TransDate datetime,JVNo Int,JVDate datetime,Amount Money) 
Insert Into @Trans
select 1 OrderNo,* from (
select 'SI' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JournalVoucherNo,JVDate,Amount from ( 
select a.*,0 JournalVoucherNo,NULL JVDate,1 Amount from (
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate from StoreInvoice_pni SI With (NoLock) where isnull(DocumentTypeID,0) in (2,22) 
and isnull(Passed,0)=1 and StoreInvoiceDate Between @FromDate and @ToDate and isnull(si.Canceled,0)=0 
) A inner join WorkOrder B with(nolock) on b.WorkOrderNo=a.DocumentNo
inner join WorkAllocation C with(nolock) on c.WorkAllocationID=isnull(b.WorkAllocationID,0) and MainAccountCode like '14.%' 
) A  
union all

select 'RV' Table1,DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JournalVoucherNo,JVDate,Amount from ( 
select a.*,0 JournalVoucherNo,NULL JVDate,1 Amount from (
select DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate from ReceiptVoucherAbstract_pni SI With (NoLock) where isnull(DocumentTypeID,0) in (2,22) 
and isnull(Approved,0)=1 and ReceiptVoucherDate Between @FromDate and @ToDate and isnull(si.Canceled,0)=0 
) A inner join WorkOrder B with(nolock) on b.WorkOrderNo=a.DocumentNo
inner join WorkAllocation C with(nolock) on c.WorkAllocationID=isnull(b.WorkAllocationID,0) and MainAccountCode like '14.%' 
) A 
union all 

select 'CI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JournalVoucherNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,jvd.JournalVoucherNo,JVDate,Status,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount 
from @JV JV Inner Join CivilInvoice CI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(JournalVoucherNo,0)=JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate,jvd.JournalVoucherNo 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,JournalVoucherNo Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'PI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JournalVoucherNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,jvd.JournalVoucherNo,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV Inner Join ProformaInvoice PI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(ProformaApproved,0)=1 and isnull(Amount,0)<>0 and isnull(ProformaJournalVoucherNo,0)=JVNo  
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate,jvd.JournalVoucherNo 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,JournalVoucherNo Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CR' Table1,DocumentNo,CostRegisterNo,CategorizationDate,JournalVoucherNo,JVDate,Round(Round(Sum(TotalAmount),2),0) as TotalAmount 
from @JV JV Inner Join CostRegister cr With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(JournalVoucherNo,0)=JVNo   
Group By DocumentNo,Status,DocumentDate,JVDate,CategorizationDate,CostRegisterNo,JournalVoucherNo 
Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CR' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JournalVoucherNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate,jvd.JournalVoucherNo,JVDate,sum(case when FromMainAccountCode like'10.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'10.%' or ToMainAccountCode like '10.%')
and ToMainAccountCode not like'32.%' 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,jvd.JournalVoucherNo
) A Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,JournalVoucherNo Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'LP' Table1,DocumentNo,LiabilityProvisionID,LiabilityProvisionDate,JournalVoucherNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,lp.LiabilityProvisionID,LiabilityProvisionDate,jvd.JournalVoucherNo,JVDate,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and ToMainAccountCode not like'32.%'
inner join LiabilityProvisions LP with(nolock) on isnull(lp.DebitJournalVoucherNo,0)=JVNo 
Inner Join LiabilityProvisionDetails SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(si.Amount,0)<>0 and si.LiabilityProvisionID=lp.LiabilityProvisionID
Group By DocumentNo,lp.LiabilityProvisionID,LiabilityProvisionDate,JVDate,jvd.JournalVoucherNo
) A Group By DocumentNo,LiabilityProvisionID,LiabilityProvisionDate,JVDate,JournalVoucherNo Having Round(Round(Sum(TotalAmount),2),0) <>0


union all 
select 'DR' Table1,DocumentNo,DemandRaisingID,DemandRaisingDate,JournalVoucherNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select ReferenceNo DocumentNo,DemandRaisingID,DemandRaisingDate,jvd.JournalVoucherNo,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and FromMainAccountCode not like'32.%' 
Inner Join DemandRaising SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(si.JournalVoucherNo,0)=JVNo and Approved=1 and isnull(canceled,0)=0 
Group By ReferenceNo,DemandRaisingID,DemandRaisingDate,JVDate,jvd.JournalVoucherNo
) A Group By DocumentNo,DemandRaisingID,DemandRaisingDate,JVDate,JournalVoucherNo Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'DA' Table1,DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select c.DocumentNo,DivisionAdjustmentID,AdjustmentDate,jv.JVNo,JVDate,sum(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) TotalAmount
from @JV JV 
cross apply (select distinct c.JournalVoucherNo,c.DocumentTypeID,DocumentNo,a.DivisionAdjustmentID,AdjustmentDate,AmountTobeAdjusted,FromAccountCode,ToAccountCode  from (
	select DivisionAdjustmentID,AdjustmentDate from DivisionAdjustments D with(nolock) where d.JournalVoucherNo =  jv.JVNo ) A 
	inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID and (FromAccountCode like'14.%' or ToAccountCode like '14.%')
	inner join CivilInvoice C with(nolock) on c.OfficialReferenceNo=b.ReferenceNo collate database_default and c.DocumentTypeID in (2,22)) C 
Group By c.DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVDate,jv.JVNo
) A Group By DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVDate,JVNo Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'JV_Reversal' TableName,a.DoucmentNo,JournalVoucherReversalDetailId,JournalVoucherDate,A.JournalVoucherNo,JournalVoucherDate,isnull(Amount,0) Amount 
from JournalVoucher A with(nolock)
inner join JournalVoucherReversalDetails B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
cross apply (select Sum(case when FromMainAccountCode like'14.%' then -isnull(Amount,0) else isnull(Amount,0) end) Amount 
from JournalVoucherDetails B1 where b1.JournalVoucherNo=a.JournalVoucherNo 
and ToMainAccountCode like '10.%' and (FromMainAccountCode like '14.%' or FromMainAccountCode like '55.1%' )) C 
where JournalVoucherDate>=@StartFyYear and Approved=1 and DocumentTypeID=2 and isnull(Amount,0)!=0 
and a.JournalVoucherNo in (select JVNo from @JV)
union all 
select 'JV_Reversal' TableName,a.DoucmentNo,JournalVoucherReversalDetailId,JournalVoucherDate,a.JournalVoucherNo,JournalVoucherDate,isnull(Amount,0) Amount 
from JournalVoucher A with(nolock)
inner join JournalVoucherReversalDetails B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
cross apply (select Sum(case when FromMainAccountCode like'14.%' then -isnull(Amount,0) else isnull(Amount,0) end) Amount 
from JournalVoucherDetails B1 where b1.JournalVoucherNo=a.JournalVoucherNo 
and ToMainAccountCode like '10.%' and (FromMainAccountCode like '14.%' or FromMainAccountCode like '55.1%' )) C 
where JournalVoucherDate>=@StartFyYear and Approved=1 and JournalVoucherTypeID=15 and DocumentTypeID=40 and isnull(Amount,0)!=0 
and a.JournalVoucherNo in (select JVNo from @JV)
) A 


select * from (
select a.OLID,(case when Legacy=0 then 2 else 22 end) DocumentTypeID,WorkInChargeID,ODLDID,Legacy,WorkOrderNo1,WorkOrderDate,JVNo,JVDate,Table1,WorkOrderNo,TransNo,TransDate,ola.OfficeID,sac.Description,(isnull(wa.MainAccountCode,'')+isnull(wa.SubAccountCode,'')) as AccountHead
,Sum(OB) OB,Sum(Expenditure) Expenditure,Sum(ReceivedAmount) ReceivedAmount,Sum(TransferedAmount) as TransferedAmount,sum(Asseted) Asseted,Sum(CB) CB from (
select *,((OB+Expenditure+ReceivedAmount) - (TransferedAmount+Asseted)) as CB from (
select OLID,JVNo,WorkInChargeID,ODLDID,Legacy,WorkOrderNo1,JVDate,Table1,TransNo,TransDate,wo.WorkAllocationID,wo.WorkOrderNo,wo.WorkOrderDate,Expenditure
,0 ReceivedAmount,0 TransferedAmount,Asseted,OB  from (
select wo.OLID,JVNo,WorkAllocationID,wo.WorkOrderNo,wo.WorkOrderDate,TransNo,TransDate,Table1,JVDate,wo.OfficialReferenceNo WorkOrderNo1,WorkInChargeID,ODLDID,Legacy
,(case when Table1='CI_Tax' and WorkAllocationID=12 then 0 when Table1 in ('CR','OB') then 0 else isnull(t.Amount,0) end) Expenditure
,(case when Table1='CR' then isnull(t.Amount,0) else 0 end) Asseted
,(case when Table1='OB' then isnull(t.Amount,0) else 0 end) OB
from WorkOrder WO inner join @Trans T on t.WorkOrderNo=wo.WorkOrderNo 
) WO ) A where ((abs(Expenditure)+abs(ReceivedAmount)+abs(TransferedAmount)+abs(Asseted)+abs(OB))) != 0
) as A inner join WorkAllocation wa with (nolock) on wa.WorkAllocationID=a.WOrkAllocationID and wa.MainAccountCode like '14.%' 
and (case when @AcCode='ALL' then 'ALL' else concat(wa.MainAccountCode collate database_default,wa.SubAccountCode collate database_default) end)=@AcCode
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=(isnull(wa.MainAccountCode,'')+isnull(wa.SubAccountCode,''))
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
Group By a.OLID,JVNo,Table1,WorkOrderNo,TransNo,TransDate,ola.OfficeID,ola.OfficeLocation,sac.Description,wa.MainAccountCode,wa.SubAccountCode,JVDate,WorkOrderDate,WorkOrderNo1,WorkInChargeID,ODLDID,Legacy
) A 


union all 
select OLID,0,0,0,0,'0',JVDate,JVNo,JVDate,'' Table1,0,BRNo,BillRegisterDate,OfficeID,AcDesc,AcCode,0,Round(Round(Sum(TotalAmount),2),0) Amount,0,0,0,Round(Round(Sum(TotalAmount),2),0) CB from ( 
select a.OLID,JVNo,0 DocumentNo,a.JournalVoucherNo,DoucmentNo BRNo,BillRegisterDate,JournalVoucherDate JVDate,OfficeID,(FromMainAccountCode+FromSubAccountCode) AcCode
,sum(case when FromMainAccountCode like'18.%' then jvd.Amount else -jvd.Amount end) TotalAmount,s.Description AcDesc
from @JV JV inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%')
left join BillRegisterNoInvoiceTypeAllocation BR with(nolock) on br.BillRegisterNo=DoucmentNo 
left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID 
left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(FromMainAccountCode+FromSubAccountCode)
Group By a.OLID,DoucmentNo,JournalVoucherDate,a.JournalVoucherNo,BillRegisterDate,OfficeID,(FromMainAccountCode+FromSubAccountCode),s.Description,JVNo 
) A Group By OLID,DocumentNo,BRNo,BillRegisterDate,JVDate,OfficeID,AcDesc,AcCode,JVNo 
  
OPTION(RECOMPILE) 

GO
