USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[TBOB_MIS]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[TBOB_MIS] @AcOLID Int,@LC Varchar(10),@FYYear Varchar(20),@ToDate DateTime,@AcCode Varchar(20) 
AS SET NOCOUNT ON


--Declare @AcOLID Int select @AcOLID = 343
--Declare @LC Varchar(10) select @LC = '451'
--Declare @FYYear Varchar(20) select @FYYear = '2025-2026' 
--Declare @ToDate DateTime select @ToDate = '2025-09-30' 
--Declare @AcCode Varchar(20) select @AcCode = '22.210'


Declare @FromDate DateTime select @FromDate = (select convert(DateTime,concat(left(@FYYear,4),'-04-01')))
Declare @ToDate1 DateTime select @ToDate1 = (select convert(DateTime,concat(right(@FYYear,4),'-03-31')))

 
Declare @TBID Table (TrialBalanceID Int,LocationCode Varchar(10),YearID int,MonthID int) 
Insert Into @TBID
select TrialBalanceID,ltrim(rtrim(left(LocationCode,3))) LocationCode,TrialBalanceYear,TrialBalanceMonth 
from TrialBalance A with (nolock) where OLID=@AcOLID 
and convert(dateTime,Concat(TrialBalanceYear,'-',TrialBalanceMonth,'-01')) Between @FromDate and @ToDate1 
and convert(dateTime,Concat(TrialBalanceYear,'-',TrialBalanceMonth,'-01'))<=@ToDate 
and (case when @LC='All' then 'All' else ltrim(rtrim(left(LocationCode,3))) end)=@LC


select YearID,MonthID,OLID,(MainAccountCode+SubAccountCode) AccountCode,Round(Sum(DebitAmount),2) DebitAmount,round(Sum(CreditAmount),2) CreditAmount,VoltageClassCode,LocationCode
from @TBID A 
inner join TrialBalanceDetails B with (nolock) on b.TrialBalanceID=a.TrialBalanceID 
	and (case when @AcCode='All' then 'All' else (MainAccountCode+SubAccountCode) end)=@AcCode 
Left Join VoltageClass C with (nolock) on c.VoltageClassID=b.VoltageClassID
where Len(MainAccountCode+SubAccountCode)>0 
Group By YearID,MonthID,OLID,(MainAccountCode+SubAccountCode),VoltageClassCode,LocationCode
order by AccountCode,YearID,MonthID

GO
