USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance_Import]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_Attendance_Import]
 @Query Varchar(10),@CID Int,@OLID Int,@Year Int,@Month Int,@Month1 Int,@Suppliment Int,@Remarks Varchar(500) 
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select'
--Declare @CID Int = 2148
--Declare @OLID Int = 9993
--Declare @Year Int = 2024 
--Declare @Month Int = 9 
--Declare @Month1 Int = 10 
--Declare @Suppliment Int = 0 
--Declare @Remarks Varchar(500) = 'IssueNo 574' 


Declare @ToDate DateTime = (select convert(dateTime,concat(@Year,'-',@Month1,'-15')))

Declare @Data1 Table (ContactID Int,EmployeeCategoryID Int,ODLDID Int,YearID Int,MonthID Int,FromDate DateTime,ToDate DateTime,ScaleRegisterID Int,AttendanceMaxDate DateTime,SlNo Int,AttendanceFromdate DateTime)
Insert into @Data1
select a.*,b.ScaleRegisterID,AttendanceMaxDate,(Row_Number() over (Partition By a.ContactID Order By a.ContactID,YearID,MonthID)) SlNo
,(case when AttendanceMaxDate+1>ToDate then NULL else AttendanceMaxDate+1 end) AttendanceFromdate from (
select a.ContactID,EmployeeCategoryID,isnull(a1.ToODLDID,b.ODLDID) ODLDID,YearID,MonthID ,convert(dateTime,concat(YearID,'-',MonthID,'-1')) FromDate
,EOMonth(convert(dateTime,concat(YearID,'-',MonthID,'-1'))) ToDate from (
select isnull((select distinct ContactID from Data_Upload_Attendance_Details with(nolock) where SlNo>=1),@CID) ContactID
) A Outer Apply (select top 1 ContactID,FromODLDID,ToODLDID from EmployeeAppointmentDetails A1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(Reported,0)=1 and isnull(FromODLDID,0)>0 and a1.ContactID=a.ContactID Order By RelievedDate desc,EmployeeAppointmentDetailsID desc) A1
left join Employee B with(nolock) on b.ContactID=a.ContactID 
cross join (select @Year YearID,@Month MonthID union select (case when @Month=12 then @Year+1 else @Year end),@Month1 ) A2
) A left join ScaleRegister B with(nolock) on b.ContactID=a.ContactID and b.SalaryYear=a.YearID and b.SalaryMonth=a.MonthID and isnull(Legacy,0)=0 and Suppliment in (0,9) and b.OLID=@OLID
outer Apply (select Max(LastAttendanceDate) AttendanceMaxDate from ScaleRegisterAttendences C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) C


IF @CID!=0
Insert Into ScaleRegister 
select  ContactID, MonthID, YearID, FromDate, ToDate, @OLID, EmployeeCategoryID, NULL AnnualIncrementDate, 0 Bonus, Day(ToDate), 0 TotalBasicPay
, 0 TotalAdditions, 0 TotalDeductions, 0 NetPayments, 0 TaxableAmount, 0 SpecialPayment, 0 RecoveryAmount, 0 Generated, @Suppliment, 0 HeldUp, '0', NULL BillRegisterOLID, NULL BillRegisterDate
, GetDate() CreatedOn, 0 Legacy, NULL LegacyBillRegisterDate, 0 LegacyBillRegisterNo, @Remarks, 0 Transferred, 0 OSL, NULL JVNo, NULL JVDate
from @Data1 where ScaleRegisterID is NULL 
;

Declare @Data2 Table (ContactID Int,EmployeeCategoryID Int,ODLDID Int,YearID Int,MonthID Int,FromDate DateTime,ToDate DateTime,ScaleRegisterID Int,AttendanceMaxDate DateTime,SlNo Int,AttendanceFromdate DateTime)
Insert into @Data2
select a.*,b.ScaleRegisterID,AttendanceMaxDate,(Row_Number() over (Partition By a.ContactID Order By a.ContactID,YearID,MonthID)) SlNo
,(case when AttendanceMaxDate+1>ToDate then NULL else AttendanceMaxDate+1 end) AttendanceFromdate from (
select a.ContactID,EmployeeCategoryID,isnull(a1.ToODLDID,b.ODLDID) ODLDID,YearID,MonthID ,convert(dateTime,concat(YearID,'-',MonthID,'-1')) FromDate
,EOMonth(convert(dateTime,concat(YearID,'-',MonthID,'-1'))) ToDate from (
select isnull((select distinct ContactID from Data_Upload_Attendance_Details with(nolock) where SlNo>=1),@CID) ContactID
) A Outer Apply (select top 1 ContactID,FromODLDID,ToODLDID from EmployeeAppointmentDetails A1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(Reported,0)=1 and isnull(FromODLDID,0)>0 and a1.ContactID=a.ContactID Order By RelievedDate desc,EmployeeAppointmentDetailsID desc) A1
left join Employee B with(nolock) on b.ContactID=a.ContactID 
cross join (select @Year YearID,@Month MonthID union select (case when @Month=12 then @Year+1 else @Year end),@Month1 ) A2
) A left join ScaleRegister B with(nolock) on b.ContactID=a.ContactID and b.SalaryYear=a.YearID and b.SalaryMonth=a.MonthID and isnull(Legacy,0)=0 and Suppliment in (0,9) and b.OLID=@OLID
outer Apply (select Max(LastAttendanceDate) AttendanceMaxDate from ScaleRegisterAttendences C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) C

IF @Query='Import'
 Insert Into ScaleRegisterAttendences  
select ScaleRegisterID,DateDiff(day,isnull(AttendanceFromdate,FromDate),(case when SLNo=2 then @ToDate else ToDate end))+1 days
,isnull(AttendanceFromdate,FromDate) FromDate,(case when SLNo=2 then @ToDate else ToDate end) ToDate,ODLDID,1,1,cast(GetDate() as Date),NULL,NULL
from @Data2 A where ScaleRegisterID is not NULL 
--and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterAttendences B with(nolock) where a.ScaleRegisterID=B.ScaleRegisterID)
 
 IF @Query='Import1'
  insert into EmployeeLeaveDetails 
select ContactID,NULL,LeaveTypes,NULL,NULL,NULL,convert(date,concat(right(FromDate,4),left(right(FromDate,7),2),left(FromDate,2))) FromDate
,convert(date,concat(right(ToDate,4),left(right(ToDate,7),2),left(ToDate,2))) ToDate,-Days,-Days,0,'',1,0,GetDate(),NULL,@Remarks,1,0,0,'',NULL,0 
from Data_Upload_Attendance_Details with(nolock) where LeaveTypes>0 and SlNo>=1

 IF @Query='Delete'
Delete from Data_Upload_Attendance_Details

select ScaleRegisterID SRID,DaysWorked,convert(varchar,StartAttendanceDate,104) FromDate,convert(varchar,LastAttendanceDate,104) ToDate,ScaleRegisterAttendencesID SRAID,ODLDID,Approved,Processing
,convert(varchar,CreatedOn,104) CreatedOn,CreatedBy,ScaleRegisterAttendencesMainID SRMainID
from ScaleRegisterAttendences with(nolock) where ScaleRegisterID in (select ScaleRegisterID from @Data2 )
Order By StartAttendanceDate





GO
