USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SRRateGiveResultsFromTemp]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SRRateGiveResultsFromTemp]  @FromYear int,@ToYear int,@EffectiveDate datetime,@BatchNo bigint
as

select Replace (REPLACE(REPLACE(isnull(e.Description,''), CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'')  StockType,a.ItemID, substring(replace(MaterialCode,' ',''),2,len(MaterialCode)) MaterialCode,Replace (REPLACE(REPLACE(b.Description, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'') Description,a.UOM,isnull(f.Price,0) 'Existing_2016-17',a.Remarks
from SRRateTemp a
inner join MaterialCode b on a.ItemID=b.ItemID
left join Stock d on a.ItemID=d.ItemID
left join StockType e on d.StockTypeID=e.StockTypeID
left join SRStock f on a.ItemID=f.ItemID
where BatchNo=@BatchNo
order by a.Valid

select Replace (REPLACE(REPLACE(isnull(e.Description,''), CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'')  StockType,a.ItemID, substring(replace(MaterialCode,' ',''),2,len(MaterialCode)) MaterialCode,Replace (REPLACE(REPLACE(b.Description, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'') Description,a.UOM,isnull(f.Price,0) 'Existing_2016-17','SR Rates pending for current Effective Date' Remarks
from SRRateTemp a
inner join MaterialCode b on a.ItemID=b.ItemID
left join Stock d on a.ItemID=d.ItemID
left join StockType e on d.StockTypeID=e.StockTypeID
left join SRStock f on a.ItemID=f.ItemID
where BatchNo<>@BatchNo and Valid=0 and Updated=0
order by a.Valid

select Replace (REPLACE(REPLACE(isnull(e.Description,''), CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'')  StockType,a.ItemID, replace(b.MaterialCode,' ','') MaterialCode,Replace (REPLACE(REPLACE(b.Description, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'') Description,c.UnitOfMeasure,isnull(a.Price,0) 'Existing_2016-17','SR Rates pending for current Effective Date' Remarks
from SRStock a
inner join MaterialCode b on a.ItemID=b.ItemID
inner join UnitOfMeasure c on a.UnitID=c.UnitID
left join Stock d on a.ItemID=d.ItemID
left join StockType e on d.StockTypeID=e.StockTypeID
where a.ItemID not in(select ItemID from SRRateTemp where ItemID=a.ItemID and Updated=0 and EffectiveDate=@EffectiveDate and FromYear=@FromYear and ToYear=@ToYear)
order by b.MaterialCode

select Replace (REPLACE(REPLACE(isnull(e.Description,''), CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'')  StockType,a.ItemID, substring(replace(MaterialCode,' ',''),2,len(MaterialCode)) MaterialCode,Replace (REPLACE(REPLACE(b.Description, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'') Description,a.UOM,isnull(f.Price,0) 'Existing_2016-17','Valid' Remarks
from SRRateTemp a
inner join MaterialCode b on a.ItemID=b.ItemID
left join Stock d on a.ItemID=d.ItemID
left join StockType e on d.StockTypeID=e.StockTypeID
left join SRStock f on a.ItemID=f.ItemID
where Valid=1 and Updated=0 and EffectiveDate=@EffectiveDate and FromYear=@FromYear and ToYear=@ToYear
GO
