USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGratuity_BPC]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetGratuity_BPC]
	(@Year int ,	@Month int)

AS 

SET NOCOUNT ON

Declare @SRID Table (ContactID Int,OLID Int,ScaleRegisterID Int)
Insert Into @SRID
SELECT ContactID,OLID,ScaleRegisterID FROM ScaleRegister A with (nolock) CROSS JOIN Today_hrms  
WHERE  Generated=1 AND ISNULL(HeldUp,0)=0  AND  YEAR(ISNULL(BillRegisterDate,Today))=@Year AND  MONTH(ISNULL(BillRegisterDate,Today))=@Month and isnull(OLID,0)!=0
and ContactID in ( select distinct ContactID from EmployeeAppointmentDetails B with (nolock) where ReportedDate<'2006-04-01' and AppointmentTypeID in (1,26) and b.ContactID=a.ContactID)

Declare @SRWID Table (ScaleRegisterID Int,ScaleRegisterWithDrawalID Int)
Insert Into @SRWID
select ScaleRegisterID, ScaleRegisterWithDrawalID from ScaleRegisterWithDrawals A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID)


select count(distinct olid) NoofAcUnits ,Sum(Nos) as TotalEmployees,Sum(BP) as BasicPay,Sum(DP) as DearnessPay,Sum(DA) as DearnessAllowance,Sum(BPC) as BPC,Sum(Grauity) as Grauity from (
select OLID,Count(distinct ContactID) as Nos,Sum(BP) as BP,Sum(DP) as DP,Sum(DA) as DA,Sum(BPC) as BPC,Sum(Grauity) as Grauity from (
select OLID,ContactID,a.ScaleRegisterID,BP,DP,DA,Sum(case when SalaryOtherAdditionID=14 then isnull(b.Amount,0) else 0 end) as BPC,Sum(case when SalaryOtherAdditionID=15 then isnull(b.Amount,0) else 0 end) as Grauity from (
select OLID,ScaleRegisterID,COntactID,BP,Sum(DP) as DP,Sum(DA) as DA from (
select a.*,isnull(b.Amount,0) as BP,(case when AllowanceID=20 then isnull(c.Amount,0) else 0 end) as DP,(case when AllowanceID=1 then isnull(c.Amount,0) else 0 end) as DA from ( 
select OLID,ScaleRegisterID,ContactID FROM ScaleRegister A with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID)) as A
full join ( select ScaleRegisterID,Sum(Amount) as Amount from (
select ScaleRegisterID,Round(Round(Sum(Amount),2),0) as Amount
from ScaleRegisterBasicPayDetails A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID)
Group By ScaleRegisterID union all
select ScaleRegisterID,-Round(Round(Sum(Amount),2),0) as Amount
from ( select ScaleRegisterWithDrawalID,Amount from ScaleRegisterBasicPayWithDrawals A  with (nolock) where ScaleRegisterWithDrawalID in (select ScaleRegisterWithDrawalID  from @SRWID B where b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID)) as A
full  join  @SRWID B on b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID
Group By ScaleRegisterID ) as A Group By ScaleRegisterID Having Sum(Amount)!=0 ) as B on b.ScaleRegisterID=a.ScaleRegisterID
full join ( select ScaleRegisterID,AllowanceID,Sum(Amount) as Amount from (
select ScaleRegisterID,AllowanceID,Round(Round(Sum(Amount),2),0) as Amount
from ScaleRegisterAllowances A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID) and AllowanceID in (1,20)
Group By ScaleRegisterID,AllowanceID union all
select ScaleRegisterID,AllowanceID,-Round(Round(Sum(Amount),2),0) as Amount
from ( select ScaleRegisterWithDrawalID,AllowanceID,Amount from ScaleRegisterAllowanceWithDrawals A  with (nolock) where ScaleRegisterWithDrawalID in (select ScaleRegisterWithDrawalID  from @SRWID B where b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID) and AllowanceID in (1,20)) as A
full  join  @SRWID B on b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID
Group By ScaleRegisterID,AllowanceID ) as A Group By ScaleRegisterID,AllowanceID Having Sum(Amount)!=0 ) as C on c.ScaleRegisterID=a.ScaleRegisterID
) as A Group By OLID,ScaleRegisterID,COntactID,BP
) as A
full join ( select ScaleRegisterID,SalaryOtherAdditionID,Sum(Amount) as Amount from (
select ScaleRegisterID,SalaryOtherAdditionID,Round(Round(Sum(Amount),2),0) as Amount
from ScaleRegisterOtherAdditions A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID) and SalaryOtherAdditionID in (14,15)
Group By ScaleRegisterID,SalaryOtherAdditionID union all
select ScaleRegisterID,SalaryOtherAdditionID,-Round(Round(Sum(Amount),2),0) as Amount
from ( select ScaleRegisterWithDrawalID,SalaryAdditionOthersID as SalaryOtherAdditionID,Amount from ScaleRegisterOtherAdditionWithDrawals A  with (nolock) where ScaleRegisterWithDrawalID in (select ScaleRegisterWithDrawalID  from @SRWID B where b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID) and SalaryAdditionOthersID in (14,15)) as A
full  join  @SRWID B on b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID
Group By ScaleRegisterID,SalaryOtherAdditionID ) as A Group By ScaleRegisterID,SalaryOtherAdditionID Having Sum(Amount)!=0 ) as B on b.ScaleRegisterID=a.ScaleRegisterID
Group By OLID,ContactID,a.ScaleRegisterID,BP,DP,DA
) as A Group By OLID
) as A 


GO
