USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[usp_AccountLedgerReport]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AccountLedgerReport]
    @AcOLID   INT          = 0,
    @FromDate DATETIME     = '2025-04-01',
    @ToDate   DATETIME     = '2026-03-31',
    @AcCode   VARCHAR(10)  = 'ALL'
AS
BEGIN
    SET NOCOUNT ON       -- stops "N rows affected" chatter; measurably faster
    SET XACT_ABORT ON

    BEGIN TRY

    -- ── Fiscal year boundaries ─────────────────────────────────────────────
    DECLARE @StartFyYear DATETIME
    DECLARE @EndFyYear   DATETIME
    SELECT  @StartFyYear = StartingFyYear,
            @EndFyYear   = EndingFyYear
    FROM    FnETLToday(YEAR(@FromDate), MONTH(@FromDate))

    -- ── @AcOL ─────────────────────────────────────────────────────────────
    DECLARE @AcOL TABLE (
        AcOLID         INT,
        OfficeID       INT,
        LocationID     INT,
        OLID           INT,
        OfficeLocation VARCHAR(200)
    )
    INSERT INTO @AcOL
    SELECT AcOLID, OfficeID, LocationID, OLID, OfficeLocation
    FROM   OfficeLocationAccountingUnitDetails WITH (NOLOCK)
    WHERE  (CASE WHEN @AcOLID = 0 THEN 0 ELSE AcOLID END) = @AcOLID

    -- ── @JV ───────────────────────────────────────────────────────────────
    -- FIX: merged the two identical BETWEEN clauses into one
    --      (original had BETWEEN @StartFyYear AND @ToDate  AND
    --                    BETWEEN @StartFyYear AND @EndFyYear  — redundant)
    --      Effective range is @StartFyYear to MIN(@ToDate, @EndFyYear).
    DECLARE @JV TABLE (JVNo INT, JVDate DATETIME)
    INSERT INTO @JV
    SELECT JV.JournalVoucherNo, JV.JournalVoucherDate
    FROM   @AcOL OL
    INNER JOIN JournalVoucher JV WITH (NOLOCK)
           ON  JV.OLID = OL.OLID
           AND JV.Approved = 1
           AND JV.JournalVoucherDate BETWEEN @StartFyYear
                                        AND (CASE WHEN @ToDate < @EndFyYear
                                                  THEN @ToDate ELSE @EndFyYear END)
    WHERE  JV.JournalVoucherNo IN (
               SELECT JournalVoucherNo
               FROM   JournalVoucherdetails WITH (NOLOCK)
               WHERE  JournalVoucherNo = JV.JournalVoucherNo
               AND   (FromMainAccountCode LIKE '14.%'
                   OR ToMainAccountCode   LIKE '14.%')
           )

    -- ── @BRNo ─────────────────────────────────────────────────────────────
    -- Kept empty exactly as original (original had no INSERT).
    DECLARE @BRNo TABLE (
        DocumentNo       INT,
        BillRegisterNo   INT,
        JVDate           DATETIME,
        BillRegisterDate DATETIME
    )

    -- ── @Trans ────────────────────────────────────────────────────────────
    DECLARE @Trans TABLE (
        OrderNo     INT,
        Table1      VARCHAR(50),
        WorkOrderNo INT,
        TransNo     INT,
        TransDate   DATETIME,
        JVDate      DATETIME,
        Amount      MONEY
    )
    INSERT INTO @Trans
    SELECT 1 OrderNo, * FROM (

        -- SI
        SELECT 'SI' Table1, DocumentNo, StoreInvoiceNo, StoreInvoiceDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT DocumentNo, StoreInvoiceNo, StoreInvoiceDate, JVDate,
                   Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
            FROM   @JV JV
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo = jv.JVNo
                   AND (FromMainAccountCode LIKE '14.%' OR ToMainAccountCode LIKE '14.%')
                   AND FromMainAccountCode NOT LIKE '32.%'
            INNER JOIN StoreInvoice_Accounts SI WITH (NOLOCK)
                   ON  ISNULL(DocumentTypeID,0) IN (2,22)
                   AND ISNULL(Passed,0)=1
                   AND ISNULL(TotalAmount,0)<>0
                   AND ISNULL(si.JournalVoucherNo,0)=JVNo
            GROUP BY DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
        ) A
        GROUP BY DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- RV
        SELECT 'RV' Table1, DocumentNo, ReceiptVoucherNo, ReceiptVoucherDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT DocumentNo, ReceiptVoucherNo, ReceiptVoucherDate, JVDate,
                   Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
            FROM   @JV JV
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo=jv.JVNo
                   AND (FromMainAccountCode LIKE '14.%' OR ToMainAccountCode LIKE '14.%')
                   AND ToMainAccountCode NOT LIKE '32.%'
            INNER JOIN ReceiptVoucherAbstract_Accounts SI WITH (NOLOCK)
                   ON  ISNULL(DocumentTypeID,0) IN (2,22)
                   AND ISNULL(Approved,0)=1
                   AND ISNULL(TotalAmount,0)<>0
                   AND ISNULL(si.JournalVoucherNo,0)=JVNo
            GROUP BY DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate
        ) A
        GROUP BY DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- CI
        SELECT 'CI' Table1, DocumentNo, BillRegisterNo, BillRegisterDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT DocumentNo, BillRegisterNo, BillRegisterDate, JVDate, Status,
                   Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
            FROM   @JV JV
            INNER JOIN CivilInvoice CI WITH (NOLOCK)
                   ON  ISNULL(DocumentTypeID,0) IN (2,22)
                   AND ISNULL(JournalVoucherNo,0)=JVNo
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo=jv.JVNo
                   AND (FromMainAccountCode LIKE '14.%' OR ToMainAccountCode LIKE '14.%')
            GROUP BY DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate
        ) A
        GROUP BY DocumentNo,BillRegisterNo,BillRegisterDate,JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- PI
        SELECT 'PI' Table1, DocumentNo, BillRegisterNo, BillRegisterDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT DocumentNo, BillRegisterNo, BillRegisterDate, JVDate,
                   Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
            FROM   @JV JV
            INNER JOIN ProformaInvoice PI WITH (NOLOCK)
                   ON  ISNULL(DocumentTypeID,0) IN (2,22)
                   AND ISNULL(ProformaApproved,0)=1
                   AND ISNULL(Amount,0)<>0
                   AND ISNULL(ProformaJournalVoucherNo,0)=JVNo
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo=jv.JVNo
                   AND (FromMainAccountCode LIKE '14.%' OR ToMainAccountCode LIKE '14.%')
            GROUP BY DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate
        ) A
        GROUP BY DocumentNo,BillRegisterNo,BillRegisterDate,JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- CI_Tax  (empty result – @BRNo never populated, matches original)
        SELECT 'CI_Tax' Table1, DocumentNo, a.BillRegisterNo, BillRegisterDate, JVDate,
               Round(Round(Sum(ISNULL(TaxAmount,0)+ISNULL(DifferenceAmount,0)),2),0) Amount
        FROM   @BRNo A
        INNER JOIN TaxDetails B WITH (NOLOCK) ON b.BillRegisterNo=a.BillRegisterNo
        GROUP BY DocumentNo,a.BillRegisterNo,BillRegisterDate,JVDate
        HAVING Sum(ISNULL(TaxAmount,0)+ISNULL(DifferenceAmount,0))<>0

        UNION ALL

        -- CR via CostRegister
        SELECT 'CR' Table1, DocumentNo, CostRegisterNo, CategorizationDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) TotalAmount
        FROM   @JV JV
        INNER JOIN CostRegister CR WITH (NOLOCK)
               ON  ISNULL(DocumentTypeID,0) IN (2,22)
               AND ISNULL(Approved,0)=1
               AND ISNULL(TotalAmount,0)<>0
               AND ISNULL(JournalVoucherNo,0)=JVNo
        GROUP BY DocumentNo,Status,DocumentDate,JVDate,CategorizationDate,CostRegisterNo
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- CR via StoreInvoice (account 10.%)
        SELECT 'CR' Table1, DocumentNo, StoreInvoiceNo, StoreInvoiceDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT DocumentNo, StoreInvoiceNo, StoreInvoiceDate, JVDate,
                   Sum(CASE WHEN FromMainAccountCode LIKE '10.%'
                            THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
            FROM   @JV JV
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo=jv.JVNo
                   AND (FromMainAccountCode LIKE '10.%' OR ToMainAccountCode LIKE '10.%')
                   AND ToMainAccountCode NOT LIKE '32.%'
            INNER JOIN StoreInvoice_Accounts SI WITH (NOLOCK)
                   ON  ISNULL(DocumentTypeID,0) IN (2,22)
                   AND ISNULL(Passed,0)=1
                   AND ISNULL(TotalAmount,0)<>0
                   AND ISNULL(si.JournalVoucherNo,0)=JVNo
            GROUP BY DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
        ) A
        GROUP BY DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- DR
        SELECT 'DR' Table1, DocumentNo, DemandRaisingID, DemandRaisingDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT ReferenceNo DocumentNo, DemandRaisingID, DemandRaisingDate, JVDate,
                   Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
            FROM   @JV JV
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo=jv.JVNo
                   AND (FromMainAccountCode LIKE '14.%' OR ToMainAccountCode LIKE '14.%')
                   AND FromMainAccountCode NOT LIKE '32.%'
            INNER JOIN DemandRaising SI WITH (NOLOCK)
                   ON  ISNULL(DocumentTypeID,0) IN (2,22)
                   AND ISNULL(si.JournalVoucherNo,0)=JVNo
                   AND Approved=1
                   AND ISNULL(canceled,0)=0
            GROUP BY ReferenceNo,DemandRaisingID,DemandRaisingDate,JVDate
        ) A
        GROUP BY DocumentNo,DemandRaisingID,DemandRaisingDate,JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- DA  — FIX: reference CA.* instead of unscoped B.* / C.*
        SELECT 'DA' Table1, DocumentNo, DivisionAdjustmentID, AdjustmentDate, JVDate,
               Round(Round(Sum(TotalAmount),2),0) Amount
        FROM (
            SELECT CA.DocumentNo, CA.DivisionAdjustmentID, CA.AdjustmentDate, JV.JVDate,
                   Sum(CASE WHEN CA.FromAccountCode LIKE '14.%'
                            THEN CA.AmountTobeAdjusted ELSE -CA.AmountTobeAdjusted END) TotalAmount
            FROM   @JV JV
            CROSS APPLY (
                SELECT DISTINCT
                       C.JournalVoucherNo, C.DocumentTypeID, C.DocumentNo,
                       A.DivisionAdjustmentID, A.AdjustmentDate,
                       B.AmountTobeAdjusted, B.FromAccountCode, B.ToAccountCode
                FROM  (
                    SELECT DivisionAdjustmentID, AdjustmentDate
                    FROM   DivisionAdjustments D WITH (NOLOCK)
                    WHERE  D.JournalVoucherNo = JV.JVNo
                ) A
                INNER JOIN DivisionAdjustmentDetails B WITH (NOLOCK)
                       ON  B.DivisionAdjustmentID = A.DivisionAdjustmentID
                       AND (B.FromAccountCode LIKE '14.%' OR B.ToAccountCode LIKE '14.%')
                INNER JOIN CivilInvoice C WITH (NOLOCK)
                       ON  C.OfficialReferenceNo = B.ReferenceNo COLLATE DATABASE_DEFAULT
                       AND C.DocumentTypeID IN (2,22)
            ) CA
            GROUP BY CA.DocumentNo, CA.DivisionAdjustmentID, CA.AdjustmentDate, JV.JVDate
        ) A
        GROUP BY DocumentNo, DivisionAdjustmentID, AdjustmentDate, JVDate
        HAVING Round(Round(Sum(TotalAmount),2),0)<>0

        UNION ALL

        -- JV_Reversal  DocumentTypeID = 2
        SELECT 'JV_Reversal' TableName, A.DoucmentNo, JournalVoucherReversalDetailId,
               JournalVoucherDate, JournalVoucherDate, ISNULL(Amount,0) Amount
        FROM   JournalVoucher A WITH (NOLOCK)
        INNER JOIN JournalVoucherReversalDetails B WITH (NOLOCK)
               ON  B.JournalVoucherNo = A.JournalVoucherNo
        CROSS APPLY (
            SELECT Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN -ISNULL(Amount,0) ELSE ISNULL(Amount,0) END) Amount
            FROM   JournalVoucherDetails B1
            WHERE  B1.JournalVoucherNo  = A.JournalVoucherNo
            AND    ToMainAccountCode    LIKE '10.%'
            AND   (FromMainAccountCode  LIKE '14.%' OR FromMainAccountCode LIKE '55.1%')
        ) C
        WHERE  JournalVoucherDate >= @StartFyYear
        AND    Approved = 1
        AND    A.DocumentTypeID = 2
        AND    ISNULL(Amount,0) != 0
        AND    A.JournalVoucherNo IN (SELECT JVNo FROM @JV)

        UNION ALL

        -- JV_Reversal  JournalVoucherTypeID=15 / DocumentTypeID=40
        -- FIX: JournalVoucherTypeID moved to B (JournalVoucherReversalDetails)
        --      where the column actually exists
        SELECT 'JV_Reversal' TableName, A.DoucmentNo, JournalVoucherReversalDetailId,
               JournalVoucherDate, JournalVoucherDate, ISNULL(Amount,0) Amount
        FROM   JournalVoucher A WITH (NOLOCK)
        INNER JOIN JournalVoucherReversalDetails B WITH (NOLOCK)
               ON  B.JournalVoucherNo     = A.JournalVoucherNo
               AND B.JournalVoucherTypeID = 15      -- column lives on ReversalDetails
        CROSS APPLY (
            SELECT Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                            THEN -ISNULL(Amount,0) ELSE ISNULL(Amount,0) END) Amount
            FROM   JournalVoucherDetails B1
            WHERE  B1.JournalVoucherNo  = A.JournalVoucherNo
            AND    ToMainAccountCode    LIKE '10.%'
            AND   (FromMainAccountCode  LIKE '14.%' OR FromMainAccountCode LIKE '55.1%')
        ) C
        WHERE  JournalVoucherDate >= @StartFyYear
        AND    Approved = 1
        AND    A.DocumentTypeID = 40
        AND    ISNULL(Amount,0) != 0
        AND    A.JournalVoucherNo IN (SELECT JVNo FROM @JV)

    ) A

    -- ── @RV_PO ────────────────────────────────────────────────────────────
    DECLARE @RV_PO TABLE (
        PurchaseOrderNo INT,
        TransNo         INT,
        JVDate          DATETIME,
        TransDate       DATETIME,
        RVAmount        MONEY
    )
    INSERT INTO @RV_PO
    SELECT DocumentNo, ReceiptVoucherNo, JVDate, ReceiptVoucherDate,
           Round(Round(Sum(TotalAmount),2),0) Amount
    FROM (
        SELECT DocumentNo, ReceiptVoucherNo, JVDate, ReceiptVoucherDate,
               Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                        THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount
        FROM   @JV JV
        INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
               ON  jvd.JournalVoucherNo=jv.JVNo
               AND (FromMainAccountCode LIKE '14.%' OR ToMainAccountCode LIKE '14.%')
        INNER JOIN ReceiptVoucherAbstract_Accounts SI WITH (NOLOCK)
               ON  ISNULL(DocumentTypeID,0) IN (1)
               AND ISNULL(Approved,0)=1
               AND ISNULL(TotalAmount,0)<>0
               AND ISNULL(si.JournalVoucherNo,0)=JVNo
        GROUP BY DocumentNo,ReceiptVoucherNo,JVDate,ReceiptVoucherDate
    ) A
    GROUP BY DocumentNo,ReceiptVoucherNo,JVDate,ReceiptVoucherDate
    HAVING Round(Round(Sum(TotalAmount),2),0)<>0

    -- ── @SI_To1 ───────────────────────────────────────────────────────────
    DECLARE @SI_To1 TABLE (
        DocumentNo       INT,
        DocumentTypeID   INT,
        AcCode           VARCHAR(10),
        StoreInvoiceNo   INT,
        JVDate           DATETIME,
        StoreInvoiceDate DATETIME,
        JVAmount         MONEY,
        OLID             INT,
        ItemID           INT,
        SerialNo         VARCHAR(100),
        Amount           MONEY
    )
    INSERT INTO @SI_To1
    SELECT DocumentNo, DocumentTypeID, AcCode, StoreInvoiceNo,
           JVDate, StoreInvoiceDate,
           Round(Round(Sum(TotalAmount),2),0) JVAmount,
           OLID, ItemID, SerialNo,
           Round(Round(Sum(Amount),2),0) Amount
    FROM (
        SELECT DISTINCT
               si.StoreInvoiceNo, JVDate, StoreInvoiceDate,
               DocumentNo, DocumentTypeID, si.OLID, ItemID, SerialNo,
               ISNULL(c.Amount,0) Amount,
               (CASE WHEN ToMainAccountCode LIKE '14.%'
                     THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount,
               CONCAT(ToMainAccountCode COLLATE DATABASE_DEFAULT,
                      ToSubAccountCode  COLLATE DATABASE_DEFAULT, 7) AcCode
        FROM   @JV JV
        CROSS APPLY (
            SELECT JournalVoucherNo, ToMainAccountCode, ToSubAccountCode,
                   Round(ISNULL(Amount,0),0) Amount
            FROM   JournalVoucherdetails JVD WITH (NOLOCK)
            WHERE  jvd.JournalVoucherNo = jv.JVNo
            AND    FromMainAccountCode  LIKE '32.%'
            AND    ToMainAccountCode    LIKE '14.%'
            AND    (CASE WHEN @AcCode='ALL' THEN 'ALL'
                         ELSE CONCAT(ToMainAccountCode COLLATE DATABASE_DEFAULT,
                                     ToSubAccountCode  COLLATE DATABASE_DEFAULT)
                    END) = @AcCode
        ) JVD
        INNER JOIN StoreInvoice_Accounts SI WITH (NOLOCK)
               ON  ISNULL(Passed,0)=1
               AND ISNULL(TotalAmount,0)<>0
               AND ISNULL(si.JournalVoucherNo,0)=JVNo
        INNER JOIN StoreInvoiceDetails_Accounts B1 WITH (NOLOCK)
               ON  b1.StoreInvoiceNo=si.StoreInvoiceNo
        INNER JOIN StoreInvoiceMaterialDetails_Accounts C WITH (NOLOCK)
               ON  c.StoreInvoiceDetailsID=b1.StoreInvoiceDetailsID
               AND c.Amount=jvd.Amount
    ) A
    GROUP BY StoreInvoiceNo, AcCode, JVDate, StoreInvoiceDate,
             DocumentNo, DocumentTypeID, OLID, ItemID, SerialNo
    HAVING Round(Round(Sum(TotalAmount),2),0)<>0

    -- ── @SI_To2 ───────────────────────────────────────────────────────────
    DECLARE @SI_To2 TABLE (
        StoreInvoiceNo   INT,
        DocumentNo1      INT,
        DocumentTypeID1  INT,
        ReceiptVoucherNo INT,
        OLID             INT,
        ItemID           INT,
        SerialNo         VARCHAR(100)
    )
    INSERT INTO @SI_To2
    SELECT StoreInvoiceNo, DocumentNo, DocumentTypeID, ReceiptVoucherNo, OLID, ItemID, SerialNo
    FROM (
        SELECT *,
               ROW_NUMBER() OVER (
                   PARTITION BY OLID, StoreInvoiceNo, ItemID, SerialNo
                   ORDER BY OLID, StoreInvoiceNo, ItemID, SerialNo, DocumentTypeID, DocumentNo DESC
               ) MinNo
        FROM (
            SELECT DISTINCT
                   StoreInvoiceNo, a1.DocumentNo, a1.DocumentTypeID,
                   a1.ReceiptVoucherNo, a.OLID, a.ItemID, a.SerialNo
            FROM   @SI_To1 A
            INNER JOIN ReceiptVoucherDetails_Accounts B WITH (NOLOCK)
                   ON  ISNULL(b.ItemID,0)=ISNULL(a.ItemID,0)
                   AND ISNULL(b.OLID,0)=ISNULL(a.OLID,0)
            INNER JOIN ReceiptVoucherMaterialDetails_Accounts C WITH (NOLOCK)
                   ON  c.ReceiptVoucherDetailsID=b.ReceiptVoucherDetailsID
                   AND ISNULL(c.SerialNo,'')=ISNULL(a.SerialNo,'') COLLATE DATABASE_DEFAULT
            INNER JOIN ReceiptVoucherAbstract_Accounts A1 WITH (NOLOCK)
                   ON  a1.ReceiptVoucherNo=b.ReceiptVoucherNo
                   AND ISNULL(a1.DocumentTypeID,0) IN (1,10)
                   AND ISNULL(a1.JournalVoucherNo,0) IN (
                           SELECT JournalVoucherNo
                           FROM   JournalVoucherDetails B WITH (NOLOCK)
                           WHERE  b.JournalVoucherNo=ISNULL(a1.JournalVoucherNo,0)
                           AND   (ISNULL(FromMainAccountCode,'') COLLATE DATABASE_DEFAULT
                                + ISNULL(FromSubAccountCode,'')  COLLATE DATABASE_DEFAULT)
                                 = LEFT(a.AcCode,6)
                       )
        ) A
    ) A
    WHERE MinNo=1

    -- ── @SI_To ────────────────────────────────────────────────────────────
    DECLARE @SI_To TABLE (
        DocumentNo     INT,
        DocumentTypeID INT,
        AcCode         VARCHAR(10),
        TransNo        INT,
        JVDate         DATETIME,
        TransDate1     DATETIME,
        Amount         MONEY,
        TransDate      DATETIME
    )
    INSERT INTO @SI_To
    SELECT a.DocumentNo, a.DocumentTypeID, AcCode, StoreInvoiceNo,
           JVDate, StoreInvoiceDate, Amount,
           ISNULL(ISNULL(PurchaseOrderDate,ReceiptVoucherDate),StoreInvoiceDate) Date1
    FROM (
        SELECT
            (CASE WHEN a.DocumentNo=0
                  THEN (CASE WHEN DocumentTypeID1=10
                             THEN ISNULL(ReceiptVoucherNo,0)
                             ELSE ISNULL(DocumentNo1,0) END)
                  ELSE a.DocumentNo END) DocumentNo,
            (CASE WHEN a.DocumentNo=0
                  THEN ISNULL(DocumentTypeID1,0)
                  ELSE a.DocumentTypeID END) DocumentTypeID,
            ReceiptVoucherNo, AcCode, a.StoreInvoiceNo,
            JVDate, StoreInvoiceDate, ISNULL(a.Amount,a.Amount) Amount
        FROM (
            SELECT a.*, DocumentNo1, DocumentTypeID1, ReceiptVoucherNo
            FROM   @SI_To1 A
            FULL JOIN @SI_To2 B
                   ON  b.StoreInvoiceNo=a.StoreInvoiceNo
                   AND ISNULL(b.ItemID,0)=ISNULL(a.ItemID,0)
                   AND ISNULL(b.OLID,0)=ISNULL(a.OLID,0)
                   AND ISNULL(b.SerialNo,'')=ISNULL(a.SerialNo,'') COLLATE DATABASE_DEFAULT
        ) A
    ) A
    LEFT JOIN ReceiptVoucherAbstract_Accounts B WITH (NOLOCK)
           ON  b.ReceiptVoucherNo=(CASE WHEN a.DocumentTypeID=10 THEN a.DocumentNo ELSE 0 END)
    LEFT JOIN PurchaseOrder B1 WITH (NOLOCK)
           ON  b1.PurchaseOrderNo=(CASE WHEN a.DocumentTypeID=1  THEN a.DocumentNo ELSE 0 END)

    -- ── @RV_From ──────────────────────────────────────────────────────────
    DECLARE @RV_From TABLE (
        DocumentNo     INT,
        DocumentTypeID INT,
        AcCode         VARCHAR(10),
        TransNo        INT,
        JVDate         DATETIME,
        TransDate1     DATETIME,
        Amount         MONEY,
        TransDate      DATETIME
    )
    INSERT INTO @RV_From
    SELECT DocumentNo, DocumentTypeID, AcCode, ReceiptVoucherNo,
           JVDate, ReceiptVoucherDate,
           Round(Round(Sum(TotalAmount),2),0) Amount, ReceiptVoucherDate
    FROM (
        SELECT ReceiptVoucherNo, JVDate, ReceiptVoucherDate, DocumentNo, DocumentTypeID,
               Sum(CASE WHEN FromMainAccountCode LIKE '14.%'
                        THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount,
               CONCAT(FromMainAccountCode COLLATE DATABASE_DEFAULT,
                      FromSubAccountCode  COLLATE DATABASE_DEFAULT, 7) AcCode
        FROM   @JV JV
        INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
               ON  jvd.JournalVoucherNo=jv.JVNo
               AND ToMainAccountCode   LIKE '32.%'
               AND FromMainAccountCode LIKE '14.%'
               AND (CASE WHEN @AcCode='ALL' THEN 'ALL'
                         ELSE CONCAT(FromMainAccountCode COLLATE DATABASE_DEFAULT,
                                     FromSubAccountCode  COLLATE DATABASE_DEFAULT)
                    END) = @AcCode
        INNER JOIN ReceiptVoucherAbstract_Accounts SI WITH (NOLOCK)
               ON  ISNULL(Approved,0)=1
               AND ISNULL(TotalAmount,0)<>0
               AND ISNULL(si.JournalVoucherNo,0)=JVNo
        GROUP BY ReceiptVoucherNo, JVDate, ReceiptVoucherDate,
                 CONCAT(FromMainAccountCode COLLATE DATABASE_DEFAULT,
                        FromSubAccountCode  COLLATE DATABASE_DEFAULT, 7),
                 DocumentNo, DocumentTypeID
    ) A
    GROUP BY ReceiptVoucherNo, AcCode, JVDate, ReceiptVoucherDate, DocumentNo, DocumentTypeID
    HAVING Round(Round(Sum(TotalAmount),2),0)<>0

    -- ── @WONo ─────────────────────────────────────────────────────────────
    DECLARE @WONo TABLE (
        WorkOrderNo      INT,
        WorkOrderDate    DATETIME,
        WorkAllocationID INT,
        Amount           MONEY,
        ContractAmount   MONEY,
        WorkInChargeID   INT,
        ODLDID           INT,
        Legacy           INT,
        WorkOrderNo1     VARCHAR(50)
    )
    INSERT INTO @WONo
    SELECT DISTINCT
           A.WorkOrderNo, WorkOrderDate, WorkAllocationID,
           ISNULL(Amount,0), ISNULL(ContractAmount,0),
           WorkInChargeID, ODLDID, ISNULL(Legacy,0),
           (CASE WHEN ISNULL(Legacy,0)=1
                 THEN CONCAT(A.WorkOrderNo,'')
                 ELSE OfficialReferenceNo END)
    FROM  (SELECT DISTINCT WorkOrderNo, JVDate FROM @Trans) A
    INNER JOIN WorkOrder B WITH (NOLOCK) ON B.WorkOrderNo=A.WorkOrderNo

    -- ── @PONo ─────────────────────────────────────────────────────────────
    DECLARE @PONo TABLE (
        PurchaseOrderNo   INT,
        TransNo           INT,
        TotalAmount       MONEY,
        AcCode            VARCHAR(20),
        PurchaseOrderDate DATETIME,
        JVDate            DATETIME
    )
    INSERT INTO @PONo
    SELECT A.PurchaseOrderNo, TransNo, RVAmount,
           CONCAT(MainAccountCode COLLATE DATABASE_DEFAULT,
                  SubAccountCode  COLLATE DATABASE_DEFAULT, 7) AcCode,
           PurchaseOrderDate, JVDate
    FROM   @RV_PO A
    INNER JOIN PurchaseOrder B WITH (NOLOCK)
           ON  b.PurchaseOrderNo=a.PurchaseOrderNo
           AND (CASE WHEN @AcCode='ALL' THEN 'ALL'
                     ELSE CONCAT(MainAccountCode COLLATE DATABASE_DEFAULT,
                                 SubAccountCode  COLLATE DATABASE_DEFAULT)
                END) = @AcCode

    -- ══════════════════════════════════════════════════════════════════════
    --  FINAL SELECT  (identical to original)
    -- ══════════════════════════════════════════════════════════════════════
    SELECT * FROM (

        SELECT 1 OrderNo, * FROM (

            SELECT
                (CASE WHEN Legacy=0 THEN 2 ELSE 22 END) DocumentTypeID,
                WorkInChargeID, ODLDID, Legacy, WorkOrderNo1, WorkOrderDate, JVDate,
                Table1, WorkOrderNo, TransNo, TransDate,
                ola.OfficeID, sac.Description,
                (ISNULL(wa.MainAccountCode,'')+ISNULL(wa.SubAccountCode,'')) AccountHead,
                Sum(OB) OB, Sum(Expenditure) Expenditure,
                Sum(ReceivedAmount) ReceivedAmount,
                Sum(TransferedAmount) TransferedAmount,
                Sum(Asseted) Asseted, Sum(CB) CB
            FROM (
                SELECT *, ((OB+Expenditure+ReceivedAmount)-(TransferedAmount+Asseted)) CB
                FROM (
                    SELECT
                        WorkInChargeID, ODLDID, Legacy, WorkOrderNo1,
                        JVDate, Table1, TransNo, TransDate,
                        wo.WorkAllocationID, wo.WorkOrderNo, wo.WorkOrderDate, Expenditure,
                        0 ReceivedAmount, 0 TransferedAmount, Asseted, OB
                    FROM (
                        SELECT
                            WorkAllocationID, wo.WorkOrderNo, wo.WorkOrderDate,
                            TransNo, TransDate, Table1, JVDate,
                            WorkOrderNo1, WorkInChargeID, ODLDID, Legacy,
                            (CASE WHEN Table1='CI_Tax' AND WorkAllocationID=12 THEN 0
                                  WHEN Table1 IN ('CR','OB') THEN 0
                                  ELSE ISNULL(t.Amount,0) END) Expenditure,
                            (CASE WHEN Table1='CR' THEN ISNULL(t.Amount,0) ELSE 0 END) Asseted,
                            (CASE WHEN Table1='OB' THEN ISNULL(t.Amount,0) ELSE 0 END) OB
                        FROM   @WONo WO
                        INNER JOIN @Trans T ON t.WorkOrderNo=wo.WorkOrderNo
                    ) WO
                ) A
                WHERE ((ABS(Expenditure)+ABS(ReceivedAmount)+ABS(TransferedAmount)
                       +ABS(Asseted)+ABS(OB))) != 0
            ) A
            INNER JOIN WorkAllocation wa WITH (NOLOCK)
                   ON  wa.WorkAllocationID=a.WorkAllocationID
                   AND wa.MainAccountCode LIKE '14.%'
                   AND (CASE WHEN @AcCode='ALL' THEN 'ALL'
                             ELSE CONCAT(wa.MainAccountCode COLLATE DATABASE_DEFAULT,
                                         wa.SubAccountCode  COLLATE DATABASE_DEFAULT)
                        END) = @AcCode
            LEFT JOIN SubAccount sac
                   ON (ISNULL(sac.MainAccountCode,'')+ISNULL(sac.SubAccountCode,''))
                    = (ISNULL(wa.MainAccountCode,'')+ISNULL(wa.SubAccountCode,''))
            LEFT JOIN OfficeLocationAccountingUnitDetails ola
                   ON  ola.OLID = @AcOLID
            GROUP BY Table1, WorkOrderNo, TransNo, TransDate,
                     ola.OfficeID, ola.OfficeLocation, sac.Description,
                     wa.MainAccountCode, wa.SubAccountCode,
                     JVDate, WorkOrderDate, WorkOrderNo1, WorkInChargeID, ODLDID, Legacy

            UNION ALL

            SELECT
                1, 0, 0, 0,
                CONCAT(PurchaseOrderNo,''), PurchaseOrderDate, JVDate,
                'PO', PurchaseOrderNo, TransNo, PurchaseOrderDate,
                ola.OfficeID, sac.Description,
                LEFT(AcCode,6) COLLATE DATABASE_DEFAULT,
                0, Sum(TotalAmount), 0, 0, 0, Sum(TotalAmount) CB
            FROM   @PONo
            LEFT JOIN SubAccount sac
                   ON (ISNULL(sac.MainAccountCode,'')+ISNULL(sac.SubAccountCode,''))
                    = LEFT(AcCode,6) COLLATE DATABASE_DEFAULT
            LEFT JOIN OfficeLocationAccountingUnitDetails ola ON ola.OLID=@AcOLID
            GROUP BY ola.OfficeID, ola.OfficeLocation, sac.Description,
                     AcCode, PurchaseOrderNo, TransNo, JVDate, PurchaseOrderDate

            UNION ALL

            SELECT
                DocumentTypeID, 0, 0, 0,
                CONCAT((CASE WHEN DocumentTypeID IN (1,2,22)
                             THEN DocumentNo ELSE TransNo END),''),
                ISNULL(WorkOrderDate, TransDate), JVDate, 'RorT',
                (CASE WHEN DocumentTypeID IN (1,2,22) THEN DocumentNo ELSE TransNo END),
                TransNo, TransDate,
                ola.OfficeID, sac.Description,
                LEFT(AcCode,6) COLLATE DATABASE_DEFAULT,
                0, 0,
                Sum(CASE WHEN Types='From' THEN a.Amount ELSE 0 END) ReceivedAmount,
                Sum(CASE WHEN Types='To'   THEN a.Amount ELSE 0 END) TransferedAmount,
                0,
                Sum(CASE WHEN Types='From' THEN a.Amount ELSE a.Amount END) CB
            FROM (
                SELECT 'From' Types, * FROM @RV_From
                UNION ALL
                SELECT 'To',         * FROM @SI_To
            ) A
            LEFT JOIN SubAccount sac
                   ON (ISNULL(sac.MainAccountCode,'')+ISNULL(sac.SubAccountCode,''))
                    = LEFT(AcCode,6) COLLATE DATABASE_DEFAULT
            LEFT JOIN OfficeLocationAccountingUnitDetails ola ON ola.OLID=@AcOLID
            LEFT JOIN WorkOrder WO WITH (NOLOCK)
                   ON  wo.WorkOrderNo=(CASE WHEN DocumentTypeID IN (2,22)
                                            THEN DocumentNo ELSE TransNo END)
            GROUP BY ola.OfficeID, ola.OfficeLocation, sac.Description,
                     AcCode, JVDate, TransDate, TransNo, DocumentNo,
                     DocumentTypeID, WorkOrderDate
        ) A

        UNION ALL

        SELECT
            2, 0, 0, 0, 0, '0', JVDate, JVDate, '' Table1,
            0, BRNo, BillRegisterDate, OfficeID, AcDesc, AcCode,
            0, Round(Round(Sum(TotalAmount),2),0), 0, 0, 0,
            Round(Round(Sum(TotalAmount),2),0) CB
        FROM (
            SELECT
                0 DocumentNo, A.JournalVoucherNo, DoucmentNo BRNo, BillRegisterDate,
                JournalVoucherDate JVDate, OfficeID,
                (FromMainAccountCode+FromSubAccountCode) AcCode,
                Sum(CASE WHEN FromMainAccountCode LIKE '18.%'
                         THEN jvd.Amount ELSE -jvd.Amount END) TotalAmount,
                s.Description AcDesc
            FROM   @JV JV
            INNER JOIN JournalVoucher A WITH (NOLOCK)
                   ON  a.JournalVoucherNo=jv.JVNo
            INNER JOIN JournalVoucherdetails JVD WITH (NOLOCK)
                   ON  jvd.JournalVoucherNo=jv.JVNo
                   AND (FromMainAccountCode LIKE '18.%' OR ToMainAccountCode LIKE '18.%')
            LEFT JOIN BillRegisterNoInvoiceTypeAllocation BR WITH (NOLOCK)
                   ON  br.BillRegisterNo=DoucmentNo
            LEFT JOIN OfficeLocationAccountingUnitDetails OL WITH (NOLOCK)
                   ON  ol.OLID=a.OLID
            LEFT JOIN SubAccount S WITH (NOLOCK)
                   ON (MainAccountCode+SubAccountCode)=(FromMainAccountCode+FromSubAccountCode)
            GROUP BY DoucmentNo, JournalVoucherDate, A.JournalVoucherNo,
                     BillRegisterDate, OfficeID,
                     (FromMainAccountCode+FromSubAccountCode), s.Description
        ) A
        GROUP BY DocumentNo, BRNo, BillRegisterDate, JVDate, OfficeID, AcDesc, AcCode

    ) A
    OPTION(RECOMPILE)

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg   NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrSev   INT            = ERROR_SEVERITY()
        DECLARE @ErrState INT            = ERROR_STATE()
        RAISERROR(@ErrMsg, @ErrSev, @ErrState)
    END CATCH

END
GO
