USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SRW_BasicDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






create PROCEDURE [dbo].[SP_SRW_BasicDetails]
@Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money 
AS SET NOCOUNT ON



--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 31402
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 144
--Declare @FromDate DateTime = '2024-08-01'
--Declare @ToDate DateTime = '2024-08-31'
--Declare @Amount Money = 0



Declare @SRWID Int = (select ScaleRegisterWithdrawalID SRWID from ScaleRegisterWithdrawals where ScaleRegisterID=@SRID)

IF (@Query='Import')
 insert into ScaleRegisterBasicPayWithdrawals
select @SRWID,@ODLDID,@FromDate,@ToDate,@Amount
else IF (@Query='Update')
 update a set ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount
from ScaleRegisterBasicPayWithdrawals a with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterWithdrawalID end)=@ColumnID

select ScaleRegisterWithdrawalID SRWID,ODLDID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount,ScaleRegisterBasicPayWithdrawalsID SRBWID 
from ScaleRegisterBasicPayWithdrawals with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterWithdrawalID end)=@ColumnID



GO
