USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SalaryDetails]
@ContactID Int,@OLID Int,@Year int,@Month Int,@BRNo Varchar(50),@Suppliment Int,@SalaryType VARCHAR(50) 
AS SET NOCOUNT ON


--Declare @ContactID INT = 2148 
--Declare @OLID INT = 0 
--Declare @Year INT = 0 
--Declare @Month INT = 0 
--Declare @BRNo VARCHAR(50) = '0'   ---- -1
--Declare @Suppliment Int = 0
--Declare @SalaryType VARCHAR(50) = '--'   --

Declare  @Description TABLE (TypesID INT,TypeID int ,Type VARCHAR(50),Description Varchar(100),SequenceNo INT)
insert into @Description  
select 1,1,'Earnings','BasicPay',1 
union all  select 2,AllowanceID,'Earnings',CASE WHEN ISNULL(ReportLabel,'')!='' AND LEN(ReportLabel)<15 THEN ReportLabel ELSE Description END,SequenceNo  from  Allowances
union all  select 3,SalaryAdditionOthersID,'Earnings',CASE WHEN ISNULL(ReportLabel,'')!='' AND LEN(ReportLabel)<15 THEN ReportLabel ELSE Description END,SequenceNo  from SalaryOtherAdditions
union all  select 4,SalaryOtherDeductionID,'Deductions',CASE WHEN ISNULL(ReportLabel,'')!='' AND LEN(ReportLabel)<15 THEN ReportLabel ELSE Description END,1 as SequenceNo   from SalaryOtherDeductions
union all  select 5,LoanandAdvanceID, 'LoandandAdvances', Description,1 as SequenceNo  from  LoanandAdvance union all select 6,LoanandAdvanceID, 'Recovery', Description,1  as SequenceNo from  LoanandAdvance where LoanandAdvanceTypeID=5
union all select 6,LoanandAdvanceID, 'Recovery', Description,1 as SequenceNo from  LoanandAdvance where LoanandAdvanceTypeID=2

Declare  @ArrearDetails TABLE (ContactID Int,OLID INT,SupplimentName VARCHAR(100),BRNo VARCHAR(100) Default '0',BRDate Date , ScaleregisterID int, SalaryMonth INT,SalaryYear INT,YYYYM VARCHAR(30) )
INSERT INTO @ArrearDetails  
SELECT ContactID,OLID,SS.Description,SR.BillRegisterNo,SR.BillRegisterDate,SR.ScaleRegisterID,SR.SalaryMonth,SR.SalaryYear,LEFT(DateName( month , DateAdd( month , SalaryMonth , -1 ) ),3)+CAST(SalaryYear AS VARCHAR)
FROM ScaleRegister SR INNER JOIN SalarySuppliments SS ON SR.Suppliment=SS.SalarySupplimentID
WHERE (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
and (case when @OLID=0 then 0 else OLID end) = @OLID
AND (Case when @Year=0 then 0 ELSE SalaryYear END)=@Year   
AND (Case when @Month=0 then 0 ELSE SR.SalaryMonth END)=@Month
AND (Case when @BRNo='-1' then '-1' ELSE SR.BillRegisterNo END)=@BRNo 
and SR.Suppliment in (select distinct (case when @Suppliment in (0,9) then 6 else @Suppliment end) union select @Suppliment) 
AND SR.Generated=1 AND isnull(SR.HeldUp,0)=0

select (Row_Number() over (Order By SalaryYear DESC,SalaryMonth desc,b.ScaleregisterID,BRNo,A.TYPESID, SequenceNo asc,description)) SlNo 
,ContactID,OLID,B.ScaleregisterID SRID,SupplimentName Suppliment,YYYYM Month,BRNo,convert(Varchar,BRDate,104) BRDate,Type SalaryMainType,Description SalaryType,TGAmount as TobePaid ,GAmount  Paid,DiffAmount Difference
from FnSRADNew() A 
INNER JOIN @ArrearDetails B ON A.ScaleRegisterID=B.ScaleRegisterID
INNER JOIN @Description  C ON A.TypesID=C.TypesID AND (case when A.TypesID=6 then A.LAID else  A.TypeID END)=C.TypeID
where DiffAmount!=0
and (case when @SalaryType='--' then '--' else Description end)=@SalaryType
order by SalaryYear DESC,SalaryMonth desc,SRID,BRNo,A.TYPESID, SequenceNo asc,description





GO
