USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_RV1]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Data_Integrity_RV1] @FromDate DateTime,@ToDate DateTime AS



--Declare @FromDate DateTime = '2023-02-01' 
--Declare @ToDate DateTime = '2023-02-28' 

Declare @Data Table (StockFieldValue Varchar(500),SerialFlag Int,ReceiptVoucherNo Int,ReceiptVoucherDetailsID Int,ItemID Int,StockConditionID Int,UnitID Int,Quantity Numeric(18,4),MQuantity Numeric(18,4),SCID Int) 
insert into @Data
-- StockCondition wise Quantity mismatch in ReceiptVoucherDetails and ReceiptVoucherMaterialDetails table
select sf.StockFieldValue,isnull(st.SerialFlag,0) SerialFlag,sia.ReceiptVoucherNo,sid.ReceiptVoucherDetailsID,sid.ItemID,sid.StockConditionID,sid.UnitID,sid.Quantity,sum(isnull(simd.Quantity,0)) MQuantity,simd.StockConditionID SCID
from ( select * from ReceiptVoucherAbstract_pni sia with(nolock) where sia.ReceiptVoucherDate between @FromDate and @ToDate ) sia
cross apply( select ReceiptVoucherDetailsID,ReceiptVoucherNo,ItemID,OLID,isnull(GoodQuantity,0) Quantity,1 StockConditionID,UnitID from ReceiptVoucherDetails_pni sid with(nolock) where sid.ReceiptVoucherNo=sia.ReceiptVoucherNo union all 
	select ReceiptVoucherDetailsID,ReceiptVoucherNo,ItemID,OLID,isnull(ReleasedGoodQuantity,0) Quantity,2 StockConditionID,UnitID from ReceiptVoucherDetails_pni sid with(nolock) where sid.ReceiptVoucherNo=sia.ReceiptVoucherNo union all  
	select ReceiptVoucherDetailsID,ReceiptVoucherNo,ItemID,OLID,isnull(ReleasedFaultyQuantity,0) Quantity,3 StockConditionID,UnitID from ReceiptVoucherDetails_pni sid with(nolock) where sid.ReceiptVoucherNo=sia.ReceiptVoucherNo union all 
	select ReceiptVoucherDetailsID,ReceiptVoucherNo,ItemID,OLID,isnull(ReleasedScrapQuantity,0) Quantity,4 StockConditionID,UnitID from ReceiptVoucherDetails_pni sid with(nolock)  where sid.ReceiptVoucherNo=sia.ReceiptVoucherNo ) sid 
left join ReceiptVoucherMaterialDetails_pni simd with(nolock) on simd.ReceiptVoucherDetailsID=sid.ReceiptVoucherDetailsID and sid.StockConditionID=simd.StockConditionID
left join Stock st with(nolock) on st.ItemID=sid.ItemID
left join StockSub sb with(nolock) on sb.ItemID=sid.ItemID
left join StockFieldValue sf with(nolock) on sf.StockFieldValueID=sb.StockFieldValueID
group by sf.StockFieldValue,st.SerialFlag,sia.ReceiptVoucherNo,sid.ReceiptVoucherDetailsID,sid.ItemID,sid.UnitID,sid.Quantity,sid.StockConditionID,simd.StockConditionID
having isnull(sid.Quantity,0)<>sum(isnull(simd.Quantity,0))

 ;
 insert into ReceiptVoucherMaterialDetails_pni 
select ReceiptVoucherDetailsID,Quantity,UnitID,StockConditionID,ReceiptVoucherNo SerialNo,0 Rate,0 Amount,0 Inspected
from @Data where SCID is NULL 

;
 insert into SerialFlag_True_RVMD 
select *,'Mismatch Quantity' Remarks from @Data where SerialFlag = 1
--select * from SerialFlag_True_RVMD

;
--select * 
 delete 
from ReceiptVoucherMaterialDetails_pni where ReceiptVoucherMaterialDetailsID in (
select ReceiptVoucherMaterialDetailsID from (
select b.* ,(Row_Number() over (Partition By a.ReceiptVoucherDetailsID,a.StockConditionID Order By a.ReceiptVoucherDetailsID,a.StockConditionID,ReceiptVoucherMaterialDetailsID)) SlNo 
from @Data A inner join ReceiptVoucherMaterialDetails_pni B with(nolock) on b.ReceiptVoucherDetailsID=a.ReceiptVoucherDetailsID and b.StockConditionID=isnull(a.StockConditionID,0)
where SerialFlag = 0 ) A where SlNo != 1 )

;
--select a.* ,b.Quantity 
 update b set b.Quantity = a.Quantity 
from ( select a.* from (
select a.* ,(Row_Number() over (Partition By a.ReceiptVoucherDetailsID,a.StockConditionID Order By a.ReceiptVoucherDetailsID,a.StockConditionID,ReceiptVoucherMaterialDetailsID)) SlNo,b.Quantity Quantity1,ReceiptVoucherMaterialDetailsID
from @Data A inner join ReceiptVoucherMaterialDetails_pni B with(nolock) on b.ReceiptVoucherDetailsID=a.ReceiptVoucherDetailsID and b.StockConditionID=isnull(a.StockConditionID,0)
where SerialFlag = 0 
) A where SlNo = 1 ) A 
inner join ReceiptVoucherMaterialDetails_pni B with(nolock) on b.ReceiptVoucherMaterialDetailsID=a.ReceiptVoucherMaterialDetailsID 
where b.Quantity != a.Quantity 

----------------------------------------------------------------------------


delete from SerialFlag_True_StockQuantity1 DBCC CHECKIDENT ('SerialFlag_True_StockQuantity1', RESEED, 0); 
delete from SerialFlag_True_StockQuantitySub DBCC CHECKIDENT ('SerialFlag_True_StockQuantitySub', RESEED, 0); 
delete from SerialFlag_True_Repeated_SerialNos DBCC CHECKIDENT ('SerialFlag_True_Repeated_SerialNos', RESEED, 0); 
delete from Dataintegrity_SQUDF DBCC CHECKIDENT ('Dataintegrity_SQUDF', RESEED, 0); 
delete from Dataintegrity_SI_RV_RI DBCC CHECKIDENT ('Dataintegrity_SI_RV_RI', RESEED, 0); 
delete from Dataintegrity_PO_1 DBCC CHECKIDENT ('Dataintegrity_PO_1', RESEED, 0); 
delete from Dataintegrity_PO_2 DBCC CHECKIDENT ('Dataintegrity_PO_2', RESEED, 0); 
delete from Dataintegrity_PO_3 DBCC CHECKIDENT ('Dataintegrity_PO_3', RESEED, 0); 
delete from Dataintegrity_PO_4 DBCC CHECKIDENT ('Dataintegrity_PO_4', RESEED, 0); 
delete from Dataintegrity_PO_5 DBCC CHECKIDENT ('Dataintegrity_PO_5', RESEED, 0); 
delete from Dataintegrity_UDF_DateWrong  DBCC CHECKIDENT ('Dataintegrity_UDF_DateWrong', RESEED, 0); 
delete from Dataintegrity_SI_UDF  DBCC CHECKIDENT ('Dataintegrity_SI_UDF', RESEED, 0); 
delete from Dataintegrity_SIMD_QtyNull DBCC CHECKIDENT ('Dataintegrity_SIMD_QtyNull', RESEED, 0); 
delete from Dataintegrity_SIMD_Duplecate DBCC CHECKIDENT ('Dataintegrity_SIMD_Duplecate', RESEED, 0); 
delete from Dataintegrity_SI_ApprovedStatus  DBCC CHECKIDENT ('Dataintegrity_SI_ApprovedStatus', RESEED, 0); 
delete from Dataintegrity_SI_TandPAccountHeadAllocation DBCC CHECKIDENT ('Dataintegrity_SI_TandPAccountHeadAllocation', RESEED, 0); 
delete from Dataintegrity_SI_StockAttributeAllocation DBCC CHECKIDENT ('Dataintegrity_SI_StockAttributeAllocation', RESEED, 0); 
delete from Dataintegrity_SI_NegetiveQty DBCC CHECKIDENT ('Dataintegrity_SI_NegetiveQty', RESEED, 0); 
delete from Dataintegrity_SIMD_NegetiveQty DBCC CHECKIDENT ('Dataintegrity_SIMD_NegetiveQty', RESEED, 0); 
delete from Dataintegrity_RV_UDF DBCC CHECKIDENT ('Dataintegrity_RV_UDF', RESEED, 0); 
delete from Dataintegrity_RV_MasDetails DBCC CHECKIDENT ('Dataintegrity_RV_MasDetails', RESEED, 0); 
delete from Dataintegrity_RV_ApprovedStatus DBCC CHECKIDENT ('Dataintegrity_RV_ApprovedStatus', RESEED, 0); 
delete from Dataintegrity_RV_ContactID_Mismatch DBCC CHECKIDENT ('Dataintegrity_RV_ContactID_Mismatch', RESEED, 0); 
delete from Dataintegrity_RV_Make_Mismatch DBCC CHECKIDENT ('Dataintegrity_RV_Make_Mismatch', RESEED, 0); 
delete from Dataintegrity_RV_GRNQty DBCC CHECKIDENT ('Dataintegrity_RV_GRNQty', RESEED, 0); 
delete from Dataintegrity_RV_UNitID_Mismatch DBCC CHECKIDENT ('Dataintegrity_RV_UNitID_Mismatch', RESEED, 0); 
delete from Dataintegrity_RV_MCCode_Mismatch DBCC CHECKIDENT ('Dataintegrity_RV_MCCode_Mismatch', RESEED, 0); 
delete from Dataintegrity_RV_Qty_NULL DBCC CHECKIDENT ('Dataintegrity_RV_Qty_NULL', RESEED, 0); 
delete from Dataintegrity_RV_NegetiveQty DBCC CHECKIDENT ('Dataintegrity_RV_NegetiveQty', RESEED, 0); 
delete from Dataintegrity_RVMD_NegetiveQty DBCC CHECKIDENT ('Dataintegrity_RVMD_NegetiveQty', RESEED, 0); 
delete from Dataintegrity_DocumentNo_NotIn DBCC CHECKIDENT ('Dataintegrity_DocumentNo_NotIn', RESEED, 0); 
delete from Dataintegrity_StatusID_NotNULL DBCC CHECKIDENT ('Dataintegrity_StatusID_NotNULL', RESEED, 0); 




GO
