USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_AutoUpdation_IncrementAmount]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_AutoUpdation_IncrementAmount] @EffectiveDate DateTime,@CID1 Int,@EPTID Int,@NextScale Int
AS 
SET NOCOUNT ON

---- exec SP_AutoUpdation_IncrementAmount '2022-04-01',28274,22,0
--Declare @EffectiveDate DateTime = '2022-04-01'  
--Declare @CID1 Int =   31644
--Declare @EPTID Int =   22
--Declare @NextScale Int = 1

Declare @ContactID Table (EmployeePayTypeID Int,EffectiveDate DateTime,ContactID Int,SlNo Int,SlNo1 Int)
insert into @ContactID
select EmployeePayTypeID,EffectiveDate,ContactID
,(Row_Number() over (Partition By COntactID Order By ContactID,EffectiveDate,(case when EmployeePayTypeID=@EPTID then 0 else 1 end),ModifiedValue,EmployeePayDetailsID)) SlNo
,(Row_Number() over (Partition By COntactID Order By ContactID,EffectiveDate,(case when EmployeePayTypeID=@EPTID then 0 else 1 end),ModifiedValue,EmployeePayDetailsID))+1 SlNo1 from (
select EmployeePayDetailsID,ContactID,EmployeePayTypeID,ToDesignationID,EffectiveDate,CurrentPay,ModifiedValue 
from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0 and isnull(ActualEffectiveDate,EffectiveDate)>= @EffectiveDate 
and ContactID=@CID1 and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
and EmployeePayDetailsID not in ( select EmployeePayDetailsID from (
	select EmployeePayDetailsID,ContactID,EmployeePayTypeID,Modifiedvalue,EffectiveDate
	,(Row_Number() over (Partition By ContactID,EmployeePayTypeID,EffectiveDate Order By ContactID,EmployeePayTypeID,EffectiveDate,EmployeePayDetailsID desc)) Duplicate
	from EmployeePayDetails a1 with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0
	and isnull(ActualEffectiveDate,EffectiveDate)>= dateadd(year,-1,@EffectiveDate) 
	and a1.ContactID = a.ContactID
	and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
	) A where Duplicate!=1 ) 
) A Order By ContactID,SlNo


Declare @ContactID1 Table (ContactID Int,SlNo Int,SlNo1 Int)
IF @EPTID=(select EmployeePayTypeID from @ContactID where EmployeePayTypeID=@EPTID) and @EffectiveDate=(select EffectiveDate from @ContactID where EmployeePayTypeID=@EPTID)
insert into @ContactID1
select ContactID,SlNo,SlNo1 from @ContactID


Declare @CID Int    
Declare @SlNo1 Int 
Declare @SlNo2 Int 
DECLARE Cur1 CURSOR FOR select * from @ContactID1 Order By ContactID,SlNo

--------------------------------------------------------
OPEN Cur1; FETCH NEXT FROM Cur1 INTO  @CID,@SlNo1,@SlNo2; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------


Declare @data1 Table (EmployeePayDetailsID Int,ContactID Int,EmployeePayTypeID Int,ToDesignationID Int,EffectiveDate DateTime,CurrentPay Money,ModifiedValue Money,SlNo Int)
Insert into @data1 
select *,(Row_Number() over (Partition By COntactID Order By ContactID,EffectiveDate,(case when EmployeePayTypeID=22 then 0 when EmployeePayTypeID in (14,15) then 1 else 2 end),ModifiedValue,EmployeePayDetailsID)) SlNo from (
select EmployeePayDetailsID,ContactID,EmployeePayTypeID,ToDesignationID,EffectiveDate,CurrentPay,ModifiedValue 
from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0 and isnull(ActualEffectiveDate,EffectiveDate)>= @EffectiveDate 
and ContactID=@CID and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
and EmployeePayDetailsID not in ( select EmployeePayDetailsID from (
	select EmployeePayDetailsID,ContactID,EmployeePayTypeID,Modifiedvalue,EffectiveDate
	,(Row_Number() over (Partition By ContactID,EmployeePayTypeID,EffectiveDate Order By ContactID,EmployeePayTypeID,EffectiveDate,EmployeePayDetailsID desc)) Duplicate
	from EmployeePayDetails a1 with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0
	and isnull(ActualEffectiveDate,EffectiveDate)>= dateadd(year,-1,@EffectiveDate) 
	and a1.ContactID = a.ContactID
	and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
	) A where Duplicate!=1 ) 
) A 

 insert into EmployeePayDetailsHistory
select EmployeePayDetailsID,ContactID,EmployeePayTypeID,EmployeePayID,EmployeeApplicationID,ToDesignationID,OfficeMemoNo,OfficeMemoDate,EffectiveDate,ActualEffectiveDate,CurrentPay,IncrementCount,ModifiedValue,Remarks,OLID,CreatedBy,CreatedOn,'' OfficialReferenceNo
from EmployeePayDetails with(nolock) where EmployeePayDetailsID in (select EmployeePayDetailsID from @data1 where SlNo=@SlNo2)

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

--select * 
 delete 
from EmployeePayDetailsHistory where EmployeePayDetailsHistoryID in (
select EmployeePayDetailsHistoryID from (
select EmployeePayDetailsHistoryID,EmployeePayDetailsID,ContactID,EmployeePayTypeID,EffectiveDate,CurrentPay,ModifiedValue
,(Row_Number() over (partition By EmployeePayDetailsID,ContactID,EmployeePayTypeID,EffectiveDate Order By EmployeePayDetailsID,EmployeePayDetailsHistoryID  )) Duplicate
from EmployeePayDetailsHistory with(nolock) where ContactID = @CID1 
) A where Duplicate!=1 )

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

--select a.*,FinalDesignationID,b1.EmployeeCadreTypeID,EmployeeCadreType,MinimumAmount,IncrementAmount,MaximumAmount,a1.ModifiedValue CurrentPay ,(a1.ModifiedValue+IncrementAmount) ModifiedPay 
 update b2 set b2.ToDesignationID=b1.FinalDesignationID , b2.CurrentPay=a1.ModifiedValue , b2.ModifiedValue=(a1.ModifiedValue+IncrementAmount)
from @data1 a  Cross Apply ( select * from FnGetTimeScaleDesignationID (ContactID,EffectiveDate,0,'autoupdation') ) B1 
left join Designation b on b.DesignationID=FinalDesignationID
left join EmployeeCadreTypeDesignationAllocation ECD with(nolock) on ecd.DesignationID=b.UnderPromteDesignationID
inner join EmployeeTimeScalePeriods ETSP1 with(nolock) on ETSP1.EmployeeCadreTypeID=(case when @NextScale=0 then b1.EmployeeCadreTypeID else ecd.EmployeeCadreTypeID end) and ETSP1.Approved=1
inner join EmployeeTimeScales ETS with(nolock) on ets.EmployeeTimeScalePeriodID=etsp1.EmployeeTimeScalePeriodID  
inner join @data1 a1 on a1.ContactID=a.ContactID and a1.SlNo=@SlNo1
inner join EmployeePayDetails b2 with(nolock) on b2.EmployeePayDetailsID=a.EmployeePayDetailsID
where a1.ModifiedValue+1 between MinimumAmount and MaximumAmount
and a.SlNo=@SlNo2


--------------------------------------------------------
;FETCH NEXT FROM Cur1 INTO @CID,@SlNo1,@SlNo2; 
END; CLOSE Cur1; DEALLOCATE Cur1; 



--select 'Updated Successfully' A 


GO
