USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_PensionContributionBeforeNew]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PensionContributionBeforeNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int



AS 
SET NOCOUNT ON



Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)











Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20),LATypeID int)
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead,LATypeID from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int,OID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID,ol.OfficeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 

Declare @PPANNo table (ContactID int,PPANNo varchar(50))
Declare @PPANNoSql varchar(Max) Set @PPANNoSql='
select distinct ContactID,PPANNo from ContactDetails where PPANNo is not null
' insert into @PPANNo exec (@PPANNoSql) 

Declare @AccountNo table (ExternalOrganisationID int,ExternalOrganisationBranchID int,OLID int,ExternalOrganisationAccountTypeID int,AccountOperationTypeID int,AccountNo varchar(50),ExternalBankId int,ExternalBankBranchID int)
Declare @AccountNoSql varchar(Max) Set @AccountNoSql='
select ExternalOrganisationID,ExternalOrganisationBranchID,OLID,ExternalOrganisationAccountTypeID,AccountOperationTypeID,AccountNo,ExternalBankId,ExternalBankBranchID 
from ExternalOrganisationsAccountDetails  
' insert into @AccountNo exec (@AccountNoSql) 


Declare @SR1 table (SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime,Suppliment int) 
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,sr.BillRegisterNo as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate,sr.Suppliment
from FnSRNew() sr 
left outer join FnSRNew() sr1 on sr1.SalaryTypeID=1 and sr1.ContactID= sr.ContactID and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month  and sr1.OLID=sr.OLID and sr1.billRegisterNo=sr.BillRegisterNo
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on ol.OLID in (select OLID from @AOLID) and ol.ODLDID=srb.ODLDID
where sr.YearID in (@Year) and sr.MonthID in (@Month)  and sr.OLID in (@OLID) and sr.Suppliment not in (2,7)
and sr.ScaleRegisterID not in (select sr1.ScaleRegisterID from ScaleRegister sr1 where sr1.ScaleRegisterID=sr.ScaleRegisterID and (sr1.BillRegisterDate is NULL or sr1.BillRegisterNo in ('0')))



Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,Amount money,LAID int) 
insert into @SRD1
select srd.ScaleRegisterID,Types,TypesID,TypeID,sum(isnull(DiffAmount,0)) as Amount,LAID

from @SR1 sr inner join FnSRADNew() srd on sr.ScaleRegisterID=srd.ScaleRegisterID
where (case when TypesID=2 and TypeID in (1,20) then TypeID else case when TypesID=1 then TypeID else case when TypesID=6 and LAID in (51,52,53,61) then TypeID else 0 end end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,LAID
having sum(isnull(DiffAmount,0))<>0
union all
select ScaleRegisterID,Types,TypesID,TypeID,(sum(isnull(TGAmount,0))-sum(isnull(GAmount,0))) as DiffAmount,0 as LAID
from (
select distinct Scaleregisterid,SalaryOtherAdditionID as TypeID,3 as TypesID,'OA' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount
from scaleregisterOtherAdditions where SalaryOtherAdditionID in (14) group by ScaleregisterID,SalaryOtherAdditionID having round(round(sum(isnull(Amount,0)),2),0)<>0 
union all
select distinct Scaleregisterid,SalaryAdditionOthersID as TypeID,3 as TypesID,'OA' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount
from ScaleRegisterOtherAdditionWithdrawals sroa inner join ScaleRegisterWithdrawals srw on srw.ScaleRegisterWithdrawalID=sroa.ScaleRegisterWithdrawalID 
where SalaryAdditionOthersID in (14) group by ScaleregisterID,SalaryAdditionOthersID having round(round(sum(isnull(Amount,0)),2),0)<>0 
) as S group by ScaleRegisterID,Types,TypesID,TypeID having (sum(isnull(TGAmount,0))-sum(isnull(GAmount,0)))<>0


Declare @SR table (SalaryTypeID int,SalaryID int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthId int,YearID1 int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(100),LocationName varchar(100), LocationCode varchar(100),SOfficeName varchar(100),SLocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(100),BRNo varchar(50),OLID int,SOLID int,BRDate datetime,MnYr varchar(20),Office varchar(100),PensionYear varchar(20),JoinDate varchar(20),PPANNo varchar(50),AccountNo varchar(50),OfficeName1 varchar(100),LocationName1 varchar(100),LocationOrder int,Suppliment int,OID int)
insert into @SR 

select distinct SalaryTypeID,isnull(SalaryID,0) as SalaryID,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.YearID,sr.MonthID,Year(sr.BillRegisterDate) as YearID1,datename(month,sr.BillRegisterDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,'0') as BRNo,ol1.OLID,ol.OLID,sr.BillRegisterDate
,(datename(month,sr.BillRegisterDate)+'-'+cast(Year(sr.BillRegisterDate) as varchar(4))) as MnYr,('MESCOM ,'+'  '+ol1.OfficeName) as Office
,(case when isnull(ead.ReportedDate,0)<'2006-04-01' then '2006-03-31' else '2006-04-01' end) as PensionYear,convert(varchar,ead.ReportedDate,105) as JoinDate,PPANNo,ac.AccountNo,ol2.OfficeName,ol2.LocationName,oid.SlNo,sr.Suppliment,ol1.OID
from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID,OID from @ODLD where OLID in (select @OLID)) as OL1
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on ol.OLID in (select OLID from @AOLID) and ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
left outer join EmployeeAppointmentDetails ead on ead.ContactID=sr.ContactID and ead.AppointmentTypeID=1 and isnull(ead.Approved,0)=1 and isnull(ead.Reported,0)=1  and isnull(ead.EmployeeCategoryID,1)=1
left outer join @PPANNo p on p.COntactID=sr.ContactID
left outer join @AccountNo ac on ac.ExternalOrganisationid=110 and ac.ExternalOrganisationBranchID=4780 and ac.AccountNo='SBM 54049436755'
left outer join @ODLD ol2 on ol2.OLID in (sr.OLID) and ol.ODLDID=srb.ODLDID
where isnull(srb.EmployeeStatusID,0) not in (10,19)
and (case when isnull(ead.ReportedDate,0)<'2006-04-01' then '2006-03-31' else '2006-04-01' end)<'2006-04-01'


Declare @SRD table (ScaleRegisterID int,Types varchar(4),TypesID int,TypeID int,Amount money,Rates Numeric(18,2),Rates1 Numeric(18,2),Rates2 Numeric(18,2),LAID int)
insert into @SRD
select srd.ScaleRegisterID,srd.Types,srd.TypesID,srd.TypeID,sum(isnull(srd.Amount,0)) as Amount
,(isnull(ar.AllowanceRate,sor.SalaryOtherAdditionRate)) as Rates,isnull(a1.AllowanceRate,0) as Rate20,isnull(a1.AllowanceRate,0) as Rate1,LAID
from @SRD1 srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID
left outer join AllowanceRatePeriods arp on arp.Allowanceid=(case when srd.TypesID=2 then srd.TypeID else 0 end)
left outer join AllowanceRates ar on ar.AllowanceRatePeriodid=arp.AllowanceRatePeriodid
left outer join SalaryOtherAdditionRatePeriods sorp on sorp.SalaryOtherAdditionsID=(case when srd.TypesID=3 then srd.TypeID else 0 end)
left outer join SalaryOtherAdditionRates sor on sor.SalaryOtherAdditionsPeriodID=sorp.SalaryOtherAdditionPeriodID
left outer join AllowanceRates a1 on a1.AllowanceRatePeriodID = 116
left outer join AllowanceRates a2 on a2.AllowanceRatePeriodID = 61
group by srd.ScaleRegisterID,srd.Types,srd.TypesID,srd.TypeID,ar.AllowanceRate,sor.SalaryOtherAdditionRate,a1.AllowanceRate,a2.AllowanceRate,LAID


Declare @PC table (ContactID int,A int,B varchar(12),C varchar(100),D varchar(100),E varchar(20),F varchar(100),G varchar(100),H varchar(20),I money,J money,K money,L money,M money,N money,O money,P money,Q money,R money,S varchar(20),T  varchar(100),U  varchar(6),V  varchar(50),W  varchar(20),X  varchar(50),Y varchar(100),Z varchar(100),AA varchar(100),LocationOrder int,OID int)
insert into @PC
select distinct sr.ContactID,YearID1,MonthDesc,OfficeName,LocationName,PPANNo,EmployeeName,DesignationName,JoinDate
,sum(case when TypesID=1 then Amount else 0 end) as Basic ,sum(case when TypesID=2 and TypeID=20 then Amount else 0 end) as DP ,sum(case when TypesID=2 and TypeID=1 then Amount else 0 end) as DA 
,(sum(case when TypesID=1 then Amount else 0 end)+sum(case when TypesID=2 and TypeID in (1,20) then Amount else 0 end)) as Total
,sum(case when TypesID=3 and TypeID in (14) then Amount else 0 end) as PansionAmount
,-sum(case when TypesID=6 and LAID=51 then Amount else 0 end) as Basic,-sum(case when TypesID=6 and LAID=52 then Amount else 0 end) as DP
,-sum(case when TypesID=6 and LAID=53 then Amount else 0 end) as DA,-sum(case when TypesID=6 and LAID in (51,52,53) then Amount else 0 end) as Total
,-sum(case when TypesID=6 and LAID=61 then Amount else 0 end) as PensionAmount,MnYr,Office,Ordered
,'Dearness Pay ['+convert(varchar,Max(case when TypesID=2 and TypeID=20 then Rates else Rates1 end),10)+'%]'  as DPRates
,'DA ['+convert(varchar,Max(case when TypesID=2 and TypeID=1 then Rates else Rates2 end),10)+'%]'  as DARates
,'Pension Contribution ['+convert(varchar,Max(case when TypesID=3 and TypeID=14 then Rates else 0 end),10)+'%]'  as PensionRates,AccountNo,OfficeName1,LocationName1,LocationOrder,sr.OID
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where sr.SalaryTypeID=1 and sr.SalaryID=1 and sr.Suppliment not in (2,7)
group by sr.ContactID,YearID1,MonthDesc,OfficeName,LocationName,PPANNo,EmployeeName,DesignationName,JoinDate,MnYr,Office,Ordered,AccountNo,OfficeName1,LocationName1,LocationOrder,sr.OID
union all
select ContactID,YearID1,MonthDesc,OfficeName,LocationName,PPANNo,EmployeeName,DesignationName,JoinDate
,sum(Basic) as Basic,sum(DP) as DP,sum(DA) as DA,sum(Total) as Total,sum(PensionAmount) as PensionAmount
,sum(Basic1) as Basic,sum(DP1) as DP,sum(DA1) as DA,sum(Total1) as Total,sum(PensionAmount1) as PensionAmount
,MnYr,Office,Ordered,DPRates,DARates,PensionRates,AccountNo,OfficeName1,LocationName1,LocationOrder,OID
from (
select  sr.ContactID,sr.ScaleRegisterID,YearID1,MonthDesc,OfficeName,LocationName,PPANNo,EmployeeName,DesignationName,JoinDate
,0 as Basic,0 as DP,0 as DA,0 as Total,0 as PensionAmount
,sum(case when TypesID=1 then Amount else 0 end) as Basic1,sum(case when TypesID=2 and TypeID=20 then Amount else 0 end) as DP1 
,sum(case when TypesID=2 and TypeID=1 then Amount else 0 end) as DA1 
,(sum(case when TypesID=1 then Amount else 0 end)+sum(case when TypesID=2 and TypeID in (1,20) then Amount else 0 end)) as Total1
,sum(case when TypesID=3 and TypeID in (14) then Amount else 0 end) as PensionAmount1,MnYr,Office,Ordered
,'Dearness Pay ['+convert(varchar,Max(case when TypesID=2 and TypeID=20 then Rates else Rates1 end),10)+'%]'  as DPRates
,'DA ['+convert(varchar,Max(case when TypesID=2 and TypeID=1 then Rates else Rates2 end),10)+'%]'  as DARates
,'Pension Contribution ['+convert(varchar,Max(case when TypesID=3 and TypeID=14 then Rates else 0 end),10)+'%]'  as PensionRates,AccountNo,OfficeName1,LocationName1,LocationOrder,sr.OID
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where sr.SalaryID<>1 and sr.Suppliment not in (2,7) 
group by sr.ContactID,YearID1,MonthDesc,OfficeName,LocationName,PPANNo,EmployeeName,DesignationName,JoinDate,MnYr,Office,Ordered,AccountNo,OfficeName1,LocationName1,LocationOrder,sr.ScaleRegisterID,sr.OID

) as A where (Basic1+DP1+DA1)<>0 and PensionAmount1<>0
group by ContactID,YearID1,MonthDesc,OfficeName,LocationName,PPANNo,EmployeeName,DesignationName,JoinDate,MnYr,Office,Ordered,DPRates,DARates,PensionRates,AccountNo,OfficeName1,LocationName1,LocationOrder,OID



select A,B,C,D,E,F,G,H,sum(I) as I,sum(J) as J,sum(K) as K,sum(L) as L,sum(M) as M,sum(N) as N,sum(O) as O,sum(P) as P,sum(Q) as Q,sum(R) as R,S,T,U,V,W,X,Y
,(AA+' '+Z) as Z,sum(M+R) as AA,AB 
from @PC p cross join (select dbo.fnNumToWords(sum(M+R)) as AB from @PC) as W
GROUP BY A,B,C,D,E,F,G,H,S,T,U,V,W,X,Y,Z,AA,AB,LocationOrder,p.OID
order by U,F,LocationOrder
GO
