USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_BonusGeneration_Bulk]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  PROCEDURE [dbo].[SP_BonusGeneration_Bulk] 
	 @AcOLID Int ,
	 @FromDate DateTime ,
	 @ToDate DateTime ,
	 @ContactID Int , 
	 @ODLDID_1 Int ,
	 @ECID int ,
	 @OSL int ,
	 @Rate Float 
AS SET NOCOUNT ON


--Declare @AcOLID Int = 341     
--Declare @FromDate DateTime = '2022-04-01' 
--Declare @ToDate DateTime = '2023-03-31' 
--Declare @ContactID Int = 2056      
--Declare @ODLDID_1 Int = NULL 
--Declare @ECID int = 1 
--Declare @OSL int = 1
--Declare @Rate Float = 7000 



Declare @Suppliment int = 3   
Declare @SRID table (OLID Int,ContactID Int) 
insert into @SRID
select distinct OLID,ContactID from (
select OLID,ContactID,ScaleRegisterID,StartingDate,EndingDate
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=@ECID  and OLID=@AcOLID  and StartingDate>=@FromDate and EndingDate<=@ToDate
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID
) A where Maxno = 1 



Declare @SRID1 Int Declare @SRID2 Int 
DECLARE Cur3 CURSOR FOR select * from @SRID Order By ContactID 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2 ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------
 
exec SP_BonusGeneration @SRID1,@FromDate,@ToDate,@SRID2,@ODLDID_1,@ECID,@OSL,@Rate

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2 ; 
END; CLOSE Cur3; DEALLOCATE Cur3; 



select * from ScaleRegister A with(nolock) 
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=@ECID and OLID=@AcOLID and StartingDate>=@FromDate and EndingDate<=@ToDate 
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID and isnull(ContactID,0)>0  
Order By ContactID,StartingDate,ScaleRegisterID





GO
