USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_BonusGeneration]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[SP_BonusGeneration] 
	 @AcOLID Int ,
	 @FromDate DateTime ,
	 @ToDate DateTime ,
	 @ContactID Int , 
	 @ODLDID_1 Int ,
	 @ECID int ,
	 @OSL int ,
	 @Rate Float 
AS SET NOCOUNT ON


--Declare @AcOLID Int = 354     
--Declare @FromDate DateTime = '2022-04-01' 
--Declare @ToDate DateTime = '2023-03-31' 
--Declare @ContactID Int = 16355          
--Declare @ODLDID_1 Int = NULL 
--Declare @ECID int = 1 
--Declare @OSL int = 1
--Declare @Rate Float = 7000 



Declare @Suppliment int = 3 
Declare @SOAID int = (select case when @ECID in (1,3) then 7 else 3 end)
Declare @Days int = (select datediff(day,@FromDate,@ToDate)+1)
Declare @Remarks Varchar(50) = (( select concat(@ContactID,' Bonus Generation Suppliment ',@Suppliment,'_',Month(@ToDate),Year(@ToDate)) ))
;
 
Declare @SRID1 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and StartingDate>=@FromDate and EndingDate<=@ToDate 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' and EmployeeCategoryID=@ECID) 

Declare @SRID3 table (ScaleRegisterID Int) 
insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock)  where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=@ECID and ContactID = @ContactID  and OLID=@AcOLID                                
and StartingDate >= @FromDate and EndingDate<= @ToDate and ScaleRegisterID<=isnull(@SRID1,ScaleRegisterID)
) A where Maxno = 1 
 
   
Declare @SRID2 Int = (( select * from @SRID3 ))


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= @Days
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows OPTION (MAXRECURSION 0)


Declare @CID Table (OLID Int,ContactID Int,SalaryYear Int,SalaryMonth Int)
Insert Into @CID
select OLID,ContactID,SalaryYear,SalaryMonth from (
select OLID,ContactID,ScaleRegisterID,StartingDate,EndingDate,SalaryYear,SalaryMonth
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and isnull(OLID,0)!=0 and ContactID=@ContactID
and Suppliment in (0,9) and EmployeeCategoryID=@ECID  and OLID=@AcOLID  and StartingDate>=@FromDate and EndingDate<=@ToDate
) A where Maxno = 1 


Declare @ODLDID1 table (SlNo Int,EADID Int,ContactID Int,AppointmentTypeID Int,Percentage Money,JoiningDuration Int,RelievedDate DateTime,ReportedDate2 DateTime,ODLDID Int,JD_ODLDID Int,JD_Days Int,LienODLDID Int,Regularised int,OLID Int,AcOLID Int,Date1 DateTime,HolidayDate DateTime,Sunday Int,Saturday Int,Attendance Int,EmployeeGradeID Int,MinNo Int,FromDate DateTime,ToDate DateTime,LTypeID Int)
insert into @ODLDID1
select a.*,isnull(LeaveTypeID,0) LTypeID from Fn_SalaryODLDID(@AcOLID,@FromDate,@ToDate,@ContactID,@ODLDID_1,@Suppliment,@ECID) A
left join Fn_Leaves(@FromDate,@ToDate,@ContactID,@Suppliment) L on l.ContactID=a.ContactID and l.Date1=a.Date1
where (case when JD_Days!=0 and isnull(isnull(isnull(HolidayDate,Sunday),(case when Saturday in (2,4) then Saturday else NULL end)),(case when JoiningDuration=0 then NULL else JoiningDuration end)) is NULL then 0 else 1 end) = 1 
and (case when isnull(Paid,0)=0 and isnull(LeaveTypeID,0)!=0 then 0 else 1 end)=1
OPTION (MAXRECURSION 0)


Declare @Rate2 table (RateTypeID Int,Rates Float,Date1 DateTime,RateMode Varchar(20),MaximumAmount Float)
Insert into @Rate2
select RateTypeID,cast((case when RateMode='Amount' then (isnull(@Rate,Rates)/@Days) else isnull(@Rate,Rates) end) as Float),Date1,RateMode,MaximumAmount 
from (select RateTypeID,Rates,FromDate,ToDate,RateMode,MaximumAmount from FnRateDetails() where RateTypes='Additions' and RateTypeID in (7) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @Data Table (ContactID Int,ODLDID Int,AcOLID Int,Date1 DateTime,Rates Float,EmployeeCategoryID Int,EmployeeStatusID Int,SLNo Int)
insert into @Data 
select a.ContactID,ODLDID,AcOLID,a.Date1,Rates,EmployeeCategoryID,EmployeeStatusID,(Row_Number() over (Order By a.Date1 desc)) SLNo 
from @ODLDID1 a Inner join @Rate2 B on b.Date1=a.Date1 
inner join @CID c on c.OLID=a.AcOLID and c.ContactID=a.ContactID and c.SalaryYear=Year(a.Date1) and SalaryMonth=Month(a.Date1)
cross apply (select EmployeeCategoryID,EmployeeStatusID from Employee E with (nolock) where e.ContactID=a.ContactID ) E


;
insert into ScaleRegister 
select ContactID,Month(@ToDate),Year(@ToDate),Min(Date1),Max(Date1),AcOLID,@ECID,NULL,0,Count(*),0,0,0,0,0,0,0,1,@Suppliment,0,'0',NULL,NULL,GetDate(),0,NULL,NULL,@Remarks,0,@OSL,NULL,NULL
from @Data where ContactID not in ( select ContactID from ScaleRegister with (nolock) where ScaleRegisterID = @SRID1 ) 
Group By ContactID,AcOLID,EmployeeCategoryID 

;
Declare @SRID Int = (isnull(@SRID1,(select Max(ScaleRegisterID)  from ScaleRegister with (nolock) where Remarks=@Remarks and OLID=@AcOLID and BillRegisterNo='0' and EmployeeCategoryID=@ECID))) 
--select @SRID 

;
delete from ScaleRegisterBasicPayDetails where ScaleRegisterID = @SRID
;
 insert into ScaleRegisterBasicPayDetails  
select @SRID,b.ODLDID,Min(Date1) FromDate,Max(Date1) ToDate,0 PerDay,0.01 Basic,EmployeeStatusID,'' Remarks 
from @Data a cross apply (select ODLDID from @Data b where b.COntactID=a.ContactID and SLNo=1) B 
Group By ContactID,b.ODLDID,EmployeeStatusID


;
delete from ScaleRegisterOtherAdditions where ScaleRegisterID = @SRID 
;
 insert into ScaleRegisterOtherAdditions 
select @SRID,b.ODLDID,@SOAID,Min(Date1) FromDate,Max(Date1) ToDate,cast(Sum(Rates) as Money) Amount,0,'' Remarks
from @Data a cross apply (select ODLDID from @Data b where b.COntactID=a.ContactID and SLNo=1) B 
Group By ContactID,b.ODLDID

;
Declare @SRIDNew Table (ScaleRegisterID Int) Insert into @SRIDNew select @SRID
--select * from @SRIDNew 
;
insert into  ScaleRegisterWithdrawals 
select c.ScaleRegisterID,StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount
from ScaleRegister B with(nolock) 
inner Join @SRIDNew C on c.ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterWithdrawals d with(nolock) where d.ScaleRegisterID=c.ScaleRegisterID) 
where b.ScaleRegisterID=@SRID2
;
Declare @SRWIDNew Table (ScaleRegisterWithdrawalID Int) Insert into @SRWIDNew
select distinct ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals A with(nolock) Inner Join @SRIDNew B on a.ScaleRegisterID=b.ScaleRegisterID 

;
delete from ScaleRegisterBasicPayWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherAdditionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)

;
 insert into ScaleRegisterBasicPayWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,StartingDate,EndingDate,Amount
from ScaleRegisterBasicPayDetails A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherAdditionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherAdditions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2

;
exec SP_SRID_MismatchUpdate @FromDate,@SRID 
;
update a set CreatedOn=GetDate() from ScaleRegister a with(nolock) where ScaleRegisterID = @SRID 
;
--select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID 

GO
