USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[GetContactById1]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetContactById1]

@ContactID_P INT

AS

BEGIN

-- Step 1: Check if ContactID exists in UserLoginDetails

IF NOT EXISTS (

SELECT 1 FROM UserLoginDetails WHERE UserID = @ContactID_P

)

BEGIN

SELECT

'INVALID_USER' AS Status,

'Enter a valid User ID. Contact ID not found: '

+ CAST(@ContactID_P AS VARCHAR) AS Message,

NULL AS UpdatedDateTime

RETURN

END


-- Step 2: Update the latest login record where logout is NULL

UPDATE u

SET u.LastLogoutDateTime = GETDATE()

FROM UserLoginDetails u

INNER JOIN (

SELECT TOP 1 UserID, LastLoginDateTime

FROM UserLoginDetails

WHERE UserID = @ContactID_P

AND LastLogoutDateTime IS NULL

ORDER BY LastLoginDateTime DESC

) latest

ON u.UserID = latest.UserID

AND u.LastLoginDateTime = latest.LastLoginDateTime;


-- Step 3: Return result based on rows updated

IF @@ROWCOUNT > 0

BEGIN

SELECT

'SUCCESS' AS Status,

'LastLogoutDateTime updated successfully for Contact ID: '

+ CAST(@ContactID_P AS VARCHAR) AS Message,

GETDATE() AS UpdatedDateTime

END

ELSE

BEGIN

SELECT

'NO_ROWS' AS Status,

'No pending logout record found for Contact ID: '

+ CAST(@ContactID_P AS VARCHAR) AS Message,

NULL AS UpdatedDateTime

END

END;

GO
