USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_Expenditure_New]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_CWIP_Expenditure_New] @AcOLID int,@FromDate datetime,@ToDate datetime,@AcCode Varchar(10) 
AS SET NOCOUNT ON


--Declare @AcOLID Int  = 412
--Declare @FromDate datetime = '2025-04-01'
--Declare @ToDate datetime = '2026-03-31'
--Declare @AcCode Varchar(10) = 'ALL'


Declare @StartFyYear datetime  = (select StartingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))
Declare @EndFyYear datetime  = (select EndingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))


Declare @AcOL Table (AcOLID Int,OfficeID Int,LocationID Int,OLID Int,OfficeLocation varchar(200)) Insert Into @AcOL
select AcOLID,OfficeID,LocationID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails with(nolock) 
where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 

Declare @JV Table (JVNo Int,JVDate DateTime) 
Insert Into @JV
select JournalVoucherNo,JournalVoucherDate from @AcOL ol 
inner join JournalVoucher JV with(nolock) on jv.OLID=ol.OLID and Approved=1 and JournalVoucherDate Between @StartFyYear and @ToDate and JournalVoucherDate Between @StartFyYear and @EndFyYear
where JournalVoucherNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where b.JournalVoucherNo = jv.JournalVoucherNo 
--and ((FromMainAccountCode+FromSubAccountCode) like'14.120%' or (ToMainAccountCode+ToSubAccountCode) like '14.120%')
and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%') ) 
--and JournalVoucherNo = 2586929 


Declare @BRNo Table (DocumentNo Int,BillRegisterNo Int,JVDate DateTime,BillRegisterDate datetime) 


Declare @Trans Table (OrderNo Int,Table1 Varchar(50),WorkOrderNo Int,TransNo Int,TransDate datetime,JVDate datetime,Amount Money) 
Insert Into @Trans
select 1 OrderNo,* from (
select 'SI' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and FromMainAccountCode not like'32.%' 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
) A Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all

select 'RV' Table1,DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and ToMainAccountCode not like'32.%'
Inner Join ReceiptVoucherAbstract_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate
) A Group By DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,Status,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount 
from @JV JV Inner Join CivilInvoice CI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(JournalVoucherNo,0)=JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'PI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV Inner Join ProformaInvoice PI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(ProformaApproved,0)=1 and isnull(Amount,0)<>0 and isnull(ProformaJournalVoucherNo,0)=JVNo  
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CI_Tax' Table1,DocumentNo,a.BillRegisterNo,BillRegisterDate,JVDate,Round(Round(Sum((isnull(TaxAmount,0)+isnull(DifferenceAmount,0))),2),0) as Amount 
from @BRNo A Inner Join TaxDetails B with(nolock) on b.BillRegisterNo=a.BillRegisterNo
Group By DocumentNo,a.BillRegisterNo,BillRegisterDate,JVDate Having SUm(isnull(TaxAmount,0)+isnull(DifferenceAmount,0)) <>0
union all 

select 'CR' Table1,DocumentNo,CostRegisterNo,CategorizationDate,JVDate,Round(Round(Sum(TotalAmount),2),0) as TotalAmount 
from @JV JV Inner Join CostRegister cr With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(JournalVoucherNo,0)=JVNo   
Group By DocumentNo,Status,DocumentDate,JVDate,CategorizationDate,CostRegisterNo 
Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CR' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,sum(case when FromMainAccountCode like'10.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'10.%' or ToMainAccountCode like '10.%')
and ToMainAccountCode not like'32.%' 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
) A Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'LP' Table1,DocumentNo,LiabilityProvisionID,LiabilityProvisionDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,lp.LiabilityProvisionID,LiabilityProvisionDate,JVDate,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and ToMainAccountCode not like'32.%'
inner join LiabilityProvisions LP with(nolock) on isnull(lp.DebitJournalVoucherNo,0)=JVNo 
Inner Join LiabilityProvisionDetails SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(si.Amount,0)<>0 and si.LiabilityProvisionID=lp.LiabilityProvisionID
Group By DocumentNo,lp.LiabilityProvisionID,LiabilityProvisionDate,JVDate
) A Group By DocumentNo,LiabilityProvisionID,LiabilityProvisionDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0


union all 
select 'DR' Table1,DocumentNo,DemandRaisingID,DemandRaisingDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select drd.ReferenceNo DocumentNo,si.DemandRaisingID,DemandRaisingDate,JVDate,sum(case when drd.DebitAccountCode like'14.%' then drd.Amount else -drd.Amount end) TotalAmount
from @JV JV 
Inner Join DemandRaising SI With (NoLock) on isnull(si.JournalVoucherNo,0)=JVNo and Approved=1 and isnull(canceled,0)=0 
inner join DemandRaisingDetails DRD with(nolock) on drd.DemandRaisingID=si.DemandRaisingID and isnull(drd.DocumentTypeID,0) in (2,22)
and (drd.DebitAccountCode like'14.%' or drd.CreditAccountCode like '14.%')
Group By drd.ReferenceNo,si.DemandRaisingID,DemandRaisingDate,JVDate
) A Group By DocumentNo,DemandRaisingID,DemandRaisingDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'DA' Table1,DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select c.DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVDate,sum(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) TotalAmount
from @JV JV 
cross apply (select distinct c.JournalVoucherNo,c.DocumentTypeID,DocumentNo,a.DivisionAdjustmentID,AdjustmentDate,AmountTobeAdjusted,FromAccountCode,ToAccountCode  from (
	select DivisionAdjustmentID,AdjustmentDate from DivisionAdjustments D with(nolock) where d.JournalVoucherNo =  jv.JVNo ) A 
	inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID and (FromAccountCode like'14.%' or ToAccountCode like '14.%')
	inner join CivilInvoice C with(nolock) on c.OfficialReferenceNo=b.ReferenceNo collate database_default and c.DocumentTypeID in (2,22)) C 
Group By c.DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVDate
) A Group By DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'JV_Reversal' TableName,a.DoucmentNo,JournalVoucherReversalDetailId,JournalVoucherDate,JournalVoucherDate,isnull(Amount,0) Amount 
from JournalVoucher A with(nolock)
inner join JournalVoucherReversalDetails B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
cross apply (select Sum(case when FromMainAccountCode like'14.%' then -isnull(Amount,0) else isnull(Amount,0) end) Amount 
from JournalVoucherDetails B1 where b1.JournalVoucherNo=a.JournalVoucherNo 
and ToMainAccountCode like '10.%' and (FromMainAccountCode like '14.%' or FromMainAccountCode like '55.1%' )) C 
where JournalVoucherDate>=@StartFyYear and Approved=1 and DocumentTypeID=2 and isnull(Amount,0)!=0 
and a.JournalVoucherNo in (select JVNo from @JV)
union all 
select 'JV_Reversal' TableName,a.DoucmentNo,JournalVoucherReversalDetailId,JournalVoucherDate,JournalVoucherDate,isnull(Amount,0) Amount 
from JournalVoucher A with(nolock)
inner join JournalVoucherReversalDetails B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
cross apply (select Sum(case when FromMainAccountCode like'14.%' then -isnull(Amount,0) else isnull(Amount,0) end) Amount 
from JournalVoucherDetails B1 where b1.JournalVoucherNo=a.JournalVoucherNo 
and ToMainAccountCode like '10.%' and (FromMainAccountCode like '14.%' or FromMainAccountCode like '55.1%' )) C 
where JournalVoucherDate>=@StartFyYear and Approved=1 and JournalVoucherTypeID=15 and DocumentTypeID=40 and isnull(Amount,0)!=0 
and a.JournalVoucherNo in (select JVNo from @JV)
) A 

 
Declare @WONo Table (WorkOrderNo Int,WorkOrderDate DateTime,WorkAllocationID Int,Amount Money,ContractAmount Money,WorkInChargeID Int,ODLDID Int,Legacy Int,WorkOrderNo1 Varchar(50)) 
Insert Into @WONo
select distinct a.WorkOrderNo,WorkOrderDate,WorkAllocationID,isnull(Amount,0) Amount,isnull(ContractAmount,0) ContractAmount,WorkInChargeID,ODLDID,isnull(Legacy,0) 
,(case when isnull(Legacy,0)=1 then concat(a.WorkOrderNo,'') else OfficialReferenceNo end) from (
select distinct WorkOrderNo,JVDate from @Trans ) A 
Inner Join WorkOrder B with(nolock) on b.WorkOrderNo=a.WorkOrderNo 
--where b.WorkOrderNo = 863366 


--select * from (
select 1 OrderNo,* from (
select (case when Legacy=0 then 2 else 22 end) DocumentTypeID,WorkInChargeID,ODLDID,Legacy,WorkOrderNo1,WorkOrderDate,JVDate,Table1,WorkOrderNo,TransNo,TransDate,ola.OfficeID,sac.Description,(isnull(wa.MainAccountCode,'')+isnull(wa.SubAccountCode,'')) as AccountHead
,Sum(OB) OB,Sum(Expenditure) Expenditure,Sum(ReceivedAmount) ReceivedAmount,Sum(TransferedAmount) as TransferedAmount,sum(Asseted) Asseted,Sum(CB) CB from (
select *,((OB+Expenditure+ReceivedAmount) - (TransferedAmount+Asseted)) as CB from (
select WorkInChargeID,ODLDID,Legacy,WorkOrderNo1,JVDate,Table1,TransNo,TransDate,wo.WorkAllocationID,wo.WorkOrderNo,wo.WorkOrderDate,Expenditure
,0 ReceivedAmount,0 TransferedAmount,Asseted,OB  from (
select WorkAllocationID,wo.WorkOrderNo,wo.WorkOrderDate,TransNo,TransDate,Table1,JVDate,WorkOrderNo1,WorkInChargeID,ODLDID,Legacy
,(case when Table1='CI_Tax' and WorkAllocationID=12 then 0 when Table1 in ('CR','OB') then 0 else isnull(t.Amount,0) end) Expenditure
,(case when Table1='CR' then isnull(t.Amount,0) else 0 end) Asseted
,(case when Table1='OB' then isnull(t.Amount,0) else 0 end) OB
from @WONo WO inner join @Trans T on t.WorkOrderNo=wo.WorkOrderNo 
) WO ) A where ((abs(Expenditure)+abs(ReceivedAmount)+abs(TransferedAmount)+abs(Asseted)+abs(OB))) != 0
) as A inner join WorkAllocation wa with (nolock) on wa.WorkAllocationID=a.WOrkAllocationID and wa.MainAccountCode like '14.%' 
and (case when @AcCode='ALL' then 'ALL' else concat(wa.MainAccountCode collate database_default,wa.SubAccountCode collate database_default) end)=@AcCode
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=(isnull(wa.MainAccountCode,'')+isnull(wa.SubAccountCode,''))
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
Group By Table1,WorkOrderNo,TransNo,TransDate,ola.OfficeID,ola.OfficeLocation,sac.Description,wa.MainAccountCode,wa.SubAccountCode,JVDate,WorkOrderDate,WorkOrderNo1,WorkInChargeID,ODLDID,Legacy
) A 


union all 
select 2 OrderNo,0,0,0,0,'0',JVDate,JVDate,'' Table1,0,BRNo,BillRegisterDate,OfficeID,AcDesc,AcCode,0,Round(Round(Sum(TotalAmount),2),0) Amount,0,0,0,Round(Round(Sum(TotalAmount),2),0) CB from ( 
select 0 DocumentNo,a.JournalVoucherNo,DoucmentNo BRNo,BillRegisterDate,JournalVoucherDate JVDate,OfficeID,(FromMainAccountCode+FromSubAccountCode) AcCode
,sum(case when FromMainAccountCode like'18.%' then jvd.Amount else -jvd.Amount end) TotalAmount,s.Description AcDesc
from @JV JV inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%')
left join BillRegisterNoInvoiceTypeAllocation BR with(nolock) on br.BillRegisterNo=DoucmentNo 
left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID 
left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(FromMainAccountCode+FromSubAccountCode)
Group By DoucmentNo,JournalVoucherDate,a.JournalVoucherNo,BillRegisterDate,OfficeID,(FromMainAccountCode+FromSubAccountCode),s.Description 
union all 
select 0 DocumentNo,0 JournalVoucherNo,0 BRNo,NULL BillRegisterDate,NULL JVDate,0 OfficeID,(FromMainAccountCode+FromSubAccountCode) AcCode
,0 TotalAmount,s.Description AcDesc
from (select 1098986 JVNo) JV inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%')
left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(FromMainAccountCode+FromSubAccountCode)
Group By (FromMainAccountCode+FromSubAccountCode),s.Description 
) A Group By DocumentNo,BRNo,BillRegisterDate,JVDate,OfficeID,AcDesc,AcCode 


--union all 
--select 1 OrderNo,DocumentTypeID,0,0,0,'0',JournalVoucherDate,JournalVoucherDate,'JV' Table1,0,JournalVoucherNo,JournalVoucherDate,0 OfficeID,AcDesc,AcCode,0,Amount,0,0,0,Amount from ( 
--select a.JournalVoucherNo,DocumentTypeID,a.JournalVoucherDate,(FromMainAccountCode+FromSubAccountCode) AcCode
--,sum(jvd.Amount) Amount,s.Description AcDesc
--from @JV jv inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo and a.DocumentTypeID=40 and isnull(DoucmentNo,0)=0
--inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and FromMainAccountCode like'14.%' 
--left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(FromMainAccountCode+FromSubAccountCode)
--Group By (FromMainAccountCode+FromSubAccountCode),s.Description,a.JournalVoucherNo,a.JournalVoucherDate,DocumentTypeID 
--union all 
--select a.JournalVoucherNo,DocumentTypeID,a.JournalVoucherDate,(ToMainAccountCode+ToSubAccountCode) AcCode
--,-sum(jvd.Amount) Amount,s.Description AcDesc
--from @JV jv inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo and a.DocumentTypeID=40 and isnull(DoucmentNo,0)=0
--inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and ToMainAccountCode like '14.%'
--left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(ToMainAccountCode+ToSubAccountCode)
--Group By (ToMainAccountCode+ToSubAccountCode),s.Description,a.JournalVoucherNo,a.JournalVoucherDate,DocumentTypeID 
--) A 

--) A --where WorkOrderNo = 873537    
OPTION(RECOMPILE) 

GO
