USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardStockList]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardStockList] @olid varchar(200) as 
SET NOCOUNT ON
 
 select 1 as sort_order  ,16 as card_type, count(*) as counts, 'Total Distribution Transformers in Store Stock ' as title,1 as types From StockQuantity dd1 inner join StockQuantitySub ss on
 ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on 
sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 
inner join capacityDetails cc on cc.itemid=dd1.ItemID  and capacity!=0  
 inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID
 where dd1.olid in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=337) and dd1.ItemID in
 (select ItemID From capacityDetails )
union
select  2 as sort_order  ,13 as card_type , count(*) as counts, 'New Distribution Transformers' as title, 1 as types  From StockQuantity dd1 
inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID 
inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 
inner join capacityDetails cc on cc.itemid=dd1.ItemID  and capacity!=0   
inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID 
where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=337) 
and dd1.ItemID in (select ItemID From capacityDetails ) and ss.StockConditionID=1

union
select   3 as 'sort_order'  ,12 as card_type , count(*) as counts, 'Released/Repaired Good in Store' as title, 1 as types  From StockQuantity dd1 
inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID 
inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 
inner join capacityDetails cc on cc.itemid=dd1.ItemID  and capacity!=0   
inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID 
where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=337) 
and dd1.ItemID in (select ItemID From capacityDetails )and ss.StockConditionID=2


union 
select  4 as sort_order  ,11 as card_type,  count(*) as counts, 'Faulty DTR at Store' as title,1 as types  From StockQuantity dd1 inner join
StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID 
and sdd.DistributionNodeUserDefinedFieldID=20 inner join capacityDetails cc on cc.itemid=dd1.ItemID  and capacity!=0   inner join OfficeLocationAllocation lll on
lll.OfficeLocationAllocationID=dd1.OLID where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=337)
and dd1.ItemID in (select ItemID From capacityDetails ) and ss.StockConditionID=3

union
select  5 as sort_order ,14 as card_type, count(*) as counts, 'Scrap in Store' as title,1 as types From StockQuantity dd1 
inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID 
inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 
inner join capacityDetails cc on cc.itemid=dd1.ItemID  and capacity!=0   
inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID 
where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=337) 
and dd1.ItemID in (select ItemID From capacityDetails ) and
ss.StockConditionID=4

union

select 6 as sort_order ,24 as card_type, count(*) as counts, 'Repair Center Stock Details' as title,1 as types From StoreInvoice_pni p
inner join StoreInvoiceDetails_pni dd on p.StoreInvoiceNo=dd.StoreInvoiceNo  
inner join StoreInvoiceMaterialDetails_pni sm on sm.StoreInvoiceDetailsID=dd.StoreInvoiceDetailsID
inner join StoreInvoiceMaterialDetailsSub_pni ssp on ssp.StoreInvoiceMaterialDetailsID=sm.StoreInvoiceMaterialDetailsID 
and ssp.DistributionNodeUserDefinedFieldID=20
inner join OfficeLocationAllocation ll on ll.OfficeLocationAllocationID=dd.OLID
inner join capacityDetails sd on sd.itemid=dd.itemid and sd.capacity!=0
left join Contacts cc on cc.ContactID=p.ContactID
inner join workorder wk on wk.WorkOrderNo=p.documentno
where wk.Canceled=0 and wk.WorkAllocationID in(57) and p.ContactCategoryID in (1,2) and p.DocumentTypeID in (2,22) 
and p.Canceled=0 and p.Passed=1
and  p.Passed=1 and p.storeinvoicedate>='2023-04-01'  and p.Canceled=0 and p.ContactID!=0
and sm.SerialNo not  in (select ddf.SerialNo  From ReceiptVoucherAbstract_pni r
inner join ReceiptVoucherDetails_pni dd on r.ReceiptVoucherNo=dd.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_pni ddf on ddf.ReceiptVoucherDetailsID=dd.ReceiptVoucherDetailsID
where r.Approved=1 and r.Canceled=0 and r.ContactCategoryID in (1,2) and r.ReceiptVoucherDate>='2023-04-01'
 and r.DocumentTypeID in (2,22) and 
r.ReceiptVoucherDate>=p.storeinvoicedate)
GO
