USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_WONoWiseMaterialDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_WONoWiseMaterialDetails]
	@FromDate DateTime , 
	@ToDate DateTime ,
	@AcOLID int ,
	@SOLID int,
	@SeOLID int,
	@WODate varchar(20)

AS 
SET NOCOUNT ON



--Declare @FromDate DateTime select @FromDate = '2017-04-01'
--Declare @ToDate DateTime select @ToDate = '2018-03-31'
--Declare @AcOLID Int select @AcOLID = 344
--Declare @SOLID Int select @SOLID = 375
--Declare @SeOLID Int select @SeOLID = 0
--Declare @WODate Varchar(20) select @WODate = '2018-03-09'

Declare @AcHead Int select @AcHead = 130
Declare @Status Int select @Status = 1
DECLARE @cols AS NVARCHAR(MAX),  @cols1 AS NVARCHAR(MAX), @query  AS NVARCHAR(MAX), @query1  AS NVARCHAR(MAX)
IF OBJECT_ID('tempdb..#Query') IS NOT NULL   DROP TABLE #Query ;


Declare @AcOL Table (AcOLID Int,SubDivisionOLID Int,OLID Int,OfficeID Int,LocationID Int) 
Insert Into @AcOL
select * from (
select AcOLID,SubDivisionOLID,(case when (SubDivisionOLID=0 or SubDivisionOLID=OLID) then 0 else OLID end) as OLID,OfficeID,LocationID
from FnUnderOL() where AcOLID = @AcOLID  and SubDivisionOLID= @SOLID ) as A 
where (case when @SeOLID=0 then 0 else OLID end)=@SeOLID 


Declare @SENo1 Table (Approved Int,SanctionEstimateNo Int,SanctionEstimateDate DateTime,WorkOrderNo Int,WorkOrderDate DateTime,Reference Varchar(Max),OfficialReferenceNo Varchar(50))
Insert Into @SENo1
select c.Approved,b.SanctionEstimateNo,SanctionEstimateDate,WorkOrderNo,WorkOrderDate,Reference,c.OfficialReferenceNo
from @AcOL A Inner Join SanctionEstimate B with (nolock) on b.OLID=a.OLID and SanctionEstimateDate Between @FromDate and @ToDate and isnull(b.Approved,0)=1 and isnull(canceled,0)=0 
left outer join OfficeLocationAllocation OLA on ola.OfficeLocationAllocationID=a.OLID
Inner Join ( select SanctionEstimateNo,WorkOrderNo,WorkOrderDate,Reference,OfficialReferenceNo,Approved from WorkOrder C with (nolock) where WorkOrderNo in (
select WorkOrderNo from MeasurementBook D with (nolock) where d.WorkOrderNo=c.WorkOrderNo and Approved=@Status ) ) C on c.SanctionEstimateNo=b.SanctionEstimateNo
where WorkAllocationID in (@AcHead)


Declare @SE Table (AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money)
Insert Into @SE
select AcOLID,SubDivisionOLID,a.OLID,SanctionEstimateDate,b.Description,b.SanctionEstimateNo,0 as EIC
from @AcOL A Inner Join SanctionEstimate B with (nolock) on b.OLID=a.OLID and isnull(Approved,0)=1 and isnull(canceled,0)=0 and b.SanctionEstimateNo in (select SanctionEstimateNo from @SENo1 C where c.SanctionEstimateNo=b.SanctionEstimateNo)


Declare @WO Table (SlNo Int,WorkAwardNo Int,WorkAwardDate DateTime,WorkOrderNo Int,WorkOrderDate DateTime,AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money,RateContractNo Int)
Insert Into @WO
select (Row_Number() over (Order By WorkOrderNo)) as SlNo,* from (
select distinct a.WorkAwardNo,a.WorkAwardDate,WorkOrderNo,WorkOrderDate,AcOLID Int,SubDivisionOLID,b.OLID,SEDate,NameOftheWork,SENo,EIC,a.RateContractID
from WorkOrder A with (nolock) Inner Join @SE B on b.SENo=a.SanctionEstimateNo ) as A
where (case when @WODate='0' then 0 else WorkOrderDate end) = (case when @WODate='0' then 0 else convert(DateTime,@WODate) end)



Declare @MB Table (MeasurementBookID Int,WorkOrderNo Int,MeasurementDate DateTime,SENo Int) 
Insert Into @MB
select MeasurementBookID,WorkOrderNo,MeasurementDate,SENo from (
select a.* ,SENo,(Row_NUmber() over (Partition By a.WorkOrderNo Order By a.WorkOrderNo,WorkCompletionDate desc,MeasurementBookID desc)) as MaxNo
from MeasurementBook A with (nolock) Inner Join @WO B on b.WorkOrderNo=a.WorkOrderNo
where A.CompletionReport= 0 and isnull(Canceled,0)=0) as A  --A.MeasurementBookID in (@MBNo) 


Declare @MBD Table (WONo Int,WorkAllocationID Int,WorkAllocationSubID Int,CWMTypeID Int,ItemID Int,UnitID Int,Rate Float,Quantity Float,Amount Money)
Insert Into @MBD
select WorkOrderNo,WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
from MeasurementBookWorkAllocationDetails A with (nolock)
Inner Join @MB B on b.MeasurementBookID=a.MeasurementBookID
Group By WorkOrderNo,WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,UnitID,Rate
Having Sum(Quantity)!=0


Declare @MBDL Table (CWMTypeID Int,WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,Rate Float)
Insert Into @MBDL
select CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,(Max(Rate1)*LabourQty1) as Rate from (  --(Max(Rate1)) as Rate 
select *,(case when LUnitID=26 and MUnitID=27 then LabourQty else case when LUnitID=27 and MUnitID=27 then LabourQty else 1 end end) as LabourQty1
,(select value from fn_convertQty(ItemID,LunitID,MUnitID,Rate)) as Rate1 from (
select a.CWMTypeID,a.WONo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID as LabourID,isnull(b.Quantity,1) as LabourQty,b.UnitID as LUnitID,c.UnitID as MUnitID,Max(a.Rate) as Rate,Sum(a.Quantity) as Quantity,Round(Sum(a.Amount),2) as Amount from (
select CWMTypeID,WONo,WorkAllocationID,WorkAllocationSubID,ItemID,UnitID,Rate,Quantity,(isnull(Quantity,0)*isnull(Rate,0)) as Amount
from @MBD C where c.CWMTypeID=2 
) as A Inner Join ( select * from ( select ItemID,CivilWorkLabourTypeID,Quantity,UnitID,(Row_Number() over (Partition By ItemID,CivilWorkLabourTypeID Order By ItemID,CivilWorkLabourTypeID,StockLabourAllocationID Desc)) as MaxNo
from StockLabourAllocation with (nolock) where CivilWorkLabourTypeID  in(select CivilworkLabourTypeID from CivilWorkLabourTypes where WorkTypeID in(1,6))
) as A where MaxNo=1 ) B on b.CivilWorkLabourTypeID=a.ItemID
Inner Join @MBD C on c.CWMTypeID=4 and c.ItemID=b.ItemID and c.WONo=a.WONo and c.WorkAllocationID=a.WorkAllocationID and c.WorkAllocationSubID=a.WorkAllocationSubID
Group By a.CWMTypeID,a.WONo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID,b.Quantity,b.UnitID,c.UnitID Having Round(Sum(a.Amount),2)!=0
) as A ) as A Group By CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,LabourQty1


Declare @MBDSlNo Table (WONo Int,WorkAllocationID Int,ItemID Int,UnitID Int,Rate Money,Quantity Money,Amount Money,SlNo Int)
Insert Into @MBDSlNo
select * from (
select WONo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
,(Row_Number() over (Partition By a.WONo,a.ItemID Order By a.WONo,a.ItemID,rate,max(WorkAllocationSubID))) as SlNo
from @MBD  a where CWMTypeID=4 Group By WONo,WorkAllocationID,ItemID,UnitID,Rate ) AA
where SlNo>1


Declare @MBDFinal Table (WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,UnitID Int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo Int)
Insert Into @MBDFinal
select isnull(a.WONo,b.WONo) as WONo,isnull(a.WorkAllocationID,b.WorkAllocationID) as WorkAllocationID,isnull(a.ItemID,b.ItemID) as ItemID,isnull(LabourID,0) as LabourID
,a.UnitID,isnull(a.Rate,0) as MRate,isnull(a.Quantity,0) as MQuantity,(isnull(a.Rate,0)*isnull(a.Quantity,0)) as MAmount
,isnull(b.Rate,0) as LRate,isnull(a.Quantity,0) as LQuantity,(isnull(b.Rate,0)*isnull(a.Quantity,0)) as LAmount
,(Row_Number() over (Partition By a.WONo,a.ItemID Order By a.WONo,a.ItemID,LabourID)) as SlNo
from ( select WONo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
from @MBD where CWMTypeID=4 Group By WONo,WorkAllocationID,ItemID,UnitID,Rate ) as A
Full Join @MBDL B on b.ItemID=a.ItemID and b.WONo=a.WONo and b.WorkAllocationID=a.WorkAllocationID


Declare @MBDSub table ( MBWAD int,MeasurementBookID int,MILCWID  int ,ItemID int,UnitID int ,Quantity Money,Rate Money,Amount Money,workallocationSubID Int)
Insert Into @MBDSub
Select a.MeasurementBookWorkAllocationDetailsID, a.MeasurementBookID,b.MILCWID, b.ItemID,b.UnitID int ,b.Quantity,b.Rate,b.Amount,workallocationSubID
from  @MB cc
inner Join MeasurementBookWorkAllocationDetails a with (nolock) on cc.MeasurementBookID=a.MeasurementBookID 
inner Join MeasurementBookReturnableLabourDetails b with (nolock) on a.MeasurementBookWorkAllocationDetailsID=b.MeasurementBookWorkAllocationDetailsID


Declare @MissingItem  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo int)
Insert Into @MissingItem
select 10 CWMTypeID,WorkOrderNo,b.WorkAllocationID,a.ItemID,a.MILCWID LabourID,a.UnitID,0 Rate,a.Quantity,0 as Amount,a.Rate,a.Quantity,a.Amount,2 from @MBDSub a
inner Join MeasurementBookWorkAllocationDetails b with (nolock) on a.MBWAD=b.MeasurementBookWorkAllocationDetailsId and b.MILCWID not in(306)
inner Join @MB c on b.MeasurementBookID=c.MeasurementBookID
Union All
select a.CWMTypeID,a.WONo,a.WorkAllocationID,0 ItemID,a.ItemID,UnitID,0,Sum(Quantity) Quantity,0,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1
from @MBD a 
where CWMTypeID=2 and ItemID  in(select CivilworkLabourTypeID from CivilWorkLabourTypes where WorkTypeID=1 )
and ItemID Not In (select LabourID from @MBDL b where b.LabourID=a.itemID and b.woNo=a.WOnO)
group by CWMTypeID,WONo,WorkAllocationID,ItemID,UnitID,Rate


Declare @TotalAmount  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo int)
Insert Into @TotalAmount
select 4 as CWMTypeID,* from @MBDFinal where SlNo=1
Union all
select 4 as CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.LabourID,a.UnitID, (case when b.ItemID is Null then 0 else b.rate end) as MRate,MQuantity,
(case when b.ItemID is Null then 0 else b.Amount end) as MAmount,LRate,LQuantity,LAmount,a.SlNo from @MBDFinal a
left Outer Join @MBDSlNo b on a.WONo=b.WONo and a.ItemID=b.ItemID and a.SlNo=b.SlNo
where a.SlNo!=1
union all
select CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,306 as LabourID,a.UnitID,a.Rate,sum(a.Quantity) as Quantity,sum((isnull(a.Rate,0)*isnull(a.Quantity,0))) as Amount,b.Rate,sum(b.Quantity) as Quantity,sum(b.Amount) Amount,2 
from @MBD  a
left outer join  @MBDSub  b  on a.ItemID=b.ItemID and  a.workallocationSubID=b.workallocationSubID and b.MILCWID in (306)   
where CWMTypeID=5 
group by CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.UnitID,a.Rate,b.Rate
union all
select CWMTypeID,WONo,WorkAllocationID,ItemID,0 as LabourID,UnitID,0,Sum(Quantity) Quantity,0,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1  from @MBD where CWMTypeID=3
Group by CWMTypeID,WONo,WorkAllocationID,ItemID,UnitID,Rate
Union All
select * from @MissingItem


Declare @Total Table (SlNo Int,CWMTypeID Int,WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,UnitID Int,MRate Float,MQuantity Float,MAmount Money,LRate Float,LQuantity Float,LAmount Money,Total Money)
Insert Into @Total
select b.SLNo,CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,UnitID,Sum(MRate) MRate,MQuantity,Sum(MAmount)MAmount,Sum(LRate)LRate,Sum(LQuantity)LQuantity,Sum(LAmount) LAmount,Sum(MAmount+LAmount) Total 
from @TotalAmount as A Full Join @WO B on b.WorkOrderNo=a.WONo
Group by WONo,WorkAllocationID,ItemID,LabourID,UnitID,MQuantity,b.SLNo,CWMTypeID


Declare @Final Table (SlNo1 Int,SlNo Int,WONo Varchar(15),WorkAllocationID Int,CWMTypes Varchar(50),ItemID Int,MaterialCode Varchar(Max),UOM Varchar(50),Quantity Float,LAmount Money,MAmount Money,Total Money,Details Varchar(100))
--Insert Into @Final
select SlNo1,SlNo,WONo,WorkAllocationID,CWMTypes,ItemID,MaterialCode,UOM,Quantity,LAmount,MAmount,Total,Details 
into #Query from (
select a.SlNo,a.SlNo1,a.WONo,WorkAllocationID,CWMTypes,ItemID,(case when CWMTypeID in (2,3) then LabourTypes else (case when left(MaterialCode,1)='-' then Replace(MaterialCode,'- ','') else MaterialCode end) end) as MaterialCode,UnitOfMeasure as UOM
,Max(MQuantity) as Quantity,Round(Sum(LAmount),2) as LAmount,Round(Sum(MAmount),2) as MAmount,Round(Sum(a.Total),2) as Total,(case when Max(MQuantity)=0 then '' else 
Concat('Quantity: ',Max(MQuantity),char(13),'Material: ',Cast(Round(Sum(MAmount),2) as Numeric(18,2)) ,char(13),'Errection: ',Cast(Round(Sum(LAmount),2) as Numeric(18,2)),char(13),'Total: ',Cast(Round(Sum(a.Total),2) as Numeric(18,2))) end) as Details

from ( select SlNo,(Dense_Rank() over (Order By (case when CWMTypeID=4 then 1 else case when CWMTypeID=5 then 2 else case when CWMTypeID=3 then 3 else 4 end end end),(case when len(isnull(d.MaterialCode,''))=0 then concat('z',a.ItemID) else d.MaterialCode end))) as SlNo1
,WorkAllocationID,WONo,CWMTypeID,cw.Description as CWMTypes,a.ItemID,LabourID,ltrim(rtrim(isnull((d.MaterialCode+' - '+d.Description),''))) as MaterialCode
,(case when isnull(LQuantity,0)=0 then '' else(case when LabourID in(select distinct MILCWID from MeasurementBookReturnableLabourDetails with (nolock) where Milcwid<>0) then isnull(isnull(cl.Description,Particulars),'') + ' - ' + isnull(z.Description,'') else  isnull(isnull(cl.Description,Particulars),'') end)end) as LabourTypes
,a.UnitID,UnitOfMeasure,MRate,MQuantity,MAmount,LRate,LQuantity,LAmount,Total 
from @Total as A Left Outer Join CivilWorkLabourTypes CL with (nolock) on cl.CivilWorkLabourTypeID=LabourID
Left Outer Join UnitOfMeasure C with (nolock) on c.UnitID=a.UnitID
Left Outer Join CivilWorkMeasurementTypes CW on cw.CivilWorkMeasurementTypeID=a.CWMTypeID
Full Join MaterialCode D with (nolock) on d.ItemID=(case when a.CWMTypeID in (2,3,10) then 0 else a.ItemID end)
Full Join MaterialCode Z with (nolock) on z.ItemID=(case when a.CWMTypeID not in (2,3,4,5,10) then 0 else a.ItemID end)
Left Outer Join (select * from (select *,(Row_Number() over (Partition By CivilWorkID Order By CivilWorkID,CivilWorkTypeID,Particulars)) as MaxNo from CivilWorks 
) as A where MaxNo=1) as E on e.CivilWorkID=(case when a.CWMTypeID in (3) then a.ItemID else 0 end)
where (case when a.SlNo is NULL then 0 else 1 end)=1
) as A Group By a.SlNo1,a.SlNo,a.WONo,WorkAllocationID,CWMTypes,ItemID,UnitOfMeasure ,(case when CWMTypeID in (2,3) then LabourTypes else (case when left(MaterialCode,1)='-' then Replace(MaterialCode,'- ','') else MaterialCode end) end) 
) A


SET @cols = STUFF((SELECT ',' + QUOTENAME(rn) 
            FROM ( SELECT distinct rn = SlNo,WONo FROM #Query ) d  GROUP BY rn,WONo ORDER BY rn  FOR XML PATH('')
	, TYPE ).value('.', 'NVARCHAR(MAX)') ,1,1,'')

SET @cols1 = STUFF((SELECT ',' + 'isnull('+ QUOTENAME(rn)+','''') as '+ QUOTENAME(rn)
            FROM ( SELECT distinct rn = SlNo,WONo FROM #Query ) d  GROUP BY rn,WONo ORDER BY rn  FOR XML PATH('')
	, TYPE ).value('.', 'NVARCHAR(MAX)') ,1,1,'')


set @query   = 'SELECT SlNo1 as SlNo,CWMTypes,ItemID,MaterialCode,UOM,GrandTotal, '+ @cols1 +'  from ( 
	select SlNo,a.SlNo1,CWMTypes,ItemID,MaterialCode,UOM,GrandTotal,Details from #Query A Inner Join (
	select SlNo1,Concat(''Quantity: '',SUM(Quantity),char(13),''Material: '',Cast(SUM(MAmount) as Numeric(18,2)) ,char(13),''Errection: '',Cast(SUM(LAmount) as Numeric(18,2)),char(13),''Total: '',Cast(SUM(Total) as Numeric(18,2))) as GrandTotal
	from #Query Group By SlNo1 ) B on b.SlNo1=a.SlNo1
	union all select distinct SlNo,0,'''',0,'''','''',''Work OrderNo'',concat(WONo,'''') from #Query 
	union all select SlNo,9999,'''',0,''Grand Total '','''',GrandTotal,Concat(''Material: '',Cast(SUM(MAmount) as Numeric(18,2)) ,char(13),''Errection: '',Cast(SUM(LAmount) as Numeric(18,2)),char(13),''Total: '',Cast(SUM(Total) as Numeric(18,2))) as GrandTotal
	from #Query Cross Join ( select Concat(''Material: '',Cast(SUM(MAmount) as Numeric(18,2)) ,char(13),''Errection: '',Cast(SUM(LAmount) as Numeric(18,2)),char(13),''Total: '',Cast(SUM(Total) as Numeric(18,2))) as GrandTotal
	from #Query ) B Group By SlNo,GrandTotal
	) A  pivot ( max(Details) for SlNo in (' + @cols + ') ) p Order By SlNo1'

set @query1   = 'SELECT 0 SlNo,'''' CWMTypes,0 ItemID,'''' MaterialCode,'''' UOM,'''' GrandTotal, '+ @cols1 +'  from ( 
	select SlNo,WONo	from #Query 
	) A  pivot ( max(WONo) for SlNo in (' + @cols + ') ) p Order By SlNo'


exec sp_executesql @query 

GO
