USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllowance]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllowance] (@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)

AS 
SET NOCOUNT ON





Declare @SRAllowances table(ScaleRegisterID bigint,ODLDID int,AllowanceID int,TobePaidAmount int,PaidAmount int,Amount int)
insert into @SRAllowances 
select * from dbo.FnSRAllowanceSalPaid(@OLID,@YearID,@MonthID,@ContactID)


select sra.ScaleRegisterID,sr.ContactID,odld.OfficeID,sra.ODLDID,odld.LocationID,OfficeName,LocationName,sr.StartingDate,sr.EndingDate,a.AllowanceID,a.Description as Allowances
,round(round(sum(isnull(TobePaidAmount,0)),2),0) as TobePaidAmount,round(round(sum(isnull(PaidAmount,0)),2),0) as PaidAmount,-round(round(sum(isnull(PaidAmount,0)),2),0)+round(round(sum(isnull(TobePaidAmount,0)),2),0)  as Amount,ReportLabel,SequenceNo,StartingFyYear,EndingFyYear,BillRegisterDate1 as BillRegisterDate,sr.OLID AS AcOLID,sr.BillRegisterNo,
month(BillRegisterDate1) as MonthID,year(BillRegisterDate1) as YearID 
from dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) sr 
left outer join @SRAllowances  sra on sra.ScaleRegisterID=sr.ScaleRegisterID 
left outer join ODLDAllocation odld with(nolock) on odld.ODLDID=isnull(sra.ODLDID,sr.ODLDID)
left outer join Office o with(nolock) on o.OfficeID=odld.OfficeID
left outer join Location L with(nolock) on L.LocationID=odld.LocationID
left outer join Allowances a with(nolock) on a.AllowanceID=sra.AllowanceID
WHERE sr.OLID!=0
group by sra.ODLDID,sra.ScaleRegisterID,sr.ContactID,odld.OfficeID,odld.LocationID,OfficeName,LocationName,sr.StartingDate,sr.EndingDate,a.AllowanceID,a.Description ,ReportLabel,SequenceNo,Payment,StartingFyYear,EndingFyYear,BillRegisterDate1,sr.OLID,sr.BillRegisterNo,month(BillRegisterDate1) ,year(BillRegisterDate1)
having  round(round(abs(sum(isnull(Amount,0))),2),0)<>0
order by  ScaleRegisterID,AllowanceID,OfficeID,LocationID
GO
