USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EmployeeDetails]

AS 
SET NOCOUNT ON




Declare @MasterDetails table (ODID Int,ODDID Int,OLDID Int,ODLDID Int,OLID Int,OfficeLocation Varchar(200),ContactID Int,EmployeeName Varchar(100),Designation Varchar(100),Grades varchar(10),Caste Varchar(20),SubCaste varchar(50),Gender Varchar(20),BankName Varchar(100),BranchName Varchar(100),BankAcNo Varchar(50),IFSCCode Varchar(50),PANNo Varchar(Max),PPANNo Varchar(50),PINNo Varchar(50),DateOfBirth Varchar(20),DateOfJoin Varchar(20),DateOfRetired Varchar(50),OrderNo Int,LienOrDeputePost Varchar(200),FABalance Varchar(200) ,SpouseOrNomineeDetails Varchar(200),QuarterDetails Varchar(200),TimeScale Varchar(200),DNID Int,OfficeID Int,DepartmentID Int,LocationID Int,DesignationID Int)
insert into @MasterDetails 
select distinct od.OfficeDepartmentAllocationID as ODID,odd.OfficeDepartmentDesignationAllocationID as ODDID,old.OfficeLocationDepartmentAllocationID as OLDID,odld.ODLDID,ola.OfficeLocationAllocationID as OLID
,(o.OfficeName COLLATE DATABASE_DEFAULT+'  '+L.LocationName COLLATE DATABASE_DEFAULT) as OfficeLocation,ct.ContactID,ct.FileAs as EmployeeName,(dn.DesignationName COLLATE DATABASE_DEFAULT+' ( '+dp.DepartmentCode COLLATE DATABASE_DEFAULT+' )') as Designation,isnull(eg.Description,'') as Grades,isnull(Religion,'') as Caste,isnull(c.Description,'') as SubCaste,e.Sex as Gender
,isnull(eo.Name,'') as BankName,isnull(eob.Name,'') as BranchName,e.BankAcNo,isnull(eob.IFSCCode,'') as IFSCCode,(case when isnull(PanCardNo,'')='' then isnull(pan.PANNo,'') else isnull(PanCardNo,'') end ) as PANNo,isnull(PPANNo,'') as PPANNo,isnull(PINNo,'') as PINNo
,convert(varchar,e.DateOfBirth,105) as DateOfBirth,convert(varchar,isnull(ead.ReportedDate,ead1.ReportedDate),105) as DateOfJoin
,convert(varchar,(DATEADD(mm, DATEDIFF(m,0,dateadd(Year,MaxAgeForRetirement,(case when day(e.DateOfBirth)=1 then e.DateOfBirth-1 else e.DateOfBirth end)))+1,0)-1),105) as DateOfRetired,OrderNo
,isnull((isnull(rtrim(lien.Types),dep.types)+' '+(o1.OfficeName COLLATE DATABASE_DEFAULT+' - '+L1.LocationName COLLATE DATABASE_DEFAULT)+' , '+(dn1.DesignationName COLLATE DATABASE_DEFAULT+' ( '+dp1.DepartmentCode COLLATE DATABASE_DEFAULT+' )')+' on '+convert(varchar,isnull(lien.RelievedDate,dep.RelievedDate),105)+' '+right(isnull(lien.RelievedDate,dep.RelievedDate),7)),'') as OfficeLocation
,isnull((cast(cast(fa.Amount as Int) as varchar(10))+'  from '+right(convert(varchar,fa.StartDate,106),8)+' to '+right(convert(varchar,fa.EndDate,106),8)),'') as FABalance
,isnull(isnull(isnull(s.RelationShip,m.RelationShip),f.RelationShip)+' Name - '+isnull(isnull(s.PersonName,m.PersonName),f.PersonName)+' ( '+isnull(isnull(s.Gender,m.Gender),f.Gender)+' ) '+' , DateOfBirth '+convert(varchar,isnull(isnull(s.DateOfBirth,m.DateOfBirth),f.DateOfBirth),105),'') as SpouseOrNomineeDetails
,isnull((case when eq.Vaccated='Vaccated' then eq.Vaccated+' on '+isnull(convert(varchar,eq.ToDate,105),'') else case when eq.Vaccated='Occupy' then eq.Vaccated+' on '+isnull(convert(varchar,eq.FromDate,105),'') else '' end end)+(case when b.BuildingID is not NULL and isnull(b.ExternalOrganisation,0)=0 then ' , MESCOM' else case when isnull(b.ExternalOrganisation,0)=1 then ' , '+(isnull(eo1.Name,'')+' - '+eob1.Name) else '' end end)+' , Qtrs No '+b.Description+' , BuildingID '+cast(b.BuildingID as varchar(6)),'') as QuarterDetails
,isnull(ts.TimeScale,'') as TimeScale,isnull(odld2.DesignationID,dn.DesignationID) as DNID,odld.OfficeID,odld.DepartmentID,odld.LocationID,odld.DesignationID
from ODLDAllocation odld cross join GeneralSetting
left outer join Employee e on e.ODLDID=odld.ODLDID
left outer join Contacts ct on ct.ContactID=e.ContactID
left outer join ExternalOrganisations eo on eo.ExternalORganisationID=e.BankID
left outer join ExternalOrganisationBranches eob on eob.ExternalORganisationBranchID=e.BankBranchID
left outer join CastTypes c on c.CasteTypeID=e.CasteTypeID
left outer join EmployeeGradeDesignationAllocation egd on egd.DesignationID=odld.DesignationID
left outer join EmployeeGrades eg on eg.EmployeeGradeID=egd.EmployeeGradeID
left outer join OfficeLocationAllocation ola on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LOcationID
left outer join (select distinct ContactID,PANNo from COntactDetails where isnull(PANNo,'') <> '') as PAN on pan.COntactID=ct.COntactID
left outer join (select distinct ContactID,PPANNo from COntactDetails where isnull(PPANNo,'') <> '') as PPAN on ppan.COntactID=ct.COntactID
left outer join (select distinct ContactID,PINNo from COntactDetails where isnull(PINNo,'') <> '') as PIN on pin.COntactID=ct.COntactID
left outer join EmployeeAppointmentDetails ead on ead.ContactID=ct.ContactID and ead.AppointmentTypeID=1 and isnull(ead.EmployeeCategoryID,1)=1
left outer join EmployeeAppointmentDetails ead1 on ead1.ContactID=ct.ContactID and ead1.AppointmentTypeID=1 and isnull(ead1.EmployeeCategoryID,1)<>1
left outer join Office o on o.OfficeID=odld.OfficeID
left outer join Location l on l.LocationID=odld.LocationID
left outer join Department dp on dp.DepartmentID=odld.DepartmentID
left outer join Designation dn on dn.DesignationID=odld.DesignationID
left outer join OfficeDepartmentAllocation od on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
left outer join OfficeDepartmentDesignationAllocation odd on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
left outer join OfficeLocationDepartmentAllocation old on old.OfficeLocationAllocationID=ola.OfficeLocationAllocationID and old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID
left outer join DesignationHierarchyOrder_Config dho on dho.DesignationID=dn.DesignationID

left outer join ( select distinct 'Lien From   ' as Types,e2.ContactID,e2.FromODLDID,e2.ToODLDID,e2.RelievedDate from (select ContactID,Max(isnull(RelievedDate,0)) as RelievedDate from EmployeeAppointmentDetails where AppointmentTypeID=23 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 group by ContactID) as E
left outer join (select ContactID,RelievedDate,Max(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=23 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 group by ContactID,RelievedDate) as E1 on e1.ContactID=e.COntactID and e1.RelievedDate=e.RelievedDate
inner join EmployeeAppointmentDetails e2 on e2.EmployeeAppointmentDetailsID=e1.EmployeeAppointmentDetailsID ) as Lien on lien.ContactID=ct.ContactID

left outer join ( select distinct 'Deputed From' as Types,e2.ContactID,e2.FromODLDID,e2.ToODLDID,e2.RelievedDate from (select ead.ContactID,Max(isnull(RelievedDate,0)) as RelievedDate from EmployeeAppointmentDetails ead inner join Employee e on e.ContactID=ead.ContactID where AppointmentTypeID=8 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 and e.EmployeeStatusID<>19 and ToODLDID is not NULL group by ead.ContactID) as E
left outer join (select ead.ContactID,RelievedDate,Max(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails ead inner join Employee e on e.ContactID=ead.ContactID where AppointmentTypeID=8 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 and e.EmployeeStatusID<>19 and ToODLDID is not NULL group by ead.ContactID,RelievedDate) as E1 on e1.ContactID=e.COntactID and e1.RelievedDate=e.RelievedDate
inner join EmployeeAppointmentDetails e2 on e2.EmployeeAppointmentDetailsID=e1.EmployeeAppointmentDetailsID ) as Dep on dep.ContactID=ct.ContactID
left outer join ODLDAllocation odld1 on odld1.ODLDID=isnull(lien.FromODLDID,dep.FromODLDID)
left outer join Office o1 on o1.OfficeID=odld1.OfficeID
left outer join Location l1 on l1.LocationID=odld1.LocationID
left outer join Department dp1 on dp1.DepartmentID=odld1.DepartmentID
left outer join Designation dn1 on dn1.DesignationID=odld1.DesignationID

left outer join ODLDAllocation odld2 on odld2.ODLDID=lien.FromODLDID
left outer join ( select ContactID,Sum(isnull(eld.Balance,0)) as Amount,Min(InstallmentPaidDate) as StartDate,Max(InstallmentPaidDate) as EndDate
from EmployeeLoanandAdvance el inner join EmployeeLoanandAdvanceDetails eld on eld.EmployeeLoanandAdvanceID=el.EmployeeLoanandAdvanceID
where Expired=0 and LoanandAdvanceID=9 and isnull(eld.Balance,0)<>0 group by ContactID ) as FA on fa.ContactID=ct.ContactID

left outer join ( select ContactID,PersonName,Gender,DateOfBirth,'Father' as RelationShip from ContactRelationshipDetails crs where RelationShipTypeID=1
and crs.ContactRelationshipDetailsID in (select Max(crs1.ContactRelationshipDetailsID) from ContactRelationshipDetails crs1 where crs1.ContactID=crs.ContactID and crs.RelationShipTypeID=1)) as F on f.ContactID=ct.ContactID
left outer join ( select ContactID,PersonName,Gender,DateOfBirth,'Mother' as RelationShip from ContactRelationshipDetails crs where RelationShipTypeID=2
and crs.ContactRelationshipDetailsID in (select Max(crs1.ContactRelationshipDetailsID) from ContactRelationshipDetails crs1 where crs1.ContactID=crs.ContactID and crs.RelationShipTypeID=2)) as M on m.ContactID=ct.ContactID
left outer join ( select ContactID,PersonName,Gender,DateOfBirth,'Spouse' as RelationShip from ContactRelationshipDetails crs where RelationShipTypeID=3
and crs.ContactRelationshipDetailsID in (select Max(crs1.ContactRelationshipDetailsID) from ContactRelationshipDetails crs1 where crs1.ContactID=crs.ContactID and crs.RelationShipTypeID=3)) as S on s.ContactID=ct.ContactID

left outer join ( select e2.ContactID,EmployeeQuartersID as BuildingID,FromDate,e2.ToDate,(case when isnull(Vaccated,0)=1 then 'Vaccated' else case when isnull(Vaccated,0)=0 then 'Occupy' else '' end end)  as Vaccated 
from (select ContactID,Max( isnull(ToDate,ToDay)) as ToDate from EmployeeQuarterDetails e cross join Today_HRMS group by ContactID) as E
left outer join (select ContactID, isnull(ToDate,ToDay) as ToDate,Max(EmployeeQuarterDetailsID) as EmployeeQuarterDetailsID from EmployeeQuarterDetails e cross join Today_HRMS group by ContactID,ToDate,ToDay) as E1 on e1.ContactID=e.ContactID and e1.Todate=e.ToDate
left outer join EmployeeQuarterDetails E2 on e2.EmployeeQuarterDetailsID=e1.EmployeeQuarterDetailsID ) as EQ on eq.ContactID=ct.ContactID
left outer join Buildings b on b.BuildingID=eq.BuildingID
left outer join ExternalOrganisations eo1 on eo1.ExternalORganisationID=b.ExternalORganisationID
left outer join ExternalOrganisationBranches eob1 on eob1.ExternalORganisationBranchID=b.ExternalORganisationBranchID

left outer join ( select ca2.ContactID,ca2.EffectiveDate,ToDesignationID from (select ContactID,Max(EffectiveDate) as EffectiveDate from EmployeePayDetails where EmployeePayTypeID in (14,15) and Approved=1 group by ContactID) as CA
left outer join (select ContactID,EffectiveDate,Max(EmployeePayDetailsID) as EmployeePayDetailsID from EmployeePayDetails where EmployeePayTypeID in (14,15) and Approved=1 group by ContactID,EffectiveDate) as CA1 on ca1.ContactID=ca.ContactID and ca1.EffectiveDate=ca.EffectiveDate
left outer join EmployeePayDetails CA2 on ca2.EmployeePayDetailsID=ca1.EmployeePayDetailsID ) as CA on ca.ContactID=ct.ContactID

left outer join ( select DesignationID,left(TimeScale,len(TimeScale)-1) as TimeScale from  EmployeeCadreTypeDesignationAllocation ect
cross apply (select (cast(cast(MinimumAmount as Int) as varchar(10))+'-'+cast(cast(IncrementAmount as Int) as varchar(10))+'-'+cast(cast(MaximumAmount as Int) as varchar(10)))+' , '
from EmployeeTimeScalePeriods ets left outer join EmployeeTimeScales et on et.EmployeeTimeScalePeriodID=ets.EmployeeTimeScalePeriodID
where ets.EmployeeCadreTypeID=ect.EmployeeCadreTypeID order by EmployeeTimeScaleSeries FOR XML PATH ('') ) as TS (TimeScale) ) as TS on ts.DesignationID=isnull(ca.ToDesignationID,dn.DesignationID)

where isnull(Retired,0)=0 and isnull(e.EmployeeStatusID,0) not in (14,16) and isnull(e.EmployeeCategoryID,1)=1 
--and ct.ContactID<>4805

Declare @AcOLID Table  (AcOLID Int,AcOfficeLocation Varchar(200),OLID Int,OfficeLocation Varchar(200)) 
insert into @AcOLID 
select (case when ola1.OfficeID is NULL then ola.UnderOfficeLocationAllocationID else ola.OfficeLocationAllocationID end) as AcOLID,ola2.Fileas as AcOfficeLocation,ola1.OfficeLocationAllocationID as OLID,OfficeLocation  
from OfficeLocationAllocation ola
inner join ( select (case when ola.OfficeID in (80,58,85,89) then OfficeLocationAllocationID else case when o.OfficeID is NULL then UnderOfficeLocationAllocationID else OfficeLocationAllocationID end end) as OLID,o.OfficeID
,OfficeLocationAllocationID ,FileAs as OfficeLocation from OfficeLocationAllocation ola
left outer join ( select OfficeTypeProjectAllocationID as OfficeID from OfficeTypes ot inner join OfficeTypeProjectAllocation otp on 
otp.OfficeTypeID=ot.OfficeTypeID where Accounts = 1 ) as O on o.OfficeID=ola.OfficeID
where OfficeLocationAllocationID in (select distinct OLID from @MasterDetails) ) as OLA1 on ola1.OLID=ola.OfficeLocationAllocationID 
left outer join OfficeLocationAllocation ola2 on ola2.OfficeLocationAllocationID=(case when ola1.OfficeID is NULL then ola.UnderOfficeLocationAllocationID else ola.OfficeLocationAllocationID end) 

Declare @LSalary Table (ContactID Int,LastSalary Varchar(200)) 
insert into @LSalary 
select sr2.ContactID,(right(convert(varchar,sr2.StartingDate,106),8)+' - '+Description+' , Payment '+cast(cast((sum(isnull(sr3.NetPayments,0))-sum(isnull(srw.NetPayments,0))) as Int) as Varchar(10))+' and BRNo & Date '+isnull(sr2.BillRegisterNo,'')+' - '+isnull(convert(varchar,sr2.BillRegisterDate,105),'')) as LastSalary
from (select ContactID,Max(StartingDate) as StartingDate from ScaleRegister sr where Generated=1 and Suppliment in (0,1,6,9) and BillRegisterDate is not NULL and isnull(TotalBasicPay,0)<>0 group by ContactID) as SR
left outer join (select ContactID,StartingDate,Min(ScaleRegisterID) as ScaleRegisterID from ScaleRegister sr where Generated=1 and Suppliment in (0,1,6,9) and BillRegisterDate is not NULL and isnull(TotalBasicPay,0)<>0 group by ContactID,StartingDate) as SR1 on sr1.ContactID=sr.ContactID and sr1.StartingDate=sr.StartingDate
inner join ScaleRegister SR2 on sr2.ScaleRegisterID=sr1.ScaleRegisterID left outer join SalarySuppliments ss on ss.SalarySupplimentID=sr2.Suppliment
left outer join ScaleRegister SR3 on sr3.BillRegisterNo=sr2.BillRegisterNo and sr3.ContactID=sr2.ContactID
full join ScaleRegisterWithdrawals srw on srw.ScaleRegisterID=sr3.ScaleRegisterID 
group by sr2.ContactID,sr2.StartingDate,Description,sr2.BillRegisterNo,sr2.BillRegisterDate 

Declare @ELS  Table (ContactID Int,ELLastSurrendred Varchar(200)) 
insert into @ELS  
select epd.ContactID,'From '+convert(varchar,epd.StartingDate,105)+' to '+convert(varchar,epd.EndingDate,105)+'  '+cast(epd.Days as varchar(4))+' Days '+' , Payment '+isnull(cast(cast(sum(isnull(sr.NetPayments,0)) as Int) as varchar(10)),'')+' and BRNo & Date '+Min(isnull(sr.BillRegisterNo,''))+' - '+isnull(convert(varchar,Min(isnull(sr.BillRegisterDate,0)),105),'') as ELLastSurrendred
from ( select epd2.ContactID,Min(isnull(FromDate,0)) as StartingDate,Max(isnull(ToDate,0)) as EndingDate,cast((Max(isnull(Todate,0))-Min(isnull(FromDate,0)))+1 as Int) as Days
from (select ContactID,Max(isnull(EffectiveDate,0)) as EffectiveDate from EmployeePayDetails where EmployeePayTypeID=16 and Approved=1 group by ContactID) as EPD
left outer join (select ContactID,EffectiveDate,Max(EmployeePayDetailsID) as EmployeePayDetailsID from EmployeePayDetails where EmployeePayTypeID=16 and Approved=1 group by ContactID,EffectiveDate) as EPD1 on epd1.ContactID=epd.ContactID and epd1.EffectiveDate=epd.EffectiveDate
inner join EmployeePayDetails EPD2 on epd2.EmployeePayDetailsID=epd1.EmployeePayDetailsID
left outer join EmployeePayDetailsSub epds on epds.EmployeePayDetailsID=epd2.EmployeePayDetailsID group by epd2.ContactID ) as EPD
left outer join ScaleRegister sr on sr.ContactID=epd.ContactID and sr.StartingDate>=epd.StartingDate and sr.EndingDate<=epd.EndingDate and sr.Generated=1 and sr.Suppliment=2
and sr.ScaleRegisterID in (select Min(sr1.ScaleRegisterID) from ScaleRegister sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and sr1.Generated=1 and sr1.Suppliment=2 )
group by epd.ContactID,epd.StartingDate,epd.EndingDate,epd.Days 

Declare @LAD Table (ContactID Int,LastAttendanceDate Varchar(200))
insert into @LAD 
select ContactID,isnull((convert(varchar,Max(LastAttendanceDate),105)+' , ScaleRegisterID '+cast(Max(sr.ScaleRegisterID) as varchar(10))),'') as LastAttendanceDate 
from (select ScaleRegisterID,Max(LastAttendanceDate) as LastAttendanceDate from ScaleRegisterAttendences group by ScaleRegisterID) as SRA
inner join ScaleRegister SR on sr.ScaleRegisterID=sra.ScaleRegisterID 
where LastAttendanceDate>='2013-04-01' group by ContactID

Declare @CBP Table (ContactID Int,CurrentBasic Varchar(200)) 
insert into @CBP 
select epd2.ContactID,(cast(isnull(cast(epd2.ModifiedValue as Int),0) as varchar(10))+' from '+convert(varchar,epd2.EffectiveDate,105)+' and Increment Types '+ept.Description) as CurrentBasic
from (select ContactID,Max(isnull(EffectiveDate,0)) as EffectiveDate from EmployeePayDetails where EmployeePayTypeID in (select EmployeePayTypeID from EmployeePayTypes where EmployeePayMainTypeID in (1,2) and EmployeePayTypeID not in (6,13)) and Approved=1 group by ContactID) as EPD
left outer join (select ContactID,EffectiveDate,Max(EmployeePayDetailsID) as EmployeePayDetailsID from EmployeePayDetails where EmployeePayTypeID in (select EmployeePayTypeID from EmployeePayTypes where EmployeePayMainTypeID in (1,2) and EmployeePayTypeID not in (6,13)) and Approved=1 group by ContactID,EffectiveDate) as EPD1 on epd1.ContactID=epd.ContactID and epd1.EffectiveDate=epd.EffectiveDate
inner join EmployeePayDetails EPD2 on epd2.EmployeePayDetailsID=epd1.EmployeePayDetailsID
left outer join EmployeePayTypes ept on ept.EmployeePayTypeID=epd2.EmployeePayTypeID

Declare @NHS Table (ContactID Int,EffectiveDate Datetime,NHSDetails Varchar(Max)) 
insert into @NHS 
select ContactID,EffectiveDate,(cast(slNo as varchar(6))+') '+NHSDetails+ '  ') as NHSDetails
from ( select ContactID,EffectiveDate,(Row_Number() over (Partition by ContactID order by ContactID,EffectiveDate)) as SlNo,CONCAT(ISNULL(Description COLLATE DATABASE_DEFAULT,''),' from ',ISNULL(CONVERT(varchar(10),EffectiveDate,105),''),' for Designation ',ISNULL(DesignationName COLLATE DATABASE_DEFAULT,''),' , CurrentPay ',ISNULL(CAST(CAST(CurrentPay AS INT) AS varchar(10)),''),' and ModifiedPay ',ISNULL(CAST(CAST(ModifiedValue AS INT) AS varchar(10)),''))  as NHSDetails
--(isnull(Description,'')+' from '+isnull(convert(varchar,EffectiveDate,105),'')+' for Designation '+isnull(DesignationName,'')+' , CurrentPay '+isnull(cast(cast(CurrentPay as Int) as varchar(10)),'')+' and ModifiedPay '+isnull(cast(cast(ModifiedValue as Int) as varchar(10)),'')) as NHSDetails
from EmployeePayDetails e left outer join Designation dn on dn.DesignationID=e.ToDesignationID
left outer join EmployeePayTypes ept on ept.EmployeePayTypeID=e.EmployeePayTypeID
where e.EmployeePayTypeID in (14,15) and Approved=1) as A 

Declare @LC Table (ContactID Int,LeaveCount Varchar(100)) 
insert into @LC 
select ContactID,((case when Sum(EL)=0 then '' else 'EL- '+cast(cast(Sum(EL) as Int) as varChar(10)) end)+(case when Sum(HPL)=0 then '' else ' , HPL- '+cast(cast(Sum(HPL) as Int) as varchar(10)) end)+
(case when Sum(CL)=0 then '' else ' , CL- '+cast(cast(Sum(CL) as Int) as varchar(10)) end)+(case when Sum(CCL)=0 then '' else ' , CCL- '+cast(cast(Sum(CCL) as Int) as varchar(10)) end)) as LeaveCount
from ( select ContactID,(case when ela.LeaveTypeID=1 then LeaveCount else 0 end) as EL,(case when ela.LeaveTypeID=2 then LeaveCount else 0 end) as HPL
,(case when ela.LeaveTypeID=4 then LeaveCount else 0 end) as CL,(case when ela.LeaveTypeID=22 then LeaveCount else 0 end) as CCL
from EmployeeLeaveAccount ela where ela.LeaveTypeID in (1,2,4,22) ) as ELA group by ContactID

Declare @AI Table (ContactID Int,LastAIDate Varchar(20)) 
insert into @AI 
select epd2.ContactID,convert(varchar,epd2.EffectiveDate,105) as LastAIDate
from (select ContactID,Max(isnull(EffectiveDate,0)) as EffectiveDate from EmployeePayDetails where EmployeePayTypeID=3 and Approved=1 group by ContactID) as EPD
left outer join (select ContactID,EffectiveDate,Max(EmployeePayDetailsID) as EmployeePayDetailsID from EmployeePayDetails where EmployeePayTypeID=3 and Approved=1 group by ContactID,EffectiveDate) as EPD1 on epd1.ContactID=epd.ContactID and epd1.EffectiveDate=epd.EffectiveDate
inner join EmployeePayDetails EPD2 on epd2.EmployeePayDetailsID=epd1.EmployeePayDetailsID

Declare @RC Table (ContactID Int,RecoveryBalance Varchar(200)) 
insert into @RC 
select ContactID,cast((Row_Number() over (partition by ContactID order by ContactID)) as varchar(10))+') '+
isnull('Monthly '+cast(cast(eld1.Total as Int) as varchar(10))+' , Balance '+(cast(cast(Sum(isnull(eld.Balance,0)) as Int) as varchar(10))+' from '+right(convert(varchar,Min(eld.InstallmentPaidDate),106),8)+' to '+right(convert(varchar,Max(eld.InstallmentPaidDate),106),8)+' of '+la.Description),'') as RecoveryBalance
from EmployeeLoanandAdvance el 
inner join EmployeeLoanandAdvanceDetails eld on eld.EmployeeLoanandAdvanceID=el.EmployeeLoanandAdvanceID
left outer join (select * from EmployeeLoanandAdvanceDetails eld  where EmployeeLoanandAdvanceDetailsID in (
select Min(EmployeeLoanandAdvanceDetailsID) from EmployeeLoanandAdvanceDetails eld1 where eld1.EmployeeLoanandAdvanceID=eld.EmployeeLoanandAdvanceID and isnull(eld1.Balance,0)<>0)
) as ELD1 on eld1.EmployeeLoanandAdvanceID=el.EmployeeLoanandAdvanceID
inner join LoanandAdvance la on la.LoanandAdvanceID=el.LoanandAdvanceID and la.LoanandAdvanceTypeID=5
where Expired=0 and isnull(eld.Balance,0)<>0 and isnull(el.InstallmentCount,0)>1 
group by ContactID,la.Description,eld1.Total

Declare @CD Table (ContactID Int,CurrentDeduction Varchar(200)) 
insert into @CD
select ContactID,cast((Row_Number() over (partition by ContactID order by ContactID)) as varchar(10))+') '+
(case when el.LoanandAdvanceID=1 then 'Housing Loan' else case when el.LoanandAdvanceID=15 then 'RD' else case when el.LoanandAdvanceID=16 then 'GPF' else case when el.LoanandAdvanceID=17 and (case when el.ExternalOrganisationID=86  then 86 else 0 end)=86 then 'PLI' else la.Description end end end end)+'- '+
(cast(cast(Sum(isnull(eld.Balance,0)) as Int) as varchar(10))) as CurrentDeduction
from EmployeeLoanandAdvance el 
inner join EmployeeLoanandAdvanceDetails eld on eld.EmployeeLoanandAdvanceID=el.EmployeeLoanandAdvanceID
inner join LoanandAdvance la on la.LoanandAdvanceID=el.LoanandAdvanceID 
where Expired=0 and isnull(eld.Balance,0)<>0 and isnull(el.InstallmentCount,0)<=1 
group by ContactID,la.Description,el.LoanandAdvanceID,(case when el.ExternalOrganisationID=86  then 86 else 0 end)

Declare @PPA Table (ContactID Int,PPNotDeclared Varchar(200)) 
insert into @PPA
select ead1.ContactID,('Appointments - date from '+convert(varchar,ead1.ReportedDate,105)+' '+right(ead1.ReportedTime,7)) as PPNotDeclared
from ( select ContactID,Min(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=1 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 
and isnull(EmployeeCategoryID,1)=1 group by ContactID ) as EAD
inner join EmployeeAppointmentDetails ead1 on ead1.EmployeeAppointmentDetailsID=ead.EmployeeAppointmentDetailsID

Declare @PPIA Table (ContactID Int,PPNotDeclared Varchar(200)) 
insert into @PPIA
select ead1.ContactID,('In-Service Appointments - date from '+convert(varchar,ead1.ReportedDate,105)+' '+right(ead1.ReportedTime,7)) as PPNotDecalred
from ( select ContactID,Min(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=20 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 
and isnull(EmployeeCategoryID,1)=1 group by ContactID ) as EAD
inner join EmployeeAppointmentDetails ead1 on ead1.EmployeeAppointmentDetailsID=ead.EmployeeAppointmentDetailsID

Declare @CP Table (ContactID Int,DesignationID Int,CurrentPost Varchar(200),CurrentPostDate Datetime,CurrentPaostYrMnDay varchar(100)) 
insert into @CP
select ead.ContactID,dn.DesignationID,--CONCAT(at.Description,' to ',(o.OfficeName COLLATE DATABASE_DEFAULT,'  ',L.LocationName COLLATE DATABASE_DEFAULT),' , ',(dn.DesignationName COLLATE DATABASE_DEFAULT,' ( ',dp.DepartmentCode COLLATE DATABASE_DEFAULT,' )'),' date from ',convert(varchar,ead.ReportedDate,105),' ',right(ead.ReportedTime,7)) as CurrentPost
CONCAT(at.Description COLLATE DATABASE_DEFAULT,' to ',o.OfficeName COLLATE DATABASE_DEFAULT,'  ',l.LocationName COLLATE DATABASE_DEFAULT,' , ',dn.DesignationName COLLATE DATABASE_DEFAULT,' ( ',dp.DepartmentCode COLLATE DATABASE_DEFAULT,' ) date from ',CONVERT(varchar(10),ead.ReportedDate,105),' ',RIGHT(ead.ReportedTime,7)) AS CurrentPost
,ead.ReportedDate as CurrentPostDate,dbo.udfDateDiffinYrMonDay(ead.ReportedDate,GetDate()) as CurrentPostYrMnDay
from ( select isnull(ead2.ContactID,ead3.ContactID) as ContactID,isnull(ead2.AppointmentTypeID,ead3.AppointmentTypeID) as AppointmentTypeID,isnull(ead2.ToODLDID,ead3.ToODLDID) as ODLDID,isnull(ead2.ReportedDate,ead3.ReportedDate) as ReportedDate,isnull(ead2.ReportedTime,ead3.ReportedTime) as ReportedTime 
from ( select ContactID,AppointmentTypeID,Min(ReportedDate) as ReportedDate from EmployeeAppointmentDetails where AppointmentTypeID in (20,24,2,9) and Approved=1 and Relieved=1 and Reported=1 and isnull(EmployeeCategoryID,1)=1 and ReportedDate is not NULL group by ContactID,AppointmentTypeID ) as EAD
left outer join ( select ContactID,AppointmentTypeID,ReportedDate,Min(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID in (20,24,2,9) and Approved=1 and Relieved=1 and Reported=1 and isnull(EmployeeCategoryID,1)=1 and ReportedDate is not NULL group by ContactID,AppointmentTypeID,ReportedDate 
) as EAD1 on ead.ContactID=ead1.ContactID and ead1.ReportedDate=ead.reportedDate and ead1.AppointmentTypeID=ead.AppointmentTypeID
inner join EmployeeAppointmentDetails EAD2 on ead2.EmployeeAppointmentDetailsID=ead1.EmployeeAppointmentDetailsID
full join (select ead1.ContactID,ead1.AppointmentTypeID,ead1.ToODLDID,ead1.ReportedDate,ead1.ReportedTime
from ( select ContactID,Min(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=1 and Approved=1 and Relieved=1 and Reported=1 and isnull(EmployeeCategoryID,1)=1 group by ContactID ) as EAD
inner join EmployeeAppointmentDetails ead1 on ead1.EmployeeAppointmentDetailsID=ead.EmployeeAppointmentDetailsID ) as EAD3 on ead3.ContactID=ead2.ContactID ) as EAD
left outer join AppointmentTypes_Config at on at.AppointmentTypeID=ead.AppointmentTypeID
left outer join ODLDAllocation odld on odld.ODLDID=ead.ODLDID
left outer join Office o on o.OfficeID=odld.OfficeID
left outer join Location l on l.LocationID=odld.LocationID
left outer join Department dp on dp.DepartmentID=odld.DepartmentID
left outer join Designation dn on dn.DesignationID=odld.DesignationID
where dn.DesignationID is not NULL 


Declare @Charge Table (SlNo Int,ContactID Int,ToODLDID Int,ChargingPost Varchar(200)) 
insert into @Charge
select distinct (Row_Number() over (partition by e2.ContactID order by e2.ContactID,e2.RelievedDate)) as SlNo,e2.ContactID,e2.ToODLDID
,CONCAT(at.Description COLLATE DATABASE_DEFAULT,' to ',o.OfficeName COLLATE DATABASE_DEFAULT,'  ',L.LocationName COLLATE DATABASE_DEFAULT,' , ',dn.DesignationName COLLATE DATABASE_DEFAULT,' ( ',dp.DepartmentCode COLLATE DATABASE_DEFAULT,' ) date from ',convert(varchar(10),isnull(e2.RelievedDate,0),105),' ',right(isnull(e2.RelievedTime,0),7)) as ChargingPost
--,CONCAT(at.Description,' to ',(o.OfficeName COLLATE DATABASE_DEFAULT,'  ',L.LocationName COLLATE DATABASE_DEFAULT),' , ',(dn.DesignationName COLLATE DATABASE_DEFAULT,' ( ',dp.DepartmentCode COLLATE DATABASE_DEFAULT,' )'),' date from ',convert(varchar,isnull(e2.RelievedDate,0),105),' ',right(isnull(e2.RelievedTime,0),7)) as ChargingPost
from (select ContactID,AppointmentTypeID,Max(isnull(RelievedDate,0)) as RelievedDate from EmployeeAppointmentDetails where AppointmentTypeID in (6,7,43) and Approved=1 and Relieved=1 and Reported=1 and regularised=0 group by ContactID,AppointmentTypeID) as E
left outer join (select ContactID,RelievedDate,AppointmentTypeID,Max(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID in (6,7,43) and Approved=1 and Relieved=1 and Reported=1 and regularised=0 group by ContactID,AppointmentTypeID,RelievedDate) as E1 on e1.ContactID=e.COntactID and e1.AppointmentTypeID=e.AppointmentTypeID and e1.RelievedDate=e.RelievedDate
inner join EmployeeAppointmentDetails e2 on e2.EmployeeAppointmentDetailsID=e1.EmployeeAppointmentDetailsID
left outer join AppointmentTypes_Config at on at.AppointmentTypeID=e2.AppointmentTypeID
left outer join ODLDAllocation odld on odld.ODLDID=e2.ToODLDID
left outer join Office o on o.OfficeID=odld.OfficeID
left outer join Location l on l.LocationID=odld.LocationID
left outer join Department dp on dp.DepartmentID=odld.DepartmentID
left outer join Designation dn on dn.DesignationID=odld.DesignationID


select ODID,ODDID,OLDID,ODLDID,AcOLID,AcOfficeLocation,md.OLID,md.OfficeLocation,md.ContactID,EmployeeName,Designation,Grades,isnull(cbp.CurrentBasic,'') as CurrentBasic,LastAIDate,TimeScale,Caste,SubCaste,Gender,BankName,BranchName,BankAcNo,IFSCCode
,PANNo,PPANNo,PINNo,DateOfBirth,DateOfJoin,DateOfRetired,isnull(LeaveCount,'') as LeaveCount,FABalance,isnull(RecoveryBalance,'') as RecoveryBalance,isnull(CurrentDeduction,'') as CurrentDeduction,QuarterDetails,isnull(LastSalary,'') as LastSalary ,isnull(ELLastSurrendred,'') as LastELSurrendred 
,isnull(LastAttendanceDate,'') as LastAttendanceDate,isnull(NHSDetails ,'') as NHSDetails,LienOrDeputePost,isnull(CurrentPost,'') as CurrentPostDetails,isnull(replace(ChargingPost,'&amp;','&'),'') as ChargingPostDetails,isnull(CurrentPaostYrMnDay,'') as CurrentPaostYrMnDay,isnull(isnull(ppia.PPNotDeclared,ppa.PPNotDeclared),'') as PPNotDeclared,SpouseOrNomineeDetails,isnull(UserName,'') as UserName
from @MasterDetails md 
left outer join @AcOLID ol on ol.OLID=md.OLID
left outer join @CBP cbp on cbp.ContactID=md.ContactID
left outer join @AI ai on ai.ContactID=md.ContactID
left outer join @LC lc on lc.ContactID=md.ContactID
cross apply (select RecoveryBalance+'  ' from @RC rc where rc.ContactID=md.ContactID FOR XML PATH('')) RC (RecoveryBalance)
cross apply (select CurrentDeduction+'  ' from @CD cd where cd.ContactID=md.ContactID FOR XML PATH('')) CD (CurrentDeduction)
left outer join @LSalary ls on ls.ContactID=md.ContactID
left outer join @ELS  els on els.ContactID=md.ContactID
left outer join @LAD lad on lad.ContactID=md.ContactID
cross apply (select NHSDetails+'' from @NHS nhs where nhs.ContactID=md.ContactID order by ContactID,EffectiveDate FOR XML PATH('')) NHS (NHSDetails)
left outer join @CP cp on cp.ContactID=md.ContactID and cp.DesignationID=md.DNID
cross apply (select cast(SlNo as varchar(4))+') '+ChargingPost+'  ' from @Charge ch where ch.ContactID=md.ContactID FOR XML PATH('')) CH (ChargingPost)
left outer join @PPIA ppia on ppia.ContactID=md.ContactID
left outer join @PPA ppa on ppa.ContactID=md.ContactID
left outer join Users u on u.ContactID=md.ContactID

--where AcOLID = 658
--where md.OLID = 526
--where DateOfRetired like '%2014%'
--where EmployeeName like '%kamath%'
--where md.ContactID = 2226
--where isnull(ppia.PPNotDeclared,ppa.PPNotDeclared) not like '%''%'
--where Grades in ('A')
--where ChargingPost is not NULL
--and md.ContactID is not NULL	   ----- remove the -- displaying only for employees 
--where ODLDID = 918
--where ODID = 341
--where ODDID = 764
--where ODLDID = 783
--where OfficeID = 65
--where DepartmentID = 155
--where LocationID = 526
--where md.DesignationID = 234 and md.ContactID is not NULL
order by AcOLID,isnull(Grades,'Z'),OrderNo,Designation,Employeename




GO
