USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance_Delete]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Attendance_Delete]
 @Query Varchar(20),@OLID Int,@CID Int,@FromDate Varchar(10),@ToDate Varchar(10),@DeleteStart Varchar(10) 
AS SET NOCOUNT ON 

--Declare @Query Varchar(20) = 'select'
--Declare @OLID Int = 9513 
--Declare @CID Int = 690 
--Declare @FromDate Varchar(10) = '2024-09-01' 
--Declare @ToDate Varchar(10) = '2024-10-31'
--Declare @DeleteStart Varchar(10) = '2024-09-16'


IF @Query='Delete1'
--select * 
 delete 
from ScaleRegisterAttendences where ScaleRegisterID in (
select ScaleRegisterID from ScaleRegister with(nolock) where ContactID = @CID and OLID=@OLID and Suppliment in (0,9) 
and StartingDate>=@FromDate and EndingDate<=@ToDate )
and StartAttendanceDate>=@DeleteStart 
;
else IF @Query='Delete'
--select * 
 delete
from EmployeeLeaveDetails where ContactID= @CID and FromDate>= @DeleteStart
and isnull(Cancel,0)=0 and Approved=1 and LeaveTransactionTypeID=1 
and LeaveTypeID in ( select LeaveTypeID from LeaveTypes where Approvable=0 and LeaveTypeID not in (23) )


select ScaleRegisterID SRID,DaysWorked,convert(varchar,StartAttendanceDate,104) FromDate,convert(varchar,LastAttendanceDate,104) ToDate,ScaleRegisterAttendencesID SRAID,ODLDID,Approved,Processing
,convert(varchar,CreatedOn,104) CreatedOn,CreatedBy,ScaleRegisterAttendencesMainID SRMainID
from ScaleRegisterAttendences where ScaleRegisterID in (
select ScaleRegisterID from ScaleRegister with(nolock) where ContactID = @CID and OLID=@OLID and Suppliment in (0,9) 
and StartingDate>=@FromDate and EndingDate<=@ToDate )
and StartAttendanceDate>=@DeleteStart 









GO
