USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance_Users]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Attendance_Users]
 @AcOLID Int,@OLID Int,@ContactID Int 

AS SET NOCOUNT ON

--Declare @AcOLID Int = 9993 
--Declare @OLID Int = 0
--Declare @ContactID int = 0


Declare @Charge Table (ContactID Int,ODDID Int,OLID Int) 
Insert Into @Charge
select ContactID,ODDID,OLID from (
select *,(Row_Number() over (Partition By ODDID,OLID Order By ODDID,OLID,ContactID)) SlNo from (
select distinct ContactID,ODDID,OLID from (
select distinct ContactID,ToODLDID 
from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in (6,7,25,44) and Approved=1 and Reported=1 and isnull(Regularised,0)=0 and isnull(ToODLDID,0)>0 
and ContactID in (select ContactID from Users with(nolock) where isnull(Active,0)=1)
--and (case when @CID=0 then 0 else ContactID end)=@CID
--and ContactID = 2103
) A cross Apply (select distinct ODDID,OLID from AllDetails B1 with(nolock) where isnull(b1.ODLDID,0)=a.ToODLDID ) B1 
) A ) A where SlNo=1 


Declare @NotAllocated Table (ODDID Int,ContactID  Int,EmployeeName Varchar(200),OfficeLocation Varchar(500),GradeID  Int,Regularised Int) 
Insert Into @NotAllocated
select ODDID,a.ContactID,a.EmployeeName,a.OfficeLocationAllocation OfficeLocation,d.EmployeeGradeID GradeID,isnull(Regularised,0) Regularised from (
select ContactID,EmployeeName,OfficeLocationAllocation,ODDID from AllDetails with(nolock) where ISNULL(ODDID,0)>0 and AcOLID=@AcOLID and ISNULL(ContactID,0)>0) A 
left join OfficeDepartmentDesignationAllocation C with(nolock) on C.OfficeDepartmentDesignationAllocationID=A.ODDID 
left join EmployeeGradeDesignationAllocation D with(nolock) on d.DesignationID=C.DesignationID
cross apply (select top 1 Regularised from EmployeeAppointmentDetails EA with(nolock) where AppointmentTypeID in (1,26) and Approved=1 and Reported=1 and ea.ContactID=a.ContactID order by AppointmentTypeID,isnull(Regularised,0) desc,EmployeeAppointmentDetailsID desc) EA 
where (case when isnull(d.EmployeeGradeID,3) In (1,2) and isnull(Regularised,0)=1 then 0 else 1 end)=1 
and ODDID not in (select ODDID from AttendanceEntryAllocation a with(nolock))


select (ROW_NUMBER() over (Order By User_ContactID,ODDID)) SlNo,* from (
select a.*,b.ContactID,b.EmployeeName collate database_default EmployeeName,b.OfficeLocationAllocation collate database_default OfficeLocation,d.EmployeeGradeID GradeID,isnull(Regularised,0) Regularised from (

select distinct a.ODDID,LoginODDID,LoginODDID1,LoginODDID2,LoginODDID3,a.OLID
,isnull(isnull(isnull(
isnull(c.ContactID,d.ContactID),
isnull(isnull(C1.ContactID,d1.ContactID),isnull(c4.ContactID,d4.ContactID))),
isnull(isnull(isnull(C2.ContactID,d2.ContactID),isnull(c5.ContactID,d5.ContactID)),isnull(c7.ContactID,d7.ContactID))),
isnull(isnull(isnull(C3.ContactID,d3.ContactID),isnull(c6.ContactID,d6.ContactID)),isnull(c8.ContactID,d8.ContactID))
) User_ContactID 
,isnull(isnull(isnull(
isnull(c.EmployeeName,d.EmployeeName),
isnull(isnull(C1.EmployeeName,d1.EmployeeName),isnull(c4.EmployeeName,d4.EmployeeName))),
isnull(isnull(isnull(C2.EmployeeName,d2.EmployeeName),isnull(c5.EmployeeName,d5.EmployeeName)),isnull(c7.EmployeeName,d7.EmployeeName))),
isnull(isnull(isnull(C3.EmployeeName,d3.EmployeeName),isnull(c6.EmployeeName,d6.EmployeeName)),isnull(c8.EmployeeName,d8.EmployeeName))
) User_EmployeeName
,isnull(isnull(isnull(
isnull(c.UserName,d.UserName),
isnull(isnull(C1.UserName,d1.UserName),isnull(c4.UserName,d4.UserName))),
isnull(isnull(isnull(C2.UserName,d2.UserName),isnull(c5.UserName,d5.UserName)),isnull(c7.UserName,d7.UserName))),
isnull(isnull(isnull(C3.UserName,d3.UserName),isnull(c6.UserName,d6.UserName)),isnull(c8.UserName,d8.UserName))
) User_UserName
from (
select distinct a.ODDID,LoginODDID,LoginODDID1,LoginODDID2,LoginODDID3,b.OLID,b.SubDivisionOLID SubOLID,b.DivisionOLID DivOLID
from (select * from AttendanceEntryAllocation a with(nolock) where ODDID in (select distinct ODDID from AllDetails with(nolock) where ISNULL(ODDID,0)>0 and AcOLID=@AcOLID and ISNULL(ContactID,0)>0)) A 
inner join OfficeLocationAccountingUnitDetails b with(nolock) on b.OfficeID=a.OfficeID and (case when @OLID=0 then b.AcOLID else b.OLID end)=(case when @OLID=0 then @AcOLID else @OLID end)
--where ODDID=770 and OLID = 10080
) A 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C with(nolock) where isnull(c.ODDID,0)=isnull(a.LoginODDID,0) and isnull(c.ODDID,0)>0 and ISNULL(c.OLID,0)=a.OLID) C 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C1 with(nolock) where isnull(c1.ODDID,0)=isnull(a.LoginODDID1,0) and isnull(c1.ODDID,0)>0 and ISNULL(c1.OLID,0)=a.OLID) C1 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C2 with(nolock) where isnull(c2.ODDID,0)=isnull(a.LoginODDID2,0) and isnull(c2.ODDID,0)>0 and ISNULL(c2.OLID,0)=a.OLID) C2 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C3 with(nolock) where isnull(c3.ODDID,0)=isnull(a.LoginODDID3,0) and isnull(c3.ODDID,0)>0 and ISNULL(c3.OLID,0)=a.OLID) C3 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C4 with(nolock) where isnull(c4.ODDID,0)=isnull(a.LoginODDID1,0) and isnull(c4.ODDID,0)>0 and ISNULL(c4.OLID,0)=a.SubOLID) C4 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C5 with(nolock) where isnull(c5.ODDID,0)=isnull(a.LoginODDID2,0) and isnull(c5.ODDID,0)>0 and ISNULL(c5.OLID,0)=a.SubOLID) C5 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C6 with(nolock) where isnull(c6.ODDID,0)=isnull(a.LoginODDID3,0) and isnull(c6.ODDID,0)>0 and ISNULL(c6.OLID,0)=a.SubOLID) C6 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C7 with(nolock) where isnull(c7.ODDID,0)=isnull(a.LoginODDID2,0) and isnull(c7.ODDID,0)>0 and ISNULL(c7.OLID,0)=a.DivOLID) C7 
Outer Apply (select top 1 ContactID,EmployeeName,UserName from AllDetails C8 with(nolock) where isnull(c8.ODDID,0)=isnull(a.LoginODDID3,0) and isnull(c8.ODDID,0)>0 and ISNULL(c8.OLID,0)=a.DivOLID) C8 

Outer Apply (select top 1 d.ContactID,EmployeeName,UserName from @Charge E inner join AllDetails D with(nolock) on E.ContactID=isnull(d.ContactID,0) and isnull(e.ODDID,0)=isnull(a.LoginODDID,0) and isnull(e.OLID,0)=isnull(a.OLID,0) where isnull(d.ODDID,0)>0 ) D
Outer Apply (select top 1 d1.ContactID,EmployeeName,UserName from @Charge E1 inner join AllDetails D1 with(nolock) on E1.ContactID=isnull(d1.ContactID,0) and isnull(e1.ODDID,0)=isnull(a.LoginODDID1,0) and isnull(e1.OLID,0)=isnull(a.OLID,0) where isnull(d1.ODDID,0)>0 ) D1
Outer Apply (select top 1 d2.ContactID,EmployeeName,UserName from @Charge E2 inner join AllDetails D2 with(nolock) on E2.ContactID=isnull(d2.ContactID,0) and isnull(e2.ODDID,0)=isnull(a.LoginODDID2,0) and isnull(e2.OLID,0)=isnull(a.OLID,0) where isnull(d2.ODDID,0)>0 ) D2
Outer Apply (select top 1 d3.ContactID,EmployeeName,UserName from @Charge E3 inner join AllDetails D3 with(nolock) on E3.ContactID=isnull(d3.ContactID,0) and isnull(e3.ODDID,0)=isnull(a.LoginODDID3,0) and isnull(e3.OLID,0)=isnull(a.OLID,0) where isnull(d3.ODDID,0)>0 ) D3
Outer Apply (select top 1 d4.ContactID,EmployeeName,UserName from @Charge E4 inner join AllDetails D4 with(nolock) on E4.ContactID=isnull(d4.ContactID,0) and isnull(e4.ODDID,0)=isnull(a.LoginODDID1,0) and isnull(e4.OLID,0)=isnull(a.SubOLID,0) where isnull(d4.ODDID,0)>0 ) D4
Outer Apply (select top 1 d5.ContactID,EmployeeName,UserName from @Charge E5 inner join AllDetails D5 with(nolock) on E5.ContactID=isnull(d5.ContactID,0) and isnull(e5.ODDID,0)=isnull(a.LoginODDID2,0) and isnull(e5.OLID,0)=isnull(a.SubOLID,0) where isnull(d5.ODDID,0)>0 ) D5
Outer Apply (select top 1 d6.ContactID,EmployeeName,UserName from @Charge E6 inner join AllDetails D6 with(nolock) on E6.ContactID=isnull(d6.ContactID,0) and isnull(e6.ODDID,0)=isnull(a.LoginODDID3,0) and isnull(e6.OLID,0)=isnull(a.SubOLID,0) where isnull(d6.ODDID,0)>0 ) D6
Outer Apply (select top 1 d7.ContactID,EmployeeName,UserName from @Charge E7 inner join AllDetails D7 with(nolock) on E7.ContactID=isnull(d7.ContactID,0) and isnull(e7.ODDID,0)=isnull(a.LoginODDID2,0) and isnull(e7.OLID,0)=isnull(a.DivOLID,0) where isnull(d7.ODDID,0)>0 ) D7
Outer Apply (select top 1 d8.ContactID,EmployeeName,UserName from @Charge E8 inner join AllDetails D8 with(nolock) on E8.ContactID=isnull(d8.ContactID,0) and isnull(e8.ODDID,0)=isnull(a.LoginODDID3,0) and isnull(e8.OLID,0)=isnull(a.DivOLID,0) where isnull(d8.ODDID,0)>0 ) D8

) A inner join AllDetails B with(nolock) on ISNULL(b.ODDID,0)=A.ODDID and b.OLID=a.OLID and ISNULL(b.ContactID,0)>0  
left join OfficeDepartmentDesignationAllocation C with(nolock) on C.OfficeDepartmentDesignationAllocationID=A.ODDID 
left join EmployeeGradeDesignationAllocation D with(nolock) on d.DesignationID=C.DesignationID
outer apply (select top 1 Regularised from EmployeeAppointmentDetails EA with(nolock) where AppointmentTypeID in (1,26) and Approved=1 and Reported=1 and ea.ContactID=b.ContactID order by AppointmentTypeID,isnull(Regularised,0) desc,EmployeeAppointmentDetailsID desc) EA 
where (case when isnull(d.EmployeeGradeID,3) In (1,2) and isnull(Regularised,0)=1 then 0 else 1 end)=1 
union 
select ODDID,NULL LoginODDID,NULL LoginODDID1,NULL LoginODDID2,NULL LoginODDID3,NULL OLID,NULL User_ContactID,NULL User_EmployeeName,NULL User_UserName,ContactID,EmployeeName,OfficeLocation,GradeID,Regularised  from @NotAllocated
) A where (case when @ContactID=0 then 0 else ContactID end)=@ContactID
--where User_ContactID is NULL 
Order By User_ContactID,ODDID









GO
