USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[SP_ListOfRVReport]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListOfRVReport]
(
    @OLID INT,
    @FromD DATE,
    @ToD DATE,
    @approved INT,     
    @Canceled INT,     
    @DocumentTypeid INT,
    @WorkAllocationID INT
)
as
BEGIN SET NOCOUNT on
select  a.ReceiptVoucherDate,   
        case 
            when ISNULL(a.OfficialReferenceNo,'') = '' 
                then CAST(a.ReceiptVoucherNo as VARCHAR(500)) 
            ELSE a.OfficialReferenceNo 
end as RVNo, b.Description as DocType,Doc.DocNoDate,a.ReceiptVoucherNo,   
        case 
            when a.Canceled = 1 then 'Canceled'
            when a.Approved = 1 then 'Approved'
            ELSE 'Not Approved'
end as Status,ISNULL(ISNULL(d.FileAs, g.FileAs),'') as ApprovedBy,
        case
            when @WorkAllocationID = 0 then 'All'
            ELSE CONCAT(
                ISNULL(wa.MainAccountCode,''),
                ' - ',
                ISNULL(wa.SubAccountCode,''),
                ' - ',
                ISNULL(wa.Description,''),
                ' - ',
                CAST(a.DocumentNo as VARCHAR(100))
            )
end as AccountHead,wa.WorkAllocationID  FROM ReceiptVoucherAbstract_pni a WITH (NOLOCK)
inner join OfficeLocationHeirarchy h  on h.HeirarchyOfficeLocationAllocationID = a.OLID  and h.OfficeLocationAllocationID = @OLID
left join WorkOrder wo  on a.DocumentTypeID IN (2,22)  and wo.WorkOrderNo = a.DocumentNo
left join WorkAllocation wa  on wa.WorkAllocationID = wo.WorkAllocationID
left join DocumentTypes b on b.DocumentTypeID = a.DocumentTypeID
left join ActivityApprovals_pni c  on c.DocumentNo = a.ReceiptVoucherNo and c.ActivityID = 98  and c.StatusID = 1
left join Contacts d  on d.ContactID = c.ApproverContactID
left join DocumentStatusUpdate_pni e  on e.DocumentNo = a.ReceiptVoucherNo  and e.DocumentTypeID = 12
left join ActivityApprovals_pni f  on f.DocumentNo = e.DocumentStatusUpdateID  and f.ActivityID = 125  and f.StatusID = 1
left join Contacts g   on g.ContactID = f.ApproverContactID
OUTER APPLY(select TOP 1
        case 
            when a.DocumentTypeID = 1 then 
                po.OfficialReferenceNo COLLATE DATABASE_DEFAULT 
                + ' - ' + CONVERT(VARCHAR(10), po.PurchaseOrderDate, 105)

            when a.DocumentTypeID IN (2,22) then 
                wo.OfficialReferenceNo COLLATE DATABASE_DEFAULT 
                + ' - ' + CONVERT(VARCHAR(10), wo.WorkOrderDate, 105)

            when a.DocumentTypeID = 10 then 
                si.OfficialReferenceNo COLLATE DATABASE_DEFAULT 
                + ' - ' + CONVERT(VARCHAR(10), si.StoreInvoiceDate, 105)

            when a.DocumentTypeID = 61 then 
                ts.OfficialReferenceNo COLLATE DATABASE_DEFAULT 
                + ' - ' + CONVERT(VARCHAR(10), ts.TransferOfStockConditionDate, 105)

            when a.DocumentTypeID = 75 then 
                sc.OfficialReferenceNo COLLATE DATABASE_DEFAULT 
                + ' - ' + CONVERT(VARCHAR(10), sc.TransferOfScrapDate, 105)

            ELSE CAST(a.DocumentNo as VARCHAR(500)) COLLATE DATABASE_DEFAULT
end as DocNoDate FROM PurchaseOrder po
left join WorkOrder wo on wo.WorkOrderNo = a.DocumentNo
left join StoreInvoice_pni si on si.StoreInvoiceNo = a.DocumentNo
left join TransferOfStockCondition ts on ts.TransferOfStockConditionID = a.DocumentNo
left join TransferOfScrap sc on sc.TransferOfScrapID = a.DocumentNo
where po.PurchaseOrderNo = a.DocumentNo or wo.WorkOrderNo = a.DocumentNo or si.StoreInvoiceNo = a.DocumentNo
or ts.TransferOfStockConditionID = a.DocumentNo or sc.TransferOfScrapID = a.DocumentNo) Doc
where a.ReceiptVoucherDate >= @FromD and a.ReceiptVoucherDate < DATEADD(DAY,1,@ToD)
and ((@approved = 1 and @Canceled = 1)or (@approved = 0 and @Canceled = 0 and a.Approved = 0 and a.Canceled = 0)
or (@approved = 1 and @Canceled = 0 and a.Approved = 1) or (@approved = 0 and @Canceled = 1 and a.Canceled = 1))
and (@DocumentTypeid = 0 or a.DocumentTypeID = @DocumentTypeid)
and (@WorkAllocationID = 0 or wa.WorkAllocationID = @WorkAllocationID)
ORDER BY ISNULL(d.FileAs, g.FileAs)

end
GO
