USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[GetSalaryStatusRegular]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetSalaryStatusRegular] as
 
 
DECLARE @SalaryYear INT,@SalaryMonth INT,@LastDate DATE

SET @SalaryMonth=(select month( getdate()))
SET @SalaryYear=(select year( getdate()))
 
------------------------------------------------------------------------------------------------------------------------------
SET @LastDate=cast(@SalaryYear as varchar)+'-'+ cast(@SalaryMonth as varchar)+'-15'
 
IF OBJECT_ID('tempdb..#TempAttReg') IS NOT NULL     DROP TABLE #TempAttReg

select ContactID,ODLDID,0 as ATT, 0 as SAL, cast('' as varchar(500)) as  DivisionName INTO #TempAttReg from Employee 
where EmployeeCategoryID=1 and ODLDID is not null and contactid in(select ContactID from EmployeeAppointmentDetails where ContactID=Employee.ContactID)
and EmployeeStatusID not in(6,7,9,15,20,21,16,12,24,14,10,8) 

UPDATE  #TempAttReg  SET ATT=1  FROM #TempAttReg A INNER JOIN ScaleRegister B ON A.CONTACTID=B.CONTACTID
INNER JOIN Employee C ON B.CONTACTID=C.CONTACTID
WHERE SUPPLIMENT=0 AND SalaryMonth=@SalaryMonth AND SALARYYEAR=@SalaryYear   and legacy=0 and C.EmployeeCategoryID=1
 
UPDATE  #TempAttReg  SET ATT=2  FROM #TempAttReg A INNER JOIN Employee B ON A.CONTACTID=B.CONTACTID
inner join EmployeeAppointmentDetails C ON A.Contactid=C.Contactid 
WHERE B.EmployeeCategoryID=1 and AppointmentTypeID=1 AND EMPLOYEEGRADEID IN(1,2) AND REGULARISED=0
  
 UPDATE  #TempAttReg SET ATT=0   where contactid in (
SELECT A.ContactID  FROM ScaleRegister A INNER JOIN ScaleRegisterAttendences  B ON A.ScaleRegisterID=B.ScaleRegisterID
INNER JOIN Employee  C on A.ContactID=C.CONTACTID
WHERE SalaryMonth=@SalaryMonth and SalaryYear=@SalaryYear and C.EmployeeCategoryID=1 AND SUPPLIMENT=0
GROUP BY A.ContactID
HAVING MAX(LastAttendanceDate)<@LastDate)

 UPDATE #TempAttReg SET DivisionName=(SELECT FileAs FROM OfficeLocationAllocation WHERE OfficeLocationAllocationID=C.AcOLID)
FROM #TempAttReg A INNER JOIN ODLDAllocation B  ON A.ODLDID=B.ODLDID
INNER JOIN FNUNDEROL() C ON B.OfficeID=C.OfficeID AND B.LocationID=C.LocationID

 
UPDATE  #TempAttReg  SET SAL=1
from  #TempAttReg A INNER JOIN ScaleRegister B ON A.CONTACTID=B.CONTACTID
WHERE employeecategoryid in(1) AND GENERATED=1 AND HELDUP=0 AND NETPAYMENTS<>0 AND SUPPLIMENT=0 AND  SalaryMonth=@SalaryMonth and SalaryYear=@SalaryYear
   
SELECT DivisionName,  sum((CASE WHEN ATT=1 THEN 1 ELSE 0 END) )AttendanceGenerated,
sum((CASE WHEN ATT=0 THEN 1 ELSE 0 END) )AttendanceNotGenerated,
sum((CASE WHEN ATT=2 THEN 1 ELSE 0 END) ) [Officer-AttendanceNotRequired],
sum((CASE WHEN SAL=1 THEN 1 ELSE 0 END) )SalaryGenerated,
sum((CASE WHEN SAL=0 THEN 1 ELSE 0 END) )SalaryNotGenerated   
FROM #TempAttReg
group by DivisionName
GO
