USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_RecoveryReportNew]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RecoveryReportNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int,
  @Suppliment int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON


--Declare @Config varchar(200) select @Config = 'EnergySync.dbo.'
--Declare @OLID int select @OLID = 658
--Declare @Year int select @Year = 2015
--Declare @Month int select @Month = 7
--Declare @Suppliment int select @Suppliment = 0
--Declare @BRNo varchar(50) select @BRNo = '0'



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20),LATypeID int)
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead,LATypeID from FnADLR()
' insert into @Desc exec (@DescSql) 



Declare @Qtr table (ContactID Int,EmployeeQuartersID Int,FromDate DateTime,ToDate DateTime,Vaccated Int,TerritoryID Int,EmployeeQuarterGradeID Int,ExternalOrganisationID Int,ExternalOrganisationBranchID Int)
insert into @Qtr
select distinct eq.ContactID,EmployeeQuartersID,eq.FromDate,eq.ToDate,Vaccated,isnull(TerritoryID,0) as TerritoryID,isnull(EmployeeQuarterGradeID,0) as EmployeeQuarterGradeID
,ExternalOrganisationID,ExternalOrganisationBranchID

from ( select FromDate,EOMonth(FromDate) as ToDate
from ( select (case when (@Year=0 or @Month=0) then DateAdd(Month,-1,DateAdd(Day,1,EOMonth(Today))) else convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')) end) as FromDate from Today_HRMS ) as T) as T
inner join (select *,(case when isnull(Vaccated,0)=0 then NULL else ToDate end) as ToDate1 from EmployeeQuarterDetails ) eq on (t.FromDate Between eq.FromDate and isnull(eq.ToDate1,t.ToDate) or t.ToDate Between eq.FromDate and isnull(eq.ToDate1,t.ToDate) )

left outer join BuildingAddressDetails bad on bad.BuildingID=EmployeeQuartersID
left outer join Buildings b on b.BuildingID=EmployeeQuartersID
order by ContactID



Declare @SR3 table (ContactID int,Generated int,BillRegisterNo varchar(50)) 
insert into @SR3
select ContactID,Generated,BillregisterNo 
from FnSRNew() sr1 where  sr1.SalaryTypeID=1 and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month and OLID=@OLID



Declare @SR1 table (SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,isnull(sr.BillRegisterNo,'0') as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr 

full join @SR3 sr1 on  sr1.ContactID= sr.ContactID 
--where sr.YearID in (@Year) and sr.MonthID in (@Month) and sr.OLID in (@OLID)
where (case when @Suppliment in (0) then sr.SalaryYear else sr.YearID end) in (@Year) 
and (case when @Suppliment in (0) then sr.SalaryMonth else sr.MonthID end) in (@Month)  and sr.OLID in (@OLID) 
and sr.BillRegisterNo in (@BRNo) and sr.Suppliment in (@Suppliment,(case when @Suppliment in (0,9) then 6 else 100 end))
and sr.ContactID in (select distinct ContactID from ScaleRegister where Generated=1 and isnull(HeldUp,0)=0 and OLID=@OLID --and YearID=@Year and MonthID=@Month
and BillRegisterNo=@BRNo and Suppliment=@Suppliment)

--and (case when isnull(sr.Suppliment,0) in (2,7) and isnull(sr.BillRegisterNo,'0')='0' then '2' else 
--case when isnull(sr.Suppliment,0)=3 and isnull(sr.BillRegisterNo,'0')='0' then '3' else 
--case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and isnull(sr.BillRegisterNo,'0')='0' then isnull(sr.BillRegisterNo,'0') else  
--case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID<>2 then '1' else 
--case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID=2 and (sr1.ContactID is NULL or sr1.generated =0 or isnull(sr1.BillRegisterNo,'0')<>'0') then '1' else isnull(sr.BillRegisterNo,'0') end end end end end ) in (case when sr.BillRegisterNo='0' and isnull(sr.Suppliment,0)=1 then '1' else @BRNo end)
--and sr.ContactID = 1703


Declare @SRID table (ScaleRegisterID Int,SRID Int,Installment Int) insert into @SRID
select distinct srd.ScaleRegisterID,ers.ScaleRegisterID as SRID,InstallmentCount
from @SR1 sr left outer join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID 
left outer join EmployeeLoanandAdvance el on el.ContactID=sr.ContactID and el.LoanandAdvanceID=srd.LAID
left outer join EmployeeLoanandAdvanceDetails eld on eld.EmployeeLoanAndAdvanceID=el.EmployeeLoanAndAdvanceID and Year(eld.InstallmentPaidDate)=@Year and Month(eld.InstallmentPaidDate)=@Month
left outer join EmployeeRecoveryScaleRegisterDetails ers on ers.EmployeeLoanAndAdvanceID=el.EmployeeLoanAndAdvanceID
where LAID=62  and isnull(DiffAmount,0)<>0


Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,BranchID int,BankTypeID int,Amount money,LAID int) 
insert into @SRD1
select srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID

,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else 
case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end end) as Amount,LAID 
from @SR1 sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63,62) then 0 else TypeID end end end)<>0

and (case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then sr.SalaryTypeID else 
case when SalaryTypeID=2 then SalaryTypeID else 0 end end)<>0 and BillRegisterDate>='2012-11-01'
and (case when TypesID in (1,2,3,4,5) then TypeID else case when TypesID = 6 and TypeID not in (59,61,63,62) then TypeID else 0 end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,LAID,BankTypeID
having sum(isnull(DiffAmount,0))<>0
union all
select srd.ScaleRegisterID
,(case when isnull(LAID,0)=0 then Types else 'LA' end) as Types
,(case when isnull(LAID,0)=0 then TypesID else 5 end) as TypesID
,(case when isnull(LAID,0)=0 then TypeID else isnull(LAID,0) end) as TypeID
,BankID,BranchID,BankTypeID,sum(isnull(DiffAmount,0)) as Amount,LAID
from @SR1 sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where TypesID=6 and isnull(LAID,0) not in (59,61,63,62) and TypeID <> 44
group by srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID,LAID
having sum(isnull(DiffAmount,0))<>0
Union all 
select srd.ScaleRegisterID,srd.Types,srd.TypesID,srd.TypeID,BankID,BranchID,BankTypeID,sum(isnull(DiffAmount,0)) as Amount,LAID
from @SR1 sr left outer join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID

where srd.TypesID=5 
and isnull(LAID,0) in (select TypeID from @Desc where LATypeID=5)
group by srd.ScaleRegisterID,srd.Types,srd.TypesID,srd.TypeID,srd.BankID,BranchID,LAID,BankTypeID
having sum(isnull(DiffAmount,0))<>0

union all

select ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID,round((case when TypesID in (1,2,3) then -Sum(Amount) else Sum(Amount) end)/Installment,0) as AMount,LAID from (
select sr.ScaleRegisterID,'BP' as Types,1 as TypesID,0 as TypeID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment 
from @SRID sr inner join ScaleRegisterBasicPayDetails sra on sra.ScaleRegisterID=sr.SRID group by sr.ScaleRegisterID,Installment
union all
select sr.ScaleRegisterID,'BP' as Types,1 as TypesID,0 as TypeID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterBasicPayWithdrawals srw on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID group by sr.ScaleRegisterID,Installment
union all
select sr.ScaleRegisterID,'AL' as Types,2 as TypesID,AllowanceID as TypeID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment 
from @SRID sr inner join ScaleRegisterAllowances sra on sra.ScaleRegisterID=sr.SRID group by sr.ScaleRegisterID,AllowanceID,Installment
union all
select sr.ScaleRegisterID,'AL' as Types,2 as TypesID,AllowanceID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterAllowanceWithdrawals srw on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID group by sr.ScaleRegisterID,AllowanceID,Installment
union all
select sr.ScaleRegisterID,'OA' as Types,3 as TypesID,SalaryOtherAdditionID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr inner join ScaleRegisterOtherAdditions sra on sra.ScaleRegisterID=sr.SRID and SalaryOtherAdditionID not in (14,15) group by sr.ScaleRegisterID,SalaryOtherAdditionID,Installment
union all
select sr.ScaleRegisterID,'OA' as Types,3 as TypesID,SalaryAdditionOthersID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterOtherAdditionWithdrawals srw on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID and SalaryAdditionOthersID not in (14,15) group by sr.ScaleRegisterID,SalaryAdditionOthersID,Installment
union all
select sr.ScaleRegisterID,'OD' as Types,4 as TypesID,SalaryOtherDeductionID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr inner join ScaleRegisterOtherDeductions sra on sra.ScaleRegisterID=sr.SRID group by sr.ScaleRegisterID,SalaryOtherDeductionID,Installment
union all
select sr.ScaleRegisterID,'OD' as Types,4 as TypesID,SalaryDeductionOthersID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterOtherDeductionWithdrawals srw on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID group by sr.ScaleRegisterID,SalaryDeductionOthersID,Installment
) as SRD group by ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID,LAID,Installment having Sum(Amount) <>0


Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)




Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)



Declare @Contact table (ContactID int,EmployeeName varchar(300),Bank varchar(200),Branch varchar(200),BankAcNo varchar(50),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int,OID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,AcLocationCode,Ordering,EmployeeGradeID,ol.OfficeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @Bnk table (BankID int,BranchID int,BankName varchar(100),BranchName varchar(100),BranchAddress varchar(500)) 
Declare @BnkSql varchar(Max) Set @BnkSql='
	select eo.ExternalOrganisationID as BankID,eob.ExternalOrganisationBranchID as BranchID,eo.Name as BankName,eob.Name BranchName,eob.StreetName
	from  ExternalOrganisations eo 
	left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationID=eo.ExternalOrganisationID 
' insert into @Bnk exec (@BnkSql)

Declare @OLA table (OLID int,OfficeID int,LocationID int,Fileas varchar(100)) 
Declare @OLASql varchar(Max) Set @OLASql='
	select OfficeLocationAllocationID,OfficeID,LocationID,Fileas
	from  OfficeLocationAllocation ola
' insert into @OLA exec (@OLASql)

Declare @LA table (LoanandAdvanceID int,MainAccountCode varchar(10),SubAccountCode varchar(10)) 
Declare @LASql varchar(Max) Set @LASql='
	select LoanandAdvanceID,MainAccountCode,SubAccountCode from  LoanandAdvance where LoanandAdvanceTypeID=5 
' insert into @LA exec (@LASql)


Declare @RC table (ContactID int,YearID int,MonthDesc varchar(12),OfficeName varchar(50),LocationName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),TypesDesc varchar(200),Debit money,Credit money,Total money,Office varchar(100),MnYr  varchar(20),BRNo varchar(50),Ordering varchar(10),Ordered varchar(10),BRDate varchar(12),Organisation  varchar(200),Ward int,RecoveryTypes  varchar(50),OID int,ScaleRegisterID int)
insert into @RC

select distinct sr.ContactID,Year(sr.BillRegisterDate) as YearID, datename(month,sr.BillRegisterDate) as MonthDesc,ol1.OfficeName,ol1.LocationName,ct.EmployeeName,DesignationName,TypesDesc
,(case when srd.TypesID in (1,2,3) then isnull(srd.Amount,0) else 0 end) as Debit
,(case when srd.TypesID not in (1,2,3) then isnull(srd.Amount,0) else 0 end) as Credit,isnull(srd.Amount,0) as Total
,(ol1.OfficeName+' , MESCOM') as Office,(datename(month,sr.BillRegisterDate)+' - '+cast(Year(sr.BillRegisterDate) as varchar(4))) as MnYr
,sr.BillRegisterNo as BRNo,ol.Ordering,d.Ordering as Ordered,convert(varchar,sr.BillRegisterDate,103) as BRDate

,(case when (srd.BankTypeID not in (0,13) or (srd.TypesID=4 and srd.TypeID in (10,15)) or  d.ToHead in ('46.928','46.925') ) then (isnull(b.BankName,ol3.Fileas)+' '+isnull(b.BranchName,'')) else NULL end) Organisation
,(case when (srd.BankTypeID not in (0,13) or (srd.TypesID=4 and srd.TypeID in (10,15)) or  d.ToHead in ('46.928','46.925') ) then 1 else 2 end) as Ward
,(case when d.ToHead in ('46.928','46.925') then 'External' else case when srd.TypesID not in (5,6) and isnull(srd.Amount,0)>0 then 'PrevMonths' else case when srd.TypesID not in (5,6) and isnull(srd.Amount,0)<0 then 'ZPrevMonths' else case when srd.BankTypeID not in (0,13) then 'External' else case when (isnull(MainAccountCode,'')+isnull(SubAccountCode,''))='' and srd.BankTypeID in (0) then 'Internal28401' else case when srd.BankTypeID in (13) then 'Internal2840113' else 'Internal' end end end end end end) RecoveryTypes
,ol1.OID,sr.ScaleRegisterID

from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID,OID from @ODLD where OLID in (select @OLID)) as OL1
left outer join @SRD1 srd on srd.ScaleRegisterID=sr.ScaleRegisterID
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on ol.OLID in (select OLID from @AOLID) and ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeID=srd.TypeID
left outer join @Qtr q on q.ContactID=sr.ContactID
left outer join @Bnk b on isnull(b.BankID,0)=(case when isnull(srd.BankID,0)=0 then ExternalOrganisationID else isnull(srd.BankID,0) end ) and isnull(b.BranchID,0)=(case when isnull(srd.BranchID,0)=0 then ExternalOrganisationBranchID else isnull(srd.BranchID,0) end) 
left outer join @OLA ol3 on ol3.OLID=(case when srd.BankTypeID=13 then srd.BankID else 0 end)
left outer join @LA la on la.LoanandAdvanceID=srd.LAID and (isnull(MainAccountCode,'')+isnull(SubAccountCode,''))='28.401'
where isnull(srd.Amount,0)<>0

select  YearID as A,MonthDesc as B,OfficeName as C,LocationName as D,EmployeeName as E,DesignationName as F,TypesDesc as G
,Debit as H,Credit as I,Total as J,Office as K,MnYr as L,Words as M,BRNo as N,BRDate as O,r.RecoveryTypes as P,r.Organisation as Q,r.Ward as R
,(Case when Row_Number() over (partition by ContactID,r.RecoveryTypes,r.Organisation order by r.Ward,r.RecoveryTypes,r.Organisation,EmployeeName,Ordering,Ordered)=1 then EmployeeName else NULL end) as S
,(Case when Row_Number() over (partition by ContactID,r.RecoveryTypes,r.Organisation order by r.Ward,r.RecoveryTypes,r.Organisation,EmployeeName,Ordering,Ordered)=1 then DesignationName else NULL end) as T
,GrandTotal as U 
from @RC r
left outer join (select isnull(Organisation,'S') as Organisation,Ward,sum(isnull(Total,0)) as GrandTotal,dbo.fnNumToWords(sum(isnull(Total,0))) as Words from @RC group by Organisation,Ward) as W on w.Organisation=isnull(r.Organisation,'S') and w.Ward=r.Ward
order by R,P,Q,E,Ordering,Ordered

--select * from @SRD1
--select * from @SR1






GO
