USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryGeneration_Deputed]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[SP_SalaryGeneration_Deputed] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@Suppliment int,
	@PT1 Int,
	@Continue int,
	@MaxSRID int,
	@IT2 Int ,
	@ODLDID_1 Int ,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float ,
	@ChargeBP Float ,
	@HRARate Float ,
	@CCARate Float

AS SET NOCOUNT ON


--Declare @AcOLID Int = 604     
--Declare @FromDate DateTime = '2023-07-01' 
--Declare @ToDate DateTime = '2023-07-31' 
--Declare @ContactID Int = 33041         
--Declare @Suppliment int = 1
--Declare @PT1 Int = 200  
--Declare @Continue int = 0 
--Declare @MaxSRID int = 0
--Declare @IT2 Int = NULL   
--Declare @ODLDID_1 Int = NULL   
--Declare @BPRate Float = NULL  
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  
--Declare @ChargeBP Float = NULL  



Declare @EmpStatusID Int = 19  
Declare @EmpCategoryID Int = 1  
Declare @Remarks Varchar(50) = (( select concat(@ContactID,' Salary Generation Suppliment ',@Suppliment,'_',Month(@FromDate),Year(@FromDate)) ))


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @DRates Table (RateTypeID Int ,Rates Float) Insert Into @DRates
select RateTypeID,Rates from (
select RateTypeID,cast(Rates as Float) Rates,Date1,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails_Contract() where RateTypes='Deductions' and RateTypeID in (28,11) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
and (case when RateTypeID=28 then FromDate else b.Date1 end) Between @FromDate and @ToDate
) A where SlNo=1 


Declare @GIS1 Int = ( select Rates from @DRates where RateTypeID=28)
Declare @FBF1 Int = ( select Rates from @DRates where RateTypeID=11)

 Declare @Regular int = (select isnull((select ContactID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment in (0,9) and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0),NULL))

Declare @SRID1 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0') 

Declare @SRID10 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and Suppliment in (0,9) ) 

Declare @IT1 Int = isnull(@IT2,(select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where SalaryOtherDeductionID=2 and ScaleRegisterID in ( 
	select Min(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(dateadd(Month,-1,@FromDate)) and SalaryMonth=Month(dateadd(Month,-1,@FromDate)) 
	and Suppliment in (0,9) and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 )))


Declare @Charge Table (AppointmentTypeID Int,ContactID Int,Date1 DateTime,Rate Float,DesignationID Int,BP Money,Charge Money,PerDay Money,Amount Float,Continuation1 Int) 
insert into @Charge 
exec SP_ChargeAmount @FromDate,@ToDate,@ContactID,@Suppliment,@Continue,@ChargeBP,@DPRate


Declare @SRID3 table (ScaleRegisterID Int) 
if @Suppliment not in (0,9)  
insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock)  where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment not in (2,7,3,4,5,8,15,16,17,18) and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                
and StartingDate >= @FromDate and EndingDate<= @ToDate and ScaleRegisterID<=(case when @MaxSRID!=0 then ScaleRegisterID else isnull(@SRID1,ScaleRegisterID) end) 
) A where Maxno = 1 
 
  
Declare @SRID2 Int = (( select * from @SRID3 ))
Declare @IT Int = (case when @Suppliment in (0,9) then @IT1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=2) end) 
Declare @PT Int = (case when @Suppliment in (0,9) then @PT1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=3) end) 
Declare @FBF Int = (case when @Suppliment in (0,9) then @FBF1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=11) end) 
Declare @GIS Int = (case when @Suppliment in (0,9) then @GIS1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=28) end) 


Declare @ODLDID1 table (SlNo Int,EADID Int,ContactID Int,AppointmentTypeID Int,Percentage Money,JoiningDuration Int,RelievedDate DateTime,ReportedDate2 DateTime,ODLDID Int,JD_ODLDID Int,JD_Days Int,LienODLDID Int,Regularised Int,OLID Int,AcOLID Int,Date1 DateTime,HolidayDate DateTime,Sunday Int,Saturday Int,Attendance Int,EmployeeGradeID Int,MinNo Int,FromDate DateTime,ToDate DateTime,LTypeID Int)
insert into @ODLDID1
select a.*,isnull(LeaveTypeID,0) LTypeID from Fn_SalaryODLDID(@AcOLID,@FromDate,@ToDate,@ContactID,@ODLDID_1,@Suppliment,1) A
left join Fn_Leaves(@FromDate,@ToDate,@ContactID,@Suppliment) L on l.ContactID=a.ContactID and l.Date1=a.Date1
where (case when JD_Days!=0 and isnull(isnull(isnull(HolidayDate,Sunday),(case when Saturday in (2,4) then Saturday else NULL end)),(case when JoiningDuration=0 then NULL else JoiningDuration end)) is NULL then 0 else 1 end) = 1 
and (case when isnull(Paid,0)=0 and isnull(LeaveTypeID,0)!=0 then 0 else 1 end)=1


Declare @OLDID2 Table (ODLDID Int,ODID Int,OLDID Int,DesignationID Int)
insert into @OLDID2
select ODLDID,od.OfficeDepartmentAllocationID as ODID,old.OfficeLocationDepartmentAllocationID as OLDID,DesignationID
from (select distinct ODLDID ODLDID1 from @ODLDID1 union select distinct LienODLDID from @ODLDID1) A 
inner join ODLDAllocation odld with (nolock) on odld.ODLDID=a.ODLDID1
inner join OfficeDepartmentAllocation od with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
inner join OfficeLocationAccountingUnitDetails ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID 
inner join OfficeLocationDepartmentAllocation old with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ola.OLID


Declare @OLDID1 Table (ContactID Int,ODLDID Int,Allow_ODLDID Int,ODID Int,OLDID Int,DesignationID Int,EmployeeGradeID Int,Date1 DateTime,LTypeID Int,AppointmentTypeID Int)
insert into @OLDID1
select distinct a.ContactID,a.ODLDID,Allow_ODLDID,ODID,OLDID,DesignationID,a.EmployeeGradeID,Date1,LTypeID,AppointmentTypeID
from (select distinct ContactID,isnull(LienODLDID,ODLDID) Allow_ODLDID,EmployeeGradeID,Date1,LTypeID,ODLDID,AppointmentTypeID from @ODLDID1 ) A 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B where b.ODLDID = (case when AppointmentTypeID in (43) then a.ODLDID else a.Allow_ODLDID end)) B 


Declare @Rate1 table (RateTypeID Int,Rates Float,Date1 DateTime,RateMode Varchar(20))
Insert into @Rate1
select RateTypeID,cast((case when RateMode='Amount' then (isnull(@DPRate,Rates)/Day(EOMonth(@FromDate))) else isnull(@DPRate,Rates) end) as Float),Date1,RateMode 
from (select RateTypeID,Rates,FromDate,ToDate,RateMode from FnRateDetails_Contract() where RateTypes='Allowances' and RateTypeID in (20) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
union all 
select RateTypeID,cast((case when RateMode='Amount' then (isnull(@DARate,Rates)/Day(EOMonth(@FromDate))) else isnull(@DARate,Rates) end) as Float),Date1,RateMode 
from (select RateTypeID,Rates,FromDate,ToDate,RateMode from FnRateDetails_Contract() where RateTypes='Allowances' and RateTypeID in (1) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @Rate2 table (RateTypeID Int,Rates Float,Date1 DateTime,RateMode Varchar(20))
Insert into @Rate2
select RateTypeID,cast((case when RateMode='Amount' then (Rates/Day(EOMonth(@FromDate))) else Rates end) as Float),Date1,RateMode 
from (select RateTypeID,Rates,FromDate,ToDate,RateMode from FnRateDetails_Contract() where RateTypes='Additions' and RateTypeID in (13,20) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @Rate3 table (RateTypeID Int,Rates Float,Date1 DateTime,RateMode Varchar(20))
Insert into @Rate3
select RateTypeID,cast((case when RateMode='Amount' then (Rates/Day(EOMonth(@FromDate))) else Rates end) as Float),Date1,RateMode 
from (select RateTypeID,Rates,FromDate,ToDate,RateMode from FnRateDetails_Contract() where RateTypes='Deductions' and RateTypeID in (17,13,29,30) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 



Declare @BP1 Table (ContactID Int,AcOLID Int,ODLDID Int,Attendance Int,FromDate DateTime,ToDate DateTime,Date1 DateTime,BP Float,DP Float,DA Float,BPDP Float,BPDPDA Float)
Insert Into @BP1 
select *,(BP+DP) BPDP,(BP+DP+DA) BPDPDA from (
select a.*,(case when r.RateMode='Amount' then r.Rates else isnull((BP*r.Rates/100),0) end) DP
,(case when r1.RateMode='Amount' then r1.Rates else ((BP+isnull((BP*r.Rates/100),0)) * r1.Rates/100) end) DA from (
select a.ContactID,AcOLID,ODLDID,Attendance,a.FromDate,a.ToDate,a.Date1,(case when AppointmentTypeID = 17 then ((PerDay/100)*(case when Percentage=0 then 100 else Percentage end)) else PerDay end) BP
from @ODLDID1 a inner join Fn_Basic(@FromDate,@ToDate,@ContactID,@BPRate) bp on bp.ContactID=a.ContactID and bp.Date1=a.Date1 
) A left join @Rate1 r on r.Date1=a.Date1 and r.RateTypeID=20 
left join @Rate1 r1 on r1.Date1=a.Date1 and r1.RateTypeID=1 
) A 



Declare @Allowances Table (ContactID Int,ODLDID Int,RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),RateSeries Int,Duration Float,Rates Float,MaximumAmount Float,Date1 DateTime,LTypeID Int,PerDay Float,MinNo Int,MaxPerDay Float,Amount1 Float,MaxDay Int,Amount Float,MaxiPerDay Float)
insert into @Allowances
select * ,(case when MaxPerDay>0 and MaxPerDay<MaxDay and Duration!=1 then 0 else Amount end) Amount1 
,(case when Amount=0 then 0 else (case when Duration=1 and MaximumAmount>0 then (MaximumAmount/Day(@ToDate)) else 0 end) end) MaxiPerDay from (
select * ,(Row_Number() over (Partition By ContactID,RateTypeID,(case when Amount=0 then 99 else 1 end) Order By ContactID,RateTypeID,Date1)) MaxDay from (
select * ,(case when LTypeID in (3,5,21,23) then 0 when LTypeID!=0 and RateTypeID not in (2,3,5,17,38) then 0 else PerDay end) Amount from ( 
select * ,round((case when RateMode='Amount' and Duration!=1 and MaximumAmount>0 then (MaximumAmount/Rates) else Rates end),0)  MaxPerDay from (
select o.ContactID,o.ODLDID,RateTypeID,RateMode,RateType,RateSeries,Duration
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(Rates,0) end) Rates,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(MaximumAmount,0) end) MaximumAmount
,b.Date1,o.LTypeID,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else (case when RateMode='Amount' and Duration=1 then (Rates/Day(@ToDate)) else Rates end) end) PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID,b.Date1 Order By o.ContactID,RateTypeID,b.Date1)) MinNo from ( 
select ContactID,RateTypeID,RateMode,RateType,RateSeries,cast(Duration as Float) Duration,cast(Rates as Float) Rates,cast(MaximumAmount as Float) MaximumAmount,FromDate,ToDate
	from FnRateDetails_Contract() where RateTypes='Allowances' and isnull(Rates,0)!=0 and RateTypeID not in (1,20) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
inner join @OLDID1 O on o.Date1=b.Date1 and o.ContactID=a.ContactID 
) A where MinNo = 1 --and RateTypeID = 5 
) A 
) A 
) A 


Declare @HRARates Table (ContactID Int ,Rates Float,Nos Int)
Insert into @HRARates
select distinct ContactID,cast(Rates as Float) Rates,1 Nos from @Allowances where RateTypeID=2 


Declare @Additions Table (ContactID Int,RateTypeID Int,EmployeeGradeID Int,RateMode Varchar(20),RateType Varchar(20),Duration Float,BillingMonth Int,FromDate DateTime,ToDate DateTime,RateSeries Int,Rates Float,ODLDID Int,Date1 DateTime,MaxDay Int,Amount Float)
insert into @Additions
select *,(case when MaxDay=1 and RateMode='Amount' then Rates else 0 end) Amount from (
select a.* ,o.ODLDID,b.Date1
,(Row_Number() over (Partition By o.ContactID,RateTypeID Order By o.ContactID,RateTypeID,b.Date1)) MaxDay from ( 
select ContactID,RateTypeID,EmployeeGradeID,RateMode,RateType,cast(Duration as Float) Duration,BillingMonth,FromDate,isnull(ToDate,EOMonth(cast(GetDate() as Date))) ToDate,RateSeries,cast(Rates as Float) Rates 
from FnRateDetails_Contract() where RateTypes='Additions' and RateTypeID in (13,20,17) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate and isnull(BillingMonth,Month(@FromDate)) = Month(@FromDate) 
inner join @OLDID1 O on o.Date1=b.Date1 and o.ContactID=a.ContactID 
) A 


Declare @Deductions Table (RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),Duration Float,FromDate DateTime,ToDate DateTime,RateSeries Int,Rates Float,TerritoryID Int,ContactID Int,ODLDID Int,Date1 DateTime,BP_PerDay Float,EQGradeID Int,Amount Float)
insert into @Deductions
select RateTypeID,RateMode,RateType,Duration,FromDate,ToDate,RateSeries,Rates,TerritoryID,ContactID,ODLDID,Date1,BP_PerDay,EQGradeID
,(case when MaxDay=1 and RateMode='Amount' and RateTypeID in (14,18) then Rates when RateMode='Amount' and RateTypeID in (10,20) and isnull(EQGradeID,0)=8 then (Rates/Day(@ToDate)) when RateMode='Amount' and RateTypeID in (15,21) and WC_Date is not NULL then (Rates/Day(@ToDate)) else 0 end) Amount from (
select a.* ,o.ODLDID,b.Date1,wc.Date1 WC_Date,bp.PerDay BP_PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID Order By o.ContactID,RateTypeID,b.Date1)) MaxDay,isnull(hra.EQGradeID,0) EQGradeID from ( 
select ContactID,RateTypeID,EmployeeGradeID,RateMode,RateType,cast(Duration as Float) Duration,BillingMonth,FromDate,isnull(ToDate,EOMonth(cast(GetDate() as Date))) ToDate,RateSeries,cast(Rates as Float) Rates,RateUnits,TerritoryClassTypeID,ExternalOrganisationTypeID,TerritoryID,EmployeeQuartersGradeID 
from FnRateDetails_Contract() where RateTypes='Deductions' and RateTypeID not in (28,11,3) and ContactID=@ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate and isnull(BillingMonth,Month(@FromDate)) = Month(@FromDate) 
inner join @OLDID1 O on o.Date1=b.Date1 and o.ContactID=a.ContactID 
left join Fn_Quarters(@FromDate,@ToDate,@ContactID) hra on hra.ContactID=o.ContactID and hra.Date1=b.Date1 and hra.SODID1=(case when a.RateTypeID in (10,20) then a.RateTypeID else 0 end) and (case when hra.EQGradeID=8 then 8 else 0 end)=isnull(a.EmployeeQuartersGradeID,0) 
left join Fn_Quarters(@FromDate,@ToDate,@ContactID) wc on wc.ContactID=o.ContactID and wc.Date1=b.Date1 and wc.SODID=(case when a.RateTypeID in (15,21) then a.RateTypeID else 0 end) and (case when wc.EQGradeID=8 then 8 else 0 end)=isnull(a.EmployeeQuartersGradeID,0) 
	and (case when wc.EQGradeID=8 then 0 else wc.TerritoryID end)=(case when wc.EQGradeID=8 then 0 else a.TerritoryID end)
inner join Fn_Basic(@FromDate,@ToDate,@ContactID,@BPRate) bp on bp.ContactID=o.ContactID and bp.Date1=b.Date1
) A 


;
insert into ScaleRegister 
select ContactID,Month(@FromDate),Year(@FromDate),Min(FromDate),Max(ToDate),AcOLID,@EmpCategoryID,NULL,0,Sum(Attendance),0,0,0,0,0,0,0,1,@Suppliment,0,'0',NULL,NULL,GetDate(),0,NULL,NULL,@Remarks,0,0,NULL,NULL
from @ODLDID1 where ContactID not in ( 
	select ContactID from ScaleRegister with (nolock) where ScaleRegisterID = @SRID1
	union select ContactID from ScaleRegister with (nolock) where ScaleRegisterID = @SRID10
	union select (case when @Suppliment not in (0,9) and @Regular is NULL then @ContactID else 0 end) 
	union select (case when @Suppliment not in (0,9) and (select * from @SRID3) is NULL then @ContactID else 0 end) 
	) 
Group By ContactID,AcOLID 

;
Declare @SRID Int = (isnull(@SRID1,(select ScaleRegisterID  from ScaleRegister with (nolock) where Remarks=@Remarks and OLID=@AcOLID))) 

;
delete from ScaleRegisterBasicPayDetails where ScaleRegisterID = @SRID

;
 insert into ScaleRegisterBasicPayDetails  
select @SRID,ODLDID,FromDate,ToDate,cast(PerDay as Money) PerDay,cast(Sum(BP) as Money) Basic,@EmpStatusID,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,BP PerDay,BP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate,PerDay

;
 insert into ScaleRegisterBasicPayDetails 
select ScaleRegisterID,Max(ODLDID),Min(StartingDate),Max(EndingDate),0 BasicPerDay,(round(round(Sum(Amount),2),0)-Sum(Amount)),@EmpStatusID,'' Remarks
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID having (round(round(Sum(Amount),2),0)-Sum(Amount))!=0 

;
delete from ScaleRegisterALlowances where ScaleRegisterID = @SRID

;
 insert into ScaleRegisterALlowances  
select @SRID,20,ODLDID,FromDate,ToDate,cast(Sum(DP) as Money) DP,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,DP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate
union all
select @SRID,1,ODLDID,FromDate,ToDate,cast(Sum(DA) as Money) DA,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,DA,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate


;
 insert into ScaleRegisterALlowances  
 select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),(DP-Sum(Amount)),0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
cross join (select round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
	select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R ) B 
where ScaleRegisterID = @SRID and AllowanceID = 20 Group By ScaleRegisterID,AllowanceID,DP having (DP-Sum(Amount))!=0 

;
 insert into ScaleRegisterALlowances  
 select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),(DA-Sum(Amount)),0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
cross join ( select round(round(isnull((BPDP*r.Rates/100),0),2),0) DA from (
	select (BP+round(round(isnull((BP*r.Rates/100),0),2),0)) BPDP from (
	select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R 
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=1 ) R ) B 
where ScaleRegisterID = @SRID and AllowanceID = 1 Group By ScaleRegisterID,AllowanceID,DA having (DA-Sum(Amount))!=0 

;
 insert into ScaleRegisterALlowances 
select @SRID,RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateMode='Percentage' then BPDP*Amount/100 else Amount end) Amount,MaximumAmount 
from @BP1 a inner join @Allowances b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID and MaximumAmount=0 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 
union all 
select @SRID,RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(case when RateMode='Percentage' and MaxiPerDay<Amount then MaxiPerDay else Amount end) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateMode='Percentage' then BPDP*Amount/100 else Amount end) Amount,MaximumAmount,MaxiPerDay 
from @BP1 a inner join @Allowances b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID and MaximumAmount>0 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 
union all 
select @SRID,4 RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,Amount from @BP1 a inner join @Charge b on b.ContactID=a.ContactID and b.Date1=a.Date1 
) A Group By ODLDID,FromDate,ToDate 


;
Declare @BPDP table (ScaleRegisterID Int,BPDP Int,BPDPDA Int)
insert into @BPDP
select ScaleRegisterID,(BP+DP) BPDP,(BP+DP+DA) BPDPDA from (
select a.*,round(round(isnull(((BP+DP)*r.Rates/100),0),2),0) DA from ( 
select ScaleRegisterID,BP,round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=1 ) R  
) A 

;
delete from ScaleRegisterOtherAdditions where ScaleRegisterID = @SRID 
;
 insert into ScaleRegisterOtherAdditions 
select @SRID,ODLDID,RateTypeID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateTypeID in (20,13) and RateMode='Percentage' then BPDPDA*Rates/100 else Amount end) Amount
from @BP1 a inner join @Additions b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 

;
 insert into ScaleRegisterOtherAdditions 
select a.ScaleRegisterID,Max(ODLDID),SalaryOtherAdditionID,Min(StartingDate),Max(EndingDate),cast((round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount)) as Money),0,'' Remarks
from ScaleRegisterOtherAdditions A with(nolock) cross join @BPDP B 
cross apply (select top 1 * from @Rate2 r where r.RateTypeID in (13,20) and r.RateTypeID=a.SalaryOtherAdditionID ) R 
where a.ScaleRegisterID = @SRID and SalaryOtherAdditionID in (13,20) Group By a.ScaleRegisterID,SalaryOtherAdditionID,BPDPDA,r.Rates 
having (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))!=0  

;
delete from ScaleRegisterOtherDeductions where ScaleRegisterID = @SRID 

;
 insert into ScaleRegisterOtherDeductions 
select @SRID,ODLDID,RateTypeID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateTypeID in (10,20) and RateMode='Percentage' then BP_PerDay*Rates/100 when RateTypeID in (17,13,29,30) and RateMode='Percentage' then BPDPDA*Rates/100 else Amount end) Amount
from @BP1 a inner join @Deductions b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 
union all
select @SRID,ODLDID,RateTypeID,StartingDate,EndingDate,b.Amount from (
select * , (Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
cross join (select 2 RateTypeID,@IT Amount union all select 3 RateTypeID,@PT union all select 11 RateTypeID,@FBF union all select 28 RateTypeID,@GIS) b 
where SlNo = 1 and b.Amount!=0 

;
insert into ScaleRegisterOtherDeductions 
select a.ScaleRegisterID,Max(ODLDID),SalaryOtherDeductionID,Min(StartingDate),Max(EndingDate),cast((round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount)) as Money) 
from ScaleRegisterOtherDeductions A with(nolock) cross join @BPDP B 
cross apply (select top 1 * from @Rate3 r where r.RateTypeID in (13,17,29,30) and r.RateTypeID=a.SalaryOtherDeductionID ) R 
where a.ScaleRegisterID = @SRID and SalaryOtherDeductionID in (13,17,29,30) Group By a.ScaleRegisterID,SalaryOtherDeductionID,BPDPDA,r.Rates 
having (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))!=0  

;
 insert into ScaleRegisterALlowances
select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),cast((HRA-Sum(Amount)) as Money) ,0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
Cross join (select round(round((BPDP*Rates/100),2),0) HRA from (
select ScaleRegisterID,BPDP from @BPDP a cross join (select Sum(Nos) Nos from @HRARates Having Sum(Nos)=1) b
) A Cross join @HRARates B ) B 
where ScaleRegisterID = @SRID and AllowanceID = 2 Group By ScaleRegisterID,AllowanceID,HRA having (HRA-Sum(Amount))!=0 

;
 insert into ScaleRegisterOtherDeductions
select ScaleRegisterID,Max(ODLDID),SalaryOtherDeductionID,Min(StartingDate),Max(EndingDate),cast((HRA-Sum(Amount)) as Money) 
from ScaleRegisterOtherDeductions A with(nolock) 
Cross join (select round(round((BPDP*Rates/100),2),0) HRA from (
select ScaleRegisterID,BPDP from @BPDP a cross join (select Sum(Nos) Nos from @HRARates Having Sum(Nos)=1) b
) A Cross join @HRARates B ) B 
inner join (select Sum(SlNo) SlNo from Fn_Quarters(@FromDate,@ToDate,@ContactID) where isnull(EQGradeID,0)!=8 ) C on c.SlNo=Day(@ToDate)
where ScaleRegisterID = @SRID and SalaryOtherDeductionID in (10,20) Group By ScaleRegisterID,SalaryOtherDeductionID,HRA having (HRA-Sum(Amount))!=0 


;
delete from ScaleRegisterLoansandAdvances where ScaleRegisterID = @SRID 
;

if @Suppliment in (0,9) 
insert into ScaleRegisterLoansandAdvances  
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,b.Amount,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,0 from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
inner join EmployeeLoanandAdvance b with(nolock) on ContactID = @ContactID and Expired=0 and isnull(InstallmentCount,0)=1
	and LoanandAdvanceID in (select LoanandAdvanceID from LoanandAdvance where LoanandAdvanceTypeID not in (2,5))
	and (case when b.LoanandAdvanceID =17 and b.ExternalOrganisationID = 86 then 0 else 1 end)=1
where SlNo = 1 and b.Amount!=0 
union all 
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,b.Balance,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,0 from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Balance,SlNo from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID,ExternalRRNo order By ContactID,LoanandAdvanceID,ExternalRRNo,InstallmentPaidDate desc)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 and isnull(InstallmentCount,0)=1 
	and b.LoanandAdvanceID =17 and ExternalOrganisationID = 86 
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL and InstallmentPaidDate<=@ToDate
	) A where SlNo=1 ) B 
where a.SlNo = 1 and b.Balance!=0 

else 
 insert into ScaleRegisterLoansandAdvances
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,Amount,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Expired
from ScaleRegisterLoansandAdvances A with(nolock) where a.ScaleRegisterID=@SRID2


;
delete from ScaleRegisterRecovery where ScaleRegisterID = @SRID 
;

if @Suppliment in (0,9) 
 Insert Into ScaleRegisterRecovery
select @SRID,ODLDID,ScheduleTypeID,b.Amount,StartingDate,EndingDate,(b.InstallmentCount-CurrentInstall)+1 CurrentInstall,b.InstallmentCount,NULL,b.LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	,Sum(Balance) Amount,Max(SlNo) CurrentInstall from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID order By ContactID,LoanandAdvanceID,InstallmentPaidDate)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 --and isnull(InstallmentCount,0)>1 
	and b.LoanandAdvanceID in (select LoanandAdvanceID from LoanandAdvance with(nolock) where LoanandAdvanceTypeID in (5))
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL and InstallmentPaidDate<=@ToDate
	) A Group By EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	) B Inner Join LoanAndAdvance b1 with(nolock) on b1.LoanAndAdvanceID=b.LoanAndAdvanceID
where SlNo = 1 and b.Amount!=0 
union all 
select @SRID,ODLDID,ScheduleTypeID,b.Amount,StartingDate,EndingDate,(b.InstallmentCount-CurrentInstall)+1 CurrentInstall,b.InstallmentCount,NULL,b.LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	,Sum(Balance) Amount,Max(SlNo) CurrentInstall from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID order By ContactID,LoanandAdvanceID,InstallmentPaidDate)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 and b.LoanandAdvanceID=9 
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL and InstallmentPaidDate<=@ToDate
	) A Group By EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	) B Inner Join LoanAndAdvance b1 with(nolock) on b1.LoanAndAdvanceID=b.LoanAndAdvanceID
where SlNo = 1 and b.Amount!=0 

else 
 insert into ScaleRegisterRecovery
select @SRID,ODLDID,ScheduleTypeID,Amount,StartingDate,EndingDate,CurrentInstallmentCount,TotalInstallmentCount,ScheduleID,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) where a.ScaleRegisterID=@SRID2 



;
Declare @SRIDNew Table (ScaleRegisterID Int) Insert into @SRIDNew select @SRID
;
insert into  ScaleRegisterWithdrawals 
select c.ScaleRegisterID,StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount
from ScaleRegister B with(nolock) 
inner Join @SRIDNew C on c.ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterWithdrawals d where d.ScaleRegisterID=c.ScaleRegisterID) 
where b.ScaleRegisterID=@SRID2
;
Declare @SRWIDNew Table (ScaleRegisterWithdrawalID Int) Insert into @SRWIDNew
select distinct ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals A with(nolock) Inner Join @SRIDNew B on a.ScaleRegisterID=b.ScaleRegisterID 

;
delete from ScaleRegisterBasicPayWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterAllowanceWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherAdditionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherDeductionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterLoanandAdvanceWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterRecoveryWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)


;
 insert into ScaleRegisterBasicPayWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,StartingDate,EndingDate,Amount
from ScaleRegisterBasicPayDetails A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterAllowanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,AllowanceID,StartingDate,EndingDate,Amount
from ScaleRegisterAllowances A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherAdditionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherAdditions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherDeductionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherDeductionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherDeductions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterLoanandAdvanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Amount
from ScaleRegisterLoansandAdvances A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterRecoveryWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,ScheduleTypeID,StartingDate,EndingDate,Amount,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;

exec SP_SRID_MismatchUpdate @FromDate,@SRID 
;
update a set CreatedOn=GetDate() from ScaleRegister a with(nolock) where ScaleRegisterID = @SRID 
;
--select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID 








GO
