USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ODLDID_Change]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ODLDID_Change] 
 @Query Varchar(10),@ContactID Int,@FromODLDID Int,@ToODLDID Int,@ToDNID Int,@EADID Int
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select' 
--Declare @ContactID Int = 433
--Declare @FromODLDID Int = 778
--Declare @ToODLDID Int = 2593
--Declare @ToDNID Int = 278
--Declare @EADID Int = 3111

 
IF @Query='Update'
update a set ToODLDID = @ToODLDID , ToDesignationID = @ToDNID  
from EmployeeAppointmentDetails a  where EmployeeAppointmentDetailsID in ( @EADID )

IF @Query='Update'
update a set ODLDID = @ToODLDID 
from Employee  a where ContactID = @ContactID  

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterAttendences a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterBasicPayDetails a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterAllowances a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterOtherAdditions a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterOtherDeductions a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterLoansandAdvances a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 

IF @Query='Update'
update a set ODLDID = @ToODLDID
from ScaleRegisterRecovery a where ScaleRegisterID in ( select ScaleRegisterID from ScaleRegister where ContactID = @ContactID  )
and isnull(ODLDID,0)!=0 
and ODLDID = @FromODLDID 


select EmployeeAppointmentDetailsID EADID,a.ContactID,ToODLDID,ToDesignationID,ODLDID,SRODLDID
from EmployeeAppointmentDetails a  with(nolock) inner join Employee B with(nolock) on b.ContactID=a.ContactID 
outer apply (select top 1 ODLDID SRODLDID from ScaleRegisterBasicPayDetails a with(nolock) where ScaleRegisterID in (select ScaleRegisterID from ScaleRegister with(nolock) where ContactID = @ContactID) and isnull(ODLDID,0)!=0) C
where EmployeeAppointmentDetailsID in ( @EADID )


GO
