USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Update_User]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Update_User]
		@ContactID INT,
		@NewPassword varbinary(50)
AS
BEGIN 
	SET NOCOUNT ON 

	Update dbo.Users
	Set Password3=Password2,
	Password2=Password1,
	Password1=[Password],
	[Password]=@NewPassword
FROM dbo.Users
	WHERE
	ContactID=@ContactID
END
GO
