USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeePayDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_EmployeePayDetails]
    @Types Varchar(10) ,
    @CID Int ,
	@EPMTID Int ,
    @EPTID int ,
	@Status Int ,

	@EPDID Int ,
	@EPID Int ,
	@ToDNID Int ,
	@EffectDate Varchar(20) ,
	@EffectDate1 Varchar(20) ,
	@CurrentPay Float ,
	@ModifiedPay Float ,
	@Approved Int ,
	@Cancel Int ,
	@Remarks Varchar(500) , 

	@EPDID1 Int ,
	@FromDate Varchar(20) ,
	@ToDate Varchar(20) ,

	@EPDID2 Int ,
	@CID1 Int ,
	@Approved1 Int ,
	@Cancel1 Int ,
	@Remarks1 Varchar(500) 

AS SET NOCOUNT ON

--Declare @Types Varchar(10) = 'Select' ----- Select Update Import 
--Declare @CID Int = 574 
--Declare @EPMTID Int = 2
--Declare @EPTID Int = -99
--Declare @Status Int = 1

--Declare @EPDID Int = 0
--Declare @EPID Int = 0
--Declare @ToDNID Int = 0
--Declare @EffectDate Varchar(20) = '2024-04-01'
--Declare @EffectDate1 Varchar(20) = '2024-04-01'
--Declare @CurrentPay Float = 0
--Declare @ModifiedPay Float = 0
--Declare @Approved Int = 1
--Declare @Cancel Int = 0
--Declare @Remarks Varchar(500) = 'Issue No Test'

--Declare @EPDID1 Int = 0
--Declare @FromDate Varchar(20) = '2024-04-01'
--Declare @ToDate Varchar(20) = NULL

--Declare @EPDID2 Int = 0
--Declare @CID1 Int = 0 
--Declare @Approved1 Int = 0
--Declare @Cancel1 Int = 1
--Declare @Remarks1 Varchar(500) = 'CID 10'


IF (@Types='Update' and len(@EffectDate)>0 and len(@EffectDate1)>0)
update a set EmployeePayID=@EPID,ToDesignationID=@ToDNID,EffectiveDate=@EffectDate,ActualEffectiveDate=@EffectDate1,CurrentPay=@CurrentPay,ModifiedValue=@ModifiedPay,Approved=@Approved,Cancel=@Cancel,Remarks=@Remarks
from EmployeePayDetails A with(nolock) where a.EmployeePayDetailsID=@EPDID  

else 
IF (@Types='Import' and len(@EffectDate)>0 and len(@EffectDate1)>0)
insert into EmployeePayDetails (ContactID,EmployeePayTypeID,EmployeePayID,ToDesignationID,EffectiveDate,ActualEffectiveDate,CurrentPay,ModifiedValue,Approved,Cancel,Remarks,CreatedOn) 
select @CID,@EPTID,@EPID,@ToDNID,@EffectDate,@EffectDate1,@CurrentPay,@ModifiedPay,@Approved,@Cancel,@Remarks,cast(GetDate() as Date) CreatedOn

else 
IF ( @Types='Update1' and @EPTID in (31,32,29) and @EPDID1>0 )
update a set FromDate=@FromDate,ToDate=(case when @ToDate='NULL' then NULL else @ToDate end)
from EmployeePayDetailsSub A with(nolock) where a.EmployeePayDetailsID=@EPDID1  

else 
IF (@Types='Import1' and (@EPTID=31 or @EPTID=32 or @EPTID=29) and @EPDID1>0 )
insert into EmployeePayDetailsSub (EmployeePayDetailsID,FromDate,ToDate ) 
select @EPDID1,@FromDate,(case when @ToDate='NULL' then NULL else @ToDate end)

else 
IF (@Types='Update2' and @EPDID2>0 and len(@Remarks1)>0)
update a set ContactID=@CID1,Approved=@Approved1,Cancel=@Cancel1,Remarks=@Remarks1
from EmployeePayDetails A with(nolock) where a.EmployeePayDetailsID=@EPDID2  


;with Data1 as (
select (case when EmployeePayMainTypeID in (1,2) and EmployeePayTypeID not in (6,13,5,7) then 1 else 2 end) OrderNo
,isnull(e2.OfficeLocation,e.OfficeLocation) SanctionLocation,e.OfficeLocation WorkingLocation
,a.ContactID,c.Fileas ContactName,CONCAT(DesignationCode,' (',DepartmentCode,')') Designation
,EPDID,EPTID,EPID,EAID,ToDNID,OMNo,OMDate,EffectiveDate0,EffectDate1,CurrentPay Amount,ModifiedPay Modified
,convert(varchar,FromDate,104) FromDate,convert(varchar,ToDate,104) ToDate
from (
select EmployeePayDetailsID EPDID,ContactID,EmployeePayTypeID EPTID,isnull(EmployeePayID,0) EPID,isnull(EmployeeApplicationID,0) EAID,isnull(ToDesignationID,0) ToDNID,isnull(OfficeMemoNo,0) OMNo,convert(varchar,OfficeMemoDate,104) OMDate
,EffectiveDate EffectiveDate0,convert(varchar,isnull(ActualEffectiveDate,EffectiveDate),104) EffectDate1,CurrentPay,ModifiedValue ModifiedPay,LPC     
	from EmployeePayDetails A with(nolock) where a.ContactID=@CID and (case when isnull(Cancel,0)=1 then 2 else Approved end)=@Status  
	and EmployeepayTypeID in (select EmployeepayTypeID from EmployeepayTypes where EmployeepayMainTypeID in (1,2) and EmployeePayTypeID not in (6,13,5,7)
	union all select EmployeePayTypeID from EmployeePayTypes where EmployeePayTypeID in (29,31,32,43,44,13,35,36))
	and (case when @EPTID=-99 then -99 else a.EmployeePayTypeID end)=@EPTID 
	and (case when @EPDID=0 then 0 else a.EmployeePayDetailsID end)=@EPDID 
	and (case when @EPDID1=0 then 0 else a.EmployeePayDetailsID end)=@EPDID1
	and (case when @EPDID2=0 then 0 else a.EmployeePayDetailsID end)=@EPDID2 
) A 
inner join Employee B with(nolock) on b.ContactID=a.ContactID 
inner join Contacts C with(nolock) on c.ContactID=a.ContactID 
left join ODLDAllocation D with(nolock) on d.ODLDID=isnull(b.ODLDID,0)
left join OfficeLocationAccountingUnitDetails E with(nolock) on e.OfficeID=d.OfficeID and e.LocationID=d.LocationID 
inner join EmployeePayTypes F with(nolock) on F.EmployeePayTypeID=A.EPTID
left join Department DP with(nolock) on DP.DepartmentID=D.DepartmentID
left join Designation DN with(nolock) on Dn.DesignationID=D.DesignationID
outer apply (select top 1 FromODLDID from EmployeeAppointmentDetails E1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(FromODLDID,0)>0 and e1.ContactID=isnull(a.ContactID,a.ContactID)) E1
left join ODLDAllocation D1 with(nolock) on d1.ODLDID=isnull(e1.FromODLDID,0)
left join OfficeLocationAccountingUnitDetails E2 with(nolock) on e2.OfficeID=d1.OfficeID and e2.LocationID=d1.LocationID 
left join EmployeePayDetailsSub EPD with(nolock) on epd.EmployeePayDetailsID=(case when EPTID in (1) then 0 else A.EPDID end)

) select ContactID,ContactName,Designation
,EPDID,EPTID,EPID,EAID,ToDNID,convert(varchar,EffectiveDate0,104) EffectDate,EffectDate1,Amount,Modified,FromDate,ToDate 
from Data1 where (case when @EPMTID=-99 then -99 else OrderNo end)=@EPMTID
order By OrderNo,EffectiveDate0,Modified,EPDID




GO
