USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CashBook01]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CashBook01]
	@Config varchar(200), 
	@AccSplit varchar(200) ,
	@OLID int ,
	@FromDate varchar(12) ,
	@ToDate varchar(12)


AS 
SET NOCOUNT ON








drop view CBOLDetailsView
Declare @OLSql varchar(Max) Set @OLSql='Create view CBOLDetailsView as
select Distinct ola.OfficeLocationAllocationID as OLID,o.OfficeID,o.OfficeName,l.LocationID,l.LocationName,ct.ContactID,ct.Fileas as EmployeeName
,dn.DesignationID,dn.DesignationName,dp.DepartmentID,dp.DepartmentName,e.BankAcNo
from ODLDAllocation ODLD
left outer join Employee e on e.ODLDID=ODLD.ODLDID
left outer join Contacts ct on ct.ContactID=e.ContactID
left outer join Designation dn on dn.DesignationID=ODLD.DesignationID
left outer join Department dp on dp.DepartmentID=ODLD.DepartmentID
left outer join Office o on o.OfficeID=ODLD.OfficeId
left outer join Location l on l.LocationId=ODLD.LocationID
left outer join OfficeLocationAllocation ola on ola.OfficeId=odld.OfficeID and ola.LocationId=odld.LocationId
' exec (@OLSql)


Declare @ReceiptsSql varchar(MAX)
set @ReceiptsSql= 'Create view CBReceiptsView as
select row_Number() over (partition by cbt.OLID,cbt.TransactionDate order by cbt.OLID,cbt.TransactionDate) as SlNo,cbt.OLID,cb.CashBookNo,DateName(WeekDay,cbt.TransactionDate) as Day,DateName(month,cbt.TransactionDate) as MonthDesc,Year(cbt.TransactionDate) as Year
,cbt.Particulars,sum(isnull(cbt.ReceiptsOrRemittance,0)) as Receipts,sum(isnull(cbt.Imprest,0)) as Imprest,sum(isnull(cbt.Others,0)) as Others,sum(isnull(cbt.MiscelleneousAmount,0)) as Misc
,sum(isnull(cbt.ReceiptsOrRemittance,0)+isnull(cbt.Imprest,0)+isnull(cbt.Others,0)+isnull(cbt.MiscelleneousAmount,0)) as Total,(cbt.MainAccountCode+cbt.SubAccountCode) as ACHead,cbt.TransactionDate as TDate,cbt.receiptOrVoucherNo as ReceiptNo,cbtt.Description as TransType
from CashBook cb
left outer join CashBookTransactions cbt on cbt.CashBookId=cb.CashBookId and cbt.OLID=cb.OLID and cbt.CashBookTransactionTypeID=1
left outer join CashBookTransactionTypes cbtt on cbtt.CashBookTransactionTypeID=cbt.CashBookTransactionTypeID
group by cb.CashBookNo,DateName(WeekDay,cbt.TransactionDate),DateName(month,cbt.TransactionDate),Year(cbt.TransactionDate),cbtt.Description,cbt.OLID
,cbt.Particulars,(cbt.MainAccountCode+cbt.SubAccountCode),cbt.TransactionDate,cbt.receiptOrVoucherNo
' exec (@ReceiptsSql)

Declare @PaymentSql varchar(MAX)
set @PaymentSql= 'Create view CBPaymentView as
select row_Number() over (partition by cbt.OLID,cbt.TransactionDate order by cbt.OLID,cbt.TransactionDate) as SlNo,cbt.OLID,cb.CashBookNo,DateName(WeekDay,cbt.TransactionDate) as Day,DateName(month,cbt.TransactionDate) as MonthDesc,Year(cbt.TransactionDate) as Year
,cbt.Particulars,sum(isnull(cbt.ReceiptsOrRemittance,0)) as Remittance,sum(isnull(cbt.Imprest,0)) as Imprest,sum(isnull(cbt.Others,0)) as Others,sum(isnull(cbt.MiscelleneousAmount,0)) as Misc
,sum(isnull(cbt.ReceiptsOrRemittance,0)+isnull(cbt.Imprest,0)+isnull(cbt.Others,0)+isnull(cbt.MiscelleneousAmount,0)) as Total,(cbt.MainAccountCode+cbt.SubAccountCode) as ACHead,cbt.TransactionDate as TDate,cbt.receiptOrVoucherNo as VoucherNo,cbtt.Description as TransType
from CashBook cb
left outer join CashBookTransactions cbt on cbt.CashBookId=cb.CashBookId and cbt.OLID=cb.OLID and cbt.CashBookTransactionTypeID=2
left outer join CashBookTransactionTypes cbtt on cbtt.CashBookTransactionTypeID=cbt.CashBookTransactionTypeID
group by cb.CashBookNo,DateName(WeekDay,cbt.TransactionDate),DateName(month,cbt.TransactionDate),Year(cbt.TransactionDate),cbtt.Description,cbt.OLID
,cbt.Particulars,(cbt.MainAccountCode+cbt.SubAccountCode),cbt.TransactionDate,cbt.receiptOrVoucherNo
' exec (@PaymentSql)


drop table DaysAttendenceTmp1
Create table DaysAttendenceTmp1 (Days int) insert into DaysAttendenceTmp1
exec dbo.SP_GenerateRowNumbers 

drop table CashBookTmp
Create Table CashBookTmp (SlNo int, Date Datetime, OLID int, CashBookNo varchar(20), Day varchar(10), MonthDesc varchar(10), Year int, RParticulars varchar(200), Receipts numeric(18,2), RImprest numeric(18,2), ROthers numeric(18,2), RMisc numeric(18,2),RTotal numeric(18,2),RACHead varchar(10),RTdate datetime, ReceiptNo bigint, RTransType varchar(20), PParticulars varchar(200), Remittance numeric(18,2), PImprest numeric(18,2), POthers numeric(18,2), PMisc numeric(18,2),PTotal numeric(18,2),PACHead varchar(10),PTdate datetime, VoucherNo bigint, PTransType varchar(20))
insert into CashBookTmp (SlNo, Date,OLID)
select distinct row_Number() over (partition by ol.OLID,cast(d1.Days as DateTime) order by ol.OLID,cast(d1.Days as DateTime)) as SlNo
,cast(d1.Days as DateTime) as Date,ol.OLID
from DaysAttendenceTmp1 d1,DaysAttendenceTmp1 d2,(select distinct OLID from CBOLDetailsView) as OL
where cast(d1.Days as DateTime)>=@FromDate
and cast(d1.Days as DateTime)<=@ToDate
and d2.Days<=100 and ol.OLID=@OLID
order by ol.OLID,Date

update c set c.CashBookNo=cb.CashBookNo,c.Day=cb.Day,c.MonthDesc=cb.MonthDesc,c.Year=cb.Year,c.RParticulars=cb.Particulars,c.Receipts=cb.Receipts,c.RImprest=cb.Imprest,c.ROthers=Others,c.RMisc=cb.Misc,c.RTotal=cb.Total,c.RACHead=cb.ACHead,c.RTDate=cb.TDate,c.ReceiptNo=cb.ReceiptNo,c.RTransType=cb.TransType

from CashBookTmp c inner join CBReceiptsView cb on cb.OLID=c.OLID and cb.TDate=c.Date and cb.SlNo=c.SlNo

update c set c.CashBookNo=cb.CashBookNo,c.Day=cb.Day,c.MonthDesc=cb.MonthDesc,c.Year=cb.Year,c.PParticulars=cb.Particulars,c.Remittance=cb.Remittance,c.PImprest=cb.Imprest,c.POthers=Others,c.PMisc=cb.Misc,c.PTotal=cb.Total,c.PACHead=cb.ACHead,c.PTDate=cb.TDate,c.VoucherNo=cb.VoucherNo,c.PTransType=cb.TransType

from CashBookTmp c inner join CBPaymentView cb on cb.OLID=c.OLID and cb.TDate=c.Date and cb.SlNo=c.SlNo


select distinct ol.OfficeName,ol.LocationName,cb.CashBookNo,cb.Day,cb.MonthDesc,cb.Year
,(convert(varchar,cb.RTDate,105)+'  '+cast(cb.ReceiptNo as Varchar(20))) as ReceiptDate_No,cb.RParticulars,cb.Receipts,cb.RImprest,cb.ROthers,cb.RMisc,cb.RTotal,cb.RACHead
,(convert(varchar,cb.PTDate,105)+'  '+cast(cb.VoucherNo as Varchar(20))) as PaymentDate_No,cb.PParticulars,cb.Remittance,cb.PImprest,cb.POthers,cb.PMisc,cb.PTotal,cb.PACHead
,cb.Date
from CashBookTmp cb left outer join (select distinct OLID,OfficeName,LocationName from CBOLDetailsView) as OL on ol.OLID=cb.OLID
where Day is not null



drop view CBReceiptsView
drop view CBPaymentView
GO
