USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryRecalculationSplittin]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE PROCEDURE [dbo].[SP_SalaryRecalculationSplittin](@ScaleregisterID Varchar(max),@SalarySupplimentID Int,@ManualRecalFlag bit)
AS
BEGIN
	
	--Declare @ScaleregisterID Varchar(max),@SalarySupplimentID Int,@ManualRecalFlag bit
	--set @ScaleregisterID=1487852 set @SalarySupplimentID=6 set @ManualRecalFlag=0

	--declare @SubTables table (TableName varchar(100),WithDrawalName varchar(100))
	
	SET NOCOUNT ON;
	set @ManualRecalFlag=isnull(@ManualRecalFlag,1)


	select @ScaleregisterID =(case when billregisterno='0' and suppliment not in(0,9,5,4,2,7,3,17,16,15) then @ScaleregisterID else 0 end   )
	 from scaleregister where scaleregisterid=@ScaleregisterID   
	 	
		
	select @ScaleregisterID =(
	Case when contactid   in(0,0) then 0  
		--Case when contactid   in(1067, 1581, 25872,27738,9267,28585,27063,10551,16855,17580,17581,10799) then 0  
	else case when 	  suppliment  in(0,9,5,4,2,7,3,17,16,15)  then 0 else case when billregisterno!='0'  then 0 else  @ScaleregisterID end end end) 
	from scaleregister  where scaleregisterid=@ScaleregisterID   

	 
	

	--select @ScaleregisterID =(Case when contactid   in(1067, 1581, 25872,27738) then 0 end) 
	--from scaleregister  where scaleregisterid=@ScaleregisterID   



	--select @ScaleregisterID =0
	
	declare @SubTableDifference table (ScaleRegisterID Int,ScaleRegisterWithdrawalID Int,TypesID int,TypeID int,
	ExternalOrganisationID int,ExternalOrganisationBranchID int, ExternalRRNo varchar(200),ExternalOrganisationTypeID int, LAID Int,SupplimentID Int )

 

 insert into @SubTableDifference
select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
	ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,
	(  case when TypesID=4 and typeid in(26,28) and isnull(DiffAmount,0)!=0 then 7  --For CM DRaught/GIS
   else case when TypesID in(1,2,3)  and   DiffAmount>0 then 1
 else case when TypesID in(1,2,3)  and   DiffAmount<0 then 6
else case when TypesID in(4,5,6)  and   DiffAmount>0 then 6 
--else case when TypesID=4 and TypeID in(10,20) and DiffAmount<0 then 100
 else 1 -- end
end end end end)
from FnSRSubDifference(@ScaleregisterID) 
WHERE ISNULL(DiffAmount,0)!=0 and 
 (  case when TypesID=4 and typeid in(26,28) and isnull(DiffAmount,0)!=0 then 7  --For CM DRaught/GIS
   else case when TypesID in(1,2,3)  and   DiffAmount>0 then 1
 else case when TypesID in(1,2,3)  and   DiffAmount<0 then 6
else case when TypesID in(4,5,6)  and   DiffAmount>0 then 6 
--else case when TypesID=4 and TypeID in(10,20) and DiffAmount<0 then 100 --HRA Ded Arrears
 else 1  --end
end end end end)!=@SalarySupplimentID
and cast(typesid as varchar)+cast(typeid as varchar)not in('313','316','320','322')  --exlude cpc/epc/cplc/cesi
and cast(typesid as varchar)+cast(typeid as varchar)not in('413','417','419','425','429','430','433','434')--excludde cpc/eesi,epc
and cast(typesid as varchar)+cast(typeid as varchar)not in('42')--excludde IT
and cast(typesid as varchar)+cast(typeid as varchar)not in('410','420')--excludde HRA deduction

----Only for CPC/EPC/CPF/EPF/CPLC/EPLC ADDITION

 insert into @SubTableDifference
select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
	ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
 from FnSRSubDifference(@ScaleregisterID)  
WHERE ISNULL(DiffAmount,0)!=0 and typeid in(13,16,20,22)   and typesid=3
and isnull(DiffAmount,0)!=0  and ScaleRegisterID in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1)

----Only for CPC/EPC/CPF/EPF/CPLC/EPLC DEDUCTION

 insert into @SubTableDifference
select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
	ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
 from FnSRSubDifference(@ScaleregisterID)  
WHERE ISNULL(DiffAmount,0)!=0 and typeid in(13,17,19,25,29,30,33,34)  and typesid=4
and isnull(DiffAmount,0)!=0  and ScaleRegisterID in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1)
-----------------------

----Only forCM Draught

 insert into @SubTableDifference
select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
	ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
 from FnSRSubDifference(@ScaleregisterID)  
WHERE ISNULL(DiffAmount,0)!=0 and typeid in(26)   and typesid=4  

----Only for HRA DEDUCTION
------
------ insert into @SubTableDifference
------select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
------	ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
------ from FnSRSubDifference(@ScaleregisterID)  
------WHERE ISNULL(DiffAmount,0)!=0 and typeid in(10,20)  and typesid=4
------and isnull(DiffAmount,0)!=0  and ScaleRegisterID in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1)



-------------------------------------------------------
If(@ManualRecalFlag=0)
	Begin
 insert into @SubTableDifference
select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
	ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
 from FnSRSubDifference(@ScaleregisterID)  
WHERE ISNULL(DiffAmount,0)!=0 and typeid in(15,21,10,20,33,34,29,30,13,17)  and typesid=4
--and isnull(DiffAmount,0)!=0  and ScaleRegisterID not in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 and SupplimentID=@SalarySupplimentID)
and isnull(DiffAmount,0)!=0  
--and ScaleRegisterID  in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 )
and (ScaleRegisterID  in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 )
or ScaleRegisterID not in(select ScaleRegisterID from FnSRSubDifference(@ScaleregisterID)  where TypesID=1 and TypeID=1 
and DiffAmount!=0))
	end

If(@ManualRecalFlag=1)
	Begin
    If(@SalarySupplimentID=1)
        Begin
             insert into @SubTableDifference
            select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
                ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
             from FnSRSubDifference(@ScaleregisterID)  
            WHERE ISNULL(DiffAmount,0)!=0 and typeid in(10,20)  and typesid=4
            --and isnull(DiffAmount,0)!=0  and ScaleRegisterID not in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 and SupplimentID=@SalarySupplimentID)
            and isnull(DiffAmount,0)!=0   and 
             ( case when TypesID=4 and typeid in(10,20) and    DiffAmount>0 then 6 else 1 end)=6
            and isnull(DiffAmount,0)!=0  and ScaleRegisterID  in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 )

             insert into @SubTableDifference
            select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
                ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
             from FnSRSubDifference(@ScaleregisterID)  
            WHERE ISNULL(DiffAmount,0)!=0 and typeid in(10,20)  and typesid=4
            --and isnull(DiffAmount,0)!=0  and ScaleRegisterID not in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 and SupplimentID=@SalarySupplimentID)
            and isnull(DiffAmount,0)!=0   and 
             ( case when TypesID=4 and typeid in(10,20) and    DiffAmount>0 then 6 else 1 end)=6
            and isnull(DiffAmount,0)!=0   and ScaleRegisterID not  in(select ScaleRegisterID  from FnSRSubDifference(@ScaleregisterID)   where typesid=1 and DiffAmount!=0)

            End




    If(@SalarySupplimentID=6)
        Begin
             insert into @SubTableDifference
            select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
                ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
             from FnSRSubDifference(@ScaleregisterID)  
            WHERE ISNULL(DiffAmount,0)!=0 and typeid in(10,20)  and typesid=4
            --and isnull(DiffAmount,0)!=0  and ScaleRegisterID not in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 and SupplimentID=@SalarySupplimentID)
            and isnull(DiffAmount,0)!=0   and 
             ( case when TypesID=4 and typeid in(10,20) and    DiffAmount>0 then 6 else 1 end)=1
            and isnull(DiffAmount,0)!=0  and ScaleRegisterID  in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 )

             insert into @SubTableDifference
            select ScaleRegisterID ,ScaleRegisterWithdrawalID ,TypesID ,TypeID ,
                ExternalOrganisationID ,ExternalOrganisationBranchID , ExternalRRNo ,ExternalOrganisationTypeID , LAID ,@SalarySupplimentID
             from FnSRSubDifference(@ScaleregisterID)  
            WHERE ISNULL(DiffAmount,0)!=0 and typeid in(10,20)  and typesid=4
            --and isnull(DiffAmount,0)!=0  and ScaleRegisterID not in(select ScaleRegisterID from @SubTableDifference where typesid=1 and typeid=1 and SupplimentID=@SalarySupplimentID)
            and isnull(DiffAmount,0)!=0   and 
             ( case when TypesID=4 and typeid in(10,20) and    DiffAmount>0 then 6 else 1 end)=1
            and isnull(DiffAmount,0)!=0   and ScaleRegisterID not  in(select ScaleRegisterID  from FnSRSubDifference(@ScaleregisterID)   where typesid=1 and DiffAmount!=0)

            End


	end


----------------------Basic Pay-----------------------------
delete from ScaleRegisterBasicPayDetails  
from @SubTableDifference A inner join ScaleRegisterBasicPayDetails B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID
where TypesID=1 and b.ScaleRegisterID=@ScaleregisterID

INSERT INTO ScaleRegisterBasicPayDetails(ScaleRegisterID, ODLDID, StartingDate, EndingDate, BasicPerDay, Amount, EmployeeStatusID,  Remarks)
select distinct a.ScaleRegisterID, ODLDID, StartingDate, EndingDate,(select top(1) BasicPerDay from ScaleRegisterBasicPayDetails  WITH (NOLOCK) 
where ScaleRegisterID=a.ScaleRegisterID),Amount,(select top(1) EmployeeStatusID from ScaleRegisterBasicPayDetails WITH (NOLOCK)  where ScaleRegisterID=a.ScaleRegisterID),'' as Remarks
from @SubTableDifference A inner join ScaleRegisterBasicPayWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID
where TypesID=1


update ScaleRegister  set Attendance=(select distinct sum(datediff(dd,StartingDate,EndingDate)+1) from ScaleRegisterBasicPayDetails WITH (NOLOCK)  where  Amount>0 and ScaleRegisterID=@ScaleregisterID)
where   ScaleRegisterID=@ScaleregisterID

----------------------Allowances-----------------------------
delete from ScaleRegisterAllowances
from @SubTableDifference A inner join ScaleRegisterAllowances B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.AllowanceID
where TypesID=2 and b.ScaleRegisterID=@ScaleregisterID

INSERT INTO ScaleRegisterAllowances(ScaleRegisterID, AllowanceID, ODLDID, StartingDate, EndingDate, Amount, Expired)
select distinct a.ScaleRegisterID, b.AllowanceID, ODLDID, StartingDate, EndingDate, Amount, 0
from @SubTableDifference A inner join ScaleRegisterAllowanceWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.AllowanceID
where TypesID=2


----------------------Other Additions-----------------------------
delete from ScaleRegisterOtherAdditions
from @SubTableDifference A inner join ScaleRegisterOtherAdditions B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.SalaryOtherAdditionID
where TypesID=3 and b.ScaleRegisterID=@ScaleregisterID 
----and typeid not in(13,16,20)

INSERT INTO ScaleRegisterOtherAdditions(ScaleRegisterID, ODLDID, SalaryOtherAdditionID, StartingDate, EndingDate, Amount, Expired)
select distinct ScaleRegisterID, ODLDID, SalaryAdditionOthersID, StartingDate, EndingDate, Amount, 0
from @SubTableDifference A inner join ScaleRegisterOtherAdditionWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.SalaryAdditionOthersID
where TypesID=3 
----and typeid not in(13,16,20) 

----------------------Other Deductions-----------------------------
delete from ScaleRegisterOtherDeductions
from @SubTableDifference A inner join ScaleRegisterOtherDeductions B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.SalaryOtherDeductionID
where TypesID=4 and b.ScaleRegisterID=@ScaleregisterID and typeid not in(10,20,15,21,3)


INSERT INTO ScaleRegisterOtherDeductions(ScaleRegisterID, ODLDID, SalaryOtherDeductionID, StartingDate, EndingDate, Amount)
select distinct ScaleRegisterID, ODLDID, SalaryDeductionOthersID, StartingDate, EndingDate, Amount
from @SubTableDifference A inner join ScaleRegisterOtherDeductionWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.SalaryDeductionOthersID
where TypesID=4  and typeid not in(10,20,15,21,3)


----HRA Arrears----
delete from ScaleRegisterOtherDeductions
from @SubTableDifference A inner join ScaleRegisterOtherDeductions B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.SalaryOtherDeductionID
where TypesID=4 and b.ScaleRegisterID=@ScaleregisterID and typeid  in(10,20,15,21) ------and a.SupplimentID  in( @SalarySupplimentId,100)


INSERT INTO ScaleRegisterOtherDeductions(ScaleRegisterID, ODLDID, SalaryOtherDeductionID, StartingDate, EndingDate, Amount)
select distinct ScaleRegisterID, ODLDID, SalaryDeductionOthersID, StartingDate, EndingDate, Amount
from @SubTableDifference A inner join ScaleRegisterOtherDeductionWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.SalaryDeductionOthersID
where TypesID=4  and   typeid  in(10,20,15,21) -----and a.SupplimentID in( @SalarySupplimentId,100)
-------




----cm draught/GIS---
delete from ScaleRegisterOtherDeductions
from @SubTableDifference A inner join ScaleRegisterOtherDeductions B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.SalaryOtherDeductionID
where TypesID=4 and b.ScaleRegisterID=@ScaleregisterID and typeid   in(26,28)

INSERT INTO ScaleRegisterOtherDeductions(ScaleRegisterID, ODLDID, SalaryOtherDeductionID, StartingDate, EndingDate, Amount)
select distinct ScaleRegisterID, ODLDID, SalaryDeductionOthersID, StartingDate, EndingDate, Amount
from @SubTableDifference A inner join ScaleRegisterOtherDeductionWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.SalaryDeductionOthersID
where TypesID=4  and typeid   in(26,28)
 
----------------------Loan and Advances-----------------------------
delete from ScaleRegisterLoansandAdvances
from @SubTableDifference A inner join ScaleRegisterLoansandAdvances B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.LoanandAdvanceID
and isnull(a.ExternalOrganisationTypeID,0)=isnull(b.ExternalOrganisationTypeID,0) and  isnull(a.ExternalOrganisationID,0)=isnull(b.ExternalOrganisationID,0)
 and  isnull(a.ExternalOrganisationBranchID,0)=isnull(b.ExternalOrganisationBranchID,0) and  isnull(b.ExternalRRNo,'')=isnull(b.ExternalRRNo,'')
where TypesID=5 and b.ScaleRegisterID=@ScaleregisterID

INSERT INTO ScaleRegisterLoansandAdvances(ScaleRegisterID, ODLDID, LoanandAdvanceID, StartingDate, EndingDate, Amount, ExternalOrganisationTypeID, 
ExternalOrganisationID, ExternalOrganisationBranchID, ExternalRRNo, Expired )
select distinct ScaleRegisterID, ODLDID, LoanandAdvanceID, StartingDate, EndingDate, Amount, 
b.ExternalOrganisationTypeID, b.ExternalOrganisationID, b.ExternalOrganisationBranchID, b.ExternalRRNo, 0 
from @SubTableDifference A inner join ScaleRegisterLoanandAdvanceWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.LoanandAdvanceID
and isnull(a.ExternalOrganisationTypeID,0)=isnull(b.ExternalOrganisationTypeID,0) and  isnull(a.ExternalOrganisationID,0)=isnull(b.ExternalOrganisationID,0)
 and  isnull(a.ExternalOrganisationBranchID,0)=isnull(b.ExternalOrganisationBranchID,0) and  isnull(b.ExternalRRNo,'')=isnull(b.ExternalRRNo,'')
where TypesID=5


----------------------Recoveries-----------------------------
delete from ScaleRegisterRecovery
from @SubTableDifference A inner join ScaleRegisterRecovery B WITH (NOLOCK)  on a.ScaleRegisterID=b.ScaleRegisterID and a.TypeID=b.LoanandAdvanceID
and isnull(a.ExternalOrganisationTypeID,0)=isnull(b.ExternalOrganisationTypeID,0) and  isnull(a.ExternalOrganisationID,0)=isnull(b.ExternalOrganisationID,0)
 and  isnull(a.ExternalOrganisationBranchID,0)=isnull(b.ExternalOrganisationBranchID,0) and  isnull(b.ExternalRRNo,'')=isnull(b.ExternalRRNo,'')
where TypesID=5 and b.ScaleRegisterID=@ScaleregisterID

INSERT INTO ScaleRegisterRecovery(ScaleRegisterID, ODLDID, ScheduleTypeID, Amount, StartingDate, EndingDate, CurrentInstallmentCount, TotalInstallmentCount, ScheduleID, LoanandAdvanceID, ExternalRRNo, ExternalOrganisationTypeID, ExternalOrganisationID, ExternalOrganisationBranchID)
select distinct ScaleRegisterID, ODLDID, ScheduleTypeID, Amount, StartingDate, EndingDate, 0, 0, 0, LoanandAdvanceID, b.ExternalRRNo, 0, 
0, 0
from @SubTableDifference A inner join ScaleRegisterRecoveryWithdrawals B WITH (NOLOCK)  on a.ScaleRegisterWithdrawalID=b.ScaleRegisterWithdrawalID and a.TypeID=b.LoanandAdvanceID
and isnull(a.ExternalOrganisationTypeID,0)=isnull(b.ExternalOrganisationTypeID,0) and  isnull(a.ExternalOrganisationID,0)=isnull(b.ExternalOrganisationID,0)
 and  isnull(a.ExternalOrganisationBranchID,0)=isnull(b.ExternalOrganisationBranchID,0) and  isnull(b.ExternalRRNo,'')=isnull(b.ExternalRRNo,'')
where TypesID=5

 
---------------------------------------Update Scalregister----------------------------
Update ScaleRegister set Suppliment=@SalarySupplimentID where ScaleRegisterID=@ScaleregisterID 
------------------------------------------------------------------------------------------------------------


-----------------------------------------------------ScaleRegister and subtables updation----------------------------------------------------------------------------------------------------------- 
 DECLARE @SQL1 VARCHAR(MAX),@SQL2 VARCHAR(MAX) 
 SET @SQL1='With SR (ContactID,OLID,ScaleRegisterID,StartingDate,Bonus,BonusAmount,BonusDiff,TotalBasicPay,Basic,BasicDiff,TotalAdditions,Additions,AdditionDiff,TotalDeductions,Deductions,DeductionDiff,SpecialPayment,SpPay,SpPayDiff,RecoveryAmount,Recovery,RecoveryDiff,NetPayments,Net,NetDiff) as (
select sr.ContactID,sr.OLID,sr.ScaleRegisterID,sr.StartingDate
,sr.Bonus,isnull(sroa1.Amount,0) as BonusAmount,(isnull(sr.Bonus,0)-isnull(sroa1.Amount,0)) as BonusDiff
,sr.TotalBasicPay,isnull(srb.Amount,0) as Basic,(isnull(sr.TotalBasicPay,0)-isnull(srb.Amount,0)) as BasicDiff
,sr.TotalAdditions,(isnull(sra.Amount,0)+isnull(sroa.Amount,0)) as Additions,(isnull(sr.TotalAdditions,0)-(isnull(sra.Amount,0)+isnull(sroa.Amount,0))) as AdditionDiff
,sr.TotalDeductions,(isnull(sod.Amount,0)+isnull(srla.Amount,0)) as Deductions,(isnull(sr.TotalDeductions,0)-(isnull(sod.Amount,0)+isnull(srla.Amount,0))) as DeductionDiff
,sr.SpecialPayment,isnull(srp.Amount,0) as SpPay,(isnull(sr.SpecialPayment,0)-isnull(srp.Amount,0)) as SpPayDiff
,sr.RecoveryAmount,isnull(srr.Amount,0) as Recovery,(isnull(sr.RecoveryAmount,0)-isnull(srr.Amount,0)) as RecoveryDiff
,sr.NetPayments,((isnull(srb.Amount,0)+(isnull(sra.Amount,0)+isnull(sroa.Amount,0)+isnull(sroa1.Amount,0))+isnull(srp.Amount,0))-((isnull(sod.Amount,0)+isnull(srla.Amount,0))+isnull(srr.Amount,0))) as Net
,(isnull(sr.NetPayments,0)-((isnull(srb.Amount,0)+(isnull(sra.Amount,0)+isnull(sroa.Amount,0)+isnull(sroa1.Amount,0))+isnull(srp.Amount,0))-((isnull(sod.Amount,0)+isnull(srla.Amount,0))+isnull(srr.Amount,0)))) as NetDiff
from ScaleRegister sr with(nolock)
left outer join	(select distinct ScaleRegisterID,round(round(sum(isnull(Amount,0)),2),0) as Amount from Scaleregisterbasicpaydetails srbp with(nolock) where ScaleregisteriD='+@ScaleregisteriD+' 	Group by Scaleregisterid having round(round(sum(isnull(srbp.Amount,0)),2),0)<>0) as srb on srb.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select sra.Scaleregisterid,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount 
from scaleregisterallowances sra with(nolock)  where ScaleregisteriD='+@ScaleregisteriD+' and AllowanceID not in (38) and AllowanceID is not null Group by sra.Scaleregisterid,AllowanceID) as sra where Amount<>0 group by Scaleregisterid) as sra on sra.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select sra.Scaleregisterid,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount from scaleregisterallowances sra with(nolock)  where  ScaleregisteriD='+@ScaleregisteriD+' and AllowanceID in (38) Group by sra.Scaleregisterid,AllowanceID) as sra where Amount<>0 group by Scaleregisterid) as srp on srp.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select sroa.Scaleregisterid,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount	from ScaleRegisterOtherAdditions sroa with(nolock)  where  ScaleregisteriD='+@ScaleregisteriD+' and SalaryOtherAdditionID in (13,16,22,2,17,20,8) Group by sroa.Scaleregisterid,SalaryOtherAdditionID) sroa where Amount<>0 group by Scaleregisterid) as sroa on sroa.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select sroa.Scaleregisterid,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount	from ScaleRegisterOtherAdditions sroa with(nolock)  where  ScaleregisteriD='+@ScaleregisteriD+' and SalaryOtherAdditionID in (3,7) Group by sroa.Scaleregisterid,SalaryOtherAdditionID) sroa where Amount<>0 group by Scaleregisterid) as sroa1 on sroa1.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select sod.Scaleregisterid,round(round(sum(isnull(sod.Amount,0)),2),0) as Amount from ScaleRegisterOtherDeductions sod with(nolock)  where  ScaleregisteriD='+@ScaleregisteriD+' and SalaryOtherDeductionID is not null Group by  sod.Scaleregisterid,SalaryOtherDeductionID) sod where Amount<>0 group by Scaleregisterid) as sod on sod.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select srla.Scaleregisterid,round(round(sum(isnull(srla.Amount,0)),2),0) as Amount	from ScaleRegisterLoansandAdvances srla with(nolock)  where  ScaleregisteriD='+@ScaleregisteriD+' and LoanAndAdvanceID is not null Group By srla.Scaleregisterid,LoanAndAdvanceID,ISNULL(ExternalRRNo,'''') ) srla where Amount<>0 group by Scaleregisterid) as srla on srla.ScaleRegisterID=sr.ScaleRegisterID
left outer join	(select Scaleregisterid,sum(Amount) as Amount from (select srr.Scaleregisterid,round(round(sum(isnull(srr.Amount,0)),2),0) as Amount from ScaleregisterRecovery srr with(nolock)  where  ScaleregisteriD='+@ScaleregisteriD+' and ScheduleTypeID is not null and LoanandAdvanceID not in (59,61) Group by srr.Scaleregisterid,ScheduleTypeID) srr where Amount<>0 group by Scaleregisterid) as srr on srr.ScaleRegisterID=sr.ScaleRegisterID)'


EXEC (@SQL1+'update SR set Bonus= BonusAmount where BonusDiff <>0 and ScaleRegisterID='+@ScaleRegisterID)
EXEC (@SQL1+'update SR set TotalAdditions=Additions where AdditionDiff <> 0 and ScaleRegisterID='+@ScaleRegisterID) 
EXEC (@SQL1+'update SR set TotalDeductions=Deductions where DeductionDiff <> 0 and ScaleRegisterID='+@ScaleRegisterID) 
EXEC (@SQL1+'update SR set SpecialPayment= SpPay where SpPayDiff <>0 and ScaleRegisterID='+@ScaleRegisterID) 
EXEC (@SQL1+'update SR set RecoveryAmount= Recovery where RecoveryDiff <>0 and  ScaleRegisterID='+@ScaleRegisterID) 
EXEC (@SQL1+'update SR set NetPayments=((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(TotalAdditions,0)+isnull(SpecialPayment,0))-(isnull(totalDeductions,0)+isnull(RecoveryAmount,0)))
where ScaleRegisterID='+@ScaleRegisterID)
 



END
GO
