USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Sch_Del]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sch_Del] @schtype varchar(500),@olid int as

insert into ScheduleDetails_Temp
select * from ScheduleDetails where ScheduleID in(select ScheduleID from Schedules where ScheduleOLID=@olid 
and ScheduleTypeID in(select data from dbo.split(@schtype,',')))
--and ScheduleID not in(select ScheduleID from Schedules where ScheduleTypeID=44 and ContactCategoryID=3))
and ScheduleDetailsID not in(select ScheduleDetailsID from ScheduleDetails_Temp)

delete from ScheduleDetails where ScheduleID in(select ScheduleID from Schedules where ScheduleOLID=@olid 
and ScheduleTypeID in(select data from dbo.split(@schtype,','))
and ScheduleID not in(select ScheduleID from Schedules where ScheduleTypeID=44 and ContactCategoryID=3))
and ScheduleDetailsID in(select ScheduleDetailsID from ScheduleDetails_Temp)

insert into Schedules_Temp
select * from Schedules where ScheduleOLID=@olid and ScheduleTypeID in(select data from dbo.split(@schtype,','))
--and ScheduleID not in(select ScheduleID from Schedules where ScheduleTypeID=44 and ContactCategoryID=3)
and ScheduleID not in(select ScheduleID from Schedules_Temp)

delete from Schedules where ScheduleOLID=@olid and ScheduleTypeID in(select data from dbo.split(@schtype,',')) 
and ScheduleID not in(select ScheduleID from Schedules where ScheduleTypeID=44 and ContactCategoryID=3)
and ScheduleID in(select ScheduleID from Schedules_Temp)
GO
