USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_DA_Arrears_Generation]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE  PROCEDURE [dbo].[SP_DA_Arrears_Generation] 
	@FromDate Varchar(10) ,
	@ToDate Varchar(10) ,
	@AcOLID Int ,
	@ContactID Int 
	
AS SET NOCOUNT ON

--Declare @FromDate Varchar(10) = '2023-01-01' 
--Declare @ToDate Varchar(10) = '2023-05-31' 
--Declare @AcOLID Int = 341   
--Declare @ContactID Int = 2042       



Declare @Suppliment Int = 12            
Declare @SRID3 table (ScaleRegisterID Int) insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment not in (2,7,3,4,5,8,15,16,17,18) and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                 
and StartingDate >= @FromDate and EndingDate<= @ToDate
) A where Maxno = 1 


Declare @SRID4 Int 
DECLARE Cur3 CURSOR FOR select ScaleRegisterID from @SRID3 Order By ScaleRegisterID 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID4; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

exec SP_DA_Arrears @SRID4

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID4; 
END; CLOSE Cur3; DEALLOCATE Cur3; 


--select * from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
--and Suppliment=@Suppliment and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                 
--and StartingDate >= @FromDate and EndingDate<= @ToDate 
--Order By StartingDate,ScaleRegisterID

GO
