USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ODLDID_Update]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create  PROCEDURE [dbo].[SP_ODLDID_Update]
@Query Varchar(10),@OLID Int,@CreatedOn Varchar(10),@FromDate Varchar(10),@ContactID Varchar(Max)
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select'  ----- Select  Update   Update1  
--Declare @OLID Int = 10139
--Declare @CreatedOn Varchar(10) = '2025-10-15' 
--Declare @FromDate Varchar(10) = '2025-09-16' 
--Declare @ContactID Varchar(Max) = '8081' 




IF @Query='Select'
select 'Employee' Query,b.ContactID,0 SRID,ODLDID,0 ToDesignationID,EmployeeStatusID,NULL 'ValidUpTo',0 AppointmentTypeID,0 DaysWorked,NULL StartAttendanceDate,NULL LastAttendanceDate,0 Approved,0 Processing,0 Relieved,0 Reported 
from (select ContactID,ToODLDID 
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,',')) 
) A inner join Employee B on b.ContactID=a.ContactID
union all 
select 'Employee History' Query,ContactID,0 SRID,FromODLDID FieldValue,0,NULL,convert(varchar,dateadd(day,-1,@FromDate),104) ValidUpTo,AppointmentTypeID,0 DaysWorked,NULL StartAttendanceDate,NULL LastAttendanceDate,0 Approved,0 Processing,0 Relieved,0 Reported 
from (select ContactID,FromODLDID,AppointmentTypeID 
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,','))  
) A 
union all
select 'SR Attendences' Query,ContactID,c.ScaleRegisterID,ToODLDID,0,NULL,NULL ValidUpTo,0 AppointmentTypeID,DaysWorked,convert(varchar,StartAttendanceDate,104),convert(varchar,LastAttendanceDate,104),Approved,Processing,0 Relieved,0 Reported
from (select ContactID,ToODLDID 
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,','))  
) A cross apply (
	select ScaleRegisterID from ScaleRegister B where b.ContactID=a.ContactID    
	and Suppliment in (0,9) and OLID=@OLID 
	and StartingDate>=(select convert(datetime,concat(year(@FromDate),'-',Month(@FromDate),'-1')))  ) B 
inner join ScaleRegisterAttendences C on c.ScaleRegisterID=b.ScaleRegisterID and StartAttendanceDate>=@FromDate
union all 
select 'AppointmentDetails' Query,ContactID,0 SRID,ToODLDID,ToDesignationID,NULL,NULL ValidUpTo,AppointmentTypeID,0 DaysWorked,NULL StartAttendanceDate,NULL LastAttendanceDate,Approved,0 Processing,Relieved,Reported
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,','))  
order by Query,ContactID,StartAttendanceDate


IF @Query='Update'
update b set b.ODLDID=a.ToODLDID
from (select ContactID,ToODLDID 
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,',')) 
) A inner join Employee B on b.ContactID=a.ContactID

IF @Query='Update'
insert into EmployeeHistory_HRMS 
select ContactID,'ODLDID' FieldName,FromODLDID FieldValue,dateadd(day,-1,@FromDate) ValidUpTo,AppointmentTypeID 
from (select ContactID,FromODLDID,AppointmentTypeID 
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,','))  
) A 

IF @Query='Update'
update c set c.ODLDID=ToODLDID 
from (select ContactID,ToODLDID 
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,','))  
) A cross apply (
	select ScaleRegisterID from ScaleRegister B where b.ContactID=a.ContactID    
	and Suppliment in (0,9) and OLID=@OLID 
	and StartingDate>=(select convert(datetime,concat(year(@FromDate),'-',Month(@FromDate),'-1')))  ) B 
inner join ScaleRegisterAttendences C on c.ScaleRegisterID=b.ScaleRegisterID and StartAttendanceDate>=@FromDate

IF @Query='Update1'
update a set Relieveddate = dateadd(day,-1,@FromDate) , RelievedTime = (select concat(cast((select dateadd(day,-1,@FromDate)) as Date),' 17:30:00')) , Reporteddate = @FromDate, ReportedTime = (select concat(cast((select @FromDate) as Date),' 10:00:00'))  , Reported=1 , Relieved=1
from EmployeeAppointmentDetails a where isnull(Reported,0)=0 and Approved=1 and isnull(FromODLDID,0)>0 and isnull(ToODLDID,0)>0 and CreatedOn>=@CreatedOn
and ContactID in (select * from Split(@ContactID,','))  






GO
