USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_MultipleRVReportSlNo]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MultipleRVReportSlNo] @RVNos varchar(max)  as
 
--Declare @RVNos varchar(max)='153452,153447'
 SET NOCOUNT ON

select Concat(MaterialCode collate database_default,' - ' ,d.Description collate database_default) MC,e.Description SC,concat(c.SerialNo collate database_default,'-(',f.UserDefinedFieldValue collate database_default,')') SlNo
from ReceiptVoucherAbstract_pni a with (nolock)
inner join ReceiptVoucherDetails_pni b  with (nolock) on a.ReceiptVoucherNo=b.ReceiptVoucherNo and ReceivedQuantity >0 and b.ItemID in(select ItemID from Stock with (nolock) where SerialFlag=1)
inner join ReceiptVoucherMaterialDetails_pni c  with (nolock)  on c.ReceiptVoucherDetailsID=b.ReceiptVoucherDetailsID
inner join ReceiptVoucherMaterialDetailsSub_pni f with (nolock) on c.ReceiptVoucherMaterialDetailsID=f.ReceiptVoucherMaterialDetailsID and DistributionNodeUserDefinedFieldID=20
inner join MaterialCode d with (nolock) on d.ItemID=b.ItemID 
inner join StockConditions e with (nolock) on e.StockConditionID=c.StockConditionID
where a.ReceiptVoucherNo  in(select Data from Split(@RVNos,',')) 
order by MC
 
 SET NOCOUNT OFF
--SP_MultipleRVReportSlNo '153336,112350'
GO
