USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SRRateInsertToTemp]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SRRateInsertToTemp] @FromYear int,@ToYear int,@EffectiveDate datetime,@ItemID int,@MaterialCode varchar(max),@Description varchar(max),@UOM VARCHAR(100),@Existing money,@New varchar(max),@BatchNo bigint

as
set NOCOUNT ON
Declare @Remarks varchar(max) set @Remarks=''

if(@itemID=0)
    set @Remarks+='ItemID doesnt exist/ '

if(@ItemID<>'')
BEGIN
       if(@ItemID not in (select ItemID from MaterialCode where substring(replace(MaterialCode,' ',''),2,len(MaterialCode))=@MaterialCode
                                      union
                                      select ItemID from MaterialCode where MaterialCode=@MaterialCode))
        set @Remarks+='Material Code ItemID combination doesnt exist/ '
END

if (@ItemID='')
BEGIN
    if(@Description not in(select Description from MaterialCode))
        set @Remarks+='Material Description doesnt exist/ '
END

if(@FromYear>@ToYear)
    set @Remarks+='To Year should be greater than From Year/ '

if(@New <'0' or @New='' )
    set @Remarks+='Enter New positive Value/ '

if(@UOM not in(select UnitOfMeasure from UnitOfMeasure))
    set @Remarks+='Enter valid Unit Of Measure/ '

if (@ItemID in(select itemID from SRStock ))
BEGIN
    if(@UOM<>(select b.UnitOfMeasure from SRStock a inner join UnitOfMeasure b on b.UnitID=a.UnitID where ItemID=@ItemID))
        set @Remarks+='Enter valid Unit Of Measure as per SR/ '
END

if(isnumeric(@New))=0
    BEGIN
        set @Remarks+='Enter New Value only in numerics/ '
        set @New=0
    END

if (@EffectiveDate>convert(date,getdate()))
    set @Remarks+='Enter Effective Date lesser than Todays Date'


if(@Remarks='')
    BEGIN
         if Exists(select * from SRRateTemp where ItemID=@ItemID and EffectiveDate=@EffectiveDate and FromYear=@FromYear  and ToYear=@ToYear and Updated=0 )
         BEGIN 
                update SRRateTemp set NewValue=@New ,Remarks='Valid.New Value Overwritten',valid=1,BatchNo=@BatchNo,UOM=@UOM where ItemID=@ItemID and EffectiveDate=@EffectiveDate and FromYear=@FromYear  and ToYear=@ToYear and Updated=0
         END
         ELSE
         BEGIN
                    insert into SRRateTemp
                    select @FromYear,@ToYear,@EffectiveDate,@ItemID,@UOM,@New,'Valid',getdate(),0,@BatchNo,1
          END
    END

else
     BEGIN
         if exists (select * from SRRateTemp where ItemID=@ItemID and EffectiveDate=@EffectiveDate and FromYear=@FromYear  and ToYear=@ToYear and Updated=0)
         BEGIN
                    update SRRateTemp set NewValue=@New,Remarks=@Remarks,Valid=0,BatchNo=@BatchNo,UOM=@UOM where  ItemID=@ItemID and EffectiveDate=@EffectiveDate and FromYear=@FromYear  and ToYear=@ToYear and Updated=0
         END
         Else
            BEGIN
                insert into SRRateTemp
                select @FromYear,@ToYear,@EffectiveDate,@ItemID,@UOM,@New,@Remarks,getdate(),0 ,@BatchNo,0
             END
     END     

Select'Successfully Executed'
set NOCOUNT OFF
GO
