USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_DP_Arrears]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE  PROCEDURE [dbo].[SP_DP_Arrears] @SRID1 Int,@ODLDID_1 Int 
AS SET NOCOUNT ON


--Declare @SRID1 Int = 2918673
--Declare @ODLDID_1 Int = NULL  
 


Declare @Suppliment Int = 11
Declare @Remarks Varchar(50) = (( select concat(' Previous SRID ',@SRID1,' DP Arrears , Suppliment ',@Suppliment) ))
Declare @Date Table (OLID Int,ContactID Int,StartingDate datetime,EndingDate datetime) 
Insert Into @Date
select OLID,ContactID,dateadd(month,-1,dateadd(Day,1,EOMonth(EndingDate))) StartingDate,EOMonth(EndingDate) EndingDate
from ScaleRegister with(nolock) where ScaleRegisterID = @SRID1
Declare @FromDate datetime = (select StartingDate from @Date) 
Declare @ToDate datetime = (select EndingDate from @Date) 
Declare @ContactID Int = (select ContactID from ScaleRegister with(nolock) where ScaleRegisterID = @SRID1)
Declare @Basic Int = (select round(round(Sum(Amount),2),0) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID1)  


Declare @Charge Table (AppointmentTypeID Int,ContactID Int,Date1 DateTime,Rate Float,DesignationID Int,BP Money,Charge Money,PerDay Money,Amount Float,Continuation1 Int) 
insert into @Charge 
exec SP_ChargeAmount @FromDate,@ToDate,@ContactID,@Suppliment,0,@Basic,NULL


Declare @SRID3 Int = ( select Max(ScaleRegisterID) from ScaleRegister A with(nolock) 
	inner join @Date b on b.ContactID=a.ContactID and Year(b.StartingDate)=SalaryYear and Month(b.StartingDate)=SalaryMonth and b.OLID=a.OLID where Suppliment=@Suppliment )


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @Rate1 table (RateTypeID Int,Rates Float,Date1 DateTime,ESID1 Int)
Insert into @Rate1
select RateTypeID,Rates,Date1,ESID from (
select RateTypeID,cast(isnull(Rates,0) as Float) Rates,Date1,1 ESID,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances'and RateTypeID in (1,20) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A where SlNo=1 
union all 
select RateTypeID,Rates,Date1,ESID from (
select RateTypeID,cast(Rates as Float) Rates,Date1,19 ESID,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails_Contract() where RateTypes='Allowances'and RateTypeID in (1,20,2,3,35) and ContactID=(select ContactID from @Date) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A where SlNo=1 


Declare @Rate2 table (RateTypeID Int,Rates Float,Date1 DateTime,ESID1 Int)
Insert into @Rate2
select RateTypeID,(case when NotCalCPC=0 then 0 else Rates end) Rates,Date1,ESID from (
select RateTypeID,cast(Rates as Float) Rates,Date1,1 ESID,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Additions' and RateTypeID in (13,14,15) ) A
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A cross Join Fn_JoinDate(@FromDate,@ToDate,(select ContactID from @Date)) E 
where SlNo=1 
union all 
select RateTypeID,Rates,Date1,ESID from (
select RateTypeID,cast(Rates as Float) Rates,Date1,19 ESID,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails_Contract() where RateTypes='Additions'and RateTypeID in (13,20) and ContactID=(select ContactID from @Date) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A where SlNo=1 



Declare @Rate3 table (RateTypeID Int,Rates Float,Date1 DateTime,ESID1 Int)
Insert into @Rate3
select RateTypeID,(case when NotCalCPC=0 then 0 else Rates end) Rates,Date1,ESID from (
select RateTypeID,cast(Rates as Float) Rates,Date1,1 ESID,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Deductions' and RateTypeID in (17,13) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A cross Join Fn_JoinDate(@FromDate,@ToDate,(select ContactID from @Date)) E  
where SlNo=1 
union all 
select RateTypeID,Rates,Date1,ESID from (
select RateTypeID,cast(Rates as Float) Rates,Date1,19 ESID,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails_Contract() where RateTypes='Deductions'and RateTypeID in (17,13,29,30) and ContactID=(select ContactID from @Date) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A where SlNo=1 


Declare @ODLDID1 table (SlNo Int,EADID Int,ContactID Int,AppointmentTypeID Int,Percentage Money,JoiningDuration Int,RelievedDate DateTime,ReportedDate2 DateTime,ODLDID Int,JD_ODLDID Int,JD_Days Int,LienODLDID Int,Regularised Int,OLID Int,AcOLID Int,Date1 DateTime,HolidayDate DateTime,Sunday Int,Saturday Int,Attendance Int,EmployeeGradeID Int,MinNo Int,FromDate DateTime,ToDate DateTime,LTypeID Int)
insert into @ODLDID1
select a.*,isnull(LeaveTypeID,0) LTypeID 
from @Date A1
cross apply (select * from Fn_SalaryODLDID(OLID,@FromDate,@ToDate,a1.ContactID,NULL,@Suppliment,1)) A
outer apply (select * from  Fn_Leaves(@FromDate,@ToDate,a1.ContactID,@Suppliment) L where l.ContactID=a.ContactID and l.Date1=a.Date1) L 
where (case when JD_Days!=0 and isnull(isnull(isnull(HolidayDate,Sunday),(case when Saturday in (2,4) then Saturday else NULL end)),(case when JoiningDuration=0 then NULL else JoiningDuration end)) is NULL then 0 else 1 end) = 1 
and (case when isnull(Paid,0)=0 and isnull(LeaveTypeID,0)!=0 then 0 else 1 end)=1

Declare @OLDID2 Table (ODLDID Int,ODID Int,OLDID Int,DesignationID Int)
insert into @OLDID2
select ODLDID,od.OfficeDepartmentAllocationID as ODID,old.OfficeLocationDepartmentAllocationID as OLDID,DesignationID
from (select distinct ODLDID ODLDID1 from @ODLDID1 union select distinct LienODLDID from @ODLDID1) A 
inner join ODLDAllocation odld with (nolock) on odld.ODLDID=a.ODLDID1
inner join OfficeDepartmentAllocation od with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
inner join OfficeLocationAccountingUnitDetails ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID 
inner join OfficeLocationDepartmentAllocation old with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ola.OLID

--Declare @OLDID1 Table (ContactID Int,ODLDID Int,Allow_ODLDID Int,ODID Int,OLDID Int,DesignationID Int,EmployeeGradeID Int,Date1 DateTime,LTypeID Int,AppointmentTypeID Int,OLDID1 Int,ODID1 Int,DesignationID1 Int)
--insert into @OLDID1
--select distinct a.ContactID,a.ODLDID,Allow_ODLDID,b.ODID,b.OLDID,b.DesignationID,a.EmployeeGradeID,Date1,LTypeID,AppointmentTypeID,b1.OLDID OLDID1,b1.ODID ODID1,b1.DesignationID DesignationID1
--from (select distinct ContactID,isnull(LienODLDID,ODLDID) Allow_ODLDID,EmployeeGradeID,Date1,LTypeID,ODLDID,AppointmentTypeID from @ODLDID1 ) A 
--cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B where b.ODLDID = (case when AppointmentTypeID in (43) then a.ODLDID else a.Allow_ODLDID end)) B 
--cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B1 where b1.ODLDID = (case when AppointmentTypeID in (43) then a.Allow_ODLDID else a.ODLDID end) ) B1 

Declare @OLDID1 Table (ContactID Int,ODLDID Int,Allow_ODLDID Int,ODID Int,OLDID Int,DesignationID Int,EmployeeGradeID Int,Date1 DateTime,LTypeID Int,AppointmentTypeID Int,OLDID1 Int,ODID1 Int,DesignationID1 Int)
insert into @OLDID1
select distinct a.ContactID,a.ODLDID,Allow_ODLDID,b.ODID --,b.OLDID
,(case when AppointmentTypeID in (23) then b1.OLDID else b.OLDID end) OLDID
,b.DesignationID,a.EmployeeGradeID,Date1,LTypeID,AppointmentTypeID,b1.OLDID OLDID1,b1.ODID ODID1,b1.DesignationID DesignationID1
from (select distinct ContactID,isnull(@ODLDID_1,isnull(LienODLDID,ODLDID)) Allow_ODLDID,EmployeeGradeID,Date1,LTypeID,ODLDID,AppointmentTypeID from @ODLDID1 ) A 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B where b.ODLDID = a.Allow_ODLDID ) B 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B1 where b1.ODLDID = a.ODLDID ) B1 

Declare @PH Table (ContactID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
insert into @PH
select ContactID,c.FromDate,isnull(c.ToDate,@ToDate),isnull(Date1,isnull(c.ToDate,@ToDate)) from (
select * from (
select ContactID,EmployeePayDetailsID,(Row_Number() over (partition By ContactID Order By ContactID,EmployeePayDetailsID desc)) MaxNo 
from EmployeePayDetails with(nolock) where EmployeepayTypeID=29 and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID 
) A where MaxNo=1 ) A 
left join EmployeePayDetailsSub C with(nolock) on c.EmployeePayDetailsID=a.EmployeePayDetailsID
left join @Date2 b on b.Date1 Between c.FromDate and isnull(c.ToDate,@ToDate)


Declare @Exemptions Table (EmployeePayDetailsID Int,ContactID Int,EmployeepayID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
Insert into @Exemptions
select EmployeePayDetailsID,ContactID,EmployeepayID,FromDate,ToDate,Date1 from (
select a.*,FromDate,isnull(ToDate,@ToDate) ToDate from (select * from (
select EmployeePayDetailsID,b.ContactID,EmployeepayID,(Row_Number() over (Partition By b.ContactID,EmployeepayID Order By b.ContactID,EmployeepayID,EffectiveDate desc,EmployeePayDetailsID desc)) MaxNo  
from @Date A1 
inner join EmployeePayDetails B with(nolock) on EmployeepayTypeID in (31) and Approved=1 and isnull(Cancel,0)=0 and b.ContactID = a1.ContactID 
) A where MaxNo=1 ) A inner Join EmployeePayDetailsSub B with(nolock) on b.EmployeePayDetailsID=a.EmployeePayDetailsID
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate 


Declare @Allowances Table (ContactID Int,ODLDID Int,RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),RateSeries Int,Duration Float,Rates Float,MaximumAmount Float,Date1 DateTime,LTypeID Int,Exemption Int,PerDay Float,MinNo Int,MaxPerDay Float,Amount1 Float,MaxDay Int,Amount Float,MaxiPerDay Float)
insert into @Allowances
select * ,(case when MaxPerDay>0 and MaxPerDay<MaxDay and Duration!=1 then 0 else Amount end) Amount1 
,(case when Amount=0 then 0 else (case when Duration=1 and MaximumAmount>0 then (MaximumAmount/Day(@ToDate)) else 0 end) end) MaxiPerDay from (
select * ,(Row_Number() over (Partition By ContactID,RateTypeID,(case when Amount=0 then 99 else 1 end) Order By ContactID,RateTypeID,Date1)) MaxDay from (
select * ,(case when Exemption=1 then 0 when LTypeID in (3,5,21,23) then 0 when LTypeID!=0 and RateTypeID not in (2,3,5,17,38) then 0 else PerDay end) Amount from ( 
select * ,round((case when RateMode='Amount' and Duration!=1 and MaximumAmount>0 then (MaximumAmount/Rates) else Rates end),0)  MaxPerDay from (
select o.ContactID,o.ODLDID,RateTypeID,RateMode,RateType,RateSeries,Duration
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(Rates,0) end) Rates,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(MaximumAmount,0) end) MaximumAmount
,b.Date1,o.LTypeID,(case when o5.ContactID is NULL then 0 else 1 end) Exemption
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else (case when RateMode='Amount' and Duration=1 then (Rates/Day(@ToDate)) else Rates end) end) PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID,b.Date1 Order By o.ContactID,RateTypeID,b.Date1,OfficeDepartmentAllocationID desc)) MinNo from ( 
select RateTypeID,RateMode,RateType,RateSeries,cast(Duration as Float) Duration,cast(Rates as Float) Rates,cast(MaximumAmount as Float) MaximumAmount,FromDate,ToDate,RateUnits,TerritoryClassTypeID,EmployeeGradeID,TerritoryID,DesignationID,OfficeDepartmentAllocationID 
	from FnRateDetails() where RateTypes='Allowances' and isnull(ExternalOrganisationTypeID,0)=0 
	and (case when RateTypeID=3 and isnull(Rates,0)=0 and RateSeries not in (1,4) then 0 else 1 end)=1 
	and (case when RateTypeID=3 and EmployeeGradeID is NULL then 0 else 1 end)=1
	and (RateTypeID in (2,3,35)) 
) A full join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
full join @OLDID1 O on o.Date1=b.Date1
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and HRATerritoryClassTypeID=(case when RateTypeID=2 and isnull(RateUnits,0)=0 then TerritoryClassTypeID else 0 end)) HRA1  
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and CCATerritoryClassTypeID=(case when RateTypeID=3 then TerritoryClassTypeID else 0 end) and o.EmployeeGradeID=(case when RateTypeID=3 then a.EmployeeGradeID else 0 end)) CCA1  
Outer Apply (select top 1 TerritoryID from OfficeLocationDepartmentAddress with(nolock) where OfficeLocationDepartmentAllocationID=OLDID and TerritoryID=(case when RateTypeID=5 then a.TerritoryID else 0 end)) SL
left join @Exemptions o5 on o5.Date1=b.Date1 and o5.EmployeepayID=a.RateTypeID 
left join @PH O4 on o4.Date1=b.Date1
where (case when RateTypeID=2 and hra1.HRATerritoryClassTypeID is NULL then 0  
when RateTypeID=3 and cca1.CCATerritoryClassTypeID is NULL then 0  
when RateTypeID in (35) and o4.ContactID is NULL then 0 
else 1 end) = 1
) A where MinNo = 1 
) A 
) A 
) A 

Declare @HRARates Table (ContactID Int ,Rates Float,Nos Int)
Insert into @HRARates
select distinct ContactID,cast(Rates as Float) Rates,1 Nos from @Allowances where RateTypeID=2 


Declare @Deductions Table (RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),Duration Float,FromDate DateTime,ToDate DateTime,RateSeries Int,Rates Float,TerritoryID Int,Date1 DateTime,EQGradeID Int,NotCalCPC Int,ContactID Int,ODLDID Int,BP_PerDay Float,Amount Float)
insert into @Deductions
select RateTypeID,RateMode,(case when EQGradeID=8 then 'Amount' else RateType end) RateType,Duration,FromDate,ToDate,RateSeries,Rates,TerritoryID,Date1,EQGradeID,0 NotCalCPC 
,(case when RateTypeID in (10,20) and QtrCID1 is not NULL and a.ContactID is NULL then b.ContactID else a.ContactID end) ContactID
,(case when RateTypeID in (10,20) and QtrCID1 is not NULL and a.ODLDID is NULL then b.ODLDID else a.ODLDID end) ODLDID
,(case when RateTypeID in (10,20) and QtrCID1 is not NULL then BP_PerDay else 0 end) BP_PerDay
,(case when MaxDay=1 and RateMode='Amount' and RateTypeID in (14,18) then Rates when RateMode='Amount' and RateTypeID in (10,20) and isnull(EQGradeID,0)=8 then (Rates/Day(@ToDate)) else 0 end) Amount from (
select RateTypeID,RateMode,RateType,Duration,a.FromDate,a.ToDate,RateSeries,Rates,a.TerritoryID,a1.ContactID,o.ODLDID,b.Date1,0 BP_PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID Order By o.ContactID,RateTypeID,b.Date1)) MaxDay
,hra.EQGradeID,hra.ContactID QtrCID1 from ( 
select RateTypeID,EmployeeGradeID,RateMode,RateType,cast(Duration as Float) Duration,BillingMonth,FromDate,isnull(ToDate,EOMonth(cast(GetDate() as Date))) ToDate,RateSeries,cast(Rates as Float) Rates,RateUnits,TerritoryClassTypeID,ExternalOrganisationTypeID,TerritoryID,EmployeeQuartersGradeID 
from FnRateDetails() where RateTypes='Deductions' and RateTypeID in (10,20)) A 
cross join @Date A1 
full join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate and isnull(BillingMonth,Month(@FromDate)) = Month(@FromDate) 
full join @OLDID1 O on o.Date1=b.Date1
cross join (select top 1 OLDID from @OLDID1 order by Date1 desc) B1 
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID=isnull(o.OLDID,b1.OLDID) and HRATerritoryClassTypeID=(case when RateTypeID in (10,20) and isnull(ExternalOrganisationTypeID,0)=0 then TerritoryClassTypeID else 0 end)) HRA1  
outer apply (select * from Fn_Quarters(@FromDate,@ToDate,a1.ContactID) hra where hra.ContactID=a1.ContactID and hra.Date1=b.Date1 and hra.SODID1=(case when a.RateTypeID in (10,20) then a.RateTypeID else 0 end) and (case when hra.EQGradeID=8 then 8 else 0 end)=isnull(a.EmployeeQuartersGradeID,0) ) HRA
where (case when RateTypeID in (10) and (case when hra.EQGradeID=8 then hra.ContactID else hra1.HRATerritoryClassTypeID end) is not NULL and hra.ContactID is not NULL 
	and (case when hra.EQGradeID=8 then RateSeries else 2 end)=2 then RateTypeID  
when RateTypeID in (20) and (case when hra.EQGradeID=8 then hra.ContactID else hra1.HRATerritoryClassTypeID end) is not NULL and hra.ContactID is not NULL and RateSeries=2 then RateTypeID  
else 0 end) > 0 
) A left Join (select top 1 ContactID,ODLDID from @ODLDID1 where ReportedDate2=Date1) B on b.ContactID=a.ContactID


Declare @SRID2 Table (ContactID Int) 
Insert into @SRID2
select c.ContactID from ScaleRegister B with(nolock) Inner Join ScaleRegister C with(nolock) on b.ScaleRegisterID = @SRID1 
and c.ContactID=b.ContactID and c.SalaryYear=b.SalaryYear and c.SalaryMonth=b.SalaryMonth and c.OLID=b.OLID 
where c.Suppliment=@Suppliment and c.BillRegisterNo='0'

Declare @SRID Table (ScaleRegisterID Int) 
Insert into @SRID
select c.ScaleRegisterID from ScaleRegister C with(nolock) where c.ScaleRegisterID = @SRID1 
and c.ContactID not in (select ContactID from @SRID2)

Declare @SRID_New Table (ScaleRegisterID Int) 
Insert into @SRID_New
select c.ScaleRegisterID from ScaleRegister C with(nolock) where c.ScaleRegisterID = @SRID1 


;
SET IDENTITY_INSERT ScaleRegister ON
insert into ScaleRegister (ScaleRegisterID, ContactID, SalaryMonth, SalaryYear, StartingDate, EndingDate, OLID, EmployeeCategoryID, AnnualIncrementDate, Bonus, Attendance, TotalBasicPay
, TotalAdditions, TotalDeductions, NetPayments, TaxableAmount, SpecialPayment, RecoveryAmount, Generated, Suppliment, HeldUp, BillRegisterNo, BillRegisterOLID, BillRegisterDate
, CreatedOn, Legacy, LegacyBillRegisterDate, LegacyBillRegisterNo, Remarks, Transferred, OSL, JVNo, JVDate)

select (select Max(ScaleRegisterID)+1 from ScaleRegister with(nolock)) ScaleRegisterID
, ContactID, SalaryMonth, SalaryYear, StartingDate, EndingDate, OLID, EmployeeCategoryID, AnnualIncrementDate, Bonus, Attendance, TotalBasicPay
, TotalAdditions, TotalDeductions, NetPayments, TaxableAmount, SpecialPayment, RecoveryAmount, Generated, @Suppliment Suppliment, HeldUp, '0' BillRegisterNo, NULL BillRegisterOLID, NULL BillRegisterDate
, GetDate() CreatedOn, 0 Legacy, NULL LegacyBillRegisterDate, 0 LegacyBillRegisterNo, @Remarks Remarks, 0 Transferred, OSL, NULL JVNo, NULL JVDate
from @SRID A Inner Join ScaleRegister B with(nolock) on a.ScaleRegisterID=b.ScaleRegisterID
SET IDENTITY_INSERT ScaleRegister OFF

--;
Declare @SRIDNew Table (ScaleRegisterID Int) 
Insert into @SRIDNew
select isnull(Max(ScaleRegisterID),@SRID3) from ScaleRegister with(nolock) where Remarks = @Remarks

--;
Declare @SRID4 Int = (select isnull((select * from @SRIDNew),@SRID3))
--;
exec SP_DEL_SCALEREGISTER_Arrears @SRID4 


;
SET IDENTITY_INSERT ScaleRegisterWithdrawals ON
insert into  ScaleRegisterWithdrawals (ScaleRegisterWithdrawalID, ScaleRegisterID, StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount)
select (select Max(ScaleRegisterWithdrawalID)+1 from ScaleRegisterWithdrawals with(nolock)) ScaleRegisterWithdrawalID
, c.ScaleRegisterID,StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount
from @SRID A Inner Join ScaleRegister B with(nolock) on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C
SET IDENTITY_INSERT ScaleRegisterWithdrawals OFF

;
Declare @SRWIDNew Table (ScaleRegisterWithdrawalID Int) Insert into @SRWIDNew
select ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals A with(nolock) Inner Join @SRIDNew B on a.ScaleRegisterID=b.ScaleRegisterID

;
 insert into ScaleRegisterBasicPayWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,StartingDate,EndingDate,Amount
from ScaleRegisterBasicPayDetails A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
 insert into ScaleRegisterAllowanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,AllowanceID,StartingDate,EndingDate,Amount
from ScaleRegisterAllowances A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
 insert into ScaleRegisterOtherAdditionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherAdditions A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
 insert into ScaleRegisterOtherDeductionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherDeductionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherDeductions A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
 insert into ScaleRegisterLoanandAdvanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Amount
from ScaleRegisterLoansandAdvances A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
 insert into ScaleRegisterRecoveryWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,ScheduleTypeID,StartingDate,EndingDate,Amount,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C


;
 insert into ScaleRegisterBasicPayDetails
select c.ScaleRegisterID,ODLDID,StartingDate,EndingDate,BasicPerDay,Amount,EmployeeStatusID,Remarks
from ScaleRegisterBasicPayDetails A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C

--;
 insert into ScaleRegisterAllowances
select c.ScaleRegisterID,AllowanceID,ODLDID,StartingDate,EndingDate,Amount,Expired,Remarks
from ScaleRegisterAllowances A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID 
Cross Join @SRIDNew C where AllowanceID not in (20,1,2,3,4,35)

;
 insert into ScaleRegisterOtherAdditions
select c.ScaleRegisterID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount,Expired,Remarks
from ScaleRegisterOtherAdditions A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C where SalaryOtherAdditionID not in (13,14,15,20)

;
 insert into ScaleRegisterOtherDeductions
select c.ScaleRegisterID,ODLDID,SalaryOtherDeductionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherDeductions A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C where SalaryOtherDeductionID not in (17,13,29,30,10,20)

;
 insert into ScaleRegisterLoansandAdvances
select c.ScaleRegisterID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,Amount,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Expired
from ScaleRegisterLoansandAdvances A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C

;
 insert into ScaleRegisterRecovery
select c.ScaleRegisterID,ODLDID,ScheduleTypeID,Amount,StartingDate,EndingDate,CurrentInstallmentCount,TotalInstallmentCount,ScheduleID,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C

;
delete from ScaleRegisterAllowances where ScaleRegisterID = @SRID4 and AllowanceID in (20,1,2,3,4,35)
delete from ScaleRegisterOtherAdditions where ScaleRegisterID = @SRID4 and SalaryOtherAdditionID in (13,14,20,15)
delete from ScaleRegisterOtherDeductions where ScaleRegisterID = @SRID4 and SalaryOtherDeductionID in (13,17,30,29,10,20)
;


Declare @BPDP table (SODID Int,ESID Int,ScaleRegisterID Int,DP Int,DA Int,BPDP Int,BPDPDA Int,CPC Int,BPC Int,Gratuity Int,CPCD Int,EPC Int,CPLC Int,CPLCD Int,EPLC Int,HRA Int,CCA Int,PH Int,PC Int)
insert into @BPDP
select isnull(SODID,0) SODID,ESID,ScaleRegisterID,DP,DA,BPDP,BPDPDA
,(case when PC=2 and ESID!=19 then CPC when ESID=19 and isnull(SODID,0)=17 then CPC else 0 end) CPC
,(case when PC=1 and ESID!=19 then BPC else 0 end) BPC,(case when PC=1 and ESID!=19 then Gratuity else 0 end) Gratuity
,(case when PC=2 and ESID!=19 then CPCD when ESID=19 and isnull(SODID,0)=17 then CPCD else 0 end) CPCD
,(case when PC=2 and ESID!=19 then EPC when ESID=19 and isnull(SODID,0)=17 then EPC else 0 end) EPC 
,(case when isnull(SODID,0) in (17,30) and ESID=19 then CPLC else 0 end) CPLC
,(case when isnull(SODID,0)=30 and ESID=19 then CPLCD else 0 end) CPLCD
,(case when isnull(SODID,0)=30 and ESID=19 then EPLC else 0 end) EPLC,HRA,CCA,PH 
,PC from (
select a.*,round(round(isnull((BPDPDA*r.Rates/100),0),2),0) EPC,round(round(isnull((BPDPDA*r1.Rates/100),0),2),0) EPLC,PC from (
select a.*,round(round(isnull((BPDPDA*r.Rates/100),0),2),0) CPCD,round(round(isnull((BPDPDA*r1.Rates/100),0),2),0) CPLCD from (
select a.*,round(round(isnull((BPDPDA*r.Rates/100),0),2),0) BPC,round(round(isnull((BPDP*r1.Rates/100),0),2),0) Gratuity from (
select a.*,round(round(isnull((BPDPDA*r.Rates/100),0),2),0) CPC,round(round(isnull((BPDPDA*r1.Rates/100),0),2),0) CPLC from (
select ESID,ScaleRegisterID,DP,DA,(BP+DP) BPDP,(BP+DP+DA) BPDPDA,round(round(isnull(((BP+DP)*r.Rates/100),0),2),0) HRA
,round(round(isnull(((BP+DP)*r2.Rates/100),0),2),0) PH,round(round(isnull(r1.Rates,0),2),0) CCA from (
select a.*,round(round(isnull(((BP+DP)*r.Rates/100),0),2),0) DA from ( 
select ESID,ScaleRegisterID,BP,round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
select ScaleRegisterID,round(round(Sum(Amount),2),0) BP,(case when isnull(Max(EmployeeStatusID),1)=19 then 19 else 1 end) ESID from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID4 Group By ScaleRegisterID
) A outer apply (select top 1 * from @Rate1 r where r.RateTypeID=20 and ESID1=ESID ) R
) A outer apply (select top 1 * from @Rate1 r where r.RateTypeID=1 and ESID1=ESID ) R  
) A outer apply (select top 1 * from @Rate1 r where r.RateTypeID=2 and ESID1=ESID ) R  
	outer apply (select top 1 * from @Rate1 r where r.RateTypeID=3 and ESID1=ESID ) R1  
	outer apply (select top 1 * from @Rate1 r where r.RateTypeID=35 and ESID1=ESID ) R2  
) A outer apply (select top 1 * from @Rate2 r where r.RateTypeID=13 and ESID1=ESID ) R  
	outer apply (select top 1 * from @Rate2 r where r.RateTypeID=20 and ESID1=ESID ) R1 
) A outer apply (select top 1 * from @Rate2 r where r.RateTypeID=14 and ESID1=ESID ) R  
	outer apply (select top 1 * from @Rate2 r where r.RateTypeID=15 and ESID1=ESID ) R1 
) A outer apply (select top 1 * from @Rate3 r where r.RateTypeID=17 and ESID1=ESID ) R 
	outer apply (select top 1 * from @Rate3 r where r.RateTypeID=30 and ESID1=ESID ) R1 
) A outer apply (select top 1 * from @Rate3 r where r.RateTypeID=13 and ESID1=ESID ) R 
	outer apply (select top 1 * from @Rate3 r where r.RateTypeID=29 and ESID1=ESID ) R1 
outer Apply ( select *,(case when JoinDate>= '2006-04-01' then 2 else 1 end) PC from (
	select ContactID,AppointmentTypeID,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime) JoinDate from (
	select * ,(Row_Number() over (Partition By ContactID Order By ContactID,EmployeeAppointmentDetailsID desc)) MaxNo 
	from EmployeeAppointmentDetails E with(nolock) where Approved=1 and Reported=1 and isnull(EmployeeCategoryID,0)=1 and AppointmentTypeID in (1,26)  
	and e.ContactID=(select ContactID from @Date)  ) A where MaxNo = 1 ) A 	
	) E
) A outer apply (select Max(SalaryOtherDeductionID) SODID from ScaleRegisterOtherDeductions B with(nolock) where b.SalaryOtherDeductionID in (30,17) and b.ScaleRegisterID=(select * from @SRID_New) ) B 
;

Declare @BPDP1 Table (ScaleRegisterID Int,StartingDate DateTime,EndingDate DateTime,BPDP Int,PerDay Float,ODLDID1 Int,ESID Int)
Insert Into @BPDP1
select ScaleRegisterID,StartingDate,EndingDate,(BP+DP) BPDP,((BP+DP)/(select COUNT(*) from @ODLDID1)) PerDay,ODLDID1,ESID from (
select A.* ,round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
select ScaleRegisterID,round(round(Sum(Amount),2),0) BP,(case when isnull(Max(EmployeeStatusID),1)=19 then 19 else 1 end) ESID,Max(ODLDID) ODLDID
,Min(StartingDate) StartingDate,Max(EndingDate) EndingDate,MAX(ODLDID) ODLDID1 
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID4 Group By ScaleRegisterID
) A outer apply (select top 1 * from @Rate1 r where r.RateTypeID=20 and ESID1=ESID ) R
) A where ESID=1

;
 insert into ScaleRegisterALlowances  
select a.ScaleRegisterID,20 AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),DP,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
Group By a.ScaleRegisterID,DP Having DP>0 
union all 
select a.ScaleRegisterID,1 AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),DA,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
Group By a.ScaleRegisterID,DA Having DA>0 
union all 
select a.ScaleRegisterID,2 AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),HRA,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
Group By a.ScaleRegisterID,HRA Having HRA>0 
union all 
select a.ScaleRegisterID,35 AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),PH,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
Group By a.ScaleRegisterID,PH Having PH>0 
union all 
select a.ScaleRegisterID,3 AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),CCA,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
Group By a.ScaleRegisterID,CCA Having CCA>0 
union all
select ScaleRegisterID,AllowanceID,ODLDID,StartingDate,EndingDate,Round(Round(Sum(Amount),2),0) Amount,0 Expired,'' Remarks from (
select a.ScaleRegisterID,RateTypeID AllowanceID,ODLDID,StartingDate,EndingDate,(case when RateTypeID In (2,35) then (Amount*a.PerDay)/100 else Amount1 end) Amount
from @BPDP1 A inner join @Allowances B on B. RateTypeID in (2,3,35) 
) A Group By ScaleRegisterID,AllowanceID,ODLDID,StartingDate,EndingDate 
union all 
select ScaleRegisterID,AllownaceID,ODLDID,StartingDate,EndingDate,Round(Round(Sum(Amount),2),0) Amount,0 Expired,'' Remarks from (
select a.ScaleRegisterID,4 AllownaceID,ODLDID1 ODLDID,StartingDate,EndingDate,cast((Amount) as Money) Amount
from @BPDP1 A cross join @Charge B  
) A Group By ScaleRegisterID,AllownaceID,ODLDID,StartingDate,EndingDate 
;
 insert into ScaleRegisterOtherAdditions  
select * from (
select a.ScaleRegisterID,Max(ODLDID) ODLDID,13 SOAID,Min(StartingDate) StartingDate,Max(EndingDate) EndingDate,CPC,0 Expired,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where PC=2 Group By a.ScaleRegisterID,CPC  
union
select a.ScaleRegisterID,Max(ODLDID),14 SOAID,Min(StartingDate),Max(EndingDate),BPC,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where PC=1 Group By a.ScaleRegisterID,BPC 
union
select a.ScaleRegisterID,Max(ODLDID),15 SOAID,Min(StartingDate),Max(EndingDate),Gratuity,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where PC=1 Group By a.ScaleRegisterID,Gratuity 
union
select a.ScaleRegisterID,Max(ODLDID),20 SOAID,Min(StartingDate),Max(EndingDate),CPLC,0,'' Remarks
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where SODID in (17,30) and ESID=19 Group By a.ScaleRegisterID,CPLC 
) A where CPC!=0 

;
 insert into ScaleRegisterOtherDeductions  
select * from (
select a.ScaleRegisterID,Max(ODLDID) ODLDID,17 SODID,Min(StartingDate) StartingDate,Max(EndingDate) EndingDate,CPCD
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where PC=2 Group By a.ScaleRegisterID,CPCD 
union
select a.ScaleRegisterID,Max(ODLDID),13 SODID,Min(StartingDate),Max(EndingDate),EPC
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where PC=2 Group By a.ScaleRegisterID,EPC 
union
select a.ScaleRegisterID,Max(ODLDID),30 SODID,Min(StartingDate),Max(EndingDate),CPLCD
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where SODID=30 Group By a.ScaleRegisterID,CPLCD 
union
select a.ScaleRegisterID,Max(ODLDID),29 SODID,Min(StartingDate),Max(EndingDate),EPLC
from @BPDP a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
where SODID=30 Group By a.ScaleRegisterID,EPLC 
) A where CPCD!=0 
union all 
select ScaleRegisterID,ODLDID,DeductionID,StartingDate,EndingDate,Round(Round(Sum(Amount),2),0) Amount from (
select a.ScaleRegisterID,RateTypeID DeductionID,ODLDID,StartingDate,EndingDate,(case when RateMode='Percentage' then (Rates*a.PerDay)/100 else Amount end) Amount
from @BPDP1 A inner join @Deductions B on B. RateTypeID in (10,20) 
) A Group By ScaleRegisterID,DeductionID,ODLDID,StartingDate,EndingDate 

;
exec SP_SRID_MismatchUpdate @FromDate,@SRID4 
;
update a set CreatedOn=GetDate() from ScaleRegister a with(nolock) where ScaleRegisterID = @SRID4 
;
--select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID4 











GO
