USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChargeAmount]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_ChargeAmount] 
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@Suppliment int,
	@Continue int,
	@BP1 Float ,
	@DPRate Float
AS 
SET NOCOUNT ON



--Declare @AcOLID Int = 343     
--Declare @FromDate DateTime = '2024-11-01' 
--Declare @ToDate DateTime = '2024-11-30' 
--Declare @ContactID Int = 20637        
--Declare @Suppliment int = 11
--Declare @Continue int = 0
--Declare @BP1 Float = NULL
--Declare @DPRate Float = NULL


Declare @BPDate datetime = '2022-09-01'
Declare @ChargeRate1 float = 7.5 
Declare @ChargeRate2 float = 15 


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @DP table (RateTypeID Int,Rates Float,Date1 DateTime)
Insert into @DP
select RateTypeID,cast(isnull(@DPRate,Rates) as Float),Date1 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances' and RateTypeID in (20) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @BP Table (ContactID Int,Basic Money)
Insert into @BP
select ContactID,Round(round(Sum(PerDay),2),0) Basic from (
select  a.*,b.Date1,(Modifiedvalue/Day(@ToDate)) PerDay from (
select EmployeePayDetailsID EPDID,ContactID,EmployeePayTypeID,Modifiedvalue,isnull(ActualEffectiveDate,EffectiveDate) FromDate 
,isnull((lead(isnull(ActualEffectiveDate,EffectiveDate)) over (Partition By ContactID Order By ContactID,isnull(ActualEffectiveDate,EffectiveDate),isnull(Modifiedvalue,0),EmployeePayDetailsID ))-1,@ToDate) ToDate 
from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate 
) A Group By ContactID 



;WIth Exemption as (
select a.*,OrderNo,Date1 from (
select ContactID,EmployeePayTypeID,ToDesignationID,isnull(ActualEffectiveDate,EffectiveDate) FromDate,@ToDate ToDate
from EmployeePayDetails with(nolock) where ContactID = @ContactID  and EmployeepayTypeID in (15,14,24) and Approved=1 and isnull(Cancel,0)=0
) A Inner Join DesignationHierarchyOrder_Config B1 with(nolock) on b1.DesignationID=a.ToDesignationID
Inner join @Date2 b on b.Date1 Between @FromDate and @ToDate 

) , Data1 as (
select a.* ,(case when Continuation=1 then NULL else Num+1 end) SlNo,(case when e.Date1 is NULL then 0 when AppointmentTypeID in (2,7) then 0 else 1 end) CExemption,b.Date1   from (
select a.* ,(case when @Continue=1 and AuthorityID=0 and Continuation=1 then ContinueDate-1 else ReportedDate1 end) ReportedDate,DesignationID
,(Row_Number() over (partition by (case when Continuation=1 then 1 else 0 end) order by EmployeeAppointmentDetailsID)) Num from (
select * ,RelievedDate1 RelievedDate
--,(case when EOID!=0 and ToODLDID is not NULL then RelievedDate1+1 else RelievedDate1 end) RelievedDate -- 32552
,isnull((Lead(AuthorityID) over (order by RelievedDate1)),AuthorityID) Continuation ,(Lead(RelievedDate1) over (order by RelievedDate1)-1) ContinueDate from ( 
select EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,Regularised,FromODLDID,ToODLDID,AuthorityID,EOID
,(case when RelievedTime like '%PM%' then dateadd(day,1,FORMAT(RelievedDate,'yyyy-MM-dd')) else FORMAT(RelievedDate,'yyyy-MM-dd') end) RelievedDate1 
,isnull((case when ReportedTime like '%AM%' then dateadd(day,-1,FORMAT(ReportedDate,'yyyy-MM-dd')) else FORMAT(ReportedDate,'yyyy-MM-dd') end),@ToDate) ReportedDate1 from (
select EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,Regularised,FromODLDID,ToODLDID,(case when @Continue=1 then isnull(AuthorityID,0) else 0 end) AuthorityID 
--,(case when isnull(ExternalOrganizationID,0)!=0 and AppointmentTypeID=46 then isnull(RelievedTime,RelievedDate)-1 else isnull(RelievedTime,RelievedDate) end) RelievedDate -- 32552
,(case when isnull(ExternalOrganizationID,0)!=0 and AppointmentTypeID=46 then isnull(ReportedTime,ReportedDate)-1 else isnull(RelievedTime,RelievedDate) end) RelievedDate
,(case when isnull(ExternalOrganizationID,0)!=0 and AppointmentTypeID=46 then @ToDate else isnull(ReportedTime,ReportedDate) end) ReportedDate
,isnull(ExternalOrganizationID,0) EOID,ltrim(rtrim(right(isnull(RelievedTime,RelievedDate),8))) RelievedTime
,(case when isnull(ExternalOrganizationID,0)!=0 and AppointmentTypeID=46 and Regularised=0 then '5:30PM' else ltrim(rtrim(right(isnull(ReportedTime,ReportedDate),8))) end) ReportedTime
from EmployeeAppointmentDetails with(nolock) where Approved=1 and isnull(Legacy,0)=0 and Relieved=1 and ContactID = @ContactID 
and AppointmentTypeID in (46,6,7,43)
union all
select EmployeeAppointmentDetailsID,ContactID,2,1,FromODLDID,ToODLDID,0
,FORMAT((case when RelievedTime like '%AM%'then FORMAT(RelievedDate,'yyyy-MM-dd') else dateadd(day,1,FORMAT(RelievedDate,'yyyy-MM-dd')) end),'yyyy-MM-dd') FromDate
,ToDate,0,'10:00AM','5:30PM' from ( 
select EmployeeAppointmentDetailsID,ContactID,FromODLDID,ToODLDID,RelievedDate,RelievedTime from EmployeeAppointmentDetails B with(nolock) where AppointmentTypeID=2 and ContactID=@ContactID
) A Cross Apply ( select dateadd(day,-1,ToDate) ToDate from ( 
	select DocumentNo,FORMAT(DateAndTime,'yyyy-MM-dd') ToDate,StatusID,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo 
	from ActivityApprovals_hrms B with(nolock) where ActivityID=623 and b.DocumentNo=a.EmployeeAppointmentDetailsID 
	) A where MaxNo=1 and StatusID=1 ) B 
inner join ODLDAllocation C with(nolock) on c.ODLDID=a.ToODLDID
inner join EmployeeGradeDesignationAllocation D with(nolock) on d.DesignationID=c.DesignationID --and EmployeeGradeID in (1,2)
) A 
) A where isnull(RelievedDate1,ReportedDate1)<=@ToDate and ReportedDate1>=@FromDate 
) A inner join ODLDAllocation B with(nolock) on b.ODLDID=a.ToODLDID
) A Inner join @Date2 b on b.Date1 Between @FromDate and @ToDate 
left join Exemption E on e.ContactID=a.ContactID and e.ToDesignationID=a.DesignationID and e.Date1=b.Date1
and (case when ReportedDate>@ToDate then @ToDate else  ReportedDate end) Between @FromDate and @ToDate 


) , Leaves as (
select * from (
select * ,(Row_Number() over (Partition By ContactID,Date1 Order By ContactID,Date1,Paid)) MaxNo from (
select distinct ContactID,Date1,LeaveTypeID,Paid from (
select a.*,Date1 from (
select distinct EmployeeLeaveDetailsID,ContactID,a.LeaveTypeID,FromDate,ToDate,isnull(Paid,0) Paid from EmployeeLeaveDetails A with(nolock) 
inner join LeaveTypes L with(nolock) on l.LeaveTypeID=a.LeaveTypeID
		where isnull(Cancel,0)=0 and Approved=1 and LeaveTransactionTypeID=1 and a.LeaveTypeID not in (19,20,12,4,22,17) 
		and (case when @ContactID=0 then 0 else ContactID end)= @ContactID
		and (FromDate>=@FromDate or FromDate>=@ToDate)
		and (ToDate<=@FromDate or ToDate<=@ToDate)
		) A
Inner join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate 
		and Day(Date1)<= (case when @Suppliment=0 then (case when LeaveTypeID in (6,9) then 31 else 15 end) else 31 end)  
) A ) A ) A where MaxNo=1 


) , Rates as (
select ContactID,Continuation,EPDID,ReportedDate,ReportedDate_75,ReportedDate_15,(case when RegulariseDate<ReportedDate_15 then EOMonth(ReportedDate_15) else RegulariseDate end) RegulariseDate from (
select ContactID,isnull(SlNo,Continuation) Continuation,Count(distinct EmployeeAppointmentDetailsID) EPDID,Min(RelievedDate) ReportedDate,(dateadd(Month,3,Min(RelievedDate)))-1 ReportedDate_75 
, (dateadd(Month,3,Min(RelievedDate))) ReportedDate_15,Max(ReportedDate) RegulariseDate
from Data1 Group By ContactID,Continuation,SlNo ) A 

) , Rates1 as (
select distinct a.*,b.Continuation Continuation1
,(case when a.Date1>=@BPDate then @ChargeRate2 when a.Date1<=ReportedDate_75 and b.Continuation!=1 then @ChargeRate1 else @ChargeRate2 end) Rate
from Data1 a inner join Rates b on a.Date1 Between RelievedDate and a.ReportedDate +(case when @Continue>0 then 1 else 0 end)
and (a.Date1 between b.ReportedDate and ReportedDate_75 or a.Date1 between b.ReportedDate_15 and RegulariseDate+(case when @Continue>0 then 1 else 0 end) )
and isnull(SlNo,a.Continuation)=b.Continuation 


) , Charge1 as ( 
select * from (
select * ,(case when CExemption=1 then 0 else (Charge/(select Count(*) from Rates1)) end) PerDay from (
select * ,round(round((BP*DPRate/100),2),0) DP,round(round(((BP+round(round((BP*DPRate/100),2),0))*Rate/100),2),0) Charge from (
select a.*,isnull(c.DesignationID,dn.UnderPromteDesignationID) DesignationID,d.EmployeeCadreTypeID,EmployeeGradeID
,(case when @FromDate>=@BPDate then isnull(@BP1,Basic) else isnull(@BP1,MinimumAmount) end) BP1,isnull(dp.Rates,0) DPRate 
,(((case when @FromDate>=@BPDate then isnull(@BP1,Basic) else isnull(@BP1,MinimumAmount) end)/DAY(@ToDate))*(select Count(*) from Rates1)) BP from (
select Distinct EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,FromODLDID,ToODLDID,Rate,Date1,CExemption from Rates1  
) A left join ODLDAllocation C with(nolock) on c.ODLDID=(case when AppointmentTypeID in (7,46,43,2) then ToODLDID else 0 end) 
left join ODLDAllocation C1 with(nolock) on c1.ODLDID=(case when AppointmentTypeID in (6) then FromODLDID else 0 end) 
left join Designation DN with(nolock) on dn.DesignationID=c1.DesignationID
left join EmployeeCadreTypeDesignationAllocation D with(nolock) on d.DesignationID=isnull(c.DesignationID,dn.UnderPromteDesignationID) and EmployeeCategoryID=1 
left Join ( select EmployeeCadreTypeID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount
	from EmployeeTimeScalePeriods A with(nolocK) Inner Join EmployeeTimeScales B with(nolock) on b.EmployeeTimeScalePeriodID=a.EmployeeTimeScalePeriodID
	where Approved=1 and EmployeeTimeScaleSeries=1) TS on ts.EmployeeCadreTypeID=d.EmployeeCadreTypeID
left join @BP bp on bp.ContactID=a.ContactID
left join EmployeeGradeDesignationAllocation EGD with(nolock) on egd.DesignationID=isnull(c.DesignationID,dn.UnderPromteDesignationID)
left join @DP dp on dp.Date1=a.Date1
) A ) A ) A 

) , Charge2 as (
select AppointmentTypeID,ContactID,Date1,Rate,DesignationID,BP,Charge,PerDay,Amount,Continuation1 from (
select a.*,BP,Charge,PerDay,LeaveTypeID,Paid,EmployeeGradeID
,(case when isnull(Paid,1)=0 then 0 when isnull(LeaveTypeID,0)!=0 and a.AppointmentTypeID not in (46,2) then 0 when isnull(LeaveTypeID,0)!=0 and a.AppointmentTypeID in (46,2) and EmployeeGradeID not in (1,2) then 0 else PerDay end) Amount
from Rates1 a inner join Charge1 b on b.ContactID=a.ContactID and b.EmployeeAppointmentDetailsID=a.EmployeeAppointmentDetailsID and b.Date1=a.Date1
left join Leaves c on c.ContactID=a.ContactID and c.Date1=a.Date1
) A 

)
select a.* from Charge2 a inner join ( select * ,(Row_Number() over (Order By Amount desc)) MaxNo from (
select ContactID,Continuation1,round(round(Sum(Amount),2),0) Amount from Charge2 Group By ContactID,Continuation1 ) A ) B on b.ContactID=a.ContactID and b.Continuation1=a.Continuation1
where b.MaxNo =1 

--select * from Data1











GO
