USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SchedulesUpdate]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SchedulesUpdate] @ScheduleID int as

Declare @ScheduleMonth int
Declare @ScheduleYear int
Declare @CreditJournalVoucherNo int
Declare @ScheduleDetailsID int
Declare @Debit int
Declare @Credit int
Declare @Ob int=(select OpeningBalance from ScheduleDetails where ScheduleID=@ScheduleID and ScheduleMonth=2 and ScheduleYear=2017)
Declare @Cb int=0
Declare @str varchar(1000)
Declare @str1 varchar(1000)

Declare db_cursor CURSOR For 
select ScheduleMonth,ScheduleYear,CreditJournalVoucherNo,ScheduleDetailsID,DebitTotal,CreditTotal from ScheduleDetails where ScheduleID=@ScheduleID
 and convert(datetime,concat(ScheduleYear,'-',ScheduleMonth,'-1'))>='2017-02-01'
order by ScheduleMonth,ScheduleYear,CreditJournalVoucherNo,ScheduleDetailsID

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @ScheduleMonth,@ScheduleYear,@CreditJournalVoucherNo,@ScheduleDetailsID, @Debit,@Credit

WHILE @@FETCH_STATUS = 0  
BEGIN  

set @Cb=@Ob+isnull(@Debit,0)-isnull(@Credit,0) 

set @str='update ScheduleDetails set OpeningBalance='+cast(@Ob as varchar(100))+',ClosingBalance='+cast(@Cb as varchar(100))+' where ScheduleDetailsID='+cast(@ScheduleDetailsID as varchar(1000))
print @str

set @Ob=@Cb

                                   
FETCH NEXT FROM db_cursor INTO @ScheduleMonth,@ScheduleYear,@CreditJournalVoucherNo,@ScheduleDetailsID, @Debit,@Credit
END  

CLOSE db_cursor  
DEALLOCATE db_cursor 
                                
set @str1='update Schedules set Balance='+cast(@Cb as varchar(100))+'where ScheduleID='+cast(@ScheduleID as varchar(100))
print @str1
GO
