USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CCA_HRA_Rate_Allocation]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CCA_HRA_Rate_Allocation]
 @Query Varchar(100),@ODDID Int,@CCAID Int,@HRAID Int 

AS SET NOCOUNT ON

--Declare @Query Varchar(10) = 'Select'
--Declare @ODDID Int = 5692
--Declare @CCAID Int = 3
--Declare @HRAID Int = 3


IF @Query='Import'
insert into OLDTerritoryClassTypeAllocation 
select @ODDID,(case when @CCAID=0 then NULL else @CCAID end),@HRAID 

else IF @Query='Update'
update b set CCATerritoryClassTypeID=(case when @CCAID=0 then NULL else @CCAID end),HRATerritoryClassTypeID=@HRAID
from OLDTerritoryClassTypeAllocation B where b.OfficeLocationDepartmentAllocationID=@ODDID

select b.* ,Fileas
from OfficeLocationDepartmentAllocation A 
left join OLDTerritoryClassTypeAllocation B on b.OfficeLocationDepartmentAllocationID=a.OfficeLocationDepartmentAllocationID
where a.OfficeLocationDepartmentAllocationID= @ODDID


GO
