USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annex1a_Abstract]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_Annex1a_Abstract] 
	@LoginOLID Int ,
	@FromYear Int ,
	@ToYear Int ,
	@FromFyYear DateTime ,
	@ToFyYear DateTime ,
	@AcOLID varchar(200) ,
	@AcCode varchar(20)

AS SET NOCOUNT ON

--Declare @LoginOLID   Int          = 337
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2026-03-31'
--Declare @AcOLID varchar(200) select @AcOLID = 337
--Declare @AcCode      varchar(20)  = 'ALL'



IF OBJECT_ID('tempdb..#Data21') IS NOT NULL DROP TABLE #Data21
CREATE TABLE #Data21 (
    JVNo Varchar(Max),BRNo Varchar(Max) ,BRDate Varchar(Max) ,Section Varchar(200) ,SectionOfficer Varchar(200) ,LocationCode Varchar(50) ,AcHead Varchar(20) ,DocumentNo Varchar(20) ,DocumentTypeID Int,
	JVOLID Int,WO_PO_OLID Int,WO_PODate Varchar(20),ScheduleCompletionDate Varchar(20),ActualCompletionDate Varchar(20),CommissionedDate Varchar(20),CompletionReportDate Varchar(20)
	,Reference1 Varchar(Max),ExecutionType Varchar(100)	,WO_POAmount Money,WorkInChargeID Int,ODLDID Int,CommissionMnYr Varchar(20),WorkAllocationID Int,WOSanction Varchar(100),
    _10 Money,_11 Money,_12 Money,_13 Money,_14 Money,_15 Money,_16 Money,_17 Money,_18 Money,_19 Money,_20 Money,_21 Money,
    _22 Money,_23 Money,_24 Money,_25 Money,_26 Money,_27a Money,_28 Money,_29 Money,
    _101 Money,_102 Money,_103 Money,_104 Money,_105 Money,_106 Money,_107 Money,_108 Money,_109 Money,_110 Money,
    _111 Money,_112 Money,_113 Money,_114 Money,_115 Money,_116 Money,_117 Money,_118 Money,_119 Money,_120 Money,
    _121 Money,_122 Money,_123 Money,_124 Money,_125 Money,_126 Money,_127 Money,_128 Money,_129 Money,_130 Money,
    _131 Money,_132 Money,_133 Money,_134 Money,_135 Money,_136 Money,_137 Money,_138 Money,_139 Money,_140 Money,
    _141 Money,_142 Money,_143 Money,_144 Money,_145 Money,_146 Money,_147 Money,_148 Money,_149 Money,_150 Money,
    _151 Money,_152 Money,_153 Money,_154 Money,_155 Money,_156 Money,_157 Money,_158 Money,_32 Money,_33 Money	,
	_18a Money,Reference Varchar(Max),_9 Money,_27 Money,_30 Money,_34 Money,_35 Money,_36 Money,
	Status1 Varchar(20),CategorizationDate Varchar(Max),CR_Submitted Varchar(20),Incahrge Varchar(200),Project_objective Varchar(20),
	IfnotCR_Submitted Varchar(20),Time_Overrun Varchar(200),Reasons_Overrun Varchar(200),CostOverrun Varchar(200),Cost_Reasons Varchar(200),
	PendingBills Varchar(200),FyYear Varchar(20),FromFyYear Varchar(20),ToFyYear Varchar(20),OBLabel Varchar(200),ExpenditureHead1 Varchar(200),
	ExpenditureHead2 Varchar(200),ExpenditureHead3 Varchar(200),CBLabel Varchar(200),ExpenditureHead4 Varchar(200),CBLabel1 Varchar(200),
	ExpenditureHead5 Varchar(200),BillsPendingLabel Varchar(200),LocationCode1 Varchar(20),OfficeLocation Varchar(200),List Varchar(100)
)


Declare @FromDate  DateTime     = (select convert(datetime, concat(@FromYear, '-4-1')))
Declare @AcCode1   varchar(20)  = (select left(@AcCode, 6))
Declare @JVNo      Int          = 0  
Declare @DocumentNo Int         = 0 


Declare @OLID table (OLID Int) 
insert into @OLID
select  OLID from OfficeLocationAccountingUnitDetails with(nolock) where (@AcOLID=0 or AcOLID=@AcOLID )
and AcUnit=1 



Declare @OLID1 Int 
DECLARE Cur1 CURSOR FOR select OLID from @OLID Order By OLID 
--------------------------------------------------------
OPEN Cur1; FETCH NEXT FROM Cur1 INTO @OLID1; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------


-- =============================================
-- #Data (was @Data) - add index after insert
-- =============================================
IF OBJECT_ID('tempdb..#Data') IS NOT NULL DROP TABLE #Data
CREATE TABLE #Data (
    OLID Int, JournalVoucherNo Int, AcHead Varchar(20),DocumentTypeID Int,DocumentNo Int,
    _10 Money,_11 Money,_12 Money,_13 Money,_14 Money,_15 Money,_16 Money,_17 Money,_18 Money,_19 Money,_20 Money,_21 Money,
    _22 Money,_23 Money,_24 Money,_25 Money,_26 Money,_27 Money,_28 Money,_29 Money,
    _101 Money,_102 Money,_103 Money,_104 Money,_105 Money,_106 Money,_107 Money,_108 Money,_109 Money,_110 Money,
    _111 Money,_112 Money,_113 Money,_114 Money,_115 Money,_116 Money,_117 Money,_118 Money,_119 Money,_120 Money,
    _121 Money,_122 Money,_123 Money,_124 Money,_125 Money,_126 Money,_127 Money,_128 Money,_129 Money,_130 Money,
    _131 Money,_132 Money,_133 Money,_134 Money,_135 Money,_136 Money,_137 Money,_138 Money,_139 Money,_140 Money,
    _141 Money,_142 Money,_143 Money,_144 Money,_145 Money,_146 Money,_147 Money,_148 Money,_149 Money,_150 Money,
    _151 Money,_152 Money,_153 Money,_154 Money,_155 Money,_156 Money,_157 Money,_158 Money
)
INSERT INTO #Data
EXEC SP_Annexure1a @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @OLID1

-- Index to support downstream joins on JournalVoucherNo and AcHead filter
CREATE INDEX ix_Data_JV_AcHead ON #Data (JournalVoucherNo, AcHead)

-- =============================================
-- #Data2 (was @Data2)
-- =============================================
IF OBJECT_ID('tempdb..#Data2') IS NOT NULL DROP TABLE #Data2
CREATE TABLE #Data2 (WorkOrderNo Int, Amount Money, BRNo Varchar(2000), BRDate Varchar(2000),Canceled Int, Complte Int)
INSERT INTO #Data2
EXEC SP_ExpenditureTotal @OLID1, @FromYear, @AcCode1
CREATE INDEX ix_Data2_WO ON #Data2 (WorkOrderNo)

-- =============================================
-- #CWIP (was @CWIP) - add index after insert
-- =============================================
IF OBJECT_ID('tempdb..#CWIP') IS NOT NULL DROP TABLE #CWIP
CREATE TABLE #CWIP (
    OrderNo Int, DocumentTypeID Int, WorkInChargeID Int, ODLDID Int, Legacy Int,
    WorkOrderNo1 Varchar(50), WorkOrderDate DateTime, JVDate DateTime,
    Table1 Varchar(20), WorkOrderNo Int, TransNo Int, TransDate DateTime,
    OfficeID Int, Description Varchar(500), AccountHead Varchar(10),
    OB Money, Expenditure Money, ReceivedAmount Money, TransferedAmount Money, Asseted Money, CB Money
)
INSERT INTO #CWIP
EXEC SP_CWIP_Expenditure_New @OLID1, @FromFyYear, @ToFyYear, @AcCode1

-- Index to support @OB outer apply and @Data1 group by
CREATE INDEX ix_CWIP_WONo_AcHead ON #CWIP (WorkOrderNo, AccountHead)

--select * from #CWIP where WorkOrderNo = 818395 
-- =============================================
-- #OB1 (was @OB1)
-- =============================================
IF OBJECT_ID('tempdb..#OB1') IS NOT NULL DROP TABLE #OB1
CREATE TABLE #OB1 (AcOLID Int, OLID Int, WONo Int, ExpenditureAmount Money,DocumentTypeID Int)
INSERT INTO #OB1
SELECT AcOLID, a.OLID, DocumentNo WONo, ExpenditureAmount,DocumentTypeID
FROM (
    SELECT * FROM OfficeLocationAccountingUnitDetails a WITH(NOLOCK) WHERE AcOLID = @OLID1
) AS a
INNER JOIN CostRegisterExpenditureDetails b WITH(NOLOCK)
    ON b.DocumentOLID = a.OLID
    AND CAST(EffectiveDate AS date) = DATEADD(day, -1, @FromDate)
left JOIN WorkOrder C WITH(NOLOCK) ON c.WorkOrderNo = b.DocumentNo
left JOIN WorkAllocation WA WITH(NOLOCK)
    ON wa.WorkAllocationID = ISNULL(c.WorkAllocationID, 0)
    AND (CASE WHEN @AcCode = 'ALL' THEN 'ALL' ELSE (MainAccountCode + SubAccountCode) END) = @AcCode1
    AND (CASE WHEN @DocumentNo = 0 THEN 0 ELSE DocumentNo END) = @DocumentNo

CREATE INDEX ix_OB1_WONo ON #OB1 (WONo)

-- =============================================
-- #OB (was @OB)
-- =============================================
IF OBJECT_ID('tempdb..#OB') IS NOT NULL DROP TABLE #OB
CREATE TABLE #OB (AcOLID Int, OLID Int, WONo Int, ExpenditureAmount Money,DocumentTypeID Int, Expenditure1 Money, Asseted1 Money)
INSERT INTO #OB
SELECT a.*, ISNULL(Expenditure, 0) Expenditure, ISNULL(Asseted, 0) Asseted
FROM #OB1 A
OUTER APPLY (
    SELECT SUM(Expenditure) Expenditure, SUM(Asseted) Asseted
    FROM #CWIP B
    WHERE ISNULL(b.WorkOrderNo, 0) = ISNULL(a.WONo, 0)
) B

CREATE INDEX ix_OB_WONo ON #OB (WONo)


-- =============================================
-- #Data1 (was @Data1) - add index after insert
-- =============================================
IF OBJECT_ID('tempdb..#Data1') IS NOT NULL DROP TABLE #Data1
CREATE TABLE #Data1 (WONo Int, List Varchar(100))
INSERT INTO #Data1
SELECT a.WorkOrderNo,
    CASE
        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) < @FromDate
                 THEN 1 ELSE 0 END) <> 0
            THEN 'List1'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List2A'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) = 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List2B'

        WHEN SUM(CASE WHEN a.WorkOrderDate >= @FromDate
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List3'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate 
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) < @FromDate  
					  and (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0)))=0
					  THEN 0 else 1 END) = 0
            THEN concat('List1 not operated during ',@ToYear) 

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) = 0
            THEN concat('List2A not operated during ',@ToYear) 


        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) = 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) = 0
            THEN concat('List2B not operated during ',@ToYear) 
    END AS List
FROM (
    SELECT * FROM #CWIP
    WHERE (CASE WHEN @DocumentNo = 0 THEN 0 ELSE WorkOrderNo END) = @DocumentNo
      AND (CASE WHEN @AcCode = 'ALL' THEN 'ALL' ELSE AccountHead END) = @AcCode1
    UNION ALL 
	select 1 OrderNo,DocumentTypeID,0,0,0,concat(a.DocumentNo,''),@FromDate,@FromDate,'ItemID' ,a.DocumentNo,a.DocumentNo,@FromDate,OfficeID,Description,a.AcHead,0,Sum(_18),Sum(_22),Sum(_26),Sum(_27),Sum(_18+_22-_26-_27)
	from #Data a left join OfficeLocationAccountingUnitDetails b with(nolock) on b.OLID=a.OLID
	left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=left(a.AcHead,6) collate database_default 
	where a.DocumentTypeID=28 
	Group By DocumentTypeID,a.DocumentNo,OfficeID,Description,a.AcHead
	union all 
	select 1 OrderNo,DocumentTypeID,0,0,0,concat(a.JournalVoucherNo,''),@FromDate,@FromDate,'JVNo' ,a.JournalVoucherNo,a.JournalVoucherNo,@FromDate,OfficeID,Description,a.AcHead,0,Sum(_18),Sum(_22),Sum(_26),Sum(_27),Sum(_18+_22-_26-_27)
	from #Data a left join OfficeLocationAccountingUnitDetails b with(nolock) on b.OLID=a.OLID
	left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=left(a.AcHead,6) collate database_default 
	where a.DocumentTypeID=40 
	and JournalVoucherNo in (select JournalVoucherNo from JournalVoucher B where b.JournalVoucherNo=a.JournalVoucherNo and isnull(b.DoucmentNo,0)=0)
	Group By DocumentTypeID,a.JournalVoucherNo,OfficeID,Description,a.AcHead
	union all 
    SELECT * FROM (
        SELECT 1 OrderNO, (CASE when DocumentTypeID=28 then 28 WHEN ISNULL(Legacy,0)=0 THEN 2 ELSE 22 END) DocumentTypeID,
               isnull(WorkInChargeID,0) WorkInChargeID, isnull(ODLDID,0) ODLDID, ISNULL(Legacy,0) Legacy,
               isnull(OfficialReferenceNo,'0') COLLATE database_default OfficialReferenceNo,
               (case when DocumentTypeID=28 then @FromFyYear-1 else WorkOrderDate end) WorkOrderDate, NULL JVDate, 'OB' Table1, 
			   WONo,WONo TransNo, NULL TransDate, ola.OfficeID,
               Description COLLATE database_default Description,
               (MainAccountCode+SubAccountCode) COLLATE database_default AcHead,
               ExpenditureAmount, Expenditure1, 0 DD, 0 EE, Asseted1, ExpenditureAmount FF
        FROM #OB A
        left JOIN WorkOrder B WITH(NOLOCK) ON b.WorkOrderNo = (case when a.DocumentTypeID in (2,22) then A.WONo else 0 end)
        LEFT JOIN OfficeLocationAccountingUnitDetails ola ON ola.OLID = a.AcOLID
        LEFT JOIN WorkAllocation wa WITH(NOLOCK) ON wa.WorkAllocationID = ISNULL(b.WorkAllocationID, 0)
        WHERE ISNULL(Expenditure1, 0) = 0 AND ISNULL(Asseted1, 0) = 0
    ) A
) A
FULL JOIN #OB Z ON z.WONo = a.WorkOrderNo
OUTER APPLY (
    SELECT * FROM (
        SELECT WorkOrderNo WO, CompletionDate, CommissionedDate,
               ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, ISNULL(complete,0) DESC, CompletionReportID DESC) MaxNo
        FROM CompletionReport CR WITH(NOLOCK)
        WHERE cr.WorkOrderNo = a.WorkOrderNo
          AND ISNULL(Canceled,0) = 0
          AND CompletionDate IS NOT NULL
          --AND LEN(OfficialReferenceNo) > 0
    ) A WHERE MaxNo = 1
) CR
OUTER APPLY (
    SELECT * FROM (
        SELECT WorkOrderNo WO, WorksCompletionDate,
               ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, LegacyWOcompletionreportId DESC) MaxNo
        FROM LegacyWOcompletionreport CR WITH(NOLOCK)
        WHERE cr.WorkOrderNo = a.WorkOrderNo
          AND ISNULL(Canceled,0) = 0 and Approved=1 
          AND WorksCompletionDate IS NOT NULL
          --AND LEN(OfficialReferenceNo) > 0
    ) A WHERE MaxNo = 1
) CR1
GROUP BY a.WorkOrderNo
ORDER BY WorkOrderNo

CREATE INDEX ix_Data1_WONo ON #Data1 (WONo)

-- =============================================
-- #WONo (was @WONo)
-- =============================================
IF OBJECT_ID('tempdb..#WONo') IS NOT NULL DROP TABLE #WONo
CREATE TABLE #WONo (DocumentNo Int, DocumentTypeID Int, JVOLID Int)
INSERT INTO #WONo
SELECT DISTINCT DocumentNo,
       (CASE WHEN DocumentTypeID = 22 THEN 2 ELSE DocumentTypeID END) DocumentTypeID,
       JVOLID
FROM JVWorkOrderDetails a WITH(NOLOCK) 
WHERE JVDate BETWEEN @FromFyYear AND @ToFyYear
  AND JVOLID = @OLID1
  AND a.JournalVoucherNo IN (SELECT JournalVoucherNo FROM #Data b WHERE b.JournalVoucherNo = a.JournalVoucherNo)
  AND DocumentNo != 0

CREATE INDEX ix_WONo_Doc ON #WONo (DocumentNo, DocumentTypeID, JVOLID)

-- =============================================
-- FINAL SELECT with OPTION (RECOMPILE)
-- =============================================


insert into #Data21

SELECT
    a.*,
    CONCAT('Opening Balance as on ', FromFyYear) OBLabel,
    CONCAT('Expenditure Booked in the Year ', FyYear) ExpenditureHead1,
    CONCAT('ECWIP Received during the year  ', FyYear) ExpenditureHead2,
    CONCAT('CWIP Transferred during the year ', FyYear) ExpenditureHead3,
    CONCAT('Closing Balance as on ', ToFyYear) CBLabel,
    CONCAT('If work is ONGOING as on ', ToFyYear, '  ,furnish following information') ExpenditureHead4,
    CONCAT('Total expenditure incurred on project upto ', ToFyYear, ' including provision') CBLabel1,
    CONCAT('If work is COMPLETED as on ', ToFyYear, '  ,furnish following information') ExpenditureHead5,
    CONCAT('Amount of Bills pending as on ', ToFyYear, ' in respect of completed works ') BillsPendingLabel,
    a.LocationCode,
    REPLACE(REPLACE(OfficeLocation, 'O & M ', ''), 'O&M ', '') OfficeLocation,
    List
FROM (
    SELECT
        isnull(LEFT(JVNo, NULLIF(LEN(JVNo), 0) - 1) ,(case when DOcumentTypeID=10 then LEFT(JVNo1, NULLIF(LEN(JVNo1), 0) - 1) else NULL end)) JVNo, BRNo, BRDate,
        LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(ISNULL(ol.OfficeLocation,''),'O&M - Non Accounting Section',''),' O&M - Accounting Section',' Accounting'),' 33/11 KV Stations',' Stations'))) Section,
        ISNULL(ct.Fileas,'') SectionOfficer,
        a.*,
        ISNULL(_9,0) _9,
        (_27a + ISNULL(_27b,0)) _27,
        ((ISNULL(_9,0)+_18+_22+_28+_29) - (_26+_27a+ISNULL(_27b,0))) _30,
        (_32+_33) _34,
        ISNULL(d2.Amount,0) _35,
        (CASE when left(a.AcHead,4) in ('14.6','14.7','14.8','14.9') then 0	WHEN ISNULL(d2.Complte,0)=0 THEN (ISNULL(WO_POAmount,0) - ISNULL(d2.Amount,0)) ELSE 0 END) _36,
        (CASE WHEN ActualCompletionDate IS NULL then 'Ongoing' ELSE 'Completed' END) Status1,
        isnull(LEFT(CategorizationDate, NULLIF(LEN(CategorizationDate), 0) - 1), 
		(case when DOcumentTypeID=10 then LEFT(CategorizationDate1, NULLIF(LEN(CategorizationDate1), 0) - 1) else NULL end)) CategorizationDate,
        (CASE WHEN ActualCompletionDate IS NULL THEN '' ELSE 'Yes' END) CR_Submitted,
        ISNULL(ct.Fileas,'') Incahrge,
        ISNULL(WorkCategoryMainTypeCode,'') Project_objective,
        '' IfnotCR_Submitted, '' Time_Overrun, '' Reasons_Overrun, '' CostOverrun, '' Cost_Reasons, 0 PendingBills,
        (CAST(@FromYear AS varchar(4))+'-'+CAST(RIGHT(@ToYear,2) AS varchar(4))) AS FyYear,
        CONVERT(varchar,@FromFyYear,104) AS FromFyYear,
        CONVERT(varchar,@ToFyYear,104) AS ToFyYear
    FROM ( 

select a.* ,(case when a.DocumentTypeID=28 then MaterialCode else Reference1 collate database_default end) Reference
from (

SELECT Max(LocationCode) LocationCode ,
            AcHead,DocumentNo,DocumentTypeID,JVOLID, 
			Max(WO_PO_OLID) WO_PO_OLID,
            Max(WO_PODate) WO_PODate,
            Max(ScheduleCompletionDate) ScheduleCompletionDate,
            Max(ActualCompletionDate) ActualCompletionDate,
            Max(CommissionedDate) CommissionedDate,
            Max(CompletionReportDate) CompletionReportDate,
            Max(Reference1) Reference1,
			Max(ExecutionType) ExecutionType, Max(WO_POAmount) WO_POAmount, Max(WorkInChargeID) WorkInChargeID, Max(ODLDID) ODLDID, 
			Max(CommissionMnYr) CommissionMnYr, Max(WorkAllocationID) WorkAllocationID, Max(WOSanction) WOSanction,
            SUM(_10) _10, SUM(_11) _11, SUM(_12) _12, SUM(_13) _13, SUM(_14) _14, SUM(_15) _15, SUM(_16) _16,
            SUM(_17) _17, SUM(_18) _18, SUM(_19) _19, SUM(_20) _20, SUM(_21) _21, SUM(_22) _22, SUM(_23) _23,
            SUM(_24) _24, SUM(_25) _25, SUM(_26) _26, SUM(_27a) _27a, SUM(_28) _28, SUM(_29) _29, SUM(_101) _101,
            SUM(_102) _102, SUM(_103) _103, SUM(_104) _104, SUM(_105) _105, SUM(_106) _106, SUM(_107) _107, SUM(_108) _108,
            SUM(_109) _109, SUM(_110) _110, SUM(_111) _111, SUM(_112) _112, SUM(_113) _113, SUM(_114) _114, SUM(_115) _115,
            SUM(_116) _116, SUM(_117) _117, SUM(_118) _118, SUM(_119) _119, SUM(_120) _120, SUM(_121) _121, SUM(_122) _122,
            SUM(_123) _123, SUM(_124) _124, SUM(_125) _125, SUM(_126) _126, SUM(_127) _127, SUM(_128) _128, SUM(_129) _129,
            SUM(_130) _130, SUM(_131) _131, SUM(_132) _132, SUM(_133) _133, SUM(_134) _134, SUM(_135) _135, SUM(_136) _136,
            SUM(_137) _137, SUM(_138) _138, SUM(_139) _139, SUM(_140) _140, SUM(_141) _141, SUM(_142) _142, SUM(_143) _143,
            SUM(_144) _144, SUM(_145) _145, SUM(_146) _146, SUM(_147) _147, SUM(_148) _148, SUM(_149) _149, SUM(_150) _150,
            SUM(_151) _151, SUM(_152) _152, SUM(_153) _153, SUM(_154) _154, SUM(_155) _155, SUM(_156) _156, SUM(_157) _157,
            SUM(_158) _158, 0 _32, 0 _33, 
			(ABS(SUM(ISNULL(_18,0)))+ABS(SUM(ISNULL(_22,0)))+ABS(SUM(ISNULL(_26,0)))+ABS(SUM(ISNULL(_27a,0)))) _18a
FROM (
        SELECT max(LocationCode) LocationCode ,
            AcHead, (case when DocumentNo is NULL and DocumentTypeID=40 then JournalVoucherNo else DocumentNo end) DocumentNo , 
			DocumentTypeID,JVOLID, WO_PO_OLID,
            CONVERT(varchar,MAX(ISNULL(WO_PODate,'')), 104) WO_PODate,
            CONVERT(varchar,MAX(ScheduleCompletionDate), 104) ScheduleCompletionDate,
            CONVERT(varchar,MAX(ActualCompletionDate), 104) ActualCompletionDate,
            CONVERT(varchar,MAX(CommissionedDate), 104) CommissionedDate,
            CONVERT(varchar,MAX(CompletionReportDate), 104) CompletionReportDate,
            (CASE WHEN DocumentTypeID=1 THEN 'PO No' WHEN DocumentTypeID=12 THEN 'RV No' WHEN DocumentTypeID=10 THEN 'Invoice No' WHEN DocumentTypeID=40 THEN 'JV No' WHEN DocumentTypeID=45 THEN 'AT No' ELSE Reference END) Reference1,
			ExecutionType, WO_POAmount, WorkInChargeID, ODLDID, 
			COALESCE(RIGHT(CONVERT(VARCHAR, Max(CommissionedDate), 106), 8), RIGHT(CONVERT(VARCHAR, Max(CommissionedDate), 106), 8) ) AS CommissionMnYr
			, WorkAllocationID, WOSanction,
            SUM(_10) _10, SUM(_11) _11, SUM(_12) _12, SUM(_13) _13, SUM(_14) _14, SUM(_15) _15, SUM(_16) _16,
            SUM(_17) _17, SUM(_18) _18, SUM(_19) _19, SUM(_20) _20, SUM(_21) _21, SUM(_22) _22, SUM(_23) _23,
            SUM(_24) _24, SUM(_25) _25, SUM(_26) _26, SUM(_27a) _27a, SUM(_28) _28, SUM(_29) _29, SUM(_101) _101,
            SUM(_102) _102, SUM(_103) _103, SUM(_104) _104, SUM(_105) _105, SUM(_106) _106, SUM(_107) _107, SUM(_108) _108,
            SUM(_109) _109, SUM(_110) _110, SUM(_111) _111, SUM(_112) _112, SUM(_113) _113, SUM(_114) _114, SUM(_115) _115,
            SUM(_116) _116, SUM(_117) _117, SUM(_118) _118, SUM(_119) _119, SUM(_120) _120, SUM(_121) _121, SUM(_122) _122,
            SUM(_123) _123, SUM(_124) _124, SUM(_125) _125, SUM(_126) _126, SUM(_127) _127, SUM(_128) _128, SUM(_129) _129,
            SUM(_130) _130, SUM(_131) _131, SUM(_132) _132, SUM(_133) _133, SUM(_134) _134, SUM(_135) _135, SUM(_136) _136,
            SUM(_137) _137, SUM(_138) _138, SUM(_139) _139, SUM(_140) _140, SUM(_141) _141, SUM(_142) _142, SUM(_143) _143,
            SUM(_144) _144, SUM(_145) _145, SUM(_146) _146, SUM(_147) _147, SUM(_148) _148, SUM(_149) _149, SUM(_150) _150,
            SUM(_151) _151, SUM(_152) _152, SUM(_153) _153, SUM(_154) _154, SUM(_155) _155, SUM(_156) _156, SUM(_157) _157,
            SUM(_158) _158, 0 _32, 0 _33, SUM(_18a) _18a
        FROM (
            SELECT
                isnull(a.JournalVoucherNo,j.JournalVoucherNo) JournalVoucherNo,Max(left(j.LocationCode,3)) LocationCode,
                ISNULL(b.AcHead, a.AcHead) AcHead,
                (case when b.DocumentTypeID=28 THEN b.DocumentNo ELSE isnull(a.DocumentNo,j.DoucmentNo) END) DocumentNo,
                (case when b.DocumentTypeID=28 THEN b.DocumentTypeID ELSE isnull((CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END),j.DocumentTypeID) END) DocumentTypeID,
                isnull(JVOLID,j.OLID) JVOLID, 
				isnull(JVOLID,j.OLID) WO_PO_OLID,
                MAX(case when b.DocumentTypeID=28 then @FromFyYear else WO_PODate end) WO_PODate,
                MAX(case when b.DocumentTypeID=28 then NULL else ScheduleCompletionDate end) ScheduleCompletionDate,
				(case when b.DocumentTypeID=28 then @ToFyYear else (case when @ToFyYear<MAX(isnull(ActualCompletionDate, cr1.WorksCompletionDate)) then NULL else MAX(isnull(ActualCompletionDate, cr1.WorksCompletionDate)) end) end) ActualCompletionDate,
                MAX(case when b.DocumentTypeID=28 then NULL else CommissionedDate end) CommissionedDate,
                MAX(case when b.DocumentTypeID=28 then @ToFyYear else  ISNULL(a.CompletionReportDate, cr1.CompletionReportDate) end) CompletionReportDate,
                (case when b.DocumentTypeID=28 then 'ItemID' else LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(Reference, CHAR(13), ' '), CHAR(10), ' '), CHAR(9), ''))) end) Reference,
                (case when b.DocumentTypeID=28 then '-' else ExecutionType end) ExecutionType, 
				(case when b.DocumentTypeID=28 then 0 else WO_POAmount end) WO_POAmount,
                (case when b.DocumentTypeID=28 then 0 else (SELECT WorkInChargeID FROM JVWorkOrderDetails WHERE JVWorkOrderDetailsID IN (SELECT MAX(J.JVWorkOrderDetailsID) FROM JVWorkOrderDetails J WHERE J.DocumentNo = A.DocumentNo)) end) AS WorkInChargeID,
                (case when b.DocumentTypeID=28 then 0 else (SELECT ODLDID FROM JVWorkOrderDetails WHERE JVWorkOrderDetailsID IN (SELECT MAX(J.JVWorkOrderDetailsID) FROM JVWorkOrderDetails J WHERE J.DocumentNo = A.DocumentNo)) end) ODLDID ,
                (case when b.DocumentTypeID=28 then 0 else WorkAllocationID end) WorkAllocationID,
                (case when b.DocumentTypeID=28 then NULL else (CASE WHEN (MONTH(WO_PODate)) <= 3 THEN CONVERT(varchar(4), YEAR(WO_PODate)-1) + '-' + CONVERT(varchar(4), YEAR(WO_PODate)%100)
                      ELSE CONVERT(varchar(4), YEAR(WO_PODate)) + '-' + CONVERT(varchar(4), (YEAR(WO_PODate)%100)+1) END) end) AS WOSanction,
                SUM(ISNULL(_10,0)) _10, SUM(ISNULL(_11,0)) _11, SUM(ISNULL(_12,0)) _12,
                SUM(ISNULL((CASE WHEN c.ToAcHead='17.301' THEN 0 WHEN TableName='DemandRaising' and LEFT(a.AcHead,6)=LEFT(b.AcHead,6) THEN AssetAmount WHEN TableName='DivisionAdjustment' and LEFT(a.AcHead, 4) NOT IN ('14.9', '14.8', '14.7') and c.FromAcHead not in ('17.301') THEN AssetAmount ELSE _13 END),0)) _13,
                SUM(ISNULL(_14,0)) _14, SUM(ISNULL(_15,0)) _15, 
				SUM(ISNULL((CASE WHEN TableName='ProformaInvoice' then AssetAmount else _16 end),0)) _16, 
				SUM(ISNULL(_17,0)) _17,
                SUM(ISNULL((CASE WHEN TableName='ProformaInvoice' and c.ToAcHead!='42.401' then AssetAmount WHEN TableName='DemandRaising' and LEFT(a.AcHead,6)=LEFT(b.AcHead,6) THEN AssetAmount WHEN TableName='DivisionAdjustment' and LEFT(a.AcHead, 4) NOT IN ('14.9', '14.8', '14.7') THEN AssetAmount ELSE _18 END),0)) _18,
                SUM(ISNULL(_19,0)) _19, SUM(ISNULL(_20,0)) _20, SUM(ISNULL(_21,0)) _21, SUM(ISNULL(_22,0)) _22,
                SUM(ISNULL(_23,0)) _23, SUM(ISNULL(_24,0)) _24, SUM(ISNULL(_25,0)) _25, SUM(ISNULL(_26,0)) _26,
                SUM(ISNULL(_27,0)) _27a, SUM(ISNULL(_28,0)) _28, SUM(ISNULL(_29,0)) _29, SUM(ISNULL(_101,0)) _101,
                SUM(ISNULL(_102,0)) _102, SUM(ISNULL(_103,0)) _103, SUM(ISNULL(_104,0)) _104, SUM(ISNULL(_105,0)) _105,
                SUM(ISNULL(_106,0)) _106, SUM(ISNULL(_107,0)) _107, SUM(ISNULL(_108,0)) _108, SUM(ISNULL(_109,0)) _109,
                SUM(ISNULL(_110,0)) _110, SUM(ISNULL(_111,0)) _111, SUM(ISNULL(_112,0)) _112, SUM(ISNULL(_113,0)) _113,
                SUM(ISNULL(_114,0)) _114, SUM(ISNULL(_115,0)) _115, SUM(ISNULL(_116,0)) _116, SUM(ISNULL(_117,0)) _117,
                SUM(ISNULL(_118,0)) _118, SUM(ISNULL(_119,0)) _119, SUM(ISNULL(_120,0)) _120, SUM(ISNULL(_121,0)) _121,
                SUM(ISNULL(_122,0)) _122, SUM(ISNULL(_123,0)) _123, SUM(ISNULL(_124,0)) _124, SUM(ISNULL(_125,0)) _125,
                SUM(ISNULL(_126,0)) _126, SUM(ISNULL(_127,0)) _127, SUM(ISNULL(_128,0)) _128, SUM(ISNULL(_129,0)) _129,
                SUM(ISNULL(_130,0)) _130, SUM(ISNULL(_131,0)) _131, SUM(ISNULL(_132,0)) _132, SUM(ISNULL(_133,0)) _133,
                SUM(ISNULL(_134,0)) _134, SUM(ISNULL(_135,0)) _135, SUM(ISNULL(_136,0)) _136, SUM(ISNULL(_137,0)) _137,
                SUM(ISNULL(_138,0)) _138, SUM(ISNULL(_139,0)) _139, SUM(ISNULL(_140,0)) _140, SUM(ISNULL(_141,0)) _141,
                SUM(ISNULL(_142,0)) _142, SUM(ISNULL(_143,0)) _143, SUM(ISNULL(_144,0)) _144, SUM(ISNULL(_145,0)) _145,
                SUM(ISNULL(_146,0)) _146, SUM(ISNULL(_147,0)) _147, SUM(ISNULL(_148,0)) _148, SUM(ISNULL(_149,0)) _149,
                SUM(ISNULL(_150,0)) _150, SUM(ISNULL(_151,0)) _151, SUM(ISNULL(_152,0)) _152, SUM(ISNULL(_153,0)) _153,
                SUM(ISNULL(_154,0)) _154, SUM(ISNULL(_155,0)) _155, SUM(ISNULL(_156,0)) _156, SUM(ISNULL(_157,0)) _157,
                SUM(ISNULL(_158,0)) _158, 0 _32, 0 _33, ABS(SUM(ISNULL(_18,0))) _18a
            FROM (
                SELECT * FROM #Data
                WHERE (CASE WHEN @AcCode='ALL' THEN 'ALL' ELSE AcHead END) = @AcCode
                  AND (CASE WHEN @JVNo=0 THEN 0 ELSE JournalVoucherNo END) = @JVNo
            ) B
            LEFT JOIN JVWorkOrderDetails a WITH(NOLOCK)
                ON JVDate BETWEEN @FromFyYear AND @ToFyYear
                AND JVOLID = OLID 
                AND a.JournalVoucherNo = b.JournalVoucherNo 
				AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0)
			Outer apply (select top 1 * from JVDetailsAnnexure1to8 C with(nolock) where c.JournalVoucherNo=b.JournalVoucherNo) C 
			Outer Apply (select top 1 * from JournalVoucher J with(nolock) where j.JournalVoucherNo=b.JournalVoucherNo) J
            OUTER APPLY (
                SELECT TOP 1 * FROM (
                    SELECT WorkOrderNo WO, WorksCompletionDate,CompletionReportDate,
                           ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, LegacyWOcompletionreportId DESC) MaxNo
                    FROM LegacyWOcompletionreport CR WITH(NOLOCK)
                    WHERE cr.WorkOrderNo = (CASE WHEN a.DocumentTypeID IN (2,22) THEN a.DocumentNo ELSE 0 END)
                      AND ISNULL(Canceled,0) = 0 AND WorksCompletionDate IS NOT NULL AND LEN(OfficialReferenceNo) > 0
                ) A WHERE MaxNo = 1
            ) CR1
			
            WHERE (CASE WHEN @DocumentNo=0 THEN 0 ELSE a.DocumentNo END) = @DocumentNo
              --AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0)
            GROUP BY
                 isnull(a.JournalVoucherNo,j.JournalVoucherNo),
                 ISNULL(b.AcHead,a.AcHead),a.DocumentNo,b.DocumentTypeID,
				 (case when b.DocumentTypeID=28 THEN b.DocumentNo ELSE isnull(a.DocumentNo,j.DoucmentNo) END) ,
                (case when b.DocumentTypeID=28 THEN b.DocumentTypeID ELSE isnull((CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END),j.DocumentTypeID) END),
                isnull(JVOLID,j.OLID)
				, WO_PO_OLID,Reference, ExecutionType, WO_POAmount, WorkInChargeID, ODLDID, WorkAllocationID,
                (CASE WHEN (MONTH(WO_PODate)) <= 3
                      THEN CONVERT(varchar(4), YEAR(WO_PODate)-1) + '-' + CONVERT(varchar(4), YEAR(WO_PODate)%100)
                      ELSE CONVERT(varchar(4), YEAR(WO_PODate)) + '-' + CONVERT(varchar(4), (YEAR(WO_PODate)%100)+1) END)
        ) A WHERE AcHead LIKE '14.%'
        GROUP BY
            AcHead, (case when DocumentNo is NULL and DocumentTypeID=40 then JournalVoucherNo else DocumentNo end), DocumentTypeID, JVOLID, WO_PO_OLID, Reference,
            ExecutionType, WO_POAmount, WorkInChargeID, ODLDID, WorkAllocationID, WOSanction

        UNION ALL

        SELECT (select top 1 Left(LocationCode,3) from JournalVoucher J with(nolock) where j.OLID=a.JVOLID) LocationCode,
            AcHead, DocumentNo,
            (CASE WHEN DocumentTypeID=22 THEN 2 ELSE DocumentTypeID END) DocumentTypeID,
            JVOLID, (CASE WHEN DocumentTypeID=28 then JVOLID else WO_PO_OLID end) WO_PO_OLID,
            ISNULL(TRY_CONVERT(varchar, (CASE WHEN DocumentTypeID=28 then @FromFyYear else WO_PODate end), 104), '') WO_PODate,
            TRY_CONVERT(varchar, (CASE WHEN DocumentTypeID=28 then NULL else ScheduleCompletionDate end), 104) ScheduleCompletionDate,
            CONVERT(varchar, (CASE WHEN DocumentTypeID=28 then @ToFyYear else ActualCompletionDate end), 104) ActualCompletionDate,
            CONVERT(varchar, (CASE WHEN DocumentTypeID=28 then NULL else CommissionedDate end), 104) CommissionedDate,
            CONVERT(varchar, (CASE WHEN DocumentTypeID=28 then @ToFyYear else (ISNULL(CompletionReportDate, WorksCompletionDate)) end), 104) CompletionReportDate,
            (CASE WHEN DocumentTypeID=28 THEN 'ItemID' WHEN DocumentTypeID=1 THEN 'PO No' WHEN DocumentTypeID=12 THEN 'RV No'
                  ELSE LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(Reference, CHAR(13), ' '), CHAR(10), ' '), CHAR(9), ''))) END) Reference,
            (CASE WHEN DocumentTypeID=28 then '-' else ExecutionType end) ExecutionType,
			(CASE WHEN DocumentTypeID=28 then 0 else WO_POAmount end) WO_POAmount,
            (CASE WHEN DocumentTypeID=28 then 0 else (SELECT WorkInChargeID FROM JVWorkOrderDetails WITH(NOLOCK) WHERE JVWorkOrderDetailsID IN (SELECT MAX(J.JVWorkOrderDetailsID) FROM JVWorkOrderDetails J WITH(NOLOCK) WHERE J.DocumentNo = A.DocumentNo)) end) AS WorkInChargeID,
            (CASE WHEN DocumentTypeID=28 then 0 else (SELECT ODLDID FROM JVWorkOrderDetails WITH(NOLOCK) WHERE JVWorkOrderDetailsID IN (SELECT MAX(J.JVWorkOrderDetailsID) FROM JVWorkOrderDetails J WITH(NOLOCK) WHERE J.DocumentNo = A.DocumentNo)) end) ODLDID,
            (CASE WHEN DocumentTypeID=28 then NULL else COALESCE(RIGHT(CONVERT(VARCHAR, CommissionedDate, 106), 8), (SELECT TOP 1 RIGHT(CONVERT(VARCHAR, CommissionedDate, 106), 8) FROM JVWorkOrderDetails j WITH(NOLOCK) WHERE j.DocumentNo = a.DocumentNo AND CommissionedDate IS NOT NULL)) end)  CommissionMnYr,
            (CASE WHEN DocumentTypeID=28 then 0 else WorkAllocationID end) WorkAllocationID,
                (CASE WHEN DocumentTypeID=28 then NULL else (CASE WHEN (MONTH(WO_PODate)) <= 3 THEN CONVERT(varchar(4), YEAR(WO_PODate)-1) + '-' + CONVERT(varchar(4), YEAR(WO_PODate)%100)
                      ELSE CONVERT(varchar(4), YEAR(WO_PODate)) + '-' + CONVERT(varchar(4), (YEAR(WO_PODate)%100)+1) END)  end) WOSanction,
            0 _10,0 _11,0 _12,0 _13,0 _14,0 _15,0 _16,0 _17,0 _18,0 _19,0 _20,0 _21,
            0 _22,0 _23,0 _24,0 _25,0 _26,0 _27a,0 _28,0 _29,0 _101,0 _102,0 _103,0 _104,
            0 _105,0 _106,0 _107,0 _108,0 _109,0 _110,0 _111,0 _112,0 _113,0 _114,0 _115,
            0 _116,0 _117,0 _118,0 _119,0 _120,0 _121,0 _122,0 _123,0 _124,0 _125,0 _126,
            0 _127,0 _128,0 _129,0 _130,0 _131,0 _132,0 _133,0 _134,0 _135,0 _136,0 _137,
            0 _138,0 _139,0 _140,0 _141,0 _142,0 _143,0 _144,0 _145,0 _146,0 _147,0 _148,
            0 _149,0 _150,0 _151,0 _152,0 _153,0 _154,0 _155,0 _156,0 _157,0 _158,
            0 _32, 0 _33, 0 _18a
        FROM JVWorkOrderDetails a WITH(NOLOCK)
        OUTER APPLY (
            SELECT TOP 1 * FROM (
                SELECT WorkOrderNo WO, WorksCompletionDate,
                       ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, LegacyWOcompletionreportId DESC) MaxNo
                FROM LegacyWOcompletionreport CR WITH(NOLOCK)
                WHERE cr.WorkOrderNo = (CASE WHEN a.DocumentTypeID IN (2,22) THEN a.DocumentNo ELSE 0 END)
                  AND ISNULL(Canceled,0) = 0 AND WorksCompletionDate IS NOT NULL AND LEN(OfficialReferenceNo) > 0
            ) A WHERE MaxNo = 1
        ) CR1
        WHERE JVDate BETWEEN @FromFyYear AND @ToFyYear
          AND JVOLID=@OLID1
          AND TableName = 'CWIP_OB'
          AND DocumentNo NOT IN (
              SELECT DocumentNo FROM #WONo b
              WHERE b.DocumentNo = a.DocumentNo
                AND (CASE WHEN b.DocumentTypeID=22 THEN 2 ELSE b.DocumentTypeID END) = (CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END)
                AND b.JVOLID = a.JVOLID
          )
          AND (CASE WHEN @AcCode='ALL' THEN 'ALL' ELSE AcHead END) = @AcCode
          AND (CASE WHEN @DocumentNo=0 THEN 0 ELSE DocumentNo END) = @DocumentNo
          AND AcHead LIKE '14.%'
		  ) A Group By AcHead,DocumentNo,DocumentTypeID,JVOLID

  ) A LEFT JOIN MaterialCode mc WITH(NOLOCK) ON mc.ItemID=(case when a.DocumentTypeID=28 then a.DocumentNo else 0 end)
    ) A
    OUTER APPLY (
        SELECT SUM(AssetAmount) _9, 0 _27b
        FROM JVWorkOrderDetails b WITH(NOLOCK)
        WHERE JVDate BETWEEN @FromFyYear AND @ToFyYear
          AND JVOLID=@OLID1
          AND TableName = 'CWIP_OB'
          AND b.DocumentNo = a.DocumentNo
          AND b.AcHead = a.AcHead
          AND (CASE WHEN b.DocumentTypeID=22 THEN 2 ELSE b.DocumentTypeID END) = (CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END)
          AND b.JVOLID = a.JVOLID
    ) B
    LEFT JOIN ODLDAllocation D WITH(NOLOCK) ON d.ODLDID = a.ODLDID
    LEFT JOIN OfficeLocationAccountingUnitDetails ol WITH(NOLOCK) ON ol.OfficeID = d.OfficeID AND ol.LocationID = d.LocationID
    LEFT JOIN Contacts ct WITH(NOLOCK) ON ct.ContactID = a.WorkInChargeID
    LEFT JOIN WorkAllocationDescription WA WITH(NOLOCK) ON wa.WorkAllocationID = a.WorkAllocationID
    OUTER APPLY (
        SELECT CONCAT(b.JournalVoucherNo, '') + ' , '
        FROM CostRegister B WITH(NOLOCK) where b.DocumentTypeID IN (2,22) AND b.DocumentNo = a.DocumentNo and isnull(JournalVoucherNo,0)>0
        ORDER BY b.JournalVoucherNo
        FOR XML PATH('')
    ) CR (JVNo)
    OUTER APPLY (
        SELECT CONVERT(Varchar, CategorizationDate, 104) + ' , '
        FROM CostRegister B WITH(NOLOCK) where b.DocumentTypeID IN (2,22) AND b.DocumentNo = a.DocumentNo and isnull(JournalVoucherNo,0)>0
        ORDER BY b.JournalVoucherNo 
        FOR XML PATH('')
    ) CR1 (CategorizationDate)
    LEFT JOIN #Data2 D2 ON d2.WorkOrderNo = (CASE WHEN a.DocumentTypeID IN (2,22) THEN a.DocumentNo ELSE 0 END)
    OUTER APPLY (
        SELECT CONVERT(Varchar, JournalVoucherDate, 104) + ' , '
        FROM JournalVoucher B WITH(NOLOCK) where b.DocumentTypeID IN (10) AND b.DoucmentNo = a.DocumentNo and isnull(JournalVoucherNo,0)>0
        ORDER BY b.JournalVoucherNo 
        FOR XML PATH('')
    ) CR2 (CategorizationDate1)
    OUTER APPLY (
        SELECT concat(JournalVoucherNo, '') + ' , '
        FROM JournalVoucher B WITH(NOLOCK) where b.DocumentTypeID IN (10) AND b.DoucmentNo = a.DocumentNo and isnull(JournalVoucherNo,0)>0
        ORDER BY b.JournalVoucherNo 
        FOR XML PATH('')
    ) CR3 (JVNo1)

) A
LEFT JOIN OfficeLocationAccountingUnitDetails ola WITH(NOLOCK) ON ola.OLID = @OLID1
LEFT JOIN MaterialCode mc WITH(NOLOCK) ON mc.ItemID=(case when a.DocumentTypeID=28 then a.DocumentNo else 0 end) 
LEFT JOIN JournalVoucher J WITH(NOLOCK) ON j.JournalVoucherNo=(case when a.DocumentTypeID=40 then a.DocumentNo else 0 end)
LEFT JOIN PurchaseOrder P WITH(NOLOCK) ON p.PurchaseOrderNo=(case when a.DocumentTypeID=1 then a.DocumentNo else 0 end)
FULL JOIN #Data1 D ON d.WONo = (CASE when a.DocumentTypeID=1 then a.DocumentNo when a.DocumentTypeID=40 then a.DocumentNo when a.DocumentTypeID=28 then mc.ItemID WHEN a.DocumentTypeID IN (2,22) THEN a.DocumentNo ELSE 0 END)
WHERE (ABS((_9))+ABS((_18))+ABS((_22))+ABS((_26))+ABS((_27))+ABS((_28))+ABS((_29))+_18a) != 0
ORDER BY AcHead, DocumentNo
OPTION (RECOMPILE)


--------------------------------------------------------
;FETCH NEXT FROM Cur1 INTO @OLID1; 
END; CLOSE Cur1; DEALLOCATE Cur1; 

select FromFyYear,ToFyYear,JVOLID AcOLID,OfficeLocation,LocationCode,AcHead,CONCAT(DocumentNo,' ',WO_PODate) 'WONo MCCode',WOSanction,Reference Nomenclature,List ListStatus,Section,SectionOfficer,WO_POAmount 'Cost of the Work' , 
_9 OB,_10 'Cost of Materials',_11 'T&P Materials',_12 'Released Assets issued',_13 'Labour Cost',_14 'Crediting 55.100',_15 'Employe Cost',_16 EIC,_17 Othrs,_18 'Total Expenditure',
_19 'Received 32.2',_20 'Received 32.3',_21 'Received 42',_22 'Total Received',_23 'Transferred 32.1',_24 'Transferred 32.4',_25 'Transferred 28',_26 'Total Transferred',
_27 Assted,_28 'Rectifications of Prev year',_29 'Reclassifications',_30 CB,Status1 Status,BRNo,BRDate,_32 'Bills Received but not passed',_33 'Bills yet to be Received',_34 'Total Provision',
_35 'Total Expenditure incurred',_36 'Amount remaining to be executed',ScheduleCompletionDate,ActualCompletionDate,CommissionedDate,CategorizationDate,CR_Submitted 'CR Submitted',
IfnotCR_Submitted 'Ifnot CR Submitted',Incahrge,ExecutionType,Project_objective 'Project Objective',Time_Overrun 'Time Overrun',Reasons_Overrun 'Reason Overrun',CostOverrun,Cost_Reasons 'Cost Reason',
JVNo,CommissionMnYr 'Commission MnYr',_101 '10.101',_102 '10.211',_103 '10.222',_104 '10.223',_105 '10.303',_106 '10.304',_107 '10.305',_108 '10.516',_109 '10.530',_110 '10.531',_111 '10.532',_112 '10.533',
_113 '10.535',_114 '10.541',_115 '10.542',_116 '10.543',_117 '10.551',_118 '10.552',_119 '10.553',_120 '10.555',_121 '10.561',_122 '10.563',_123 '10.565',_124 '10.567',_125 '10.571',_126 '10.572',_127 '10.573',
_128 '10.574',_129 '10.575',_130 '10.576',_131 '10.577',_132 '10.578',_133 '10.580',_134 '10.581',_135 '10.582',_136 '10.583',_137 '10.584',_138 '10.585',
_139 '10.586',_140 '10.599',_141 '10.601',_142 '10.602',_143 '10.603',_144 '10.611',_145 '10.612',_146 '10.621',_147 '10.631',_148 '10.632',_149 '10.641',
_150 '10.685',_151 '10.710',_152 '10.720',_153 '10.730',_154 '10.740',_155 '10.800',_156 '10.903',_157 '10.904',_158 '10.905' 
from #Data21
Order By JVOLID 

-- =============================================
-- Cleanup temp tables
-- =============================================
IF OBJECT_ID('tempdb..#AcOLIDs') IS NOT NULL DROP TABLE #AcOLIDs
IF OBJECT_ID('tempdb..#Data')    IS NOT NULL DROP TABLE #Data
IF OBJECT_ID('tempdb..#Data2')   IS NOT NULL DROP TABLE #Data2
IF OBJECT_ID('tempdb..#CWIP')    IS NOT NULL DROP TABLE #CWIP
IF OBJECT_ID('tempdb..#OB1')     IS NOT NULL DROP TABLE #OB1
IF OBJECT_ID('tempdb..#OB')      IS NOT NULL DROP TABLE #OB
IF OBJECT_ID('tempdb..#Data1')   IS NOT NULL DROP TABLE #Data1
IF OBJECT_ID('tempdb..#WONo')    IS NOT NULL DROP TABLE #WONo
GO
