USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_ALL]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Data_Integrity_ALL] @FromDate DateTime,@ToDate DateTime AS

--Declare @FromDate DateTime = '2023-02-01' 
--Declare @ToDate DateTime = '2023-02-28'

---------------------------------------------------------------------------- SQ 

-- Negative Quantity serialNo true case in StockQuantity table
insert into SerialFlag_True_StockQuantity1
select sq.*,'Negative Quantity' Remarks 
from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 
where ( isnull(GoodQuantity,0)<0 or isnull(ReleasedGoodQuantity,0)<0 or isnull(ReleasedFaultyQuantity,0)<0 or isnull(ReleasedScrapQuantity,0)<0 ) 


-- Negative Quantity serialNo true case StockQuantitySub table
insert into  SerialFlag_True_StockQuantitySub
select *  from (
select *,'Negative Quantity' Remarks from StockQuantitySub sqs with(nolock) where (isnull(sqs.Quantity,0)<0 or sqs.StockConditionID is null)
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 ) 
union all 
-- StockConditionID 0 in StockQuantitySub table 
select *,'StockConditionID Zero' Remarks from StockQuantitySub sqs with(nolock) where isnull(sqs.StockConditionID,0)=0 
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 ) 
union all 
--In StockQuantitySub table for a particular Serial No cannot be 0 for a particular ItemID and StockCondition.
select *,'SerialNo Zero' Remarks from StockQuantitySub sqs with(nolock) where SerialNo='0'
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 ) 
union all 
-- Quantity for Materials with Serial Flag True should be 1.
-- Quantity column in StockQuantitySub table should be 1 for StockConditions other than Scrap for ItemIDs for which Serial Flag is 1
select b.*,'Quantity should be 1 for StockConditions other than Scrap' Remarks from StockQuantitySub b with(nolock) where isnull(b.Quantity,0)>1 and isnull(b.StockConditionID,0)<>4 and isnull(b.SerialNo,'')<>'1111222' 
and StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 ) 
union all 
-- No duplicates in StockQuantitySub against a particular ItemID. 
-- In StockQuantitySub table for a particular Serial No there should not be any duplicates for a particular ItemID and StockCondition.
select b.*,'duplicates row StockConditionID and SerialNo' Remarks from (
select sqs.StockQuantityID,sqs.StockConditionID,sqs.SerialNo,count(sqs.Quantity) Nos 
from StockQuantitySub sqs with(nolock) 
where StockQuantityid in ( select StockQuantityID from StockQuantity SQ with(nolock) Inner join Stock s with(nolock) on s.ItemID=sq.ItemID and isnull(SerialFlag,0) = 1 ) 
group by sqs.StockQuantityID,sqs.StockConditionID,sqs.SerialNo having count(sqs.Quantity)>1
) A Inner Join StockQuantitySub B with(nolock) on b.StockQuantityID=a.StockQuantityID and b.StockConditionID=a.StockConditionID and b.SerialNo=a.SerialNo
) A order by Remarks,StockQuantityID,StockConditionID,SerialNo


insert into SerialFlag_True_Repeated_SerialNos
select * from ( 
-- Repeated SerialNos in StockQuantitySub table Serial Nos which are repeated in StockQuantitySub table against an ItemID
select 0 StockQuantityUserDefinedFieldsID,sq.ItemID,sq.StockQuantityID,sqs.SerialNo,squ.UserDefinedFieldValue,count(sqs.SerialNo) Nos,'Repeated SerialNos' Remarks
from StockQuantity sq with(nolock) 
inner join StockQuantitySub sqs with(nolock) on sq.StockQuantityID=sqs.StockQuantityID
inner join Stock s with(nolock) on s.ItemID=sq.ItemID
left outer join StockQuantityUserDefinedFields squ with(nolock) on sqs.StockQuantitySubID=squ.StockQuantitySubID and squ.DistributionNodeUserDefinedFieldID=20
where s.SerialFlag=1 group by sq.ItemID,sq.StockQuantityID,sqs.SerialNo,squ.UserDefinedFieldValue
having count(sqs.SerialNo)>1
union all 
-- StockQuantitySub and StockQuantityUserDefinedFields table  for similar SerialNo and Make.
-- In StockQuantityUserDefinedFields table UserDefinedFieldValue should not be same as SerialNo.
select squdf.StockQuantityUserDefinedFieldsID,sq.ItemID,sq.StockQuantityID,sqs.SerialNo,squdf.UserDefinedFieldValue,0 Nos,'Same SerialNo and Make' Remarks
from StockQuantity sq with(nolock) ,StockQuantitySub sqs with(nolock) ,StockQuantityUserDefinedFields squdf with(nolock) ,Stock s with(nolock) 
where sq.StockQuantityID=sqs.StockQuantityID and sqs.StockQuantitySubID=squdf.StockQuantitySubID
and s.ItemID=sq.ItemID and s.SerialFlag=1 and sqs.SerialNo=squdf.UserDefinedFieldValue
and squdf.DistributionNodeUserDefinedFieldID !=94
) A 

---------------------------------------------------------------------------- SI & RV 

insert into Dataintegrity_SI_RV_RI
select * from ( 
select StoreInvoiceNo TransactionNo,StoreInvoiceDate TransactionDate,'StoreInvoice_pni' TableName,'StoreInvoiceNo' ColumnName,'StoreInvoice Passed flag in StoreIndentAbstract should be true after Invoice done' Remarks,1 Nos  
from StoreInvoice_pni with(nolock) where Passed=1 and isnull(Canceled,0)=0
and StoreIndentNo in ( select StoreIndentNo from StoreIndentAbstract with(nolock) where isnull(Passed,0)=0 and isnull(Canceled,0)=0 ) and StoreInvoiceDate>= @FromDate
union all 
select ReceiptVoucherNo TransactionNo,ReceiptVoucherDate TransactionDate,'ReceiptVoucherAbstract_pni' TableName,'ReceiptVoucherNo' ColumnName,'ReceiptVoucher Passed flag in ReturnInvoiceAbstract should be true after Voucher done' Remarks,1 Nos
from ReceiptVoucherAbstract_pni rv with(nolock) where Approved=1 and isnull(Canceled,0)=0
and ReturnInvoiceNo in ( select ReturnInvoiceNo from ReturnInvoiceAbstract with(nolock) where isnull(Passed,0)=0 and isnull(Canceled,0)=0 ) and rv.ReceiptVoucherDate>= @FromDate
union all 
select ReturnInvoiceNo TransactionNo,ReturnInvoiceDate TransactionDate,'ReturnInvoiceAbstract' TableName,'ReturnInvoiceNo' ColumnName,'ReceiptVoucher Passed flag in ReturnInvoiceAbstract should be true after Voucher done' Remarks,1 Nos
from ReturnInvoiceAbstract a with(nolock) 
where Passed=1 and ReturnInvoiceNo not in (select ReturnInvoiceNo from ReceiptVoucherAbstract_pni with(nolock) where ReturnInvoiceNo=a.ReturnInvoiceNo)
union all 
select StoreInvoiceNo TransactionNo,StoreInvoiceDate TransactionDate,'StoreInvoice_pni' TableName,'StoreInvoiceNo' ColumnName,'Document Number in SI against which WorkAllocationID is null or 0 in WorkOrder table' Remarks,1 Nos 
from StoreInvoice_pni with(nolock) where DocumentNo in (select workorderno From WorkOrder with(nolock) where (WorkAllocationID is null or WorkAllocationID=0))
and DocumentTypeID in (2,22) and StoreInvoiceDate between @FromDate and @ToDate
union all 
select ReceiptVoucherNo TransactionNo,ReceiptVoucherDate TransactionDate,'ReceiptVoucherAbstract_pni' TableName,'StoreInvoiceNo' ColumnName,'Document Number in RV against which WorkAllocationID is null or 0 in WorkOrder table' Remarks,1 Nos 
from ReceiptVoucherAbstract_pni with(nolock) where DocumentNo in (select workorderno From WorkOrder with(nolock) where (WorkAllocationID is null or WorkAllocationID=0))
and DocumentTypeID in (2,22) and ReceiptVoucherDate between @FromDate and @ToDate
union all 
select StoreIndentNo TransactionNo,NULL TransactionDate,'StoreInvoice_pni' TableName,'StoreIndentNo' ColumnName,'only one SI against one StoreIndent' Remarks,count(StoreInvoiceNo) Nos   
from StoreInvoice_pni with(nolock) where isnull(Canceled,0)=0  and Passed=1 and isnull(StoreIndentNo,0)!=0
group by StoreIndentNo having count(StoreInvoiceNo)>1  
union all 
select ReturnInvoiceNo,NULL TransactionDate,'ReceiptVoucherAbstract_pni' TableName,'ReturnInvoiceNo' ColumnName,'only one RV against one ReturnInvoice' Remarks,count(ReceiptVoucherNo) Nos 
from ReceiptVoucherAbstract_pni with(nolock) where isnull(Canceled,0)=0 and Approved=1 and isnull(ReturnInvoiceNo,0)!=0
group by ReturnInvoiceNo having count(ReceiptVoucherNo)>1 
) A Order By TableName,ColumnName,TransactionNo

---------------------------------------------------------------------------- PO 

insert into Dataintegrity_PO_1 
select *  from ( 
select PurchaseOrderNo,PurchaseOrderDate,'Row existence in Dispatch Instruction If in PurchaseOrder table DispatchInstruction is true then a row must exist in DispatchInstruction table with DocumentNo as PurchaseOrderNo' Remarks 
from PurchaseOrder with(nolock) where DispatchInstruction=1 and Approved=1
and PurchaseOrderNo not in (select DocumentNo from DispatchInstruction_pni with(nolock) where DocumentNo=Purchaseorderno)
and PurchaseOrderDate between @FromDate and @ToDate and isnull(Canceled,0)=0
) A 


insert into Dataintegrity_PO_2 
select *  from ( 
select distinct itemid,di.DocumentNo,'ItemID mismatch in PurchaseOrderMaterialDetails and PurchaseOrderDeliverySchedule against Dispatch Instruction' Remarks
from PurchaseOrderDeliverySchedule pods with(nolock) ,DispatchInstruction_pni di with(nolock) 
where pods.DispatchInstructionID=di.DispatchInstructionID and isnull(pods.DocumentNo,0)=0 and isnull(deliveryschedule,0)=0 and isnull(incharge,0)=0
and pods.ItemID not in (select distinct pomd.ItemID from PurchaseOrder po with(nolock) ,PurchaseOrderMaterialDetails pomd with(nolock) ,DispatchInstruction_pni di with(nolock) 
	where po.PurchaseOrderNo=pomd.PurchaseOrderNo and di.DocumentNo=po.PurchaseOrderNo
	and isnull(po.DispatchInstruction,0)=0 and isnull(deliveryschedule,0)=0 and isnull(incharge,0)=0 and di.DispatchInstructionID=pods.DispatchInstructionID and pomd.ItemID=pods.ItemID)
) A 


insert into Dataintegrity_PO_3 
select *  from ( 
select DispatchInstructionID,DateAndTime,'Incharge Mismatch If Incharge is there then a row exists in PurchaseOrderDeliveryScheduleIncharge which in true should be Incharge false in DispatchInstruction_pni against PO row' Remarks 
from DispatchInstruction_pni with(nolock) 
where DocumentNo in (select distinct documentno from ActivityApprovals_pni with(nolock) where ActivityID=91 and StatusID=4
and DocumentNo in (select PurchaseOrderNo from PurchaseOrderDeliveryScheduleIncharge with(nolock) )
and DocumentNo not in (select di.DocumentNo from DispatchInstruction_pni di with(nolock) where isnull(Approved,0)=0 and DeliverySchedule=1 and Incharge=1 ))
) A 


insert into Dataintegrity_PO_4 
select *  from ( 
select * ,'Quantity Mismatch in Dispatch Instruction and GRN Quantity in MasAbstract should not exceed Quantity in DispatchInstruction in PurchaseOrderDeliverySchedule table' Remarks 
from ( select di.DocumentNo,sum(isnull(pods.InitialQuantity,0)) as DISum from DispatchInstruction_pni di with(nolock) 
	inner join PurchaseOrderDeliverySchedule pods with(nolock) on di.DispatchInstructionID=pods.DispatchInstructionID
	where isnull(Incharge,0)=0 and isnull(DeliverySchedule,0)=0 and Approved=1 and isnull(di.Expired,0)=0 and di.DateAndTime>= @FromDate 
	group by di.DocumentNo ) as DI
inner join ( select sum(isnull(md.AcceptedQuantity,0)) as GRNQty,ma.DocumentNo DocumentNo1
	from MasAbstract ma with(nolock) inner join MasDetails md with(nolock) on ma.GoodsReceivedNoteNo=md.GoodsReceivedNoteNo
	where ma.Approved=1 and isnull(ma.Canceled,0)=0 group by DocumentNo ) as GRN on DI.DocumentNo=GRN.DocumentNo1 
where isnull(GRN.GRNQty,0)>isnull(DI.DISum,0)
) A 


insert into Dataintegrity_PO_5 
select *  from ( 
select PurchaseOrderNo,PurchaseOrderDate,DispatchInstructionID,DateAndTime ,'Approved Flag is true for PO row Approved flag in DispatchInstruction_pni table should be true for rows saved against PO' Remarks 
from PurchaseOrder a with(nolock) 
inner join DispatchInstruction_pni b with(nolock) on a.PurchaseOrderNo=b.DocumentNo
where a.DispatchInstruction=1 and isnull(b.Approved,0)=0 and b.OfficialReferenceNo='' and b.DeliverySchedule=1
and a.PurchaseOrderNo in (select DocumentNo from DispatchInstruction_pni with(nolock) group by documentno having count(*)=1)
) A 

---------------------------------------------------------------------------- StockQuantityUserDefinedFields


insert into Dataintegrity_SQUDF 
select *  from ( 
select sqs.StockQuantitySubID,sqs.SerialNo,'No Make in StockQuantityUserDefinedFields table For serial flag true cases' Remarks 
from StockQuantity sq with(nolock) ,StockQuantitySub sqs,Stock s with(nolock) 
where sq.StockQuantityID=sqs.StockQuantityID and s.itemid=sq.ItemID and s.SerialFlag=1 and sqs.StockConditionID=1
and StockQuantitySubID not in ( select StockQuantitySubID from StockQuantityUserDefinedFields with(nolock) where DistributionNodeUserDefinedFieldID=20 )
) A 

---------------------------------------------------------------------------- Date format wrong in UserDefinedFields tables 


insert into Dataintegrity_UDF_DateWrong
select *  from ( 
select *,'StockQuantityUserDefinedFields' TableName,'Date format sholud be dd/mm/yyyy' Remarks from (
select distinct UserDefinedFieldValue from StockQuantityUserDefinedFields with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and UserDefinedFieldValue like'%[^a-Z]%' and ( replace(replace(replace(left(UserDefinedFieldValue,3),'.',''),'-',''),'/','')>=100 
or left(ltrim(rtrim(right(UserDefinedFieldValue,4))),1)=0 or ltrim(rtrim(len(right(UserDefinedFieldValue,4))))!=4  )
union  select distinct UserDefinedFieldValue from StockQuantityUserDefinedFields with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and UserDefinedFieldValue not like'%[^a-Z]%'
union  select distinct UserDefinedFieldValue from StockQuantityUserDefinedFields with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and len(UserDefinedFieldValue)!=10 ) A 
union all 
select *,'StoreInvoiceMaterialDetailsSub_pni' TableName,'Date format sholud be dd/mm/yyyy' Remarks from (
select distinct UserDefinedFieldValue from StoreInvoiceMaterialDetailsSub_pni with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and UserDefinedFieldValue like'%[^a-Z]%' and ( replace(replace(replace(left(UserDefinedFieldValue,3),'.',''),'-',''),'/','')>=100 
or left(ltrim(rtrim(right(UserDefinedFieldValue,4))),1)=0 or ltrim(rtrim(len(right(UserDefinedFieldValue,4))))!=4  )
union  select distinct UserDefinedFieldValue from StoreInvoiceMaterialDetailsSub_pni with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and UserDefinedFieldValue not like'%[^a-Z]%'
union  select distinct UserDefinedFieldValue from StoreInvoiceMaterialDetailsSub_pni with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and len(UserDefinedFieldValue)!=10 ) A 
union all 
select *,'ReceiptVoucherMaterialDetailsSub_pni' TableName,'Date format sholud be dd/mm/yyyy' Remarks from (
select distinct UserDefinedFieldValue from ReceiptVoucherMaterialDetailsSub_pni with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and UserDefinedFieldValue like'%[^a-Z]%' and ( replace(replace(replace(left(UserDefinedFieldValue,3),'.',''),'-',''),'/','')>=100 
or left(ltrim(rtrim(right(UserDefinedFieldValue,4))),1)=0 or ltrim(rtrim(len(right(UserDefinedFieldValue,4))))!=4  )
union all select distinct UserDefinedFieldValue from ReceiptVoucherMaterialDetailsSub_pni with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and UserDefinedFieldValue not like'%[^a-Z]%'
union all select distinct UserDefinedFieldValue from ReceiptVoucherMaterialDetailsSub_pni with(nolock) where DistributionNodeUserDefinedFieldID in (86,8,59) 
and len(UserDefinedFieldValue)!=10 ) A 
) A 


---------------------------------------------------------------------------- SI 

-- No rows should be duplicated in StoreInvoiceMaterialDetailsSub table i.e. one SerialNo should have only 1 make.
insert into Dataintegrity_SI_UDF  
select * from (
select simds.StoreInvoiceMaterialDetailsID TransactionID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,simd.Quantity,count(*) Nos
,'StoreInvoiceMaterialDetailsSub_pni' TableName,'StoreInvoiceMaterialDetailsID' ColumnName,'No rows should be duplicated serialNo true case i.e. one SerialNo should have only 1 make' Remarks
from StoreInvoiceMaterialDetailsSub_pni simds with(nolock) 
inner join StoreInvoiceMaterialDetails_pni simd with(nolock) on simd.StoreInvoiceMaterialDetailsID=simds.StoreInvoiceMaterialDetailsID
and StoreInvoiceDetailsID in ( select StoreInvoiceDetailsID from StoreInvoicedetails_pni with(nolock) 
	where StoreInvoiceNo in ( select StoreInvoiceNo from StoreInvoice_pni with(nolock) where StoreInvoiceDate>= @FromDate )
	and ItemID in (select ItemID from Stock with(nolock) where isnull(SerialFlag,0)=1 )) 
group by simds.StoreInvoiceMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,simd.Quantity
having count(*)>1
union all 
--No rows should be duplicated in StoreInvoiceAlternateMaterialDetailsSub table i.e. one SerialNo should have only 1 make.
select siamds.StoreInvoiceAlternateMaterialDetailsID TransactionID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,Quantity,count(*) Nos 
,'StoreInvoiceAlternateMaterialDetailsSub_pni' TableName,'StoreInvoiceAlternateMaterialDetailsID' ColumnName,'No rows should be duplicated serialNo true case i.e. one SerialNo should have only 1 make' Remarks
from StoreInvoiceAlternateMaterialDetailsSub_pni siamds with(nolock) ,StoreInvoicealternateMaterialDetails_pni siamd with(nolock) 
where siamds.StoreInvoiceAlternateMaterialDetailsID=siamd.StoreInvoiceAlternateMaterialDetailsID
and StoreInvoiceAlternateDetailsID in (select StoreInvoiceAlternateDetailsID from StoreInvoiceAlternateDetails_pni with(nolock) 
	where StoreInvoiceDetailsID in (select StoreInvoiceDetailsID from StoreInvoicedetails_pni with(nolock) 
	where StoreInvoiceNo in (select StoreInvoiceNo from StoreInvoice_pni with(nolock) where StoreInvoiceDate>= @FromDate ) 
	and ItemID in (select ItemID from Stock with(nolock) where isnull(SerialFlag,0)=1 )) )
group by siamds.StoreInvoiceAlternateMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,Quantity
having count(*)>1
) A 

----------------------------------------------------------------------------

insert into Dataintegrity_SIMD_QtyNull 
select * from (
-- StoreInvoiceMaterialDetails table  for null quantity. In StoreInvoiceMaterialDetails table Quantity inserted should not be null.
select sid.StoreInvoiceNo,simd.StoreInvoiceMaterialDetailsID,simd.Quantity,simd.StockConditionID,sid.GoodQuantity,simd.SerialNo
,'StoreInvoiceMaterialDetails_pni' TableName,'StoreInvoiceMaterialDetailsID' ColumnName,'Quantity should not be null' Remarks
from StoreInvoiceMaterialDetails_pni simd with(nolock) ,StoreInvoicedetails_pni sid with(nolock) ,StoreInvoice_pni si with(nolock) ,Stock st with(nolock) 
where simd.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID and st.ItemID=sid.ItemID and isnull(SerialFlag,0)=1
and sid.StoreInvoiceNo=si.StoreInvoiceNo and si.StoreInvoiceDate between @FromDate and @ToDate 
and Quantity is null 
union all 
-- StoreInvoiceAlternateMaterialDetails table  for null quantity. In StoreInvoiceAlternateMaterialDetails table Quantity inserted should not be null.
select sid.StoreInvoiceNo,siamd.StoreInvoiceAlternateMaterialDetailsID,siamd.Quantity,siamd.StockConditionID,sid.GoodQuantity,siamd.SerialNo
,'StoreInvoicealternateMaterialDetails_pni' TableName,'StoreInvoiceAlternateMaterialDetailsID' ColumnName,'Quantity should not be null' Remarks
from StoreInvoicealternateMaterialDetails_pni siamd with(nolock) ,StoreInvoiceAlternateDetails_pni siad with(nolock) ,StoreInvoicedetails_pni sid with(nolock) ,StoreInvoice_pni si with(nolock) ,Stock st with(nolock) 
where siamd.StoreInvoiceAlternateDetailsID=siad.StoreInvoiceAlternateDetailsID and st.ItemID=sid.ItemID and isnull(SerialFlag,0)=1 
and siad.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID
and sid.StoreInvoiceNo=si.StoreInvoiceNo and si.StoreInvoiceDate between @FromDate and @ToDate  
and Quantity is null
) A 

----------------------------------------------------------------------------

insert into Dataintegrity_SIMD_Duplecate 
-- SerialNos in StoreInvoiceMaterialDetails should not be duplicated against a particular ItemID and StockCondition
select sid.StoreInvoiceNo,simd.StoreInvoiceDetailsID,sid.ItemID,simd.SerialNo,simd.StockConditionID,count(*) Nos 
,'StoreInvoiceMaterialDetails_pni' TableName,'SerialNos should not be duplicated against a particular ItemID and StockCondition serialno true case' Remarks
from StoreInvoiceMaterialDetails_pni simd with(nolock) ,StoreInvoicedetails_pni sid with(nolock) ,Stock s with(nolock) ,StoreInvoice_pni si with(nolock) 
where simd.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID and sid.ItemID=s.ItemID and isnull(s.SerialFlag,0) = 1 
and sid.StoreInvoiceNo=si.StoreInvoiceNo and si.StoreInvoiceDate between @FromDate and @ToDate 
group by sid.StoreInvoiceNo,simd.StoreInvoiceDetailsID,sid.ItemID,simd.SerialNo,simd.StockConditionID,SerialFlag
having count(*)>1  


----------------------------------------------------------------------------

-- Approved should be true after OfficialReferenceNo is generated StoreInvoice table. 
insert into Dataintegrity_SI_ApprovedStatus  
select * from (
select StoreInvoiceNo,StoreInvoiceDate,'StoreInvoice_pni' TableName,'Not approved but OfficialReferenceNo updated' Remarks 
from StoreInvoice_pni with(nolock) where isnull(Passed,0)=0 and isnull(OfficialReferenceNo,'')<>'' and StoreInvoiceDate>= @FromDate 
union all 
select StoreInvoiceNo,StoreInvoiceDate,'StoreInvoice_pni' TableName,'Approved but OfficialReferenceNo not updated' Remarks  
from StoreInvoice_pni with(nolock) where isnull(Passed,0)=1 and isnull(OfficialReferenceNo,'')='' and StoreInvoiceDate>= @FromDate 
) A 

----------------------------------------------------------------------------

insert into Dataintegrity_SI_TandPAccountHeadAllocation   
--An Itemid present in StoreInvoiceDetails_pni Table Should be present  in TandPAccountHeadAllocation Table where Storeinvoice is not priced ,isn’t canceled,and has been passed.ContactCategoryId in StoreInvoice_pni should be 3 and ReturnTypeID in StoreIndentAbstract should be 7 . 
select a.StoreInvoiceNo,StoreInvoiceDate,b.ItemID,a.OLID 
,'TandPAccountHeadAllocation' TableName,'An Itemid present in StoreInvoiceDetails_pni Table Should be present in TandPAccountHeadAllocation Table where Storeinvoice is not priced ,isn’t canceled,and has been passed.ContactCategoryId in StoreInvoice_pni should be 3 and ReturnTypeID in StoreIndentAbstract should be 7' Remarks  
from StoreInvoice_pni a with(nolock) 
inner join StoreInvoiceDetails_pni b with(nolock) on a.StoreInvoiceNo=b.StoreInvoiceNo
inner join StoreIndentAbstract c with(nolock) on a.StoreIndentNo=c.StoreIndentNo
where isnull(a.priced,0)=0 and a.Passed=1 and isnull(a.Canceled,0)=0 and a.ContactCategoryID=3 and c.ReturnTypeID=7
and b.ItemID not in (select ItemID from TandPAccountHeadAllocation with(nolock) where ItemID=b.itemid)
and a.StoreInvoiceDate>= @FromDate 

----------------------------------------------------------------------------

insert into Dataintegrity_SI_StockAttributeAllocation    
-- Itemids Which are Present in StoreIndentDetails should be present in StockAttributeAllocation for StockAttributeID=7 only which Denotes Tools And Plants where Approved=1 and Canceled=0 and ContactCategoryID=3 and ReturnTypeID=7 and Passed=0 in StoreIndentAbstract Table 
select a.StoreIndentNo,IndentDate,a.OLID
,'StockAttributeAllocation' TableName,'Itemids Which are Present in StoreIndentDetails should be present in StockAttributeAllocation for StockAttributeID=7 only which Denotes Tools And Plants where Approved=1 and Canceled=0 and ContactCategoryID=3 and ReturnTypeID=7 and Passed=0 in StoreIndentAbstract Table' Remarks  
From StoreIndentAbstract a with(nolock) 
inner join StoreIndentDetails b with(nolock) on a.StoreIndentNo=b.StoreIndentNo
where Approved=1 and isnull(Canceled,0)=0 and ContactCategoryID=3 and ReturnTypeID=7 and isnull(Passed,0)=0
and b.ItemID in (select itemid from StockAttributeAllocation with(nolock) where isnull(StockAttributeID,0)<>7)

----------------------------------------------------------------------------


-- Store Invoice Details Negative quantity
insert into Dataintegrity_SI_NegetiveQty   
select * from StoreInvoiceDetails_pni s with(nolock) 
where ( isnull(QuantityIssued,0)<0 or isnull(OriginalQuantityIssued,0)<0 or isnull(AlternateQuantityIssued,0)<0 or isnull(GoodQuantity,0)<0 or isnull(ReleasedGoodQuantity,0)<0 or isnull(ReleasedFaultyQuantity,0)<0 or isnull(ReleasedScrapQuantity,0)<0 )


insert into Dataintegrity_SIMD_NegetiveQty 
-- Store Invoice Material Details Negative quantity 
select *  from StoreInvoiceMaterialDetails_pni s with(nolock) where isnull(Quantity,0)<0



---------------------------------------------------------------------------- RV  

-- ReceiptVoucherMaterialDetailsSub table for Duplicates. No rows should be duplicated in ReceiptVoucherMaterialDetailsSub table i.e. one SerialNo should have only 1 make.
insert into Dataintegrity_RV_UDF 
select * from (
select rvmds.ReceiptVoucherMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,rvmd.Quantity,count(*) Nos
,'ReceiptVoucherMaterialDetailsSub_pni' TableName,'ReceiptVoucherMaterialDetailsID' ColumnName,'No rows should be duplicated in ReceiptVoucherMaterialDetailsSub table i.e. one SerialNo should have only 1 make' Remarks 
from ReceiptVoucherMaterialDetailsSub_pni rvmds with(nolock) ,ReceiptVoucherMaterialDetails_pni rvmd with(nolock) 
where rvmds.ReceiptVoucherMaterialDetailsID=rvmd.ReceiptVoucherMaterialDetailsID
and ReceiptVoucherDetailsID in (select ReceiptVoucherDetailsID from ReceiptVoucherDetails_pni with(nolock) 
	where ReceiptVoucherNo in (select ReceiptVoucherNo from ReceiptVoucherAbstract_pni with(nolock) where ReceiptVoucherDate>= @FromDate ) 
	and ItemID in (select ItemID from Stock with(nolock) where isnull(SerialFlag,0)=1 )) 
group by rvmds.ReceiptVoucherMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,rvmd.Quantity
having count(*)>1 ) A 


---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_MasDetails 
select * from (
-- Row from ReceiptVoucherMasDetails should be deleted after cancellation of ReceiptVoucher i.e. for PurchaseOrder cases. 
select A.ReceiptVoucherNo,A.DocumentNo,B.ReceiptVoucherDetailsID,B.ItemID
,'Row from ReceiptVoucherMasDetails should be deleted after cancellation of ReceiptVoucher i.e. for PurchaseOrder cases' Remarks  
from ReceiptVoucherAbstract_pni A with(nolock) 
inner join ReceiptVoucherDetails_pni B with(nolock) on A.ReceiptVoucherNo=B.ReceiptVoucherNo
where isnull(Canceled,0)=1 and DocumentTypeID=1
and B.ReceiptVoucherDetailsID in (select ReceiptVoucherDetailsID from ReceiptVoucherMASDetails with(nolock) )
) A 


---------------------------------------------------------------------------- 

-- Approved should be true after OfficialReferenceNo is generated ReceiptVoucher table. 
insert into Dataintegrity_RV_ApprovedStatus 
select * from (
select ReceiptVoucherNo,ReceiptVoucherDate,'ReceiptVoucherAbstract_pni' TableName,'Not approved but OfficialReferenceNo updated' Remarks 
from ReceiptVoucherAbstract_pni with(nolock) where isnull(Approved,0)=0 and isnull(OfficialReferenceNo,'')<>'' and ReceiptVoucherDate>= @FromDate 
union all 
select ReceiptVoucherNo,ReceiptVoucherDate,'ReceiptVoucherAbstract_pni' TableName,'Approved but OfficialReferenceNo not updated' Remarks  
from ReceiptVoucherAbstract_pni with(nolock) where isnull(Approved,0)=1 and isnull(OfficialReferenceNo,'')='' and ReceiptVoucherDate>= @FromDate 
) A 

---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_ContactID_Mismatch   
-- ContactID in ReceiptVoucher should be equal to ContactID in PurchaseOrder. ContactID in ReceiptVoucher should be same in PurchaseOrder table.
select a.PurchaseOrderNo,b.ReceiptVoucherNo,a.ContactID PContactID,b.ContactID RContactID,a.PurchaseOrderDate,b.ReceiptVoucherDate
,'ContactID in ReceiptVoucher should be equal to ContactID in PurchaseOrder. ContactID in ReceiptVoucher should be same in PurchaseOrder table' Remarks 
from PurchaseOrder a with(nolock) 
left outer join ReceiptVoucherAbstract_pni b with(nolock) on a.PurchaseOrderNo=b.DocumentNo
where b.DocumentTypeID=1 and isnull(a.ContactID,0)<>isnull(b.ContactID,0)
and a.PurchaseOrderDate>= @FromDate 

---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_GRNQty  
-- Quantity in ReceiptVoucher should not exceed GRN quantity. Quantity in ReceiptVoucher should be less than or equal to quantity in MasDetails table.
select distinct a.ReceiptVoucherNo,a.DocumentNo,b.ItemID,sum(isnull(b.AcceptedQuantity,0)) as AcceptedQuantity,e.ReceivedQuantity
,'Quantity in ReceiptVoucher should not exceed GRN quantity. Quantity in ReceiptVoucher should be less than or equal to quantity in MasDetails table' Remarks 
from MasAbstract a with(nolock) 
inner join MasDetails b with(nolock) on a.GoodsReceivedNoteNo=b.GoodsReceivedNoteNo
inner join ReceiptVoucherMASDetails c with(nolock) on a.GoodsReceivedNoteNo=c.GoodsReceivedNoteNo
inner join ReceiptVoucherAbstract_pni d with(nolock) on a.DocumentNo=d.DocumentNo
inner join ReceiptVoucherDetails_pni e with(nolock) on e.ReceiptVoucherDetailsID=c.ReceiptVoucherDetailsID and b.ItemID=e.ItemID
where a.DocumentTypeID=1 and isnull(a.Canceled,0)=0 and isnull(d.Canceled,0)=0
and a.GoodsReceivedNoteDate>= @FromDate 
group by a.ReceiptVoucherNo,a.DocumentNo,b.ItemID,e.ReceivedQuantity
having isnull(e.ReceivedQuantity,0)>sum(isnull(b.AcceptedQuantity,0))

---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_UNitID_Mismatch  
-- Unitid mismatch in RVMaterialdetails and RIDetails table
-- Unitid in RVmaterialdetails should be equal to the scrapunitid in ReceiptVoucherDetails_pni and Returninvoicedetails table for Scrap Condition
select d.returninvoiceno, a.ReceiptVoucherNo,a.OLID,b.ItemID,b.ReleasedScrapQuantity,c.UnitID RVMD_UnitID,b.ScrapUnitID RVD_ScrapUnitID,d.scrapunitid RI_ScrapUnitID 
,'Unitid in RVmaterialdetails should be equal to the scrapunitid in ReceiptVoucherDetails_pni and Returninvoicedetails table for Scrap Condition' Remarks 
from ReceiptVoucherAbstract_pni a with(nolock) 
inner join ReceiptVoucherDetails_pni b with(nolock) on a.ReceiptVoucherNo=b.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_pni c with(nolock) on c.ReceiptVoucherDetailsID=b.ReceiptVoucherDetailsID
inner join ( select ReturnInvoiceNo,ItemID,ScrapUnitID from ReturnInvoiceDetails with(nolock) 
	union select ReturnInvoiceNo,ItemID,ScrapUnitID from ReturnInvoiceAdditionalDetails with(nolock) 
	) as d on a.ReturninvoiceNo=d.ReturninvoiceNo and b.ItemID=d.Itemid
where isnull(b.ReleasedScrapQuantity,0)>0 and a.ReceiptVoucherDate >= @FromDate 
and c.StockConditionID=4 and ( isnull(c.UnitID,0)<>isnull(b.ScrapUnitID,0) or isnull(d.scrapunitid,0)<>isnull(b.scrapunitid,0))
and isnull(a.Canceled,0)=0 and a.Approved=1


---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_MCCode_Mismatch 
-- Itemid of 06 series should not be present in RVDetails
-- In RVDetails Table ,Itemid with 06 series material code should not be present when RV is priced and returntypeid of RV is 7 and contactcategoryid=3
select b.* ,'In RVDetails Table ,Itemid with 06 series material code should not be present when RV is priced and returntypeid of RV is 7 and contactcategoryid=3' Remarks 
from ReceiptVoucherAbstract_pni a with(nolock) 
inner join ReceiptVoucherDetails_pni b with(nolock) on a.ReceiptVoucherNo=b.ReceiptVoucherNo
where b.ItemID in (select ItemID from MaterialCode with(nolock) where MaterialCode like '06 %') and a.ContactCategoryID=3 and a.ReturnTypeID=7
and isnull(a.Canceled,0)=0 and isnull(a.Priced,0)=0 and ReceiptVoucherDate >= @FromDate 

---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_Qty_NULL  
-- Quantity is Null in ReceiptVoucherMaterialDetails table
-- Quantity in receiptvouchermaterialdetails Table should not be null
select b.* ,'Quantity in receiptvouchermaterialdetails Table should not be null' Remarks 
From ReceiptVoucherMaterialDetails_pni a with(nolock) 
inner join ReceiptVoucherDetails_pni b with(nolock) on a.ReceiptVoucherDetailsID=b.ReceiptVoucherDetailsID
inner join ReceiptVoucherAbstract_pni c with(nolock) on b.ReceiptVoucherNo=c.ReceiptVoucherNo
where a.Quantity is null and c.ReceiptVoucherDate>= @FromDate 

---------------------------------------------------------------------------- 

insert into Dataintegrity_RV_Make_Mismatch  
-- There should be row in ReceiptVoucherMaterialDetailsSub_pni table for a true case itemid with a valid make.
-- For Itemid with Serial Flag true , there is Should be valid make in  ReceiptVoucherMaterialDetailsSub_pni table for stockconditions other than 4
select a.ReceiptVoucherNo,a.OLID,a.ReceiptVoucherDate,b.ItemID,b.GoodQuantity,b.ReleasedGoodQuantity,b.ReleasedFaultyQuantity,b.ReleasedScrapQuantity,c.ReceiptVoucherMaterialDetailsID,c.Quantity,c.SerialNo,d.UserDefinedFieldValue 
,'For Itemid with Serial Flag true , there is Should be valid make in  ReceiptVoucherMaterialDetailsSub_pni table for stockconditions other than 4' Remarks 
from ReceiptVoucherAbstract_pni a with(nolock) 
inner join ReceiptVoucherDetails_pni b with(nolock) on a.ReceiptVoucherNo=b.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_pni c with(nolock) on b.ReceiptVoucherDetailsID=c.ReceiptVoucherDetailsID
left join ReceiptVoucherMaterialDetailsSub_pni d with(nolock) on c.ReceiptVoucherMaterialDetailsID=d.ReceiptVoucherMaterialDetailsID and d.DistributionNodeUserDefinedFieldID=20
where isnull(a.Priced,0)=0 and a.ReceiptVoucherDate>= @FromDate 
and b.ItemID in (select ItemID from stock with(nolock) where SerialFlag=1)
and (d.UserDefinedFieldValue is null or d.UserDefinedFieldValue='') and isnull(c.StockConditionID,0)<>4


---------------------------------------------------------------------------- 

-- ReceiptVoucher Details Negative quantity
insert into Dataintegrity_RV_NegetiveQty   
select * from ReceiptVoucherDetails_pni s with(nolock) 
where ( isnull(GoodQuantity,0)<0 or isnull(AlternateQuantity,0)<0 or isnull(ReleasedGoodQuantity,0)<0 or isnull(ReleasedFaultyQuantity,0)<0 or isnull(ReleasedScrapQuantity,0)<0 or isnull(ReceivedQuantity,0)<0 or isnull(OriginalQuantity,0)<0 ) 


insert into Dataintegrity_RVMD_NegetiveQty  
-- ReceiptVoucher Material Details Negative quantity 
select * from ReceiptVoucherMaterialDetails_pni s with(nolock) where isnull(Quantity,0)<0

---------------------------------------------------------------------------- Activity Approvals 


insert into Dataintegrity_DocumentNo_NotIn    
select * from (
--3.1 StoreInvoice
select StoreInvoiceNo TransactioNo,StoreInvoiceDate TransactioDate,118 ActivityID,'StoreInvoice_pni' TableName,'StoreInvoiceNo' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks 
from StoreInvoice_pni with(nolock) 
where StoreInvoiceNo not in (select DocumentNo from ActivityApprovals_pni with(nolock) where ActivityID=118 and DocumentNo=StoreInvoiceNo)
and StoreInvoiceDate>= @FromDate
union all 
--3.2 ReceiptVoucher
select ReceiptVoucherNo TransactioNo,ReceiptVoucherDate TransactioDate,98 ActivityID,'ReceiptVoucherAbstract_pni' TableName,'ReceiptVoucherNo' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks  
from ReceiptVoucherAbstract_pni with(nolock) 
where ReceiptVoucherNo not in (select DocumentNo from ActivityApprovals_pni with(nolock) where ActivityID=98 and DocumentNo=ReceiptVoucherNo)
and ReceiptVoucherDate>= @FromDate
union all 
--3.3 Purchase Order
select PurchaseOrderNo TransactioNo,PurchaseOrderDate TransactioDate,91 ActivityID,'PurchaseOrder' TableName,'PurchaseOrderNo' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks  
from PurchaseOrder with(nolock) 
where PurchaseOrderNo not in (select DocumentNo from ActivityApprovals_pni with(nolock) where ActivityID=91 and DocumentNo=PurchaseOrderNo)
and PurchaseOrderDate >= @FromDate and isnull(Canceled,0)=0
union all 
--3.4 Rate Contract
select RateContractID TransactioNo,DateAndTime TransactioDate,95 ActivityID,'RateContracts' TableName,'RateContractID' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks  
from RateContracts with(nolock) 
where RateContractID not in (select DocumentNo  from ActivityApprovals_pni with(nolock) where ActivityID=95 and DocumentNo=RateContractID)
and DateAndTime >= @FromDate
union all 
--3.7 Update Status
select DocumentStatusUpdateId TransactioNo,DateAndTime TransactioDate,125 ActivityID,'DocumentStatusUpdate_pni' TableName,'DocumentStatusUpdateId' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks  
from DocumentStatusUpdate_pni with(nolock) 
where DocumentStatusUpdateId not in (select DocumentNo  from ActivityApprovals_pni with(nolock) where ActivityID=125 and DocumentNo=DocumentStatusUpdateId)
and DateAndTime >= @FromDate
union all 
--3.8 Pre and Post Inspections
select si.StoreInspectionID TransactioNo,DateAndTime TransactioDate,64 ActivityID,'StoreInspections_pni' TableName,'StoreInspectionID' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks  
from StoreInspections_pni si with(nolock) ,StoreInspectionDetails_pni sid with(nolock) 
where si.StoreInspectionID=sid.StoreInspectionID
and sid.StoreInspectionID not in (select DocumentNo from ActivityApprovals_pni with(nolock) where ActivityID=64 and DocumentNo=si.StoreInspectionID)
and DateAndTime >= @FromDate and isnull(sid.Exempted,0)=0
union all 
--3.9 Store Inspections and Goods Received Note
select GoodsReceivedNoteNo TransactioNo,GoodsReceivedNoteDate TransactioDate,117275 ActivityID,'MasAbstract' TableName,'GoodsReceivedNoteNo' ColumnName,'while saving, a row should insert with the corresponding ActivityID and DocumentNo to ActivityApprovals table for a particular month' Remarks   
from MasAbstract with(nolock) 
where GoodsReceivedNoteNo not in (select DocumentNo from ActivityApprovals_pni with(nolock) where ActivityID in (117,275) and DocumentNo=GoodsReceivedNoteNo)
and GoodsReceivedNoteDate >= @FromDate
) A 

----------------------------------------------------------------------------

insert into Dataintegrity_StatusID_NotNULL  
-- StatusID in Activity Approvals should be compulsory
-- StatusID should not be null in ActivityApprovals_pni table
select * ,'StatusID should not be null in ActivityApprovals_pni table' Remarks1 
from ActivityApprovals_pni with(nolock) where statusid is null and dateandtime>= @FromDate 

----------------------------------------------------------------------------






GO
