USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[RVUPDATEdep]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RVUPDATEdep] @rvno int,@itemid int,@sc int,@ov money,@dep money
AS

declare @sf int
declare @qty numeric(18,4)=0
declare @rte money=0

--set @sf=(select SerialFlag from Stock where ItemID=@itemid)
--if @sf=0
set @qty=(select sum(rvmd.Quantity) from ReceiptVoucherMaterialDetails_Accounts rvmd 
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
where rvd.ReceiptVoucherNo=@rvno and rvd.ItemID=@itemid and rvmd.StockConditionID=@sc)

update jv set jv.Amount=@ov-@dep
from ReceiptVoucherMaterialDetails_Accounts rvmd
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
inner join ReceiptVoucherAbstract_Accounts rva on rva.ReceiptVoucherNo=rvd.ReceiptVoucherNo
inner join JournalVoucherDetails wdv_jvd on wdv_jvd.JournalVoucherNo=rva.JournalVoucherNo and wdv_jvd.Amount=round((rvmd.OriginalCost-rvmd.AccumulatedDepreciation),0) and wdv_jvd.FromMainAccountCode like '16.%'
inner join JournalVoucherDetails jv on jv.AutoGenID=wdv_jvd.AutoGenID
where rvd.ReceiptVoucherNo=@rvno and rvd.ItemID=@itemid and rvmd.StockConditionID=@sc

update jv set jv.Amount=@ov
from ReceiptVoucherMaterialDetails_Accounts rvmd
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
inner join ReceiptVoucherAbstract_Accounts rva on rva.ReceiptVoucherNo=rvd.ReceiptVoucherNo
inner join JournalVoucherDetails OV_jvd on OV_jvd.JournalVoucherNo=rva.JournalVoucherNo and OV_jvd.Amount=round(rvmd.OriginalCost,0) and OV_jvd.ToMainAccountCode like '10.%'
inner join JournalVoucherDetails jv on jv.AutoGenID=OV_jvd.AutoGenID
where rvd.ReceiptVoucherNo=@rvno and rvd.ItemID=@itemid and rvmd.StockConditionID=@sc

update jv set jv.Amount=@dep
from ReceiptVoucherMaterialDetails_Accounts rvmd
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
inner join ReceiptVoucherAbstract_Accounts rva on rva.ReceiptVoucherNo=rvd.ReceiptVoucherNo
inner join JournalVoucherDetails DP_jvd on DP_jvd.JournalVoucherNo=rva.JournalVoucherNo and DP_jvd.Amount=round(rvmd.AccumulatedDepreciation,0) and DP_jvd.FromMainAccountCode like '12.%'
inner join JournalVoucherDetails jv on jv.AutoGenID=DP_jvd.AutoGenID
where rvd.ReceiptVoucherNo=@rvno and rvd.ItemID=@itemid and rvmd.StockConditionID=@sc

update rvmd set rvmd.OriginalCost=@ov,rvmd.AccumulatedDepreciation=@dep
from ReceiptVoucherMaterialDetails_Accounts rvmd
inner join ReceiptVoucherDetails_Accounts rvd on  rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
where rvd.ReceiptVoucherNo=@rvno and ItemID=@itemid and rvmd.StockConditionID=@sc 

update rvmd set rvmd.rate=(rvmd.OriginalCost-rvmd.AccumulatedDepreciation)/@qty
from ReceiptVoucherMaterialDetails_Accounts rvmd
inner join ReceiptVoucherDetails_Accounts rvd on  rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
where rvd.ReceiptVoucherNo=@rvno and ItemID=@itemid and rvmd.StockConditionID=@sc 

update rvmd set rvmd.Amount=round((rvmd.rate*rvmd.quantity),0)
from ReceiptVoucherMaterialDetails_Accounts rvmd
inner join ReceiptVoucherDetails_Accounts rvd on  rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
where rvd.ReceiptVoucherNo=@rvno and ItemID=@itemid and rvmd.StockConditionID=@sc 

update rvd set rvd.Amount=round(rvmd.Amount,0),rvd.OriginalCost=rvmd.OC,rvd.AccumulatedDepreciation=rvmd.AD
from ReceiptVoucherDetails_Accounts rvd
inner join (select ReceiptVoucherDetailsID,sum(isnull(Amount,0)) as Amount,sum(OriginalCost) OC,sum(AccumulatedDepreciation) AD 
FROM ReceiptVoucherMaterialDetails_Accounts group by ReceiptVoucherDetailsID )as rvmd
on rvmd.ReceiptVoucherDetailsID=rvd.ReceiptVoucherDetailsID
where rvd.ReceiptVoucherNo in(Select ReceiptVoucherNo from ReceiptVoucherAbstract_Accounts where ReceiptVoucherNo=@rvno)

update rv set rv.TotalAmount=rvd.Amount
from ReceiptVoucherAbstract_Accounts rv
inner join (select ReceiptVoucherno,sum(isnull(Amount,0)) as Amount FROM ReceiptVoucherDetails_Accounts group by ReceiptVoucherNo )as rvd
on rvd.ReceiptVoucherNo=rv.ReceiptVoucherNo
where rvd.ReceiptVoucherNo=@rvno

update  sld set sld.Amount=rvd.Amount
from StockLedgerDetails_Accounts sld
inner join StockLedger_Accounts sl on sl.StockLedgerID=sld.StockLedgerID and sld.StockTransactionTypeID=2 and sld.InvoiceOrVoucherNo=@rvno  and sld.ItemID=@itemid
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ReceiptVoucherNo=sld.InvoiceOrVoucherNo and rvd.itemid=@itemid

set @qty=(select sum(slmd.Quantity) from StockLedgerMaterialDetails slmd 
inner join StockLedgerDetails_Accounts sld on sld.StockLedgerDetailsID=slmd.StockLedgerDetailsID and sld.StockTransactionTypeID=2 and itemid=@itemid
where sld.InvoiceOrVoucherNo=@rvno and sld.ItemID=@itemid and slmd.StockConditionID=@sc)

set @rte=(@ov-@dep)/@qty

update slmd set rate=@rte
from StockLedgerMaterialDetails slmd
inner join StockLedgerDetails_Accounts sld on sld.StockLedgerDetailsID=slmd.StockLedgerDetailsID and sld.StockTransactionTypeID=2 and sld.InvoiceOrVoucherNo=@rvno and sld.itemid=@itemid
where slmd.stockconditionid=@sc

update slmd set slmd.Amount=round((@rte*slmd.quantity),0)
from StockLedgerMaterialDetails slmd
inner join StockLedgerDetails_Accounts sld on sld.StockLedgerDetailsID=slmd.StockLedgerDetailsID and sld.StockTransactionTypeID=2 and sld.InvoiceOrVoucherNo=@rvno and sld.itemid=@itemid
where slmd.stockconditionid=@sc

update rad set rad.OriginalCost=@OV,rad.AccumulatedDepreciation=@dep
from ReleasedAssetDetails rad
inner join ReceiptVoucherMaterialDetails_Accounts rvmd on rvmd.SerialNo=rad.SerialNo
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ItemID=rad.IBVLID and rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID and rvd.ReceiptVoucherNo=rad.DocumentNo and rad.StockConditionID=rvmd.StockConditionID
where rvd.ReceiptVoucherNo=@rvno and rvd.itemid=@itemid and rvmd.stockconditionid=@sc

update rad set rad.WrittenDownValue=@ov-@dep
from ReleasedAssetDetails rad
inner join ReceiptVoucherMaterialDetails_Accounts rvmd on rvmd.SerialNo=rad.SerialNo
inner join ReceiptVoucherDetails_Accounts rvd on rvd.ItemID=rad.IBVLID and rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID and rvd.ReceiptVoucherNo=rad.DocumentNo and rad.StockConditionID=rvmd.StockConditionID
where rvd.ReceiptVoucherNo=@rvno and rvd.itemid=@itemid and rvmd.stockconditionid=@sc
GO
