USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[TB_MIS_14]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[TB_MIS_14] @AcOLID Int,@LC Varchar(10),@YearID Int,@MonthID Int
AS SET NOCOUNT ON


--Declare @AcOLID Int select @AcOLID = 341
--Declare @LC Varchar(10) select @LC = 421
--Declare @YearID Int select @YearID = 2026
--Declare @MonthID Int select @MonthID = 3


Declare @ToDate DateTime select @ToDate = ((select EOMonth(Convert(DateTime,(Cast(@YearID as Varchar(4))+'-'+cast(@MonthID as Varchar(2))+'-1')))))

Declare @TBID Table (TrialBalanceID Int,LocationCode Varchar(10)) 
Insert Into @TBID
select TrialBalanceID,ltrim(rtrim(left(LocationCode,3))) LocationCode from TrialBalance A with (nolock) where OLID=@AcOLID 
and (case when @LC='All' then 'All' else ltrim(rtrim(left(LocationCode,3))) end)=@LC
and TrialBalanceYear=@YearID and TrialBalanceMonth=@MonthID

Declare @TBOB Table (OLID Int,AccountCode Varchar(20),DebitAmount Money,CreditAmount Money,VoltageClassCode Varchar(20),LocationCode Varchar(10)) 
Insert Into @TBOB
select OLID,(MainAccountCode+SubAccountCode) as AccountCode,Round(DebitAmount,2) DebitAmount,round(CreditAmount,2) CreditAmount,VoltageClassCode,LocationCode
from @TBID A 
inner join TrialBalanceDetails B with (nolock) on b.TrialBalanceID=a.TrialBalanceID 
Left Outer Join VoltageClass C with (nolock) on c.VoltageClassID=b.VoltageClassID
where Len(MainAccountCode+SubAccountCode)>0
order by AccountCode

----- TB OB
Declare @OB1 Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @OB1
select LocationCode,isnull(AccountCode+VoltageClassCode,' Grand Total') as AccountCode,DebitAmount,CreditAmount from ( 
select * from @TBOB union all
select OLID,NULL,Sum(DebitAmount),Sum(CreditAmount),'',LocationCode from @TBOB Group By LocationCode,OLID,LocationCode 
) as A Order By LocationCode,a.AccountCode,VoltageClassCode


----- JV Analysis
Declare @FYYear Varchar(20) select @FYYear = (select concat(left(FYYear,4),'-',left(FYYear,4)+1) from Fn_PNI_ETLToday(@YearID,@MonthID))
Declare @ToDate2 DateTime select @ToDate2 = (select MonthEnddate from Fn_PNI_ETLToday(@YearID,@MonthID))
Declare @JV1 Table (LocationCode Varchar(20),AccountCode Varchar(20),YearID Int,MonthID Int,Monthdesc Varchar(20),Debit Money,Credit Money,AcDesc Varchar(500),OfficeLocation Varchar(200),OfficeID Int)
insert into @JV1
exec JV_Analysis_MIS @AcOLID,@LC,@FYYear,@ToDate2,'All'
Declare @JV2 Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @JV2
select LocationCode,AccountCode,Debit,Credit from @JV1 

----- Cash Analysis
Declare @FYYear1 Varchar(20) select @FYYear1 = (select concat(left(FYYear,4),'-',left(FYYear,4)+1) from Fn_PNI_ETLToday(@YearID,@MonthID))
Declare @ToDate1 DateTime select @ToDate1 = (select MonthEnddate from Fn_PNI_ETLToday(@YearID,@MonthID))
Declare @Cash Table (AccountCode Varchar(20),Debit Money,Credit Money,AcDesc Varchar(500),YearID Int,MonthID Int,Monthdesc Varchar(20),OfficeLocation Varchar(200),LocationCode Varchar(20),OfficeID Int,AcOLID Int)
insert into @Cash
exec Cash_Analysis_MIS @AcOLID,@LC,@FYYear1,@ToDate1,'All',0
Declare @CashA Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @CashA 
select LocationCode,AccountCode,Debit,Credit from @Cash 


----- TB Total
Declare @TBTotal Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @TBTotal 
select LocationCode,AccountCode,Sum(Debit) as Debit,Sum(Credit) as Credit from (
select * from @OB1 where AccountCode not in (' Grand Total','') union all 
select * from @JV2 where AccountCode not in (' Grand Total','') union all 
select * from @CashA where AccountCode not in (' Grand Total','') 
) as A Group By LocationCode,AccountCode
union all
select '99999' LocationCode,' Grand Total' as AccountCode,Sum(Debit) as Debit,Sum(Credit) as Credit from (
select * from @OB1 where AccountCode not in (' Grand Total','') union all 
select * from @JV2 where AccountCode not in (' Grand Total','') union all 
select * from @CashA where AccountCode not in (' Grand Total','') 
) as A Order By LocationCode,accountCode


select @AcOLID OLID,left(AccountCode,6) FromAcCode,'TBCB' ToAcCode,(CBDR-CBCR) Amount,right(AccountCode,1) VC,LocationCode1 from (
select LocationCode LocationCode1,AccountCode,Sum(OBDR) as OBDR,Sum(OBCR) as OBCR,Sum(JVDR) as JVDR,Sum(JVCR) as JVCR,Sum(CashDR) as CashDR,Sum(CashCR) as CashCR,Sum(TotalDR) as TotalDR,Sum(TotalCR) as TotalCR,Sum(CBDR) as CBDR,Sum(CBCR) as CBCR from (
select LocationCode,AccountCode,Debit as OBDR,Credit as OBCR,0 as JVDR,0 as JVCR,0 as CashDR,0 as CashCR,0 as TotalDR,0 as TotalCR,0 as CBDR,0 as CBCR from @OB1 where AccountCode!=' Grand Total' union all
select LocationCode,AccountCode,0,0,Debit,Credit,0,0,0,0,0,0 from @JV2 where len(AccountCode)!=0 union all
select LocationCode,AccountCode,0,0,0,0,Debit,Credit,0,0,0,0 from @CashA where AccountCode!=' Grand Total' union all
select LocationCode,AccountCode,0,0,0,0,0,0,Debit,Credit,0,0 from @TBToTal where AccountCode!=' Grand Total' union all
----- TB Swap
select LocationCode,AccountCode,0,0,0,0,0,0,0,0,(case when (Debit-Credit)>0 then (Debit-Credit) else 0 end) as Debit,(case when (Credit-Debit)>0 then (Credit-Debit) else 0 end) as Credit
from @TBToTal where AccountCode not in (' Grand Total','') and ((case when (Debit-Credit)>0 then (Debit-Credit) else 0 end)+(case when (Credit-Debit)>0 then (Credit-Debit) else 0 end))!=0
) as A Group By LocationCode,AccountCode 
) as A left outer join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=@AcOLID
left outer join ( select (MainAccountCode+SubAccountCode) as AcCode,Description as AcDesc from SubAccount with (nolock)) as B on b.AcCode=left(a.AccountCode,6) collate database_default
where AccountCode like '14.%'
Order By AccountCode
GO
