USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[TB_MIS_1]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TB_MIS_1] @AcOLID Int,@LC Varchar(10),@YearID Int,@MonthID Int
AS SET NOCOUNT ON


--Declare @AcOLID Int select @AcOLID = 337
--Declare @LC Varchar(10) select @LC = 765
--Declare @YearID Int select @YearID = 2025
--Declare @MonthID Int select @MonthID = 12


Declare @ToDate DateTime select @ToDate = ((select EOMonth(Convert(DateTime,(Cast(@YearID as Varchar(4))+'-'+cast(@MonthID as Varchar(2))+'-1')))))


Declare @TBID Table (TrialBalanceID Int,LocationCode Varchar(10)) 
Insert Into @TBID
select TrialBalanceID,ltrim(rtrim(left(LocationCode,3))) LocationCode from TrialBalance A with (nolock) where OLID=@AcOLID 
and (case when @LC='All' then 'All' else ltrim(rtrim(left(LocationCode,3))) end)=@LC
and TrialBalanceYear=@YearID and TrialBalanceMonth=@MonthID

Declare @TBOB Table (OLID Int,AccountCode Varchar(20),DebitAmount Money,CreditAmount Money,VoltageClassCode Varchar(20),LocationCode Varchar(10)) 
Insert Into @TBOB
select OLID,(MainAccountCode+SubAccountCode) as AccountCode,Round(DebitAmount,2) DebitAmount,round(CreditAmount,2) CreditAmount,VoltageClassCode,LocationCode
from @TBID A 
inner join TrialBalanceDetails B with (nolock) on b.TrialBalanceID=a.TrialBalanceID 
Left Outer Join VoltageClass C with (nolock) on c.VoltageClassID=b.VoltageClassID
where Len(MainAccountCode+SubAccountCode)>0
order by AccountCode


Declare @CB Table (CashBookID Int,OLID Int,Receipts Money,AcCode Varchar(20),RAcCode Varchar(20),LocationCode Varchar(50)) 
Insert Into @CB 
select * from (
select  distinct CashBookID,cb.OLID,isnull(Receipts,0) Receipts,(case when len(isnull(cb.LocationCode ,''))!=0 then (MainAccountCode+SubAccountCode) else '24.110' end) as AcCode,'24.110' as RAcCode 
,(case when len(ltrim(rtrim(left(cb.LocationCode,3))))=0 and AcOLID=@AcOLID then @LC else ltrim(rtrim(left(cb.LocationCode,3))) end) LocationCode 
from CashBook CB with (nolock) 
left outer join ExternalOrganisations EO with (nolock) on eo.ExternalOrganisationID=cb.ExternalOrganisationID 
left join OfficeLocationAccountingUnitDetails ola with(nolock) on ola.OLID=cb.OLID
----outer apply (select  AcOLID,A.OLID,LocationCode from (
----	select * from OfficeLocationAccountingUnitDetails with(nolock) where AcOLID=@AcOLID and OfficeID in (65,66,49,50,80,83)
----	) A Left join OfficeLocationAllocation B with(nolock) on B.OfficeLocationAllocationID=A.AcOLID
----	left join LocationCode LC with (nolock) on lc.OfficeID=b.OfficeID and lc.LocationID=b.LocationID 
----	where A.OLID=CB.OLID) ola
where CashBookYear = @YearID and CashBookMonth  = @MonthID 
and cb.OLID in (select OLID from OfficeLocationAccountingUnitDetails with(nolock) where AcOLID=@AcOLID)
and (case when len(isnull(cb.LocationCode ,''))!=0 then (MainAccountCode+SubAccountCode) else '24.110' end) is not NULL 
) A where (case when @LC='All' then 'All' else LocationCode end)=@LC 
--and CashBookID = 22728 

Declare @Cash Table (LocationCode Varchar(10),OLID Int,CBVNo Int,TransactionDate DateTime,CashBookTransactionTypeID Int,AccountCode varchar(20),Amount Money,DisbursementBank Money,DBAcCode Varchar(20),RRAmount Money,Others Money)
IF @AcOLID=337 
Insert Into @Cash
select LocationCode,cb.OLID,CBVNo,TransactionDate,CashBookTransactionTypeID,(MainAccountCode+SubAccountCode) as AccountCode,round(Sum(isnull(ReceiptsOrRemittance,0)+isnull(DistributionBank,0)),2) as Amount,round(SUm(isnull(DistributionBank,0)),2) as DisbursementBank,AcCode,round(Sum(isnull(ReceiptsOrRemittance,0)),2) as RRAmount,round(Sum(isnull(Others,0)),2) as Others
from CashBookTransactions CB with (nolock)
inner join @CB B on b.CashBookID=cb.CashBookID and b.OLID=cb.OLID --and LocationCode is not NULL
where Approved=1 --and CashBookID in (select CashBookID from @CB B where b.CashBookID=cb.CashBookID and b.OLID=cb.OLID)
and (isnull(ReceiptsOrRemittance,0)+isnull(DistributionBank,0)+isnull(Others,0))!=0
and Len((MainAccountCode+SubAccountCode))!=0
Group By LocationCode,cb.OLID,CBVNo,TransactionDate,CashBookTransactionTypeID,(MainAccountCode+SubAccountCode),AcCode
having (MainAccountCode+SubAccountCode) like '41.%'
else 

Insert Into @Cash
select LocationCode,cb.OLID,CBVNo,TransactionDate,CashBookTransactionTypeID,(MainAccountCode+SubAccountCode) as AccountCode,round(Sum(isnull(ReceiptsOrRemittance,0)+isnull(DistributionBank,0)),2) as Amount,round(SUm(isnull(DistributionBank,0)),2) as DisbursementBank,AcCode,round(Sum(isnull(ReceiptsOrRemittance,0)),2) as RRAmount,round(Sum(isnull(Others,0)),2) as Others
from CashBookTransactions CB with (nolock)
inner join @CB B on b.CashBookID=cb.CashBookID and b.OLID=cb.OLID --and LocationCode is not NULL
where Approved=1 --and CashBookID in (select CashBookID from @CB B where b.CashBookID=cb.CashBookID and b.OLID=cb.OLID)
and (isnull(ReceiptsOrRemittance,0)+isnull(DistributionBank,0)+isnull(Others,0))!=0
and Len((MainAccountCode+SubAccountCode))!=0
Group By LocationCode,cb.OLID,CBVNo,TransactionDate,CashBookTransactionTypeID,(MainAccountCode+SubAccountCode),AcCode

Declare @24110 Table (LocationCode Varchar(10),OLID Int,CBVNo Int,TransactionDate DateTime,AcCode Varchar(20),Debit Money,Credit Money)
Insert Into @24110 
select LocationCode,OLID,CBVNo,TransactionDate,'24.1107',(isnull(RRAmount,0)+isnull(Others,0)) as Debit,0 as Creidt
from @Cash where (isnull(RRAmount,0)+isnull(Others,0))!=0 and CashBookTransactionTypeID=1 
--union all select OLID,0,@ToDate ,'24.1107',-Receipts,0 from @CB where Receipts!=0
union all
select LocationCode,OLID,CBVNo,TransactionDate,'24.1107',0 as Debit, (isnull(RRAmount,0)+isnull(Others,0)) as Creditt
from @Cash where (isnull(RRAmount,0)+isnull(Others,0))!=0 and CashBookTransactionTypeID=2 


Declare @JVNo Table (LocationCode Varchar(10),OLID Int,JournalVoucherNo Int,JournalVoucherDate DateTime,RectifiedJVNo Int,DocumentTypeID Int,DocumentNo Int,Narration Varchar(Max),OfficialReferenceNo Varchar(50))
Insert Into @JVNo
select ltrim(rtrim(left(LocationCode,3))) LocationCode,OLID,JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DoucmentNo,Narration,OfficialReferenceNo
from JournalVoucher A with (nolock) where Approved=1 and OLID=@AcOLID 
and Year(JournalVoucherDate)=@YearID and Month(JournalVoucherDate)=@MonthID 
and (case when @LC='All' then 'All' else ltrim(rtrim(left(LocationCode,3))) end)=@LC 
and isnull(DocumentTypeID,0)!=43
--and JournalVoucherNo = 1865237


Declare @JVD Table (LocationCode Varchar(10),OLID Int,JournalVoucherNo Int,JournalVoucherDate DateTime,RectifiedJVNo Int,DocumentTypeID Int,DocumentNo Int,FromAcCode Varchar(20),ToAcCode Varchar(20),VoltageClassCode Varchar(20),Amount Money,OfficialReferenceNo Varchar(50))
Insert Into @JVD
select LocationCode,a.OLID,a.JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DocumentNo
,(FromMainAccountCode+FromSubAccountCode) as FromAcCode,(ToMainAccountCode+ToSubAccountCode) as ToAcCode,VoltageClassCode,round(Sum(isnull(Amount,0)),2) as Amount,OfficialReferenceNo
from @JVNo A Inner Join JournalVoucherDetails B with (nolock) on b.JournalVoucherNo=a.JournalVoucherNo
Left Outer Join VoltageClass C with (nolock) on c.VoltageClassID=b.VoltageClassID
--where ((FromMainAccountCode+FromSubAccountCode)='47.609' or (ToMainAccountCode+ToSubAccountCode)='47.609')
--where a.JournalVoucherNo in ( 246776 )
Group By  LocationCode,a.OLID,a.JournalVoucherNo,JournalVoucherDate,RectifiedJVNo,DocumentTypeID,DocumentNo,(FromMainAccountCode+FromSubAccountCode),(ToMainAccountCode+ToSubAccountCode),VoltageClassCode,OfficialReferenceNo




Declare @TB Table (OLID Int,AccountCode Varchar(20),VoltageClassCode Varchar(20),Debit Money,Credit Money)
Insert Into @TB
select OLID,AccountCode,VoltageClassCode,Sum(DebitAmount) as Debit,Sum(CreditAmount) as Credit from (
select OLID,AccountCode,VoltageClassCode,DebitAmount,CreditAmount from @TBOB
union all select OLID,FromAcCode,VoltageClassCode,Amount,0 from @JVD where Len(FromAcCode)>0
union all select OLID,ToAcCode,VoltageClassCode,0,Amount from @JVD where Len(ToAcCode)>0
union all select OLID,AcCode,'7' as VoltageClassCode,0 as Debit ,(Credit-Debit) from @24110 
union all select OLID,AccountCode,'7' as VoltageClassCode,(case when CashBookTransactionTypeID=2 then Amount else 0 end) as Debit ,(case when CashBookTransactionTypeID=1 then Amount else 0 end) as Credit from @Cash 
union all select OLID,DBAcCode as AccountCode,'7' as VoltageClassCode,SUm(case when CashBookTransactionTypeID=1 then DisbursementBank else -DisbursementBank  end) as Debit,0 as Credit from @Cash Group By OLID,DBAcCode
) as A Group By OLID,AccountCode,VoltageClassCode


--Declare @BRNo Table (BillTypes Varchar(50),BillRegisterNo Varchar(50),BillRegisterDate DateTime,OfficialReferenceNo Varchar(50),JournalVoucherNo Int)
--Insert Into @BRNo 
--select * from (
--select 'Salary Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,b.JournalVoucherNo
--from SalaryInvoice A with (nolock) 
--inner join SalaryInvoiceJournalVoucherDetails B with (nolock) on b.BillRegisterNo=a.BillRegisterNo
--where b.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=b.JournalVoucherNo)
--union all
--select 'Supplier Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from SupplierInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Works Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from CivilInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Works Bill Adj' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.AdjustmentJVNumber
--from CivilInvoice A with (nolock) 
--where isnull(a.AdjustmentJVNumber,0) in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=isnull(a.AdjustmentJVNumber,0))
--union all
--select 'Supplier Bill Adj' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.AdjustmentJVNumber
--from SupplierInvoice A with (nolock) 
--where isnull(a.AdjustmentJVNumber,0) in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=isnull(a.AdjustmentJVNumber,0))
--union all
--select 'Communication Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from CommunicationInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Miscellaneous Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from MiscellaneousInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Refund Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from RefundInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'VehicleRepair Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from VehicleRepairInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Fuel Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from FuelInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Imprest Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from ImprestInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'ContractAgency Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from ContractAgencyInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Rent Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from RentInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Retirement' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from RetirementInvoice A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Proforma Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.ProformaJournalVoucherNo
--from ProformaInvoice A with (nolock) 
--where a.ProformaJournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.ProformaJournalVoucherNo)
--union all
--select 'Proforma Bill' BillType,a.BillRegisterNo,BillRegisterDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.BillRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.RegularizedJournalVoucherNo 
--from ProformaInvoice A with (nolock) 
--where a.RegularizedJournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.RegularizedJournalVoucherNo)
--union all
--select 'AT Advice of Transferr' BillType,a.AdviceofTransferNo,AdviceofTransferDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.AdviceofTransferNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.ATJournalVoucherNo 
--from AdviceofTransfer A with (nolock) 
--where a.ATJournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.ATJournalVoucherNo)
----and AdviceofTransferTypeID not in (1,2)
--union all
--select 'Acceptance Advice of Transferr' BillType,a.AdviceofTransferNo,AdviceofTransferDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.AdviceofTransferNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.AcceptanceJournalVoucherNo 
--from AdviceofTransfer A with (nolock) 
--where a.AcceptanceJournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.AcceptanceJournalVoucherNo)
----and AdviceofTransferTypeID not in (1,2)
--union all
--select 'Acceptance Clearance Advice of Transferr' BillType,a.AdviceofTransferNo,AdviceofTransferDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.AdviceofTransferNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.AcceptanceClearnceJVNo
--from AdviceofTransfer A with (nolock) 
--where a.AcceptanceClearnceJVNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.AcceptanceClearnceJVNo)
--union all
--select 'AT Clearance Advice of Transferr' BillType,a.AdviceofTransferNo,AdviceofTransferDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.AdviceofTransferNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.AcknowledgedJournalVoucherNo
--from AdviceofTransfer A with (nolock) 
--where a.AcknowledgedJournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.AcknowledgedJournalVoucherNo)
--union all
--select 'Assets Advice of Transferr' BillType,a.AdviceofTransferNo,AdviceofTransferDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.AdviceofTransferNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.AssetJournalVoucherNo
--from AdviceofTransfer A with (nolock) 
--where a.AssetJournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.AssetJournalVoucherNo)
--union all
--select 'Asset Categorization' BillType,a.CostRegisterNo,CategorizationDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.CostRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo
--from CostRegister A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Asset Labour JV' BillType,a.CostRegisterNo,CategorizationDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.CostRegisterNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,isnull(a.LabourJVNo,0)
--from CostRegister A with (nolock) 
--where isnull(a.LabourJVNo,0) in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=isnull(a.LabourJVNo,0)) and isnull(a.LabourJVNo,0)!=0
--) A where JournalVoucherNo = 1865237


--Declare @StoreTransaction Table (TransactionTypes Varchar(50),TransactionNo Varchar(50),TransactionDate DateTime,OfficialReferenceNo Varchar(50),JournalVoucherNo Int)
--Insert Into @StoreTransaction 
--select 'Store Invoice' TransactionType,a.StoreInvoiceNo,StoreInvoiceDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.StoreInvoiceNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo 
--from StoreInvoice_Accounts A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)
--union all
--select 'Receipt Voucher' BillType,a.ReceiptVoucherNo,ReceiptVoucherDate,(case when a.OfficialReferenceNo in ('',' ') then cast(a.ReceiptVoucherNo as Varchar(50)) else a.OfficialReferenceNo end) as OfficialReferenceNo,a.JournalVoucherNo 
--from ReceiptVoucherAbstract_Accounts A with (nolock) 
--where a.JournalVoucherNo in (select JournalVoucherNo from @JVNo C where c.JournalVoucherNo=a.JournalVoucherNo)


Declare @JVA Table (LocationCode Varchar(10),OLID Int,JournalVoucherNo Int,JournalVoucherDate DateTime,TransactionTypes Varchar(50),TransactionDate DateTime,OfficialReferenceNo Varchar(50),AccountCode Varchar(20),Debit Money,Credit Money,DocumentTypeID Int,Ordered Int)
Insert Into @JVA 
select LocationCode,OLID,a.JournalVoucherNo,JournalVoucherDate,(case when isnull(DocumentTypeID,0)=40 then 'Legacy Journal Voucher' else '' end) as TransactionTypes
,(case when isnull(DocumentTypeID,0)=40 then a.JournalVoucherDate else NULL end) as TransactionDate
,(case when isnull(DocumentTypeID,0)=40 then a.OfficialReferenceNo else '0' end) as OfficialReferenceNo
,FromAcCode+VoltageClassCode as AccountCode,Amount as Debit,0 as Credit,DocumentTypeID ,1 as Ordered
from @JVD A 
--Left Outer Join (select * from @BRNo union all select * from @StoreTransaction ) B on b.JournalVoucherNo=a.JournalVoucherNo
where len(FromAcCode)!=0
union all
select LocationCode,OLID,a.JournalVoucherNo,JournalVoucherDate,(case when isnull(DocumentTypeID,0)=40 then 'Legacy Journal Voucher' else '' end) as TransactionTypes
,(case when isnull(DocumentTypeID,0)=40 then a.JournalVoucherDate else NULL end) as TransactionDate
,(case when isnull(DocumentTypeID,0)=40 then a.OfficialReferenceNo else '0' end) as OfficialReferenceNo
,ToAcCode+VoltageClassCode as AccountCode,0 as Debit,Amount as Credit,DocumentTypeID ,2 as Ordered
from @JVD A 
--Left Outer Join (select * from @BRNo union all select * from @StoreTransaction ) B on b.JournalVoucherNo=a.JournalVoucherNo
where len(ToAcCode)!=0


Declare @DiffJVNo Table (JournalVoucherNo Int,Diff Money) 
Insert Into @DiffJVNo 
select JournalVoucherNo,Diff from ( select a.JournalVoucherNo,(Sum(Debit)-SUm(Credit)) as Diff
from @JVA A Group By a.JournalVoucherNo ) as A where Diff!=0



----- TB OB
Declare @OB Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @OB
select LocationCode,isnull(AccountCode+VoltageClassCode,' Grand Total') as AccountCode,DebitAmount,CreditAmount from ( 
select * from @TBOB union all
select OLID,NULL,Sum(DebitAmount),Sum(CreditAmount),'',LocationCode from @TBOB Group By LocationCode,OLID,LocationCode 
) as A Order By LocationCode,a.AccountCode,VoltageClassCode


----- JV Analysis
Declare @JV Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @JV
select LocationCode,AccountCode,Sum(Debit) as Debit,Sum(Credit) as Credit from (
select LocationCode,OLID,a.JournalVoucherNo,JournalVoucherDate,TransactionTypes,TransactionDate,OfficialReferenceNo,AccountCode,Debit,Credit,DocumentTypeID,Ordered,isnull(c.Diff,0) as DiffAmount
from @JVA A left outer join @DiffJVNo C on c.JournalVoucherNo=a.JournalVoucherNo
union all
select LocationCode,OLID,0,NULL,' Grand Total',NULL,'','',Sum(Debit) as Debit,Sum(Credit) as Credit,NULL ,0 as Ordered,0 as DiffAmount
from @JVA A Group By LocationCode,OLID 
) as A Group By LocationCode,AccountCode
Order By LocationCode,AccountCode --JournalVoucherNo,OfficialReferenceNo,Ordered




----- Cash Analysis
Declare @CashA Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @CashA 
select LocationCode,AccountCode,Sum(Debit),Sum(Credit) from (
select LocationCode,OLID,CBVNo,TransactionDate,Ltrim(Rtrim(AccountCode))+'7' as AccountCode,(case when CashBookTransactionTypeID=2 then (isnull(Amount,0)+isnull(Others,0)) else 0 end) as Debit
,(case when CashBookTransactionTypeID=1 then (isnull(Amount,0)+isnull(Others,0)) else 0 end) as Credit from @Cash where Len(Ltrim(Rtrim(AccountCode)))!=0
union all 
select LocationCode,OLID,0 as CBVNo,@ToDate as TransactionDate,ltrim(Rtrim(DBAcCode))+'7' as AccountCode,SUm(case when CashBookTransactionTypeID=1 then DisbursementBank else 0  end) as Debit,SUm(case when CashBookTransactionTypeID=2 then DisbursementBank else 0  end) as Credit from @Cash Group By LocationCode,OLID,DBAcCode
union all 
select * from @24110 
union all 
select LocationCode,OLID,0,NULL,' Grand Total',Sum(Debit) as Debit ,Sum(Credit) as Credit from (
select LocationCode,OLID,CBVNo,TransactionDate,ltrim(Rtrim(AccountCode))+'7' as AccountCode,(case when CashBookTransactionTypeID=2 then (isnull(Amount,0)+isnull(Others,0)) else 0 end) as Debit
,(case when CashBookTransactionTypeID=1 then (isnull(Amount,0)+isnull(Others,0)) else 0 end) as Credit from @Cash where Len(Ltrim(Rtrim(AccountCode)))!=0
union all 
select LocationCode,OLID,0 as CBVNo,@ToDate as TransactionDate,ltrim(Rtrim(DBAcCode))+'7' as AccountCode,SUm(case when CashBookTransactionTypeID=1 then DisbursementBank else 0 end) as Debit,SUm(case when CashBookTransactionTypeID=2 then DisbursementBank else 0 end) as Credit from @Cash Group By LocationCode,OLID,DBAcCode
union all select * from @24110 
) as A Group By LocationCode,OLID
) as A Group By LocationCode,AccountCode
Order By LocationCode,AccountCode --TransactionDate,CBVNo



----- TB Total
Declare @TBTotal Table (LocationCode Varchar(10),AccountCode Varchar(20),Debit Money,Credit Money)
Insert Into @TBTotal 
select LocationCode,AccountCode,Sum(Debit) as Debit,Sum(Credit) as Credit from (
select * from @OB where AccountCode not in (' Grand Total','') union all 
select * from @JV where AccountCode not in (' Grand Total','') union all 
select * from @CashA where AccountCode not in (' Grand Total','') 
) as A Group By LocationCode,AccountCode
union all
select '99999' LocationCode,' Grand Total' as AccountCode,Sum(Debit) as Debit,Sum(Credit) as Credit from (
select * from @OB where AccountCode not in (' Grand Total','') union all 
select * from @JV where AccountCode not in (' Grand Total','') union all 
select * from @CashA where AccountCode not in (' Grand Total','') 
) as A Order By LocationCode,accountCode



--select AccountCode,Sum(OBDR) OBDR,Sum(OBCR) OBCR,Sum(JVDR) JVDR,Sum(JVCR) JVCR,Sum(CashDR) CashDR,Sum(CashCR) CashCR,Sum(TotalDR) TotalDR,Sum(TotalCR) TotalCR,Sum(CBDR) CBDR,Sum(CBCR) CBCR,AcDesc,YearID,Monthdesc,OfficeLocation,LocationCode,OfficeID from (
select a.*,AcDesc,@YearID as YearID,DateName(Month,@ToDate) as Monthdesc,ola.Fileas as OfficeLocation
,(case when @LC='All' then 'All Location Code' else LocationCode1 end) as LocationCode,ola.OfficeID from (
select LocationCode LocationCode1,AccountCode,Sum(OBDR) as OBDR,Sum(OBCR) as OBCR,Sum(JVDR) as JVDR,Sum(JVCR) as JVCR,Sum(CashDR) as CashDR,Sum(CashCR) as CashCR,Sum(TotalDR) as TotalDR,Sum(TotalCR) as TotalCR,Sum(CBDR) as CBDR,Sum(CBCR) as CBCR from (
select LocationCode,AccountCode,Debit as OBDR,Credit as OBCR,0 as JVDR,0 as JVCR,0 as CashDR,0 as CashCR,0 as TotalDR,0 as TotalCR,0 as CBDR,0 as CBCR from @OB where AccountCode!=' Grand Total' union all
select LocationCode,AccountCode,0,0,Debit,Credit,0,0,0,0,0,0 from @JV where len(AccountCode)!=0 union all
select LocationCode,AccountCode,0,0,0,0,Debit,Credit,0,0,0,0 from @CashA where AccountCode!=' Grand Total' union all
select LocationCode,AccountCode,0,0,0,0,0,0,Debit,Credit,0,0 from @TBToTal where AccountCode!=' Grand Total' union all
----- TB Swap
select LocationCode,AccountCode,0,0,0,0,0,0,0,0,(case when (Debit-Credit)>0 then (Debit-Credit) else 0 end) as Debit,(case when (Credit-Debit)>0 then (Credit-Debit) else 0 end) as Credit
from @TBToTal where AccountCode not in (' Grand Total','') and ((case when (Debit-Credit)>0 then (Debit-Credit) else 0 end)+(case when (Credit-Debit)>0 then (Credit-Debit) else 0 end))!=0
) as A Group By LocationCode,AccountCode 
) as A left outer join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=@AcOLID
left outer join ( select (MainAccountCode+SubAccountCode) as AcCode,Description as AcDesc from SubAccount with (nolock)) as B on b.AcCode=left(a.AccountCode,6) collate database_default
--where AccountCode like '24.4047%'
--) A Group By AccountCode,AcDesc,YearID,Monthdesc,OfficeLocation,LocationCode,OfficeID
Order By AccountCode


GO
