USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardTransactionList]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardTransactionList] @olid varchar(200) as 
SET NOCOUNT ON

declare @s_date date=(select
    cast('01-Apr-' +
         cast(
            case
               when datepart(mm,getdate()) >3
           then DATEPART(yy,getdate()) 
           else DATEPART(yy,getdate())-1 
            end as varchar
         ) as datetime
    ) as fy_start)

declare @e_date date=(select
    cast('31-mar-' +
         cast(
            case
               when datepart(mm,getdate()) >3 
           then DATEPART(yy,getdate())+1 
           else DATEPART(yy,getdate())
            end as varchar
         ) as datetime
    ) as fy_start)

DECLARE @ps_date DATE = (
    SELECT CAST(
        '01-Apr-' +
        CAST(
            CASE
                WHEN DATEPART(MM, GETDATE()) > 3
                THEN DATEPART(YY, GETDATE()) - 1
                ELSE DATEPART(YY, GETDATE()) - 2
            END AS VARCHAR
        ) AS DATETIME
    )as fy_start)

DECLARE @pe_date DATE = (
    SELECT CAST(
        '31-Mar-' +
        CAST(
            CASE
                WHEN DATEPART(MM, GETDATE()) > 3
                THEN DATEPART(YY, GETDATE()) 
                ELSE DATEPART(YY, GETDATE()) - 1
            END AS VARCHAR
        ) AS DATETIME
    )as fy_start)

 select 1 as sort_order, 5 as card_type  ,count(*) as counts, 'Pending DTC for Providing Transformers to New Work' as title,2 as types From WorkOrder w 
inner join StoreIndentAbstract sd on sd.DocumentNo=w.WorkOrderNo and sd.Approved=1 and passed=0
inner join DistributionNodes d on 
w.DistributionNodeID=d.DistributionNodeID outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 outer apply 
(select top 1 s.* from StoreInvoice_pni s
inner join StoreInvoiceDetails_pni kk on kk.StoreInvoiceNo=s.StoreInvoiceNo and kk.ItemID in (select itemid From capacityDetails) where s.DocumentNo=w.WorkOrderNo 
and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1) kl outer apply (select top 1 k.*
 From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 where 
c.HeirarchyOfficeLocationAllocationID=w.olid)loc where w.WorkOrderDate>='2022-04-01' and  w.legacy=0 and StoreInvoiceNo is null and w.approved=1 and w.relation='NEW' and w.Canceled=0 and w.CivilWorkContractTypeID!=10 and kl1.olid
in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=1)

union

select 2 as sort_order,1 as card_type , sum(mm.quan) as counts, 'Pending for DTC Replacement(Faulty Transformer)' as title, 2 as types  From OfficeLocationAllocation kl1l outer apply( select count(*) quan  From    WorkOrder  w
inner join StoreIndentAbstract sd on sd.DocumentNo=w.WorkOrderNo and sd.Approved=1 and passed=0 and sd.canceled=0
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID
inner join WorkAllocation wol on wol.WorkAllocationID=w.WorkAllocationID
outer apply
(select top 1 *from  AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1
outer apply
(select  top 1 s.* from  StoreInvoice_pni s
inner join StoreInvoiceDetails_pni kk
on kk.StoreInvoiceNo=s.StoreInvoiceNo and kk.ItemID in (select itemid From capacityDetails)
 where s.DocumentNo=w.WorkOrderNo and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1) kl
outer apply
(select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation  k
on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50
where c.HeirarchyOfficeLocationAllocationID=w.olid)loc
where  w.legacy=0 and  WorkOrderDate>='2022-04-01' and StoreInvoiceNo is null   and w.WorkAllocationID  in (158) and w.approved=1 and w.Canceled=0 and  w.awarded=1
and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where 
OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID)
) mm where
                    OfficeID=50and OfficeLocationAllocationID in ( select HeirarchyOfficeLocationAllocationID From 
OfficeLocationHeirarchy where OfficeLocationAllocationID=1)  

union

select 3 as sort_order,3 as card_type , count(*) as counts , 'Pending for Work Order' as title,2 as types From SanctionEstimate w
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID inner join ActivityApprovals_Works df on df.DocumentNo=w.SanctionEstimateNo
and df.ActivityID=51 and df.StatusID=5 outer apply (select top 1 *from AllDetails s where s.ContactID=df.ApproverContactID and s.ODLDID=df.ApproverODLDID) kl1
 outer apply (select top 1 s.* from workorder s where s.SanctionEstimateNo=w.SanctionEstimateNo and s.Approved=1 and s.Canceled=0) kl
outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID
and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc
 where  sanctionestimatedate>='2022-04-01' and  kl.SanctionEstimateNo is null and w.approved=1
 and w.Canceled=0 and  kl1.olid in (select HeirarchyOfficeLocationAllocationID
From OfficeLocationHeirarchy where OfficeLocationAllocationID=1)
union
select 4 as sort_order, 4 as card_type , count(*), 'Pending for Indent' as title,2 as types From WorkOrder w
INNER JOIN SanctionEstimate se ON se.SanctionEstimateNo = w.SanctionEstimateNo
inner join ActivityApprovals_Works df on df.DocumentNo=w.workorderno and df.ActivityID in (133,357) and df.StatusID=5
 left join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID
outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1
outer apply (select top 1 s.* from StoreIndentAbstract s where s.DocumentNo=w.WorkOrderNo and DocumentTypeID in (2,22) and s.Canceled=0 and s.approved=1) kl
outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50
 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc
 where w.WorkOrderDate>='2022-04-01' and StoreIndentNo is null and w.approved=1 and w.Canceled=0 and w.legacy=0 and w.Awarded=1 and kl1.olid 
in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where
OfficeLocationAllocationID=1) and   (w.TokenWorkOrder=0 or w.WorkAllocationID  !=158 )
union

 select 5 as sort_order,7 as card_type  ,count(*) as counts, 'Pending for RV' as title,2 as types From WorkOrder w inner join ReturnInvoiceAbstract r 
on r.DocumentNo=w.WorkOrderNo and r.Approved=1 and r.Canceled=0 inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID
 outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 outer apply (select top 1 k.* From 
OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 
where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where w.WorkOrderDate>='2022-04-01' and  w.approved=1 and w.legacy=0 and  w.Canceled=0 
and  w.awarded=1 and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where
 OfficeLocationAllocationID=1) and r.Passed=0  


union





select  6 AS sort_order,6 AS card_type,COUNT(DISTINCT w.WorkOrderNo) AS counts,'Pending for Return invoice' AS title,2 AS types 
From    WorkOrder  w
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID 
INNER JOIN StoreIndentAbstract SD ON SD.DocumentNo = w.WorkOrderNo AND SD.Approved = 1 AND SD.Canceled = 0
INNER JOIN StoreInvoice_pni SI ON SI.StoreIndentNo = SD.StoreIndentNo AND SI.Canceled = 0
inner join WorkAllocation wol on wol.WorkAllocationID=w.WorkAllocationID
 inner join ActivityApprovals_Works df on df.DocumentNo=w.workorderno and df.ActivityID in (133,357) and df.StatusID=5
outer apply
(select top 1 *from  AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1
outer apply
(select  top 1 s.* from  ReturnInvoiceAbstract  s 
left join ActivityApprovals_Works A  on A.DocumentNo = s.ReturninvoiceNo where s.DocumentNo = w.WorkOrderNo
and s.DocumentTypeID in (2,22) and s.Canceled = 0 and A.StatusID in (1,8,4) and A.ActivityID in (281)) kl
outer apply(select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation  k
on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 
where c.HeirarchyOfficeLocationAllocationID=w.olid)loc
where   workorderdate >='2022-04-01' and ReturnInvoiceNo is null    and w.approved=1 and w.Canceled=0  and w.awarded=1
and (w.SanctionEstimateNo in (select  SanctionEstimateNo From SanctionEstimateWorkAllocationDetails where CivilWorkMeasurementTypeID=5)
or  
w.WorkAllocationID  in (158,15))
and  (TokenWorkOrder!=0  or  Relation!='NEW')
and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=1)

union


SELECT 7 AS sort_order,28 AS card_type,COUNT(DISTINCT w.WorkOrderNo) AS counts,'Enhancement RI Pending' AS title,2 AS types FROM WorkOrder w
inner join SanctionEstimate se on se.SanctionEstimateNo=w.SanctionEstimateNo
INNER JOIN DistributionNodes d  ON w.DistributionNodeID = d.DistributionNodeID
inner join DistributionNodeDetails dn on dn.DistributionNodeID=d.DistributionNodeID
OUTER APPLY ( SELECT TOP 1 s.* FROM AllDetails s WHERE s.ContactID = w.WorkInChargeID AND s.ODLDID = w.ODLDID) kl1
OUTER APPLY (select TOP 1 s.*  from ReturninvoiceAbstract s
left join ActivityApprovals_Works A   on A.DocumentNo = s.ReturninvoiceNo
where s.DocumentNo = w.WorkOrderNo  and s.DocumentTypeID in (2, 22)  and s.Canceled = 0 
and A.StatusID in (1, 8, 4)  and A.ActivityID in (281)) kl
OUTER APPLY (SELECT TOP 1 k.* FROM OfficeLocationHeirarchy c
INNER JOIN OfficeLocationAllocation k  ON c.OfficeLocationAllocationID = k.OfficeLocationAllocationID
AND k.OfficeID = 50 WHERE c.HeirarchyOfficeLocationAllocationID = w.OLID) loc
WHERE w.WorkOrderDate >= '2022-04-01' AND w.Approved = 1  AND w.Canceled = 0  AND w.Legacy = 0  AND w.Awarded = 1  AND kl1.OLID IN (
SELECT HeirarchyOfficeLocationAllocationID  FROM OfficeLocationHeirarchy WHERE OfficeLocationAllocationID = 1)
AND ( w.SanctionEstimateNo IN (SELECT SanctionEstimateNo  FROM SanctionEstimateWorkAllocationDetails WHERE CivilWorkMeasurementTypeID = 5)
OR w.WorkAllocationID IN (188,189)) AND (w.TokenWorkOrder != 0 OR w.Relation != 'NEW')  and isNULL(kl.Approved,0) = 0

  
union
select 8 as sort_order, 8 as card_type , count(*) as counts, 'Pending for CR' as title,2 as types From WorkOrder w inner join (
select WorkOrderNo From (
select WorkOrderNo,sum(subquntity) subquntity  From (select  WorkOrderNo,(case when( (CivilWorkMeasurementTypeID=4 and  isnull(SIqunt2,0)=quntity)
or (CivilWorkMeasurementTypeID=5 and  isnull(RVqunt1,0)=quntity)) then 0 else 1 end ) subquntity 
 From (select w.WorkOrderNo,d.MILCWID,d.UnitID,sum(d.ActualQuantity) quntity,CivilWorkMeasurementTypeID from SanctionEstimate s
inner join SanctionEstimateWorkAllocationDetails d on d.SanctionEstimateNo=s.SanctionEstimateNo and s.Canceled=0 and s.Approved=1
inner join WorkOrder w on w.SanctionEstimateNo=s.SanctionEstimateNo and w.Approved=1 and w.Awarded=1 
where d.CivilWorkMeasurementTypeID in (4,5) and w.Complete=0
group by w.WorkOrderNo,CivilWorkMeasurementTypeID,d.MILCWID,d.UnitID)w1
outer apply(
select s.DocumentNo,d1.ItemID, sum(q.value) SIqunt2  From StoreInvoice_pni s inner join StoreInvoiceDetails_pni d1
on s.StoreInvoiceNo=d1.StoreInvoiceNo
outer apply (  select *From fn_convertQty(w1.MILCWID,w1.UnitID,d1.UnitID,d1.QuantityIssued))q
where s.DocumentNo=w1.WorkOrderno and s.DocumentTypeID in (2,22) and d1.ItemID=w1.MILCWID and w1.CivilWorkMeasurementTypeID=4
group by s.DocumentNo,d1.ItemID
) hjk 
outer apply(
select d1.ItemID, sum(q.value) RVqunt1
 From ReceiptVoucherAbstract_pni s inner join ReceiptVoucherDetails_pni d1
on s.ReceiptVoucherNo=d1.ReceiptVoucherNo 
outer apply (  select *From fn_convertQty(w1.MILCWID,w1.UnitID,d1.UnitID,d1.ReceivedQuantity))q
where s.DocumentNo=w1.WorkOrderno and s.DocumentTypeID in (2,22) and d1.ItemID=w1.MILCWID and w1.CivilWorkMeasurementTypeID=5
group by s.DocumentNo,d1.ItemID
) hjg)bnv
group by WorkOrderNo)mbv
where subquntity=0 ) r on r.WorkOrderNo=w.WorkOrderNo 
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID 
outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 
outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on
 c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50
 where c.HeirarchyOfficeLocationAllocationID=d.DistributionNodeOLID)loc
 where w.approved=1 and w.Canceled=0 and w.awarded=1 
and w.complete=0 and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=1)

union

select  9 as sort_order,15 as card_type,sum(counts) as counts, 'Transformer Surveyed as on date'  as title, 2 as types From (select capacity,count(*) counts From DistributionNodes d 
left join DistributionNodeDetails dd on d.DistributionNodeID=dd.DistributionNodeId left join capacitydetails d1 on d1.itemid=dd.itemid inner join surveydetails s on s.DistributionNodeID=d.DistributionNodeID
inner join (select DistributionNodeID ,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation group by DistributionNodeID) ddd on ddd.DistributionNodeID=d.DistributionNodeID inner join OfficeLocationAllocation offf on offf.OfficeLocationAllocationID=ddd.DistributionNodeOLID and offf.officeid=84  inner join OfficeLocationAllocation offf1 on offf1.OfficeLocationAllocationID=offf.UnderOfficeLocationAllocationID inner join OfficeLocationAllocation offf2 on offf2.OfficeLocationAllocationID=offf1.UnderOfficeLocationAllocationID outer apply(select sub.DistributionNodeUserDefinedFieldValue make From DistributionNodeDetailsSub sub where sub.DistributionNodeDetailsID=dd.DistributionNodeDetailsID and sub.DistributionNodeUserDefinedFieldID=20 )jk where UnderDistributionNodeTypeID =2 and (ddd.DistributionNodeOLID in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=1) 
or ddd.DistributionNodeOLID is null) and capacity is not null group by capacity) cp
 
 union 
 
select sort_order, card_type,qunt,title,types from (select  
sort_order, card_type,qunt,title,types from (select  10 as sort_order,27 as card_type,count(*) as qunt, 'Transformers failed Previous' as title,2 as types
 From (

select 
 w.*
 from WorkOrder w 

inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
where WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1and w.Awarded=1 and w.WorkOrderDate>=@ps_date and w.WorkOrderDate<=@pe_date

)kl
 )w
)klf     


union

select sort_order, card_type,qunt,title,types from (select  row_number()  over(order by  cast(left(fyear,4) as int) desc)  sl , sort_order,
 card_type,qunt,title,types from (select  11 as sort_order,17 as card_type,count(*) qunt, 'Transformers failed during' as title,2 as types,fyear
 From (

select 
case when  month(w.WorkOrderDate)<=3 then  
cast((year(w.WorkOrderDate)-1) as varchar(10))+'-'+right((cast((year(w.WorkOrderDate)) as varchar(10))),2)
else 
cast((year(w.WorkOrderDate)) as varchar(10))+'-'+right((cast((year(w.WorkOrderDate)+1) as varchar(10))),2)
end fyear,w.*
 from WorkOrder w 
inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
where WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1and w.Awarded=1
)kl
group by   fyear)w
)klf  where  sl=1


union

(select  12 as sort_order,18 as card_type, sum(qun)  as counts, 'Transformers failed during the Month' as title,2 as types From (select kjl.capacity,count(*) qun  From (select 
offl.OfficeLocationAllocationID,w.WorkAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference,cp.capacity 
 from WorkOrder w 
inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID 
where WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1 and w.Awarded=1
and year(w.WorkOrderDate)=year(getdate()) and month(w.WorkOrderDate)=month(getdate())
and offl.OfficeLocationAllocationID in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=1)
)kjl
group by kjl.capacity)jkll)

union


select  13 as sort_order,19 as card_type, 
case when  sum(quantity1)!=0 then
round(((cast(sum(quantity) as float) / cast(sum(quantity1) as float)) *100.0 ),4)
else 0 end  counts,' % of Transformer failure with respect to transformer existing in field during the year' as title,2 as types 
from (select OfficeLocationAllocationID,kl1l.fileas, capacity ,
sum(isnull(mm.qaun,0))   quantity,sum(isnull(mm1.quantity1,0))   quantity1
From (select *
From OfficeLocationAllocation kl1l1  ,
 (select distinct capacity From capacityDetails where capacity in (25,63,100,250,500))kk) kl1l
outer apply(select count(*)  qaun From (select 
w.WorkOrderDate,
wol.MainAccountCode+wol.SubAccountCode+'-'+wol.Description acountHead,
offl.OfficeLocationAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference,cp.capacity 
 from WorkOrder w 
inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join WorkAllocation wol on wol.WorkAllocationID=w.WorkAllocationID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID 
where w.WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1 and w.Awarded=1
and w.WorkOrderDate between   @s_date and @e_date
and offl.OfficeLocationAllocationID in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID)
and cp.capacity=kl1l.capacity
)hj
)mm
outer apply(

select sum(quan) quantity1
From ( select offf.fileas,capacity,offf.OfficeLocationAllocationID,count(*) quan 
From DistributionNodes d inner join DistributionNodeDetails dd 
on d.DistributionNodeID=dd.DistributionNodeId
 left join capacitydetails d1 on d1.itemid=dd.itemid 
inner join (select DistributionNodeID ,max(DistributionNodeOLID) DistributionNodeOLID 
From DistriButionNodeOfficeAllocation group by DistributionNodeID) ddd on ddd.DistributionNodeID=d.DistributionNodeID 
inner join OfficeLocationAllocation offf on offf.OfficeLocationAllocationID=ddd.DistributionNodeOLID 
inner join OfficeLocationAllocation offf1 on offf1.OfficeLocationAllocationID=offf.UnderOfficeLocationAllocationID
 and offf1.OfficeID=80 
left join OfficeLocationAllocation offf2 
on offf2.OfficeLocationAllocationID=offf1.UnderOfficeLocationAllocationID 
and offf2.OfficeID=50 
outer apply(select sub.DistributionNodeUserDefinedFieldValue make
 From DistributionNodeDetailsSub sub where sub.DistributionNodeDetailsID=dd.DistributionNodeDetailsID 
and sub.DistributionNodeUserDefinedFieldID=20 )jk where UnderDistributionNodeTypeID =2 
and (ddd.DistributionNodeOLID in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID) or ddd.DistributionNodeOLID is null) 
and d1.capacity=kl1l.capacity and capacity is not null group by capacity,offf.OfficeLocationAllocationID,offf.fileas) kh 
)mm1
where OfficeID=65
and  OfficeLocationAllocationID in (
select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=1)
group by OfficeLocationAllocationID,kl1l.fileas,capacity)jhg
group by OfficeLocationAllocationID,fileas

union

select 14 as sort_order,
 20 as card_type, 
case when  sum(quantity1)!=0 then
round(((cast(sum(quantity) as float) / cast(sum(quantity1) as float)) *100.0 ),4)
else 0 end  counts,  ' % of Transformer failure with respect to transformer existing in field during the month' as title,2 as types 
from (select OfficeLocationAllocationID,kl1l.fileas, capacity ,
sum(isnull(mm.qaun,0))   quantity,sum(isnull(mm1.quantity1,0))   quantity1
From (select *
From OfficeLocationAllocation kl1l1  ,
 (select distinct capacity From capacityDetails where capacity in (25,63,100,250,500))kk) kl1l
outer apply(select count(*)  qaun From (select 
w.WorkOrderDate,
wol.MainAccountCode+wol.SubAccountCode+'-'+wol.Description acountHead,
offl.OfficeLocationAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference,cp.capacity 
 from WorkOrder w 
inner join DistributionNodes  d  on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails df on df.DistributionNodeID=d.DistributionNodeID
inner join capacityDetails cp on cp.itemid=df.itemid
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join WorkAllocation wol on wol.WorkAllocationID=w.WorkAllocationID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID 
where w.WorkAllocationID in (158,57) and w.Canceled=0 and w.Approved=1 and w.Awarded=1
and year(w.WorkOrderDate)=year(getdate()) and month(w.WorkOrderDate)=month(getdate())
and offl.OfficeLocationAllocationID in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID)
and cp.capacity=kl1l.capacity
)hj
)mm
outer apply(

select sum(quan) quantity1
From ( select offf.fileas,capacity,offf.OfficeLocationAllocationID,count(*) quan 
From DistributionNodes d inner join DistributionNodeDetails dd 
on d.DistributionNodeID=dd.DistributionNodeId
 left join capacitydetails d1 on d1.itemid=dd.itemid 
inner join (select DistributionNodeID ,max(DistributionNodeOLID) DistributionNodeOLID 
From DistriButionNodeOfficeAllocation group by DistributionNodeID) ddd on ddd.DistributionNodeID=d.DistributionNodeID 
inner join OfficeLocationAllocation offf on offf.OfficeLocationAllocationID=ddd.DistributionNodeOLID 
inner join OfficeLocationAllocation offf1 on offf1.OfficeLocationAllocationID=offf.UnderOfficeLocationAllocationID
 and offf1.OfficeID=80 
left join OfficeLocationAllocation offf2 
on offf2.OfficeLocationAllocationID=offf1.UnderOfficeLocationAllocationID 
and offf2.OfficeID=50 
outer apply(select sub.DistributionNodeUserDefinedFieldValue make
 From DistributionNodeDetailsSub sub where sub.DistributionNodeDetailsID=dd.DistributionNodeDetailsID 
and sub.DistributionNodeUserDefinedFieldID=20 )jk where UnderDistributionNodeTypeID =2 
and (ddd.DistributionNodeOLID in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID) or ddd.DistributionNodeOLID is null) 
and d1.capacity=kl1l.capacity and capacity is not null group by capacity,offf.OfficeLocationAllocationID,offf.fileas) kh 
)mm1
where OfficeID=65
and  OfficeLocationAllocationID in (
select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=1)
group by OfficeLocationAllocationID,kl1l.fileas,capacity)jhg
group by OfficeLocationAllocationID,fileas

union  


SELECT 15 AS sort_order, 26 AS card_type,qunt AS counts,'Transformers added Previous year' AS title,2 AS types FROM OfficeLocationAllocation kl1l  
OUTER APPLY (SELECT COUNT(DISTINCT w.WorkOrderNo) qunt  FROM WorkOrder w 
LEFT JOIN ReturnInvoiceAbstract ri  ON ri.DocumentNo = w.WorkOrderNo
LEFT JOIN ReturnInvoiceDetails rd  ON rd.ReturnInvoiceNo = ri.ReturnInvoiceNo
LEFT JOIN ReturnInvoicematerialDetails rm  ON rm.ReturnInvoiceDetailsID = rd.ReturnInvoiceDetailsID
INNER JOIN DistributionNodes d ON w.DistributionNodeID = d.DistributionNodeID 
INNER JOIN DistributionNodeDetails dd   ON dd.DistributionNodeID = d.DistributionNodeID
INNER JOIN ODLDAllocation od  ON od.ODLDID = w.ODLDID
INNER JOIN OfficeLocationAllocation offl   ON offl.OfficeID = od.OfficeID  AND offl.LocationID = od.LocationID
INNER JOIN Contacts cs  ON cs.ContactID = w.WorkInChargeID
INNER JOIN Designation ds  ON ds.DesignationID = od.DesignationID
INNER JOIN Department dep  ON dep.DepartmentID = od.DepartmentID 
OUTER APPLY (SELECT TOP 1 s.StoreInvoiceNo FROM StoreInvoice_pni s 
INNER JOIN StoreInvoiceDetails_pni kk  ON kk.StoreInvoiceNo = s.StoreInvoiceNo
INNER JOIN capacityDetails cdd  ON cdd.itemid = kk.ItemID WHERE kk.ItemID IN (
SELECT itemid  FROM MaterialCode  WHERE MaterialCode LIKE '03 21%')
AND s.DocumentNo = w.WorkOrderNo  AND s.DocumentTypeID IN (2,22)  AND s.Canceled = 0   AND s.Passed = 1
AND s.StoreInvoiceDate BETWEEN  @ps_date and @pe_date
ORDER BY s.StoreInvoiceDate DESC) kl WHERE  kl.StoreInvoiceNo IS NOT NULL 
AND w.Approved = 1   AND w.Relation = 'NEW'   AND w.Canceled = 0 AND w.CivilWorkContractTypeID != 10 
AND offl.OfficeLocationAllocationID IN (SELECT HeirarchyOfficeLocationAllocationID  FROM OfficeLocationHeirarchy 
WHERE OfficeLocationAllocationID = kl1l.OfficeLocationAllocationID)) mm 
WHERE  OfficeID = 65 AND OfficeLocationAllocationID IN (SELECT HeirarchyOfficeLocationAllocationID   FROM OfficeLocationHeirarchy 
WHERE OfficeLocationAllocationID = 1)





union

SELECT   16 AS sort_order,21 AS card_type, SUM(qunt) AS counts,'Transformers added during the year' AS title, 2 AS types
FROM OfficeLocationAllocation kl1l  
OUTER APPLY (SELECT    1 AS sd, ROW_NUMBER() OVER (ORDER BY fyear DESC) AS slno, fyear, COUNT(DISTINCT WorkOrderNo) AS qunt FROM (SELECT 
 CASE 
                WHEN MONTH(w.WorkOrderDate) <= 3 THEN  
                    '_' + CAST((YEAR(w.WorkOrderDate)-1) AS VARCHAR(10)) + '_' +
                    RIGHT(CAST((YEAR(w.WorkOrderDate)) AS VARCHAR(10)),2)
ELSE 
                    '_' + CAST((YEAR(w.WorkOrderDate)) AS VARCHAR(10)) + '_' +
                    RIGHT(CAST((YEAR(w.WorkOrderDate)+1) AS VARCHAR(10)),2)
END AS fyear,
w.WorkOrderNo,offl.OfficeLocationAllocationID,offl.fileas,
w.WorkAllocationID, w.DistributionNodeID,d.DistributionNodeName,  w.Reference FROM WorkOrder w 
INNER JOIN StoreIndentAbstract sd   ON sd.DocumentNo = w.WorkOrderNo  AND sd.Canceled = 0  AND sd.Approved = 1  AND sd.DocumentTypeID IN (2,22)
INNER JOIN StoreInvoice_pni si  ON si.StoreIndentNo = sd.StoreIndentNo  AND si.Canceled = 0  AND si.DocumentTypeID IN (2,22)
INNER JOIN StoreInvoiceDetails_pni sid  ON sid.StoreInvoiceNo = si.StoreInvoiceNo
INNER JOIN StoreInvoiceMaterialDetails_pni sm   ON sm.StoreInvoiceDetailsID = sid.StoreInvoiceDetailsID
LEFT JOIN ReturnInvoiceAbstract ri   ON ri.DocumentNo = w.WorkOrderNo
LEFT JOIN ReturnInvoiceDetails rd  ON rd.ReturnInvoiceNo = ri.ReturnInvoiceNo
LEFT JOIN ReturnInvoicematerialDetails rm ON rm.ReturnInvoiceDetailsID = rd.ReturnInvoiceDetailsID 
INNER JOIN ActivityApprovals_pni aa  ON aa.DocumentNo = si.StoreInvoiceNo  AND aa.StatusID = 1  AND aa.ActivityID = 118 
INNER JOIN DistributionNodes d   ON w.DistributionNodeID = d.DistributionNodeID  
INNER JOIN DistributionNodeDetails dd   ON dd.DistributionNodeID = d.DistributionNodeID
INNER JOIN ODLDAllocation od    ON od.ODLDID = w.ODLDID
INNER JOIN OfficeLocationAllocation offl ON offl.OfficeID = od.OfficeID   AND offl.LocationID = od.LocationID
INNER JOIN OfficeLocationAllocation offf1  ON offf1.OfficeLocationAllocationID = offl.UnderOfficeLocationAllocationID
INNER JOIN OfficeLocationAllocation offf2  ON offf2.OfficeLocationAllocationID = offf1.UnderOfficeLocationAllocationID
INNER JOIN Contacts cs   ON cs.ContactID = w.WorkInChargeID
INNER JOIN WorkAllocation wol   ON wol.WorkAllocationID = w.WorkAllocationID
INNER JOIN Designation ds   ON ds.DesignationID = od.DesignationID
INNER JOIN Department dep   ON dep.DepartmentID = od.DepartmentID 
OUTER APPLY (SELECT s.*, cdd.*   FROM StoreInvoice_pni s 
INNER JOIN StoreInvoiceDetails_pni kk   ON kk.StoreInvoiceNo = s.StoreInvoiceNo
INNER JOIN capacityDetails cdd  ON cdd.itemid = kk.ItemID   AND kk.ItemID IN ( SELECT itemid  FROM MaterialCode   WHERE MaterialCode LIKE '03 21%'
)WHERE  s.DocumentNo = w.WorkOrderNo  AND s.DocumentTypeID IN (2,22)  AND s.Canceled = 0   AND s.Passed = 1
) kl  WHERE  si.StoreInvoiceNo IS NOT NULL  AND si.StoreInvoiceDate BETWEEN @s_date and @e_date AND w.Approved = 1 
AND w.Relation = 'NEW'   AND w.Canceled = 0  AND w.CivilWorkContractTypeID <> 10 AND offl.OfficeLocationAllocationID IN (
SELECT HeirarchyOfficeLocationAllocationID  FROM OfficeLocationHeirarchy  WHERE OfficeLocationAllocationID = kl1l.OfficeLocationAllocationID)) mlk GROUP BY mlk.fyear) mm WHERE OfficeID = 65
AND OfficeLocationAllocationID IN ( SELECT HeirarchyOfficeLocationAllocationID  FROM OfficeLocationHeirarchy  WHERE OfficeLocationAllocationID = 1)

union

select 17 as sort_order,23 as card_type, qunt  as counts, 'Transformers added during the Month' as title,2 as types
From  (select * from  OfficeLocationAllocation )kl1l  
outer apply(
select count(*) qunt From (
select   1 sd,kl.capacity,
offl.OfficeLocationAllocationID,offl.fileas,w.WorkAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference
From WorkOrder w 
left join ReturnInvoiceAbstract ri on ri.DocumentNo=w.WorkOrderNo
left join ReturnInvoiceDetails rd on rd.ReturnInvoiceNo=ri.ReturnInvoiceNo
left join ReturnInvoicematerialDetails rm on rm.ReturnInvoiceDetailsID=rd.ReturnInvoiceDetailsID
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID
inner join DistributionNodeDetails dd on dd.DistributionNodeID=d.DistributionNodeID
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID
outer apply (
select  s.*,cdd.capacity  from StoreInvoice_pni s
inner join StoreInvoiceDetails_pni kk on kk.StoreInvoiceNo=s.StoreInvoiceNo
inner join capacityDetails cdd on cdd.itemid=kk.ItemID
and kk.ItemID in (select itemid From MaterialCode  where  MaterialCode like '03 21%')
 where s.DocumentNo=w.WorkOrderNo and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1
and year(s.storeinvoicedate)=DATEPART(yyyy, DATEADD(m, -1, getdate())) and month(s.storeinvoicedate)=DATEPART(m, DATEADD(m, -1, getdate()))
) kl
where StoreInvoiceNo is not  null and w.approved=1  and w.Relation='NEW'  and w.Canceled=0
 and w.CivilWorkContractTypeID!=10 and offl.OfficeLocationAllocationID
in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID
)
and  w.Approved=1)mlk
)mm
where OfficeID=65

union

select 18 as sort_order,22 as card_type, qunt  as counts, 'Transformers added during the Month' as title,2 as types
From  (select * from  OfficeLocationAllocation )kl1l  
outer apply(
select count(*) qunt From (
select   1 sd,kl.capacity,
offl.OfficeLocationAllocationID,offl.fileas,w.WorkAllocationID,w.DistributionNodeID,d.DistributionNodeName,w.Reference
From WorkOrder w 
left join ReturnInvoiceAbstract ri on ri.DocumentNo=w.WorkOrderNo
left join ReturnInvoiceDetails rd on rd.ReturnInvoiceNo=ri.ReturnInvoiceNo
left join ReturnInvoicematerialDetails rm on rm.ReturnInvoiceDetailsID=rd.ReturnInvoiceDetailsID
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID 
inner join DistributionNodeDetails dd on dd.DistributionNodeID=d.DistributionNodeID
inner join ODLDAllocation od on od.ODLDID=w.ODLDID
inner join OfficeLocationAllocation offl on offl.OfficeID=od.OfficeID and  offl.LocationID=od.LocationID
inner join Contacts  cs on cs.ContactID=w.WorkInChargeID
inner join Designation ds on ds.DesignationID=od.DesignationID
inner join Department dep on dep.DepartmentID=od.DepartmentID 
outer apply (
select  s.*,cdd.capacity  from StoreInvoice_pni s 
inner join StoreInvoiceDetails_pni kk on kk.StoreInvoiceNo=s.StoreInvoiceNo
inner join capacityDetails cdd on cdd.itemid=kk.ItemID 
and kk.ItemID in (select itemid From MaterialCode  where  MaterialCode like '03 21%')
 where s.DocumentNo=w.WorkOrderNo and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1
and year(s.storeinvoicedate)=year(getdate()) and month(s.storeinvoicedate)=month(getdate())
) kl 
where StoreInvoiceNo is not  null and w.approved=1  and w.Relation='NEW'  and w.Canceled=0 
 and w.CivilWorkContractTypeID!=10 and offl.OfficeLocationAllocationID 
in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=kl1l.OfficeLocationAllocationID) 
and  w.Approved=1)mlk
)mm
where OfficeID=65
and  OfficeLocationAllocationID in (
select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=1)
GO
