USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Tabill]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Tabill] @olid int 

as
 select * from ( select c.contactid,o.OfficeName, (select case when FileAs is null then '' else FileAs end as FileAs from OfficeLocationAllocation  with(nolock)
 where OfficeLocationAllocationID= (select case when AcOLID=0 then OLID else AcOLID end from OfficeLocationAccountingUnitDetails with(nolock) where olid= ola.OfficeLocationAllocationID)) 
 as DivisionName,  (Select LocationName from Location with(nolock) where Locationid=ola.LocationID)as LocationName,d.DepartmentName, (Select DesignationName 
 from Designation  where DesignationID=odda.DesignationID)as DesignationName, isnull(c.FileAs,'') Fileas from  OfficeDepartmentDesignationAllocation odda  
  inner join OfficeDepartmentAllocation oda with(nolock) on oda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID  
  inner join OfficeLocationDepartmentAllocation olda  with(nolock) on olda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID 
  inner join officelocationallocation ola  with(nolock)  on ola.officelocationallocationid=olda.officelocationallocationid  inner join Office o on o.OfficeID=oda.OfficeID 
  inner join Department d  with(nolock) on d.DepartmentID=oda.DepartmentID 
   inner join odldallocation odld with(nolock) on odld.designationid=odda.designationid and odld.officeid=oda.officeid  and odld.locationid=ola.locationid and odld.departmentid=d.departmentid 
   inner join (select A.ContactID,isnull(b.FromODLDID,A.ODLDID) as ODLDID from employee A  with(nolock)
 left join EmployeeAppointmentDetails B with(nolock) on a.ContactID=b.ContactID and approved=1 and reported=1 and isnull(B.Regularised,0)=0 and B.AppointmentTypeID in(23,47))
   e on e.odldid=odld.odldid left outer join contacts c with(nolock) on c.contactid=e.contactid  
    where C.ContactID IS NOT NULL AND ola.OfficeLocationAllocationID in(select A.OLID from OfficeLocationAccountingUnitDetails A left join OfficeLocationAccountingUnitDetails B on A.AcOLID=B.AcOLID where B.OLID in(@olid)) 
 union select c.contactid,o.OfficeName, (select case when FileAs is null then '' else FileAs 
 end as FileAs from OfficeLocationAllocation  with(nolock) where OfficeLocationAllocationID= (select case when AcOLID=0 then OLID else AcOLID end from OfficeLocationAccountingUnitDetails with(nolock)
 where olid= ola.OfficeLocationAllocationID)) as DivisionName,  (Select LocationName from Location where Locationid=ola.LocationID)as LocationName,d.DepartmentName,
  (Select DesignationName from Designation  where DesignationID=odda.DesignationID)as DesignationName, isnull(c.FileAs,'') Fileas from 
  OfficeDepartmentDesignationAllocation odda   inner join OfficeDepartmentAllocation oda with(nolock) on oda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID 
  inner join OfficeLocationDepartmentAllocation olda with(nolock) on olda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID  inner join officelocationallocation ola 
 on ola.officelocationallocationid=olda.officelocationallocationid  inner join Office o on o.OfficeID=oda.OfficeID inner join Department d 
 on d.DepartmentID=oda.DepartmentID  inner join odldallocation odld on odld.designationid=odda.designationid and odld.officeid=oda.officeid  
 and odld.locationid=ola.locationid and odld.departmentid=d.departmentid  inner join EmployeeAppointmentDetails e with(nolock) on e.ToODLDID=odld.odldid 
 and AppointmentTypeID in ( 6,7,25,43,23,44,46) and Regularised=0  left outer join contacts c with(nolock) on c.contactid=e.contactid  where C.ContactID IS NOT NULL AND ola.OfficeLocationAllocationID
  in(select A.OLID from OfficeLocationAccountingUnitDetails A with(nolock) left join OfficeLocationAccountingUnitDetails B with(nolock) on A.AcOLID=B.AcOLID where B.OLID in(@olid)) 

union select c.contactid,o.OfficeName,
  (select case when FileAs is null then '' else FileAs end as FileAs from OfficeLocationAllocation  where OfficeLocationAllocationID= (select case when AcOLID=0
  then OLID else AcOLID end from fnunderol() where olid= ola.OfficeLocationAllocationID)) as DivisionName,  (Select LocationName from Location
  where Locationid=ola.LocationID)as LocationName,d.DepartmentName, (Select DesignationName from Designation  where DesignationID=odda.DesignationID)
 as DesignationName, isnull(c.FileAs,'') Fileas from  OfficeDepartmentDesignationAllocation odda  with(nolock) inner join OfficeDepartmentAllocation oda with(nolock)
  on oda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID  inner join OfficeLocationDepartmentAllocation olda  with(nolock)
 on olda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID inner join officelocationallocation ola  with(nolock)
 on ola.officelocationallocationid=olda.officelocationallocationid  inner join Office o on o.OfficeID=oda.OfficeID inner join Department d
  on d.DepartmentID=oda.DepartmentID  inner join odldallocation odld on odld.designationid=odda.designationid and odld.officeid=oda.officeid 
 and odld.locationid=ola.locationid and odld.departmentid=d.departmentid  inner join EmployeeAppointmentDetails e with(nolock) on e.ToODLDID=odld.odldid and Regularised=1
  left outer join contacts c with(nolock) on c.contactid=e.contactid  where C.ContactID IS NOT NULL AND ola.OfficeLocationAllocationID
   in(select A.OLID from OfficeLocationAccountingUnitDetails A with(nolock) left join OfficeLocationAccountingUnitDetails B with(nolock) 
   on A.AcOLID=B.AcOLID where B.OLID in(@olid))  and EOMONTH (( DATEADD(month, 1, ReportedDate) ))=getdate()) as a order by DesignationName


GO
