USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Abstract_ContactID]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[SP_Abstract_ContactID] 
	
	@OLID int ,
	@Year int ,
	@Month int,
	@Suppliment int,
	@BRNo varchar(50),
	@EmployeeType varchar(20),
	@ContactID int

AS 
SET NOCOUNT ON



--Declare @OLID int select @OLID = 9192
--Declare @Year int select @Year = 2024
--Declare @Month int select @Month = 11
--Declare @Suppliment int select @Suppliment = 0
--Declare @BRNo varchar(50) select @BRNo = '[70]2024-25/266 /11'
--Declare @EmployeeType varchar(20) select @EmployeeType = '1,4,5,7'
--Declare @ContactID int select @ContactID = 0



Declare @FromDate DateTime select @FromDate = convert(DateTime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1'))
Declare @ToDate DateTime select @ToDate = (select DateAdd(Month,1,convert(DateTime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)
Declare @DaysOfDate Table (Days Int) 

 ;
With InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= cast(@ToDate as Int)+2
)  insert into @DaysOfDate
SELECT RowNumber-1 FROM  InfiniteRows OPTION (MAXRECURSION 0)


Declare @BRDate DateTime select @BRDate = (
select Distinct top 1 isnull(BillRegisterDate,Today) as BillRegisterDate from ScaleRegister With (NoLock) 
cross join Today_HRMS With (NoLock) 
where OLID=@OLID and Year(isnull(BillRegisterDate,Today))=@Year and Month(isnull(BillRegisterDate,Today))=@Month and Suppliment=@Suppliment and BillRegisterNo=@BRNo and Generated=1 and isnull(HeldUp,0)=0
Order By BillRegisterDate )

Declare @StartingDate Table (ContactID Int,StartingDate DateTime,EndingDate DateTime) 
Insert Into @StartingDate
select ContactID,Min(StartingDate) as StartingDate,max(EndingDate) as EndingDate from ScaleRegister With (NoLock) 
cross join Today_HRMS With (NoLock) where OLID=@OLID 
and Year(isnull((case when suppliment=0 then startingdate else BillRegisterDate end),@ToDate))=@Year 
and Month(isnull((case when suppliment=0 then startingdate else BillRegisterDate end),@ToDate))=@Month 
and Suppliment=@Suppliment and BillRegisterNo=@BRNo and Generated=1 and isnull(HeldUp,0)=0 and EndingDate<=@ToDate 
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID 
Group By ContactID


Declare @SR1 table (SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
if @Suppliment in (10,12,11) 
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,sr.BillRegisterNo as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew_ForAbstact(@OLID,@BRNo) sr where ScaleRegisterID in (
select distinct ScaleRegisterID from ScaleRegister with(nolock) where Generated = 1 and  isnull(HeldUp,0) = 0 and Suppliment in (10,12,11) and Suppliment=@Suppliment
and EmployeeCategoryID in (SELECT Data FROM Split(@EmployeeType, ',')) and OLID =@OLID and EndingDate <= @ToDate)
and sr.ContactID >0 
and (case when @ContactID=0 then 0 else sr.ContactID end) = @ContactID 
else
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,sr.BillRegisterNo as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew_ForAbstact(@OLID,@BRNo) sr 
where (case when  @EmployeeType not in ('1,4,5,7') and SalaryTypeID=2 then @Year else case when @Suppliment=0 then sr.SalaryYear else case when @Suppliment=9  and @EmployeeType not in ('1,4,5,7')  then sr.YearID else sr.YearID end end end) in (@Year) 
and (case when  @EmployeeType not in ('1,4,5,7') and SalaryTypeID=2 then @Month else case when @Suppliment=0 then sr.SalaryMonth else case when @Suppliment=9  and @EmployeeType not in ('1,4,5,7')   then sr.MonthID else sr.MonthID end end end) in (@Month) 
and (case when  sr.suppliment=6 then 0 else sr.EmployeeCategoryID  end)in (SELECT Data FROM Split(@EmployeeType, ',')union select 0)  --For recovery consider categoryid as 0
and (case when sr.SalaryYear=@Year and sr.SalaryMonth=@Month and sr.Suppliment=0 then 0 else case when sr.Suppliment=9 then 9 else sr.Suppliment end end) in (@Suppliment,(case when @Suppliment in (0,9) then 6 else 100 end)) --- #208750 0 to 9 
and sr.ContactID in ( select distinct ContactID from ScaleRegister sr2 With (NoLock) where Generated=1 and isnull(HeldUp,0)=0 and OLID=@OLID --and YearID=@Year and MonthID=@Month
					and isnull(EmployeeCategoryID,0) in (SELECT Data FROM Split(@EmployeeType, ','))  and BillRegisterNo=@BRNo and Suppliment=@Suppliment and sr2.ContactID=sr.ContactID )
and isnull(sr.ContactID,0)!=0
and sr.ContactID >0 
and (case when @ContactID=0 then 0 else sr.ContactID end) = @ContactID 

Declare @SRID table (ContactID Int,ScaleRegisterID Int,SRID Int,Installment Int) 
insert into @SRID
select distinct sr.ContactID,srd.ScaleRegisterID,ers.ScaleRegisterID as SRID,InstallmentCount
from @SR1 sr cross Apply ( Select * from FnSRADNew_ForAbstact(sr.ScaleRegisterID) srd1 where LAID=62 and isnull(DiffAmount,0)<>0) as SRD 
left outer join EmployeeLoanandAdvance el With (NoLock) on el.ContactID=sr.ContactID and el.LoanandAdvanceID=srd.LAID
inner join EmployeeLoanandAdvanceDetails eld With (NoLock) on eld.EmployeeLoanAndAdvanceID=el.EmployeeLoanAndAdvanceID and Year(eld.InstallmentPaidDate)=year(startingdate) and Month(eld.InstallmentPaidDate)=month(startingdate)   --@Year,@Month #214520
left outer join EmployeeRecoveryScaleRegisterDetails ers With (NoLock) on ers.EmployeeLoanAndAdvanceID=el.EmployeeLoanAndAdvanceID


Declare @QtrCID table (ContactID Int,Amount Money,EndingDate Datetime) 
insert into @QtrCID
select ContactID,Sum(Amount) Amount,max(EndingDate) EndingDate from (
select ContactID,ScaleRegisterID,SalaryOtherDeductionID,Sum(Amount) Amount,max(EndingDate) EndingDate from ( 
select ContactID,sr.ScaleRegisterID,SalaryOtherDeductionID,round(round(Sum(isnull(Amount,0)),2),0) Amount,max(sra.EndingDate) EndingDate  
from @SR1 sr inner join ScaleRegisterOtherDeductions sra With (NoLock) on sra.ScaleRegisterID=sr.ScaleRegisterID and SalaryOtherDeductionID in (10,15,21,21)
group by sr.ScaleRegisterID,SalaryOtherDeductionID,ContactID
union all
select ContactID,sr.ScaleRegisterID,SalaryDeductionOthersID,-round(round(Sum(isnull(Amount,0)),2),0) Amount,max(sra.EndingDate) EndingDate  
from @SR1 sr left join ScaleRegisterWithdrawals sra With (NoLock) on sra.ScaleRegisterID=sr.ScaleRegisterID 
left join ScaleRegisterOtherDeductionWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID and SalaryDeductionOthersID in (10,15,21,21)
group by sr.ScaleRegisterID,SalaryDeductionOthersID,ContactID
) A Group By ScaleRegisterID,SalaryOtherDeductionID,ContactID having Sum(Amount)!=0
) A Group By ContactID 



Declare @Qtr1 table (ContactID Int,EmployeeQuartersID Int,FromDate DateTime,ToDate DateTime,Vaccated Int,TerritoryID Int,EmployeeQuarterGradeID Int,ExternalOrganisationID Int,ExternalOrganisationBranchID Int)
insert into @Qtr1
select distinct eq.ContactID,EmployeeQuartersID,eq.FromDate
,(case when q.ContactID is null then eq.ToDate1 
when isnull(Vaccated,0)=1 and @Suppliment=10 then EOMonth(eq.ToDate1)  --- BPA issues 
when isnull(Vaccated,0)=1 then eq.ToDate1
when eq.ToDate1<=q.EndingDate then q.EndingDate else eq.ToDate1 end) ToDate1
,Vaccated,isnull(TerritoryID,0) as TerritoryID,isnull(EmployeeQuarterGradeID,0) as EmployeeQuarterGradeID
,ExternalOrganisationID,ExternalOrganisationBranchID from ( 
select * from (
select a.*,(case when isnull(Vaccated,0)=0 then @ToDate else ToDate end) as ToDate1
,(Row_Number() over (Partition By a.ContactID,a.EmployeeQuartersID Order By a.ContactID,a.EmployeeQuartersID,FromDate,(case when isnull(Vaccated,0)=0 then @ToDate else ToDate end) desc)) as MaxNo 
from EmployeeQuarterDetails A With (NoLock)
inner join @StartingDate B on b.ContactID=a.ContactID and (a.FromDate>=b.StartingDate or a.FromDate<=b.EndingDate)
and (isnull(a.ToDate,@ToDate)>=b.StartingDate or isnull(a.ToDate,@ToDate)<=b.EndingDate) 
--where a.ContactID = 18943 
where (case when @ContactID=0 then 0 else a.ContactID end) = @ContactID 
) as A --where MaxNo=1 
) as EQ 

--from ( select FromDate,EOMonth(FromDate) as ToDate
--from ( select (case when (@Year=0 or @Month=0) then DateAdd(Month,-1,DateAdd(Day,1,EOMonth(Today))) else convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')) end) as FromDate from Today_HRMS ) as T) as T
--inner join (select *,(case when isnull(Vaccated,0)=0 then NULL else ToDate end) as ToDate1 from EmployeeQuarterDetails With (NoLock) ) eq on (t.FromDate Between eq.FromDate and isnull(eq.ToDate1,t.ToDate) or t.ToDate Between eq.FromDate and isnull(eq.ToDate1,t.ToDate) )

left outer join BuildingAddressDetails bad With (NoLock) on bad.BuildingID=EmployeeQuartersID
left outer join Buildings b With (NoLock) on b.BuildingID=EmployeeQuartersID
left join @QtrCID q on q.ContactID=eq.ContactID 
order by ContactID


Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,BranchID int,BankTypeID int,Amount money,Types1 varchar(20),SalaryTypeID int) 
insert into @SRD1
select * from (
select srd.ScaleRegisterID
,max(case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end) as Types
,max(case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end) as TypesID
,max(case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 197 else TypeID end) as TypeID,BankID,BranchID,BankTypeID
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end) as Amount
,isnull((case when TypesID=4 and TypeID in (10,15) then 'HRA / WC' else case when TypesID=4 and TypeID in (20) then 'HRA_MESCOM' else case when TypesID=4 and TypeID in (21) then 'WC_MESCOM' else case when TypesID=4 and TypeID in (3) then 'PT' else case when TypesID=4 and TypeID in (14,18) then 'LWF' else NULL end end end end end)
,Max(case when TypesID=6 and LAID in (88) then 'HRA_MESCOM' else case when TypesID=6 and LAID in (79) then 'WC_MESCOM' else NULL end end)) as Types1 
,(case when sr.SalaryTypeID=3 then 3 else 1 end) as SalaryTypeID
from @SR1 sr cross Apply (select * from FnSRADNew_ForAbstact(sr.ScaleRegisterID) srd1 )  SRD 
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63,62) then 0 else TypeID end end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID,Types1
having sum(isnull(DiffAmount,0))<>0

union all
select  ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID,Round(Round(Sum(Amount),2),0) as Amount,Types1,SalaryTypeID from (
select ScaleRegisterID,'RC' as Types,6 as TypesID,35 as TypeID,ExternalOrganisationID as BankID,ExternalOrganisationBranchID as BranchID,BankTypeID,round(round((case when TypesID in (1,2,3) then -Sum(Amount) else Sum(Amount) end)/Installment,2),0) as Amount,(case when TypesID=4 and TypeID in (10,15) then 'HRA / WC' else case when TypesID=4 and TypeID in (20) then 'HRA_MESCOM' else case when TypesID=4 and TypeID in (21) then 'WC_MESCOM' else NULL end end end) as Types1,1 as SalaryTypeID from (
select ContactID,sr.ScaleRegisterID,'BP' as Types,1 as TypesID,0 as TypeID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment 
from @SRID sr inner join ScaleRegisterBasicPayDetails sra With (NoLock) on sra.ScaleRegisterID=sr.SRID group by ContactID,sr.ScaleRegisterID,Installment
union all
select ContactID,sr.ScaleRegisterID,'BP' as Types,1 as TypesID,0 as TypeID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,0 as LAID,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra With (NoLock) on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterBasicPayWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID group by ContactID,sr.ScaleRegisterID,Installment
union all
select ContactID,sr.ScaleRegisterID,'AL' as Types,2 as TypesID,AllowanceID as TypeID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,NULL as Types1,Installment 
from @SRID sr inner join ScaleRegisterAllowances sra With (NoLock) on sra.ScaleRegisterID=sr.SRID group by ContactID,sr.ScaleRegisterID,AllowanceID,Installment
union all
select ContactID,sr.ScaleRegisterID,'AL' as Types,2 as TypesID,AllowanceID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,NULL as Types1,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra With (NoLock) on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterAllowanceWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID group by ContactID,sr.ScaleRegisterID,AllowanceID,Installment
union all
select ContactID,sr.ScaleRegisterID,'OA' as Types,3 as TypesID,SalaryOtherAdditionID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,NULL as Types1,Installment  
from @SRID sr inner join ScaleRegisterOtherAdditions sra With (NoLock) on sra.ScaleRegisterID=sr.SRID and SalaryOtherAdditionID not in (14,15) group by ContactID,sr.ScaleRegisterID,SalaryOtherAdditionID,Installment
union all
select ContactID,sr.ScaleRegisterID,'OA' as Types,3 as TypesID,SalaryAdditionOthersID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,NULL as Types1,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra With (NoLock) on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterOtherAdditionWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID and SalaryAdditionOthersID not in (14,15) group by ContactID,sr.ScaleRegisterID,SalaryAdditionOthersID,Installment
union all
select ContactID,sr.ScaleRegisterID,'OD' as Types,4 as TypesID,SalaryOtherDeductionID,0 as BankID,0 as BranchID,0 as BankTypeID,round(round(Sum(isnull(Amount,0)),2),0) as Amount,NULL as Types1,Installment  
from @SRID sr inner join ScaleRegisterOtherDeductions sra With (NoLock) on sra.ScaleRegisterID=sr.SRID group by ContactID,sr.ScaleRegisterID,SalaryOtherDeductionID,Installment
union all
select ContactID,sr.ScaleRegisterID,'OD' as Types,4 as TypesID,SalaryDeductionOthersID,0 as BankID,0 as BranchID,0 as BankTypeID,-round(round(Sum(isnull(Amount,0)),2),0) as Amount,NULL as Types1,Installment  
from @SRID sr left join ScaleRegisterWithdrawals sra With (NoLock) on sra.ScaleRegisterID=sr.SRID 
left join ScaleRegisterOtherDeductionWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID group by ContactID,sr.ScaleRegisterID,SalaryDeductionOthersID,Installment
) as SRD outer apply (select top 1 * from @Qtr1 q where q.ContactID=(case when TypesID=4 and TypeID in (10,15) then srd.ContactID else 0 end) order by EmployeeQuartersID desc) Q 
group by ScaleRegisterID,Types,TypesID,TypeID,ExternalOrganisationID,ExternalOrganisationBranchID,BankTypeID,Installment having Sum(Amount) <>0
) as A Group By ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,BankTypeID,Types1,SalaryTypeID
) A --where TypesID not in (1,2,3) 

Declare @SRD2 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,BranchID int,BankTypeID int,Amount money,Types1 varchar(20),SalaryTypeID int,Payment money) 
insert into @SRD2
select *,(case when TypesID in (4,5,6) and isnull(Amount,0)<0 then isnull(-Amount,0) else 0 end) as Payment from @SRD1


Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation With (NoLock) where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)

Declare @AOLID table (OLID int)
Declare @OID int select @OID=(select * from @OID1)  if @OID=50  
insert into @AOLID 
select OLID from @OID2 else 
insert into @AOLID 
select OLID from @OID2
where OLID in (@OLID)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(200),LocationName varchar(200),DesignationName varchar(200),DepartmentName varchar(200),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int,OID int)
insert into @ODLD
--Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,AcLocationCode,Ordering,EmployeeGradeID,ol.OfficeID
from FnODLD() ol 
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID = @OLID
--' insert into @ODLD exec (@ODLDSql) 


Declare @BankBranch table (ContactID int,BankID Int,BranchID Int) 
insert into @BankBranch
select a.ContactID,isnull(BankID,0) as BankID,isnull(BranchID,0) as BranchID 
from ( select * from ( select ContactID,FieldValue as BankID,(Row_Number() over (Partition By ContactID Order By ContactID,ValidUpTo)) as MinNo
from EmployeeHistory_HRMS A With (NoLock) where FieldName='Bank ID' and ValidUpTo>=@BRDate 
and a.ContactID in (select ContactID from @SR1 sr where sr.ContactID=a.ContactID) ) as A where MinNo=1 ) as A 

left outer join ( select * from ( select ContactID,FieldValue as BranchID,(Row_Number() over (Partition By ContactID Order By ContactID,ValidUpTo)) as MinNo
from EmployeeHistory_HRMS A With (NoLock) where FieldName='BankBranch ID' and ValidUpTo>=@BRDate 
and a.ContactID in (select ContactID from @SR1 sr where sr.ContactID=a.ContactID) ) as A where MinNo=1 ) as B on b.ContactID=a.ContactID





Declare @Contact table (ContactID int,EmployeeName varchar(300),Bank varchar(200),Branch varchar(200),BankAcNo varchar(50),PanCardNo varchar(50),EmployeeCategoryID int,BankID int,ODLDID int)
--Declare @ContactSql varchar(Max) Set @ContactSql='
--select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID,BankID,o.ODLDID from FnOLD() o
--' insert into @Contact exec (@ContactSql) 

insert into @Contact
select distinct ct.ContactID,ct.Fileas as EmployeeName,eo.Name as Bank,eob.Name as Branch,e.BankAcNo ,PanCardNo,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,eo.ExternalOrganisationID as BankID,e.ODLDID
from ( select ct.ContactID,ct.Fileas from Contacts ct with (nolock) where ct.ContactID in ( select ContactID from @SR1 sr where sr.ContactID=ct.ContactID) ) ct
full join @BankBranch bb on bb.ContactID=ct.ContactID
Outer Apply (select EmployeeDisabilityTypeID,BankID,BankBranchID,BankAcNo,PanCardNo,EmployeeCategoryID,ODLDID from Employee e with (nolock) where ct.ContactID=e.ContactID ) e 
left outer join EmployeeDisabilityTypes ed with (nolock) on ed.EmployeeDisabilityTypeID=e.EmployeeDisabilityTypeID
left outer join ExternalOrganisations eo with (nolock) on eo.ExternalOrganisationID=isnull(bb.BankID,e.BankID)
left outer join ExternalOrganisationBranches eob with (nolock) on eob.ExternalOrganisationBranchID=isnull(bb.BranchID,e.BankBranchID)



Declare @Qtr table (ContactID int,Types int,Organisation varchar(100),Branch varchar(100),BranchAddress varchar(500),YearID int,MonthID int,ToDate DateTime,Vaccated Int,MaxNo Int) 
insert into @Qtr
select * from (
select *,(Row_Number() over (Partition By ContactID,YearID,MOnthID Order By ContactID,YearID,MOnthID,ToDate desc,Vaccated )) MaxNo from (
select distinct eqd.ContactID,b.ExternalOrganisation Types,eo.Name Organisation,eob.Name Branch,eob.StreetName BranchAddress,Year(convert(datetime,d.Days)) as YearID,Month(convert(datetime,d.Days)) as MonthID
,ToDate,Vaccated  
from @SR1 sr inner join @Qtr1 eqd on eqd.COntactID=sr.ContactID --and eqd.ContactID = 389
cross join ToDay_hrms t With (NoLock) 
inner join @DaysOfDate d on convert(datetime,d.Days) between FromDate and eqd.ToDate --- #206641 --isnull((case when isnull(Vaccated,0)=0 then ToDay else ToDate end),ToDay)
--and Year(convert(datetime,d.Days)) = Year(sr.BillRegisterDate) and Month(convert(datetime,d.Days)) = Month(sr.BillRegisterDate)
and Year(convert(datetime,d.Days)) = YearID and Month(convert(datetime,d.Days)) = MonthID	----- issueno 181722
left outer join Buildings b With (NoLock) on b.BuildingID=eqd.EmployeeQuartersID 
left outer join ExternalOrganisations eo With (NoLock) on eo.ExternalOrganisationID=b.ExternalOrganisationID
left outer join ExternalOrganisationBranches eob With (NoLock) on eob.ExternalOrganisationID=eo.ExternalOrganisationID and eob.ExternalOrganisationBranchID=b.ExternalOrganisationBranchID
) A ) A where MaxNo = 1


Declare @OLA table (OLID int,OfficeID int,LocationID int,Fileas varchar(100)) 
Declare @OLASql varchar(Max) Set @OLASql='
	select OfficeLocationAllocationID,OfficeID,LocationID,Fileas from  OfficeLocationAllocation ola With (NoLock)
' insert into @OLA exec (@OLASql)


Declare @SR table (ContactID int,ScaleRegisterID int,BRNo varchar(50),BRDate datetime,OLID int,YearID int,MonthID int,MonthDesc varchar(12),OfficeName varchar(50),LocationName varchar(50),OID int,ODLDID Int,YearID1 Int,MonthID1 Int)
insert into @SR 
select distinct sr.ContactID,sr.ScaleRegisterID,isnull(sr.BillRegisterNo,'0') as BRNo,sr.BillRegisterDate,ol1.OLID,Year(sr.BillRegisterDate) as YearID,Month(sr.BillRegisterDate) as MonthID,datename(month,sr.BillRegisterDate) as MonthDesc,ol1.OfficeName,ol1.LocationName,ol1.OID,srb.ODLDID,YearID,MonthID
from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID,OID from @ODLD ) as OL1
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
--left outer join @ODLD ol on ol.ODLDID=srb.ODLDID 


Declare @Retired table (ContactID int) 
insert into @Retired
select distinct a.ContactID
from ( select OLID,AcOLID from OfficeLocationAccountingUnitDetails ol with (nolock) where ol.AcOLID in (@OLID) ) ol
inner join OfficeLocationAllocation ola With (NoLock) on ola.OfficeLocationAllocationID=ol.OLID
inner join ODLDAllocation odld With (NoLock) on odld.OfficeID=ola.OfficeID and odld.LocationID=ola.LocationID

left outer join ( select e.ContactID,isnull(isnull(a.FromODLDID,b.FromODLDID),isnull(e.ODLDID,0)) as ODLDID from Employee e With (NoLock)
left outer join ( select EmployeeAppointmentDetailsID,ContactID,FromODLDID,(ROw_Number() over (Partition By ContactID Order By ContactID,isnull(isnull(CreatedOn,OfficeMemoDate),RelievedDate) desc,EmployeeAppointmentDetailsID desc)) as MaxNo
from EmployeeAppointmentDetails With (NoLock) where AppointmentTypeID in(23,47) and Approved=1 and Relieved=1 and Reported=1 and Regularised=0 and isnull(isnull(CreatedOn,OfficeMemoDate),RelievedDate)<=@BRDate
) as A on a.MaxNo=1 and a.ContactID=e.ContactID
left outer join ( select EmployeeAppointmentDetailsID,ContactID,FromODLDID,CreatedOn,(ROw_Number() over (Partition By ContactID Order By ContactID,isnull(CreatedOn,OfficeMemoDate) desc,EmployeeAppointmentDetailsID desc)) as MaxNo
from EmployeeAppointmentDetails With (NoLock) where AppointmentTypeID in (21,22,3,4,2) and Approved=1 and Relieved=1 and isnull(CreatedOn,OfficeMemoDate)>=@BRDate
) as B on b.MaxNo=1 and b.ContactID=e.ContactID 
) as A on isnull(a.ODLDID,0)=odld.ODLDID
--where a.ContactID = 2038
where (case when @ContactID=0 then 0 else a.ContactID end) = @ContactID 



Declare @SRD table (ContactID int,BRNo varchar(50),ATypeID int,OLID int,YearID int,MonthID int,Types varchar(500),Amount money,Ordering varchar(10)) 
insert into @SRD

select  sr.ContactID,sr.BRNo,AtypeID,sr.OLID,sr.YearID,sr.MonthID
,isnull( isnull( isnull(
(case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=3 then isnull(BankName,TypesDesc) else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=2 then isnull(BankName,TypesDesc) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (1,4) then ('Loan'+'  '+isnull(BankName,'')+' , '+isnull(BranchName,'')) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=20 then isnull(isnull(BankName,NULL)+'  '+isnull(BranchName,NULL),TypesDesc) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=9 and BankName is not null then (case when BankName is null then TypesDesc+' (MESCOM)' else TypesDesc+' ('+BankName+')' end) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=2 then ('Vehicle Loan'+'  '+isnull(BankName,'')+' , '+isnull(BranchName,'')) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=6 then ('Computer Purchase'+'  '+isnull(BankName,'')+' , '+isnull(BranchName,'')) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (17,18) and b.BankID<>86 then (isnull(BankName,TypesDesc)+' , '+isnull(BranchName,'')) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=23 then (isnull(BankName,TypesDesc)+' , '+isnull(BranchName,'')) else  NULL end end end end end end end end end)

,(case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=21 then TypesDesc+' - '+BranchName else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=15 then 'Recurring Deposit - '+BranchName else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (17,18) and b.BankID=86 then 'Postal Life Insurance - '+BranchName else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (10,15) and isnull(q.Types,0)<>0 then ('HRA / WC ( '+isnull(Organisation,'')+' - '+isnull(Branch,'')+' )') else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (25,19,33,34) then isnull(BankName,TypesDesc) else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=24 and b.BankID in (87,88,89,104,130) then TypesDesc+'  '+'GPF / EPF / CPF / GLIC / GIC' else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=16 then TypesDesc+'  '+'GPF / EPF / CPF' else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=24 and b.BankID in (90,91,92,109) then TypesDesc+'  '+'GIS / EGIS / KGISS' else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=24 and b.BankID in (93) then TypesDesc+'  '+'KGID' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID in (44,371) and BankName is null then ToHead+'  '+isnull(BankName,TypesDesc) else 
NULL end end end end end end end end end end))

,(case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=11 then (ToHead+'  '+TypesDesc) else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (20,21) and isnull(q.Types,0)=0 then (ToHead+'  '+('HRA / WC ( MESCOM )')) else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') not in ('Income Tax','HRA / WC','HRA_MESCOM','WC_MESCOM','PT','LWF') then '28.401  Recovery' else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (13,17) then (ToHead+'  '+TypesDesc) else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (26) then (ToHead+'  '+TypesDesc) else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (26,27,28,29,30,31,32,33,34) then '28.401  Recovery'+'  '+isnull(BankName,ol.Fileas)+'  '+isnull(BranchName,'') else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=14 then isnull(BankName,TypesDesc) else 
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) in (0,13) and isnull(srd.Types1,'')='Income Tax' then '28.401  Recovery ( '+isnull(srd.Types1,'')+' )' else
case when srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) in (0,13) and isnull(srd.Types1,'')='HRA / WC' then ('28.401  Recovery HRA / WC ( '+isnull(Organisation,'')+' - '+isnull(Branch,'')+' )') else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) not in (0,13) and isnull(srd.BankID,0) not in (90) then 'Recovery'+'  '+isnull(isnull(BankName,ol.Fileas),'')+'  '+isnull(BranchName,'') else 
NULL end end end end end end end end end end)) 

,(case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=28 then TypesDesc+'  '+'GIS / EGIS / KGISS' else 
case when isnull(srd.Amount,0)<0 then '28.401  Recovery' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (44,118) then TypesDesc+' - '+isnull(BankName,ol.Fileas)+'  '+isnull(BranchName,'') else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=18 then isnull(BankName,TypesDesc) else 
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') in ('HRA_MESCOM') then '28.104  Recovery' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') in ('WC_MESCOM') then '28.105  Recovery' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') in ('PT') then '28.401  Recovery Professional Tax' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') in ('LWF') then '28.401  Recovery Labour Welfare Fund' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) not in (0,13) and isnull(srd.BankID,0) in (90) then 'Recovery'+'  '+isnull(BankName,ol.Fileas)+'  '+isnull(BranchName,'') else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (29,30) then isnull(BankName,TypesDesc) else
NULL end end end end end end end end end end)) as Types



,(isnull(srd.Amount,0)) as Amount

,isnull( isnull( isnull(
(case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=3 then 'A02.00' else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=2 then 'A03' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (1,4) then 'A04' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=20 then 'A05' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=9 and BankName is not null then 'A06' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=2 then 'A07' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=6 then 'A08' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (17,18) and b.BankID<>86 then 'A09' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=23 then 'A10' else  NULL end end end end end end end end end)

,(case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=21 then 'A10.01' else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=15 then 'A11' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (17,18) and b.BankID=86 then 'A11' else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (10,15) and isnull(q.Types,0) <>0 then 'A12' else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (25,19,33,34) then 'A13' else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=24 and b.BankID in (87,88,89,104,130) then 'A15' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=16 then 'A15' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=24 and b.BankID in (90,91,92,109) then 'A16' else
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID=24 and b.BankID in (93) then 'A17' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID in (44,371) and BankName is null then 'B01' else  NULL end end end end end end end end end end))

,(case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=11 then 'B02' else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (20,21) and isnull(q.Types,0)=0 then 'B03' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) in (0,13) and isnull(srd.Types1,'') not in ('Income Tax','HRA / WC','HRA_MESCOM','WC_MESCOM','PT','LWF') then 'B04' else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (13,17) then 'B05' else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (26) then 'B06' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (26,27,28,29,30,31,32,33,34) then 'A18' else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=14 then 'A18' else 
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) in (0,13) and isnull(srd.Types1,'')='Income Tax' then 'A03.01' else
case when srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) in (0,13) and isnull(srd.Types1,'')='HRA / WC' then 'A12.01' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) not in (0,13) and isnull(srd.BankID,0) not in (90) then 'A18' else 
NULL end end end end end end end end end end))

,(case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=28 then 'B06' else  ---'A16'
case when isnull(srd.Amount,0)<0 then 'B04' else 
case when AtypeID=2 and srd.TypesID=5 and srd.TypeID in (44,118) then 'A10.02' else
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID=18 then 'A18' else 
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) in (0,13) and isnull(srd.Types1,'') in ('HRA_MESCOM','WC_MESCOM') then 'B04' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') in ('PT') then 'A18' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0)in (0,13) and isnull(srd.Types1,'') in ('LWF') then 'A18' else
case when AtypeID=2 and srd.TypesID=6 and srd.TypeID not in (44,371) and isnull(srd.BankTypeID,0) not in (0,13) and isnull(srd.BankID,0) in (90) then 'B06' else 
case when AtypeID=2 and srd.TypesID=4 and srd.TypeID in (29,30) then 'A19' else
NULL end end end end end end end end end)) as Ordering


from @SR sr
inner join @SRD2 srd on srd.ScaleregisterID=sr.ScaleRegisterID 
left outer join (select eo.ExternalOrganisationID as BankID,eob.ExternalOrganisationBranchID as BranchID,eo.Name collate database_default BankName,eob.Name collate database_default BranchName,eob.StreetName BranchAddress
				from  ExternalOrganisations eo With (NoLock) left outer join ExternalOrganisationBranches eob With (NoLock) on eob.ExternalOrganisationID=eo.ExternalOrganisationID )
				b on isnull(b.BankID,0)=isnull(srd.bankID,0) and isnull(b.BranchID,0)=isnull(srd.BranchID,0)
left outer join @Qtr q on isnull(q.ContactID,0)=sr.ContactID 
and isnull(q.YearID,0)=sr.YearID1 and isnull(q.MonthID,0)=sr.MonthID1	----- issueno 181722
--and q.YearID in (@Year) and q.MonthID in (case when q.MonthID=@Month then @Month else (select Max(q1.MonthID) from @Qtr q1 where q1.ContactID = q.ContactID and q1.YearID=q.YearID and MonthID<=@Month) end)
left outer join @OLA ol on ol.OLID=isnull((case when srd.BankTypeID=13 then srd.BankID else 0 end),0)
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.SalaryTypes is not null 



Declare @AB table (ContactID Int,BRNo varchar(50),OLID int,YearID int,MonthID int,Types varchar(200),Amount money,Ordering varchar(10),BankID int,Bank varchar(100)) 
insert into @AB
select ContactID,BRNo,OLID,YearID,MonthID,(case when BankID=0 then Types else 'NetPay '+Types end) Types,sum(Amount) as Amount,Ordering,BankID,Bank from (
select * from (
select BRNo,OLID,YearID,MonthID,Types,sum(Amount) as Amount,Ordering,BankID,Bank,ContactID 
from (select BRNo,OLID,YearID,MonthID,((case when r.ContactID is null and SalaryTypeID in (3,1) then 'Retired or Transfered Employees' else isnull(ct.Bank,'') end)+' - '+(case when r.ContactID is null and SalaryTypeID=3 then '' else isnull(Branch,'') end)) as Types  
,(sum(case when ATypeID=1 then isnull(Amount,0) else 0 end) - sum(case when ATypeID=2 then isnull(Amount,0) else 0 end)) as Amount
,(case when r.ContactID is null and SalaryTypeID=3 then 'A00' else 'A01' end) as Ordering,(case when r.ContactID is null and SalaryTypeID=3 then '1' else ct.BankID end) as BankID,(case when r.ContactID is null and SalaryTypeID in (3,1) then 'Retired or Transfered Employees' else ct.Bank end) as Bank  
,sr.ContactID
from @SRD1 srd inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID
inner join @Contact ct on ct.ContactID=sr.ContactID
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
left outer join @Retired r on r.ContactID=sr.ContactID
group by BRNo,OLID,YearID,MonthID,Bank,Branch ,ct.BankID,r.ContactID,SalaryTypeID,sr.ContactID 
) as A group by BRNo,OLID,YearID,MonthID,Types,Bank,Ordering,BankID,ContactID
union all
select BRNo,OLID,YearID,MonthID,Types,
(case when ATypeID = 1 and sum(isnull(Amount,0))<0 then -sum(isnull(Amount,0)) else sum(isnull(Amount,0)) end) as Amount,Ordering,0 as BankID,NULL as Bank,ContactID
from @SRD srd Where Ordering is not null Group by BRNo,OLID,YearID,MonthID,Ordering,Types,ATypeID,ContactID
) A --where BankID=1
) A group by ContactID,BRNo,OLID,YearID,MonthID,Types,Bank,Ordering,BankID


Declare @AB1 table (ContactID Int,BRNo varchar(50),OLID int,YearID int,MonthID int,Types varchar(200),Amount money,Ordering varchar(10),BankID int,Bank varchar(100),SlNo int,BreakID int) 
insert into @AB1
select a.*,Row_Number() over (Partition by Left(Ordering,1),(case when BankID=0 then 1 else 2 end) order by Ordering,Bank) as SlNo 
,(case when Left(Ordering,1)='B' then 3 else case when Left(Ordering,1)='A' and BankID=0 then 2 else 1 end end) as BreakID
from @AB A


Declare @Abstact table (ContactID Int,YearID int,MonthDesc varchar(10),OfficeName varchar(100),LocationName varchar(100),Types varchar(200),Amount money,ChequeNo_Date varchar(100),AO_AAO_Office varchar(100),Ordered varchar(10),Ordering varchar(10),Types1 varchar(100),Types2 varchar(100),BRNo varchar(50),BRDate varchar(12),OID int,SlNo int,BreakID int,BankID int,Bank varchar(100),Nos int) 
insert into @Abstact
select distinct sr.ContactID,ab.YearID,sr.MonthDesc,sr.OfficeName,sr.LocationName,ab.Types,ab.Amount,NULL as ChequeNo_Date,(sr.OfficeName+'  '+', HESCOM') as AO_AAO_Office,Left(ab.Ordering,1) as Ordered,Ordering
,(case when BreakID=1 then 'Bank & Branch wise NetPayable' else case when BreakID=2 then 'ExternalOrganisation Deduction Types' else 'Adjustments' end end) as Types1,(case when Left(Ordering,1)='A' then 'Cheque No & Date' else case when Left(Ordering,1)='B' then 'JV No & Date' else NULL end end) as Types2,sr.BRNo,convert(varchar,sr.BRDate,103) as BRDate,sr.OID
,SlNo,BreakID,ab.BankID,Bank,Nos from (
select * from @AB1 union all 
select ContactID,BRNo,OLID,YearID,MonthID,Bank+' - ZTotal' as Types,sum(Amount) as Amount,'A01',0 as BankID,Bank,1000 as SlNo,1 as BreakID
from @AB1 where Bank is not NULL group by ContactID,BRNo,OLID,YearID,MonthID,Bank having Count(*)>1
) ab 
inner join @SR sr on sr.OLID=ab.OLID and sr.YearID=ab.YearID and sr.MonthID=ab.MonthID and sr.ContactID=ab.ContactID
left join (select BankID,Count(*) as Nos from @AB1 where Bank is not NULL group by BankID) as N on n.BankID=ab.BankID


select a.ContactID,ct.Fileas EmployeeName,YearID,MonthDesc,Officename Offcie,LocationName Location,(case when Types Like '%ZTotal' then Bank+' - Total' else Types end) DeductionTypes
,Amount,BRNo,BRDate,SlNo,BreakID
--,(case when SlNo=1000 then 0 else Amount end) Amount
from @Abstact a inner join Contacts Ct with(nolock) on Ct.ContactID=a.ContactID
where isnull(Amount,0)<>0 
order by ContactID,YearID,MONTH(MonthDesc + '1,1'),DeductionTypes

GO
