USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryAllowances]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE  PROCEDURE [dbo].[SP_SalaryAllowances] 
	@AcOLID Int,
	@ContactID int ,
	@YearID Int ,
	@MonthID Int ,
	@ECID int 


AS SET NOCOUNT ON


--Declare @AcOLID Int = 376      
--Declare @ContactID Int = 12373     
--Declare @YearID Int = 2023   
--Declare @MonthID Int = 7  
--Declare @ECID int = 3 ;


Declare @Date datetime = (select convert(datetime,concat(@YearID,'-',@MonthID,'-1')))
Declare @FromDate DateTime = (select @Date )
Declare @ToDate DateTime = (select EOMonth(@Date))
Declare @Suppliment int = 9


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @ODLDID1 table (SlNo Int,EADID Int,ContactID Int,AppointmentTypeID Int,Percentage Money,JoiningDuration Int,RelievedDate DateTime,ReportedDate2 DateTime,ODLDID Int,JD_ODLDID Int,JD_Days Int,LienODLDID Int,Regularised Int,OLID Int,AcOLID Int,Date1 DateTime,HolidayDate DateTime,Sunday Int,Saturday Int,Attendance Int,EmployeeGradeID Int,MinNo Int,FromDate DateTime,ToDate DateTime,LTypeID Int)
insert into @ODLDID1
select a.*,isnull(LeaveTypeID,0) LTypeID from Fn_SalaryODLDID(@AcOLID,@FromDate,@ToDate,@ContactID,NULL,@Suppliment,@ECID) a 
left join Fn_Leaves(@FromDate,@ToDate,@ContactID,@Suppliment) L on l.ContactID=a.ContactID and l.Date1=a.Date1
where (case when JD_Days!=0 and isnull(isnull(isnull(HolidayDate,Sunday),(case when Saturday in (2,4) then Saturday else NULL end)),(case when JoiningDuration=0 then NULL else JoiningDuration end)) is NULL then 0 else 1 end) = 1 
and (case when isnull(Paid,0)=0 and isnull(LeaveTypeID,0)!=0 then 0 else 1 end)=1


Declare @OLDID2 Table (ODLDID Int,ODID Int,OLDID Int,DesignationID Int)
insert into @OLDID2
select ODLDID,od.OfficeDepartmentAllocationID as ODID,old.OfficeLocationDepartmentAllocationID as OLDID,DesignationID
from (select distinct ODLDID ODLDID1 from @ODLDID1 union select distinct LienODLDID from @ODLDID1) A 
inner join ODLDAllocation odld with (nolock) on odld.ODLDID=a.ODLDID1
inner join OfficeDepartmentAllocation od with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
inner join OfficeLocationAccountingUnitDetails ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID 
inner join OfficeLocationDepartmentAllocation old with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ola.OLID


Declare @OLDID1 Table (ContactID Int,ODLDID Int,Allow_ODLDID Int,ODID Int,OLDID Int,DesignationID Int,EmployeeGradeID Int,Date1 DateTime,LTypeID Int,AppointmentTypeID Int,OLDID1 Int)
insert into @OLDID1
select distinct a.ContactID,a.ODLDID,Allow_ODLDID,b.ODID,b.OLDID,b.DesignationID,a.EmployeeGradeID,Date1,LTypeID,AppointmentTypeID,b1.OLDID
from (select distinct ContactID,isnull(LienODLDID,ODLDID) Allow_ODLDID,EmployeeGradeID,Date1,LTypeID,ODLDID,AppointmentTypeID from @ODLDID1 ) A 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B where b.ODLDID = (case when AppointmentTypeID in (43) then a.ODLDID else a.Allow_ODLDID end)) B 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B1 where b1.ODLDID = (case when AppointmentTypeID in (43) then a.Allow_ODLDID else a.ODLDID end) ) B1 


Declare @Exemptions Table (EmployeePayDetailsID Int,ContactID Int,EmployeepayID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
Insert into @Exemptions
select EmployeePayDetailsID,ContactID,EmployeepayID,FromDate,ToDate,Date1 from (
select a.*,FromDate,isnull(ToDate,@ToDate) ToDate from (select * from (
select EmployeePayDetailsID,ContactID,EmployeepayID,(Row_Number() over (Partition By ContactID,EmployeepayID Order By ContactID,EmployeepayID,EffectiveDate desc,EmployeePayDetailsID desc)) MaxNo  
from EmployeePayDetails with(nolock) where EmployeepayTypeID in (31) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID 
) A where MaxNo!=0 ) A inner Join EmployeePayDetailsSub B with(nolock) on b.EmployeePayDetailsID=a.EmployeePayDetailsID
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate 


Declare @PH Table (ContactID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
insert into @PH
select * from (
select top 1 ContactID,isnull(ActualEffectiveDate,EffectiveDate) FromDate,@ToDate ToDate from EmployeePayDetails with(nolock) where EmployeepayTypeID=29 and Approved=1 and isnull(Cancel,0)=0 
and ContactID = @ContactID ) A 
Inner join @Date2 b on b.Date1 Between FromDate and ToDate 


Declare @APTypeID Table (ContactID Int,Regularised Int,AppointmentTypeID Int,AllowanceID Int,RelievedDate DateTime,ReportedDate DateTime,Date1 DateTime)
insert into @APTypeID
select distinct a.*,Date1 from (
select ContactID,Regularised,a.AppointmentTypeID,AllowanceID 
,(case when RelievedTime like '%AM%' then FORMAT(RelievedDate,'yyyy-MM-dd') else dateadd(day,1,FORMAT(RelievedDate,'yyyy-MM-dd')) end) RelievedDate
,isnull((case when ReportedTime like '%AM%' then dateadd(day,-1,FORMAT(ReportedDate,'yyyy-MM-dd')) else dateadd(day,1,FORMAT(ReportedDate,'yyyy-MM-dd')) end),@ToDate) ReportedDate from (
select ContactID,Regularised,a.AppointmentTypeID,AllowanceID
,isnull(RelievedTime,RelievedDate) RelievedDate,isnull(ReportedTime,ReportedDate) ReportedDate
,ltrim(rtrim(right(isnull(RelievedTime,RelievedDate),8))) RelievedTime,ltrim(rtrim(right(isnull(ReportedTime,ReportedDate),8))) ReportedTime
from EmployeeAppointmentDetails A with(nolock) 
inner join AppointmentTypes_Config B with(nolock) on AllowanceID is not NULL and AllowanceID not in (4) and b.AppointmentTypeID=a.AppointmentTypeID
where Approved=1 and Reported=1 and isnull(Legacy,0)=0 and ContactID = @ContactID 
) A ) A Inner join @Date2 b on b.Date1 Between RelievedDate and ReportedDate 


Declare @Allowances Table (ContactID Int,ODLDID Int,RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),RateSeries Int,Duration Float,Rates Float,MaximumAmount Float,Date1 DateTime,LTypeID Int,Exemption Int,PerDay Float,MinNo Int,MaxPerDay Float,Amount1 Float,MaxDay Int,Amount Float,MaxiPerDay Float)
insert into @Allowances
select * ,(case when MaxPerDay>0 and MaxPerDay<MaxDay and Duration!=1 then 0 else Amount end) Amount1 
,(case when Amount=0 then 0 else (case when Duration=1 and MaximumAmount>0 then (MaximumAmount/Day(@ToDate)) else 0 end) end) MaxiPerDay from (
select * ,(Row_Number() over (Partition By ContactID,RateTypeID,(case when Amount=0 then 99 else 1 end) Order By ContactID,RateTypeID,Date1)) MaxDay from (
select * ,(case when Exemption=1 then 0 when LTypeID in (3,5,21,23) then 0 when LTypeID!=0 and RateTypeID not in (2,3,5,17,38) then 0 else PerDay end) Amount from ( 
select * ,round((case when RateMode='Amount' and Duration!=1 and MaximumAmount>0 then (MaximumAmount/Rates) else Rates end),0)  MaxPerDay from (
select o.ContactID,o.ODLDID,RateTypeID,RateMode,RateType,RateSeries,Duration
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(Rates,0) end) Rates,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(MaximumAmount,0) end) MaximumAmount
,b.Date1,o.LTypeID,(case when o5.ContactID is NULL then 0 else 1 end) Exemption
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 when RateTypeID=7 and isnull(NotCalWA,1)=0 then 0 else (case when RateMode='Amount' and Duration=1 then (Rates/Day(@ToDate)) else Rates end) end) PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID,b.Date1 Order By o.ContactID,RateTypeID,b.Date1,OfficeDepartmentAllocationID desc)) MinNo from ( 
select RateTypeID,RateMode,RateType,RateSeries,cast(Duration as Float) Duration,cast(Rates as Float) Rates,cast(MaximumAmount as Float) MaximumAmount,FromDate,ToDate,RateUnits,TerritoryClassTypeID,EmployeeGradeID,TerritoryID,DesignationID,OfficeDepartmentAllocationID 
	from FnRateDetails() where RateTypes='Allowances' and isnull(ExternalOrganisationTypeID,0)=0 
	and (case when RateTypeID=3 and RateSeries!=4  then 0 else 1 end)=1 and (case when RateTypeID=3 and EmployeeGradeID is NULL then 0 else 1 end)=1
	and (RateTypeID in (select AllowanceID from AppointmentTypes_Config B with(nolock) where AllowanceID is not NULL and AllowanceID not in (4))
	or RateTypeID in (20,1,2,3,5,7,9,17,23,32,35,41)) 
) A full join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
full join @OLDID1 O on o.Date1=b.Date1
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and HRATerritoryClassTypeID=(case when RateTypeID=2 and isnull(RateUnits,0)=0 then TerritoryClassTypeID else 0 end)) HRA1  
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and CCATerritoryClassTypeID=(case when RateTypeID=3 then TerritoryClassTypeID else 0 end) and o.EmployeeGradeID=(case when RateTypeID=3 then a.EmployeeGradeID else 0 end)) CCA1  
Outer Apply (select top 1 TerritoryID from OfficeLocationDepartmentAddress with(nolock) where OfficeLocationDepartmentAllocationID=OLDID1 and TerritoryID=(case when RateTypeID=5 then a.TerritoryID else 0 end)) SL
left join @OLDID1 O1 on o1.Date1=b.Date1 and o1.DesignationID=(case when RateTypeID in (7,40) then a.DesignationID else 0 end) 
left join @OLDID1 O3 on o3.Date1=b.Date1 and o3.DesignationID=(case when RateTypeID in (17) then a.DesignationID else 0 end) and o3.ODID=(case when RateTypeID in (17) then isnull(a.OfficeDepartmentAllocationID,o3.ODID) else 0 end)
left join @OLDID1 O2 on o2.Date1=b.Date1 and o2.DesignationID=(case when RateTypeID in (9,23,32,41) then a.DesignationID else 0 end) and o2.ODID=(case when RateTypeID in (9,23,32,41) then a.OfficeDepartmentAllocationID else 0 end) 
left join @PH O4 on o4.Date1=b.Date1
left join @APTypeID AP on ap.AllowanceID=RateTypeID and ap.Date1=b.Date1 
left join @Exemptions o5 on o5.Date1=b.Date1 and o5.EmployeepayID=a.RateTypeID 
left join Fn_JoinDate(@FromDate,@ToDate,@ContactID) J on j.ContactID=o.ContactID

where (case when RateTypeID=2 and hra1.HRATerritoryClassTypeID is NULL then 0  
when RateTypeID=3 and cca1.CCATerritoryClassTypeID is NULL then 0  
when RateTypeID=5 and sl.TerritoryID is NULL then 0  
when RateTypeID in (7,40) and o1.DesignationID is NULL then 0  
when RateTypeID in (17) and o3.DesignationID is NULL then 0  
when RateTypeID in (9,23,32,41) and o2.DesignationID is NULL then 0 
when RateTypeID in (35) and o4.ContactID is NULL then 0 
when RateTypeID in (select AllowanceID from AppointmentTypes_Config B with(nolock) where AllowanceID is not NULL and AllowanceID not in (4)) and ap.ContactID is NULL then 0 
else 1 end) = 1
) A where MinNo = 1 --and RateTypeID = 5 
) A 
) A 
) A 

select a.ContactID,ct.Fileas ContactName,ODLDID,AllowanceID,Description Allowance,RateMode,RateType,Duration,Rates,MaximumAmount from (
select distinct ContactID,ODLDID,RateTypeID,RateMode,RateType,Duration,Rates,MaximumAmount from @Allowances where ContactID is not NULL 
) A Inner Join Allowances B with(nolock) on b.AllowanceID=a.RateTypeID
inner join Contacts CT with(nolock) on ct.ContactID=a.ContactID
order by RateMode desc,AllowanceID










GO
