USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ELS_Arrears_Generation_Regular]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_ELS_Arrears_Generation_Regular] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@IT Int ,
	@ODLDID_1 int,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float 

AS 
SET NOCOUNT ON



--Declare @AcOLID Int = 337     
--Declare @FromDate DateTime = '2023-04-01' 
--Declare @ToDate DateTime = '2023-05-31' 
--Declare @ContactID Int = 28161  
--Declare @IT Int = 0        
--Declare @ODLDID_1 int = NULL 
--Declare @BPRate Float = NULL   
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  



Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= 60
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 



Declare @SRID table (OLID Int,ContactID Int,StartingDate DateTime,EndingDate DateTime) 
insert into @SRID
select @AcOLID,ContactID,dateadd(month,-1,dateadd(day,1,EOMonth(Max(Date1)))) FromDate,EOMonth(Max(Date1)) ToDate from (
select ContactID,FromDate,ToDate,Date1,Month(Date1) MonthID,Year(Date1) YearID  from (
select distinct ContactID,EmployeepayTypeID,FromDate,ToDate 
from EmployeePayDetails A with(nolock) Inner Join EmployeePayDetailsSub B with(nolock) on b.EmployeePayDetailsID=a.EmployeePayDetailsID
where EmployeepayTypeID in (16) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate 
) A Group  By YearID,MonthID,ContactID 



Declare @SRID1 Int Declare @SRID2 Int Declare @SRID3 DateTime Declare @SRID4 DateTime 
DECLARE Cur3 CURSOR FOR select * from @SRID Order By ContactID,StartingDate 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2,@SRID3,@SRID4 ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------
 
exec SP_ELS_Arrears_Generation @SRID1,@SRID3,@SRID4,@SRID2,@IT,@ODLDID_1,@BPRate,@DPRate,@DARate

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2,@SRID3,@SRID4 ; 
END; CLOSE Cur3; DEALLOCATE Cur3; 



select * from ScaleRegister A with(nolock) 
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=2 and EmployeeCategoryID=1 and OLID=@AcOLID and (case when @ContactID=0 then 0 else ContactID end) = @ContactID  
and isnull(ContactID,0)>0 and StartingDate >= @FromDate and EndingDate<= @ToDate 
Order By ContactID,StartingDate,ScaleRegisterID






GO
