USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_BasicPay_Revision]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_BasicPay_Revision] @LoginOLID Int,@EffectiveDate DateTime,@CID1 Int,@ECadre Int,@DPRate Numeric(18,2),@Percent Money,@NextScale Int
AS 
SET NOCOUNT ON

--Declare @LoginOLID Int = 341  
--Declare @EffectiveDate DateTime = '2022-04-01'  
--Declare @CID1 Int = 1959
--Declare @ECadre Int = 0
--Declare @DPRate Money = 45.25  
--Declare @Percent Money = 20
--Declare @NextScale Int = 0


Declare @ContactID Table (ContactID Int)
Insert Into @ContactID
select ContactID from Contacts with(nolock) where ContactID = @CID1 


Declare @CID Int 
DECLARE Cur3 CURSOR FOR select ContactID from @ContactID Order By ContactID 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @CID; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

Declare @BP Table (ContactID Int,BasicPay Money,MDA Money,Total Money,Percent20 Money,ReviseBP Money)
Insert Into @BP
select * ,(Total+Percent20) ReviseBP from (
select *,round(round((BasicPay*@DPRate/100),2),0) MDA,(BasicPay+round(round((BasicPay*@DPRate/100),2),0)) Total 
,round(round(((BasicPay+round(round((BasicPay*@DPRate/100),2),0))*@Percent/100),2),0) Percent20 from (
select ContactID,Round(Round(Sum(Modifiedvalue),2),0) BasicPay from (
select * from (
select EmployeePayDetailsID,ContactID,EmployeePayTypeID,Modifiedvalue,isnull(ActualEffectiveDate,EffectiveDate) FromDate 
,isnull((lead(isnull(ActualEffectiveDate,EffectiveDate)) over (Partition By ContactID Order By ContactID,isnull(ActualEffectiveDate,EffectiveDate),isnull(Modifiedvalue,0),EmployeePayDetailsID ))-1,EOMonth(@EffectiveDate)) ToDate 
from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0
and ContactID in (select ContactID from @ContactID C where c.ContactID=a.ContactID)
and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
and EmployeePayDetailsID  in ( select EmployeePayDetailsID from (
	select EmployeePayDetailsID,isnull((lead(isnull(ActualEffectiveDate,EffectiveDate)) over (Partition By ContactID Order By ContactID,isnull(ActualEffectiveDate,EffectiveDate),isnull(Modifiedvalue,0),EmployeePayDetailsID ))-1,EOMonth(@EffectiveDate)) ToDate  
	from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0
	and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2)) and ContactID = a.ContactID  
	) A where ToDate>=@EffectiveDate-1 ) 
and EmployeePayDetailsID not in ( select EmployeePayDetailsID from (
	select EmployeePayDetailsID,ContactID,EmployeePayTypeID,Modifiedvalue,EffectiveDate
	,(Row_Number() over (Partition By ContactID,EmployeePayTypeID,EffectiveDate Order By ContactID,EmployeePayTypeID,EffectiveDate,EmployeePayDetailsID desc)) Duplicate
	from EmployeePayDetails a1 with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0
	and isnull(ActualEffectiveDate,EffectiveDate)>= dateadd(year,-1,@EffectiveDate) 
	and a1.ContactID = a.ContactID
	and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
	) A where Duplicate!=1 ) 
) A where @EffectiveDate-1 Between FromDate and ToDate 
) A  Group By ContactID
) A ) A 

;with Final as (
select AcOLID,ContactID,FinalDesignationID,EmployeeCadreTypeID,EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP 
,(case when ReviseBP<Increment1 then Increment1 when ReviseBP<Increment2 then Increment2 when ReviseBP<Increment3 then Increment3 when ReviseBP<Increment4 then Increment4 when ReviseBP<Increment5 then Increment5 when ReviseBP<Increment6 then Increment6 when ReviseBP<Increment7 then Increment7 else Increment8 end) ActualBP from (
select @LoginOLID AcOLID,e1.ContactID,FinalDesignationID,s.EmployeeCadreTypeID 
,ets.EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP 
,MinimumAmount+IncrementAmount Increment1
,(case when MaximumAmount<MinimumAmount+IncrementAmount*2 then MaximumAmount else MinimumAmount+IncrementAmount*2 end) Increment2 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*3 then MaximumAmount else MinimumAmount+IncrementAmount*3 end) Increment3 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*4 then MaximumAmount else MinimumAmount+IncrementAmount*4 end) Increment4 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*5 then MaximumAmount else MinimumAmount+IncrementAmount*5 end) Increment5 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*6 then MaximumAmount else MinimumAmount+IncrementAmount*6 end) Increment6 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*7 then MaximumAmount else MinimumAmount+IncrementAmount*7 end) Increment7 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*8 then MaximumAmount else MinimumAmount+IncrementAmount*8 end) Increment8 
from (select @CID ContactID) e1
outer apply ( select * from FnGetTimeScaleDesignationID (e1.ContactID,@EffectiveDate,@ECadre,'autoupdation') ) S
inner join EmployeeTimeScalePeriods ETSP with(nolock) on ETSP.EmployeeCadreTypeID=s.EmployeeCadreTypeID and ETSP.Approved=1 and ETSP.EffectiveDate=@EffectiveDate 
inner join EmployeeTimeScales ETS with(nolock) on ets.EmployeeTimeScalePeriodID=etsp.EmployeeTimeScalePeriodID
inner join @BP bp on bp.ContactID=e1.ContactID and bp.ReviseBP between MinimumAmount and MaximumAmount
 ) A  union all 
select AcOLID,ContactID,FinalDesignationID,EmployeeCadreTypeID,EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP 
,MinimumAmount ActualBP  from (
select @LoginOLID AcOLID,e1.ContactID,FinalDesignationID,s.EmployeeCadreTypeID 
,ets.EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP
from (select @CID ContactID) e1
outer apply ( select * from FnGetTimeScaleDesignationID (e1.ContactID,@EffectiveDate,@ECadre,'autoupdation') ) S
left join Designation b on b.DesignationID=FinalDesignationID
left join EmployeeCadreTypeDesignationAllocation ECD with(nolock) on ecd.DesignationID=b.UnderPromteDesignationID
inner join EmployeeTimeScalePeriods ETSP with(nolock) on ETSP.EmployeeCadreTypeID=s.EmployeeCadreTypeID and ETSP.Approved=1 and ETSP.EffectiveDate=@EffectiveDate 
inner join EmployeeTimeScales ETS with(nolock) on ets.EmployeeTimeScalePeriodID=etsp.EmployeeTimeScalePeriodID and EmployeeTimeScaleSeries=1 
inner join @BP bp on bp.ContactID=e1.ContactID and bp.ReviseBP < MinimumAmount
) A union all 
select AcOLID,ContactID,FinalDesignationID,EmployeeCadreTypeID,EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP 
,(case when ReviseBP<Increment1 then Increment1 when ReviseBP<Increment2 then Increment2 when ReviseBP<Increment3 then Increment3 when ReviseBP<Increment4 then Increment4 when ReviseBP<Increment5 then Increment5 when ReviseBP<Increment6 then Increment6 when ReviseBP<Increment7 then Increment7 else Increment8 end) ActualBP from (
select @LoginOLID AcOLID,e1.ContactID,FinalDesignationID,s.EmployeeCadreTypeID ,ets.EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP
,MaximumAmount+IncrementAmount Increment1,MaximumAmount+IncrementAmount*2 Increment2,MaximumAmount+IncrementAmount*3 Increment3,MaximumAmount+IncrementAmount*4 Increment4
,MaximumAmount+IncrementAmount*5 Increment5,MaximumAmount+IncrementAmount*6 Increment6,MaximumAmount+IncrementAmount*7 Increment7,MaximumAmount+IncrementAmount*8 Increment8
from (select @CID ContactID) e1
outer apply ( select * from FnGetTimeScaleDesignationID (e1.ContactID,@EffectiveDate,@ECadre,'autoupdation') ) S
left join Designation b on b.DesignationID=FinalDesignationID
left join EmployeeCadreTypeDesignationAllocation ECD with(nolock) on ecd.DesignationID=b.UnderPromteDesignationID
inner join EmployeeTimeScalePeriods ETSP with(nolock) on ETSP.EmployeeCadreTypeID=(case when @NextScale=0 then s.EmployeeCadreTypeID else ecd.EmployeeCadreTypeID end) and ETSP.Approved=1 and ETSP.EffectiveDate=@EffectiveDate 
inner join ( select *,(Row_Number() over (Partition By EmployeeTimeScalePeriodID Order By EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries desc)) MaxNo 
from EmployeeTimeScales with(nolock) ) ETS on ets.EmployeeTimeScalePeriodID=etsp.EmployeeTimeScalePeriodID and MaxNo=1 
inner join @BP bp on bp.ContactID=e1.ContactID and bp.ReviseBP>MaximumAmount
) A union all 
select AcOLID,ContactID,FinalDesignationID,EmployeeCadreTypeID,EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP 
,(case when ReviseBP<Increment1 then Increment1 when ReviseBP<Increment2 then Increment2 when ReviseBP<Increment3 then Increment3 when ReviseBP<Increment4 then Increment4 when ReviseBP<Increment5 then Increment5 when ReviseBP<Increment6 then Increment6 when ReviseBP<Increment7 then Increment7 else Increment8 end) ActualBP from (
select @LoginOLID AcOLID,e1.ContactID,FinalDesignationID,s.EmployeeCadreTypeID ,ets.EmployeeTimeScalePeriodID,EmployeeTimeScaleSeries,MinimumAmount,IncrementAmount,MaximumAmount,BasicPay,MDA,Total,Percent20,ReviseBP
,MinimumAmount+IncrementAmount Increment1
,(case when MaximumAmount<MinimumAmount+IncrementAmount*2 then MaximumAmount else MinimumAmount+IncrementAmount*2 end) Increment2 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*3 then MaximumAmount else MinimumAmount+IncrementAmount*3 end) Increment3 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*4 then MaximumAmount else MinimumAmount+IncrementAmount*4 end) Increment4 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*5 then MaximumAmount else MinimumAmount+IncrementAmount*5 end) Increment5 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*6 then MaximumAmount else MinimumAmount+IncrementAmount*6 end) Increment6 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*7 then MaximumAmount else MinimumAmount+IncrementAmount*7 end) Increment7 
,(case when MaximumAmount<MinimumAmount+IncrementAmount*8 then MaximumAmount else MinimumAmount+IncrementAmount*8 end) Increment8
from (select @CID ContactID) e1
outer apply ( select * from FnGetTimeScaleDesignationID (e1.ContactID,@EffectiveDate,@ECadre,'autoupdation') ) S
left join Designation b on b.DesignationID=FinalDesignationID
left join EmployeeCadreTypeDesignationAllocation ECD with(nolock) on ecd.DesignationID=b.UnderPromteDesignationID
inner join EmployeeTimeScalePeriods ETSP with(nolock) on ETSP.EmployeeCadreTypeID=(case when @NextScale=0 then s.EmployeeCadreTypeID else ecd.EmployeeCadreTypeID end) and ETSP.Approved=1 and ETSP.EffectiveDate=@EffectiveDate 
inner join EmployeeTimeScales ETS with(nolock) on ets.EmployeeTimeScalePeriodID=etsp.EmployeeTimeScalePeriodID
inner join @BP bp on bp.ContactID=e1.ContactID and bp.ReviseBP between MinimumAmount and MaximumAmount
) A 


)

  insert into EmployeePayDetails 
select distinct a.ContactID,22,null,NULL,FinalDesignationID,NULL,NULL,@EffectiveDate,null,BasicPay,null,NULL,ActualBP,NULL,NULL,'BasicPayRevision' ,1,NULL,NULL,NULL,'','',NULL,NULL,0,'',AcOLID,NULL,GetDate(),0,NULL,NULL,0,0,0,NULL,NULL,'',NULL
from Final a left join EmployeePayDetails b with(nolock) on b.ContactID=a.ContactID and b.EmployeePayTypeID=22 and b.EffectiveDate=@EffectiveDate
where b.ContactID is NULL 

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @CID; 
END; CLOSE Cur3; DEALLOCATE Cur3; 

--select 'Updated Successfully' A 


GO
