USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryGeneration]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE  PROCEDURE [dbo].[SP_SalaryGeneration] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@Suppliment int,
	@PT1 Int,
	@FBF1 Int,
	@Continue int,
	@MaxSRID int , 
	@IT2 Int ,
	@ODLDID_1 Int , 
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float ,
	@ChargeBP Float ,
	@HRARate Float ,
	@CCARate Float 

AS SET NOCOUNT ON


--Declare @AcOLID Int = 9993     
--Declare @FromDate DateTime = '2024-11-01' 
--Declare @ToDate DateTime = '2024-11-30' 
--Declare @ContactID Int = 2437       
--Declare @Suppliment int = 0
--Declare @PT1 Int = 200  
--Declare @FBF1 Int = 200 
--Declare @Continue int = 0 
--Declare @MaxSRID int = 0
--Declare @IT2 Int = 0
--Declare @ODLDID_1 Int = 333   
--Declare @BPRate Float = NULL  
--Declare @DPRate Float = NULL
--Declare @DARate Float = NULL
--Declare @ChargeBP Float = NULL  
--Declare @HRARate Float = NULL
--Declare @CCARate Float = NULL

 

Declare @EmpStatusID Int = 1  
Declare @EmpCategoryID Int = 1  
Declare @Remarks Varchar(50) = (( select concat(@ContactID,' Salary Generation Suppliment ',@Suppliment,'_',Month(@FromDate),Year(@FromDate)) ))

 Declare @Regular int = (select isnull((select ContactID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment in (0,9) and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and EmployeeCategoryID=1),NULL))

Declare @SRID1 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' and EmployeeCategoryID=1 ) 

Declare @SRID10 Int = ( select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment=@Suppliment and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and EmployeeCategoryID=1 and BillRegisterDate is not NULL and Suppliment in (0,9) ) 

Declare @IT1 Int = isnull(@IT2,(select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where SalaryOtherDeductionID=2 and ScaleRegisterID in ( 
	select Min(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(dateadd(Month,-1,@FromDate)) and SalaryMonth=Month(dateadd(Month,-1,@FromDate)) 
	and Suppliment in (0,9) and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 )))

Declare @GIS1 Int = ( select ModifiedValue from (
	select * ,(Row_Number() over (Order By EmployeePayDetailsID desc)) MaxNo 
	from EmployeePayDetails a with(nolock) where ContactID is NULL and EmployeepayID = 28 and EmployeepayTypeID = 21  and Approved=1 and isnull(Cancel,0)=0
	and EffectiveDate Between @FromDate and @ToDate and OLID = @AcOLID and Month(EffectiveDate)=4 
	) A where MaxNo=1 )


Declare @Charge Table (AppointmentTypeID Int,ContactID Int,Date1 DateTime,Rate Float,DesignationID Int,BP Money,Charge Money,PerDay Money,Amount Float,Continuation1 Int) 
insert into @Charge 
exec SP_ChargeAmount @FromDate,@ToDate,@ContactID,@Suppliment,@Continue,@ChargeBP,@DPRate


Declare @SRID3 table (ScaleRegisterID Int) 
if @Suppliment not in (0,9)  insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock)  where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment not in (2,7,3,4,5,8,15,16,17,18) and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                
and StartingDate >= @FromDate and EndingDate<= @ToDate and ScaleRegisterID<=(case when @MaxSRID!=0 then ScaleRegisterID else isnull(@SRID1,ScaleRegisterID) end)
) A where Maxno = 1 
 

  
Declare @SRID2 Int = (( select * from @SRID3 ))
Declare @IT Int = (case when @Suppliment in (0,9) then @IT1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=2) end) 
Declare @PT Int = (case when @Suppliment in (0,9) then @PT1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=3) end) 
Declare @FBF Int = (case when @Suppliment in (0,9) then @FBF1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=11) end) 
Declare @GIS Int = (case when @Suppliment in (0,9) then @GIS1 else  (select Sum(Amount) from ScaleRegisterOtherDeductions with(nolock) where ScaleRegisterID in ( @SRID2 ) and SalaryOtherDeductionID=28) end) 


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @ODLDID1 table (SlNo Int,EADID Int,ContactID Int,AppointmentTypeID Int,Percentage Money,JoiningDuration Int,RelievedDate DateTime,ReportedDate2 DateTime,ODLDID Int,JD_ODLDID Int,JD_Days Int,LienODLDID Int,Regularised Int,OLID Int,AcOLID Int,Date1 DateTime,HolidayDate DateTime,Sunday Int,Saturday Int,Attendance Int,EmployeeGradeID Int,MinNo Int,FromDate DateTime,ToDate DateTime,LTypeID Int)
insert into @ODLDID1
select a.*,isnull(LeaveTypeID,0) LTypeID from Fn_SalaryODLDID(@AcOLID,@FromDate,@ToDate,@ContactID,NULL,@Suppliment,1) A
left join Fn_Leaves(@FromDate,@ToDate,@ContactID,@Suppliment) L on l.ContactID=a.ContactID and l.Date1=a.Date1
where (case when JD_Days!=0 and isnull(isnull(isnull(HolidayDate,Sunday),(case when Saturday in (2,4) then Saturday else NULL end)),(case when JoiningDuration=0 then NULL else JoiningDuration end)) is NULL then 0 else 1 end) = 1 
and (case when isnull(Paid,0)=0 and isnull(LeaveTypeID,0)!=0 then 0 else 1 end)=1


Declare @OLDID2 Table (ODLDID Int,ODID Int,OLDID Int,DesignationID Int)
insert into @OLDID2
select ODLDID,od.OfficeDepartmentAllocationID as ODID,old.OfficeLocationDepartmentAllocationID as OLDID,DesignationID
from (select distinct ODLDID ODLDID1 from @ODLDID1 union select distinct LienODLDID from @ODLDID1) A 
inner join ODLDAllocation odld with (nolock) on odld.ODLDID=a.ODLDID1
inner join OfficeDepartmentAllocation od with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
inner join OfficeLocationAccountingUnitDetails ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID 
inner join OfficeLocationDepartmentAllocation old with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ola.OLID


Declare @OLDID1 Table (ContactID Int,ODLDID Int,Allow_ODLDID Int,ODID Int,OLDID Int,DesignationID Int,EmployeeGradeID Int,Date1 DateTime,LTypeID Int,AppointmentTypeID Int,OLDID1 Int,ODID1 Int,DesignationID1 Int)
insert into @OLDID1
select distinct a.ContactID,a.ODLDID,Allow_ODLDID,b.ODID --,b.OLDID
,(case when AppointmentTypeID in (23) then b1.OLDID else b.OLDID end) OLDID
,b.DesignationID,a.EmployeeGradeID,Date1,LTypeID,AppointmentTypeID,b1.OLDID OLDID1,b1.ODID ODID1,b1.DesignationID DesignationID1
from (select distinct ContactID,isnull(@ODLDID_1,isnull(LienODLDID,ODLDID)) Allow_ODLDID,EmployeeGradeID,Date1,LTypeID,ODLDID,AppointmentTypeID from @ODLDID1 ) A 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B where b.ODLDID = a.Allow_ODLDID ) B 
cross apply (select distinct ODID,OLDID,DesignationID from @OLDID2 B1 where b1.ODLDID = a.ODLDID ) B1 


Declare @Exemptions Table (EmployeePayDetailsID Int,ContactID Int,EmployeepayID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
Insert into @Exemptions
select EmployeePayDetailsID,ContactID,EmployeepayID,FromDate,ToDate,Date1 from (
select a.*,FromDate,isnull(ToDate,@ToDate) ToDate from (select * from (
select EmployeePayDetailsID,ContactID,EmployeepayID,(Row_Number() over (Partition By ContactID,EmployeepayID Order By ContactID,EmployeepayID,EffectiveDate desc,EmployeePayDetailsID desc)) MaxNo  
from EmployeePayDetails with(nolock) where EmployeepayTypeID in (31) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID 
) A where MaxNo=1 ) A inner Join EmployeePayDetailsSub B with(nolock) on b.EmployeePayDetailsID=a.EmployeePayDetailsID
) A Inner join @Date2 b on b.Date1 Between FromDate and ToDate 


Declare @PP Table (ContactID Int,FromDate DateTime,ToDate DateTime,Amount Money,PP Float,Date1 DateTime)
Insert into @PP
select ContactID,FromDate,@ToDate ToDate,Sum(Amount) Amount,(cast(Sum(Amount) as Float)/Day(@ToDate)) PP,Date1  from (
select ContactID,EmployeepayTypeID,isnull(ActualEffectiveDate,EffectiveDate) FromDate,(isnull(ModifiedValue,0)-isnull(CurrentPay,0)) Amount 
,(Row_Number() over (Partition By ContactID,EmployeepayTypeID order By ContactID,EmployeepayTypeID,EmployeePayDetailsID desc )) MaxNo 
from EmployeePayDetails with(nolock) where EmployeepayTypeID in (6,13) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
and (isnull(ModifiedValue,0)-isnull(CurrentPay,0))>0 and ContactID>0 
) A Inner join @Date2 b on b.Date1 Between FromDate and @ToDate 
where MaxNo=1 
Group By ContactID,FromDate,Date1 


Declare @PH Table (ContactID Int,FromDate DateTime,ToDate DateTime,Date1 DateTime)
insert into @PH
select ContactID,c.FromDate,isnull(c.ToDate,@ToDate),isnull(Date1,isnull(c.ToDate,@ToDate)) from (
select * from (
select ContactID,EmployeePayDetailsID,(Row_Number() over (partition By ContactID Order By ContactID,EmployeePayDetailsID desc)) MaxNo 
from EmployeePayDetails with(nolock) where EmployeepayTypeID=29 and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID 
) A where MaxNo=1 ) A 
left join EmployeePayDetailsSub C with(nolock) on c.EmployeePayDetailsID=a.EmployeePayDetailsID
left join @Date2 b on b.Date1 Between c.FromDate and isnull(c.ToDate,@ToDate)



Declare @APTypeID Table (ContactID Int,Regularised Int,AppointmentTypeID Int,AllowanceID Int,RelievedDate DateTime,ReportedDate DateTime,Date1 DateTime)
insert into @APTypeID
select distinct a.*,Date1 from (
select ContactID,Regularised,a.AppointmentTypeID,AllowanceID 
,(case when RelievedTime like '%AM%' then FORMAT(RelievedDate,'yyyy-MM-dd') else dateadd(day,1,FORMAT(RelievedDate,'yyyy-MM-dd')) end) RelievedDate
,isnull((case when ReportedTime like '%AM%' then dateadd(day,-1,FORMAT(ReportedDate,'yyyy-MM-dd')) else dateadd(day,1,FORMAT(ReportedDate,'yyyy-MM-dd')) end),@ToDate) ReportedDate from (
select ContactID,Regularised,a.AppointmentTypeID,AllowanceID
,isnull(RelievedTime,RelievedDate) RelievedDate,isnull(ReportedTime,ReportedDate) ReportedDate
,ltrim(rtrim(right(isnull(RelievedTime,RelievedDate),8))) RelievedTime,ltrim(rtrim(right(isnull(ReportedTime,ReportedDate),8))) ReportedTime
from EmployeeAppointmentDetails A with(nolock) 
inner join AppointmentTypes_Config B with(nolock) on AllowanceID is not NULL and AllowanceID not in (4) and b.AppointmentTypeID=a.AppointmentTypeID
where Approved=1 and Reported=1 and isnull(Legacy,0)=0 and ContactID = @ContactID 
) A ) A Inner join @Date2 b on b.Date1 Between RelievedDate and ReportedDate 


Declare @Rate1 table (RateTypeID Int,Rates Float,Date1 DateTime)
Insert into @Rate1
select RateTypeID,cast(isnull(@DPRate,Rates) as Float),Date1 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances' and RateTypeID in (20) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
union all 
select RateTypeID,cast(isnull(@DARate,Rates) as Float),Date1 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances' and RateTypeID in (1) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @Rate2 table (RateTypeID Int,Rates Float,Date1 DateTime)
Insert into @Rate2
select RateTypeID,cast(Rates as Float),Date1 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Additions' and RateTypeID in (13,14,15) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @Rate3 table (RateTypeID Int,Rates Float,Date1 DateTime)
Insert into @Rate3
select RateTypeID,cast(Rates as Float),Date1 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Deductions' and RateTypeID in (17,13)) A
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 


Declare @BP1 Table (ContactID Int,AcOLID Int,ODLDID Int,Attendance Int,FromDate DateTime,ToDate DateTime,Date1 DateTime,BP Float,PP Float,BP1 Float,DP1 Float,DP Float,DA Float,BPDP Float,BPDP1 Float,BPDPDA Float)
Insert Into @BP1 
select *,(BP+DP) BPDP,(BP1+DP1) BPDP1,(BP+DP+DA) BPDPDA from (
select a.*,isnull((BP1*r.Rates/100),0) DP1,isnull((BP*r.Rates/100),0) DP,((BP+isnull((BP*r.Rates/100),0)) * r1.Rates/100) DA  from (
select a.ContactID,AcOLID,ODLDID,Attendance,a.FromDate,a.ToDate,a.Date1
,(case when isnull(LTypeID,0)=2 then (PerDay/2) when AppointmentTypeID = 17 then ((PerDay/100)*(case when Percentage=0 then 100 else Percentage end)) else PerDay end) BP
,((isnull(PP,0)/100)*(case when Percentage=0 then 100 else Percentage end)) PP,PerDay BP1
from @ODLDID1 a inner join Fn_Basic(@FromDate,@ToDate,@ContactID,@BPRate) bp on bp.ContactID=a.ContactID and bp.Date1=a.Date1 
left join @PP PP on pp.ContactID=a.ContactID and pp.Date1=a.Date1 
) A left join @Rate1 r on r.Date1=a.Date1 and r.RateTypeID=20 
left join @Rate1 r1 on r1.Date1=a.Date1 and r1.RateTypeID=1 
) A 


Declare @Allowances Table (ContactID Int,ODLDID Int,RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),RateSeries Int,Duration Float,Rates Float,MaximumAmount Float,Date1 DateTime,LTypeID Int,Exemption Int,PerDay Float,MinNo Int,MaxPerDay Float,Amount1 Float,MaxDay Int,Amount Float,MaxiPerDay Float)
insert into @Allowances
select * ,(case when MaxPerDay>0 and MaxPerDay<MaxDay and Duration!=1 then 0 else Amount end) Amount1 
,(case when Amount=0 then 0 else (case when Duration=1 and MaximumAmount>0 then (MaximumAmount/Day(@ToDate)) else 0 end) end) MaxiPerDay from (
select * ,(Row_Number() over (Partition By ContactID,RateTypeID,(case when Amount=0 then 99 else 1 end) Order By ContactID,RateTypeID,Date1)) MaxDay from (
select * ,(case when Exemption=1 then 0 when LTypeID in (3,5,21,23) then 0 when LTypeID!=0 and RateTypeID not in (2,3,5,17,38) then 0 else PerDay end) Amount from ( 
select * ,round((case when RateMode='Amount' and Duration!=1 and MaximumAmount>0 then (MaximumAmount/Rates) else Rates end),0)  MaxPerDay from (

select o.ContactID,o.ODLDID,RateTypeID,RateMode,RateType,RateSeries,Duration
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(Rates,0) end) Rates,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 else isnull(MaximumAmount,0) end) MaximumAmount
,b.Date1,o.LTypeID,(case when o5.ContactID is NULL then 0 else 1 end) Exemption 
,(case when o.AppointmentTypeID=17 and RateTypeID not in (2,3) then 0 when RateTypeID=7 and isnull(NotCalWA,1)=0 then 0 else (case when RateMode='Amount' and Duration=1 then (Rates/Day(@ToDate)) else Rates end) end) PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID,b.Date1 Order By o.ContactID,RateTypeID,b.Date1,OfficeDepartmentAllocationID desc)) MinNo  from ( 
select RateTypeID,RateMode,RateType,RateSeries,cast(Duration as Float) Duration,cast((case when RateTypeID=2 then isnull(@HRARate,Rates) when RateTypeID=3 then isnull(@CCARate,Rates) else Rates end) as Float) Rates
,cast(MaximumAmount as Float) MaximumAmount,FromDate,ToDate,RateUnits,TerritoryClassTypeID,EmployeeGradeID,TerritoryID,DesignationID,OfficeDepartmentAllocationID 
	from FnRateDetails() where RateTypes='Allowances' and isnull(ExternalOrganisationTypeID,0)=0 
	and (case when RateTypeID=3 and isnull(Rates,0)=0 and RateSeries not in (1,4) then 0 else 1 end)=1 
	and (case when RateTypeID=3 and EmployeeGradeID is NULL then 0 else 1 end)=1
	and (RateTypeID in (select AllowanceID from AppointmentTypes_Config B with(nolock) where AllowanceID is not NULL and AllowanceID not in (4))
	or RateTypeID in (2,3,5,7,9,17,23,32,35,41)) 
) A full join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
full join @OLDID1 O on o.Date1=b.Date1
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and HRATerritoryClassTypeID=(case when RateTypeID=2 and isnull(RateUnits,0)=0 then TerritoryClassTypeID else 0 end)) HRA1  
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID =o.OLDID and CCATerritoryClassTypeID=(case when RateTypeID=3 then TerritoryClassTypeID else 0 end) and o.EmployeeGradeID=(case when RateTypeID=3 then a.EmployeeGradeID else 0 end)) CCA1  
Outer Apply (select top 1 TerritoryID from OfficeLocationDepartmentAddress with(nolock) where OfficeLocationDepartmentAllocationID=OLDID and TerritoryID=(case when RateTypeID=5 then a.TerritoryID else 0 end)) SL
left join @OLDID1 O1 on o1.Date1=b.Date1 and o1.DesignationID=(case when RateTypeID in (7,40) then a.DesignationID else 0 end) 
left join @OLDID1 O3 on o3.Date1=b.Date1 and o3.DesignationID=(case when RateTypeID in (17) then a.DesignationID else 0 end) and o3.ODID=(case when RateTypeID in (17) then isnull(a.OfficeDepartmentAllocationID,o3.ODID) else 0 end)
left join @OLDID1 O2 on o2.Date1=b.Date1 and o2.DesignationID=(case when RateTypeID in (9,23,41) then a.DesignationID else 0 end) and o2.ODID=(case when RateTypeID in (9,23,41) then a.OfficeDepartmentAllocationID else 0 end) 
left join @OLDID1 O21 on o21.Date1=b.Date1 and o21.DesignationID=(case when RateTypeID in (32) then a.DesignationID else 0 end) and o21.ODID=(case when RateTypeID in (32) then a.OfficeDepartmentAllocationID else 0 end) 
left join @PH O4 on o4.Date1=b.Date1
left join @APTypeID AP on ap.AllowanceID=RateTypeID and ap.Date1=b.Date1 
left join @Exemptions o5 on o5.Date1=b.Date1 and o5.EmployeepayID=a.RateTypeID 
left join Fn_JoinDate(@FromDate,@ToDate,@ContactID) J on j.ContactID=o.ContactID

where (case when RateTypeID=2 and hra1.HRATerritoryClassTypeID is NULL then 0  
when RateTypeID=3 and cca1.CCATerritoryClassTypeID is NULL then 0  
when RateTypeID=5 and sl.TerritoryID is NULL then 0  
when RateTypeID in (7,40) and o1.DesignationID is NULL then 0  
when RateTypeID in (17) and o3.DesignationID is NULL then 0  
when RateTypeID in (9,23,41) and o2.DesignationID is NULL then 0 
when RateTypeID in (32) and o21.DesignationID is NULL then 0 
when RateTypeID in (35) and o4.ContactID is NULL then 0 
when RateTypeID in (select AllowanceID from AppointmentTypes_Config B with(nolock) where AllowanceID is not NULL and AllowanceID not in (4)) and ap.ContactID is NULL then 0 
else 1 end) = 1 
--and RateTypeID = 40 
) A where MinNo = 1 
) A 
) A 
) A 


Declare @HRARates Table (ContactID Int ,Rates Float,Nos Int)
Insert into @HRARates
select distinct ContactID,cast(Rates as Float) Rates,1 Nos from @Allowances where RateTypeID=2 


Declare @Additions Table (RateTypeID Int,EmployeeGradeID Int,RateMode Varchar(20),RateType Varchar(20),Duration Float,BillingMonth Int,FromDate DateTime,ToDate DateTime,RateSeries Int,Rates Float,ContactID Int,ODLDID Int,CPC Int,NotCalCPC Int,Date1 DateTime,MaxDay Int,Amount Float)
insert into @Additions
select *,(case when MaxDay=1 and RateMode='Amount' then Rates else 0 end) Amount from (
select RateTypeID,a.EmployeeGradeID,RateMode,RateType,Duration,BillingMonth,FromDate,ToDate,RateSeries,(case when NotCalCPC=0 then 0 else Rates end) Rates,o.ContactID,o.ODLDID,CPC,NotCalCPC,b.Date1
,(Row_Number() over (Partition By o.ContactID,RateTypeID Order By o.ContactID,RateTypeID,b.Date1)) MaxDay from ( 
select RateTypeID,EmployeeGradeID,RateMode,RateType,cast(Duration as Float) Duration,BillingMonth,FromDate,isnull(ToDate,EOMonth(cast(GetDate() as Date))) ToDate,RateSeries,cast(Rates as Float) Rates 
from FnRateDetails() where RateTypes='Additions' and RateTypeID in (13,14,15,17)) A 
full join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate and isnull(BillingMonth,Month(@FromDate)) = Month(@FromDate) 
full join @OLDID1 O on o.Date1=b.Date1
left join Fn_JoinDate(@FromDate,@ToDate,@ContactID) J on j.ContactID=o.ContactID
where (case when RateTypeID in (17) and o.EmployeeGradeID=a.EmployeeGradeID then RateTypeID 
when CPC=1 and RateTypeID in (14,15) then RateTypeID 
when CPC=2 and RateTypeID in (13) then RateTypeID 
else 0 end) > 0 
) A 


Declare @Deductions Table (RateTypeID Int,RateMode Varchar(20),RateType Varchar(20),Duration Float,FromDate DateTime,ToDate DateTime,RateSeries Int,Rates Float,TerritoryID Int,Date1 DateTime,EQGradeID Int,NotCalCPC Int,ContactID Int,ODLDID Int,BP_PerDay Float,Amount Float)
insert into @Deductions
select RateTypeID,RateMode,(case when EQGradeID=8 then 'Amount' else RateType end) RateType,Duration,FromDate,ToDate,RateSeries,Rates,TerritoryID,Date1,EQGradeID,isnull(NotCalCPC,0) NotCalCPC 
,(case when RateTypeID in (10,20,15,21) and (QtrCID is not NULL or QtrCID1 is not NULL) and a.ContactID is NULL then b.ContactID else a.ContactID end) ContactID
,(case when RateTypeID in (10,20,15,21) and (QtrCID is not NULL or QtrCID1 is not NULL) and a.ODLDID is NULL then b.ODLDID else a.ODLDID end) ODLDID
,(case when RateTypeID in (10,20) and QtrCID1 is not NULL then BP_PerDay else 0 end) BP_PerDay
,(case when MaxDay=1 and RateMode='Amount' and RateTypeID in (14,18) then Rates when RateMode='Amount' and RateTypeID in (10,20) and isnull(EQGradeID,0)=8 then (Rates/Day(@ToDate)) when RateMode='Amount' and RateTypeID in (15,21) and WC_Date is not NULL then (Rates/Day(@ToDate)) else 0 end) Amount from (
select RateTypeID,RateMode,RateType,Duration,a.FromDate,a.ToDate,RateSeries
,(case when NotCalCPC=0 and RateTypeID in (13,17) then 0 when RateTypeID in (15,21) and wc.EQGradeID=8 then 60 else Rates end) Rates
,a.TerritoryID,o.ContactID,o.ODLDID,CPC,NotCalCPC,b.Date1,wc.Date1 WC_Date,bp.PerDay BP_PerDay
,(Row_Number() over (Partition By o.ContactID,RateTypeID Order By o.ContactID,RateTypeID,b.Date1)) MaxDay,isnull(isnull(hra.EQGradeID,wc.EQGradeID),0) EQGradeID,wc.ContactID QtrCID,hra.ContactID QtrCID1 from ( 
select RateTypeID,EmployeeGradeID,RateMode,RateType,cast(Duration as Float) Duration,BillingMonth,FromDate,isnull(ToDate,EOMonth(cast(GetDate() as Date))) ToDate,RateSeries,cast(Rates as Float) Rates,RateUnits,TerritoryClassTypeID,ExternalOrganisationTypeID,TerritoryID,EmployeeQuartersGradeID 
from FnRateDetails() where RateTypes='Deductions' and RateTypeID in (17,13,10,15,20,21,14,18)) A 
full join @Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate and isnull(BillingMonth,Month(@FromDate)) = Month(@FromDate) 
full join @OLDID1 O on o.Date1=b.Date1
cross join (select top 1 OLDID from @OLDID1 order by Date1 desc) B1 
Outer Apply (select top 1 * from OLDTerritoryClassTypeAllocation where OfficeLocationDepartmentAllocationID=isnull(o.OLDID,b1.OLDID) and HRATerritoryClassTypeID=(case when RateTypeID in (10,20) and isnull(ExternalOrganisationTypeID,0)=0 then TerritoryClassTypeID else 0 end)) HRA1  
left join Fn_JoinDate(@FromDate,@ToDate,@ContactID) J on j.ContactID=o.ContactID 
left join Fn_Quarters(@FromDate,@ToDate,@ContactID) hra on hra.ContactID=@ContactID and hra.Date1=b.Date1 and hra.SODID1=(case when a.RateTypeID in (10,20) then a.RateTypeID else 0 end) and (case when hra.EQGradeID=8 then 8 else 0 end)=isnull(a.EmployeeQuartersGradeID,0) 
left join Fn_Quarters(@FromDate,@ToDate,@ContactID) wc on wc.ContactID=@ContactID and wc.Date1=b.Date1 and wc.SODID=(case when a.RateTypeID in (15,21) then a.RateTypeID else 0 end) and (case when wc.EQGradeID=8 then 8 else 0 end)=isnull(a.EmployeeQuartersGradeID,0) 
	and (case when wc.EQGradeID=8 then 0 else wc.TerritoryID end)=(case when wc.EQGradeID=8 then 0 else a.TerritoryID end)
left join Fn_Basic(@FromDate,@ToDate,@ContactID,@BPRate) bp on bp.ContactID=@ContactID and bp.Date1=b.Date1
where (case when RateTypeID in (14,18) and o.EmployeeGradeID=a.EmployeeGradeID then RateTypeID 
when RateTypeID in (10) and (case when hra.EQGradeID=8 then hra.ContactID else hra1.HRATerritoryClassTypeID end) is not NULL and hra.ContactID is not NULL 
	and (case when hra.EQGradeID=8 then RateSeries else 2 end)=2 then RateTypeID  
when RateTypeID in (20) and (case when hra.EQGradeID=8 then hra.ContactID else hra1.HRATerritoryClassTypeID end) is not NULL and hra.ContactID is not NULL and RateSeries=2 then RateTypeID  
when RateTypeID in (15,21) and wc.ContactID is not NULL then RateTypeID 
when CPC=2 and RateTypeID in (17,13) then RateTypeID 
else 0 end) > 0 
) A left Join (select top 1 ContactID,ODLDID from @ODLDID1 where ReportedDate2=Date1) B on b.ContactID=@ContactID
--where RateTypeID = 10 

;
insert into ScaleRegister 
select ContactID,Month(@FromDate),Year(@FromDate),Min(FromDate),Max(ToDate),AcOLID,@EmpCategoryID,NULL,0,Sum(Attendance),0,0,0,0,0,0,0,1,@Suppliment,0,'0',NULL,NULL,GetDate(),0,NULL,NULL,@Remarks,0,0,NULL,NULL
from @ODLDID1 where ContactID not in ( 
	select ContactID from ScaleRegister with (nolock) where ScaleRegisterID = @SRID1 union
	select ContactID from ScaleRegister with (nolock) where ScaleRegisterID = @SRID10 union
	select (case when @Suppliment not in (0,9) and @Regular is NULL then @ContactID else 0 end) union
	select (case when @Suppliment not in (0,9) and (select * from @SRID3) is NULL then @ContactID else 0 end) 
	) 
Group By ContactID,AcOLID 

;
Declare @SRID Int = (isnull(@SRID1,(select ScaleRegisterID  from ScaleRegister with (nolock) where Remarks=@Remarks and OLID=@AcOLID))) 
--select @SRID 

;
delete from ScaleRegisterBasicPayDetails where ScaleRegisterID = @SRID

;
 insert into ScaleRegisterBasicPayDetails  
select @SRID,ODLDID,FromDate,ToDate,cast(PerDay as Money) PerDay,cast(Sum(BP) as Money) Basic,@EmpStatusID,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,BP PerDay,BP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate,PerDay

;
 insert into ScaleRegisterBasicPayDetails 
select ScaleRegisterID,Max(ODLDID),Min(StartingDate),Max(EndingDate),0 BasicPerDay,(round(round(Sum(Amount),2),0)-Sum(Amount)),@EmpStatusID,'' Remarks
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID 
having (round(round(Sum(Amount),2),0)-Sum(Amount))<1 
and (round(round(Sum(Amount),2),0)-Sum(Amount))>-1 
and (round(round(Sum(Amount),2),0)-Sum(Amount))!=0 

;
delete from ScaleRegisterALlowances where ScaleRegisterID = @SRID

;
 insert into ScaleRegisterALlowances  
select @SRID,20,ODLDID,FromDate,ToDate,cast(Sum(DP) as Money) DP,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,DP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate
union all
select @SRID,1,ODLDID,FromDate,ToDate,cast(Sum(DA) as Money) DA,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,DA,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate
union all
select @SRID,38,ODLDID,FromDate,ToDate,cast(Sum(PP) as Money) PP,0,'' Remarks from (
select distinct ContactID,ODLDID,FromDate,ToDate,PP,Date1 from @BP1 
) A Group By ContactID,ODLDID,FromDate,ToDate

;
 insert into ScaleRegisterALlowances  
 select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),(DP-Sum(Amount)),0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
cross join (select round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
	select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R ) B 
where ScaleRegisterID = @SRID and AllowanceID = 20 Group By ScaleRegisterID,AllowanceID,DP 
having (DP-Sum(Amount))<1 and (DP-Sum(Amount))>-1 and (DP-Sum(Amount))!=0

;
 insert into ScaleRegisterALlowances  
 select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),(DA-Sum(Amount)),0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
cross join ( select round(round(isnull((BPDP*r.Rates/100),0),2),0) DA from (
	select (BP+round(round(isnull((BP*r.Rates/100),0),2),0)) BPDP from (
	select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R 
	) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=1 ) R ) B 
where ScaleRegisterID = @SRID and AllowanceID = 1 Group By ScaleRegisterID,AllowanceID,DA 
having (DA-Sum(Amount))<1 and (DA-Sum(Amount))>-1 and (DA-Sum(Amount))!=0

;
 insert into ScaleRegisterALlowances 
select @SRID,RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateMode='Percentage' then (case when RateTypeID=2 then BPDP1 else BPDP end)*Amount/100 else Amount end) Amount,MaximumAmount 
from @BP1 a inner join @Allowances b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID and MaximumAmount=0 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 
union all 
select @SRID,RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(case when RateMode='Percentage' and MaxiPerDay<Amount then MaxiPerDay else Amount end) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateMode='Percentage' then BPDP*Amount/100 else Amount end) Amount,MaximumAmount,MaxiPerDay 
from @BP1 a inner join @Allowances b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID and MaximumAmount>0 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 
union all 
select @SRID,4 RateTypeID,ODLDID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,Amount from @BP1 a inner join @Charge b on b.ContactID=a.ContactID and b.Date1=a.Date1 
) A Group By ODLDID,FromDate,ToDate 

;
Declare @BPDP table (ScaleRegisterID Int,BPDP Int,BPDPDA Int)
insert into @BPDP
select ScaleRegisterID,(BP+DP) BPDP,(BP+DP+DA) BPDPDA from (
select a.*,round(round(isnull(((BP+DP)*r.Rates/100),0),2),0) DA from ( 
select ScaleRegisterID,BP,round(round(isnull((BP*r.Rates/100),0),2),0) DP from (
select ScaleRegisterID,Sum(Amount) BP from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID Group By ScaleRegisterID
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=1 ) R  
) A 

;
delete from ScaleRegisterOtherAdditions where ScaleRegisterID = @SRID 
;
 insert into ScaleRegisterOtherAdditions 
select @SRID,ODLDID,RateTypeID,FromDate,ToDate,cast(Sum(Amount) as Money) Amount,0,'' Remarks from (
select a.* ,RateTypeID,RateMode,Rates,(case when RateTypeID in (14,13) and RateMode='Percentage' then BPDPDA*Rates/100 when RateTypeID=15 and RateMode='Percentage' then BPDP*Rates/100 else Amount end) Amount
from @BP1 a inner join @Additions b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID 
) A Group By RateTypeID,ODLDID,FromDate,ToDate 

;
 insert into ScaleRegisterOtherAdditions 
select a.ScaleRegisterID,Max(ODLDID),SalaryOtherAdditionID,Min(StartingDate),Max(EndingDate),cast((round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount)) as Money),0,'' Remarks
from ScaleRegisterOtherAdditions A with(nolock) cross join @BPDP B 
cross apply (select top 1 * from @Rate2 r where r.RateTypeID in (13,14) and r.RateTypeID=a.SalaryOtherAdditionID ) R 
where a.ScaleRegisterID = @SRID and SalaryOtherAdditionID in (13,14) Group By a.ScaleRegisterID,SalaryOtherAdditionID,BPDPDA,r.Rates 
having (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))<1
and (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))>-1
and (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))!=0
union all 
select a.ScaleRegisterID,Max(ODLDID),SalaryOtherAdditionID,Min(StartingDate),Max(EndingDate),cast((round(round(isnull((BPDP*r.Rates/100),0),2),0)-Sum(Amount)) as Money),0,'' Remarks
from ScaleRegisterOtherAdditions A with(nolock) cross join @BPDP B 
inner join (select top 1 * from @Rate2 r where r.RateTypeID in (15)) R on r.RateTypeID=a.SalaryOtherAdditionID
where a.ScaleRegisterID = @SRID and SalaryOtherAdditionID in (15) Group By a.ScaleRegisterID,SalaryOtherAdditionID,BPDP,r.Rates 
having (round(round(isnull((BPDP*r.Rates/100),0),2),0)-Sum(Amount))<1 
and (round(round(isnull((BPDP*r.Rates/100),0),2),0)-Sum(Amount))>-1
and (round(round(isnull((BPDP*r.Rates/100),0),2),0)-Sum(Amount))!=0

;
delete from ScaleRegisterOtherDeductions where ScaleRegisterID = @SRID 

;
 insert into ScaleRegisterOtherDeductions 
select @SRID,isnull(ODLDID,D_ODLDID),RateTypeID,isnull(FromDate,Min(FDate)),isnull(ToDate,Max(FDate)),cast(Sum(Amount) as Money) Amount from (
select b.* ,a.Date1 FDate,a.ODLDID D_ODLDID
,RateTypeID,RateMode,Rates,(case when RateTypeID in (10,20) and RateMode='Percentage' then BPDP*Rates/100 when RateTypeID in (17,13) and RateMode='Percentage' then BPDPDA*Rates/100 else Amount end) Amount
from @Deductions a left join @BP1 b on b.ContactID=a.ContactID and b.Date1=a.Date1 and b.ODLDID=a.ODLDID 
) A Group By isnull(ODLDID,D_ODLDID),RateTypeID,FromDate,ToDate 
union all
select @SRID,ODLDID,RateTypeID,StartingDate,EndingDate,b.Amount from (
select * , (Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
cross join (select 2 RateTypeID,@IT Amount union all select 3 RateTypeID,@PT union all select 11 RateTypeID,@FBF union all select 28 RateTypeID,@GIS) b 
where SlNo = 1 and b.Amount!=0 

;
insert into ScaleRegisterOtherDeductions 
select a.ScaleRegisterID,Max(ODLDID),SalaryOtherDeductionID,Min(StartingDate),Max(EndingDate),cast((round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount)) as Money) 
from ScaleRegisterOtherDeductions A with(nolock) cross join @BPDP B 
cross apply (select top 1 * from @Rate3 r where r.RateTypeID in (13,17) and r.RateTypeID=a.SalaryOtherDeductionID ) R 
where a.ScaleRegisterID = @SRID and SalaryOtherDeductionID in (13,17) Group By a.ScaleRegisterID,SalaryOtherDeductionID,BPDPDA,r.Rates 
having (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))<1 
and (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))>-1
and (round(round(isnull((BPDPDA*r.Rates/100),0),2),0)-Sum(Amount))!=0

;
 insert into ScaleRegisterALlowances
select ScaleRegisterID,AllowanceID,Max(ODLDID),Min(StartingDate),Max(EndingDate),cast((HRA-Sum(Amount)) as Money) ,0,'' Remarks
from ScaleRegisterALlowances A with(nolock) 
Cross join (select round(round((BPDP*Rates/100),2),0) HRA from (
select ScaleRegisterID,BPDP from @BPDP a cross join (select Sum(Nos) Nos from @HRARates Having Sum(Nos)=1) b
) A Cross join @HRARates B ) B 
where ScaleRegisterID = @SRID and AllowanceID = 2 Group By ScaleRegisterID,AllowanceID,HRA 
having (HRA-Sum(Amount))<1 and (HRA-Sum(Amount))>-1 and (HRA-Sum(Amount))!=0

;
 insert into ScaleRegisterOtherDeductions
select ScaleRegisterID,Max(ODLDID),SalaryOtherDeductionID,Min(StartingDate),Max(EndingDate),cast((HRA-Sum(Amount)) as Money) 
from ScaleRegisterOtherDeductions A with(nolock) 
Cross join (select round(round((BPDP*Rates/100),2),0) HRA from (
select ScaleRegisterID,BPDP from @BPDP a cross join (select Sum(Nos) Nos from @HRARates Having Sum(Nos)=1) b
) A Cross join @HRARates B ) B 
inner join (select Sum(SlNo) SlNo from Fn_Quarters(@FromDate,@ToDate,@ContactID) where isnull(EQGradeID,0)!=8 ) C on c.SlNo=Day(@ToDate)
where ScaleRegisterID = @SRID and SalaryOtherDeductionID in (10,20) Group By ScaleRegisterID,SalaryOtherDeductionID,HRA 
having (HRA-Sum(Amount))<1 and (HRA-Sum(Amount))>-1 and (HRA-Sum(Amount))!=0

;
delete from ScaleRegisterLoansandAdvances where ScaleRegisterID = @SRID 
;

if @Suppliment in (0,9) 
insert into ScaleRegisterLoansandAdvances  
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,b.Amount,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,0 from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
inner join EmployeeLoanandAdvance b with(nolock) on ContactID = @ContactID and Expired=0 and isnull(InstallmentCount,0)=1
	and LoanandAdvanceID in (select LoanandAdvanceID from LoanandAdvance where LoanandAdvanceTypeID not in (2,5))
	and (case when b.LoanandAdvanceID =17 and b.ExternalOrganisationID = 86 then 0 else 1 end)=1
	and LoanandAdvanceID not in (20)
where SlNo = 1 and b.Amount!=0 
union all 
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,b.Balance,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,0 from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Balance,SlNo from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID,ExternalRRNo order By ContactID,LoanandAdvanceID,ExternalRRNo,InstallmentPaidDate desc)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 and isnull(InstallmentCount,0)=1 
	and b.LoanandAdvanceID =17 and ExternalOrganisationID = 86 
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL and InstallmentPaidDate<=@ToDate
	) A where SlNo=1 ) B 
where a.SlNo = 1 and b.Balance!=0 
union all 
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,b.Amount,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,0 from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
inner join EmployeeLoanandAdvance b with(nolock) on ContactID = @ContactID and Expired=0 and isnull(InstallmentCount,0)=1
	and LoanandAdvanceID in (20) and YEAR(LoanandAdvanceDate)=YEAR(StartingDate) and MONTH(LoanandAdvanceDate)=MONTH(StartingDate)
where SlNo = 1 and b.Amount!=0 


else 
 insert into ScaleRegisterLoansandAdvances
select @SRID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,Amount,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Expired
from ScaleRegisterLoansandAdvances A with(nolock) where a.ScaleRegisterID=@SRID2

;
delete from ScaleRegisterRecovery where ScaleRegisterID = @SRID 
;

if @Suppliment in (0) 
 Insert Into ScaleRegisterRecovery
select @SRID,ODLDID,ScheduleTypeID,b.Amount,StartingDate,EndingDate,(b.InstallmentCount-CurrentInstall)+1 CurrentInstall,b.InstallmentCount,NULL,b.LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	,Sum(Balance) Amount,Max(SlNo) CurrentInstall from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID order By ContactID,LoanandAdvanceID,InstallmentPaidDate)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 --and isnull(InstallmentCount,0)>1 
	and b.LoanandAdvanceID in (select LoanandAdvanceID from LoanandAdvance with(nolock) where LoanandAdvanceTypeID in (5))
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL and InstallmentPaidDate<=@ToDate
	) A Group By EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	) B Inner Join LoanAndAdvance b1 with(nolock) on b1.LoanAndAdvanceID=b.LoanAndAdvanceID
where SlNo = 1 and b.Amount!=0 
union all 
select @SRID,ODLDID,ScheduleTypeID,b.Amount,StartingDate,EndingDate,(b.InstallmentCount-CurrentInstall)+1 CurrentInstall,b.InstallmentCount,NULL,b.LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	,Sum(Balance) Amount,Max(SlNo) CurrentInstall from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID order By ContactID,LoanandAdvanceID,InstallmentPaidDate)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 and b.LoanandAdvanceID=9 
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL and InstallmentPaidDate<=@ToDate
	) A Group By EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	) B Inner Join LoanAndAdvance b1 with(nolock) on b1.LoanAndAdvanceID=b.LoanAndAdvanceID
where SlNo = 1 and b.Amount!=0 

if @Suppliment in (9) 
 Insert Into ScaleRegisterRecovery
select @SRID,ODLDID,ScheduleTypeID,b.Amount,StartingDate,EndingDate,(b.InstallmentCount-CurrentInstall)+1 CurrentInstall,b.InstallmentCount,NULL,b.LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	,Sum(Balance) Amount,Max(SlNo) CurrentInstall from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID order By ContactID,LoanandAdvanceID,InstallmentPaidDate)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 --and isnull(InstallmentCount,0)>1 
	and b.LoanandAdvanceID in (select LoanandAdvanceID from LoanandAdvance with(nolock) where LoanandAdvanceTypeID in (5))
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL 
	and Year(InstallmentPaidDate)=Year(@ToDate) and Month(InstallmentPaidDate)=Month(@ToDate)
	) A Group By EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	) B Inner Join LoanAndAdvance b1 with(nolock) on b1.LoanAndAdvanceID=b.LoanAndAdvanceID
where SlNo = 1 and b.Amount!=0 
union all 
select @SRID,ODLDID,ScheduleTypeID,b.Amount,StartingDate,EndingDate,(b.InstallmentCount-CurrentInstall)+1 CurrentInstall,b.InstallmentCount,NULL,b.LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID from (
select * ,(Row_Number() over (Order By ScaleRegisterBasicPayDetailsID desc)) SlNo
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID = @SRID ) A 
Cross Apply ( select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	,Sum(Balance) Amount,Max(SlNo) CurrentInstall from ( 
	select a.*,InstallmentPaidDate,Balance,(Row_Number() over (Partition By ContactID,LoanandAdvanceID order By ContactID,LoanandAdvanceID,InstallmentPaidDate)) SlNo from ( 
	select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Amount 
	from EmployeeLoanandAdvance b with(nolock) where ContactID = @ContactID and Expired=0 and b.LoanandAdvanceID=9 
	) A inner join EmployeeLoanandAdvanceDetails B with(nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and Balance is not NULL 
	and Year(InstallmentPaidDate)=Year(@ToDate) and Month(InstallmentPaidDate)=Month(@ToDate)
	) A Group By EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,InstallmentCount,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
	) B Inner Join LoanAndAdvance b1 with(nolock) on b1.LoanAndAdvanceID=b.LoanAndAdvanceID
where SlNo = 1 and b.Amount!=0 


else 
 insert into ScaleRegisterRecovery
select @SRID,ODLDID,ScheduleTypeID,Amount,StartingDate,EndingDate,CurrentInstallmentCount,TotalInstallmentCount,ScheduleID,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) where a.ScaleRegisterID=@SRID2 


;
Declare @SRIDNew Table (ScaleRegisterID Int) Insert into @SRIDNew select @SRID
;
insert into  ScaleRegisterWithdrawals 
select c.ScaleRegisterID,StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount
from ScaleRegister B with(nolock) 
inner Join @SRIDNew C on c.ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterWithdrawals d where d.ScaleRegisterID=c.ScaleRegisterID) 
where b.ScaleRegisterID=@SRID2
;
Declare @SRWIDNew Table (ScaleRegisterWithdrawalID Int) Insert into @SRWIDNew
select distinct ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals A with(nolock) Inner Join @SRIDNew B on a.ScaleRegisterID=b.ScaleRegisterID 

;
delete from ScaleRegisterBasicPayWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterAllowanceWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherAdditionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterOtherDeductionWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterLoanandAdvanceWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)
delete from ScaleRegisterRecoveryWithdrawals where ScaleRegisterWithdrawalID = (select * from @SRWIDNew)

;
 insert into ScaleRegisterBasicPayWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,StartingDate,EndingDate,Amount
from ScaleRegisterBasicPayDetails A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterAllowanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,AllowanceID,StartingDate,EndingDate,Amount
from ScaleRegisterAllowances A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherAdditionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherAdditions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterOtherDeductionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherDeductionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherDeductions A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterLoanandAdvanceWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,LoanandAdvanceID,StartingDate,EndingDate,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,Amount
from ScaleRegisterLoansandAdvances A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;
 insert into ScaleRegisterRecoveryWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,ScheduleTypeID,StartingDate,EndingDate,Amount,LoanandAdvanceID,ExternalRRNo,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
from ScaleRegisterRecovery A with(nolock) cross join @SRWIDNew 
where a.ScaleRegisterID=@SRID2
;


exec SP_SRID_MismatchUpdate @FromDate,@SRID 
;
update a set CreatedOn=GetDate() from ScaleRegister a with(nolock) where ScaleRegisterID = @SRID 
;
--select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID 




GO
