USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SRW_AllowanceDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_SRW_AllowanceDetails]
 @Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money 
AS SET NOCOUNT ON


--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 31402
--Declare @ColumnID Int = 8710

--Declare @ODLDID Int = 144
--Declare @TypeID Int = 1
--Declare @FromDate DateTime = '2024-08-01'
--Declare @ToDate DateTime = '2024-08-31'
--Declare @Amount Money = -0.25



Declare @SRWID Int = (select ScaleRegisterWithdrawalID SRWID from ScaleRegisterWithdrawals where ScaleRegisterID=@SRID)

IF (@Query='Import' )
 insert into ScaleRegisterALlowanceWithDrawals
select @SRWID,@ODLDID,@TypeID,@FromDate,@ToDate,@Amount
else IF (@Query='Update' )
 update a set AllowanceID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount 
from ScaleRegisterALlowanceWithDrawals a with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterAllowanceWithdrawalsID end)=@ColumnID
and (case when @TypeID=0 then 0 else AllowanceID end)=@TypeID

select ScaleRegisterWithdrawalID SRWID,ODLDID,AllowanceID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount,ScaleRegisterAllowanceWithdrawalsID SRAWID 
from ScaleRegisterALlowanceWithDrawals with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterAllowanceWithdrawalsID end)=@ColumnID
and (case when @TypeID=0 then 0 else AllowanceID end)=@TypeID
Order By AllowanceID,Amount


GO
