USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ContractDocHistory]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContractDocHistory] @FromD datetime,@ToD datetime,@ContractDocID int  as

Declare @id int
Declare @Cfromdate datetime
Declare @Ctodate datetime
Declare @flag bit 
set @flag=0
Declare @disp varchar(1000) set @disp=''

Declare db cursor for

select ContractDocumentHistoryID,ContractPeriodFromDate,ContractPeriodToDate from ContractDocumentHistory  with(nolock)
where ContractDocumentID=@ContractDocID   order by ContractPeriodFromDate

Open db 

fetch next from db into @id,@Cfromdate,@Ctodate

while @@Fetch_status=0

begin


if (@flag=0 and convert(datetime,@FromD,120) between convert(datetime,@Cfromdate,120) and convert(datetime,@Ctodate,120))
                    begin
                        
                        set @disp+= cast(@id as varchar(1000)) +','          
                        set @FromD=dateadd(day,1,@Ctodate)
                         if(convert(datetime,@ToD,120) between convert(datetime,@Cfromdate,120) and convert(datetime,@Ctodate,120))
                         begin
                                                  print 1
                                                set @flag=1
                                                break
                          end
                    end



fetch next from db into @id,@Cfromdate,@Ctodate


end
select * from contractdocumenthistory with(nolock) where contractdocumenthistoryid in(select data from dbo.split(@disp,','))
close db
deallocate db
GO
