USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Salary_MainSub_Mismatch_Update1]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_Salary_MainSub_Mismatch_Update1]
    @FromDate Varchar(20) 
AS SET NOCOUNT ON


--Declare @FromDate DateTime = '2024-01-01' 

PRINT 'NETPAYMENT SCALEREGISTER MISMATCH' 
 update sr set NetPayments = ((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(SpecialPayment,0)+isnull(TotalAdditions,0))-(isnull(TotalDeductions,0)+isnull(RecoveryAmount,0))) 
 from ScaleRegister sr with(nolock) where StartingDate>=@FromDate
and (isnull(NetPayments,0)-((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(SpecialPayment,0)+isnull(TotalAdditions,0))-(isnull(TotalDeductions,0)+isnull(RecoveryAmount,0))))!=0 
PRINT'----------------------------------------------------' 

PRINT 'NETPAYMENT WITHDRAWAL MISMATCH' 
 update sr set NetPayments = ((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(SpecialPayment,0)+isnull(TotalAdditions,0))-(isnull(TotalDeductions,0)+isnull(RecoveryAmount,0))) 
 from ScaleRegisterWithDrawals sr with(nolock) where StartingDate>=@FromDate
and (isnull(NetPayments,0)-((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(SpecialPayment,0)+isnull(TotalAdditions,0))-(isnull(TotalDeductions,0)+isnull(RecoveryAmount,0))))!=0 
PRINT'----------------------------------------------------' 

select 'Main Table Updated successfully' Status



GO
