USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CashBook]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CashBook]
	@Config varchar(200), 
	@AccSplit varchar(200) ,
	@OLID int ,
	@FromDate varchar(12) ,
	@ToDate varchar(12),
	@BankID int ,
	@BranchID int ,
	@AcNo varchar(50)



AS 
SET NOCOUNT ON












IF EXISTS (SELECT * FROM sys.views	WHERE object_id = OBJECT_ID(N'[dbo].[CBReceiptsView]'))		Drop view [CBReceiptsView]
IF EXISTS (SELECT * FROM sys.views	WHERE object_id = OBJECT_ID(N'[dbo].[CBPaymentView]'))		Drop view [CBPaymentView]
IF EXISTS (SELECT * FROM sys.views	WHERE object_id = OBJECT_ID(N'[dbo].[CBOLDetailsView]'))	Drop view [CBOLDetailsView]
IF EXISTS (SELECT * FROM sys.Tables	WHERE object_id = OBJECT_ID(N'[dbo].[CashBookTmp]'))		Drop Table [CashBookTmp]




Declare @OLSql varchar(Max) Set @OLSql='Create view CBOLDetailsView as
select Distinct ola.OfficeLocationAllocationID as OLID,o.OfficeID,o.OfficeName,l.LocationID,l.LocationName,ct.ContactID,ct.Fileas as EmployeeName
,dn.DesignationID,dn.DesignationName,dp.DepartmentID,dp.DepartmentName,e.BankAcNo
from ODLDAllocation ODLD
left outer join Employee e on e.ODLDID=ODLD.ODLDID
left outer join Contacts ct on ct.ContactID=e.ContactID
left outer join Designation dn on dn.DesignationID=ODLD.DesignationID
left outer join Department dp on dp.DepartmentID=ODLD.DepartmentID
left outer join Office o on o.OfficeID=ODLD.OfficeId
left outer join Location l on l.LocationId=ODLD.LocationID
left outer join OfficeLocationAllocation ola on ola.OfficeId=odld.OfficeID and ola.LocationId=odld.LocationId
' exec (@OLSql)


Declare @ReceiptsSql varchar(MAX)
set @ReceiptsSql= 'Create view CBReceiptsView as
select distinct row_Number() over (partition by cbt.OLID,cbt.TransactionDate order by cbt.OLID,cbt.TransactionDate) as SlNo,cbt.OLID,cb.CashBookNo,DateName(WeekDay,cbt.TransactionDate) as Day,DateName(month,cbt.TransactionDate) as MonthDesc,Year(cbt.TransactionDate) as Year
,cbt.Particulars,(isnull(cbt.ReceiptsOrRemittance,0)) as Receipts,(isnull(cbt.Imprest,0)) as Imprest,(isnull(cbt.Others,0)) as Others,(isnull(cbt.MiscelleneousAmount,0)) as Misc
,(isnull(cbt.ReceiptsOrRemittance,0)+isnull(cbt.Imprest,0)+isnull(cbt.Others,0)+isnull(cbt.MiscelleneousAmount,0)) as Total,(cbt.MainAccountCode+cbt.SubAccountCode) as ACHead,cbt.TransactionDate as TDate,cbt.receiptOrVoucherNo as ReceiptNo,cbtt.Description as TransType
,cb.ExternalOrganisationID,cb.ExternalOrganisationBranchID,cb.AccountNo,cbt.AutoGen,eo.Name as Bank,eob.Name as Branch
from CashBook cb
left outer join CashBookTransactions cbt on cbt.CashBookId=cb.CashBookId and cbt.OLID=cb.OLID and cbt.CashBookTransactionTypeID=1
left outer join CashBookTransactionTypes cbtt on cbtt.CashBookTransactionTypeID=cbt.CashBookTransactionTypeID
left outer join ExternalOrganisations eo on eo.ExternalOrganisationid=cb.ExternalOrganisationid
left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationid=eo.ExternalOrganisationid and eob.ExternalOrganisationBranchID=cb.ExternalOrganisationBranchID
' exec (@ReceiptsSql)

Declare @PaymentSql varchar(MAX)
set @PaymentSql= 'Create view CBPaymentView as
select row_Number() over (partition by cbt.OLID,cbt.TransactionDate order by cbt.OLID,cbt.TransactionDate) as SlNo,cbt.OLID,cb.CashBookNo,DateName(WeekDay,cbt.TransactionDate) as Day,DateName(month,cbt.TransactionDate) as MonthDesc,Year(cbt.TransactionDate) as Year
,cbt.Particulars,(isnull(cbt.ReceiptsOrRemittance,0)) as Remittance,(isnull(cbt.Imprest,0)) as Imprest,(isnull(cbt.Others,0)) as Others,(isnull(cbt.MiscelleneousAmount,0)) as Misc
,(isnull(cbt.ReceiptsOrRemittance,0)+isnull(cbt.Imprest,0)+isnull(cbt.Others,0)+isnull(cbt.MiscelleneousAmount,0)) as Total,(cbt.MainAccountCode+cbt.SubAccountCode) as ACHead,cbt.TransactionDate as TDate,cbt.receiptOrVoucherNo as VoucherNo,cbtt.Description as TransType
,cb.ExternalOrganisationID,cb.ExternalOrganisationBranchID,cb.AccountNo,cbt.AutoGen,eo.Name as Bank,eob.Name as Branch
from CashBook cb
left outer join CashBookTransactions cbt on cbt.CashBookId=cb.CashBookId and cbt.OLID=cb.OLID and cbt.CashBookTransactionTypeID=2
left outer join CashBookTransactionTypes cbtt on cbtt.CashBookTransactionTypeID=cbt.CashBookTransactionTypeID
left outer join ExternalOrganisations eo on eo.ExternalOrganisationid=cb.ExternalOrganisationid
left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationid=eo.ExternalOrganisationid and eob.ExternalOrganisationBranchID=cb.ExternalOrganisationBranchID
' exec (@PaymentSql)


IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[DaysAttendenceTmp1]'))
    EXEC sp_executesql N'create table DaysAttendenceTmp1 (Days int)	'
drop table DaysAttendenceTmp1
Create table DaysAttendenceTmp1 (Days int) insert into DaysAttendenceTmp1
exec dbo.SP_GenerateRowNumbers 


IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[CashBookTmp]'))
    EXEC sp_executesql N'create table CashBookTmp (SlNo int, Date Datetime, OLID int, CashBookNo varchar(20), Day varchar(10), MonthDesc varchar(10), Year int, RParticulars varchar(200), Receipts numeric(18,2), RImprest numeric(18,2), ROthers numeric(18,2), RMisc numeric(18,2),RTotal numeric(18,2),RACHead varchar(10),RTdate datetime, ReceiptNo varchar(50), RTransType varchar(20), PParticulars varchar(200), Remittance numeric(18,2), PImprest numeric(18,2), POthers numeric(18,2), PMisc numeric(18,2),PTotal numeric(18,2),PACHead varchar(10),PTdate datetime, VoucherNo varchar(50), PTransType varchar(20),ExternalOrganisationID int,ExternalOrganisationBranchID int,AccountNo varchar(50),AutoGen int,Bank varchar(200),Branch varchar(500))	'
drop table CashBookTmp
Create Table CashBookTmp (SlNo int, Date Datetime, OLID int, CashBookNo varchar(20), Day varchar(10), MonthDesc varchar(10), Year int, RParticulars varchar(200), Receipts numeric(18,2), RImprest numeric(18,2), ROthers numeric(18,2), RMisc numeric(18,2),RTotal numeric(18,2),RACHead varchar(10),RTdate datetime, ReceiptNo varchar(50), RTransType varchar(20), PParticulars varchar(200), Remittance numeric(18,2), PImprest numeric(18,2), POthers numeric(18,2), PMisc numeric(18,2),PTotal numeric(18,2),PACHead varchar(10),PTdate datetime, VoucherNo varchar(50), PTransType varchar(20),ExternalOrganisationID int,ExternalOrganisationBranchID int,AccountNo varchar(50),AutoGen int,Bank varchar(200),Branch varchar(500))
insert into CashBookTmp (SlNo, Date,OLID)

select distinct row_Number() over (partition by ol.OLID,cast(d1.Days as DateTime) order by ol.OLID,cast(d1.Days as DateTime)) as SlNo
,cast(d1.Days as DateTime) as Date,ol.OLID
from DaysAttendenceTmp1 d1,DaysAttendenceTmp1 d2,(select distinct OLID from CBOLDetailsView) as OL
where cast(d1.Days as DateTime)>=@FromDate
and cast(d1.Days as DateTime)<=@ToDate
and d2.Days<=100 and ol.OLID=@OLID
order by ol.OLID,Date

update c set c.CashBookNo=cb.CashBookNo,c.Day=cb.Day,c.MonthDesc=cb.MonthDesc,c.Year=cb.Year,c.RParticulars=cb.Particulars,c.Receipts=cb.Receipts,c.RImprest=cb.Imprest,c.ROthers=Others,c.RMisc=cb.Misc,c.RTotal=cb.Total,c.RACHead=cb.ACHead,c.RTDate=cb.TDate,c.ReceiptNo=cb.ReceiptNo,c.RTransType=cb.TransType ,c.ExternalOrganisationID=cb.ExternalOrganisationID,c.ExternalOrganisationBranchID=cb.ExternalOrganisationBranchID ,c.AccountNo=cb.AccountNo,c.AutoGen=cb.AutoGen,c.Bank=cb.Bank,c.Branch=cb.Branch

from CashBookTmp c inner join CBReceiptsView cb on cb.OLID=c.OLID and cb.TDate=c.Date and cb.SlNo=c.SlNo

update c set c.CashBookNo=cb.CashBookNo,c.Day=cb.Day,c.MonthDesc=cb.MonthDesc,c.Year=cb.Year,c.PParticulars=cb.Particulars,c.Remittance=cb.Remittance,c.PImprest=cb.Imprest,c.POthers=Others,c.PMisc=cb.Misc,c.PTotal=cb.Total,c.PACHead=cb.ACHead,c.PTDate=cb.TDate,c.VoucherNo=cb.VoucherNo,c.PTransType=cb.TransType,c.ExternalOrganisationID=cb.ExternalOrganisationID,c.ExternalOrganisationBranchID=cb.ExternalOrganisationBranchID,c.AccountNo=cb.AccountNo,c.Bank=cb.Bank,c.Branch=cb.Branch

from CashBookTmp c inner join CBPaymentView cb on cb.OLID=c.OLID and cb.TDate=c.Date and cb.SlNo=c.SlNo

update c set c.AutoGen=cb.AutoGen

from CashBookTmp c inner join CBPaymentView cb on cb.OLID=c.OLID and cb.TDate=c.Date and cb.SlNo=c.SlNo where c.AutoGen is null




IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[CashBookTmp1]'))
    EXEC sp_executesql N'create table CashBookTmp1 (OfficeName varchar(50), LocationName varchar(50),CashBookNo varchar(20),Day varchar(10),MonthDesc varchar(10),Year int,ReceiptDate_No varchar(100),RParticulars varchar(500),Receipts numeric(18,2),RImprest numeric(18,2),ROthers numeric(18,2),RMisc numeric(18,2),RTotal numeric(18,2),RACHead varchar(20),PaymentDate_No varchar(100),PParticulars varchar(500),Remittance numeric(18,2),PImprest numeric(18,2),POthers numeric(18,2),PMisc numeric(18,2),PTotal numeric(18,2),PACHead varchar(10),Date datetime,AutoGen int,Bank varchar(200),Branch varchar(500),AccountNo varchar(50))'
drop table CashBookTmp1
Create Table CashBookTmp1 (OfficeName varchar(50), LocationName varchar(50),CashBookNo varchar(20),Day varchar(10),MonthDesc varchar(10),Year int,ReceiptDate_No varchar(100),RParticulars varchar(500),Receipts numeric(18,2),RImprest numeric(18,2),ROthers numeric(18,2),RMisc numeric(18,2),RTotal numeric(18,2),RACHead varchar(20),PaymentDate_No varchar(100),PParticulars varchar(500),Remittance numeric(18,2),PImprest numeric(18,2),POthers numeric(18,2),PMisc numeric(18,2),PTotal numeric(18,2),PACHead varchar(10),Date datetime,AutoGen int,Bank varchar(200),Branch varchar(500),AccountNo varchar(50))
insert into CashBookTmp1

select distinct ol.OfficeName,ol.LocationName,cb.CashBookNo,cb.Day,cb.MonthDesc,cb.Year
,(convert(varchar,cb.RTDate,105)+'  '+cast(cb.ReceiptNo as Varchar(20))) as ReceiptDate_No,cb.RParticulars,cb.Receipts,cb.RImprest,cb.ROthers,cb.RMisc,cb.RTotal,cb.RACHead
,(convert(varchar,cb.PTDate,105)+'  '+cast(cb.VoucherNo as Varchar(20))) as PaymentDate_No,cb.PParticulars,cb.Remittance,cb.PImprest,cb.POthers,cb.PMisc,cb.PTotal,cb.PACHead
,cb.Date,cb.AutoGen,Bank,Branch,AccountNo
from CashBookTmp cb left outer join (select distinct OLID,OfficeName,LocationName from CBOLDetailsView) as OL on ol.OLID=cb.OLID
where Day is not null 
and ExternalOrganisationID=@BankID
and ExternalOrganisationBranchID=@BranchID
and AccountNo=@AcNo

select * from CashBookTmp1
GO
