USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Quarters_Details]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_Quarters_Details]  @Query Varchar(10),@AcOLID Int,@ContactID varchar(500),@TerritoryID Int,@BuildingID Int,@AsOnDate DateTime
,@ContactID1 Int,@BuildingID1 Int,@FromDate Varchar(10),@ToDate Varchar(10),@Vaccated Int,@TerritoryID1 Int
,@Organisation Int,@EOID Int,@EOBID Int,@uarterGradeID Int,@uartersName Varchar(50),@ContactID2 Int
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select'
--Declare @AcOLID Int = 341
--Declare @ContactID varchar(500) = '34916'
--Declare @TerritoryID Int  = 0 
--Declare @BuildingID Int = 0
--Declare @AsOnDate DateTime  = '2024-12-31'

--Declare @ContactID1 Int = 246
--Declare @BuildingID1 Int = 12
--Declare @FromDate Varchar(10) = '2024-04-01' 
--Declare @ToDate Varchar(10) = '--'
--Declare @Vaccated Int = 0

--Declare @TerritoryID1 Int  = 1051

--Declare @Organisation Int = 0
--Declare @EOID Int = 0
--Declare @EOBID Int = 0
--Declare @uarterGradeID Int = 24
--Declare @uartersName Varchar(50) = '--'
--Declare @ContactID2 Int = 0


IF @Query='Update'
update a set ContactID=@ContactID1,EmployeeQuartersID=@BuildingID1,FromDate=@FromDate,ToDate=(case when @ToDate='--' then NULL else @ToDate end),Vaccated=@Vaccated,Pending=0 
from EmployeeQuarterDetails a with(nolock) where ContactID in (select * from Split(@ContactID,','))

IF (@Query='Import' and @ContactID1>0 and @BuildingID1>0) 
insert into EmployeeQuarterDetails 
select @ContactID1,@BuildingID1,@FromDate,(case when @ToDate='--' then NULL else @ToDate end),@Vaccated,0

IF (@Query='Update1' and @TerritoryID1>0)
update a set TerritoryID = @TerritoryID1
from BuildingAddressDetails a where BuildingID=@BuildingID

IF (@Query='Import1' and @BuildingID>0 and @TerritoryID1>0) 
insert into BuildingAddressDetails
select @BuildingID,'',@TerritoryID1,NULL

IF (@Query='Update2' and @AcOLID>0 and @ContactID2>0)
update a set OLID=@AcOLID,ExternalOrganisation=@Organisation,ExternalOrganisationID=(case when @EOID=0 then NULL else @EOID end),ExternalOrganisationBranchID=(case when @EOBID=0 then NULL else @EOBID end),EmployeeQuarterGradeID=@uarterGradeID,Description=@uartersName,ContactID=@ContactID2 
from Buildings a where BuildingID=@BuildingID

IF (@Query='Import2' and @AcOLID>0 and @ContactID2>0)
insert into Buildings (OLID,BuildingTypeID,ExternalOrganisation,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuarterGradeID,Description,ContactID,ContactCategoryID,RentFixed ) 
select @AcOLID,2,@Organisation,(case when @EOID=0 then NULL else @EOID end),(case when @EOBID=0 then NULL else @EOBID end),@uarterGradeID,@uartersName,@ContactID2,3,0 

IF (@Query='Import3' and @AcOLID>0 and @BuildingID>0)
insert into BuildingOLDAllocation 
select @BuildingID,@AcOLID,179


select odld.AcOLID,AcOfficeLocation,OLID,OfficeLocation,ct.ContactID,ct.Fileas as ContactName,(DesignationName+' ( '+DepartmentCode+' )') as Designation
,(case when SODID=15 then 'Others' else cc.CompanyName end) as QuartersTypes,(case when EmployeeQuarterGradeID=8 then 'DoorMatory' else 'Normal' 
end) as QuarterTypes,isnull(eo.Name,cc.CompanyName) as Organisations,isnull(eo.ExternalOrganisationID,0) as ExternalOrganisationID
,isnull(eob.ExternalOrganisationBranchID,0) as ExternalOrganisationBranchID,isnull(eob.Name,'') as OrganisationBranch
,a.BuildingID,isnull(HouseNo,'') as HouseNo,a.TerritoryID,t.Description as TerritoryName,SODID,Rates,convert(varchar,FromDate,104) QtrFromDate 
,BuildingOLDAllocationID BOLDAID from ( 

select eq.ContactID,b.BuildingID,b.ExternalOrganisation,b.ExternalOrganisationID,b.ExternalOrganisationBranchID,EmployeeQuarterGradeID,b.Description 
as HouseNo,ba.TerritoryID,(case when ExternalOrganisation=1 then 15 else 21 end)as SODID,isnull(isnull(dr.SalaryOtherDeductionRate,dr1.SalaryOtherDeductionRate),0) as Rates,eq.FromDate 
from ( select * from EmployeeQuarterDetails eq with (nolock) where (case when @ContactID='0' then 0 else ContactID end) in (select * from Split(@ContactID,',')) 
		and (case when @BuildingID=0 then 0 else EmployeeQuartersID end)=@BuildingID ) eq
inner join Buildings b with (nolock) on b.BuildingID=eq.EmployeeQuartersID
left outer join BuildingAddressDetails ba with (nolock) on ba.BuildingID=b.BuildingID
left outer join ( 
select * from ( select SalaryOtherDeductionRatePeriodID,SalaryOtherdeductionsID,EmployeeQuartersGradeID,TerritoryID,(Row_Number() over (Partition By TerritoryID,SalaryOtherdeductionsID Order By TerritoryID,SalaryOtherdeductionsID)) as MaxNo
from SalaryOtherDeductionRatePeriods with (nolock) 
where SalaryOtherdeductionsID in (15,21) and Approved=1 ) as A where MaxNo=1 
) as D on d.SalaryOtherdeductionsID=(case when ExternalOrganisation=1 then 15 else 21 end) and d.EmployeeQuartersGradeID=b.EmployeeQuarterGradeID
left outer join SalaryOtherDeductionRates DR with (nolock) on dr.SalaryOtherDeductionRatePeriodID=d.SalaryOtherDeductionRatePeriodID
left outer join ( 
select * from ( select SalaryOtherDeductionRatePeriodID,SalaryOtherdeductionsID,EmployeeQuartersGradeID,TerritoryID,(Row_Number() over (Partition By TerritoryID,SalaryOtherdeductionsID Order By TerritoryID,SalaryOtherdeductionsID)) as MaxNo
from SalaryOtherDeductionRatePeriods with (nolock) 
where SalaryOtherdeductionsID in (15,21) and Approved=1 ) as A where MaxNo=1 
) as D1 on d1.SalaryOtherdeductionsID=(case when ExternalOrganisation=1 then 15 else 21 end) and d1.TerritoryID=ba.TerritoryID
left outer join SalaryOtherDeductionRates DR1 with (nolock) on dr1.SalaryOtherDeductionRatePeriodID=d1.SalaryOtherDeductionRatePeriodID

where (case when @TerritoryID=0 then 0 else ba.TerritoryID end) = @TerritoryID
and  Vaccated=0 ) as A
left outer join Contacts ct with (nolock) on ct.ContactID=a.ContactID
left outer join ExternalOrganisations eo with (nolock) on eo.ExternalOrganisationID=a.ExternalOrganisationID
left outer join ExternalOrganisationBranches eob with (nolock) on eob.ExternalOrganisationBranchID=a.ExternalOrganisationBranchID
left outer join Territories t with (nolock) on t.TerritoryID=a.TerritoryID
inner join FnAsOnDateEmployees(@AcOLID ,@AsOnDate) ol on ol.ContactID=a.ContactID
left outer join FnODLD() odld on odld.ODLDID=ol.ODLDID
left join BuildingOLDAllocation Ba with(nolock) on Ba.BuildingID=A.BuildingID
cross join Company cc with(nolock) 
Order By AcOLID,TerritoryName,ContactID




GO
