USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_JVLineByLineUpdate]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_JVLineByLineUpdate] 	@JVNo int  
AS SET NOCOUNT ON


--Declare @JVNo Int= 2273616
Declare @JV Table (JournalVoucherNo Int,OLID Int,FromMainAccountCode Varchar(20),FromSubAccountCode Varchar(20),ToMainAccountCode Varchar(20),ToSubAccountCode Varchar(20),VoltageClassID Int,Amount Money,SlNo Int)
Insert Into @JV
select *,(Dense_Rank() over (Order By Amount)) SlNo from (
select JournalVoucherNo,OLID,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,VoltageClassID,Sum(Amount) Amount
from JournalVoucherDetails with(nolock) where JournalVoucherNo = @JVNo 
Group By JournalVoucherNo,OLID,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,VoltageClassID
) A  --select * from @JV
if OBJECT_ID('tempdb..#Temp') is not null drop table #Temp
select a.JournalVoucherNo,a.OLID,a.FromMainAccountCode,a.FromSubAccountCode,b.ToMainAccountCode,b.ToSubAccountCode,a.VoltageClassID,a.Amount,a.SlNo
into #Temp from @JV A inner join @JV B on b.SlNo=a.SlNo 
where Len(isnull(a.FromMainAccountCode,''))!=0 and Len(isnull(b.ToMainAccountCode,''))!=0

--select JournalVoucherNo,OLID,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,VoltageClassID,Amount from #Temp union all 
--select JournalVoucherNo,OLID,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,VoltageClassID,Amount from @JV A where SlNo not in (select SlNo from #Temp )
delete from JournalVoucherDetails where JournalVoucherNo in (select JournalVoucherNo from #Temp)
insert into JournalVoucherDetails select JournalVoucherNo,OLID,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,VoltageClassID,Amount from #Temp union all 
select JournalVoucherNo,OLID,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,VoltageClassID,Amount from @JV A where SlNo not in (select SlNo from #Temp )

--select * from JournalVoucherDetails where JournalVoucherNo=@JVNo


GO
