USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_DW_Arrears]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE  PROCEDURE [dbo].[SP_DW_Arrears] @SRID1 Int AS 



--Declare @SRID1 Int = 2473089


Declare @Suppliment Int = 5
Declare @Remarks Varchar(50) = (( select concat(' Previous SRID ',@SRID1,' DW Arrears , Suppliment ',@Suppliment) ))
Declare @Date Table (OLID Int,ContactID Int,StartingDate datetime,EndingDate datetime) 
Insert Into @Date
select distinct OLID,ContactID,dateadd(month,-1,dateadd(Day,1,EOMonth(EndingDate))) StartingDate,EOMonth(EndingDate) EndingDate
from ScaleRegister with(nolock) where ScaleRegisterID = @SRID1
Declare @FromDate datetime = (select distinct StartingDate from @Date) 
Declare @ToDate datetime = (select distinct EndingDate from @Date) 
Declare @ContactID Int = (select distinct ContactID from @Date)
Declare @AcOLID Int = (select distinct OLID from @Date)


 Declare @Regular int = (select ScaleRegisterID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Suppliment in (0,9) and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and EmployeeCategoryID=1)


Declare @SRID3 Int = ( select ScaleRegisterID from (select ScaleRegisterID,Remarks,(Row_Number() over (Order By (case when Remarks=@Remarks then 1 else 2 end),ScaleRegisterID)) MinNo from ScaleRegister A with(nolock) 
	inner join @Date b on b.ContactID=a.ContactID and Year(b.StartingDate)=SalaryYear and Month(b.StartingDate)=SalaryMonth and b.OLID=a.OLID 
	where Suppliment=@Suppliment and BillRegisterNo='0' and (case when len(Remarks)=0 then @Remarks else Remarks end)=@Remarks
	) A where MinNo=1  )


Declare @Date2 Table (Date1 DateTime) ; 
WITH InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) Insert into @Date2
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 


Declare @Rate1 table (RateTypeID Int,Rates Float,Date1 DateTime)
Insert into @Rate1
select RateTypeID,Rates,Date1 from (
select RateTypeID,cast(isnull(Rates,0) as Float) Rates,Date1,(Row_Number() over (Partition By RateTypeID Order By RateTypeID,Date1)) SlNo 
from (select RateTypeID,Rates,FromDate,ToDate from FnRateDetails() where RateTypes='Allowances'and RateTypeID in (20) ) A 
Inner join @Date2 b on b.Date1 Between FromDate and isnull(ToDate,EOMonth(cast(GetDate() as Date))) and b.Date1 Between @FromDate and @ToDate 
) A where SlNo=1 


Declare @SRID2 Table (ContactID Int) Insert into @SRID2
select c.ContactID from ScaleRegister B with(nolock) Inner Join ScaleRegister C with(nolock) on b.ScaleRegisterID = @SRID1 
and c.ContactID=b.ContactID and c.SalaryYear=b.SalaryYear and c.SalaryMonth=b.SalaryMonth and c.OLID=b.OLID 
where c.Suppliment=@Suppliment and c.BillRegisterNo='0' and (case when len(c.Remarks)=0 then @Remarks else c.Remarks end)=@Remarks

Declare @SRID Table (ScaleRegisterID Int) Insert into @SRID
select c.ScaleRegisterID from ScaleRegister C with(nolock) where c.ScaleRegisterID = @SRID1 
and c.ContactID not in (select ContactID from @SRID2)

Declare @SRID_New Table (ScaleRegisterID Int) Insert into @SRID_New
select c.ScaleRegisterID from ScaleRegister C with(nolock) where c.ScaleRegisterID = @SRID1 


;
SET IDENTITY_INSERT ScaleRegister ON
insert into ScaleRegister (ScaleRegisterID, ContactID, SalaryMonth, SalaryYear, StartingDate, EndingDate, OLID, EmployeeCategoryID, AnnualIncrementDate, Bonus, Attendance, TotalBasicPay
, TotalAdditions, TotalDeductions, NetPayments, TaxableAmount, SpecialPayment, RecoveryAmount, Generated, Suppliment, HeldUp, BillRegisterNo, BillRegisterOLID, BillRegisterDate
, CreatedOn, Legacy, LegacyBillRegisterDate, LegacyBillRegisterNo, Remarks, Transferred, OSL, JVNo, JVDate)

select (select Max(ScaleRegisterID)+1 from ScaleRegister with(nolock)) ScaleRegisterID
, ContactID, SalaryMonth, SalaryYear, StartingDate, EndingDate, OLID, EmployeeCategoryID, AnnualIncrementDate, Bonus, Attendance, TotalBasicPay
, TotalAdditions, TotalDeductions, NetPayments, TaxableAmount, SpecialPayment, RecoveryAmount, Generated, @Suppliment Suppliment, HeldUp, '0' BillRegisterNo, NULL BillRegisterOLID, NULL BillRegisterDate
, GetDate() CreatedOn, 0 Legacy, NULL LegacyBillRegisterDate, 0 LegacyBillRegisterNo, @Remarks Remarks, 0 Transferred, OSL, NULL JVNo, NULL JVDate
from @SRID A Inner Join ScaleRegister B with(nolock) on a.ScaleRegisterID=b.ScaleRegisterID
SET IDENTITY_INSERT ScaleRegister OFF

;
Declare @SRIDNew Table (ScaleRegisterID Int) Insert into @SRIDNew
select isnull(Max(ScaleRegisterID),@SRID3) from ScaleRegister with(nolock) where Remarks = @Remarks


Declare @SRID4 Int = (select isnull((select * from @SRIDNew),@SRID3))
exec SP_DEL_SCALEREGISTER_Arrears @SRID4 

;
SET IDENTITY_INSERT ScaleRegisterWithdrawals ON
insert into  ScaleRegisterWithdrawals (ScaleRegisterWithdrawalID, ScaleRegisterID, StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount)
select (select Max(ScaleRegisterWithdrawalID)+1 from ScaleRegisterWithdrawals with(nolock)) ScaleRegisterWithdrawalID
, c.ScaleRegisterID,StartingDate, EndingDate, Bonus, Attendance, TotalBasicPay, TotalAdditions, TotalDeductions, NetPayments, SpecialPayment, RecoveryAmount
from @SRID A Inner Join ScaleRegister B with(nolock) on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C
SET IDENTITY_INSERT ScaleRegisterWithdrawals OFF

;
Declare @SRWIDNew Table (ScaleRegisterWithdrawalID Int) Insert into @SRWIDNew
select ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals A with(nolock) Inner Join @SRIDNew B on a.ScaleRegisterID=b.ScaleRegisterID

;
 insert into ScaleRegisterBasicPayWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,StartingDate,EndingDate,Amount
from ScaleRegisterBasicPayDetails A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
 insert into ScaleRegisterOtherAdditionWithdrawals
select ScaleRegisterWithdrawalID,ODLDID,SalaryOtherAdditionID,StartingDate,EndingDate,Amount
from ScaleRegisterOtherAdditions A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRWIDNew C

;
Declare @SRID5 Int = (select a.ScaleRegisterID from ScaleRegisterBasicPayDetails A with(nolock) where a.ScaleRegisterID=@SRID1)
IF @SRID5 is not NULL 
 insert into ScaleRegisterBasicPayDetails
select c.ScaleRegisterID,ODLDID,StartingDate,EndingDate,BasicPerDay,Amount,EmployeeStatusID,Remarks
from ScaleRegisterBasicPayDetails A with(nolock) Inner Join @SRID_New B on a.ScaleRegisterID=b.ScaleRegisterID
Cross Join @SRIDNew C
else 
 insert into ScaleRegisterBasicPayDetails
select c.ScaleRegisterID,ODLDID,StartingDate,EndingDate,0 BasicPerDay,0.01 Amount,EmployeeStatusID,Remarks
from (select * from ScaleRegisterBasicPayDetails A with(nolock) where a.ScaleRegisterID=@Regular) A 
Cross Join @SRIDNew C


;
delete from ScaleRegisterOtherAdditions where ScaleRegisterID = @SRID4 
;


Declare @Charge Table (AppointmentTypeID Int,ContactID Int,Date1 DateTime,Rate Float,DesignationID Int,BP Money,Charge Money,PerDay Money,Amount Float,Continuation1 Int) 
insert into @Charge 
exec SP_ChargeAmount @FromDate,@ToDate,@ContactID,9,0,NULL



Declare @BP1 Table (Date1 DateTime,ScaleRegisterID Int,ContactID Int,OLID Int,BP Float,Charge Float,DP Float,BPDP Float)
Insert Into @BP1 
select a.*,(BP+DP+Charge) BPDP from (
select a.*,isnull((BP*r.Rates/100),0) DP  from (
select bp.Date1,ScaleRegisterID,a.ContactID,OLID,bp.PerDay BP,isnull(c.PerDay,0) Charge from (
select ScaleRegisterID,ContactID,OLID from ScaleRegister with(nolock) where ScaleRegisterID = @SRID4) A 
inner join Fn_Basic(@FromDate,@ToDate,@ContactID,NULL) bp on bp.ContactID=a.ContactID 
left join @Charge C on c.ContactID=a.ContactID and c.Date1=bp.Date1
) A cross join (select top 1 * from @Rate1 r where r.RateTypeID=20 ) R 
) A  inner join (select distinct StartingDate from ScaleRegisterOtherAdditions with(nolock) where ScaleRegisterID = @SRID1 union 
	select FromDate from (select * from EmployeeApplicationScaleRegisterDetailsSub with(nolock) where ScaleRegisterID = @SRID1 
	) A inner join EmployeeApplicationDetailsSub B with(nolock) on b.EmployeeApplicationDetailsID=a.EmployeeApplicationDetailsID
	) B on b.StartingDate=a.Date1


;
 insert into ScaleRegisterOtherAdditions  
select a.ScaleRegisterID,Max(ODLDID),2 SOAID,Date1,Date1,BPDP,0 Expired,'' Remarks
from @BP1 a inner join ScaleRegisterBasicPayDetails b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
group by a.ScaleRegisterID,Date1,BPDP

;
exec SP_SRID_MismatchUpdate @FromDate,@SRID4 
;
update a set CreatedOn=GetDate() from ScaleRegister a with(nolock) where ScaleRegisterID = @SRID4 
;
--select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID4 







GO
