USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ListOfSIReportAgainstIndent]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ListOfSIReportAgainstIndent] @OLID varchar(50),@FromD varchar(50),@ToD varchar(50),@Param varchar(max) as

--Declare @OLID varchar(50)=378
--Declare @FromD varchar(50)='2020-01-01'
--Declare @ToD varchar(50)='2020-01-21'
--Declare @Param varchar(max)=''
SET NOCOUNT ON
Declare @sqlstr varchar(max)

set @sqlstr='select b.OfficialReferenceNo IndentNo,format(IndentDate,''dd-MM-yyyy'') Indentdate,(case when a.OfficialReferenceNo='''' then cast(a.StoreInvoiceNo as varchar(500)) else a.OfficialReferenceNo end) InvNo,format(StoreInvoiceDate,''dd-MM-yyyy'') SIDate,
(case when a.Canceled=1 then ''Canceled'' when a.Passed=1 then ''Approved'' else ''Not Approved'' end) Status ,replace(concat(d.FileAs collate database_default,char(10) ,i.DesignationName collate database_default,''('',DepartmentName collate database_default,'') '', '' , '' ,h.OfficeName collate database_default, '' , '' ,j.LocationName collate database_default),''() , , '','''') ApprovedBy
,f.ApproverContactID,g.Fileas IndentCreator
from StoreInvoice_pni a with (nolock)
inner join StoreIndentAbstract b with (nolock) on a.StoreIndentNo=b.StoreIndentNo
left join (select distinct approverContactID,DocumentNo from activityapprovals_works with (nolock) where ActivityID=116 and StatusID in(4,5)) as f on f.DocumentNo=b.StoreIndentNo
left join Contacts g with (nolock) on g.ContactID=f.approverContactID
left join ActivityApprovals_pni c with (nolock) on c.DocumentNo=a.StoreInvoiceNo and c.ActivityID=118 and c.StatusID=1
left join ODLDAllocation e with (nolock) on e.ODLDID=c.ApproverODLDID
left join Office h with (nolock) on h.OfficeID=e.OfficeID
left join Designation i with (nolock) on i.DesignationID=e.DesignationID
left join Location j with (nolock) on j.LocationID=e.LocationID
left join Department k with (nolock) on k.DepartmentID=e.DepartmentID
left join Contacts d with (nolock) on d.ContactID=c.ApproverContactID
where 1=1
and (a.OLID in (select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock) where OfficeLocationAllocationID=' + @OLID+ ' )
or a.StoreIndentOLID in(select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock) where OfficeLocationAllocationID=' + @OLID+ ' ) )
and convert(date,StoreInvoiceDate,120) between '''+@FromD+''' and '''+@ToD+''' '+ @Param +'
order by d.Fileas,StoreInvoiceDate '

exec (@sqlstr)
SET NOCOUNT OFF
--SP_ListOfSIReportAgainstIndent 341,'2019-01-01','2019-08-30','and a.Passed=1 and a.Canceled=0'--Approved

--SP_ListOfSIReportAgainstIndent 341,'2018-01-01','2019-08-30','and a.Passed=0 and a.Canceled=0'-- Not Approved

--SP_ListOfSIReportAgainstIndent 341,'2018-01-01','2019-08-30',' and a.Canceled=1'--canceled

--SP_ListOfSIReportAgainstIndent 341,'2018-01-01','2019-08-30','  '--All
GO
