USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_PnI_SL_OBCB_Mismatch]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Data_Integrity_PnI_SL_OBCB_Mismatch]  AS


delete from Dataintegrity_PnI_SL_OBCB_Mismatch DBCC CHECKIDENT ('Dataintegrity_PnI_SL_OBCB_Mismatch', RESEED, 0) 
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



declare @StockLedgerMonth int = (( select Month(dateadd(Month,-1,Today)) from Today_pni))
declare @StockLedgerYear int = (( select Year(dateadd(Month,-1,Today)) from Today_pni))
declare @nextStockLedgerMonth int = (( select Month(Today) from Today_pni ))
declare @nextStockLedgerYear int = (( select Year(Today) from Today_pni ))
 
 

;with Data1 as (
select isnull(cb.OLID,ob.OLID) OLID,isnull(cb.ItemID,ob.ItemID) ItemID ,cb.StockLedgerID CBSLID,ob.StockLedgerID OBSLID,cb.UnitID CBUnitID,ob.UnitID OBUnitID
,isnull(CBGoodQty,0) CBGoodQty,isnull(CBRGoodQty,0) CBRGoodQty,isnull(CBFaultyQty,0) CBFaultyQty,isnull(CBScrapQty,0) CBScrapQty
,isnull(OBGoodQty,0) OBGoodQty,isnull(OBRGoodQty,0) OBRGoodQty,isnull(OBFaultyQty,0) OBFaultyQty,isnull(OBScrapQty,0) OBScrapQty from (
select OLID,StockLedgerID,ItemID,UnitID,(OBGoodQty+GoodQty) CBGoodQty,(OBRGoodQty+RGoodQty) CBRGoodQty,(OBFaultyQty+FaultyQty) CBFaultyQty,(OBScrapQty+ScrapQty) CBScrapQty from (
select OLID,StockLedgerID,ItemID,UnitID
,isnull(GoodQty,0) GoodQty,isnull(RGoodQty,0) RGoodQty,isnull(FaultyQty,0) FaultyQty,isnull(ScrapQty,0) ScrapQty
,isnull(OBGoodQty,0) OBGoodQty,isnull(OBRGoodQty,0) OBRGoodQty,isnull(OBFaultyQty,0) OBFaultyQty,isnull(OBScrapQty,0) OBScrapQty from (
select OLID,StockLedgerID,ItemID,UnitID from StockLedger_pni with(nolock) where StockLedgerMonth=@StockLedgerMonth and StockLedgerYear=@StockLedgerYear ) SL  -- and olid=@olid
outer apply ( select Sum(isnull(GoodQty,0)) GoodQty,Sum(isnull(RGoodQty,0)) RGoodQty,Sum(isnull(FaultyQty,0)) FaultyQty,Sum(isnull(ScrapQty,0)) ScrapQty from (
	select StockLedgerID,ItemID,(case when StockTransactionTypeID=1 then -GoodQuantity else l.GoodQuantity end) GoodQty
	,(case when StockTransactionTypeID=1 then -ReleasedGoodQuantity else l.ReleasedGoodQuantity end) RGoodQty
	,(case when StockTransactionTypeID=1 then -ReleasedfaultyQuantity else l.ReleasedfaultyQuantity end) FaultyQty
	,(case when StockTransactionTypeID=1 then -ReleasedScrapQuantity else l.ReleasedScrapQuantity end) ScrapQty
	from StockLedgerDetails_pni l with(nolock) where l.StockLedgerID=sl.StockLedgerID and l.ItemID=sl.ItemID 
	) SLD Group By StockLedgerID,ItemID ) SLD
outer apply ( select Sum(isnull(OBGoodQty,0)) OBGoodQty,Sum(isnull(OBRGoodQty,0)) OBRGoodQty,Sum(isnull(OBFaultyQty,0)) OBFaultyQty,Sum(isnull(OBScrapQty,0)) OBScrapQty from (
	select StockLedgerID,ItemID,l.GoodQuantity OBGoodQty,l.ReleasedGoodQuantity OBRGoodQty,l.ReleasedfaultyQuantity OBFaultyQty,l.ReleasedScrapQuantity OBScrapQty
	from StockLedgerOBDetails_pni l with(nolock) where l.StockLedgerID=sl.StockLedgerID and l.ItemID=sl.ItemID 
	) OB Group By StockLedgerID,ItemID ) OB 
) CB ) CB  
Full Join ( select sl.OLID,sl.StockLedgerID,sl.ItemID,sl.UnitID
,isnull(OBGoodQty,0) OBGoodQty,isnull(OBRGoodQty,0) OBRGoodQty,isnull(OBFaultyQty,0) OBFaultyQty,isnull(OBScrapQty,0) OBScrapQty from (
select OLID,StockLedgerID,ItemID,UnitID from StockLedger_pni with(nolock) where StockLedgerMonth=@nextStockLedgerMonth and StockLedgerYear=@nextStockLedgerYear ) SL -- and olid=@olid 
outer apply ( select Sum(isnull(OBGoodQty,0)) OBGoodQty,Sum(isnull(OBRGoodQty,0)) OBRGoodQty,Sum(isnull(OBFaultyQty,0)) OBFaultyQty,Sum(isnull(OBScrapQty,0)) OBScrapQty from (
	select StockLedgerID,ItemID,l.GoodQuantity OBGoodQty,l.ReleasedGoodQuantity OBRGoodQty,l.ReleasedfaultyQuantity OBFaultyQty,l.ReleasedScrapQuantity OBScrapQty
	from StockLedgerOBDetails_pni l with(nolock) where l.StockLedgerID=sl.StockLedgerID and l.ItemID=sl.ItemID 
	) OB Group By StockLedgerID,ItemID ) OB ) OB on ob.OLID=cb.OLID and ob.ItemID=cb.ItemID
where ( isnull(CBGoodQty,0)!=isnull(OBGoodQty,0) or isnull(CBRGoodQty,0)!=isnull(OBRGoodQty,0) or isnull(CBFaultyQty,0)!=isnull(OBFaultyQty,0) or isnull(CBScrapQty,0)!=isnull(OBScrapQty,0) ) 

) , CB as (
select AcOLID,ItemID,StockConditionID,ActualUnitID,CBUnitID,Quantity,(case when actualQuantity=0 then Quantity else ActualQuantity end) as ActualQuantity,Multiply,Devided from ( 
select *,(Round((Quantity*Multiply),4) + (case when (Quantity=0 or Devided=0) then 0 else Round((Quantity/Devided),4) end)) as ActualQuantity  from ( 
select fn.AcOLID,fn.ItemID,fn.StockConditionID,fn.UnitID as ActualUnitID,sq.CBUnitID as CBUnitID
,isnull((case when StockConditionID=1 then CBGoodQty when StockConditionID=2 then CBRGoodQty when StockConditionID=3 then CBFaultyQty when StockConditionID=4 then CBScrapQty else 0 end),0) as Quantity
,isnull(mc.Quantity,0) as Multiply,isnull(dc.Quantity,0) as Devided
from FnItemWiseUOM(337) Fn
inner join Data1 SQ on sq.ItemID=fn.ItemID and sq.OLID=fn.AcOLID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=fn.ItemID and mc.UnitID=sq.CBUnitID and mc.UnitIIID=fn.UnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=fn.ItemID and dc.UnitID=fn.UnitID and dc.UnitIIID=sq.CBUnitID
) as A ) as A --where (case when actualQuantity=0 then Quantity else ActualQuantity end)<>0 --and ItemID= 656

) , OB as (
select AcOLID,ItemID,StockConditionID,ActualUnitID,OBUnitID,Quantity,(case when actualQuantity=0 then Quantity else ActualQuantity end) as ActualQuantity,Multiply,Devided from ( 
select *,(Round((Quantity*Multiply),4) + (case when (Quantity=0 or Devided=0) then 0 else Round((Quantity/Devided),4) end)) as ActualQuantity  from ( 
select fn.AcOLID,fn.ItemID,fn.StockConditionID,fn.UnitID as ActualUnitID,sq.OBUnitID as OBUnitID
,isnull((case when StockConditionID=1 then OBGoodQty when StockConditionID=2 then OBRGoodQty when StockConditionID=3 then OBFaultyQty when StockConditionID=4 then OBScrapQty else 0 end),0) as Quantity
,isnull(mc.Quantity,0) as Multiply,isnull(dc.Quantity,0) as Devided
from FnItemWiseUOM(337) Fn
inner join Data1 SQ on sq.ItemID=fn.ItemID and sq.OLID=fn.AcOLID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=fn.ItemID and mc.UnitID=sq.OBUnitID and mc.UnitIIID=fn.UnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=fn.ItemID and dc.UnitID=fn.UnitID and dc.UnitIIID=sq.OBUnitID
) as A ) as A --where (case when actualQuantity=0 then Quantity else ActualQuantity end)<>0 --and ItemID= 5966
)

insert into Dataintegrity_PnI_SL_OBCB_Mismatch 
select a.* ,cb.ActualUnitID CBActualUnitID,ob.ActualUnitID OBActualUnitID,cb.ActualQuantity CBActualQty,ob.ActualQuantity OBActualQty,Month(Today) MonthID,Year(Today) YearID,GetDate() CreatedOn from (
select OLID,ItemID,CBSLID,OBSLID,1 StockConditionID,CBUnitID,OBUnitID,CBGoodQty CBQty,OBGoodQty OBQty from Data1 union all 
select OLID,ItemID,CBSLID,OBSLID,2 SCID,CBUnitID,OBUnitID,CBRGoodQty,OBRGoodQty from Data1 union all  
select OLID,ItemID,CBSLID,OBSLID,3 SCID,CBUnitID,OBUnitID,CBFaultyQty,OBFaultyQty from Data1 union all 
select OLID,ItemID,CBSLID,OBSLID,4 SCID,CBUnitID,OBUnitID,CBScrapQty,OBScrapQty from Data1 
) A cross join Today_pni 
full join CB on cb.AcOLID=a.OLID and cb.ItemID=a.ItemID and cb.StockConditionID=a.StockConditionID
full join OB on ob.AcOLID=a.OLID and ob.ItemID=a.ItemID and ob.StockConditionID=a.StockConditionID
where (isnull(cb.ActualQuantity,0)-isnull(ob.ActualQuantity,0))!=0 and (isnull(OBQty,0)-isnull(ob.ActualQuantity,0))!=0 
Order By OLID,ItemID,StockConditionID





GO
