USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure4]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Annexure4] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON



--Declare @LoginOLID Int select @LoginOLID = 601
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2026-03-31'
--Declare @AcOLID varchar(100) select @AcOLID = '342'



Declare @OB Table (FromAcHead varchar(10),ToAcHead varchar(10),Amount Money) 
Insert Into @OB 
select (isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) as FromAcHead,'OB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount
from TrialBalanceDetails A With (NoLock) 
where MainAccountCode like '%16.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(@FromFyYear) and TrialBalanceYear=Year(@FromFyYear) )
Group By MainAccountCode,SubAccountCode


Declare @TBCB Table (FromAcHead varchar(10),ToAcHead varchar(10),Amount Money) 
Insert Into @TBCB 
select (isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) as FromAcHead,'TBCB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount
from TrialBalanceDetails A With (NoLock) 
where MainAccountCode like '%16.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(DateAdd(Month,1,@ToFyYear)) and TrialBalanceYear=Year(DateAdd(Month,1,@ToFyYear)) )
Group By MainAccountCode,SubAccountCode


Declare @SA Table (AccountCode Varchar(20),Description Varchar(Max)) Insert Into @SA 
select (isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) as AccountCode,Description
from SubAccount with (nolock) where MainAccountCode like '16.%' and Len(isnull(MainAccountCode,'')+isnull(SubAccountCode,''))>5


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int,JournalVoucherDate DateTime)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo,JournalVoucherDate
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where (FromAcHead like '16.%' or ToAcHead like '16.%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 
--and JournalVoucherNo in  (2687604)
--and (FromAcHead like '28.401%' or ToAcHead like '28.401%' )

Declare @JV1 Table (SlNo Int,JournalVoucherNo Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money)
Insert into @JV1
select SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Amount from (
		  select 2 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 2 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '10.%' and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 3 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '32.210%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 3 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '32.210%' and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 4 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead in ('42.219','42.220','42.222','42.223','42.790')) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 4 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead in ('42.219','42.220','42.222','42.223','42.790') and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 5 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%'  and ToAcHead like '22.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 5 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '22.%' and ToAcHead like '16.%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 6 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%'  and ToAcHead like '26.604%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 7 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%'  and ToAcHead like '27.210%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.1%'  and ToAcHead like '16.1%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.1%' and ToAcHead like '16.1%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.2%'  and ToAcHead like '16.2%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.2%' and ToAcHead like '16.2%' ) group by JournalVoucherNo,FromAcHead,ToAcHead

union all select 8 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.2%'  and ToAcHead like '62.912%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '62.912%' and ToAcHead like '16.2%' ) group by JournalVoucherNo,FromAcHead,ToAcHead

union all select 9 SlNo,0 JournalVoucherNo,'' ToAcHead,'' FromAcHead,0 Amount
union all select 10 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '14.%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 10 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '14.%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 11 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '47.%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 11 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '47.%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 12 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '22.641%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 12 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '22.641%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 13 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '12.%'  and ToAcHead like '16.%') and FromAcHead not in ('77.711') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 13 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '12.%' ) and ToAcHead not in ('77.711') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.110%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '32.110%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 15 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead in ('28.831','28.832','28.834','28.835','28.790')  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 15 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead in ('28.831','28.832','28.834','28.835','28.790') ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 16 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '74.510%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 16 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '74.510%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 17 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '26.604%' and ToAcHead like '16.%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 18 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '27.210%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 19 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '28.103%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 19 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '28.103%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 191 SlNo,0 JournalVoucherNo,'' ToAcHead,'' FromAcHead,0 Amount
union all select 192 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '28.401%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 192 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '28.401%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 20 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.1%'  and ToAcHead like '16.2%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 20 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.2%' and ToAcHead like '16.1%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 21 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '77.711%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 21 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '77.711%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 700 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '16.%' and ToAcHead like '74.117%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 700 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '74.117%'  and ToAcHead like '16.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 1 SlNo,0 JournalVoucherNo,AccountCode,'' ToAcHead,0 Amount from @SA 
union all select 24 SlNo,0 JournalVoucherNo,FromAcHead,ToAcHead,Amount from @OB
union all select 26 SlNo,0 JournalVoucherNo,FromAcHead,ToAcHead,Amount from @TBCB 

) A  

------ skip value find
--select * from @JV where ( (FromAcHead like '16.%' and ToAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) 
--or (ToAcHead like '16.%' and FromAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) ) 


select a.*,(OB+NetAmount) OB_NetAmount,Left(a.FromAcHead,4) Series16 from (
select * ,((S10+S32210+S42+S22+S26604+S27210+S74117+Reclasification+Rectification+SS16) - (S14+S47+S22641+S12+S32110+S28+S74510+SI26604+SI27210+SI28103+SIB28103+SSTotal+SI28401)) NetAmount from (
select * ,(SS16+S77711) SSTotal from (
select FromAcHead,Sum(case when SlNo=2 then Amount else 0 end) S10,Sum(case when SlNo=3 then Amount else 0 end) S32210,Sum(case when SlNo=4 then Amount else 0 end) S42
,Sum(case when SlNo=5 then Amount else 0 end) S22,Sum(case when SlNo=6 then Amount else 0 end) S26604,Sum(case when SlNo=7 then Amount else 0 end) S27210
,Sum(case when SlNo=700 then Amount else 0 end) S74117
,Sum(case when SlNo=8 then Amount else 0 end) Reclasification,Sum(case when SlNo=9 then Amount else 0 end) Rectification,Sum(case when SlNo=10 then Amount else 0 end) S14
,Sum(case when SlNo=11 then Amount else 0 end) S47,Sum(case when SlNo=12 then Amount else 0 end) S22641,Sum(case when SlNo=13 then Amount else 0 end) S12
,Sum(case when SlNo=14 then Amount else 0 end) S32110,Sum(case when SlNo=15 then Amount else 0 end) S28,Sum(case when SlNo=16 then Amount else 0 end) S74510
,Sum(case when SlNo=17 then Amount else 0 end) SI26604,Sum(case when SlNo=18 then Amount else 0 end) SI27210,Sum(case when SlNo=19 then Amount else 0 end) SI28103
,Sum(case when SlNo=191 then Amount else 0 end) SIB28103,Sum(case when SlNo=192 then Amount else 0 end) SI28401
,Sum(case when SlNo=20 then Amount else 0 end) SS16,Sum(case when SlNo=21 then Amount else 0 end) S77711
,Sum(case when SlNo=24 then Amount else 0 end) OB,Sum(case when SlNo=26 then Amount else 0 end) CB
from @JV1 A where FromAcHead like '16.%' Group By FromAcHead
) A ) A ) A 
Order by a.FromAcHead








GO
