USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SRW_DeductionDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_SRW_DeductionDetails]
 @Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money 
AS SET NOCOUNT ON


--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 31402
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 601
--Declare @TypeID Int = 0
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 0


Declare @SRWID Int = (select ScaleRegisterWithdrawalID SRWID from ScaleRegisterWithdrawals where ScaleRegisterID=@SRID)

IF (@Query='Import' )
 insert into ScaleRegisterOtherDeductionWithDrawals
select @SRWID,@ODLDID,@TypeID,@FromDate,@ToDate,@Amount 
else IF (@Query='Update' )
 update a set SalaryDeductionOthersID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount
from ScaleRegisterOtherDeductionWithDrawals a with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterOtherDeductionWithdrawalsID end)=@ColumnID
and (case when @TypeID=0 then 0 else SalaryDeductionOthersID end)=@TypeID

select ScaleRegisterWithdrawalID SRWID,ODLDID,SalaryDeductionOthersID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount,ScaleRegisterOtherDeductionWithdrawalsID SRODWID 
from ScaleRegisterOtherDeductionWithDrawals with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterOtherDeductionWithdrawalsID end)=@ColumnID
and (case when @TypeID=0 then 0 else SalaryDeductionOthersID end)=@TypeID
Order By SalaryDeductionOthersID,Amount





 
GO
