USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SR_BasicDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SR_BasicDetails]
@Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@ESID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money,@Remarks Varchar(500)
AS SET NOCOUNT ON



--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 31588
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 601
--Declare @ESID Int = 1
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 3315
--Declare @Remarks Varchar(500) = ''


IF (@Query='Import')
 insert into ScaleRegisterBasicPayDetails
select @SRID,@ODLDID,@FromDate,@ToDate,(@Amount/day(@ToDate)),@Amount,@ESID,@Remarks 
else IF (@Query='Update')
 update a set ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,BasicPerDay=(@Amount/day(@ToDate)),Amount=@Amount,EmployeeStatusID=@ESID,Remarks=@Remarks 
from ScaleRegisterBasicPayDetails a with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterBasicPayDetailsID end)=@ColumnID

select ScaleRegisterID SRID,ODLDID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,BasicPerDay PerDay,Amount,EmployeeStatusID ESID,ScaleRegisterBasicPayDetailsID SRBID,Remarks 
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterBasicPayDetailsID end)=@ColumnID

GO
