USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthwiseDashboardTransactionList]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_MonthwiseDashboardTransactionList]
AS
BEGIN

WITH MonthList AS
(
 -- Financial year starts from April
 SELECT 
        DATEFROMPARTS(
            CASE 
                WHEN MONTH(GETDATE()) >= 4 
                    THEN YEAR(GETDATE())
                ELSE YEAR(GETDATE()) - 1
            END,
            4,
            1
        ) AS MonthStart

    UNION ALL

    SELECT DATEADD(MONTH, 1, MonthStart)
    FROM MonthList
    WHERE DATEADD(MONTH, 1, MonthStart) <= EOMONTH(GETDATE())
),
MonthNames AS
(
    SELECT 
        MONTH(MonthStart) AS MonthNumber,
        YEAR(MonthStart) AS YearNumber,
        DATENAME(MONTH, MonthStart) AS MonthName
    FROM MonthList
),
Data AS
(
    SELECT  
        YEAR(w.WorkOrderDate) AS YearNumber,
        MONTH(w.WorkOrderDate) AS MonthNumber,
        COUNT(*) AS qun
    FROM WorkOrder w
    INNER JOIN DistributionNodes d 
        ON w.DistributionNodeID = d.DistributionNodeID

    INNER JOIN DistributionNodeDetails df 
        ON df.DistributionNodeID = d.DistributionNodeID

    INNER JOIN capacityDetails cp 
        ON cp.itemid = df.itemid

    INNER JOIN ODLDAllocation od 
        ON od.ODLDID = w.ODLDID

    INNER JOIN OfficeLocationAllocation offl 
        ON offl.OfficeID = od.OfficeID 
       AND offl.LocationID = od.LocationID

    INNER JOIN Contacts cs 
        ON cs.ContactID = w.WorkInChargeID

    INNER JOIN Designation ds 
        ON ds.DesignationID = od.DesignationID

    INNER JOIN Department dep 
        ON dep.DepartmentID = od.DepartmentID

 WHERE w.WorkAllocationID IN (158, 57)
 AND w.Canceled = 0
 AND w.Approved = 1
 AND w.Awarded = 1

        -- Financial year start
AND w.WorkOrderDate >= DATEFROMPARTS(
CASE 
WHEN MONTH(GETDATE()) >= 4 
 THEN YEAR(GETDATE())
 ELSE YEAR(GETDATE()) - 1
                END,
                4,
                1
            )

        AND w.WorkOrderDate <= EOMONTH(GETDATE())

        AND offl.OfficeLocationAllocationID IN
        (
            SELECT HeirarchyOfficeLocationAllocationID
            FROM OfficeLocationHeirarchy
            WHERE OfficeLocationAllocationID = 337
        )

    GROUP BY 
        YEAR(w.WorkOrderDate),
        MONTH(w.WorkOrderDate)
)

SELECT 
    ROW_NUMBER() OVER (ORDER BY m.YearNumber, m.MonthNumber) AS sort_order,

    ROW_NUMBER() OVER (ORDER BY m.YearNumber, m.MonthNumber) + 49 AS card_type,

    ISNULL(d.qun, 0) AS counts,

    'Transformers Failed During ' 
        + m.MonthName + ' ' 
        + CAST(m.YearNumber AS VARCHAR) AS title,

    2 AS types

FROM MonthNames m

LEFT JOIN Data d
    ON m.MonthNumber = d.MonthNumber
   AND m.YearNumber = d.YearNumber

ORDER BY 
    m.YearNumber,
    m.MonthNumber

OPTION (MAXRECURSION 100)


END;
GO
