USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeAppointmentDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EmployeeAppointmentDetails]
    @Types Varchar(10),@CID Int,@EAMTID Int,@EATID Int,@Status Int,@FODLDID Int,@FDNID Int,@UOID Int,@OID Int,@DNID Int,@ODLDID Int,@Organize Int,
	@EADID Int,@EC Int,@RelievedDate Varchar(20),@ReportedDate Varchar(20),@PPFDate Varchar(20),@PPTDate Varchar(20),@Approved Int,@Regularised Int,
	@Relieved Int,@Reported Int,@Duration Int,@Percentage Money,@Remarks Varchar(500),
	@CID1 Int,@ODLDID2 Int,@DNID2 Int,@TODLDID Int,@TDNID Int,@APTID Int
AS SET NOCOUNT ON

--Declare @Types Varchar(10) = 'Select' ----- Select Update Import 
--Declare @CID Int = 436 
--Declare @EAMTID Int = 1
--Declare @EATID Int = -99
--Declare @Status Int = 1

--Declare @FODLDID Int = 15
--Declare @FDNID Int = 230
--Declare @TODLDID Int = 1712
--Declare @TDNID Int = 232

--Declare @UOID Int = 80
--Declare @OID Int = 80
--Declare @DNID Int = 230
--Declare @ODLDID Int = 15
--Declare @Organize Int = NULL

--Declare @EADID Int = 0
--Declare @EC Int = 1 
--Declare @RelievedDate Varchar(20) = '2024-09-30 17:30:00'
--Declare @ReportedDate Varchar(20) = '2024-10-01 10:30:00'
--Declare @PPFDate Varchar(20) = 'NULL'
--Declare @PPTDate Varchar(20) = 'NULL'
--Declare @Approved Int = 1 
--Declare @Regularised Int = 0
--Declare @Relieved Int = 1 
--Declare @Reported Int = 1 
--Declare @Duration Int = 0
--Declare @Percentage Money = 0
--Declare @Remarks Varchar(500) = 'test'

--Declare @CID1 Int = 0 
--Declare @ODLDID2 Int = 0
--Declare @DNID2 Int = 0
--Declare @APTID Int = 0

IF (@Types='Update' and @EADID>0)
update a set ContactID=@CID1,EmployeeCategoryID=@EC,Approved=@Approved,AppointmentTypeID=@APTID,Remarks=@Remarks
from EmployeeAppointmentDetails A with(nolock) where a.EmployeeAppointmentDetailsID=@EADID  
else 
IF (@Types='Update1' and @EADID>0 and len(@RelievedDate)>0)
update a set FromODLDID=(case when @FODLDID=0 then NULL else @FODLDID end),FromDesignationID=(case when @FDNID=0 then NULL else @FDNID end)
,RelievedDate=(case when @RelievedDate='NULL' then NULL else left(@RelievedDate,10) end) ,RelievedTime=(case when @RelievedDate='NULL' then NULL else @RelievedDate end)
,Relieved=@Relieved,ExternalOrganizationID=(case when @Organize=0 then NULL else @Organize end),Remarks=@Remarks 
from EmployeeAppointmentDetails A with(nolock) where a.EmployeeAppointmentDetailsID=@EADID  
else 
IF (@Types='Update2' and @EADID>0 and Len(@ReportedDate)>0)
update a set ToODLDID=(case when @TODLDID=0 then NULL else @TODLDID end),ToDesignationID=(case when @TDNID=0 then NULL else @TDNID end) 
,ReportedDate=(case when @ReportedDate='NULL' then NULL else Left(@ReportedDate,10) end) ,ReportedTime=(case when @ReportedDate='NULL' then NULL else @ReportedDate end)
,Regularised=@Regularised,Reported=@Reported,ExternalOrganizationID=(case when @Organize=0 then NULL else @Organize end),Remarks=@Remarks 
from EmployeeAppointmentDetails A with(nolock) where a.EmployeeAppointmentDetailsID=@EADID  
else 
IF (@Types='Update3' and @EADID>0)
update a set JoiningDuration=@Duration,Percentage=@Percentage,Remarks=@Remarks 
,ProbationaryStartingDate=(case when @PPFDate='NULL' then NULL else @PPFDate end) ,ProbationaryEndingDate=(case when @PPTDate='NULL' then NULL else @PPTDate end)
from EmployeeAppointmentDetails A with(nolock) where a.EmployeeAppointmentDetailsID=@EADID  
else 
IF (@Types='Import' and (len(@RelievedDate)>0 and len(@ReportedDate)>0))
insert into EmployeeAppointmentDetails (ContactID,AppointmentTypeID,EmployeeCategoryID,EmployeeApplicationID,FromODLDID,FromDesignationID,ToODLDID,ToDesignationID,ExternalOrganizationID,RelievedDate,RelievedTime,ReportedDate,ReportedTime,ProbationaryStartingDate,ProbationaryEndingDate,Approved,Regularised,Relieved,Reported,JoiningDuration,Percentage,Remarks,CreatedOn) 
select @CID,@EATID,@EC,1,(case when @FODLDID=0 then NULL else @FODLDID end),(case when @FDNID=0 then NULL else @FDNID end),(case when @TODLDID=0 then NULL else @TODLDID end),(case when @TDNID=0 then NULL else @TDNID end),(case when @Organize=0 then NULL else @Organize end)
,(case when @RelievedDate='NULL' then NULL else left(@RelievedDate,10) end) ,(case when @RelievedDate='NULL' then NULL else @RelievedDate end) 
,(case when @ReportedDate='NULL' then NULL else Left(@ReportedDate,10) end) ,(case when @ReportedDate='NULL' then NULL else @ReportedDate end) 
,(case when @PPFDate='NULL' then NULL else @PPFDate end),(case when @PPTDate='NULL' then NULL else @PPTDate end)
,@Approved,@Regularised,@Relieved,@Reported,@Duration,@Percentage,@Remarks,cast(GetDate() as Date) CreatedOn



Declare @APT Table (AppointmentTypeID Int) Insert Into @APT
select AppointmentTypeID from (
select AppointmentTypeID,Description AppointmentType
,(case when AppointmentMainTypeID=4 and AppointmentTypeID not in (8,46,23,47,43) then 2 else 1 end) OrderNo 
from AppointmentTypes_Config with(nolock) where AppointmentTypeID not in (15,10,16,13,24,14,12) 
) A where OrderNo=@EAMTID 
Order BY OrderNo,AppointmentType

select EmployeeAppointmentDetailsID EPDID,ContactID,AppointmentTypeID TypeID,EmployeeCategoryID CategoryID,FromODLDID FODLDID,FromDesignationID FDNID
,ToODLDID TODLDID,ToDesignationID TDNID,ExternalOrganizationID Organize,ISNULL(RelievedTime,RelievedDate) Relieved
,ISNULL(ReportedTime,ReportedDate) Reported,convert(varchar,ProbationaryStartingDate,104) PPFDate
,convert(varchar,ProbationaryEndingDate,104) PPTDate,cast(Approved as Int) Approve,cast(Regularised as Int) Regular
,cast(Relieved as Int) Relieve,cast(Reported as Int) Report,isnull(JoiningDuration,0) Duration,isnull(Percentage,0) [Percent],convert(varchar,CreatedOn,104) CreatedOn 
from EmployeeAppointmentDetails A with(nolock) 
where ContactID= @CID and Approved=@Status and isnull(Legacy,0)=0
and (case when @EADID=0 then 0 else a.EmployeeAppointmentDetailsID end)=@EADID 
and (case when @EATID=-99 then -99 else a.AppointmentTypeID end)=@EATID
and AppointmentTypeID in (select AppointmentTypeID from @APT)
Order By isnull(isnull(RelievedDate,ReportedDate),GetDate()), EmployeeAppointmentDetailsID




GO
