USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_NonOperated_Works]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE  PROCEDURE [dbo].[SP_CWIP_NonOperated_Works] @FromFyYear DateTime,@ToFyYear DateTime,@AcOLID Int,@Year Int
AS SET NOCOUNT ON


--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2025-12-31'
--Declare @AcOLID varchar(200) select @AcOLID = 601
--Declare @Year Int select @Year = 4


Declare @FromDate DateTime = (select DateAdd(Year,-@Year,@FromFyYear)) 
--select @FromDate 

Declare @JVNo Table (DocumentTypeID Int,JournalVoucherNo Int) 
Insert Into @JVNo 
select Distinct DocumentTypeID,JournalVoucherNo from JournalVoucher with(nolock) where OLID=@AcOLID and DocumentTypeID in (10,33,29,37) and Approved=1
and JournalVoucherDate Between @FromDate and @ToFyYear

Declare @WONo Table (WorkOrderNo Int) 
Insert Into @WONo 
select Distinct DocumentNo from StoreInvoice_Accounts A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=10) 
union 
select Distinct DocumentNo from ReceiptVoucherAbstract_Accounts A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=33) 
union 
select Distinct DocumentNo from CivilInvoice A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=29) 
union 
select Distinct DocumentNo from CostRegister A with(nolock) where DocumentTypeID in (2,22) 
and JournalVoucherNo in (select JournalVoucherNo from @JVNo B where b.JournalVoucherNo=a.JournalVoucherNo and b.DocumentTypeID=37) 

select 2 OrderNo,WorkOrderNo,concat('Since ',@Year,' year non operated works') List 
from WorkOrder A with(nolock) where (case when TokenWorkOrder=1 then 1 else Approved end)=1 and isnull(canceled,0)=0 and isnull(Complete,0)=0 
and OLID in (select OLID from OfficeLocationAccountingUnitDetails B with(nolock) where b.OLID=a.OLID and b.AcOLID=@AcOLID) 
and WorkOrderNo not in (select WorkOrderNo from @WONo C where c.WorkOrderNo=a.WorkOrderNo) 
and WorkOrderDate<@FromDate 
Order By WorkOrderNo  


GO
