USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Salary_MainSub_Mismatch_Update]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Salary_MainSub_Mismatch_Update]
    @FromDate Varchar(20) 
AS SET NOCOUNT ON


--Declare @FromDate DateTime = '2024-01-01' 

PRINT 'BONUS SCALEREGISTER MISMATCH' 
 update sr set Bonus = isnull(Amount,0) from ScaleRegister sr with(nolock) 
outer apply	(select Scaleregisterid,sum(Amount) as Amount from (select sroa.Scaleregisterid,SalaryOtherAdditionID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditions sroa with(nolock) where SalaryOtherAdditionID in (3,7) and sroa.ScaleRegisterID=sr.ScaleRegisterID Group by sroa.Scaleregisterid,SalaryOtherAdditionID) sroa group by Scaleregisterid having sum(Amount)!=0) sroa1 
where (isnull(Bonus,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'BASIC SCALEREGISTER MISMATCH' 
 update sr set TotalBasicPay = isnull(Amount,0) from ScaleRegister sr with(nolock) 
outer apply	(select distinct ScaleRegisterID,round(round(sum(isnull(Amount,0)),2),0) as Amount from Scaleregisterbasicpaydetails srb with(nolock) where srb.ScaleRegisterID=sr.ScaleRegisterID Group by Scaleregisterid ) srb 
where (isnull(TotalBasicPay,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'SPECIAL PAYMENT SCALEREGISTER MISMATCH' 
 update sr set SpecialPayment = isnull(Amount,0) from ScaleRegister sr with(nolock) 
outer apply	(select Scaleregisterid,sum(Amount) as Amount from (select sra.Scaleregisterid,AllowanceID,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount from scaleregisterallowances sra with(nolock) where AllowanceID in (38) and sra.ScaleRegisterID=sr.ScaleRegisterID Group by sra.Scaleregisterid,AllowanceID) as sra group by Scaleregisterid having sum(Amount)!=0) srp 
where (isnull(SpecialPayment,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'ADDITIONS SCALEREGISTER MISMATCH' 
 update sr set TotalAdditions = (isnull(sra.Amount,0)+isnull(sroa.Amount,0)) from ScaleRegister sr with(nolock) 
outer apply	(select Scaleregisterid,sum(Amount) as Amount from (select sra.Scaleregisterid,AllowanceID,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount from scaleregisterallowances sra with(nolock) where AllowanceID not in (38) and isnull(AllowanceID,0)!=0 and sra.ScaleRegisterID=sr.ScaleRegisterID Group by sra.Scaleregisterid,AllowanceID) as sra group by Scaleregisterid having sum(Amount)!=0) sra 
outer apply	(select Scaleregisterid,sum(Amount) as Amount from (select sroa.Scaleregisterid,SalaryOtherAdditionID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditions sroa with(nolock) where SalaryOtherAdditionID not in (18,21,14,15,3,7) and isnull(SalaryOtherAdditionID,0)!=0 and sroa.ScaleRegisterID=sr.ScaleRegisterID Group by sroa.Scaleregisterid,SalaryOtherAdditionID) sroa group by Scaleregisterid having sum(Amount)!=0) sroa 
where (isnull(TotalAdditions,0)-(isnull(sra.Amount,0)+isnull(sroa.Amount,0)) )!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'DEDUCTIONS SCALEREGISTER MISMATCH' 
 update sr set TotalDeductions = (isnull(sod.Amount,0)+isnull(srla.Amount,0)) from ScaleRegister sr with(nolock) 
outer apply	(select Scaleregisterid,sum(Amount) as Amount from (select sod.Scaleregisterid,SalaryOtherDeductionID,round(round(sum(isnull(cast(sod.Amount as Float),0)),2),0) as Amount from ScaleRegisterOtherDeductions sod with(nolock) where sod.ScaleRegisterID=sr.ScaleRegisterID and isnull(SalaryOtherDeductionID,0)!=0 Group by sod.Scaleregisterid,SalaryOtherDeductionID) sod group by Scaleregisterid having sum(Amount)!=0) sod 
outer apply	(select Scaleregisterid,sum(Amount) as Amount from (select srla.Scaleregisterid,LoanAndAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,round(round(sum(isnull(srla.Amount,0)),2),0) as Amount from ScaleRegisterLoansandAdvances srla with(nolock) where srla.ScaleRegisterID=sr.ScaleRegisterID and isnull(LoanAndAdvanceID,0)!=0 Group By srla.Scaleregisterid,LoanAndAdvanceID,isnull(ExternalRRNo,'')) srla group by Scaleregisterid having sum(Amount)!=0) srla 
where (isnull(TotalDeductions,0)-(isnull(sod.Amount,0)+isnull(srla.Amount,0)) )!=0 and StartingDate>=@FromDate --and sr.Scaleregisterid = 2815007 
PRINT'----------------------------------------------------' 

PRINT 'RECOVERY SCALEREGISTER MISMATCH' 
 update sr set RecoveryAmount = isnull(Amount,0) from ScaleRegister sr with(nolock) 
outer apply (select Scaleregisterid,sum(Amount) as Amount from (select srr.Scaleregisterid,LoanandAdvanceID,round(round(sum(isnull(srr.Amount,0)),2),0) as Amount from ScaleregisterRecovery srr with(nolock) where srr.ScaleRegisterID=sr.ScaleRegisterID and LoanandAdvanceID not in (59,61) and isnull(LoanAndAdvanceID,0)!=0 Group by srr.Scaleregisterid,LoanandAdvanceID) srr group by Scaleregisterid having sum(Amount)!=0) srr 
where (isnull(RecoveryAmount,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'BONUS WITHDRAWAL MISMATCH' 
 update sr set Bonus = isnull(Amount,0) from ScaleRegisterWithDrawals sr with(nolock) 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sroa.ScaleRegisterWithDrawalID,SalaryAdditionOthersID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditionWithdrawals sroa with(nolock) where SalaryAdditionOthersID in (3,7) and sroa.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by sroa.ScaleRegisterWithDrawalID,SalaryAdditionOthersID) sroa group by ScaleRegisterWithDrawalID having sum(Amount)!=0) sroa1 
where (isnull(Bonus,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'BASIC WITHDRAWAL MISMATCH' 
 update sr set TotalBasicPay = isnull(Amount,0) from ScaleRegisterWithDrawals sr with(nolock) 
outer apply (select distinct ScaleRegisterWithDrawalID,round(round(sum(isnull(Amount,0)),2),0) as Amount from ScaleregisterbasicpayWithdrawals srb with(nolock) where srb.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by ScaleRegisterWithDrawalID ) as srb 
where (isnull(TotalBasicPay,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'SPECIAL PAYMENT WITHDRAWAL MISMATCH' 
 update sr set SpecialPayment = isnull(Amount,0) from ScaleRegisterWithDrawals sr with(nolock) 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sra.ScaleRegisterWithDrawalID,AllowanceID,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount from scaleregisterallowanceWithdrawals sra with(nolock) where AllowanceID in (38) and sra.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by sra.ScaleRegisterWithDrawalID,AllowanceID) as sra group by ScaleRegisterWithDrawalID having sum(Amount)!=0) srp 
where (isnull(SpecialPayment,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'ADDITIONS WITHDRAWAL MISMATCH' 
 update sr set TotalAdditions = (isnull(sra.Amount,0)+isnull(sroa.Amount,0)) from ScaleRegisterWithDrawals sr with(nolock) 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sra.ScaleRegisterWithDrawalID,AllowanceID,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount from scaleregisterallowanceWithdrawals sra with(nolock) where AllowanceID not in (38) and sra.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID and isnull(AllowanceID,0)!=0 Group by sra.ScaleRegisterWithDrawalID,AllowanceID) as sra group by ScaleRegisterWithDrawalID having sum(Amount)!=0) sra 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sroa.ScaleRegisterWithDrawalID,SalaryAdditionOthersID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditionWithdrawals sroa with(nolock) where SalaryAdditionOthersID not in (18,21,14,15,3,7) and sroa.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID and isnull(SalaryAdditionOthersID,0)!=0 Group by sroa.ScaleRegisterWithDrawalID,SalaryAdditionOthersID) sroa group by ScaleRegisterWithDrawalID having sum(Amount)!=0) sroa 
where (isnull(TotalAdditions,0)-(isnull(sra.Amount,0)+isnull(sroa.Amount,0)) )!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'DEDUCTIONS WITHDRAWAL MISMATCH' 
 update sr set TotalDeductions = (isnull(sod.Amount,0)+isnull(srla.Amount,0)) from ScaleRegisterWithDrawals sr with(nolock) 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sod.ScaleRegisterWithDrawalID,SalaryDeductionOthersID,round(round(sum(isnull(cast(sod.Amount as Float),0)),2),0) as Amount from ScaleRegisterOtherDeductionWithdrawals sod with(nolock)  where isnull(SalaryDeductionOthersID,0)!=0 and sod.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by sod.ScaleRegisterWithDrawalID,SalaryDeductionOthersID) sod group by ScaleRegisterWithDrawalID having sum(Amount)!=0) sod 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select srla.ScaleRegisterWithDrawalID,LoanAndAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,round(round(sum(isnull(srla.Amount,0)),2),0) as Amount from ScaleRegisterLoanandAdvanceWithdrawals srla with(nolock) where isnull(LoanAndAdvanceID,0)!=0 and srla.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group By srla.ScaleRegisterWithDrawalID,LoanAndAdvanceID,isnull(ExternalRRNo,'') ) srla group by ScaleRegisterWithDrawalID having sum(Amount)!=0) srla 
where (isnull(TotalDeductions,0)-(isnull(sod.Amount,0)+isnull(srla.Amount,0)) )!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

PRINT 'RECOVERY WITHDRAWAL MISMATCH' 
 update sr set RecoveryAmount = isnull(Amount,0) from ScaleRegisterWithDrawals sr with(nolock) 
outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select srr.ScaleRegisterWithDrawalID,LoanAndAdvanceID,round(round(sum(isnull(srr.Amount,0)),2),0) as Amount from ScaleregisterRecoveryWithdrawals srr with(nolock) where isnull(LoanAndAdvanceID,0)!=0 and LoanandAdvanceID not in (59,61) and srr.ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by srr.ScaleRegisterWithDrawalID,LoanAndAdvanceID) srr group by ScaleRegisterWithDrawalID having sum(Amount)!=0) srr 
where (isnull(RecoveryAmount,0)-isnull(Amount,0))!=0 and StartingDate>=@FromDate
PRINT'----------------------------------------------------' 

select 'Sub Table Updated successfully' Status


GO
