USE [R1_Gescom]
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard_count]    Script Date: 15-06-2026 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_Dashboard_count] @olid varchar(200) as 
SET NOCOUNT ON
  

select (select count(*) PendingDTCforReplacement From WorkOrder w inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID outer
 apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 outer apply (select top 1 s.* from StoreInvoice_pni s inner join StoreInvoiceDetails_pni kk on kk.StoreInvoiceNo=s.StoreInvoiceNo and kk.ItemID in (select itemid From capacityDetails) where s.DocumentNo=w.WorkOrderNo and
  s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1) kl outer apply (select top 1 k.* From OfficeLocationHeirarchy c 
inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 
where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where StoreInvoiceNo is null and WorkAllocationID in (14,15) 
and w.approved=1 and w.Canceled=0 and kl1.olid in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) PendingDTCforReplacement, (select count(*)
 From WorkOrder w inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID 
outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 
outer apply (select top 1 s.* from SanctionEstimate s where s.TokenWorkOrderNo=w.workorderno and s.Approved=1 and s.Canceled=0) kl
 outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID 
and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where kl.SanctionEstimateNo is null
 and w.approved=1 and w.Canceled=0 and w.TokenWorkOrder=1 and kl1.olid in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) PendingforEstimate, (select count(*) From SanctionEstimate w 
inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID inner join ActivityApprovals_Works df on df.DocumentNo=w.SanctionEstimateNo 
and df.ActivityID=51 and df.StatusID=5 outer apply (select top 1 *from AllDetails s where s.ContactID=df.ApproverContactID and s.ODLDID=df.ApproverODLDID) kl1
 outer apply (select top 1 s.* from workorder s where s.SanctionEstimateNo=w.SanctionEstimateNo and s.Approved=1 and s.Canceled=0) kl 
outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID 
and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc

 where kl.SanctionEstimateNo is null and w.approved=1
 and w.Canceled=0 and  kl1.olid in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid)) PendingforWorkOrder, 


(select count(*) From WorkOrder w
 left join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID 
outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 
outer apply (select top 1 s.* from StoreIndentAbstract s where s.DocumentNo=w.WorkOrderNo and DocumentTypeID in (2,22) and s.Canceled=0 and s.approved=1) kl 
outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50

 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc
 where StoreIndentNo is null and w.approved=1 and w.Canceled=0 and w.Awarded=1 and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) PendingForIndent, ( select count(*) 
From WorkOrder w inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 outer apply (select top 1 s.* from StoreInvoice_pni s 
inner join StoreInvoiceDetails_pni kk on kk.StoreInvoiceNo=s.StoreInvoiceNo and kk.ItemID in (select itemid From capacityDetails) where s.DocumentNo=w.WorkOrderNo and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1) kl outer apply (select top 1 k.*
 From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where StoreInvoiceNo is null and w.approved=1 and w.Canceled=0 and w.CivilWorkContractTypeID!=10 and kl1.olid 
in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) PendingforCommision, (select count(*) From WorkOrder w inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 
outer apply (select top 1 s.* from ReturnInvoiceAbstract s where s.DocumentNo=w.WorkOrderNo and s.DocumentTypeID in (2,22) and s.Canceled=0 and s.Passed=1) kl 
outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where ReturnInvoiceNo is null and w.approved=1 and w.Canceled=0 and w.awarded=1 and w.SanctionEstimateNo in (select SanctionEstimateNo From SanctionEstimateWorkAllocationDetails where CivilWorkMeasurementTypeID=5) 
and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) PendingforRI, ( select count(*) From WorkOrder w inner join ReturnInvoiceAbstract r on r.DocumentNo=w.WorkOrderNo and r.Approved=1 and r.Canceled=0 inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where w.approved=1 and w.Canceled=0 and w.awarded=1 and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and r.Passed=0 ) PendingForRV, (select count(*) From WorkOrder w inner join (select WorkOrderNo From measurementBook where Approved=1 and Canceled=0 group by WorkOrderNo ) r on r.WorkOrderNo=w.WorkOrderNo inner join DistributionNodes d on w.DistributionNodeID=d.DistributionNodeID outer apply (select top 1 *from AllDetails s where s.ContactID=w.WorkInChargeID and s.ODLDID=w.ODLDID) kl1 outer apply (select top 1 k.* From OfficeLocationHeirarchy c inner join OfficeLocationAllocation k on c.OfficeLocationAllocationID=k.OfficeLocationAllocationID and k.OfficeID=50 where c.HeirarchyOfficeLocationAllocationID=w.olid)loc where w.approved=1 and w.Canceled=0 and w.awarded=1 and w.complete=0 and kl1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid)) PendingforCR, 
(select count(*)From ( select ll.FileAs locations,sd.capacity+'KVA' capacity,sm.SerialNo,ssp.UserDefinedFieldValue make From StoreInvoice_pni p inner join StoreInvoiceDetails_pni dd on p.StoreInvoiceNo=dd.StoreInvoiceNo inner join StoreInvoiceMaterialDetails_pni sm on sm.StoreInvoiceDetailsID=dd.StoreInvoiceDetailsID inner join StoreInvoiceMaterialDetailsSub_pni ssp on ssp.StoreInvoiceMaterialDetailsID=sm.StoreInvoiceMaterialDetailsID inner join OfficeLocationAllocation ll on ll.OfficeLocationAllocationID=dd.OLID inner join capacityDetails sd on sd.itemid=dd.itemid and ssp.DistributionNodeUserDefinedFieldID=20 where p.ContactCategoryID in (1,2) and p.DocumentTypeID in (2,22) and p.Canceled=0 and p.Passed=1 and dd.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and p.Passed=1 and p.Canceled=0 and sm.SerialNo not in (select ddf.SerialNo From ReceiptVoucherAbstract_pni p inner join ReceiptVoucherDetails_pni dd on p.ReceiptVoucherNo=dd.ReceiptVoucherNo inner join ReceiptVoucherMaterialDetails_pni ddf on ddf.ReceiptVoucherDetailsID=dd.ReceiptVoucherDetailsID where p.Approved=1 and p.Canceled=0 and p.ContactCategoryID in (1,2) and p.DocumentTypeID in (2,22) and dd.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) union all ( select lll.FileAs locations,ss.SerialNo,cc.capacity,sdd.UserDefinedFieldValue make From StockQuantity dd1 inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 inner join capacityDetails cc on cc.itemid=dd1.ItemID inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and dd1.ItemID in (select ItemID From capacityDetails ) and ss.StockConditionID=3 ) )kk) TotalFaultyDTR , (select count(*)From ( select ll.FileAs locations,sd.capacity+'KVA' capacity,sm.SerialNo,ssp.UserDefinedFieldValue make From StoreInvoice_pni p inner join StoreInvoiceDetails_pni dd on p.StoreInvoiceNo=dd.StoreInvoiceNo inner join StoreInvoiceMaterialDetails_pni sm on sm.StoreInvoiceDetailsID=dd.StoreInvoiceDetailsID inner join StoreInvoiceMaterialDetailsSub_pni ssp on ssp.StoreInvoiceMaterialDetailsID=sm.StoreInvoiceMaterialDetailsID inner join OfficeLocationAllocation ll on ll.OfficeLocationAllocationID=dd.OLID inner join capacityDetails sd on sd.itemid=dd.itemid and ssp.DistributionNodeUserDefinedFieldID=20 where p.ContactCategoryID in (1,2) and p.DocumentTypeID in (2,22) and p.Canceled=0 and p.Passed=1 and dd.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and p.Passed=1 and p.Canceled=0 and sm.SerialNo not in (select ddf.SerialNo From ReceiptVoucherAbstract_pni p inner join ReceiptVoucherDetails_pni dd on p.ReceiptVoucherNo=dd.ReceiptVoucherNo inner join ReceiptVoucherMaterialDetails_pni ddf on ddf.ReceiptVoucherDetailsID=dd.ReceiptVoucherDetailsID where p.Approved=1 and p.Canceled=0 and p.ContactCategoryID in (1,2) and p.DocumentTypeID in (2,22) and dd.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) ) )kk) FaultyDTratRepairCenter, (select count(*) From StockQuantity dd1 inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 inner join capacityDetails cc on cc.itemid=dd1.ItemID inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and dd1.ItemID in (select ItemID From capacityDetails ) and ss.StockConditionID=3) FaultyDTratStore , (select count(*) From StockQuantity dd1 inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 inner join capacityDetails cc on cc.itemid=dd1.ItemID inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and dd1.ItemID in (select ItemID From capacityDetails ) and ss.StockConditionID=2) ReleasedGoodInStore,

 (select count(*) From StockQuantity dd1 inner join StockQuantitySub ss on
 ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on 
sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 
inner join capacityDetails cc on cc.itemid=dd1.ItemID
 inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID
 where dd1.olid in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and dd1.ItemID in
 (select ItemID From capacityDetails ) and ss.StockConditionID=1) GoodInStore, (select count(*) From StockQuantity dd1 inner join StockQuantitySub ss on ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 inner join capacityDetails cc on cc.itemid=dd1.ItemID inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID where dd1.olid in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and dd1.ItemID in (select ItemID From capacityDetails ) and ss.StockConditionID=4) ScrapInStore,
  
  (select count(*) From DistributionNodes d 
inner join DistributionNodeDetails dd on d.DistributionNodeID=dd.DistributionNodeId 
left join capacitydetails d1 on d1.itemid=dd.itemid 
inner join (select DistributionNodeID ,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation 
group by DistributionNodeID) ddd on ddd.DistributionNodeID=d.DistributionNodeID 
inner join OfficeLocationAllocation offf on offf.OfficeLocationAllocationID=ddd.DistributionNodeOLID 
inner join OfficeLocationAllocation offf1 on offf1.OfficeLocationAllocationID=offf.UnderOfficeLocationAllocationID 
inner join OfficeLocationAllocation offf2 on offf2.OfficeLocationAllocationID=offf1.UnderOfficeLocationAllocationID 
outer apply(select sub.DistributionNodeUserDefinedFieldValue make From DistributionNodeDetailsSub sub 
where sub.DistributionNodeDetailsID=dd.DistributionNodeDetailsID and sub.DistributionNodeUserDefinedFieldID=20 )jk
 where UnderDistributionNodeTypeID =2 and (ddd.DistributionNodeOLID in (select HeirarchyOfficeLocationAllocationID From OfficeLocationHeirarchy 
where OfficeLocationAllocationID=@olid) or ddd.DistributionNodeOLID is null)
 
) TransformerInField,
(select count(*) From StockQuantity dd1 inner join StockQuantitySub ss on
 ss.StockQuantityID=dd1.StockQuantityID inner join StockQuantityUserDefinedFields sdd on 
sdd.StockQuantitySubID=ss.StockQuantitySubID and sdd.DistributionNodeUserDefinedFieldID=20 
inner join capacityDetails cc on cc.itemid=dd1.ItemID
 inner join OfficeLocationAllocation lll on lll.OfficeLocationAllocationID=dd1.OLID
 where dd1.olid in (select HeirarchyOfficeLocationAllocationID 
From OfficeLocationHeirarchy where OfficeLocationAllocationID=@olid) and dd1.ItemID in
 (select ItemID From capacityDetails ) )  TotalInStore
GO
