USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryMonthWise]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SalaryMonthWise]
	@Config varchar(200), 
	@OLID int ,
	@FromDate varchar(12) ,
	@ToDate varchar(12)


AS 
SET NOCOUNT ON








Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)

Declare @AOLID table (OLID int)
Declare @OID int select @OID=(select * from @OID1)  if @OID=50  
insert into @AOLID 
select OLID from @OID2 else 
insert into @AOLID 
select OLID from @OID2
where OLID in (@OLID)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6))
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @Qtr table (ContactID int,Types int,Organisation varchar(100),Branch varchar(100),BranchAddress varchar(500)) 
Declare @TypesSql varchar(Max) Set @TypesSql='
	select distinct eqd.ContactID,b.ExternalOrganisation,eo.Name,eob.Name,eob.StreetName  
	from EmployeeQuarterDetails eqd 
	left outer join Buildings b on b.BuildingID=eqd.EmployeeQuartersID 
	left outer join ExternalOrganisations eo on eo.ExternalOrganisationID=b.ExternalOrganisationID
	left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationID=eo.ExternalOrganisationID and eob.ExternalOrganisationBranchID=b.ExternalOrganisationBranchID
	where eqd.fromdate in (select max(eqd1.fromdate) from EmployeeQuarterDetails eqd1 where eqd1.ContactID=eqd.ContactID group by eqd1.Contactid)
' insert into @Qtr exec (@TypesSql)


Declare @SR table (LocationOrdered int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthId int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(20),OLID int,SOLID int)
insert into @SR 

select distinct oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,datename(month,sr.StartingDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,0) as BRNo,ol1.OLID,ol.OLID
from FnMaxSRBDate(@FromDate,@ToDate) sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on ol.OLID in (select OLID from @AOLID) and ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
union all
select distinct oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,datename(month,sr.StartingDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,0) as BRNo,ol1.OLID,ol.OLID
from ScaleRegister sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on  ol.ODLDID=srb.ODLDID
left outer join @ODLD ol2 on ol2.OLID in (select OLID from @AOLID) and ol2.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
where sr.OLID=0 and isnull(sr.BillRegisterNo,0)<0
and sr.StartingDate in (select Max(distinct s1.StartingDate) from ScaleRegister s1 where s1.ContactID=sr.ContactID and s1.OLID=0 and isnull(s1.BillRegisterNo,0)<0  group by s1.ContactID)
and ((Case when sr.SalaryMonth in (1,3,5,7,8,10,12) then 31 else Case when sr.SalaryMonth in (4,6,9,11) then 30 else Case when day(sr.EndingDate)=28 and sr.SalaryMonth in (2) then 28 else 29 end end end) - (DateDiff(day,sr.StartingDate,sr.EndingDate)+1))<>0
and sr.StartingDate>=@FromDate  and sr.StartingDate<=@ToDate 


Declare @SRD table (ATypeID int,ScaleRegisterID int,ContactID int,YearID int,MonthId int,Amount money,SalaryTypes varchar(20),Ordering varchar(6),BRNo varchar(20))
insert into @SRD 

select ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID,sum(isnull(srd.Amount,0)) as Amount
,(case when ATypeID=1 then 'Total Earnings' else case when ATypeID=2 then 'Total Deductions'  else NULL end end) as SalaryTypes
,(case when ATypeID=1 then '09' else case when ATypeID=2 then '37'  else NULL end end) as Ordering,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,ATypeID,sr.BRNo
union all
select 2 as ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID
,(sum(case when d.ATypeID=1 then (isnull(srd.Amount,0)) else 0 end) - sum(case when d.ATypeID=2 then (isnull(srd.Amount,0)) else 0 end)) as Amount
,'Net Payable' as SalaryTypes,'38' as Ordering ,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,sr.BRNo
union all
select d.ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID,sum(isnull(srd.Amount,0)) as Amount,d.SalaryTypes,d.Ordering,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else case when srd.TypesID in (5) and srd.TypeID in (15) then 0 else srd.TypeID end end) <> 0
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,d.SalaryTypes ,d.Ordering,d.ATypeID,sr.BRNo
union all
select distinct ATypeID,srd.ScaleregisterID,srd.ContactID,srd.SalaryYear as YearID,srd.SalaryMonth as MonthID,sum(isnull(srd.Amount,0)) as Amount,'RD / PLI' as SalaryTypes,'24' as Ordering ,sr.BRNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join @SR sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.YearID=srd.SalaryYear and sr.MonthId=srd.SalaryMonth
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else case when srd.TypesID in (5) and srd.TypeID in (15) then 0 else srd.TypeID end end) = 0
group by srd.ScaleregisterID,srd.ContactID,srd.SalaryYear,srd.SalaryMonth,ATypeID,sr.BRNo



IF OBJECT_ID('tempdb..#TmpSalaryMonthWise') IS NOT NULL
    DROP TABLE #TmpSalaryMonthWise;    
Create table #TmpSalaryMonthWise  (YearID int, MonthID int,MnYr varchar(20),OfficeName varchar(50), LocationName varchar(50),Ordered varchar(6),ScaleRegisterID int,ContactID int,EmployeeName varchar(100),DesignationName varchar(100), Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(20))
insert into #TmpSalaryMonthWise 

select sr.YearID,sr.MonthID,(left(sr.MonthDesc,3)+'-'+right(cast(sr.YearID as varchar(4)),2)) as MnYr,sr.OfficeName,sr.LocationName,sr.Ordered,sr.ScaleRegisterID,sr.ContactID,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,sr.BRNo
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID and srd.ContactID=sr.ContactID and srd.YearID=sr.YearID and srd.MonthID=sr.MonthID

group by sr.YearID,sr.MonthID,sr.MonthDesc,sr.OfficeName,sr.LocationName,srd.Ordering,srd.SalaryTypes,sr.BRNo,sr.Ordered,sr.ScaleRegisterID,sr.ContactID,sr.EmployeeName,sr.DesignationName


update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from #TmpSalaryMonthWise A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from #TmpSalaryMonthWise ) as B ) b on b.Ordering=a.Ordering






Declare @listCol varchar (Max)
SELECT  @listCol = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) 	FROM  (
select * from #TmpSalaryMonthWise
) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTMonthWiseSalaryHView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTMonthWiseSalaryHView] AS 
	select Ordered1,SalaryTypes from #TmpSalaryMonthWise'
drop view PVTMonthWiseSalaryHView

DECLARE @QuerySql VARCHAR(Max)
	SET @QuerySql ='CREATE VIEW PVTMonthWiseSalaryHView as SELECT * FROM (
	select Ordered1,SalaryTypes from #TmpSalaryMonthWise
	) as cl PIVOT (Min(SalaryTypes) FOR Ordered1 IN ('+isnull(@listCol,'[01]')+')) as pvt'
EXECUTE  (@QuerySql) 





Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from #TmpSalaryMonthWise ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from #TmpSalaryMonthWise ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')


DECLARE @query NVARCHAR(MAX)

SET @query = '
SELECT Ordered,ScaleRegisterID,ContactID,BRNo,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,' + ISNULL(@Select_Columns,'[01]') + '
FROM
(
    SELECT Ordered,ScaleRegisterID,ContactID,BRNo,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount #TmpSalaryMonthWise
) AS A
PIVOT
(
    SUM(Amount) FOR Ordered1 IN (' + ISNULL(@Columns,'[01]') + ')
) AS P
ORDER BY OfficeName,LocationName,Ordered,EmployeeName,YearID,MonthID
'

EXEC sp_executesql @query


--IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTMonthWiseSalaryDView]'))
--    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTMonthWiseSalaryDView] AS 
--	select Ordered,ScaleRegisterID,ContactID,BRNo,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
--	FROM    #TmpSalaryMonthWise'
--drop view PVTMonthWiseSalaryDView

--DECLARE @query VARCHAR(8000)
--SET @query    = 'CREATE VIEW PVTMonthWiseSalaryDView as  select Ordered,ScaleRegisterID,ContactID,BRNo,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,' +isnull(@Select_Columns,'[01]')+ '   from 
--	(select Ordered,ScaleRegisterID,ContactID,BRNo,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
--	FROM    #TmpSalaryMonthWise ) as A
--	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
--EXECUTE( @query )




--select * from PVTMonthWiseSalaryDView order by OfficeName,LocationName,Ordered,EmployeeName,YearID,MonthID
GO
