USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance_LoginName]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





create PROCEDURE [dbo].[SP_Attendance_LoginName] @ODLDID1 int AS 


Declare @ODLDID Int = @ODLDID1
Declare @OLID Int = ((select distinct top 1 OLID from AllDetails with(nolock) where ODLDID=@ODLDID)) 
Declare @OID Int = ((select distinct top 1 OfficeID from AllDetails B with(Nolock) where ODLDID=@ODLDID)) 
Declare @DPID Int = ((select distinct top 1 DepartmentID from AllDetails B with(Nolock) where ODLDID=@ODLDID)) 
Declare @UDPID Int = ((select top 1 UnderDepartmentID from OfficeDepartmentAllocation A with(nolock) where DepartmentID=@DPID and OfficeID=@OID)) 
Declare @UDPID1 Int = ((select top 1 UnderDepartmentID from OfficeDepartmentAllocation A with(nolock) where DepartmentID=@UDPID and OfficeID=@OID))  
Declare @UDPID2 Int = ((select top 1 UnderDepartmentID from OfficeDepartmentAllocation A with(nolock) where DepartmentID=@UDPID1 and OfficeID=@OID)) 
Declare @UOLID Int = ((select UnderOfficeLocationAllocationID from OfficeLocationAllocation with(nolock) where OfficeLocationAllocationID=@OLID)) 
Declare @UOLID1 Int = ((select UnderOfficeLocationAllocationID from OfficeLocationAllocation with(nolock) where OfficeLocationAllocationID=@UOLID)) 



select a.AcOLID,a.OLID,ContactID,EmployeeName
,replace(replace(replace(replace(replace(replace(ol.OfficeLocation,' O & M ',' '),' O&M ',' '),'Operations & Maintanence','O & M'),'Sub Division - Sub Division','Sub Division'),'Chikkamagaluru HT Rating Sub Division-Chikkamagaluru HT Rating sub division','Chikkamagaluru HT Rating Sub Division'),'Non Accounting  - Non Accounting Section','Non Accounting Section')  OfficeLocation
,Designation,LoginName,ODLDID  from (
select a.AcOLID,a.OLID,a.ContactID,ct.FileAs EmployeeName,a.OfficeLocation,Designation,UserName LoginName,@ODLDID ODLDID 
,(Row_Number() over (Order By ol.OrderNo desc,SlNo)) SlNo1 from (
select (Row_Number() over (Order By a.OrderNo,do.OrderNo desc,AppointmentTypeID)) SlNo,a.OrderNo,AppointmentTypeID ,c.* ,a.ContactID,UserName from ( 
select 1 OrderNo,contactid,odldid,0 AppointmentTypeID from Employee with(nolock) 
where ODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where ODLDID=@ODLDID) )
union 
select 1 OrderNo,contactid,toodldid,AppointmentTypeID  from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in ( 6,25,7,44,43) 
and ToODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where ODLDID=@ODLDID) )
and Regularised = 0 and contactid!=0 and reported=1
union 
select 2 OrderNo,contactid,odldid,0 AppointmentTypeID  from Employee with(nolock) 
where ODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where OLID=@OLID and DepartmentID=@UDPID) )
union 
select 2 OrderNo,contactid,toodldid,AppointmentTypeID  from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in ( 6,25,7,44,43) 
and ToODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where OLID=@OLID and DepartmentID=@UDPID) )
and Regularised = 0 and contactid!=0 and reported=1
union
select 3 OrderNo,contactid,odldid,0 AppointmentTypeID  from Employee with(nolock) 
where ODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where OLID=@OLID and DepartmentID=@UDPID1) )
union 
select 3 OrderNo,contactid,toodldid,AppointmentTypeID  from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in ( 6,25,7,44,43) 
and ToODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where OLID=@OLID and DepartmentID=@UDPID1) )
and Regularised = 0 and contactid!=0 and reported=1
union
select 4 OrderNo,contactid,odldid,0 AppointmentTypeID  from Employee with(nolock) 
where ODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where OLID=@OLID and DepartmentID=@UDPID2) )
union 
select 4 OrderNo,contactid,toodldid,AppointmentTypeID  from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in ( 6,25,7,44,43) 
and ToODLDID in ( select distinct ODLDID from AllDetails with(nolock) where OLDID in ( select distinct OLDID from AllDetails with(nolock) where OLID=@OLID and DepartmentID=@UDPID2) )
and Regularised = 0 and contactid!=0 and reported=1
union 
select 5 OrderNo,contactid,odldid,0 AppointmentTypeID  from Employee with(nolock) 
where ODLDID in ( select distinct ODLDID from AllDetails with(nolock) where olid=@UOLID and (departmentid=@DPID or departmentid=@UDPID))
union 
select 5 OrderNo,contactid,toodldid,AppointmentTypeID  from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in ( 6,25,7,44,43) 
and ToODLDID in ( select distinct ODLDID from AllDetails with(nolock) where olid=@UOLID and (departmentid=@DPID or departmentid=@UDPID) )
and Regularised = 0 and contactid!=0 and reported=1
union 
select 6 OrderNo,contactid,odldid,0 AppointmentTypeID  from Employee with(nolock) 
where ODLDID in ( select distinct ODLDID from AllDetails with(nolock) where olid=@UOLID1 and (departmentid=@DPID or departmentid=@UDPID) )
union 
select 6 OrderNo,contactid,toodldid,AppointmentTypeID  from EmployeeAppointmentDetails with(nolock) where AppointmentTypeID in ( 6,25,7,44,43) 
and ToODLDID in ( select distinct ODLDID from AllDetails with(nolock) where olid=@UOLID1 and (departmentid=@DPID or departmentid=@UDPID) )
and Regularised = 0 and contactid!=0 and reported=1
) A inner join users b with(nolock) on b.contactid = a.contactid and Active = 1 
cross Apply ( select Distinct ODLDID,AcOLID,OLID,DivisionName OfficeLocation,OfficeLocationAllocation Location,DesignationName Designation,DesignationID
		from AllDetails b with(nolock) where ODLDID is not NULL and b.ODLDID=a.ODLDID and b.ODLDID!=@ODLDID 
		and ODDID in (select OfficeDepartmentDesignationAllocationID from DesignationActivityAllocation where ActivityID = 390 and [Create]=1)
		and ODDID in (select Distinct LoginODDID from AttendanceEntryAllocation where isnull(LoginODDID,0)!=0 union 
			select Distinct LoginODDID1 from AttendanceEntryAllocation where isnull(LoginODDID1,0)!=0 union 
			select Distinct LoginODDID2 from AttendanceEntryAllocation where isnull(LoginODDID2,0)!=0 union 
			select Distinct LoginODDID3 from AttendanceEntryAllocation where isnull(LoginODDID3,0)!=0 ) ) C
left join DesignationHierarchyOrder_Config DO with(nolock) on do.DesignationID=c.DesignationID
) A left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.AcOLID
left join Employee E with(nolock) on e.ContactID=a.ContactID 
left join Contacts CT with(nolock) on ct.ContactID=a.ContactID 
where (case when a.OrderNo in (5,6) and ol.OrderNo in (1,2,3) then 0 when isnull(e.EmployeeStatusID,0)=5 then 0 else 1 end)=1 
) A left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID 
where SlNo1=1 Order By SlNo1
GO
