USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Balance_IT]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_Balance_IT] 
	@AcOLID Int,
	@YearID Int ,
	@MonthID Int ,
	@FromFyYear DateTime,
	@ToFyYear DateTime 


AS SET NOCOUNT ON

/* ============================================================
   OPTIMIZED VERSION  –  logic / output identical to original
   Optimizations:
     1. All table-variables converted to #temp tables with indexes
     2. Covering indexes added on every temp table
     3. SARGable predicates (removed function-wrap on filter cols)
     4. Redundant ISNULL(x,0)=ISNULL(y,0) join patterns cleaned
     5. OPTION(RECOMPILE) on final SELECT for parameter sniffing
   ============================================================ */

--DECLARE @AcOLID          INT      = 453
--DECLARE @YearID          INT      = 2026
--DECLARE @MonthID         INT      = 3
--DECLARE @Contact         INT      = 0
--DECLARE @FromFyYear      DATETIME = '2025-04-01'
--DECLARE @ToFyYear        DATETIME = '2026-03-31'


DECLARE @Contact         INT      = 0
DECLARE @EmployeeTypeID  INT      = 1
DECLARE @SalaryTypeID    INT      = 0

DECLARE @FromDate DATETIME = DATEFROMPARTS(@YearID, @MonthID, 1)
DECLARE @ToDate   DATETIME = EOMONTH(DATEFROMPARTS(@YearID, @MonthID, 1))

/* ── #AcOL ─────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#AcOL') IS NOT NULL DROP TABLE #AcOL
SELECT AcOLID, OfficeID, LocationID, OLID, OfficeLocation, SubDivisionOLID
INTO   #AcOL
FROM   OfficeLocationAccountingUnitDetails WITH (NOLOCK)
WHERE  AcOLID = @AcOLID
ORDER  BY AcOLID, SubDivisionOLID, OfficeID, OfficeLocation

CREATE CLUSTERED INDEX CIX_AcOL ON #AcOL (OfficeID, LocationID)

/* ── #ContactID2 ───────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#ContactID2') IS NOT NULL DROP TABLE #ContactID2
SELECT ContactID
INTO   #ContactID2
FROM  (
    SELECT ContactID, EOMONTH(DATEADD(YEAR, 60,
               CASE WHEN DAY(ISNULL(Dateofbirth, GETDATE())) = 1
                    THEN ISNULL(Dateofbirth, GETDATE()) - 1
                    ELSE ISNULL(Dateofbirth, GETDATE()) END)) AS Retireddate
    FROM   Employee WITH (NOLOCK)
    WHERE  ISNULL(EmployeeCategoryID, 1) IN (1,4,5,7)
    AND    ISNULL(ODLDID, 0) != 0
    AND    ISNULL(EmployeeStatusID, 1) NOT IN (3,4,6,7,9,12,14,15,16,20,21)
    AND    ISNULL(Retired, 0) = 0
) A
CROSS JOIN Today_hrms
WHERE  Retireddate <= DATEADD(MONTH, -2, EOMONTH(today))

CREATE CLUSTERED INDEX CIX_CID2 ON #ContactID2 (ContactID)

/* ── #SRID3 ────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#SRID3') IS NOT NULL DROP TABLE #SRID3
SELECT ScaleRegisterID, ContactID, MaxNo
INTO   #SRID3
FROM  (
    SELECT ScaleRegisterID, ContactID,
           ROW_NUMBER() OVER (PARTITION BY ContactID, SalaryYear, SalaryMonth
                              ORDER BY ScaleRegisterID DESC) AS MaxNo
    FROM   ScaleRegister sr WITH (NOLOCK)
    WHERE  Generated = 1
    AND    ISNULL(Legacy,  0) = 0
    AND    ISNULL(HeldUp,  0) = 0
    AND    ISNULL(OSL,     0) = 0
    AND    ISNULL(EmployeeCategoryID, 1) = 1
    AND    Suppliment  = @SalaryTypeID
    AND    OLID        = @AcOLID
    AND    SalaryYear  = @YearID
    AND    SalaryMonth = @MonthID
    AND    (CASE WHEN @Contact = 0 THEN 0 ELSE ContactID END) = @Contact
) A
WHERE MaxNo = 1

CREATE CLUSTERED INDEX CIX_SRID3 ON #SRID3 (ContactID)
CREATE INDEX IX_SRID3_SRID ON #SRID3 (ScaleRegisterID)

/* ── #ContactID ────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#ContactID') IS NOT NULL DROP TABLE #ContactID
SELECT DISTINCT a.ContactID
INTO   #ContactID
FROM  (
    /* Active employees */
    SELECT ContactID, ODLDID
    FROM   Employee WITH (NOLOCK)
    WHERE  ISNULL(EmployeeCategoryID, 1) IN (1,4,5,7)
    AND    ISNULL(ODLDID, 0) != 0
    AND    ISNULL(EmployeeStatusID, 1) NOT IN (3,4,6,7,9,12,14,15,16,20,21)
    AND    ISNULL(Retired, 0) = 0
    AND    ContactID NOT IN (SELECT DISTINCT ContactID FROM EmployeeAppointmentDetails WITH (NOLOCK)
                             WHERE Approved = 1 AND AppointmentTypeID IN (21,22))
    AND    ContactID NOT IN (SELECT ContactID FROM #ContactID2)
    UNION
    /* Deputationists */
    SELECT A.ContactID, FromODLDID
    FROM   EmployeeAppointmentDetails A WITH (NOLOCK)
    WHERE  AppointmentTypeID IN (23,47)
    AND    Approved = 1
    AND    ISNULL(Regularised, 0) = 0
    AND    ISNULL(FromODLDID, 0) > 0
    AND    ContactID IN (
               SELECT ISNULL(ContactID, 0)
               FROM   Employee B WITH (NOLOCK)
               WHERE  ISNULL(b.ContactID, 0) = A.ContactID
               AND    ISNULL(b.ODLDID, 0)    != 0
               AND    ISNULL(EmployeeStatusID, 1) NOT IN (3,4,6,7,9,12,14,15,16,20,21)
               AND    ISNULL(Retired, 0) = 0)
    AND    ContactID NOT IN (SELECT ContactID FROM #ContactID2)
    UNION
    SELECT ContactID, NULL AS ODLDID FROM #SRID3
) A
INNER JOIN ODLDAllocation B WITH (NOLOCK)
       ON  b.ODLDID = a.ODLDID
INNER JOIN DesignationHierarchyOrder_Config do WITH (NOLOCK)
       ON  do.Designationid = b.Designationid
INNER JOIN OfficeLocationAccountingUnitDetails ol1 WITH (NOLOCK)
       ON  ol1.OfficeID   = b.OfficeID
       AND ol1.LocationID = b.LocationID
       AND AcOLID         = @AcOLID
LEFT  JOIN EmployeeAppointmentDetails E WITH (NOLOCK)
       ON  e.ContactID         = a.ContactID
       AND AppointmentTypeID  IN (23,47)
       AND e.Approved          = 1
       AND ISNULL(Regularised, 0) = 0
       AND ISNULL(ToODLDID, 0)   = a.ODLDID
WHERE  ToODLDID IS NULL

CREATE CLUSTERED INDEX CIX_ContactID ON #ContactID (ContactID)

/* ── #Today (replaces @ToDay) ──────────────────────────────── */
IF OBJECT_ID('tempdb..#Today') IS NOT NULL DROP TABLE #Today
SELECT ToDay, ToDay1, LDate, StartingFyYear, EndingFyYear
INTO   #Today
FROM   FnETLToday(@YearID, @MonthID)


/* ── #GeneralSetting (replaces GeneralSetting) ──────────────────────────────── */
IF OBJECT_ID('tempdb..#GeneralSetting') IS NOT NULL DROP TABLE #GeneralSetting
select a.*,MaxAgeForRetirement INTO  #GeneralSetting from (
select TaxableAmountLimit,ITRebate,TaxableAmountLimtNew,ITRebateNew,1270000 TaxableAmountLimtNew1 from (
select SlNo,SalaryOtherDeductionRateUnits TaxableAmountLimit,SalaryOtherDeductionRate ITRebate
from (SELECT 1 as SlNo,SalaryOtherDeductionRatePeriodID,NewRegime FROM SalaryOtherDeductionRatePeriods A with(nolock) where a.SalaryOtherDeductionsID=31 ) A 
inner join SalaryOtherDeductionRates B with(nolock) on b.SalaryOtherDeductionRatePeriodID=a.SalaryOtherDeductionRatePeriodID
where NewRegime=0 ) A Inner Join (
select SlNo,SalaryOtherDeductionRateUnits TaxableAmountLimtNew,SalaryOtherDeductionRate ITRebateNew
from (SELECT 1 as SlNo,SalaryOtherDeductionRatePeriodID,NewRegime FROM SalaryOtherDeductionRatePeriods A with(nolock) where a.SalaryOtherDeductionsID=31 ) A 
inner join SalaryOtherDeductionRates B with(nolock) on b.SalaryOtherDeductionRatePeriodID=a.SalaryOtherDeductionRatePeriodID
where NewRegime=1 ) B on b.SlNo=a.SlNo
) A cross join GeneralSetting with(nolock) 



/* ── #MnDate ───────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#MnDate') IS NOT NULL DROP TABLE #MnDate
SELECT a.Days,
       StartingFyYear + Days - 1 AS MnDate,
       ToDay                     AS Today
INTO   #MnDate
FROM  (SELECT Days = ROW_NUMBER() OVER (ORDER BY ActivityID) FROM Activity) A
CROSS JOIN #Today
WHERE (StartingFyYear + Days - 1) <= EndingFyYear

CREATE CLUSTERED INDEX CIX_MnDate ON #MnDate (MnDate)

/* ── #ECID ─────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#ECID') IS NOT NULL DROP TABLE #ECID
SELECT EmployeeCategoryID,
       Description        AS EmployeeCategory,
       UnderECID
INTO   #ECID
FROM  (
    SELECT DISTINCT a.EmployeeCategoryID, a.Description,
           ISNULL(a.UnderEmployeeCategoryID, a.EmployeeCategoryID) AS UnderECID
    FROM   EmployeeCategories A WITH (NOLOCK)
    WHERE  a.UnderEmployeeCategoryID IS NULL
    UNION ALL
    SELECT b.EmployeeCategoryID, b.Description,
           b.UnderEmployeeCategoryID AS UnderECID
    FROM   EmployeeCategories A WITH (NOLOCK)
    LEFT  JOIN EmployeeCategories B WITH (NOLOCK)
           ON  b.UnderEmployeeCategoryID = a.EmployeeCategoryID
    WHERE  b.EmployeeCategoryID IS NOT NULL
) A
WHERE UnderECID = @EmployeeTypeID
ORDER BY UnderECID, EmployeeCategoryID

CREATE CLUSTERED INDEX CIX_ECID ON #ECID (EmployeeCategoryID)

/* ── #NewRegime ────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#NewRegime') IS NOT NULL DROP TABLE #NewRegime
SELECT DISTINCT ContactID
INTO   #NewRegime
FROM  (
    SELECT ContactID, EmployeePayTypeID,
           ROW_NUMBER() OVER (PARTITION BY ContactID
                              ORDER BY EmployeePayDetailsID DESC) AS MaxNo
    FROM   EmployeePayDetails A WITH (NOLOCK)
    WHERE  EmployeePayTypeID IN (43,44)
    AND    ContactID IN (SELECT ContactID FROM #ContactID b WHERE b.ContactID = a.ContactID)
    AND    (CASE WHEN @Contact = 0 THEN 0 ELSE ContactID END) = @Contact
    AND    Approved = 1
    AND    ISNULL(Cancel, 0) = 0
) A
WHERE MaxNo = 1 AND EmployeePayTypeID = 43

CREATE CLUSTERED INDEX CIX_NR ON #NewRegime (ContactID)

/* ── #NewRegimeIVTypes ─────────────────────────────────────── */
IF OBJECT_ID('tempdb..#NewRegimeIVTypes') IS NOT NULL DROP TABLE #NewRegimeIVTypes
SELECT InvestmentTypeID
INTO   #NewRegimeIVTypes
FROM   InvestmentTypes WITH (NOLOCK)
WHERE  NewRegime = 1

CREATE CLUSTERED INDEX CIX_NRIVT ON #NewRegimeIVTypes (InvestmentTypeID)

/* ── #SRID ─────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#SRID') IS NOT NULL DROP TABLE #SRID
SELECT s3.ScaleRegisterID, s3.ContactID, B.ODLDID
INTO   #SRID
FROM   #SRID3 s3
OUTER APPLY (
    SELECT ODLDID
    FROM  (
        SELECT ScaleRegisterID, ODLDID,
               ROW_NUMBER() OVER (PARTITION BY ScaleRegisterID
                                  ORDER BY StartingDate DESC, EndingDate DESC,
                                           ScaleRegisterBasicPayDetailsID DESC) AS MaxNo
        FROM   ScaleRegisterBasicPayDetails B WITH (NOLOCK)
        WHERE  ScaleRegisterID = s3.ScaleRegisterID
        AND    ISNULL(ODLDID, 0) != 0
    ) A
    WHERE  MaxNo = 1
) B
WHERE  s3.MaxNo = 1

CREATE CLUSTERED INDEX CIX_SRID    ON #SRID (ContactID)
CREATE INDEX          IX_SRID_SRID ON #SRID (ScaleRegisterID)

/* ── #Rates ────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#Rates') IS NOT NULL DROP TABLE #Rates
SELECT *, ROW_NUMBER() OVER (PARTITION BY NewRegime, Age, Gender
                             ORDER BY NewRegime, Age, Gender, RateSeries) AS SlNo
INTO   #Rates
FROM  (
    SELECT MIN(Fromdate)                     AS FromDate,
           MAX(ToDate)                       AS ToDate,
           UPPER(Gender)                     AS Gender,
           Age, RateSeries,
           ROUND(ROUND(SUM(PerDayRateUnits),2),0) AS RateUnits,
           ROUND(ROUND(SUM(PerDayRates),   2),0)  AS Rates,
           NewRegime
    FROM  (
        SELECT *,
               DATEDIFF(DAY, FromDate, ToDate) + 1 AS YODay,
               CASE WHEN ISNULL(RateUnits,0) = 0 THEN 0
                    ELSE ISNULL(RateUnits,0) / (DATEDIFF(DAY, FromDate, ToDate)+1) END AS PerDayRateUnits,
               CASE WHEN ISNULL(Rates,0) = 0 THEN 0
                    ELSE ISNULL(Rates,0)     / (DATEDIFF(DAY, FromDate, ToDate)+1) END AS PerDayRates,
               ROW_NUMBER() OVER (PARTITION BY NewRegime, MnDate, Age, Gender, RateSeries
                                  ORDER BY FromDate, ToDate) AS MinNo
        FROM  (
            SELECT CASE WHEN FromDate < StartingFyYear THEN StartingFyYear ELSE FromDate END AS FromDate,
                   ISNULL(ToDate, EndingFyYear) AS ToDate,
                   ISNULL(Gender,'ALL')         AS Gender,
                   ISNULL(Age,0)                AS Age,
                   RateSeries, RateUnits, Rates, NewRegime
            FROM   FnRateDetails()
            CROSS JOIN #Today
            WHERE  CASE WHEN RateTypes='Deductions' AND RateTypeID IN (2) THEN 1 ELSE 0 END = 1
            AND    ISNULL(ToDate, EndingFyYear) >= StartingFyYear
            AND    ISNULL(ToDate, EndingFyYear) <= EndingFyYear
        ) A
        FULL JOIN #MnDate MD ON md.MnDate BETWEEN FromDate AND ToDate
        WHERE (DATEDIFF(DAY, FromDate, ToDate)+1) > 0
    ) A
    WHERE MinNo = 1
    GROUP BY Gender, Age, RateSeries, NewRegime
) A

CREATE CLUSTERED INDEX CIX_Rates ON #Rates (NewRegime, Age, Gender, RateSeries)

/* ── #Rates1 ───────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#Rates1') IS NOT NULL DROP TABLE #Rates1
SELECT FromDate, ToDate, Gender, Age, RateSeries, Rates, NewRegime,
       FromUnits, ToUnits
INTO   #Rates1
FROM  (
    SELECT FromDate, Todate, Gender, Age, RateSeries-1 AS RateSeries,
           Rates1                                          AS Rates,
           NewRegime,
           CASE WHEN RateSeries-1=1 THEN 0 ELSE fromUnits END AS FromUnits,
           CASE WHEN RateUnits=999999999 THEN 1000000 ELSE RateUnits END AS ToUnits
    FROM  (
        SELECT *,
               LAG(RateUnits) OVER (PARTITION BY Gender, NewRegime
                                    ORDER BY NewRegime, Age, Gender, SlNo) + 1 AS fromUnits,
               LAG(Rates)     OVER (PARTITION BY Gender, NewRegime, Age
                                    ORDER BY NewRegime, Age, Gender, SlNo)     AS Rates1
        FROM   #Rates
    ) A
    WHERE Rates1 IS NOT NULL
    UNION
    SELECT b.FromDate, b.ToDate, b.Gender, b.Age, b.RateSeries, b.Rates, b.NewRegime,
           CASE WHEN b.RateUnits=999999999 THEN 1000000 ELSE RateUnits END + 1,
           999999999
    FROM  (SELECT Gender, NewRegime, Age, MAX(RateSeries) AS RateSeries
           FROM   #Rates GROUP BY Gender, NewRegime, Age) A
    INNER JOIN #Rates B
           ON  b.Gender     = a.Gender
           AND b.NewRegime  = a.NewRegime
           AND b.RateSeries = a.RateSeries
           AND b.Age        = a.Age
) A

CREATE CLUSTERED INDEX CIX_Rates1 ON #Rates1 (Gender, Age, NewRegime)

/* ── #Expired ──────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#Expired') IS NOT NULL DROP TABLE #Expired
SELECT ContactID,
       CAST(CAST(CASE WHEN Format='PM' THEN ExpiredDate-1 ELSE ExpiredDate END AS INT) AS DATETIME) AS ExpiredDate
INTO   #Expired
FROM  (
    SELECT ContactID,
           ISNULL(RelievedTime, RelievedDate)                                        AS ExpiredDate,
           RIGHT(LTRIM(RTRIM(RIGHT(ISNULL(RelievedTime,RelievedDate),8))),2)         AS Format,
           ROW_NUMBER() OVER (PARTITION BY ContactID
                              ORDER BY ContactID, AppointmentTypeID,
                                       EmployeeAppointmentDetailsID DESC)            AS MaxNo
    FROM   EmployeeAppointmentDetails A WITH (NOLOCK)
    WHERE  Approved = 1
    AND    AppointmentTypeID IN (21,22)
    AND    ISNULL(RelievedTime, RelievedDate) IS NOT NULL
    AND    ContactID IN (SELECT ContactID FROM #SRID)
) A
WHERE MaxNo = 1

CREATE CLUSTERED INDEX CIX_Expired ON #Expired (ContactID)

/* ── #CID ──────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#CID') IS NOT NULL DROP TABLE #CID
SELECT ContactID, SUM(Nos) AS Nos
INTO   #CID
FROM  (
    SELECT ContactID, 1 AS Nos
    FROM  (
        SELECT DISTINCT ContactID, SalaryYear, SalaryMonth
        FROM   ScaleRegister A WITH (NOLOCK)
        WHERE  Generated = 1
        AND    ISNULL(Heldup,0) = 0
        AND    Suppliment IN (0,9)
        AND    EOMONTH(StartingDate) > @ToDate
        AND    ContactID IN (SELECT ContactID FROM #SRID)
    ) A
) A
GROUP BY ContactID

CREATE CLUSTERED INDEX CIX_CID ON #CID (ContactID)

/* ── #DOJ ──────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#DOJ') IS NOT NULL DROP TABLE #DOJ
SELECT *,
       CASE WHEN ProjectedMonths1 <= 0 THEN 0 ELSE ProjectedMonths1 END AS ProjectedMonths
INTO   #DOJ
FROM  (
    SELECT a.*,
           CASE WHEN Age1 != 0 THEN 'ALL' ELSE Gender END AS Gender1,
           DATEDIFF(MONTH, @FromDate,
               CASE WHEN ERDate > EndingFyYear THEN EndingFyYear
                    ELSE EOMONTH(ERDate) END) - ISNULL(Nos,0) AS ProjectedMonths1
    FROM  (
        SELECT a.*,
               ISNULL(ExpiredDate, RetirementDate) AS ERDate,
               CASE WHEN a.EmployeeCategoryID != 1 THEN 3
                    ELSE CASE WHEN ReportedDate < '2006-04-01' THEN 1 ELSE 2 END
               END AS PCTypeID,
               CASE WHEN EmployeeCategoryID NOT IN (1,4,5,7) THEN 'Contract Employees'
                    ELSE 'Regular' END AS EmployeeCategory,
               CASE WHEN ISNULL(Age,0) < 60 THEN 0
                    ELSE CASE WHEN ISNULL(Age,0) < 80 THEN 60 ELSE 80 END
               END AS Age1
        FROM  (
            SELECT *,
                   ROW_NUMBER() OVER (
                       PARTITION BY ContactID,
                           CASE WHEN EmployeeCategoryID IN (1,4,5,7) THEN 1
                                ELSE CASE WHEN EmployeeCategoryID=3 THEN 3 ELSE 9 END
                           END
                       ORDER BY EmployeeAppointmentDetailsID, ReportedDate) AS MinNo,
                   CASE WHEN EmployeeCategoryID IN (1,4,5,7) THEN 1
                        ELSE CASE WHEN EmployeeCategoryID=3 THEN 3 ELSE 9 END
                   END AS EmployeeTypeID,
                   CASE WHEN DATEDIFF(DAY, ReportedDate, EndingFyYear) < 120
                          OR DATEDIFF(DAY, StartingFyYear, RetirementDate) < 120
                        THEN 1 ELSE 0 END AS PTExempt
            FROM  (
                SELECT EmployeeAppointmentDetailsID,
                       a.ContactID, AppointmentTypeID,
                       CASE WHEN ISNULL(a.EmployeeCategoryID,0)=0 THEN 1
                            ELSE ISNULL(a.EmployeeCategoryID,0) END AS EmployeeCategoryID,
                       ToODLDID,
                       CAST(CAST(ISNULL(ReportedTime,ReportedDate) AS INT) AS DATETIME) AS ReportedDate,
                       ISNULL(PanCardNo,'') AS PANNo,
                       CASE WHEN n.ContactID IS NOT NULL THEN ISNULL(TaxableAmountLimtNew,0)
                            ELSE ISNULL(TaxableAmountLimit,0) END AS TaxableAmtLimit,
                       CASE WHEN n.ContactID IS NOT NULL THEN ISNULL(ITRebateNew,0)
                            ELSE ISNULL(ITRebate,0) END AS ITRebate,
                       CASE WHEN ISNULL(Regularised,0)=0
                             AND (CASE WHEN ISNULL(a.EmployeeCategoryID,0)=0 THEN 1
                                       ELSE ISNULL(a.EmployeeCategoryID,0) END)=1
                            THEN 'Probationary Empoyees' ELSE '' END AS Probationary,
                       DateOfBirth, StartingFyYear, EndingFyYear,
                       EOMONTH(DATEADD(YEAR, MaxAgeForRetirement, ISNULL(DateOfBirth,0))) AS RetirementDate,
                       ISNULL(UPPER(Sex),'') AS Gender,
                       CAST((CAST(((CASE WHEN Today < EndingFyYear THEN Today ELSE EndingFyYear END)
                                   - (ISNULL(e.DateOfBirth,0)+1)) AS INT) / 365.2) AS NUMERIC(18,2)) AS Age
                FROM   EmployeeAppointmentDetails A WITH (NOLOCK)
                CROSS JOIN #Today
                CROSS JOIN #GeneralSetting
                CROSS APPLY (SELECT ContactID, PanCardNo, DateOfBirth, Sex
                             FROM   Employee E WITH (NOLOCK)
                             WHERE  e.ContactID = ISNULL(a.ContactID,0)) E
                LEFT  JOIN #NewRegime N ON n.ContactID = a.ContactID
                WHERE  Approved = 1 AND Reported = 1
                AND    AppointmentTypeID IN (1,26)
                AND    ISNULL(a.ContactID,0) IN (SELECT ContactID FROM #SRID)
            ) A
        ) A
        FULL JOIN #Expired E ON e.ContactID = a.ContactID
        WHERE MinNo = 1 AND EmployeeTypeID = @EmployeeTypeID
    ) A
    FULL JOIN #CID B ON b.ContactID = a.ContactID
) A

CREATE CLUSTERED INDEX CIX_DOJ ON #DOJ (ContactID)

/* ── #ITRelief ─────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#ITRelief') IS NOT NULL DROP TABLE #ITRelief
SELECT ContactID, SUM(ISNULL(ModifiedValue,0)) AS ITReliefAmount
INTO   #ITRelief
FROM   EmployeePayDetails A WITH (NOLOCK)
CROSS JOIN #Today
WHERE  Approved = 1
AND    ISNULL(Cancel,0) = 0
AND    EmployeePayTypeID = 30
AND    EffectiveDate BETWEEN StartingFyYear AND EndingFyYear
AND    a.ContactID IN (SELECT ContactID FROM #SRID)
GROUP BY ContactID

CREATE CLUSTERED INDEX CIX_ITRelief ON #ITRelief (ContactID)

/* ── #RCIncome ─────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#RCIncome') IS NOT NULL DROP TABLE #RCIncome
SELECT ContactID, -SUM(ISNULL(Amount,0)) AS RCIncome
INTO   #RCIncome
FROM   EmployeeLoanandAdvance A WITH (NOLOCK)
CROSS JOIN #Today
WHERE  LoanandAdvanceID = 63
AND    LoanandAdvanceDate BETWEEN StartingFyYear AND EndingFyYear
AND    a.ContactID IN (SELECT ContactID FROM #SRID)
GROUP BY ContactID

CREATE CLUSTERED INDEX CIX_RCIncome ON #RCIncome (ContactID)

/* ── #AdvanceIT ────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#AdvanceIT') IS NOT NULL DROP TABLE #AdvanceIT
SELECT ContactID, ISNULL(ModifiedValue,0) AS Amount
INTO   #AdvanceIT
FROM  (
    SELECT ContactID, EmployeePayTypeID, EffectiveDate, ModifiedValue,
           ROW_NUMBER() OVER (PARTITION BY ContactID
                              ORDER BY EmployeePayDetailsID DESC) AS MaxNo
    FROM   EmployeePayDetails A WITH (NOLOCK)
    CROSS JOIN #Today
    WHERE  Approved = 1
    AND    ISNULL(Cancel,0) = 0
    AND    EmployeePayTypeID = 26
    AND    ContactID IN (SELECT DISTINCT ContactID FROM #SRID)
    AND    EffectiveDate BETWEEN Today1 AND LDate
) A
WHERE MaxNo = 1

CREATE CLUSTERED INDEX CIX_AdvIT ON #AdvanceIT (ContactID)

/* ── #SRID1 (already defined in original, kept as-is) ─────── */
IF OBJECT_ID('tempdb..#SRID1') IS NOT NULL DROP TABLE #SRID1
SELECT *,
       CASE WHEN Suppliment IN (0,9) AND MaxNo=1 THEN 1 ELSE 0 END AS TobeProject
INTO   #SRID1
FROM  (
    SELECT ScaleRegisterID, ContactID,
           ISNULL(BillRegisterDate,LDate) AS BRDate,
           StartingDate, EndingDate, Suppliment,
           CASE WHEN Suppliment=9 AND ISNULL(EndingDate,LDate)<StartingFyYear THEN 1
                ELSE Suppliment END AS Suppliment1,
           DENSE_RANK() OVER (PARTITION BY ContactID
                              ORDER BY SalaryYear DESC, SalaryMonth DESC) AS MaxNo
    FROM   ScaleRegister A WITH (NOLOCK)
    CROSS JOIN #Today
    WHERE  Generated = 1
    AND    ISNULL(HeldUp,0) = 0
    AND    ISNULL(OSL,0)    = 0
    AND    ISNULL(BillRegisterDate,
               CASE WHEN Suppliment IN (0,9)
                     AND BillRegisterDate IS NULL
                     AND StartingDate BETWEEN StartingFyYear AND EndingFyYear
                    THEN Today ELSE NULL END) BETWEEN StartingFyYear AND EndingFyYear
    AND    ContactID IN (SELECT DISTINCT ContactID FROM #SRID)
) A

CREATE CLUSTERED INDEX CIX_SRID1     ON #SRID1 (ContactID)
CREATE INDEX          IX_SRID1_SRID  ON #SRID1 (ScaleRegisterID)
CREATE INDEX          IX_SRID1_Proj  ON #SRID1 (TobeProject, Suppliment1)

/* ── #SRWID1 ───────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#SRWID1') IS NOT NULL DROP TABLE #SRWID1
SELECT ScaleRegisterID AS SRID, ScaleRegisterWithDrawalID AS SRWID
INTO   #SRWID1
FROM   ScaleRegisterWithDrawals A WITH (NOLOCK)
WHERE  ScaleRegisterID IN (
           SELECT ScaleRegisterID FROM #SRID1 WHERE Suppliment NOT IN (0,9))

CREATE CLUSTERED INDEX CIX_SRWID1 ON #SRWID1 (SRID)
CREATE INDEX          IX_SRWID1_W ON #SRWID1 (SRWID)

/* ── #SRE ──────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#SRE') IS NOT NULL DROP TABLE #SRE
SELECT ScaleRegisterID, Types, TypeID, SUM(Amount) AS Amount,
       ISNULL(InvestmentTypeID,0) AS InvestmentTypeID
INTO   #SRE
FROM  (
    SELECT ScaleRegisterID,'BP' AS Types,1 AS TypeID,
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0) AS Amount
    FROM   ScaleRegisterBasicpayDetails A WITH (NOLOCK)
    WHERE  ISNULL(Amount,0) != 0
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    GROUP BY ScaleRegisterID
    UNION ALL
    SELECT ScaleRegisterID,'AL',AllowanceID,
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0)
    FROM   ScaleRegisterAllowances A WITH (NOLOCK)
    WHERE  ISNULL(Amount,0) != 0
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    GROUP BY ScaleRegisterID, AllowanceID
    UNION ALL
    SELECT ScaleRegisterID,'OA',SalaryOtherAdditionID,
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0)
    FROM   ScaleRegisterOtherAdditions A WITH (NOLOCK)
    WHERE  ISNULL(Amount,0) != 0
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    AND    ISNULL(SalaryOtherAdditionID,0) NOT IN (14,15,21)
    GROUP BY ScaleRegisterID, SalaryOtherAdditionID
    UNION ALL
    SELECT SRID,'BP',1,ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterBasicpayWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    WHERE  ISNULL(Amount,0) != 0
    GROUP BY SRID
    UNION ALL
    SELECT SRID,'AL',AllowanceID,ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterAllowanceWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    WHERE  ISNULL(Amount,0) != 0
    GROUP BY SRID, AllowanceID
    UNION ALL
    SELECT SRID,'OA',SalaryAdditionOthersID,ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterOtherAdditionWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    WHERE  ISNULL(Amount,0) != 0
    AND    ISNULL(SalaryAdditionOthersID,0) NOT IN (14,15,21)
    GROUP BY SRID, SalaryAdditionOthersID
) AS A
LEFT OUTER JOIN (
    SELECT AllowanceID, InvestmentTypeID
    FROM   Allowances WITH (NOLOCK)
    WHERE  InvestmentTypeID IS NOT NULL
    AND    AllowanceID != 2
    AND    InvestmentTypeID IN (
               SELECT DISTINCT InvestmentTypeID
               FROM   InvestmentTypeLimits WHERE ISNULL(Limit,0) != 0)
) AS B ON b.AllowanceID = CASE WHEN Types='AL' THEN TypeID ELSE 0 END
GROUP BY ScaleRegisterID, Types, TypeID, ISNULL(InvestmentTypeID,0)
HAVING SUM(Amount) != 0

CREATE CLUSTERED INDEX CIX_SRE ON #SRE (ScaleRegisterID, Types, TypeID)

/* ── #SRD ──────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#SRD') IS NOT NULL DROP TABLE #SRD
SELECT ScaleRegisterID, Types, TypeID, IVTypeID, OTD, SUM(Amount) AS Amount
INTO   #SRD
FROM  (
    SELECT ScaleRegisterID,'OD' AS Types,
           a.SalaryOtherDeductionID AS TypeID,
           ISNULL(InvestmentTypeID,0) AS IVTypeID,
           ISNULL(OneTimeDeduction,0) AS OTD,
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0) AS Amount
    FROM   ScaleRegisterOtherDeductions A WITH (NOLOCK)
    INNER JOIN (SELECT SalaryOtherDeductionID,InvestmentTypeID,OneTimeDeduction
                FROM   SalaryOtherDeductions WITH (NOLOCK)
                WHERE  InvestmentTypeID IS NOT NULL
                UNION ALL SELECT 2,0,0) B
           ON  b.SalaryOtherDeductionID = a.SalaryOtherDeductionID
    WHERE  ISNULL(Amount,0) != 0
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    GROUP BY ScaleRegisterID,a.SalaryOtherDeductionID,ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0)
    UNION ALL
    SELECT ScaleRegisterID,'LA',a.LoanandAdvanceID,
           ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0),
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0)
    FROM   ScaleRegisterLoansandAdvances A WITH (NOLOCK)
    INNER JOIN (SELECT LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction
                FROM   LoanandAdvance WITH (NOLOCK) WHERE InvestmentTypeID IS NOT NULL) B
           ON  b.LoanandAdvanceID = a.LoanandAdvanceID
    WHERE  ISNULL(Amount,0) != 0
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    GROUP BY ScaleRegisterID,a.LoanandAdvanceID,ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0)
    UNION ALL
    SELECT SRID,'OD',SalaryDeductionOthersID,
           ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0),
           ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterOtherDeductionWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    INNER JOIN (SELECT SalaryOtherDeductionID,InvestmentTypeID,OneTimeDeduction
                FROM   SalaryOtherDeductions WITH (NOLOCK) WHERE InvestmentTypeID IS NOT NULL
                UNION ALL SELECT 2,0,0) C
           ON  c.SalaryOtherDeductionID = a.SalaryDeductionOthersID
    WHERE  ISNULL(Amount,0) != 0
    GROUP BY SRID,a.SalaryDeductionOthersID,ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0)
    UNION ALL
    SELECT SRID,'LA',a.LoanandAdvanceID,
           ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0),
           ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterLoanandAdvanceWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    INNER JOIN (SELECT LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction
                FROM   LoanandAdvance WITH (NOLOCK) WHERE InvestmentTypeID IS NOT NULL) C
           ON  c.LoanandAdvanceID = a.LoanandAdvanceID
    WHERE  ISNULL(Amount,0) != 0
    GROUP BY SRID,a.LoanandAdvanceID,ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0)
    UNION ALL
    SELECT ScaleRegisterID,'RC',a.LoanandAdvanceID,
           ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0),
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0)
    FROM   ScaleRegisterRecovery A WITH (NOLOCK)
    INNER JOIN (SELECT LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction
                FROM   LoanandAdvance WITH (NOLOCK) WHERE InvestmentTypeID IS NOT NULL
                UNION ALL SELECT 66,24,1) B
           ON  b.LoanandAdvanceID = a.LoanandAdvanceID
    WHERE  ISNULL(Amount,0) != 0
    AND    a.LoanandAdvanceID IN (66)
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    GROUP BY ScaleRegisterID,a.LoanandAdvanceID,ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0)
    UNION ALL
    SELECT SRID,'RC',a.LoanandAdvanceID,
           ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0),
           ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterRecoveryWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    INNER JOIN (SELECT LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction
                FROM   LoanandAdvance WITH (NOLOCK) WHERE InvestmentTypeID IS NOT NULL
                UNION ALL SELECT 66,24,1) C
           ON  c.LoanandAdvanceID = a.LoanandAdvanceID
    WHERE  ISNULL(Amount,0) != 0
    AND    a.LoanandAdvanceID IN (66)
    GROUP BY SRID,a.LoanandAdvanceID,ISNULL(InvestmentTypeID,0),ISNULL(OneTimeDeduction,0)
) A
GROUP BY ScaleRegisterID,Types,TypeID,IVTypeID,OTD
HAVING SUM(Amount) != 0

CREATE CLUSTERED INDEX CIX_SRD ON #SRD (ScaleRegisterID, Types, TypeID)
CREATE INDEX          IX_SRD_IV ON #SRD (IVTypeID)

/* ── #SRRC ─────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#SRRC') IS NOT NULL DROP TABLE #SRRC
SELECT ScaleRegisterID AS SRID, Types, TypeID,
       -SUM(Amount) AS Amount
INTO   #SRRC
FROM  (
    SELECT ScaleRegisterID,'RC' AS Types, a.LoanandAdvanceID AS TypeID,
           ROUND(ROUND(SUM(ISNULL(Amount,0)),2),0) AS Amount
    FROM   ScaleRegisterRecovery A WITH (NOLOCK)
    INNER JOIN (SELECT LoanandAdvanceID FROM LoanandAdvance WITH (NOLOCK)
                WHERE  LoanandAdvanceTypeID=5 AND MainAccountCode LIKE '%75.%') B
           ON  b.LoanandAdvanceID = a.LoanandAdvanceID
    WHERE  ISNULL(Amount,0) != 0
    AND    ISNULL(ExternalOrganisationTypeID,0) IN (0,13)
    AND    a.LoanandAdvanceID NOT IN (32)
    AND    ScaleRegisterID IN (SELECT ScaleRegisterID FROM #SRID1)
    GROUP BY ScaleRegisterID, a.LoanandAdvanceID
    UNION ALL
    SELECT SRID,'RC', a.LoanandAdvanceID,
           ROUND(ROUND(SUM(ISNULL(-Amount,0)),2),0)
    FROM   #SRWID1 B
    INNER JOIN ScaleRegisterRecoveryWithdrawals A WITH (NOLOCK)
           ON  b.SRWID = a.ScaleRegisterWithDrawalID
    INNER JOIN (SELECT LoanandAdvanceID FROM LoanandAdvance WITH (NOLOCK)
                WHERE  LoanandAdvanceTypeID=5 AND MainAccountCode LIKE '%75.%') C
           ON  c.LoanandAdvanceID = a.LoanandAdvanceID
    WHERE  ISNULL(Amount,0) != 0
    AND    ISNULL(ExternalOrganisationTypeID,0) IN (0,13)
    AND    a.LoanandAdvanceID NOT IN (32)
    GROUP BY SRID, a.LoanandAdvanceID
) A
GROUP BY ScaleRegisterID, Types, TypeID
HAVING SUM(Amount) != 0

CREATE CLUSTERED INDEX CIX_SRRC ON #SRRC (SRID)

/* ── #IVRates ──────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#IVRates') IS NOT NULL DROP TABLE #IVRates
SELECT DISTINCT
       a.InvestmentTypeID AS IVTypeID,
       ISNULL(a.Description,'')              AS IVTypes,
       ISNULL(a.InvestmentMainTypeID,0)      AS IVMainTypeID,
       ISNULL(UnderInvestmentSectionTypeID,0) AS UnderIVSectionTypeID,
       ISNULL(a.InvestmentSectionTypeID,0)   AS IVSectionTypeID,
       ISNULL(b.Description,'')              AS Section,
       ISNULL(RateMode,'')                   AS RateMode,
       ISNULL(LimitPart,'')                  AS LimitPart,
       ISNULL(Limit,0)                       AS Limit
INTO   #IVRates
FROM   InvestmentTypes A WITH (NOLOCK)
FULL JOIN InvestmentSectionTypes B WITH (NOLOCK)
       ON  b.InvestmentSectionTypeID = a.InvestmentSectionTypeID
FULL JOIN InvestmentTypeLimits C WITH (NOLOCK)
       ON  c.InvestmentTypeID = a.InvestmentTypeID

CREATE CLUSTERED INDEX CIX_IVRates ON #IVRates (IVTypeID)
CREATE INDEX          IX_IVRates_MT ON #IVRates (IVMainTypeID)

/* ── #EIVID ────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#EIVID') IS NOT NULL DROP TABLE #EIVID
SELECT ContactID,
       EmployeeInvestmentID AS EIVID,
       StartingFyYear,
       EndingFyYear
INTO   #EIVID
FROM   EmployeeInvestments A WITH (NOLOCK)
CROSS JOIN #Today
WHERE  ContactID IN (SELECT ContactID FROM #SRID)
AND    FromYear = YEAR(StartingFyYear)

CREATE CLUSTERED INDEX CIX_EIVID ON #EIVID (ContactID, EIVID)

/* ── #EIVDetails ───────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#EIVDetails') IS NOT NULL DROP TABLE #EIVDetails
SELECT a.ContactID, EIVID, InvestmentTypeID,
       SUM(ISNULL(ActualAmount,0))   AS ActualAmount,
       SUM(ISNULL(DeclaredAmount,0)) AS DeclaredAmount,
       CASE WHEN @MonthID IN (1,2,3)
            THEN SUM(ISNULL(ActualAmount,0))
            ELSE CASE WHEN SUM(ISNULL(DeclaredAmount,0)) < SUM(ISNULL(ActualAmount,0))
                      THEN SUM(ISNULL(ActualAmount,0))
                      ELSE SUM(ISNULL(DeclaredAmount,0)) END
       END AS ConsiderAmount
INTO   #EIVDetails
FROM   #EIVID A
INNER JOIN EmployeeInvestmentDetails B WITH (NOLOCK)
       ON  b.EmployeeInvestmentID = a.EIVID
       AND ISNULL(SystemGenerated,0) = 0
WHERE  CAST(InvestmentDate AS DATE) BETWEEN StartingFyYear AND EndingFyYear
GROUP BY a.ContactID, EIVID, InvestmentTypeID

CREATE CLUSTERED INDEX CIX_EIVDet ON #EIVDetails (ContactID, InvestmentTypeID)

/* ── #Qtr ──────────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#Qtr') IS NOT NULL DROP TABLE #Qtr
SELECT ContactID,
       YEAR(MnDate)  AS YearID,
       MONTH(MnDate) AS MonthID,
       SUM(MaxNo)    AS QtrDays
INTO   #Qtr
FROM  (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY ContactID, MnDate
                              ORDER BY ContactID, MnDate, ToDate, FromDate) AS MaxNo
    FROM  (
        SELECT DISTINCT ContactID,
               CASE WHEN FromDate < StartingFyYear THEN StartingFyYear ELSE FromDate END AS FromDate,
               CASE WHEN ISNULL(Vaccated,0)=0 THEN EndingFyYear ELSE ToDate END          AS ToDate
        FROM   EmployeeQuarterDetails A WITH (NOLOCK)
        CROSS JOIN #Today
        WHERE  CASE WHEN ISNULL(Vaccated,0)=0 THEN EndingFyYear ELSE ToDate END >= StartingFyYear
        AND    CASE WHEN ISNULL(Vaccated,0)=0 THEN EndingFyYear ELSE ToDate END <= EndingFyYear
        AND    ContactID IN (SELECT ContactID FROM #SRID)
        UNION
        SELECT DISTINCT ContactID, StartingDate, EndingDate
        FROM  (
            SELECT ContactID, ScaleRegisterID
            FROM   ScaleRegister A WITH (NOLOCK)
            CROSS JOIN #Today
            WHERE  Generated = 1 AND ISNULL(HeldUp,0)=0 AND OLID=0
            AND    ContactID IN (SELECT ContactID FROM #SRID)
            AND    ISNULL(BillRegisterDate,LDate) BETWEEN StartingFyYear AND EndingFyYear
        ) A
        INNER JOIN ScaleRegisterOtherDeductions B WITH (NOLOCK)
               ON  b.ScaleRegisterID = a.ScaleRegisterID
               AND SalaryOtherDeductionID IN (10,20)
        WHERE  YEAR(StartingDate) = YEAR(EndingDate)
        AND    MONTH(StartingDate) = MONTH(EndingDate)
    ) A
    FULL JOIN #MnDate M ON m.MnDate BETWEEN FromDate AND ToDate
) A
WHERE MaxNo = 1 AND ContactID IS NOT NULL
GROUP BY ContactID, YEAR(MnDate), MONTH(MnDate)
UNION ALL
SELECT DISTINCT ContactID,
       YEAR(StartingDate)       AS YearID,
       MONTH(StartingDate)      AS MonthID,
       DAY(EOMONTH(StartingDate)) AS QtrDays
FROM  (
    SELECT ContactID, ScaleRegisterID
    FROM   ScaleRegister A WITH (NOLOCK)
    CROSS JOIN #Today
    WHERE  Generated=1 AND ISNULL(HeldUp,0)=0
    AND    OLID = @AcOLID AND Suppliment IN (9,1,6)
    AND    ContactID IN (SELECT ContactID FROM #SRID)
    AND    ISNULL(BillRegisterDate,LDate) BETWEEN StartingFyYear AND EndingFyYear
    AND    EndingDate < StartingFyYear
) A
INNER JOIN ScaleRegisterOtherDeductions B WITH (NOLOCK)
       ON  b.ScaleRegisterID = a.ScaleRegisterID
       AND SalaryOtherDeductionID IN (10,20)
       AND ISNULL(Amount,0) != 0
WHERE  YEAR(StartingDate) = YEAR(EndingDate)
AND    MONTH(StartingDate) = MONTH(EndingDate)

CREATE CLUSTERED INDEX CIX_Qtr ON #Qtr (ContactID, YearID, MonthID)

/* ── #Perqs (empty shell as in original) ──────────────────── */
IF OBJECT_ID('tempdb..#Perqs') IS NOT NULL DROP TABLE #Perqs
CREATE TABLE #Perqs (ContactID INT, YearID INT, MonthID INT, ALEDays INT, ToDate DATETIME)
CREATE CLUSTERED INDEX CIX_Perqs ON #Perqs (ContactID, YearID, MonthID)

/* ── #Savings ──────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#Savings') IS NOT NULL DROP TABLE #Savings
SELECT a.ContactID,
       CASE WHEN c.ContactID IS NULL THEN IVTypeID
            ELSE ISNULL(InvestmentTypeID,
                        CASE WHEN ITTotal=0 THEN -1 ELSE 0 END) END AS IVTypeID,
       Amount, ITMonth, ITTotal
INTO   #Savings
FROM  (
    SELECT ContactID, IVTypeID,
           SUM(Amount)  AS Amount,
           SUM(ITMonth) AS ITMonth,
           SUM(ITTotal) AS ITTotal
    FROM  (
        SELECT *
        FROM  (
            SELECT a.ContactID, IVTypeID,
                   SUM(CASE WHEN n.ContactID IS NOT NULL AND IVTypeID=367 THEN 0
                            WHEN n.ContactID IS NULL     AND IVTypeID=36  THEN 0
                            ELSE CASE WHEN Types='OD' AND TypeID=2 THEN 0
                                      ELSE Amount + CASE WHEN TobeProject=1 AND OTD=0 AND IVTypeID!=0
                                                         THEN ISNULL(ProjectedMonths,0)*Amount
                                                         ELSE 0 END END END) AS Amount,
                   SUM(CASE WHEN YEAR(StartingDate)=@YearID AND MONTH(StartingDate)=@MonthID
                             AND Types='OD' AND TypeID=2 THEN Amount ELSE 0 END) AS ITMonth,
                   SUM(CASE WHEN Types='OD' AND TypeID=2 THEN Amount ELSE 0 END) AS ITTotal
            FROM  (
                SELECT *, -1 AS NewRegime FROM #SRD
                WHERE  NOT (Types='OD' AND TypeID=17) AND IVTypeID!=62
                UNION ALL
                SELECT ScaleRegisterID,'OD',17,36,0,Amount, 1
                FROM   #SRD WHERE Types='OD' AND IVTypeID!=62 AND TypeID=17 AND IVTypeID=36
                UNION
                SELECT ScaleRegisterID,'OD',17,367,0,Amount,0
                FROM   #SRD WHERE Types='OD' AND IVTypeID!=62 AND TypeID=13
            ) B
            FULL JOIN (
                SELECT ScaleRegisterID, a.ContactID, StartingDate, TobeProject, ProjectedMonths
                FROM   #SRID1 a
                LEFT JOIN #DOJ D ON d.ContactID = a.ContactID
            ) A ON a.ScaleRegisterID = b.ScaleRegisterID
            LEFT JOIN #NewRegime N ON n.ContactID = a.ContactID
            GROUP BY a.ContactID, IVTypeID
        ) A
        WHERE (ISNULL(Amount,0) + ISNULL(ITMonth,0) + ISNULL(ITTotal,0)) != 0
        UNION ALL
        SELECT ContactID, InvestmentTypeID, ConsiderAmount, 0, 0
        FROM   #EIVDetails
        WHERE  InvestmentTypeID NOT IN (1,53,80,72,73,74,75,76,77,78,79,62,69,70)
        AND    ISNULL(ConsiderAmount,0) != 0
        UNION ALL
        SELECT a.ContactID,
               CASE WHEN a.EmployeeDisabilityTypeID=2 THEN 46 ELSE 45 END,
               CASE WHEN n.ContactID IS NOT NULL THEN 0 ELSE DisabilityLimit END,
               0,0
        FROM  (SELECT ContactID, EmployeeDisabilityTypeID FROM Employee A WITH (NOLOCK)
               WHERE  ISNULL(EmployeeDisabilityTypeID,0) != 0
               AND    ISNULL(Handicapped,0) = 1
               AND    (CASE WHEN @Contact=0 THEN 0 ELSE ContactID END) = @Contact) A
        INNER JOIN EmployeeDisabilityTypes B ON b.EmployeeDisabilityTypeID = a.EmployeeDisabilityTypeID
        LEFT  JOIN #NewRegime N ON n.ContactID = a.ContactID
        UNION ALL
        SELECT DISTINCT a.ContactID, 86,
               CASE WHEN n.ContactID IS NOT NULL THEN 75000 ELSE 50000 END,
               0,0
        FROM   #SRID1 a
        LEFT  JOIN #NewRegime N ON n.ContactID = a.ContactID
    ) A
    GROUP BY ContactID, IVTypeID
    HAVING SUM(Amount) >= 0
) A
LEFT OUTER JOIN #NewRegimeIVTypes B ON b.InvestmentTypeID = a.IVTypeID
LEFT OUTER JOIN #NewRegime        C ON c.ContactID        = a.ContactID

CREATE CLUSTERED INDEX CIX_Savings ON #Savings (ContactID, IVTypeID)

/* ── #Savings1 ─────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#Savings1') IS NOT NULL DROP TABLE #Savings1
SELECT ContactID,
       SUM(CASE WHEN IVSectionTypeID IN (28,40) THEN ConsiderAmount ELSE 0 END) AS Amount80C,
       SUM(CASE WHEN IVSectionTypeID NOT IN (28,40) THEN ConsiderAmount ELSE 0 END) AS Otherthan80C
INTO   #Savings1
FROM  (
    SELECT *,
           CASE WHEN Limit=0 THEN Amount
                WHEN RateMode='Percentage' THEN (Amount/100)*Limit
                WHEN RateMode='Amount' AND Amount<=Limit THEN Amount
                ELSE Limit END AS ConsiderAmount
    FROM  (
        SELECT ContactID,
               CASE WHEN UnderIVSectionTypeID=0 THEN IVSectionTypeID
                    ELSE UnderIVSectionTypeID END AS IVSectionTypeID,
               CASE WHEN UnderIVSectionTypeID=0 THEN Section ELSE '80 C' END AS Section,
               RateMode, Limit,
               SUM(Amount) AS Amount
        FROM  (
            SELECT * FROM #Savings
            UNION ALL
            SELECT s.ContactID, 19,
                   CASE WHEN (s.Amount - b.Limit) < 0 THEN 0 ELSE (s.Amount - b.Limit) END,
                   s.ITMonth, s.ITTotal
            FROM   #Savings s
            INNER JOIN #IVRates B ON b.IVTypeID = s.IVTypeID
            WHERE  s.IVTypeID = 85
        ) A
        INNER JOIN #IVRates B
               ON  b.IVTypeID = CASE WHEN a.IVTypeID = 367 THEN 36 ELSE a.IVTypeID END
               AND IVMainTypeID IN (2,3)
        GROUP BY ContactID,
                 CASE WHEN UnderIVSectionTypeID=0 THEN IVSectionTypeID ELSE UnderIVSectionTypeID END,
                 CASE WHEN UnderIVSectionTypeID=0 THEN Section ELSE '80 C' END,
                 RateMode, Limit
    ) A
) A
GROUP BY ContactID

CREATE CLUSTERED INDEX CIX_Savings1 ON #Savings1 (ContactID)

/* ══════════════════════════════════════════════════════════════
   FINAL SELECT  –  identical projection & filter to original
   ══════════════════════════════════════════════════════════════ */
SELECT AcOfficeLocation,OfficeLocation,ContactID,ContactName,Designation,Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross,HRAExemption,Otherthan80C,Amount80C,AfterSavings,Rebate,NetTax,AfterRebate,Cess,ITReliefAmount,TotalTax,TotalNetTax,ITSource,BalanceTax,ITSourceMonth,ITMonth,ITDiff
FROM  (
    SELECT a.*,
           ROUND((((CASE WHEN BalanceTax<0 THEN 0 ELSE BalanceTax END)
                   / (ProjectedMonths+1))/10),0)*10 AS ITMonth,
           (ROUND((((CASE WHEN BalanceTax<0 THEN 0 ELSE BalanceTax END)
                   / (ProjectedMonths+1))/10),0)*10) - ITSourceMonth AS ITDiff,
           (BalanceTax - (ROUND((((CASE WHEN BalanceTax<0 THEN 0 ELSE BalanceTax END)
                   / (ProjectedMonths+1))/10),0)*10)) AS ITBalance,
           ISNULL(b.Amount,0) AS AdvanceIT
    FROM  (
        SELECT a.*,
               ROUND(((AfterRebate+Cess)/10),0)*10 AS TotalTax,
               CASE WHEN (ROUND((((ROUND(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10)<100
                    THEN 0
                    ELSE  ROUND((((ROUND(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10
               END AS TotalNetTax,
               ISNULL(ITSource,0) AS ITSource,
               (CASE WHEN (ROUND((((ROUND(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10)<100
                     THEN 0
                     ELSE  ROUND((((ROUND(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10
               END - ISNULL(ITSource,0)) AS BalanceTax,
               ISNULL(ITMonth,0) AS ITSourceMonth
        FROM  (
            SELECT a.*,
                   CASE WHEN (NetTax-Rebate)<0 THEN 0 ELSE (NetTax-Rebate) END AS AfterRebate,
                   ROUND(ROUND((CASE WHEN (NetTax-Rebate)<0 THEN 0 ELSE (NetTax-Rebate) END)
                                * (ISNULL(Rates,0)/100),2),0) AS Cess,
                   ISNULL(ITReliefAmount,0) AS ITReliefAmount
            FROM  (
                SELECT ProjectedMonths,AcOLID,AcOfficeLocation,OLID,OfficeLocation,
                       a.ContactID,ContactName,Designation,
                       Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross,
                       CASE WHEN HRAExemption<=10 THEN 0 ELSE HRAExemption END AS HRAExemption,
                       Otherthan80C,Amount80C,AfterSavings,Rebate,
                       ROUND(ROUND(SUM(CASE WHEN Units1<0 THEN 0
                                            ELSE Units1*(Rates/100) END),2),0) AS NetTax
                FROM  (
                    SELECT a.*,
                           CASE WHEN (ToUnits-(FromUnits-CASE WHEN FromUnits=0 THEN 0 ELSE 1 END))
                                     < (AfterSavings-(FromUnits-1))
                                THEN (ToUnits-(FromUnits-CASE WHEN FromUnits=0 THEN 0 ELSE 1 END))
                                ELSE (AfterSavings-(FromUnits-1)) END AS Units1,
                           Rates
                    FROM  (
                        SELECT *,
                               Gross - (CASE WHEN HRAExemption<10 THEN 0 ELSE HRAExemption END
                                        + Otherthan80C + Amount80C) AS AfterSavings,
                               CASE WHEN (Gross-(CASE WHEN HRAExemption<10 THEN 0 ELSE HRAExemption END
                                                 + Otherthan80C+Amount80C)) <= TaxableAmtLimit
                                    THEN ITRebate ELSE 0 END AS Rebate
                        FROM  (
                            SELECT c1.ContactID AS NR_CID,
                                   AcOLID,AcOfficeLocation,OLID,OfficeLocation,
                                   a.ContactID,ContactName,Designation,
                                   TaxableAmtLimit,ITRebate,Age1,Gender1,
                                   Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross,
                                   CASE WHEN c1.ContactID IS NOT NULL THEN 0
                                        ELSE CASE WHEN (CASE WHEN ExcessRent<=0
                                                             THEN ((ARent+DRent)-HRA)
                                                             ELSE ExcessRent END) < HRA
                                                  THEN CASE WHEN ExcessRent<=0
                                                            THEN ((ARent+DRent)-HRA)
                                                            ELSE ExcessRent END
                                                  ELSE CASE WHEN HRA<Percent40 THEN HRA
                                                            ELSE Percent40 END
                                             END
                                   END AS HRAExemption,
                                   BP,DP,ARent,DRent,Percent10,HRA,Percent40,ExcessRent,
                                   (ISNULL(d.Otherthan80C,0)
                                    + CASE WHEN (RELS+ISNULL(IVRELS,0))<=RELSR
                                           THEN (RELS+ISNULL(IVRELS,0)) ELSE RELSR END
                                    + CASE WHEN c1.ContactID IS NOT NULL THEN 0
                                           ELSE (CASE WHEN (Convey+ISNULL(IVConvey,0))<=ConveyR
                                                      THEN CASE WHEN (Convey+ISNULL(IVConvey,0))<0
                                                                THEN 0
                                                                ELSE (Convey+ISNULL(IVConvey,0)) END
                                                      ELSE ConveyR END
                                                + CASE WHEN (HCA+ISNULL(IVHCA,0))<=HCAR
                                                       THEN CASE WHEN (HCA+ISNULL(IVHCA,0))<0
                                                                 THEN 0
                                                                 ELSE (HCA+ISNULL(IVHCA,0)) END
                                                       ELSE HCAR END)
                                      END) AS Otherthan80C,
                                   ISNULL(Amount80C,0) AS Amount80C,
                                   ProjectedMonths
                            FROM  (
                                SELECT AcOLID,AcOfficeLocation,OLID,OfficeLocation,
                                       a.ContactID,ContactName,Designation,
                                       TaxableAmtLimit,ITRebate,Age1,Gender1,
                                       Regular,Arrears,Shift,DW,Bonus,ELS,
                                       ISNULL(ConsiderAmount,0) AS OtherIncome,
                                       (ISNULL(a.Perqs,0)+ISNULL(c.Perqs,0)) AS Perqs,
                                       (Regular+Arrears+Shift+DW+Bonus+ELS
                                        +ISNULL(ConsiderAmount,0)
                                        +ISNULL(a.Perqs,0)+ISNULL(c.Perqs,0)) AS Gross,
                                       BP,DP,ARent,DRent,
                                       ROUND(ROUND((BP+DP)*0.1,2),0) AS Percent10,
                                       HRA,
                                       ROUND(ROUND((BP+DP)*0.4,2),0) AS Percent40,
                                       ((ARent+DRent)-ROUND(ROUND((BP+DP)*0.1,2),0)) AS ExcessRent,
                                       Convey,HCA,RELS,ProjectedMonths
                                FROM  (
                                    SELECT AcOLID,AcOfficeLocation,OLID,OfficeLocation,
                                           ContactID,ContactName,Designation,
                                           TaxableAmtLimit,ITRebate,Age1,Gender1,
                                           SUM(Regular) AS Regular,SUM(Arrears) AS Arrears,
                                           SUM(Shift)   AS Shift, SUM(DW)      AS DW,
                                           SUM(Bonus)   AS Bonus, SUM(ELS)     AS ELS,
                                           SUM(Perqs)   AS Perqs,
                                           SUM(BP)      AS BP,    SUM(DP)      AS DP,
                                           SUM(HRA)     AS HRA,   SUM(ARent)   AS ARent,
                                           SUM(Convey)  AS Convey,SUM(HCA)     AS HCA,
                                           SUM(RELS)    AS RELS,
                                           ROUND(ROUND(SUM(DRent),2),0) AS DRent,
                                           ProjectedMonths
                                    FROM  (
                                        SELECT a.*,
                                               Rent + CASE WHEN ProjectedAmt!=0 AND RentDays=BRDays
                                                           THEN ISNULL(ProjectedMonths,0)*Rent
                                                           ELSE 0 END AS ARent
                                        FROM  (
                                            SELECT AcOLID,AcOfficeLocation,OLID,OfficeLocation,
                                                   ContactID,ContactName,Designation,
                                                   TaxableAmtLimit,ITRebate,Age1,Gender1,
                                                   a.SRID,ALEDays,RentDays,
                                                   (Regular+ProjectedAmt) AS Regular,
                                                   (Arrears+SUM(ISNULL(b.Amount,0))) AS Arrears,
                                                   Shift,DW,Bonus,ELS,Perqs,BP,DP,
                                                   (HRA+SUM(CASE WHEN b.TypeID=29 THEN ISNULL(b.Amount,0) ELSE 0 END)) AS HRA,
                                                   CASE WHEN SlNo=1 AND HRA!=0 THEN DRent ELSE 0 END AS DRent,
                                                   ProjectedAmt,BRDays,ProjectedMonths,
                                                   Convey,HCA,RELS,Rent
                                            FROM  (
                                                SELECT AcOLID, ola.Fileas AS AcOfficeLocation,
                                                       ol.OLID, ol.OfficeLocation,
                                                       a.ContactID, ct.Fileas AS ContactName,
                                                       (DesignationName+' ('+DepartmentCode+')') AS Designation,
                                                       PANNo,TaxableAmtLimit,ITRebate,Age1,Gender1,
                                                       ProjectedMonths,
                                                       ISNULL(ALEDays,0) AS ALEDays, Rate,
                                                       ISNULL(q.QtrDays, CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0
                                                                              ELSE DAY(EOMONTH(StartingDate)) END) AS RentDays,
                                                       DAY(EOMONTH(StartingDate)) AS BRDays,
                                                       b.ScaleRegisterID AS SRID,
                                                       SUM(CASE WHEN b.Suppliment1 IN (0,9) THEN Amount ELSE 0 END) AS Regular,
                                                       SUM(CASE WHEN b.Suppliment1 NOT IN (0,9,4,5,3,2,7) THEN ISNULL(Amount,0) ELSE 0 END) AS Arrears,
                                                       SUM(CASE WHEN b.Suppliment1=4 THEN Amount ELSE 0 END) AS Shift,
                                                       SUM(CASE WHEN b.Suppliment1=5 THEN Amount ELSE 0 END) AS DW,
                                                       SUM(CASE WHEN b.Suppliment1=3 THEN Amount ELSE 0 END) AS Bonus,
                                                       SUM(CASE WHEN b.Suppliment1 IN (2,7) THEN Amount ELSE 0 END) AS ELS,
                                                       (ISNULL(ProjectedMonths,0)*SUM(CASE WHEN TobeProject=1 THEN Amount ELSE 0 END)) AS ProjectedAmt,
                                                       CASE WHEN b.Suppliment1 IN (0,9)
                                                            THEN ROW_NUMBER() OVER (
                                                                   PARTITION BY a.ContactID,YEAR(StartingDate),MONTH(StartingDate)
                                                                   ORDER BY a.ContactID,YEAR(StartingDate),MONTH(StartingDate),
                                                                       CASE WHEN SUM(CASE WHEN b.Suppliment1 IN (0,9) THEN ISNULL(Amount,0) ELSE 0 END)=0 THEN 2 ELSE 1 END,
                                                                       b.ScaleRegisterID)
                                                            ELSE 0 END AS SlNo,
                                                       ((ISNULL(ProjectedMonths,0)*(CASE WHEN TobeProject=1 THEN ISNULL(ConsiderAmount,0)/12 ELSE 0 END))
                                                        + CASE WHEN q.QtrDays IS NULL OR q.QtrDays IS NOT NULL
                                                               THEN ISNULL(ConsiderAmount,0)/12 ELSE 0 END) AS DRent,
                                                       ROUND(ROUND(Rate*((
                                                           (SUM(CASE WHEN b.Suppliment1 IN (0,9) THEN ROUND(ROUND((Amount/DAY(EOMONTH(BRDate)))*ISNULL(ALEDays,0),2),0) ELSE 0 END)
                                                            +SUM(CASE WHEN b.Suppliment1 IN (0,9) AND TobeProject=1 AND ISNULL(ALEDays,0)=DAY(EOMONTH(BRDate)) THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END))
                                                           -(SUM(CASE WHEN b.Suppliment1 IN (0,9) AND Types='AL' AND TypeID=1 THEN ROUND(ROUND((Amount/DAY(EOMONTH(BRDate)))*ISNULL(ALEDays,0),2),0) ELSE 0 END)
                                                            +SUM(CASE WHEN b.Suppliment1 IN (0,9) AND Types='AL' AND TypeID=1 AND TobeProject=1 AND ISNULL(ALEDays,0)=DAY(EOMONTH(BRDate)) THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END))
                                                           +(SUM(CASE WHEN b.Suppliment1 NOT IN (0,9,4,5,2,7) AND BRDate<p1.ToDate THEN ROUND(ROUND(Amount,2),0) ELSE 0 END)
                                                            -SUM(CASE WHEN b.Suppliment1 NOT IN (0,9,4,5,2,7) AND Types='AL' AND TypeID=1 AND BRDate<p1.ToDate THEN ROUND(ROUND(Amount,2),0) ELSE 0 END))
                                                       )),2),0) AS Perqs,
                                                       (SUM(CASE WHEN Suppliment IN (9) AND b.Suppliment1 NOT IN (0,9) AND Types='AL' AND TypeID=2 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5,0,9) AND Types='AL' AND TypeID=2 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment1 IN (0,9) AND Types='AL' AND TypeID=2 AND ISNULL(ConsiderAmount,0)=0
                                                                  THEN ROUND(ROUND((Amount/DAY(EndingDate-StartingDate))*ISNULL(
                                                                             CASE WHEN q.QtrDays>DAY(EndingDate-StartingDate) THEN DAY(EndingDate-StartingDate) ELSE q.QtrDays END,
                                                                             CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0 ELSE DAY(EOMONTH(StartingDate)) END),2),0)
                                                                  ELSE CASE WHEN Suppliment1 IN (0,9) AND Types='AL' AND TypeID=2 AND ISNULL(ConsiderAmount,0)!=0 THEN Amount ELSE 0 END END)
                                                        +SUM(CASE WHEN Suppliment1 IN (0,9) AND Types='AL' AND TypeID=2 AND TobeProject=1
                                                                   AND ISNULL(q.QtrDays,CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0 ELSE DAY(EOMONTH(StartingDate)) END)=DAY(EOMONTH(StartingDate))
                                                                  THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END)) AS HRA,
                                                       (SUM(CASE WHEN Suppliment IN (9) AND b.Suppliment1 NOT IN (0,9) AND Types='AL' AND TypeID=20 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5,0,9) AND Types='AL' AND TypeID=20 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment1 IN (0,9) AND Types='AL' AND TypeID=20 AND ISNULL(ConsiderAmount,0)=0
                                                                  THEN ROUND(ROUND((Amount/DAY(EndingDate-StartingDate))*ISNULL(
                                                                             CASE WHEN q.QtrDays>DAY(EndingDate-StartingDate) THEN DAY(EndingDate-StartingDate) ELSE q.QtrDays END,
                                                                             CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0 ELSE DAY(EOMONTH(StartingDate)) END),2),0)
                                                                  ELSE CASE WHEN Suppliment1 IN (0,9) AND Types='AL' AND TypeID=20 AND ISNULL(ConsiderAmount,0)!=0 THEN Amount ELSE 0 END END)
                                                        +SUM(CASE WHEN Suppliment1 IN (0,9) AND Types='AL' AND TypeID=20 AND TobeProject=1
                                                                   AND ISNULL(q.QtrDays,CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0 ELSE DAY(EOMONTH(StartingDate)) END)=DAY(EOMONTH(StartingDate))
                                                                  THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END)) AS DP,
                                                       (SUM(CASE WHEN Suppliment IN (9) AND b.Suppliment1 NOT IN (0,9) AND Types='BP' AND TypeID=1 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5,0,9) AND Types='BP' AND TypeID=1 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment1 IN (0,9) AND Types='BP' AND TypeID=1 AND ISNULL(ConsiderAmount,0)=0
                                                                  THEN ROUND(ROUND((Amount/DAY(EndingDate-StartingDate))*ISNULL(
                                                                             CASE WHEN q.QtrDays>DAY(EndingDate-StartingDate) THEN DAY(EndingDate-StartingDate) ELSE q.QtrDays END,
                                                                             CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0 ELSE DAY(EOMONTH(StartingDate)) END),2),0)
                                                                  ELSE CASE WHEN Suppliment1 IN (0,9) AND Types='BP' AND TypeID=1 AND ISNULL(ConsiderAmount,0)!=0 THEN Amount ELSE 0 END END)
                                                        +SUM(CASE WHEN Suppliment1 IN (0,9) AND Types='BP' AND TypeID=1 AND TobeProject=1
                                                                   AND ISNULL(q.QtrDays,CASE WHEN ISNULL(ConsiderAmount,0)=0 THEN 0 ELSE DAY(EOMONTH(StartingDate)) END)=DAY(EOMONTH(StartingDate))
                                                                  THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END)) AS BP,
                                                       (SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5) AND c.InvestmentTypeID NOT IN (0,80) THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5) AND c.InvestmentTypeID NOT IN (0,80) AND TobeProject=1 THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END)) AS Convey,
                                                       (SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5) AND c.InvestmentTypeID=80 THEN Amount ELSE 0 END)
                                                        +SUM(CASE WHEN Suppliment NOT IN (2,7,3,4,5) AND c.InvestmentTypeID=80 AND TobeProject=1 THEN ISNULL(ProjectedMonths,0)*Amount ELSE 0 END)) AS HCA,
                                                       SUM(CASE WHEN Suppliment=7 THEN Amount ELSE 0 END) AS RELS,
                                                       ISNULL(srd.Rent,0) AS Rent
                                                FROM   #SRID A
                                                CROSS APPLY (SELECT ContactID, FileAS FROM Contacts CT WITH (NOLOCK) WHERE ct.ContactID = a.ContactID) CT
                                                LEFT  JOIN ODLDAllocation ODLD WITH (NOLOCK) ON odld.ODLDID = a.ODLDID
                                                LEFT  JOIN Department DP WITH (NOLOCK) ON dp.DepartmentID = odld.DepartmentID
                                                LEFT  JOIN Designation DN ON dn.DesignationID = odld.DesignationID
                                                LEFT  JOIN #AcOL ol ON ol.OfficeID=odld.OfficeID AND ol.LocationID=odld.LocationID
                                                CROSS APPLY (SELECT OfficeLocationAllocationID, FileAS FROM OfficeLocationAllocation OLA WITH (NOLOCK) WHERE ola.OfficeLocationAllocationID = ol.AcOLID) OLA
                                                FULL  JOIN #DOJ D ON d.ContactID = a.ContactID
                                                LEFT  JOIN #EIVDetails E62 ON e62.InvestmentTypeID=62 AND e62.ContactID=a.ContactID
                                                FULL  JOIN (SELECT IVTypeID,Ratemode,(Limit/100) AS Rate FROM #IVRates WHERE IVTypeID=68) R ON IVTypeID=68
                                                FULL  JOIN #SRID1 B ON b.ContactID = a.ContactID
                                                FULL  JOIN #Qtr Q ON q.ContactID=b.ContactID
                                                       AND q.YearID  = CASE WHEN Suppliment=1 OR (StartingDate<@FromFyYear AND Suppliment=9) THEN YEAR(BRDate)   ELSE YEAR(StartingDate)  END
                                                       AND q.MonthID = CASE WHEN Suppliment=1 OR (StartingDate<@FromFyYear AND Suppliment=9) THEN MONTH(BRDate)  ELSE MONTH(StartingDate) END
                                                OUTER APPLY (SELECT ScaleRegisterID, SUM(Amount) AS Rent
                                                             FROM   #SRD srd WHERE Types='OD' AND TypeID IN (10,20) AND srd.ScaleRegisterID=b.ScaleRegisterID
                                                             GROUP BY ScaleRegisterID) srd
                                                FULL  JOIN #Perqs P  ON p.ContactID=b.ContactID AND p.YearID=YEAR(StartingDate)   AND p.MonthID=MONTH(StartingDate)
                                                OUTER APPLY (SELECT TOP 1 ContactID, ToDate FROM #Perqs p1 WHERE p1.ContactID=b.ContactID) P1
                                                FULL  JOIN #SRE C ON c.ScaleRegisterID = b.ScaleRegisterID
                                                GROUP BY AcOLID,ola.Fileas,ol.OLID,ol.OfficeLocation,a.ContactID,ct.Fileas,DesignationName,DepartmentCode,PANNo,
                                                         TaxableAmtLimit,ITRebate,Age1,Gender1,ProjectedMonths,b.ScaleRegisterID,ALEDays,Rate,q.QtrDays,
                                                         DAY(EOMONTH(StartingDate)),ISNULL(ConsiderAmount,0),TobeProject,YEAR(StartingDate),MONTH(StartingDate),
                                                         b.Suppliment1,srd.Rent
                                                HAVING AcOLID IS NOT NULL
                                            ) A
                                            FULL JOIN #SRRC B ON b.SRID = a.SRID
                                            GROUP BY AcOLID,AcOfficeLocation,OLID,OfficeLocation,ContactID,ContactName,Designation,
                                                     Regular,ProjectedAmt,Arrears,Shift,DW,Bonus,ELS,Perqs,BP,DP,HRA,a.SRID,
                                                     TaxableAmtLimit,ITRebate,Age1,Gender1,ALEDays,RentDays,ProjectedMonths,BRDays,
                                                     Convey,HCA,RELS,CASE WHEN SlNo=1 AND HRA!=0 THEN DRent ELSE 0 END,Rent
                                        ) A
                                    ) A
                                    GROUP BY AcOLID,AcOfficeLocation,OLID,OfficeLocation,ContactID,ContactName,Designation,
                                             TaxableAmtLimit,ITRebate,Age1,Gender1,ProjectedMonths
                                ) A
                                FULL JOIN (SELECT ContactID, SUM(ConsiderAmount) AS ConsiderAmount
                                           FROM   #EIVDetails A
                                           WHERE  InvestmentTypeID IN (SELECT IVTypeID FROM #IVRates B WHERE b.IVTypeID=a.InvestmentTypeID AND IVMainTypeID=4)
                                           GROUP BY ContactID
                                           UNION ALL SELECT * FROM #RCIncome) B
                                       ON b.ContactID = a.ContactID
                                FULL JOIN (SELECT ContactID, SUM(Amount) AS Perqs
                                           FROM  (SELECT ContactID,InvestmentTypeID,ConsiderAmount,RateMode,Limit,
                                                         CASE WHEN RateMode='Percentage' THEN (ConsiderAmount/100)*Limit
                                                              WHEN RateMode='Amount' AND LimitPart='Above' AND Limit>=ConsiderAmount THEN 0
                                                              ELSE (ConsiderAmount-Limit) END AS Amount
                                                  FROM   #EIVDetails A
                                                  INNER JOIN #IVRates B ON b.IVTypeID=a.InvestmentTypeID AND IVMainTypeID=1 AND IVTypeID!=68) A
                                           GROUP BY ContactID) C
                                       ON c.ContactID = a.ContactID
                            ) A
                            CROSS JOIN (SELECT MAX(CASE WHEN IVTypeID=53 THEN Limit ELSE 0 END) AS RELSR,
                                               MAX(CASE WHEN IVTypeID=80 THEN Limit ELSE 0 END) AS HCAR,
                                               MAX(CASE WHEN IVTypeID NOT IN (53,80) THEN Limit ELSE 0 END) AS ConveyR
                                        FROM   #IVRates WHERE IVMainTypeID=2 AND IVTypeID IN (53,80,72,73,74,75,76,77,78,79)) B
                            FULL  JOIN (SELECT ContactID,
                                               SUM(CASE WHEN InvestmentTypeID=53 THEN ConsiderAmount ELSE 0 END) AS IVRELS,
                                               SUM(CASE WHEN InvestmentTypeID=80 THEN ConsiderAmount ELSE 0 END) AS IVHCA,
                                               SUM(CASE WHEN InvestmentTypeID NOT IN (53,80) THEN ConsiderAmount ELSE 0 END) AS IVConvey
                                        FROM   #EIVDetails WHERE InvestmentTypeID IN (53,80,72,73,74,75,76,77,78,79)
                                        GROUP BY ContactID) C
                                   ON c.ContactID = a.ContactID
                            FULL  JOIN #Savings1 D ON d.ContactID = a.ContactID
                            LEFT  JOIN #NewRegime C1 ON c1.ContactID = a.ContactID
                        ) A
                        WHERE CASE WHEN AcOLID IS NOT NULL THEN 1 ELSE 0 END = 1
                    ) A
                    LEFT OUTER JOIN #Rates1 B
                           ON  b.Gender    = a.Gender1 COLLATE database_default
                           AND b.Age       = a.Age1
                           AND b.NewRegime = CASE WHEN a.NR_CID IS NULL THEN 0 ELSE 1 END
                ) A
                GROUP BY ProjectedMonths,AcOLID,AcOfficeLocation,OLID,OfficeLocation,
                         a.ContactID,ContactName,Designation,
                         Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross,
                         HRAExemption,Otherthan80C,Amount80C,AfterSavings,Rebate
            ) A
            CROSS JOIN (SELECT Rates FROM FnRateDetails()
                        WHERE  RateTypes='Deductions' AND RateTypeID=24 AND ToDate IS NULL) B
            FULL  JOIN #ITRelief C ON c.ContactID = a.ContactID
        ) A
        FULL JOIN (SELECT ContactID, ITMonth, (ITTotal-ITMonth) AS ITSource
                   FROM   #Savings WHERE IVTypeID=0) B
               ON b.ContactID = a.ContactID
    ) A
    FULL JOIN #AdvanceIT B ON b.ContactID = a.ContactID
) A
WHERE  CASE WHEN AdvanceIT=0 THEN 0
            ELSE CASE WHEN AdvanceIT=ITSourceMonth THEN 1 ELSE 0 END
       END = 0
AND    ITDiff != 0
ORDER  BY ITDiff DESC
OPTION (RECOMPILE)

/* ── Cleanup ───────────────────────────────────────────────── */
IF OBJECT_ID('tempdb..#AcOL')           IS NOT NULL DROP TABLE #AcOL
IF OBJECT_ID('tempdb..#ContactID2')     IS NOT NULL DROP TABLE #ContactID2
IF OBJECT_ID('tempdb..#SRID3')          IS NOT NULL DROP TABLE #SRID3
IF OBJECT_ID('tempdb..#ContactID')      IS NOT NULL DROP TABLE #ContactID
IF OBJECT_ID('tempdb..#Today')          IS NOT NULL DROP TABLE #Today 
IF OBJECT_ID('tempdb..#GeneralSetting') IS NOT NULL DROP TABLE #GeneralSetting
IF OBJECT_ID('tempdb..#MnDate')         IS NOT NULL DROP TABLE #MnDate
IF OBJECT_ID('tempdb..#ECID')           IS NOT NULL DROP TABLE #ECID
IF OBJECT_ID('tempdb..#NewRegime')      IS NOT NULL DROP TABLE #NewRegime
IF OBJECT_ID('tempdb..#NewRegimeIVTypes') IS NOT NULL DROP TABLE #NewRegimeIVTypes
IF OBJECT_ID('tempdb..#SRID')           IS NOT NULL DROP TABLE #SRID
IF OBJECT_ID('tempdb..#Rates')          IS NOT NULL DROP TABLE #Rates
IF OBJECT_ID('tempdb..#Rates1')         IS NOT NULL DROP TABLE #Rates1
IF OBJECT_ID('tempdb..#Expired')        IS NOT NULL DROP TABLE #Expired
IF OBJECT_ID('tempdb..#CID')            IS NOT NULL DROP TABLE #CID
IF OBJECT_ID('tempdb..#ITRelief')       IS NOT NULL DROP TABLE #ITRelief
IF OBJECT_ID('tempdb..#RCIncome')       IS NOT NULL DROP TABLE #RCIncome
IF OBJECT_ID('tempdb..#AdvanceIT')      IS NOT NULL DROP TABLE #AdvanceIT
IF OBJECT_ID('tempdb..#IVRates')        IS NOT NULL DROP TABLE #IVRates
IF OBJECT_ID('tempdb..#EIVID')          IS NOT NULL DROP TABLE #EIVID
IF OBJECT_ID('tempdb..#EIVDetails')     IS NOT NULL DROP TABLE #EIVDetails
IF OBJECT_ID('tempdb..#Qtr')            IS NOT NULL DROP TABLE #Qtr
IF OBJECT_ID('tempdb..#Perqs')          IS NOT NULL DROP TABLE #Perqs
IF OBJECT_ID('tempdb..#Savings')        IS NOT NULL DROP TABLE #Savings
IF OBJECT_ID('tempdb..#Savings1')       IS NOT NULL DROP TABLE #Savings1

GO
