USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_SQ1]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Data_Integrity_SQ1]  AS

-- Mismatches in StockQuantity and StockquantitySub table StockCondition wise Quantity in StockQuantity table should be equal to the sum of Quantity in StockQuantitySub table StockCondition wise. 
Declare @Data Table (StockQuantityid int,Itemid int,Quantity Money,Value1 Money,OLID int,SerialFlag Int,StockConditionID int,SCID Int,UnitID int) 
insert into @Data
select P.stockquantityid,P.itemid,P.Quantity,sum(isnull(cast(value as numeric(18,4)),0)) value1,P.OLID,SerialFlag,StockConditionID,SCID,UnitID from (
select sq.stockquantityid,sq.itemid,sq.Quantity,sq.olid,sq.StockConditionID,isnull(SerialFlag,0) SerialFlag,sq.UnitID,sqs.StockConditionID SCID
,(select value from fn_convertQty(sq.itemid,sq.unitid,sqs.unitid,sqs.quantity)) as value
from ( select StockQuantityID,ItemID,OLID,isnull(GoodQuantity,0) Quantity,1 StockConditionID,UnitID from stockquantity sq with(nolock) union all 
	select StockQuantityID,ItemID,OLID,isnull(ReleasedGoodQuantity,0) Quantity,2 StockConditionID,UnitID from stockquantity sq with(nolock) union all 
	select StockQuantityID,ItemID,OLID,isnull(ReleasedFaultyQuantity,0) Quantity,3 StockConditionID,UnitID from stockquantity sq with(nolock) union all 
	select StockQuantityID,ItemID,OLID,isnull(ReleasedScrapQuantity,0) Quantity,4 StockConditionID,UnitID from stockquantity sq with(nolock) ) sq 
left join Stock s with(nolock) on s.ItemID=sq.ItemID 
left join stockquantitysub sqs with(nolock) on sq.StockQuantityID=sqs.StockQuantityID and sqs.StockConditionID=sq.StockConditionID
) P group by P.stockquantityid,P.itemid,P.Quantity,P.OLID,SerialFlag,StockConditionID,SCID,UnitID
having isnull(P.Quantity,0)!=sum(isnull(cast(value as numeric(18,4)),0)) 
 
 ;
 insert into stockquantitysub 
select StockQuantityID,Quantity,UnitID,StockConditionID,'123456789' SerialNo,0 Dispatched
from @Data where SCID is NULL 

;
 insert into SerialFlag_True_StockQuantity 
select *,'Mismatch Quantity' Remarks from @Data where SerialFlag = 1
--select * from SerialFlag_True_StockQuantity

;
--select * 
 delete 
from StockQuantitySub where StockQuantitySubID in (
select StockQuantitySubID from (
select b.* ,(Row_Number() over (Partition By a.StockQuantityID,a.StockConditionID Order By a.StockQuantityID,a.StockConditionID,StockQuantitySubID)) SlNo 
from @Data A inner join StockQuantitySub B with(nolock) on b.StockQuantityID=a.StockQuantityID and b.StockConditionID=isnull(a.StockConditionID,0)
where SerialFlag = 0 ) A where SlNo != 1 )

;
--select a.* ,b.Quantity 
 update b set b.Quantity = a.Quantity 
from ( select a.* from (
select a.* ,(Row_Number() over (Partition By a.StockQuantityID,a.StockConditionID Order By a.StockQuantityID,a.StockConditionID,StockQuantitySubID)) SlNo,b.Quantity Quantity1,StockQuantitySubID
from @Data A inner join StockQuantitySub B with(nolock) on b.StockQuantityID=a.StockQuantityID and b.StockConditionID=isnull(a.StockConditionID,0)
where SerialFlag = 0 
) A where SlNo = 1 ) A 
inner join StockQuantitySub B with(nolock) on b.StockQuantitySubID=a.StockQuantitySubID 
where b.Quantity != a.Quantity 

----------------------------------------------------------------------------
GO
