USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_OverHeadAssetDetailsOnSave]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OverHeadAssetDetailsOnSave] @SENo varchar(200)  as   
SET NOCOUNT ON

--Declare @SENo varchar(max) set @SENo=218487

DECLARE @DynamicPivotQuery AS NVARCHAR(MAX), @DynamicPivotQuery1 AS NVARCHAR(MAX),@DynamicPivotQuery2 AS NVARCHAR(MAX),
@PivotColumnNames AS NVARCHAR(MAX), @PivotSelectColumnNames AS NVARCHAR(MAX),@PivotColumnNames1 AS NVARCHAR(MAX)
Declare @sqlFinal NVARCHAR(MAX)
Declare @sqlFinal1 NVARCHAR(MAX)


Declare @PivotDescription Table (ESAssetCatID Bigint,Description varchar(200))
insert into @PivotDescription
select   ESAssetCatID,(case when Final.Asstcat like '10.602%'  and Final.Asstcat like '%HT%' then substring(Final.Asstcat,1,6) + ' HT' when Final.Asstcat like '10.602%'  and Final.Asstcat like '%LT%' then substring(Final.Asstcat,1,6) + ' LT' else  substring(Final.Asstcat,1,6)  end) Description
from ( select ESAssetCatID,SEOWAID, Asstcat,OverHd, ReviserdAmt
from ESOverheadOnSave(@SENo) ) As Final 
order By ESAssetCatID,SEOWAID



Declare @PivotDescription1 Table (Description varchar(200),SlNo1 int)
insert into @PivotDescription1
select Description,Rn1 from (
select Row_Number () over ( order by SlNo,ESAssetCatID) Rn1,* from (
select Row_Number () over ( partition by Description order by ESAssetCatID,SlNo) Rn,* from (
select distinct ESAssetCatID,Description,1 SlNo from @PivotDescription
union
select 20000000,concat(MainAccountCode,SubAccountCode) collate database_default,2 from WorkAllocationSub
where workAllocationID=6 and concat(MainAccountCode,SubAccountCode) collate database_default<>'10.602') as P) as Q where Rn=1) as P where Rn1<=12
order by SlNo


select @PivotColumnNames1= ISNULL(@PivotColumnNames1 + ',','')+Descr
from ( SELECT  distinct  QUOTENAME(Description) Descr,SLNo1
FROM @PivotDescription1 )as P
order by SLNo1

select @PivotColumnNames= ISNULL(@PivotColumnNames + ',','')+Descr
from (  SELECT  distinct  ( 'isnull('+QUOTENAME(Description)+','''')'+QUOTENAME(Description)) Descr,SLNo1
FROM @PivotDescription1 )as P
order by SLNo1




set @sqlFinal='select Particulars,'+@PivotColumnNames+',concat(InitialTotal,'' / '',RevisedTotal) Amount from (
select CivilWorkOtherTypeID,AsstCategory ,Particulars ,ReviserdAmt,Cast(CONVERT(DECIMAL(10,2),InitialTotal) as nvarchar)  AS InitialTotal,convert(varchar(200),Cast(CONVERT(DECIMAL(10,2),RevisedTotal) as nvarchar) ) AS RevisedTotal

from ( select  CivilWorkOtherTypeID,(case when Final.Asstcat like ''10.602%''  and Final.Asstcat like ''%HT%'' then substring(Final.Asstcat,1,6) + '' HT'' when Final.Asstcat like ''10.602%''  and Final.Asstcat like ''%LT%'' then substring(Final.Asstcat,1,6) + '' LT'' else  substring(Final.Asstcat,1,6)  end) AsstCategory
,Final.OverHd as Particulars,Final.ReviserdAmt,B.initialTot as InitialTotal,B.RevisedTot as RevisedTotal,Dense_rank () over ( order by Asstcat) Rn1 from (
select CivilWorkOtherTypeID,ESAssetCatID,SEOWAID, Asstcat,OverHd, ReviserdAmt
from ESOverheadOnSave('+@SENo+')
/*where (isnull(InitialAmount,0)<>''0'' or  isnull(amount,0)<>''0'')  */) As Final
Left join ( select OverHd,Sum(EIAmt) initialTot,Sum(ERAmt) as RevisedTot from ( select ESAssetCatID ,SEOWAID, Asstcat,OverHd, round(InitialAmount,2)EIAmt,round(amount,2)ERAmt,ReviserdAmt from ESOverheadOnSave('+@SENo+') ) As Final
group by  OverHd ) B on Final.OverHd=B.OverHd ) A

) X PIVOT(    max(ReviserdAmt) FOR AsstCategory  IN ('+@PivotColumnNames1+')) AS PVTTable

Union all
select  ''Total'','''','''','''','''',	'''',	'''','''',	'''',	'''','''',	'''','''',	ReviserdAmt
from ESOverheadTotalOnSave('+@SENo+') ' 

exec(@sqlFinal)
GO
