USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Attendance]
@Config varchar(50),
@OLID varchar(6),
@OID varchar(6),
@DPID varchar(6),
@FromDate varchar(12),
@ToDate varchar(12)

AS 
SET NOCOUNT ON













delete from AFinal2



Declare @OLA1 table (OLID int,ODLDID int,OfficeName varchar(50),LocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),OID int,DPID int,LID int,DNID int)
Declare @OLA1Sql varchar(MAX) set @OLA1Sql= '
select distinct ola.OfficeLocationAllocationID as OLID,odld.ODLDID,o.OfficeName,l.LocationName,dn.DesignationName,dp.DepartmentName
,o.OfficeID as OID,dp.DepartmentID as DPID,l.LocationID as LID,dn.DesignationID as DNID
from ODLDAllocation odld 
left outer join Designation dn on dn.DesignationID=odld.DesignationID
left outer join Department dp on dp.DepartmentID=odld.DepartmentID
left outer join OfficeLocationAllocation ola on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left outer join Office o on o.OfficeID=ola.OfficeId
left outer join Location l on l.LocationID=ola.LocationID
where ola.OfficeLocationAllocationID in ('+@OLID+') 
'   insert into @OLA1  exec (@OLA1Sql)  


Declare @DPOID table (DPOID int)
Declare @DPOIDSql varchar(MAX) set @DPOIDSql= '
select (cast(DPID as varchar(10))+cast(OfficeID as varchar(4))) as DPOID from FnDPID('+@OID+','+@DPID+')
'   insert into @DPOID  exec (@DPOIDSql)  

Declare @OLA table (OLID int,ODLDID int,OfficeName varchar(50),LocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),OID int,DPID int,LID int,DNID int)
if @DPID=0
insert into @OLA
select * from @OLA1 else
insert into @OLA
select * from @OLA1 where (cast(DPID as varchar(10))+cast(OID as varchar(4))) in (select DPOID from @DPOID)


Declare @Emp table (ContactID int,ODLDID int,EmployeeName varchar(50))
Declare @ESql varchar(MAX) set @ESql= '
select distinct e.ContactId,e.ODLDID,ct.Fileas as EmployeeName
from Employee e inner join Contacts ct on ct.ContactID=e.ContactID
'  insert into @Emp exec (@ESql) 

Declare @HD table (HolidayYear int,HolidayDate datetime,HolidayDesc varchar(500))
Declare @HSql varchar(MAX) set @HSql= '
select HolidayYear,HolidayDate,Description from CompanyHolidays ch
inner join CompanyHolidayTypes cht on cht.CompanyHolidayTypeID = ch.CompanyHolidayTypeID
'  insert into @HD exec (@HSql) 


Declare @SR table (ContactID int,ODLDID int,ScaleRegisterid int,StartingDate datetime,EndingDate datetime ) 
insert into @SR
select distinct ContactID,srb.ODLDID,sr.ScaleRegisterid,sr.StartingDate,sr.EndingDate
from DaysOfDate d
inner join ScaleRegisterAttendences sra on cast(d.Days as DateTime) between StartAttendanceDate and LastAttendanceDate
inner join ScaleRegister sr on sr.ScaleRegisterid=sra.ScaleRegisterid
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterid=sra.ScaleRegisterid
where cast(d.Days as DateTime)>=@FromDate and cast(d.Days as DateTime)<=@ToDate


Declare @Date table (Days int,Date datetime,YearID int,MonthID int,Day int,WeekDay int,WeekName varchar(20),HolidayDesc varchar(100)) 
insert into @Date
select distinct Days,cast(Days as DateTime) as Date,Year(cast(Days as DateTime)) as YearID,Month(cast(Days as DateTime)) as MonthID,Day(cast(Days as DateTime)) as Day
,Datepart(dw,cast(Days as DateTime)) WeekDay,DateName(WeekDay,cast(Days as DateTime)) WeekName,HolidayDesc
from DaysOfDate left outer join @HD h on h.HolidayDate=cast(Days as DateTime)
where cast(Days as DateTime)>=@FromDate and cast(Days as DateTime)<=@ToDate

Declare @SR1 table (ScaleregisterID int,OLID int,ContactID int,OfficeName varchar(100),LocationName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),StartingDate datetime,EndingDate datetime )
insert into @SR1
select distinct sr.ScaleRegisterid,ol.OLID,sr.ContactID,ol.OfficeName,ol.LocationName 
,(case when l.ContactID is NULL then e.EmployeeName else (isnull(e.EmployeeName,'')+' - '+L.Lien) end) as EmployeeName
,ol.DesignationName,ol.DepartmentName,sr.StartingDate,sr.EndingDate
from (select distinct ContactID,ODLDID,ScaleRegisterid,StartingDate,EndingDate from @SR)  sr 
left outer join @EMP e on e.ContactID=sr.ContactID
inner join @OLA  ol on ol.ODLDID=(case when sr.ODLDID is null then e.ODLDID else sr.ODLDID end)

outer apply (select distinct a.ContactID,'Lien' as Lien from EmployeeAppointmentDetails a where a.AppointmentTypeID=23 and a.Approved=1 and a.Reported=1 and a.Relieved=1 
and a.Regularised=0  and ContactID is not NULL and ToODLDID is not NULL and a.ContactID=sr.ContactID union all
select distinct a.ContactID,'Deputation' as Lien from EmployeeAppointmentDetails a inner join @OLA1 odld on odld.ODLDID=a.ToODLDID and DepartmentName not in ('Vigilance')
where a.AppointmentTypeID=8 and a.Approved=1 and a.Reported=1 and a.Relieved=1 and a.Regularised=0  and ContactID is not NULL and ToODLDID is not NULL
and a.ContactID=sr.ContactID) as L


Declare @Attend table (OLID int,ContactID int,Date datetime,YearID int,StartAttendanceDate datetime,LastAttendanceDate datetime,MonthID int,MonthDesc varchar(20),Holiday varchar(100),Officename varchar(100),LocationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),Day int,YearID1 int,MonthID1 int,HolidayDesc varchar(100),WeekDay int)
insert into @Attend
select Distinct OLID,ContactID,d.Date
,(case when d.Day<=15 then d.YearID else (Case when d.MonthID=12 and d.Day>15 then d.YearID+1 else d.YearID end) end) as YearID
,StartAttendanceDate,LastAttendanceDate
,(case when d.Day<=15 then d.MonthID else (Case when d.MonthID=12 then d.MonthID-11 else d.MonthID+1 end) end) as MonthID
,(case when D.Day<=15 then DateName(Month,d.Date) else (Case when D.MonthID=12 then DateName(Month,Dateadd(month,-11,d.Date)) else DateName(Month,Dateadd(month,1,d.Date)) end) end) as MonthDesc
,isnull( isnull( (case when d.WeekDay=1 then d.WeekName else NULL end) , (case when d.WeekDay=7 and d.Day between 8 and 14 then d.WeekName else NULL end)) , d.HolidayDesc) as HoliDays
,Officename,LocationName,DepartmentName,EmployeeName ,DesignationName,d.Day,Year(d.Date) as YearID1,month(d.Date) as MonthID1,HolidayDesc,d.WeekDay
from @Date d
left outer join ScaleRegisterAttendences sa on cast(d.Days as DateTime) between StartAttendanceDate and LastAttendanceDate
inner join @SR1 ol on ol.scaleregisterid=sa.scaleregisterid 

Declare @LD table (ContactID int,LeaveDate datetime,FromDate datetime,ToDate datetime,LeaveTypes varchar(100),LeaveDesc varchar(100),CHDay varchar(20),LeaveTypeID int,YearID int,MonthID int,Day int,Weekday int,LeaveCount money)
insert into @LD
select distinct eld.ContactID,d.Date as LeaveDate,eld.FromDate,eld.ToDate,lt1.LeaveTypeCode as LeaveTypes,lt1.Description as LeaveDesc,NULL as CHDay,eld.LeaveTypeId,Year(d.Date) as YearID,month(d.Date) as MonthID,Day(d.Date) as Day,d.Weekday,LeaveCount
from @Date d
inner join EmployeeLeaveDetails eld on d.Date between eld.FromDate and eld.ToDate and eld.LeaveTypeId<>12 and isnull(Approved,0)=1 and isnull(Cancel,0)<>1
left outer join LeaveTypes lt1 on lt1.LeaveTypeID=eld.LeaveTypeID
union all
select distinct eld.ContactID,d.Date as LeaveDate,eld.FromDate,eld.ToDate,lt1.LeaveTypeCode as LeaveTypes,lt1.Description as LeaveDesc,(ltrim(str(Day(eld.ToDate)))+'-'+ltrim(str(month(eld.ToDate)))) as CHDay,eld.LeaveTypeId,Year(d.Date) as YearID,month(d.Date) as MonthID,Day(d.Date) as Day,d.Weekday,LeaveCount
from @Date d
inner join EmployeeLeaveDetails eld on d.Date= eld.FromDate and eld.LeaveTypeId=12 and isnull(Approved,0)=1 and isnull(Cancel,0)<>1
left outer join LeaveTypes lt1 on lt1.LeaveTypeID=eld.LeaveTypeID

Declare @AFinal table (OLID int,ContactID int,OfficeName varchar(100) ,LocationName varchar(100) ,DepartmentName varchar(100) ,EmployeeName varchar(100) ,DesignationName varchar(100) ,Date datetime,YearID int,MonthID int,MonthDesc  varchar(20),Days int,StartAttendanceDate datetime,LastAttendanceDate datetime,Holidays  varchar(100),FromDate datetime,ToDate datetime,LeaveTypes  varchar(100),LeaveDesc  varchar(100),HolidayCode varchar(10),Attendance varchar(20),HolidayDesc varchar(100),WeekDay int,LeaveTypeID int,LeaveCount int)
insert into @AFinal
select distinct a.OLID,a.ContactID ,a.OfficeName,a.LocationName,a.DepartmentName,a.EmployeeName,a.DesignationName,a.Date,a.YearID
,a.MonthID,a.MonthDesc,a.Day,a.StartAttendanceDate,a.LastAttendanceDate,a.Holiday,l.FromDate,l.ToDate
,((case when l1.LeaveTypes is null then '' else l1.LeaveTypes+' / ' end)+(case when l2.LeaveTypes is null then '' else l2.LeaveTypes end)+isnull(l.LeaveTypes,''))  as LeaveTypes
,isnull(isnull(l.LeaveDesc,l1.LeaveDesc),l2.LeaveDesc) as LeaveDesc
,((case when (case when HolidayDesc is not null then 'GH' else '' end)='' then '' else (case when HolidayDesc is not null then 'GH' else '' end)+' / ' end)+
(case when (case when Holiday='Saturday' then 'SS' else case when Holiday='Sunday' then (case when l3.LeaveTypeID=19 then '' else 'WH' end) else '' end end)='' then '' else 
(case when Holiday='Saturday' then 'SS' else case when Holiday='Sunday' then (case when l3.LeaveTypeID=19 then '' else 'WH' end) else '' end end)+' / ' end)) as HolidayCode
,((case when (case when HolidayDesc is not null then 'GH' else '' end)='' then '' else (case when HolidayDesc is not null then 'GH' else '' end)+' / ' end)+
(case when (case when Holiday='Saturday' then 'SS' else case when Holiday='Sunday' then (case when l3.LeaveTypeID=19 then '' else 'WH' end) else '' end end)='' then '' else 
(case when Holiday='Saturday' then 'SS' else case when Holiday='Sunday' then (case when l3.LeaveTypeID=19 then '' else 'WH' end) else '' end end)+' / ' end))+
isnull((case when l.LeaveTypeID=4 and l.LeaveCount=0.50 then 'x / CL' else 
case when l.LeaveTypeID=4 and l.LeaveCount<>0.50 then l.LeaveTypes else 
case when l.LeaveTypeID=12 and l.LeaveCount=0.50 then ('x'+' / '+l.LeaveTypes+' / '+l.CHDay) else 
case when l.LeaveTypeID=12 and l.LeaveCount<>0.50 then (l.LeaveTypes+' / '+l.CHDay) else 
case when isnull(isnull(l1.LeaveTypeId,l2.LeaveTypeId),l.LeaveTypeId) not in (4,12) then ((case when l1.LeaveTypes is null then '' else l1.LeaveTypes+' / ' end)+(case when l2.LeaveTypes is null then '' else l2.LeaveTypes end)+isnull(l.LeaveTypes,'')) else 
NULL end end end end end),'') as Attendance ,HolidayDesc,a.WeekDay,l.LeaveTypeID,l.LeaveCount 
from @Attend a 
left outer join @LD l on l.ContactID=a.ContactID and a.YearID1=l.YearID and a.MonthID1=l.MonthID and a.Day=l.Day and l.LeaveTypeID not in (19,20)
left outer join @LD l1 on l1.ContactID=a.ContactID and a.YearID1=l1.YearID and a.MonthID1=l1.MonthID and a.Day=l1.Day and l1.LeaveTypeID in (19)
left outer join @LD l2 on l2.ContactID=a.ContactID and a.YearID1=l2.YearID and a.MonthID1=l2.MonthID and a.Day=l2.Day and l2.LeaveTypeID in (20)
left outer join @LD l3 on l3.ContactID=a.ContactID and a.YearID1=l3.YearID and a.MonthID1=l3.MonthID and l3.LeaveTypeID in (19)

Declare @AFinal1 table (OLID int,ContactID int,OfficeName varchar(100),LocationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),Date datetime,YearID int,MonthID int,MonthDesc varchar(20),Days int,StartAttendanceDate datetime,LastAttendanceDate datetime,Holidays  varchar(100),FromDate datetime,ToDate datetime,LeaveTypes varchar(100),LeaveDesc varchar(100),Attendance1 varchar(20),HolidayDesc varchar(100),AFromDate datetime,AToDate datetime,Types varchar(100),Ordered varchar(6),AttendanceType  varchar(50))
insert into @AFinal1
select OLID,ContactID ,OfficeName ,LocationName ,DepartmentName ,EmployeeName ,DesignationName ,Date ,YearID ,MonthID ,MonthDesc ,Days ,StartAttendanceDate ,LastAttendanceDate ,Holidays ,FromDate ,ToDate ,LeaveTypes ,LeaveDesc 
,isnull((case when Attendance='' then NULL else Attendance end),(case when a.StartAttendanceDate is not null then 'x' else NULL end)) as Attendance1,HolidayDesc
,(select min(Date) from @AFinal b where b.YearID=a.YearID and b.MonthID=a.MonthID group by b.YearID,b.Monthid) as AFromDate
,(select max(Date) from @AFinal b where b.YearID=a.YearID and b.MonthID=a.MonthID group by b.YearID,b.Monthid) as AToDate
,isnull(isnull(isnull(
(case when Days=16 then '01' else case when Days=17 then '02' else case when Days=18 then '03' else case when Days=19 then '04' else case when Days=20 then '05' else 
case when Days=21 then '06' else case when Days=22 then '07' else case when Days=23 then '08' else case when Days=24 then '09' else case when Days=25 then '10' else NULL end end end end end end end end end end)
,(case when Days=26 then '11' else case when Days=27 then '12' else case when Days=28 then '13' else case when Days=29 then '14' else case when Days=30 then '15' else 
case when Days=31 then '16' else case when Days=1 then '17' else case when Days=2 then '18' else case when Days=3 then '19' else case when Days=4 then '20' else NULL end end end end end end end end end end)
),(case when Days=5 then '21' else case when Days=6 then '22' else case when Days=7 then '23' else case when Days=8 then '24' else case when Days=9 then '25' else 
case when Days=10 then '26' else case when Days=11 then '27' else case when Days=12 then '28' else case when Days=13 then '29' else case when Days=14 then '30' else NULL end end end end end end end end end end)
),(case when Days=15 then '31' else NULL end)) as Types,NULL as Ordered
,(case when Attendance like 'SS%' then 'Second Saturday' else case when Attendance like 'GH%' then 'General Holiday' else case when Attendance like 'WH%' then 'Weekly Holiday' else case when Attendance like '%P' then 'Worked On WeeklyOff' else  NULL end end end end) as AttendanceType

from @AFinal a

IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[AFinal2]'))	Drop table [AFinal2]
Create table AFinal2  (OLID int,ContactID int,OfficeName varchar(100),LocationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),Date datetime,YearID int,MonthID int,MonthDesc varchar(20),Days int,StartAttendanceDate datetime,LastAttendanceDate datetime,Holidays varchar(100),FromDate datetime,ToDate datetime,LeaveTypes varchar(10),LeaveDesc varchar(50),Attendance1 varchar(20),HolidayDesc varchar(200),AFromDate datetime,AToDate datetime,Types varchar(6),Ordered varchar(6),AttendanceType varchar(100),Attendance varchar(20))


insert into AFinal2 select *
,(case when Attendance1 like '% /' then left(Attendance1,len(Attendance1)-2) else Attendance1  end) as Attendance 
from @AFinal1 order by ContactID,Date

update m set m.Ordered= (case when len(o.Ordered)=1 then '0'+cast(o.Ordered as varchar(4)) else cast(o.Ordered as varchar(4)) end)
from AFinal2 m
left outer join (select *,Row_Number() over (order by Types) as Ordered  from (select Distinct Types from AFinal2) as O ) o on o.Types=m.Types





Declare @listCol varchar (Max)
SELECT  @listCol = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered)) 	FROM  (
select * from AFinal2
) Columns ORDER BY '],[' + ltrim((Ordered)) FOR XML PATH('')), 1, 2, '') + ']' 


IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTAttendanceHView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTAttendanceHView] AS 
	select * from AFinal2'
drop view PVTAttendanceHView

DECLARE @QuerySql VARCHAR(Max)
	SET @QuerySql =' Create view PVTAttendanceHView as SELECT * FROM (
	select Ordered,days from AFinal2
	) as cl PIVOT (min(Days) FOR Ordered IN ('+isnull(@listCol,'[1]')+')) as pvt'
EXECUTE  (@QuerySql) 




Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered)) FROM 
(select * from AFinal2 ) Columns ORDER BY '],[' + ltrim((Ordered)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered)	FROM  (
select distinct  ','+c as Ordered from (
select distinct 'isnull(['+cast(Ordered as varchar(4))+'],0) as ['+cast(Ordered as varchar(4))+']' as C
from AFinal2 ) as H 
) Columns ORDER BY  ltrim(Ordered) FOR XML PATH('')) , 1, 1, '')


IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTAttendanceDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTAttendanceDView] AS 
	select * from AFinal2'
drop view PVTAttendanceDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTAttendanceDView as  select OLID,YearID,MonthID,MonthDesc,OfficeName,LocationName,EmployeeName,DesignationName,DepartmentName,AFromDate,AToDate,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select OLID,YearID,MonthID,MonthDesc,OfficeName,LocationName,EmployeeName,DesignationName,DepartmentName,convert(varchar,AFromDate,105) as AFromDate,convert(varchar,AToDate,105) as AToDate,Attendance,Ordered
	FROM    AFinal2) as A
	PIVOT ( Max( Attendance ) FOR Ordered IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query )
GO
