USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Query_Update]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_Query_Update] @Query Varchar(Max) 
AS SET NOCOUNT ON 


--Declare @Query Varchar(Max) = 'update Contacts set TitleID = 3 where ContactID = 1631'  
exec (@Query)  
--select concat(@Query,'updated Sucessfully') A 

GO
