USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[sp_OverHeadAsset]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[sp_OverHeadAsset] @SENo varchar(200) ,@VersionID varchar(max),@Module  varchar(max) as 
SET NOCOUNT ON







DECLARE @DynamicPivotQuery AS NVARCHAR(MAX), @DynamicPivotQuery1 AS NVARCHAR(MAX),@DynamicPivotQuery2 AS NVARCHAR(MAX),
@PivotColumnNames AS NVARCHAR(MAX), @PivotSelectColumnNames AS NVARCHAR(MAX)
Declare @sqlFinal NVARCHAR(MAX)
Declare @sqlFinal1 NVARCHAR(MAX)


Declare @PivotDescription Table (ESAssetCatID bigint,Description varchar(200))
insert into @PivotDescription
select   ESAssetCatID,(case when Final.Asstcat COLLATE DATABASE_DEFAULT like '10.602%'  and Final.Asstcat COLLATE DATABASE_DEFAULT like '%HT%' then substring(Final.Asstcat COLLATE DATABASE_DEFAULT,1,6) + ' HT' when Final.Asstcat COLLATE DATABASE_DEFAULT like '10.602%'  and Final.Asstcat COLLATE DATABASE_DEFAULT like '%LT%' then substring(Final.Asstcat COLLATE DATABASE_DEFAULT,1,6) + ' LT' else  substring(Final.Asstcat COLLATE DATABASE_DEFAULT,1,6)  end) Description
from ( select ESAssetCatID,SEOWAID, Asstcat,OverHd, ReviserdAmt
from ESOverhead(@SENo,@VersionID,@Module) ) As Final
order By ESAssetCatID,SEOWAID


Declare @PivotDescription1 Table (Description varchar(200),SlNo1 int)
insert into @PivotDescription1
select Description,Rn1 from (
select Row_Number () over ( order by SlNo,ESAssetCatID) Rn1,* from (
select Row_Number () over ( partition by Description order by ESAssetCatID,SlNo) Rn,* from (
select distinct ESAssetCatID,Description COLLATE DATABASE_DEFAULT AS Description,1 SlNo from @PivotDescription
union
select 20000000,concat(MainAccountCode,SubAccountCode) COLLATE DATABASE_DEFAULT,2 from WorkAllocationSub
where workAllocationID=6 and concat(MainAccountCode,SubAccountCode) collate database_default<>'10.602') as P) as Q where Rn=1) as P where Rn1<=12
order by SlNo


select @PivotColumnNames= ISNULL(@PivotColumnNames + ',','')+Descr
from ( SELECT  distinct  QUOTENAME(Description) Descr,SLNo1
FROM @PivotDescription1 )as P
order by SLNo1


Declare @Doem table( AsstCategory varchar(200),SlNo1 int)
Insert Into @Doem
select AsstCategory ,B.SlNo1
from ( select  (case when Final.Asstcat like '10.602%'  and Final.Asstcat like '%HT%' then substring(Final.Asstcat,1,6) + ' HT' when Final.Asstcat like '10.602%'  and Final.Asstcat like '%LT%' then substring(Final.Asstcat,1,6) + ' LT' else  substring(Final.Asstcat,1,6)  end) AsstCategory
,Final.OverHd as OverHead,Final.ReviserdAmt,B.initialTot as InitialTotal,B.RevisedTot as RevisedTotal from (
select ESAssetCatID,SEOWAID, Asstcat,OverHd, ReviserdAmt
from ESOverhead(@SENo,@VersionID,@Module)  ) As Final 
Left join ( select OverHd,Sum(EIAmt) initialTot,Sum(ERAmt) as RevisedTot from ( select ESAssetCatID ,SEOWAID, Asstcat,OverHd, round(InitialAmount,2)EIAmt,round(amount,2)ERAmt,ReviserdAmt from ESOverhead(@SENo,@VersionID,@Module) ) As Final
group by  OverHd ) B on Final.OverHd=B.OverHd ) A
Inner  Join @PivotDescription1 B On A.AsstCategory=B.Description 
order By B.SlNo1


select isnull([H1],'') H1,isnull([H2],'') H2,isnull([H3],'') H3,isnull([H4],'') H4,isnull([H5],'') H5,isnull([H6],'') H6,isnull([H7],'') H7,isnull([H8],'') H8,isnull([H9],'') H9,isnull([H10],'') H10,isnull([H11],'') H11,isnull([H12],'') H12 
from (
Select AsstCategory,concat('H',Dense_rank () over ( order by SlNo1))SlNo1 from @Doem
) X PIVOT(    max(AsstCategory) FOR SlNo1  IN ([H1],[H2],[H3],[H4],[H5],[H6],[H7],[H8],[H9],[H10],[H11],[H12])) AS PVTTable





GO
