USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure5]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_Annexure5] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON


--Declare @LoginOLID Int select @LoginOLID = 408
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromFyYear DateTime select @FromFyYear = '2025-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2026-03-31'
--Declare @AcOLID varchar(200) select @AcOLID = '408'





Declare @OB Table (OLID Int,FromAcHead varchar(10),ToAcHead varchar(10),Amount Money) 
Insert Into @OB 
select @AcOLID OLID,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')+isnull(VoltageClassCode,'7') ) as FromAcHead,'OB' as ToAcHead,Sum(CreditAmount-DebitAmount) as Amount
from TrialBalanceDetails A With (NoLock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where MainAccountCode like '%12.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(@FromFyYear) and TrialBalanceYear=Year(@FromFyYear) )
Group By MainAccountCode,SubAccountCode,VoltageClassCode


Declare @TBCB Table (OLID Int,FromAcHead varchar(10),ToAcHead varchar(10),Amount Money) 
Insert Into @TBCB 
select @AcOLID OLID,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')+isnull(VoltageClassCode,'7')) as FromAcHead,'TBCB' as ToAcHead,Sum(CreditAmount-DebitAmount) as Amount
from TrialBalanceDetails A With (NoLock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where MainAccountCode like '%12.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(DateAdd(Month,1,@ToFyYear)) and TrialBalanceYear=Year(DateAdd(Month,1,@ToFyYear)) )
Group By MainAccountCode,SubAccountCode,isnull(VoltageClassCode,'7')



Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int,JournalVoucherDate DateTime)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,concat(FromAcHead collate database_default,VoltageClassCode),concat(ToAcHead collate database_default,VoltageClassCode),VoltageClassCode,Amount,RectifiedJVNo,JournalVoucherDate
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where (FromAcHead like '12.%' or ToAcHead like '12.%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 
--and JournalVoucherNo = 1885633
--and JournalVoucherNo not in (2040414) 


Declare @JV1 Table (SlNo Int,JournalVoucherNo Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money)
Insert into @JV1
select SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Amount from (
		  select 3 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 3 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '10.%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead

union all select 2 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '77.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 2 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '77.%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead

union all select 4 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '32.310%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 4 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '32.310%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 5 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '32.510%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 5 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '32.510%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 6 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '65.6%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 6 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '65.6%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 7 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '83.6%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 7 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '83.6%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount from @JV where (FromAcHead like '12.%' and ToAcHead like '12.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 1 SlNo,0 JournalVoucherNo,Series12,'' ToAcHead,0 Amount from JV_AccountHead14_10Series with(nolock) where Series12 is not NULL 
union all select 13 SlNo,0 JournalVoucherNo,FromAcHead,ToAcHead,Amount from @OB
union all select 15 SlNo,0 JournalVoucherNo,FromAcHead,ToAcHead,Amount from @TBCB
) A  

-------- skip value find
--select * from @JV where ( (FromAcHead like '12.%' and ToAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) 
--or (ToAcHead like '12.%' and FromAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) ) 



select a.*,(OB+NetAmount) OB_NetAmount,(OB+NetAmount)-CB Difference,Left(a.FromAcHead,4) Series12 from (
select * ,((FAmount10+FAmount32310+FAmount83+Reclasification+Rectification) - (FAmount16+FAmount32510+FAmount65)) NetAmount from (
select FromAcHead
,Sum(case when SlNo=2 then Amount else 0 end) FAmount10
,Sum(case when SlNo=3 then Amount else 0 end) FAmount16
,Sum(case when SlNo=4 then Amount else 0 end) FAmount32310,Sum(case when SlNo=5 then Amount else 0 end) FAmount32510
,Sum(case when SlNo=6 then Amount else 0 end) FAmount65,Sum(case when SlNo=7 then Amount else 0 end) FAmount83
,Sum(case when SlNo=8 then Amount else 0 end) Rectification,Sum(case when SlNo=9 then Amount else 0 end) Reclasification
,Sum(case when SlNo=13 then Amount else 0 end) OB,Sum(case when SlNo=15 then Amount else 0 end) CB
from @JV1 A where FromAcHead like '12.%' Group By FromAcHead
) A ) A 
Order by a.FromAcHead






GO
