USE [EnergySync_R2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SRW_RecoveryDetails]    Script Date: 09-06-2026 11:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_SRW_RecoveryDetails]
 @Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money
 ,@EOTypeID Int,@EOID Int,@EOBID Int,@PolicyNo Varchar(100),@ScheTypeID Int 
AS SET NOCOUNT ON


--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 31532
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 601
--Declare @TypeID Int = 0
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 0
--Declare @EOTypeID Int = 0
--Declare @EOID Int = 0
--Declare @EOBID Int = 0
--Declare @PolicyNo Varchar(100) = ''
--Declare @ScheTypeID Int = 0


Declare @SRWID Int = (select ScaleRegisterWithdrawalID SRWID from ScaleRegisterWithdrawals where ScaleRegisterID=@SRID)


IF (@Query='Import' )
 insert into ScaleRegisterRecoveryWithDrawals
select @SRWID,@ODLDID,@ScheTypeID,@FromDate,@ToDate,@Amount,@TypeID,@PolicyNo,@EOTypeID,@EOID,@EOBID

else IF (@Query='Update' )
 update a set LoanandAdvanceID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount,ExternalOrganisationTypeID=@EOTypeID,ExternalOrganisationID=@EOID,ExternalOrganisationBranchID=@EOBID,ExternalRRNo=@PolicyNo,ScheduleTypeID=@ScheTypeID 
from ScaleRegisterRecoveryWithDrawals with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterRecoveryWithdrawalsID end)=@ColumnID
and (case when @TypeID=0 then 0 else LoanandAdvanceID end)=@TypeID

select ScaleRegisterWithdrawalID SRWID,ODLDID,ScheduleTypeID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount
,LoanandAdvanceID LAID,ExternalRRNo PolicyNo,ExternalOrganisationTypeID EOTypeID,ExternalOrganisationID EOID,ExternalOrganisationBranchID EOBID
,ScaleRegisterRecoveryWithdrawalsID SRRWID 
from ScaleRegisterRecoveryWithDrawals with(nolock) where ScaleRegisterWithdrawalID=@SRWID 
and (case when @ColumnID=0 then 0 else ScaleRegisterRecoveryWithdrawalsID end)=@ColumnID
and (case when @TypeID=0 then 0 else LoanandAdvanceID end)=@TypeID
Order By LoanandAdvanceID,Amount



 



 

 
 

GO
