USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_disconnectionListReplacment]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
create     procedure [dbo].[sp_disconnectionListReplacment]  

@MeterReaderID varchar(max),@MeterReadingAreaID varchar(max),@TariffID varchar(max),@ReadingDate varchar(max)
 
as
 
set NOCOUNT ON
 
select c.RRNO,c.FileAs ConsumerName,t.Description Tariff,m.MeterStatus,c.consumerid

,ss.ReceiptDate LastPaidDate,isnull(cd.Amount,0) Deposit,isnull(dddd.ArrearsAmount,0) Arrears ,FinalReading

from consumer c

join DistributionNodeMeterAllocation d on d.DistributionNodeID=c.DistributionNodeID and d.Disconnected=0

join MeterDetails m on m.MeterID=d.MeterID and m.MeterStatus='mnr'

join ReadingdateAreaAllocation r on r.ReadingDateAreaAllocationID=c.ReadingDateAreaAllocationID

join Tariffs t on c.TariffID=t.TariffID

left join ConsumerDepositDetails cd on cd.ConsumerID=c.ConsumerID

outer apply(select top 1  cast (r.ReceiptDate as varchar(max))ReceiptDate from Receipts r

             where r.ContactID=c.consumerid

             order by r.ReceiptID desc)ss

outer apply(select consumerid ,sum(Amount)ArrearsAmount

            from(

            select top 1 ConsumerLedgerDemandsID,consumerid 

            from ConsumerLedgerDemands

            where ConsumerID=c.ConsumerID

            order by ConsumerLedgerDemandsID desc)s

            inner join ConsumerLedgerDemandDetails cd on cd.ConsumerLedgerDemandsID=s.ConsumerLedgerDemandsID 

            and cd.DemandChargeTypeID in(1,11)

            group by consumerid)dddd

outer apply(select  isnull(KWahFinalReading,KWahInitialReading)  FinalReading From PreBillReadingDetails  where BillNo in  (

select max(p.BillNo) From PreBillDetails p inner join  PreBillReadingDetails q on p.BillNo=q.BillNo and p.consumerid=c.consumerid and p.Billed=1 and p.SBM=1 group by p.RRNo )

)kl1

where r.MeterReaderID=@MeterReaderID  and r.MeterReadingAreaID=@MeterReadingAreaID and r.ReadingDate= @ReadingDate

and (c.TariffID=@TariffID or @TariffID='0' or @TariffID is null)
GO
