USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[Slabrate]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Slabrate] @rrno varchar(100)
as




Declare @ResultsTemp table (RowNum int,EnergyChargeSlabSeries int ,tariff varchar(50),EnergyChargeSlabUnits bigint,EnergyChargeSlabRate float)

insert into @ResultsTemp

select ROW_NUMBER () over (order by EnergyChargeSlabSeries ) rn ,* from
(select e2.EnergyChargeSlabSeries,t1.Description Tariff,e2.EnergyChargeSlabUnits,e2.EnergyChargeSlabRate*1000 'EnergyChargeSlabRate'from consumer c1
inner join Tariffs t1 on t1.tariffid=c1.TariffID
inner join EnergyChargeSlabPeriods e1 on e1.TariffID=t1.TariffID
inner join EnergyChargeSlabs e2 on e2.EnergyChargeSlabPeriodID=e1.EnergyChargeSlabPeriodID
where rrno=''+@rrno+'') A

select EnergyChargeSlabSeries ,EnergyChargeSlabRate,
(case when EnergyChargeSlabUnits=999999999 then concat(isnull(sum1,0),'-',EnergyChargeSlabUnits)
when RowNum=1 then concat(isnull(sum1,0),'-',EnergyChargeSlabUnits) else 
concat(isnull(sum1,0),'-',(sum1+EnergyChargeSlabUnits))    end ) SlabRate
from 
(select a.RowNum,a.EnergyChargeSlabSeries ,a.EnergyChargeSlabUnits ,a.tariff ,a.EnergyChargeSlabRate,
sum(b.EnergyChargeSlabUnits) sum1
from @ResultsTemp a
full join @ResultsTemp b on a.tariff=b.tariff and a.RowNum >b.RowNum
where a.EnergyChargeSlabSeries is not null
group by a.RowNum, a.EnergyChargeSlabSeries ,a.tariff ,a.EnergyChargeSlabUnits ,a.EnergyChargeSlabRate 
) A



GO
