USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_ApprovalDetails]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ApprovalDetails]
@ContactID int,
@ODLDID int,
@ActivityID int

AS
SET NOCOUNT ON
 


select * from(select ActivityID,  ActivityDescription, StatusID, status, DocumentNo, 
 case when NextContactID = 0 then ContactID else NextContactID end NextContactID,
case when NextODLDID = 0 then ODLDID else NextODLDID end NextODLDID,createdat, receivedFrom, datecreated, color, rrno,
frrno, trrno, ApprovalRemarks, ReadingDateAreaAllocationID
from (select df.ActivityID,  ac.ActivityDescription, df.StatusID, sd.Description status,df.documentno, 
df.ContactID  , df.ODLDID  ,NextContactID, NextODLDID,createdat, c.FileAs receivedFrom, datecreated, sd.color, null rrno, null frrno, null  trrno, 
cast(df.Remarks as varchar(max)) ApprovalRemarks, ReadingDateAreaAllocationID 
From ActivityApprovalDetails  df 
inner join Activity ac on ac.ActivityID = df.ActivityID       
inner join  Status sd on sd.StatusID = df.StatusID  
inner join Contacts c on c.ContactID = df.ContactID  
outer apply(select top 1  offf.OfficeName + ' ' + loo.LocationName  createdat, 
convert(varchar(max), kl.DateAndTime, 103) + ' ' + Format(kl.DateAndTime, 'hh:mm tt') datecreated  
From ActivityApprovalDetails kl  
inner join  ODLDAllocation ok on ok.ODLDID = kl.ODLDID  
inner join Office offf on offf.OfficeID = ok.OfficeID  
inner  join Location loo on loo.LocationID = ok.LocationID
where kl.ActivityApprovalDetailsID=df.ActivityApprovalDetailsID)kl1  
outer apply(  select a.AreaName + ' ' + con.FirstName + ' ' + 'Reading date :' + cast(rt.ReadingDate as varchar(30)) documentno1,
 rt.ReadingDateAreaAllocationID  
 From ReadingdateAreaAllocation rt  
inner join MeterReadingAreas a on a.MeterReadingAreaID = rt.MeterReadingAreaID      
inner join Contacts con on con.ContactID = rt.MeterReaderID       
inner join ConsumerDisConnectionList l on l.ReadingDateAreaAllocationID = rt.ReadingDateAreaAllocationID      
 where l.ConsumerDisConnectionListID = df.DocumentNo       )mnb       
where ActivityApprovalDetailsID in (select max(d.ActivityApprovalDetailsID)    
From ActivityApprovalDetails d  
group  by DocumentNo, d.ActivityID))ff  
where StatusID != 1   
group by ActivityID,  ActivityDescription, StatusID, status, documentno,ContactID  , ODLDID , NextContactID, NextODLDID,
 createdat, receivedFrom, datecreated, color, rrno, frrno, trrno, ApprovalRemarks, ReadingDateAreaAllocationID)ada
where NextContactID=@ContactID and NextODLDID=@ODLDID and ActivityID = @ActivityID
GO
