USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_MeterDetails]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MeterDetails] AS
begin
select * from MeterDetails
end
GO
