USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_Billing_test]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Billing_test]
@FromDate varchar(100),@ToDate varchar(100)
As
Begin
SELECT RDAA.AreaOLID,ct.ContactID,ct.FileAs as MeterReader, mra.areaname, day(pbd.Printeddate) as Printeddate,  count(*) as BilledInstallation
FROM  Contacts Ct, MeterReadingAreas MRA, Consumer Cn, ReadingDateAreaAllocation RDAA, 
   PreBillDetails PBD 
Where  	MRA.MeterReadingAreaId = RDAA.MeterReadingAreaId 
 and	Ct.ContactID = RDAA.MeterReaderID and 	pbd.areaid = RDAA.ReadingDateAreaAllocationID 
and PBD.consumerid= cn.consumerid
and pbd.printeddate>=@FromDate and pbd.printeddate<=@ToDate and pbd.billed=1 

and pbd.sbm=1 group by RDAA.AreaOLID,ct.ContactID,ct.fileas, pbd.printeddate, mra.areaname Order By  ct.fileas, pbd.printeddate

End
GO
