USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_DistributionNodeMeterAllocation]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DistributionNodeMeterAllocation] as
BEGIN
select * from DistributionNodeMeterAllocation
END
GO
