USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[SP_Getareanames]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Getareanames]
(@clientId int,
@meterReaderId int)

as

declare @DateLimit as bit
declare @SuperUser as bit
declare @AssignedMeterReaderID as int
declare @day int 
set @day=(select DateLimitNoOfDays from common.dbo.company where CompanyID=@clientId )
set @DateLimit =(select DownloadDateLimit from common.dbo.company where CompanyID=@clientId )
set @SuperUser =(select SuperUser from Users where ContactID=@meterReaderId)

begin

if (@SuperUser=1)
begin
set @AssignedMeterReaderID=(select top 1 MeterReaderID from SuperUserMeterReaderAllocation where ContactID=@meterReaderId)
end
if (@DateLimit=1 and @SuperUser<>1)
begin

select r.readingdateareaallocationid,m.areaname,r.readingdate from dbo.ReadingdateAreaAllocation r
join  MeterReadingAreas m on m.MeterReadingAreaOLID=r.areaolid where r.meterreaderid=@meterReaderId
 and m.MeterReadingAreaID=r.MeterReadingAreaID and areaname not like '%dismantle%'
and readingdate between  (select day(getdate())-@day)and (select day(getdate())+@day)

end
else if(@SuperUser=1)
begin
select r.readingdateareaallocationid,m.areaname,r.readingdate from dbo.ReadingdateAreaAllocation r
join  MeterReadingAreas m on m.MeterReadingAreaOLID=r.areaolid where r.meterreaderid=@AssignedMeterReaderID
 and m.MeterReadingAreaID=r.MeterReadingAreaID and areaname not like '%dismantle%'
end
else
Begin
select r.readingdateareaallocationid,m.areaname,r.readingdate from dbo.ReadingdateAreaAllocation r
join  MeterReadingAreas m on m.MeterReadingAreaOLID=r.areaolid where r.meterreaderid=@meterReaderId
 and m.MeterReadingAreaID=r.MeterReadingAreaID and areaname not like '%dismantle%'
end
end

GO
