USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_Smsapirequest]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_Smsapirequest]
 @JsonString varchar(max) ,
 @SMSRequest varchar(max) 
AS
SET NOCOUNT ON 


insert into Smsapirequets(json,message,dateandtime)
select @JsonString,@SMSRequest,getdate()



GO
