USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[HistoryCL]    Script Date: 12-06-2026 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[HistoryCL] @ConsumerID int as
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedger
	select * 
     from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01'
   and ConsumerLedgerID not in(select ConsumerLedgerID from EnergysyncrevUdupiHistory.dbo.ConsumerLedger b where b.ConsumerLedgerID=ConsumerLedgerID)


	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDetails
	select * from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01')
   and ConsumerLedgerDetailsID not in(select ConsumerLedgerDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerdetails b where b.ConsumerLedgerDetailsID=ConsumerLedgerDetailsID )

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDetailsSub
	select * from ConsumerLedgerDetailsSub where ConsumerLedgerDetailsID in
	(select ConsumerLedgerDetailsID from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01'))
   and ConsumerLedgerDetailsID not in(select ConsumerLedgerDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDetailsSub b where b.ConsumerLedgerDetailsID=ConsumerLedgerDetailsID )

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerGOKLedgerDetails
	select * from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01')

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerGOKLedgerDetailsSub
	select * from ConsumerGOKLedgerDetailsSub where ConsumerGOKLedgerDetailsID in
	(select ConsumerGOKLedgerDetailsID from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01'))


	delete from ConsumerLedgerDetailsSub where ConsumerLedgerDetailsID in
	(select ConsumerLedgerDetailsID from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01'))

	delete  from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01')
	
	delete from ConsumerGOKLedgerDetailsSub where ConsumerGOKLedgerDetailsID in
	(select ConsumerGOKLedgerDetailsID from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01'))

	delete  from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01')

	delete from ConsumerLedger where ConsumerID in (@ConsumerID)and convert(datetime,concat(ledgeryear,'-',LedgerMonth,'-',01),120)<='2015-05-01'
GO
