USE [EnergySyncRevenueUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_Collection]    Script Date: 12-06-2026 15:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Collection] 
@fromDate varchar(20),@toDate varchar(20)
as 
Begin

 Select ReceiptID, DATENAME(month, ReceiptDate) as  Month,year(receiptdate) as Year, convert(varchar,ReceiptDate,103) as ReceiptDate ,ReceiptNo,cashcounterolid,     
        (Select OfficeName from Office where OfficeID=(Select OfficeLocationAllocationID from OfficeLocationAllocation       
        where OfficeLocationAllocationID=Receipts.CashCounterOLID)) as 'Office',     

        (select LocationName from Office,Location, OfficeLocationAllocation          
        where(Office.OfficeID = OfficeLocationAllocation.OfficeID And Location.LocationID = OfficeLocationAllocation.LocationID)   
        and OfficeLocationAllocation.OfficeLocationAllocationID =  (Receipts.CashCounterOLID)) as 'Location',
         
         (Select CashCounterName from CashCounters where CashCounterID=Receipts.CashCounterID) as CashCounterName,     
        (Select Description from AllocationStatementPresetData where AllocationStatementPresetDataID=Receipts.PaymentTypeID) as 'ACHead',     
        (Select Description From PaymentModes where PaymentModeID=Receipts.PaymentModeID) as 'PaymentMode',   
        case when PaymentModeID<>0 then 1 else 0 end as Count,Amount,   
        (Select top 1 FileAs from Consumer where RRNO=Receipts.DocumentNo) as 'Name',   
         (CASE WHEN DocumentNo  LIKE '%-%' THEN NULL else DocumentNo end) as 'SequenceNo',  
        (Select AreaName from MeterReadingAreas where MeterReadingAreaID in    
        (Select distinct(MeterReadingAreaID) from ReadingDateAreaAllocation RDA where RDA.ReadingDateAreaAllocationID in   
        
     (Select C.ReadingDateAreaAllocationID from Consumer C where C.RRNO=Receipts.DocumentNo))) as 'Area'   

       from Receipts   
       where ReceiptDate  between @fromdate and @todate  
and Cancel=0  
order by Receipts.ReceiptDate ASC

End
GO
