USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsumerAdditionalDetails]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_ConsumerAdditionalDetails] 

@rrno varchar(max),
@lat varchar(max)=null,
@longt varchar(max)=null,
@propertyimg varchar(max)=null,
@meterimg varchar(max)=null
AS
SET NOCOUNT ON
insert into DistributionNodeSub 
select  DistributionNodeID,52,@lat  from Consumer  where   RRNO=@rrno and @lat is not null
insert into DistributionNodeSub 
select  DistributionNodeID,53,@longt from Consumer  where   RRNO=@rrno and @longt is not null
insert into DistributionNodeSub 
select  DistributionNodeID,54,@propertyimg from Consumer  where   RRNO=@rrno and @propertyimg is not null
insert into DistributionNodeSub 
select  DistributionNodeID,55,@meterimg from Consumer  where   RRNO=@rrno and @meterimg is not null

GO
