USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[sp_serch_Consumer]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_serch_Consumer]
@types varchar(500),@strings varchar(500)
AS
SET NOCOUNT ON






select c.ConsumerID,c.RRNO,isnull(c.FileAs,'') Name,isnull(p.LocalNumber,'') phoneno,isnull(pm.PropertyMasterNo,'') doorno,
isnull(m.SerialNumber,'') serialno,
isnull(c.FileAs,'')+''+isnull(p.LocalNumber,'')+', '+isnull(pm.PropertyMasterNo,'')+', '+isnull(m.SerialNumber,'')  From consumer c 
left  join ConsumerPhoneDetails p  on p.ConsumerID=c.ConsumerID
left  join DistributionNodeMeterAllocation md on md.DistributionNodeID=c.DistributionNodeID
left join MeterDetails m  on md.MeterID=m.MeterID
left join ConsumerPropertyAllocation vc on vc.ConsumerID=c.ConsumerID
left join PropertyMaster pm on pm.PropertyMasterID=vc.PropertyMasterID
 where 
(isnull(c.FileAs,'') like '%'+@strings+'%'  and @types='3'  )
or  (isnull(p.LocalNumber,'') like '%'+@strings+'%'  and @types='4'  ) 
or (isnull(pm.PropertyMasterNo,'') like '%'+@strings+'%'  and @types='5'  )
or (isnull(m.SerialNumber,'') like '%'+@strings+'%'  and @types='6'  )


GO
