USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[sp_PBDNew]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_PBDNew] @BillDate as datetime,@ConsumerID as int As 

Declare @Today as datetime,@Days as int,@DBName as varchar(30)
Select @Days=(select distinct DataVolumeDuration from GeneralSetting)
Select @Today=(Select Today from Today)
Select @DBName=(select distinct table_catalog from information_schema.tables)



BEGIN TRY

If(@DBName='EnergySyncRevenueUdupi')
Begin
	insert into EnergysyncrevUdupiHistory.dbo.Consumer 
	select * from Consumer where consumerid not in(select consumerid from EnergysyncrevUdupiHistory.dbo.Consumer)

	insert into EnergysyncrevUdupiHistory.dbo.DistributionNodes 
	select * from DistributionNodes where DistributionNodeID not in(select DistributionNodeID from 
	EnergysyncrevUdupiHistory.dbo.DistributionNodes)


	insert into EnergysyncrevUdupiHistory.dbo.MeterDetails 
	select * from MeterDetails where MeterID not in
	(select MeterID from EnergysyncrevUdupiHistory.dbo.MeterDetails)

	insert into EnergysyncrevUdupiHistory.dbo.DistributionNodeMeterAllocation 
	select * from DistributionNodeMeterAllocation where DistributionNodeMeterAllocationID not in
	(select DistributionNodeMeterAllocationID from EnergysyncrevUdupiHistory.dbo.DistributionNodeMeterAllocation)

	
	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillDetails 
	select * from PreBillDetails  where ConsumerID in (@ConsumerID) and BillDate<(@BillDate-@Days)
	and ODC=0	and BillNo not  in(select b.BillNo from EnergysyncrevUdupiHistory.dbo.prebilldetails b where b.billno=BillNo)
 
	
	insert into EnergysyncrevUdupiHistory.dbo.Receipts 
	select * from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)
    and ReceiptID not in(select ReceiptID from EnergysyncrevUdupiHistory.dbo.receipts b where b.ReceiptID=ReceiptID)

	insert into EnergysyncrevUdupiHistory.dbo.ReceiptCancellationApprovals
	select * from ReceiptCancellationApprovals where ReceiptID in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	
	insert into EnergysyncrevUdupiHistory.dbo.ChequeTransactions
	select * from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)) 

	insert into EnergysyncrevUdupiHistory.dbo.ChequeTransactionDetails
	select * from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
		
	insert into EnergysyncrevUdupiHistory.dbo.ChequeTransactionDetailsSub
	select * from ChequeTransactionDetailsSub where ChequeTransactionDetailsID in
	(select ChequeTransactionDetailsID from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))
	
	insert into EnergysyncrevUdupiHistory.dbo.ChequeTransactionApprovals
	select * from ChequeTransactionApprovals where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
	
	

	insert into EnergysyncrevUdupiHistory.dbo.Receipts
    select * from Receipts where ReceiptNo in(
	select ReceiptNo from CollectionAdjustments where CollectionAdjustmentID in 
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) not in(select concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments))
    and concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) not in(select concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) from EnergysyncrevUdupiHistory.dbo.Receipts)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustments
	select * from CollectionAdjustments where CollectionAdjustmentID in 
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) not in(select concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentDetails
	select * from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
     and  CollectionAdjustmentDetailsID   not in(select CollectionAdjustmentDetailsID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentDetails)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentDetailsSub
	select * from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)))
   and CollectionAdjustmentDetailsID not in(select CollectionAdjustmentDetailsID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentDetailsSub)
	
	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentJVDetails
	select * from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
     and CollectionAdjustmentJVDetailsID not in(select CollectionAdjustmentJVDetailsID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentJVDetails)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentJVDetailsSub
	select * from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)))
     and CollectionAdjustmentJVDetailsID not in(select CollectionAdjustmentJVDetailsID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentJVDetailsSub)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentApprovals
	select * from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    	
	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentReceiptsDetails
	select * from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentReceiptsDetailsSub
	select * from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails 
	where CollectionAdjustmentDetailsID in(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails 
	where BillNo in(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))


	insert into EnergysyncrevUdupiHistory.dbo.Receipts
    select * from Receipts where ReceiptNo in(
	select ReceiptNo from CollectionAdjustments where ReceiptNo in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
    and concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) not in(select concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments))
    and concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) not in(select concat(ReceiptNo,' ',CashCounterID,' ',CashCounterOLID) from EnergysyncrevUdupiHistory.dbo.Receipts)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustments
	select * from CollectionAdjustments where ReceiptNo in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments)

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentDetails
	select * from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments))

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentDetailsSub
	select * from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments)))	

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentJVDetails
	select * from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments))

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentJVDetailsSub
	select * from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments)))

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentApprovals
	select * from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments))

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentReceiptsDetails
	select * from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments)))

	insert into EnergysyncrevUdupiHistory.dbo.CollectionAdjustmentReceiptsDetailsSub
	select * from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergysyncrevUdupiHistory.dbo.CollectionAdjustments))))

	
	insert into EnergysyncrevUdupiHistory.dbo.OtherDemandCharges
	select * from OtherDemandCharges where ConsumerID in (@ConsumerID) and OtherDemandChargedDate<(@Today-@Days)
    and OtherDemandChargeID not in(select OtherDemandChargeID from EnergysyncrevUdupiHistory.dbo.OtherDemandCharges)

	insert into EnergysyncrevUdupiHistory.dbo.OtherDemandChargeDetails
	select * from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID) 
	and OtherDemandChargedDate<(@Today-@Days)) and OtherDemandChargeDetailsID not in(select OtherDemandChargeDetailsID from EnergysyncrevUdupiHistory.dbo.OtherDemandChargeDetails)

	insert into EnergysyncrevUdupiHistory.dbo.OtherDemandChargeDetailsSub
	select * from OtherDemandChargeDetailsSub where OtherDemandChargeDetailsID in
	(select OtherDemandChargeDetailsID from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days)))

	insert into EnergysyncrevUdupiHistory.dbo.OtherDemandChargeApprovals
	select * from OtherDemandChargeApprovals where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days))
	
	
	insert into EnergysyncrevUdupiHistory.dbo.PreCollectionDetails
	select * from PreCollectionDetails where ToSBMDate<(@Today-@Days)
	
	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustments
	select * from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustmentDetails
	select * from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustmentDetailsSub
	select * from DemandAdjustmentDetailsSub where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustmentReceiptsDetails  
	select * from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustmentReceiptsDetailsSub
	select * from DemandAdjustmentReceiptsDetailsSub where DemandAdjustmentReceiptsDetailsID in
	(select DemandAdjustmentReceiptsDetailsID from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))

	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustmentCollectionDetails
	select * from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergysyncrevUdupiHistory.dbo.DemandAdjustmentCollectionDetailsSub
	select * from DemandAdjustmentCollectionDetailsSub where DemandAdjustmentCollectionDetailsID in
	(select DemandAdjustmentCollectionDetailsID from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerCollections
	select * from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0) 
    and ConsumerLedgerCollectionID not in(select ConsumerLedgerCollectionID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerCollections b where b.ConsumerLedgerCollectionID=ConsumerLedgerCollectionID)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerCollectionDetails
	select * from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)) and ConsumerLedgerCollectionDetailsID not in
   (select ConsumerLedgerCollectionDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerCollectionDetails b where b.ConsumerLedgerCollectionDetailsID=ConsumerLedgerCollectionDetailsID)
	 
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerCollectionDetailsSub
	select * from ConsumerLedgerCollectionDetailsSub where ConsumerLedgerCollectionDetailsID in
	(select ConsumerLedgerCollectionDetailsID from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))) and ConsumerLedgerCollectionDetailsID not in
     (select ConsumerLedgerCollectionDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerCollectionDetailsSub b where b.ConsumerLedgerCollectionDetailsID=ConsumerLedgerCollectionDetailsID)
	 	 
	
	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDemands
	select * from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) 
    and ConsumerLedgerDemandsID not in(select ConsumerLedgerDemandsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDemands b where b.ConsumerLedgerDemandsID=ConsumerLedgerDemandsID)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDemandDetails
	select * from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and ConsumerLedgerDemandDetailsID not in(select ConsumerLedgerDemandDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDemandDetails b where b.ConsumerLedgerDemandDetailsID=ConsumerLedgerDemandDetailsID)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDemandDetailsSub
	select * from ConsumerLedgerDemandDetailsSub where ConsumerLedgerDemandDetailsID in
	(select ConsumerLedgerDemandDetailsID from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedger
	select * from ConsumerLedger where ConsumerID in (@ConsumerID) and 	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)
   and ConsumerLedgerID not in(select ConsumerLedgerID from EnergysyncrevUdupiHistory.dbo.ConsumerLedger b where b.ConsumerLedgerID=ConsumerLedgerID)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDetails
	select * from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and 	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))
   and ConsumerLedgerDetailsID not in(select ConsumerLedgerDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerdetails b where b.ConsumerLedgerDetailsID=ConsumerLedgerDetailsID )

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDetailsSub
	select * from ConsumerLedgerDetailsSub where ConsumerLedgerDetailsID in
	(select ConsumerLedgerDetailsID from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and 	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))
   and ConsumerLedgerDetailsID not in(select ConsumerLedgerDetailsID from EnergysyncrevUdupiHistory.dbo.ConsumerLedgerDetailsSub b where b.ConsumerLedgerDetailsID=ConsumerLedgerDetailsID )

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerGOKLedgerDetails
	select * from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerGOKLedgerDetailsSub
	select * from ConsumerGOKLedgerDetailsSub where ConsumerGOKLedgerDetailsID in
	(select ConsumerGOKLedgerDetailsID from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and 
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerArrears
	select * from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 	(@ConsumerID) and ODC=0)
    and ConsumerArrearsID not in(select ConsumerArrearsID from EnergysyncrevUdupiHistory.dbo.ConsumerArrears)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerArrearDetails
	select * from ConsumerArrearDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and concat(ConsumerArrearsID,' ',DemandChargeTypeID) not in(select concat(ConsumerArrearsID,' ',DemandChargeTypeID) from EnergysyncrevUdupiHistory.dbo.ConsumerArrearDetails)
    

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerArrearDetailsSub
	select * from ConsumerArrearDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and concat(ConsumerArrearsID,' ',DemandChargeTypeID,' ',DemandChargeID) not in(select concat(ConsumerArrearsID,' ',DemandChargeTypeID,' ',DemandChargeID) from EnergysyncrevUdupiHistory.dbo.ConsumerArrearDetailsSub)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerArrearInterestDetails
	select * from ConsumerArrearInterestDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and concat(ConsumerArrearsID,' ',DemandChargeTypeID) not in(select concat(ConsumerArrearsID,' ',DemandChargeTypeID) from EnergysyncrevUdupiHistory.dbo.ConsumerArrearDetails)


	insert into EnergysyncrevUdupiHistory.dbo.ConsumerArrearInterestDetailsSub
	select * from ConsumerArrearInterestDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))

	
	insert EnergysyncrevUdupiHistory.dbo.RevenueComplaints 
	select * from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days)

	insert EnergysyncrevUdupiHistory.dbo.RevenueComplaintApprovals 
	select * from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days))

	insert EnergysyncrevUdupiHistory.dbo.RevenueComplaints 
	select * from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) 
	and ComplaintID not in(select ComplaintID from EnergysyncrevUdupiHistory.dbo.RevenueComplaints)
	
	
	insert EnergysyncrevUdupiHistory.dbo.RevenueComplaintApprovals 
	select * from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) 
	and ComplaintID not in(select ComplaintID from EnergysyncrevUdupiHistory.dbo.RevenueComplaints))

	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillWithdrawals
	select * from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)
   and billno not in(select Billno from EnergysyncrevUdupiHistory.dbo.PreBillWithdrawals)

	insert into EnergysyncrevUdupiHistory.dbo.PreBillWithdrawalDetails
	select * from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
       and PreBillWithdrawalDetailsID not in(select PreBillWithdrawalDetailsID from EnergysyncrevUdupiHistory.dbo.PreBillWithdrawalDetails)

	insert into EnergysyncrevUdupiHistory.dbo.PreBillWithdrawalDetailsSub
	select * from PreBillWithdrawalDetailsSub where PreBillWithdrawalDetailsID in
	(select PreBillWithdrawalDetailsID from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)))
    and PreBillWithdrawalDetailsID not in(select PreBillWithdrawalDetailsID from EnergysyncrevUdupiHistory.dbo.PreBillWithdrawalDetailsSub)
	
	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillRebates
	select * from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergysyncrevUdupiHistory.dbo.PreBillRebateDetails
	select * from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergysyncrevUdupiHistory.dbo.PreBillRebateDetailsSub
	select * from PreBillRebateDetailsSub where PreBillRebateDetailsID in
	(select PreBillRebateDetailsID from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillReadingDetails
	select * from PreBillReadingDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)
    and PreBillReadingDetailsID not in(select PreBillReadingDetailsID from EnergysyncrevUdupiHistory.dbo.PreBillReadingDetails)

	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillDemands
	select * from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)
    and billno not in(select billno from EnergysyncrevUdupiHistory.dbo.PreBillDemands)

	insert into EnergysyncrevUdupiHistory.dbo.PreBillDemandDetails
	select * from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and PreBillDemandDetailsID not in(select PreBillDemandDetailsID from EnergysyncrevUdupiHistory.dbo.PreBillDemandDetails)

	insert into EnergysyncrevUdupiHistory.dbo.PreBillDemandDetailsSub
	select * from PreBillDemandDetailsSub where PreBillDemandDetailsID in
	(select PreBillDemandDetailsID from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0)))
    and PreBillDemandDetailsID not in(select PreBillDemandDetailsID from EnergysyncrevUdupiHistory.dbo.PreBillDemandDetails)
    
	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillDemandAdjustments
	select * from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergysyncrevUdupiHistory.dbo.PreBillDemandAdjustmentDetails
	select * from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergysyncrevUdupiHistory.dbo.PreBillDemandAdjustmentDetailsSub
	select * from PreBillDemandAdjustmentDetailsSub where PreBillDemandAdjustmentDetailsID in
	(select PreBillDemandAdjustmentDetailsID from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergysyncrevUdupiHistory.dbo.PreBillAttributeDetails
	select * from PreBillAttributeDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputes
	select * from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeDetails
	select * from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeDetailsSub
	select * from ConsumerDisputeDetailsSub where ConsumerDisputeDetailsID in
	(select ConsumerDisputeDetailsID from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeApprovals
	select * from ConsumerDisputeApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeBillDetails
	select * from ConsumerDisputeBillDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeLedgerDetails
	select * from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeLedgerDetailsSub
	select * from ConsumerDisputeLedgerDetailsSub where ConsumerDisputeLedgerDetailsID in
	(select ConsumerDisputeLedgerDetailsID from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeRegularisationApprovals
	select * from ConsumerDisputeRegularisationApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactions
	select * from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactionDetails
	select * from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactionDetailsSub
	select * from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))
	
	
	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactions 
	select * from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	and ConsumerDisputeTransactionID not in(select ConsumerDisputeTransactionID from 
	EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactions)

    insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactionDetails
	select * from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	and ConsumerDisputeTransactionID not in(select ConsumerDisputeTransactionID from 
	EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactions))

	insert into EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactionDetailsSub
	select * from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in	
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	and ConsumerDisputeTransactionID not in(select ConsumerDisputeTransactionID from 
	EnergysyncrevUdupiHistory.dbo.ConsumerDisputeTransactions)))

	
	insert into EnergysyncrevUdupiHistory.dbo.ComplaintManagement
	select * from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and (ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 	(@ConsumerID) and ODC=0))
    and ComplaintManagementID not in(select ComplaintManagementID from EnergysyncrevUdupiHistory.dbo.ComplaintManagement)

	insert into EnergysyncrevUdupiHistory.dbo.ComplaintManagementApprovals
	select * from ComplaintManagementApprovals where ComplaintManagementID in
	(select ComplaintManagementID from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in (@ConsumerID) and ODC=0))
    and ComplaintManagementID not in(select ComplaintManagementID from EnergysyncrevUdupiHistory.dbo.ComplaintManagementApprovals)
End
	
	
	delete from ComplaintManagementApprovals where ComplaintManagementID in
	(select ComplaintManagementID from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	delete from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	

	delete from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))
	

	delete from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in	
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))

	delete from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	

	delete from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	delete from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerDisputeRegularisationApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	delete from ConsumerDisputeLedgerDetailsSub where ConsumerDisputeLedgerDetailsID in
	(select ConsumerDisputeLedgerDetailsID from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	delete from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and 
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))
	
	delete from ConsumerDisputeBillDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	delete from ConsumerDisputeApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	
	delete from ConsumerDisputeDetailsSub where ConsumerDisputeDetailsID in
	(select ConsumerDisputeDetailsID from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	

	delete from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	delete from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	

	
	delete from PreBillAttributeDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	
	delete from PreBillDemandAdjustmentDetailsSub where PreBillDemandAdjustmentDetailsID in
	(select PreBillDemandAdjustmentDetailsID from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	delete from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	delete from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillDemandDetailsSub where PreBillDemandDetailsID in
	(select PreBillDemandDetailsID from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillReadingDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillRebateDetailsSub where PreBillRebateDetailsID in
	(select PreBillRebateDetailsID from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillWithdrawalDetailsSub where PreBillWithdrawalDetailsID in
	(select PreBillWithdrawalDetailsID from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days))

	delete from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days)	

	delete from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from ConsumerArrearInterestDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrearInterestDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrearDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrearDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	
	delete from ConsumerLedgerDetailsSub where ConsumerLedgerDetailsID in
	(select ConsumerLedgerDetailsID from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	delete  from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))
	
	delete from ConsumerGOKLedgerDetailsSub where ConsumerGOKLedgerDetailsID in
	(select ConsumerGOKLedgerDetailsID from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	delete  from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	delete from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)
	
	
	delete from ConsumerLedgerDemandDetailsSub where ConsumerLedgerDemandDetailsID in
	(select ConsumerLedgerDemandDetailsID from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	
	delete from ConsumerLedgerCollectionDetailsSub where ConsumerLedgerCollectionDetailsID in
	(select ConsumerLedgerCollectionDetailsID from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	
	delete from DemandAdjustmentCollectionDetailsSub where DemandAdjustmentCollectionDetailsID in
	(select DemandAdjustmentCollectionDetailsID from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from DemandAdjustmentReceiptsDetailsSub where DemandAdjustmentReceiptsDetailsID in
	(select DemandAdjustmentReceiptsDetailsID from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))

	delete from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from DemandAdjustmentDetailsSub where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))	

	delete from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	delete from PreCollectionDetails where ToSBMDate<(@Today-@Days)
	
	delete from OtherDemandChargeApprovals where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days))

	delete from OtherDemandChargeDetailsSub where OtherDemandChargeDetailsID in
	(select OtherDemandChargeDetailsID from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days)))

	delete from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID) 
	and OtherDemandChargedDate<(@Today-@Days))

	delete from OtherDemandCharges where ConsumerID in (@ConsumerID) and OtherDemandChargedDate<(@Today-@Days)

	
	delete from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails 
	where CollectionAdjustmentDetailsID in(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails 
	where BillNo in(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))))

	delete from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))

	delete from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))

	delete from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))

	delete from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))

	delete from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))
	
	delete from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))

	delete from CollectionAdjustments where CollectionAdjustmentID in 
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustments where ReceiptNo in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))

	delete from ChequeTransactionApprovals where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
	
	delete from ChequeTransactionDetailsSub where ChequeTransactionDetailsID in
	(select ChequeTransactionDetailsID from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))
	
	delete from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
	
	delete from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)) 
	
	
	delete from ReceiptCancellationApprovals where ReceiptID in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))

	delete from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)
	
	delete from PreBillDetails where ConsumerID in (@ConsumerID) and BillDate<(@BillDate-@Days)
	and ODC=0
END TRY

BEGIN CATCH
	select @ConsumerID
END CATCH

GO
