USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReceiptDetails]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_ReceiptDetails] 
  @rrno   varchar(max),
  @year   int,
  @month   int
AS
BEGIN 
select r.ReceiptNo,
    r.ReceiptDate,
    r.Amount,
    pm.Description PaymentMode ,
   asp.Description AccountHead,
    r.PrintedReceiptNo ReferenceNo, 
    case 
        when r.PaymentModeID=2 then  r.PaymentModeNo else null 
    end CheckNo,
    case 
        when r.PaymentModeID=2 then  r.PaymentModeDate else null 
    end PaymentDate
     
from Receipts r
left join PaymentModes pm 
    on pm.PaymentModeID=r.PaymentModeID
left join AllocationStatementPresetData asp 
    on asp.AllocationStatementPresetDataID=r.PaymentTypeID
where r.DocumentNo=@rrno
    and year(r.ReceiptDate)=@year 
    and month(r.ReceiptDate)=@month
   
end
GO
