USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[CBPositive]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CBPositive]  (@ConsumerID int ,@CB money,@Collection int)
as
update ConsumerLedger set OpeningBalance=@CB+@Collection where ConsumerID=@ConsumerID and LedgerMonth=3 and LedgerYear=2017

update ConsumerLedgerDetails set Amount=@CB+@Collection where ConsumerLedgerID=(select ConsumerLedgerID from ConsumerLedger where ConsumerID=@ConsumerID and LedgerMonth=3 and LedgerYear=2017)
and DemandChargeTypeID=1

update ConsumerLedgerDetailsSub set Amount=@CB+@Collection
where ConsumerLedgerDetailsID=(select ConsumerLedgerDetailsID from ConsumerLedgerDetails
where ConsumerLedgerID in(select ConsumerLedgerID from ConsumerLedger where ConsumerID=@ConsumerID and LedgerMonth=3 and LedgerYear=2017))
and DemandChargeID=2


update ConsumerArrears set amount=@CB+@Collection where ConsumerID=@ConsumerID and month(BillDate)=3 and year(BillDate)=2017

update ConsumerArrearDetails set Amount=@CB+@Collection where ConsumerArrearsID=(select ConsumerArrearsID from ConsumerArrears where ConsumerID=@ConsumerID and month(BillDate)=3 and year(BillDate)=2017)
and DemandChargeTypeID=1

update ConsumerArrearDetailssub set Amount=@CB+@Collection
where ConsumerArrearsID=(select ConsumerArrearsID from ConsumerArrears where ConsumerID=@ConsumerID  and month(BillDate)=3 and year(BillDate)=2017)
and DemandChargeID=2
GO
