USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[cpm7mts]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[cpm7mts] (@mts varchar(200) ,@rno varchar(100))
as
Begin

update meterdetails set MeterStatus=@mts where meterid in(select max(meterid) from DistributionNodeMeterAllocation where distributionnodeid in(select distributionnodeid from consumer where rrno=@rno))

update p2 set p2 .meterstatus=@mts
 from prebilldetails p1
inner join prebillreadingdetails p2 on p1.billno=p2.billno
 where p1.rrno=@rno

end
GO
