USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[sp_DistributionNodeMNRListID]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DistributionNodeMNRListID] AS
select * from DistributionNodeMNRList where RevenueTransfered=0
GO
