USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[sp_DisconnectionListAdviceForReconnect]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_DisconnectionListAdviceForReconnect]
@RRNo varchar(max),
@StatusID int=null,
@FromContactID int=null,
@FromODLDID int=null,
@ToContactID int=null,
@ToODLDID int=null,
@ApprovalRemarks varchar(max)=null
AS
SET NOCOUNT ON

update  r set r.AdviceForReconnect=1
From consumerdisconnectionlist r where  consumerdisconnectionlistid in (
select max(consumerdisconnectionlistid)From consumerdisconnectionlist where   ConsumerID in   (select ConsumerID From Consumer where RRNO=@RRNo))

update  r set ReconnectionListapproved=1
From consumerdisconnectionlist r where  consumerdisconnectionlistid in (
select max(consumerdisconnectionlistid)From consumerdisconnectionlist
 where   ConsumerID in   (select ConsumerID From Consumer where RRNO=@RRNo))
and @StatusID=1


insert into ActivityApprovalDetails
select 54,(select max(ConsumerDisConnectionListID) From ConsumerDisConnectionList where ConsumerID in (select ConsumerID from Consumer where RRNO=@RRNO ))
,@FromContactID ,@FromODLDID,@StatusID ,@ApprovalRemarks,@ToContactID ,@ToODLDID,getdate()
GO
