USE [EnergySyncRevenueKmc]
GO
/****** Object:  StoredProcedure [dbo].[Updatecons3]    Script Date: 15-06-2026 10:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Updatecons3] (@chi varchar(100))
as set nocount on

begin
 
select p1.BillDate,cast(p2.KWahInitialReading as int) AS IR,cast(p2.KWahFinalReading as int)as FR,C1.OPENINGBALANCE-R2.AMOUNT as CB,cast(d1.KWahAverageConsumption as int)as AVG,p2.MeterStatus,r1.ReasonCode,t1.Description as Tariff 
 from consumerledger c1
inner  JOIN Receipts R2 ON R2.CONTACTID=C1.CONSUMERID
inner join consumer c2 on c1.consumerid=c2.consumerid 
inner join prebilldetails p1 on p1.rrno=c2.rrno 
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join DistributionNodeMeterAllocation d1 on d1.DistributionNodeID=c2.DistributionNodeID
inner join MeterDetails m1 on m1.meterid=d1.MeterID
left join RevenueBillReasons r1 on r1.RevenueBillReasonID=p2.RevenueBillReasonID
left join Tariffs t1 on t1.tariffid=c2.TariffID
where tosbmdate is null and billed=1and P1.updated=1and c1.LedgerMonth=4 and c2.rrno=@CHI and p1.billno=(select max(billno) from prebilldetails where tosbmdate is null and billed=1 and updated=1 and rrno=@CHI)

select p1.BillDate,cast(p2.KWahInitialReading as int) AS IR,cast(p2.KWahFinalReading as int)as FR,c1.openingbalance as CB,cast(d1.KWahAverageConsumption as int)as AVG,p2.MeterStatus,r1.ReasonCode,t1.Description as Tariff 
 from consumerledger c1
inner join consumer c2 on c1.consumerid=c2.consumerid 
inner join prebilldetails p1 on p1.rrno=c2.rrno 
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join DistributionNodeMeterAllocation d1 on d1.DistributionNodeID=c2.DistributionNodeID
inner join MeterDetails m1 on m1.meterid=d1.MeterID
left join RevenueBillReasons r1 on r1.RevenueBillReasonID=p2.RevenueBillReasonID
left join Tariffs t1 on t1.tariffid=c2.TariffID
where tosbmdate is null and billed=1and updated=1and c1.LedgerMonth=4 and c2.rrno=@chi and p1.billno=(select max(billno) from prebilldetails where tosbmdate is null and billed=1 and updated=1 and rrno=@chi)

set nocount off
end


GO
