USE [ESMCCKMC]
GO
/****** Object:  StoredProcedure [dbo].[ClickMap]    Script Date: 15-06-2026 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[ClickMap](@CID varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(8000)

select @sql='

select (OB+Demand)-(Collection+Adjustment) as CB,*
from

(select cn.RRNo,cn.FirstName,t.Description as Tariffs
,(Round(sum(OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceInterest+OpeningBalanceTax+OpeningBalanceSupervisionFee+OpeningBalanceMeterRent+OpeningBalanceDandR),0)+Round(sum(GOKOBFixedCharge+GOKOBEnergyCharge+GOKOBRevenueOthers+GOKOBInterest+GOKOBTax+GOKOBSupervisionFee+GOKOBMeterRent),0)) as OB

,(Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+DemandSupervisionFee+DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as Demand

,Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionInterest+CollectionTax+CollectionSupervisionFee+CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)+CollectionSuspense-CollectionDHAmount) as Collection

,sum(isnull(CollectionCBTransfer,0)+isnull(CollectionLTOLRevenueFixedCharge,0)+isnull(CollectionLTOLRevenueEnergyCharge,0)+isnull(CollectionLTOLRevenueOthers,0)+isnull(CollectionLTOLInterest,0)+isnull(CollectionLTOLTax,0)+isnull(CollectionLTOLSupervisionFee,0)+isnull(CollectionLTOLMeterRent,0)+isnull(CollectionLTOLBalance,0)+isnull(CollectionMiscToRevenueFixedCharge,0)+isnull(CollectionMiscToRevenueEnergyCharge,0)+isnull(CollectionMiscToRevenueOthers,0)+isnull(CollectionMiscToRevenueInterest,0)+isnull(CollectionMiscToRevenueTax,0)+isnull(CollectionMiscToRevenueSupervisionFee,0)+isnull(CollectionMiscToRevenueMeterRent,0)+isnull(CollectionMiscToRevenueBalance,0)+isnull(CollectionRevenueToMisc,0)+isnull(CollectionDepositToRevenueFixedCharge,0)+isnull(CollectionDepositToRevenueEnergyCharge,0)+isnull(CollectionDepositToRevenueOthers,0)
+isnull(CollectionDepositToRevenueInterest,0)+isnull(CollectionDepositToRevenueTax,0)+isnull(CollectionDepositToRevenueSupervisionFee,0)+isnull(CollectionDepositToRevenueMeterRent,0)+isnull(CollectionDepositToRevenueBalance,0)+isnull(CollectionWithdrawlsRevenueFixedCharge,0)+isnull(CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(CollectionWithdrawlsRevenueOthers,0)+isnull(CollectionWithdrawlsInterest,0)+isnull(CollectionWithdrawlsTax,0)+isnull(CollectionWithdrawlsSupervisionFee,0)+isnull(CollectionWithdrawlsMeterRent,0)+isnull(CollectionWithdrawlsBalance,0)+isnull(CollectionOfficeAdjustmentFixedCharge,0)+isnull(CollectionOfficeAdjustmentEnergyCharge,0)+isnull(CollectionOfficeAdjustmentOthers,0)+isnull(CollectionOfficeAdjustmentInterest,0)+isnull(CollectionOfficeAdjustmentTax,0)+isnull(CollectionOfficeAdjustmentSupervisionFee,0)
+isnull(CollectionOfficeAdjustmentMeterRent,0)+isnull(CollectionOfficeAdjustmentBalance,0)+isnull(CollectionOfficeLightingJVFixedCharge,0)+isnull(CollectionOfficeLightingJVEnergyCharge,0)+isnull(CollectionOfficeLightingJVOthers,0)+isnull(CollectionOfficeLightingJVInterest,0)+isnull(CollectionOfficeLightingJVTax,0)+isnull(CollectionOfficeLightingJVSupervisionFee,0)+isnull(CollectionOfficeLightingJVMeterRent,0)+isnull(CollectionOfficeLightingJVBalance,0)+isnull(CollectionLT6JVFixedCharge,0)+isnull(CollectionLT6JVEnergyCharge,0)+isnull(CollectionLT6JVRevenueOthers,0)+isnull(CollectionLT6JVInterest,0)+isnull(CollectionLT6JVTax,0)+isnull(CollectionLT6JVSupervisionFee,0)+isnull(CollectionLT6JVMeterRent,0)+isnull(CollectionLT6JVBalance,0)+isnull(CollectionJVOthers,0)+isnull(CollectionJVOthersBalance,0)+isnull(CollectionDisputeToJVFixedCharge,0)
+isnull(CollectionDisputeToJVEnergyCharge,0)+isnull(CollectionDisputeToJVRevenueOthers,0)+isnull(CollectionDisputeToJVInterest,0)+isnull(CollectionDisputeToJVTax,0)+isnull(CollectionDisputeToJVSupervisionFee,0)+isnull(CollectionDisputeToJVMeterRent,0)+isnull(CollectionDisputeToJVBalance,0)+isnull(GOKCollectionRevenueFixedCharge,0)+isnull(GOKCollectionRevenueEnergyCharge,0)+isnull(GOKCollectionRevenueOthers,0)+isnull(GOKCollectionInterest,0)+isnull(GOKCollectionTax,0)+isnull(GOKCollectionSupervisionFee,0)+isnull(GOKCollectionMeterRent,0)+isnull(GOKCollectionBalance,0)) as Adjustment

,WardName,ImagePath
from (select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') as DCB
inner join DCBDetails d on d.DCBID=dcb.DCBID
left outer join Consumer cn on cn.ConsumerID=d.ConsumerID
left outer join DCB d1 on d1.DCBID=d.DCBID
left outer join Tariffs t on t.TariffID=d.TariffID
where cn.consumerid='+@CID+'
group by WardName,cn.RRNo,cn.FirstName,t.Description,ImagePath) as A'
exec(@sql)
GO
