USE [ESMCCKMC]
GO
/****** Object:  StoredProcedure [dbo].[SP_wardwise_adjustment]    Script Date: 15-06-2026 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec SP_wardwise_adjustment @wardname='MALPE CENTRAL',@Year1='2012',@Year2='2013',  @Year3='2014',@Year4='2015',@Year5='2016' 


/*
Declare @wardname varchar(100) set @wardname='MALPE CENTRAL'
Declare @Year1 varchar(10) set @Year1='2012'
Declare @Year2 varchar(10) set @Year2='2013'
Declare @Year3 varchar(10) set @Year3='2014'
Declare @Year4 varchar(10) set @Year4='2015'
Declare @Year5 varchar(10) set @Year5='2016'

 --*/

CREATE PROCEDURE [dbo].[SP_wardwise_adjustment](@wardname varchar(100),@Year1 varchar(10),@Year2 varchar(10),@Year3 varchar(10),@Year4 varchar(10),@Year5 varchar(10)) 
as



/*
Declare @wardname varchar(100) set @wardname='MALPE CENTRAL'
Declare @Year1 varchar(10) set @Year1='2012'
Declare @Year2 varchar(10) set @Year2='2013'
Declare @Year3 varchar(10) set @Year3='2014'
Declare @Year4 varchar(10) set @Year4='2015'
Declare @Year5 varchar(10) set @Year5='2016'
 */

declare @sql varchar(max)

select @sql='

WITH wardwise_adjustment as(
select c.ConsumerID ,'''+@wardname+''' AS wardname,OldValue,NewValue,
CASE
WHEN (d1.dcbyear in ('+@Year1+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year2+') and d1.dcbmonth<=3)  THEN  ''Y1'' 
WHEN (d1.dcbyear in ('+@Year2+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year3+') and d1.dcbmonth<=3)  THEN  ''Y2''   
WHEN (d1.dcbyear in ('+@Year3+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year4+') and d1.dcbmonth<=3)  THEN  ''Y3'' 
WHEN (d1.dcbyear in ('+@Year4+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year5+') and d1.dcbmonth<=3)  THEN  ''Y4'' 
END AS FYear
,isnull((cast((Round(sum(OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceInterest+OpeningBalanceTax+
OpeningBalanceSupervisionFee+OpeningBalanceMeterRent+OpeningBalanceDandR),0)+Round(sum(GOKOBFixedCharge+GOKOBEnergyCharge+ 
GOKOBRevenueOthers+GOKOBInterest+GOKOBTax+GOKOBSupervisionFee+GOKOBMeterRent),0)) as numeric(10,2))) ,0) as ob     

 from  dcb d1
inner  join dcbdetails d on d.dcbid=d1.dcbid 
inner join consumer c on d.consumerid=c.consumerid
inner join MasterDataAlterations m on  c.DistributionNodeID=m.DistributionNodeID  and dcbyear= year(EffectiveDate) and dcbmonth= month(EffectiveDate)
where MasterDataAlterationTypeID=29 and EffectiveDate between
convert(varchar,concat('+@Year1+',''-'',''04'',''-'',''01''),0) and convert(varchar,concat('+@Year5+',''-'',''03'',''-'',''31''),0)
and (OldValue='''+@wardname+''' or NewValue = '''+@wardname+''') and  dcbyear=year(effectivedate) and DCBMonth=month(EffectiveDate)
group by c.consumerid,wardname,OldValue,NewValue,
CASE
WHEN (d1.dcbyear in ('+@Year1+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year2+') and d1.dcbmonth<=3)  THEN  ''Y1'' 
WHEN (d1.dcbyear in ('+@Year2+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year3+') and d1.dcbmonth<=3)  THEN  ''Y2''   
WHEN (d1.dcbyear in ('+@Year3+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year4+') and d1.dcbmonth<=3)  THEN  ''Y3'' 
WHEN (d1.dcbyear in ('+@Year4+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year5+') and d1.dcbmonth<=3)  THEN  ''Y4'' 
END)

select wardname,OldValue,NewValue,FYear, sum(ob+0) as cb from wardwise_adjustment
group by wardname,OldValue,NewValue,FYear'



exec(@sql)
--select @sql

GO
