USE [ESMCCKMC]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_Receipts]    Script Date: 15-06-2026 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_ETL_Receipts] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select ReceiptID,ReceiptNo,ReceiptDate,DocumentNo,ContactID,Amount,Balance,PaymentDate,PaymentModeID,PaymentTypeID,ReceiptOLID,CashCounterID,CashCounterOLID,PaymentOrganisationID
,PaymentOrganisationBranchID,PaymentOrganisationTypeID,PaymentModeNo,PaymentModeDate,DocumentTypeID,DocumentOLID,ContactName,ContactCategoryID,PrintedReceiptNo,CreatedBy,CreatedOn
,CreatedTerminal,Cancel,ReceiptCode,Updated,TransSequenceID,MiscUpdate,DRTransfered,Remarks
,GetDate() dashboardupdated 
from '+@DBName+'Receipts a cross join '+@DBName+'Today
where month(Receiptdate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(Receiptdate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
and isnull(Amount,0)!=0 and isnull(cancel,0)=0
Order by ReceiptID
'exec (@Sql)



GO
