USE [ESMCCKMC]
GO
/****** Object:  StoredProcedure [dbo].[SP_PDemandConsolidated]    Script Date: 15-06-2026 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--exec SP_PDemandConsolidated @wardname='moodusagri',@Year1='2012',@Year2='2013',  @Year3='2014',@Year4='2015' 



CREATE  PROCEDURE [dbo].[SP_PDemandConsolidated](@wardname varchar(100),@Year1 varchar(10),@Year2 varchar(10),@Year3 varchar(10),@Year4 varchar(10)) 

/*
Declare @wardname varchar(100) set @wardname='KOLA'
Declare @Year1 varchar(10) set @Year1='2012'
Declare @Year2 varchar(10) set @Year2='2013'
 Declare @Year3 varchar(10) set @Year3='2014'
Declare @Year4 varchar(10) set @Year4='2015'
 */
 
as
declare @sql varchar(max)

select @sql='


with DCB1(ConsumerID,WardName,dcbmonth,dcbyear,MYear,Amountdue,Collection) as( 
select a.ConsumerID ConsumerID,A.wardname,dcbmonth,dcbyear,MYear, 


isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+
DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)
+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest
+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)as AmountDue
,
isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+
CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)
+CollectionSuspense-CollectionDHAmount) as NUMERIC(10,2)),0) as Collection


 from ( select ConsumerID,WardName,MYear,DCBID,dcbmonth,dcbyear
 FROM ( select (CASE   
WHEN (d1.dcbyear in ('+@Year1+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year2+') and d1.dcbmonth<=3)  THEN  ''Y1'' 
WHEN (d1.dcbyear in ('+@Year2+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year3+') and d1.dcbmonth<=3)  THEN  ''Y2''   
WHEN (d1.dcbyear in ('+@Year3+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year4+') and d1.dcbmonth<=3)  THEN  ''Y3'' END) as MYear,     
 DCBID,dcbyear,dcbmonth from DCB D1 where DCBYear in('+@Year1+','+@Year2+','+@Year3+','+@Year4+' )) A 
Cross Join (  select Distinct ConsumerID,d.WardName WardName  from DCBDetails d where DCBID
 in (select DCBID from DCB where DCBYear in (2012,2013,2014,2015,2016) and dcb.DCBID=d.DCBID)
and wardname='''+@wardname+'''  
) as B where MYear is not NULL ) as A left outer Join ( select *  from DCBDetails d  where DCBID in
 (select DCBID from DCB where DCBYear in ('+@Year1+','+@Year2+','+@Year3+','+@Year4+' ) and dcb.DCBID=d.DCBID) and wardname='''+@wardname+'''  )
 as B on b.ConsumerID=a.ConsumerID 
and a.dcbid=b.dcbid Group By a.ConsumerID,A.WardName,dcbmonth,dcbyear,MYear ) 

select WardName,Myear,sum(AmountDue) AmountDue,sum(Collection)  Collection from DCB1  group by WardName,Myear '


exec(@sql)
--select @sql



GO
