USE [ESMCCKMC]
GO
/****** Object:  StoredProcedure [dbo].[PercentageConsumptionChart]    Script Date: 15-06-2026 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PercentageConsumptionChart](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as

BEGIN

SET NOCOUNT ON

DECLARE @DynamicPivotQuery AS NVARCHAR(MAX), @DynamicPivotQuery1 AS NVARCHAR(MAX),@DynamicPivotQuery2 AS NVARCHAR(MAX),
@PivotColumnNames AS NVARCHAR(MAX), @PivotSelectColumnNames AS NVARCHAR(MAX)

DECLARE @sqlFinal as NVARCHAR(MAX)
DECLARE @sq1 as NVARCHAR(MAX)
Declare @sq table (Description varchar(max))


declare @sql varchar(max)

set @sq1='select distinct Description
from DCBDetails dcb inner join (select tariffid tid,description from Tariffs) t on dcb.TariffID=t.tid
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') and ConsumerConnectionStatusID in(1,2,4)
'+@var+''

insert into @sq
exec(@sq1)

SELECT @PivotColumnNames= ISNULL(@PivotColumnNames + ',','')+ QUOTENAME(Description)
FROM @sq



SELECT @PivotSelectColumnNames = ISNULL(@PivotSelectColumnNames + ',','')
    + 'ISNULL(' + QUOTENAME(Description) + ', 0) AS ' + QUOTENAME(Description)
FROM @sq 



set @sqlFinal='select Wardname,'+@PivotSelectColumnNames+'
from (
select distinct A.Description,A.WardName,WConsumption/TConsumption*100 PercentageConsumption 
from

(select dcb.WardName,t.Description,sum(Consumption) as WConsumption
from DCBDetails dcb
inner join (select tariffid tid,description from tariffs) as t on t.tid=dcb.tariffid
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') 
'+@var+'
group by dcb.WardName,t.Description) as A

cross join
(select sum(Consumption) TConsumption
from DCBDetails dcb
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') --and ConsumerConnectionStatusID in(1,2,4)
and Consumption<>0 '+@var+' ) as B) X

PIVOT(
    SUM(PercentageConsumption)
FOR Description IN ('+@PivotColumnNames+')) AS PVTTable'

exec(@sqlFinal)

END
GO
