USE [ESMCCKMC]
GO
/****** Object:  StoredProcedure [dbo].[PercentageConsumption]    Script Date: 15-06-2026 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PercentageConsumption](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(max)

select @sql='
select A.Description,A.WardName,A.Total,Live,WConsumption,TConsumption,WConsumption/TConsumption*100 PercentageConsumption
from

(select dcb.WardName,t.Description,count(*) as Total,sum(case when dcb.ConsumerConnectionStatusID=1 then 1 end) as Live,sum(Consumption) as WConsumption
from DCBDetails dcb
inner join (select tariffid tid,description from tariffs) as t on t.tid=dcb.tariffid
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') 
'+@var+'
group by dcb.WardName,t.Description) as A

cross join
(select sum(Consumption) TConsumption
from DCBDetails dcb
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') --and ConsumerConnectionStatusID=1 
and Consumption<>0 '+@var+') as B '

exec(@sql)
GO
