USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annex1a_Report_List]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [EnergySync_Hescom]
--GO

--/****** Object:  StoredProcedure [dbo].[SP_Annex1a_Report_List]    Script Date: 25-May-26 02:59:33 PM ******/
--SET ANSI_NULLS ON
--GO

--SET QUOTED_IDENTIFIER ON
--GO





CREATE  PROCEDURE [dbo].[SP_Annex1a_Report_List] 
	@LoginOLID Int ,
	@FromYear Int ,
	@ToYear Int ,
	@FromFyYear DateTime ,
	@ToFyYear DateTime ,
	@AcOLID varchar(200)  

AS SET NOCOUNT ON


--Declare @LoginOLID   Int          = 337
--Declare @FromYear    Int          = 2025
--Declare @ToYear      Int          = 2026
--Declare @FromFyYear  DateTime     = '2025-04-01'
--Declare @ToFyYear    DateTime     = '2026-03-31'
--Declare @AcOLID      varchar(200) = 453


Declare @AcCode      varchar(20)  = 'ALL'
Declare @FromDate  DateTime     = (select convert(datetime, concat(@FromYear, '-4-1')))
Declare @AcCode1   varchar(20)  = (select left(@AcCode, 6))
Declare @JVNo      Int          = 0
Declare @DocumentNo Int         = 0 


Declare @OLID table (OLID Int) 
insert into @OLID
select  OLID from OfficeLocationAccountingUnitDetails with(nolock) where (@AcOLID=0 or AcOLID=@AcOLID )
and AcUnit=1 


IF OBJECT_ID('tempdb..#Data11') IS NOT NULL DROP TABLE #Data11
CREATE TABLE #Data11 (
OrderNo Int,AcOLID Int,OfficeID Int,AcOfficeLocation Varchar(200),FyYear Varchar(20),AccountCode Varchar(20),WorkDescription Varchar(500)
,Total Money,List1 Money,List2A Money,List2B Money,List3 Money,List1C Int,List2AC Int,List2BC Int,List3C Int,STotal Money,STotalC Int,SumT Money,SumTC Int
)

Declare @OLID1 Int 
DECLARE Cur1 CURSOR FOR select OLID from @OLID Order By OLID 
--------------------------------------------------------
OPEN Cur1; FETCH NEXT FROM Cur1 INTO @OLID1; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------





-----------------------------------------------------------------------------------

Declare @JV Table (JVNo Int,JVDate DateTime) 
Insert Into @JV
select JournalVoucherNo,JournalVoucherDate from JournalVoucher JV with(nolock) 
where jv.OLID=@OLID1 and Approved=1 and JournalVoucherDate Between @FromFyYear and @ToFyYear 
and JournalVoucherNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where b.JournalVoucherNo = jv.JournalVoucherNo 
and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%') ) 


IF OBJECT_ID('tempdb..#Data') IS NOT NULL DROP TABLE #Data
CREATE TABLE #Data (
    OLID Int, JournalVoucherNo Int, AcHead Varchar(20),--DocumentTypeID Int,DocumentNo Int,
    _10 Money,_11 Money,_12 Money,_13 Money,_14 Money,_15 Money,_16 Money,_17 Money,_18 Money,_19 Money,_20 Money,_21 Money,
    _22 Money,_23 Money,_24 Money,_25 Money,_26 Money,_27 Money,_28 Money,_29 Money,
    _101 Money,_102 Money,_103 Money,_104 Money,_105 Money,_106 Money,_107 Money,_108 Money,_109 Money,_110 Money,
    _111 Money,_112 Money,_113 Money,_114 Money,_115 Money,_116 Money,_117 Money,_118 Money,_119 Money,_120 Money,
    _121 Money,_122 Money,_123 Money,_124 Money,_125 Money,_126 Money,_127 Money,_128 Money,_129 Money,_130 Money,
    _131 Money,_132 Money,_133 Money,_134 Money,_135 Money,_136 Money,_137 Money,_138 Money,_139 Money,_140 Money,
    _141 Money,_142 Money,_143 Money,_144 Money,_145 Money,_146 Money,_147 Money,_148 Money,_149 Money,_150 Money,
    _151 Money,_152 Money,_153 Money,_154 Money,_155 Money,_156 Money,_157 Money,_158 Money
)
INSERT INTO #Data
EXEC SP_Annexure1a @LoginOLID, @FromYear, @ToYear, @FromFyYear, @ToFyYear, @OLID1
CREATE INDEX ix_Data_JV_AcHead ON #Data (JournalVoucherNo, AcHead)

IF OBJECT_ID('tempdb..#CWIP') IS NOT NULL DROP TABLE #CWIP
CREATE TABLE #CWIP (
    OrderNo Int, DocumentTypeID Int, WorkInChargeID Int, ODLDID Int, Legacy Int,
    WorkOrderNo1 Varchar(50), WorkOrderDate DateTime, JVDate DateTime,
    Table1 Varchar(20), WorkOrderNo Int, TransNo Int, TransDate DateTime,
    OfficeID Int, Description Varchar(500), AccountHead Varchar(10),
    OB Money, Expenditure Money, ReceivedAmount Money, TransferedAmount Money, Asseted Money, CB Money
)
INSERT INTO #CWIP
EXEC SP_CWIP_Expenditure_New @OLID1, @FromFyYear, @ToFyYear, @AcCode1
CREATE INDEX ix_CWIP_WONo_AcHead ON #CWIP (WorkOrderNo, AccountHead)


IF OBJECT_ID('tempdb..#OB1') IS NOT NULL DROP TABLE #OB1
CREATE TABLE #OB1 (AcOLID Int, OLID Int, WONo Int, ExpenditureAmount Money)
INSERT INTO #OB1
SELECT AcOLID, a.OLID, DocumentNo WONo, ExpenditureAmount
FROM (
    SELECT * FROM OfficeLocationAccountingUnitDetails a WITH(NOLOCK) WHERE AcOLID = @OLID1
) AS a
INNER JOIN CostRegisterExpenditureDetails b WITH(NOLOCK)
    ON b.DocumentOLID = a.OLID
    AND CAST(EffectiveDate AS date) = DATEADD(day, -1, @FromDate)
INNER JOIN WorkOrder C WITH(NOLOCK) ON c.WorkOrderNo = b.DocumentNo
INNER JOIN WorkAllocation WA WITH(NOLOCK)
    ON wa.WorkAllocationID = ISNULL(c.WorkAllocationID, 0)
    AND (CASE WHEN @AcCode = 'ALL' THEN 'ALL' ELSE (MainAccountCode + SubAccountCode) END) = @AcCode1
    AND (CASE WHEN @DocumentNo = 0 THEN 0 ELSE DocumentNo END) = @DocumentNo
CREATE INDEX ix_OB1_WONo ON #OB1 (WONo)

IF OBJECT_ID('tempdb..#OB') IS NOT NULL DROP TABLE #OB
CREATE TABLE #OB (AcOLID Int, OLID Int, WONo Int, ExpenditureAmount Money, Expenditure1 Money, Asseted1 Money)
INSERT INTO #OB
SELECT a.*, ISNULL(Expenditure, 0) Expenditure, ISNULL(Asseted, 0) Asseted
FROM #OB1 A
OUTER APPLY (
    SELECT SUM(Expenditure) Expenditure, SUM(Asseted) Asseted
    FROM #CWIP B
    WHERE ISNULL(b.WorkOrderNo, 0) = ISNULL(a.WONo, 0)
) B
CREATE INDEX ix_OB_WONo ON #OB (WONo)


IF OBJECT_ID('tempdb..#Data1') IS NOT NULL DROP TABLE #Data1
CREATE TABLE #Data1 (WONo Int, List Varchar(100))
INSERT INTO #Data1
SELECT a.WorkOrderNo,
    CASE
        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) < @FromDate
                 THEN 1 ELSE 0 END) <> 0
            THEN 'List1'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List2A'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) = 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List2B'

        WHEN SUM(CASE WHEN a.WorkOrderDate >= @FromDate
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List3'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate 
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) < @FromDate  
					  and (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0)))=0
					  THEN 0 else 1 END) = 0
            THEN concat('List1 not operated during ',@ToYear) 

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) = 0
            THEN concat('List2A not operated during ',@ToYear) 


        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToFyYear) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) = 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) = 0
            THEN concat('List2B not operated during ',@ToYear) 
    END AS List
FROM (
    SELECT * FROM #CWIP
    WHERE (CASE WHEN @DocumentNo = 0 THEN 0 ELSE WorkOrderNo END) = @DocumentNo
      AND (CASE WHEN @AcCode = 'ALL' THEN 'ALL' ELSE AccountHead END) = @AcCode1
    UNION ALL
    SELECT * FROM (
        SELECT 0 OrderNO, (CASE WHEN ISNULL(Legacy,0)=0 THEN 2 ELSE 22 END) Legacy1,
               WorkInChargeID, ODLDID, ISNULL(Legacy,0) Legacy,
               OfficialReferenceNo COLLATE database_default OfficialReferenceNo,
               WorkOrderDate, NULL AA, 'OB' Status1, WorkOrderNo,
               0 BB, NULL CC, ola.OfficeID,
               Description COLLATE database_default Description,
               (MainAccountCode+SubAccountCode) COLLATE database_default AcHead,
               ExpenditureAmount, Expenditure1, 0 DD, 0 EE, Asseted1, ExpenditureAmount FF
        FROM #OB A
        INNER JOIN WorkOrder B WITH(NOLOCK) ON b.WorkOrderNo = A.WONo
        LEFT JOIN OfficeLocationAccountingUnitDetails ola ON ola.OLID = a.AcOLID
        LEFT JOIN WorkAllocation wa WITH(NOLOCK) ON wa.WorkAllocationID = ISNULL(b.WorkAllocationID, 0)
        WHERE ISNULL(Expenditure1, 0) = 0 AND ISNULL(Asseted1, 0) = 0
    ) A
) A
FULL JOIN #OB Z ON z.WONo = a.WorkOrderNo
OUTER APPLY (
    SELECT * FROM (
        SELECT WorkOrderNo WO, CompletionDate, CommissionedDate,
               ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, ISNULL(complete,0) DESC, CompletionReportID DESC) MaxNo
        FROM CompletionReport CR WITH(NOLOCK)
        WHERE cr.WorkOrderNo = a.WorkOrderNo
          AND ISNULL(Canceled,0) = 0
          AND CompletionDate IS NOT NULL
    ) A WHERE MaxNo = 1
) CR
OUTER APPLY (
    SELECT * FROM (
        SELECT WorkOrderNo WO, WorksCompletionDate,
               ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, LegacyWOcompletionreportId DESC) MaxNo
        FROM LegacyWOcompletionreport CR WITH(NOLOCK)
        WHERE cr.WorkOrderNo = a.WorkOrderNo
          AND ISNULL(Canceled,0) = 0 and Approved=1 
          AND WorksCompletionDate IS NOT NULL
    ) A WHERE MaxNo = 1
) CR1
GROUP BY a.WorkOrderNo
ORDER BY WorkOrderNo
CREATE INDEX ix_Data1_WONo ON #Data1 (WONo)


IF OBJECT_ID('tempdb..#Budget') IS NOT NULL DROP TABLE #Budget
SELECT
    BudgetGrantOLID OLID,t.MainAccountCode + t.SubAccountCode AS AcCode,
    SUM(ISNULL(t.Total, 0)) AS Total
INTO #Budget
FROM BudgetGrant t WITH (NOLOCK)
WHERE EXISTS (
    SELECT 1
    FROM OfficeLocationAccountingUnitDetails x WITH (NOLOCK)
    WHERE x.OLID     = t.BudgetGrantOLID
      AND x.AcOLID = @OLID1
      AND x.OfficeID = 50
)
  AND t.YearFrom         = @FromYear
  AND t.YearTo           = @ToYear
  AND t.MainAccountCode IS NOT NULL
  AND t.SubAccountCode  IS NOT NULL
GROUP BY
    BudgetGrantOLID,t.MainAccountCode + t.SubAccountCode
CREATE NONCLUSTERED INDEX IX_BUD ON #Budget (OLID, AcCode)     INCLUDE (Total)


----------------------------------------------------------------------------------- 

insert into #Data11 
select 1 OrderNo,a.*,(List1+List2A+List2B) STotal,(List1C+List2AC+List2BC) STotalC
,(List1+List2A+List2B+List3) SumT,(List1C+List2AC+List2BC+List3C) SumTC
from (
select JVOLID AcOLID,OfficeID,OfficeLocation AcOfficeLocation,FyYear,AcHead AccountCode,s.Description WorkDescription,isnull(Total,0) Total
,Sum(case when List='List1' then _18 else 0 end) List1
,Sum(case when left(List,6)='List2A' then _18 else 0 end) List2A
,Sum(case when left(List,6)='List2B' then _18 else 0 end) List2B
,Sum(case when (List='List3' or List is NULL) then _18 else 0 end) List3
,Sum(case when List='List1' then 1 else 0 end) List1C
,Sum(case when left(List,6)='List2A' then 1 else 0 end) List2AC
,Sum(case when left(List,6)='List2B' then 1 else 0 end) List2BC
,Sum(case when (List='List3' or List is NULL) then 1 else 0 end) List3C 
from (
select AcHead,DocumentNo,DocumentTypeID,JVOLID,Sum(_18) _18
from (
            SELECT
                isnull(a.JournalVoucherNo,j.JournalVoucherNo) JournalVoucherNo,
                ISNULL(b.AcHead, a.AcHead) AcHead,
                isnull(a.DocumentNo,j.DoucmentNo) DocumentNo,
                isnull((CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END),j.DocumentTypeID) DocumentTypeID,
                isnull(JVOLID,j.OLID) JVOLID,
                SUM(ISNULL((CASE WHEN TableName='ProformaInvoice' and c.ToAcHead!='42.401' then AssetAmount WHEN TableName='DemandRaising' and LEFT(a.AcHead,6)=LEFT(b.AcHead,6) THEN AssetAmount WHEN TableName='DivisionAdjustment' and LEFT(a.AcHead, 4) NOT IN ('14.9', '14.8', '14.7') THEN AssetAmount ELSE _18 END),0)) _18
                FROM (
                SELECT * FROM #Data
                WHERE (CASE WHEN @AcCode='ALL' THEN 'ALL' ELSE AcHead END) = @AcCode
                  AND (CASE WHEN @JVNo=0 THEN 0 ELSE JournalVoucherNo END) = @JVNo
            ) B
            LEFT JOIN JVWorkOrderDetails a WITH(NOLOCK)
                ON JVDate BETWEEN @FromFyYear AND @ToFyYear
                AND JVOLID = @OLID1 
                AND a.JournalVoucherNo = b.JournalVoucherNo
				AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0) 
				outer apply (select top 1 * from JVDetailsAnnexure1to8 C with(nolock) where c.JournalVoucherNo=b.JournalVoucherNo) C 
				Outer Apply (select top 1 * from JournalVoucher J with(nolock) where j.JournalVoucherNo=b.JournalVoucherNo) J
            OUTER APPLY (
                SELECT TOP 1 * FROM (
                    SELECT WorkOrderNo WO, WorksCompletionDate,CompletionReportDate,
                           ROW_NUMBER() OVER (PARTITION BY WorkOrderNo ORDER BY WorkOrderNo, LEN(OfficialReferenceNo) DESC, LegacyWOcompletionreportId DESC) MaxNo
                    FROM LegacyWOcompletionreport CR WITH(NOLOCK)
                    WHERE cr.WorkOrderNo = (CASE WHEN a.DocumentTypeID IN (2,22) THEN a.DocumentNo ELSE 0 END)
                      AND ISNULL(Canceled,0) = 0 AND WorksCompletionDate IS NOT NULL AND LEN(OfficialReferenceNo) > 0
                ) A WHERE MaxNo = 1
            ) CR1
            WHERE (CASE WHEN @DocumentNo=0 THEN 0 ELSE a.DocumentNo END) = @DocumentNo
              --AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0)
            GROUP BY isnull(a.JournalVoucherNo,j.JournalVoucherNo),
                 ISNULL(b.AcHead,a.AcHead), isnull(a.DocumentNo,j.DoucmentNo),
                isnull((CASE WHEN a.DocumentTypeID=22 THEN 2 ELSE a.DocumentTypeID END),j.DocumentTypeID),
                isnull(JVOLID,j.OLID)

) A where isnull(_18,0)!=0 Group By AcHead,DocumentNo,DocumentTypeID,JVOLID 
) A left join Fn_PNI_ETLToday(@FromYear,4)B on len(b.FYYear)>0 
LEFT JOIN OfficeLocationAccountingUnitDetails ola WITH(NOLOCK) ON ola.OLID = JVOLID
left JOIN #Data1 D ON d.WONo = (CASE WHEN a.DocumentTypeID IN (2,22) THEN a.DocumentNo ELSE 0 END)
left join SubAccount s with(nolock) on (s.MainAccountCode+s.SubAccountCode)=left(a.AcHead,6) collate database_default 
LEFT JOIN #Budget t ON  t.OLID   = a.JVOLID AND t.AcCode = left(a.AcHead,6) COLLATE DATABASE_DEFAULT 
Group By JVOLID,OfficeID,OfficeLocation,FYYear,AcHead,s.Description,Total 
) A 
union all 
select 2 OrderNo,OLID,OfficeID,OfficeLocation,FYYear,concat(AcCode,7) collate Database_Default,AcDesc collate Database_Default,0,0,0,0,0,0,0,0,0,0,0,Round(Round(Sum(TotalAmount),2),0) Amount,Count(*) AmountC from ( 
select DoucmentNo DocumentNo,a.JournalVoucherNo,DoucmentNo BRNo,BillRegisterDate,JournalVoucherDate JVDate,OfficeID,a.OLID
,(case when FromMainAccountCode like '18.%' then (FromMainAccountCode+FromSubAccountCode) else (ToMainAccountCode+ToSubAccountCode) end) AcCode 
,sum(case when FromMainAccountCode like'18.%' then jvd.Amount else -jvd.Amount end) TotalAmount,s.Description AcDesc,ol.OfficeLocation
from @JV JV inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%')
left join BillRegisterNoInvoiceTypeAllocation BR with(nolock) on br.BillRegisterNo=DoucmentNo 
left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID 
left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(case when FromMainAccountCode like '18.%' then (FromMainAccountCode+FromSubAccountCode) else (ToMainAccountCode+ToSubAccountCode) end)
Group By DoucmentNo,JournalVoucherDate,a.JournalVoucherNo,BillRegisterDate,OfficeID,FromMainAccountCode,FromSubAccountCode,s.Description
,(ToMainAccountCode+ToSubAccountCode),a.OLID,ol.OfficeLocation 
) A cross join Fn_PNI_ETLToday(@FromYear,4)
Group By OLID,OfficeID,OfficeLocation,FYYear,AcCode,AcDesc
ORDER BY OrderNo,AccountCode

--------------------------------------------------------
;FETCH NEXT FROM Cur1 INTO @OLID1; 
END; CLOSE Cur1; DEALLOCATE Cur1; 

select OrderNo,(case when @AcOLID=0 then 0 else AcOLID end) AcOLID,(case when @AcOLID=0 then 0 else OfficeID end) OfficeID
,(case when @AcOLID=0 then 'Consolidate' else AcOfficeLocation end) AcOfficeLocation,FyYear,AccountCode,WorkDescription
,Sum(Total) Total,Sum(List1) List1,Sum(List2A) List2A,Sum(List2B) List2B,Sum(List3) List3,Sum(List1C) List1C,Sum(List2AC) List2AC
,Sum(List2BC) List2BC,Sum(List3C) List3C,Sum(STotal) STotal,Sum(STotalC) STotalC,Sum(SumT) SumT,Sum(SumTC) SumTC
from #Data11 
Group By OrderNo,(case when @AcOLID=0 then 0 else AcOLID end),(case when @AcOLID=0 then 0 else OfficeID end)
,(case when @AcOLID=0 then 'Consolidate' else AcOfficeLocation end),FyYear,AccountCode,WorkDescription

	
GO
