USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[Update_SuperUser]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_SuperUser]
		@ContactID INT,
		@NewPassword varbinary(50)
AS
BEGIN 
	SET NOCOUNT ON 

	Update dbo.SuperUsers
	Set Password3=Password2,
	Password2=Password1,
	Password1=[Password],
	[Password]=@NewPassword
FROM dbo.SuperUsers
	WHERE
	ContactID=@ContactID
END;
GO
