USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ListOfRVReport]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ListOfRVReport] @OLID varchar(50),@FromD varchar(50),@ToD varchar(50),@Param varchar(max) as

--Declare @OLID varchar(50)=2823
--Declare @FromD varchar(50)='2019-01-01'
--Declare @ToD varchar(50)='2019-08-30'
--Declare @Param varchar(max)=''

Declare @sqlstr varchar(max)

set @sqlstr='select (case when a.OfficialReferenceNo='''' then cast(ReceiptVoucherNo as varchar(500)) else a.OfficialReferenceNo end) RVNo,b.Description DocType,
(case when a.DocumentTypeiD=1 then (select concat(OfficialReferenceNo collate database_default, '' - '' ,format(PurchaseOrderdate,''dd-MM-yyyy'')) from PurchaseOrder with (nolock) where PurchaseOrderNo=a.DocumentNo) 
 when a.DocumentTypeiD in(2,22) then (select concat(OfficialReferenceNo collate database_default, '' - '' ,format(WorkOrderDate,''dd-MM-yyyy'')) from WorkOrder with (nolock) where WorkOrderNo=a.DocumentNo) 
when a.DocumentTypeiD in(10) then (select concat(OfficialReferenceNo collate database_default, '' - '' ,format(StoreInvoiceDate,''dd-MM-yyyy'')) from storeinvoice_pni with (nolock) where StoreInvoiceNo=a.DocumentNo) 
when a.DocumentTypeiD in(61) then (select concat(OfficialReferenceNo collate database_default, '' - '' ,format(TransferOfStockConditionDate,''dd-MM-yyyy'')) from TransferOfStockCondition with (nolock)  where TransferOfStockConditionID=a.DocumentNo) 
when a.DocumentTypeiD in(75) then (select concat(OfficialReferenceNo collate database_default, '' - '' ,format(TransferOfScrapDate,''dd-MM-yyyy'')) from TransferOfScrap with (nolock)  where TransferOfScrapID=a.DocumentNo) 
else cast( a.DocumentNo as varchar(500)) end) DocNoDate,(case when a.Canceled=1 then ''Canceled'' when a.Approved=1 then ''Approved'' else ''Not Approved'' end) Status,isnull(isnull(d.FileAs,g.Fileas),'''') ApprovedBy
from ReceiptVoucherAbstract_pni a with (nolock)
left join DocumentTypes b with (nolock) on a.DocumentTypeiD=b.DocumentTypeiD
left join ActivityApprovals_pni c with (nolock) on c.DocumentNo=a.ReceiptVoucherNo and c.ActivityID=98 and c.StatusID=1
left join Contacts d with (nolock) on d.ContactID=c.ApproverContactID
left join DocumentStatusUpdate_pni e with (nolock) on e.DocumentNo=a.ReceiptVoucherNo and e.DocumentTypeid=12 
left join ActivityApprovals_pni f with (nolock) on f.DocumentNo=e.DocumentStatusUpdateID and f.ActivityID=125 and f.StatusID=1
left join Contacts g with (nolock) on g.ContactID=f.ApproverContactID 
where 1=1 
and (OLID in (select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock)  where OfficeLocationAllocationID=' + @OLID+ ' ) 
or ReturnInvoiceOLID in (select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock)  where OfficeLocationAllocationID=' + @OLID+ '))
and convert(date,ReceiptVoucherDate,120)  between '''+@FromD+''' and '''+@ToD+''' '+ @Param  +'
order by isnull(d.FileAs,g.Fileas) '

exec    (@sqlstr)
GO
