USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_Expenditure_Report]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_CWIP_Expenditure_Report] @LoginODLDID Int,@LoginOLID Int,@AcOLID Int,@FromYear Int,@ToYear Int,@FromDate1 DateTime
,@ToDate DateTime,@AcCode Varchar(20)
AS SET NOCOUNT ON

--Declare @LoginODLDID Int select @LoginODLDID = 337
--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @AcOLID Int select @AcOLID = 658
--Declare @FromYear Int select @FromYear = 2025
--Declare @ToYear Int select @ToYear = 2026
--Declare @FromDate1 DateTime = '2025-04-01'
--Declare @ToDate DateTime select @ToDate = '2026-03-31'
--Declare @AcCode Varchar(20) select @AcCode = 'ALL' 


Declare @FromDate DateTime = (select convert(datetime,concat(@FromYear,'-4-1')))

Declare @CWIP Table (OrderNo Int,DocumentTypeID Int,WorkInChargeID Int,ODLDID Int,Legacy Int,WorkOrderNo1 Varchar(50),WorkOrderDate DateTime,JVDate DateTime,Table1 Varchar(50),WorkOrderNo Int,TransNo Int,TransDate DateTime,OfficeID Int,Description Varchar(1000),AccountHead Varchar(20),OB Money,Expenditure Money,ReceivedAmount Money,TransferedAmount Money,Asseted Money,CB Money)
insert into @CWIP
exec SP_CWIP_Expenditure_New @AcOLID,@FromDate1,@ToDate,@AcCode 


Declare @WO Table (AccountHead Varchar(20),Legacy Int,OnLine Int,TotalWO Int) 
Insert Into @WO
select AccountHead,Sum(case when isnull(Legacy,0)=1 then 1 else 0 end) Legacy,Sum(case when isnull(Legacy,0)=0 then 1 else 0 end) OnLine,Count(distinct WorkOrderNo) TotalWO
from (
select WorkOrderNo,AccountHead,isnull(Legacy,0) Legacy from @CWIP Group By WorkOrderNo,AccountHead,isnull(Legacy,0)
) A Group By AccountHead 

declare @OB1 table(AcOLID Int,OLID Int,WONo Int,ExpenditureAmount Money)
Insert Into @OB1 
select AcOLID,a.OLID,DocumentNo WONo,ExpenditureAmount from (
select * from OfficeLocationAccountingUnitDetails a with(nolock) 
where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID) as a
inner join CostRegisterExpenditureDetails b with(nolock) on b.DocumentOLID=a.OLID and cast(EffectiveDate as date)=dateadd(day,-1,@FromDate) 
inner join WorkOrder C with(nolock) on c.WorkOrderNo=b.DocumentNo 
inner join WorkAllocation WA with(nolock) on wa.WorkAllocationID=isnull(c.WorkAllocationID,0) 
and (MainAccountCode+SubAccountCode)=@AcCode 

declare @OB table(AcOLID Int,OLID Int,WONo Int,ExpenditureAmount Money,Expenditure1 Money,Asseted1 Money)
Insert Into @OB 
select A.*,isnull(Expenditure,-1) Expenditure,isnull(Asseted,-1) Asseted from @OB1 A full join (
select a.*,isnull(Expenditure,0) Expenditure,isnull(Asseted,0) Asseted from @OB1 A
outer apply (select sum(Expenditure) Expenditure,sum(Asseted) Asseted from @CWIP B where isnull(b.WorkOrderNo,0)=isnull(a.WONo,0)) B 
--where isnull(Expenditure,0)=0 and isnull(Asseted,0)=0 
) B on b.WONo=A.WONo


select *,(ExpTillMarch+ExpTotal+Received-Transfered-CCExpenditure) CB_1,(case when List='List1' then 1 when List='List2A' then 2 when List='List2B' then 3
when List='List3' then 4 when List='List1 not operated during 2026' then 5 else 6 end 
) OrderNo,(case when DocumentTypeID=22 then Remarks else Reference1 end) Reference  
from (

select (case when @AcOLID=0 then ola3.OfficeID else isnull(ola.OfficeID,ola1.OfficeID) end) OfficeID
,(case when @AcOLID=0 then 'ALL Location' else ola.OfficeLocation end) AcOfficeLocation,Left(l.LocationCode,3) as LocationCode
,(case when @AcOLID=0 then ola3.OfficeLocation else ola2.OfficeLocation end ) OfficeLocation
,('Total Expenditure '+FyYear) as CBColumn,('Till '+Convert(varchar,@FromDate-1,106)) as "Opening Balance"
,isnull(z.ExpenditureAmount,0) ExpTillMarch,Sum(ReceivedAmount) Received,Sum(TransferedAmount) Transfered,Sum(Asseted) CCExpenditure,Sum(CB) CB,Sum(Expenditure) ExpTotal
,a.AccountHead AccountCode,Description WorkDescription,WorkOrderNo1,convert(varchar,a.WorkOrderDate,104) WorkOrderDate
,(isnull(ct.Fileas,'')+' / '+Replace(Replace(Replace(Replace(ola1.Fileas,' O&M -',''),' O & M',''),'- ',''),'Accounting ','Ac.')) as WorkIncharge
,Convert(Varchar,isnull(cr.CompletionDate,WorksCompletionDate),104) as WorkCompletionDate,Convert(Varchar,CommissionedDate,104) CommissionedDate
,    CASE
        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) < @FromDate
                 THEN 1 ELSE 0 END) <> 0
            THEN 'List1'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List2A'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) = 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List2B'

        WHEN SUM(CASE WHEN a.WorkOrderDate >= @FromDate
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) <> 0
            THEN 'List3'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) < @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) = 0
            THEN 'List1 not operated during 2026'

        WHEN SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
                 THEN (abs(ISNULL(Expenditure,0))+abs(ISNULL(Asseted,0))+abs(ISNULL(ReceivedAmount,0))+abs(ISNULL(TransferedAmount,0))) ELSE 0 END) = 0
            THEN 'List2A not operated during 2026'
    END AS List
,Reference Reference1,e.Remarks,DocumentTypeID
from (select * from @CWIP where AccountHead like '14.%' union all 
	select 0 OrderNo,(case when ISNULL(Legacy,0)=0 then 2 else 22 end),Wok=WorkInChargeID,ODLDID,isnull(Legacy,0),OfficialReferenceNo collate database_default ,WorkOrderDate,NULL,'OB',WorkOrderNo
	,0,NULL,ola.OfficeID,Description collate database_default ,(MainAccountCode+SubAccountCode) collate database_default ,ExpenditureAmount,Expenditure1,0,0,Asseted1,ExpenditureAmount
	from @OB A inner join WorkOrder B with(nolock) on b.WorkOrderNo=A.WONo
	left join OfficeLocationAccountingUnitDetails ola on ola.OLID = a.AcOLID
	left join WorkAllocation wa with (nolock) on wa.WorkAllocationID=isnull(b.WOrkAllocationID,0)
	where isnull(Expenditure1,0)=0 and isnull(Asseted1,0)=0) A 
full join @OB Z on z.WONo=a.WorkOrderNo 
left join @WO B on b.AccountHead=a.AccountHead
left join WorkOrder e on e.WorkOrderNo=a.WorkOrderNo
Cross Join FnETLToday(@FromYear,Month(@FromDate))
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
left outer join LocationCode L on l.OfficeID=ola.OfficeID and l.LocationID=ola.LocationID and Budget=1
left outer join Contacts ct with (nolock) on ct.ContactID=isnull(a.WorkInchargeID,0)
left outer join ODLDAllocation odld1 with (nolock) on odld1.ODLDID=a.ODLDID
left outer join OfficeLocationAllocation ola1 with ( nolock) on ola1.OfficeID=odld1.OfficeID and ola1.LocationID=odld1.LocationID
left outer join OfficeLocationAccountingUnitDetails ola2 on ola2.OLID = ola1.OfficeLocationAllocationID
left outer join OfficeLocationAccountingUnitDetails ola3 on ola3.OLID = ola2.AcOLID
Outer Apply ( select * from (select WorkOrderNo WO,CompletionDate,CommissionedDate,(Row_Number() over (Partition By WorkOrderNo order By WorkOrderNo,len(OfficialReferenceNo) desc,isnull(complete,0) desc,CompletionReportID desc)) MaxNo 
	from CompletionReport CR with(nolock) where cr.WorkOrderNo =a.WorkOrderNo and isnull(Canceled,0)=0 and CompletionDate is not NULL
	and len(OfficialReferenceNo)>0 ) A where MaxNo=1  ) CR
Outer Apply ( select * from (select WorkOrderNo WO,WorksCompletionDate,(Row_Number() over (Partition By WorkOrderNo order By WorkOrderNo,len(OfficialReferenceNo) desc,LegacyWOcompletionreportId desc)) MaxNo 
	from LegacyWOcompletionreport CR with(nolock) where cr.WorkOrderNo =a.WorkOrderNo and isnull(Canceled,0)=0 and WorksCompletionDate is not NULL
	and len(OfficialReferenceNo)>0 ) A where MaxNo=1  ) CR1	
Group By ola1.OfficeID,ola.OfficeID,ola3.OfficeID,ola2.OfficeLocation,ola3.OfficeLocation,ola.OfficeLocation,l.LocationCode,FyYear,Today,a.AccountHead,Description,b.Legacy,OnLine,TotalWO,WorkOrderNo1,a.WorkOrderDate,ct.Fileas,ola1.Fileas,cr.WO,cr.CompletionDate,CommissionedDate,WorksCompletionDate,z.ExpenditureAmount,Reference,e.Remarks,DocumentTypeID
) A 
order by OrderNo,OfficeLocation
GO
