USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[countdisp]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[countdisp] @tbl_name varchar(50),@val varchar(50)
as
DECLARE @COUNT INT set @COUNT=0
DECLARE @table NVARCHAR(255) set @table=@tbl_name
DECLARE @name VARCHAR(500)
declare @value NVARCHAR(10) set @value=@val
 DECLARE db_cursor CURSOR FOR
SELECT   'select count(*) from '+FK.TABLE_NAME +' where '+CU.COLUMN_NAME+'='+@value
FROM   INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS C
  INNER JOIN   INFORMATION_SCHEMA.TABLE_CONSTRAINTS FK     ON C.CONSTRAINT_NAME = FK.CONSTRAINT_NAME
  INNER JOIN   INFORMATION_SCHEMA.TABLE_CONSTRAINTS PK     ON C.UNIQUE_CONSTRAINT_NAME = PK.CONSTRAINT_NAME
  INNER JOIN   INFORMATION_SCHEMA.KEY_COLUMN_USAGE CU     ON C.CONSTRAINT_NAME = CU.CONSTRAINT_NAME   
  INNER JOIN
  ( SELECT  i1.TABLE_NAME, i2.COLUMN_NAME     
    FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS i1
      INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE i2 ON i1.CONSTRAINT_NAME = i2.CONSTRAINT_NAME
      WHERE i1.CONSTRAINT_TYPE = 'PRIMARY KEY'
  ) PT   ON PT.TABLE_NAME = PK.TABLE_NAME
where  PT.TABLE_NAME =@table

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @name  

WHILE @@FETCH_STATUS = 0  
BEGIN   
DECLARE @name1 VARCHAR(50)
DECLARE @Query Nvarchar(1000)

SET @Query=N'set @cursor = CURSOR FOR '+    @name +'  OPEN @cursor'
 
DECLARE @name2 int
Declare @parameter nvarchar(500)

DECLARE @mainCursor cursor
set @parameter='@cursor cursor output'
 exec sp_executesql @Query,@parameter,@mainCursor output
 
FETCH NEXT FROM @mainCursor INTO @name2
WHILE @@FETCH_STATUS = 0
BEGIN
    set @COUNT =@COUNT + @name2

   FETCH NEXT FROM @mainCursor INTO @name2
END
CLOSE @mainCursor
DEALLOCATE @mainCursor

       FETCH NEXT FROM db_cursor INTO @name  
END  
CLOSE db_cursor  
DEALLOCATE db_cursor

select case when @COUNT >0 then 1 else 0 end;
GO
