USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_MultipleSInvAltReportSLNo]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MultipleSInvAltReportSLNo] @SINos varchar(max)  as
 
--Declare @SINos varchar(max)='394256,395373'
SET NOCOUNT ON
 
select Concat(MaterialCode collate database_default,' - ' ,d.Description collate database_default) MC,e.Description SC,concat(f.SerialNo collate database_default,'-(',g.UserDefinedFieldValue collate database_default,')') SlNo
from StoreInvoice_pni a with (nolock)
inner join StoreInvoiceDetails_pni b  with (nolock) on a.StoreInvoiceNo=b.StoreInvoiceNo and AlternateQuantityIssued>0
inner join StoreInvoiceAlternateDetails_pni c  with (nolock)  on c.StoreInvoiceDetailsID=b.StoreInvoiceDetailsID and c.QuantityIssued>0 and c.ItemID in(select ItemID from Stock with (nolock) where SerialFlag=1)
inner join StoreInvoiceAlternateMaterialDetails_pni f with (nolock) on f.StoreinvoiceAlternateDetailsiD=c.StoreinvoiceAlternateDetailsiD
inner join StoreInvoiceAlternateMaterialDetailsSub_pni g with (nolock) on f.StoreInvoiceAlternateMaterialDetailsID=g.StoreInvoiceAlternateMaterialDetailsID and DistributionNodeUserDefinedFieldID=20
inner join MaterialCode d with (nolock) on d.ItemID=c.ItemID 
inner join StockConditions e with (nolock) on e.StockConditionID=f.StockConditionID
where a.StoreInvoiceNo in(select Data from Split(@SINos,',') )
order by MC
  
 
 SET NOCOUNT OFF
GO
