USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Query_Select1]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE  PROCEDURE [dbo].[SP_Query_Select1] @Query Varchar(Max) as 

--Declare @Query Varchar(Max) = 'select ContactID,FathersName,FileAs,TitleID from Contacts where ContactID = 1631' 
Declare @Query1 Varchar(Max) =  (Replace(Replace(@Query,'select',''),'from',',from')) 
Declare @Query2 Varchar(Max) = (select ltrim(rtrim(left(@Query1,CHARINDEX(',From', @Query1)-1))))  
select *,1 AA from Split_New(@Query2,',') 
PIVOT ( max(item) FOR idx IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26]) ) AS PivotTable;  















GO
