USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SR_Details]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SR_Details]
@Table Varchar(100),@Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@ESID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money,@Remarks Varchar(500)

AS SET NOCOUNT ON


--Declare @Table Varchar(100) = 'Basic'
--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 1453
--Declare @ColumnID Int = 0
--Declare @ODLDID Int = 601
--Declare @ESID Int = 1
--Declare @TypeID Int = 1
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 3315
--Declare @Remarks Varchar(500) = ''


IF (@Query='Import' and @Table='Basic')
 insert into ScaleRegisterBasicPayDetails
select @SRID,@ODLDID,@FromDate,@ToDate,(@Amount/day(@ToDate)),@Amount,@ESID,@Remarks 
else IF (@Query='Update' and @Table='Basic')
 update a set ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,BasicPerDay=(@Amount/day(@ToDate)),Amount=@Amount,EmployeeStatusID=@ESID,Remarks=@Remarks 
from ScaleRegisterBasicPayDetails a with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterBasicPayDetailsID end)=@ColumnID

else IF (@Table='Basic' and @Query='Update')
select ScaleRegisterID SRID,ODLDID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,BasicPerDay PerDay,Amount,EmployeeStatusID ESID,ScaleRegisterBasicPayDetailsID SRBID,Remarks 
from ScaleRegisterBasicPayDetails with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterBasicPayDetailsID end)=@ColumnID


else IF (@Query='Import' and @Table='Allowance')
 insert into ScaleRegisterALlowances
select @SRID,@TypeID,@ODLDID,@FromDate,@ToDate,@Amount,0,@Remarks 
else IF (@Query='Update' and @Table='Allowance')
 update a set AllowanceID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount,Expired=0,Remarks=@Remarks 
from ScaleRegisterALlowances a with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterALlowancesID end)=@ColumnID
and (case when @TypeID=0 then 0 else AllowanceID end)=@TypeID
else IF @Table='Allowance' 
select ScaleRegisterID SRID,AllowanceID,ODLDID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount,cast(Expired as Int) Expired,ScaleRegisterALlowancesID SRAID,Remarks 
from ScaleRegisterALlowances with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterALlowancesID end)=@ColumnID
and (case when @TypeID=0 then 0 else AllowanceID end)=@TypeID
Order By AllowanceID,Amount

GO
