USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeePayDetailsSub]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_EmployeePayDetailsSub]
    @Types Varchar(10) ,
    @CID Int ,
	@EPMTID Int ,
    @EPTID int ,
	@Status Int ,

	@EPDID Int ,
	@FromDate Varchar(20) ,
	@ToDate Varchar(20)

AS SET NOCOUNT ON

--Declare @Types Varchar(10) = 'Select' ----- Update Update Import Delete 
--Declare @CID Int = 1665 
--Declare @EPMTID Int = -99
--Declare @EPTID Int = -99
--Declare @Status Int = 1

--Declare @EPDID Int = 15429
--Declare @FromDate Varchar(20) = '2024-04-01'
--Declare @ToDate Varchar(20) = NULL


IF ( @Types='Update1' and @EPTID in (31,32) )
update a set FromDate=@FromDate,ToDate=@ToDate 
from EmployeePayDetailsSub A with(nolock) where a.EmployeePayDetailsID=@EPDID  
else 

IF (@Types='Import1' and (@EPTID=31 or @EPTID=32) )
insert into EmployeePayDetailsSub (EmployeePayDetailsID,FromDate,ToDate ) 
select @EPDID,@FromDate,(case when @ToDate='NULL' then NULL else @ToDate end)


;with Data1 as (
select (case when EmployeePayMainTypeID in (1,2) and EmployeePayTypeID not in (6,13,5,7) then 1 else 2 end) OrderNo
,isnull(e2.OfficeLocation,e.OfficeLocation) SanctionLocation,e.OfficeLocation WorkingLocation
,a.ContactID,c.Fileas ContactName,CONCAT(DesignationCode,' (',DepartmentCode,')') Designation
,EPDID,EPTID,EPID,EAID,ToDNID,OMNo,OMDate,EffectiveDate0,EffectDate1,CurrentPay Amount,ModifiedPay Modified
,convert(varchar,FromDate,104) FromDate,convert(varchar,ToDate,104) ToDate
from (
select EmployeePayDetailsID EPDID,ContactID,EmployeePayTypeID EPTID,isnull(EmployeePayID,0) EPID,isnull(EmployeeApplicationID,0) EAID,isnull(ToDesignationID,0) ToDNID,isnull(OfficeMemoNo,0) OMNo,convert(varchar,OfficeMemoDate,104) OMDate
,EffectiveDate EffectiveDate0,convert(varchar,isnull(ActualEffectiveDate,EffectiveDate),104) EffectDate1,CurrentPay,ModifiedValue ModifiedPay,LPC     
	from EmployeePayDetails A with(nolock) where a.ContactID=@CID and (case when isnull(Cancel,0)=1 then 0 else Approved end)=@Status  
	and EmployeepayTypeID in (select EmployeepayTypeID from EmployeepayTypes where EmployeepayMainTypeID in (1,2) and EmployeePayTypeID not in (6,13,5,7)
	union all select EmployeePayTypeID from EmployeePayTypes where EmployeePayTypeID in (29,31,32,43,44,13))
	and (case when @EPTID=-99 then -99 else a.EmployeePayTypeID end)=@EPTID
	and (case when @EPDID=0 then 0 else a.EmployeePayDetailsID end)=@EPDID
) A 
inner join Employee B with(nolock) on b.ContactID=a.ContactID 
inner join Contacts C with(nolock) on c.ContactID=a.ContactID 
inner join ODLDAllocation D with(nolock) on d.ODLDID=isnull(b.ODLDID,0)
inner join OfficeLocationAccountingUnitDetails E with(nolock) on e.OfficeID=d.OfficeID and e.LocationID=d.LocationID 
inner join EmployeePayTypes F with(nolock) on F.EmployeePayTypeID=A.EPTID
inner join Department DP with(nolock) on DP.DepartmentID=D.DepartmentID
inner join Designation DN with(nolock) on Dn.DesignationID=D.DesignationID
outer apply (select top 1 FromODLDID from EmployeeAppointmentDetails E1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(FromODLDID,0)>0 and e1.ContactID=isnull(a.ContactID,a.ContactID)) E1
left join ODLDAllocation D1 with(nolock) on d1.ODLDID=isnull(e1.FromODLDID,0)
left join OfficeLocationAccountingUnitDetails E2 with(nolock) on e2.OfficeID=d1.OfficeID and e2.LocationID=d1.LocationID 
left join EmployeePayDetailsSub EPD with(nolock) on epd.EmployeePayDetailsID=(case when EPTID in (1) then 0 else A.EPDID end)

) select ContactID,ContactName,Designation
,EPDID,EPTID,EPID,EAID,ToDNID,convert(varchar,EffectiveDate0,104) EffectDate,EffectDate1,Amount,Modified,FromDate,ToDate 
from Data1 where (case when @EPMTID=-99 then -99 else OrderNo end)=@EPMTID
order By OrderNo,EffectiveDate0,Modified,EPDID


GO
