USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITCalReport]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ITCalReport]
	@Config varchar(200), 
	@FromDate VARCHAR(12) ,
    @Acolid Int,
	@ToDate VARCHAR(12),
	@ContactID  varchar(10),
	@YearID varchar(4),
	@MonthID varchar(2)

AS 
SET NOCOUNT ON


Declare @SR1 table (ScaleregisterID int,SalaryTypeID int,SalaryTypes varchar(10),SRID int,ContactID int,SalaryMonth int,SalaryYear int,OLID int, BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime)
insert into @SR1

select distinct sr.ScaleregisterID,sr.SalaryTypeID,sr.SalaryTypes,sr.ScaleregisterID as SRID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.OLID,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr where SalaryTypeID=1  and StartingDate>=@FromDate and EndingDate<=@ToDate and ContactID in (@ContactID)
union all
select distinct sr1.ScaleregisterID,sr.SalaryTypeID,sr.SalaryTypes,sr.ScaleregisterID as SRID,sr.ContactID,sr1.SalaryMonth,sr1.SalaryYear,sr.OLID,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr1.StartingDate,sr1.EndingDate
from FnSRNew() sr inner join FnSRNew() sr1 on sr1.ContactID in (@ContactID) and isnull(sr1.BillRegisterNo,'0')=isnull(sr.BillRegisterNo,'0') and sr1.SalaryTypeID=1
where sr.SalaryTypeID=2  

and sr.StartingDate>=@FromDate and sr.EndingDate<=@ToDate and sr.ContactID in (@ContactID)



Declare @SRD1 table (ScaleRegisterID int,ContactID int,SalaryYear int,SalaryMonth int,BRNo varchar(50),Types varchar(6),TypesID int,TypeID int,Amount money,BankID int)
insert into @SRD1
select ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,BRNo,Types,isnull(TypesID,0) as TypesID,isnull(TypeID,1000) as TypeID,sum(isnull(Amount,0)) as Amount,BankID
from (
select distinct sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,isnull(sr.BillRegisterNo,'0') as BRNo,Types,TypesID,TypeID,sum(isnull(DiffAmount,0.0001)) as Amount,BankID
from @SR1 sr left outer join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where SalaryTypeID=1 group by sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,isnull(sr.BillRegisterNo,'0'),Types,TypesID,TypeID,BankID
union all
select distinct sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,isnull(sr.BillRegisterNo,'0') as BRNo,'RC' as Types,6 as TypesID,30 as TypeID,-sum(isnull(DiffAmount,0)) as Amount,NULL as BankID
from @SR1 sr left outer join FnSRADNew() srd on srd.ScaleRegisterID=sr.SRID
where SalaryTypeID=2 and sr.StartingDate>='2012-11-01' group by sr.ScaleRegisterID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,isnull(sr.BillRegisterNo,'0')
) as SRD group by ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,BRNo,Types,TypesID,TypeID,BankID




Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20),OneTimeDeduction int)
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead,OneTimeDeduction from FnADLR()
' insert into @Desc exec (@DescSql) 

Declare @AL table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),EAMTypeID int)
Declare @ALSql varchar(Max) Set @ALSql='
select 1 as ATypeID,2 as TypesID,AllowanceID as TypeID,Description,EmployeeApplicationMainTypeID from Allowances
' insert into @AL  exec (@ALSql) 

Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int,DOB datetime,DisabilityAmount money)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID,DOB,DisabilityAmount from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6))
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 

Declare @HRARates table (ODLDID int,Rates money)
Declare @HRARatesSql varchar(Max) Set @HRARatesSql='
select distinct odld.ODLDID,AllowanceRate 
from ODLDAllocation odld 
inner join OfficeDepartmentAllocation od on od.OfficeId=odld.OfficeID and od.DepartmentID=odld.DepartmentID
inner join OfficeLocationAllocation ola on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
inner join OfficeLocationDepartmentAllocation old on old.OfficeDepartmentAllocationid=od.OfficeDepartmentAllocationid and old.OfficeLocationAllocationid=ola.OfficeLocationAllocationid
inner join OLDTerritoryClassTypeAllocation oldt on oldt.OfficeLocationDepartmentAllocationid=old.OfficeLocationDepartmentAllocationid   
inner join TerritoryClassTypes tct on tct.TerritoryClassTypeID=oldt.HRATerritoryClassTypeID
inner join (
select distinct AllowanceID,TerritoryClassTypeID,arp.Addition,AllowanceRate
from AllowanceRatePeriods  arp inner join AllowanceRates ar on ar.AllowanceRatePeriodid=arp.AllowanceRatePeriodID
where AllowanceID=2 and ExternalOrganisationTypeID is null) ar on ar.TerritoryClassTypeID=oldt.HRATerritoryClassTypeID
' insert into @HRARates exec (@HRARatesSql) 


Declare @SRD table (ScaleregisterID int,OLID int,ContactID int,YearID int,MonthID int,MonthDesc varchar(10),TypeID int,TypesID int,Ordering varchar(6),SalaryTypes varchar(50),Amount money,OneTimeDeduction int) 
insert into @SRD
select distinct sr.ScaleregisterID,sr.OLID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,datename(Month,StartingDate)MonthDesc,srd.TypeID,srd.TypesID
,(case when srd.TypesID=0 then '01.00' else Ordering end) as Ordering,d.SalaryTypes,sum(Amount) as Amount,OneTimeDeduction
from @SRD1 srd 
left outer join @AL d1 on d1.TypesID=srd.TypesID and d1.TypeId=srd.TypeID
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
left outer join @SR1 sr on sr.ScaleRegisterID=srd.ScaleRegisterID and sr.ContactID=srd.ContactID and sr.SalaryYear=srd.SalaryYear and sr.SalaryMonth=srd.SalaryMonth and sr.SalaryTypeId=1
where (case when srd.TypesID in (1,2,0) then srd.TypeID else

case when srd.TypesID=3 and  srd.TypeID in (13,16,2,17) then srd.TypeID else
case when srd.TypesID=4 and  srd.TypeID in (2,3,11,13,17,26,27,28,10,20,19,20) then srd.TypeID else 
case when srd.TypesID=5 and  srd.TypeID in (17,18,16,24) then srd.TypeID else  0 end end end end) <>0
group by sr.ScaleregisterID,sr.OLID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,datename(Month,StartingDate),srd.TypeID,srd.TypesID,Ordering,d.SalaryTypes,OneTimeDeduction

Declare @VD table (ContactID int,VDate datetime) 
insert into @VD
select distinct ContactID,Max(FromDate) as Date
from EmployeeApplication ea
inner join EmployeeApplicationDetails ead on ead.EmployeeApplicationID=ea.EmployeeApplicationID
where EmployeeApplicationTypeID=24 and isnull(ea.Approved,0)=1 and FromDate is not null
and contactID in (@ContactID ) group by  ContactID

Declare @SR2 table (ScaleRegisterID int,TypeID int,Ordering varchar(6),ContactID int,Date datetime,YrMn varchar(10),MnYr varchar(10),FyYear varchar(10),SalaryTypes varchar(50),Amount money,ODLDID int,TypesID int,EmployeeStatusID int,OneTimeDeduction int,DOB datetime)
insert into @SR2		
select distinct sr.ScaleRegisterID,TypeID,srd.Ordering,sr.ContactID,convert(datetime,(ltrim(str(sr.SalaryYear))+'-'+ltrim(str(sr.SalaryMonth))+'-'+'01')) as Date
, ltrim(str(sr.SalaryYear))+ltrim(str(sr.SalaryMonth)) as YrMn,left(Convert(varchar,sr.StartingDate,109),3)+'-'+cast(right(year(sr.StartingDate),2) as Varchar(4)) as MnYr
,(case when sr.SalaryMonth in (4,5,6,7,8,9,10,11,12) then (cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryYear+1 as varchar(4))) else case when sr.SalaryMonth in (1,2,3) then (cast(sr.SalaryYear-1 as varchar(4))+'-'+cast(sr.SalaryYear as varchar(4))) else NULL end end) as FyYear
,srd.SalaryTypes,isnull(srd.Amount,0) as Amount,srb.ODLDID,TypesID,isnull(srb.EmployeeStatusID,1) as EmployeeStatusID,OneTimeDeduction,isnull(vd.VDate,dateadd(Year,60,ct.DOB)) as VDOB
from @SR1 sr 

left outer join (select ContactID,ODLDID,sr.StartingDate,srb.EndingDate,srb.EmployeeStatusID from ( 
select distinct sr.ContactID,sr.StartingDate,Max(ScaleRegisterBasicPayDetailsID) as ScaleRegisterBasicPayDetailsID from ( 
select distinct ContactID,Max(StartingDate) as StartingDate from ScaleRegister inner join today_hrms t on t.Ac_olid=@Acolid where Suppliment not in (2,7) and Generated=1 and HeldUp<>1 and isnull(BillRegisterDate,Today) between @FromDate and @ToDate and ContactID=@ContactID group by ContactID ) as SR 
left outer join ( select distinct ContactID,StartingDate,Max(ScaleRegisterID) as ScaleRegisterID from ScaleRegister inner join today_hrms t1 on t1.Ac_olid=@Acolid where Suppliment not in (2,7) and Generated=1 and HeldUp<>1 and isnull(BillRegisterDate,Today) between @FromDate and @ToDate 
group by ContactID,StartingDate) as SR1 on sr1.ContactID=sr.ContactID and sr1.StartingDate=sr.StartingDate 
Left outer join ScaleRegisterBasicPayDetails srb on srb.ScaleRegisterID=sr1.ScaleRegisterID and isnull(srb.ODLDID,0)<>0 group by sr.ContactID,sr.StartingDate 
) as SR left outer join ScaleRegisterBasicPayDetails srb on srb.ScaleRegisterBasicPayDetailsID=sr.ScaleRegisterBasicPayDetailsID
) srb on srb.ContactID=srb.ContactID

inner join @SRD srd on srd.ScaleregisterID=sr.ScaleregisterID and srd.YearID=sr.SalaryYear and srd.MonthID=sr.SalaryMonth and srd.ContactID=sr.ContactID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @VD vd  on vd.ContactID=sr.ContactID
where isnull(srd.Amount,0)<>0







Declare @TmpSR Table (ScaleRegisterID int,TypeID int,Ordering varchar(6),ContactID int,Date datetime,YrMn varchar(6),MnYr  Varchar(10),FyYear varchar(10),SalaryTypes varchar(50),Amount money,ODLDID int,TypesID int,EmployeeStatusID int,OneTimeDeduction int,DOB datetime)
Declare @OID int select @OID=(select (case when (select distinct ContactID from @SR1 where SalaryYear in (@YearID) and SalaryMonth in (@MonthID) and SalaryTypeId=1)  is null then 1 else 0 end))
if @OID=1 
insert into @TmpSR
select NULL as ScaleRegisterID,NULL as TypeID,NULL as Ordering ,NULL as ContactID,NULL as Date ,NULL as YrMn ,NULL as MnYr ,NULL as FyYear ,NULL as SalaryTypes ,NULL as Amount ,NULL as ODLDID ,NULL as TypesID ,NULL as EmployeeStatusID,NULL as OneTimeDeduction,NULL as DOB
else 
insert into @TmpSR
select * from @SR2


IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpSR]'))	Drop table [TmpSR]
Create Table TmpSR (ScaleRegisterID int,TypeID int,Ordering varchar(6),ContactID int,Date datetime,YrMn varchar(6),MnYr  Varchar(10),FyYear varchar(10),SalaryTypes varchar(50),Amount money,ODLDID int,TypesID int,EmployeeStatusID int,OneTimeDeduction int,DOB datetime)
insert into TmpSR
select * from @TmpSR


Declare @Date table (YrMn varchar(10),Date datetime,MnYr varchar(10),FyYear varchar(10)) 
insert into @Date
select (ltrim(str(year(cast(Days as Datetime))))+ltrim(str(Month(cast(Days as Datetime))))) as YrMn,cast(Days as Datetime) as Date ,left(Convert(varchar,cast(Days as Datetime),109),3)+'-'+cast(right(year(cast(Days as Datetime)),2) as Varchar(4)) as MnYr
,(case when month(cast(Days as Datetime)) in (4,5,6,7,8,9,10,11,12) then (cast(Year(cast(Days as Datetime)) as varchar(4))+'-'+cast(Year(cast(Days as Datetime))+1 as varchar(4))) else case when month(cast(Days as Datetime)) in (1,2,3) then (cast(Year(cast(Days as Datetime))-1 as varchar(4))+'-'+cast(Year(cast(Days as Datetime)) as varchar(4))) else NULL end end) as FyYear
from DaysOfDate where day(cast(Days as Datetime))=1 and cast(Days as Datetime) between @FromDate and @ToDate

Declare @TSR table (Types1 varchar(10),ScaleRegisterID int,TypeID int,Ordering varchar(6),ContactID int,Date datetime,YrMn varchar(10),MnYr varchar(10),FyYear varchar(10),SalaryTypes varchar(50),Amount money,ODLDID int,TypesID int,EmployeeStatusID int,OneTimeDeduction int,DOB datetime) 
insert into @TSR

select  'Project' as Types1,ScaleRegisterID,TypeID,Ordering,ContactID,d.Date,d.YrMn,d.MnYr,d.FyYear,SalaryTypes,Amount,ODLDID,TypesID,EmployeeStatusID,OneTimeDeduction,DOB
from @Date d cross join (select * from @TmpSR sr where sr.OneTimeDeduction<>1 and SalaryTypes <>'IT' and Date in (convert(datetime,(@YearID+'-'+@MonthID+'-'+'01')))) MSR	
where d.Date>(select max(distinct Date) from TmpSR)	
and d.Date<=(dateadd(month,1,convert(datetime,(cast(Year(DOB) as varchar(4))+'-'+cast(Month(DOB) as Varchar(2))+'-01')))-1) 

union all select 'Actual' as Types1,* from @TmpSR

Declare @GTSR table (Types1 varchar(10),TypeID int,Ordering varchar(6),ContactID int,Date datetime,MnYr varchar(10),FyYear varchar(10),SalaryTypes varchar(50),Amount money,ODLDID int,TypesID int,EmployeeStatusID int) 
insert into @GTSR
select Types1,TypeID,Ordering,ContactID,Date,MnYr,FyYear,SalaryTypes,sum(isnull(Amount,0)) as Amount,ODLDID,TypesID,EmployeeStatusID from @TSR tsr
group by Types1,TypeID,Ordering,ContactID,Date,MnYr,FyYear,SalaryTypes,ODLDID,TypesID,EmployeeStatusID
union all	
select NULL as Types1,NULL as TypeID,'09' as Ordering,ContactID,Date,MnYr,FyYear,'Gross Total' as SalaryTypes,sum(Amount) as Amount,ODLDID,9 as TypesID,EmployeeStatusID 
from @TSR tsr where TypesID in (1,2,3) group by ContactID,Date,MnYr,FyYear,ODLDID,EmployeeStatusID 












Declare @Final table (Types1 varchar(10),TypeID int,Ordering varchar(6),ContactID int,Date datetime,MnYr varchar(10),FyYear varchar(10),OfficeName varchar(100), LocationName varchar(100), DepartmentName varchar(100),DesignationName varchar(100),EmployeeName varchar(100),PanCardNo varchar(20),SalaryTypes varchar(50),Amount money,Ordered varchar(6),TypesID int,ReportDate datetime) 
insert into @Final		
select Types1,TypeID,it.Ordering,it.ContactID,Date,MnYr,FyYear,OfficeName, LocationName, DepartmentName,DesignationName,EmployeeName,PanCardNo
,SalaryTypes,Amount,NULL as Ordered,TypesID,convert(datetime,(@YearID+'-'+@MonthID+'-'+'01')) as ReportDate
from @GTSR it
left outer join @ODLD ol on ol.ODLDID=it.ODLDID  
left outer join @Contact ct on ct.ContactID=it.ContactID



IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpITFinal]'))		Drop table [TmpITFinal]
create table TmpITFinal (Types1 varchar(10),TypeID int,Ordering Varchar(6),ContactID int, Date DateTime, MnYr varchar(12), FnYear varchar(12),OfficeName varchar(100), LocationName varchar(100), DepartmentName  varchar(100),DesignationName varchar(100),EmployeeName varchar(100),PanCardNo varchar(20),SalaryTypes varchar(50),Amount money,Ordered varchar(6),TypesID int,ReportDate datetime)
insert into TmpITFinal 
select * from @Final 


update m set m.Ordered= (case when len(o.Ordered)=1 then '0'+cast(o.Ordered as varchar(4)) else cast(o.Ordered as varchar(4)) end)
from TmpITFinal m 
left outer join (select *,Row_Number() over (order by Ordering) as Ordered  from (select Distinct Ordering from TmpITFinal) as O ) o on o.Ordering=m.Ordering






Declare @listCol varchar (Max)
SELECT  @listCol = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered)) 	FROM  (
select distinct * from TmpITFinal
) Columns ORDER BY '],[' + ltrim((Ordered)) FOR XML PATH('')), 1, 2, '') + ']' 


IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTITFinalHView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTITFinalHView] AS 
	select distinct * from TmpITFinal'
drop view PVTITFinalHView

DECLARE @QuerySql VARCHAR(Max)
	SET @QuerySql ='CREATE VIEW PVTITFinalHView as SELECT * FROM (
	select distinct Ordered,SalaryTypes from TmpITFinal
	) as cl PIVOT (Min(SalaryTypes) FOR Ordered IN ('+isnull(@listCol,'[01]')+')) as pvt'
EXECUTE  (@QuerySql) 





Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered)) FROM 
(select distinct * from TmpITFinal ) Columns ORDER BY '],[' + ltrim((Ordered)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered)	FROM  (
select distinct  ','+c as Ordered from (
select distinct 'isnull(['+cast(Ordered as varchar(4))+'],0) as ['+cast(Ordered as varchar(4))+']' as C
from TmpITFinal) as H 
) Columns ORDER BY  ltrim(Ordered) FOR XML PATH('')) , 1, 1, '')


IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTITFinalDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTITFinalDView] AS 
	select distinct * from TmpITFinal'
drop view PVTITFinalDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTITFinalDView as  select distinct ContactID,Date,MnYr,FnYear,OfficeName,LocationName,DepartmentName,DesignationName,EmployeeName,PanCardNo,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select distinct ContactID,Date,MnYr,FnYear,OfficeName,LocationName,DepartmentName,DesignationName,EmployeeName,PanCardNo,Ordered,Amount
	FROM    TmpITFinal) as A
	PIVOT ( SUM( Amount ) FOR Ordered IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query )







Declare @IVT table (InvestmentTypeID int,InvestmentSectionTypeID int,SectionID varchar(20),Description varchar(500),Limits varchar(100)) 
insert into @IVT
select distinct it.InvestmentTypeID,ist.InvestmentSectionTypeID,ist.Description as SectionID,it.Description
,Left(Limit,(case when isnull(Len((Limit)),0)=0 then 1 else isnull(Len((Limit)),0) end)-1) as Limits
from InvestmentTypes it
left outer join InvestmentSectionTypes ist on ist.InvestmentSectionTypeid=it.InvestmentSectionTypeid
Cross Apply (select convert(varchar,Limit,50)+'  ,  ' from InvestmentTypeLimits ilt where it.InvestmentTypeID=ilt.InvestmentTypeID For xml path ('')) L (Limit)

Declare @AHRA table (ContactID int,Date datetime,HRARent money,HRA money,BasicOrMDA money) 
insert into @AHRA
select ContactID,Date,sum(HRARent) as HRARent,sum(HRA) as HRA,sum(BasicOrMDA) as BasicOrMDA from (
select ContactID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date
,sum(case when InvestmentTypeID =62 then isnull(ActualAmount,0) else 0 end) as HRARent 
,sum(case when InvestmentTypeID =69 then isnull(ActualAmount,0) else 0 end) as HRA,0 as BasicOrMDA
from EmployeeInvestmentDetails eid inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentid
where Arrears=1 and InvestmentTypeID in (62,68,69)
and ContactID in (select distinct ContactID from TmpITFinal)
group by ContactID,Year(eid.InvestmentDate),Month(eid.InvestmentDate)
union all
select ContactID,convert(datetime,(ltrim(str(YearID))+'-'+ltrim(str(MonthID))+'-'+'01')) as Date,0 as HRARent,0 as HRA
,(sum(case when TypesID=1 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)+sum(case when TypesID=2 and TypeID=20 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)) as BasicOrMDA
from ( select ContactID,ScaleRegisterID,YearID,MonthID,Suppliment from FnSRNew() sr 
where ContactID in (select distinct ContactID from TmpITFinal) 
and (case when isnull(SalaryTypeID,0)=1 and isnull(SalaryID,0)<>1 then 0 else 1 end)<>0
and (cast(sr.SalaryYear as varchar(4))+cast(sr.SalaryMonth as varchar(2))) <> (cast(sr.YearID as varchar(4))+cast(sr.MonthID as varchar(2)))
 ) SR inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
group by ContactID,YearID,MonthID

) as A group by ContactID,Date


Declare @SRD2 table (ScaleRegisterID int,ContactID int,YearID int,MonthID int,TypeID int,TypesID int,Amount money,SalaryTypes varchar(50),Ordering varchar(6))
insert into @SRD2


select ScaleregisterID,ContactID,SalaryYear,SalaryMonth,TypeID,TypesID,sum(Amount) as Amount
,(case when TypesID=1 then 'Basic Pay' else case when TypesID=2 and TypeID=2 then 'HRA' else case when TypesID=2 and TypeID=20 then 'MDA' else 
case when TypesID=4 and TypeID=10 then 'HRA Others' else case when TypesID=4 and TypeID=20 then 'HRA Mescom' else case when TypesID=4 and TypeID=15 then 'WC  Others' else case when TypesID=4 and TypeID=21 then 'WC Mescom' else  
case when TypesID=5 and TypeID in (1,4) then 'Housing Loan' else NULL end end end end end end end end) as SalaryTypes
,(case when TypesID=1 then '01' else case when TypesID=2 and TypeID=2 then '05' else case when TypesID=2 and TypeID=20 then '02' else 
case when TypesID=4 and TypeID=10 then '18' else case when TypesID=4 and TypeID=20 then '20' else case when TypesID=4 and TypeID=15 then '19' else case when TypesID=4 and TypeID=21 then '21' else  
case when TypesID=5 and TypeID in (1,4) then '22' else NULL end end end end end end end end) as Ordering
from @SRD1 srd
where (case when srd.TypesID=2 and  srd.TypeID in (2,20) then srd.TypeID else case when srd.TypesID in (1,0) then srd.TypeID else case when srd.TypesID=4 and  srd.TypeID in (10,20,15,21) then srd.TypeID else case when srd.TypesID=5 and  srd.TypeID in (1,4) then srd.TypeID else  0 end end end end) <>0
group by ScaleregisterID,ContactID,SalaryYear,SalaryMonth,TypeID,TypesID


Declare @HRA table (ContactID int,ITDate datetime,MnYr varchar(10),FyYear varchar(10),ODLDID int,EmployeeStatusID int,BasicPay money,MDA money,HRA money,HRARent money,WC money,HL money)
insert into @HRA
select distinct sr.ContactID ,convert(datetime,(ltrim(str(Year(sr.StartingDate)))+'-'+ltrim(str(Month(sr.StartingDate)))+'-'+'01')) as ITDate
,left(Convert(varchar,sr.StartingDate,109),3)+'-'+cast(right(year(sr.StartingDate),2) as Varchar(4)) as MnYr
,(case when month(sr.StartingDate) in (4,5,6,7,8,9,10,11,12) then (cast(Year(sr.StartingDate) as varchar(4))+'-'+cast(Year(sr.StartingDate)+1 as varchar(4))) else case when month(sr.StartingDate) in (1,2,3) then (cast(Year(sr.StartingDate)-1 as varchar(4))+'-'+cast(Year(sr.StartingDate) as varchar(4))) else NULL end end) as FyYear
,srb.ODLDID,isnull(srb.EmployeeStatusID,1) as EmployeeStatusID
,Sum(case when srd.TypesID=1 then isnull(srd.Amount,0) else 0 end) as BasicPay
,Sum(case when srd.TypesID=2 and  srd.TypeID=20 then isnull(srd.Amount,0) else 0 end) as MDA
,Sum(case when srd.TypesID=2 and  srd.TypeID=2 then isnull(srd.Amount,0) else 0 end) as HRA
,Sum(case when srd.TypesID=4 and  srd.TypeID in (10,20) then isnull(srd.Amount,0) else 0 end) as HRARent
,Sum(case when srd.TypesID=4 and  srd.TypeID in (15,21) then isnull(srd.Amount,0) else 0 end) as WC
,Sum(case when srd.TypesID=5 and  srd.TypeID in (1,4) then isnull(srd.Amount,0) else 0 end) as HL
from (select Distinct ContactID,StartingDate,ScaleRegisterID,SalaryYear,SalaryMonth from @SR1) sr
left outer join dbo.FnMaxSRBODLDID() srb on srb.ScaleregisterID=sr.ScaleregisterID
inner join @SRD2 srd on srd.ScaleregisterID=sr.ScaleregisterID and srd.YearID=sr.SalaryYear and srd.MonthID=sr.SalaryMonth and srd.ContactID =sr.ContactID
where srd.Amount<>0
group by sr.ContactID ,Year(sr.StartingDate),Month(sr.StartingDate),left(Convert(varchar,sr.StartingDate,109),3)+'-'+cast(right(year(sr.StartingDate),2) as Varchar(4)),srb.ODLDID,srb.EmployeeStatusID 

Declare @DHRA table (ContactID int,InvestmentTypeID int,Date datetime,ActualAmount money,DeclaredAmount money)
insert into @DHRA
select ContactID,InvestmentTypeID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date
,round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0) as ActualAmount,round(round(Sum(Isnull(eid.DeclaredAmount,0)),2),0) as DeclaredAmount 
from EmployeeInvestmentDetails eid
inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentid
where Arrears<>1 and InvestmentTypeID in (62) and systemgenerated<>1
and convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) between @FromDate and @ToDate
and ContactID in (select distinct ContactID from TmpITFinal)
group by ContactID,Year(eid.InvestmentDate),Month(eid.InvestmentDate),InvestmentTypeID




Declare @HRAF table (ContactID int,ITDate datetime,MnYr varchar(10),FyYear varchar(10),ODLDID int,EmployeeStatusID int,BasicPay money,MDA money,HRA money,HRARent money,WC money,HL money,AHRA money,ABasic money) 
insert into @HRAF
select t.ContactID,ITDate,MnYr,FyYear,ODLDID,EmployeeStatusID,(isnull(BasicPay,0)+isnull(BasicOrMDA,0)) as BasicPay,MDA,(isnull(t.HRA,0)+isnull(a.HRA,0)) as HRA,(isnull(t.HRARent,0)+isnull(a.HRARent,0)) as HRARent,WC,HL,isnull(a.HRA,0) as AHRA,isnull(BasicOrMDA,0) as ABasic
from @HRA t
left outer join @AHRA a on a.ContactID=t.ContactID and a.Date=t.ITDate

Declare @HRA1 Table (ContactID int,ITDate datetime,MnYr varchar(10),FyYear varchar(10),ODLDID int,EmployeeStatusID int,BasicPay money,MDA money,HRA money,HRARent money,WC money,HL money,AHRA money,ABasic money,Quarters int,On40Percent money,On10Percent money,InExOfRentPaid money,HRARentFree money)
insert into @HRA1
select h.*,(Case when (HRARent+WC)<>0 then 1 else 0 end) as Quarters 
,(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and HRARent<>0 then round(round(((BasicPay+MDA)*0.40),2),0) else 0 end)  as On40Percent
,(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and HRARent<>0 then round(round(((BasicPay+MDA)*0.10),2),0) else 0 end)  as On10Percent
,(HRARent-(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and HRARent<>0 then round(round(((BasicPay+MDA)*0.10),2),0) else 0 end))  as InExOfRentPaid
,(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and (isnull(BasicPay,0)-isnull(ABasic,0))<=13190 and (isnull(HRA,0)-isnull(AHRA,0))=0 then round(round((isnull(g.Amount,0)*0.075),2),0) else 0 end)  as HRARentFree
from @HRAF h
left outer join (select ContactID,Date,sum(isnull(Amount,0)) as Amount from TmpITFinal 
where TypesID in (1,2,3) and SalaryTypes not in ('DA') group by ContactID,Date) as G on g.ContactID=h.ContactID and year(g.Date)=year(h.ITDate) and Month(g.Date)=Month(h.ITDate)

Declare @HRA2 table (ContactID int,FyYear varchar(10),Quarters int) 
insert into @HRA2
select ContactID,FyYear,sum(Isnull(Quarters,0)) as Quarters from @HRA1 group by FyYear,ContactID


Declare @TmpHRA Table(ODLDID int,ContactID int,ITDate datetime,MnYr varchar(10),FyYear varchar(10),BasicPay money,MDA money,HRA money,HRARent money,WC money,HL money,HRARentFree money,Quarters int,HRAActual money,HRADeclared money,On40Percent money,On10Percent money,InExOfRentPaid money)
insert into @TmpHRA
select distinct h.ODLDID,h.ContactID,h.ITDate,Mnyr,h.FyYear  
,(Case when h.Quarters<>1 then BasicPay else 0 end) as BasicPay
,(Case when h.Quarters<>1 then MDA else 0 end) as MDA
,(Case when h.Quarters<>1 then HRA else 0 end) as HRA
,HRARent,WC,HL,HRARentFree,h.Quarters
,round(((Case when h.Quarters<>1 then isnull(ActualAmount,0) else 0 end)/((12-(case when h2.Quarters=0 then 0 else h2.Quarters end))+0.0001)),0) as HRAActual
,round(((Case when h.Quarters<>1 then isnull(DeclaredAmount,0) else 0 end)/((12-(case when h2.Quarters=0 then 0 else h2.Quarters end))+0.0001)),0) as HRADeclared
,round(((Case when h.Quarters<>1 then ((BasicPay+MDA)*0.40) else 0 end) + On40Percent),0)  as On40Percent



,round(((Case when h.Quarters<>1 then (((BasicPay+MDA)*isnull(hr.Rates,0))/100) else 0 end) + On10Percent),0)  as On10Percent
,((round((Case when h.Quarters<>1 then ((case when isnull(DeclaredAmount,0)>isnull(ActualAmount,0) then isnull(DeclaredAmount,0) else isnull(ActualAmount,0) end)/((12-(case when h2.Quarters=0 then 0 else h2.Quarters end))+0.0001)) else 0 end),0) -
round((Case when h.Quarters<>1 then (((BasicPay+MDA)*isnull(hr.Rates,0))/100) else 0 end),0)) + InExOfRentPaid) as InExOfRentPaid

from @HRA1 h inner join @HRA2 h2 on h2.ContactID=h.COntactID and h2.FyYear=h.FyYear
left outer join (select ContactID,InvestmentTypeID,sum(isnull(ActualAmount,0)) as ActualAmount,sum(isnull(DeclaredAmount,0)) as DeclaredAmount from @DHRA group by ContactID,InvestmentTypeID) as im on im.ContactID=h.ContactID and h.ITDate>=(select min(distinct Date) from TmpITFinal) and h.ITDate<=(select max(distinct Date) from TmpITFinal)
left outer join @HRARates hr on hr.ODLDID=h.ODLDID





Declare @Date1 table (YrMn varchar(10),Date datetime,MnYr varchar(10),FyYear varchar(10)) 
insert into @Date1
select (ltrim(str(year(cast(Days as Datetime))))+ltrim(str(Month(cast(Days as Datetime))))) as YrMn,cast(Days as Datetime) as Date ,left(Convert(varchar,cast(Days as Datetime),109),3)+'-'+cast(right(year(cast(Days as Datetime)),2) as Varchar(4)) as MnYr
,(case when month(cast(Days as Datetime)) in (4,5,6,7,8,9,10,11,12) then (cast(Year(cast(Days as Datetime)) as varchar(4))+'-'+cast(Year(cast(Days as Datetime))+1 as varchar(4))) else case when month(cast(Days as Datetime)) in (1,2,3) then (cast(Year(cast(Days as Datetime))-1 as varchar(4))+'-'+cast(Year(cast(Days as Datetime)) as varchar(4))) else NULL end end) as FyYear
from DaysOfDate where day(cast(Days as Datetime))=1 and cast(Days as Datetime) between @FromDate and @ToDate

Declare @HRAP table (SlNo int,InvestmentTypeID int,ODLDID int,ContactID int,Date datetime,MnYr varchar(10),FyYear varchar(10),BasicPay money,MDA money,HRA money,HRARent money,WC money,HL money,HRARentFree money,Quarters int,HRAActual money,HRADeclared money,On40Percent money,On10Percent money,InExOfRentPaid money,Ordered varchar(6)) 
insert into @HRAP
select Row_Number() over (partition by ContactID order by Date) as SlNo,* from (

select 1 as InvestmentTypeID,ODLDID,msr.ContactID,d.Date,d.MnYr,d.FyYear
,BasicPay,MDA,msr.HRA,isnull(msr.AHRARent,0) as HRARent,WC,HL,HRARentFree,Quarters,HRAActual,HRADeclared,On40Percent,On10Percent,AInExOfRentPaid,'01' as Ordered
from @Date1 d cross join (select sr.*,(isnull(sr.HRARent,0)-isnull(a.HRARent,0)) as AHRARent,(isnull(sr.InExOfRentPaid,0)-isnull(a.HRARent,0)) as AInExOfRentPaid from @TmpHRA sr left outer join @AHRA a on a.ContactID=sr.ContactID and a.Date=sr.ITDate where ITDate in (convert(datetime,(@YearID+'-'+@MonthID+'-'+'01')))) MSR	
where d.Date>(select max(distinct ITDate) from @TmpHRA)	

union all select 1 as InvestmentTypeID,*,'01' as Ordered from @TmpHRA
) as A 


IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpHRAP]'))	Drop table [TmpHRAP]
select * into TmpHRAP from @HRAP


Declare @IV table (ContactID int,InvestmentTypeID int,InvestmentSectionTypeID int,SectionID varchar(20),Description varchar(500),ListOfHRAIT money,HRADeclared money,Limits varchar(100),FyYear varchar(10),ProjectAmount money) 
insert into @IV
select T.ContactID,T.InvestmentTypeID,ist.InvestmentSectionTypeID,ist.Description as SectionID,it.Description,round(T.ListOfHRAIT,0) as ListOfHRAIT,0 as HRADeclared,NULL as Limits,FyYear,0 as ProjectAmount
from (
select InvestmentTypeID,ContactID,FyYear,sum(BasicPay) as BasicPay,sum(MDA) as MDA,sum(HRA) as HRA,sum(HRARent) as HRARent,sum(HL) as HL,sum(HRAActual) as HRAActual
,sum(HRADeclared) as HRADeclared,sum(On40Percent) as On40Percent,sum(On10Percent) as On10Percent,sum(InExOfRentPaid) as InExOfRentPaid

,(case when sum(On40Percent)>(case when sum(InExOfRentPaid)>sum(HRA) then sum(HRA) else sum(InExOfRentPaid) end) then 
(case when sum(InExOfRentPaid)>sum(HRA) then sum(HRA) else sum(InExOfRentPaid) end) else sum(On40Percent) end) as ListOfHRAIT


from  TmpHRAP group by InvestmentTypeID,ContactID,FyYear
) as T
left outer join InvestmentTypes it on it.InvestmentTypeID=T.InvestmentTypeID
left outer join InvestmentSectionTypes ist on ist.InvestmentSectionTypeid=it.InvestmentSectionTypeid
where ListOfHRAIT>0
union all

select ContactID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,sum(ActualAmount) as ActualAmount
,(case when sum(DeclaredAmount)>sum(AnualAmount) then sum(DeclaredAmount) else sum(AnualAmount) end) as DeclaredAmount,max(distinct Limits) as Limits,FyYear,sum(ProjectAmount) as ProjectAmount
from (
select ContactID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,sum(ActualAmount) as ActualAmount,sum(DeclaredAmount) as DeclaredAmount,sum(ActualAmount) as AnualAmount,max(distinct Limits) as Limits,FyYear,sum(ProjectAmount) as ProjectAmount
from [dbo].[FnInvestments]() 
where ContactID in (@ContactID) and Date between @FromDate and @ToDate
and InvestmentMainTypeID not in (1,4) and SystemGenerated<>1
group by ContactID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,FyYear
union all
select ContactID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,sum(ActualAmount) as ActualAmount,0 as DeclaredAmount,sum(DeclaredAmount) as AnualAmount,max(distinct Limits) as Limits,FyYear,sum(ProjectAmount) as ProjectAmount
from [dbo].[FnInvestments]() 
where ContactID in (@ContactID) and Date between @FromDate and @ToDate
and InvestmentMainTypeID not in (1,4) and SystemGenerated=1
group by ContactID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,FyYear
union all
select ContactID,0,0,NULL,'Employee Disability Amount',DisabilityAmount,0,DisabilityAmount,'',(cast(Year(@FromDate) as varchar(4))+'-'+cast(Year(@ToDate) as varchar(4))) ,0 as ProjectAmount 
from @Contact where isnull(DisabilityAmount,0)<>0 and ContactID in (@ContactID)
) as IV group by ContactID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,FyYear

IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpIV]'))		Drop table [TmpIV]
select * into TmpIV from @IV




IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpITA]'))		Drop table [TmpITA]

select distinct t.FyYear,t.ContactID,t.Date,t.MnYr,sum(isnull(it.PayArrears,0)) as Basic_DP,sum(isnull(it.DAArrears,0)) as DA,sum(isnull(it.HRAArrears,0)) as HRA,sum(isnull(it.OtherArrears,0)) as AOthers
,isnull(b.Bonus,0) as Bonus,isnull(sp.Amount,0) as SOthers,(case when isnull(iv.HRA_RentFree,0)=0 then isnull(t.HRARentFree,0) else isnull(iv.HRA_RentFree,0) end) as HRARentFree 

,(sum(isnull(it.PayArrears,0))+sum(isnull(it.DAArrears,0))+sum(isnull(it.HRAArrears,0))+sum(isnull(it.OtherArrears,0))+isnull(b.Bonus,0)+isnull(sp.Amount,0)+(case when isnull(iv.HRA_RentFree,0)=0 then isnull(t.HRARentFree,0) else isnull(iv.HRA_RentFree,0) end)) as Total
,sum(isnull(it.ITArrears,0)) as IT
,isnull(PT,0) as PT,isnull(FBF,0) as FBF,isnull(CPC,0) as CPC,isnull(EPC,0) as EPC,isnull(HRA_Rent,0) as HRA_Rent   
,((sum(isnull(it.PayArrears,0))+sum(isnull(it.DAArrears,0))+sum(isnull(it.HRAArrears,0))+sum(isnull(it.OtherArrears,0))+isnull(b.Bonus,0)+isnull(sp.Amount,0))-(sum(isnull(it.ITArrears,0))+(isnull(Total,0)-isnull(iv.HRA_RentFree,0)))) as Net
into TmpITA
from (select ContactID,Date,MnYr,FyYear,sum(BasicPay) as BasicPay,sum(MDA) as MDA,sum(HRA) as HRA,sum(HRARent) as HRARent,sum(WC) as WC,sum(HL) as HL,sum(HRARentFree) as HRARentFree
from TmpHRAP group by ContactID,Date,MnYr,FyYear) t

left outer join (select ContactID,YearID,MonthID
,(sum(case when TypesID=1 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)+sum(case when TypesID=2 and TypeID=20 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)) as PayArrears
,sum(case when TypesID=2 and TypeID=1 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end) as DAArrears 
,sum(case when TypesID=2 and TypeID=2 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end) as HRAArrears 
,(sum(case when TypesID=2 and TypeID not in (1,2,20) and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)+sum(case when TypesID=3 and TypeID in (13,16,2) and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)) as OtherArrears 
,sum(case when TypesID=4 and TypeID=2 then isnull(srd.DiffAmount,0) else 0 end) as ITArrears
from FnSRNew() sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where ContactID in (@ContactID) and (case when isnull(SalaryTypeID,0)=1 and StartingDate>=@FromDate then 0 else 1 end)<>0 

group by ContactID,YearID,MonthID 
) as IT on it.ContactID=t.COntactID and it.YearID=Year(t.Date) and it.MonthID=Month(t.Date)
and (convert(datetime,(cast(it.YearID as varchar(4))+'-'+cast(it.MonthID as varchar(2))+'-'+'01'))) between @FromDate and @ToDate

left outer join (
select sr.ContactID,convert(datetime,(cast(Year(isnull(sr.BillRegisterDate,Today)) as varchar(4))+'-'+cast(Month(isnull(sr.BillRegisterDate,Today)) as varchar(2))+'-'+'01')) as Date ,round(Round(sum(isnull(sroa.Amount,0)),2),0) as Bonus 
from ScaleRegisterOtherAdditions sroa inner join today_hrms t2 on t2.Ac_olid=@Acolid inner join ScaleRegister sr on sr.ScaleRegisterID=sroa.ScaleRegisterID
where SalaryOtherAdditionID in (3,7) group by sr.ContactID,Year(isnull(sr.BillRegisterDate,Today)),Month(isnull(sr.BillRegisterDate,Today)) having round(Round(sum(isnull(sroa.Amount,0)),2),0)<>0
) as B on b.ContactID=t.COntactID and Year(b.Date)=Year(t.Date) and Month(b.Date)=Month(t.Date)
and b.Date between @FromDate and @ToDate

left outer join (
select ContactID,convert(datetime,(cast(YearID as varchar(4))+'-'+cast(MonthID as varchar(2))+'-'+'01')) as Date
,sum(case when TypesID in (4,5,6) then 0 else isnull(srd.DiffAmount,0) end) as AMount
from FnSRNew() sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where ContactID in (@ContactID)  and isnull(Suppliment,0) in (2,7) group by ContactID,YearID,MonthID having sum(isnull(srd.DiffAmount,0))<>0
) as Sp on sp.ContactID=t.COntactID and Year(sp.Date)=Year(t.Date) and Month(sp.Date)=Month(t.Date)
and sp.Date between @FromDate and @ToDate

left outer join ( select ContactID,Date,sum(PT) as PT,sum(FBF) as FBF,sum(CPC) as CPC,sum(EPC) as EPC,sum(HRA_Rent) as HRA_Rent,sum(HRA_RentFree) as HRA_RentFree,sum(Total) as Total from (
select ei.ContactID,convert(datetime,(cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Month(InvestmentDate) as varchar(2))+'-'+'01')) as Date 
,sum(case when InvestmentTypeID=2 then isnull(ActualAmount,0) else 0 end) as PT
,sum(case when InvestmentTypeID=18 then isnull(ActualAmount,0) else 0 end) as FBF
,sum(case when InvestmentTypeID=36 then isnull(ActualAmount,0) else 0 end) as CPC
,sum(case when InvestmentTypeID=19 then isnull(ActualAmount,0) else 0 end) as EPC
,sum(case when InvestmentTypeID=62 then isnull(ActualAmount,0) else 0 end) as HRA_Rent
,round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) as HRA_RentFree
,(round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) + 
sum(case when InvestmentTypeID in (2,18,36,19,62) then isnull(ActualAmount,0) else 0 end)) as Total
from EmployeeInvestmentDetails eid
inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentID
where Suppliment not in (2,7) and Arrears=1 group by ei.ContactID,Year(InvestmentDate),Month(InvestmentDate)
having (round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) + 
sum(case when InvestmentTypeID in (2,18,36,19,62) then isnull(ActualAmount,0) else 0 end))<>0
union all
select ei.ContactID,convert(datetime,(cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Month(InvestmentDate) as varchar(2))+'-'+'01')) as Date 
,0 as PT,0 as FBF,0 as CPC,0 as EPC,0 as HRA_Rent
,round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) as HRA_RentFree
,round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) as Total
from EmployeeInvestmentDetails eid
inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentID
where Suppliment=1 group by ei.ContactID,Year(InvestmentDate),Month(InvestmentDate)
having round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0)<>0
union all
select ei.ContactID,convert(datetime,(cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Month(InvestmentDate) as varchar(2))+'-'+'01')) as Date 
,0 as PT,0 as FBF,0 as CPC,0 as EPC,0 as HRA_Rent
,round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) as HRA_RentFree
,round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0) as Total
from EmployeeInvestmentDetails eid
inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentID
where Suppliment<>1 and Arrears<>1 group by ei.ContactID,Year(InvestmentDate),Month(InvestmentDate) 
having round(round((sum(case when InvestmentTypeID=68 then isnull(ActualAmount,0) else 0 end)*0.075),2),0)<>0 ) as T group by ContactID,Date

) as IV on iv.ContactID=t.COntactID and Year(iv.Date)=Year(t.Date) and Month(iv.Date)=Month(t.Date)
and iv.Date between @FromDate and @ToDate
Group by t.FyYear,t.ContactID,t.Date,t.MnYr,b.Bonus,sp.Amount,t.HRARentFree,PT,FBF,CPC,EPC,HRA_Rent,Total,iv.HRA_RentFree



Declare @TA table (ContactID int,YearID int,MonthID int,SectionID varchar(20),Description varchar(500),ActualAmount money,DeclaredAmount money,Limits varchar(100),FnYear varchar(10)) 
insert into @TA
select ContactID,year(Date) as YearID,month(Date) as MonthID,SectionID,Description,ActualAmount,DeclaredAmount
,isnull((case when InvestmentTypeID=48 then NULL else 
(case when ltrim(rtrim(REPLACE( Limits, ',', '' )))='' then NULL else ltrim(rtrim(REPLACE( Limits, ',', '' ))) end) end),0) as Limits
,(case when month(Date) in (4,5,6,7,8,9,10,11,12) then (cast(Year(Date) as varchar(4))+'-'+cast(Year(Date)+1 as varchar(4))) else case when month(Date) in (1,2,3) then (cast(Year(Date)-1 as varchar(4))+'-'+cast(Year(Date) as varchar(4))) else NULL end end) as FnYear
from [dbo].[FnInvestments]() where InvestmentMainTypeId in (1,4)
and ContactID in (@ContactID) and Date between @FromDate and @ToDate

Declare @TA1 table (ContactID int,SectionID varchar(20),Description varchar(500),ActualAmount money,DeclaredAmount money,Limits varchar(100),FnYear varchar(10),FAmount money) 
insert into @TA1
select ContactID,SectionID,Description,sum(isnull(ActualAmount,0)) as ActualAmount,sum(isnull(DeclaredAmount,0)) as DeclaredAmount,max(distinct limits) as Limits,FnYear
,(case when @MonthID in (1,2,3) then sum(isnull(ActualAmount,0)) else 
(case when sum(isnull(ActualAmount,0))>sum(isnull(DeclaredAmount,0)) then sum(isnull(ActualAmount,0)) else sum(isnull(DeclaredAmount,0)) end) end) as FAmount
from @TA ta group by ContactID,SectionID,Description,FnYear



IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpPerquisites]'))		Drop table TmpPerquisites


select * into TmpPerquisites from (select '194 A' as SectionID,'Source of income from interest other than interest on securities' as Description,-sum(isnull(Balance,0)) as ActualAmount,0 as DeclaredAmount,'' as Limits,-sum(isnull(Balance,0)) as TaxableAmount,(cast(Year(@FromDate) as varchar(4))+'-'+cast(Year(@ToDate) as varchar(4))) as FnYear,ContactID 
from EmployeeLoanandAdvance where LoanandAdvanceID=63 and isnull(Expired,0)=0 and isnull(Balance,0)>0
and LoanandAdvanceDate between @FromDate and @ToDate and ContactID=@ContactID group by ContactID
union all
select SectionID,Description,ActualAmount,DeclaredAmount,Limits,(case when (FAmount-Limits)<=0 then 0 else (FAmount-Limits) end ) as TaxableAmount,FnYear,ContactID
from @TA1 ) as T





Declare @IVF1 table (FyYear varchar(10),ContactID int,Description varchar(500),ActualAmount money,DeclaredAmount money,Limits varchar(100),FinalAmount money,ProjectAmount money) 
insert into @IVF1
select t.FyYear,t.ContactID,('80C - Under Section 80C & 80CCC') as Description,sum(ActualAmount) as ActualAmount,sum(DeclaredAmount) as DeclaredAmount ,max(Distinct isnull(t.Limits,0.00)) as Limits
,(case when max(Distinct isnull(t.Limits,0.00))>sum(t.FinalAmount) then sum(t.FinalAmount) else  max(Distinct isnull(t.Limits,0.00)) end)  as FinalAmount,sum(ProjectAmount) as ProjectAmount

from (
select FyYear,ContactID,sum(ListOfHRAIT) as ActualAmount,sum(HRADeclared) as DeclaredAmount
,(case when rtrim(ltrim(REPLACE( max(Distinct Limits), ',', '' )))='' then NULL else rtrim(ltrim(REPLACE( max(Distinct Limits), ',', '' ))) end)  as Limits
,(case when isnull(max(Distinct Limits),'')='' then  (case when sum(HRADeclared)>sum(ListOfHRAIT) then sum(HRADeclared) else sum(ListOfHRAIT) end) else 
(case when 
(case when sum(HRADeclared)>sum(ListOfHRAIT) then sum(HRADeclared) else sum(ListOfHRAIT) end) > REPLACE( max(Distinct Limits), ',', '' ) then REPLACE( max(Distinct Limits), ',', '' ) else 
(case when sum(HRADeclared)>sum(ListOfHRAIT) then sum(HRADeclared) else sum(ListOfHRAIT) end) end) end)as  FinalAmount,sum(ProjectAmount) as ProjectAmount
from TmpIV where InvestmentSectionTypeID  in (24,26) group by ContactID,InvestmentTypeID,FyYear
) as T group by t.ContactID,FyYear
union all
select FyYear,ContactID,(isnull(SectionID,'')+' - '+Description) as Description,sum(ListOfHRAIT) as ActualAmount,sum(HRADeclared) as DeclaredAmount,REPLACE( max(Distinct Limits), ',', '' ) as Limits
,(case when isnull(max(Distinct Limits),'')='' then  (case when sum(HRADeclared)>sum(ListOfHRAIT) then sum(HRADeclared) else sum(ListOfHRAIT) end) else 
(case when (case when sum(HRADeclared)>sum(ListOfHRAIT) then sum(HRADeclared) else sum(ListOfHRAIT) end) > REPLACE( max(Distinct Limits), ',', '' ) then 
REPLACE( max(Distinct Limits), ',', '' ) else (case when sum(HRADeclared)>sum(ListOfHRAIT) then sum(HRADeclared) else sum(ListOfHRAIT) end) end) end)as  FinalAmount,sum(ProjectAmount) as ProjectAmount
from TmpIV where InvestmentSectionTypeID not in (24,26) and InvestmentTypeID not in (62,69,68) group by ContactID,SectionID,Description,FyYear


Declare @IVF table (FyYear varchar(10),ContactID int,Description varchar(500),ActualAmount money,DeclaredAmount money,Limits varchar(100),FinalAmount money) 
insert into @IVF
select FyYear,ContactID,Description
,(case when @MonthID in (1,2,3) then (ActualAmount+ProjectAmount) else ActualAmount end) as ActualAmount

,DeclaredAmount,Limits
,(case when (Limits='' or Limits is null) then (case when @MonthID in (1,2,3) then (ActualAmount+ProjectAmount) else FinalAmount end) else 
(case when (case when @MonthID in (1,2,3) then (ActualAmount+ProjectAmount) else FinalAmount end)> Limits then Limits else (case when @MonthID in (1,2,3) then (ActualAmount+ProjectAmount) else FinalAmount end) end) end) as FinalAmount
from @IVF1

IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpIVF]'))		Drop table [TmpIVF]
select * into TmpIVF from @IVF

select * from TmpIVF
GO
