USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SRRateGiveResultsFromTemp4]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SRRateGiveResultsFromTemp4]  @FromYear int,@ToYear int,@EffectiveDate datetime,@BatchNo bigint
as

select Replace (REPLACE(REPLACE(isnull(e.Description,''), CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'')  StockType,a.ItemID, substring(replace(MaterialCode,' ',''),2,len(MaterialCode)) MaterialCode,Replace (REPLACE(REPLACE(b.Description, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'') Description,a.UOM,isnull(f.Price,0) 'Existing_2016-17','Valid' Remarks
from SRRateTemp a
inner join MaterialCode b on a.ItemID=b.ItemID
left join Stock d on a.ItemID=d.ItemID
left join StockType e on d.StockTypeID=e.StockTypeID
left join SRStock f on a.ItemID=f.ItemID
where Valid=1 and Updated=0 and EffectiveDate=@EffectiveDate and FromYear=@FromYear and ToYear=@ToYear;
GO
