USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_JVDetailsAnnexure1to9]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_JVDetailsAnnexure1to9] 
	@AcOLID Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime 

AS SET NOCOUNT ON



--Declare @AcOLID Int = 2921
--Declare @FromFyYear DateTime = '2023-04-01'
--Declare @ToFyYear DateTime = '2023-04-30'



Declare @FAAA Table ( Series10 Varchar(20),Series161Scrap Varchar(20),Series162Good Varchar(20),Series162Faulty Varchar(20),Series12 Varchar(20),Series77550 Varchar(20),DepreciationRate Numeric(18,2))
Insert Into @FAAA 
select (isnull(FixedAssetMainAccountCode,'')+isnull(FixedAssetSubAccountCode,'')) as Series10,(isnull(ReleasedScrapMainAccountCode,'')+isnull(ReleasedScrapSubAccountCode,'')) as Series161Scrap
,(isnull(ReleasedGoodMainAccountCode,'')+isnull(ReleasedGoodSubAccountCode,'')) as Series162Good,(isnull(ReleasedFaultyMainAccountCode,'')+isnull(ReleasedFaultySubAccountCode,'')) as Series162Faulty
,(isnull(DepreciationMainAccountCode,'')+isnull(DepreciationSubAccountCode,'')) as Series12,(isnull(ExpenditureMainAccountCode,'')+isnull(ExpenditureSubAccountCode,'')) as Series77550
,isnull(DepreciationRate,0) as DepreciationRate from FixedAssetAccountCodeAllocation with (nolock)


Declare @OLID Table (OLID Int) Insert Into @OLID
select OLID from OfficeLocationAccountingUnitDetails with(nolock) 
where (DivisionOLID=@AcOLID or CircleOLID=@AcOLID or ZonalOLID=@AcOLID or CorporateOLID=@AcOLID or OLID=@AcOLID) 

IF EXISTS(SELECT name FROM sys.sysobjects WHERE Name = N'TempJVSplit' AND xtype = N'U') BEGIN drop table TempJVSplit END
select *,Len(a.FromAcHead) as LenFromAcHead,Len(a.ToAcHead) as LenToAcHead into TempJVSplit from (
select JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassID,Round(Sum(Amount),2) Amount,isnull(InvoiceTypeID,0) InvoiceTypeID,RectifiedJVNo from (
select a.*,(isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')) as FromAcHead,(isnull(ToMainAccountCode,'')+isnull(ToSubAccountCode,'')) as ToAcHead,VoltageClassID,Amount,isnull(InvoiceTypeID,0) InvoiceTypeID from (
select JournalVoucherNo,OLID,JournalVoucherDate,isnull(DocumentTypeID,0) DocumentTypeID,isnull(DoucmentNo,0) DocumentNo,isnull(RectifiedJVNo,0) RectifiedJVNo
from JournalVoucher with(nolock) cross join Today_Accounts with(nolock)
where Approved=1 and JournalVoucherDate Between (case when @FromFyYear=0 then dateadd(month,-1,dateadd(day,1,EOmonth(Today))) else @FromFyYear end) 
and (case when @ToFyYear=0 then EOmonth(Today) else @ToFyYear end) and OLID in (select OLID from @OLID)) A 
inner join JournalVoucherDetails B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
--and a.JournalVoucherNo = 1754681
left join BillRegisterNoInvoiceTypeAllocation B1 with(nolock) on b1.BillRegisterNo=(case when DocumentTypeID=29 then isnull(DocumentNo,0) else 0 end) 
) A Group By JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassID,InvoiceTypeID,RectifiedJVNo
) A 


Declare @JVNo42501 Table (JournalVoucherNo Int,OLID Int,JournalVoucherDate DateTime,DocumentTypeID Int,DocumentNo Int,FromAcHead Varchar(20),ToAcHead Varchar(20),VoltageClassID Int,Amount Money,InvoiceTypeID Int,LenFromAcHead Int,LenToAcHead Int)
Insert Into @JVNo42501
select JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DocumentNo,FromAcHead,'42.401' ToAcHead,VoltageClassID,Amount,InvoiceTypeID,1 LenFromAcHead,1 LenToAcHead
from TempJVSplit with(nolock)  where JournalVoucherNo in (select JournalVoucherNo from TempJVSplit with(nolock) where FromAcHead = '42.501' and InvoiceTypeID=2) and FromAcHead like '14.%'

Declare @JVNo77550 Table (JournalVoucherNo Int,OLID Int,JournalVoucherDate DateTime,DocumentTypeID Int,DocumentNo Int,FromAcHead Varchar(20),ToAcHead Varchar(20),VoltageClassID Int,Amount Money,InvoiceTypeID Int,LenFromAcHead Int,LenToAcHead Int)
Insert Into @JVNo77550
select JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DocumentNo,FromAcHead,'42.401' ToAcHead,VoltageClassID,Amount,InvoiceTypeID,1 LenFromAcHead,1 LenToAcHead
from TempJVSplit with(nolock) where FromAcHead = '77.550' and InvoiceTypeID=2 


IF EXISTS(SELECT name FROM sys.sysobjects WHERE Name = N'TempJVSplit1' AND xtype = N'U') BEGIN drop table TempJVSplit1 END
select a.JournalVoucherNo,a.OLID,a.JournalVoucherDate,a.DocumentTypeID,a.DocumentNo,a.FromAcHead,a.ToAcHead,a.VoltageClassID
,(a.Amount-(case when a.ToAcHead='42.401' then (isnull(c.Amount,0)+isnull(d.Amount,0)) else 0 end)) Amount,a.InvoiceTypeID,a.LenFromAcHead,a.LenToAcHead,RectifiedJVNo
into TempJVSplit1 from TempJVSplit A with(nolock) 
outer apply (select Sum(Amount) Amount from @JVNo77550 C where c.JournalVoucherNo=a.JournalVoucherNo and c.VoltageClassID=a.VoltageClassID) C 
outer apply (select Sum(Amount) Amount from @JVNo42501 D where d.JournalVoucherNo=a.JournalVoucherNo and d.VoltageClassID=a.VoltageClassID) D 
where (case when Len(case when a.InvoiceTypeID=2 and a.FromAcHead='77.550' then '' when a.InvoiceTypeID=2 and a.FromAcHead like '14.%' and d.Amount is not NULL then '' 
else a.FromAcHead end)=0 and Len(a.ToAcHead)=0 then 0 else 1 end)=1 


Declare @JVNo1 Table (JournalVoucherNo Int,DocumentNo Int,InvoiceTypeID Int,DocumentTypeID Int,FromAcHeadNo Int,ToAcHeadNo Int)
Insert Into @JVNo1
select JournalVoucherNo,DocumentNo,InvoiceTypeID,DocumentTypeID,Sum(case when lenFromAcHead=0 then 0 else 1 end) as FromAcHeadNo,Sum(case when lenToAcHead=0 then 0 else 1 end) as ToAcHeadNo
from TempJVSplit1 with(nolock) where ( lenFromAcHead=0 or lenToAcHead=0 ) 
group by JournalVoucherNo,DocumentNo,InvoiceTypeID,DocumentTypeID


IF EXISTS(SELECT name FROM sys.sysobjects WHERE Name = N'TempJVSplit2' AND xtype = N'U') BEGIN drop table TempJVSplit2 END
select a.* ,b.Series12 as Depriciation12,(case when StockConditionID=4 then Series161Scrap else NULL end) as Scrap16 ,(case when StockConditionID=2 then Series162Good else NULL end) as RGood16
,(case when StockConditionID=3 then Series162Faulty else NULL end) as Faulty16 into TempJVSplit2 from (
select a.*,b.*,(isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),'')) as AccountCode,VoltageClassID from (
select a.JournalVoucherNo,b.ReceiptVoucherNo,ItemID,StockConditionID,Sum(d.Amount) Amount from (
select * from @JVNo1 B where (FromAcHeadNo!=1 or ToAcHeadNo!=1) and DocumentTypeID in (33)) A 
inner join ReceiptVoucherAbstract_Accounts B with(nolock) on b.ReceiptVoucherNo=a.DocumentNo 
Inner Join ReceiptVoucherDetails_Accounts C with(nolock) on c.ReceiptVoucherNo=b.ReceiptVoucherNo 
inner join ReceiptVoucherMaterialDetails_Accounts D with(nolock) on d.ReceiptVoucherDetailsID=c.ReceiptVoucherDetailsID
Group By a.JournalVoucherNo,b.ReceiptVoucherNo,ItemID,StockConditionID
) A cross Apply ( select FolioNo,Sum(isnull(b.WrittenDownValue,0)) Series16A,Sum(isnull(b.AccumulatedDepreciation,0)) Series12A,Sum(isnull(b.OriginalCost,0)) Series10A 
	from ReleasedAssetDetails b with (nolock) where b.DocumentTypeID in (12,33) and isnull(b.IBVLID,0)=a.ItemID and isnull(b.DocumentNo,0)=a.ReceiptVoucherNo 
		and isnull(b.StockConditionID,0)=a.StockConditionID Group By b.DocumentNo,b.IBVLID,b.StockConditionID,FolioNo ) B 
inner join ReleasedAssets C with (nolock) on c.FolioNo=b.FolioNo 
) A inner join @FAAA B on b.Series10=a.AccountCode


Declare @JVDF Table (JournalVoucherNo Int,FromAcHead Varchar(20),FromAcHeadNo Int)
Insert Into @JVDF
select a.JournalVoucherNo,FromAcHead,FromAcHeadNo
from ( select distinct JournalVoucherNo,FromAcHead from TempJVSplit1 with(nolock) where lenToAcHead=0 ) as A
inner join @JVNo1 B on b.JournalVoucherNo=a.JournalVoucherNo and FromAcHeadNo=1 


Declare @JVDT Table (JournalVoucherNo Int,ToAcHead Varchar(20),VoltageClassID Int,Amount Money,ToAcHeadNo Int)
Insert Into @JVDT
select a.JournalVoucherNo,ToAcHead,VoltageClassID,Amount,ToAcHeadNo
from ( select distinct JournalVoucherNo,ToAcHead,VoltageClassID,Amount from TempJVSplit1 with(nolock) where lenFromAcHead=0 ) as A
inner join @JVNo1 B on b.JournalVoucherNo=a.JournalVoucherNo and ToAcHeadNo=1 


select JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,InvoiceTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassID,Amount,RectifiedJVNo,isnull(isnull(FromAcHeadNo,ToAcHeadNo),0) SingleLine from (
select distinct JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,InvoiceTypeID,DocumentNo,FromAcHead1 FromAcHead,ToAcHead1 ToAcHead,VoltageClassID,Amount,FromAcHeadNo,ToAcHeadNo,RectifiedJVNo from (
select a.* ,isnull(b.FromAcHead,a.FromAcHead) FromAcHead1,isnull(c.ToAcHead,a.ToAcHead) ToAcHead1
,(case when lenFromAcHead!=0 and lenToAcHead!=0  then 1 else FromAcHeadNo end) FromAcHeadNo,ToAcHeadNo 
from (select * from TempJVSplit1 a with(nolock) where a.JournalVoucherNo not in (select distinct JournalVoucherNo from TempJVSplit2 B with(nolock) where b.JournalVoucherNo=a.JournalVoucherNo)) A 
left join @JVDF b on b.JournalVoucherNo=a.JournalVoucherNo 
left join @JVDT c on c.JournalVoucherNo=a.JournalVoucherNo and c.VoltageClassID=a.VoltageClassID 
union all select *,0,FromAcHead,ToAcHead,1 FromAcHeadNo,1 ToAcHeadNo from @JVNo77550 
union all select *,0,FromAcHead,ToAcHead,1 FromAcHeadNo,1 ToAcHeadNo from @JVNo42501 
) A union all 
select a.JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,0,DoucmentNo,FromAcHead,ToAcHead,VoltageClassID,Sum(Amount),1,1,0 from (
select JournalVoucherNo,Depriciation12 FromAcHead,AccountCode ToAcHead,Series12A Amount,VoltageClassID from TempJVSplit2 with(nolock) union all 
select JournalVoucherNo,isnull(isnull(Scrap16,RGood16),Faulty16) FromAcHead,AccountCode ToAcHead,Series16A Amount,VoltageClassID from TempJVSplit2 with(nolock)  
) A inner join JournalVoucher B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo
Group By a.JournalVoucherNo,OLID,JournalVoucherDate,DocumentTypeID,DoucmentNo,FromAcHead,ToAcHead,VoltageClassID
) A where (case when ((len(FromAcHead)=0 and isnull(ToAcHeadNo,0)=1) or (len(ToAcHead)=0 and isnull(FromAcHeadNo,0)=1)) then 0 else 1 end)=1
Order By OLID,JournalVoucherNo,len(FromAcHead) desc,FromAcHead,ToAcHead





GO
