USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryGeneration_Final]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE PROCEDURE [dbo].[SP_SalaryGeneration_Final] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@Suppliment int,
	@PT1 Int,
	@FBF1 Int,
	@Continue int,
	@MaxSRID int,
	@IT2 Int ,
	@ODLDID_1 Int ,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float ,
	@ChargeBP Float ,
	@HRARate Float ,
	@CCARate Float

AS 
SET NOCOUNT ON

--Declare @AcOLID Int = 2921     
--Declare @FromDate DateTime = '2023-03-01' 
--Declare @ToDate DateTime = '2023-03-31' 
--Declare @ContactID Int = 31399      

--Declare @Suppliment int = 0
--Declare @PT1 Int = 200  
--Declare @FBF1 Int = 200 
--Declare @Continue int = 0 
--Declare @MaxSRID int = 0
--Declare @IT2 Int = NULL   
--Declare @ODLDID_1 Int = NULL 
--Declare @BPRate Float = NULL  
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  
--Declare @ChargeBP Float = NULL  
--Declare @HRARate Float = 16
--Declare @CCARate Float = 400


Declare @ESID int = ( select * from ( 
	select (case when @Suppliment in (0,9) then isnull(EmployeeStatusID,1) else 0 end) ESID from Employee with(nolock) where ContactID=@ContactID
	union
	select (case when @Suppliment not in (0,9) then ESID else 0 end) ESID from (
	select (case when isnull(Max(EmployeeStatusID),1)=19 then 19 else 1 end) ESID  from (
	select Max(ScaleRegisterID) SRID from ScaleRegister with(nolock) where OLID=@AcOLID and ContactID=@ContactID and SalaryYear=Year(@FromDate) and SalaryMonth=Month(@FromDate) 
	and Generated=1 and isnull(Heldup,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL 
	) A inner join ScaleRegisterBasicPayDetails B with(nolock) on b.ScaleRegisterID=a.SRID Group By SRID 
	) A ) A where ESID>0 ) 

Declare @SRID int = ( 
	select ScaleRegisterID SRID from ScaleRegister A with(nolock) 
	where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
	and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID and a.ContactID = @ContactID  
	and StartingDate >= @FromDate and EndingDate<= @ToDate )


--IF @SRID is not NULL 
--select ScaleRegisterID SRID,ContactID,SalaryMonth Month,SalaryYear Year,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,OLID,EmployeeCategoryID CategoryID,Bonus,Attendance,TotalBasicPay BasicPay,TotalAdditions Additions,TotalDeductions Deductions,NetPayments Net,SpecialPayment PPAmount,RecoveryAmount Recovery,cast(Generated as int) Generated,Suppliment,cast(HeldUp as int) HeldUp,BillRegisterNo BRNo,convert(varchar,BillRegisterDate,104) BRDate,concat(convert(varchar,CreatedOn,104),' ',ltrim(right(CreatedOn,8))) CreatedOn,cast(Legacy as int) Legacy,cast(OSL as int) OSL,JVNo,convert(varchar,JVDate,104) JVDate  
--from ScaleRegister A with(nolock) 
--where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
--and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID and a.ContactID = @ContactID  
--and StartingDate >= @FromDate and EndingDate<= @ToDate 
--Order By ContactID,StartingDate,ScaleRegisterID



IF @ESID!=19
exec SP_SalaryGeneration @AcOLID,@FromDate,@ToDate,@ContactID,@Suppliment,@PT1,@FBF1,@Continue,@MaxSRID,@IT2,@ODLDID_1,@BPRate,@DPRate,@DARate,@ChargeBP,@HRARate,@CCARate
else 
exec SP_SalaryGeneration_Deputed @AcOLID,@FromDate,@ToDate,@ContactID,@Suppliment,@PT1,@Continue,@MaxSRID,@IT2,@ODLDID_1,@BPRate,@DPRate,@DARate,@ChargeBP,@HRARate,@CCARate



select ScaleRegisterID SRID,ContactID,SalaryMonth Month,SalaryYear Year,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,OLID,EmployeeCategoryID CategoryID,Bonus,Attendance,TotalBasicPay BasicPay,TotalAdditions Additions,TotalDeductions Deductions,NetPayments Net,SpecialPayment PPAmount,RecoveryAmount Recovery,cast(Generated as int) Generated,Suppliment,cast(HeldUp as int) HeldUp,BillRegisterNo BRNo,convert(varchar,BillRegisterDate,104) BRDate,concat(convert(varchar,CreatedOn,104),' ',ltrim(right(CreatedOn,8))) CreatedOn,cast(Legacy as int) Legacy,cast(OSL as int) OSL,JVNo,convert(varchar,JVDate,104) JVDate  
from ScaleRegister A with(nolock) 
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID and a.ContactID = @ContactID  
and StartingDate >= @FromDate and EndingDate<= @ToDate 
Order By ContactID,StartingDate,ScaleRegisterID


GO
