USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_DIReport]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DIReport] @OLID varchar(50),@ItemID varchar(50),@FromD varchar(50),@ToD varchar(50),@Param varchar(max) as

--Declare @OLID varchar(50)=2823
--Declare @ItemID varchar(50)=6
--Declare @FromD varchar(50)='2019-01-01'
--Declare @ToD varchar(50)='2019-08-30'
--Declare @Param varchar(max)=''

Declare @sqlstr varchar(max)

set @sqlstr='select  distinct h.Fileas Offc,concat(a.OfficialReferenceNo,'' & '',convert(date,a.PurchaseOrderDate,120))PONoDate, 
case when b.OfficialReferenceNo='''' then cast(b.DispatchInstructionID as varchar(100)) else b.OfficialReferenceNo end  DINo,
format(isnull(d.DeliveryDate,dateadd(day,NumberOfDays,b.DateAndTime)),''dd-MM-yyyy'') DeliveryDate,MaterialCode,concat(convert(DOUBLE PRECISION, Quantity) ,'' '' ,g.UnitOfMeasure) Qty_Uom,isnull(i.Fileas,'''') Approver
from PurchaseOrder a with (nolock)
inner join DispatchInstruction_pni b  with (nolock) on b.DocumentNo=a.PurchaseOrderNo and b.DocumentTypeId=1 and DateandTime between '''+@FromD+''' and '''+@ToD+''' '+'
inner join ActivityApprovals_pni c  with (nolock) on c.ActivityID=90 and c.DocumentNo=b.DispatchInstructionID
inner join PurchaseOrderDeliverySchedule d  with (nolock) on d.DispatchInstructionID=b.DispatchInstructionID and ItemID='+@ItemID+'
and DeliveryOLID in(select HeirarchyOfficeLocationAllocationID from OfficeLocationHeirarchy with (nolock) where OfficeLocationAllocationID='+@OLID+')
inner join MaterialCode e with (nolock) on e.ItemID=d.ItemID
left join ActivityApprovals_pni f  with (nolock) on f.ActivityID=90 and f.DocumentNo=b.DispatchInstructionID and f.StatusID=1
inner join UnitOfMeasure g with (nolock) on d.UnitID=g.UnitID
inner join OfficeLocationAllocation h with (nolock) on DeliveryOLID=h.OfficeLocationAllocationID
left join Contacts i with (nolock) on f.ApproverContactID=i.ContactID where 1=1 ' +@Param

exec (@sqlstr)


--SP_DIReport 2823,6,'2019-01-01','2019-08-30','and b.Approved=1'
--SP_DIReport 2823,6,'2019-01-01','2019-08-30','and b.Approved=0'
--SP_DIReport 2823,6,'2019-01-01','2019-08-30','and b.Canceled=1'
GO
