USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[DetermineRVWDW]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[DetermineRVWDW] @rvno int
 AS
 
 
 select R1.ReceiptVoucherNo,R1.rtype as Remarks from (select distinct ReceiptVoucherNo,rtype,ROW_NUMBER() over (partition by receiptvoucherno order by ReceiptVoucherNo,rtype desc) rn from (Select r.ReceiptVoucherNo,case when r.Canceled=1 then 'Cancelled' when r.DocumentTypeID=19 then 'RR-Slip' when r.DocumentTypeID=23 and r.ReturnTypeID is null then 'RI-LSI' when r.ContactCategoryID=11 and r.DocumentTypeID not in (23,10) and wa.MainAccountCode not like '74%' then 'RI-ST' when r.ReturnTypeID=8 then 'WDV-Tranformers' when isnull(r.DocumentTypeID,0)=0 and r.ContactCategoryID=3 and r.ReturnTypeID=3 then 'WDV-EmployeeCase' when r.ReturnTypeID=2 and wo.TokenWorkOrder=1 and sum(case when m.materialcode like '06 01%' then 1 when wa.MainAccountCode not like '14%' and (m.materialcode like '07 9%') then 1 when rm.StockConditionID=1 then 1 when wa.MainAccountCode like '74%' and rm.StockConditionID=4 then 1 else 0 end)!=count(m.MaterialCode) then 'WDV-TWO / DI' when (r.DocumentTypeID=22 ) and (r.ContactCategoryID=6 or r.ContactCategoryID=2 or r.ContactCategoryID=7)  and r.ReturnTypeID=2 and sum(case when m.materialcode like '06 01%' then 1 when rm.StockConditionID=1 then 1 when wa.MainAccountCode like '74%' and rm.StockConditionID=4 then 1 when wa.MainAccountCode not like '14%'  and (m.materialcode like '07 9%') then 1 else 0 end)!=count(m.MaterialCode) then 'WDV-LWO / DI' when (r.DocumentTypeID=2) and (r.ContactCategoryID=6 or r.ContactCategoryID=2 or r.ContactCategoryID=7) and r.ReturnTypeID=2 and sum(case when m.materialcode like '06 01%' then 1 when rm.StockConditionID=1 then 1 when wa.MainAccountCode like '74%' and rm.StockConditionID=4 then 1 when wa.MainAccountCode not like '14%' and (m.materialcode like '07 9%') then 1 else 0 end)!=count(m.MaterialCode) then 'WDV-EWO' 
 when r.DocumentTypeID=22  and r.ReturnTypeID=1 and sum(case when m.materialcode like '06 01%' or m.materialcode like '07 9%' or rm.stockconditionid=1 and sr.price is not null then 1 else 0 end)!=count(m.MaterialCode) then 'RI-LWO' 
 when r.DocumentTypeID=22  and r.ReturnTypeID=1 and sum(case when wa.MainAccountCode like '74%' and rm.StockConditionID=4 then 1 else 0 end) !=count(m.MaterialCode) then 'RI-LWO' 
    when r.ReturnTypeID=5 then 'WDV-Store Counting'    
  when r.DocumentTypeID=61 then 'WDV-TOStock'  else 'DI' end rtype from ReceiptVoucherAbstract_pni r WITH (NOLOCK) inner join ReceiptVoucherDetails_pni d WITH (NOLOCK) on r.ReceiptVoucherNo=d.ReceiptVoucherNo inner join ReceiptVoucherMaterialDetails_pni rm
  WITH (NOLOCK)on d.ReceiptVoucherDetailsID=rm.ReceiptVoucherDetailsID inner join MaterialCode m on d.ItemID=m.ItemID left join WorkOrder wo
  on r.DocumentNo=wo.WorkOrderNo left join WorkAllocation wa on wo.WorkAllocationID=wa.WorkAllocationID left join SRStock sr on d.ItemID=sr.ItemID 
 where r.ReceiptVoucherNo=@rvno group by r.ReceiptVoucherNo,r.DocumentTypeID,r.ContactCategoryID,r.ReturnTypeID, wa.MainAccountCode ,wo.TokenWorkOrder,m.materialcode, rm.stockconditionid,sr.price,r.Canceled) t ) R1 where rn=1;

--
-- EmpApp
-- 
GO
