USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[GRNReport]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GRNReport]  @OLID varchar(10),@FromDate varchar(50),@ToDate varchar(50),@Str varchar(max) as

--Declare @OLID varchar(10)=337
--Declare @FromDate datetime='2018-01-01'
--DEclare @ToDate datetime='2019-01-01'
--Declare @Str varchar(max)=''

Declare @sql1 varchar(max)

set @sql1='select  Description,MatDesc,PODate,quantity,UOM,OfficialReferenceNo,DIQty,GRNNODa,AcceptedQuantity,convert(DOUBLE PRECISION, cast( isnull(Qty,0)- round(isnull(CumQty,0),4) as decimal(18,4)))  Balance,ContactName ,unittypeid ,Didate,GRNDate
from (
select *,( SELECT  SUM(AcceptedQuantity) FROM MasDetails b1  with (nolock) 
                  inner join MasAbstract a1  with (nolock) on b1.GoodsReceivedNoteNo=a1.GoodsReceivedNoteNo and a1.DocumentNo=PurchaseOrderNo and approved=1 and Canceled=0 
                   AND a1.DispatchInstructionID = P1.dispatchinstructionid and  b1.GoodsReceivedNoteOLID=P1.GoodsReceivedNoteOLID and b1.ItemID=P1.ItemID 
                   inner join ActivityApprovals_pni c  (nolock)  on activityid=117 and c.DocumentNo=b1.GoodsReceivedNoteNo and statusid=1 and c.DateAndTime<=P1.GRNDate ) CumQty
from 
( select distinct c.Description,concat(d.MaterialCode collate database_default,'' - '',b.MaterialDescription collate database_default) MatDesc,concat(a.OfficialReferenceNo collate database_default,'' - '',format(a.PurchaseOrderDate,''dd/MM/yyyy'') collate database_default) PODate, convert(DOUBLE PRECISION,quantity)quantity ,
g.UnitOfMeasure UOM,e.OfficialReferenceNo,isnull(convert(DOUBLE PRECISION, f.Qty),0) DIQty,concat(h.OfficialReferenceNo collate database_default,'' - '', format(h.GoodsReceivedNoteDate,''dd/MM/yyyy''),'' - '',format(ArrivedDate,''dd/MM/yyyy'') )GRNNODa, 
convert(DOUBLE PRECISION, sum(i.AcceptedQuantity)) AcceptedQuantity, j.fileas ContactName ,a.budgetgranttypeid,b.itemid,a.contactid,a.purchaseorderno,e.dispatchinstructionid,h.goodsreceivednoteno, 
Materialcode , unittypeid ,Qty,h.GoodsReceivedNoteOLID,e.dateandtime Didate,c1.DateAndTime  GRNDate
from PurchaseOrder a with (nolock) 
inner join PurchaseOrderMaterialDetails b with (nolock) on a.PurchaseOrderNo=b.PurchaseOrderNo 
inner join BudgetGrantTypes c with (nolock) on a.BudgetGrantTypeID=c.BudgetGrantTypeID 
inner join MaterialCode d with (nolock) on b.ItemID=d.ItemID 
left join DispatchInstruction_pni e with (nolock) on a.PurchaseOrderNo=e.DocumentNo and e.Approved=1 and e.Canceled=0 and e.Incharge=0 and e.DeliverySchedule=0 
left join 
(select DispatchInstructionID,DeliveryOLID,itemid,sum(Quantity) Qty 
from PurchaseOrderDeliverySchedule group by DispatchInstructionID,DeliveryOLID,itemid) as f on e.DispatchInstructionID=f.DispatchInstructionID and b.ItemID=f.ItemID 
left join UnitOfMeasure g with (nolock) on b.UnitID=g.UnitID 
inner join MasAbstract h with (nolock) on h.DocumentTypeID=1 and h.DocumentNo=a.PurchaseOrderNo and h.Approved=1 and h.Canceled=0 and f.DispatchInstructionID=h.DispatchInstructionID 
inner join ActivityApprovals_pni c1  (nolock)  on c1.activityid=117 and c1.DocumentNo=h.GoodsReceivedNoteNo and statusid=1 
and f.DeliveryOLID=h.GoodsReceivedNoteOLID 
inner join MasDetails i with (nolock) on h.GoodsReceivedNoteNo=i.GoodsReceivedNoteNo and b.ItemID=i.ItemID and i.AcceptedQuantity>0 
inner join Contacts j with (nolock) on j.contactid=a.Contactid 
where a.Approved=1 and a.Canceled=0 and a.DispatchInstruction=0 and PurchaseOrderDate>='''+@FromDate+''' and PurchaseOrderDate<='''+@ToDate+'''
and a.OLID='+@OLID+'
group by c.Description,d.MaterialCode,b.MaterialDescription,a.OfficialReferenceNo,a.PurchaseOrderDate,quantity ,
g.UnitOfMeasure ,e.OfficialReferenceNo, f.Qty,h.OfficialReferenceNo,h.GoodsReceivedNoteDate,ArrivedDate, j.fileas 
,a.budgetgranttypeid,b.itemid,a.contactid,a.purchaseorderno,e.dispatchinstructionid,h.goodsreceivednoteno, unittypeid ,Qty,h.GoodsReceivedNoteOLID,e.dateandtime ,c1.DateAndTime) as P1
 ) as P where 1=1 '+@Str

exec  ( @sql1)

--GRNReport 337,'2016-08-01','2019-08-14','order by ContactName,purchaseorderno,Didate,GRNDate';

--
-- RVUPDATE
-- 
GO
