USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMakeModel_RV]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMakeModel_RV] @rvno int,@item int
as


SELECT
STUFF((select ', '+
Concat(RVDATA.SerialNo  COLLATE DATABASE_DEFAULT,
CASE WHEN RVDATA.MAKE is null THEN '' ELSE ' -  ' end,isnull(RVDATA.MAKE,'') COLLATE DATABASE_DEFAULT,
CASE WHEN RVDATA.MODEL is null THEN '' ELSE ' -  ' end,isnull(RVDATA.MODEL,'') COLLATE DATABASE_DEFAULT)
FROM
(select case when s.SerialFlag=0 then '' else rvmd.SerialNo end SerialNo,rvmds1.UserDefinedFieldValue MAKE,rvmds.UserDefinedFieldValue MODEL
from ReceiptVoucherMaterialDetails_Accounts rvmd with(nolock)
left outer join ReceiptVoucherMaterialDetailsSub_pni rvmds with(nolock) on rvmds.ReceiptVoucherMaterialDetailsID=rvmd.ReceiptVoucherMaterialDetailsID and rvmds.DistributionNodeUserDefinedFieldID=1
left outer join ReceiptVoucherMaterialDetailsSub_pni rvmds1 with(nolock) on rvmds1.ReceiptVoucherMaterialDetailsID=rvmd.ReceiptVoucherMaterialDetailsID and rvmds1.DistributionNodeUserDefinedFieldID=20
inner join ReceiptVoucherDetails_Accounts rvd with(nolock) on rvd.ReceiptVoucherDetailsID=rvmd.ReceiptVoucherDetailsID
inner join ReceiptVoucherAbstract_Accounts rva with(nolock) on rvd.ReceiptVoucherNo=rva.ReceiptVoucherNo
inner join Stock s with(nolock) on s.ItemID=rvd.ItemID
where  rvd.ReceiptVoucherNo=@rvno and rvd.ItemID=@item and rvmd.StockConditionID<>4
)RVDATA
FOR XML PATH('')),1,1,'')
GO
