USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_DP_Arrears_Generation]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_DP_Arrears_Generation] 
	@FromDate DateTime ,
	@ToDate DateTime ,
	@AcOLID Int ,
	@ContactID Int ,
	@ODLDID_1 Int 
AS SET NOCOUNT ON

--Declare @FromDate DateTime = '2024-10-01' 
--Declare @ToDate DateTime = '2024-10-31' 
--Declare @AcOLID Int = 604   
--Declare @ContactID Int = 29650    
--Declare @ODLDID_1 Int = NULL  



Declare @Suppliment Int = 11            
Declare @SRID3 table (ScaleRegisterID Int) 
insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment not in (2,7,3,4,5,8,15,16,17,18) and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                 
and StartingDate >= @FromDate and EndingDate<= @ToDate
) A where Maxno = 1 


Declare @SRID4 Int 
DECLARE Cur3 CURSOR FOR select ScaleRegisterID from @SRID3 Order By ScaleRegisterID 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID4; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

exec SP_DP_Arrears @SRID4,@ODLDID_1

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID4; 
END; CLOSE Cur3; DEALLOCATE Cur3; 


--select * from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
--and Suppliment=@Suppliment and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                 
--and StartingDate >= @FromDate and EndingDate<= @ToDate 
--Order By StartingDate,ScaleRegisterID


GO
