USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_AttendanceDelete]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_AttendanceDelete] @Query Varchar(10),@AcOLID Int,@Year Int,@Year1 Int,@Month Int,@Month1 Int,@ContactID Varchar(Max),@FromDate Varchar(10)
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select'
--Declare @AcOLID Int = 9513 
--Declare @Year Int = 2024 
--Declare @Year1 Int = 2025 
--Declare @Month Int = 12 
--Declare @Month1 Int = 1 
--Declare @ContactID Varchar(Max) = '626'
--Declare @FromDate Varchar(10) = '2024-12-16' 

Declare @SRID Table (ContactID Int,ScaleRegisterID Int,OLID Int)
Insert Into @SRID
select ContactID,ScaleRegisterID,OLID from ScaleRegister where ContactID in (select * from Split(@ContactID,','))  
and SalaryYear=@Year1 and SalaryMonth=@Month1 and Suppliment in (0,9) and BillRegisterNo='0' and OLID=@AcOLID

Declare @SRID1 Table (ScaleRegisterID Int)
Insert Into @SRID1
select ScaleRegisterID from ScaleRegister A where ContactID in (select ContactID from @SRID B where B.ContactID=A.ContactID and B.OLID=A.OLID)  
and SalaryYear=@Year and SalaryMonth=@Month and Suppliment in (0,9) 

Declare @SRID2 Table (SRID Varchar(500)) Insert Into @SRID2
select left(SRID,len(SRID)-1) SRID from (select 1 ID) A 
Cross Apply (select concat(ScaleRegisterID,'')+',' from @SRID for xml path('')) S (SRID)
Declare @SRID3 Varchar(500)  = (( select * from @SRID2 ))


IF @Query='Delete'
delete
from ScaleRegisterAttendences where ScaleRegisterID in ( select ScaleRegisterID from @SRID union select ScaleRegisterID from @SRID1) 
and StartAttendanceDate> = @FromDate
;
IF @Query='Delete'
delete
from EmployeeLeaveDetails where ContactID in (select ContactID from @SRID B where B.ContactID=EmployeeLeaveDetails.ContactID) and FromDate>= @FromDate
and isnull(Cancel,0)=0 and Approved=1 and LeaveTransactionTypeID=1 
and LeaveTypeID in ( select LeaveTypeID from LeaveTypes where Approvable=0 and LeaveTypeID not in (23) )
;
IF @Query='Delete'
exec SP_DEL_SCALEREGISTER @SRID3


select b.* from (
select * from ScaleRegister where ScaleRegisterID in ( select ScaleRegisterID from @SRID union select ScaleRegisterID from @SRID1) 
) A Inner Join ScaleRegisterAttendences B on b.ScaleRegisterID=a.ScaleRegisterID 
and StartAttendanceDate> = @FromDate 

GO
