USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_LeaveBalanceReverseUpdation]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LeaveBalanceReverseUpdation](
	@ContactID Int, 
    @Acolid int,
	@LeaveTypeID Int ,
	@LeaveCount Numeric(18,2))


AS 
SET NOCOUNT ON


Declare @Today DateTime select @Today = ((select Today from Today_HRMS where Ac_olid=@Acolid))
Declare @FromToday DateTime select @FromToday = ((select convert(datetime,concat((case when Month(@Today)  Between 1 and 3 then Year(@Today)-1 else Year(@Today) end),'-1-1'))))




Declare @LDB Table (EmployeeLeaveDetailsID Int,ContactID Int,LeaveTypeID Int,LeaveTransactionTypeID Int,OfficeMemoDate DateTime,CreatedOn DateTime,FromDate DateTime,ToDate DateTime,LeaveCount Numeric(16,2),Balance Numeric(16,2),MaxNo Int,LeaveCount1 Numeric(16,2),LeaveTypeID1 Int)
Insert Into @LDB
select *,(case when LeaveTypeID=7 then LeaveCount*2 else LeaveCount end) as LeaveCount1

,(case when LeaveTypeID=7 then 2 else case when LeaveTypeID=23 then 1 else LeaveTypeID end end) as LeaveTypeID1  from (
select EmployeeLeaveDetailsID,ContactID,LeaveTypeID,LeaveTransactionTypeID,OfficeMemoDate,CreatedOn,FromDate,ToDate,isnull(LeaveCount,0) as LeaveCount,isnull(Balance,0) as Balance
,(Row_Number() over (Partition By ContactID,(case when LeaveTypeID=7 then 2 else case when LeaveTypeID=23 then 1 else LeaveTypeID end end),(case when LeaveTypeID in (4,22) then Year(FromDate) else 0 end) Order By ContactID,(case when LeaveTypeID=7 then 2 else case when LeaveTypeID=23 then 1 else LeaveTypeID end end),(case when LeaveTypeID in (4,22) and LeaveTransactionTypeID=2 then 1 else 2 end),isnull(OfficeMemoDate,CreatedOn) desc,FromDate desc) ) as MaxNo
from EmployeeLeaveDetails with (nolock) where isnull(Cancel,0)=0 
and LeaveTypeID in (@LeaveTypeID,(case when @LeaveTypeID=2 then 7 else case when @LeaveTypeID=1 then 23 else 0 end end))
and cast(isnull(OfficeMemoDate,CreatedOn) as date) Between @FromToday and @Today 
and ContactID =@ContactID ) as A



 update eld set eld.Balance = ld.CB
from ( select * ,( select @LeaveCount +isnull(Sum(-LeaveCount1),0) from @LDB B where b.ContactID=a.ContactID and b.LeaveTypeID1=a.LeaveTypeID1 and b.MaxNo+1<=a.MaxNo
and (case when LeaveTypeID in (4,22) then Year(b.FromDate) else 0 end)=(case when LeaveTypeID in (4,22) then Year(a.FromDate) else 0 end)) as CB
from @LDB A ) as LD
left outer join EmployeeLeaveDetails ELD with (nolock) on eld.EmployeeLeaveDetailsID=ld.EmployeeLeaveDetailsID
where ld.ContactID =@ContactID



update employeeleaveaccount set leavecount=@LeaveCount where contactid=@ContactID and  leavetypeid=@LeaveTypeID and leavetypeid not in(4,22)
GO
