USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_AppointingAuthority]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_AppointingAuthority] @Query Varchar(10),@ODID Int,@DNID Int,@ReportOID Int,@AppointOID Int,@APTID Int
,@InterDivision Int,@InterCircle Int,@InterZone Int 
AS SET NOCOUNT ON

--Declare @Query Varchar(10) = 'Select'
--Declare @ODID Int = 305

--Declare @DNID Int = 230
--Declare @ReportOID Int = 65 
--Declare @AppointOID Int = 65 
--Declare @APTID Int = 0
--Declare @InterDivision Int = 0
--Declare @InterCircle Int = 0
--Declare @InterZone Int = 0 


IF @Query='Import'
insert into AppointingAuthorityDetails
select @DNID,@ReportOID,@AppointOID,@APTID,@InterDivision,@InterCircle,@InterZone

else IF @Query='Update'
update a set DesignationID=@DNID,ReportingOfficeID=@ReportOID,AppointingOfficeID=@AppointOID,AppointmentTypeID=@APTID,InterDivision=@InterDivision,InterCircle=@InterCircle,InterZone=@InterZone
from AppointingAuthorityDetails a with(nolock)
where AppointingOfficeID=@AppointOID and ReportingOfficeID=@ReportOID and DesignationID=@DNID and AppointmentTypeID=@APTID


select A.*,b.OfficeDepartmentAllocationID ODID from (
select AppointingAuthorityDetailsID AADID,DesignationID DNID,ReportingOfficeID ReportOID,AppointingOfficeID AppointOID,AppointmentTypeID APTID,InterDivision InterDVN,InterCircle,InterZone
from AppointingAuthorityDetails with(nolock)
where AppointingOfficeID=@AppointOID and ReportingOfficeID=@ReportOID and DesignationID=@DNID 
and (case when @APTID=0 then 0 else AppointmentTypeID end)=@APTID
) A left join OfficeDepartmentDesignationAllocation B with(nolock) on b.DesignationID=a.DNID and OfficeDepartmentAllocationID=@ODID
left join OfficeDepartmentAllocation C with(nolock) on C.OfficeDepartmentAllocationID=B.OfficeDepartmentAllocationID
Order By AADID
GO
