USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerateRowNumbers]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_GenerateRowNumbers]
As Begin


	Declare @NumberOfRows int select @NumberOfRows=55153
	Declare @StartNumber int select @StartNumber=-1
	
	Declare @NumGen Table (Num int)
	Declare @cnt int
	Set @cnt = 1

	While @cnt <= 100 Begin
		Insert Into @NumGen 
		Select @cnt
		Set @cnt = @cnt + 1
	End

	Select @StartNumber + RowNum
	From 
	(
		Select Row_Number() Over (Order By N1.Num) As RowNum
		From @NumGen N1, @NumGen N2, @NumGen N3, @NumGen N4
	) RowNums
	Where RowNum <= @NumberOfRows

End;
GO
