USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_DTCHistorys]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DTCHistorys]  @serialno varchar(200) as
SET NOCOUNT ON

select A,
row_number() over(order by TransactionDate,AutoGenID) B,C,D,E
From (select  AutoGenID,TransactionDate,'Receipt Voucher' A,
'Serial No :'+m.SerialNo+' - '+' ( '+p4.ExistingDTCSerialNo+' ) '+p1.make C,
'Material : '+(select top 1 mmd.Description  From MaterialCode mmd where  mmd.ItemID=d.itemid) D,
'Receipt Voucher ,'+isnull(cast(v.ReceiptVoucherNo as varchar(200)),'')+' ,'+isnull(cast(  FORMAT (ReceiptVoucherDate, 'dd-MM-yyyy')   as varchar(200)),'')+' ,
'+isnull((select top 1  cc.Description From ContactCategories cc  where cc.ContactCategoryID=v.ContactCategoryID),'')+','+
isnull((select Description From DocumentTypes kjl where kjl.DocumentTypeID=v.DocumentTypeID),'')+','+
isnull(cast(v.DocumentNo as varchar(200)),'')+' ' +

' , '+isnull(cast(FORMAT (w.WorkOrderDate , 'dd-MM-yyyy') as  varchar(200)),'')+','+
isnull((select cvb.Description From StockConditions cvb where cvb.StockConditionID=m.StockConditionID),'')+' ,'+
isnull((select sdf.FileAs From OfficeLocationAllocation sdf  where sdf.OfficeLocationAllocationID=d.olid),'')+' ,'+
isnull((case when  CivilWorkContractTypeID=10 then  'Repair Center : '+(select  top 1 dds.FileAs From Contacts dds  where dds.ContactID=v.ContactID)
else
((select   FileAs From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd where cd.DistributionNodeID=dd.DistributionNodeID))+' , '+
(select   FileAs From OfficeLocationAllocation where OfficeLocationAllocationID in  
(select UnderOfficeLocationAllocationID  From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd  where cd.DistributionNodeID=dd.DistributionNodeID)))+' , '+
(select  FileAs From OfficeLocationAllocation where OfficeLocationAllocationID in
(select UnderOfficeLocationAllocationID   From OfficeLocationAllocation where OfficeLocationAllocationID in  
(select UnderOfficeLocationAllocationID  From OfficeLocationAllocation 
where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation 
where DistributionNodeID=dd.DistributionNodeID))))+' , '+dd.DistributionNodeName collate Latin1_General_CI_AI)
end ),'') E From ReceiptVoucherAbstract_pni v
inner join ReceiptVoucherDetails_pni d on v.ReceiptVoucherNo=d.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_pni  m on  m.ReceiptVoucherDetailsID=d.ReceiptVoucherDetailsID
inner join StockLedgerDetails_pni obl on obl.InvoiceOrVoucherNo=v.ReceiptVoucherNo and d.ItemID=obl.ItemID    and StockTransactionTypeID=2
left  join WorkOrder w   on  w.WorkOrderNo=v.DocumentNo and  v.DocumentTypeID in (2,22)             
left join DistributionNodes dd on dd.DistributionNodeID=w.DistributionNodeID
outer apply(select  p1.UserDefinedFieldValue  make  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=20)p1
outer apply(select p1.UserDefinedFieldValue  Capacity from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=31)p2
outer apply(select  p1.UserDefinedFieldValue  Model  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=1)p3
outer apply(select  p1.UserDefinedFieldValue  ExistingDTCSerialNo  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=115)p4
outer apply(select  p1.UserDefinedFieldValue  ExistingMeterSerialNo  from ReceiptVoucherMaterialDetailsSub_pni  p1 where ReceiptVoucherMaterialDetailsID=m.ReceiptVoucherMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=116)p5
where serialno=@serialno
union
select  AutoGenID,TransactionDate,'Store Invoice' A,
'Serial No :'+m.SerialNo+' - '+' ( '+p4.ExistingDTCSerialNo+' ) '+p1.make C,
'Material : '+(select top 1 mmd.Description  From MaterialCode mmd where  mmd.ItemID=d.itemid) D,
'Store Invoice ,'+isnull(cast(v.StoreInvoiceNo as varchar(200)),'')+' ,'+isnull(cast(FORMAT (v.StoreInvoiceDate , 'dd-MM-yyyy') as varchar(200)),'')+' ,
'+isnull((select top 1  cc.Description From ContactCategories cc  where cc.ContactCategoryID=v.ContactCategoryID),'')+','+
isnull((select Description From DocumentTypes kjl where kjl.DocumentTypeID=v.DocumentTypeID),'')+','+
isnull(cast(v.DocumentNo as varchar(200)),'')+' ' +

' , '+isnull(cast(FORMAT (w.WorkOrderDate , 'dd-MM-yyyy') as  varchar(200)),'')+','+
isnull((select cvb.Description From StockConditions cvb where cvb.StockConditionID=m.StockConditionID),'')+' ,'+
isnull((select sdf.FileAs From OfficeLocationAllocation sdf  where sdf.OfficeLocationAllocationID=d.olid),'')+' ,'+
isnull((case when  CivilWorkContractTypeID=10 then  'Repair Center : '+(select  top 1 dds.FileAs From Contacts dds  where dds.ContactID=v.ContactID)
else
((select   FileAs From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd where cd.DistributionNodeID=dd.DistributionNodeID))+' , '+
(select   FileAs From OfficeLocationAllocation where OfficeLocationAllocationID in  
(select UnderOfficeLocationAllocationID  From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation cd  where cd.DistributionNodeID=dd.DistributionNodeID)))+' , '+
(select  FileAs From OfficeLocationAllocation where OfficeLocationAllocationID in
(select UnderOfficeLocationAllocationID   From OfficeLocationAllocation where OfficeLocationAllocationID in  
(select UnderOfficeLocationAllocationID  From OfficeLocationAllocation where OfficeLocationAllocationID in  (
select top 1 DistributionNodeOLID  From DistriButionNodeOfficeAllocation where DistributionNodeID=dd.DistributionNodeID))))+' , '+dd.DistributionNodeName collate Latin1_General_CI_AI)
end ),'') E
 From StoreInvoice_pni  v
inner join StoreInvoiceDetails_pni  d on v.StoreInvoiceNo=d.StoreInvoiceNo
inner join StoreInvoiceMaterialDetails_pni  m on  m.StoreInvoiceDetailsID=d.StoreInvoiceDetailsID
left  join WorkOrder w   on  w.WorkOrderNo=v.DocumentNo and  v.DocumentTypeID in (2,22)
left join DistributionNodes dd on dd.DistributionNodeID=w.DistributionNodeID
left  join StockLedgerDetails_pni obl on obl.InvoiceOrVoucherNo=v.StoreInvoiceNo and d.ItemID=obl.ItemID    and StockTransactionTypeID=1
outer apply(select  p1.UserDefinedFieldValue  make  from StoreInvoiceMaterialDetailsSub_pni  p1 where p1.StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=20)p1
outer apply(select p1.UserDefinedFieldValue  Capacity from StoreInvoiceMaterialDetailsSub_pni  p1 where p1.StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=31)p2
outer apply(select  p1.UserDefinedFieldValue  Model  from StoreInvoiceMaterialDetailsSub_pni  p1 where StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=1)p3
outer apply(select  p1.UserDefinedFieldValue  ExistingDTCSerialNo  from StoreInvoiceMaterialDetailsSub_pni  p1 where StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=115)p4
outer apply(select  p1.UserDefinedFieldValue  ExistingMeterSerialNo  from StoreInvoiceMaterialDetailsSub_pni  p1 where StoreInvoiceMaterialDetailsID=m.StoreInvoiceMaterialDetailsID and p1.DistributionNodeUserDefinedFieldID=116)p5
where serialno=@serialno)kl
order by TransactionDate,AutoGenID



GO
