USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_MultipleRVReport]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MultipleRVReport] @RVNos varchar(max)  as
 
--Declare @RVNos varchar(max)='153452,153447'
SET NOCOUNT ON
Declare  @tmpSP_MultipleRVReport table(ID Int identity primary key,SINo varchar(500),MC varchar(500),UOM varchar(100),RQ decimal(18,4),GQ decimal(18,4),RGQ decimal(18,4),RFQ decimal(18,4),RSQ decimal(18,4),Total decimal(18,4))
insert into @tmpSP_MultipleRVReport
select SINo,Concat(MaterialCode collate database_default,' - ' ,Description collate database_default) MC,e.UnitOfMeasure UOM, RQ, GQ,  RGQ,  RFQ,  RSQ,(GQ+RGQ +RFQ+RSQ) Total 
from (
select SINo,ItemID,UnitID,sum(ReceivedQuantity) RQ,sum(isnull(GQ,0)) GQ,sum(isnull(RGQ,0)) RGQ,sum(isnull(RFQ,0)) RFQ,sum(isnull(RSQ,0)) RSQ
from (
select a.OfficialReferenceNo SINo,b.ItemID ,b.UnitID,b.ReceivedQuantity,b.GoodQuantity GQ,b.ReleasedGoodQuantity RGQ,b.ReleasedFaultyQuantity RFQ,b.ReleasedScrapQuantity RSQ
from ReceiptVoucherAbstract_pni a with (nolock)
inner join ReceiptVoucherDetails_pni b  with (nolock) on a.ReceiptVoucherNo=b.ReceiptVoucherNo and ReceivedQuantity >0
where a.ReceiptVoucherNo  in(select Data from Split(@RVNos,','))) as Q
group by Q.SINo ,Q.ItemID ,Q.UnitID) as P
inner join MaterialCode d with (nolock) on d.ItemID=P.ItemID 
inner join UnitOfMeasure e with (nolock) on e.UnitID=P.UnitID
order by MC
 
 

select substring(SINO, 1, (len(SINO) - 1)) SINo,MC,UOM,RQ,GQ,RGQ,RFQ,RSQ,Total
from (
select stuff((select SINo + ', '  from @tmpSP_MultipleRVReport a
where a.MC=b.MC FOR XML PATH('')),1,0,'') AS SINO ,MC,UOM,sum(RQ) RQ,sum(GQ) GQ,sum(RGQ) RGQ,sum(RFQ) RFQ,sum(RSQ) RSQ,sum(Total) Total
from @tmpSP_MultipleRVReport b group by MC,UOM ) as Z
  SET NOCOUNT OFF
GO
