USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[Update_UserPassword]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_UserPassword]
		@ContactID INT,
		@NewPassword varbinary(50)
AS
BEGIN 
	SET NOCOUNT ON 

	Update dbo.Users
	Set Password3=@NewPassword,
	Password2=@NewPassword,
	Password1=@NewPassword,
	[Password]=@NewPassword
FROM dbo.Users
	WHERE
	ContactID=@ContactID
END;
GO
