USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_MultipleSInvReport]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MultipleSInvReport] @SINos varchar(max)  as
 
--Declare @SINos varchar(max)='394256,395373'
SET NOCOUNT ON
Declare  @tmpSP_MultipleSInvReport table(ID Int identity primary key,SINo varchar(500),MC varchar(500),UOM varchar(100),QD decimal(18,4),GQ decimal(18,4),RGQ decimal(18,4),RFQ decimal(18,4),RSQ decimal(18,4),Total decimal(18,4))
insert into @tmpSP_MultipleSInvReport
select SINo,Concat(MaterialCode collate database_default,' - ' ,Description collate database_default) MC,e.UnitOfMeasure UOM,QuantityDemanded QD, GQ,  RGQ,  RFQ,  RSQ,(GQ+RGQ +RFQ+RSQ) Total 
from (
select SINo,ItemID,UnitID,sum(QuantityDemanded) QuantityDemanded,sum(isnull(GQ,0)) GQ,sum(isnull(RGQ,0)) RGQ,sum(isnull(RFQ,0)) RFQ,sum(isnull(RSQ,0)) RSQ
from (
select a.OfficialReferenceNo SINo,b.ItemID ,b.UnitID,b.QuantityDemanded,b.GoodQuantity GQ,b.ReleasedGoodQuantity RGQ,b.ReleasedFaultyQuantity RFQ,b.ReleasedScrapQuantity RSQ
from StoreInvoice_pni a with (nolock)
inner join StoreInvoiceDetails_pni b  with (nolock) on a.StoreInvoiceNo=b.StoreInvoiceNo and originalquantityIssued>0
where a.StoreInvoiceNo  in(select Data from Split(@SINos,','))
/*union
select a.OfficialReferenceNo,c.ItemID ,c.UnitID,c.QuantityDemanded,c.GoodQuantity,c.ReleasedGoodQuantity,c.ReleasedFaultyQuantity,c.ReleasedScrapQuantity
from StoreInvoice_pni a with (nolock)
inner join StoreInvoiceDetails_pni b  with (nolock) on a.StoreInvoiceNo=b.StoreInvoiceNo and AlternateQuantityIssued>0
inner join StoreInvoiceAlternateDetails_pni c  with (nolock)  on c.StoreInvoiceDetailsID=b.StoreInvoiceDetailsID and c.QuantityIssued>0
where a.StoreInvoiceNo in(select Data from Split(@SINos,','))*/) as Q
group by Q.SINo ,Q.ItemID ,Q.UnitID) as P
inner join MaterialCode d with (nolock) on d.ItemID=P.ItemID 
inner join UnitOfMeasure e with (nolock) on e.UnitID=P.UnitID
order by MC
  

select substring(SINO, 1, (len(SINO) - 1)) SINo,MC,UOM,QD,GQ,RGQ,RFQ,RSQ,Total
from (
select stuff((select SINo + ', '  from @tmpSP_MultipleSInvReport a
where a.MC=b.MC FOR XML PATH('')),1,0,'') AS SINO ,MC,UOM,sum(QD) QD,sum(GQ) GQ,sum(RGQ) RGQ,sum(RFQ) RFQ,sum(RSQ) RSQ,sum(Total) Total
from @tmpSP_MultipleSInvReport b group by MC,UOM ) as Z
 
 SET NOCOUNT OFF
GO
