USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_SI1]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Data_Integrity_SI1] @FromDate DateTime,@ToDate DateTime AS

--Declare @FromDate DateTime = '2023-02-01' 
--Declare @ToDate DateTime = '2023-02-28' 

Declare @Data Table (StockFieldValue Varchar(500),SerialFlag Int,StoreInvoiceNo Int,StoreInvoiceDetailsID Int,ItemID Int,StockConditionID Int,UnitID Int,Quantity Numeric(18,4),MQuantity Numeric(18,4),SCID Int) 
insert into @Data
--1.14 StockCondition wise Quantity mismatch in StoreInvoiceDetails and StoreInvoiceMaterialDetails table
select sf.StockFieldValue,st.SerialFlag,sia.StoreInvoiceNo,sid.StoreInvoiceDetailsID,sid.ItemID,sid.StockConditionID,sid.UnitID,sid.Quantity,sum(isnull(simd.Quantity,0)) MQuantity,simd.StockConditionID SCID
from ( select * from StoreInvoice_pni sia with(nolock) where sia.StoreInvoiceDate between @FromDate and @ToDate ) sia
cross apply( select StoreInvoiceDetailsID,StoreInvoiceNo,ItemID,OLID,isnull(GoodQuantity,0) Quantity,1 StockConditionID,UnitID from StoreInvoicedetails_pni sid with(nolock) where sid.StoreInvoiceNo=sia.StoreInvoiceNo union all 
	select StoreInvoiceDetailsID,StoreInvoiceNo,ItemID,OLID,isnull(ReleasedGoodQuantity,0) Quantity,2 StockConditionID,UnitID from StoreInvoicedetails_pni sid with(nolock) where sid.StoreInvoiceNo=sia.StoreInvoiceNo union all  
	select StoreInvoiceDetailsID,StoreInvoiceNo,ItemID,OLID,isnull(ReleasedFaultyQuantity,0) Quantity,3 StockConditionID,UnitID from StoreInvoicedetails_pni sid with(nolock) where sid.StoreInvoiceNo=sia.StoreInvoiceNo union all 
	select StoreInvoiceDetailsID,StoreInvoiceNo,ItemID,OLID,isnull(ReleasedScrapQuantity,0) Quantity,4 StockConditionID,UnitID from StoreInvoicedetails_pni sid with(nolock)  where sid.StoreInvoiceNo=sia.StoreInvoiceNo ) sid 
left join Stock st with(nolock) on st.ItemID=sid.ItemID
left join StockSub sb with(nolock) on sb.ItemID=sid.ItemID
left join StockFieldValue sf with(nolock) on sf.StockFieldValueID=sb.StockFieldValueID
left join StoreInvoiceMaterialDetails_pni simd with(nolock) on simd.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID and sid.StockConditionID=simd.StockConditionID
group by sf.StockFieldValue,st.SerialFlag,sia.StoreInvoiceNo,sid.StoreInvoiceDetailsID,sid.ItemID,sid.UnitID,sid.Quantity,sid.StockConditionID,simd.StockConditionID 
having isnull(sid.Quantity,0)!=sum(isnull(simd.Quantity,0))

 ;
 insert into StoreInvoiceMaterialDetails_pni 
select StoreInvoiceDetailsID,Quantity,UnitID,StockConditionID,'123456789' SerialNo,0 Rate,0 Amount,0 Inspected
from @Data where SCID is NULL 

;
 insert into SerialFlag_True_SIMD 
select *,'Mismatch Quantity' Remarks from @Data where SerialFlag = 1
--select * from SerialFlag_True_SIMD

;
--select * 
 delete 
from StoreInvoiceMaterialDetails_pni where StoreInvoiceMaterialDetailsID in (
select StoreInvoiceMaterialDetailsID from (
select b.* ,(Row_Number() over (Partition By a.StoreInvoiceDetailsID,a.StockConditionID Order By a.StoreInvoiceDetailsID,a.StockConditionID,StoreInvoiceMaterialDetailsID)) SlNo 
from @Data A inner join StoreInvoiceMaterialDetails_pni B with(nolock) on b.StoreInvoiceDetailsID=a.StoreInvoiceDetailsID and b.StockConditionID=isnull(a.StockConditionID,0)
where SerialFlag = 0 ) A where SlNo != 1 )

;
--select a.* ,b.Quantity
 update b set b.Quantity = a.Quantity 
from ( select a.* from (
select a.* ,(Row_Number() over (Partition By a.StoreInvoiceDetailsID,a.StockConditionID Order By a.StoreInvoiceDetailsID,a.StockConditionID,StoreInvoiceMaterialDetailsID)) SlNo,b.Quantity Quantity1,StoreInvoiceMaterialDetailsID
from @Data A inner join StoreInvoiceMaterialDetails_pni B with(nolock) on b.StoreInvoiceDetailsID=a.StoreInvoiceDetailsID and b.StockConditionID=isnull(a.StockConditionID,0)
where SerialFlag = 0 
) A where SlNo = 1 ) A 
inner join StoreInvoiceMaterialDetails_pni B with(nolock) on b.StoreInvoiceMaterialDetailsID=a.StoreInvoiceMaterialDetailsID 
where b.Quantity != a.Quantity 




GO
