USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_reference]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[SP_reference] @ReferenceNO varchar (1000)

as
select *from (select row_number() over(partition by rd.ReferenceNO
order by rd.BillRegisterNo desc ) rownuber,rd.BillRegisterNo,(case when InvoiceTypeID =1 then (select (select s.Description from Status_Config s
where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=121 ))
when InvoiceTypeID =2 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=135 ))
when InvoiceTypeID =3 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=28 ))
when InvoiceTypeID =4 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=85 ))
when InvoiceTypeID =5 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=75 ))
when InvoiceTypeID =6 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=100 ))
when InvoiceTypeID =7 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=127 ))
when InvoiceTypeID =8 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=56 ))
when InvoiceTypeID =9then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=60 ))
when InvoiceTypeID =10 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=32 ))
when InvoiceTypeID =11 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=104 ))
when InvoiceTypeID =12 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=101 ))
when InvoiceTypeID =13 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=82 ))
when InvoiceTypeID =14 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=86 ))
when InvoiceTypeID =15 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=267 ))
when InvoiceTypeID =16 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=567 ))
when InvoiceTypeID =17 then (select (select s.Description from Status_Config s where s.StatusID=a.StatusID) from ActivityApprovals_Accounts a where ActivityApprovalID in( select max(ActivityApprovalID) from ActivityApprovals_Accounts a where DocumentNo=rd.BillRegisterNo and ActivityID=599 )) end)
as discription from RecoveryDetails rd 
inner join BillRegisterNoInvoiceTypeAllocation b on rd.BillRegisterNo=b.BillRegisterNo
where rd.ReferenceNO='@ReferenceNO' )p1 where p1.rownuber=1

GO
