USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[Data_Integrity_SI]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Data_Integrity_SI] @FromDate DateTime,@ToDate DateTime AS

--Declare @FromDate DateTime = '2023-02-01' 
--Declare @ToDate DateTime = '2023-02-28' 
;

----------------------------------------------------------------------------

-- Store Invoice against Quantity: OriginalQuantityIssued in StoreInvoiceDetails and sum of Quantity in StoreInvoiceMaterialDetails should match.
--select ItemID,OriginalQuantityIssued,(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0)) SumQuantity
 update a set OriginalQuantityIssued = (isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
from StoreInvoicedetails_pni A with(nolock) 
where isnull(OriginalQuantityIssued,0)!=(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
and StoreInvoiceNo in ( select StoreInvoiceNo from StoreInvoice_pni s with(nolock) where s.StoreInvoiceDate between @FromDate and @ToDate )

;
--select ItemID,QuantityIssued,(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0)) SumQuantity
 update a set QuantityIssued = (isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
from StoreInvoiceAlternateDetails_pni A with(nolock) 
where isnull(QuantityIssued,0)!=(isnull(GoodQuantity,0)+isnull(ReleasedGoodQuantity,0)+isnull(ReleasedFaultyQuantity,0)+isnull(ReleasedScrapQuantity,0))
and StoreInvoiceDetailsID in ( select StoreInvoiceDetailsID from StoreInvoicedetails_pni with(nolock) where StoreInvoiceNo in (
select StoreInvoiceNo from StoreInvoice_pni s with(nolock) where s.StoreInvoiceDate between @FromDate and @ToDate ))

----------------------------------------------------------------------------

-- ContactID ContactID updated as -1 for ContactCategoryID 2,22
--select * 
 update a set a.ContactID = b.ContactID 
from StoreInvoice_pni A with(nolock) 
Inner Join WorkOrder B with(nolock) on b.WorkAwardNo=cast(a.DocumentNo as Int) and isnull(b.ContactID,0)!=0 
where a.ContactCategoryID=2 and a.ContactID=-1 and DocumentTypeID in (2,22) and StoreInvoiceDate>= @FromDate

----------------------------------------------------------------------------

--No rows should be duplicated in StoreInvoiceMaterialDetailsSub table i.e. one SerialNo should have only 1 make.
--select * 
 delete 
from StoreInvoiceMaterialDetailsSub_pni where StoreInvoiceUserDefinedFieldID in (
select StoreInvoiceUserDefinedFieldID from (
select a.*,StoreInvoiceUserDefinedFieldID,(Row_Number() over (Partition By a.StoreInvoiceMaterialDetailsID Order By a.StoreInvoiceMaterialDetailsID,StoreInvoiceUserDefinedFieldID )) SlNo  from (
select simds.StoreInvoiceMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,simd.Quantity,count(*) Nos
from StoreInvoiceMaterialDetailsSub_pni simds with(nolock) 
inner join StoreInvoiceMaterialDetails_pni simd with(nolock) on simd.StoreInvoiceMaterialDetailsID=simds.StoreInvoiceMaterialDetailsID
and StoreInvoiceDetailsID in ( select StoreInvoiceDetailsID from StoreInvoicedetails_pni with(nolock) 
	where StoreInvoiceNo in ( select StoreInvoiceNo from StoreInvoice_pni with(nolock) where StoreInvoiceDate>= @FromDate )
	and ItemID in (select ItemID from Stock with(nolock) where isnull(SerialFlag,0)=0 )) 
group by simds.StoreInvoiceMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,simd.Quantity
having count(*)>1 ) A 
inner join StoreInvoiceMaterialDetailsSub_pni B with(nolock) on b.StoreInvoiceMaterialDetailsID=a.StoreInvoiceMaterialDetailsID and b.DistributionNodeUserDefinedFieldID=a.DistributionNodeUserDefinedFieldID and b.UserDefinedFieldValue=a.UserDefinedFieldValue
) A where SlNo != 1 ) 


----------------------------------------------------------------------------

--No rows should be duplicated in StoreInvoiceAlternateMaterialDetailsSub table i.e. one SerialNo should have only 1 make.
--select * 
 delete 
from StoreInvoiceAlternateMaterialDetailsSub_pni where StoreInvoiceUserDefinedFieldID in (
select StoreInvoiceUserDefinedFieldID from (
select a.*,StoreInvoiceUserDefinedFieldID,(Row_Number() over (Partition By a.StoreInvoiceAlternateMaterialDetailsID Order By a.StoreInvoiceAlternateMaterialDetailsID,StoreInvoiceUserDefinedFieldID )) SlNo  from (
select siamds.StoreInvoiceAlternateMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,Quantity,count(*) Nos 
from StoreInvoiceAlternateMaterialDetailsSub_pni siamds with(nolock) ,StoreInvoicealternateMaterialDetails_pni siamd with(nolock) 
where siamds.StoreInvoiceAlternateMaterialDetailsID=siamd.StoreInvoiceAlternateMaterialDetailsID
and StoreInvoiceAlternateDetailsID in (select StoreInvoiceAlternateDetailsID from StoreInvoiceAlternateDetails_pni with(nolock) 
	where StoreInvoiceDetailsID in (select StoreInvoiceDetailsID from StoreInvoicedetails_pni with(nolock) 
	where StoreInvoiceNo in (select StoreInvoiceNo from StoreInvoice_pni with(nolock) where StoreInvoiceDate>= @FromDate ) 
	and ItemID in (select ItemID from Stock with(nolock) where isnull(SerialFlag,0)=0 )) )
group by siamds.StoreInvoiceAlternateMaterialDetailsID,DistributionNodeUserDefinedFieldID,UserDefinedFieldValue,Quantity
having count(*)>1 ) A 
inner join StoreInvoiceAlternateMaterialDetailsSub_pni B with(nolock) on b.StoreInvoiceAlternateMaterialDetailsID=a.StoreInvoiceAlternateMaterialDetailsID and b.DistributionNodeUserDefinedFieldID=a.DistributionNodeUserDefinedFieldID and b.UserDefinedFieldValue=a.UserDefinedFieldValue
) A where SlNo != 1 ) 


----------------------------------------------------------------------------

-- StoreInvoiceMaterialDetails table  for null quantity. In StoreInvoiceMaterialDetails table Quantity inserted should not be null. 
--select sid.StoreInvoiceNo,simd.StoreInvoiceMaterialDetailsID,simd.Quantity,simd.StockConditionID,sid.GoodQuantity,simd.SerialNo
 update simd set simd.Quantity = 0 
from StoreInvoiceMaterialDetails_pni simd with(nolock) ,StoreInvoicedetails_pni sid with(nolock) ,StoreInvoice_pni si with(nolock) ,Stock st with(nolock) 
where simd.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID and st.ItemID=sid.ItemID and isnull(SerialFlag,0)=0 
and sid.StoreInvoiceNo=si.StoreInvoiceNo and si.StoreInvoiceDate between @FromDate and @ToDate 
and Quantity is null 

----------------------------------------------------------------------------

--select sid.StoreInvoiceNo,siamd.StoreInvoiceAlternateMaterialDetailsID,siamd.Quantity,siamd.StockConditionID,sid.GoodQuantity,siamd.SerialNo
 update siamd set siamd.Quantity = 0 
from StoreInvoicealternateMaterialDetails_pni siamd with(nolock) ,StoreInvoiceAlternateDetails_pni siad with(nolock) ,StoreInvoicedetails_pni sid with(nolock) ,StoreInvoice_pni si with(nolock) ,Stock st with(nolock) 
where siamd.StoreInvoiceAlternateDetailsID=siad.StoreInvoiceAlternateDetailsID and st.ItemID=sid.ItemID and isnull(SerialFlag,0)=0 
and siad.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID
and sid.StoreInvoiceNo=si.StoreInvoiceNo and si.StoreInvoiceDate between @FromDate and @ToDate 
and Quantity is null

----------------------------------------------------------------------------

-- Any StoreInvoice against StoreIndent should have the InvoiceDate greater than IndentDate in StoreIndentAbstract.
--select si.StoreInvoiceNo,si.StoreInvoiceDate,si.StoreIndentNo,sia.IndentDate,isnull(cast(cast(si.StoreInvoiceDate as int) as datetime),0)-1
 update sia set sia.IndentDate = isnull(cast(cast(si.StoreInvoiceDate as int) as datetime),0)-1
from StoreIndentAbstract sia with(nolock) ,StoreInvoice_pni si with(nolock) 
where si.StoreIndentNo=sia.StoreIndentNo and isnull(sia.IndentDate,0)>isnull(cast(cast(si.StoreInvoiceDate as int) as datetime),0) and sia.IndentDate>= @FromDate 

----------------------------------------------------------------------------

-- SerialNos in StoreInvoiceMaterialDetails should not be duplicated against a particular ItemID and StockCondition
--select * 
 delete 
from StoreInvoiceMaterialDetails_pni where StoreInvoiceMaterialDetailsID in (
select StoreInvoiceMaterialDetailsID from (
select a.*,StoreInvoiceMaterialDetailsID,(row_Number() over (Partition By a.StoreInvoiceDetailsID,a.SerialNo,a.StockConditionID Order By a.StoreInvoiceDetailsID,a.SerialNo,a.StockConditionID,StoreInvoiceMaterialDetailsID)) SlNo from (
select sid.StoreInvoiceNo,simd.StoreInvoiceDetailsID,sid.ItemID,simd.SerialNo,simd.StockConditionID,count(*) Nos 
from StoreInvoiceMaterialDetails_pni simd with(nolock) ,StoreInvoicedetails_pni sid with(nolock) ,Stock s with(nolock) ,StoreInvoice_pni si with(nolock) 
where simd.StoreInvoiceDetailsID=sid.StoreInvoiceDetailsID and sid.ItemID=s.ItemID and isnull(s.SerialFlag,0) = 0 
and sid.StoreInvoiceNo=si.StoreInvoiceNo and si.StoreInvoiceDate between @FromDate and @ToDate
group by sid.StoreInvoiceNo,simd.StoreInvoiceDetailsID,sid.ItemID,simd.SerialNo,simd.StockConditionID,SerialFlag
having count(*)>1 ) A 
inner join StoreInvoiceMaterialDetails_pni B with(nolock) on b.StoreInvoiceDetailsID=a.StoreInvoiceDetailsID and b.SerialNo=a.SerialNo and b.StockConditionID=a.StockConditionID
) A where SlNo != 1 ) 



---------------------------------------------------------------------------- StoreInvoiceMaterialDetailsSub_pni no make 

 insert into StoreInvoiceMaterialDetailsSub_pni
select  distinct StoreInvoiceMaterialDetailsID,DistributionNodeUserDefinedFieldID,make 
from ( select p.ReceiptVoucherNo,ReceiptVoucherDate,d1.SerialNo,UserDefinedFieldValue make,DistributionNodeUserDefinedFieldID,ItemID,d.OLID  
	from ReceiptVoucherAbstract_pni p with(nolock) 
	inner join ReceiptVoucherDetails_pni d with(nolock) on d.ReceiptVoucherNo=p.ReceiptVoucherNo
	inner join ReceiptVoucherMaterialDetails_pni d1 with(nolock) on d1.ReceiptVoucherDetailsID=d.ReceiptVoucherDetailsID and d1.StockConditionID=2 
	inner join ReceiptVoucherMaterialDetailsSub_pni d2 with(nolock) on d2.ReceiptVoucherMaterialDetailsID=d1.ReceiptVoucherMaterialDetailsID 
	where d.ItemID in ( select ItemID From Stock with(nolock) where SerialFlag=1 ) and ReceiptVoucherDate>= '2021-01-01'
) p2 inner join ( select *From ( select a.UserDefinedFieldValue,d.StoreInvoiceNo,v.SerialNo,p.StoreInvoiceDate,ItemID,d.OLID,v.StoreInvoiceMaterialDetailsID  
	from ( select * from StoreInvoice_pni p with(nolock) where p.Canceled=0 and StoreInvoiceDate> '2021-01-01' ) p
	inner join StoreInvoiceDetails_pni d with(nolock) on d.StoreInvoiceNo=p.StoreInvoiceNo 
	inner join  StoreInvoiceMaterialDetails_pni v with(nolock) on v.StoreInvoiceDetailsID=d.StoreInvoiceDetailsID  and StockConditionID=2 
	left join StoreInvoiceMaterialDetailsSub_pni a with(nolock) on a.StoreInvoiceMaterialDetailsID=v.StoreInvoiceMaterialDetailsID  and a.DistributionNodeUserDefinedFieldID=20  
	where d.ItemID in ( select ItemID From Stock with(nolock) where SerialFlag=1 ) ) p1
	where UserDefinedFieldValue is null  
	) p1 on p1.SerialNo=p2.SerialNo and p1.ItemID=p2.ItemID and p1.OLID=p2.OLID 
union all 
select  distinct StoreInvoiceMaterialDetailsID,DistributionNodeUserDefinedFieldID,make 
from ( select p.ReceiptVoucherNo,ReceiptVoucherDate,d1.SerialNo,UserDefinedFieldValue make,DistributionNodeUserDefinedFieldID,ItemID,d.OLID  
	from ReceiptVoucherAbstract_pni p with(nolock) 
	inner join ReceiptVoucherDetails_pni d with(nolock) on d.ReceiptVoucherNo=p.ReceiptVoucherNo
	inner join ReceiptVoucherMaterialDetails_pni d1 with(nolock) on d1.ReceiptVoucherDetailsID=d.ReceiptVoucherDetailsID and d1.StockConditionID=1 
	inner join ReceiptVoucherMaterialDetailsSub_pni d2 with(nolock) on d2.ReceiptVoucherMaterialDetailsID=d1.ReceiptVoucherMaterialDetailsID 
	where d.ItemID in ( select ItemID From Stock with(nolock) where SerialFlag=1 ) and ReceiptVoucherDate>= '2021-01-01' 
) p2 inner join ( select *From ( select a.UserDefinedFieldValue,d.StoreInvoiceNo,v.SerialNo,p.StoreInvoiceDate,ItemID,d.OLID,v.StoreInvoiceMaterialDetailsID  
	from ( select * from StoreInvoice_pni p with(nolock) where p.Canceled=0 and StoreInvoiceDate> '2021-01-01' ) p 
	inner join StoreInvoiceDetails_pni d with(nolock) on d.StoreInvoiceNo=p.StoreInvoiceNo 
	inner join  StoreInvoiceMaterialDetails_pni v with(nolock) on v.StoreInvoiceDetailsID=d.StoreInvoiceDetailsID and StockConditionID=1
	left join StoreInvoiceMaterialDetailsSub_pni a with(nolock) on a.StoreInvoiceMaterialDetailsID=v.StoreInvoiceMaterialDetailsID  and a.DistributionNodeUserDefinedFieldID=20  
	where d.ItemID in ( select ItemID From Stock with(nolock) where SerialFlag=1 )) p1
	where UserDefinedFieldValue is null  
	) p1 on p1.SerialNo=p2.SerialNo and p1.ItemID=p2.ItemID and p1.OLID=p2.OLID 


---------------------------------------------------------------------------- 

delete from SerialFlag_True_SIMD DBCC CHECKIDENT ('SerialFlag_True_SIMD', RESEED, 0);  




GO
