USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryLocationWiseNew]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SalaryLocationWiseNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON










Declare @SRB table (CID int,ODLDID int,EmployeeStatusID int,ScaleRegisterID int)
insert into @SRB
select distinct CID,srb.ODLDID,EmployeeStatusID,ScaleRegisterID 
from FnMaxSRBODLDID4() srb 
where OLID=@OLID and srb.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)
and srb.Date in (select max(srb1.Date) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and OLID=@OLID and srb1.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)) 
and srb.ScaleRegisterID in (select min(srb1.ScaleRegisterID) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and OLID=@OLID and srb1.Date = srb.Date) 



Declare @SR3 table (ContactID int,Generated int,BillRegisterNo varchar(50)) 
insert into @SR3
select ContactID,Generated,BillregisterNo 
from FnSRNew() sr1 where  sr1.SalaryTypeID=1 and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month and OLID=@OLID



Declare @SR1 table (ODLDID int,EmployeeStatusID int,SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct ODLDID,EmployeeStatusID,sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,isnull(sr.BillRegisterNo,'0') as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr left outer join @SRB srb on srb.CID=sr.ContactID 
full join @SR3 sr1 on  sr1.ContactID= sr.ContactID 
where sr.YearID in (@Year) and sr.MonthID in (@Month) and OLID=@OLID
and (case when isnull(sr.Suppliment,0) in (2,7) and isnull(sr.BillRegisterNo,'0')='0' then '2' else 
case when isnull(sr.Suppliment,0)=3 and isnull(sr.BillRegisterNo,'0')='0' then '3' else 
case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and isnull(sr.BillRegisterNo,'0')='0' then isnull(sr.BillRegisterNo,'0') else  
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID<>2 then '1' else 
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID=2 and (sr1.ContactID is NULL or sr1.generated =0 or isnull(sr1.BillRegisterNo,'0')<>'0') then '1' else isnull(sr.BillRegisterNo,'0') end end end end end ) in (@BRNo)



Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int) 
insert into @SRD1
select srd.ScaleRegisterID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 'RC' else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end end) as Types
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 6 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end end) as TypesID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 30 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 30 else TypeID end end) as TypeID,BankID
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else 
case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end end) as Amount,srd.BankTypeID 
,TypesID ,TypeID
from @SR1 sr inner join FnSRADNew() srd  on srd.ScaleRegisterID=sr.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,srd.BankTypeID
having sum(isnull(DiffAmount,0))<>0

Declare @SRD2 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int,Payment money) 
insert into @SRD2
select *,(case when TypesID in (4,5,6) and isnull(Amount,0)<0 then isnull(-Amount,0) else 0 end) as Payment from @SRD1
















Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)











Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @SR table (LocationOrdered int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthID int,YearID1 int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(50),OLID int,SOLID int,EmployeeTypes varchar(20),EOrder varchar(4),BRDate datetime)
insert into @SR 

select distinct oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.YearID,sr.MonthID,Year(sr.BillRegisterDate) as YearID,datename(month,sr.BillRegisterDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,'0') as BRNo,ol1.OLID,ol.OLID
,(case when ct.EmployeeCategoryID in (2,8) then 'Contract Employee' else case when EmployeeStatusID in (19) then 'Deputed' else case when EmployeeGradeID in (1,2) then 'Officers' else 'Employees' end end end) as EmployeeTypes
,(case when ct.EmployeeCategoryID in (2,8) then '04' else case when EmployeeStatusID in (19) then '03' else case when EmployeeGradeID in (1,2) then '01' else '02' end end end) as EOrder,sr.BillRegisterDate
from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1


inner join @ODLD ol on ol.ODLDID=sr.ODLDID 
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID



Declare @SRD table (ATypeID int,ScaleRegisterID int,Amount money,SalaryTypes varchar(20),Ordering varchar(6))
insert into @SRD 


select ATypeID,ScaleregisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end) as ATypeID,srd.ScaleregisterID
,sum(isnull(srd.Amount,0)) as Amount
,(case when d.ATypeID=1 then 'Total Earnings' else case when d.ATypeID=2 then 'Total Deduction'  else NULL end end) as SalaryTypes
,(case when d.ATypeID=1 then '09' else case when d.ATypeID=2 then '37'  else NULL end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID,srd.Payment 
) as ED group by ScaleregisterID,ATypeID,SalaryTypes,Ordering
union all
select 2 as ATypeID,ScaleregisterID
,(sum(case when ATypeID=1 then Amount else 0 end) - sum(case when ATypeID=2 then Amount else 0 end)) as Amount
,'Net Payable' as SalaryTypes,'38' as Ordering  from (
select d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when d.ATypeID=1 then 'Total Earnings' else case when d.ATypeID=2 then 'Total Deduction'  else NULL end end) as SalaryTypes
,(case when d.ATypeID=1 then '09' else case when d.ATypeID=2 then '37'  else NULL end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID,srd.Payment 
) as ED group by ScaleregisterID
union all
select  ATypeID,ScaleRegisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when (isnull(srd.BankTypeID,0) not in (0,13) or (Max(isnull(TypesID1,0))=4 and isnull(TypeID1,0) in (15,10))) and srd.TypesID=6 then 'Recovery External' else d.SalaryTypes end) as SalaryTypes
,(case when (isnull(srd.BankTypeID,0) not in (0,13) or (isnull(TypesID1,0)=4 and isnull(TypeID1,0) in (15,10)) )and srd.TypesID=6 then '28.01' else d.Ordering end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID 
where d.Ordering is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) <> 0
group by srd.ScaleregisterID,d.SalaryTypes ,d.Ordering,d.ATypeID,srd.BankTypeID,srd.TypesID,srd.Payment,TypesID1,TypeID1
) as R group by ATypeID,ScaleRegisterID,SalaryTypes,Ordering
union all
select distinct d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,'PLI' as SalaryTypes ,'10.01' as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) = 0
group by srd.ScaleregisterID,ATypeID,srd.Payment



IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpSalaryLocationWise]'))
    EXEC sp_executesql N'create table TmpSalaryLocationWise 
	(LocationOrdered int,Employees int,YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(50), LocationName varchar(50),SOfficeName varchar(50), SLocationName varchar(50),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(50),BRDate datetime,MnYr varchar(10))
	'
drop table TmpSalaryLocationWise
Create table TmpSalaryLocationWise  (LocationOrdered int,Employees int,YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(50), LocationName varchar(50),SOfficeName varchar(50), SLocationName varchar(50),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(50),BRDate datetime,MnYr varchar(10))
insert into TmpSalaryLocationWise 

select sr.LocationOrdered,n.Employees,sr.YearID,sr.MonthID,sr.YearID1,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.SOfficeName,sr.SLocationName,srd.Ordering,srd.SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,sr.BRNo,sr.BRDate,(left(Datename(month,sr.StartingDate),3)+'-'+cast(right(sr.YearID,2) as varchar(2))) as MnYr
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID 
left outer join (select distinct OLID,SOLID,YearID,MonthID,sr.BRNo,count(distinct sr.contactid) as Employees
from @SR sr group by YearID,MonthID,sr.BRNo,OLID,SOLID) as N on n.OLID=sr.OLID and n.SOLID=sr.SOLID and n.YearID=sr.YearID and n.MonthID=sr.MonthID and n.BRNo=sr.BRNo

group by sr.YearID,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.SOfficeName,sr.SLocationName,srd.Ordering,srd.SalaryTypes,sr.BRNo,sr.LocationOrdered,n.Employees,sr.BRDate,sr.MonthID,sr.YearID1,Datename(month,sr.StartingDate)


update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from TmpSalaryLocationWise A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from TmpSalaryLocationWise ) as B ) b on b.Ordering=a.Ordering


























Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from TmpSalaryLocationWise ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from TmpSalaryLocationWise ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTLocationWiseSalaryDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTLocationWiseSalaryDView] AS 
	select BRNo,BRDate,MnYr,LocationOrdered,YearID,MonthDesc,OfficeName,LocationName,SOfficeName,SLocationName,Employees,Ordered1,Amount
	FROM    TmpSalaryLocationWise'
drop view PVTLocationWiseSalaryDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTLocationWiseSalaryDView as  select BRNo,BRDate,MnYr,LocationOrdered,YearID,MonthID,YearID1,MonthDesc,OfficeName,LocationName,SOfficeName,SLocationName,Employees,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select BRNo,convert(varchar,BRDate,103) as BRDate,MnYr,LocationOrdered,YearID,MonthID,YearID1,MonthDesc,OfficeName,LocationName,SOfficeName,SLocationName,Employees,Ordered1,Amount
	FROM    TmpSalaryLocationWise ) as A
	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query );
GO
