USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[RVEStimate]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RVEStimate] @olid int 

as


select distinct SanctionEstimateNo,ReceiptVoucherNo,WorkOrderNo ,officialreferenceno 
from ((select a.ApproverContactID,a.activityapprovalid,a.documentno,a.statusid from activityapprovals_works a 
inner join (select max(activityapprovalid) activityapprovalid from activityapprovals_works 
where ActivityID in (51,53,286,333) 
group by documentno) b on a.activityapprovalid=b.activityapprovalid 
where ActivityID in (51,53,286,333) ) a 
inner join 
(select s.sanctionestimateno,SanctionedRate,r.ReceiptVoucherNo,w.WorkOrderNo,r.OfficialReferenceNo from sanctionestimate s  with(nolock)
inner join SanctionEstimateWorkAllocationDetails ss with(nolock) on s.SanctionEstimateNo=ss.SanctionEstimateNo 
inner join WorkOrder w with(nolock) on s.SanctionEstimateNo=w.SanctionEstimateNo
 inner join ReceiptVoucherAbstract_pni r with(nolock) on r.DocumentNo=w.WorkOrderNo 
and r.DocumentTypeID=2 and r.ReturnTypeID=2 
and r.Description not like '74%' where s.approved=1 and  r.approved=1 and r.Priced=0 and r.Canceled=0 and r.OLID=@olid and r.ReceiptVoucherNo not in ( select DocumentNo from AssetDetails a where a.DocumentNo=r.ReceiptVoucherNo and a.DocumentTypeID=12)) s on a.documentno=s.sanctionestimateno) where ( SanctionedRate<>0 or SanctionedRate is not null)

union select distinct SanctionEstimateNo,ReceiptVoucherNo,WorkOrderNo ,r.officialreferenceno from ActivityApprovals_Works a with(nolock) inner join WorkOrder w on a.DocumentNo=w.SanctionEstimateNo inner join ReceiptVoucherAbstract_pni r with(nolock) on r.DocumentNo=w.WorkOrderNo and r.Priced=0 and r.Canceled=0 and r.approved=1  and r.OLID=@olid  and r.DocumentTypeID=2 and r.ReturnTypeID=2  and r.Description not like '74%' and r.ReceiptVoucherNo not in ( select DocumentNo from AssetDetails a where a.DocumentNo=r.ReceiptVoucherNo and a.DocumentTypeID=12) where ActivityApprovalID in(selecT  MAX(ActivityApprovalID) from ActivityApprovals_Works where ActivityID=392 and DocumentNo in(select s.sanctionestimateno from sanctionestimate s with(nolock) inner join SanctionEstimateVehicleRepairDetails ss with(nolock) on s.SanctionEstimateNo=ss.SanctionEstimateNo where s.approved=1 ) GROUP BY documentno) 

union select distinct a.DocumentNo,ReceiptVoucherNo,WorkOrderNo ,r.officialreferenceno from ActivityApprovals_Works a with(nolock) inner join WorkOrder w on a.DocumentNo=w.SanctionEstimateNo inner join ReceiptVoucherAbstract_pni r with(nolock) on r.DocumentNo=w.WorkOrderNo and r.Priced=0 and r.Canceled=0  and r.approved=1 and r.OLID=@olid and r.DocumentTypeID=2 and r.ReturnTypeID=2 and r.Description not like '74%' and r.ReceiptVoucherNo not in ( select DocumentNo from AssetDetails a where a.DocumentNo=r.ReceiptVoucherNo and a.DocumentTypeID=12) where ActivityApprovalID in(selecT MAX(ActivityApprovalID) from ActivityApprovals_Works where ActivityID=52 and a.DocumentNo in(select s.sanctionestimateno from sanctionestimate s with(nolock) inner join SanctionEstimateWorkAllocationDetails ss with(nolock) on s.SanctionEstimateNo=ss.SanctionEstimateNo where s.approved=1 and  (SanctionedRate<>0 or SanctionedRate is not null)) GROUP BY documentno)



union

select distinct SanctionEstimateNo,r.ReceiptVoucherNo,WorkOrderNo ,r.officialreferenceno from ActivityApprovals_Works a
 inner join WorkOrder w with(nolock) on a.DocumentNo=w.SanctionEstimateNo 
 inner join ReceiptVoucherAbstract_pni r with(nolock) on r.DocumentNo=w.WorkOrderNo 
inner join ReceiptVoucherDetails_pni  rd with(nolock) on r.ReceiptVoucherNo=rd.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_pni rdm with(nolock) on rd.ReceiptVoucherDetailsID=rdm.ReceiptVoucherDetailsID and  r.DocumentNo=w.WorkOrderNo  and rdm.StockConditionID <>4 
and r.Priced=0 and r.Canceled=0 and r.approved=1  and r.OLID=@olid  and r.DocumentTypeID=2 and r.ReturnTypeID=2  and r.Description  like '74%' 
and r.ReceiptVoucherNo not in ( select DocumentNo from AssetDetails a with(nolock) where a.DocumentNo=r.ReceiptVoucherNo and a.DocumentTypeID=12) 

 


GO
