USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_MainSubMismtach]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MainSubMismtach] AS SET NOCOUNT ON



--------exec SP_MainSubMismtach

  IF OBJECT_ID('tempdb..#SRIDSTemp') IS NOT NULL     DROP TABLE #SRIDSTemp 
select ScaleRegisterID,ContactID, OLID,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,Bonus,SpecialPayment,RecoveryAmount,0 as Mismtach  into #SRIDSTemp
 from scaleregister with(nolock) where cast(createdon as date) between dateadd(dd,-2,getdate()) and cast(getdate() as date)
CREATE INDEX idx_pname ON #SRIDSTemp (Scaleregisterid);   

 ---------------------------------------------------------------------------------------------------------------
With BasicPay(ContactID,OLID,ScaleRegisterID,TotalBasicPay,Basic,BasicDiff,Mismtach) as 
(select ContactID,OLID,sr.ScaleRegisterID,TotalBasicPay,isnull(srb.Amount,0) as Basic,(isnull(sr.TotalBasicPay,0)-isnull(srb.Amount,0)) as BasicDiff,Mismtach
 from #SRIDSTemp  SR 
 outer apply (select distinct ScaleRegisterID,round(round(sum(isnull(Amount,0)),2),0) as Amount from Scaleregisterbasicpaydetails srbp 	with(nolock)
 where ScaleRegisterID=sr.ScaleRegisterID Group by Scaleregisterid having round(round(sum(isnull(Amount,0)),2),0)<>0)  srb 
 )
 update BasicPay set TotalBasicPay=Basic,Mismtach=1 where BasicDiff <>0;
 ---------------------------------------------------------------------------------------------------------------
With TotalAdditions(ContactID,OLID,ScaleRegisterID,TotalAdditions,Additions,AdditionDiff,Mismtach) as 
(select ContactID,OLID,sr.ScaleRegisterID,sr.TotalAdditions,(isnull(sra.Amount,0)+isnull(sroa.Amount,0)) as Additions,
(isnull(sr.TotalAdditions,0)-(isnull(sra.Amount,0)+isnull(sroa.Amount,0))) as AdditionDiff,Mismtach
 from #SRIDSTemp  SR 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from ( select sra.Scaleregisterid, round(round(sum(isnull(sra.Amount,0)),2),0) as Amount 
 from scaleregisterallowances sra with(nolock) where AllowanceID not in (38) and AllowanceID is not null and ScaleRegisterID=sr.ScaleRegisterID
 Group by sra.Scaleregisterid,AllowanceID) as sra where Amount<>0 group by Scaleregisterid) as sra 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from (select sroa.Scaleregisterid,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount	
 from ScaleRegisterOtherAdditions sroa with(nolock) where ScaleRegisterID=sr.ScaleRegisterID and  SalaryOtherAdditionID in (13,16,22,2,17,20,8) Group by sroa.Scaleregisterid,SalaryOtherAdditionID) sroa where Amount<>0 
 group by Scaleregisterid) as sroa 
 )
 update TotalAdditions set TotalAdditions=Additions,Mismtach=1 where AdditionDiff <> 0;
 ---------------------------------------------------------------------------------------------------------------
With TotalDeductions(ContactID,OLID,ScaleRegisterID,TotalDeductions,Deductions,DeductionDiff,Mismtach) as 
(select ContactID,OLID,sr.ScaleRegisterID,sr.TotalDeductions,(isnull(sod.Amount,0)+isnull(srla.Amount,0)) as Deductions,(isnull(sr.TotalDeductions,0)-(isnull(sod.Amount,0)+isnull(srla.Amount,0))) as DeductionDiff,Mismtach
 from #SRIDSTemp  SR 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from (select sod.Scaleregisterid,round(round(sum(isnull(sod.Amount,0)),2),0) as Amount 
 from ScaleRegisterOtherDeductions sod with(nolock) where SalaryOtherDeductionID is not null and ScaleRegisterID=sr.ScaleRegisterID Group by  sod.Scaleregisterid,SalaryOtherDeductionID) sod where Amount<>0 group by Scaleregisterid) as sod 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from (select srla.Scaleregisterid,round(round(sum(isnull(srla.Amount,0)),2),0) as Amount	
 from ScaleRegisterLoansandAdvances srla with(nolock)  where  ScaleRegisterID=sr.ScaleRegisterID and LoanAndAdvanceID is not null Group By srla.Scaleregisterid,LoanAndAdvanceID,ISNULL(ExternalRRNo,'''') ) srla where Amount<>0 group by Scaleregisterid) as srla  
 )
 update TotalDeductions set TotalDeductions=Deductions,Mismtach=1 where DeductionDiff <> 0;
 --------------------------------------------------------------------------------------------------------------- 
With TotRecovery(ContactID,OLID,ScaleRegisterID,RecoveryAmount,Recovery,RecoveryDiff,Mismtach) as 
(select ContactID,OLID,sr.ScaleRegisterID,sr.RecoveryAmount,isnull(srr.Amount,0) as Recovery,(isnull(sr.RecoveryAmount,0)-isnull(srr.Amount,0)) as RecoveryDiff,Mismtach
 from #SRIDSTemp  SR 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from (select srr.Scaleregisterid,round(round(sum(isnull(srr.Amount,0)),2),0) as Amount 
from ScaleregisterRecovery srr  with(nolock) where ScaleRegisterID=sr.ScaleRegisterID  and ScheduleTypeID is not null and LoanandAdvanceID not in (59,61) Group by srr.Scaleregisterid,ScheduleTypeID) srr where Amount<>0 group by Scaleregisterid) as srr  
 )
 update TotRecovery set RecoveryAmount= Recovery,Mismtach=1 where RecoveryDiff <>0 ;
  ---------------------------------------------------------------------------------------------------------------
With SpclPay(ContactID,OLID,ScaleRegisterID,SpecialPayment,SpPay,SpPayDiff,Mismtach) as 
(select ContactID,OLID,sr.ScaleRegisterID,sr.SpecialPayment,isnull(srp.Amount,0) as SpPay,(isnull(sr.SpecialPayment,0)-isnull(srp.Amount,0)) as SpPayDiff,Mismtach
 from #SRIDSTemp  SR 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from (select sra.Scaleregisterid,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount 
 from scaleregisterallowances sra with(Nolock) where AllowanceID in (38) and ScaleRegisterID=sr.ScaleRegisterID Group by sra.Scaleregisterid,AllowanceID) as sra where Amount<>0  group by Scaleregisterid) as srp 
 )
 update SpclPay set SpecialPayment= SpPay,Mismtach=1 where SpPayDiff <>0;
 ---------------------------------------------------------------------------------------------------------------
With Bonus(ContactID,OLID,ScaleRegisterID,Bonus,BonusAmount,BonusDiff,Mismtach) as 
(select ContactID,OLID,sr.ScaleRegisterID,sr.Bonus,isnull(sroa1.Amount,0) as BonusAmount,(isnull(sr.Bonus,0)-isnull(sroa1.Amount,0)) as BonusDiff,Mismtach
 from #SRIDSTemp  SR 
 outer apply (select Scaleregisterid,sum(Amount) as Amount from (select sroa.Scaleregisterid,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount	
 from ScaleRegisterOtherAdditions sroa with(nolock) where SalaryOtherAdditionID in (3,7) and ScaleRegisterID=sr.ScaleRegisterID
 Group by sroa.Scaleregisterid,SalaryOtherAdditionID) sroa where Amount<>0 group by Scaleregisterid) as sroa1 
 )
  update Bonus set Bonus= BonusAmount,Mismtach=1 where BonusDiff <>0;
  ---------------------------------------------------------------------------------------------------------------
 update #SRIDSTemp set NetPayments=(((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(TotalAdditions,0)+isnull(SpecialPayment,0))-(isnull(totalDeductions,0)+isnull(RecoveryAmount,0)))),Mismtach=1
 where (((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(TotalAdditions,0)+isnull(SpecialPayment,0))-(isnull(totalDeductions,0)+isnull(RecoveryAmount,0))))<>isnull(NetPayments,0)

update sr set NetPayments=srt.NetPayments,Bonus=srt.Bonus,TotalBasicPay=srt.TotalBasicPay,TotalAdditions=srt.TotalAdditions,SpecialPayment=srt.SpecialPayment,totalDeductions=srt.totalDeductions,RecoveryAmount=srt.RecoveryAmount
from scaleregister Sr with(nolock) inner join #SRIDSTemp  Srt on Sr.Scaleregisterid=Srt.Scaleregisterid
where Mismtach=1

  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------ScaleregisterWithdrawals---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--------exec SP_MainSubMismtach
 

IF OBJECT_ID('tempdb..#SRIDSWithDrawalTemp') IS NOT NULL     DROP TABLE #SRIDSWithDrawalTemp 
select ScaleRegisterWithDrawalID,OLID,srw.TotalBasicPay,srw.TotalAdditions,srw.TotalDeductions,srw.NetPayments,srw.Bonus,srw.SpecialPayment,srw.RecoveryAmount,0 as Mismtach into #SRIDSWithDrawalTemp
from #SRIDSTemp sr with(nolock) inner join ScaleRegisterWithDrawals srw with(nolock) on sr.ScaleregisterID=srw.ScaleregisterID 

CREATE INDEX idx_pnamer ON #SRIDSWithDrawalTemp (ScaleRegisterWithDrawalID);   

  
 ---------------------------------------------------------------------------------------------------------------
With BasicPayWithdraw(OLID,ScaleRegisterWithDrawalID,TotalBasicPay,Basic,BasicDiff,Mismtach) as 
(select OLID,sr.ScaleRegisterWithDrawalID,TotalBasicPay,isnull(srb.Amount,0) as Basic,(isnull(sr.TotalBasicPay,0)-isnull(srb.Amount,0)) as BasicDiff,Mismtach
 from #SRIDSWithDrawalTemp  SR 
 outer apply (select distinct ScaleRegisterWithDrawalID,round(round(sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterBasicPayWithdrawals srbp with(nolock)
 where ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by ScaleRegisterWithDrawalID having round(round(sum(isnull(Amount,0)),2),0)<>0)  srb 
 )
 update BasicPayWithdraw set TotalBasicPay=Basic,Mismtach=1 where BasicDiff <>0;
 ---------------------------------------------------------------------------------------------------------------
With TotalAdditionsWithdraw(OLID,ScaleRegisterWithDrawalID,TotalAdditions,Additions,AdditionDiff,Mismtach) as 
(select OLID,sr.ScaleRegisterWithDrawalID,sr.TotalAdditions,(isnull(sra.Amount,0)+isnull(sroa.Amount,0)) as Additions,
(isnull(sr.TotalAdditions,0)-(isnull(sra.Amount,0)+isnull(sroa.Amount,0))) as AdditionDiff,Mismtach
 from #SRIDSWithDrawalTemp  SR 
 outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sra.ScaleRegisterWithDrawalID, round(round(sum(isnull(sra.Amount,0)),2),0) as Amount 
 from ScaleRegisterAllowanceWithdrawals sra with(nolock) where AllowanceID not in (38) and AllowanceID is not null and ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID
 Group by sra.ScaleRegisterWithDrawalID,AllowanceID) as sra where Amount<>0 group by ScaleRegisterWithDrawalID) as sra  
 outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sroa.ScaleRegisterWithDrawalID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount	
 from ScaleRegisterOtherAdditionWithdrawals sroa with(nolock) where ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID and  SalaryAdditionOthersID in (13,16,22,2,17,20,8) Group by sroa.ScaleRegisterWithDrawalID,SalaryAdditionOthersID) sroa 
 where Amount<>0  group by ScaleRegisterWithDrawalID) as sroa 
 )
 update TotalAdditionsWithdraw set TotalAdditions=Additions,Mismtach=1 where AdditionDiff <> 0;
 ---------------------------------------------------------------------------------------------------------------
With TotalDeductionsWithdraw(OLID,ScaleRegisterWithDrawalID,TotalDeductions,Deductions,DeductionDiff,Mismtach) as 
(select OLID,sr.ScaleRegisterWithDrawalID,sr.TotalDeductions,(isnull(sod.Amount,0)+isnull(srla.Amount,0)) as Deductions,(isnull(sr.TotalDeductions,0)-(isnull(sod.Amount,0)+isnull(srla.Amount,0))) as DeductionDiff,Mismtach
 from #SRIDSWithDrawalTemp  SR 
 outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sod.ScaleRegisterWithDrawalID,round(round(sum(isnull(sod.Amount,0)),2),0) as Amount 
 from ScaleRegisterOtherDeductionWithdrawals sod with(nolock) where SalaryDeductionOthersID is not null and ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by  sod.ScaleRegisterWithDrawalID,SalaryDeductionOthersID) sod where Amount<>0 group by ScaleRegisterWithDrawalID) as sod 
 outer apply  (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select srla.ScaleRegisterWithDrawalID,round(round(sum(isnull(srla.Amount,0)),2),0) as Amount	
 from ScaleRegisterLoanandAdvanceWithdrawals srla with(nolock)  where  ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID and LoanAndAdvanceID is not null Group By srla.ScaleRegisterWithDrawalID,LoanAndAdvanceID,ISNULL(ExternalRRNo,'''') ) srla where Amount<>0 group by ScaleRegisterWithDrawalID) as srla  
 )
 update TotalDeductionsWithdraw set TotalDeductions=Deductions,Mismtach=1 where DeductionDiff <> 0;
 --------------------------------------------------------------------------------------------------------------- 
With TotRecoveryWithdraw(OLID,ScaleRegisterWithDrawalID,RecoveryAmount,Recovery,RecoveryDiff,Mismtach) as 
(select OLID,sr.ScaleRegisterWithDrawalID,sr.RecoveryAmount,isnull(srr.Amount,0) as Recovery,(isnull(sr.RecoveryAmount,0)-isnull(srr.Amount,0)) as RecoveryDiff,Mismtach
 from #SRIDSWithDrawalTemp  SR 
 outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select srr.ScaleRegisterWithDrawalID,round(round(sum(isnull(srr.Amount,0)),2),0) as Amount 
 from ScaleRegisterRecoveryWithdrawals srr  with(nolock) where ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID  and ScheduleTypeID is not null and LoanandAdvanceID not in (59,61) Group by srr.ScaleRegisterWithDrawalID,ScheduleTypeID) srr where Amount<>0 group by ScaleRegisterWithDrawalID) as srr  
 )
 update TotRecoveryWithdraw set RecoveryAmount= Recovery,Mismtach=1 where RecoveryDiff <>0 ;
  ---------------------------------------------------------------------------------------------------------------
With SpclPayWithdraw(OLID,ScaleRegisterWithDrawalID,SpecialPayment,SpPay,SpPayDiff,Mismtach) as 
(select OLID,sr.ScaleRegisterWithDrawalID,sr.SpecialPayment,isnull(srp.Amount,0) as SpPay,(isnull(sr.SpecialPayment,0)-isnull(srp.Amount,0)) as SpPayDiff,Mismtach
 from #SRIDSWithDrawalTemp  SR 
 outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sra.ScaleRegisterWithDrawalID,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount 
 from ScaleRegisterAllowanceWithdrawals sra with(Nolock) where AllowanceID in (38) and ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID Group by sra.ScaleRegisterWithDrawalID,AllowanceID) as sra where Amount<>0  group by ScaleRegisterWithDrawalID)  as srp 
 )
 update SpclPayWithdraw set SpecialPayment= SpPay,Mismtach=1 where SpPayDiff <>0;
 ---------------------------------------------------------------------------------------------------------------
With BonusWithdraw(OLID,ScaleRegisterWithDrawalID,Bonus,BonusAmount,BonusDiff,Mismtach) as 
(select OLID,sr.ScaleRegisterWithDrawalID,sr.Bonus,isnull(sroa1.Amount,0) as BonusAmount,(isnull(sr.Bonus,0)-isnull(sroa1.Amount,0)) as BonusDiff,Mismtach
 from #SRIDSWithDrawalTemp  SR 
 outer apply (select ScaleRegisterWithDrawalID,sum(Amount) as Amount from (select sroa.ScaleRegisterWithDrawalID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount	
 from ScaleRegisterOtherAdditionWithdrawals sroa with(nolock) where sroa.SalaryAdditionOthersID in (3,7) and ScaleRegisterWithDrawalID=sr.ScaleRegisterWithDrawalID
 Group by sroa.ScaleRegisterWithDrawalID,SalaryAdditionOthersID) sroa where Amount<>0 group by ScaleRegisterWithDrawalID) as sroa1 
 )
  update BonusWithdraw set Bonus= BonusAmount,Mismtach=1 where BonusDiff <>0;
  ---------------------------------------------------------------------------------------------------------------

update #SRIDSWithDrawalTemp set NetPayments=(((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(TotalAdditions,0)+isnull(SpecialPayment,0))-(isnull(totalDeductions,0)+isnull(RecoveryAmount,0)))),Mismtach=1
 where (((isnull(Bonus,0)+isnull(TotalBasicPay,0)+isnull(TotalAdditions,0)+isnull(SpecialPayment,0))-(isnull(totalDeductions,0)+isnull(RecoveryAmount,0))))<>isnull(NetPayments,0)

update sr set NetPayments=srt.NetPayments,Bonus=srt.Bonus,TotalBasicPay=srt.TotalBasicPay,TotalAdditions=srt.TotalAdditions,SpecialPayment=srt.SpecialPayment,totalDeductions=srt.totalDeductions,RecoveryAmount=srt.RecoveryAmount
from ScaleRegisterWithdrawals Sr with(nolock) inner join #SRIDSWithDrawalTemp  Srt on Sr.ScaleRegisterWithDrawalID=Srt.ScaleRegisterWithDrawalID
where Mismtach=1;
GO
