USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpsertContractorSupplyDetails_WithBOMCleanup]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpsertContractorSupplyDetails_WithBOMCleanup]
(
    @WorkOrderNo INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check condition
        IF EXISTS
        (
            SELECT 1
            FROM MeasurementBook
            WHERE WorkOrderNo = @WorkOrderNo
              AND Canceled = 0
        )
        BEGIN
            ROLLBACK;
            RETURN;
        END

        ;WITH SurveyAgg AS
        (
            SELECT
                sd.ItemID,
                SUM(sd.survey_quantity) AS survey_quantity
            FROM wpms_survey_master sm
            INNER JOIN wpms_survey_details sd
                ON sm.survey_id = sd.survey_id
            WHERE sm.workorderno = @WorkOrderNo
              AND sm.survey_status = 'Completed'
            GROUP BY sd.ItemID
        )

        UPDATE T
        SET 
            T.Quantity = S.survey_quantity,
            T.Amount   = S.survey_quantity * T.Rate
        FROM ContractorSupplyDetails T
        INNER JOIN ContractorSupplies cs
            ON cs.ContractorSupplyID = T.ContractorSupplyID
        INNER JOIN SurveyAgg S
            ON S.ItemID = T.ItemID
        WHERE cs.DocumentNo = @WorkOrderNo;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;
    END CATCH
END;
GO
