USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_DW_Arrears_Generation]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_DW_Arrears_Generation] 
	@FromDate DateTime ,
	@ToDate DateTime ,
	@AcOLID Int ,
	@ContactID Int 
	
	AS 

--Declare @FromDate DateTime = '2022-04-01' 
--Declare @ToDate DateTime = '2023-04-30' 
--Declare @AcOLID Int = 341   
--Declare @ContactID Int = 1676       



Declare @Suppliment Int = 5            
Declare @SRID3 table (ScaleRegisterID Int) insert into @SRID3
select  ScaleRegisterID from (
select ContactID,ScaleRegisterID,StartingDate,EndingDate,OLID,Suppliment
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID                                 
and StartingDate >= @FromDate and EndingDate<= @ToDate
) A --where Maxno = 1 


Declare @SRID4 Int 
DECLARE Cur3 CURSOR FOR select ScaleRegisterID from @SRID3 Order By ScaleRegisterID 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID4; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

exec SP_DW_Arrears @SRID4

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID4; 
END; CLOSE Cur3; DEALLOCATE Cur3; 


--select a.ContactID,ct.Fileas EmployeeName,Count(*) 'Generated Months' 
--from ScaleRegister A with(nolock) Inner Join Contacts CT with(nolock) on ct.ContactID=a.ContactID
--where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
--and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID  
--and (case when @ContactID=0 then 0 else a.ContactID end) = @ContactID  
--and StartingDate >= @FromDate and EndingDate<= @ToDate 
--Group By a.ContactID,ct.Fileas Order By EmployeeName







GO
