USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeHistory]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_EmployeeHistory]
 @Query Varchar(10),@ContactID Int,@EHID Int,@ContactID1 Int,@APID Int  
 ,@FieldName Varchar(50),@FieldValue Varchar(20),@ValidUpTo Varchar(20)
 ,@FieldName1 Varchar(50),@FieldValue1 Varchar(20),@ValidUpTo1 Varchar(20),@APID1 Int
AS SET NOCOUNT ON 

--Declare @Query Varchar(20) = 'select '
--Declare @ContactID Int = 933
--Declare @EHID Int = 0

--Declare @ContactID1 Int = 0
--Declare @APID Int = 8

--Declare @FieldName Varchar(50) = 'EmployeeStatusID'
--Declare @FieldValue Varchar(20) = '1'
--Declare @ValidUpTo Varchar(20) = '2024-09-30'

--Declare @FieldName1 Varchar(50) = 'ODLDID'
--Declare @FieldValue1 Varchar(20) = '0'
--Declare @ValidUpTo1 Varchar(20) = '--'
--Declare @APID1 Int = 8


IF @Query='Update' 
update a set ContactID=(case when @ContactID1=0 then NULL else @ContactID1 end) ,AppointmentTypeID=@APID
from EmployeeHistory_hrms a with(nolock) where ContactID = @ContactID and EmployeeHistoryID=@EHID

else IF @Query='Update1' 
update a set FieldName=@FieldName,FieldValue=@FieldValue,ValidUpTo=(case when @ValidUpTo='--' then NULL else @ValidUpTo end)
from EmployeeHistory_hrms a with(nolock) where ContactID = @ContactID and EmployeeHistoryID=@EHID

else IF @Query='Import' 
insert into EmployeeHistory_hrms
select @ContactID,@FieldName1,@FieldValue1,(case when @ValidUpTo1='--' then NULL else @ValidUpTo1 end),@APID1

select * from EmployeeHistory_hrms with(nolock) where ContactID = @ContactID and (case when @EHID=0 then 0 else EmployeeHistoryID end)=@EHID
Order By EmployeeHistoryID


   



GO
