USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ContractDocumentReport]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_ContractDocumentReport] @FromD datetime,@ToD datetime,@OLID int   as
--Declare @FromD datetime='2017-04-01'
--Declare @ToD datetime='2018-03-31'
--Declare @OLID int=342

Declare @type int
Declare @id int
Declare @Cfromdate datetime
Declare @Ctodate datetime
Declare @dispH varchar(max) set @dispH=''
Declare @dispN varchar(max) set @dispN=''

Declare db cursor for

select * from (
select 1 Type, ContractDocumentHistoryID,ContractPeriodFromDate,ContractPeriodToDate from ContractDocumentHistory  where ContractPeriodFromDate is not null and ContractPeriodToDate is not null 
and ContractDocumentOLID=@OLID
union
select 2, ContractDocumentNo,ContractFrom,ContractTo from ContractDocument where ContractDocumentOLID=@OLID and Approved=1) as P   order by Type,ContractPeriodFromDate

Open db 

fetch next from db into @type,@id,@Cfromdate,@Ctodate

while @@Fetch_status=0

begin

if (convert(datetime,@FromD,120) between convert(datetime,@Cfromdate,120) and convert(datetime,@Ctodate,120))
                    begin
                        if(@type=1)
                                    set @dispH+= cast(@id as varchar(max)) +','          
                         else 
                                    set @dispN+= cast(@id as varchar(max)) +','      
                    end
else  if((convert(datetime,@ToD,120) between convert(datetime,@Cfromdate,120) and convert(datetime,@Ctodate,120)))
                      begin
                         if(@type=1)
                                    set @dispH+= cast(@id as varchar(max)) +','          
                         else 
                                    set @dispN+= cast(@id as varchar(max)) +','     
                      end

else  if((convert(datetime,@CfromDate,120) between convert(datetime,@FromD,120) and convert(datetime,@ToD,120)))
                      begin
                         if(@type=1)
                                    set @dispH+= cast(@id as varchar(max)) +','          
                         else 
                                    set @dispN+= cast(@id as varchar(max)) +','     
                      end

else  if((convert(datetime,@CtoDate,120) between convert(datetime,@FromD,120) and convert(datetime,@ToD,120)))
                      begin
                         if(@type=1)
                                    set @dispH+= cast(@id as varchar(max)) +','          
                         else 
                                    set @dispN+= cast(@id as varchar(max)) +','     
                      end

fetch next from db into @type,@id,@Cfromdate,@Ctodate


end

--select @dispN

select VendorName,ContractDocNum,BuildLoc,BuildDesc,ContractPeriodFromDate, ContractPeriodToDate, BaseAmt,RentAmt from (
select ROW_NUMBER () over (partition by ContractDocNum  order by type asc) Rn,* from (
   select  distinct 1 Type, g.FileAs VendorName,  b.OfficialReferenceNo ContractDocNum,f.LocationName BuildLoc,d.Description BuildDesc,a.ContractPeriodFromDate,a.ContractPeriodToDate,a.BaseRent BaseAmt,isnull(a.RevisedRentAmount,a.BaseRent) RentAmt
   from ContractDocumentHistory  a inner join ContractDocument b on a.ContractDocumentID=b.ContractDocumentNo
   inner join ContractDocumentDetails c on c.ContractDocumentNo=a.ContractDocumentID 
   inner join Buildings d on d.BuildingID=c.BuildingID
   inner join OfficeLocationAllocation e on c.BuildingOLID=e.OfficeLocationAllocationID
   inner join Location f on f.locationid=e.LocationID
   inner join Contacts g on g.ContactID=b.ContactID
   where contractdocumenthistoryid in(select max(ContractDocumentHistoryID) from ContractDocumentHistory where ContractDocumentHistoryID in(select data from dbo.split(@dispH,',')) group by ContractDocumentID) 
   and contractDocumentID in(select ContractDocumentID from ContractDocumentHistory where OfficialReferenceNo<>'null')
  union
   select  distinct 2,g.FileAs VendorName,b.OfficialReferenceNo ContractDocNum,f.LocationName BuildLoc,d.Description BuildDesc,b.ContractFrom ContractPeriodFromDate,b.ContractTo ContractPeriodToDate,c.rentfixed BaseAmt,c.rentfixed RentAmt
   from ContractDocument b 
   inner join ContractDocumentDetails c on c.ContractDocumentNo=b.ContractDocumentNo 
   inner join Buildings d on d.BuildingID=c.BuildingID
   inner join OfficeLocationAllocation e on c.BuildingOLID=e.OfficeLocationAllocationID
   inner join Location f on f.locationid=e.LocationID
   inner join Contacts g on g.ContactID=b.ContactID
   where b.contractdocumentno in(select data from dbo.split(@dispN,',')) ) as P) as Q
where Rn=1


close db
deallocate db

--exec SP_ContractDocumentReport '2017-11-01','2017-12-31',342

GO
