USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SchedulesnewChanges]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SchedulesnewChanges] @OLID varchar(20),@From varchar(20),@To varchar(20),@SchTypeID varchar(max),@ContCatID  varchar(max), @ContID varchar(max),@ContName varchar(max),
@DocTypeID varchar(max),@DocNo varchar(max) ,@ExtOrgID varchar(max),@ExtBranchID varchar(max)
as




Declare @Condition varchar(max) set @Condition=''
Declare @ConditionYear varchar(max) set @ConditionYear=''
Declare @ConditionYearOB varchar(max) set @ConditionYearOB=''


if @From<>'' and @To<>''
begin
 set @ConditionYear+=' and ScheduleYear*100+ScheduleMonth between '+@From+' and '+@To
 set @ConditionYearOB+=' and ScheduleYear*100+ScheduleMonth < '+@From
end
else 
begin
 set @ConditionYear+=' and ScheduleYear*100+ScheduleMonth<= '+@From + ' and Complete=0'
 
end

if @OLID<>''
   set @Condition+='and ScheduleOLID='+@OLID
 if @SchTypeID<>''
   set @Condition+='and ScheduleTypeID in('+@SchTypeID+')' 
 if @ContCatID<>''
   set @Condition+='and ContactCategoryID='+@ContCatID
 if @ContID<>'' and @ContName<>''
   set @Condition+='and ContactID='+ @ContID   
 if @ContID='' and @ContName<>''
   set @Condition+='and ContactName =''' + @ContName + ''''
 if @ContID<>'' and @ContName=''
   set @Condition+='and ContactID= ' + @ContID
 if @DocTypeID<>''
   set @Condition+='and a.DocumentTypeID='+@DocTypeID
 if @DocNo<>''
   set @Condition+='and a.DocumentNo='''+@DocNo + ''''
 if @ExtOrgID<>'' and @ExtBranchID <>''
   set @Condition+='and ExternalOrganisationID ='+@ExtOrgID +' and ExternalOrganisationBrachID='+@ExtBranchID
 if @ExtOrgID<>'' and @ExtBranchID=''
   set @Condition+='and ExternalOrganisationID ='+@ExtOrgID +' and ExternalOrganisationBrachID is null'

Declare @Sqlstr varchar(max)


if (@ExtOrgID='' and @To<>'')

set @Sqlstr='select Flag, ScheduleDetailsID, CreditJournalVoucherNo, DebitJournalVoucherNo, ScheduleTypeID, DocumentTypeID, DocumentNo, ContactCategoryID, ContactName,ScheduleID, ContactID, ReferenceDate ,MainAccountCode ,
SubAccountCode, ScheduleMonth, ScheduleYear ,ChequeNo,OpeningBalance ,DebitTotal, CreditTotal ,ClosingBalance, SDDocNo ,SDDocTypeID,ReferanceScheduleDetailsid
from (select ROW_NUMBER() OVER(PARTITION BY ContactID,ScheduleTypeID,DocumentNo,ContactCategoryID,DocumentTypeID,ScheduleMonth,ScheduleYear ORDER BY Flag asc) Rn2,*  from (
select 1 Flag ,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,a.DocumentTypeID,
(case when a.DocumentNo='''' then ''0'' else a.DocumentNo end) DocumentNo,ContactCategoryID,ContactName,a.ScheduleID,ContactID,
ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,sum(OpeningBalance) as OpeningBalance ,DebitTotal,CreditTotal,sum(ClosingBalance) as ClosingBalance,
b.DocumentNo SDDocNo,b.DocumentTypeID SDDocTypeID,ReferanceScheduleDetailsid
from  Schedules a with(nolock)
left join ScheduleDetails  b with(nolock) on a.ScheduleID=b.ScheduleID
where 1=1 ' + @ConditionYear + @Condition +
' group by ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,OpeningBalance,DebitTotal,CreditTotal,ClosingBalance,ContactCategoryID,
ContactName,a.ScheduleID,ContactID,b.DocumentNo,b.DocumentTypeID,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ReferanceScheduleDetailsid

union

select 2,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,DocumentTypeID,DocumentNo,ContactCategoryID,ContactName,ScheduleID,ContactID,
ReferenceDate,MainAccountCode,SubAccountCode, substring(cast(ScheduleMonth as varchar(10)),5,6) ScheduleMonth, substring(cast(ScheduleMonth as varchar(10)),1,4) ScheduleYear,ChequeNo, OpeningBalance, DebitTotal,CreditTotal, ClosingBalance ,SDDocNo, SDDocTypeID,ReferanceScheduleDetailsid
from (
select ROW_NUMBER() OVER(PARTITION BY ContactID,ScheduleTypeID,a.DocumentNo,ContactCategoryID,a.DocumentTypeID ORDER BY ScheduleYear desc,ScheduleMonth desc,ScheduleDetailsID desc) Rn,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,a.DocumentTypeID,
(case when a.DocumentNo='''' then ''0'' else a.DocumentNo end) DocumentNo,ContactCategoryID,ContactName,a.ScheduleID,ContactID,
ReferenceDate,MainAccountCode,SubAccountCode,'+@From+' ScheduleMonth,'+@From+' ScheduleYear,ChequeNo,ClosingBalance as OpeningBalance ,DebitTotal,CreditTotal,ClosingBalance as ClosingBalance,
b.DocumentNo SDDocNo,b.DocumentTypeID SDDocTypeID,ReferanceScheduleDetailsid
from  Schedules a with(nolock)
left join ScheduleDetails  b with(nolock) on a.ScheduleID=b.ScheduleID
where  1=1 and Complete=0 /*and OpeningBalance<>0 and DebitTotal <>0 and CreditTotal <>0 and ClosingBalance<>0*/  ' + @ConditionYearOB + @Condition +
' group by ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,OpeningBalance,DebitTotal,CreditTotal,ClosingBalance,ContactCategoryID,
ContactName,a.ScheduleID,ContactID,b.DocumentNo,b.DocumentTypeID,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ReferanceScheduleDetailsid ) as Q
where Rn=1) as P  ) as X where flag=1 or (flag=2 and Rn2=1) order by ScheduleTypeID,MainAccountCode+SubAccountCode,DocumentTypeID,DocumentNo,ScheduleDetailsID '


else if (@ExtOrgID='' and @To='')

set @Sqlstr='select 1 Flag ,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ContactCategoryID,ContactName,a.ScheduleID,ContactID,
ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,sum(OpeningBalance) as OpeningBalance ,DebitTotal,CreditTotal,sum(ClosingBalance) as ClosingBalance,
b.DocumentNo SDDocNo,b.DocumentTypeID SDDocTypeID,ReferanceScheduleDetailsid
from  Schedules a with(nolock)
left join ScheduleDetails  b with(nolock) on a.ScheduleID=b.ScheduleID
where 1=1 ' + @ConditionYear + @Condition +
' group by ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,OpeningBalance,DebitTotal,CreditTotal,ClosingBalance,ContactCategoryID,
ContactName,a.ScheduleID,ContactID,b.DocumentNo,b.DocumentTypeID,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ReferanceScheduleDetailsid
order by ScheduleTypeID,MainAccountCode+SubAccountCode,DocumentTypeID,DocumentNo,ScheduleDetailsID '


else if  (@ExtOrgID<>'' and @To<>'')

set @Sqlstr='select Flag,ScheduleDetailsID, CreditJournalVoucherNo, DebitJournalVoucherNo, ScheduleTypeID, DocumentTypeID, DocumentNo, ExternalOrganisationID, ContactName,ScheduleID, ExternalOrganisationBrachID, ReferenceDate ,MainAccountCode ,
SubAccountCode, ScheduleMonth, ScheduleYear ,ChequeNo,OpeningBalance ,DebitTotal, CreditTotal ,ClosingBalance, SDDocNo ,SDDocTypeID,ReferanceScheduleDetailsid
from (select ROW_NUMBER() OVER(PARTITION BY ExternalOrganisationBrachID,ScheduleTypeID,DocumentNo,ExternalOrganisationID,DocumentTypeID,ScheduleMonth,ScheduleYear ORDER BY Flag asc) Rn2,*  from (select 1 Flag ,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ExternalOrganisationID,ContactName,a.ScheduleID,ExternalOrganisationBrachID,
ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,sum(OpeningBalance) as OpeningBalance ,DebitTotal,CreditTotal,sum(ClosingBalance) as ClosingBalance,
b.DocumentNo SDDocNo,b.DocumentTypeID SDDocTypeID,ReferanceScheduleDetailsid
from  Schedules a with(nolock)
left join ScheduleDetails  b with(nolock) on a.ScheduleID=b.ScheduleID
where 1=1 ' + @ConditionYear + @Condition +
' group by ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,OpeningBalance,DebitTotal,CreditTotal,ClosingBalance,ExternalOrganisationID,
ContactName,a.ScheduleID,ExternalOrganisationBrachID,b.DocumentNo,b.DocumentTypeID,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ReferanceScheduleDetailsid

union

select 2,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,DocumentTypeID,DocumentNo,ExternalOrganisationID,ContactName,ScheduleID,ExternalOrganisationBrachID,
ReferenceDate,MainAccountCode,SubAccountCode, substring(cast(ScheduleMonth as varchar(10)),5,6) ScheduleMonth, substring(cast(ScheduleMonth as varchar(10)),1,4) ScheduleYear,ChequeNo, OpeningBalance, DebitTotal ,CreditTotal, ClosingBalance ,SDDocNo, SDDocTypeID,ReferanceScheduleDetailsid
from (
select ROW_NUMBER() OVER(PARTITION BY ExternalOrganisationBrachID,ScheduleTypeID,a.DocumentNo,ExternalOrganisationID,a.DocumentTypeID ORDER BY ScheduleYear desc,ScheduleMonth desc,ScheduleDetailsID desc) Rn,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ExternalOrganisationID,ContactName,a.ScheduleID,ExternalOrganisationBrachID,
ReferenceDate,MainAccountCode,SubAccountCode,'+@From+' ScheduleMonth,'+@From+' ScheduleYear,ChequeNo,ClosingBalance as OpeningBalance ,0 DebitTotal,0 CreditTotal,ClosingBalance as ClosingBalance,
 b.DocumentNo SDDocNo,b.DocumentTypeID SDDocTypeID,ReferanceScheduleDetailsid
from  Schedules a with(nolock)
left join ScheduleDetails  b with(nolock) on a.ScheduleID=b.ScheduleID
where  1=1 and Complete=0 /*and OpeningBalance<>0 and DebitTotal <>0 and CreditTotal <>0 and ClosingBalance<>0*/ ' + @ConditionYearOB + @Condition +
' /*group by ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,OpeningBalance,DebitTotal,CreditTotal,ClosingBalance,ExternalOrganisationID,
ContactName,a.ScheduleID,ExternalOrganisationBrachID,b.DocumentNo,b.DocumentTypeID,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ReferanceScheduleDetailsid */) as Q
where Rn=1) as P  ) as X where flag=1 or (flag=2 and Rn2=1)  order by ScheduleTypeID,MainAccountCode+SubAccountCode,DocumentTypeID,DocumentNo,ScheduleDetailsID '


else if  (@ExtOrgID<>'' and @To='')

set @Sqlstr='select 1 Flag ,ScheduleDetailsID,CreditJournalVoucherNo,CreditJournalVoucherNo,ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ExternalOrganisationID,ContactName,a.ScheduleID,ExternalOrganisationBrachID,
ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,sum(OpeningBalance) as OpeningBalance ,DebitTotal,CreditTotal,sum(ClosingBalance) as ClosingBalance,
 b.DocumentNo SDDocNo,b.DocumentTypeID SDDocTypeID,ReferanceScheduleDetailsid
from  Schedules a with(nolock)
left join ScheduleDetails  b with(nolock) on a.ScheduleID=b.ScheduleID
where 1=1 ' + @ConditionYear + @Condition +
' group by ScheduleTypeID,a.DocumentTypeID,a.DocumentNo,ReferenceDate,MainAccountCode,SubAccountCode,ScheduleMonth,ScheduleYear,ChequeNo,OpeningBalance,DebitTotal,CreditTotal,ClosingBalance,ExternalOrganisationID,
ContactName,a.ScheduleID,ExternalOrganisationBrachID,b.DocumentNo,b.DocumentTypeID,ScheduleDetailsID,CreditJournalVoucherNo,DebitJournalVoucherNo,ReferanceScheduleDetailsid
order by ScheduleTypeID,MainAccountCode+SubAccountCode,DocumentTypeID,DocumentNo,ScheduleDetailsID '


exec (@Sqlstr);
GO
