USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_VacancyReport]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VacancyReport] @OLID varchar(1000),@DesignationIDs Varchar(1000),@Param varchar(50),@SelectedOfficID int,@SelectedLocationID varchar(1000),@AsOnDate DateTime

as

set nocount on;

--Declare @OLID varchar(1000),@DesignationIDs Varchar(1000),@Param varchar(50),@SelectedOfficID int,@SelectedLocationID varchar(1000),@AsOnDate DateTime
--set @OLID=337
--set @DesignationIDs='0'
--set @Param='Abstract'
--set @SelectedOfficID=2
--set @SelectedLocationID =1
--set @AsOnDate=''

--------Declare @AsOnDate DateTime set  @AsOnDate=cast(getdate() as date)

Declare @OfficeLocationTemp Table (OLID Int)
insert into @OfficeLocationTemp
select data from [Split](@OLID,',')

 
 
Declare @OfficeLocationDetails Table (OLID Int,OfficeID int,LocationID int,OrderNo Int)

IF @SelectedOfficID  in( 1,2,3,4)
insert into @OfficeLocationDetails 
select A.OLID,OfficeID,LocationID,OrderNo from OfficeLocationAccountingUnitDetails  A  with(nolock) inner join @OfficeLocationTemp  B on 
(CorporateOLID=B.OLID or ZonalOLID=B.OLID or CircleOLID=B.OLID or DivisionOLID=B.OLID or SubDivisionOLID=B.OLID or a.OLID=B.OLID)
else 
insert into @OfficeLocationDetails 
select A.OLID,OfficeID,LocationID,OrderNo from OfficeLocationAccountingUnitDetails   A with(nolock) inner join @OfficeLocationTemp  B on (AcOLID=B.OLID or a.OLID=B.OLID)



Declare @VacancyReport Table(ODLDAllocatedPostDetailsID int,DesOrderNo int,DesName varchar(100),OLIDOrderNO int,PlaceofWorking varchar(500),
Sanctioned varchar(5),Working Varchar(5),Vacant Varchar(5),Designation Varchar(50),Cadre int,
EmployeeName varchar(100),ContactID int,PINNo varchar(20),Gender varchar(20),DateOfBirth datetime,DateOfEntryintoService datetime,DateofReportToPresentLocation datetime
,DateofReportedDToPresentPost datetime,Caste varchar(20),Subcaste varchar(50),InchargeDescription varchar(1000),LienDescription varchar(1000),
Deputation varchar(10),PhoneNumber varchar(50),Quallification varchar(50),EmployeeGrade varchar(10)
)

;
 

 
With VacancyReport as(

select  DesignationName+'('+DesignationCode+')' as DesName,OfficeName+' '+d.departmentname+' '+T.LocationName as PlaceofWorking,c.ODLDAllocatedPostDetailsID,B.OrderNo as OLIDOrderNO,  des.orderno as DesOrderNo,c.AllocatedPost as Sanctioned, DesignationCode as Designation, k.EmployeeCadreTypeID as Cadre,
isnull(g.Fileas,'') as EmployeeName,E.ContactID as ContactID,isnull(PINNo,'') as PINNo,isnull(Sex,'') as Gender,DateOfBirth,DateOfEntryintoService,DateofReportToPresentLocation
,DateofReportedDToPresentPost,isnull(F.Religion,'') as Caste  ,isnull(R.Description,'') as Subcaste,
(case when E.AppointmentTypeID in(6,7,25,43,44) then 'Yes' Else isnull([InchargeDescription],'No') End) as [InchargeDescription]
 ,(case when E.AppointmentTypeID in(23,47) then 'Yes' else case when SanctionedODLDID=C.ODLDID then Isnull(LienDescription,'No') else 'No' end end)[LienDescription]
  ,(case when F.EmployeeStatusID=19 then 'Yes' else 'No' end) as Deputation,isnull(ContactNumber,'') as PhoneNumber
, (case when isnull(e.ContactID,0)=0 then '' else ISNULL(j.Description,'Non Graduate') End) as Quallification
,row_number() over(partition by c.ODLDAllocatedPostDetailsID order by c.ODLDAllocatedPostDetailsID,des.orderno) as RowNum,
isnull((case when v.EmployeeGradeID=1 then 'A' else case when v.EmployeeGradeID=2 then 'B' else case when v.EmployeeGradeID=3 then 'C' 
else case when v.EmployeeGradeID=4 then 'D' end end end end),'') as EmployeeGrade


from ODLDAllocation a with(nolock) 
inner join @OfficeLocationDetails b  on a.officeid = b.officeid and a.locationid = b.locationid   and (case when @DesignationIDs='0' then 0 else a.DesignationID End) in (select data from [Split](@DesignationIDs,','))
inner join ODLDAllocatedPostDetails c with(nolock) on a.odldid = c.odldid  and c.Approved=1  
inner join Department d with(nolock) on a.departmentid = d.departmentid 
inner join DesignationHierarchyOrder_Config des with(nolock) on a.Designationid = des.Designationid 

outer apply (
select ODLDAllocatedPostDetailsID,ContactID,ReportedDate as DateofReportToPresentLocation,AppointmentTypeID   from ODLDAllocatedPostDetailsSub with(nolock)  where ODLDAllocatedPostDetailsID=c.ODLDAllocatedPostDetailsID  and isnull(contactid,0)>0
union 
select ODLDAllocatedPostDetailsID,ContactID,ValidUpto as DateofReportToPresentLocation,AppointmentTypeID  from ODLDAllocatedPostDetailsSubHistory  with(nolock) where ODLDAllocatedPostDetailsID=c.ODLDAllocatedPostDetailsID   and isnull(contactid,0)>0 and ValidUpto >=@AsOnDate) E

left join Employee F on E.ContactID=F.ContactID
left join Contacts G on E.ContactID=G.ContactID

outer apply (select ReportedDate as DateOfEntryintoService,row_number() over(partition by contactid order by EmployeeAppointmentDetailsID asc) as RowNum
        from EmployeeAppointmentDetails where ContactID=E.ContactID and AppointmentTypeID in(1,26) )H 

outer apply (Select top(1) ISNULL(C.Description,'Non Graduate') AS Description from   EmployeeQualifications B with(Nolock)   
        left join EmployeeQualificationTypes c with(Nolock) on (case when b.EmployeeQualificationTypeID in(3,1) then b.EmployeeQualificationTypeID else 0 end)=   c.EmployeeQualificationTypeID 
        WHERE b.ContactID=E.ContactID order by (case when B.EmployeeQualificationTypeID=3 then 1 else case when  B.EmployeeQualificationTypeId=1 then 2 else  3 end  end) asc) J
left join EmployeeCadreTypeDesignationAllocation K on A.DesignationID=k.DesignationID and K.EmployeeCategoryID=f.EmployeeCategoryID
left join Designation L on A.DesignationID=l.DesignationID

outer apply (select reporteddate as DateofReportedDToPresentPost  from(select  cast(cast((case when AppointmentTypeID in(23,47,6,7,25,43,44,46)
        then relievedtime else  reportedtime  end)  as int) as datetime) ReportedDate, 	row_number() over(partition by contactid order by cast(cast((case when AppointmentTypeID in(23,47,6,7,25,43,44,46)
        then relievedtime else  reportedtime  end)  as int) as datetime) asc)RowNum from EmployeeAppointmentDetails with(nolock) 
        where contactid=E.ContactID and toodldid in(select distinct  ODLDID from ODLDAllocation with(nolock) where designationid in (select distinct  designationid 
        from ODLDAllocation with(nolock) where ODLDID=c.ODLDID))and reported=1 and approved=1)Temp where RowNum in(0,1)) M
         
Outer Apply(select FromODLDID as SanctionedODLDID from employeeappointmentdetails where contactid=E.ContactID and AppointmentTypeID in(23,47) 
and Regularised=0 and approved=1 and reported=1) N			 	 
            
Outer apply (SELECT  Stuff((SELECT ';  ' + Temp.Description FROM (
select  DesignationCode+' '+d1.DepartmentCode+','+c1.officecode +' '+locationname as Description
from ODLDAllocation B1 with(nolock) inner join Office c1 on b1.officeid=c1.officeid
 inner join Department d1 with(nolock)  on b1.departmentid=d1.departmentid 
inner join Designation e1 with(nolock)  on b1.designationid=e1.designationid 
inner join location f1 with(nolock ) on b1.locationid = f1.locationid 
inner join employeeappointmentdetails G1 with(nolock ) on B1.ODLDID=G1.ToODLDID and    AppointmentTypeID in(6,25,43,44,7) and Regularised=0 and approved=1 and reported=1 and G1.ContactID=E.ContactID
where G1.COntactID=E.ContactID)
Temp   FOR XML PATH(''), TYPE).value('.', 'varchar(max)') 
            , 1
            , 1
            , '') AS [InchargeDescription] )  O


Outer apply (SELECT  Stuff((SELECT ';  ' + Temp.Description FROM (
select  DesignationCode+' '+d1.DepartmentCode+','+c1.officecode +' '+locationname as Description
from ODLDAllocation B1 with(nolock) inner join Office c1 on b1.officeid=c1.officeid
 inner join Department d1 with(nolock)  on b1.departmentid=d1.departmentid 
inner join Designation e1 with(nolock)  on b1.designationid=e1.designationid 
inner join location f1 with(nolock ) on b1.locationid = f1.locationid 
inner join employeeappointmentdetails G1 with(nolock ) on B1.ODLDID=G1.ToODLDID and    AppointmentTypeID in(23,47) and Regularised=0 and approved=1 and reported=1 and G1.ContactID=E.ContactID
where G1.COntactID=E.ContactID)
 
Temp   FOR XML PATH(''), TYPE).value('.', 'varchar(max)') 
            , 1
            , 1
            , '') AS [LienDescription] )  P

left join contactdetails Q with(nolock)  on E.ContactID=q.ContactId
left join CastTypes R with(nolock)  on F.CasteTypeID=r.CasteTypeID

outer apply (select ContactNumber from (Select  isnull((case when isnull(AreaCode,'')!='' then  isnull(AreaCode,'')+'-' end)+ isnull(LocalNumber,''),'') as ContactNumber  ,
ROW_NUMBER() over(partition by contactid order by  (case when PhoneCategoryID=10 then 0 else PhoneCategoryID end)) RowNum
from ContactPhoneDetails with(nolock)  where   ContactID=E.ContactID)Temp where RowNum=1)S

left join Location T on A.LocationID=T.LocationID
left join Office U on A.OfficeID=U.OfficeID
left join EmployeeGradeDesignationAllocation V on A.DesignationID=V.DesignationID

where  (case when isnull(AllocatedPost,0)=0 and    isnull(E.ContactID,0)=0 then 0 else 1 end)=1
and  (case when RowNum!=1 then 0 else 1 end)=1 

)

insert into @VacancyReport
 select ODLDAllocatedPostDetailsID,DesOrderNo,DesName,OLIDOrderNO,PlaceofWorking,(case when RowNum=1 then cast(Sanctioned as varchar)  else '' end)  as Sanctioned	,(case when RowNum=1 then cast(b.Working as varchar)  else '' end) as Working,(case when RowNum=1 then cast(Sanctioned-b.Working as varchar) else '' end) as Vacant
,Designation,Cadre,EmployeeName,ContactID,PINNo,Gender,DateOfBirth,DateOfEntryintoService,DateofReportToPresentLocation,DateofReportedDToPresentPost,Caste,Subcaste,
(case when isnull(contactid,0)=0 then ''  else InchargeDescription end) as InchargeDescription,(case when isnull(contactid,0)=0 then ''  else LienDescription end) as LienDescription ,
(case when isnull(contactid,0)=0 then ''  else Deputation end) as Deputation ,PhoneNumber,Quallification,EmployeeGrade --into #VacancyReport
    from VacancyReport A cross apply
    (select count(contactid)  as Working from VacancyReport where ODLDAllocatedPostDetailsID=A.ODLDAllocatedPostDetailsID) B
    Order by DesOrderNo,Designation,OLIDOrderNO,ODLDAllocatedPostDetailsID
     

If(@Param='Detailed')
Begin

select  EmployeeGrade,PlaceofWorking,Sanctioned Sanctioned,  Working, Vacant
,Designation,Cadre,EmployeeName,ContactID,PINNo,Gender,DateOfBirth,DateOfEntryintoService,DateofReportToPresentLocation,DateofReportedDToPresentPost,Caste,Subcaste,InchargeDescription,LienDescription,
Deputation,PhoneNumber,Quallification 
 from @VacancyReport
 Order by DesOrderNo,Designation,OLIDOrderNO,ODLDAllocatedPostDetailsID
  End

  

If(@Param='Abstract')
Begin

select PlaceofWorking,sum(cast(Sanctioned as int)) as Sanctioned,	sum(Cast(Working as int)) as Working,sum(cast(Vacant as int)) as Vacant from @VacancyReport
group by OLIDOrderNO,PlaceofWorking order by OLIDOrderNO,PlaceofWorking
 
  End
   
If(@Param='Gradewise')
Begin

select isnull(EmployeeGrade,'') as EmployeeGrade,DesName,sum(cast(Sanctioned as int)) as Sanctioned,	sum(Cast(Working as int)) as Working,sum(cast(Vacant as int)) as Vacant 
from @VacancyReport
group by isnull(EmployeeGrade,'') ,DesName,DesOrderNo  order by EmployeeGrade,DesName,DesOrderNo
 
  End;
GO
