USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReseedIdentity]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_ReseedIdentity]
(
    @TableName SYSNAME
    , @IdentityColumn SYSNAME
)
AS 
BEGIN

/** Sanity Checking **/
IF @TableName IS NULL OR @IdentityColumn IS NULL
BEGIN
    ;THROW 50000, 'Must specify table name and Identity column name.', 1;
END

IF OBJECT_ID(@TableName) IS NULL
BEGIN
    ;THROW 50000, 'Tablename does not exist.', 1;
END

IF NOT EXISTS (SELECT TOP (1) 1 FROM sys.columns AS C WHERE C.name = @IdentityColumn AND C.object_id = OBJECT_ID(@TableName))
BEGIN
    ;THROW 50000, 'Identity column is not found on specified table.', 1;
END

/** Reset Identity
    Assumes Identity column is an INT
    **/
DECLARE @SQLCommand NVARCHAR(4000)

SET @SQLCommand = N'
    DECLARE @MaxID INT;
    SET @MaxID = COALESCE((SELECT MAX(' + QUOTENAME(@IdentityColumn) + ') FROM ' + QUOTENAME(@TableName) + '), 1);

    DBCC CHECKIDENT(' + QUOTENAME(@TableName, '''') + ', RESEED, @MaxID);
    ';

select @SQLCommand;

END


GO
