USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_SCALEREGISTER]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEL_SCALEREGISTER](
	@SRID varchar(MAX))AS 

Declare @SRIDNew  varchar(MAX)
set @SRIDNew=''
SET NOCOUNT ON

select @SRIDNew=ISNULL(@SRIDNew,'')+cast(ScaleRegisterID as varchar)+',' from ScaleRegister with(nolock)
where  ScaleRegisterID in(select data from split(@SRID,',')) and BillRegisterDate is null and BillRegisterNo='0'
 
 delete from EmployeeApplicationScaleRegisterDetailsSub
  where scaleregisterid in (select Data from split(@SRIDNew,','))
 
 delete from scaleregisterotheradditions where scaleregisterid in ( select Data from split(@SRIDNew,','))
 
 delete from scaleregisterloansandadvances where scaleregisterid in (  select Data from split(@SRIDNew,','))

 delete  from scaleregisterOtherDeductions where scaleregisterid in (select Data from split(@SRIDNew,','))

 delete from scaleregisterAllowances where scaleregisterid in (  select Data from split(@SRIDNew,','))

 delete from scaleregisterbasicpaydetails where scaleregisterid in ( select Data from split(@SRIDNew,','))
 
 delete from scaleregisterrecovery where scaleregisterid in ( select Data from split(@SRIDNew,','))

 delete from ScaleRegisterAllowanceWithdrawals where ScaleRegisterWithdrawalid in (select ScaleRegisterWithdrawalid from ScaleRegisterWithdrawals with(nolock)
 where scaleregisterid in (select Data from split(@SRIDNew,',')))

 delete from ScaleRegisterBasicPayWithdrawals where ScaleRegisterWithdrawalid in ( select ScaleRegisterWithdrawalid from ScaleRegisterWithdrawals with(nolock) where scaleregisterid in (
select Data from split(@SRIDNew,',')))

 delete from ScaleRegisterLoanandAdvanceWithdrawals where ScaleRegisterWithdrawalid in (select ScaleRegisterWithdrawalid from ScaleRegisterWithdrawals with(nolock) where scaleregisterid in (
select Data from split(@SRIDNew,',')))


 delete from ScaleRegisterOtherDeductionWithdrawals where ScaleRegisterWithdrawalid in ( select ScaleRegisterWithdrawalid from ScaleRegisterWithdrawals 
 with(nolock) where scaleregisterid in
 (select Data from split(@SRIDNew,',')))
 
 delete from ScaleRegisterOtherAdditionWithdrawals where ScaleRegisterWithdrawalid in (select ScaleRegisterWithdrawalid from ScaleRegisterWithdrawals
  with(nolock) where scaleregisterid in (select Data from split(@SRIDNew,',')))

 delete from ScaleRegisterRecoveryWithdrawals where ScaleRegisterWithdrawalid in 
 (select ScaleRegisterWithdrawalid from ScaleRegisterWithdrawals with(nolock) where scaleregisterid in  (select Data from split(@SRIDNew,',')))

 delete from ScaleRegisterWithdrawals where scaleregisterid in ( select Data from split(@SRIDNew,','))

 delete  from scaleregister   Where ScaleRegisterID in (select Data from split(@SRIDNew,',')) and Scaleregisterid not in (select Scaleregisterid from ScaleRegisterAttendences with(nolock) WHERE scaleregisterID=scaleregister.scaleregisterID)

 update scaleregister set AnnualIncrementDate=NULL,Bonus=NULL,Attendance=NULL,TotalBasicPay=NULL,TotalAdditions=NULL,TotalDeductions=NULL,NetPayments=NULL,SpecialPayment=NULL,RecoveryAmount=NULL,Generated=0, Heldup=NULL,BillRegisterNo='0',BillRegisterOLID=NULL,BillRegisterDate=NULL,CreatedOn=''
from scaleregister sr  Where ScaleRegisterID in (select Data from split(@SRIDNew,','))
and Scaleregisterid  in  (select Scaleregisterid from ScaleRegisterAttendences WHERE scaleregisterID=SR.scaleregisterID)

GO
