USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Activity_Approval_HRMS]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_Activity_Approval_HRMS] @Query varchar(10),@ActivityID Int,@ContactID Int,@Proposal varchar(max),@MaxNo Int
,@ActivityID1 Int,@DocumentNo Int,@OLID Int,@ODLDID Int,@ContactID1 Int,@DateTime Varchar(20),@StatusID Int,@Remarks Varchar(500),@NextODLDID Int,@NextContactID Int
,@ApprovalID varchar(max),@DocNo Int
AS SET NOCOUNT ON 

--Declare @Query varchar(10) = 'Select' 
--Declare @ActivityID Int  = 623
--Declare @ContactID Int = 0
--Declare @Proposal varchar(max) = '0' 
--Declare @MaxNo Int = 0
--Declare @DocNo Int  = 2609


--Declare @ActivityID1 Int  = 0
--Declare @DocumentNo Int  = 0
--Declare @OLID Int  = 0
--Declare @ODLDID Int  = 0
--Declare @ContactID1 Int  = 0
--Declare @DateTime Varchar(20)  = '2024-11-01 17:00:00'
--Declare @StatusID Int  = 0
--Declare @Remarks Varchar(500)  = 'Manual Imported'
--Declare @NextODLDID Int  = 0
--Declare @NextContactID Int  = 0

--Declare @ApprovalID varchar(max) = '0' 


IF @Query='Import' 
 insert into ActivityApprovals_hrms 
select @ActivityID1,@DocumentNo,@OLID,@ODLDID,@ContactID1,@DateTime,@StatusID,@Remarks,(case when @NextODLDID=0 then NULL else @NextODLDID end),(case when @NextContactID=0 then NULL else @NextContactID end),0 SuperUser,0 SuperUserID,@OLID,@ODLDID 

else IF @Query='Update' 
update a set ActivityID=@ActivityID1,DocumentNo=@DocumentNo,ApproverOLID=@OLID,ApproverODLDID=@ODLDID,ApproverContactID=@ContactID1,DateAndTime=@DateTime,StatusID=@StatusID,Remarks=@Remarks,NextApproverODLDID=(case when @NextODLDID=0 then NULL else @NextODLDID end),NextApproverContactID=(case when @NextContactID=0 then NULL else @NextContactID end)
from ActivityApprovals_hrms a with(nolock) where ActivityApprovalID in (select * from split(@ApprovalID,','))


else IF @Query='Import1' 
 insert into ActivityApprovals_hrms 
select ActivityID,DocumentNo,OLID,NextApproverODLDID,NextApproverContactID,GetDate(),1,'Manual Imported',NULL,NULL,0,0,OLID,NextApproverODLDID
from ActivityApprovals_hrms a Inner Join ODLDAllocation b with(nolock) on b.ODLDID=NextApproverODLDID
Inner Join OfficeLocationAccountingUnitDetails c with(nolock) on c.OfficeID=b.OfficeID and c.LocationID=b.LocationID
where ActivityApprovalID in (select * from split(@ApprovalID,','))

else IF @Query='Delete' 
delete from ActivityApprovals_hrms where ActivityApprovalID in (select * from split(@ApprovalID,','))


select ActivityApprovalID,a.ActivityID,ActivityDescription,a.DocumentNo,(case when @MaxNo=0 and @ApprovalID not in ('0') then 0 else MaxNo end)
,ApproverOLID OLID,ApproverODLDID ODLDID,ApproverContactID ContactID,ct1.Fileas ApproverName,(dn1.DesignationName+' ('+dp1.DepartmentName+')') ApproverDesignation
,DateAndTime,s.Description Status
,NextApproverODLDID NextODLDID,NextApproverContactID NextContactID,ct.Fileas NextApproverName,(dn.DesignationName+' ('+dp.DepartmentName+')') NextApproverDesignation,ol.AcOLID,ol.OfficeLocation
,ea.EmployeeApplicationID ProposalID,ol1.OfficeLocation ProposalOfficeLocation from (
select MaxNo,ActivityApprovalID,ActivityID,DocumentNo,ApproverOLID,ApproverODLDID,ApproverContactID,DateAndTime,StatusID,NextApproverODLDID,NextApproverContactID from ( 
select  * ,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from ActivityApprovals_hrms with(nolock) where ActivityID = (case when @ActivityID=0 then ActivityID else @ActivityID end)
) A where (case when @MaxNo=0 then 0 else NextApproverContactID end) is not null 
and (case when @ContactID=0 then 0 else NextApproverContactID end) = @ContactID 
and (case when @Proposal='0' then 0 else DocumentNo end) in ( select distinct (case when @Proposal='0' then 0 else EmployeeApplicationDetailsID end) from EmployeeApplicationDetails with(nolock) where (case when @Proposal='0' then 0 else EmployeeApplicationID end) in (select * from split(@Proposal,',') )) 
and (case when @ApprovalID='0' then 0 when @ApprovalID='-1' then '-1' else ActivityApprovalID end) in (select * from split(@ApprovalID,',') )
and (case when @MaxNo=0 and @DocNo not in ('0') then 0 else MaxNo end)=@MaxNo 
and (case when @DocNo=0 then 0 else DocumentNo end) = @DocNo 
) A left Join Activity B with(nolock) on b.ActivityID=a.ActivityID
left Join Status_Config s on s.StatusID=a.StatusID
left Join ODLDAllocation C1 with(nolock) on c1.ODLDID=ApproverODLDID
left Join OfficeLocationAccountingUnitDetails OL2 with(nolock) on ol2.OfficeID=c1.OfficeID and ol2.LocationID=c1.LocationID
left Join Designation DN1 with(nolock) on dn1.DesignationID=c1.DesignationID
left Join Department DP1 with(nolock) on dp1.DepartmentID=c1.DepartmentID
left Join Contacts ct1 with(nolock) on ct1.ContactID=a.ApproverContactID
left Join ODLDAllocation C with(nolock) on c.ODLDID=NextApproverODLDID
left Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OfficeID=c.OfficeID and ol.LocationID=c.LocationID
left Join Designation DN with(nolock) on dn.DesignationID=c.DesignationID
left Join Department DP with(nolock) on dp.DepartmentID=c.DepartmentID
left Join Contacts ct with(nolock) on ct.ContactID=a.NextApproverContactID
left Join EmployeeApplicationDetails EAD with(nolock) on ead.EmployeeApplicationDetailsID=(case when @Proposal='0' then 0 else a.DocumentNo end)
left Join EmployeeApplication EA with(nolock) on ea.EmployeeApplicationID = ead.EmployeeApplicationID
Left  Join OfficeLocationAccountingUnitDetails OL1 on ol1.OLID=isnull(ead.OLID,ea.OLID) 
Order By AcOLID,ProposalID,DocumentNo,DateAndTime






GO
