USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_Users]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_Users]

@ContactID as int , @UserName as varchar(50) , @Password as varbinary(50), @FromDate as datetime  , 
@ToDate as datetime , @PermanentUser as bit , @Active as bit , @CreatedBy as int ,
@CreatedOn as datetime ,@FingerPrint as varbinary(500) , @Mode as bit , @Logged  as bit ,
@Disconnected as bit , @CreatedTerminal as varchar(50)



	


	
	
AS
BEGIN 


INSERT INTO Users
(ContactID,UserName, Password , FromDate , ToDate, PermanentUser , Active , CreatedBy ,
CreatedOn , FingerPrint , Mode , Logged , Disconnected ,CreatedTerminal)
VALUES  
(@ContactID,@UserName, @Password ,@FromDate , @ToDate, @PermanentUser , @Active , @CreatedBy ,
@CreatedOn , @FingerPrint, @Mode , @Logged , @Disconnected ,@CreatedTerminal)

	
	
	

    
	
END;
GO
