USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_OLWisePaySlip1]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OLWisePaySlip1]
	@Config varchar(200), 
	@OLID int,
	@Year int ,
	@Month int,
	@BRNo varchar(50) 



AS 
SET NOCOUNT ON


Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)



Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where OLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 



Declare @Contact table (SlNo int,ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50))
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct Row_Number() over (order by contactid) as SlNo,ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo from FnOLD() 
' insert into @Contact exec (@ContactSql) 


Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null and ol.OLID in ('+cast(@OLID as varchar(6))+')
' insert into @ODLD exec (@ODLDSql) 


Declare @Bnk table (BankID int,BranchID int,BankName varchar(100),BranchName varchar(100),BranchAddress varchar(500)) 
Declare @BnkSql varchar(Max) Set @BnkSql='
	select eo.ExternalOrganisationID as BankID,eob.ExternalOrganisationBranchID as BranchID,eo.Name as BankName,eob.Name BranchName,eob.StreetName
	from  ExternalOrganisations eo 
	left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationID=eo.ExternalOrganisationID 
' insert into @Bnk exec (@BnkSql)



Declare @SRB table (ScaleRegisterID int,OLID int,CID int,ODLDID int,EmployeeStatusID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),Ordering varchar(6),EmployeeGradeID varchar(6),LocationCode varchar(100))
insert into @SRB
select distinct ScaleRegisterID,ol.OLID,CID ,srb.ODLDID,EmployeeStatusID ,OfficeName,LocationName,DesignationName,DepartmentName,Ordering,EmployeeGradeID,LocationCode
from @ODLD ol full join FnMaxSRBODLDID4() srb on isnull(srb.ODLDID,0)=isnull(ol.ODLDID,0)
where  srb.Date in (select Max(srb1.Date) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and srb1.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)) 
and srb.ScaleRegisterID in (select Min(srb1.ScaleRegisterID) from FnMaxSRBODLDID4() srb1 where srb1.CID=srb.CID and srb1.Date = srb.Date) 


and srb.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1)
and isnull(ol.OLID,0)<>0


Declare @SR3 table (ContactID int,Generated int,BillRegisterNo varchar(50)) 
insert into @SR3
select distinct ContactID,Generated,BillregisterNo
from @AOLID a full join FnSRNew() sr1 on sr1.SalaryTypeID=1 and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month and sr1.OLID=a.AcOLID
where isnull(a.OLID,0)<>0



Declare @SR1 table (ODLDID int,EmployeeStatusID int,SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime,Generated int) 
insert into @SR1
select distinct srb.ODLDID,EmployeeStatusID,sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,isnull(sr.BillRegisterNo,'0') as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate,sr.generated
from @SRB srb left outer join FnSRNew() sr on sr.ContactID=srb.CID 
left outer join @SR3 sr1 on sr1.ContactID=sr.ContactID
where sr.YearID in (@Year) and sr.MonthID in (@Month) 
and (case when isnull(sr.Suppliment,0) in (2,7) and isnull(sr.BillRegisterNo,'0')='0' then '2' else 
case when isnull(sr.Suppliment,0)=3 and isnull(sr.BillRegisterNo,'0')='0' then '3' else 
case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and isnull(sr.BillRegisterNo,'0')='0' then isnull(sr.BillRegisterNo,'0') else  
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID<>2 then '1' else 
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID=2 and (sr1.ContactID is NULL or sr1.generated =0 or isnull(sr1.BillRegisterNo,'0')<>'0') then '1' else isnull(sr.BillRegisterNo,'0') end end end end end ) in (@BRNo)





Declare @SRD1 table (SlNo int,ContactID int,ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,BranchID int) 
insert into @SRD1
select Row_Number() over (Partition By sr.ContactID,srd.ScaleRegisterID Order By sr.ContactID,srd.ScaleRegisterID) as SlNo,sr.ContactID,srd.ScaleRegisterID
,max(case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end) as Types
,max(case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end) as TypesID
,max(case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 30 else TypeID end) as TypeID,BankID
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end) as Amount,srd.BankTypeID ,srd.BranchID
from @SR1 sr inner join FnSRADNew() srd  on sr.ScaleRegisterID=srd.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,srd.BankTypeID,sr.ContactID,srd.BranchID
having sum(isnull(DiffAmount,0))<>0



Declare @GroupID table (SlNo int,GroupID int) 
insert into @GroupID
select SlNo,((max(SlNo+1)/2)) as GroupID from @Contact group by SlNo 


Declare @SR table (GroupID int,SlNo int,ContactID int,MonthID int,YearID int,MonthDesc varchar(10),NetPayments money,Words varchar(500),OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),Generated int,Ordering varchar(6),EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(20)) 
insert into @SR

select g.GroupID,sr.*,c.EmployeeName,c.Bank,c.Branch,c.BankAcNo,c.PanCardNo from (
select Row_Number()  over (Order By OfficeName,LocationName,Ordering,ContactID) as SlNo,* from (
select distinct sr.ContactID,Month(sr.BillRegisterDate) as MonthID,Year(sr.BillRegisterDate) as YearID,datename(month,sr.BillRegisterDate) as MonthDesc
,uf1.Amount as NetPayments,dbo.fnNumToWords(isnull(uf1.Amount,0)) as Words,OfficeName,LocationName,DesignationName,sr.Generated,Ordering
from @SR1 sr 
left outer join @SRB ol on ol.CID=sr.ContactID

inner join ( select ContactID,sum(case when TypesID in (1,2,3) then isnull(Amount,0) else isnull(-Amount,0) end) as AMount 
from @SRD1 group by ContactID ) uf1 on uf1.ContactID=sr.ContactID 

) as A
) as sr left outer join @GroupID g on g.SlNo=sr.SlNo left outer join @Contact c on c.contactid=sr.ContactID


Declare @SRD table (ContactID int,SlNo int)
insert into @SRD
select Distinct ContactID,srd.SlNo from @SRD1 srd 


Declare @ASRD table (ContactID int ,TypeID int,TypesDesc varchar(100),Amount money,SlNo int)
insert into @ASRD

select ContactID,TypeID,TypesDesc,sum(isnull(Amount,0)) as Amount,SlNo from (
select Distinct sr.ContactID,srd.ScaleregisterID,srd.TypeID,(case when srd.TypesID=1 then 'Basic Pay' else TypesDesc end) as TypesDesc,sum(srd.Amount) as Amount,Row_Number() Over (Partition by srd.ScaleregisterID Order by srd.ScaleregisterID,d.Ordering) as SlNo
from @SRD1 srd 
inner join @SR1 sr on sr.ScaleregisterID=srd.ScaleregisterID and sr.ContactID=srd.ContactID
left outer join @Desc d on d.TypeID=srd.TypeID and d.TYpesID=srd.TypesID
where d.ATypeID=1 and d.Ordering is not NULL 
group by sr.ContactID,srd.ScaleregisterID,srd.TypesID,d.Ordering,TypesDesc,srd.TypeID 
) as A group by ContactID,TypeID,TypesDesc,SlNo


Declare @DSRD table (ContactID int ,TypeID int,TypesDesc varchar(100),Amount money,SlNo int) 
insert into @DSRD
select ContactID,TypeID,TypesDesc,sum(isnull(Amount,0)) as Amount,Row_Number() Over (Partition by ContactID Order by ContactID,Ordering) as SlNo 
from (
select Distinct sr.ContactID,srd.TypeID
,(case when srd.TypeID=17 and srd.BankID=86 then 'PLI' else case when isnull(srd.BankTypeID,0) not in (0,13) and srd.TypesID=6 then 'Recovery '+' - '+(isnull(BankName,'')+'  '+isnull(BranchName,'')) else TypesDesc end end) as TypesDesc
,sum(srd.Amount) as Amount,d.Ordering 
from @SRD1 srd 
inner join @SR1 sr on sr.ScaleregisterID=srd.ScaleregisterID and sr.ContactID=srd.ContactID
left outer join @Desc d on d.TypeID=srd.TypeID and d.TYpesID=srd.TypesID
left outer join @Bnk bn on bn.BankID=srd.BankID and bn.BranchID=srd.BranchID
where d.ATypeID=2 and d.Ordering is not NULL 
group by sr.YearID,sr.MonthID,sr.ContactID,srd.TypesID,d.Ordering,srd.TypeID
,(case when srd.TypeID=17 and srd.BankID=86 then 'PLI' else case when isnull(srd.BankTypeID,0) not in (0,13) and srd.TypesID=6 then 'Recovery '+' - '+(isnull(BankName,'')+'  '+isnull(BranchName,'')) else TypesDesc end end)
) as B group by ContactID,TypeID,TypesDesc,Ordering


Declare @ED table (ContactID int,SlNo int,Earnings varchar(100),EAmount money,Deductions varchar(100),DAmount money)
insert into @ED
select srd.ContactID,srd.SlNo,a.TypesDesc as Earnings,a.Amount,d.TypesDesc as Deductions,d.Amount
from @SRD srd left outer join @ASRD a on a.SlNo=srd.SlNo and a.ContactID=srd.ContactID
left outer join @DSRD d on d.SlNo=srd.SlNo and d.ContactID=srd.ContactID
where (isnull(a.Amount,0)+isnull(d.Amount,0))<>0 


select distinct OfficeName as A,LocationName as B,YearID as C,MonthDesc as D,EmployeeName as E,DesignationName as F,BankAcNo as G,Bank as H,Branch as I
,Earnings as J,(isnull(EAmount,0)) as K,Deductions as L,(isnull(DAmount,0)) as M,NetPayments as N,Words as O,GroupID as P,sr.ContactID as Q,sr.SlNo,ed.SlNo as SlNo1,sr.MonthID
from @SR sr left outer join @ED ed on ed.ContactID=sr.ContactID 
order by A,B,sr.SlNo,ed.SlNo;
GO
