USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_DA_Arrears_Generation_Bulk]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_DA_Arrears_Generation_Bulk] 
	@FromDate Varchar(10) ,
	@ToDate Varchar(10) ,
	@AcOLID Int ,
	@ContactID Int 
	
AS SET NOCOUNT ON


--Declare @FromDate Varchar(10) = '2023-01-01' 
--Declare @ToDate Varchar(10) = '2023-05-31' 
--Declare @AcOLID Int = 341   
--Declare @ContactID Int = 266 


Declare @Suppliment Int = 12  
Declare @SRID3 table (ContactID Int) insert into @SRID3
select distinct ContactID from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment not in (2,7,3,4,5,8,15,16,17,18) and EmployeeCategoryID=1 and OLID=@AcOLID    
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID   
and StartingDate >= @FromDate and EndingDate<= @ToDate


Declare @SRID4 Int 
DECLARE Cur4 CURSOR FOR select ContactID from @SRID3 Order By ContactID 
--------------------------------------------------------
OPEN Cur4; FETCH NEXT FROM Cur4 INTO @SRID4; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

exec SP_DA_Arrears_Generation @FromDate,@ToDate,@AcOLID,@SRID4

--------------------------------------------------------
;FETCH NEXT FROM Cur4 INTO @SRID4; 
END; CLOSE Cur4; DEALLOCATE Cur4; 


select a.ContactID,ct.Fileas EmployeeName,Count(*) 'Generated Months' 
from ScaleRegister A with(nolock) Inner Join Contacts CT with(nolock) on ct.ContactID=a.ContactID
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID  
and (case when @ContactID=0 then 0 else a.ContactID end) = @ContactID  
and StartingDate >= @FromDate and EndingDate<= @ToDate 
Group By a.ContactID,ct.Fileas Order By EmployeeName






GO
