USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_AttendanceEntry_Allocation]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AttendanceEntry_Allocation]
 @Query Varchar(10),@EODDID Int,@OLDID Int,@OLID Int,@ODDID Int,@ODDID1 Int,@ODDID2 Int,@ODDID3 Int 
 AS SET NOCOUNT ON 

--Declare @Query Varchar(100) = 'Select'
--Declare @EODDID Int = 0
--Declare @OLDID Int = 0
--Declare @OLID Int = 10021

--Declare @ODDID Int = 0 
--Declare @ODDID1 Int = 0  
--Declare @ODDID2 Int = 0 
--Declare @ODDID3 Int = 0 


IF @Query='Import' 
 insert into AttendanceEntryAllocation 
select distinct top 1 (case when @ODDID=0 then NULL else @ODDID end),(case when @ODDID1=0 then NULL else @ODDID1 end),(case when @ODDID2=0 then NULL else @ODDID2 end),(case when @ODDID3=0 then NULL else @ODDID3 end)
,ODDID,a.OfficeID,a.DepartmentID,UnderDepartmentID,a.DesignationID,EmployeeGradeID,OrderNo,'' Remarks 
from AllDetails A with(nolock) inner join DesignationHierarchyOrder_Config B with(nolock) on b.DesignationID=a.DesignationID
left join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=a.OfficeID and c.DepartmentID=a.DepartmentID
where ODDID = @EODDID and ContactID is not NULL

else IF @Query='Update' 
update a set LoginODDID=(case when @ODDID=0 then NULL else @ODDID end),LoginODDID1=(case when @ODDID1=0 then NULL else @ODDID1 end),LoginODDID2=(case when @ODDID2=0 then NULL else @ODDID2 end),LoginODDID3=(case when @ODDID3=0 then NULL else @ODDID3 end) 
from AttendanceEntryAllocation a with(nolock) where ODDID in ( @EODDID ) 


select * from AttendanceEntryAllocation with(nolock) where ODDID in ( @EODDID ) 


GO
