USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SR_AdditionDetails]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_SR_AdditionDetails]
 @Query Varchar(100),@SRID Int,@ColumnID Int,@ODLDID Int,@TypeID Int,@FromDate DateTime,@ToDate DateTime,@Amount Money,@Remarks Varchar(500)
AS SET NOCOUNT ON


--Declare @Query Varchar(100) = 'Select'
--Declare @SRID Int = 1453
--Declare @ColumnID Int = 0

--Declare @ODLDID Int = 601
--Declare @TypeID Int = 1
--Declare @FromDate DateTime = '2024-02-01'
--Declare @ToDate DateTime = '2024-02-29'
--Declare @Amount Money = 3315
--Declare @Remarks Varchar(500) = ''


IF (@Query='Import' )
 insert into ScaleRegisterOtherAdditions
select @SRID,@ODLDID,@TypeID,@FromDate,@ToDate,@Amount,0,@Remarks 
else IF (@Query='Update' )
 update a set SalaryOtherAdditionID=@TypeID,ODLDID=@ODLDID,StartingDate=@FromDate,EndingDate=@ToDate,Amount=@Amount,Expired=0,Remarks=@Remarks 
from ScaleRegisterOtherAdditions a with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterOtherAdditionsID end)=@ColumnID
and (case when @TypeID=0 then 0 else SalaryOtherAdditionID end)=@TypeID

select ScaleRegisterID SRID,ODLDID,SalaryOtherAdditionID,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,Amount,cast(Expired as Int) Expired,ScaleRegisterOtherAdditionsID SROAID,Remarks 
from ScaleRegisterOtherAdditions with(nolock) where ScaleRegisterID=@SRID 
and (case when @ColumnID=0 then 0 else ScaleRegisterOtherAdditionsID end)=@ColumnID
and (case when @TypeID=0 then 0 else SalaryOtherAdditionID end)=@TypeID
Order By SalaryOtherAdditionID,Amount




GO
