USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SRRateGiveResultsFromTemp3]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SRRateGiveResultsFromTemp3]  @FromYear int,@ToYear int,@EffectiveDate datetime,@BatchNo bigint
as

select Replace (REPLACE(REPLACE(isnull(e.Description,''), CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'')  StockType,a.ItemID, replace(b.MaterialCode,' ','') MaterialCode,Replace (REPLACE(REPLACE(b.Description, CHAR(13), ' '), CHAR(10), ' '),CHAR(9),'') Description,c.UnitOfMeasure,isnull(a.Price,0) 'Existing_2016-17','SR Rates pending for current Effective Date' Remarks
from SRStock a
inner join MaterialCode b on a.ItemID=b.ItemID
inner join UnitOfMeasure c on a.UnitID=c.UnitID
left join Stock d on a.ItemID=d.ItemID
left join StockType e on d.StockTypeID=e.StockTypeID
where a.ItemID not in(select ItemID from SRRateTemp where ItemID=a.ItemID and Updated=0 and EffectiveDate=@EffectiveDate and FromYear=@FromYear and ToYear=@ToYear)
order by b.MaterialCode;
GO
