USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSanctionEstimateOthersWorkAllocationDetails_TenderedPremium]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetSanctionEstimateOthersWorkAllocationDetails_TenderedPremium] @LabAmount money,@MatAmount money, @SanctionEstimateNoParam Int,@WorkAllocationSubIDParam int
AS 
SET NOCOUNT ON

declare @Lab float 
declare @Mat float set @Lab=@LabAmount 
set @Mat=@MatAmount
select a.SanctionEstimateNo as SanctionEstimateNo ,a.SanctionEstimateOLID as OLID,a.CivilWorkOtherTypeID as CivilWorkOtherTypeID,b.Description as Description ,a.Source as Source,a.WorkAllocationID as WorkAllocationID, 
a.WorkAllocationSubID as WorkAllocationSubID,a.Percentage as Percentage, cast((a.Amount) as  decimal(16,2)) as Amount, cast((a.ActualAmount) as decimal(16,2)) as ActualAmount, 
(select case a.CivilWorkOtherTypeID 
when 1 then round((c.percentage/100*@Lab ),2) when 4 then round((d.Percentage/100)*(@Lab +isnull((c.percentage/100*@Lab ),0)+isnull(((o.Percentage/100)* @Lab),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 5 then round((e.Percentage/100)*( @Lab+@Mat+isnull((c.percentage/100*@Lab ),0)+isnull(((o.Percentage/100)* @Lab),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 6 then round((f.Percentage/100)*( @Lab+@Mat+isnull((c.percentage/100*@Lab ),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 14 then round((g.Percentage/100)*@Mat,2) 
when 15 then round((h.Percentage/100)*(@Lab +isnull((c.percentage/100*@Lab ),0)+isnull(((o.Percentage/100)* @Lab),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 16 then round((i.Percentage/100)*(@Lab +isnull((c.percentage/100*@Lab ),0)+isnull(((o.Percentage/100)* @Lab),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 17 then round((j.Percentage/100)*(@Lab +isnull((c.percentage/100*@Lab ),0)+isnull(((o.Percentage/100)* @Lab),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 18 then round(a.Amount,2) 
when 19 then round(a.Amount,2) 
when 20 then round(a.Amount,2) 
when 21 then round((k.Percentage/100)*( @Lab+@Mat+isnull((c.percentage/100*@Lab ),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
when 22 then round((l.Percentage/100)*@Mat,2) when 24 then round((m.Percentage/100)*@Mat,2) 
when 25 then round((p.Percentage/100)*(@Mat+@Lab+( round(isnull((c.percentage/100*@Lab ),0),2) )+(round((n.Percentage/100)*@Lab,2) )),2) 
when 26 then round((q.Percentage/100)*(@Lab+(round(isnull((c.percentage/100*@Lab ),0),2)+(round((n.Percentage/100)*@Lab,2) ))),2) 
when 27 then round((n.Percentage/100)*@Lab,2) 
when 28 then round((o.Percentage/100)* @Lab,2) 
when 33 then (a.Amount ) when 40 then (a.Amount ) 
when 42 then round((r.Percentage/100)*( @Lab+@Mat+isnull((c.percentage/100*@Lab ),0)+isnull(((o.Percentage/100)* @Lab),0)+ isnull(((n.Percentage/100)*@Lab),0)),2) 
end ) as AwardAmount 
from SanctionEstimateOthersWorkAllocation a  with(nolock)
inner join CivilWorkOtherTypes b with(nolock) on a.CivilWorkOtherTypeID=b.CivilWorkOtherTypeID 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=1) as c on a.SanctionEstimateNo=c.SanctionEstimateNo and a.WorkAllocationSubID=c.WorkAllocationSubID and a.workallocationid=c.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=4) as d on a.SanctionEstimateNo=d.SanctionEstimateNo and a.WorkAllocationSubID=d.WorkAllocationSubID and a.workallocationid=d.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=5) as e on a.SanctionEstimateNo=e.SanctionEstimateNo and a.WorkAllocationSubID=e.WorkAllocationSubID and a.workallocationid=e.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=6) as f on a.SanctionEstimateNo=f.SanctionEstimateNo and a.WorkAllocationSubID=f.WorkAllocationSubID and a.workallocationid=f.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=14) as g on a.SanctionEstimateNo=g.SanctionEstimateNo and a.WorkAllocationSubID=g.WorkAllocationSubID and a.workallocationid=g.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=15) as h on a.SanctionEstimateNo=h.SanctionEstimateNo and a.WorkAllocationSubID=h.WorkAllocationSubID and a.workallocationid=h.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=16) as i on a.SanctionEstimateNo=i.SanctionEstimateNo and a.WorkAllocationSubID=i.WorkAllocationSubID and a.workallocationid=i.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=17) as j on a.SanctionEstimateNo=j.SanctionEstimateNo and a.WorkAllocationSubID=j.WorkAllocationSubID and a.workallocationid=j.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=21) as k on a.SanctionEstimateNo=k.SanctionEstimateNo and a.WorkAllocationSubID=k.WorkAllocationSubID and a.workallocationid=k.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=22) as l on a.SanctionEstimateNo=l.SanctionEstimateNo and a.WorkAllocationSubID=l.WorkAllocationSubID and a.workallocationid=l.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=24) as m on a.SanctionEstimateNo=m.SanctionEstimateNo and a.WorkAllocationSubID=m.WorkAllocationSubID and a.workallocationid=m.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=25) as p on a.SanctionEstimateNo=p.SanctionEstimateNo and a.WorkAllocationSubID=p.WorkAllocationSubID and a.workallocationid=p.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=26) as q on a.SanctionEstimateNo=q.SanctionEstimateNo and a.WorkAllocationSubID=q.WorkAllocationSubID and a.workallocationid=q.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=27) as n on a.SanctionEstimateNo=n.SanctionEstimateNo and a.WorkAllocationSubID=n.WorkAllocationSubID and a.workallocationid=n.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=28) as o on a.SanctionEstimateNo=o.SanctionEstimateNo and a.WorkAllocationSubID=o.WorkAllocationSubID and a.workallocationid=o.workallocationid 
left Outer Join 
(select SanctionEstimateNo,WorkAllocationID,isnull(Amount,0) as Amount,isnull(Percentage,0) as Percentage,WorkAllocationSubID ,CivilWorkOtherTypeID 
from SanctionEstimateOthersWorkAllocation with(nolock) where CivilWorkOtherTypeID=42) as r on a.SanctionEstimateNo=r.SanctionEstimateNo and a.WorkAllocationSubID=r.WorkAllocationSubID and a.workallocationid=r.workallocationid 
where a.SanctionEstimateNo=@SanctionEstimateNoParam and  a.WorkAllocationSubID=@WorkAllocationSubIDParam;
GO
