USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ArrearsReportNew]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ArrearsReportNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON


Declare @SR1 table (SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID

,isnull(sr.BillRegisterNo,'0') as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr 
where sr.YearID in (@Year) and sr.MonthID in (@Month) and isnull(SalaryID,0)<>1 and sr.OLID in (@OLID) 
and (case when isnull(sr.Suppliment,0) in (2,7) and isnull(sr.BillRegisterNo,'0')='0' then '2' else 
case when isnull(sr.Suppliment,0)=3 and isnull(sr.BillRegisterNo,'0')='0' then '3' else 
case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and isnull(sr.BillRegisterNo,'0')='0' then isnull(sr.BillRegisterNo,'0') else  
case when isnull(sr.BillRegisterNo,'0')='0' and sr.SalaryTypeID<>2 then '1' else isnull(sr.BillRegisterNo,'0') end end end end ) in (@BRNo)




Declare @SRD3 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,TGAmount money,GAmount money,Diff money) 
insert into @SRD3

select srd.ScaleRegisterID,Types,TypesID,TypeID,sum(isnull(TGAmount,0)) as TGAmount,sum(isnull(GAmount,0)) as GAmount,sum(isnull(DiffAmount,0)) as Diff
from FnSRADNew() srd inner join @SR1 sr on sr.ScaleRegisterID=srd.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
and SalaryTypeID in (1,3) 
group by srd.ScaleRegisterID,Types,TypesID,TypeID


Declare @SRD4 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,TGAmount money,GAmount money,Diff money) 
insert into @SRD4
select srd.ScaleRegisterID,'RC' as Types,6 as TypesID,35 as TypeID,sum(isnull(TGAmount,0)) as TGAmount,sum(isnull(GAmount,0)) as GAmount
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end) as Diff
from FnSRADNew() srd inner join @SR1 sr on sr.ScaleRegisterID=srd.ScaleRegisterID
where (case when TypesID<>3 then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else TypeID end end)<>0
and SalaryTypeID in (2) 
group by srd.ScaleRegisterID,Types,TypesID,TypeID
having sum(isnull(DiffAmount,0))<>0


Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,TGAmount money,GAmount money,Diff money) 

If (select isnull((select max(ScaleRegisterID) from @SRD3),0))=0 
insert into @SRD1 select * from @SRD3 else 
insert into @SRD1 select * from @SRD3 union all select * from @SRD4



Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)


Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OfficeID int,DesignationID int,DepartmentID int,OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OfficeID,ol.DesignationID,ol.DepartmentID,OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @AcUnit table (OLID int,Ordering int,Ordered int,SlNo int)
Declare @AcUnitSql varchar(Max) Set @AcUnitSql='
select OLID,Ordering,Ordered,SlNo from FnAcUnit() where AcOLID in('+cast(@OLID as varchar(10))+') 
' insert into @AcUnit exec (@AcUnitSql) 



Declare @Arr table (BRNo varchar(50),BRDate varchar(12),Ordering varchar(6),ContactID int ,YearID int,MonthDesc varchar(12),AYearID int,AMonthID int,MnYr varchar(10),OfficeName varchar(100),LocationName varchar(100),EmployeeName varchar(100),DesignationName varchar(100),TobeBasic money,TobeDP money,TobeDA money,TobeHRA money,TobeCPC money,TobeOthers money,PaidBasic money,PaidDP money,PaidDA money,PaidHRA money,PaidCPC money,PaidOthers money,DiffBasic money,DiffDP money,DiffDA money,DiffHRA money,DIffCPC money,DiffOthers money,PT money,FBF money,HRARent_WC money,CPCD money,EPCD money,IT money,OtherD money,LA_RC money,OL varchar(200),OLID int,DesignationID int,DepartmentID int) 
insert into @Arr

select distinct sr.BillRegisterNo as BRNo,convert(varchar,sr.BillRegisterDate,103) as BRDate,ol.Ordering,sr.ContactID,Year(sr.BillRegisterDate) as YearID,datename(Month,BillRegisterDate) as MonthDesc,sr.YearID as AyearID,sr.MonthID as AMonthID
,(left(datename(Month,sr.StartingDate),3)+'-'+right(cast(sr.YearID as varchar(4)),2)) as MnYr,ol1.OfficeName,ol1.LocationName,ct.EmployeeName,ol.DesignationName
,Sum(case when srd.TypesID=1 and srd.TypeID=1 then TGAmount else 0 end) as TobeBasic
,Sum(case when srd.TypesID=2 and srd.TypeID=20 then TGAmount else 0 end) as TobeDP
,Sum(case when srd.TypesID=2 and srd.TypeID=1 then TGAmount else 0 end) as TobeDA
,Sum(case when srd.TypesID=2 and srd.TypeID=2 then TGAmount else 0 end) as TobeHRA
,Sum(case when srd.TypesID=3 and srd.TypeID in (13,16) then TGAmount else 0 end) as TobeCPC
,Sum(case when srd.TypesID=2 and srd.TypeID not in (20,1,2) then TGAmount else case when srd.TypesID=3 and srd.TypeID not in (13,16,14,15) then TGAmount else 0 end end) as TobeOthers

,Sum(case when srd.TypesID=1 and srd.TypeID=1 then GAmount else 0 end) as PaidBasic
,Sum(case when srd.TypesID=2 and srd.TypeID=20 then GAmount else 0 end) as PaidDP
,Sum(case when srd.TypesID=2 and srd.TypeID=1 then GAmount else 0 end) as PaidDA
,Sum(case when srd.TypesID=2 and srd.TypeID=2 then GAmount else 0 end) as PaidHRA
,Sum(case when srd.TypesID=3 and srd.TypeID in (13,16) then GAmount else 0 end) as PaidCPC
,Sum(case when srd.TypesID=2 and srd.TypeID not in (20,1,2) then GAmount else case when srd.TypesID=3 and srd.TypeID not in (13,16,14,15) then GAmount else 0 end end) as PaidOthers

,Sum(case when srd.TypesID=1 and srd.TypeID=1 then srd.Diff else 0 end) as DiffBasic
,Sum(case when srd.TypesID=2 and srd.TypeID=20 then srd.Diff else 0 end) as DiffDP
,Sum(case when srd.TypesID=2 and srd.TypeID=1 then srd.Diff else 0 end) as DiffDA
,Sum(case when srd.TypesID=2 and srd.TypeID=2 then srd.Diff else 0 end) as DiffHRA
,Sum(case when srd.TypesID=3 and srd.TypeID in (13,16) then srd.Diff else 0 end) as DiffCPC
,Sum(case when srd.TypesID=2 and srd.TypeID not in (20,1,2) then srd.Diff else case when srd.TypesID=3 and srd.TypeID not in (13,16,14,15) then srd.Diff else 0 end end) as DiffOthers


,Sum(case when srd.TypesID=4 and srd.TypeID=3 then srd.Diff else 0 end) as PT
,Sum(case when srd.TypesID=4 and srd.TypeID=11 then srd.Diff else 0 end) as FBF
,Sum(case when srd.TypesID=4 and srd.TypeID in (10,20,15,21) then srd.Diff else 0 end) as Rent_WC
,Sum(case when srd.TypesID=4 and srd.TypeID=17 then srd.Diff else 0 end) as CPCD
,Sum(case when srd.TypesID=4 and srd.TypeID=13 then srd.Diff else 0 end) as EPCD
,Sum(case when srd.TypesID=4 and srd.TypeID=2 then srd.Diff else 0 end) as IT
,Sum(case when srd.TypesID=4 and srd.TypeID not in (2,3,11,10,20,15,21,17,13) then srd.Diff else 0 end) as OtherD
,Sum(case when srd.TypesID in (5,6) then srd.Diff else 0 end) as LA_RC
,(ol.OfficeName+'  '+ol.LocationName) as OL,ol.OLID,ol.DesignationID,ol.DepartmentID

from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1
left outer join @SRD1 srd on srd.ScaleRegisterID=sr.ScaleRegisterID
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
inner join @ODLD ol on ol.OLID in (select OLID from @AOLID) and ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID

left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeID=srd.TypeID

group by sr.BillRegisterNo,ol.Ordering,sr.ContactID,sr.BillRegisterDate,sr.YearID,sr.MonthID,ol1.OfficeName,ol1.LocationName,ct.EmployeeName,ol.DesignationName,sr.StartingDate
,ol.OfficeID,ol.OfficeName,ol.LocationName,ol.OLID,ol.DesignationID,ol.DepartmentID


Declare @Arr1 table (A varchar(100),B varchar(100),C int,D varchar(20),E varchar(100),F varchar(100),G varchar(10),H money,I money,J money,K money,L money,M money,N money,O money,P money,Q money,R money,S money,T money,U money,V money,W money,X money,Y money,Z money,AA money,AB money,AC money,AD money,AE money,AF money,AG money,AH money,AI money,AJ int,AK varchar(20),AL int,AM varchar(100),AN varchar(100),AO varchar(200),Ordering int,Ordered int,SlNo int,Ordering1 varchar(6),DepartmentID int,AYearID int,AMonthID int) 
insert into @Arr1


select OfficeName as A,LocationName as B,YearID as C,MonthDesc as D,EmployeeName as E,DesignationName as F,MnYr as G
,(case when (DiffDA+DiffHRA)<>0 then TobeBasic else 0 end) as H
,(case when (DiffDA+DiffHRA)<>0 then TobeDP else 0 end) as I
,(case when DiffDA<>0 then TobeDA else 0 end) as J
,(case when DiffHRA<>0 then TobeHRA else 0 end) as K
,(case when TobeDA<>0 then TobeCPC else 0 end) as L
,(case when DiffOthers<>0 then TobeOthers else 0 end) as M
,(case when (DiffDA+DiffHRA)<>0 then PaidBasic else 0 end) as N
,(case when (DiffDA+DiffHRA)<>0 then PaidDP else 0 end) as O
,(case when DiffDA<>0 then PaidDA else 0 end) as P
,(case when DiffHRA<>0 then PaidHRA else 0 end) as Q
,(case when PaidDA<>0 then PaidCPC else 0 end) as R
,(case when DiffOthers<>0 then PaidOthers else 0 end) as S
,DiffBasic as T,DiffDP as U,DiffDA as V,DiffHRA as W,DiffCPC as X,DiffOthers as Y
,(DiffBasic+DiffDP+DiffDA+DiffHRA+DIffCPC+DiffOthers) as Z
,PT as AA,FBF as AB,HRARent_WC as AC,CPCD as AD,EPCD as AE,IT as AF,OtherD as AG,LA_RC as AH
,((DiffBasic+DiffDP+DiffDA+DiffHRA+DIffCPC+DiffOthers) - (PT+FBF+HRARent_WC+CPCD+EPCD+IT+OtherD+LA_RC)) as AI
,BRNo as AJ,BRDate as AK,Nos as AL
,(case when (ROW_NUMBER() OVER(PARTITION BY a.ContactID,a.OLID,a.DesignationID ORDER BY a.ContactID,a.OLID,a.DesignationID,AyearID,AMonthID ))=1 then EmployeeName else NULL end) as AM
,(case when (ROW_NUMBER() OVER(PARTITION BY a.ContactID,a.OLID,a.DesignationID ORDER BY a.ContactID,a.OLID,a.DesignationID,AyearID,AMonthID ))=1 then DesignationName else NULL end) as AN,OL as AO
,ac.Ordering,ac.Ordered,ac.SlNo,a.Ordering as Ordering1,DepartmentID,AYearID,AMonthID
from @Arr a left outer join @AcUnit ac on ac.OLID=a.OLID
left outer join (select ContactID,count(contactID) as Nos from @Arr where ((DiffBasic+DiffDP+DiffDA+DiffHRA+DIffCPC+DiffOthers) - (PT+FBF+HRARent_WC+CPCD+EPCD+IT+OtherD+LA_RC))<>0 group by ContactID) as b on b.ContactID=a.ContactID
where (((DiffBasic+DiffDP+DiffDA+DiffHRA+DIffCPC+DiffOthers) - (PT+FBF+HRARent_WC+CPCD+EPCD+IT+OtherD+LA_RC))+(DiffBasic+DiffDP+DiffDA+DiffHRA+DIffCPC+DiffOthers))<>0
order by Ordering,Ordered,SlNo,Ordering1,EmployeeName,AYearID,AMonthID


select A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,AA,AB,AC,AD,AE,AF,AG,AH,AI,AJ,AK,AL,AM,AN



from @Arr1;
GO
