USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_budgetaccountRevenueotherthan765]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure [dbo].[sp_budgetaccountRevenueotherthan765]    @olid int,@date1  date,@date2  date,@YearFrom int ,@YearTo int
AS

set nocount on


Declare @BudgetGrantID int,@Description varchar(500),@AccH varchar(100)

DECLARE db_cursor CURSOR FOR

(select a.BudgetGrantID,b.Description,concat(isnull(a.MainAccountCode,'') ,isnull(a.SubAccountCode,'')) AccH
from BudgetGrant a with(nolock)
inner join BudgetGrantTypes b on a.BudgetGrantTypeID=b.BudgetGrantTypeID
where a.BudgetGrantOLID =@olid
and a.YearFrom=@YearFrom and a.YearTo =@YearTo  and b.BudgetGrantMainTypeID in(6) and a.LocationCode<>'765 - Compilation Branch Corporate Office')

OPEN db_cursor

FETCH NEXT FROM db_cursor INTO @BudgetGrantID ,@Description,@AccH

WHILE @@FETCH_STATUS = 0
BEGIN

declare @BudControlID int=(select BudgetControlID from BudgetControl where BudgetGrantID=@BudgetGrantID)

declare @BudGrantTypeid int =(select BudgetGrantTypeID from BudgetGrant where BudgetGrantID=@BudgetGrantID)
declare @Final table (BudgetGran int,Description varchar(500),AccH varchar(500),Allotted money,Expenditure money,Balance money)
declare @Budget table (BudgetControlDetailsID int,BudgetGrantID int,DocumentNo int,DocumentDate datetime,FromBudgetGrantTypeID int,ToBudgetGrantTypeID int ,Amount money, CalculatedBalance money,Type Varchar(200) )

insert into @Budget
select F.*,00-sum(Amount) over(order by DocumentDate) as CalculatedBalance, (case when SIGN(Amount)=-1 and BudgetControlDetailsID=0 then 'Credit' else 'Debit' end) Type
from
(select a.BudgetControlDetailsID,b.BudgetGrantID,a.BillRegisterNo,ap.DateAndTime as  DocumentDate,0 as FromBudgetGrantTypeID,0 as ToBudgetGrantTypeID,Amount
from BudgetControlDetails_accounts a  with(nolock)
inner join ActivityApprovals_Accounts  ap with(nolock) on ap.DocumentNo=a.BillRegisterNo and ap.StatusID=1
inner join BudgetControl b with(nolock) on a.BudgetControlID=b.BudgetControlID
inner join BudgetGrant g with(nolock) on g.BudgetGrantID=b.BudgetGrantID
where b.BudgetControlID=@BudControlID  and convert(date,ap.DateAndTime,104) between @date1   and @date2    
and ActivityID in(121,135,28,85,75,100,127,56,60,32,104,101,82,86,267)  
union
(Select 0 as BudgetControlDetailsID, BudgetGrantID,0 as DocumentNo, BudgetGrantTransferDate as DocumentDate,FromBudgetGrantTypeID, ToBudgetGrantTypeID,(case when ToBudgetGrantTypeID= @BudGrantTypeid then -TransferedBalance else TransferedBalance end) as Amount
from BudgetGrantTransfer with(nolock)
where convert(date,BudgetGrantTransferDate,104) between @date1  and @date2   and (FromBudgetGrantTypeID= @BudGrantTypeid OR ToBudgetGrantTypeID= @BudGrantTypeid)
and BudgetGrantOLID =@olid and Approved=1)
union
(select 0 as BudgetControlDetailsID,BudgetGrantID,0 as DocumentNo,Date as DocumentDate,0 as FromBudgetGrantTypeID,0 as ToBudgetGrantTypeID ,-Amount
from BudgetGrantExtension with(nolock) where BudgetGrantID= @BudgetGrantID and convert(date,Date,104) between @date1  and @date2   )
union
(select 0 as BudgetControlDetailsID,BudgetGrantID,0 as DocumentNo,ExtendedDate as DocumentDate,0 as FromBudgetGrantTypeID,0 as ToBudgetGrantTypeID , -InitialAmount as Amount
from BudgetGrantDetails with(nolock) where BudgetGrantID=@BudgetGrantID and InitialAmount<>0)
)F order by f.DocumentDate



insert into @Final
select @BudgetGrantID ,@Description,@AccH,cast(Sum(case when type='Credit' then amount else 0 end)*(-1)as Varchar) Allotted, cast(Sum(case when type='Debit' then amount else 0 end)as Varchar) Expenditure,
cast( (Sum(case when type='Credit' then amount else 0 end)*(-1))-(Sum(case when type='Debit' then amount else 0 end))as Varchar) balance
from @Budget

delete from @Budget

 FETCH NEXT FROM db_cursor INTO @BudgetGrantID ,@Description,@AccH
END

select * from @Final
CLOSE db_cursor
DEALLOCATE db_cursor


set nocount off;
GO
