USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_MaterialInventoryReport_old]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  procedure [dbo].[SP_MaterialInventoryReport_old] @SENo int ,@MBNo int as SET NOCOUNT ON


Declare @Status Int select @Status = 1

--Declare @SENo int =186390
--Declare @MBNo int=258648


--Declare @SENo int =202995
--Declare @MBNo int=258352


Declare @AcOL Table (AcOLID Int,SubDivisionOLID Int,OLID Int,OfficeID Int,LocationID Int) Insert Into @AcOL
select a.AcOLID,a.SubDivisionOLID ,b.OLID
,a.OfficeID,a.LocationID
from OfficeLocationAccountingUnitDetails a with(nolock)
Inner Join SanctionEstimate b with(nolock) on  a.OLID=b.OLID and b.SanctionEstimateNo=@SENo


Declare @SE Table (AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money)
Insert Into @SE
select AcOLID,SubDivisionOLID,a.OLID,SanctionEstimateDate,b.Description,b.SanctionEstimateNo,isnull(EIC,0) as EIC
from @AcOL A Inner Join SanctionEstimate B with (nolock) on b.OLID=a.OLID and isnull(Approved,0)=1 and isnull(canceled,0)=0 and b.SanctionEstimateNo in (@SENo)
Left Outer Join ( select SanctionEstimateNo,Round(Round(Sum(Amount),2),0) as EIC from SanctionEstimateOthersWorkAllocation with (nolock) where CivilWorkOtherTypeID=18 and SanctionEstimateNo = @SENo Group By SanctionEstimateNo ) as C on c.SanctionEstimateNo=b.SanctionEstimateNo


Declare @WO Table (WorkAwardNo Int,WorkAwardDate DateTime,WorkOrderNo Int,WorkOrderDate DateTime,AcOLID Int,SubDivisionOLID Int,OLID Int,SEDate DateTime,NameOftheWork Varchar(Max),SENo Int,EIC Money,RateContractNo Int)
Insert Into @WO
select distinct a.WorkAwardNo,a.WorkAwardDate,WorkOrderNo,WorkOrderDate,AcOLID Int,SubDivisionOLID,b.OLID,SEDate,NameOftheWork,SENo,EIC,a.RateContractID
from WorkOrder A with (nolock) Inner Join @SE B on b.SENo=a.SanctionEstimateNo


Declare @MB Table (MeasurementBookID Int,WorkOrderNo Int,MeasurementDate DateTime,SENo Int) Insert Into @MB
select MeasurementBookID,WorkOrderNo,MeasurementDate,SENo from (
select a.* ,SENo,(Row_NUmber() over (Partition By a.WorkOrderNo Order By a.WorkOrderNo,WorkCompletionDate desc,MeasurementBookID desc)) as MaxNo
from MeasurementBook A with (nolock) Inner Join @WO B on b.WorkOrderNo=a.WorkOrderNo
where A.MeasurementBookID=@MBNo and A.CompletionReport= 0) as A


Declare @CR Table (WorkOrderNo Int,CompletionDate DateTime) Insert Into @CR
select WorkOrderNo,CompletionDate from (
select a.WorkOrderNo,CompletionDate,(Row_NUmber() over (Partition By a.WorkOrderNo Order By a.WorkOrderNo,CompletionDate desc,MeasurementBookID desc)) as MaxNo
from CompletionReport A With (NoLock) where isnull(Canceled,0)=0 and Complete=1 and isnull(MeasurementBookID,0)>0 and CompletionDate>0
and WorkOrderNo in ( select WorkOrderNo from @WO B where b.WorkOrderNo=a.WorkOrderNo )
) as A where MaxNo=1


Declare @SI Table (WorkOrderNo Int,StoreInvoiceNo Int,StoreInvoiceDate DateTime) Insert Into @SI
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate from (
select DocumentNo ,StoreInvoiceNo,StoreInvoiceDate,(Row_NUmber() over (Partition By a.DocumentNo Order By a.DocumentNo,StoreInvoiceDate desc,StoreInvoiceNo desc)) as MaxNo
from StoreInvoice_PnI A with (nolock) where DocumentTypeID in (2,22) and isnull(Canceled,0)=0 and Passed=1
and DocumentNo in ( select WorkOrderNo from @WO B where b.WorkOrderNo=a.DocumentNo )
) as A where MaxNo=1


Declare @MBD Table (WONo Int,WorkAllocationID Int,WorkAllocationSubID Int,CWMTypeID Int,ItemID Int,UnitID Int,Rate Float,Quantity Float,Amount Money)
Insert Into @MBD
select WorkOrderNo,WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
from MeasurementBookWorkAllocationDetails A with (nolock)
Inner Join @MB B on b.MeasurementBookID=a.MeasurementBookID
Group By WorkOrderNo,WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,UnitID,Rate
Having Sum(Quantity)!=0

Declare @MBSOil table(MBWADID int,MeasurementBookID int ,MILCWID int,ItemId int,Quantity Money,Rate Money  ,Amount Money)
Insert into  @MBSOil
select a.MeasurementBookWorkAllocationDetailsID,a.MeasurementBookID,a.MILCWID,a.ItemId,Sum(a.Quantity) Quantity,avg(a.Rate)rate  ,Sum(a.Amount)  Amount
from  MeasurementBookSoilTypeDetails a with(nolock)
inner Join  MeasurementBookWorkAllocationDetails b with(nolock) on a.MeasurementBookWorkAllocationDetailsID=b.MeasurementBookWorkAllocationDetailsID
where a.MeasurementBookID=@MBNo
Group by a.MeasurementBookWorkAllocationDetailsID,a.MeasurementBookID,a.MILCWID,a.ItemId

Declare @MBDL Table (CWMTypeID Int,WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,Rate Float)
Insert Into @MBDL
select CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,(Max(Rate1)*LabourQty1) as Rate
from (
select *,
(case when LUnitID=26 and MUnitID=27 then LabourQty else case when LUnitID=27 and MUnitID=27 then LabourQty else 1 end end) as LabourQty1

--,case when LUnitID=14 and MUnitID=27 then Rate else (select value from fn_convertQty(ItemID,LunitID,MUnitID,Rate)) end as Rate1 
,(select value from fn_convertQty(ItemID,LunitID,MUnitID,Rate)) as Rate1 
from (
select a.CWMTypeID,a.WONo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID as LabourID,isnull(b.Quantity,1) as LabourQty,b.UnitID as LUnitID,c.UnitID as MUnitID,Max(a.Rate) as Rate,Sum(a.Quantity) as Quantity,Round(Sum(a.Amount),2) as Amount from (
select CWMTypeID,WONo,WorkAllocationID,WorkAllocationSubID,ItemID,UnitID,Rate,Quantity,(isnull(Quantity,0)*isnull(Rate,0)) as Amount
from @MBD C where c.CWMTypeID=2
) as A Inner Join ( select * from ( select ItemID,CivilWorkLabourTypeID,Quantity,UnitID,(Row_Number() over (Partition By ItemID,CivilWorkLabourTypeID Order By ItemID,CivilWorkLabourTypeID,StockLabourAllocationID Desc)) as MaxNo
from StockLabourAllocation with (nolock)

where CivilWorkLabourTypeID  in(select CivilworkLabourTypeID from CivilWorkLabourTypes where WorkTypeID in(1,6))
) as A where MaxNo=1 ) B on b.CivilWorkLabourTypeID=a.ItemID
Inner Join @MBD C on c.CWMTypeID=4 and c.ItemID=b.ItemID and c.WONo=a.WONo and c.WorkAllocationID=a.WorkAllocationID and c.WorkAllocationSubID=a.WorkAllocationSubID
Group By a.CWMTypeID,a.WONo,a.WorkAllocationID,a.WorkAllocationSubID,b.ItemID,a.ItemID,b.Quantity,b.UnitID,c.UnitID Having Round(Sum(a.Amount),2)!=0
) as A ) as A Group By CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,LabourQty1


Declare @MBDSlNo Table (WONo Int,WorkAllocationID Int,ItemID Int,UnitID Int,Rate Money,Quantity Money,Amount Money,SlNo Int)
Insert Into @MBDSlNo
select * from (
select WONo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
,(Row_Number() over (Partition By a.WONo,a.ItemID Order By a.WONo,a.ItemID,rate,max(WorkAllocationSubID))) as SlNo
from @MBD  a where CWMTypeID=4 Group By WONo,WorkAllocationID,ItemID,UnitID,Rate ) AA
where SlNo>1


Declare @MBDFinal Table (WONo Int,WorkAllocationID Int,ItemID Int,LabourID Int,UnitID Int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo Int)
Insert Into @MBDFinal
select isnull(a.WONo,b.WONo) as WONo,isnull(a.WorkAllocationID,b.WorkAllocationID) as WorkAllocationID,isnull(a.ItemID,b.ItemID) as ItemID,isnull(LabourID,0) as LabourID
,a.UnitID,isnull(a.Rate,0) as MRate,isnull(a.Quantity,0) as MQuantity,(isnull(a.Rate,0)*isnull(a.Quantity,0)) as MAmount
,isnull(b.Rate,0) as LRate,isnull(a.Quantity,0) as LQuantity,(isnull(b.Rate,0)*isnull(a.Quantity,0)) as LAmount
,(Row_Number() over (Partition By a.WONo,a.ItemID Order By a.WONo,a.ItemID,LabourID)) as SlNo
from ( select WONo,WorkAllocationID,ItemID,UnitID,Rate,Sum(Quantity) as Quantity,Sum(Amount) as Amount
from @MBD where CWMTypeID=4 Group By WONo,WorkAllocationID,ItemID,UnitID,Rate ) as A
Full Join @MBDL B on b.ItemID=a.ItemID and b.WONo=a.WONo and b.WorkAllocationID=a.WorkAllocationID

Declare @MBDSub table ( WONo int, MBWAD int,MeasurementBookID int,MILCWID int ,ItemID int,UnitID int ,Quantity Money,Rate Money,Amount Money,workallocationSubID Int)
Insert Into @MBDSub
Select WorkOrderNo, a.MeasurementBookWorkAllocationDetailsID, a.MeasurementBookID,b.MILCWID, b.ItemID,b.UnitID int ,
--b.Quantity,b.Rate,b.Amount,
 ( select case when a.MILCWID=c. MILCWID and b.ItemID=c.itemID then c.Quantity else b.Quantity end )Quantity,
( select case when a.MILCWID=c. MILCWID and b.ItemID=c.itemID then c.Rate else b.Rate end )Rate,
( select case when a.MILCWID=c. MILCWID and b.ItemID=c.itemID then c.Amount else b.Amount end )Amount,
workallocationSubID
from  @MB cc
inner Join MeasurementBookWorkAllocationDetails a with (nolock) on cc.MeasurementBookID=a.MeasurementBookID
inner Join MeasurementBookReturnableLabourDetails b with (nolock) on a.MeasurementBookWorkAllocationDetailsID=b.MeasurementBookWorkAllocationDetailsID
left outer join   @MBSOil  c on a.MeasurementBookWorkAllocationDetailsID=c.MBWADID



Declare @MissingItem  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo int)
Insert Into @MissingItem
select 10 CWMTypeID,WorkOrderNo,b.WorkAllocationID,a.ItemID,a.MILCWID LabourID,a.UnitID,0 Rate,a.Quantity,0 as Amount,a.Rate,a.Quantity,a.Amount,2 from @MBDSub a
inner Join MeasurementBookWorkAllocationDetails b with (nolock) on a.MBWAD=b.MeasurementBookWorkAllocationDetailsId and b.MILCWID not in(306,338)
inner Join @MB c on b.MeasurementBookID=c.MeasurementBookID

Union All
select a.CWMTypeID,a.WONo,a.WorkAllocationID,0 ItemID,a.ItemID,UnitID,0,Sum(Quantity) Quantity,0,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1
from @MBD a
where CWMTypeID=2 and ItemID  in(select CivilworkLabourTypeID from CivilWorkLabourTypes where isnull(WorkTypeID,1) in(1,6) )--Support #118353--Support #143668
and ItemID Not In (select LabourID from @MBDL b where b.LabourID=a.itemID and b.woNo=a.WOnO)
and ItemID Not In (select MILCWID from @MBDSub c where c.MILCWID=a.itemID and c.woNo=a.WOnO)--Support #143743
group by CWMTypeID,WONo,WorkAllocationID,ItemID,UnitID,Rate


Declare @ItemOrder1 Table (CivilWorkMeasurementTypeID Int,SENo Int,MBWADID Int,ItemID Int,WorkAllocationSubID Int,OrderNo Int,SlNo Int)
Insert Into @ItemOrder1
select CivilWorkMeasurementTypeID,SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID,MILCWID,WorkAllocationSubID,OrderNo
,(Row_Number() over (Order By SanctionEstimateNo,(case when CivilWorkMeasurementTypeID in (4,5) then 1 else case when CivilWorkMeasurementTypeID=3 then 2 else case when CivilWorkMeasurementTypeID=10 then 3 else 4 end end end),SanctionEstimateWorkAllocationDetailsID)) as SlNo from (
select CivilWorkMeasurementTypeID,SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID,MILCWID,WorkAllocationSubID,OrderNo,(Row_Number() over (Partition By SanctionEstimateNo,CivilWorkMeasurementTypeID,MILCWID Order By SanctionEstimateNo,SanctionEstimateWorkAllocationDetailsID)) as MinNo
from (select *,(case when WorkAllocationSubID=4 then 1 else case when WorkAllocationSubID=46 then 2 else case when WorkAllocationSubID=2 then 3 else case when WorkAllocationSubID=7 then 4 else 5 end end end end) as OrderNo from SanctionEstimateWorkAllocationDetails with (nolock) ) as A
where CivilWorkMeasurementTypeID!=2 and SanctionEstimateNo = @SENo
union all
select distinct CWMTypeID,SENo,ItemID,ItemID,0,1,1 from @MissingItem A Left Outer Join @WO B on b.WorkOrderNo=a.WONo
) as A where MinNo=1




Declare @ItemOrder Table (CivilWorkMeasurementTypeID Int,SENo Int,MBWADID Int,ItemID Int,WorkAllocationSubID Int,OrderNo Int,SlNo Int)
Insert Into @ItemOrder
select CivilWorkMeasurementTypeID,SENo,MBWADID,ItemID,WorkAllocationSubID,OrderNo
,(Row_Number() over (Order By SENo,(case when CivilWorkMeasurementTypeID in (4,5) then 1 else case when CivilWorkMeasurementTypeID=3 then 2 else case when CivilWorkMeasurementTypeID=10 then 3 else 4 end end end),MBWADID,SlNo,ItemID)) as SlNo from (
select * from (
select distinct a.SENo,MBWADID,isnull(BillOfMaterialItemID,ItemID) as ItemID,a.WorkAllocationSubID,OrderNo,SlNo,d.MeasurementBookID,a.CivilWorkMeasurementTypeID
,(Row_Number() over (Partition By a.SENo,a.CivilWorkMeasurementTypeID,isnull(BillOfMaterialItemID,ItemID) Order By a.SENo,a.CivilWorkMeasurementTypeID,(case when isnull(BillOfMaterialItemID,0)=0 then 1 else 2 end),a.SlNo,MBWADID)) as MaxNo
from @ItemOrder1 A
Left Outer Join BillOfMaterials B with (nolock) on b.MainItemID=a.ItemID
Inner Join @MB C on c.SENo=a.SENo
Inner Join MeasurementBookWorkAllocationDetails  D with (nolock) on d.MeasurementBookID=c.MeasurementBookID and d.MILCWID=isnull(BillOfMaterialItemID,ItemID) and d.CivilWorkMeasurementTypeID=a.CivilWorkMeasurementTypeID
) as A where MaxNo=1
union all
select distinct SENo,ItemID,isnull(BillOfMaterialItemID,ItemID) as ItemID,0,1,1,1,CWMTypeID,1 from @MissingItem A Left Outer Join @WO B on b.WorkOrderNo=a.WONo
Left Outer Join BillOfMaterials C with (nolock) on c.MainItemID=a.ItemID
where ItemID not  in(select distinct MainItemID from BillOfMaterials )--Bug #140566 to avoid duplicate General Labour
union
select SENo,MBWADID,ItemID,WorkAllocationSubID,OrderNo,1 ,1,CivilWorkMeasurementTypeID,1
from @ItemOrder1 where ItemID in(select distinct MainItemID from BillOfMaterials )
) as A



Declare @TotalAmount  table ( CWMTypeID int,WONo int,WorkAllocationID int,ItemID int,LabourID int,UnitID int,MRate Money,MQuantity Money,MAmount Money,LRate Money,LQuantity Money,LAmount Money,SlNo int)
Insert Into @TotalAmount
select 4 as CWMTypeID,* from @MBDFinal where SlNo=1
Union all
select 4 as CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.LabourID,a.UnitID, (case when b.ItemID is Null then 0 else b.rate end) as MRate,MQuantity,
(case when b.ItemID is Null then 0 else b.Amount end) as MAmount,LRate,LQuantity,LAmount,a.SlNo from @MBDFinal a
left Outer Join @MBDSlNo b on a.WONo=b.WONo and a.ItemID=b.ItemID and a.SlNo=b.SlNo
where a.SlNo!=1
union all
/*
select CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,306 as LabourID,a.UnitID,a.Rate,sum(a.Quantity) as Quantity,sum((isnull(a.Rate,0)*isnull(a.Quantity,0))) as Amount,b.Rate,sum(b.Quantity) as Quantity,sum(b.Amount) Amount,2
from @MBD  a
left outer join  @MBDSub  b  on a.ItemID=b.ItemID and a.workallocationSubID=b.workallocationSubID and b.MILCWID in (306)
where CWMTypeID=5
group by CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,a.UnitID,a.Rate,b.Rate
*/

select CWMTypeID,a.WONo,a.WorkAllocationID,a.ItemID,isnull(b.MILCWID,0) LabourID,a.UnitID,a.Rate,sum(a.Quantity) as Quantity,sum((isnull(a.Rate,0)*isnull(a.Quantity,0))) as Amount,
isnull(b.Rate,0)Rate,sum(isnull(b.Quantity,0)) as Quantity,sum(isnull(b.Amount,0)) Amount,2  ----Bug #113819 ISnull Codition For LQuantity,LRate,LAmount
from @MBD  a
left outer join  @MBDSub  b  on a.ItemID=b.ItemID  and a.workallocationSubID=b.workallocationSubID and b.MILCWID in (306,338)
where CWMTypeID=5
group by CWMTypeID,a.WONo,a.WorkAllocationID,b.MILCWID,a.ItemID,a.UnitID,a.Rate,b.Rate
union all
select CWMTypeID,WONo,WorkAllocationID,ItemID,0 as LabourID,UnitID,0,Sum(Quantity) Quantity,0,Rate,Sum(Quantity)Quantity,Sum((isnull(Rate,0)*isnull(Quantity,0))) as Amount,1  from @MBD where CWMTypeID=3
Group by CWMTypeID,WONo,WorkAllocationID,ItemID,UnitID,Rate
Union All
select * from @MissingItem



select *,(case when SlNo=1 then  0 else 0 end) as EIC1 from (
select (Row_number() over (order by (case when (Sum(MQuantity)+Sum(LQuantity))=0 then 10000 else isnull(b.SlNo,10001) end),a.SlNo)) as SlNo
,(case when CWMTypeID=4 then  (ROW_Number() over (Partition By CWMTypeID,isnull(b.SlNo,(a.ItemID+10000)),max(MR) order by CWMTypeID,isnull(b.SlNo,(a.ItemID+10000)) desc , MBWADID,MaterialCode,a.SLNo desc)) else
case when   CWMTypeID=5 and LabourID=338 and a.ItemID=1462 and LRate=13598.00 then    2  else   1 end end) as SlNo1

--,(Dense_rank() over (order by (case when (Sum(MQuantity)+Sum(LQuantity))=0 then 10000 else (case when CWMTypeID in (10,2) then LabourID else b.SlNo end) end))) as SlNo2
,(Dense_rank() over (order by b.slno,max(MR) desc)) as SLNo2 --Chnages Bug #113613
,AcOfficeLocation,SubDivision,Section,
--(case when CWMTypeID in(5) then max(SLNo10) +15000 else case when CWMTypeID=10 then concat(a.ItemID,LabourID)  else a.ItemID end  end) as ItemID
(case when   CWMTypeID=5 and LabourID=338 and Lrate=13598.0000 then a.ItemID else --Support #118650
 case when  CWMTypeID=5  and LabourID=338 and  Lrate=16098.0000  then a.ItemID else --Support #118650
 case when CWMTypeID in(5) then max(SLNo10) +15000 else case when CWMTypeID=10 then concat(a.ItemID,LabourID)
else case when CWMTypeID in(4) and count(a.itemid) over(partition by a.itemid)>1 and lrate=0 then cast (round((mrate+a.itemid+1000),0) as int)
else a.ItemID  end end end end end) as ItemID --Chnages Bug #113613



 ,( case when left(MaterialCode,1)='-' then ltrim(rtrim(right (MaterialCode,len(MaterialCode )-1))) else MaterialCode  end  )as MaterialCode
,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,RateContractNo,
--MRate
case when   CWMTypeID=5 and LabourID=338 and a.ItemID=1462 and LRate=16098.00 then  0 else  MRate  end as MRate
,LRate,Sum(MQuantity) as MQuantity,Sum(LQuantity) as LQuantity,
--Sum(MAmount) as MAmount,
case when   CWMTypeID=5 and LabourID=338 and a.ItemID=1462 and LRate=16098.00 then  0 else  Sum(MAmount)  end as MAmount,

Sum(LAmount) as LAmount from (

select CWMTypeID,ola.Fileas as AcOfficeLocation,ola1.Fileas as SubDivision,ola2.Fileas as Section,(case when CWMTypeID=2 then LabourID else a.ItemID end) as ItemID,ltrim(rtrim(isnull((d.MaterialCode+' - '+d.Description),''))) as MaterialCode,
(case when isnull(LQuantity,0)=0 then '' else(case when LabourID in(select distinct MILCWID from MeasurementBookReturnableLabourDetails with (nolock) where Milcwid<>0) then isnull(isnull(cl.Description,Particulars),'') + ' - ' + isnull(z.Description,'') else isnull(isnull(cl.Description,Particulars),'') end)end) as LabourTypes

,a.UnitID,UnitOfMeasure ,(Row_Number() over (Order By (case when CWMTypeID in (3,10) then 2 else 1 end),a.ItemID,SlNo,LabourID)) as SlNo10
,left(WO_Date,len(WO_Date)-1) as WO_Date,left(SI_Date,len(SI_Date)-1) as SI_Date,left(CR_Date,len(CR_Date)-1) as CR_Date,left(MB_Date,len(MB_Date)-1) as MB_Date,left(WA_Date,len(WA_Date)-1) as WA_Date,NameOftheWork,RateContractNo
,MQuantity,MRate,MAmount,LQuantity,LRate,LAmount,EIC,LabourID,SLNo,SENo,WorkAwardNo
,(case when sum(mrate) over(partition by a.itemid,mrate)=0 and a.itemid<>0 then sum(mrate)over(partition by a.itemid)when sum(mrate) over(partition by a.itemid,mrate)=0 and a.itemid=0 then sum(Lrate)over(partition by a.itemid,lrate) else mrate end) as MR --extra Chnages Bug #113613
from (

select SLNo,CWMTypeID,WONo,WorkAllocationID,ItemID,LabourID,UnitID,Sum(MRate) MRate,sum(MQuantity) MQuantity,Sum(MAmount)MAmount,LRate,Sum(LQuantity)LQuantity,Sum(LAmount) LAmount --adding sum to MQuantity and remove sum from LRate Bug #172107 
from @TotalAmount as A
Group by WONo,WorkAllocationID,ItemID,LabourID,UnitID,MQuantity,SLNo,CWMTypeID,LRate

) as A Full Join @WO B on b.WorkOrderNo=a.WONo
Left Outer Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=b.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with (nolock) on ola1.OfficeLocationAllocationID=b.SubDivisionOLID
Left Outer Join OfficeLocationAllocation OLA2 with (nolock) on ola2.OfficeLocationAllocationID=b.OLID
Left Outer Join UnitOfMeasure C with (nolock) on c.UnitID=a.UnitID
Left Outer Join MaterialCode D with (nolock) on d.ItemID=(case when a.CWMTypeID in (2,3,10) then 0 else a.ItemID end)
Left Outer Join MaterialCode Z with (nolock) on z.ItemID=(case when a.CWMTypeID not in (2,3,4,5,10) then 0 else a.ItemID end)
Left Outer Join (select * from (select *,(Row_Number() over (Partition By CivilWorkID Order By CivilWorkID,CivilWorkTypeID,Particulars)) as MaxNo from CivilWorks
) as A where MaxNo=1) as E on e.CivilWorkID=(case when a.CWMTypeID in (3) then a.ItemID else 0 end)
Cross Apply (select Concat(WorkOrderNo,' / ',convert(Varchar,WorkOrderDate,104))+' ,' from @WO WO where wo.WorkOrderNo=a.WONo for xml path('')) as WO (WO_Date)
Cross Apply (select convert(Varchar,CompletionDate,104)+' ,' from @CR WO where wo.WorkOrderNo=a.WONo for xml path('')) as CR (CR_Date)
Cross Apply (select Concat(StoreInvoiceNo,' / ',convert(Varchar,StoreInvoiceDate,104))+' ,' from @SI WO where wo.WorkOrderNo=a.WONo for xml path('')) as SI (SI_Date)
Cross Apply (select convert(Varchar,MeasurementDate,104)+' ,' from @MB WO where wo.WorkOrderNo=a.WONo for xml path('')) as MB (MB_Date)
Cross Apply (select Concat(WorkAwardNo,' / ',convert(Varchar,WorkAwardDate,104))+' ,' from @WO WO where wo.WorkOrderNo=a.WONo for xml path('')) as WA (WA_Date)
Left Outer Join CivilWorkLabourTypes CL with (nolock) on cl.CivilWorkLabourTypeID=LabourID
where a.UnitID is not NULL
) as A Left Outer Join @ItemOrder B on isnull(b.ItemID,0)=isnull(a.ItemID,0) and isnull(b.SENo,0)=isnull(a.SENo,0) and isnull(b.CivilWorkMeasurementTypeID,0)=isnull(a.CWMTypeID,0)
Group By AcOfficeLocation,SubDivision,Section,a.ItemID,MaterialCode,LabourTypes,UnitID,UnitOfMeasure,WO_Date,SI_Date,CR_Date,MB_Date,WA_Date,NameOftheWork,EIC,MRate,LRate,OrderNo,MBWADID,a.SLNo,b.SlNo,RateContractNo,WorkAwardNo,CWMTypeID,LabourID
Having (Sum(MQuantity)+Sum(LQuantity))!=0
) as A
Order By SLNo2,SlNo;
GO
