USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SRImport]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SRImport]  @FromYear int,@ToYear int,@EffectiveDate datetime
as
/*Declare @FromYear int=2017
Declare @ToYear int=2017
Declare @EffectiveDate datetime='2017-08-01'*/
Declare @SRPeriodID int
if NOT EXISTS(select * from SRPeriods where FromDate=@FromYear and ToDate=@ToYear and EffectiveDate=@EffectiveDate)
BEGIN
    --insert into SRPeriods
    select @FromYear,@ToYear,null,null,null,@EffectiveDate,null,1,'Common Schedule of Rates '+cast(@FromYear as varchar(50))+'-'+substring(cast(@FromYear+1 as varchar(50)),3,4) 
     set @SRPeriodID=(select SRPeriodID from SRPeriods where FromDate=@FromYear and ToDate=@ToYear and EffectiveDate=@EffectiveDate)
    --select @SRPeriodID
END

ELSE IF EXISTS (select * from SRPeriods where FromDate=@FromYear and ToDate=@ToYear and EffectiveDate=@EffectiveDate)
BEGIN
    set @SRPeriodID=(select SRPeriodID from SRPeriods where FromDate=@FromYear and ToDate=@ToYear and EffectiveDate=@EffectiveDate)
    --select @SRPeriodID
END

--insert into SRStockHistory
select SRPeriodID,OLID,ItemID,UnitID,Price,DATEADD(day,-1,@EffectiveDate) from SRStock

--update SRStock set Price=0

select * --update a set a.SRPeriodID=@SRPeriodID,Price=b.NewValue
from SRStock a
left join SRRateTemp b on a.ItemID=b.ItemID and Valid=1 and Updated=0 and FromYear=@FromYear and ToYear=@ToYear and b.EffectiveDate=@EffectiveDate


--insert into SRStock
select @SRPeriodID,337,a.ItemID,b.UnitID,a.NewValue,null,null
from SRRateTemp a
inner join UnitOfMeasure b on b.UnitOfMeasure collate database_default=a.UOM
where a.itemid not in(select ItemID from SRStock where a.ItemID=ItemID)
and Valid=1 and Updated=0  and FromYear=@FromYear and ToYear=@ToYear and a.EffectiveDate=@EffectiveDate;
GO
