USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[EmpApp]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EmpApp]
    
AS 

SET NOCOUNT ON

 
DECLARE @a AS VARCHAR(4000)
SET @a =''
SELECT @a = @a +CONVERT(varchar, EmployeeApplicationtypeID )   + ','
FROM EmployeeApplicationTypes

SELECT @a;

--
-- EmployeeLocationWiseInfo
-- 
GO
