USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[spRetrieveStockHead]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[spRetrieveStockHead] as
select * from StockHead;
GO
