USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_RateDetails]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_RateDetails] 
@RateTypes Varchar(20),@RateTypeID Int,@ToDate Varchar(10),@DNID Int,@ODID Int,@Age Int
AS SET NOCOUNT ON 

--Declare @RateTypes Varchar(20) = 'Allowances'
--Declare @RateTypeID Int = 17
--Declare @ToDate Varchar(10) = '2015-01-01'
--Declare @DNID Int = 221
--Declare @ODID Int = 0
--Declare @Age Int = 0

update AllowanceRates set AllowanceRateSeries=1 where AllowanceRateSeries is NULL 
update AllowanceRateHistory set AllowanceRatePeriodSeries=1 where AllowanceRatePeriodSeries is NULL 
update SalaryOtherAdditionRates set SalaryOtherAdditionRateSeries=1 where SalaryOtherAdditionRateSeries is NULL 
update SalaryOtherAdditionRateHistory set SalaryOtherAdditionSeries=1 where SalaryOtherAdditionSeries is NULL 
update SalaryOtherDeductionRates set SalaryOtherDeductionSeries=1 where SalaryOtherDeductionSeries is NULL 
update SalaryOtherDeductionRateHistory set SalaryOtherDeductionSeries=1 where SalaryOtherDeductionSeries is NULL 



select PeriodID,RateTypeID,DesignationID DNID,EmployeeGradeID GradeID,TerritoryClassTypeID ClassTypeID,OfficeDepartmentAllocationID ODID,RateMode,RateType,Duration
,convert(varchar,FromDate,104) FromDate,convert(varchar,ToDate,104) ToDate,RateSeries,RateUnits,Rates,(case when MinimumAmount=0 then NULL else MinimumAmount end) MinAmount
,(case when MaximumAmount=0 then NULL else MaximumAmount end) MaxAmount --,ExternalOrganisationTypeID EOTID
,BillingMonth BillMonth,EmployeeQuartersGradeID QGradeID,TerritoryID,Age,NewRegime 
from FnRateDetails() where RateTypes=@RateTypes and RateTypeID=@RateTypeID and FromDate>=@ToDate and ExternalOrganisationTypeID is NULL
and (case when @DNID=0 then 0 else DesignationID end)=@DNID and (case when @ODID=0 then 0 else OfficeDepartmentAllocationID end)=@ODID 
and (case when @Age=0 then 0 else Age end)=@Age
Order By ClassTypeID,DNID,ODID,TerritoryID,Age,NewRegime,FromDate desc,ToDate desc


GO
