USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_PayScaleRevisionHistory]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PayScaleRevisionHistory] @Query Varchar(10),@RateTypeID Int,@PeriodID Int,@HistoryID Int
,@MinAmount Money,@MaxAmount Money,@Rate Money,@ValidUpTo Varchar(10)
AS SET NOCOUNT ON

--Declare @Query Varchar(10) = 'Select'
--Declare @RateTypeID Int = 3
--Declare @PeriodID Int = 141
--Declare @HistoryID Int = 0

--Declare @MinAmount Money = 0
--Declare @MaxAmount Money = 0
--Declare @Rate Money = 1980
--Declare @ValidUpTo Varchar(10) = '2024-08-31'


IF (@Query='Update' and @RateTypeID=1)
update a set MinimumAmount=@MinAmount,MaximumAmount=@MaxAmount,EmployeePayAllowanceRate=@Rate,ValidUpTo=(case when @ValidUpTo='--' then NULL else @ValidUpTo end)
from EmployeePayAllowanceRateHistory a With(nolock) 
where EmployeePayAllowanceRatePeriodID=@PeriodID and EmployeePayAllowanceRateHistoryID=@HistoryID

IF (@Query='Import' and @RateTypeID=1)
insert into EmployeePayAllowanceRateHistory (EmployeePayAllowanceRatePeriodID,MinimumAmount,MaximumAmount,EmployeePayAllowanceRate,ValidUpTo,EmployeePayAllowanceRatePeriodSeries,Addition) 
select @PeriodID,@MinAmount,@MaxAmount,@Rate,(case when @ValidUpTo='--' then NULL else @ValidUpTo end),1,0

IF (@Query='Delete' and @RateTypeID=1)
delete from EmployeePayAllowanceRateHistory where EmployeePayAllowanceRateHistoryID = @HistoryID 

------------------------

IF (@Query='Update' and @RateTypeID=2)
update a set MinimumAmount=@MinAmount,MaximumAmount=@MaxAmount,EmployeePayAdditionRate=@Rate,ValidUpTo=(case when @ValidUpTo='--' then NULL else @ValidUpTo end)
from EmployeePayAdditionRateHistory a With(nolock) 
where EmployeePayAdditionRatePeriodID=@PeriodID and EmployeePayAdditionRateHistoryID=@HistoryID

IF (@Query='Import' and @RateTypeID=2)
insert into EmployeePayAdditionRateHistory (EmployeePayAdditionRatePeriodID,MinimumAmount,MaximumAmount,EmployeePayAdditionRate,ValidUpTo,EmployeePayAdditionRatePeriodSeries,Addition) 
select @PeriodID,@MinAmount,@MaxAmount,@Rate,(case when @ValidUpTo='--' then NULL else @ValidUpTo end),1,0

IF (@Query='Delete' and @RateTypeID=2)
delete from EmployeePayAdditionRateHistory where EmployeePayAdditionRateHistoryID = @HistoryID 

------------------------

IF (@Query='Update' and @RateTypeID=3)
update a set MinimumAmount=@MinAmount,MaximumAmount=@MaxAmount,EmployeePayDeductionRate=@Rate,ValidUpTo=(case when @ValidUpTo='--' then NULL else @ValidUpTo end)
from EmployeePayDeductionRateHistory a With(nolock) 
where EmployeePayDeductionRatePeriodID=@PeriodID and EmployeePayDeductionRateHistoryID=@HistoryID

IF (@Query='Import' and @RateTypeID=3)
insert into EmployeePayDeductionRateHistory (EmployeePayDeductionRatePeriodID,MinimumAmount,MaximumAmount,EmployeePayDeductionRate,ValidUpTo,EmployeePayDeductionRatePeriodSeries,Addition) 
select @PeriodID,@MinAmount,@MaxAmount,@Rate,(case when @ValidUpTo='--' then NULL else @ValidUpTo end),1,0

IF (@Query='Delete' and @RateTypeID=3)
delete from EmployeePayDeductionRateHistory where EmployeePayDeductionRateHistoryID = @HistoryID 


select HistoryID,PeriodID,MinAmount,MaxAmount,Rate,convert(Varchar,ValidUpTo1,104) ValidUpTo from (
select 1 RateTypeID,EmployeePayAllowanceRateHistoryID HistoryID,EmployeePayAllowanceRatePeriodID PeriodID,MinimumAmount MinAmount,MaximumAmount MaxAmount,EmployeePayAllowanceRate Rate,ValidUpTo ValidUpTo1
from EmployeePayAllowanceRateHistory With(nolock) where EmployeePayAllowanceRatePeriodID=@PeriodID
and (case when @HistoryID=0 then 0 else EmployeePayAllowanceRateHistoryID end)=@HistoryID
union all 
select 2 RateTypeID,EmployeePayAdditionRateHistoryID HistoryID,EmployeePayAdditionRatePeriodID PeriodID,MinimumAmount MinAmount,MaximumAmount MaxAmount,EmployeePayAdditionRate Rate,ValidUpTo ValidUpTo1
from EmployeePayAdditionRateHistory With(nolock) where EmployeePayAdditionRatePeriodID=@PeriodID
and (case when @HistoryID=0 then 0 else EmployeePayAdditionRateHistoryID end)=@HistoryID
union all 
select 3 RateTypeID,EmployeePayDeductionRateHistoryID HistoryID,EmployeePayDeductionRatePeriodID PeriodID,MinimumAmount MinAmount,MaximumAmount MaxAmount,EmployeePayDeductionRate Rate,ValidUpTo ValidUpTo1
from EmployeePayDeductionRateHistory With(nolock) where EmployeePayDeductionRatePeriodID=@PeriodID
and (case when @HistoryID=0 then 0 else EmployeePayDeductionRateHistoryID end)=@HistoryID
) A where RateTypeID=@RateTypeID
Order By ValidUpTo1,HistoryID



GO
