USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_RtdELS_Arrears_Generation_Bulk]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_RtdELS_Arrears_Generation_Bulk] 
	@AcOLID Int,
	@ContactID int ,
	@FromDate DateTime , 
	@IT Int ,
	@ODLDID_1 int,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float 

AS 
SET NOCOUNT ON



--Declare @AcOLID Int = 341     
--Declare @ContactID Int = 0     
--Declare @FromDate DateTime = '2022-04-01' 
--Declare @IT Int = 0
--Declare @ODLDID_1 int = NULL  
--Declare @BPRate Float = NULL   
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  



Declare @Suppliment int = 7   
Declare @SRID table (OLID Int,ContactID Int) 
insert into @SRID
select distinct OLID,ContactID from (
select OLID,ContactID,ScaleRegisterID,StartingDate,EndingDate
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment=@Suppliment and EmployeeCategoryID=1  and OLID=@AcOLID  and EndingDate>=@FromDate
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID
) A where Maxno = 1 



Declare @SRID1 Int Declare @SRID2 Int 
DECLARE Cur3 CURSOR FOR select * from @SRID Order By ContactID 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2 ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------
 
exec SP_RtdELS_Arrears_Generation @SRID1,@SRID2,@IT,@ODLDID_1,@BPRate,@DPRate,@DARate

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2 ; 
END; CLOSE Cur3; DEALLOCATE Cur3; 



select * from ScaleRegister A with(nolock) 
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID and EndingDate>=@FromDate 
and (case when @ContactID=0 then 0 else ContactID end) = @ContactID and isnull(ContactID,0)>0  
Order By ContactID,StartingDate,ScaleRegisterID





GO
