USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure3]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE  PROCEDURE [dbo].[SP_Annexure3] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON


--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @FromYear Int select @FromYear = 2023
--Declare @ToYear Int select @ToYear = 2024
--Declare @FromFyYear DateTime select @FromFyYear = '2023-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2023-12-31'
--Declare @AcOLID varchar(100) select @AcOLID = '341'


Declare @OB Table (OLID Int,FromAcHead varchar(10),ToAcHead varchar(10),Amount Money) 
Insert Into @OB 
select @LoginOLID OLID,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')+isnull(VoltageClassCode,'7') ) as FromAcHead,'OB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount
from TrialBalanceDetails A With (NoLock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where MainAccountCode like '%10.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(@FromFyYear) and TrialBalanceYear=Year(@FromFyYear) )
Group By MainAccountCode,SubAccountCode,VoltageClassCode


Declare @TBCB Table (OLID Int,FromAcHead varchar(10),ToAcHead varchar(10),Amount Money) 
Insert Into @TBCB 
select @LoginOLID OLID,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')+isnull(VoltageClassCode,'7')) as FromAcHead,'TBCB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount
from TrialBalanceDetails A With (NoLock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where MainAccountCode like '%10.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(DateAdd(Month,1,@ToFyYear)) and TrialBalanceYear=Year(DateAdd(Month,1,@ToFyYear)) )
Group By MainAccountCode,SubAccountCode,isnull(VoltageClassCode,'7')


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int,JournalVoucherDate DateTime)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,concat(FromAcHead,VoltageClassCode),concat(ToAcHead,VoltageClassCode),VoltageClassCode,Amount,RectifiedJVNo,JournalVoucherDate
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where (FromAcHead like '10.%' or ToAcHead like '10.%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 
--and JournalVoucherNo = 1885633


Declare @JV1 Table (SlNo Int,JournalVoucherNo Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money,HalfYear1 Money,HalfYear2 Money)
Insert into @JV1
select SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Amount,HalfYear1,HalfYear2 from (
		  select 2 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount,Sum(case when journalVoucherDate Between @FromFyYear and DateAdd(Month,6,@FromFyYear)-1 then Amount else 0 end) HalfYear1,(Sum(Amount)-Sum(case when journalVoucherDate Between @FromFyYear and DateAdd(Month,6,@FromFyYear)-1 then Amount else 0 end)) HalfYear2 from @JV where (FromAcHead like '10.%' and ToAcHead like '14.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 2 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount,Sum(case when journalVoucherDate Between @FromFyYear and DateAdd(Month,6,@FromFyYear)-1 then Amount else 0 end) HalfYear1,(Sum(Amount)-Sum(case when journalVoucherDate Between @FromFyYear and DateAdd(Month,6,@FromFyYear)-1 then Amount else 0 end)) HalfYear2 from @JV where (FromAcHead like '10.%' and ToAcHead like '55.100%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '55.100%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '14.%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 3 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '32.310%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 3 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '32.310%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 4 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and left(ToAcHead,6) in ('42.219','42.220','42.222','42.223','42.790')) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 4 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount,0,0 from @JV where (left(FromAcHead,6) in ('42.219','42.220','42.222','42.223','42.790') and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 5 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '32.410%'  and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 5 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '32.410%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 6 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount,0,0 from @JV where (left(FromAcHead,6) in ('28.831','28.832','28.834','28.835','28.790')  and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 6 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and left(ToAcHead,6) in ('28.831','28.832','28.834','28.835','28.790') ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 7 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '16.1%'  and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 7 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '16.1%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '16.2%'  and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 8 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '16.2%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 9 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '12.%'  and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 9 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '12.%' ) group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 10 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '77.711%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 10 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '77.711%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,FromAcHead,ToAcHead,Sum(Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 14 SlNo,JournalVoucherNo,ToAcHead,FromAcHead,Sum(-Amount) Amount,0,0 from @JV where (FromAcHead like '10.%' and ToAcHead like '10.%') group by JournalVoucherNo,FromAcHead,ToAcHead
union all select 11 SlNo,0 JournalVoucherNo,'' FromAcHead,'' ToAcHead,0 Amount,0 HalfYear1,0 HalfYear2
union all select 12 SlNo,0 JournalVoucherNo,'' FromAcHead,'' ToAcHead,0 Amount,0 HalfYear1,0 HalfYear2
union all select 13 SlNo,0 JournalVoucherNo,'' FromAcHead,'' ToAcHead,0 Amount,0 HalfYear1,0 HalfYear2
union all select 200 SlNo,0 JournalVoucherNo,'' FromAcHead,'' ToAcHead,0 Amount,0 HalfYear1,0 HalfYear2
union all select 1 SlNo,0 JournalVoucherNo,Series10,'' ToAcHead,0 Amount,0 HalfYear1,0 HalfYear2 from JV_AccountHead14_10Series with(nolock) where Series10 is not NULL 
union all select 16 SlNo,0 JournalVoucherNo,FromAcHead,ToAcHead,Amount,0 HalfYear1,0 HalfYear2 from @OB
union all select 18 SlNo,0 JournalVoucherNo,FromAcHead,ToAcHead,Amount,0 HalfYear1,0 HalfYear2 from @TBCB


) A 

------ skip value find
--select * from @JV where ( (FromAcHead like '10.%' and ToAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) 
--or (ToAcHead like '10.%' and FromAcHead not in (select distinct ToAcHead from @JV1 where len(ToAcHead)>0)) ) 


select a.FromAcHead,TotalJV10,HalfYear1,HalfYear2,SlNo2a,JV32310,JV42,JV32410,JV28,JV161,JV16115,JV162,JV16215,JV12,JV77711,SlNo11,SlNo12,SlNo13,Reclasification,NetAmount,OB
,(OB+NetAmount) Total,TBCB CB,((OB+NetAmount)-TBCB) Difference from (
select * ,(((TotalJV10+SlNo2a+JV32310+JV42)-(JV32410+JV28+JV161+JV16115+JV162+JV16215+JV12+JV77711+SlNo11+SlNo13))+SlNo12+Reclasification) NetAmount from (
select FromAcHead,Sum(HalfYear1) HalfYear1,Sum(HalfYear2) HalfYear2,Sum(HalfYear1+HalfYear2) TotalJV10,Sum(case when SlNo=200 then Amount else 0 end) SlNo2a
,Sum(case when SlNo=3 then Amount else 0 end) JV32310
,Sum(case when SlNo=4 then Amount else 0 end) JV42,Sum(case when SlNo=5 then Amount else 0 end) JV32410,Sum(case when SlNo=6 then Amount else 0 end) JV28
,Sum(case when SlNo=7 and ToAcHead not like '16.115%' then Amount else 0 end) JV161,Sum(case when SlNo=7 and ToAcHead like '16.115%' then Amount else 0 end) JV16115
,Sum(case when SlNo=8 and ToAcHead not like '16.215%' then Amount else 0 end) JV162,Sum(case when SlNo=8 and ToAcHead like '16.215%' then Amount else 0 end) JV16215
,Sum(case when SlNo=9 then Amount else 0 end) JV12
,Sum(case when SlNo=10 then Amount else 0 end) JV77711,Sum(case when SlNo=11 then Amount else 0 end) SlNo11,Sum(case when SlNo=12 then Amount else 0 end) SlNo12
,Sum(case when SlNo=13 then Amount else 0 end) SlNo13,Sum(case when SlNo=14 then Amount else 0 end) Reclasification
,Sum(case when SlNo=16 then Amount else 0 end) OB
,Sum(case when SlNo=18 then Amount else 0 end) TBCB
from @JV1 A where FromAcHead like '10.%' Group By FromAcHead
) A ) A 
Order by a.FromAcHead





GO
