USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Balance_IT]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_Balance_IT] 
	@AcOLID Int,
	@YearID Int ,
	@MonthID Int ,
	@EmployeeTypeID int,
	@SalaryTypeID Int,
	@Contact Int,
	@FromFyYear DateTime,
	@ToFyYear DateTime 


AS SET NOCOUNT ON













Declare @FromDate DateTime select @FromDate = ((select DateFromParts(@YearID,@MonthID,1)))
Declare @ToDate DateTime select @ToDate = ((select EOMonth(DateFromParts(@YearID,@MonthID,1))))

Declare @AcOL Table (AcOLID Int,OfficeID Int,LocationID Int,OLID Int,OfficeLocation Varchar(100),SubDivisionOLID Int)
Insert into @AcOL
select AcOLID,OfficeID,LocationID,OLID,OfficeLocation,SubDivisionOLID from OfficeLocationAccountingUnitDetails with(nolock) where AcOLID=@AcOLID 
Order By AcOLID,SubDivisionOLID,OfficeID,OfficeLocation


Declare @ContactID2 table (ContactID int) insert into @ContactID2
select ContactID from ( select ContactID,Dateofbirth,EOMonth(dateadd(year,60,(case when day(isnull(Dateofbirth,getdate()))=1 then isnull(Dateofbirth,getdate())-1 else isnull(Dateofbirth,getdate()) end)))  Retireddate
from Employee with(nolock) where isnull(EmployeeCategoryID,1) in (1,4,5,7) and isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
 ) A cross join Today_hrms where Retireddate<= dateadd(month,-2,EOMonth(today)) 

 
Declare @SRID3 Table (ScaleRegisterID Int,ContactID Int,MaxNo Int)
Insert Into @SRID3 
select ScaleRegisterID,ContactID,MaxNo from (
select ScaleRegisterID,ContactID,(Row_Number() over (Partition By ContactID,SalaryYear,SalaryMonth Order By ContactID,SalaryYear,SalaryMonth,ScaleRegisterID desc )) as MaxNo
from ScaleRegister sr with (nolock) where Generated=1 and isnull(Legacy,0)=0 and isnull(HeldUp,0)=0  and isnull(OSL,0)=0
and isnull(EmployeeCategoryID,1) = 1 
and Suppliment=@SalaryTypeID and OLID=@AcOLID and SalaryYear=@YearID and SalaryMonth=@MonthID ) as A 
where (case when @Contact=0 then 0 else ContactID end)=@Contact 


 Declare @ContactID table (ContactID int)  
 insert into @ContactID
select a.ContactID from (
select ContactID,ODLDID from Employee with(nolock) where isnull(EmployeeCategoryID,1) in (1,4,5,7) and isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
and ContactID not in (select Distinct ContactID from EMployeeAppointmentDetails with(nolock) where Approved=1 and AppointmentTypeID in (21,22) )
and ContactID not in (select Distinct ContactID from @ContactID2)
union select ContactID,FromODLDID from EmployeeAppointmentDetails A with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(FromODLDID,0)>0
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
and ContactID not in (select Distinct ContactID from @ContactID2)
) A Inner Join ODLDAllocation B with(nolock)on b.ODLDID=a.ODLDID 
inner join DesignationHierarchyOrder_Config do with(nolock) on do.Designationid=b.Designationid
inner join OfficeLocationAccountingUnitDetails ol1 with(nolock) on ol1.OfficeID=b.OfficeID and ol1.LocationID=b.LocationID and AcOLID=@AcOLID 
left join EmployeeAppointmentDetails E with(nolock) on e.ContactID=a.ContactID and AppointmentTypeID in (23,47) and e.Approved=1 and isnull(Regularised,0)=0 and isnull(ToODLDID,0)=a.ODLDID
where ToODLDID is null 
union select ContactID from @SRID3 



Declare @ToDay Table (ToDay DateTime,ToDay1 DateTime,LDate DateTime,StartingFyYear DateTime,EndingFyYear DateTime) Insert Into @ToDay
select ToDay,ToDay1,LDate,StartingFyYear,EndingFyYear from FnETLToday(@YearID,@MonthID)

Declare @MnDate Table (Days Int,MnDate DateTime,Today DateTime) Insert Into @MnDate 
select a.*,StartingFyYear+Days-1 as Date,ToDay from (
select Days=(Row_Number() over (Order By ActivityID)) from Activity
) as A cross join @ToDay where (StartingFyYear+Days-1)<=EndingFyYear

Declare @ECID Table (EmployeeCategoryID Int,EmployeeCategory Varchar(100),UnderECID Int)
Insert Into @ECID 
select EmployeeCategoryID,Description as EmployeeCategory,UnderECID from ( 
select distinct a.EmployeeCategoryID,a.Description,isnull(a.UnderEmployeeCategoryID,a.EmployeeCategoryID) as UnderECID
from EmployeeCategories A with(nolock) where a.UnderEmployeeCategoryID is NULL
union all
select b.EmployeeCategoryID,b.Description,b.UnderEmployeeCategoryID as UnderECID
from EmployeeCategories A with(nolock) left outer join EmployeeCategories B with(nolock) on b.UnderEmployeeCategoryID=a.EmployeeCategoryID
where b.EmployeeCategoryID is not NULL ) as A where UnderECID=@EmployeeTypeID 
Order By UnderECID,EmployeeCategoryID


Declare @NewRegime Table (ContactID Int) 
Insert Into @NewRegime 
select distinct ContactID from (
select ContactID,EmployeePayTypeID,EffectiveDate,(Row_Number() over (Partition By COntactID Order By ContactID,EmployeePayDetailsID desc)) MaxNo 
from EmployeePayDetails A with(nolock) where EmployeePayTypeID in (43,44) 
and ContactID in ( select ContactID from @ContactID b where b.ContactID=a.ContactID )
and (case when @Contact=0 then 0 else ContactID end)=@Contact 
and Approved=1 and isnull(Cancel,0)=0 
) A where MaxNo=1 and EmployeePayTypeID = 43


Declare @NewRegimeIVTypes Table (InvestmentTypeID Int) 
Insert Into @NewRegimeIVTypes 
select InvestmentTypeID from InvestmentTypes with(nolock) where NewRegime=1 


Declare @SRID Table (ScaleRegisterID Int,ContactID Int,ODLDID Int)
Insert Into @SRID
select ScaleRegisterID,ContactID,ODLDID from  @SRID3 a 
outer apply ( select ODLDID from (select ScaleRegisterID,ODLDID,(Row_Number() over (Partition By ScaleRegisterID Order By ScaleRegisterID,StartingDate desc,EndingDate desc,ScaleRegisterBasicPayDetailsID desc)) as MaxNo 
from ScaleRegisterBasicPayDetails B with (nolock) where isnull(b.ScaleRegisterID,0)=isnull(a.ScaleRegisterID,0) and isnull(ODLDID,0)!=0 
and ScaleRegisterID in (select ScaleRegisterID from @SRID3 )) as A where MaxNo=1 
) as B where MaxNo=1 


Declare @Rates Table (FromDate DateTime,ToDate DateTime,Gender Varchar(20),Age Int,RateSeries Int,RateUnits Float,Rates Float,NewRegime Int,SlNo Int)
Insert into @Rates
select *,(Row_Number() over (Partition By NewRegime,Age,Gender Order By NewRegime,Age,Gender,RateSeries)) as SlNo from (
select Min(Fromdate) as FromDate,Max(ToDate) as ToDate,Upper(Gender) as Gender,Age,RateSeries
,(case when NewRegime=1 and Gender!='ALL' and RateSeries!=7 then 300000 else Round(Round(Sum(PerDayRateUnits),2),0) end) as RateUnits

,Round(Round(Sum(PerDayRates),2),0) as Rates,NewRegime from (
select * ,(DateDiff(Day,FromDate,ToDate)+1) as YODay,(case when isnull(RateUnits,0)=0 then 0 else (isnull(RateUnits,0)/(DateDiff(Day,FromDate,ToDate)+1)) end) as PerDayRateUnits
,(case when isnull(Rates,0)=0 then 0 else (isnull(Rates,0)/(DateDiff(Day,FromDate,ToDate)+1)) end) as PerDayRates 
,(Row_Number() over (Partition By NewRegime,MnDate,Age,Gender,RateSeries Order By NewRegime,MnDate,Age,Gender,RateSeries,FromDate,ToDate)) as MinNo from (
select (case when FromDate<StartingFyYear then StartingFyYear else FromDate end) as FromDate,isnull(ToDate,EndingFyYear) as ToDate,isnull(Gender,'ALL') as Gender,isnull(Age,0) as Age,RateSeries,RateUnits,Rates,NewRegime
from FnRateDetails() Cross Join @ToDay where (case when RateTypes='Deductions' and RateTypeID in (2) then 1 else 0 end)=1 
and isnull(ToDate,EndingFyYear)>=StartingFyYear and isnull(ToDate,EndingFyYear)<=EndingFyYear 
) as A full join @MnDate MD on md.MnDate Between FromDate and ToDate where (DateDiff(Day,FromDate,ToDate)+1)>0 
) as A where MinNo=1 Group By Gender,Age,RateSeries,NewRegime
) as A


Declare @Rates1 Table (FromDate DateTime,ToDate DateTime,Gender Varchar(20),Age Int,RateSeries Int,Rates Float,NewRegime Int,FromUnits Float,ToUnits Float)
Insert into @Rates1
select a.FromDate,a.ToDate,a.Gender,a.Age,a.RateSeries,a.Rates,a.NewRegime,(Sum(isnull(b.RateUnits,0))+(case when a.SlNo=1 then 0 else 1 end)),(a.RateUnits+Sum(isnull(b.RateUnits,0)))
from @Rates A full join @Rates B on b.Gender=a.Gender and b.Age=a.Age and b.NewRegime=a.NewRegime and (b.SlNo)<a.SlNo
Group By a.FromDate,a.ToDate,a.Gender,a.Age,a.RateSeries,a.Rates,a.RateUnits,a.SlNo,a.NewRegime
having a.FromDate is not NULL
Order By NewRegime,Gender,Age,RateSeries


Declare @Expired Table (ContactID Int,ExpiredDate DateTime) Insert Into @Expired 
select ContactID,cast(cast((case when Format='PM' then ExpiredDate-1 else ExpiredDate end) as Int) as DateTime) from (
select ContactID,isnull(RelievedTime,RelievedDate) as ExpiredDate,Right(Ltrim(Rtrim(Right(isnull(RelievedTime,RelievedDate),8))),2) as Format,(Row_number() over (Partition By ContactID Order by ContactID,AppointmentTypeID,EmployeeAppointmentDetailsID desc)) as MaxNo 
from EmployeeAppointmentDetails A with (nolock) where Approved=1 and AppointmentTypeID in (21,22) and isnull(RelievedTime,RelievedDate) is not NULL
and isnull(ContactID,0) in (select ContactID from @SRID B where isnull(b.ContactID,0)=isnull(a.ContactID,0))
) as A where MaxNo=1 


Declare @CID Table (ContactID Int,Nos Int) Insert Into @CID
select ContactID,Sum(Nos) as Nos from ( select ContactID,1 as Nos from ( select distinct ContactID,SalaryYear,SalaryMonth
from ScaleRegister A with (nolock) where Generated=1 and isnull(Heldup,0)=0 and Suppliment in (0,9) and EOMonth(StartingDate)>@ToDate
and ContactID in (select ContactID from @SRID B where b.ContactID=a.ContactID) ) as A ) as A Group By ContactID





IF OBJECT_ID('tempdb..#DOJ') IS NOT NULL  DROP TABLE #DOJ
select *,(case when ProjectedMonths1<=0 then 0 else ProjectedMonths1 end) as ProjectedMonths into #DOJ from (
select a.*,(case when Age1!=0 then 'ALL' else Gender end) as Gender1,(DateDiff(Month,@FromDate,(case when ERDate>EndingFyYear then EndingFyYear else EOMonth(ERDate) end))-isnull(Nos,0)) as ProjectedMonths1 from (
select a.*,isnull(ExpiredDate,RetirementDate) as ERDate,(case when a.EmployeeCategoryID!=1 then 3 else case when ReportedDate<'2006-04-01' then 1 else 2 end end) as PCTypeID,(case when EmployeeCategoryID not in (1,4,5,7) then 'Contract Employees' else 'Regular' end) as EmployeeCategory 
,(case when isnull(Age,0)<60 then 0 else case when isnull(Age,0)>=60 and isnull(Age,0)<80 then 60 else 80 end end) Age1 from (
select *,(Row_Number() over (Partition By ContactID,(case when EmployeeCategoryID in (1,4,5,7) then 1 else case when EmployeeCategoryID=3 then 3 else 9 end end) Order By ContactID,(case when EmployeeCategoryID in (1,4,5,7) then 1 else case when EmployeeCategoryID=3 then 3 else 9 end end),EmployeeAppointmentDetailsID,ReportedDate)) as MinNo 
,(case when EmployeeCategoryID in (1,4,5,7) then 1 else case when EmployeeCategoryID=3 then 3 else 9 end end) as EmployeeTypeID 
,(case when DateDiff(Day,ReportedDate,EndingFyYear)<120 or DateDiff(Day,StartingFyYear,RetirementDate)<120 then 1 else 0 end) as PTExempt from (
select EmployeeAppointmentDetailsID,a.ContactID,AppointmentTypeID,(case when isnull(a.EmployeeCategoryID,0)=0 then 1 else isnull(a.EmployeeCategoryID,0) end) as EmployeeCategoryID,ToODLDID,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime) as ReportedDate,isnull(PanCardNo,'') as PANNo
,(case when n.ContactID is not NULL then isnull(TaxableAmountLimtNew,0) else isnull(TaxableAmountLimit,0) end) as TaxableAmtLimit
,(case when n.ContactID is not NULL then isnull(ITRebateNew,0) else isnull(ITRebate,0) end) as ITRebate
,(case when isnull(Regularised,0)=0 and (case when isnull(a.EmployeeCategoryID,0)=0 then 1 else isnull(a.EmployeeCategoryID,0) end)=1 then 'Probationary Empoyees' else '' end) as Probationary,DateOfBirth,StartingFyYear,EndingFyYear,EOMOnth(DateAdd(Year,MaxAgeForRetirement,isnull(DateOfBirth,0))) as RetirementDate
,isnull(Upper(Sex),'') as Gender,Cast((Cast(((case when Today<EndingFyYear then Today else EndingFyYear end)-(isnull(e.DateOfBirth,0)+1)) as Int) / 365.2) as Numeric(18,2)) as Age
from EmployeeAppointmentDetails A with (nolock) Cross Join @ToDay Cross Join GeneralSetting
Cross Apply (select ContactID,PanCardNo,DateOfBirth,Sex from Employee E with (nolock) where e.ContactID=isnull(a.ContactID,0) ) E
left join @NewRegime N on n.ContactID=a.ContactID
where Approved=1 and Reported=1 and AppointmentTypeID in (1,26) 
and isnull(a.ContactID,0) in (select ContactID from @SRID B where isnull(b.ContactID,0)=isnull(a.ContactID,0))
) as A ) as A 
full join @Expired E on isnull(e.ContactID,0)=isnull(a.ContactID,0)
where MinNo=1 and EmployeeTypeID=@EmployeeTypeID
) as A Full Join @CID B on isnull(b.ContactID,0)=isnull(a.ContactID,0)
) as A


Declare @ITRelief Table (ContactID Int,ITReliefAmount Money) 
Insert Into @ITRelief 
select ContactID,Sum(isnull(ModifiedValue,0)) as ITRliefAMount from EmployeePayDetails A with (nolock) Cross Join @Today 
where Approved=1 and isnull(Cancel,0)=0 and EmployeePayTypeID=30 and EffectiveDate Between StartingFyYear and EndingFyYear 
and a.ContactID in (select ContactID from @SRID B where b.ContactID=a.ContactID) Group By ContactID

Declare @RCIncome Table (ContactID Int,RCIncome Money) 
Insert Into @RCIncome 
select ContactID,-Sum(isnull(Amount,0)) as RCIncome from EmployeeLoanandAdvance A with (nolock)  Cross Join @Today 
where LoanandAdvanceID=63 and LoanandAdvanceDate Between StartingFyYear and EndingFyYear 
and a.ContactID in (select ContactID from @SRID B where b.ContactID=a.ContactID) Group By ContactID


Declare @AdvanceIT Table (ContactID Int,Amount Money)
Insert into @AdvanceIT 
select ContactID,(isnull(ModifiedValue,0)) as Amount from (
select ContactID,EmployeePayTypeID,EffectiveDate,ModifiedValue,(Row_Number() over (Partition By ContactID Order By ContactID,EmployeePayDetailsID desc)) as MaxNo
from EmployeePayDetails A with (nolock) cross join @Today Where Approved=1 and isnull(Cancel,0)=0 and EmployeePayTypeID=26
and ContactID in (select distinct ContactID from @SRID C where c.ContactID=a.ContactID)
and EffectiveDate Between Today1 and LDate ) as A where MaxNo=1





IF OBJECT_ID('tempdb..#SRID1') IS NOT NULL  DROP TABLE #SRID1
select *,(case when Suppliment in (0,9) and MaxNo=1 then 1 else 0 end) as TobeProject into #SRID1 from (
select ScaleRegisterID,ContactID,isnull(BillRegisterDate,LDate) as BRDate,StartingDate,EndingDate,Suppliment,(case when Suppliment=9 and isnull(EndingDate,LDate)<StartingFyYear then 1 else Suppliment end) as Suppliment1
,(dense_rank() over (Partition By ContactID Order By ContactID,SalaryYear desc,SalaryMonth desc)) as MaxNo
from ScaleRegister A with (nolock) cross join @Today
where Generated=1 and isnull(HeldUp,0)=0  and isnull(OSL,0)=0 
and isnull(BillRegisterDate,(case when Suppliment in (0,9) and BillRegisterDate is NULL and StartingDate Between StartingFyYear and EndingFyYear then Today else NULL end)) Between StartingFyYear and EndingFyYear

and ContactID in (select distinct ContactID from @SRID C where c.ContactID=a.ContactID) 
) as A  



IF OBJECT_ID('tempdb..#SRWID1') IS NOT NULL  DROP TABLE #SRWID1
select ScaleRegisterID SRID,ScaleRegisterWithDrawalID SRWID into #SRWID1 
from ScaleRegisterWithDrawals A with (nolock) where isnull(ScaleRegisterID,0) in (
select ScaleRegisterID from #SRID1 B where isnull(b.ScaleRegisterID,0)=isnull(a.ScaleRegisterID,0) and Suppliment not in (0,9))




IF OBJECT_ID('tempdb..#SRE') IS NOT NULL  DROP TABLE #SRE  
select ScaleRegisterID,Types,TypeID,Sum(Amount) as Amount,isnull(InvestmentTypeID,0) as InvestmentTypeID into #SRE from (
select ScaleRegisterID,'BP' as Types,1 as TypeID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterBasicpayDetails A with (nolock) where isnull(Amount,0)!=0 and ScaleRegisterID in (
select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) Group By ScaleRegisterID union all

select ScaleRegisterID,'AL' as Types,AllowanceID,Round(Round(Sum(isnull(Amount,0)),2),0) from ScaleRegisterAllowances A with (nolock) where isnull(Amount,0)!=0 and ScaleRegisterID in (
select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) Group By ScaleRegisterID,AllowanceID union all

select ScaleRegisterID,'OA' as Types,SalaryOtherAdditionID,Round(Round(Sum(isnull(Amount,0)),2),0) from ScaleRegisterOtherAdditions A with (nolock) where isnull(Amount,0)!=0 and ScaleRegisterID in (
select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) and isnull(SalaryOtherAdditionID,0) not in (14,15,21) Group By ScaleRegisterID,SalaryOtherAdditionID 
union all select SRID,'BP' as Types,1 as TypeID,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterBasicpayWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) where isnull(Amount,0)!=0 Group By SRID
union all select SRID,'AL' as Types,AllowanceID,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterAllowanceWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) where isnull(Amount,0)!=0 Group By SRID,AllowanceID 
union all select SRID,'OA' as Types,SalaryAdditionOthersID,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterOtherAdditionWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) where isnull(Amount,0)!=0 and isnull(SalaryAdditionOthersID,0) not in (14,15,21) Group By SRID,SalaryAdditionOthersID
) as A left outer join ( select AllowanceID,InvestmentTypeID from Allowances with (nolock) where InvestmentTypeID is not NULL and AllowanceID!=2 and InvestmentTypeID in (
select distinct InvestmentTypeID from InvestmentTypeLimits where isnull(Limit,0)!=0 ) ) as B on b.AllowanceID=(case when Types='AL' then TypeID else 0 end)
Group By ScaleRegisterID,Types,TypeID,isnull(InvestmentTypeID,0) Having Sum(Amount)!=0




IF OBJECT_ID('tempdb..#SRD') IS NOT NULL  DROP TABLE #SRD   
select ScaleRegisterID,Types,TypeID,IVTypeID,OTD,Sum(Amount) as Amount into #SRD from (
select ScaleRegisterID,'OD' as Types,a.SalaryOtherDeductionID as TypeID,isnull(InvestmentTypeID,0) as IVTypeID,isnull(OneTimeDeduction,0) as OTD,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherDeductions A with (nolock) 
inner join ( select SalaryOtherDeductionID,InvestmentTypeID,OneTimeDeduction from SalaryOtherDeductions with (nolock) where InvestmentTypeID is not NULL union all select 2,0,0 ) as B on b.SalaryOtherDeductionID=a.SalaryOtherDeductionID
where isnull(Amount,0)!=0 and ScaleRegisterID in (select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) Group By ScaleRegisterID,a.SalaryOtherDeductionID,isnull(InvestmentTypeID,0),isnull(OneTimeDeduction,0)
union all
select ScaleRegisterID,'LA' as Types,a.LoanandAdvanceID,isnull(InvestmentTypeID,0) as IVTypeID,isnull(OneTimeDeduction,0) as OTD,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterLoansandAdvances A with (nolock) 
inner join ( select LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction from LoanandAdvance with (nolock) where InvestmentTypeID is not NULL ) as B on b.LoanandAdvanceID=a.LoanandAdvanceID
where isnull(Amount,0)!=0 and ScaleRegisterID in (select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) Group By ScaleRegisterID,a.LoanandAdvanceID,isnull(InvestmentTypeID,0),isnull(OneTimeDeduction,0)
union all 
select SRID,'OD' as Types,SalaryDeductionOthersID,isnull(InvestmentTypeID,0) as IVTypeID,isnull(OneTimeDeduction,0) as OTD,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterOtherDeductionWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) 
inner join ( select SalaryOtherDeductionID,InvestmentTypeID,OneTimeDeduction from SalaryOtherDeductions with (nolock) where InvestmentTypeID is not NULL union all select 2,0,0 ) as C on c.SalaryOtherDeductionID=a.SalaryDeductionOthersID where isnull(Amount,0)!=0 Group By SRID,a.SalaryDeductionOthersID,isnull(InvestmentTypeID,0),isnull(OneTimeDeduction,0)
union all select SRID,'LA' as Types,a.LoanandAdvanceID,isnull(InvestmentTypeID,0) as IVTypeID,isnull(OneTimeDeduction,0) as OTD,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterLoanandAdvanceWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) 
inner join ( select LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction from LoanandAdvance with (nolock) where InvestmentTypeID is not NULL ) as C on c.LoanandAdvanceID=a.LoanandAdvanceID where isnull(Amount,0)!=0  Group By SRID,a.LoanandAdvanceID,isnull(InvestmentTypeID,0),isnull(OneTimeDeduction,0)
union all 
select ScaleRegisterID,'RC' as Types,a.LoanandAdvanceID,isnull(InvestmentTypeID,0) as IVTypeID,isnull(OneTimeDeduction,0) as OTD,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterRecovery A with (nolock) 
inner join ( select LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction from LoanandAdvance with (nolock) where InvestmentTypeID is not NULL union all select 66,24,1 ) as B on b.LoanandAdvanceID=a.LoanandAdvanceID
where isnull(Amount,0)!=0 and a.LoanandAdvanceID in (66)
and ScaleRegisterID in (select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) Group By ScaleRegisterID,a.LoanandAdvanceID,isnull(InvestmentTypeID,0),isnull(OneTimeDeduction,0)
union all 
select SRID,'RC' as Types,a.LoanandAdvanceID,isnull(InvestmentTypeID,0) as IVTypeID,isnull(OneTimeDeduction,0) as OTD,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterRecoveryWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) 
inner join ( select LoanandAdvanceID,InvestmentTypeID,OneTimeDeduction from LoanandAdvance with (nolock) where InvestmentTypeID is not NULL union all select 66,24,1 ) as C on c.LoanandAdvanceID=a.LoanandAdvanceID 
where isnull(Amount,0)!=0 and a.LoanandAdvanceID in (66) Group By SRID,a.LoanandAdvanceID,isnull(InvestmentTypeID,0),isnull(OneTimeDeduction,0)
) as A Group By ScaleRegisterID,Types,TypeID,IVTypeID,OTD Having Sum(Amount)!=0


Declare @SRRC Table (SRID Int,Types Varchar(10),TypeID Int,Amount Money) 
Insert Into @SRRC
select ScaleRegisterID,Types,TypeID,-Sum(Amount) as Amount from (
select ScaleRegisterID,'RC' as Types,a.LoanandAdvanceID as TypeID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterRecovery A with (nolock) 
inner join ( select LoanandAdvanceID from LoanandAdvance with (nolock) where LoanandAdvanceTypeID=5 and MainAccountCode like '%75.%' ) as B on isnull(b.LoanandAdvanceID,0)=isnull(a.LoanandAdvanceID,0) 
where isnull(Amount,0)!=0 and isnull(ExternalOrganisationTypeID,0) in (0,13) and a.LoanandAdvanceID not in(32)  and ScaleRegisterID in (select ScaleRegisterID from #SRID1 B where b.ScaleRegisterID=a.ScaleRegisterID) Group By ScaleRegisterID,a.LoanandAdvanceID
union all select SRID,'RC' as Types,a.LoanandAdvanceID,Round(Round(Sum(isnull(-Amount,0)),2),0) from #SRWID1 B inner join ScaleRegisterRecoveryWithdrawals A with (nolock) on isnull(b.SRWID,0)=isnull(a.ScaleRegisterWithDrawalID,0) 
inner join ( select LoanandAdvanceID from LoanandAdvance with (nolock) where LoanandAdvanceTypeID=5 and MainAccountCode like '%75.%' ) as C on isnull(c.LoanandAdvanceID,0)=isnull(a.LoanandAdvanceID,0) 
where isnull(Amount,0)!=0 and isnull(ExternalOrganisationTypeID,0) in (0,13) and a.LoanandAdvanceID not in(32)  Group By SRID,a.LoanandAdvanceID
) as A Group By ScaleRegisterID,Types,TypeID Having Sum(Amount)!=0



Declare @IVRates Table (IVTypeID Int,IVTypes Varchar(1000),IVMainTypeID Int,UnderIVSectionTypeID Int,IVSectionTypeID Int,Section Varchar(20),RateMode Varchar(20),LimitPart Varchar(20),Limit Float)
Insert Into @IVRates
select distinct a.InvestmentTypeID,isnull(a.Description,''),isnull(a.InvestmentMainTypeID,0),isnull(UnderInvestmentSectionTypeID,0),isnull(a.InvestmentSectionTypeID,0),isnull(b.Description,''),isnull(RateMode,''),isnull(LimitPart,''),isnull(Limit,0) 
from InvestmentTypes A with (nolock)
full join InvestmentSectionTypes B with (nolock) on isnull(b.InvestmentSectionTypeID,0)=isnull(a.InvestmentSectionTypeID,0)
full join InvestmentTypeLimits C with (nolock) on isnull(c.InvestmentTypeID,0)=isnull(a.InvestmentTypeID,0)



Declare @EIVID Table (ContactID Int,EIVID Int,StartingFyYear DateTime,EndingFyYear DateTime) Insert Into @EIVID
select ContactID,EmployeeInvestmentID,StartingFyYear,EndingFyYear from EmployeeInvestments A with (nolock) Cross Join @Today
where isnull(ContactID,0) in (select ContactID from @SRID B where isnull(b.ContactID,0)=isnull(a.ContactID,0))
and FromYear=Year(StartingFyYear)


Declare @EIVDetails Table (ContactID Int,EIVID Int,InvestmentTypeID Int,ActualAmount Money,DeclaredAmount Money,ConsiderAmount Money)
Insert Into @EIVDetails 
select a.ContactID,EIVID,InvestmentTypeID,Sum(isnull(ActualAmount,0)),Sum(isnull(DeclaredAmount,0))
,(case when @MonthID in (1,2,3) then Sum(isnull(ActualAmount,0)) else case when @MonthID not in (1,2,3) and Sum(isnull(DeclaredAmount,0))<Sum(isnull(ActualAmount,0)) then Sum(isnull(ActualAmount,0)) else Sum(isnull(DeclaredAmount,0)) end end)
from @EIVID A inner join EmployeeInvestmentDetails B with (nolock) on isnull(b.EmployeeInvestmentID,0)=isnull(a.EIVID,0) and isnull(SystemGenerated,0)=0
where cast(InvestmentDate as Date) Between StartingFyYear and EndingFyYear
Group By a.ContactID,EIVID,InvestmentTypeID


Declare @Qtr Table (ContactID Int,YearID Int,MOnthID Int,QtrDays Int) 
Insert Into @Qtr
select ContactID ,Year(MnDate) as YearID,Month(MnDate) as MonthID,SUm(MaxNo) as QtrDays from (
select *,(Row_Number() over (Partition By ContactID,MnDate Order By ContactID,MnDate,ToDate,FromDate)) as MaxNo from (
select distinct ContactID,(case when FromDate<StartingFyYear then StartingFyYear else FromDate end) as FromDate,(case when isnull(Vaccated,0)=0 then EndingFyYear else ToDate end) as ToDate
from EmployeeQuarterDetails A with (nolock) Cross Join @Today
where (case when isnull(Vaccated,0)=0 then EndingFyYear else ToDate end)>=StartingFyYear and (case when isnull(Vaccated,0)=0 then EndingFyYear else ToDate end)<=EndingFyYear
and isnull(ContactID,0) in (select ContactID from @SRID B where isnull(b.ContactID,0)=isnull(a.ContactID,0)) 
union 
select distinct ContactID,StartingDate,EndingDate from (
select ContactID,ScaleRegisterID from ScaleRegister A with (nolock) Cross Join @Today where Generated=1 and isnull(HeldUp,0)=0 and OLID=0 
and ContactID in (select ContactID from @SRID B where b.ContactID=a.ContactID) and isnull(BillRegisterDate,LDate) Between StartingFyYear and EndingFyYear
) as A Inner Join ScaleRegisterOtherDeductions B with (nolock) on b.ScaleRegisterID=a.ScaleRegisterID and SalaryOtherDeductionID in (10,20)
where Year(StartingDate)=Year(EndingDate) and Month(StartingDate)=Month(EndingDate)
) as A Full Join @MnDate M on m.MnDate Between FromDate and ToDate
) as A where MaxNo=1 and (case when contactid is null then 0 else 1 end)=1
Group By ContactID,Year(MnDate),Month(MnDate)
union all 
select distinct ContactID,Year(StartingDate) as YearID,Month(StartingDate) as MonthID,Day(EOMonth(StartingDate)) as QtrDays from (
select ContactID,ScaleRegisterID from ScaleRegister A with (nolock) Cross Join @Today where Generated=1 and isnull(HeldUp,0)=0 and OLID=@AcOLID and Suppliment in (9,1,6)
and ContactID in (select ContactID from @SRID B where b.ContactID=a.ContactID) and isnull(BillRegisterDate,LDate) Between StartingFyYear and EndingFyYear and EndingDate<StartingFyYear
) as A Inner Join ScaleRegisterOtherDeductions B with (nolock) on b.ScaleRegisterID=a.ScaleRegisterID and SalaryOtherDeductionID in (10,20) and isnull(Amount,0)!=0
where Year(StartingDate)=Year(EndingDate) and Month(StartingDate)=Month(EndingDate) 


Declare @Perqs Table (ContactID Int,YearID Int,MonthID Int,ALEDays Int,ToDate DateTime) 













Declare @Savings Table (ContactID Int,IVTypeID Int,Amount Money,ITMonth Money,ITTotal Money) 
Insert Into @Savings 
select a.ContactID,(case when c.ContactID is NULL then IVTypeID else isnull(InvestmentTypeID,(case when ITTotal=0 then -1 else 0 end)) end) IVTypeID,Amount,ITMonth,ITTotal from (
select ContactID,IVTypeID,Sum(Amount) as Amount,Sum(ITMonth) as ITMonth,Sum(ITTotal) as ITTotal from (
select * from ( 
select a.ContactID,IVTypeID
,sum(case when Types='OD' and TypeID=2 then 0 else (Amount+(case when TobeProject=1 and OTD=0 and IVTypeID!=0 then isnull(ProjectedMonths,0)*Amount else 0 end)) end) as Amount
,sum(case when Year(StartingDate)=@YearID and Month(StartingDate)=@MonthID and Types='OD' and TypeID=2 then Amount else 0 end) as ITMonth
,sum(case when Types='OD' and TypeID=2 then Amount else 0 end) as ITTotal
from (select * from #SRD where (case when Types='OD' and TypeID=17 then 1 else 0 end)=0 and IVTypeID!=62 union all select ScaleRegisterID,'OD',17,36,0,Amount from #SRD where Types='OD' and TypeID=13 and IVTypeID!=62 ) B
full join (select ScaleRegisterID,a.ContactID,StartingDate,TobeProject,ProjectedMonths from #SRID1 a left Join #DOJ D on isnull(d.ContactID,0)=isnull(a.ContactID,0)) A on isnull(a.ScaleRegisterID,0)=isnull(b.ScaleRegisterID,0) 
group by a.ContactID,IVTypeID ) A where (isnull(Amount,0)+isnull(ITMonth,0)+isnull(ITTotal,0))!=0
union all 
select ContactID,InvestmentTypeID,ConsiderAmount,0,0 from @EIVDetails where InvestmentTypeID not in (1,53,80,72,73,74,75,76,77,78,79,62,69,70) and isnull(ConsiderAmount,0)!=0
union all
select a.ContactID,(case when a.EmployeeDisabilityTypeID=2 then 46 else 45 end),(case when n.ContactID is not NULL then 0 else DisabilityLimit end),0,0 from ( select ContactID,EmployeeDisabilityTypeID from Employee A with (nolock) where isnull(EmployeeDisabilityTypeID,0)!=0 and isnull(Handicapped,0)=1
and (case when @Contact=0 then 0 else ContactID end)=@Contact ) as A
inner join EmployeeDisabilityTypes B on b.EmployeeDisabilityTypeID=a.EmployeeDisabilityTypeID
left join @NewRegime N on n.ContactID=a.ContactID
union all select distinct ContactID,86,50000,0,0 from #SRID1 
) as A Group By ContactID,IVTypeID having Sum(Amount)>=0 
) A Left Outer Join @NewRegimeIVTypes B on b.InvestmentTypeID=a.IVTypeID
Left Outer Join @NewRegime C on c.ContactID=a.ContactID


Declare @Savings1 Table (ContactID Int,Amount80C Money,Otherthan80C Money) 
Insert Into @Savings1 
select ContactID,Sum(case when IVSectionTypeID in (28,40) then ConsiderAmount else 0 end) as Amount80C,Sum(case when IVSectionTypeID not in (28,40) then ConsiderAmount else 0 end) as Otherthan80C from (
select *,(case when Limit=0 then Amount else case when RateMode='Percentage' then (Amount/100)*Limit else case when RateMode='Amount' and Amount<=Limit then Amount else limit end end end) as ConsiderAmount  from (
select ContactID,(case when UnderIVSectionTypeID=0 then IVSectionTypeID else UnderIVSectionTypeID end) as IVSectionTypeID
,(case when UnderIVSectionTypeID=0 then Section else '80 C' end) as Section,RateMode,Limit,Sum(Amount) as Amount from (
select * from @Savings Union all
select ContactID,19,(case when (Amount-Limit)<0 then 0 else (Amount-Limit) end) as Amount,ITMonth,ITTotal
from (select * from @Savings where IVTypeID=85) A Inner Join @IVRates B on b.IVTypeID=a.IVTypeID and b.IVTypeID in (85)
) as A Inner Join @IVRates  B on b.IVTypeID=a.IVTypeID and IVMainTypeID in (2,3)
Group By ContactID,(case when UnderIVSectionTypeID=0 then IVSectionTypeID else UnderIVSectionTypeID end),(case when UnderIVSectionTypeID=0 then Section else '80 C' end),RateMode,Limit
) as A ) as A Group By ContactID



select * from (
select a.*,(Round((((case when BalanceTax<0 then 0 else BalanceTax end)/(ProjectedMonths+1))/10),0)*10) as ITMonth,((Round((((case when BalanceTax<0 then 0 else BalanceTax end)/(ProjectedMonths+1))/10),0)*10)-ITSourceMonth) as ITDiff,(BalanceTax-(Round((((case when BalanceTax<0 then 0 else BalanceTax end)/(ProjectedMonths+1))/10),0)*10)) as ITBalance,isnull(b.Amount,0) as AdvanceIT from (
select a.*,(Round(((AfterRebate+Cess)/10),0)*10) as TotalTax,(case when (Round((((Round(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10)<100 then 0 else (Round((((Round(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10) end)  as TotalNetTax
,isnull(ITSource,0) as ITSource,( (case when (Round((((Round(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10)<100 then 0 else (Round((((Round(((AfterRebate+Cess)/10),0)*10)-ITReliefAmount)/10),0)*10) end) - isnull(ITSource,0)) as BalanceTax
,isnull(ITMonth,0) as ITSourceMonth from (

select a.*,(case when (NetTax-Rebate)<0 then 0 else (NetTax-Rebate) end) as AfterRebate,Round(Round(( (case when (NetTax-Rebate)<0 then 0 else (NetTax-Rebate) end) * (isnull(Rates,0)/100)),2),0) as Cess,isnull(ITReliefAmount,0) as ITReliefAmount from (
select ProjectedMonths,AcOLID,AcOfficeLocation,OLID,OfficeLocation,a.ContactID,ContactName,Designation,Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross
,(case when HRAExemption<=10 then 0 else HRAExemption end) as HRAExemption,Otherthan80C,Amount80C,AfterSavings,Rebate,Round(Round(Sum(case when Units1<0 then 0 else Units1*(Rates/100) end),2),0) as NetTax from (
select a.*,(case when (ToUnits-(FromUnits-(case when FromUnits=0 then 0 else 1 end)))<(AfterSavings-(FromUnits-1)) then (ToUnits-(FromUnits-(case when FromUnits=0 then 0 else 1 end))) else (AfterSavings-(FromUnits-1)) end) as Units1,Rates from (
select *,(Gross-((case when HRAExemption<10 then 0 else HRAExemption end)+Otherthan80C+Amount80C)) as AfterSavings,(case when (Gross-((case when HRAExemption<10 then 0 else HRAExemption end)+Otherthan80C+Amount80C))<=TaxableAmtLimit then ITRebate else 0 end) as Rebate from (

select c1.ContactID NR_CID,AcOLID,AcOfficeLocation,OLID,OfficeLocation,a.ContactID,ContactName,Designation,TaxableAmtLimit,ITRebate,Age1,Gender1,Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross
,(case when c1.ContactID is not NULL then 0 else (case when (case when ExcessRent<=0 then ((ARent+DRent)-HRA) else ExcessRent end)<HRA then (case when ExcessRent<=0 then ((ARent+DRent)-HRA) else ExcessRent end) else case when HRA<Percent40 then HRA else Percent40 end end) end) as HRAExemption 	 ,BP,DP,ARent,DRent,Percent10,HRA,Percent40,ExcessRent
,( isnull(d.Otherthan80C,0) + (case when (RELS+isnull(IVRELS,0))<=RELSR then (RELS+isnull(IVRELS,0)) else RELSR end)
+ (case when c1.ContactID is not NULL then 0 else ((case when c1.ContactID is not NULL then 0 else (case when (Convey+isnull(IVConvey,0))<=ConveyR then (case when (Convey+isnull(IVConvey,0))<0 then 0 else (Convey+isnull(IVConvey,0)) end) else ConveyR end) end)
+ (case when (HCA+isnull(IVHCA,0))<=HCAR then (case when (HCA+isnull(IVHCA,0))<0 then 0 else (HCA+isnull(IVHCA,0)) end) else HCAR end) 
) end) ) as Otherthan80C
,isnull(Amount80C,0) Amount80C,ProjectedMonths from (

select AcOLID,AcOfficeLocation,OLID,OfficeLocation,a.ContactID,ContactName,Designation,TaxableAmtLimit,ITRebate,Age1,Gender1,Regular,Arrears,Shift,DW,Bonus,ELS,isnull(ConsiderAmount,0) as OtherIncome
,(isnull(a.Perqs,0)+isnull(c.Perqs,0)) as Perqs,(Regular+Arrears+Shift+DW+Bonus+ELS+isnull(ConsiderAmount,0)+ (isnull(a.Perqs,0)+isnull(c.Perqs,0)) ) as Gross 
,BP,DP,ARent,DRent,Round(Round(((BP+DP)*0.1),2),0) as Percent10,HRA,Round(Round(((BP+DP)*0.4),2),0) as Percent40,((ARent+DRent)-Round(Round(((BP+DP)*0.1),2),0)) as ExcessRent,Convey,HCA,RELS,ProjectedMonths from (

select AcOLID,AcOfficeLocation,OLID,OfficeLocation,ContactID,ContactName,Designation,TaxableAmtLimit,ITRebate,Age1,Gender1,SUm(Regular) as Regular,Sum(Arrears) as Arrears,Sum(Shift) as Shift,Sum(DW) as DW,Sum(Bonus) as Bonus,Sum(ELS) as ELS,Sum(Perqs) as Perqs,Sum(BP) as BP,Sum(DP) as DP,Sum(HRA) as HRA,Sum(ARent) as ARent,Sum(Convey) as Convey,Sum(HCA) as HCA,Sum(RELS) as RELS,Round(Round(Sum(DRent),2),0) as DRent,ProjectedMonths from (
select a.*,(Rent+(case when ProjectedAmt!=0 and RentDays=BRDays then isnull(ProjectedMonths,0)*Rent else 0 end)) as ARent from (
select AcOLID,AcOfficeLocation,OLID,OfficeLocation,ContactID,ContactName,Designation,TaxableAmtLimit,ITRebate,Age1,Gender1,a.SRID,ALEDays,RentDays,(Regular+ProjectedAmt) as Regular,(Arrears+Sum(isnull(b.Amount,0))) as Arrears,Shift,DW,Bonus,ELS,Perqs,BP,DP,(HRA+Sum(case when b.TypeID=29 then isnull(b.Amount,0) else 0 end)) HRA,(case when SlNo=1 and HRA!=0 then DRent else 0 end) as DRent,ProjectedAmt,BRDays,ProjectedMonths,Convey,HCA,RELS,Rent from (

select AcOLID,ola.Fileas as AcOfficeLocation,ol.OLID,ol.OfficeLocation,a.ContactID,ct.Fileas as ContactName,(DesignationName+' ('+DepartmentCode+')') as Designation,PANNo,TaxableAmtLimit,ITRebate,Age1,Gender1,ProjectedMonths,isnull(ALEDays,0) as ALEDays,Rate,isnull(q.QtrDays,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end)) as RentDays,Day(EOMonth(StartingDate)) as BRDays
,b.ScaleRegisterID as SRID,Sum(case when b.Suppliment1 in (0,9) then Amount else 0 end) as Regular,Sum(case when b.Suppliment1 not in (0,9,4,5,3,2,7) then isnull(Amount,0) else 0 end) as Arrears,Sum(case when b.Suppliment1=4 then Amount else 0 end) as Shift
,Sum(case when b.Suppliment1=5 then Amount else 0 end) as DW,Sum(case when b.Suppliment1=3 then Amount else 0 end) as Bonus,Sum(case when b.Suppliment1 in (2,7) then Amount else 0 end) as ELS
,(isnull(ProjectedMonths,0)*Sum(case when TobeProject=1 then Amount else 0 end)) as ProjectedAmt
,(case when b.Suppliment1 in (0,9) then (Row_Number() over (Partition By a.ContactID,Year(StartingDate),Month(StartingDate) Order By a.ContactID,Year(StartingDate),Month(StartingDate),(case when Sum(case when b.Suppliment1 in (0,9) then isnull(Amount,0) else 0 end)=0 then 2 else 1 end),b.ScaleRegisterID)) else 0 end) as SlNo
,((isnull(ProjectedMonths,0)*(case when TobeProject=1 then (isnull(ConsiderAmount,0)/12) else 0 end)) + (case when (q.QtrDays is NULL or q.QtrDays is not NULL) then (isnull(ConsiderAmount,0)/12)  else 0 end)) as DRent
,Round(Round((Rate*((
(Sum(case when b.Suppliment1 in (0,9) then Round(Round(((Amount/Day(EOMonth(BRDate)))*isnull(ALEDays,0)),2),0) else 0 end)+Sum(case when b.Suppliment1 in (0,9) and TobeProject=1 and isnull(ALEDays,0)=Day(EOMonth(BRDate)) then isnull(ProjectedMonths,0)*Amount else 0 end)) 
-(Sum(case when b.Suppliment1 in (0,9) and Types='AL' and TypeID=1 then Round(Round(((Amount/Day(EOMonth(BRDate)))*isnull(ALEDays,0)),2),0) else 0 end)+Sum(case when b.Suppliment1 in (0,9) and Types='AL' and TypeID=1 and TobeProject=1 and isnull(ALEDays,0)=Day(EOMonth(BRDate)) then isnull(ProjectedMonths,0)*Amount else 0 end)) ) 
+(Sum(case when b.Suppliment1 not in (0,9,4,5,2,7) and BRDate<p1.ToDate then Round(Round(Amount,2),0) else 0 end)  - Sum(case when b.Suppliment1 not in (0,9,4,5,2,7) and Types='AL' and TypeID=1 and BRDate<p1.ToDate then Round(Round(Amount,2),0) else 0 end))
)),2),0) as Perqs
,(Sum(case when Suppliment in (9) and b.Suppliment1 not in (0,9) and Types='AL' and TypeID=2 then Amount else 0 end) + Sum(case when Suppliment not in (2,7,3,4,5,0,9) and Types='AL' and TypeID=2 then Amount else 0 end) + Sum(case when Suppliment1 in (0,9) and Types='AL' and TypeID=2 and isnull(ConsiderAmount,0)=0 then Round(Round(((Amount/Day(EndingDate-startingDate))*isnull((case when q.QtrDays>Day(EndingDate-startingDate) then Day(EndingDate-startingDate) else q.QtrDays end) ,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end))),2),0) else (case when Suppliment1 in (0,9) and Types='AL' and TypeID=2 and isnull(ConsiderAmount,0)!=0 then Amount else 0 end) end) + Sum(case when Suppliment1 in (0,9) and Types='AL' and TypeID=2 and TobeProject=1 and isnull(q.QtrDays,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end))=Day(EOMonth(StartingDate)) then isnull(ProjectedMonths,0)*Amount else 0 end)) as HRA
,(Sum(case when Suppliment in (9) and b.Suppliment1 not in (0,9) and Types='AL' and TypeID=20 then Amount else 0 end) + Sum(case when Suppliment not in (2,7,3,4,5,0,9) and Types='AL' and TypeID=20 then Amount else 0 end) + Sum(case when Suppliment1 in (0,9) and Types='AL' and TypeID=20 and isnull(ConsiderAmount,0)=0 then Round(Round(((Amount/Day(EndingDate-startingDate))*isnull((case when q.QtrDays>Day(EndingDate-startingDate) then Day(EndingDate-startingDate) else q.QtrDays end) ,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end))),2),0) else (case when Suppliment1 in (0,9) and Types='AL' and TypeID=20 and isnull(ConsiderAmount,0)!=0 then Amount else 0 end) end)+Sum(case when Suppliment1 in (0,9) and Types='AL' and TypeID=20 and TobeProject=1 and isnull(q.QtrDays,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end))=Day(EOMonth(StartingDate)) then isnull(ProjectedMonths,0)*Amount else 0 end)) as DP
,(Sum(case when Suppliment in (9) and b.Suppliment1 not in (0,9) and Types='BP' and TypeID=1 then Amount else 0 end) + Sum(case when Suppliment not in (2,7,3,4,5,0,9) and Types='BP' and TypeID=1 then Amount else 0 end) 
+ Sum(case when Suppliment1 in (0,9) and Types='BP' and TypeID=1 and isnull(ConsiderAmount,0)=0 then Round(Round(((Amount/Day(EndingDate-startingDate)) * isnull((case when q.QtrDays>Day(EndingDate-startingDate) then Day(EndingDate-startingDate) else q.QtrDays end) ,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end))),2),0) else (case when Suppliment1 in (0,9) and Types='BP' and TypeID=1 and isnull(ConsiderAmount,0)!=0 then Amount else 0 end) end) 
+ Sum(case when Suppliment1 in (0,9) and Types='BP' and TypeID=1 and TobeProject=1 and isnull(q.QtrDays,(case when isnull(ConsiderAmount,0)=0 then 0 else Day(EOMonth(StartingDate)) end))=Day(EOMonth(StartingDate)) then isnull(ProjectedMonths,0)*Amount else 0 end)) as BP
,(Sum(case when Suppliment not in (2,7,3,4,5) and c.InvestmentTypeID not in (0,80) then Amount else 0 end)+Sum(case when Suppliment not in (2,7,3,4,5) and c.InvestmentTypeID not in (0,80) and TobeProject=1 then isnull(ProjectedMonths,0)*Amount else 0 end)) as Convey
,(Sum(case when Suppliment not in (2,7,3,4,5) and c.InvestmentTypeID=80 then Amount else 0 end)+Sum(case when Suppliment not in (2,7,3,4,5) and c.InvestmentTypeID=80 and TobeProject=1 then isnull(ProjectedMonths,0)*Amount else 0 end)) as HCA
,Sum(case when Suppliment=7 then Amount else 0 end) as RELS,(isnull(srd.Rent,0)) Rent

from @SRID A 
Cross Apply ( select ContactID,FileAS from Contacts CT with (nolock) where isnull(ct.ContactID,0)=isnull(a.ContactID,0) ) CT
left Join ODLDAllocation ODLD with (nolock) on isnull(odld.ODLDID,0)=isnull(a.ODLDID,0)
left Join Department DP with (nolock) on isnull(dp.DepartmentID,0)=isnull(odld.DepartmentID,0)
left join Designation DN on isnull(dn.DesignationID,0)=isnull(odld.DesignationID,0)
left Join @AcOL ol on isnull(ol.OfficeID,0)=isnull(odld.OfficeID,0) and isnull(ol.LocationID,0)=isnull(odld.LocationID,0)
Cross Apply ( select OfficeLocationAllocationID,FileAS from OfficeLocationAllocation OLA with (nolock) where isnull(ola.OfficeLocationAllocationID,0)=isnull(ol.AcOLID,0) ) OLA
full Join #DOJ D on isnull(d.ContactID,0)=isnull(a.ContactID,0) 
left Join @EIVDetails E62 on e62.InvestmentTypeID=62 and isnull(e62.ContactID,0)=isnull(a.ContactID,0)
full Join ( select IVTypeID,Ratemode,(Limit/100) as Rate from @IVRates where IVTypeID=68 ) as R on IVTypeID=68
full join #SRID1 B on isnull(b.ContactID,0)=isnull(a.ContactID,0)
full Join @Qtr Q on isnull(q.ContactID,0)=isnull(b.ContactID,0) and isnull(q.YearID,0)=(case when (Suppliment=1 or (StartingDate<@FromFyYear and Suppliment=9)) then isnull(Year(BRDate),0) else isnull(Year(StartingDate),0) end) and isnull(q.MonthID,0)=(case when (Suppliment=1 or (StartingDate<@FromFyYear and Suppliment=9)) then isnull(Month(BRDate),0) else isnull(Month(StartingDate),0) end)

Outer Apply ( select ScaleRegisterID,Sum(Amount) Rent from #SRD srd where Types='OD' and TypeID in (10,20) and isnull(srd.ScaleRegisterID,0)=isnull(b.ScaleRegisterID,0) Group By ScaleRegisterID ) srd 
full Join @Perqs P on isnull(p.ContactID,0)=isnull(b.ContactID,0) and isnull(p.YearID,0)=isnull(Year(StartingDate),0) and isnull(p.MonthID,0)=isnull(Month(StartingDate),0)
Outer Apply ( select top 1 ContactID,ToDate from @Perqs p1 where isnull(p1.ContactID,0)=isnull(b.ContactID,0) ) P1
full Join #SRE C on isnull(c.ScaleRegisterID,0)=isnull(b.ScaleRegisterID,0)
Group By AcOLID,ola.Fileas,ol.OLID,ol.OfficeLocation,a.ContactID,ct.Fileas,DesignationName,DepartmentCode,PANNo,TaxableAmtLimit,ITRebate,Age1,Gender1,ProjectedMonths,b.ScaleRegisterID,ALEDays,Rate,q.QtrDays,Day(EOMonth(StartingDate)),isnull(ConsiderAmount,0),TobeProject,Year(StartingDate),Month(StartingDate),b.Suppliment1,srd.Rent
Having AcOLID is not NULL 

) as A Full Join @SRRC B on isnull(b.SRID,0)=isnull(a.SRID,0)
Group By AcOLID,AcOfficeLocation,OLID,OfficeLocation,ContactID,ContactName,Designation,Regular,ProjectedAmt,Arrears,Shift,DW,Bonus,ELS,Perqs,BP,DP,HRA,a.SRID,TaxableAmtLimit,ITRebate,Age1,Gender1,ALEDays,RentDays,ProjectedMonths,BRDays,Convey,HCA,RELS,(case when SlNo=1 and HRA!=0 then DRent else 0 end),Rent
) as A 
) as A  Group By AcOLID,AcOfficeLocation,OLID,OfficeLocation,ContactID,ContactName,Designation,TaxableAmtLimit,ITRebate,Age1,Gender1,ProjectedMonths

) as A Full Join ( select ContactID,Sum(ConsiderAmount) as ConsiderAmount from @EIVDetails A where InvestmentTypeID in ( select IVTypeID from @IVRates B where b.IVTypeID=a.InvestmentTypeID and IVMainTypeID=4 ) Group By ContactID union all select * from @RCIncome ) as B on isnull(b.ContactID,0)=isnull(a.ContactID,0)
Full Join ( select ContactID,Sum(Amount) as Perqs from ( select ContactID,InvestmentTypeID,ConsiderAmount,RateMode,Limit,(case when RateMode='Percentage' then ((ConsiderAmount/100)*Limit) else case when RateMode='Amount' and LimitPart='Above' and Limit>=ConsiderAmount then 0 else (ConsiderAmount-Limit) end end) as Amount
from @EIVDetails A inner join @IVRates B on b.IVTypeID=a.InvestmentTypeID and IVMainTypeID=1 and IVTypeID!=68 ) as A Group By ContactID ) as C on isnull(c.ContactID,0)=isnull(a.ContactID,0)

) as A Cross Join ( select Max(case when IVTYpeID=53 then Limit else 0 end) as RELSR,Max(case when IVTYpeID=80 then Limit else 0 end) as HCAR,Max(case when IVTYpeID not in (53,80) then Limit else 0 end) as ConveyR
from @IVRates where IVMainTypeID=2 and IVTypeID in (53,80,72,73,74,75,76,77,78,79) ) as  B 
Full Join ( select ContactID,Sum(case when InvestmentTypeID=53 then ConsiderAmount else 0 end) as IVRELS,Sum(case when InvestmentTypeID=80 then ConsiderAmount else 0 end) as IVHCA,Sum(case when InvestmentTypeID not in (53,80) then ConsiderAmount else 0 end) as IVConvey
from @EIVDetails where InvestmentTypeID in (53,80,72,73,74,75,76,77,78,79) Group By ContactID ) as C on isnull(c.ContactID,0)=isnull(a.ContactID,0)
Full Join @Savings1 D on isnull(d.ContactID,0)=isnull(a.ContactID,0) 
left Join @NewRegime C1 on isnull(c1.ContactID,0)=isnull(a.ContactID,0)

) as A where (case when AcOLID is not NULL then 1 else 0 end)=1
) as A left outer Join @Rates1 B on b.Gender=a.Gender1 collate database_default and b.Age=a.Age1 and b.NewRegime=(case when a.NR_CID is NULL then 0 else 1 end)
) as A Group By ProjectedMonths,AcOLID,AcOfficeLocation,OLID,OfficeLocation,a.ContactID,ContactName,Designation,Regular,Arrears,Shift,DW,Bonus,ELS,OtherIncome,Perqs,Gross,HRAExemption,Otherthan80C,Amount80C,AfterSavings,Rebate
) as A Cross Join ( select Rates from FnRateDetails() where RateTypes='Deductions' and RateTypeID=24 and ToDate is NULL ) as B
Full Join @ITRelief C on isnull(c.ContactID,0)=isnull(a.ContactID,0)
) as A Full Join ( select ContactID,ITMonth,(ITTotal-ITMonth) as ITSource from @Savings where IVTypeID=0 ) as B on isnull(b.ContactID,0)=isnull(a.ContactID,0)
) as A  Full Join @AdvanceIT  B on isnull(b.ContactID,0)=isnull(a.ContactID,0)
) as A 
where  (case when AdvanceIT=0 then 0 else case when AdvanceIT=ITSourceMonth then 1 else 0 end end)=0 and ITDiff !=0 
Order By ITDiff desc



GO
