USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Recovery_Balance_Update]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_Recovery_Balance_Update] @Update Int,@YearID Int,@MonthID Int
AS SET NOCOUNT ON 


--Declare @Update Int = 0
--Declare @YearID Int = 2024
--Declare @MonthID Int = 9 


Declare @BRDate DateTime select @BRDate = (select EOMOnth(cast(CONCAT(@YearID,'-',@MonthID,'-1') as Date)))

Declare @FundBR Table (OLID Int,BillRegisterNo Varchar(50))
Insert Into @FundBR
select distinct b.OLID,a.OfficialReferenceNo BillRegisterNo from (
select OfficialReferenceNo,BillRegisterNo from SalaryInvoice with(nolock) where Status=1 and Year(BillRegisterDate)=@YearID and Month(BillRegisterDate)=@MonthID
) A Inner Join FundRequisitionDetails B with(nolock) on b.BillRegisterNo=a.BillRegisterNo 
Inner Join FundRequisition C with(nolock) on c.FundRequisitionNo=b.FundRequisitionNo and isnull(Cancel,0)=0 and Transferred=1
;
----------------------- 1
----- LoanAndAdvanceTypes  (ID 4) & One Time Deductions True
Declare @SRAmount Table (OLID Int,ScaleRegisterID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Amount Money,Suppliment Int,BRNo Varchar(50),BRDate DateTime,JVNo Varchar(50),JVDate DateTime,StartingDate DateTime)
Insert Into @SRAmount
select OLID,a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,b.LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,Amount,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate,a.StartingDate from (
select ScaleRegisterID,ContactID,OLID,SalaryYear,SalaryMonth,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate,StartingDate from ScaleRegister A with (nolock)
where Month(BillRegisterDate)=@MonthID and Year(BillRegisterDate)=@YearID and Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and isnull(JVNo,0)!=0 and Suppliment in (0,9) and BillRegisterNo like '%]%'
and BillRegisterNo in (select BillRegisterNo collate database_default from @FundBR B where b.BillRegisterNo collate database_default =a.BillRegisterNo)
) A Inner Join ScaleRegisterLoansandAdvances B with (nolock) on b.ScaleRegisterID=a.ScaleRegisterID and isnull(Amount,0)!=0
Inner Join LoanandAdvance LA with (nolock) on la.LoanandAdvanceID=isnull(b.LoanandAdvanceID,0) and la.LoanandAdvanceTypeID=4 and isnull(OneTimeDeduction,0)=1

Declare @ELAAmount Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money)
Insert Into @ELAAMount
select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,InstallmentCount,isnull(Amount,0) Amount
from EmployeeLoanandAdvance A with (nolock) where isnull(Expired,0)=0
and ContactID in (select ContactID from @SRAmount B where b.ContactID=a.ContactID)
and LoanandAdvanceID in (select LoanandAdvanceID from  LoanandAdvance LA with (nolock) where la.LoanandAdvanceID=isnull(a.LoanandAdvanceID,0) and la.LoanandAdvanceTypeID=4 and isnull(OneTimeDeduction,0)=1 )

Declare @ELAAmount1 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @ELAAMount1
select a.*,EmployeeLoanandAdvanceDetailsID,InstallmentPaidDate,b.Balance  from @ELAAMount A
Inner Join EmployeeLoanandAdvanceDetails B with (nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and isnull(b.Balance,0)!=0 and isnull(InstallmentPaidDate,0)<=@BRDate 

Declare @Balance0 Table (EmployeeLoanandAdvanceDetailsID Int,EmployeeLoanandAdvanceID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money)
Insert into @Balance0 
select EmployeeLoanandAdvanceDetailsID,EmployeeLoanandAdvanceID,a.ContactID,Year(InstallmentPaidDate) YearID,Month(InstallmentPaidDate) MonthID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,b.Amount 
from @ELAAMount1 A Full Join @SRAmount  B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo and b.YearID=Year(InstallmentPaidDate) and b.MonthID=Month(InstallmentPaidDate)
where isnull(a.Balance,0)=isnull(b.Amount,0)

Declare @ELAID Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo Varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money) 
Insert Into @ELAID 
select EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,Sum(isnull(b.Amount,0)) Amount from (
select EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID,Sum(Balance) Balance
from @ELAAMount1 A where EmployeeLoanandAdvanceDetailsID not in ( select EmployeeLoanandAdvanceDetailsID from @Balance0 B where b.EmployeeLoanandAdvanceDetailsID=a.EmployeeLoanandAdvanceDetailsID )
Group By EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID
) A Inner Join @SRAmount B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo and b.StartingDate< dateadd(month,-1,dateadd(day,1,EOMonth(@BRDate)))
Group By EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance
Having isnull(a.Balance,0)=Sum(isnull(b.Amount,0))

Declare @Balance0_1 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @Balance0_1 
select * from @ELAAMount1 A where EmployeeLoanandAdvanceID in (select EmployeeLoanandAdvanceID from @ELAID B where b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID )

IF @Update=1 
 update a set Balance = 0
from EmployeeLoanandAdvanceDetails A with (nolock) where EmployeeLoanandAdvanceDetailsID in (
select EmployeeLoanandAdvanceDetailsID from @Balance0 union select EmployeeLoanandAdvanceDetailsID from @Balance0_1 )
;
----------------------- 2
----- LoanAndAdvanceID (20,23) & ExternalOrganisationID (72,94,270  74,75)

Declare @SRAmount2 Table (OLID Int,ScaleRegisterID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Amount Money,Suppliment Int,BRNo Varchar(50),BRDate DateTime,JVNo Varchar(50),JVDate DateTime)
Insert Into @SRAmount2
select OLID,a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,b.LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(b.ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,Amount,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate from (
select ScaleRegisterID,ContactID,OLID,SalaryYear,SalaryMonth,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate from ScaleRegister A with (nolock)
where Month(BillRegisterDate)=@MonthID and Year(BillRegisterDate)=@YearID and Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and isnull(JVNo,0)!=0 and Suppliment in (0,9) and BillRegisterNo like '%]%'
and BillRegisterNo in (select BillRegisterNo collate database_default from @FundBR B where b.BillRegisterNo collate database_default =a.BillRegisterNo)
) A Inner Join ScaleRegisterLoansandAdvances B with (nolock) on b.ScaleRegisterID=a.ScaleRegisterID and isnull(Amount,0)!=0 
Inner Join EmployeeLoanandAdvanceExternalOrganisationAllocation LA with (nolock) on la.LoanandAdvanceID=isnull(b.LoanandAdvanceID,0) and la.ExternalOrganisationID=b.ExternalOrganisationID

Declare @ELAAmount2 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money)
Insert Into @ELAAMount2
select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,InstallmentCount,isnull(Amount,0) Amount
from EmployeeLoanandAdvance A with (nolock) where isnull(Expired,0)=0
and ContactID in (select ContactID from @SRAmount2 B where b.ContactID=a.ContactID)
and LoanandAdvanceID in (select LoanandAdvanceID from  EmployeeLoanandAdvanceExternalOrganisationAllocation LA with (nolock) where la.LoanandAdvanceID=isnull(a.LoanandAdvanceID,0) and la.ExternalOrganisationID=a.ExternalOrganisationID )

Declare @ELAAmount12 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @ELAAMount12
select a.*,EmployeeLoanandAdvanceDetailsID,InstallmentPaidDate,b.Balance  from @ELAAMount2 A
Inner Join EmployeeLoanandAdvanceDetails B with (nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and isnull(b.Balance,0)!=0 and isnull(InstallmentPaidDate,0)<=@BRDate 

Declare @Balance02 Table (EmployeeLoanandAdvanceDetailsID Int,EmployeeLoanandAdvanceID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money)
Insert into @Balance02 
select EmployeeLoanandAdvanceDetailsID,EmployeeLoanandAdvanceID,a.ContactID,Year(InstallmentPaidDate) YearID,Month(InstallmentPaidDate) MonthID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,b.Amount 
from @ELAAMount12 A Full Join @SRAmount2  B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo and b.YearID=Year(InstallmentPaidDate) and b.MonthID=Month(InstallmentPaidDate)
where isnull(a.Balance,0)=isnull(b.Amount,0)

Declare @ELAID2 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo Varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money) 
Insert Into @ELAID2 
select EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,Sum(isnull(b.Amount,0)) Amount from (
select EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID,Sum(Balance) Balance
from @ELAAMount12 A where EmployeeLoanandAdvanceDetailsID not in ( select EmployeeLoanandAdvanceDetailsID from @Balance02 B where b.EmployeeLoanandAdvanceDetailsID=a.EmployeeLoanandAdvanceDetailsID )
Group By EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID
) A Inner Join @SRAmount2 B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo 
Group By EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance
Having isnull(a.Balance,0)=Sum(isnull(b.Amount,0))

Declare @Balance0_12 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @Balance0_12 
select * from @ELAAMount12 A where EmployeeLoanandAdvanceID in (select EmployeeLoanandAdvanceID from @ELAID2 B where b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID )

 IF @Update=2 
 update a set Balance = 0
from EmployeeLoanandAdvanceDetails A with (nolock) where EmployeeLoanandAdvanceDetailsID in (
select EmployeeLoanandAdvanceDetailsID from @Balance02 union select EmployeeLoanandAdvanceDetailsID from @Balance0_12 )
;

----------------------- 3
----- LoanAndAdvanceTypes Advance (ID 2) & One Time Deductions True (FA)

Declare @SRAmount3 Table (OLID Int,ScaleRegisterID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Amount Money,Suppliment Int,BRNo Varchar(50),BRDate DateTime,JVNo Varchar(50),JVDate DateTime,StartingDate DateTime)
Insert Into @SRAmount3
select OLID,a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,b.LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,Amount,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate,a.StartingDate from (
select ScaleRegisterID,ContactID,OLID,SalaryYear,SalaryMonth,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate,StartingDate from ScaleRegister A with (nolock)
where Month(BillRegisterDate)=@MonthID and Year(BillRegisterDate)=@YearID and Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and isnull(JVNo,0)!=0 and Suppliment in (0,9) and BillRegisterNo like '%]%'
and BillRegisterNo in (select BillRegisterNo collate database_default from @FundBR B where b.BillRegisterNo collate database_default =a.BillRegisterNo)
) A Inner Join ScaleRegisterRecovery B with (nolock) on b.ScaleRegisterID=a.ScaleRegisterID and isnull(Amount,0)!=0
Inner Join LoanandAdvance LA with (nolock) on la.LoanandAdvanceID=isnull(b.LoanandAdvanceID,0) and la.LoanandAdvanceTypeID=2 and isnull(OneTimeDeduction,0)=1

Declare @ELAAmount3 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money)
Insert Into @ELAAMount3
select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,InstallmentCount,isnull(Amount,0) Amount 
from EmployeeLoanandAdvance A with (nolock) where isnull(Expired,0)=0
and ContactID in (select ContactID from @SRAmount3 B where b.ContactID=a.ContactID)
and LoanandAdvanceID in (select LoanandAdvanceID from  LoanandAdvance LA with (nolock) where la.LoanandAdvanceID=isnull(a.LoanandAdvanceID,0) and la.LoanandAdvanceTypeID=2 and isnull(OneTimeDeduction,0)=1 )

Declare @ELAAmount13 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @ELAAMount13
select a.*,EmployeeLoanandAdvanceDetailsID,InstallmentPaidDate,b.Balance  from @ELAAMount3 A
Inner Join EmployeeLoanandAdvanceDetails B with (nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and isnull(b.Balance,0)!=0 and isnull(InstallmentPaidDate,0)<= @BRDate 
and ContactID in (select ContactID from @SRAmount3 B where b.ContactID=a.ContactID and InstallmentPaidDate<EOMonth(b.StartingDate))

Declare @Balance03 Table (EmployeeLoanandAdvanceDetailsID Int,EmployeeLoanandAdvanceID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money)
Insert into @Balance03 
select EmployeeLoanandAdvanceDetailsID,EmployeeLoanandAdvanceID,a.ContactID,Year(InstallmentPaidDate) YearID,Month(InstallmentPaidDate) MonthID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,b.Amount 
from @ELAAMount13 A Full Join @SRAmount3  B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo and b.YearID=Year(InstallmentPaidDate) and b.MonthID=Month(InstallmentPaidDate)
where isnull(a.Balance,0)=isnull(b.Amount,0)

Declare @ELAID3 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo Varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money) 
Insert Into @ELAID3 
select EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,Sum(isnull(b.Amount,0)) Amount from (
select EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID,Sum(Balance) Balance
from @ELAAMount13 A where EmployeeLoanandAdvanceDetailsID not in ( select EmployeeLoanandAdvanceDetailsID from @Balance03 B where b.EmployeeLoanandAdvanceDetailsID=a.EmployeeLoanandAdvanceDetailsID )
Group By EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID
) A Inner Join @SRAmount3 B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo 
Group By EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance
Having isnull(a.Balance,0)=Sum(isnull(b.Amount,0))

Declare @Balance0_13 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @Balance0_13 
select * from @ELAAMount13 A where EmployeeLoanandAdvanceID in (select EmployeeLoanandAdvanceID from @ELAID3 B where b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID )

IF @Update=3 
update a set Balance = 0
from EmployeeLoanandAdvanceDetails A with (nolock) where EmployeeLoanandAdvanceDetailsID in (
select EmployeeLoanandAdvanceDetailsID from @Balance03 union select EmployeeLoanandAdvanceDetailsID from @Balance0_13 )
;

----------------------- 4
----- LoanAndAdvanceTypes Recovery (ID 5) & One Time Deductions True

Declare @SRAmount4 Table (OLID Int,ScaleRegisterID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Amount Money,Suppliment Int,BRNo Varchar(50),BRDate DateTime,JVNo Varchar(50),JVDate DateTime,StartingDate DateTime)
Insert Into @SRAmount4
select OLID,a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,b.LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,Amount,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate,a.StartingDate from (
select ScaleRegisterID,ContactID,OLID,SalaryYear,SalaryMonth,Suppliment,BillRegisterNo,BillregisterDate,JVNo,JVDate,StartingDate from ScaleRegister A with (nolock)
where Month(BillRegisterDate)=@MonthID and Year(BillRegisterDate)=@YearID and Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and isnull(JVNo,0)!=0 and Suppliment in (0,9) and BillRegisterNo like '%]%'
and BillRegisterNo in (select BillRegisterNo collate database_default from @FundBR B where b.BillRegisterNo collate database_default =a.BillRegisterNo)
) A Inner Join ScaleRegisterRecovery B with (nolock) on b.ScaleRegisterID=a.ScaleRegisterID and isnull(Amount,0)!=0
Inner Join LoanandAdvance LA with (nolock) on la.LoanandAdvanceID=isnull(b.LoanandAdvanceID,0) and la.LoanandAdvanceTypeID=5 and isnull(OneTimeDeduction,0)=1

Declare @ELAAmount4 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money)
Insert Into @ELAAMount4
select EmployeeLoanandAdvanceID,ContactID,LoanandAdvanceID,isnull(ExternalRRNo,'') ExternalRRNo,isnull(ExternalOrganisationTypeID,0) EOTypeID,isnull(ExternalOrganisationID,0) EOID,isnull(ExternalOrganisationBranchID,0) EOBID,InstallmentCount,isnull(Amount,0) Amount
from EmployeeLoanandAdvance A with (nolock) where isnull(Expired,0)=0
and ContactID in (select ContactID from @SRAmount4 B where b.ContactID=a.ContactID)
and LoanandAdvanceID in (select LoanandAdvanceID from  LoanandAdvance LA with (nolock) where la.LoanandAdvanceID=isnull(a.LoanandAdvanceID,0) and la.LoanandAdvanceTypeID=5 and isnull(OneTimeDeduction,0)=1 )

Declare @ELAAmount14 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @ELAAMount14
select a.*,EmployeeLoanandAdvanceDetailsID,InstallmentPaidDate,b.Balance  from @ELAAMount4 A
Inner Join EmployeeLoanandAdvanceDetails B with (nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID and isnull(b.Balance,0)!=0 and isnull(InstallmentPaidDate,0)<=@BRDate 

Declare @Balance04 Table (EmployeeLoanandAdvanceDetailsID Int,EmployeeLoanandAdvanceID Int,ContactID Int,YearID Int,MonthID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money)
Insert into @Balance04 
select EmployeeLoanandAdvanceDetailsID,EmployeeLoanandAdvanceID,a.ContactID,Year(InstallmentPaidDate) YearID,Month(InstallmentPaidDate) MonthID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,b.Amount 
from @ELAAMount14 A Full Join @SRAmount4  B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo and b.YearID=Year(InstallmentPaidDate) and b.MonthID=Month(InstallmentPaidDate)
where isnull(a.Balance,0)=isnull(b.Amount,0)

Declare @ELAID4 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo Varchar(100),EOTypeID Int,EOID Int,EOBID Int,Balance Money,Amount Money) 
Insert Into @ELAID4 
select EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance,Sum(isnull(b.Amount,0)) Amount from (
select EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID,Sum(Balance) Balance
from @ELAAMount14 A where EmployeeLoanandAdvanceDetailsID not in ( select EmployeeLoanandAdvanceDetailsID from @Balance04 B where b.EmployeeLoanandAdvanceDetailsID=a.EmployeeLoanandAdvanceDetailsID )
Group By EmployeeLoanandAdvanceID,ContactID,LAID,ExternalRRNo,EOTypeID,EOID,EOBID
) A Inner Join @SRAmount4 B on b.ContactID=a.ContactID and b.LAID=a.LAID and b.EOTypeID=a.EOTypeID and b.EOID=a.EOID and b.EOBID=a.EOBID and b.ExternalRRNo=a.ExternalRRNo and b.StartingDate< dateadd(month,-1,dateadd(day,1,EOMonth(@BRDate)))
Group By EmployeeLoanandAdvanceID,a.ContactID,a.LAID,a.ExternalRRNo,a.EOTypeID,a.EOID,a.EOBID,Balance
Having isnull(a.Balance,0)=Sum(isnull(b.Amount,0))

Declare @Balance0_14 Table (EmployeeLoanandAdvanceID Int,ContactID Int,LAID Int,ExternalRRNo varchar(100),EOTypeID Int,EOID Int,EOBID Int,InstallmentCount Int,Amount Money,EmployeeLoanandAdvanceDetailsID Int,InstallmentPaidDate DateTime,Balance Money)
Insert Into @Balance0_14 
select * from @ELAAMount14 A where EmployeeLoanandAdvanceID in (select EmployeeLoanandAdvanceID from @ELAID4 B where b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID )

IF @Update=4 
 update a set Balance = 0
from EmployeeLoanandAdvanceDetails A with (nolock) where EmployeeLoanandAdvanceDetailsID in (
select EmployeeLoanandAdvanceDetailsID from @Balance04 union select EmployeeLoanandAdvanceDetailsID from @Balance0_14 )
;

------------------------- 5

IF @Update=5 
 update b set b.Balance = a.Balance
from ( select EmployeeLoanandAdvanceID,Sum(Balance) Balance
from EmployeeLoanandAdvanceDetails A with (nolock) where EmployeeLoanandAdvanceID in (
select EmployeeLoanandAdvanceID from EmployeeLoanandAdvance B with (nolock) where isnull(Expired,0)=0 and  b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID)
Group By EmployeeLoanandAdvanceID ) A Inner Join EmployeeLoanandAdvance B with (nolock) on b.EmployeeLoanandAdvanceID=a.EmployeeLoanandAdvanceID
where isnull(a.Balance,0)!=isnull(b.Balance,0) and LoanandAdvanceID!=17
;
 IF @Update=5 
update a set Expired = 1
from EmployeeLoanandAdvance A with (nolock) where isnull(Balance,0)=0 and isnull(Expired,0)=0 
;
 IF @Update=5 
update EmployeeLoanandAdvance set Balance=b.Balance
from EmployeeLoanandAdvance A with(nolock)
inner join (select EmployeeLoanAndAdvanceID,sum(isnull(Balance,0))  as Balance from EmployeeLoanandAdvanceDetails with(nolock) group by EmployeeLoanAndAdvanceID) B ON A.EmployeeLoanAndAdvanceID=B.EmployeeLoanAndAdvanceID 
WHERE ISNULL(A.BALANCE,0)!=B.BALANCE and ISNULL(Expired,0)=0  
and (case when LoanandAdvanceID=17 and ExternalOrganisationID=86 then 0 else 1 end)=1 
;
 IF @Update=5 
UPDATE A SET EXPIRED=1  
from EmployeeLoanandAdvance  a where EmployeeLoanAndAdvanceID not in (
select distinct EmployeeLoanAndAdvanceID from EmployeeLoanandAdvanceDetails with(nolock) where isnull(Balance,0)!=0 and EmployeeLoanAndAdvanceID=a.EmployeeLoanAndAdvanceID ) 
and isnull(a.Expired,0)=0
;

select concat('Uodated Successfully of update ',@Update) Status 

GO
