USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeLoanAndAdvance]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_EmployeeLoanAndAdvance]
@Types Varchar(10),@CID Int,@LATID Int,@LAID Int,@EOTID Int,@EOID Int,@EOBID Int,
@ELAID Int,@Expired Int,
@ELAID1 Int,@LADate Varchar(20),@InstCount Int,@Amount Money,@Balance Money,@PolicyNo Varchar(50),@Premium Money,
@ELADID Int,@Balance1 Money
AS SET NOCOUNT ON


--Declare @Types Varchar(10) = 'Select' ----- Select Update Import  
--Declare @CID Int = 574 
--Declare @LATID Int = -99
--Declare @LAID Int = -99
--Declare @EOTID Int = -99 
--Declare @EOID Int = -99
--Declare @EOBID Int = -99

--Declare @ELAID Int = 0
--Declare @Expired Int = 0

--Declare @ELAID1 Int = 0
--Declare @LADate Varchar(20) = '2024-12-01'
--Declare @InstCount Int = 2
--Declare @Amount Money = 11500
--Declare @Balance Money = 11500
--Declare @PolicyNo Varchar(50) = '1233456'
--Declare @Premium Money = 0

--Declare @ELADID Int = 0
--Declare @Balance1 Money = 0


IF (@Types='Update' and @ELAID>0)
update a set Expired=@Expired
from EmployeeLoanandAdvance a with(nolock) where EmployeeLoanandAdvanceID=@ELAID

else 
IF (@Types='Import' and @Amount>0 and @Balance>0)
insert into EmployeeLoanandAdvance (ContactID,LoanandAdvanceID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,LoanandAdvanceDate,InterestRate,InstallmentCount,ConsumerBillingCycleID,Amount,Balance,ExternalRRNo,Expired,OLID,PremiumAmount) 
select @CID,@LAID,(case when @EOTID=-99 then NULL else @EOTID end),(case when @EOID=-99 then NULL else @EOID end),(case when @EOBID=-99 then NULL else @EOBID end),@LADate,0 InterestRate,@InstCount,1 ConsumerBillingCycleID,@Amount,@Balance,@PolicyNo,0 Expired,0 OLID,@Premium  

else 
IF (@Types='Import1' and @InstCount=1 and @ELAID1>0 and @Amount>0 and @Balance>0)
insert into EmployeeLoanandAdvanceDetails (EmployeeLoanAndAdvanceID,InstallmentPaidDate,InstallmentAmount,InterestAmount,Total,Balance)
select @ELAID1,@LADate,@Amount,0,@Amount,@Amount

else 
IF (@Types='Import1' and @InstCount>1 and @ELAID1>0 and @Amount>0 and @Balance>0)
with Data1 as(
select @InstCount InstCount,cast(round(round((@Amount/@InstCount),2),0) as Numeric(18,2)) Amount
) , Data2  AS (
SELECT 1 AS RowNumber,* from Data1  UNION ALL
SELECT a.RowNumber + 1 AS RowNumber,InstCount,Amount FROM Data2 a WHERE a.RowNumber <= InstCount-1
) , Data3 as (
select *,DateAdd(month,RowNumber-1,cast(@LADate as DateTime)) Date1 from Data2
) insert into EmployeeLoanandAdvanceDetails (EmployeeLoanAndAdvanceID,InstallmentPaidDate,InstallmentAmount,InterestAmount,Total,Balance)
select @ELAID1,Date1,Amount,0,Amount,Amount from Data3

else 
IF (@Types='Update1' and @ELADID>0)
 update a set Balance = @Balance1
from EmployeeLoanandAdvanceDetails a where EmployeeLoanandAdvanceDetailsID=@ELADID


;with Data1 as (
select isnull(e2.OfficeLocation,e.OfficeLocation) SanctionLocation,e.OfficeLocation WorkingLocation
,a.ContactID,c.Fileas ContactName,CONCAT(DesignationCode,' (',DepartmentCode,')') Designation
,ELAID,LAID,EOID,EOBID,LADate,Count,Amount,Balance,PolicyNo,Premium,ELADID,InstallmentPaidDate,Balance1 
from (
select A.*,EmployeeLoanandAdvanceDetailsID ELADID,InstallmentPaidDate,b.Balance Balance1 from (
select EmployeeLoanandAdvanceID ELAID,ContactID,LoanandAdvanceID LAID,ExternalOrganisationID EOID,ExternalOrganisationBranchID EOBID,convert(varchar,LoanandAdvanceDate,104) LADate,InstallmentCount Count,Amount,Balance,ExternalRRNo PolicyNo,PremiumAmount Premium 
from EmployeeLoanandAdvance a with(nolock) where ContactID = @CID and Expired=0
and LoanandAdvanceID in (select LoanandAdvanceID from LoanandAdvance with(nolock) where (case when @LATID=-99 then -99 else LoanandAdvanceTypeID end)=@LATID ) 
and (case when @LAID=-99 then -99 else a.LoanandAdvanceID end)=@LAID 
and (case when @ELAID=0 then 0 else a.EmployeeLoanandAdvanceID end)=@ELAID 
and (case when @ELAID1=0 then 0 else a.EmployeeLoanandAdvanceID end)=@ELAID1 
) A left Join EmployeeLoanandAdvanceDetails b with(nolock) on b.EmployeeLoanandAdvanceID=a.ELAID and isnull(b.Balance,0)>0 
) A 
inner join Employee B with(nolock) on b.ContactID=a.ContactID 
inner join Contacts C with(nolock) on c.ContactID=a.ContactID 
left join ODLDAllocation D with(nolock) on d.ODLDID=isnull(b.ODLDID,0)
left join OfficeLocationAccountingUnitDetails E with(nolock) on e.OfficeID=d.OfficeID and e.LocationID=d.LocationID 
left join Department DP with(nolock) on DP.DepartmentID=D.DepartmentID
left join Designation DN with(nolock) on Dn.DesignationID=D.DesignationID
outer apply (select top 1 FromODLDID from EmployeeAppointmentDetails E1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(FromODLDID,0)>0 and e1.ContactID=isnull(a.ContactID,a.ContactID)) E1
left join ODLDAllocation D1 with(nolock) on d1.ODLDID=isnull(e1.FromODLDID,0)
left join OfficeLocationAccountingUnitDetails E2 with(nolock) on e2.OfficeID=d1.OfficeID and e2.LocationID=d1.LocationID 
where (case when @ELADID=0 then 0 else ELADID end)=@ELADID  
) select ContactID,ContactName,Designation
,ELAID,LAID,EOID,EOBID,LADate,Count,Amount,Balance,PolicyNo,Premium,ELADID,convert(varchar,InstallmentPaidDate,104) FromDate,Balance1 
from Data1 
order By LAID,EOID,EOBID,InstallmentPaidDate 




GO
