USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_Expenditure_New1]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CWIP_Expenditure_New1]
@LoginOLID Int ,
@FromYear Int ,
@ToYear Int ,
@FromDate1 DateTime ,
@ToDate DateTime ,
@AcOLID Int

AS SET NOCOUNT ON
-- ============================================================
-- PARAMETERS
-- ============================================================
--Declare @LoginOLID INT      = 341
--DECLARE @AcOLID    INT      = 0
--DECLARE @FromYear  INT      = 2025
--DECLARE @ToYear    INT      = 2026
--DECLARE @FromDate1 DATETIME = '2025-04-01'
--DECLARE @ToDate    DATETIME = '2026-02-28'

DECLARE @FromDate  DATETIME = DATEADD(MONTH, 3, DATEADD(YEAR, @FromYear - 1900, 0))
Declare @JVNo      Int          = 0
Declare @DocumentNo Int         = 0

-- Drop only if exists (safe for re-runs in same session)
DROP TABLE IF EXISTS #OB
DROP TABLE IF EXISTS #CWIP
DROP TABLE IF EXISTS #Budget
DROP TABLE IF EXISTS #Data

Declare @StartFyYear datetime  = (select StartingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))
Declare @EndFyYear datetime  = (select EndingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))

Declare @AcOL Table (AcOLID Int,OfficeID Int,LocationID Int,OLID Int,OfficeLocation varchar(200)) Insert Into @AcOL
select AcOLID,OfficeID,LocationID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails with(nolock) 
where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 


Declare @JV Table (JVNo Int,JVDate DateTime) 
Insert Into @JV
select JournalVoucherNo,JournalVoucherDate from @AcOL ol 
inner join JournalVoucher JV with(nolock) on jv.OLID=ol.OLID and Approved=1 and JournalVoucherDate Between @StartFyYear and @ToDate  
where JournalVoucherNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where b.JournalVoucherNo = jv.JournalVoucherNo 
and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%') ) 


-- =============================================
-- #Data (was @Data) - add index after insert
-- =============================================
IF OBJECT_ID('tempdb..#Data') IS NOT NULL DROP TABLE #Data
CREATE TABLE #Data (
    OLID Int, JournalVoucherNo Int, AcHead Varchar(20),
    _10 Money,_11 Money,_12 Money,_13 Money,_14 Money,_15 Money,_16 Money,_17 Money,_18 Money,_19 Money,_20 Money,_21 Money,
    _22 Money,_23 Money,_24 Money,_25 Money,_26 Money,_27 Money,_28 Money,_29 Money,
    _101 Money,_102 Money,_103 Money,_104 Money,_105 Money,_106 Money,_107 Money,_108 Money,_109 Money,_110 Money,
    _111 Money,_112 Money,_113 Money,_114 Money,_115 Money,_116 Money,_117 Money,_118 Money,_119 Money,_120 Money,
    _121 Money,_122 Money,_123 Money,_124 Money,_125 Money,_126 Money,_127 Money,_128 Money,_129 Money,_130 Money,
    _131 Money,_132 Money,_133 Money,_134 Money,_135 Money,_136 Money,_137 Money,_138 Money,_139 Money,_140 Money,
    _141 Money,_142 Money,_143 Money,_144 Money,_145 Money,_146 Money,_147 Money,_148 Money,_149 Money,_150 Money,
    _151 Money,_152 Money,_153 Money,_154 Money,_155 Money,_156 Money,_157 Money,_158 Money
)
INSERT INTO #Data
EXEC SP_Annexure1a @LoginOLID, @FromYear, @ToYear, @StartFyYear, @Todate, @AcOLID

-- Index to support downstream joins on JournalVoucherNo and AcHead filter
CREATE INDEX ix_Data_JV_AcHead ON #Data (JournalVoucherNo, AcHead)


-- =============================================
-- FINAL SELECT with OPTION (RECOMPILE)
-- =============================================



-- ============================================================
-- STEP 2: @CWIP → #CWIP
-- Stored proc result goes directly into temp table.
-- MULTI-USER NOTE: verify SP_CWIP_Expenditure_New does NOT
-- use ##double-hash global temp tables inside its body.
-- If it does, that SP must be fixed to use #single-hash.
-- ============================================================
CREATE TABLE #CWIP (
    OrderNo          INT,
    DocumentTypeID   INT,
    WorkInChargeID   INT,
    ODLDID           INT,
    Legacy           INT,
    WorkOrderNo1     VARCHAR(50),
    WorkOrderDate    DATETIME,
    JVDate           DATETIME,
    Table1           VARCHAR(50),
    WorkOrderNo      INT,
    TransNo          INT,
    TransDate        DATETIME,
    OfficeID         INT,
    Description      VARCHAR(500),
    AccountHead      VARCHAR(20),
    Expenditure      MONEY,
)
INSERT INTO #CWIP
select * from (
            SELECT 1 OrderNo,(CASE WHEN DocumentTypeID=22 THEN 2 ELSE DocumentTypeID END) DocumentTypeID,a.WorkInChargeID,a.ODLDID,isnull(Legacy,0) Legacy,
			isnull(wo.OfficialReferenceNo,'') WorkOrderNo1,WorkOrderDate,JVDate,TableName Table1,isnull(WorkOrderNo,a.DocumentNo) WorkOrderNo,TableRefNo TransNo,TableRefDate TransDate,
			ol.OfficeID,s.Description,left(ISNULL(b.AcHead, a.AcHead),6) AccountHead,
             --Sum(ISNULL((CASE WHEN TableName='DivisionAdjustment' THEN AssetAmount ELSE _18 END),0)) Expenditure
			 sum(_18) Expenditure 
            FROM (

                SELECT OLID,JournalVoucherNo,AcHead,_18 FROM #Data
                WHERE (CASE WHEN @JVNo=0 THEN 0 ELSE JournalVoucherNo END) = @JVNo and _18<>0
           ) B
            LEFT JOIN JVWorkOrderDetails a WITH(NOLOCK) ON JVDate BETWEEN @StartFyYear AND @ToDate AND JVOLID = OLID AND a.JournalVoucherNo = b.JournalVoucherNo AND ISNULL(a.AcHead,0) = ISNULL(b.AcHead,0)
			left join WorkOrder WO with(nolock) on wo.WorkOrderNo=(case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end) 
            left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.JVOLID
			left join SubAccount S with(nolock) on (s.MainAccountCode+s.SubAccountCode) = left(ISNULL(b.AcHead, a.AcHead),6) collate database_default
			WHERE (CASE WHEN @DocumentNo=0 THEN 0 ELSE DocumentNo END) = @DocumentNo
            GROUP BY (CASE WHEN DocumentTypeID=22 THEN 2 ELSE DocumentTypeID END),a.WorkInChargeID,a.ODLDID,Legacy,wo.OfficialReferenceNo,WorkOrderDate,JVDate
			,TableName,WorkOrderNo,TableRefNo,TableRefDate,ol.OfficeID,left(ISNULL(b.AcHead, a.AcHead),6),s.Description,a.DocumentNo
        ) A WHERE AccountHead LIKE '14.%' 

union all 

select 2 OrderNo,0,0,0,0,'0',JVDate,JVDate,'' Table1,0,BRNo,BillRegisterDate,OfficeID,AcDesc,AcCode collate database_default ,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DoucmentNo DocumentNo,a.JournalVoucherNo,DoucmentNo BRNo,BillRegisterDate,JournalVoucherDate JVDate,OfficeID
,(case when FromMainAccountCode like '18.%' then (FromMainAccountCode+FromSubAccountCode) else (ToMainAccountCode+ToSubAccountCode) end) AcCode 
,sum(case when FromMainAccountCode like'18.%' then jvd.Amount else -jvd.Amount end) TotalAmount,s.Description AcDesc
from @JV JV inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%')
left join BillRegisterNoInvoiceTypeAllocation BR with(nolock) on br.BillRegisterNo=DoucmentNo 
left join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID 
left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(case when FromMainAccountCode like '18.%' then (FromMainAccountCode+FromSubAccountCode) else (ToMainAccountCode+ToSubAccountCode) end)
Group By DoucmentNo,JournalVoucherDate,a.JournalVoucherNo,BillRegisterDate,OfficeID,FromMainAccountCode,FromSubAccountCode,s.Description,(ToMainAccountCode+ToSubAccountCode) 
--union all 
--select 0 DocumentNo,0 JournalVoucherNo,0 BRNo,NULL BillRegisterDate,NULL JVDate,0 OfficeID,(FromMainAccountCode+FromSubAccountCode) AcCode
--,0 TotalAmount,s.Description AcDesc
--from (select 1098986 JVNo) JV inner join JournalVoucher A with(nolock) on a.JournalVoucherNo=jv.JVNo 
--inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'18.%' or ToMainAccountCode like '18.%')
--left join SubAccount S with(nolock) on (MainAccountCode+SubAccountCode)=(FromMainAccountCode+FromSubAccountCode)
--Group By (FromMainAccountCode+FromSubAccountCode),s.Description 
) A Group By DocumentNo,BRNo,BillRegisterDate,JVDate,OfficeID,AcDesc,AcCode 


-- Index immediately after population — covers all join + CASE columns
CREATE NONCLUSTERED INDEX IX_CWIP_WO ON #CWIP (WorkOrderNo)
    INCLUDE (OrderNo, WorkOrderDate, AccountHead,
             Description, Expenditure)

-- ============================================================
-- MULTI-USER SAFE: #temp tables are session-scoped in SQL
-- Server. Two users running simultaneously each get their OWN
-- private copy of #CWIP, #OB, #Budget in tempdb — they never
-- read or block each other. No renaming needed.
-- 
-- ONLY risk: if SP_CWIP_Expenditure_New uses ##global temp
-- tables internally. You must verify that SP separately.
-- ============================================================




-- ============================================================
-- STEP 1: @OB → #OB
-- FIX: sargable range replaces CAST(col AS DATE) = scalar
-- FIX: ISNULL(a.OLID,0) in GROUP BY prevents NULL bucket bug
-- ============================================================
SELECT
    ISNULL(a.OLID, 0)        AS AcOLID,
    ISNULL(a.OLID, 0)        AS OLID,
    b.DocumentNo             AS WONo,
    SUM(b.ExpenditureAmount) AS ExpenditureAmount
INTO #OB
FROM CostRegisterExpenditureDetails b WITH (NOLOCK)
LEFT JOIN OfficeLocationAccountingUnitDetails a WITH (NOLOCK)
    ON  b.DocumentOLID = a.OLID
    AND (CASE WHEN @AcOLID = 0 THEN 0 ELSE a.AcOLID END) = @AcOLID
WHERE b.EffectiveDate >= DATEADD(DAY, -1, @FromDate)
  AND b.EffectiveDate <  @FromDate
GROUP BY
    ISNULL(a.OLID, 0),
    b.DocumentNo

-- Index immediately after population
CREATE NONCLUSTERED INDEX IX_OB_WONo ON #OB (WONo)
    INCLUDE (ExpenditureAmount)



-- ============================================================
-- STEP 3: @Budget → #Budget
-- EXISTS replaces IN (subquery) — stops at first match per row
-- ============================================================
SELECT
    CASE WHEN @AcOLID = 0 THEN 0 ELSE t.BudgetGrantOLID END AS OLID,
    t.MainAccountCode + t.SubAccountCode                     AS AcCode,
    SUM(ISNULL(t.Total, 0))                                  AS Total
INTO #Budget
FROM BudgetGrant t WITH (NOLOCK)
WHERE EXISTS (
    SELECT 1
    FROM OfficeLocationAccountingUnitDetails x WITH (NOLOCK)
    WHERE x.OLID     = t.BudgetGrantOLID
      AND (@AcOLID   = 0 OR x.AcOLID = @AcOLID)
      AND x.OfficeID = 50
)
  AND t.YearFrom         = @FromYear
  AND t.YearTo           = @ToYear
  AND t.MainAccountCode IS NOT NULL
  AND t.SubAccountCode  IS NOT NULL
GROUP BY
    CASE WHEN @AcOLID = 0 THEN 0 ELSE t.BudgetGrantOLID END,
    t.MainAccountCode + t.SubAccountCode

CREATE NONCLUSTERED INDEX IX_BUD ON #Budget (OLID, AcCode)
    INCLUDE (Total)


-- ============================================================
-- STEP 4: MAIN SELECT
-- All bugs from previous versions retained as fixed:
--   - z.WONo IS NOT NULL guard for List2A
--   - (z.WONo IS NULL OR amount=0) for List2B  ← List2B fix
--   - cr1.WorksCompletionDate explicit alias
--   - TOP 1 replaces ROW_NUMBER wrappers
--   - 3-layer nesting collapsed to 2 layers
--   - Derived totals (STotal etc.) inline — no outer wrapper
-- ============================================================
SELECT
    a.OrderNo,
    a.AcOLID,
    a.OfficeID,
    a.AcOfficeLocation,
    a.FyYear,
    a.AccountCode,
    a.WorkDescription,
    ISNULL(t.Total, 0)                                               AS Total,

    SUM(a.List1)                                                     AS List1,
    SUM(a.List2A)                                                    AS List2A,
    SUM(a.List2B)                                                    AS List2B,
    (SUM(a.List3) + Sum(a.Total-(a.List1+a.List2A+a.List2B+a.List3)))  AS List3,

	

    SUM(CASE WHEN a.List1  <> 0 THEN 1 ELSE 0 END)                  AS List1C,
    SUM(CASE WHEN a.List2A <> 0 THEN 1 ELSE 0 END)                  AS List2AC,
    SUM(CASE WHEN a.List2B <> 0 THEN 1 ELSE 0 END)                  AS List2BC,
    SUM(CASE WHEN a.List3  <> 0 THEN 1 ELSE 0 END)                  AS List3C,

    SUM(a.List1) + SUM(a.List2A) + SUM(a.List2B)                    AS STotal,
    SUM(a.List1) + SUM(a.List2A) + SUM(a.List2B) + SUM(a.List3) + + Sum(a.Total-(a.List1+a.List2A+a.List2B+a.List3))    AS SumT,

    SUM(CASE WHEN a.List1  <> 0 THEN 1 ELSE 0 END)
  + SUM(CASE WHEN a.List2A <> 0 THEN 1 ELSE 0 END)
  + SUM(CASE WHEN a.List2B <> 0 THEN 1 ELSE 0 END)                  AS STotalC,

    SUM(CASE WHEN a.List1  <> 0 THEN 1 ELSE 0 END)
  + SUM(CASE WHEN a.List2A <> 0 THEN 1 ELSE 0 END)
  + SUM(CASE WHEN a.List2B <> 0 THEN 1 ELSE 0 END)
  + SUM(CASE WHEN a.List3  <> 0 THEN 1 ELSE 0 END)                  AS SumTC

FROM (
    SELECT
        a.OrderNo,
        CASE WHEN @AcOLID = 0 THEN 0             ELSE ola.OfficeID       END AS OfficeID,
        CASE WHEN @AcOLID = 0 THEN 0             ELSE ola.AcOLID         END AS AcOLID,
        CASE WHEN @AcOLID = 0 THEN 'Consolidate' ELSE ola.OfficeLocation END AS AcOfficeLocation,
        f.FyYear,
        a.WorkOrderNo,
        a.AccountHead  AS AccountCode,
        a.Description  AS WorkDescription,sum(a.Expenditure) Total,

        -- List 1: completed before period start
        SUM(CASE WHEN a.WorkOrderDate < @FromDate
             AND ISNULL(ISNULL(cr.CompletionDate,cr1.WorksCompletionDate), @ToDate) < @FromDate
            THEN a.Expenditure ELSE 0 END) AS List1,

        -- List 2A: still open + OB record exists with non-zero amount
        SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) <> 0
            THEN a.Expenditure ELSE 0
        END) AS List2A,

        -- List 2B: still open + no OB record OR OB amount is zero
        -- KEY FIX: z.WONo IS NULL covers WOs with no OB record at all
        --          (the majority of List2B data that was missing)
        SUM(CASE WHEN a.WorkOrderDate < @FromDate
                      AND ISNULL(ISNULL(cr.CompletionDate, WorksCompletionDate), @ToDate) >= @FromDate
                      AND ISNULL(z.WONo, a.WorkOrderNo) IS NOT NULL
                      AND ISNULL(z.ExpenditureAmount, 0) = 0
            THEN a.Expenditure ELSE 0
        END) AS List2B,

        -- List 3: new WOs raised in current period
        SUM(CASE WHEN a.WorkOrderDate >= @FromDate
            THEN a.Expenditure ELSE 0
        END) AS List3

	--select a.* 
    FROM #CWIP a
	LEFT JOIN #OB z ON z.WONo = a.WorkOrderNo
	CROSS JOIN FnETLToday(@FromYear, MONTH(@FromDate)) f
	LEFT JOIN OfficeLocationAccountingUnitDetails ola WITH (NOLOCK) ON ola.OLID = @AcOLID
	LEFT JOIN LocationCode l WITH (NOLOCK) ON l.OfficeID   = ola.OfficeID AND l.LocationID = ola.LocationID AND l.Budget= 1

    OUTER APPLY (
        SELECT TOP 1
            i.CompletionDate,
            i.CommissionedDate
        FROM CompletionReport i WITH (NOLOCK)
        WHERE i.WorkOrderNo        = a.WorkOrderNo
          AND ISNULL(i.Canceled,0) = 0 
          AND i.CompletionDate    IS NOT NULL
        ORDER BY
            LEN(i.OfficialReferenceNo) DESC,
            ISNULL(i.complete, 0)      DESC,
            i.CompletionReportID       DESC
    ) cr

    OUTER APPLY (
        SELECT TOP 1
            j.WorksCompletionDate
        FROM LegacyWOcompletionreport j WITH (NOLOCK)
        WHERE j.WorkOrderNo              = a.WorkOrderNo
          AND ISNULL(j.Canceled, 0)      = 0 and Approved=1 
          AND j.WorksCompletionDate     IS NOT NULL
        ORDER BY
            LEN(j.OfficialReferenceNo)    DESC,
            j.LegacyWOcompletionreportId  DESC
    ) cr1
	--where workOrderNo = 0 
    GROUP BY
        a.OrderNo,
        ola.OfficeID,
        ola.OfficeLocation,
        l.LocationCode,
        f.FyYear,
        a.AccountHead,
        a.Description,
        a.WorkOrderNo,
        ola.AcOLID
) a

LEFT JOIN #Budget t
    ON  t.OLID   = a.AcOLID
    AND t.AcCode = a.AccountCode COLLATE DATABASE_DEFAULT 
	
GROUP BY
    a.OrderNo,
    a.AcOLID,
    a.OfficeID,
    a.AcOfficeLocation,
    a.FyYear,
    a.AccountCode,
    a.WorkDescription,
    t.Total

Having SUM(a.Total) <>0 

ORDER BY
    a.OrderNo,
    a.AccountCode



-- ============================================================
-- CLEANUP — runs when session ends even if query errors
-- ============================================================
DROP TABLE IF EXISTS #CWIP
DROP TABLE IF EXISTS #OB
DROP TABLE IF EXISTS #Budget
DROP TABLE IF EXISTS #Data



GO
