USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Territory]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Territory] @Query Varchar(10),@Query1 Int,@Search Varchar(50),@TerritoryTypeID Varchar(10)
,@FileAs Varchar(50),@UnderTerritoryID Int,@TerritoryID1 Int
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select'
--Declare @Query1 Varchar(50) = 'Village'
--Declare @Search Varchar(50) = 'Sirsi'
--Declare @TerritoryTypeID Varchar(10) = '5,6,7,8'

--Declare @FileAs Varchar(50) = 'Sirsi'
--Declare @UnderTerritoryID Int = 205
--Declare @TerritoryID1 Int = 0

Declare @TerritoryID Int = (
SELECT top 1 TerritoryID from Territories with(nolock) where TerritoryTypeID in (select * from Split(@TerritoryTypeID,',')) 
and (case when @Search='--' then '--' else FileAs end) like '%'+@Search+'%' )
--select @TerritoryID 

IF (@Query='Import' and @Query1=3 )
 insert into Territories
select 3,@FileAs,@UnderTerritoryID,NULL,'',concat('District ', @FileAs)

IF (@Query='Import' and @Query1=4 )
 insert into Territories
select 4,@FileAs,@UnderTerritoryID,NULL,'',concat('Taluk ', @FileAs)

IF (@Query='Import' and @Query1=5 )
 insert into Territories
select 5,@FileAs,@UnderTerritoryID,NULL,'',concat('City ', @FileAs)

IF (@Query='Import' and @Query1=6 )
 insert into Territories
select 6,@FileAs,@UnderTerritoryID,NULL,'',concat('Town ', @FileAs)

IF (@Query='Import' and @Query1=7 )
 insert into Territories
select 7,@FileAs,@UnderTerritoryID,NULL,'',concat('Village ', @FileAs)

IF (@Query='Import' and @Query1=8 )
 insert into Territories
select 8,@FileAs,@UnderTerritoryID,NULL,'',concat('Grama Panchayth ', @FileAs)

IF (@Query='Delete')
delete from Territories where TerritoryID=@TerritoryID1 


IF @TerritoryID is not NULL 
select Column3,Column2,Column1,sr.SalaryOtherDeductionRate WC_Others,sr1.SalaryOtherDeductionRate WC from (
SELECT TerritoryID,UnderTerritoryID,Concat(TerritoryTypeID,' , ',TerritoryID,' , ',FileAs) Column1 from Territories with(nolock) where TerritoryTypeID in (select * from Split(@TerritoryTypeID,',')) 
	and ((case when @Search='--' then '--' else FileAs end) like '%'+@Search+'%')
	and (case when @TerritoryID1=0 then 0 else TerritoryID end)=@TerritoryID1
	--and (case when @TerritoryID=0 then 0 else TerritoryID end)=@TerritoryID
) A outer apply (SELECT UnderTerritoryID,Concat(TerritoryTypeID,' , ',TerritoryID,' , ',FileAs) Column2 from Territories B with(nolock) where b.TerritoryID=a.UnderTerritoryID ) B 
outer apply (SELECT TerritoryID,Concat(TerritoryTypeID,' , ',TerritoryID,' , ',FileAs) Column3 from Territories C with(nolock) where c.TerritoryID=b.UnderTerritoryID ) C
left join SalaryOtherDeductionRatePeriods s with(nolock) on s.SalaryOtherDeductionsID=15 and isnull(s.TerritoryID,0)=a.TerritoryID
left join SalaryOtherDeductionRates sr with(nolock) on sr.SalaryOtherDeductionRatePeriodID=s.SalaryOtherDeductionRatePeriodID
left join SalaryOtherDeductionRatePeriods s1 with(nolock) on s1.SalaryOtherDeductionsID=21 and isnull(s1.TerritoryID,0)=a.TerritoryID
left join SalaryOtherDeductionRates sr1 with(nolock) on sr1.SalaryOtherDeductionRatePeriodID=s1.SalaryOtherDeductionRatePeriodID
where C.TerritoryID not in (5,7,13,16,17,21,26,29,30,31,178,179,1045) 
Order By Column3,Column2,Column1

IF @TerritoryID is NULL 
select * from Territories with(nolock) where (case when @Search='--' then '--' else FileAs end) like '%'+@Search+'%' 


GO
