USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryEWiseReportNew]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SalaryEWiseReportNew]
	@Config varchar(200), 
	@OLID int ,
	@Year int ,
	@Month int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON



--Declare @Config varchar(200) select @Config = 'EnergySync.dbo.'
--Declare @OLID int select @OLID = 658
--Declare @Year int select @Year = 2014
--Declare @Month int select @Month = 06
--Declare @BRNo varchar(50) select @BRNo = '5927'




Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)


Declare @AOLID table (AcOLID int,OLID int)
Declare @AOLIDSql varchar(Max) Set @AOLIDSql='
select AcOLID,OLID from FnAcOLID() where AcOLID in ('+cast(@OLID as varchar(5))+')
' insert into @AOLID exec (@AOLIDSql)



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OfficeID int,OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OfficeID,OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 































Declare @SRB table (CID int,ODLDID int,EmployeeStatusID int,ScaleRegisterID int)
insert into @SRB
select distinct srb2.CID,srb2.ODLDID,srb2.EmployeeStatusID,srb2.ScaleRegisterID
from (select CID,MAX(Date) as Date from FnMaxSRBODLDID4() srb where OLID=@OLID and srb.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1) group by CID) as SRB
left outer join (select CID,Date,Min(ScaleRegisterID) as ScaleRegisterID from FnMaxSRBODLDID4() srb where OLID=@OLID and srb.Date<= (Dateadd(month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-1')))-1) group by CID,Date) as SRB1 on srb1.CID=srb.CID and srb1.Date=srb.Date
left outer join FnMaxSRBODLDID4() srb2 on srb2.ScaleRegisterID=srb1.ScaleRegisterID



Declare @SR3 table (ContactID int,Generated int,BillRegisterNo varchar(50)) 
insert into @SR3
select ContactID,Generated,BillregisterNo 
from FnSRNew() sr1 where  sr1.SalaryTypeID=1 and sr1.SalaryYear=@Year and sr1.SalaryMonth=@Month and OLID=@OLID



Declare @SR1 table (ODLDID int,EmployeeStatusID int,SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct ODLDID,EmployeeStatusID,sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,sr.BillRegisterNo as BRNo ,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr left outer join @SRB srb on srb.CID=sr.ContactID 
full join @SR3 sr1 on  sr1.ContactID= sr.ContactID 
where sr.YearID in (@Year) and sr.MonthID in (@Month) and OLID=@OLID

and (

case when isnull(sr.Suppliment,0) in (2,7) and sr.BillRegisterNo='0' then '2' else 
case when isnull(sr.Suppliment,0)=3 and sr.BillRegisterNo='0' then '3' else 
case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and sr.BillRegisterNo='0' then sr.BillRegisterNo else  
case when sr.BillRegisterNo='0' and sr.SalaryTypeID<>2 then '1' else 
case when sr.BillRegisterNo='0' and sr.SalaryTypeID=2 and (sr1.ContactID is NULL or sr1.generated =0 or sr1.BillRegisterNo<>'0') then '1' else sr.BillRegisterNo end end end end end ) in (@BRNo)



Declare @SRD4 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int) 
insert into @SRD4
select sr.ScaleRegisterID
,(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 'RC' else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end end) as Types
,(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 6 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end end) as TypesID
,(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 30 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 30 else TypeID end end) as TypeID,BankID
,(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else 
case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end end) as Amount,srd.BankTypeID 
,TypesID ,TypeID
from @SR1 sr full join (
select ScaleRegisterID,Types,TypesID,TypeID,BankID,BankTypeID,sum(isnull(DiffAmount,0)) as DiffAmount from FnSRADNew() srd 
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
group by ScaleRegisterID,Types,TypesID,TypeID,BankID,BankTypeID having sum(isnull(DiffAmount,0)) <>0) SRD on srd.ScaleRegisterID=sr.ScaleRegisterID



Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int) 
insert into @SRD1
select * from @SRD4 where isnull(Amount,0)<>0 and ScaleRegisterID is not NULL



Declare @SR table (SAlaryTypeID int,LocationOrdered int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthId int,YearID1 int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(50),OLID int,SOLID int,EmployeeTypes varchar(20),EOrder varchar(4),BRDate datetime,Ordered1 int)
insert into @SR 

select distinct sr.SAlaryTypeID,oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.YearID,sr.MonthID,Year(sr.BillRegisterDate) as YearID1,datename(month,sr.BillRegisterDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,(case when l.ContactID is NULL then ct.EmployeeName else (isnull(ct.EmployeeName,'')+' - '+L.Lien) end) as EmployeeName,isnull(sr.BillRegisterNo,'0') as BRNo,ol1.OLID,ol.OLID
,(case when ct.EmployeeCategoryID in (2,8) then 'Contract Employee' else case when EmployeeStatusID in (19) then 'Deputed' else case when EmployeeGradeID in (1,2) then 'Officers' else 'Employees' end end end) as EmployeeTypes
,(case when ct.EmployeeCategoryID in (2,8) then '04' else case when EmployeeStatusID in (19) then '03' else case when EmployeeGradeID in (1,2) then '01' else '02' end end end) as EOrder,sr.BillRegisterDate
,(case when ol.OfficeID=65 then 1 else case when ol.OfficeID=66 then 2 else case when ol.OfficeID in (85,49) then 3 else case when ol.OfficeID=50 then 4 else case when ol.OfficeID in (59,58,80,57) then 5 else 6 end end end end end) as Ordered
from @SR1 sr outer apply (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (@OLID)) as OL1


inner join @ODLD ol on ol.ODLDID=sr.ODLDID 
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
outer apply (select distinct a.ContactID,'Lien' as Lien from EmployeeAppointmentDetails a where a.AppointmentTypeID=23 and a.Approved=1 and a.Reported=1 and a.Relieved=1 
and a.Regularised=0  and ContactID is not NULL and ToODLDID is not NULL and a.ContactID=sr.ContactID union all
select distinct a.ContactID,'Deputation' as Lien from EmployeeAppointmentDetails a inner join @ODLD odld on odld.ODLDID=a.FromODLDID and DepartmentName not in ('Vigilance')
where a.AppointmentTypeID=8 and a.Approved=1 and a.Reported=1 and a.Relieved=1 and a.Regularised=0  and ContactID is not NULL and ToODLDID is not NULL
and a.ContactID=sr.ContactID) as L



Declare @SRD table (ATypeID int,ScaleRegisterID int,Amount money,SalaryTypes varchar(20),Ordering varchar(6))
insert into @SRD 

select ATypeID,ScaleregisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select d.ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when d.ATypeID=1 then 'Total Earnings' else case when d.ATypeID=2 then 'Total Deduction'  else NULL end end) as SalaryTypes
,(case when d.ATypeID=1 then '09' else case when d.ATypeID=2 then '37'  else NULL end end) as Ordering
from @SRD1 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID
) as ED group by ScaleregisterID,ATypeID,SalaryTypes,Ordering
union all

select 2 as ATypeID,ScaleregisterID
,(sum(case when ATypeID=1 then Amount else 0 end) - sum(case when ATypeID=2 then Amount else 0 end)) as Amount
,'Net Payable' as SalaryTypes,'38' as Ordering  from (
select d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when d.ATypeID=1 then 'Total Earnings' else case when d.ATypeID=2 then 'Total Deduction'  else NULL end end) as SalaryTypes
,(case when d.ATypeID=1 then '09' else case when d.ATypeID=2 then '37'  else NULL end end) as Ordering
from @SRD1 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID
) as ED group by ScaleregisterID
union all

select  ATypeID,ScaleRegisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when (isnull(srd.BankTypeID,0) not in (0,13) or (Max(isnull(TypesID1,0))=4 and isnull(TypeID1,0) in (15,10))) and srd.TypesID=6 then 'Recovery External' else d.SalaryTypes end) as SalaryTypes
,(case when (isnull(srd.BankTypeID,0) not in (0,13) or (isnull(TypesID1,0)=4 and isnull(TypeID1,0) in (15,10)) )and srd.TypesID=6 then '28.01' else d.Ordering end) as Ordering
from @SRD1 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID 
where d.Ordering is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) <> 0
group by srd.ScaleregisterID,d.SalaryTypes ,d.Ordering,d.ATypeID,srd.BankTypeID,srd.TypesID,TypesID1,TypeID1
) as R group by ATypeID,ScaleRegisterID,SalaryTypes,Ordering

union all
select distinct d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,'PLI' as SalaryTypes ,'10.01' as Ordering
from @SRD1 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) = 0
group by srd.ScaleregisterID,ATypeID



IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpSalaryEmployeeWise]'))
    EXEC sp_executesql N'create table TmpSalaryEmployeeWise 
	(OLID int,BRNo varchar(50),BRDate datetime,EOrder varchar(4),Ordered varchar(6),ContactID int,YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(100), LocationName varchar(100),EmployeeName varchar(100), DesignationName varchar(100),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),LocationCode varchar(100),EmployeeTypes varchar(20),MnYr varchar(10),Ordered1 int,SOLID int)
	'
drop table TmpSalaryEmployeeWise
Create table TmpSalaryEmployeeWise  (OLID int,BRNo varchar(50),BRDate datetime,EOrder varchar(4),Ordered varchar(6),ContactID int,YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(100), LocationName varchar(100),EmployeeName varchar(100), DesignationName varchar(100),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),LocationCode varchar(100),EmployeeTypes varchar(20),MnYr varchar(10),Ordered2 int,SOLID int,DepartmentName varchar(100))
insert into TmpSalaryEmployeeWise 

select OLID,sr.BRNo,sr.BRDate,sr.EOrder,sr.Ordered,sr.ContactID,sr.YearID,sr.MonthID,sr.YearID1,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,sr.LocationCode,EmployeeTypes
,(case when SalaryTYpeID<>2 then (left(datename(month,sr.StartingDate),3)+'-'+cast(right(sr.YearID,2) as varchar(2))) else (left(MonthDesc,3)+'-'+cast(right(sr.YearID1,2) as varchar(2))) end) as MnYr,Ordered1 as O1,SOLID,DepartmentName
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID 

group by SalaryTypeID,OLID,sr.BRNo,sr.BRDate,sr.EOrder,sr.Ordered,sr.ContactID,sr.YearID,sr.MonthID,sr.MonthDesc,sr.OfficeName,sr.LocationName,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sr.LocationCode,EmployeeTypes,sr.YearID1,datename(month,sr.StartingDate),Ordered1,SOLID,DepartmentName
order by BRNo,EOrder,O1,SOLID,DepartmentName,Ordering,EmployeeName,YearID,MonthID

update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from TmpSalaryEmployeeWise A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from TmpSalaryEmployeeWise ) as B ) b on b.Ordering=a.Ordering



























Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from TmpSalaryEmployeeWise ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from TmpSalaryEmployeeWise ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTEWiseSalaryDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTEWiseSalaryDView] AS 
	select EOrder,Ordered2,SOLID,DepartmentName,EmployeeTypes,BRNo,BRDate,Ordering,ContactID,MnYr,YearID as YearID1,MonthID,YearID1 as YearID,MonthDesc,LocationCode,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpSalaryEmployeeWise'
drop view PVTEWiseSalaryDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTEWiseSalaryDView as  select EOrder,Ordered2,SOLID,DepartmentName,EmployeeTypes,BRNo,BRDate,Ordered as Ordering,ContactID,MnYr,YearID as YearID1,MonthID,YearID1 as YearID,MonthDesc,LocationCode,OfficeName,LocationName,EmployeeName,DesignationName,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select EOrder,Ordered2,SOLID,DepartmentName,EmployeeTypes,BRNo,convert(varchar,BRDate,103) as BRDate,Ordered,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,LocationCode,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpSalaryEmployeeWise ) as A
	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query );
GO
