USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[Z_SP_LPC]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Z_SP_LPC]
	@Config varchar(200), 
	@OLID int ,
	@YearID VARCHAR(4) ,
	@MonthID VARCHAR(2),
	@AppointmentTypeID VARCHAR(4),
	@ContactID VARCHAR(10) 


AS 
SET NOCOUNT ON








DECLARE @FromDate varchar(12) select @FromDate=convert(datetime,(@YearID+'-'+@MonthID+'-01'))
DECLARE @ToDate varchar(12) select @ToDate=(DateAdd(Month,1,convert(datetime,(@YearID+'-'+@MonthID+'-01')))-1)


Declare @SR1 table (ScaleRegisterID int,OLID int,ContactID int,YearID int,MonthID int,Net money,PNet money) 
insert into @SR1
select Distinct sr1.ScaleRegisterID,sr.OLID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID
,(case when (Row_Number() over (partition By sr.ContactID order by sr.ContactID,sr1.ScaleregisterID))=1 then (isnull(sr.NetPayments,0)) else 0 end) as SlNo
,sum(isnull(sr1.NetPayments,0)) as Amount
from FnMaxSRBDate(@FromDate,@ToDate) sr 
left outer join ScaleRegister sr1 on sr1.ContactID=sr.ContactID and isnull(sr1.BillRegisterNo,0)=isnull(sr.BillRegisterNo,0) 
and convert(datetime,(cast(sr1.Salaryyear as varchar(4))+'-'+cast(sr1.SalaryMonth as varchar(2))+'-01')) < convert(datetime,(cast(sr.Salaryyear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))
where sr.ContactID in (@ContactID) and sr.OLID = @OLID
group by sr.OLID,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,sr.NetPayments,sr1.ScaleRegisterID

Declare @UF table (OLID int,ContactID int,YearID int,MonthID int,Amount money) 
insert into @UF
select  sr.OLID,sr.ContactID,sr.YearID,sr.MonthID
,(sum(isnull(sr.Net,0)) + (case when (sum(isnull(sr.PNet,0))+sum(isnull(-srw.NetPayments,0)))>0 then 0 else (sum(isnull(sr.PNet,0))+sum(isnull(-srw.NetPayments,0))) end )) as Diff
from @SR1 sr 
left outer join ScaleRegisterWithdrawals srw on srw.ScaleRegisterID=sr.ScaleRegisterID
group by sr.OLID,sr.ContactID,sr.YearID,sr.MonthID



Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering from FnADLR()
' insert into @Desc exec (@DescSql) 

Declare @Contact table (SlNo int,ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),Titles varchar(10))
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct Row_Number() over (order by contactid) as SlNo,ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,Titles from FnOLD() where contactid in ('+cast(@ContactID as varchar(10))+')
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),Ordering varchar(6),DepartmentName varchar(100))
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,Ordering,DepartmentName from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 

Declare @Appoint table (AppointmentTypeID int,Description varchar(100))
Declare @AppointSql varchar(Max) Set @AppointSql='
select AppointmentTypeID,Description from AppointmentTypes
' insert into @Appoint exec (@AppointSql) 

Declare @Bnk table (BankID int,BranchID int,BankName varchar(100),BranchName varchar(100),BranchAddress varchar(500)) 
Declare @BnkSql varchar(Max) Set @BnkSql='
	select eo.ExternalOrganisationID as BankID,eob.ExternalOrganisationBranchID as BranchID,eo.Name as BankName,eob.Name BranchName,eob.StreetName
	from  ExternalOrganisations eo 
	left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationID=eo.ExternalOrganisationID 
' insert into @Bnk exec (@BnkSql)


Declare @SR table (SlNo int,ScaleregisterID int,ContactID int,MonthID int,YearID int,MonthDesc varchar(10),NetPayments money,Words varchar(500),OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),RelievedDate datetime,AppointmentTypeID int,DepartmentName varchar(100),TOfficeName varchar(100),TLocationName varchar(100),Organisation varchar(50),SDays int,EDays int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(20),Titles varchar(10)) 
insert into @SR
select sr.*,c.EmployeeName,c.Bank,c.Branch,c.BankAcNo,c.PanCardNo,Titles from (

select distinct Row_Number() over (Order By odld.OfficeName,odld.LocationName,odld.Ordering,sr.ScaleregisterID) as SlNo,sr.ScaleregisterID,sr.ContactID,sr.SalaryMonth as MonthID,Sr.SalaryYear as YearID,datename(month,sr.StartingDate) as MonthDesc
,uf.Amount as NetPayments,dbo.fnNumToWords(isnull(uf.Amount,0)) as Words
,(case when ea.AppointmentTypeID=8 then odld1.OfficeName else odld.OfficeName end) as OfficeName
,(case when ea.AppointmentTypeID=8 then odld1.LocationName else odld.LocationName end) as LocationName
,(case when ea.AppointmentTypeID=8 then odld1.DesignationName else odld.DesignationName end) as DesignationName
,(case when ea.AppointmentTypeID=8 then ea.ReportedDate else ea.RelievedDate end) as RelievedDate 
,ea.AppointmentTypeID
,(case when ea.AppointmentTypeID=8 then odld1.DepartmentName else odld.DepartmentName end) as DepartmentName
,odld1.OfficeName as TOfficeName,odld1.LocationName as TLocationName,b.BankName
,(case when Convert (varchar,(case when ea.AppointmentTypeID=8 then ea.ReportedTime else ea.RelievedTime end),108)<'12'  then Day(case when ea.AppointmentTypeID=8 then ea.ReportedDate else ea.RelievedDate end)-1 else Day(case when ea.AppointmentTypeID=8 then ea.ReportedDate else ea.RelievedDate end) end) as SDays,Day(sr.EndingDate) as EDays
from FnMaxSRBDate(@FromDate,@ToDate) sr 
left outer join FnMaxSRBODLDID() srb on srb.ScaleregisterID=sr.ScaleregisterID
inner join @UF uf on uf.ContactID=sr.ContactID and uf.YearID=sr.SalaryYear and uf.MonthID=sr.SalaryMonth
inner join EmployeeAppointmentDetails ea on ea.ContactID in (@ContactID) and Year(case when ea.AppointmentTypeID=8 then ea.ReportedDate else ea.RelievedDate end) in (@YearID) and Month(case when ea.AppointmentTypeID=8 then ea.ReportedDate else ea.RelievedDate end) in (@MonthID)
left outer join @ODLD odld on odld.ODLDID=ea.FromODLDID
left outer join @ODLD odld1 on odld1.ODLDID=ea.ToODLDID
left outer join @Bnk b on isnull(b.BankID,0)=isnull(ea.ExternalOrganizationID,0)
where sr.ContactID in (@ContactID) and sr.OLID=@OLID and isnull(ea.Approved,0)=1 and (case when ea.AppointmentTypeID=8 then isnull(ea.Regularised,0) else isnull(ea.Relieved,0) end)=1 and ea.AppointmentTypeID in (@AppointmentTypeID)
and ea.EmployeeAppointmentDetailsID in (select max(ea1.EmployeeAppointmentDetailsID) from EmployeeAppointmentDetails ea1 where ea1.Contactid=ea.ContactID and ea1.AppointmentTypeId=ea.AppointmentTypeId and isnull(ea1.Approved,0)=1 and (case when ea1.AppointmentTypeID=8 then isnull(ea1.Regularised,0) else isnull(ea1.Relieved,0) end)=1 group by ea1.ContactID,ea1.AppointmentTypeID)

) as sr left outer join @Contact c on c.contactid=sr.ContactID


Declare @SRD table (ScaleregisterID int,SlNo int)
insert into @SRD
select Distinct srd.ScaleregisterID,srd.SlNo from FnSRDNew(@FromDate,@ToDate) srd 
inner join (select distinct ScaleregisterID,ContactID from @SR) sr on sr.ScaleregisterID=srd.ScaleregisterID and sr.ContactID=srd.ContactID
where srd.ContactID in (@ContactID)

Declare @ASRD table (ScaleregisterID int,TypeID int,TypesDesc varchar(100),Amount money,SlNo int)
insert into @ASRD
select Distinct srd.ScaleregisterID,srd.TypeID,(case when srd.TypesID=1 then 'Basic Pay' else TypesDesc end) as TypesDesc,sum(srd.Amount) as Amount,Row_Number() Over (Partition by srd.ScaleregisterID Order by srd.ScaleregisterID,d.Ordering) as SlNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join (select distinct ScaleregisterID,ContactID from @SR) sr on sr.ScaleregisterID=srd.ScaleregisterID and sr.ContactID=srd.ContactID
left outer join @Desc d on d.TypeID=srd.TypeID and d.TYpesID=srd.TypesID
where d.ATypeID=1 and d.Ordering is not NULL and srd.ContactID in (@ContactID)
group by srd.ScaleregisterID,srd.TypesID,d.Ordering,TypesDesc,srd.TypeID

Declare @DSRD table (ScaleregisterID int,TypeID int,TypesDesc varchar(100),Amount money,SlNo int) 
insert into @DSRD
select Distinct srd.ScaleregisterID,srd.TypeID,TypesDesc,sum(srd.Amount) as Amount,Row_Number() Over (Partition by srd.ScaleregisterID Order by srd.ScaleregisterID,d.Ordering) as SlNo
from FnSRDNew(@FromDate,@ToDate) srd 
inner join (select distinct ScaleregisterID,ContactID from @SR) sr on sr.ScaleregisterID=srd.ScaleregisterID and sr.ContactID=srd.ContactID
left outer join @Desc d on d.TypeID=srd.TypeID and d.TYpesID=srd.TypesID
where d.ATypeID=2 and d.Ordering is not NULL and srd.ContactID in (@ContactID)
group by srd.ScaleregisterID,srd.TypesID,d.Ordering,TypesDesc,srd.TypeID

Declare @ED table (SlNo int,ScaleregisterID int,Earnings varchar(100),EAmount money,Deductions varchar(100),DAmount money)
insert into @ED
select srd.SlNo,srd.ScaleRegisterID,a.TypesDesc as Earnings,a.Amount,d.TypesDesc as Deductions,d.Amount
from @SRD srd left outer join @ASRD a on a.SlNo=srd.SlNo and a.ScaleRegisterID=srd.ScaleRegisterID
left outer join @DSRD d on d.SlNo=srd.SlNo and d.ScaleRegisterID=srd.ScaleRegisterID
where (isnull(a.Amount,0)+isnull(d.Amount,0))<>0 

Declare @PolicyNo table (ScaleRegisterID int,PolicyNo varchar(500))
insert into @PolicyNo
select ScaleRegisterID,(srd1.PolicyNo+ ' - '+cast(srd1.Amount as Varchar(20))+ ' , ') as PolicyNo from FnSRDNew(@FromDate,@ToDate) srd1 
WHERE srd1.ContactID in (@ContactID) and srd1.TypesID=5 and srd1.TypeID in (17,18) 

IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpLPC]'))	Drop table [TmpLPC]

select distinct sr.ContactID as A,sr.RelievedDate as B,sr.AppointmentTypeID as C,(isnull(sr.Titles,'')+'  '+isnull(sr.EmployeeName,'')+' , '+isnull(sr.DesignationName,'')+' ( '+sr.Departmentname+' )')   as D
,('Work Place of  '+isnull(sr.OfficeName,'')+ ' , '+isnull(sr.LocationName,'')+'  was  '+(isnull(at.Description,'')+'  to  '+ isnull(sr.TOfficeName,sr.Organisation))+ ' , '+isnull(sr.TLocationName,'')+'  was drawn salary on '+convert(varchar,sr.RelievedDate,105)+'  as detailed below.') as E
,NetPayments as F,Words as G,Left(PolicyNo,Len(PolicyNo)-1) as H,ed.SlNo as I ,Earnings as J,round(round(EAmount,2),0) as K,Deductions as L,round(round(DAmount,2),0) as M,round(round(((EAmount/SDays)*EDays),2),0) as N
into TmpLPC
from @SR sr left outer join @ED ed on ed.ScaleRegisterID=sr.ScaleRegisterID 
CROSS APPLY (select (srd1.PolicyNo+ ' , ') from @PolicyNo srd1 WHERE srd1.ScaleRegisterID=sr.ScaleRegisterID FOR XML PATH('') ) pre_trimmed (PolicyNo) 
left outer join @Appoint at on at.AppointmentTypeID=sr.AppointmentTypeID
order by A,I

select * from TmpLPC order by A,I;

GO
