USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure1b]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create  PROCEDURE [dbo].[SP_Annexure1b] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON

--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @FromYear Int select @FromYear = 2023
--Declare @ToYear Int select @ToYear = 2024
--Declare @FromFyYear DateTime select @FromFyYear = '2023-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2023-12-31'
--Declare @AcOLID varchar(100) select @AcOLID = '341'



Declare @Data Table (OLID Int,JournalVoucherNo Int,AcHead Varchar(20),_10 Money,_11 Money,_12 Money,_13 Money,_14 Money,_15 Money,_16 Money,_17 Money,_18 Money,_19 Money,_20 Money,_21 Money,_22 Money,_23 Money,_24 Money,_25 Money,_26 Money,_27 Money,_28 Money,_29 Money,_101 Money,_102 Money,_103 Money,_104 Money,_105 Money,_106 Money,_107 Money,_108 Money,_109 Money,_110 Money,_111 Money,_112 Money,_113 Money,_114 Money,_115 Money,_116 Money,_117 Money,_118 Money,_119 Money,_120 Money,_121 Money,_122 Money,_123 Money,_124 Money,_125 Money,_126 Money,_127 Money,_128 Money,_129 Money,_130 Money,_131 Money,_132 Money,_133 Money,_134 Money,_135 Money,_136 Money,_137 Money,_138 Money,_139 Money,_140 Money,_141 Money,_142 Money,_143 Money,_144 Money,_145 Money,_146 Money,_147 Money,_148 Money,_149 Money,_150 Money,_151 Money,_152 Money,_153 Money,_154 Money,_155 Money,_156 Money,_157 Money,_158 Money)
insert into @Data
exec SP_Annexure1a @LoginOLID,@FromYear,@ToYear,@FromFyYear,@ToFyYear,@AcOLID


select OLID,LCode,concat(FromAcHead,VoltageClassCode) AcHead
,Sum(case when ToAcHead like '32.2%' then Amount else 0 end) A32_2,Sum(case when ToAcHead like '32.3%' then Amount else 0 end) A32_3
,Sum(case when ToAcHead like '32.1%' then Amount else 0 end) A32_1,Sum(case when ToAcHead like '32.4%' then Amount else 0 end) A32_4 from (
select * ,Ltrim(Rtrim(replace(replace(right(ToAcHead,len(ToAcHead)-6),'(',''),')',''))) LCode from (
select OLID,JournalVoucherDate,(case when FromAcHead like '14.%' then Amount else -Amount end) Amount,isnull(VoltageClassCode,'7') VoltageClassCode
,(case when FromAcHead like '14.%' then FromAcHead else ToAcHead end) FromAcHead,(case when FromAcHead like '14.%' then ToAcHead else ToAcHead end) ToAcHead
from (select distinct JournalVoucherNo from @Data where (_19!=0 or _20!=0) ) A 
inner join JVDetailsAnnexure1to8 B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
	and (FromAcHead like '32.210%' or ToAcHead like '32.210%' or FromAcHead like '32.310%' or ToAcHead like '32.310%') 
left join VoltageClass B1 With (NoLock) on b1.VoltageClassID=b.VoltageClassID
union all 
select OLID,JournalVoucherDate,(case when FromAcHead like '14.%' then -Amount else Amount end) Amount,isnull(VoltageClassCode,'7') VoltageClassCode
,(case when FromAcHead like '14.%' then FromAcHead else ToAcHead end) ToAcHead,(case when FromAcHead like '14.%' then ToAcHead else FromAcHead end) FromAcHead
from (select distinct JournalVoucherNo from @Data where (_23!=0 or _24!=0) ) A 
inner join JVDetailsAnnexure1to8 B with(nolock) on b.JournalVoucherNo=a.JournalVoucherNo 
	and (FromAcHead like '32.110%' or ToAcHead like '32.110%' or FromAcHead like '32.410%' or ToAcHead like '32.410%') 
left join VoltageClass B1 With (NoLock) on b1.VoltageClassID=b.VoltageClassID
) A ) A Group By OLID,LCode,concat(FromAcHead,VoltageClassCode)










GO
