USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeLeaveCount]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_EmployeeLeaveCount]
    @Types Varchar(10) ,
    @CID Int ,
    @LTID int ,
    @LTCount Float


AS SET NOCOUNT ON

--Declare @Types Varchar(10) = 'Select' ----- Select Update Import Delete 
--Declare @CID Int = 124 
--Declare @LTID Int = 0
--Declare @LTCount Float = 46 



IF @Types='Update' 
update a set LeaveCount=@LTCount from EmployeeLeaveAccount A with(nolock) where a.ContactID=@CID and A.LeaveTypeID=@LTID
else 
IF @Types='Import' 
insert into EmployeeLeaveAccount (ContactID,LeaveTypeID,LeaveCount) select @CID,@LTID,@LTCount 
else 
IF @Types='Delete' 
delete from EmployeeLeaveAccount where ContactID=@CID and LeaveTypeID=@LTID

;with Data1 as (
select e3.AcOLID,E3.OfficeLocation SalaryLocation
,isnull(e2.OfficeLocation,e.OfficeLocation) SanctionLocation,e.OfficeLocation WorkingLocation
,a.ContactID,c.Fileas ContactName,CONCAT(DesignationCode,' (',DepartmentCode,')') Designation
,a.LeaveTypeID TypeID,f.LeaveTypeCode Leaves,cast(LeaveCount as float) Count
from EmployeeLeaveAccount A with(nolock) 
inner join Employee B with(nolock) on b.ContactID=a.ContactID 
inner join Contacts C with(nolock) on c.ContactID=a.ContactID 
inner join ODLDAllocation D with(nolock) on d.ODLDID=isnull(b.ODLDID,0)
inner join OfficeLocationAccountingUnitDetails E with(nolock) on e.OfficeID=d.OfficeID and e.LocationID=d.LocationID 
inner join LeaveTypes F with(nolock) on F.LeaveTypeID=A.LeaveTypeID
inner join Department DP with(nolock) on DP.DepartmentID=D.DepartmentID
inner join Designation DN with(nolock) on Dn.DesignationID=D.DesignationID
outer apply (select top 1 FromODLDID from EmployeeAppointmentDetails E1 with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and isnull(FromODLDID,0)>0 and e1.ContactID=isnull(a.ContactID,a.ContactID)) E1
left join ODLDAllocation D1 with(nolock) on d1.ODLDID=isnull(e1.FromODLDID,0)
left join OfficeLocationAccountingUnitDetails E2 with(nolock) on e2.OfficeID=d1.OfficeID and e2.LocationID=d1.LocationID 
left join OfficeLocationAccountingUnitDetails E3 with(nolock) on e3.OLID=isnull(E2.AcOLID,E.AcOLID)
where a.ContactID=@CID 
and (case when @LTID=0 then 0 else a.LeaveTypeID end)=@LTID
)
select * from Data1 order By TypeID 


GO
