USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Salary_DataEntry]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  PROCEDURE [dbo].[SP_Salary_DataEntry] 
@OLID int,@SupID int,@ECID int,@CID int,@FromDate Varchar(10),@ToDate Varchar(10),@BRNo Varchar(50),@BRDate Varchar(10)
,@Basic Money,@MDA Money,@DA Money,@HRA Money,@CCA Money,@CPC Money,@WA Money,@AEJE Money,@Workmen Money,@Charge Money,@PP Money,@SP Money,@CashDuty Money,@SW Money,@PH Money,@IR Money,@CLWF Money,@Others_A Money,@CESI Money,@CPF Money
,@IT Money,@PT Money,@FBF Money,@CPC_D Money,@EPC Money,@HRA_Others Money,@WC_Others Money,@HRA_HESCOM Money,@WC_HESCOM Money,@GIS Money,@CLWF_D Money,@ELWF Money,@Loan Money,@RD Money,@PLI Money,@Insurance Money,@GI Money,@Society Money,@Union Money,@Association Money,@FA Money,@Recovery Money,@Others_D Money,@CESI_D Money,@CPF_D Money,@EESI Money,@EPF Money

AS SET NOCOUNT ON

--Declare @OLID int = 337 
--Declare @SupID int = 1 
--Declare @ECID int = 1 
--Declare @CID int = 836 
--Declare @FromDate Varchar(10) = '2025-09-01' 
--Declare @ToDate Varchar(10) = '2025-09-30' 
--Declare @BRNo Varchar(50) = '0' 
--Declare @BRDate Varchar(10) = '-' 

--Declare @Basic Money=520,@MDA Money=23,@DA Money=14,@HRA Money=15,@CCA Money=52,@CPC Money=25,@WA Money=10,@AEJE Money=50,@Workmen Money=20,@Charge Money=30,@PP Money=20,@SP Money=20,@CashDuty Money=23,@SW Money=23,@PH Money=25,@IR Money=56,@CLWF Money=50,@Others_A Money=20,@CESI Money=50,@CPF Money=20
--Declare @IT Money=10,@PT Money=20,@FBF Money=20,@CPC_D Money=56,@EPC Money=56,@HRA_Others Money=50,@WC_Others Money=56,@HRA_HESCOM Money=50,@WC_HESCOM Money=56,@GIS Money=65,@CLWF_D Money=56,@ELWF Money=56,@Loan Money=56,@RD Money=56,@PLI Money=50,@Insurance Money=50,@GI Money=50,@Society Money=52,@Union Money=50,@Association Money=50,@FA Money=52,@Recovery Money=56,@Others_D Money=50,@CESI_D Money=52,@CPF_D Money=60,@EESI Money=52,@EPF Money=52


Declare @Days Int = (select datediff(day,@FromDate,@ToDate)+1)
Declare @Remarks Varchar(500) = (select CONCAT('Data Import ',@OLID,'_',@SupID,'_',@ECID,'_',YEAR(@FromDate),'_',Month(@FromDate),'_',@BRNo)) 
Declare @Table Table (ODLDID int,EmployeeStatusID int) Insert into @Table
select isnull(a.ODLDID,b.ODLDID) ODLDID,isnull(a.EmployeeStatusID,b.EmployeeStatusID) EmployeeStatusID from (
select ODLDID,EmployeeStatusID from (
select * ,(Row_Number() over (Order By StartingDate desc,ScaleRegisterID desc,ScaleRegisterBasicPayDetailsID desc)) MaxNo
from ScaleRegisterBasicPayDetails with(nolock) where ODLDID>0 and ScaleRegisterID in (
select ScaleRegisterID from ScaleRegister with(nolock) where OLID=@OLID and ContactID=@CID and Generated=1 and EmployeeCategoryID=@ECID )
) A where MaxNo=1 ) A left join Employee B with(nolock) on b.ContactID=@CID 

Declare @SRID int = (select Max(ScaleRegisterID) from ScaleRegister with(nolock) where Remarks=@Remarks) 

IF @SRID is NULL 
 insert into ScaleRegister (ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,EmployeeCategoryID,Attendance,Generated,Heldup,Suppliment,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn,Remarks,Legacy,Bonus,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,TaxableAmount,SpecialPayment,RecoveryAmount  )
select @CID,MONTH(@FromDate),YEAR(@FromDate),@FromDate,@ToDate,@OLID,@ECID,@Days,1,0,@SupID,@BRNo,@OLID,(case when @BRDate='-' then NULL else @BRDate end),GETDATE(),@Remarks,1,0,0,0,0,0,0,0,0 

Declare @SRID1 int = (select Max(ScaleRegisterID) from ScaleRegister with(nolock) where Remarks=@Remarks) 

 insert into ScaleRegisterBasicPayDetails 
select ScaleRegisterID,ODLDID,@FromDate,@ToDate,(case when @Basic=0 then 0.01 else @Basic end)/@Days,(case when @Basic=0 then 0.01 else @Basic end),EmployeeStatusID,'' 
from @Table A inner join ScaleRegister B with(nolock) on ScaleRegisterID=@SRID1
and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterBasicPayDetails C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) 


 insert into ScaleRegisterALlowances 
select ScaleRegisterID,ID,ODLDID,@FromDate,@ToDate,Amt,0,'' 
from (select 20 ID,@MDA Amt union all select 1 ID,@DA Amt union all select 2 ID,@HRA Amt union all select 3 ID,@CCA Amt union all 
select 7 ID,@WA Amt union all select 9 ID,@AEJE Amt union all select 23 ID,@Workmen Amt union all select 4 ID,@Charge Amt union all 
select 38 ID,@PP Amt union all select 17 ID,@SP Amt union all select 36 ID,@CashDuty Amt union all select 32 ID,@SW Amt union all 
select (case when @SupID in (0,9,1,6,10,11,12) then 13 when @SupID=4 then 8 else 0 end) ID,(case when @SupID in (0,9,1,6,10,11,12,4) then @Others_A else 0 end) Amt union all 
select 35 ID,@PH Amt union all select 21 ID,@IR Amt ) A1 
cross join @Table A inner join ScaleRegister B with(nolock) on ScaleRegisterID=@SRID1
and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterALlowances C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) 
where Amt!=0 

 insert into ScaleRegisterOtherAdditions 
select ScaleRegisterID,ODLDID,ID,@FromDate,@ToDate,Amt,0,'' 
from ( select 13 ID,@CPC Amt union all select 17 ID,@CLWF Amt union all select 22 ID,@CESI Amt union all select 16 ID,@CPF Amt union all 
select (case when @SupID=5 then 2 when @SupID=3 then 7 else 0 end) ID,(case when @SupID in (5,3) then @Others_A else 0 end) Amt ) A1 
cross join @Table A inner join ScaleRegister B with(nolock) on ScaleRegisterID=@SRID1
and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterOtherAdditions C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) 
where Amt!=0 

 insert into ScaleRegisterOtherDeductions 
select ScaleRegisterID,ODLDID,ID,@FromDate,@ToDate,Amt
from ( select 2 ID,@IT Amt union all select 3 ID,@PT Amt union all select 11 ID,@FBF Amt union all select 17 ID,@CPC_D Amt union all 
select 13 ID,@EPC Amt union all select 10 ID,@HRA_Others Amt union all select 15 ID,@WC_Others Amt union all select 20 ID,@HRA_HESCOM Amt union all 
select 21 ID,@WC_HESCOM Amt union all select 28 ID,@GIS Amt union all select 18 ID,@CLWF_D Amt union all select 14 ID,@ELWF Amt union all 
select 33 ID,@CESI_D Amt union all select 19 ID,@CPF_D Amt union all select 34 ID,@EESI Amt union all select 25 ID,@EPF Amt ) A1 
cross join @Table A inner join ScaleRegister B with(nolock) on ScaleRegisterID=@SRID1
and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterOtherDeductions C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) 
where Amt!=0 

 insert into ScaleRegisterLoansandAdvances 
select ScaleRegisterID,ODLDID,(case when ID=171 then 17 else ID end),@FromDate,@ToDate,Amt
,(case when ID In (17,171,24) then 5 when ID=20 then 6 when ID=23 then 7 when ID=21 then 8 else 0 end)
,(case when ID=171 then 86 when ID=17 then 78 when ID=20 then 72 when ID=23 then 77 when ID=21 then 76 when ID=1 then 103 else 0 end)
,0,'',0
from ( select 1 ID,@Loan Amt union all select 15 ID,@RD Amt union all select 171 ID,@PLI Amt union all select 17 ID,@Insurance Amt union all 
select 24 ID,@GI Amt union all select 20 ID,@Society Amt union all select 21 ID,@Union Amt union all select 23 ID,@Association Amt  ) A1 
cross join @Table A inner join ScaleRegister B with(nolock) on ScaleRegisterID=@SRID1
and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterLoansandAdvances C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) 
where Amt!=0 

 insert into ScaleRegisterRecovery 
select ScaleRegisterID,ODLDID,STID,Amt,@FromDate,@ToDate,1,1,NULL,ID,'',0,0,0 
from ( select 9 ID,44 STID,@FA Amt union all select 34 ID,197 STID,@Recovery Amt union all select 34 ID,197 STID,@Others_D Amt ) A1 
cross join @Table A inner join ScaleRegister B with(nolock) on ScaleRegisterID=@SRID1
and ScaleRegisterID not in (select ScaleRegisterID from ScaleRegisterRecovery C with(nolock) where c.ScaleRegisterID=b.ScaleRegisterID) 
where Amt!=0 

;
exec SP_SRID_MismatchUpdate @FromDate,@SRID1 
;
select * from ScaleRegister with(nolock) where ScaleRegisterID = @SRID1 
GO
