USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEPC_CPC]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetEPC_CPC]
	@Year bigint ,	@Month bigint,@AcOLID Int

AS 

SET NOCOUNT ON



Declare @SRID Table (ContactID Int,OLID Int,ScaleRegisterID Int)
Insert Into @SRID
SELECT ContactID,OLID,ScaleRegisterID FROM ScaleRegister A with (nolock) inner JOIN Today_hrms  t on Ac_olid=@AcOLID  
WHERE  Generated=1 AND ISNULL(HeldUp,0)=0  AND  YEAR(ISNULL(BillRegisterDate,Today))=@Year AND  MONTH(ISNULL(BillRegisterDate,Today))=@Month and isnull(OLID,0)!=0
and ContactID in ( select distinct ContactID from EmployeeAppointmentDetails B with (nolock) where ReportedDate>='2006-04-01' and AppointmentTypeID in (1,26) and b.ContactID=a.ContactID)


Declare @SRWID Table (ScaleRegisterID Int,ScaleRegisterWithDrawalID Int)
Insert Into @SRWID
select ScaleRegisterID, ScaleRegisterWithDrawalID from ScaleRegisterWithDrawals A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID)

select count(distinct olid) NoofAcUnits ,Sum(Nos) as TotalEmployees,Sum(BP) as BasicPay,Sum(DP) as DearnessPay,Sum(DA) as DearnessAllowance,Sum(EPC) as EPC,Sum(CPC) as CPC from (
select OLID,Count(distinct ContactID) as Nos,Sum(BP) as BP,Sum(DP) as DP,Sum(DA) as DA,Sum(EPC) as EPC,Sum(CPC) as CPC from (
select OLID,ContactID,a.ScaleRegisterID,BP,DP,DA,Sum(case when SalaryOtherDeductionID=13 then isnull(b.Amount,0) else 0 end) as EPC,Sum(case when SalaryOtherDeductionID=17 then isnull(b.Amount,0) else 0 end) as CPC from (
select OLID,ScaleRegisterID,COntactID,BP,Sum(DP) as DP,Sum(DA) as DA from (
select a.*,isnull(b.Amount,0) as BP,(case when AllowanceID=20 then isnull(c.Amount,0) else 0 end) as DP,(case when AllowanceID=1 then isnull(c.Amount,0) else 0 end) as DA from ( 
select OLID,ScaleRegisterID,ContactID FROM ScaleRegister A with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID)) as A
full join ( select ScaleRegisterID,Sum(Amount) as Amount from (
select ScaleRegisterID,Round(Round(Sum(Amount),2),0) as Amount
from ScaleRegisterBasicPayDetails A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID)
Group By ScaleRegisterID union all
select ScaleRegisterID,-Round(Round(Sum(Amount),2),0) as Amount
from ( select ScaleRegisterWithDrawalID,Amount from ScaleRegisterBasicPayWithDrawals A  with (nolock) where ScaleRegisterWithDrawalID in (select ScaleRegisterWithDrawalID  from @SRWID B where b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID)) as A
full  join  @SRWID B on b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID
Group By ScaleRegisterID ) as A Group By ScaleRegisterID Having Sum(Amount)!=0 ) as B on b.ScaleRegisterID=a.ScaleRegisterID
full join ( select ScaleRegisterID,AllowanceID,Sum(Amount) as Amount from (
select ScaleRegisterID,AllowanceID,Round(Round(Sum(Amount),2),0) as Amount
from ScaleRegisterAllowances A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID) and AllowanceID in (1,20)
Group By ScaleRegisterID,AllowanceID union all
select ScaleRegisterID,AllowanceID,-Round(Round(Sum(Amount),2),0) as Amount
from ( select ScaleRegisterWithDrawalID,AllowanceID,Amount from ScaleRegisterAllowanceWithDrawals A  with (nolock) where ScaleRegisterWithDrawalID in (select ScaleRegisterWithDrawalID  from @SRWID B where b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID) and AllowanceID in (1,20)) as A
full  join  @SRWID B on b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID
Group By ScaleRegisterID,AllowanceID ) as A Group By ScaleRegisterID,AllowanceID Having Sum(Amount)!=0 ) as C on c.ScaleRegisterID=a.ScaleRegisterID
) as A Group By OLID,ScaleRegisterID,COntactID,BP
) as A
full join ( select ScaleRegisterID,SalaryOtherDeductionID,Sum(Amount) as Amount from (
select ScaleRegisterID,SalaryOtherDeductionID,Round(Round(Sum(Amount),2),0) as Amount
from ScaleRegisterOtherDeductions A  with (nolock) where ScaleRegisterID in (select ScaleRegisterID  from @SRID B where b.ScaleRegisterID=a.ScaleRegisterID) and SalaryOtherDeductionID in (13,17)
Group By ScaleRegisterID,SalaryOtherDeductionID union all
select ScaleRegisterID,SalaryOtherDeductionID,-Round(Round(Sum(Amount),2),0) as Amount
from ( select ScaleRegisterWithDrawalID,SalaryDeductionOthersID as SalaryOtherDeductionID,Amount from ScaleRegisterOtherDeductionWithDrawals A  with (nolock) where ScaleRegisterWithDrawalID in (select ScaleRegisterWithDrawalID  from @SRWID B where b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID) and SalaryDeductionOthersID in (13,17)) as A
full  join  @SRWID B on b.ScaleRegisterWithDrawalID=a.ScaleRegisterWithDrawalID
Group By ScaleRegisterID,SalaryOtherDeductionID ) as A Group By ScaleRegisterID,SalaryOtherDeductionID Having Sum(Amount)!=0 ) as B on b.ScaleRegisterID=a.ScaleRegisterID
Group By OLID,ContactID,a.ScaleRegisterID,BP,DP,DA
) as A Group By OLID
) as A
GO
