USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMakeModel]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMakeModel] @SIDetID int as

SELECT
STUFF((select ', '+
Concat(SIDATA.SerialNo  COLLATE DATABASE_DEFAULT,
CASE WHEN SIDATA.MAKE is null THEN '' ELSE ' -  ' end,isnull(SIDATA.MAKE,'') COLLATE DATABASE_DEFAULT,
CASE WHEN SIDATA.MODEL is null THEN '' ELSE ' -  ' end,isnull(SIDATA.MODEL,'') COLLATE DATABASE_DEFAULT)
FROM
(select DISTINCT  Case when s.SerialFlag=0 then '' else simd.SerialNo end SerialNo, simds1.UserDefinedFieldValue make,simds.UserDefinedFieldValue model
from StoreInvoiceMaterialDetails_Accounts simd with(nolock)
left outer join StoreInvoiceMaterialDetailsSub_pni simds with(nolock) on simds.StoreInvoiceMaterialDetailsID=simd.StoreInvoiceMaterialDetailsID and simds.DistributionNodeUserDefinedFieldID=1
left outer join StoreInvoiceMaterialDetailsSub_pni simds1 with(nolock) on simds1.StoreInvoiceMaterialDetailsID=simd.StoreInvoiceMaterialDetailsID and simds1.DistributionNodeUserDefinedFieldID=20
inner join StoreInvoiceDetails_Accounts sid with(nolock) on sid.StoreInvoiceDetailsID=simd.StoreInvoiceDetailsID
inner join StoreInvoice_Accounts si with(nolock) on si.StoreInvoiceNo=sid.StoreInvoiceNo
inner join stock s with(nolock) on s.ItemID=sid.ItemID
where simd.StoreInvoiceDetailsID=@SIDetID and simd.StockConditionID<>4
)SIDATA
FOR XML PATH('')),1,1,'')

GO
