USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[EmployeeLocationWiseInfo]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EmployeeLocationWiseInfo]
    @SalaryMonth int,
	@SalaryYear int,
	@OfficeLocationID int

AS 

SET NOCOUNT ON

DECLARE @LoanAndAdvanceSum VARCHAR(8000)
SELECT @LoanAndAdvanceSum=dbo.fn_getLoanAndAdvanceSum()

DECLARE @LoanAndAdvanceColumns VARCHAR(8000)
SELECT @LoanAndAdvanceColumns= dbo.fn_getLoanAndAdvanceColumns()


DECLARE @LoanAndAdvanceQuery VARCHAR(8000)

SET @LoanAndAdvanceQuery='create view TEST123 as SELECT  ScaleregisterID,'+
							@LoanAndAdvanceColumns+' FROM (SELECT SR.ScaleRegisterID, SRLA.Amount as NewAmount,EO.Name+'+''+'+EOB.Name as Organisation
																FROM EmployeeLoanAndAdvance ELA, ExternalOrganisations EO, 
																ExternalOrganisationBranches EOB,ScaleRegisterLoansAndAdvances SRLA,ScaleRegister SR
																WHERE EO.ExternalOrganisationID =ELA.ExternalOrganisationID 
																AND ELA.ExternalOrganisationBranchID=EOB.ExternalOrganisationBranchID
																AND EOB.ExternalOrganisationID=EO.ExternalOrganisationID
																AND SRLA.ScaleRegisterID=SR.ScaleRegisterID
																AND SRLA.LoanAndAdvanceID=ELA.LoanAndAdvanceID
																AND SR.ContactID=ELA.ContactID
																
																)
						p PIVOT (sum([NewAmount]) FOR Organisation 
						IN ('+@LoanAndAdvanceColumns+')) AS pvt
				'

						
		Execute(@LoanAndAdvanceQuery)


DECLARE @FinalQuery VARCHAR(MAX)

set @FinalQuery='select E.Contactid,FirstName+LastName as EName,D.Designationname,'
SET @FinalQuery=@FinalQuery+'(Select isnull(Sum(Amount),0) from Scaleregisterbasicpaydetails where ScaleregisterID=SR.ScaleregisterId) as Basic,'  
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=18)as MDA,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=1)as DA,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=17)as Special_Pay,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=2)as HRA,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=3)as CCA,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=13)as Others,'
SET @FinalQuery=@FinalQuery+'(Select isnull(Sum(Amount),0) from Scaleregisterbasicpaydetails where ScaleregisterID=SR.ScaleregisterId)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=18)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=1)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=17)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=2)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=3)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=13)as Gross,0 as JS,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=2)as IT,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=3)as ProfTAX,'
SET @FinalQuery=@FinalQuery+'(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=5)as Union_Deduc,'
SET @FinalQuery=@FinalQuery+'0 as FBF,(select isnull(Sum (Amount),0) from ScaleregisterLoansandAdvances where ScaleregisterID=SR.ScaleregisterId and LoanandAdvanceID=9)as FA,T.*,'+ @LoanAndAdvanceSum
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=2)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=3)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=5)as TotalDeductions,'
SET @FinalQuery=@FinalQuery+'((Select isnull(Sum(Amount),0) from Scaleregisterbasicpaydetails where ScaleregisterID=SR.ScaleregisterId)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=18)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=1)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=17)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=2)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=3)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from scaleregisterallowances where ScaleregisterID=SR.ScaleregisterId and allowanceid=13))'
SET @FinalQuery=@FinalQuery+'-(+'+ @LoanAndAdvanceSum
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=2)'
SET @FinalQuery=@FinalQuery+'+(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId and SalaryDeductionOthersID=3)+(select isnull(Sum(Amount),0) from ScaleregisterOtherdeductions where ScaleregisterID=SR.ScaleregisterId  and SalaryDeductionOthersID=5)'
SET @FinalQuery=@FinalQuery+'+ (select  isnull(Sum (Amount),0) from ScaleregisterLoansandAdvances where ScaleregisterID=SR.ScaleregisterId  and LoanandAdvanceID=9)'
SET @FinalQuery=@FinalQuery+') as NetPayments'
SET @FinalQuery=@FinalQuery+' from employee E,contacts C,odldallocation O,Designation D,Scaleregister SR,Test123 T,officelocationallocation OLA'
SET @FinalQuery=@FinalQuery+' where E.Contactid=C.contactid '
SET @FinalQuery=@FinalQuery+'and T.ScaleregisterID=SR.ScaleregisterId '
SET @FinalQuery=@FinalQuery+'and E.odldid=O.odldid'
SET @FinalQuery=@FinalQuery+' and O.designationid=D.designationid'
SET @FinalQuery=@FinalQuery+' and O.locationid=OLA.locationid'
SET @Finalquery=@FinalQuery+' and O.officeid=OLA.officeid'
SET @FinalQuery=@FinalQuery+' and OLA.officeLocationAllocationID='+ cast(@OfficeLocationID as varchar(4))
SET @FinalQuery=@FinalQuery+' and SR.contactid=E.Contactid'
SET @FinalQuery=@FinalQuery+' and SR.ScaleregisterId in (Select max(ScaleRegisterID) from Scaleregister SR2'
SET @FinalQuery=@FinalQuery+' where SalaryMonth='+ cast(@SalaryMonth as varchar(2))+' and SalaryYear='+ cast(@SalaryYear as varchar(4))+' and SR2.Contactid=SR.contactid)'

EXECUTE (@FinalQuery)

drop view test123;

--
-- EmployeePayInformation
-- 
GO
