USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ScaleRegister]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_ScaleRegister]
 @Query Varchar(100),@ContactID Int,@AcOLID Int,@Suppliment Int,@FromDate DateTime,@Generated Int,@SRID Int,@Remarks Varchar(500) 
 ,@ContactID1 Int,@OLID Int,@CategoryID Int,@OSL Int
 ,@StartingDate DateTime,@EndingDate DateTime,@Attendance Int 
 ,@Generated1 Int,@HeldUp Int,@Suppliment1 Int 
 ,@BillRegisterNo Varchar(50),@BillRegisterDate Varchar(20),@JVNo Int,@JVDate Varchar(200) 
AS SET NOCOUNT ON

--Declare @Query Varchar(100) = 'Select'
--Declare @ContactID Int = 526
--Declare @AcOLID Int = 0
--Declare @Suppliment Varchar(10) = -1
--Declare @FromDate Varchar(10) = '2024-04-01'
--Declare @Generated Int = 1
--Declare @SRID Int = 0


--Declare @ContactID1 Int = 0
--Declare @OLID Int = 0
--Declare @CategoryID Int = 1
--Declare @OSL Int = 0
--Declare @Remarks Varchar(500) = '' 

--Declare @StartingDate DateTime = ''
--Declare @EndingDate DateTime = ''
--Declare @Attendance Int = 0

--Declare @Generated1 Int = 1 
--Declare @HeldUp Int = 0 
--Declare @Suppliment1 Int = 0 

--Declare @BillRegisterNo Varchar(50) = '0'
--Declare @BillRegisterDate Varchar(20) = '-'
--Declare @JVNo Int = 0
--Declare @JVDate Varchar(20) = '-'


IF @Query='Update'
Update a set ContactID=(case when @ContactID1=0 then NULL else @ContactID1 end),OLID=@OLID,EmployeeCategoryID=@CategoryID,OSL=@OSL,Remarks=@Remarks
from ScaleRegister A with(nolock) where (case when @SRID=0 then 0 else ScaleRegisterID end)=@SRID and ContactID = @ContactID 

else IF @Query='Update1'
Update a set StartingDate=@StartingDate,EndingDate=@EndingDate,Attendance=@Attendance 
from ScaleRegister A with(nolock) where ScaleRegisterID=@SRID and ContactID = @ContactID 

else IF @Query='Update2'
Update a set Generated=@Generated1,HeldUp=@HeldUp,Suppliment=@Suppliment1 
from ScaleRegister A with(nolock) where ScaleRegisterID=@SRID and ContactID = @ContactID 

else IF @Query='Update3'
Update a set BillRegisterNo=@BillRegisterNo,BillRegisterDate=(case when @BillRegisterDate='-' then NULL else @BillRegisterDate end),JVNo=(case when @JVNo=0 then NULL else @JVNo end),JVDate=(case when @JVDate='-' then NULL else @JVDate end)
from ScaleRegister A with(nolock) where ScaleRegisterID=@SRID and ContactID = @ContactID 


select distinct a1.*,ApproveODLDID,ApproveCID,ApproveName,ApproveOL,ApproveDesignation,Status
,(case when ActivityID=346 then 'Officer' else concat(isnull(Approved,0),'') end) Approved,(case when ActivityID=346 then 'Officer' else concat(isnull(Processing,0),'') end) Processing from (
select ScaleRegisterID SRID,ContactID,SalaryMonth Month,SalaryYear Year,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,OLID,EmployeeCategoryID CategoryID,Bonus,Attendance,TotalBasicPay BasicPay,TotalAdditions Additions,TotalDeductions Deductions,NetPayments Net,SpecialPayment PPAmount,RecoveryAmount Recovery,cast(Generated as int) Generated,Suppliment,cast(HeldUp as int) HeldUp,BillRegisterNo BRNo,convert(varchar,BillRegisterDate,104) BRDate,concat(convert(varchar,CreatedOn,104),' ',ltrim(right(CreatedOn,8))) CreatedOn,cast(Legacy as int) Legacy,cast(OSL as int) OSL,JVNo,convert(varchar,JVDate,104) JVDate  
from ScaleRegister A with(nolock) 
where a.ContactID = @ContactID 
and (case when @Suppliment='-1' then '-1' else Suppliment end) in (select * from Split(@Suppliment,','))  
and (case when @AcOLID=0 then 0 else OLID end)=@AcOLID 
and (case when isnull(HeldUp,0)=1 then 0 else isnull(Generated,0) end)=@Generated
and ISNULL(BillRegisterDate,cast(getDate() as Date)) >= @FromDate  
and (case when @SRID=0 then 0 else ScaleRegisterID end) = @SRID
) A1  Outer Apply (
	select ActivityID,(case when ActivityID=346 then DocumentNo else ScaleRegisterID end) SRID,ODLDID ApproveODLDID,ContactID ApproveCID,ct.Fileas ApproveName,OfficeLocation ApproveOL
	,concat(DesignationName,' (',DepartmentCode,')') ApproveDesignation,s.Description Status,sra.Approved,Processing from ( 
	select * from (
	select ActivityID,DocumentNo,ApproverContactID,ApproverODLDID,StatusID,NextApproverContactID,NextApproverODLDID
	,(Row_Number() over (Partition By DocumentNo Order By DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
	from ActivityApprovals_hrms a with(nolock) where ActivityID=560 
	and DocumentNo in (select ScaleRegisterAttendencesMainID from ScaleRegisterAttendences B with(nolock) where b.ScaleRegisterID=a1.SRID)
	) A where MaxNo=1 
	union 
	select * from (
	select ActivityID,DocumentNo,ApproverContactID,ApproverODLDID,StatusID,NextApproverContactID,NextApproverODLDID
	,(Row_Number() over (Partition By DocumentNo Order By DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
	from ActivityApprovals_hrms a with(nolock) where ActivityID=346 and DocumentNo=a1.SRID
	) A where MaxNo=1 
	) A left join Contacts CT with(nolock) on ct.ContactID=(case when StatusID in (4,1) then ApproverContactID else a.NextApproverContactID end) 
	left join ODLDAllocation D with(nolock) on d.ODLDID=(case when StatusID in (4,1) then ApproverODLDID else a.NextApproverODLDID end) 
	left join OfficeLocationAccountingUnitDetails E with(nolock) on e.OfficeID=d.OfficeID and e.LocationID=d.LocationID 
	left join Department DP with(nolock) on DP.DepartmentID=D.DepartmentID
	left join Designation DN with(nolock) on Dn.DesignationID=D.DesignationID
	left join Status_Config s with(nolock) on s.StatusID=a.StatusID
	outer Apply (select top 1 ScaleRegisterID,Approved,Processing from ScaleRegisterAttendences SRA with(nolock) where sra.ScaleRegisterID=a1.SRID Order By StartAttendanceDate desc) SRA  
) B Order By Year,Month,SRID






GO
