USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_CWIP_Expenditure]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CWIP_Expenditure] @AcOLID int,@FromDate datetime,@ToDate datetime,@AcCode Varchar(10) as 


--Declare @AcOLID Int  = 341
--Declare @FromDate datetime = '2023-04-01'
--Declare @ToDate datetime = '2023-06-30'
--Declare @AcCode Varchar(10) = '14.809'



Declare @StartFyYear datetime  = (select StartingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))
Declare @EndFyYear datetime  = (select EndingFyYear from FnETLToday(Year(@FromDate),Month(@FromDate)))


Declare @AcOL Table (AcOLID Int,OfficeID Int,LocationID Int,OLID Int,OfficeLocation varchar(200)) Insert Into @AcOL
select AcOLID,OfficeID,LocationID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails with(nolock) where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 

Declare @JV Table (JVNo Int,JVDate DateTime) Insert Into @JV
select JournalVoucherNo,JournalVoucherDate from @AcOL ol 
inner join JournalVoucher JV with(nolock) on jv.OLID=ol.OLID and Approved=1 and JournalVoucherDate Between @StartFyYear and @ToDate and JournalVoucherDate Between @StartFyYear and @EndFyYear
where JournalVoucherNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where b.JournalVoucherNo = jv.JournalVoucherNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%') ) 

Declare @BRNo Table (DocumentNo Int,BillRegisterNo Int,JVDate DateTime,BillRegisterDate datetime) 
--Insert Into @BRNo
--select distinct DocumentNo,BillRegisterNo,JVDate,BillRegisterDate from @JV JV 
--Inner Join CivilInvoice CI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(JournalVoucherNo,0)=JVNo 
--where JVNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where JournalVoucherNo = jv.JVNo and FromMainAccountCode like'14.%' ) 
--and JVNo not in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where JournalVoucherNo = jv.JVNo 
--and (FromMainAccountCode+FromSubAccountCode) in ('42.501','77.550') ) 


Declare @Trans Table (Table1 Varchar(10),WorkOrderNo Int,TransNo Int,TransDate datetime,JVDate datetime,Amount Money) 
Insert Into @Trans
select 'SI' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and FromMainAccountCode not like'32.%' 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
) A Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all

select 'RV' Table1,DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and ToMainAccountCode not like'32.%'
Inner Join ReceiptVoucherAbstract_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate
) A Group By DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,Status,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount 
from @JV JV Inner Join CivilInvoice CI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(JournalVoucherNo,0)=JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'PI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV Inner Join ProformaInvoice PI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(ProformaApproved,0)=1 and isnull(Amount,0)<>0 and isnull(ProformaJournalVoucherNo,0)=JVNo  
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVDate,Status,BillRegisterNo,BillRegisterDate 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CI_Tax' Table1,DocumentNo,a.BillRegisterNo,BillRegisterDate,JVDate,Round(Round(Sum((isnull(TaxAmount,0)+isnull(DifferenceAmount,0))),2),0) as Amount 
from @BRNo A Inner Join TaxDetails B with(nolock) on b.BillRegisterNo=a.BillRegisterNo
Group By DocumentNo,a.BillRegisterNo,BillRegisterDate,JVDate Having SUm(isnull(TaxAmount,0)+isnull(DifferenceAmount,0)) <>0
union all 

select 'CR' Table1,DocumentNo,CostRegisterNo,CategorizationDate,JVDate,Round(Round(Sum(TotalAmount),2),0) as TotalAmount 
from @JV JV Inner Join CostRegister cr With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(JournalVoucherNo,0)=JVNo   
Group By DocumentNo,Status,DocumentDate,JVDate,CategorizationDate,CostRegisterNo 
Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CR' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate,sum(case when FromMainAccountCode like'10.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'10.%' or ToMainAccountCode like '10.%')
and ToMainAccountCode not like'32.%' 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate
) A Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'OB' Table1,a.DocumentNo,a.CostRegisterNo,DocumentDate,@StartFyYear,Round(Round(Sum(ExpenditureAmount),2),0) ExpenditureAmount
from @AcOL ol inner join CostRegisterExpenditureDetails a with (nolock) on a.DocumentOLID=ol.OLID and DocumentTypeID in (2,22)
Inner Join CostRegister cr With (NoLock) on cr.CostRegisterNo=a.CostRegisterNo
where EffectiveDate=@StartFyYear-1
Group By a.DocumentNo,a.CostRegisterNo,DocumentDate
Having Round(Round(Sum(ExpenditureAmount),2),0) <>0


Declare @RV_PO Table (PurchaseOrderNo Int,TransNo Int,JVDate datetime,TransDate datetime,RVAmount Money) 
Insert Into @RV_PO 
select DocumentNo,ReceiptVoucherNo,JVDate,ReceiptVoucherDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,ReceiptVoucherNo,JVDate,ReceiptVoucherDate,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Inner Join ReceiptVoucherAbstract_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (1) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,ReceiptVoucherNo,JVDate,ReceiptVoucherDate
) A Group By DocumentNo,ReceiptVoucherNo,JVDate,ReceiptVoucherDate Having Round(Round(Sum(TotalAmount),2),0) <>0



Declare @SI_To1 Table (DocumentNo Int,DocumentTypeID Int,AcCode Varchar(10),StoreInvoiceNo Int,JVDate DateTime,StoreInvoiceDate DateTime,JVAmount Money,OLID Int,ItemID Int,SerialNo Varchar(100),Amount Money)
insert into @SI_To1
select DocumentNo,DocumentTypeID,AcCode,StoreInvoiceNo,JVDate,StoreInvoiceDate,Round(Round(Sum(TotalAmount),2),0) JVAmount,OLID,ItemID,SerialNo,Round(Round(Sum(Amount),2),0) Amount from ( 
select distinct si.StoreInvoiceNo,JVDate,StoreInvoiceDate,DocumentNo,DocumentTypeID,si.OLID,ItemID,SerialNo,(isnull(c.Amount,0)) Amount
,(case when ToMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount,concat(ToMainAccountCode collate database_default,ToSubAccountCode collate database_default,7) AcCode
from @JV JV Cross Apply ( select JournalVoucherNo,ToMainAccountCode,ToSubAccountCode,round(isnull(Amount,0),0) Amount from JournalVoucherdetails JVD with(nolock) where jvd.JournalVoucherNo=jv.JVNo 
	and (case when @AcCode='ALL' then 'ALL' else concat(ToMainAccountCode collate database_default,ToSubAccountCode collate database_default) end)=@AcCode
	and FromMainAccountCode like'32.%' and ToMainAccountCode like '14.%'  ) JVD 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo --and si.StoreInvoiceNo = 731797 
inner Join StoreInvoiceDetails_Accounts B1 with(nolock) on b1.StoreInvoiceNo=si.StoreInvoiceNo 
inner join StoreInvoiceMaterialDetails_Accounts C with(nolock) on c.StoreInvoiceDetailsID=b1.StoreInvoiceDetailsID and round(isnull(c.Amount,0),0)=round(isnull(jvd.Amount,0),0)
) A Group By StoreInvoiceNo,AcCode,JVDate,StoreInvoiceDate,DocumentNo,DocumentTypeID,OLID,ItemID,SerialNo 
Having Round(Round(Sum(TotalAmount),2),0) <>0


Declare @SI_To2 Table (StoreInvoiceNo Int,DocumentNo1 Int,DocumentTypeID1 Int,ReceiptVoucherNo Int,OLID Int,ItemID Int,SerialNo Varchar(100))
insert into @SI_To2
select StoreInvoiceNo,DocumentNo,DocumentTypeID,ReceiptVoucherNo,OLID,ItemID,SerialNo  from (
select *,(Row_Number() over (Partition By OLID,StoreInvoiceNo,ItemID,SerialNo Order By OLID,StoreInvoiceNo,ItemID,SerialNo,DocumentTypeID,DocumentNo desc)) MinNo from (
select  distinct StoreInvoiceNo,a1.DocumentNo,a1.DocumentTypeID,a1.ReceiptVoucherNo,a.OLID,a.ItemID,a.SerialNo 
from @SI_To1 A
inner join ReceiptVoucherDetails_Accounts B with(nolock) on isnull(b.ItemID,0)=isnull(a.ItemID,0) and isnull(b.OLID,0)=isnull(a.OLID,0) --and a.ItemID = 6624 
inner join ReceiptVoucherMaterialDetails_Accounts C with(nolock) on c.ReceiptVoucherDetailsID=b.ReceiptVoucherDetailsID and isnull(c.SerialNo,'')=isnull(a.SerialNo,'') collate database_default 
inner join ReceiptVoucherAbstract_Accounts A1 with(nolock) on a1.ReceiptVoucherNo=b.ReceiptVoucherNo and isnull(a1.DocumentTypeID,0) in (1,10)
and isnull(a1.JournalVoucherNo,0) in (select JournalVoucherNo from JournalVoucherDetails B with(nolock) where b.JournalVoucherNo=isnull(a1.JournalVoucherNo,0) and (isnull(FromMainAccountCode,'') collate database_default+isnull(FromSubAccountCode,'') collate database_default)=left(a.AcCode,6) )
) A ) A where MinNo=1 

Declare @SI_To Table (DocumentNo Int,DocumentTypeID Int,AcCode Varchar(10),TransNo Int,JVDate datetime,TransDate1 datetime,Amount Money,TransDate datetime) 
Insert Into @SI_To
select a.DocumentNo,a.DocumentTypeID,AcCode,StoreInvoiceNo,JVDate,StoreInvoiceDate,Amount,isnull(isnull(PurchaseOrderDate,ReceiptVoucherDate),StoreInvoiceDate) Date1 from (
select (case when a.DocumentNo=0 then (case when DocumentTypeID1=10 then isnull(ReceiptVoucherNo,0) else isnull(DocumentNo1,0) end) else a.DocumentNo end) DocumentNo
,(case when a.DocumentNo=0 then isnull(DocumentTypeID1,0) else a.DocumentTypeID end) DocumentTypeID,ReceiptVoucherNo 
,AcCode,a.StoreInvoiceNo,JVDate,StoreInvoiceDate,isnull(a.Amount,a.Amount) Amount from (
select a.*,DocumentNo1,DocumentTypeID1,ReceiptVoucherNo from @SI_To1 A 
Full Join @SI_To2 B on b.StoreInvoiceNo=a.StoreInvoiceNo and isnull(b.ItemID,0)=isnull(a.ItemID,0) and isnull(b.OLID,0)=isnull(a.OLID,0) and isnull(b.SerialNo,'')=isnull(a.SerialNo,'') collate database_default 
) A ) A Left Join ReceiptVoucherAbstract_Accounts B with(nolock) on b.ReceiptVoucherNo=(case when a.DocumentTypeID=10 then a.DocumentNo else 0 end)
Left Join PurchaseOrder B1 with(nolock) on b1.PurchaseOrderNo=(case when a.DocumentTypeID=1 then a.DocumentNo else 0 end)



Declare @RV_From Table (DocumentNo Int,DocumentTypeID Int,AcCode Varchar(10),TransNo Int,JVDate datetime,TransDate1 datetime,Amount Money,TransDate datetime) 
Insert Into @RV_From 
select DocumentNo,DocumentTypeID,AcCode,ReceiptVoucherNo,JVDate,ReceiptVoucherDate,Round(Round(Sum(TotalAmount),2),0) Amount,ReceiptVoucherDate from ( 
select ReceiptVoucherNo,JVDate,ReceiptVoucherDate,DocumentNo,DocumentTypeID
,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount,concat(FromMainAccountCode collate database_default,FromSubAccountCode collate database_default,7) AcCode 
from @JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and ToMainAccountCode like'32.%' and FromMainAccountCode like '14.%'
and (case when @AcCode='ALL' then 'ALL' else concat(FromMainAccountCode collate database_default,FromSubAccountCode collate database_default) end)=@AcCode
Inner Join ReceiptVoucherAbstract_Accounts SI With (NoLock) on isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By ReceiptVoucherNo,JVDate,ReceiptVoucherDate,concat(FromMainAccountCode collate database_default,FromSubAccountCode collate database_default,7),DocumentNo,DocumentTypeID
) A Group By ReceiptVoucherNo,AcCode,JVDate,ReceiptVoucherDate,DocumentNo,DocumentTypeID Having Round(Round(Sum(TotalAmount),2),0) <>0
 


 
Declare @SI_Assted1 Table (DocumentNo Int,DocumentTypeID Int,AcCode Varchar(10),StoreInvoiceNo Int,JVDate DateTime,StoreInvoiceDate DateTime,JVAmount Money,OLID Int,ItemID Int,SerialNo Varchar(100),Amount Money)
insert into @SI_Assted1
select DocumentNo,DocumentTypeID,AcCode,StoreInvoiceNo,JVDate,StoreInvoiceDate,Round(Round(Sum(TotalAmount),2),0) JVAmount,OLID,ItemID,SerialNo,Round(Round(Sum(Amount),2),0) Amount from ( 
select distinct si.StoreInvoiceNo,JVDate,StoreInvoiceDate,DocumentNo,DocumentTypeID,si.OLID,ItemID,SerialNo,(isnull(c.Amount,0)) Amount
,(case when ToMainAccountCode like'10.%' then -jvd.Amount else jvd.Amount end) TotalAmount,concat(ToMainAccountCode collate database_default,ToSubAccountCode collate database_default,7) AcCode
from @JV JV Cross Apply ( select JournalVoucherNo,ToMainAccountCode,ToSubAccountCode,round(isnull(Amount,0),0) Amount from JournalVoucherdetails JVD with(nolock) where jvd.JournalVoucherNo=jv.JVNo 
	and (case when @AcCode='ALL' then 'ALL' else concat(ToMainAccountCode collate database_default,ToSubAccountCode collate database_default) end)=@AcCode
	and (FromMainAccountCode like'10.%' or ToMainAccountCode like '10.%' ) and FromMainAccountCode not like'32.%' and ToMainAccountCode like '14.%'	) JVD 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo --and si.StoreInvoiceNo = 725063
inner Join StoreInvoiceDetails_Accounts B1 with(nolock) on b1.StoreInvoiceNo=si.StoreInvoiceNo 
inner join StoreInvoiceMaterialDetails_Accounts C with(nolock) on c.StoreInvoiceDetailsID=b1.StoreInvoiceDetailsID and round(isnull(c.Amount,0),0)=round(isnull(jvd.Amount,0),0)
) A Group By StoreInvoiceNo,AcCode,JVDate,StoreInvoiceDate,DocumentNo,DocumentTypeID,OLID,ItemID,SerialNo 
Having Round(Round(Sum(TotalAmount),2),0) <>0


Declare @SI_Assted2 Table (StoreInvoiceNo Int,DocumentNo1 Int,DocumentTypeID1 Int,ReceiptVoucherNo Int,OLID Int,ItemID Int,SerialNo Varchar(100))
insert into @SI_Assted2
select StoreInvoiceNo,DocumentNo,DocumentTypeID,ReceiptVoucherNo,OLID,ItemID,SerialNo  from (
select *,(Row_Number() over (Partition By OLID,StoreInvoiceNo,ItemID,SerialNo Order By OLID,StoreInvoiceNo,ItemID,SerialNo,DocumentTypeID,DocumentNo desc)) MinNo from (
select  distinct StoreInvoiceNo,a1.DocumentNo,a1.DocumentTypeID,a1.ReceiptVoucherNo,a.OLID,a.ItemID,a.SerialNo  
from @SI_Assted1 A
inner join ReceiptVoucherDetails_Accounts B with(nolock) on isnull(b.ItemID,0)=isnull(a.ItemID,0) and isnull(b.OLID,0)=isnull(a.OLID,0) 
inner join ReceiptVoucherMaterialDetails_Accounts C with(nolock) on c.ReceiptVoucherDetailsID=b.ReceiptVoucherDetailsID and isnull(c.SerialNo,'')=isnull(a.SerialNo,'') collate database_default 
inner join ReceiptVoucherAbstract_Accounts A1 with(nolock) on a1.ReceiptVoucherNo=b.ReceiptVoucherNo and isnull(a1.DocumentTypeID,0) in (1,10)
and isnull(a1.JournalVoucherNo,0) in (select JournalVoucherNo from JournalVoucherDetails B with(nolock) where b.JournalVoucherNo=isnull(a1.JournalVoucherNo,0) and (isnull(FromMainAccountCode,'') collate database_default+isnull(FromSubAccountCode,'') collate database_default)=left(a.AcCode,6) )
) A ) A where MinNo=1 

Declare @SI_Assted Table (DocumentNo Int,DocumentTypeID Int,AcCode Varchar(10),TransNo Int,JVDate datetime,TransDate1 datetime,Amount Money,TransDate datetime) 
Insert Into @SI_Assted
select a.DocumentNo,a.DocumentTypeID,AcCode,StoreInvoiceNo,JVDate,StoreInvoiceDate,Amount,isnull(isnull(PurchaseOrderDate,ReceiptVoucherDate),StoreInvoiceDate) Date1 from (
select (case when a.DocumentNo=0 then (case when DocumentTypeID1=10 then isnull(ReceiptVoucherNo,0) else isnull(DocumentNo1,0) end) else a.DocumentNo end) DocumentNo
,(case when a.DocumentNo=0 then isnull(DocumentTypeID1,0) else a.DocumentTypeID end) DocumentTypeID,ReceiptVoucherNo 
,AcCode,a.StoreInvoiceNo,JVDate,StoreInvoiceDate,isnull(a.Amount,a.Amount) Amount from (
select a.*,DocumentNo1,DocumentTypeID1,ReceiptVoucherNo from @SI_Assted1 A 
Full Join @SI_Assted2 B on b.StoreInvoiceNo=a.StoreInvoiceNo and isnull(b.ItemID,0)=isnull(a.ItemID,0) and isnull(b.OLID,0)=isnull(a.OLID,0) and isnull(b.SerialNo,'')=isnull(a.SerialNo,'') collate database_default 
) A ) A Left Join ReceiptVoucherAbstract_Accounts B with(nolock) on b.ReceiptVoucherNo=(case when a.DocumentTypeID=10 then a.DocumentNo else 0 end)
Left Join PurchaseOrder B1 with(nolock) on b1.PurchaseOrderNo=(case when a.DocumentTypeID=1 then a.DocumentNo else 0 end)



 
Declare @WONo Table (WorkOrderNo Int,WorkOrderDate DateTime,WorkAllocationID Int,Amount Money,ContractAmount Money,WorkInChargeID Int,ODLDID Int,Legacy Int,WorkOrderNo1 Varchar(50)) 
Insert Into @WONo
select distinct a.WorkOrderNo,WorkOrderDate,WorkAllocationID,isnull(Amount,0) Amount,isnull(ContractAmount,0) ContractAmount,WorkInChargeID,ODLDID,isnull(Legacy,0) 
,(case when isnull(Legacy,0)=1 then concat(a.WorkOrderNo,'') else OfficialReferenceNo end) from (
select distinct WorkOrderNo,JVDate from @Trans ) A 
Inner Join WorkOrder B with(nolock) on b.WorkOrderNo=a.WorkOrderNo 

Declare @PONo Table (PurchaseOrderNo Int,TransNo Int,TotalAmount Money,AcCode Varchar(20),PurchaseOrderDate datetime,JVDate datetime) 
Insert Into @PONo
select a.PurchaseOrderNo,TransNo,RVAmount,concat(MainAccountCode collate database_default,SubAccountCode collate database_default,7) AcCode,PurchaseOrderDate,JVDate 
from @RV_PO A Inner Join PurchaseOrder B with(nolock) on b.PurchaseOrderNo=a.PurchaseOrderNo --and b.PurchaseOrderNo = 584950
and (case when @AcCode='ALL' then 'ALL' else concat(MainAccountCode collate database_default,SubAccountCode collate database_default) end)=@AcCode


select * from (

select (case when Legacy=0 then 2 else 22 end) DocumentTypeID,WorkInChargeID,ODLDID,Legacy,WorkOrderNo1,WorkOrderDate,JVDate,Table1,WorkOrderNo,TransNo,ola.OfficeID,sac.Description,(isnull(wa.MainAccountCode,'')+isnull(wa.SubAccountCode,'')) as AccountHead
,Sum(OB) OB,Sum(Expenditure) Expenditure,Sum(ReceivedAmount) ReceivedAmount,Sum(TransferedAmount) as TransferedAmount,sum(Asseted) Asseted,Sum(CB) CB from (
select *,((OB+Expenditure+ReceivedAmount) - (TransferedAmount+Asseted)) as CB from (
select WorkInChargeID,ODLDID,Legacy,WorkOrderNo1,JVDate,Table1,TransNo,wo.WorkAllocationID,wo.WorkOrderNo,wo.WorkOrderDate,Expenditure
,0 ReceivedAmount,0 TransferedAmount,Asseted,OB  from (
select WorkAllocationID,wo.WorkOrderNo,wo.WorkOrderDate,TransNo,Table1,JVDate,WorkOrderNo1,WorkInChargeID,ODLDID,Legacy
,(case when Table1='CI_Tax' and WorkAllocationID=12 then 0 when Table1 in ('CR','OB') then 0 else isnull(t.Amount,0) end) Expenditure
,(case when Table1='CR' then isnull(t.Amount,0) else 0 end) Asseted
,(case when Table1='OB' then isnull(t.Amount,0) else 0 end) OB
from @WONo WO inner join @Trans T on t.WorkOrderNo=wo.WorkOrderNo 
) WO ) A where ((abs(Expenditure)+abs(ReceivedAmount)+abs(TransferedAmount)+abs(Asseted)+abs(OB))) != 0
) as A inner join WorkAllocation wa with (nolock) on wa.WorkAllocationID=a.WOrkAllocationID and wa.MainAccountCode like '14.%' 
and (case when @AcCode='ALL' then 'ALL' else concat(wa.MainAccountCode collate database_default,wa.SubAccountCode collate database_default) end)=@AcCode
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=(isnull(wa.MainAccountCode,'')+isnull(wa.SubAccountCode,''))
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
Group By Table1,WorkOrderNo,TransNo,ola.OfficeID,ola.OfficeLocation,sac.Description,wa.MainAccountCode,wa.SubAccountCode,JVDate,WorkOrderDate,WorkOrderNo1,WorkInChargeID,ODLDID,Legacy

union all
select 1,0,0,0,concat(PurchaseOrderNo,''),PurchaseOrderDate,JVDate,'PO',PurchaseOrderNo,TransNo,ola.OfficeID
,sac.Description,left(AcCode,6) collate database_default
,0 OB,Sum(TotalAmount) Expenditure,0 as ReceivedAmount,0 as TransferedAmount,0 Assted,SUm(TotalAmount) as CB
from @PONo left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=left(AcCode,6) collate database_default
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
Group By ola.OfficeID,ola.OfficeLocation,sac.Description,AcCode,PurchaseOrderNo,TransNo,JVDate,PurchaseOrderDate

union all
select DocumentTypeID,0,0,0,concat((case when DocumentTypeID in (1,2,22) then DocumentNo else TransNo end),''),TransDate,JVDate,'RorT',(case when DocumentTypeID in (1,2,22) then DocumentNo else TransNo end),TransNo,ola.OfficeID,sac.Description,left(AcCode,6) collate database_default
,0 OB,0 Expenditure,Sum(case when Types='From' then Amount else 0 end) as ReceivedAmount,Sum(case when Types='To' then Amount else 0 end) as TransferedAmount
,0 Assted,Sum(case when Types='From' then Amount else -Amount end) as CB
from (select 'From' Types,* from @RV_From union select 'To',* from @SI_To ) a  
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=left(AcCode,6) collate database_default
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
Group By ola.OfficeID,ola.OfficeLocation,sac.Description,AcCode,JVDate,TransDate,TransNo,DocumentNo,DocumentTypeID

union all
select 1,0,0,0,concat(a.DocumentNo,''),cr.DocumentDate,@StartFyYear,'OB_PO' Table1,a.DocumentNo,a.CostRegisterNo,ola.OfficeID,sac.Description,concat(b.MainAccountCode collate database_default,b.SubAccountCode collate database_default) AcCode
,Round(Round(Sum(ExpenditureAmount),2),0) OB,0,0,0,0,Round(Round(Sum(ExpenditureAmount),2),0) CB
from @AcOL ol inner join CostRegisterExpenditureDetails a with (nolock) on a.DocumentOLID=ol.OLID and DocumentTypeID in (1)
Inner Join CostRegister cr With (NoLock) on cr.CostRegisterNo=a.CostRegisterNo
left Join PurchaseOrder B with(nolock) on b.PurchaseOrderNo=a.DocumentNo
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=concat(b.MainAccountCode collate database_default,b.SubAccountCode collate database_default)
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
where EffectiveDate=@StartFyYear-1
and (case when @AcCode='ALL' then 'ALL' else concat(b.MainAccountCode collate database_default,b.SubAccountCode collate database_default) end)=@AcCode
Group By a.DocumentNo,a.CostRegisterNo,cr.DocumentDate,ola.OfficeID,concat(b.MainAccountCode collate database_default,b.SubAccountCode collate database_default),sac.Description
Having Round(Round(Sum(ExpenditureAmount),2),0) <>0

union all
select 0,0,0,0,concat(a.DocumentNo,''),cr.DocumentDate,@StartFyYear,'OB_RV' Table1,a.DocumentNo,a.CostRegisterNo,ola.OfficeID,sac.Description,concat(b1.FromMainAccountCode collate database_default,b1.FromSubAccountCode collate database_default) AcCode
,Round(Round(Sum(ExpenditureAmount),2),0) OB,0,0,0,0,Round(Round(Sum(ExpenditureAmount),2),0) CB
from @AcOL ol inner join CostRegisterExpenditureDetails a with (nolock) on a.DocumentOLID=ol.OLID and DocumentTypeID in (12,33)
Inner Join CostRegister cr With (NoLock) on cr.CostRegisterNo=a.CostRegisterNo
left Join ReceiptVoucherAbstract_Accounts B with(nolock) on b.ReceiptVoucherNo=a.DocumentNo
outer apply (select distinct * from (select top 1 FromMainAccountCode,FromSubAccountCode from JournalVoucherDetails B1 with(nolock) where b1.JournalVoucherNo=b.JournalVoucherNo and b1.FromMainAccountCode like '14.%') A ) B1 
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=concat(b1.FromMainAccountCode collate database_default,b1.FromSubAccountCode collate database_default)
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
where EffectiveDate=@StartFyYear-1
and (case when @AcCode='ALL' then 'ALL' else concat(b1.FromMainAccountCode collate database_default,b1.FromSubAccountCode collate database_default) end)=@AcCode
Group By a.DocumentNo,a.CostRegisterNo,cr.DocumentDate,ola.OfficeID,concat(b1.FromMainAccountCode collate database_default,b1.FromSubAccountCode collate database_default),sac.Description
Having Round(Round(Sum(ExpenditureAmount),2),0) <>0

union all
select DocumentTypeID,0,0,0,concat((case when DocumentTypeID in (1,10) then DocumentNo else TransNo end),''),TransDate,JVDate,'CR',(case when DocumentTypeID in (1,10) then DocumentNo else TransNo end),TransNo,ola.OfficeID,sac.Description,left(AcCode,6) collate database_default
,0 OB,0 Expenditure,0 ReceivedAmount,0 TransferedAmount,Sum(Amount) Assted,-Sum(Amount) CB
from @SI_Assted a  
left outer join SubAccount sac on (isnull(sac.MainAccountCode,'')+isnull(sac.SubAccountCode,''))=left(AcCode,6) collate database_default
left outer join OfficeLocationAccountingUnitDetails ola on ola.OLID = @AcOLID
where DocumentTypeID not in (2,22)
Group By ola.OfficeID,ola.OfficeLocation,sac.Description,AcCode,JVDate,TransDate,TransNo,DocumentNo,DocumentTypeID

) A --where WorkOrderNo = 753771    









GO
