USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure1]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[SP_Annexure1] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON



--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @FromYear Int select @FromYear = 2023
--Declare @ToYear Int select @ToYear = 2024
--Declare @FromFyYear DateTime select @FromFyYear = '2023-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2023-12-31'
--Declare @AcOLID varchar(100) select @AcOLID = '341'



Declare @OB Table (OLID Int,FromAcHead varchar(10),ToAcHead varchar(10),Amount Money,VoltageClassCode Varchar(20)) 
Insert Into @OB 
select @LoginOLID OLID,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) as FromAcHead,'OB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount,VoltageClassCode
from TrialBalanceDetails A With (NoLock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where MainAccountCode like '%14.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(@FromFyYear) and TrialBalanceYear=Year(@FromFyYear) )
Group By MainAccountCode,SubAccountCode,VoltageClassCode


Declare @TBCB Table (OLID Int,FromAcHead varchar(10),ToAcHead varchar(10),Amount Money,VoltageClassCode Varchar(20)) 
Insert Into @TBCB 
select @LoginOLID OLID,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) as FromAcHead,'TBCB' as ToAcHead,Sum(DebitAmount-CreditAmount) as Amount,isnull(VoltageClassCode,'7') VoltageClassCode
from TrialBalanceDetails A With (NoLock)  left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where MainAccountCode like '%14.%' and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(DateAdd(Month,1,@ToFyYear)) and TrialBalanceYear=Year(DateAdd(Month,1,@ToFyYear)) )
Group By MainAccountCode,SubAccountCode,isnull(VoltageClassCode,'7')


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
--where DocumentTypeID!=73 and (case when DocumentTypeID=40 and RectifiedJVNo!=0 then 1 else 0 end)=0 
--where (case when isnull(DocumentTypeID,0)=40 and isnull(RectifiedJVNo,0)!=0 then 1 when isnull(DocumentTypeID,0)=73 then 1 else 0 end)=1 
where (FromAcHead like '14.%' or ToAcHead like '14.%' ) and FromAcHead not in ('-') and ToAcHead not in ('-') 
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 


Declare @Annex1 Table (SLNo Int,OLID Int,FromAcHead varchar(20),ToAcHead varchar(20),Amount Money,VoltageClassCode Varchar(20)) 
Insert Into @Annex1 
select SLNo,OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from ( 
		  select 4 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '22.310%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 4 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '22.310%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 5 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where left(FromAcHead,4) in ('14.6','14.7','14.8','14.9') 
	and (ToAcHead not like '14.%' and ToAcHead not like '16.%' and ToAcHead not like '37.%' and ToAcHead not like '32.%' and ToAcHead not like '10.%' and ToAcHead not in ('22.310','42.401','55.100','78.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 5 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where left(ToAcHead,4) in ('14.6','14.7','14.8','14.9') 
	and (FromAcHead not like '14.%' and FromAcHead not like '16.%' and FromAcHead not like '37.%' and FromAcHead not like '32.%' and FromAcHead not like '10.%' and FromAcHead not in ('22.310','42.401','55.100','78.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 6 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '16.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 6 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '16.%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 7 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '42.401%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 7 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '42.401%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 7 SLNo,@LoginOLID OLID,FromAcHead,'42.401' ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') and FromAcHead like '14.%' 
	and (ToAcHead not like '14.%' and ToAcHead not like '16.%' and ToAcHead not like '37.%' and ToAcHead not like '32.%' and ToAcHead not like '10.%' and ToAcHead not in ('22.310','42.401','55.100','78.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) group by FromAcHead,VoltageClassCode 
union all select 7 SLNo,@LoginOLID OLID,ToAcHead,'42.401' FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') and ToAcHead like '14.%' 
	and (FromAcHead not like '14.%' and FromAcHead not like '16.%' and FromAcHead not like '37.%' and FromAcHead not like '32.%' and FromAcHead not like '10.%' and FromAcHead not in ('22.310','42.401','55.100','78.900','46.440','28.831','28.832','28.834','28.835','28.790','42.219','42.220','42.222','42.223','42.790')) group by ToAcHead,VoltageClassCode 
union all select 8 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '55.100%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 8 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '55.100%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 9 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '78.900%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 9 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '78.900%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 10 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '46.440%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 10 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '46.440%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 11 SLNo,@LoginOLID OLID,'' ToAcHead,'' FromAcHead,0 Amount,'7' VoltageClassCode
union all select 13 SLNo,@LoginOLID OLID,FromAcHead,left(ToAcHead,6),Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '32.2%') group by FromAcHead,left(ToAcHead,6),VoltageClassCode 
union all select 13 SLNo,@LoginOLID OLID,ToAcHead,left(FromAcHead,6),Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '32.2%' and ToAcHead like '14.%')  group by left(FromAcHead,6),ToAcHead,VoltageClassCode 
union all select 14 SLNo,@LoginOLID OLID,FromAcHead,left(ToAcHead,6),Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '32.3%') group by FromAcHead,left(ToAcHead,6),VoltageClassCode 
union all select 14 SLNo,@LoginOLID OLID,ToAcHead,left(FromAcHead,6),Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '32.3%' and ToAcHead like '14.%')  group by left(FromAcHead,6),ToAcHead,VoltageClassCode 
union all select 15 SLNo,@LoginOLID OLID,FromAcHead,left(ToAcHead,6),Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead in ('42.219','42.220','42.222','42.223','42.790')) group by FromAcHead,left(ToAcHead,6),VoltageClassCode 
union all select 15 SLNo,@LoginOLID OLID,ToAcHead,left(FromAcHead,6),Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead in ('42.219','42.220','42.222','42.223','42.790') and ToAcHead like '14.%')  group by left(FromAcHead,6),ToAcHead,VoltageClassCode 
union all select 17 SLNo,@LoginOLID OLID,ToAcHead,left(FromAcHead,6),Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '32.1%' and ToAcHead like '14.%')  group by left(FromAcHead,6),ToAcHead,VoltageClassCode 
union all select 17 SLNo,@LoginOLID OLID,FromAcHead,left(ToAcHead,6),Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '32.1%') group by FromAcHead,left(ToAcHead,6),VoltageClassCode 
union all select 18 SLNo,@LoginOLID OLID,ToAcHead,left(FromAcHead,6),Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '32.4%' and ToAcHead like '14.%')  group by left(FromAcHead,6),ToAcHead,VoltageClassCode 
union all select 18 SLNo,@LoginOLID OLID,FromAcHead,left(ToAcHead,6),Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '32.4%') group by FromAcHead,left(ToAcHead,6),VoltageClassCode 
union all select 19 SLNo,@LoginOLID OLID,ToAcHead,left(FromAcHead,6),Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead in ('28.831','28.832','28.834','28.835','28.790') and ToAcHead like '14.%')  group by left(FromAcHead,6),ToAcHead,VoltageClassCode 
union all select 19 SLNo,@LoginOLID OLID,FromAcHead,left(ToAcHead,6),Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead in ('28.831','28.832','28.834','28.835','28.790')) group by FromAcHead,left(ToAcHead,6),VoltageClassCode 
union all select 21 SLNo,@LoginOLID OLID,ToAcHead,'10Series' FromAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '10.%' and ToAcHead like '14.%') group by ToAcHead,VoltageClassCode 
union all select 21 SLNo,@LoginOLID OLID,FromAcHead,'10Series' ToAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '10.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,VoltageClassCode 
union all select 22 SLNo,@LoginOLID OLID,'' ToAcHead,'' FromAcHead,0 Amount,'7' VoltageClassCode
union all select 23 SLNo,@LoginOLID OLID,FromAcHead,ToAcHead,Sum(Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '14.%') and left(FromAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 23 SLNo,@LoginOLID OLID,ToAcHead,FromAcHead,Sum(-Amount) Amount,VoltageClassCode from @JV where (FromAcHead like '14.%' and ToAcHead like '14.%') and left(ToAcHead,4) not in ('14.6','14.7','14.8','14.9') group by FromAcHead,ToAcHead,VoltageClassCode 
union all select 3 SLNo,OLID,FromAcHead,ToAcHead,Amount,VoltageClassCode from @OB
union all select 25 SLNo,OLID,FromAcHead,ToAcHead,Amount,VoltageClassCode from @TBCB
union all select 4 SLNo,@LoginOLID OLID,left(Series14,6) FromAcHead,'22.310'  ToAcHead,0 Amount,'7' VoltageClassCode from JV_AccountHead14_10Series with(nolock) where right(Series14,1) not in ('6')  
) A where len(FromAcHead)>0  
Group By SLNo,OLID,FromAcHead,ToAcHead,VoltageClassCode



select * from @Annex1 
union all select 12 SLNo,OLID,FromAcHead,'Total_12' ToAcHead,Sum(Amount) Amount,VoltageClassCode from @Annex1 where SlNo Between 4 and 11 Group By OLID,FromAcHead,VoltageClassCode
union all select 16 SLNo,OLID,FromAcHead,'Total_16' ToAcHead,Sum(Amount) Amount,VoltageClassCode from @Annex1 where SlNo Between 13 and 15 Group By OLID,FromAcHead,VoltageClassCode
union all select 20 SLNo,OLID,FromAcHead,'Total_20' ToAcHead,Sum(Amount) Amount,VoltageClassCode from @Annex1 where SlNo Between 17 and 19 Group By OLID,FromAcHead,VoltageClassCode
union all select 24 SLNo,OLID,FromAcHead,'CB' ToAcHead,Sum(case when SlNo in (17,18,19,21) then -Amount else Amount end) Amount,VoltageClassCode from @Annex1 where SlNo not in (25) Group By OLID,FromAcHead,VoltageClassCode
union all select 26 SLNo,OLID,FromAcHead,'Difference' ToAcHead,Sum(case when SlNo in (17,18,19,21,25) then -Amount else Amount end) Amount,VoltageClassCode from @Annex1 Group By OLID,FromAcHead,VoltageClassCode
Order By FromAcHead,SLNo

GO
