USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ApplicationDetails]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SP_ApplicationDetails] 
 @Query Varchar(10),@CID Int,@APTID Int,@APTSID Int,@FromDate Varchar(10),@OMNo Varchar(500)
,@APID Int,@APDID Int,@Shift Int,@OLID Int,@Cancel Int,@Approved Int
,@APTID1 Int,@RefNo Varchar(50),@Subject Varchar(50),@APDate Varchar(10)
,@OLID1 Int,@ContactID Int,@Cancel1 Int,@Approved1 Int
,@APTSID1 Int,@FromDate1 Varchar(10),@ToDate1 Varchar(10),@Remarks Varchar(500)
,@OMNo1 Varchar(50),@OMDate Varchar(10),@EventName Varchar(100),@EventDate Varchar(10)
,@BuildingID Int,@ToODLDID Int,@ToDNID Int
,@EADSID Int,@EADSRID Int,@FromDate2 Varchar(10),@EASRID Int
AS SET NOCOUNT ON 


--Declare @Query Varchar(10) = 'Select' 
--Declare @CID Int = 1424 
--Declare @APTID Int = 1 
--Declare @APTSID Int = 1
--Declare @FromDate Varchar(10) = '2024-01-01' 
--Declare @OMNo Varchar(500) = '0' 

--Declare @APID Int = 390
--Declare @APDID Int = 822
--Declare @Shift Int = 0

--Declare @OLID Int = 0 
--Declare @Cancel Int = 0 
--Declare @Approved Int = 0

--Declare @APTID1 Int = 0 
--Declare @RefNo Varchar(50) = '--' 
--Declare @Subject Varchar(50) = 'SA' 
--Declare @APDate Varchar(10) = '2024-03-16' 


--Declare @OLID1 Int = 0 
--Declare @ContactID Int = 1424
--Declare @Cancel1 Int = 0 
--Declare @Approved1 Int = 1

--Declare @APTSID1 Int = 8
--Declare @FromDate1 Varchar(10) = '--' 
--Declare @ToDate1 Varchar(10) = '--' 
--Declare @Remarks Varchar(500) = '--' 

--Declare @OMNo1 Varchar(50) = '0' 
--Declare @OMDate Varchar(10) = '2024-05-20' 
--Declare @EventName Varchar(100) = '--' 
--Declare @EventDate Varchar(10) = '--' 

--Declare @BuildingID Int = 0
--Declare @ToODLDID Int = 0
--Declare @ToDNID Int = 0


--Declare @EADSID Int = 0
--Declare @EADSRID Int = 277540
--Declare @FromDate2 Varchar(10) = '2024-01-01' 
--Declare @EASRID Int = 0


IF (@Query='Update' )
update a set OLID=@OLID , Cancel=@Cancel , Approved=@Approved 
from EmployeeApplication a with(nolock) where EmployeeApplicationID=@APID

IF (@Query='Update1' )
update a set EmployeeApplicationTypeID=@APTID1 , ReferenceNo=(case when @RefNo='--' then '' else @RefNo end) , Subject=(case when @Subject='--' then '' else @Subject end) , ApplicationDate=(case when @APDate='--' then NULL else @APDate end) 
from EmployeeApplication a with(nolock) where EmployeeApplicationID=@APID

IF (@Query='Import' )
insert into EmployeeApplication 
select @OLID,(case when @RefNo='--' then '' else @RefNo end),@APTID1,(case when @Subject='--' then '' else @Subject end),'' Reason,'' FilePath,@Cancel,@Approved,0 Export,(case when @APDate='--' then NULL else @APDate end),NULL OfficeMemoNo,NULL OfficeMemoDate,'' OfficialReferenceNo 

IF (@Query='Select1' or @Query='Update' or @Query='Update1' )
select * from EmployeeApplication a with(nolock) where EmployeeApplicationID=@APID

IF (@Query='Select2' or @Query='Import' )
select * from EmployeeApplication a with(nolock) where OLID=@OLID and EmployeeApplicationTypeID=@APTID1 and ApplicationDate=@APDate 


IF (@Query='Update2' )
update a set OLID=(case when @OLID1=0 then NULL else @OLID1 end) , ContactID=(case when @ContactID=0 then NULL else @ContactID end) , Cancel=@Cancel1 , Approved=@Approved1 , BuildingID=(case when @BuildingID=0 then NULL else @BuildingID end) , ToODLDID=(case when @ToODLDID=0 then NULL else @ToODLDID end) , ToDesignationID=(case when @ToDNID=0 then NULL else @ToDNID end) 
from EmployeeApplicationDetails a with(nolock) where EmployeeApplicationID=@APID and (case when @APDID=0 then 0 else EmployeeApplicationDetailsID end)=@APDID

IF (@Query='Update3' )
update a set EmployeeApplicationID=@APID , EmployeeApplicationSubTypeID=(case when @APTSID1=0 then NULL else @APTSID1 end) , FromDate=(case when @FromDate1='--' then NULL else @FromDate1 end) , ToDate=(case when @ToDate1='--' then NULL else @ToDate1 end) , Remarks=@Remarks
from EmployeeApplicationDetails a with(nolock) where EmployeeApplicationID=@APID and (case when @APDID=0 then 0 else EmployeeApplicationDetailsID end)=@APDID

IF (@Query='Update4' )
update a set OfficeMemoNo=(case when @OMNo1='--' then '' else @OMNo1 end) , OfficeMemoDate=(case when @OMDate='--' then NULL else @OMDate end) , EventDescription=(case when @EventName='--' then '' else @EventName end) , EventDate=(case when @EventDate='--' then NULL else @EventDate end)  
from EmployeeApplicationDetails a with(nolock) where EmployeeApplicationID=@APID and (case when @APDID=0 then 0 else EmployeeApplicationDetailsID end)=@APDID


IF (@Query='Select3' or @Query='Update2' or @Query='Update3' or @Query='Update4')
select * from EmployeeApplicationDetails a with(nolock) where EmployeeApplicationID=@APID and (case when @APDID=0 then 0 else EmployeeApplicationDetailsID end)=@APDID

IF (@Query='Import1' )
insert into EmployeeApplicationDetails(EmployeeApplicationID,ContactID,EmployeeApplicationSubTypeID,FromDate,ToDate,ContactStreetName,ExternalRRNo,ToODLDID,ToDesignationID,IncrementCount,BuildingID,EventDescription,EventDate,Remarks,Passed,NoDue,Approved,OfficeMemoNo,OfficeMemoDate,Cancel,OfficialReferenceNo,DoorNo,OLID) 
select @APID,@ContactID,(case when @APTSID1=0 then NULL else @APTSID1 end),(case when @FromDate1='--' then NULL else @FromDate1 end),(case when @ToDate1='--' then NULL else @ToDate1 end),'' ContactStreetName,'' ExternalRRNo,(case when @ToODLDID=0 then NULL else @ToODLDID end),(case when @ToDNID=0 then NULL else @ToDNID end),1 IncrementCount,(case when @BuildingID=0 then NULL else @BuildingID end),(case when @EventName='--' then '' else @EventName end),(case when @EventDate='--' then NULL else @EventDate end) ,@Remarks,0 Passed,0 NoDue,@Approved1,(case when @OMNo1='--' then '' else @OMNo1 end),(case when @OMDate='--' then NULL else @OMDate end),@Cancel1,'' OfficialReferenceNo,'' DoorNo,@OLID1


IF (@Query='Delete') 
delete from EmployeeApplicationDetailsSub where EmployeeApplicationDetailsID=@APDID and (case when @EADSID=0 then 0 else EmployeeApplicationDetailsSubID end)=@EADSID

IF (@Query='Import2') 
insert into EmployeeApplicationDetailsSub (EmployeeApplicationDetailsID,FromDate,ToDate ) 
select @APDID,(case when @FromDate2='--' then NULL else @FromDate2 end),(case when @FromDate2='--' then NULL else @FromDate2 end)

IF (@Query='Delete1') 
delete from EmployeeApplicationScaleRegisterDetailsSub where EmployeeApplicationDetailsID=@APDID and (case when @EADSRID=0 then 0 else EmployeeApplicationScaleRegisterDetailsSubID end)=@EADSRID

IF (@Query='Import3') 
insert into EmployeeApplicationScaleRegisterDetailsSub (EmployeeApplicationDetailsID,ScaleRegisterID ) 
select @APDID,(case when @EASRID=0 then NULL else @EASRID end)

IF (@Query='Select4' or @Query='Delete1' or @Query='Import3') 
select * from EmployeeApplicationScaleRegisterDetailsSub where EmployeeApplicationDetailsID=@APDID and (case when @EADSRID=0 then 0 else EmployeeApplicationScaleRegisterDetailsSubID end)=@EADSRID


IF (@Query='Select' or @Query='Import1' or @Query='Delete' or @Query='Import2' ) 
select a.ContactID,ContactName,APID,APTID,APDate,APDID,EAPSTID,EPDFromDate,EPDToDate,EventName,EventDate,OMNo,OMDate,AcOLID,a.OLID,Cancel,Approved,EADSID,convert(varchar,a.FromDate,104) FromDate,convert(varchar,a.ToDate,104) ToDate1,EADSRID,EASRID 
,c.ScaleRegisterID SRID,SalaryYear YearID,SalaryMonth MonthID,BillRegisterNo BRNo,convert(varchar,c.BillRegisterDate,104) BRDate
,Suppliment SuppID,c.OLID SROLID,round(isnull(b.Amount,0),2) DW,round(isnull(c1.Amount,0),2) Shift,isnull(Attendance,0) Days from ( 
select ContactID,ContactName,APID,APTID,APDate,APDID,EAPSTID,EPDFromDate,EPDToDate,EventName,EventDate,OMNo,OMDate,AcOLID,OLID,Cancel,Approved
,(case when @Shift=0 and @APTID=19 and @APTSID=8 then 0 else EADSID end) EADSID,(case when @Shift=0 then Min(FromDate) else Min(FromDate) end) FromDate,(case when @Shift=0 then Max(ToDate) else Max(ToDate) end) ToDate,EADSRID,EASRID from (
select ct.ContactID,ct.Fileas ContactName,b.EmployeeApplicationID APID,EmployeeApplicationTypeID APTID,convert(varchar,ApplicationDate,104) APDate 
,a.EmployeeApplicationDetailsID APDID,isnull(EmployeeApplicationSubTypeID,0) EAPSTID,convert(varchar,a.FromDate,104) EPDFromDate ,convert(varchar,a.ToDate,104) EPDToDate 
,EventDescription EventName,convert(varchar,EventDate,104) EventDate,a.OfficeMemoNo OMNo,convert(varchar,a.OfficeMemoDate,104) OMDate,AcOLID,A.OLID,A.Cancel,A.Approved
,EmployeeApplicationDetailsSubID EADSID,eads.FromDate,eads.ToDate 
,(case when LEN(EPSRDID)=0 then NULL else left(EPSRDID,LEN(EPSRDID)-1) end) EADSRID,(case when LEN(EPSRDID)=0 then NULL else left(EPSRID,LEN(EPSRID)-1) end) EASRID
from (
select * from EmployeeApplicationDetails A with(nolock) 
	where (case when @APTSID=0 then 0 else isnull(EmployeeApplicationSubTypeID,0) end)=@APTSID
	and (case when @CID=0 then 0 else ContactID end)=@CID 
	and (case when @APID=0 then 0 else EmployeeApplicationID end)=@APID
	and (case when @APDID=0 then 0 else EmployeeApplicationDetailsID end)=@APDID
	and (case when @OMNo='0' then 0 else a.OfficeMemoNo end) in (select * from Split(@OMNo,',')) 
	) A 
inner join EmployeeApplication B with(nolock) on B.EmployeeApplicationID=A.EmployeeApplicationID and EmployeeApplicationTypeID=@APTID and ApplicationDate>=@FromDate 
left join Contacts CT with(nolock) on CT.ContactID=a.ContactID
left join OfficeLocationAccountingUnitDetails OL with(nolock) on OL.OLID=A.OLID 
left join EmployeeApplicationDetailsSub EADS with(nolock) on eads.EmployeeApplicationDetailsID=a.EmployeeApplicationDetailsID  
Outer Apply (select CONCAT(isnull(ScaleRegisterID,0),'')+' , ' from EmployeeApplicationScaleRegisterDetailsSub EPSRDS with(nolock) where epsrds.EmployeeApplicationDetailsID=a.EmployeeApplicationDetailsID order by ScaleRegisterID for xml path('')) EPSRID1 (EPSRID) 
Outer Apply (select CONCAT(EmployeeApplicationScaleRegisterDetailsSubID,'')+' , ' from EmployeeApplicationScaleRegisterDetailsSub EPSRDS with(nolock) where epsrds.EmployeeApplicationDetailsID=a.EmployeeApplicationDetailsID order by ScaleRegisterID for xml path('')) EPSRDID1 (EPSRDID) 
) A where (case when @EADSID=0 then 0 else EADSID  end)=@EADSID 
Group By ContactID,ContactName,APID,APTID,APDate,APDID,EAPSTID,EPDFromDate,EPDToDate,EventName,EventDate,OMNo,OMDate,AcOLID,OLID,Cancel,Approved,EADSRID,EASRID
,(case when @Shift=0 and @APTID=19 and @APTSID=8 then 0 else EADSID end) 
) A 
left join ScaleRegisterOtherAdditions B with(nolock) on B.StartingDate=A.ToDate and b.ScaleRegisterID in (select * from Split(a.EASRID,',')) 
left join ScaleRegisterAllowances C1 with(nolock) on c1.ScaleRegisterID in (select * from Split(a.EASRID,',')) 
left join ScaleRegister C with(nolock) on c.ScaleRegisterID=isnull(b.ScaleRegisterID,C1.ScaleRegisterID)   
Order By ContactID,APID,APDID,isnull(SalaryYear,9999),isnull(SalaryMonth,13),ToDate




GO
