USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_PayScaleRevision_Allowance]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_PayScaleRevision_Allowance]
 @Query Varchar(10),@ContactID Int,@Date DateTime,@RateTypeID Int,@RateMode Varchar(20),@RateType Varchar(20),@EffectiveDate DateTime
 ,@Approved Int,@BillingMonth Int ,@PeriodID Int,@Rates Float
AS SET NOCOUNT ON 


--Declare @QUery Varchar(20) = 'Select'
--Declare @ContactID Int = 2452
--Declare @Date DateTime = '2024-10-31' 
--Declare @RateTypeID Int = 0

 
--Declare @RateMode Varchar(20) = 'Amount'
--Declare @RateType Varchar(20) = 'Amount' 
--Declare @EffectiveDate DateTime = '2024-10-01' 
--Declare @Approved Int= 1
--Declare @BillingMonth Int= 0
--Declare @PeriodID Int= 436
--Declare @Rates Float = 500


Declare @TypeID Int = 1
Declare @EPDID Int=(select top 1 EmployeePayDetailsID from EmployeePayDetails with(nolock) where Approved=1 and EmployeePayTypeID=1 and ContactID=@ContactID order By EmployeePayDetailsID)
Declare @RateTypeID1 Int=(select distinct AllowanceID from EmployeePayAllowanceRatePeriods with(nolock) where EmployeePayDetailsID=@EPDID and AllowanceID=@RateTypeID)
Declare @PeriodID1 Int=(select EmployeePayAllowanceRatePeriodID from EmployeePayAllowanceRatePeriods a where EmployeePayDetailsID=@EPDID and AllowanceID=@RateTypeID)
Declare @PeriodID2 Int=(select distinct EmployeePayAllowanceRatePeriodID from EmployeePayAllowanceRates with(nolock) where EmployeePayAllowanceRatePeriodID in (select EmployeePayAllowanceRatePeriodID from EmployeePayAllowanceRatePeriods a where EmployeePayDetailsID=@EPDID and AllowanceID=@RateTypeID))


IF (@TypeID=1 and @QUery='Import' and isnull(@RateTypeID1,0)!=@RateTypeID)
insert into EmployeePayAllowanceRatePeriods (EmployeePayDetailsID,AllowanceID,RateMode,RateType,Duration,EffectiveDate,Gender,ModifiedFlag,EffectiveUpdate,Formula,Approved,BillingMonth) 
select @EPDID,@RateTypeID,@RateMode,@RateType,1 Duration,@EffectiveDate,'' Gender,1 ModifiedFlag,1 EffectiveUpdate,'' Formula,1 Approved,(case when @BillingMonth=0 then NULL else @BillingMonth end) 

else IF (@TypeID=1 and @QUery='Import1' and @PeriodID>0 and @PeriodID1!=isnull(@PeriodID2,0))
 insert into EmployeePayAllowanceRates (EmployeePayAllowanceRatePeriodID,EmployeePayAllowanceRateSeries,EmployeePayAllowanceRate,MinimumAmount,MaximumAmount) 
select @PeriodID,1 EmployeePayAllowanceRateSeries,@Rates,0 MinimumAmount,0 MaximumAmount 

else IF (@TypeID=1 and @QUery='Update' and @PeriodID>0)
update a set RateMode=@RateMode,RateType=@RateType,EffectiveDate=@EffectiveDate,Approved=@Approved,BillingMonth=(case when @BillingMonth=0 then NULL else @BillingMonth end)
from EmployeePayAllowanceRatePeriods a where EmployeePayDetailsID=@EPDID and AllowanceID=@RateTypeID

else IF (@TypeID=1 and @QUery='Update1' and @PeriodID>0)
update a set EmployeePayAllowanceRate=@Rates,EmployeePayAllowanceRateSeries=1 
from EmployeePayAllowanceRates a where EmployeePayAllowanceRatePeriodID = @PeriodID1

 IF (@QUery='Import' or @QUery='Update')
select EmployeePayAllowanceRatePeriodID,EmployeePayDetailsID,AllowanceID,RateMode,RateType,Duration,EffectiveDate,Gender,ModifiedFlag,EffectiveUpdate,Formula,Approved,BillingMonth 
from EmployeePayAllowanceRatePeriods a where EmployeePayDetailsID=@EPDID and AllowanceID=@RateTypeID

 IF (@QUery='Import1' or @QUery='Update1')
select EmployeePayAllowanceRatePeriodID,EmployeePayAllowanceRateSeries,EmployeePayAllowanceRate,MinimumAmount,MaximumAmount 
from EmployeePayAllowanceRates with(nolock) where EmployeePayAllowanceRatePeriodID = @PeriodID1

IF (@QUery='Select')
select * from (
select (case when RateTypes='Allowances' then 1 when RateTypes='Additions' then 2 when RateTypes='Deductions' then 3 else 0 end) TypeID
,a.EmployeePayDetailsID PayDetailsID,isnull(isnull(C1.EmployeePayAllowanceRatePeriodID,C2.EmployeePayDeductionRatePeriodID),C3.EmployeePayAdditionRatePeriodID) ColumnID
,ContactID,RateTypes,RateTypeID,isnull(isnull(b.Description,b1.Description),b2.Description) Description
,a.RateMode,a.RateType,a.BillingMonth BillMonth,convert(Varchar,a.FromDate,104) FromDate,a.ToDate,RateSeries,RateUnits,Rates,MinimumAmount MinAMount,MaximumAmount MaxAmount
from FnRateDetails_Contract() a left Join Allowances b on b.AllowanceID=(case when RateTypes='Allowances' then RateTypeID else 0 end)
left Join SalaryOtherDeductions b1 on b1.SalaryOtherDeductionID=(case when RateTypes='Deductions' then RateTypeID else 0 end)
left Join SalaryOtherAdditions b2 on b2.SalaryAdditionOthersID=(case when RateTypes='Additions' then RateTypeID else 0 end)
left join EmployeePayAllowanceRatePeriods C1 with(nolock) on C1.EmployeePayDetailsID=a.EmployeePayDetailsID and c1.AllowanceID=b.AllowanceID
left join EmployeePayDeductionRatePeriods C2 with(nolock) on C2.EmployeePayDetailsID=a.EmployeePayDetailsID and c2.DeductionID=b1.SalaryOtherDeductionID
left join EmployeePayAdditionRatePeriods C3 with(nolock) on C3.EmployeePayDetailsID=a.EmployeePayDetailsID and c3.AdditionID=b2.SalaryAdditionOthersID
where ContactID = @ContactID and @Date Between a.FromDate and isnull(a.ToDate,EOMonth(cast(GetDate() as Date)))
) A where (case when @RateTypeID=0 then 0 else RateTypeID end)=@RateTypeID and TypeID=@TypeID
Order By RateTypeID



GO
