USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[Update_TempPassword]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

create PROCEDURE [dbo].[Update_TempPassword]
		@ContactID INT,
		@NewPassword varbinary(50)
AS
BEGIN 
	SET NOCOUNT ON 

	Update dbo.Users
	Set TempPassword=@NewPassword
FROM dbo.Users
	WHERE
	ContactID=@ContactID
END
GO
