USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Import_IT]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Import_IT] @Query Varchar(10)
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select' 

Declare @Data Table (SlNo Int,ContactID Int,YearID Int,MonthID Int,EmployeeName Varchar(255),Designation Varchar(255),Amount Money,SalaryTypeID Int,OLID Int,ScaleRegisterID Int,ODLDID Int,StartingDate DateTime,EndingDate DateTime)
Insert Into @Data
select a.*,ScaleRegisterID,ODLDID,StartingDate,EndingDate
from Data_Upload_IT_OA A 
inner join ScaleRegister B on b.COntactID=a.ContactID and b.SalaryYear=a.YearID and b.SalaryMonth=a.MonthID and b.Suppliment=a.SalaryTypeID and b.OLID=a.OLID and BillRegisterNo='0' 
Outer Apply ( select top 1 concat(ODLDID,'')+'' from ScaleRegisterBasicPayDetails B1 with(nolock) where b1.ScaleRegisterID=b.ScaleRegisterID and round(isnull(Amount,0),0)!=0 and isnull(ODLDID,0)!=0 Order By startingDate desc,ScaleRegisterBasicPayDetailsID desc for xml path('')) A1 (ODLDID)


IF @Query='Delete' 
delete from ScaleRegisterOtherDeductions where SalaryOtherDeductionID=2 
and ScaleRegisterID in (select ScaleRegisterID from @Data ) 

IF @Query='Import' 
 insert into ScaleRegisterOtherDeductions 
select ScaleRegisterID,ODLDID,2,StartingDate,EndingDate,Amount from @Data 

select (ROW_NUMBER() over (Order By ScaleRegisterID)) SlNo,* 
from ScaleRegisterOtherDeductions where SalaryOtherDeductionID=2 
and ScaleRegisterID in (select ScaleRegisterID from @Data ) 
Order By SlNo

GO
