USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_DP_Hierarchy]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_DP_Hierarchy] @OID Int,@DPID1 Int
AS SET NOCOUNT ON

--Declare @OID Int = 50
--Declare @DPID1 Int = 0


Declare @Data1 Table (SLNo Int,DPID Int) Insert into @Data1 
select (ROW_NUMBER() over (Order By DepartmentID)) SlNo,* from (
select distinct DepartmentID from OfficeDepartmentAllocation with(nolock) 
where OfficeID=@OID and (case when @DPID1=0 then 0 else DepartmentID end)=@DPID1 
) A 

Declare @Data Table (SLNo Int,ODID Int,OID Int,DPID Int,UDPID Int,OfficeDepartment Varchar(200))
Declare @DPID Int 
DECLARE Cur CURSOR FOR select DPID from @Data1 Order By DPID 

--------------------------------------------------------
OPEN Cur; FETCH NEXT FROM Cur INTO @DPID ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------

With Data1 as (
select 1 SLNo,OfficeDepartmentAllocationID ODID,OfficeID OID,DepartmentID DPID,UnderDepartmentID UDPID,DepartmentFileAs 
from OfficeDepartmentAllocation with(nolock) where OfficeID=@OID and DepartmentID=@DPID 
union all
select b.SLNo+1 SLNo,OfficeDepartmentAllocationID ODID,OfficeID OID,a.DepartmentID DPID,a.UnderDepartmentID UDPID,a.DepartmentFileAs
from OfficeDepartmentAllocation A with(nolock) 
cross apply (select SlNo,DPID from Data1 B where b.UDPID=a.DepartmentID and B.OID=A.OfficeID ) B
) insert into @Data 
select * from Data1  

--------------------------------------------------------
;FETCH NEXT FROM Cur INTO @DPID ; 
END; CLOSE Cur; DEALLOCATE Cur; 

select * from @Data



GO
