USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryGeneration_Bulk]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_SalaryGeneration_Bulk] 
	@AcOLID Int,
	@FromDate DateTime, 
	@ToDate DateTime ,
	@ContactID int ,
	@Suppliment int,
	@PT1 Int,
	@FBF1 Int,
	@Continue int,
	@MaxSRID int,
	@IT2 Int ,
	@ODLDID_1 Int ,
	@BPRate Float ,
	@DPRate Float ,
	@DARate Float ,
	@ChargeBP Float ,
	@HRARate Float ,
	@CCARate Float

AS 
SET NOCOUNT ON


--Declare @AcOLID Int = 2921     
--Declare @FromDate DateTime = '2022-07-01' 
--Declare @ToDate DateTime = '2023-03-31' 
--Declare @ContactID Int = 21409      
--Declare @Suppliment int = 10
--Declare @PT1 Int = 200  
--Declare @FBF1 Int = 200 
--Declare @Continue int = 0 
--Declare @MaxSRID int = 0
--Declare @IT2 Int = NULL   
--Declare @ODLDID_1 Int = NULL   
--Declare @BPRate Float = NULL  
--Declare @DPRate Float = NULL  -- 45.25  
--Declare @DARate Float = NULL  -- 31  
--Declare @ChargeBP Float = NULL  
--Declare @HRARate Float = 16
--Declare @CCARate Float = 400


          
Declare @SRID table (OLID Int,ContactID Int,StartingDate DateTime,EndingDate DateTime) 
insert into @SRID
select OLID,ContactID,dateadd(month,-1,dateadd(Day,1,EOMonth(EndingDate))) StartingDate,EOMonth(EndingDate) EndingDate from (
select OLID,ContactID,ScaleRegisterID,StartingDate,EndingDate
,(Row_Number() over (partition By ContactID,SalaryYear,SalaryMonth,OLID order By ContactID,SalaryYear,SalaryMonth,OLID,ScaleRegisterID desc)) MaxNo
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo!='0' and BillRegisterDate is not NULL and isnull(OLID,0)!=0
and Suppliment not in (2,7,3,4,5,8,15,16,17,18) and EmployeeCategoryID=1 and ContactID = @ContactID  and OLID=@AcOLID  
--and Suppliment in (10,1,6)
and StartingDate >= @FromDate and EndingDate<= @ToDate
) A where Maxno = 1 



Declare @SRID1 Int Declare @SRID2 Int Declare @SRID3 DateTime Declare @SRID4 DateTime 
DECLARE Cur3 CURSOR FOR select * from @SRID Order By ContactID,StartingDate 
--------------------------------------------------------
OPEN Cur3; FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2,@SRID3,@SRID4 ; 
WHILE @@FETCH_STATUS = 0  BEGIN
--------------------------------------------------------
 
exec SP_SalaryGeneration_Final @SRID1,@SRID3,@SRID4,@SRID2,@Suppliment,@PT1,@FBF1,@Continue,@MaxSRID,@IT2,@ODLDID_1,@BPRate,@DPRate,@DARate,@ChargeBP,@HRARate,@CCARate

--------------------------------------------------------
;FETCH NEXT FROM Cur3 INTO @SRID1,@SRID2,@SRID3,@SRID4 ; 
END; CLOSE Cur3; DEALLOCATE Cur3; 



select ScaleRegisterID SRID,ContactID,SalaryMonth Month,SalaryYear Year,convert(varchar,StartingDate,104) StartingDate,convert(varchar,EndingDate,104) EndingDate,OLID,EmployeeCategoryID CategoryID,Bonus,Attendance,TotalBasicPay BasicPay,TotalAdditions Additions,TotalDeductions Deductions,NetPayments Net,SpecialPayment PPAmount,RecoveryAmount Recovery,cast(Generated as int) Generated,Suppliment,cast(HeldUp as int) HeldUp,BillRegisterNo BRNo,convert(varchar,BillRegisterDate,104) BRDate,concat(convert(varchar,CreatedOn,104),' ',ltrim(right(CreatedOn,8))) CreatedOn,cast(Legacy as int) Legacy,cast(OSL as int) OSL,JVNo,convert(varchar,JVDate,104) JVDate  
from ScaleRegister A with(nolock) 
where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and BillRegisterNo='0' 
and Suppliment=@Suppliment and EmployeeCategoryID=1 and OLID=@AcOLID and a.ContactID = @ContactID  
and StartingDate >= @FromDate and EndingDate<= @ToDate 
Order By ContactID,StartingDate,ScaleRegisterID



GO
