USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_JVWorkOrderDetails]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JVWorkOrderDetails] 
	@AcOLID Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime 

AS SET NOCOUNT ON


--Declare @AcOLID Int select @AcOLID = 341
--Declare @FromFyYear DateTime select @FromFyYear = '2023-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2023-04-30'


Declare @AcOL Table (OLID Int) Insert Into @AcOL
select distinct OLID from OfficeLocationAccountingUnitDetails with(nolock) 
where (CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID or AcOLID=@AcOLID or OLID=@AcOLID)


IF EXISTS(SELECT name FROM sys.sysobjects WHERE Name = N'TempWorkOrderDetails' AND xtype = N'U') BEGIN drop table TempWorkOrderDetails END
select a.* ,(case when a.DocumentTypeID=10 then 'StoreInvoice_Accounts' when a.DocumentTypeID=33 then 'ReceiptVoucherAbstract_Accounts' 
when a.DocumentTypeID=45 then 'AdviceofTransfer' when a.DocumentTypeID=37 then 'CostRegister' else b.MasterTable end) TableName into TempWorkOrderDetails from (
select distinct DocumentTypeID,InvoiceTypeID ,JournalVoucherNo,DocumentNo
from JVDetailsAnnexure1to8 A with(nolock) inner join Today_Accounts with(nolock) on Ac_OLID=@AcOLID
where JournalVoucherDate Between (case when @FromFyYear=0 then dateadd(month,-1,dateadd(day,1,EOmonth(Today))) else @FromFyYear end) 
and (case when @ToFyYear=0 then EOmonth(Today) else @ToFyYear end) and OLID in (select * from @AcOL)
and DocumentTypeID not in (77) and InvoiceTypeID not in (5,11,9,3,13)
and (FromAcHead like '14.%' or ToAcHead like '14.%' ) 
) A left join InvoiceTypes B with(nolock) on b.InvoiceTypeID=a.InvoiceTypeID
left join DocumentTypes B1 with(nolock) on b1.DocumentTypeID=a.DocumentTypeID

--select * from (select distinct TableName from @Data where TableName is not NULL) A 
--cross Apply (select concat(JournalVoucherNo,'')+',' from @Data B where b.TableName=a.TableName order by JournalVoucherNo for xml path('')) JV (JVNo)


select a.*,isnull(isnull(e.OLID,g.AcOLID),0) JVOLID ,isnull(isnull(b.WorkOrderNo,PurchaseOrderNo),0) WO_PONo,isnull(isnull(b.OLID,b1.OLID),0) WO_PO_OLID,isnull(WorkOrderDate,PurchaseOrderDate) WO_PODate
,isnull(JournalVoucherDate,TableRefDate+1) JVDate,b.CompletionDate ScheduleCompletionDate,cr.CompletionDate ActualCompletionDate,CommissionedDate,CompletionReportDate
,isnull(Reference,'-') Reference,isnull(ExecutionType,'-') ExecutionType ,isnull(isnull(b.Amount,b1.PurchaseOrderAmount),0) WO_POAmount
,isnull(b.WorkAllocationID,0) WorkAllocationID
,concat(isnull((c.MainAccountCode+c.SubAccountCode),(b1.MainAccountCode+b1.SubAccountCode)) , (case when isnull((c.MainAccountCode+c.SubAccountCode),(b1.MainAccountCode+b1.SubAccountCode)) is not NULL then isnull(VoltageClassCode,'7') else '-' end)) AcHead
,isnull(WorkInChargeID,0) WorkInChargeID,isnull(ODLDID,0) ODLDID,isnull(TokenWorkOrder,0) TokenWorkOrder from (
select JournalVoucherNo,DocumentTypeID,DocumentNo,'StoreInvoice_Accounts' TableName,StoreInvoiceNo TableRefNo,StoreInvoiceDate TableRefDate,0 AssetAmount from StoreInvoice_Accounts A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='StoreInvoice_Accounts' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'ReceiptVoucherAbstract_Accounts' TableName,ReceiptVoucherNo,ReceiptVoucherDate,0 from ReceiptVoucherAbstract_Accounts A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ReceiptVoucherAbstract_Accounts' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'SupplierInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from SupplierInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='SupplierInvoice' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'CivilInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from CivilInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='CivilInvoice' and b.JournalVoucherNo=a.JournalVoucherNo)
--union 
--select JournalVoucherNo,DocumentTypeID,DocumentNo,'RefundInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from RefundInvoice A with(nolock) 
--where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='RefundInvoice' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'FuelInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from FuelInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='FuelInvoice' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'ContractAgencyInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from ContractAgencyInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ContractAgencyInvoice' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'RentInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from RentInvoice A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='RentInvoice' and b.JournalVoucherNo=a.JournalVoucherNo)
union 
select ProformaJournalVoucherNo,DocumentTypeID,DocumentNo,'ProformaInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from ProformaInvoice A with(nolock) 
where ProformaJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ProformaInvoice' and b.JournalVoucherNo=a.ProformaJournalVoucherNo)
union 
select RegularizedJournalVoucherNo,DocumentTypeID,DocumentNo,'ProformaInvoice' TableName,BillRegisterNo,BillRegisterDate,0 from ProformaInvoice A with(nolock) 
where RegularizedJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='ProformaInvoice' and b.JournalVoucherNo=a.RegularizedJournalVoucherNo)
union 
select ATJournalVoucherNo,DocumentTypeID,DocumentNo,'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where ATJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.ATJournalVoucherNo)
union 
select AcceptanceJournalVoucherNo,DocumentTypeID,DocumentNo,'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AcceptanceJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AcceptanceJournalVoucherNo)
union 
select AcknowledgedJournalVoucherNo,DocumentTypeID,DocumentNo,'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AcknowledgedJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AcknowledgedJournalVoucherNo)
union 
select AssetJournalVoucherNo,DocumentTypeID,DocumentNo,'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AssetJournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AssetJournalVoucherNo)
union 
select AcceptanceClearnceJVNo,DocumentTypeID,DocumentNo,'AdviceofTransfer' TableName,AdviceofTransferNo,AdviceofTransferDate,0 from AdviceofTransfer A with(nolock) 
where AcceptanceClearnceJVNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='AdviceofTransfer' and b.JournalVoucherNo=a.AcceptanceClearnceJVNo)
union 
select JournalVoucherNo,DocumentTypeID,DocumentNo,'CostRegister' TableName,CostRegisterNo,CategorizationDate,TotalAmount from CostRegister A with(nolock) 
where JournalVoucherNo in (select JournalVoucherNo from TempWorkOrderDetails B with(nolock) where b.TableName='CostRegister' and b.JournalVoucherNo=a.JournalVoucherNo)
union
select 0,DocumentTypeID,DocumentNo,'CWIP_OB',CostRegisterNo,EffectiveDate,Round(Round(Sum(ExpenditureAmount),2),0) ExpenditureAmount
from CostRegisterExpenditureDetails A with (nolock) 
where EffectiveDate=concat(Year(@FromFyYear),'-03-31') and DocumentTypeID in (2,22,1) and DocumentOLID in (select * from @AcOL)
Group By DocumentTypeID,DocumentNo,CostRegisterNo,EffectiveDate Having Round(Round(Sum(ExpenditureAmount),2),0) <>0

) A left join WorkOrder B With(nolock) on b.WorkOrderNo=(case when a.DocumentTypeID in (2,22) then a.DocumentNo else 0 end)
left join PurchaseOrder B1 With(nolock) on b1.PurchaseOrderNo=(case when a.DocumentTypeID in (1) then a.DocumentNo else 0 end)
left join WOrkAllocation C with(nolock) on c.WOrkAllocationID=isnull(b.WOrkAllocationID,0)
outer apply (select * from (select WorkOrderNo,CompletionReportDate,CommissionedDate,CompletionDate,(Row_Number() over (Partition By WorkOrderNo Order By WorkOrderNo,CompletionReportDate desc,CompletionReportID desc)) RowNo
	from CompletionReport D with(nolock) where d.WorkOrderNo=b.WorkOrderNo ) A where RowNo=1 ) CR
left join JournalVoucher E with(nolock) on e.JournalVoucherNo=a.JournalVoucherNo
left join CostRegister F with(nolock) on f.CostRegisterNo=(case when TableName='CWIP_OB' then TableRefNo else 0 end)
left join OfficeLocationAccountingUnitDetails G with(nolock) on g.OLID=f.DocumentOLID
left join VoltageClass VC with(nolock) on vc.VoltageClassID=b.VoltageClassID
--where a.DocumentTypeID in (0,10,1)
--where JournalVoucherNo in (1753716,1793696)
Order By JournalVoucherNo,DocumentTypeID,DocumentNo;
GO
