USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attendance_Update]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Attendance_Update]
 @Query Varchar(10),@SRID Int,@SRAID Int,@SRID1 Int,@Approved Int,@Processing Int,@FromDate Varchar(10),@ToDate Varchar(10),@ODLDID Int,@Days Int
AS SET NOCOUNT ON 

--Declare @Query Varchar(10) = 'Select'
--Declare @SRID Int = 29214 
--Declare @SRAID Int = 0

--Declare @SRID1 Int = 0  
--Declare @Approved Int = 1  
--Declare @Processing Int = 1  

--Declare @FromDate Varchar(10) = '2024-09-01' 
--Declare @ToDate Varchar(10) = '2024-09-15'
--Declare @ODLDID Int = 813  
--Declare @Days Int = 15 

IF @Query='Update' 
update a set ScaleRegisterID=(case when @SRID1=0 then NULL else @SRID1 end) , Approved=@Approved , Processing=@Processing 
from ScaleRegisterAttendences a where ScaleRegisterID=@SRID 
and (case when @SRAID=0 then 0 else ScaleRegisterAttendencesID end)=@SRAID

else IF @Query='Update1' 
update a set ODLDID=@ODLDID , StartAttendanceDate=@FromDate , LastAttendanceDate=@ToDate , DaysWorked=@Days 
from ScaleRegisterAttendences a where ScaleRegisterID=@SRID 
and (case when @SRAID=0 then 0 else ScaleRegisterAttendencesID end)=@SRAID

else IF @Query='Import' 
insert into ScaleRegisterAttendences (ScaleRegisterID,DaysWorked,StartAttendanceDate,LastAttendanceDate,ODLDID,Approved,Processing,CreatedOn) 
select @SRID,@Days,@FromDate,@ToDate,@ODLDID,@Approved,@Processing,cast(GETDATE() AS Date)

select ScaleRegisterID SRID,DaysWorked,convert(varchar,StartAttendanceDate,104) FromDate,convert(varchar,LastAttendanceDate,104) ToDate,ScaleRegisterAttendencesID SRAID,ODLDID,Approved,Processing
,convert(varchar,CreatedOn,104) CreatedOn,CreatedBy,ScaleRegisterAttendencesMainID SRMainID
from ScaleRegisterAttendences a where ScaleRegisterID=@SRID 
and (case when @SRAID=0 then 0 else ScaleRegisterAttendencesID end)=@SRAID












GO
