USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_ODLD_Create]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_ODLD_Create]
 @Query Varchar(10),@OID Int,@DPID Int,@LID Int,@DNID Int,@ODLDID Int 
AS SET NOCOUNT ON 

--Declare @Query Varchar(20) = 'select' 
--Declare @OID Int = 0
--Declare @DPID Int = 0
--Declare @LID Int = 0
--Declare @DNID Int = 0
--Declare @ODLDID Int = 104


IF @Query='Import'
insert into ODLDAllocation 
select @OID,@DPID,@LID,@DNID,NULL,Getdate(),''

select * from ODLDAllocation with(nolock) 
where ( (OfficeID=@OID and DepartmentID=@DPID and LocationID=@LID and DesignationID=@DNID) or ODLDID=@ODLDID)


GO
