USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_OLID]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OLID]
	@Config varchar(200)


AS 
SET NOCOUNT ON


Declare @OID table (OLID int,OID int,LID int)
Declare @OIDSql varchar(Max) Set @OIDSql='
select distinct OfficeLocationAllocationID,OfficeID,LocationID from OfficeLocationAllocation 
' insert into @OID exec (@OIDSql)


Declare @ODLDID table (ODLDID int ,OfficeID int,LocationID int)
Declare @ODLDIDSql varchar(Max) Set @ODLDIDSql='
select distinct ODLDID,OfficeID,LocationID from ODLDAllocation
' insert into @ODLDID exec (@ODLDIDSql)


select Distinct ola.OLID
from FnSRNew() sr
inner join FnMaxSRBODLDID() srb on srb.ScaleRegisterId=sr.ScaleRegisterID
inner join @ODLDID odld on odld.ODLDID=srb.ODLDID
inner join @OID ola on ola.OID=odld.OfficeID and ola.LID=odld.LocationID
order by OLID;
GO
