USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Material_Requirment]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Material_Requirment] 
	@AcOLID Int,
	@OLID int ,
	@Status Varchar(20) ,
	@UBGTypes varchar(1000) ,
	@AcCode varchar(500) ,
	@MType varchar(100) ,
	@MCode Int

AS 



--Declare @AcOLID Int select @AcOLID = 2921
--Declare @OLID Int select @OLID = 0
--Declare @Status varchar(20) select @Status= 'ALL'
--Declare @UBGTypes varchar(1000) select @UBGTypes = 'Total'
--Declare @AcCode varchar(500) select @AcCode = 'Total'
--Declare @MType varchar(500) select @MType = (select concat('84,140',''))
--Declare @MCode Int select @MCode = (select isnull((select top 1 ItemID from MaterialCode with(nolock) where MaterialCode='ALL'),0))



Declare @AcOLID1 Int = (select distinct AcOLID from OfficeLocationAccountingUnitDetails with(nolock) where  OLID=@AcOLID)

Declare @AcOL Table (CircleOLID Int,AcOLID Int,OLID Int)
Insert into @AcOL
select CircleOLID,AcOLID,OLID from OfficeLocationAccountingUnitDetails ol with(nolock) where OfficeID not in (66,65,49) 
and ( (case when @OLID=0 then 0 else DivisionOLID end)=@OLID or (case when @OLID=0 then 0 else SubDivisionOLID end)=@OLID or (case when @OLID=0 then 0 else OLID end)=@OLID  )
and ( AcOLID=@AcOLID or OLID=@AcOLID or CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID ) -- 


Declare @WorkAllocation1 Table (WorkAllocationID Int,WorkDescription Varchar(500),FromMainAccountCode Varchar(10),FromSubAccountCode Varchar(10),ToMainAccountCode Varchar(10),ToSubAccountCode Varchar(10),BudgetGrantMainTypeID Int,BudgetGrantTypeID Int,BGTypes Varchar(500),UBGTypeID Int,UnderBGTypes Varchar(500))
Insert into @WorkAllocation1
select isnull(WorkAllocationID,0) as WorkAllocationID,WorkDescription,isnull(MainAccountCode,FromMainAccountCode) as FromMainAccountCode,isnull(SubAccountCode,FromSubAccountCode) as FromSubAccountCode
,isnull(ToMainAccountCode,'NA') ToMainAccountCode,isnull(ToSubAccountCode,'NA') ToSubAccountCode,isnull(BudgetGrantMainTypeID,0) BudgetGrantMainTypeID,isnull(BudgetGrantTypeID,0) BudgetGrantTypeID
,isnull(BGTypes,'NA') BGTypes,isnull(UBGTypeID,0) UBGTypeID,isnull(UnderBGTypes,'NA') as UnderBGTypes
from ( select WorkAllocationID,Description as WorkDescription,MainAccountCode,SubAccountCode from WorkAllocation with(nolock)) as WA
outer apply ( select distinct FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode,bt1.BudgetGrantMainTypeID,bta.BudgetGrantTypeID,bt.Description as BGTypes,Bt1.BudgetGrantTypeID as UBGTypeID,bt1.Description as UnderBGTypes
from ( select * from BudgetTypeAccountHeadAllocation bta with(nolock) where FromSubAccountCode is not NULL 
	and bta.FromMainAccountCode=wa.MainAccountCode and bta.FromSubAccountCode=wa.SubAccountCode ) bta
inner join BudgetGrantTypes bt  with(nolock)on bt.BudgetGrantTypeID=bta.BudgetGrantTypeID and BudgetGrantMainTypeID in (1,2)
left outer join BudgetGrantTypes bt1  with(nolock)on bt1.BudgetGrantTypeID=isnull(bt.UnderBudgetGrantTypeID,bt.BudgetGrantTypeID) ) as BTA 
where (case when @UBGTypes='Total' then 'Total' else isnull(UnderBGTypes,'NA') end) = @UBGTypes 
and (case when @AcCode='Total' then 'Total' else isnull(FromMainAccountCode,'NA') collate database_default+isnull(FromSubAccountCode,'') end) in ( select * from Split(@AcCode,',') )


Declare @WorkOrder1  Table (AcOLID Int,OLID Int,WorkOrderNo Int,WorkOrderDate DateTime,SanctionEstimateNo Int,WorkAllocationID Int) 
Insert into @WorkOrder1
select b.AcOLID,b.OLID,WorkOrderNo,WorkOrderDate,isnull(SanctionEstimateNo,0) SanctionEstimateNo,isnull(WorkAllocationID,0) WorkAllocationID 
from @AcOL B inner join Workorder a with(nolock) on a.OLID=b.OLID and isnull(Approved,0)=1 and isnull(Complete,0)=0 and isnull(TokenWorkOrder,0)=0 and isnull(Legacy,0)=0 
	and isnull(Canceled,0)=0 and isnull(SanctionEstimateNo,0)<>0 and isnull(WorkAllocationID,0) not in (57)
and isnull(WorkAllocationID,0) in (select WorkAllocationID from @WorkAllocation1 C where c.WorkAllocationID=isnull(a.WorkAllocationID,0))
--and WorkOrderNo = 722372

Declare @SEAD  Table (AcOLID Int,OLID Int,WorkAllocationID Int,WorkOrderNo Int,WorkOrderDate DateTime,ItemID Int,UnitID Int,ActualQuantity Float,BillOfMaterialItemID Int,BOMUnitID Int,Quantity Float,MultiflyQuantity Float) 
Insert into @SEAD
select AcOLID,OLID,WorkAllocationID,WorkOrderNo,WorkOrderDate,a.ItemID,a.UnitID,ActualQuantity,bom.BillOfMaterialItemID,bom.UnitID,isnull(bom.Quantity,0) Quantity
,(isnull(ActualQuantity,0)*isnull(bom.Quantity,1)) as MultiflyQuantity from (
select a.SanctionEstimateNo,MILCWID ItemID,isnull(UnitID,0) UnitID,Sum(isnull(ActualQuantity,0)) ActualQuantity,AcOLID,OLID,a.WorkAllocationID,WorkOrderNo,WorkOrderDate
from @WorkOrder1 A 
inner join SanctionEstimateWorkAllocationDetails B with(nolock) on isnull(b.SanctionEstimateNo,0)=a.SanctionEstimateNo and isnull(CivilWorkMeasurementTypeID,0)=4 and isnull(Source,'')='Company' and isnull(MILCWID,0)>0
Group By a.SanctionEstimateNo,MILCWID,UnitID,AcOLID,OLID,a.WorkAllocationID,WorkOrderNo,WorkOrderDate 
Having Sum(isnull(ActualQuantity,0))!=0  
) A left join BillOfMaterials bom  with(nolock) on isnull(bom.MainItemID,0)=(case when isnull(a.UnitID,0)=27 then isnull(a.ItemID,0) else 0 end)  
left join Stock s with(nolock) on s.ItemID=isnull(BillOfMaterialItemID,a.ItemID) 
where (case when @MCode=0 then 0 else isnull(BillOfMaterialItemID,a.ItemID) end) = @MCode 
and (case when @MType='0,' then 0 else isnull(s.StockTypeID,0) end) in ( select * from Split(@MType,',') where len(Data)>0 )


Declare @RVD  Table (AcOLID Int,OLID Int,WorkAllocationID Int,WorkOrderNo Int,WorkOrderDate DateTime,ItemID Int,UnitID Int,ReceivedQuantity Float,BillOfMaterialItemID Int,BOMUnitID Int,Quantity Float,MultiflyQuantity Float) 
Insert into @RVD
select AcOLID,rv.OLID,WorkAllocationID,rv.WorkOrderNo,WorkOrderDate,rvd.ItemID,rvd.UnitID,isnull(ReceivedQuantity,0) ReceivedQuantity,bom.BillOfMaterialItemID,bom.UnitID,isnull(bom.Quantity,0) Quantity
,(isnull(ReceivedQuantity,0)*isnull(bom.Quantity,1)) as MultiflyQuantity from ( 
select AcOLID,a.OLID,WorkAllocationID,WorkOrderNo,WorkOrderDate,ReceiptVoucherNo
from @WorkOrder1 A 
Inner Join ReceiptVoucherAbstract_PNI RV with(nolock) on isnull(rv.DocumentNo,0)=a.WorkOrderNo and Approved=1 and isnull(Canceled,0)=0 and isnull(ReturnTypeID,0)=1 and isnull(DocumentTypeID,0)=2 
) RV Cross Apply (select ItemID,UnitID,Sum(isnull(ReceivedQuantity,0)) ReceivedQuantity from ReceiptVoucherDetails_PNI rvd with(nolock) where rvd.ReceiptVoucherNo=rv.ReceiptVoucherNo Group By ItemID,UnitID Having Sum(isnull(ReceivedQuantity,0))>0) RVD
left join BillOfMaterials bom  with(nolock) on isnull(bom.MainItemID,0)=(case when isnull(rvd.UnitID,0)=27 then isnull(rvd.ItemID,0) else 0 end) 
left join Stock s with(nolock) on s.ItemID=isnull(BillOfMaterialItemID,rvd.ItemID)
where (case when @MCode=0 then 0 else isnull(BillOfMaterialItemID,rvd.ItemID) end) = @MCode 
and (case when @MType='0,' then 0 else isnull(s.StockTypeID,0) end) in ( select * from Split(@MType,',') where len(Data)>0 )


Declare @SID  Table (AcOLID Int,OLID Int,WorkAllocationID Int,WorkOrderNo Int,WorkOrderDate DateTime,ItemID Int,UnitID Int,QuantityIssued Float,BillOfMaterialItemID Int,BOMUnitID Int,Quantity Float,MultiflyQuantity Float) 
Insert into @SID
select AcOLID,si.OLID,WorkAllocationID,si.WorkOrderNo,WorkOrderDate,sid.ItemID,sid.UnitID,isnull(QuantityIssued,0) QuantityIssued,bom.BillOfMaterialItemID,bom.UnitID,isnull(bom.Quantity,0) Quantity
,(isnull(QuantityIssued,0)*isnull(bom.Quantity,1)) as MultiflyQuantity from ( 
select AcOLID,a.OLID,WorkAllocationID,WorkOrderNo,WorkOrderDate,StoreInvoiceNo
from @WorkOrder1 A 
inner join StoreInvoice_PNI SI with(nolock) on isnull(si.DocumentNo,0)=a.WorkOrderNo and isnull(Passed,0)=1 and isnull(Canceled,0)=0 and isnull(DocumentTypeID,0)=2 
) SI Cross Apply (select ItemID,UnitID,Sum(isnull(QuantityIssued,0)) QuantityIssued from StoreInvoiceDetails_PNI sid with(nolock) where sid.StoreInvoiceNo=si.StoreInvoiceNo and isnull(QuantityIssued,0)<>0 Group  By ItemID,UnitID) SID 
left join BillOfMaterials bom  with(nolock) on isnull(bom.MainItemID,0)=(case when isnull(sid.UnitID,0)=27 then isnull(sid.ItemID,0) else 0 end) 
left join Stock s with(nolock) on s.ItemID=isnull(BillOfMaterialItemID,sid.ItemID)
where (case when @MCode=0 then 0 else isnull(BillOfMaterialItemID,sid.ItemID) end) = @MCode 
and (case when @MType='0,' then 0 else isnull(s.StockTypeID,0) end) in ( select * from Split(@MType,',') where len(Data)>0 )


Declare @ItemID Table (ItemID Int,StockConditionID Int,UnitID Int,AcOLID Int) 
Insert into @ItemID
select a.ItemID,StockConditionID,UnitID,AcOLID from (
select * ,(Row_Number() over (Partition By AcOLID,ItemID Order By AcOLID,ItemID,StockConditionID)) MaxNo 
from FnItemWiseUOM(@AcOLID1) 
where ItemID in (select ItemID from @SEAD union select ItemID from @RVD union select ItemID from @SID)
) A where MaxNo=1 



-- -- if SI=RV  then WTTU else WUP
-- -- if row exists then WUP else WTTU 
----Declare @MaterialRequirement Table ( CircleOLID Int,AcOLID Int,OLID Int,WorkOrderNo Int,WorkOrderDate DateTime,WorkAllocationID Int,WorkDescription varchar(500),AccountCode varchar(20),UBGTypeID Int,UnderBGTypes varchar(500),ItemID Int,UnitID Int,EstimateQuantity Float,ReturnRVQuantity Float,SIQuantity Float,Status varchar(10),Balance Float,OrderNo Int ) 
----Insert into @MaterialRequirement 

select wo.*,(DENSE_RANK() over (Order By isnull(UnderBGTypes,'NA'))) as OrderNo,(DENSE_RANK() over (Order By isnull(AccountCode,'NA'))) as OrderNo1 from (
select wo.*,((Estimatequantity+ReturnRVQuantity) - SIQuantity) as Balance ,(isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')) AccountCode,UBGTypeID,UnderBGTypes,WorkDescription from ( 
select AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,ItemID,UnitID,Sum(EstimateQuantity) as EstimateQuantity,Sum(ReturnRVQuantity) as ReturnRVQuantity,Sum(SIQuqntity) as SIQuantity
,(case when Sum(ReturnRVQuantity)=Sum(SIQuqntity) then 'WTTP' else case when Sum(SIQuqntity)=0 then 'WTTP' else 'WUP' end end) as Status from ( 

select Types,AcOLID,OLID,WorkOrderNo,WorkOrderDate,wo.WorkAllocationID,isnull(BillOfMaterialItemID,ItemID) as ItemID,isnull(BOMUnitID,FnUnitID) as UnitID --,Sum(ActualQuantity) as ActualQuantity,Max(Multiply) as Multiply,Max(Devided) as Devided
,(case when Types='SE' then (case when BOMUnitID is not NULL then (MultiflyQuantity)  else (case when ActualQuantity1=0 then ActualQuantity else ActualQuantity1 end) end) else 0 end) EstimateQuantity
,(case when Types='RV' then (case when BOMUnitID is not NULL then (MultiflyQuantity)  else (case when ActualQuantity1=0 then ActualQuantity else ActualQuantity1 end) end) else 0 end) ReturnRVQuantity
,(case when Types='SI' then (case when BOMUnitID is not NULL then (MultiflyQuantity)  else (case when ActualQuantity1=0 then ActualQuantity else ActualQuantity1 end) end) else 0 end) SIQuqntity  from (

select * ,(Round((ActualQuantity*Multiply),4) + (case when (ActualQuantity=0 or Devided=0) then 0 else Round((ActualQuantity/Devided),4) end)) as ActualQuantity1 from (
select wo.*,cast(isnull(mc.Quantity,0) as Float) as Multiply,cast(isnull(dc.Quantity,0) as Float) as Devided from ( 

select wo.* ,isnull(fn.UnitID,wo.UnitID) as FnUnitID from @ItemID FN 
full Join (select 'SE' Types,* from @SEAD union all select 'RV' Types,* from @RVD union all select 'SI' Types,* from @SID) wo on wo.ItemID=fn.ItemID and wo.AcOLID=fn.AcOLID

) WO left join (select * from StockUnitOfMeasure  with(nolock) where UnitID<>UnitIIID) as MC on mc.ItemID=wo.ItemID and mc.UnitID=wo.UnitID and mc.UnitIIID=wo.FnUnitID
	 left join (select * from StockUnitOfMeasure  with(nolock) where UnitID<>UnitIIID) as DC on dc.ItemID=wo.ItemID and dc.UnitID=wo.FnUnitID and dc.UnitIIID=wo.UnitID
) WO 
) WO 
) MR Group By AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,ItemID,UnitID
) WO left join @WorkAllocation1 wa on isnull(wa.WorkAllocationID,0)=wo.WorkAllocationID
where ((Estimatequantity+ReturnRVQuantity) - SIQuantity) >0 and (case when @Status='ALL' then 'ALL' else Status end)=@Status 
) WO;
GO
