USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_MultipleSInvReportSLNo]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MultipleSInvReportSLNo] @SINos varchar(max)  as
 
--Declare @SINos varchar(max)='394256,395373'
SET NOCOUNT ON
 
select  Concat(MaterialCode collate database_default,' - ' ,d.Description collate database_default) MC,e.Description SC,concat(c.SerialNo collate database_default,'-(',f.UserDefinedFieldValue collate database_default,')') SlNo
from StoreInvoice_pni a with (nolock)
inner join StoreInvoiceDetails_pni b  with (nolock) on a.StoreInvoiceNo=b.StoreInvoiceNo and originalquantityIssued>0 and ItemID in(select ItemID from Stock with (nolock) where SerialFlag=1)
inner join StoreInvoiceMaterialDetails_pni c with (nolock)  on  c.StoreInvoiceDetailsID=b.StoreInvoiceDetailsID
inner join StoreInvoiceMaterialDetailsSub_pni f with (nolock)  on  f.StoreInvoiceMaterialDetailsID=c.StoreInvoiceMaterialDetailsID and DistributionNodeUserDefinedFieldID=20
inner join MaterialCode d with (nolock) on d.ItemID=b.ItemID 
inner join StockConditions e with (nolock) on e.StockConditionID=c.StockConditionID
where a.StoreInvoiceNo  in(select Data from Split(@SINos,',')) 
order by MC
   
 SET NOCOUNT OFF
GO
