USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_RateContractReport]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RateContractReport] @RCNo int as 
SET NOCOUNT ON


Declare @RCOrder table ( AseetcatOrderID int,RCOffNo Varchar(max),WorkAllocationSubID int)
insert into @RCOrder
Select a.RateContractWorkAllocationSubID,(case when b.Approved=1 then OfFicialReferenceNo +' - ' +convert(varchar(200),b.RateContractDate,103) else convert(varchar(200),b.RatecontractID)+' - ' +convert(varchar(200),b.RateContractDate,103) end )RatecontractID,a.WorkAllocationSubID
from RateContractWorkAllocationSub a with(nolock)
inner Join RateContract_Works b with(nolock) on a.RateContractID=b.RateContractID
where a.RateContractID=@RCNo

Declare @RCMaterial table ( RCWADID int,RCNo int,CWMTypeID int, ItemID int,AssetcatID int ,MRate money ,MUnitID int, Quantity decimal(18,3),Soil varchar(max))
Insert into @RCMaterial
Select  RateContractWorkAllocationDetailsID RCWADID,RateContractID,CivilWorkMeasurementTypeID,MILCWID,WorkAllocationSubID,Rate,UnitID,Quantity,
(select Description from SoilTypes where SoilTypeId=isnull(a.SoilTypeID,0))SoilTypeID
from RateContractWorkAllocationDetails a with(nolock)
where RateContractID=@RCNo and CivilWorkMeasurementTypeID=4

Declare @RCLabour table ( RCWADID int,RCNo int,CWMTypeID int, labourID int,AssetcatID int ,LRate money ,LUnitID int, Quantity decimal(18,3),Soil varchar(max))
Insert into @RCLabour
Select  RateContractWorkAllocationDetailsID RCWADID,RateContractID,CivilWorkMeasurementTypeID,MILCWID,WorkAllocationSubID,Rate,UnitID,Quantity,
(select Description from SoilTypes where SoilTypeId=isnull(a.SoilTypeID,0))SoilTypeID
from RateContractWorkAllocationDetails a with(nolock)
where RateContractID=@RCNo and CivilWorkMeasurementTypeID=2


Declare @RCworks table ( RCWADID int,RCNo int,CWMTypeID int, labourID int,AssetcatID int ,LRate money ,LUnitID int,Quantity decimal(18,3),Soil varchar(max))
Insert into @RCworks
Select  RateContractWorkAllocationDetailsID RCWADID,RateContractID,CivilWorkMeasurementTypeID,MILCWID,WorkAllocationSubID,Rate,UnitID,Quantity,
(select Description from SoilTypes where SoilTypeId=isnull(a.SoilTypeID,0))SoilTypeID
from RateContractWorkAllocationDetails a with(nolock)
where RateContractID=@RCNo and CivilWorkMeasurementTypeID=3

Declare @RCGeneral table ( RCWADID int,RCNo int,CWMTypeID int, labourID int,LabourItem int,AssetcatID int ,LRate money ,LUnitID int,Quantity decimal(18,3),Soil varchar(max))
Insert into @RCGeneral
Select  a.RateContractWorkAllocationDetailsID RCWADID,a.RateContractID,10,b.MILCWID,b.ItemID,b.WorkAllocationSubID,b.Rate,b.UnitID,b.Quantity,
(select Description from SoilTypes where SoilTypeId=isnull(b.SoilTypeID,0))
from RateContractWorkAllocationDetails  a with(nolock)
inner join RateContractWorkAllocationDetailsSub b on a.RateContractWorkAllocationDetailsID=b.RateContractWorkAllocationDetailsID
where a.RateContractID=@RCNo and a.CivilWorkMeasurementTypeID=2

Declare @RCFix table ( RCWADID int,RCNo int,CWMTypeID int, itemid int,labourID int,AssetcatID int,Mrate money ,LRate money ,MUnitID int,LUnitID int,MQuantity decimal(18,3),LQuantity decimal(18,3),Soil varchar(max))
Insert into @RCFix
Select a.RCWADID,a.RCNo ,a.CWMTypeID ,a.ItemID,c.labourID,a.AssetcatID,a.Mrate,c.lrate,a.MUnitID,c.LUnitID,a.Quantity,
(a.Quantity * b.Quantity) AS LQuantity,
(select Description from SoilTypes where Description collate database_default=isnull(c.soil,0))soil
from @RCMaterial a
inner join
(select ItemID,CivilWorkLabourTypeID,Quantity from StockLabourAllocation where CivilWorkLabourTypeID in(Select  CivilWorkLabourTypeID from CivilWorkLabourTypes where WorkTypeID in(1,6)) ) b
 on a.ItemID=b.ItemID
Inner join  @RCLabour c on b.CivilWorkLabourTypeID=c.labourID and a.AssetcatID=c.AssetcatID
order by AssetcatID


Declare @Final Table( Type varchar(max),AseetcatOrderID int,RCWADID int,    RCOffNo varchar(max),RCNo int,CWMTypeID int,    ItemID int    ,LabourID int,AssetcatID int,    MRate Money, Lrate Money,    MUnitID int,LUnitID int    ,MQuantity decimal(18,3),LQuantity decimal(18,3),Soil varchar(maX) )
insert  into @Final
select 'Fix',b.AseetcatOrderID,RCWADID,   b.RCOffNo, a.RCNo,CWMTypeID,    ItemID    ,LabourID,AssetcatID,    MRate, Lrate,    MUnitID,LUnitID    ,MQuantity,LQuantity,isnull(Soil,'')
from @RCFix a
inner join @RCOrder b on a.AssetcatID=b.WorkAllocationSubID
where a.labourID not in(Select labourID from  @RCGeneral)
union
select 'Missmate',b.AseetcatOrderID,RCWADID,   b.RCOffNo, a.RCNo,CWMTypeID,    ItemID    ,0 LabourID,AssetcatID,    MRate,0 Lrate,    MUnitID,0 LUnitID    ,Quantity MQuantity,0 LQuantity,isnull(Soil,'')
from @RCMaterial  a
inner join @RCOrder b on a.AssetcatID=b.WorkAllocationSubID
where ItemID not in(Select ItemID from  @RCFix)
union
select 'Missinglab' ,b.AseetcatOrderID,RCWADID,b.RCOffNo,a.RCNo,CWMTypeID,   1000000+ LabourID ItemID,LabourID    ,AssetcatID,0 MRate, Lrate,0    MUnitID,LUnitID    ,0 MQuantity,Quantity LQuantity,isnull(Soil,'')
from @RCLabour  a
inner join @RCOrder b on a.AssetcatID=b.WorkAllocationSubID
where labourID not in(Select labourID from  @RCFix Union Select labourID from @RCGeneral  )
union
select 'worksLab',b.AseetcatOrderID,RCWADID,   b.RCOffNo, a.RCNo,CWMTypeID,2000000+ LabourID ItemID,labourID   ,AssetcatID,0 MRate,Lrate,0    MUnitID,LUnitID    ,0 MQuantity,Quantity LQuantity,isnull(Soil,'')
from @RCworks a
inner join @RCOrder b on a.AssetcatID=b.WorkAllocationSubID
union
select  'General',b.AseetcatOrderID,RCWADID,b.RCOffNo, a.RCNo,CWMTypeID,LabourItem,labourID    ,AssetcatID,0 MRate, Lrate,0    MUnitID,LUnitID    ,0 MQuantity,Quantity LQuantity,isnull(Soil,'') 
from @RCGeneral a
inner join @RCOrder b on a.AssetcatID=b.WorkAllocationSubID
order by AseetcatOrderID,RCWADID


Select SL1,	SL2,	Type,	Acc_Head,RCWADID,	RCOffNo RCNo,CWMTypeID,	ItemID,MaterialCode,	LabourID,	LabDesc,	MUnitID,	MQuantity,	(case when SL1=0 and Type='Fix' then 0 else MRate end )MRate,	LUnitID	,LQuantity,	Lrate 
from (
select (row_Number() over  (  Partition by SL2,AseetcatOrderID Order by  SL2,LabourID desc )  ) SL1,SL2,	Type,	Acc_Head,	AseetcatOrderID,	RCWADID	,RCOffNo	,CWMTypeID	,ItemID,	MaterialCode,	LabourID	,LabDesc,	MUnitID,	
case when MaterialCode='' then 0 else MQuantity end MQuantity, --Bug #122804	
(case when (row_Number() over  (  Partition by SL2,AseetcatOrderID Order by  SL2,LabourID )  )>1 then 0 else MRate end ) MRate,	
LUnitID,case when LabDesc='' then 0 else  LQuantity END LQuantity,	--Bug #122804
Lrate
from(
select 
dense_rank() over (partition by AseetcatOrderID Order By AseetcatOrderID,RCWADID,isnull(a.ItemID,labourID) )SL2,
Type,	Acc_Head,AseetcatOrderID,	RCWADID,	 RCOffNo,	CWMTypeID,	ItemID,	
case      when  CWMTypeID  =10  then ''
          when left(MaterialCode,1)='-' then ltrim(rtrim(right (MaterialCode,len(MaterialCode )-1))) 
          else MaterialCode end MaterialCode
,	LabourID,	
(case when CWMTypeID =4  and Type='Fix' then LabDesc collate database_default+case when Soil<>'' then   ' - ' else '' end +Soil
          when CWMTypeID  =10 then LabDesc collate database_default+' - ' +Soil
          when CWMTypeID  =2 then LabDesc collate database_default+case when Soil<>'' then   ' - ' else '' end +Soil else LabDesc end ) LabDesc
,MUnitID	,MQuantity,	MRate,	LUnitID,	LQuantity,	Lrate	
from (
select Type	,AseetcatOrderID,RCWADID,	 RCOffNo,	CWMTypeID,	a.ItemID,
(case when CWMTypeID in(2,3) then '' else MaterialCode end)MaterialCode,
LabourID,
(case when CWMTypeID  =2  then (Select Description from CivilWorkLabourTypes where CivilWorkLabourTypeID =a.LabourID)
          when CWMTypeID  =3 Then (Select Particulars from Civilworks where civilworkID =a.LabourID) 
          when CWMTypeID =10 then (Select Description from CivilWorkLabourTypes where CivilWorkLabourTypeID =a.LabourID)+' - '+(select description from MaterialCode where ItemID=a.ItemID) 
          when CWMTypeID =4 and Type='Missmate' then ''
     else  (Select Description from CivilWorkLabourTypes where CivilWorkLabourTypeID =a.LabourID) end
 )LabDesc
,	(select (MainAccountCode+SubAccountCode)+' - '+Description from WorkAllocationSub where WorkAllocationSubID=AssetcatID)Acc_Head,	
isnull((Select UnitOfMeasure from UOMShortForm where UnitID= MUnitID),'')MUnitID,MQuantity,MRate	,
isnull((Select UnitOfMeasure from UOMShortForm where UnitID= LUnitID),'') LUnitID,LQuantity,Lrate,isnull(Soil,'')Soil
from @Final a
left Outer join  (select ItemID,ltrim(rtrim((MAterialcode+'-' +Description))) MAterialCode from MaterialCode )m on a.ItemID=m.itemID 
   ) A )B )C
order by AseetcatOrderID,SL2,LabourID
GO
