USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryMonthAndEmployeeWise]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SalaryMonthAndEmployeeWise]
	@Config varchar(200), 
	@OLID int ,
    @Ac_olid int,
	@FromDate varchar(12) ,
	@ToDate varchar(12),
	@ContactID int 


AS 
SET NOCOUNT ON








Declare @SR1 table (SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID
,(case when sr.SalaryTypeID=2 then (case when m.ContactID is not NULL and sr.BillRegisterNo in ('0') then m.SalaryYear else sr.YearID end) else sr.SalaryYear end) as YearID
,(case when sr.SalaryTypeID=2 then (case when m.ContactID is not NULL and sr.BillRegisterNo in ('0') then m.SalaryMonth else sr.MonthID end) else sr.SalaryMonth end) as MonthID,sr.OLID,sr.BillRegisterNo as BRNo
,sr.BillRegisterOLID,sr.BillRegisterDate
,(case when sr.SalaryTypeID=2 then (case when m.ContactID is not NULL and sr.BillRegisterNo in ('0') then m.StartingDate else sr.StartingDate end) else sr.StartingDate end) as StartingDate
,(case when sr.SalaryTypeID=2 then (case when m.ContactID is not NULL and sr.BillRegisterNo in ('0') then m.EndingDate else sr.EndingDate end) else sr.EndingDate end) as EndingDate
from FnSRNew1() sr 
outer apply (select top 1 * from FnSRNew1() where sr.BillRegisterNo in ('0') and SalaryTypeID =1 and ContactID in (@ContactID) order by StartingDate desc) as M
left outer join FnSRNew1() sr1 on sr1.SalaryTypeID=1 and sr1.ContactID= sr.ContactID and sr1.StartingDate>=@FromDate and sr1.EndingDate<=@ToDate
where sr.StartingDate>=@FromDate and sr.EndingDate<=@ToDate and sr.ContactID in (@ContactID)









Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int) 
insert into @SRD1
select srd.ScaleRegisterID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 'RC' else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end end) as Types
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 6 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end end) as TypesID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 30 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 30 else TypeID end end) as TypeID,BankID
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else 
case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end end) as Amount,srd.BankTypeID 
,TypesID ,TypeID

from @SR1 sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where (case when TypesID not in (3,6) then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else case when TypesID=6 and isnull(LAID,0) in (59,61,63) then 0 else TypeID end end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,srd.BankTypeID
having sum(isnull(DiffAmount,0))<>0

Declare @SRD2 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int,Payment money) 
insert into @SRD2
select *,(case when TypesID in (4,5,6) and isnull(Amount,0)<0 then isnull(-Amount,0) else 0 end) as Payment from @SRD1




Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)

Declare @AOLID table (OLID int)
Declare @OID int select @OID=(select * from @OID1)  if @OID=50  
insert into @AOLID 
select OLID from @OID2 else 
insert into @AOLID 
select OLID from @OID2
where OLID in (@OLID)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD() where ContactID in ('+cast(@ContactID as varchar(10))+')
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6))
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @Qtr table (ContactID int,Types int,Organisation varchar(100),Branch varchar(100),BranchAddress varchar(500)) 
Declare @TypesSql varchar(Max) Set @TypesSql='
	select distinct eqd.ContactID,b.ExternalOrganisation,eo.Name,eob.Name,eob.StreetName  
	from EmployeeQuarterDetails eqd 
	left outer join Buildings b on b.BuildingID=eqd.EmployeeQuartersID 
	left outer join ExternalOrganisations eo on eo.ExternalOrganisationID=b.ExternalOrganisationID
	left outer join ExternalOrganisationBranches eob on eob.ExternalOrganisationID=eo.ExternalOrganisationID and eob.ExternalOrganisationBranchID=b.ExternalOrganisationBranchID
	where eqd.fromdate in (select max(eqd1.fromdate) from EmployeeQuarterDetails eqd1 where eqd1.ContactID=eqd.ContactID group by eqd1.Contactid)
	and eqd.ContactID in ('+cast(@ContactID as varchar(10))+')
' insert into @Qtr exec (@TypesSql)


Declare @SR table (LocationOrdered int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthId int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(50),OLID int,SOLID int,BRDate datetime)
insert into @SR 

select distinct oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,Year(sr.StartingDate) as YearID,Month(sr.StartingDate) as MonthID, datename(month,sr.StartingDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,isnull(sr.BillRegisterNo,'0') as BRNo,ol1.OLID,ol.OLID,sr.BillRegisterDate as BRDate
from @SR1 sr outer apply (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1
left outer join FnMaxSRBODLDID() srb on srb.ScaleRegisterID=sr.ScaleRegisterID
left outer join @ODLD ol on  ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
where sr.ContactID in (@ContactID) and sr.SalaryTypeID <> 3




Declare @SRD table (ATypeID int,ScaleRegisterID int,Amount money,SalaryTypes varchar(20),Ordering varchar(6))
insert into @SRD 

select ATypeID,ScaleregisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end) as ATypeID,srd.ScaleregisterID
,sum(isnull(srd.Amount,0)) as Amount
,(case when d.ATypeID=1 then 'Total Earnings' else case when d.ATypeID=2 then 'Total Deduction'  else NULL end end) as SalaryTypes
,(case when d.ATypeID=1 then '09' else case when d.ATypeID=2 then '37'  else NULL end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID,srd.Payment 
) as ED group by ScaleregisterID,ATypeID,SalaryTypes,Ordering
union all
select 2 as ATypeID,ScaleregisterID
,(sum(case when ATypeID=1 then Amount else 0 end) - sum(case when ATypeID=2 then Amount else 0 end)) as Amount
,'Net Payable' as SalaryTypes,'38' as Ordering  from (
select d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when d.ATypeID=1 then 'Total Earnings' else case when d.ATypeID=2 then 'Total Deduction'  else NULL end end) as SalaryTypes
,(case when d.ATypeID=1 then '09' else case when d.ATypeID=2 then '37'  else NULL end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID,srd.Payment 
) as ED group by ScaleregisterID
union all
select  ATypeID,ScaleRegisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,(case when (isnull(srd.BankTypeID,0) not in (0,13) or (Max(isnull(TypesID1,0))=4 and isnull(TypeID1,0) in (15,10))) and srd.TypesID=6 then 'Recovery External' else d.SalaryTypes end) as SalaryTypes
,(case when (isnull(srd.BankTypeID,0) not in (0,13) or (isnull(TypesID1,0)=4 and isnull(TypeID1,0) in (15,10)) )and srd.TypesID=6 then '28.01' else d.Ordering end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID 
where d.Ordering is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) <> 0
group by srd.ScaleregisterID,d.SalaryTypes ,d.Ordering,d.ATypeID,srd.BankTypeID,srd.TypesID,srd.Payment,TypesID1,TypeID1
) as R group by ATypeID,ScaleRegisterID,SalaryTypes,Ordering
union all
select distinct d.ATypeID as ATypeID,srd.ScaleregisterID,sum(isnull(srd.Amount,0)) as Amount
,'PLI' as SalaryTypes ,'10.01' as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) = 0
group by srd.ScaleregisterID,ATypeID,srd.Payment



IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpSalaryMonthAndEmployeeWise]'))
    EXEC sp_executesql N'create table TmpSalaryMonthAndEmployeeWise 
	 (YearID int, MonthID int,MnYr varchar(20),OfficeName varchar(50), LocationName varchar(50),Ordered varchar(6),ScaleRegisterID int,ContactID int,EmployeeName varchar(100),DesignationName varchar(100), Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(50),BRDate datetime)
	'
drop table TmpSalaryMonthAndEmployeeWise
Create table TmpSalaryMonthAndEmployeeWise  (YearID int, MonthID int,MnYr varchar(20),OfficeName varchar(50), LocationName varchar(50),Ordered varchar(6),ContactID int,EmployeeName varchar(100),DesignationName varchar(100), Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),BRNo varchar(50),BRDate varchar(12))
insert into TmpSalaryMonthAndEmployeeWise 

select sr.YearID,sr.MonthID,(left(sr.MonthDesc,3)+'-'+right(cast(sr.YearID as varchar(4)),2)) as MnYr,sr.OfficeName,sr.LocationName,sr.Ordered,sr.ContactID,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,sr.BRNo,convert(varchar,sr.BRDate,103) as BRDate
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID 

group by sr.YearID,sr.MonthID,sr.MonthDesc,sr.OfficeName,sr.LocationName,srd.Ordering,srd.SalaryTypes,sr.BRNo,sr.Ordered,sr.ContactID,sr.EmployeeName,sr.DesignationName,sr.BRDate


update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from TmpSalaryMonthAndEmployeeWise A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from TmpSalaryMonthAndEmployeeWise ) as B ) b on b.Ordering=a.Ordering






Declare @listCol varchar (Max)
SELECT  @listCol = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) 	FROM  (
select * from TmpSalaryMonthAndEmployeeWise
) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 


IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTMonthAndEmployeeWiseSalaryHView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTMonthAndEmployeeWiseSalaryHView] AS 
	select Ordered1,SalaryTypes from TmpSalaryMonthAndEmployeeWise'
drop view PVTMonthAndEmployeeWiseSalaryHView

DECLARE @QuerySql VARCHAR(Max)
	SET @QuerySql ='CREATE VIEW PVTMonthAndEmployeeWiseSalaryHView as SELECT * FROM (
	select Ordered1,SalaryTypes from TmpSalaryMonthAndEmployeeWise
	) as cl PIVOT (Min(SalaryTypes) FOR Ordered1 IN ('+isnull(@listCol,'[01]')+')) as pvt'
EXECUTE  (@QuerySql) 





Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from TmpSalaryMonthAndEmployeeWise ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from TmpSalaryMonthAndEmployeeWise ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')


IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTMonthAndEmployeeWiseSalaryDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTMonthAndEmployeeWiseSalaryDView] AS 
	select Ordered,ContactID,BRNo,BRDate,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpSalaryMonthAndEmployeeWise'
drop view PVTMonthAndEmployeeWiseSalaryDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTMonthAndEmployeeWiseSalaryDView as  select Ordered,ContactID,BRNo,BRDate,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select Ordered,ContactID,BRNo,BRDate,YearID,MonthID,MnYr,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpSalaryMonthAndEmployeeWise ) as A
	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query )


IF EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpMandEWise]'))		Drop table [TmpMandEWise]

select Distinct t.ContactID,t.YearID,t.MonthID,BRNo,BRDate,MnYr,sum(isnull(it.PayArrears,0)) as Basic_DP,sum(isnull(it.DAArrears,0)) as DA,sum(isnull(it.HRAArrears,0)) as HRA,sum(isnull(it.OtherArrears,0)) as AOthers
,isnull(b.Bonus,0) as Bonus,isnull(sp.Amount,0) as SOthers
,(sum(isnull(it.PayArrears,0))+sum(isnull(it.DAArrears,0))+sum(isnull(it.HRAArrears,0))+sum(isnull(it.OtherArrears,0))+isnull(b.Bonus,0)+isnull(sp.Amount,0)) as Total
,sum(isnull(it.ITArrears,0)) as IT,isnull(PT,0) as PT,isnull(FBF,0) as FBF,isnull(CPC,0) as CPC,isnull(EPC,0) as EPC,isnull(HRA_Rent,0) as HRA_Rent   
,((sum(isnull(it.PayArrears,0))+sum(isnull(it.DAArrears,0))+sum(isnull(it.HRAArrears,0))+sum(isnull(it.OtherArrears,0))+isnull(b.Bonus,0)+isnull(sp.Amount,0))-(sum(isnull(it.ITArrears,0))+isnull(Total,0))) as Net
into TmpMandEWise
from (select @COntactID as ContactID,Year(cast(Days as datetime)) as YearID,Month(cast(Days as datetime)) as MonthID,NULL as BRNo,NULL as BRDate
,(left(datename(month,cast(Days as datetime)),3)+'-'+right(cast(Year(cast(Days as datetime)) as varchar(4)),2)) as MnYr 
from DaysOfDate where Day(cast(Days as datetime)) = 1 and cast(Days as datetime) between @FromDate and @ToDate) as t

left outer join (
select ContactID,YearID,MonthID
,(sum(case when TypesID=1 and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end)+sum(case when TypesID=2 and TypeID=20 and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end)) as PayArrears
,sum(case when TypesID=2 and TypeID=1 and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end) as DAArrears 
,sum(case when TypesID=2 and TypeID=2 and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end) as HRAArrears 
,(sum(case when TypesID=2 and TypeID not in (1,2,20) and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end)+sum(case when TypesID=3 and TypeID in (13,16,2) and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end)) as OtherArrears 
,sum(case when TypesID=4 and TypeID=2 and isnull(Suppliment,0) not in (2,7,3) then isnull(srd.DiffAmount,0) else 0 end) as ITArrears
from FnSRNew() sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where ContactID in (@ContactID) and isnull(SalaryTypeID,0)=3 
and (cast(year(sr.StartingDate1) as varchar(4))+cast(Month(sr.StartingDate1) as varchar(2))) <> (cast(sr.YearID as varchar(4))+cast(sr.MonthID as varchar(2)))
group by ContactID,YearID,MonthID) as it on it.ContactID=t.COntactID and it.YearID=t.YearID and it.MonthID=t.MonthID
and (convert(datetime,(cast(it.YearID as varchar(4))+'-'+cast(it.MonthID as varchar(2))+'-'+'01'))) between @FromDate and @ToDate


left outer join (
select sr.ContactID,convert(datetime,(cast(Year(isnull(sr.BillRegisterDate,Today)) as varchar(4))+'-'+cast(Month(isnull(sr.BillRegisterDate,Today)) as varchar(2))+'-'+'01')) as Date ,round(Round(sum(isnull(sroa.Amount,0)),2),0) as Bonus 
from ScaleRegisterOtherAdditions sroa inner join Today_HRMS t on t.Ac_olid=@OLID inner join ScaleRegister sr on sr.ScaleRegisterID=sroa.ScaleRegisterID
where Ac_olid in (@Ac_olid) and  SalaryOtherAdditionID in (3,7) group by sr.ContactID,Year(isnull(sr.BillRegisterDate,Today)),Month(isnull(sr.BillRegisterDate,Today)) having round(Round(sum(isnull(sroa.Amount,0)),2),0)<>0
) as B on b.ContactID=t.COntactID and Year(b.Date)=t.YearID and Month(b.Date)=t.MonthID
and b.Date between @FromDate and @ToDate

left outer join (
select ContactID,convert(datetime,(cast(YearID as varchar(4))+'-'+cast(MonthID as varchar(2))+'-'+'01')) as Date,sum(isnull(srd.DiffAmount,0)) as Amount
from FnSRNew() sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where ContactID in (@ContactID) and isnull(Suppliment,0)in (2,7)
and (cast(sr.SalaryYear as varchar(4))+cast(sr.SalaryMonth as varchar(2))) <> (cast(sr.YearID as varchar(4))+cast(sr.MonthID as varchar(2)))
group by ContactID,YearID,MonthID ) as Sp on sp.ContactID=t.COntactID and Year(sp.Date)=t.YearID and Month(sp.Date)=t.MonthID
and sp.Date between @FromDate and @ToDate

left outer join (
select ei.ContactID,convert(datetime,(cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Month(InvestmentDate) as varchar(2))+'-'+'01')) as Date 
,sum(case when InvestmentTypeID=2 then isnull(ActualAmount,0) else 0 end) as PT
,sum(case when InvestmentTypeID=18 then isnull(ActualAmount,0) else 0 end) as FBF
,sum(case when InvestmentTypeID=36 then isnull(ActualAmount,0) else 0 end) as CPC
,sum(case when InvestmentTypeID=19 then isnull(ActualAmount,0) else 0 end) as EPC
,sum(case when InvestmentTypeID=62 then isnull(ActualAmount,0) else 0 end) as HRA_Rent
,sum(case when InvestmentTypeID in (2,18,36,19,62) then isnull(ActualAmount,0) else 0 end) as Total
from EmployeeInvestmentDetails eid
inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentID
where Arrears=1 group by ei.ContactID,Year(InvestmentDate),Month(InvestmentDate)
having sum(case when InvestmentTypeID in (2,18,19,36) then isnull(ActualAmount,0) else 0 end)<>0
) as IV on iv.ContactID=t.COntactID and Year(iv.Date)=t.YearID and Month(iv.Date)=t.MonthID
and iv.Date between @FromDate and @ToDate
Group by t.ContactID,t.YearID,t.MonthID,t.MnYr,b.Bonus,sp.Amount,PT,FBF,CPC,EPC,HRA_Rent,Total,t.BRNo,t.BRDate 
having (sum(isnull(it.PayArrears,0))+sum(isnull(it.DAArrears,0))+sum(isnull(it.HRAArrears,0))+sum(isnull(it.OtherArrears,0))+isnull(b.Bonus,0)+isnull(sp.Amount,0)) <>0
order by t.ContactID,t.YearID,t.MonthID
GO
