USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_CanSI]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 

CREATE procedure [dbo].[sp_CanSI](@SINo int,@olid int,@month int,@yr int)
as

insert into JournalVoucher
select OLID,getdate(),LocationCode,Updated,Narration,OfficialReferenceNo,Approved,RectifiedJVNo,RectifiedJVOLID,DocumentTypeID,DoucmentNo 
from JournalVoucher where JournalVoucherNo
in(select JournalVoucherNo from StoreInvoice_Accounts where StoreInvoiceNo in(@SINo)) 

declare @jvno int =(select ident_current('JournalVoucher'))

declare @autono int=(select autonumber from OfficialNoSequence_Accounts where ActivityID=68 and OLID=@olid and 
(case when month(getdate())<=3 then year(getdate())
        when month(getdate())>3 then year(getdate())+1
end)=year(FinancialYear))

declare @loc int=(select LocationCode from OfficialNoSequence_Accounts where ActivityID=68 and OLID=@olid and 
(case when month(getdate())<=3 then year(getdate())
        when month(getdate())>3 then year(getdate())+1
end)=year(FinancialYear))

update jv set OfficialReferenceNo='['+Cast(@jvno as Varchar(10))+']'+y.FinalYear+'/'+Cast(@loc as Varchar(10))+' /'+Cast(@autono as Varchar(10))
from JournalVoucher jv
cross apply
(select Cast(Year1 as Varchar(5))+'-'+Substring(Cast(Year2 as varchar(5)),3,2)  FinalYear from
(select distinct  case when month(getdate())<=3 then year(getdate())-1
        when month(getdate())>3 then year(getdate())
end Year1,case when month(getdate())<=3 then year(getdate())
        when month(getdate())>3 then year(getdate())+1 end Year2
 from OfficialNoSequence_Accounts where ActivityID=68 and OLID=@olid )as x)y
where jv.JournalVoucherNo=@jvno

update o set Autonumber=@autono+1
from OfficialNoSequence_Accounts o 
where ActivityID=68 and OLID=@olid and 
(case when month(getdate())<=3 then year(getdate())
        when month(getdate())>3 then year(getdate())+1
end)=year(FinancialYear)

insert into JournalVoucherDetails
select @jvno,OLID,ToMainAccountCode,ToSubAccountCode,FromMainAccountCode,FromSubAccountCode,VoltageClassID,Amount
from JournalVoucherDetails where JournalVoucherNo
in(select JournalVoucherNo from StoreInvoice_Accounts where StoreInvoiceNo in(@SINo))

insert into StockLedgerDetails_Accounts
select sl1.StockLedgerID,sld.OLID,sld.ItemID,StockTransactionTypeID,InvoiceOrVoucherNo,case when @month=0 then getdate() else EOMONTH(DATEFROMPARTS(@yr,@month,1)) end,-Quantity,
Case when sld.GoodQuantity is not null then -sld.GoodQuantity else sld.GoodQuantity end,
Case when sld.ReleasedGoodQuantity is not null then -sld.ReleasedGoodQuantity else sld.ReleasedGoodQuantity end,
Case when sld.ReleasedScrapQuantity is not null then -sld.ReleasedScrapQuantity else sld.ReleasedScrapQuantity end,
Case when sld.ReleasedFaultyQuantity is not null then -sld.ReleasedFaultyQuantity else sld.ReleasedFaultyQuantity end,-sld.Amount,@jvno
from StockLedgerDetails_Accounts sld
inner join StockLedger_Accounts sl on sl.StockLedgerID=sld.StockLedgerID
inner join StockLedger_Accounts sl1 on sl1.ItemID=sl.ItemID and sl.OLID=sl1.OLID and sl1.StockLedgerMonth=(case when @month=0 then month(getdate()) else @month end)
                                                                                                                              and sl1.StockLedgerYear=(case when @yr=0 then year(getdate()) else @yr end)
where InvoiceOrVoucherNo in(@SINo) and StockTransactionTypeID=1

insert into StockLedgerMaterialDetails
select  sld1.StockLedgerDetailsID,-slmd.Quantity,UnitID,StockConditionID,SerialNo,Rate,-slmd.Amount,MainAccountCode,SubAccountCode 
from StockLedgerMaterialDetails  slmd
inner join StockLedgerDetails_Accounts sld on slmd.StockLedgerDetailsID=sld.StockLedgerDetailsID
inner join StockLedgerDetails_Accounts sld1 on sld1.ItemID=sld.ItemID and sld1.InvoiceOrVoucherNo=sld.InvoiceOrVoucherNo and sld1.StockTransactionTypeID=sld.StockTransactionTypeID and sld1.quantity<0
where sld.StockTransactionTypeID=1 and sld.InvoiceOrVoucherNo in(@SINo) and sld1.StockLedgerDetailsID not in (select StockLedgerDetailsID from StockLedgerMaterialDetails)

update StoreInvoice_Accounts set JournalVoucherNo=@jvno,Canceled=1,Priced=0 where StoreInvoiceNo=@SINo
update StoreInvoice_PnI set Priced=0 where StoreInvoiceNo=@SINo;

--
-- SP_CashBook
-- 
GO
