USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_LegacyWorkRV]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LegacyWorkRV] @olid int 

as


select t.ReceiptVoucherNo,t.RVOfficialreferenceNo,t.WorkOrderNo,t.Reference,t.OfficialReferenceNo from (select r.ReceiptVoucherNo,r.OfficialReferenceNo RVOfficialreferenceNo,wo.WorkOrderNo,wo.Reference,wo.OfficialReferenceNo, sum(case when wa.MainAccountCode like '74%' and m.StockConditionID=4 then 1 when wa.MainAccountCode not like '14%' and mc.MaterialCode like '07 9%' then 1 else 0 end) scount, sum(case when d.ItemID is not null then 1 else 0 end) rcount,sum(case when ast.assetdetailsid is not null then 1 else 0 end) acount from ReceiptVoucherAbstract_pni r with (nolock) left join ReceiptVoucherAbstract_accounts a with (nolock) on r.ReceiptVoucherNo=a.ReceiptVoucherNo and a.Canceled=0 left join ReceiptVoucherDetails_pni d with (nolock) on r.ReceiptVoucherNo=d.ReceiptVoucherNo left join ReceiptVoucherMaterialDetails_pni m with (nolock) on d.ReceiptVoucherDetailsID=m.ReceiptVoucherDetailsID
inner join stock st on st.itemid=d.itemid left join MaterialCode mc on d.ItemID=mc.ItemID left join AssetDetails ast with (nolock) on d.ItemID=ast.IBVLID and ast.Released=0 and r.ReceiptVoucherNo = ast.DocumentNo and m.StockConditionID=ast.StockConditionID and (case when st.SerialFlag=0 or st.SerialFlag=1 and MaterialCode not like '03 21%' and (m.StockConditionID=4)  then(case when len(isnull(ast.SerialNo,'0'))<=2 then isnull(ast.SerialNo,'0') else substring(ast.SerialNo,1,len(ast.SerialNo)-2) end) else ast.SerialNo end)=m.SerialNo left join WorkOrder wo on r.DocumentNo=wo.WorkOrderNo inner join WorkAllocation wa on wo.WorkAllocationID=wa.WorkAllocationID where r.ContactCategoryID in(2,6,7) and r.DocumentTypeID in(2,22) and r.ReturnTypeID=2 and r.Priced=0 and r.Approved=1 and r.Canceled=0 and r.OLID in( @olid ) and r.DocumentNo is not null and a.ReceiptVoucherNo is null and m.StockConditionID!=1 and ((wo.TokenWorkOrder is null or wo.TokenWorkOrder!=1) and wo.Regularised=0 and wo.legacy=1)
and mc.MaterialCode not like '06 01%' and r.receiptvoucherno not in(select DocumentNo from assetdetails where documenttypeid=12 and documentno=r.receiptvoucherno and IBVLID=d.ItemID and StockConditionID=m.StockConditionID) group by r.ReceiptVoucherNo,r.OfficialReferenceNo,wo.WorkOrderNo,wo.Reference,wo.OfficialReferenceNo 

union all select r.ReceiptVoucherNo,r.OfficialReferenceNo RVOfficialreferenceNo,0,'','',0, sum(case when d.ItemID is not null then 1 else 0 end) rcount,sum(case when ast.assetdetailsid is not null then 1 else 0 end) acount from ReceiptVoucherAbstract_pni r with (nolock) left join ReceiptVoucherAbstract_accounts a with (nolock) on r.ReceiptVoucherNo=a.ReceiptVoucherNo and a.Canceled=0 left join ReceiptVoucherDetails_pni d with (nolock) on r.ReceiptVoucherNo=d.ReceiptVoucherNo left join ReceiptVoucherMaterialDetails_pni m with (nolock) on d.ReceiptVoucherDetailsID=m.ReceiptVoucherDetailsID
inner join stock st on st.itemid=d.itemid left join MaterialCode mc on d.ItemID=mc.ItemID left join AssetDetails ast with (nolock) on d.ItemID=ast.IBVLID and ast.Released=0 and r.ReceiptVoucherNo = ast.DocumentNo and m.StockConditionID=ast.StockConditionID and (case when st.SerialFlag=0 or st.SerialFlag=1 and MaterialCode not like '03 21%' and (m.StockConditionID=4) then(case when len(isnull(ast.SerialNo,'0'))<=2 then isnull(ast.SerialNo,'0') else substring(ast.SerialNo,1,len(ast.SerialNo)-2) end)  else ast.SerialNo end)=m.SerialNo where r.ReturnTypeID=7 and r.Priced=0 and r.Approved=1 and r.Canceled=0 and r.OLID in(@olid ) and a.ReceiptVoucherNo is null and r.receiptvoucherno not in(select DocumentNo from assetdetails where documenttypeid=12 and documentno=r.receiptvoucherno and IBVLID=d.ItemID and StockConditionID=m.StockConditionID) group by r.ReceiptVoucherNo,r.OfficialReferenceNo) t where scount<>rcount and rcount<>acount;
GO
