USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalaryOLWiseReportNew]    Script Date: 09-06-2026 12:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SalaryOLWiseReportNew]
	@Config varchar(200), 
	@OLID int ,
    @Ac_olid int,
	@Year int ,
	@Month int,
	@BRNo varchar(50)


AS 
SET NOCOUNT ON










DECLARE @FromDate varchar(12) select @FromDate=convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-01'))
DECLARE @ToDate varchar(12) select @ToDate=(DateAdd(Month,1,convert(datetime,(cast(@Year as varchar(4))+'-'+cast(@Month as varchar(2))+'-01')))-1)



Declare @ODLDID table (ContactID Int,ScaleRegisterID Int,ODLDID Int,EmployeeStatusID Int,StartingDate DateTime,EndingDate DateTime,OLID Int)
insert into @ODLDID
select sr.ContactID,ScaleRegisterID,isnull(FromODLDID,ODLDID) as ODLDID,EmployeeStatusID,StartingDate,EndingDate,OLID from ( 
select * from ( select * from ( select sr.ContactID,srb2.ScaleRegisterID,srb2.ODLDID,srb2.EmployeeStatusID,sr.StartingDate,sr.EndingDate,sr.OLID 
from ( select ScaleRegisterID,Max(isnull(StartingDate,0)) as StartingDate from ScaleRegisterBasicPayDetails where isnull(Amount,0)<>0 and isnull(ODLDID,0)<>0 group by ScaleRegisterID ) as SRB
Left outer join ( select ScaleRegisterID,StartingDate,Max(ScaleRegisterbasicPayDetailsID) as ScaleRegisterbasicPayDetailsID from ScaleRegisterBasicPayDetails where isnull(Amount,0)<>0 and isnull(ODLDID,0)<>0 group by ScaleRegisterID,StartingDate ) as SRB1 on srb1.ScaleRegisterID=srb.ScaleRegisterID and srb1.StartingDate=srb.StartingDate
inner join ScaleRegisterBasicPayDetails SRB2 on srb2.ScaleRegisterBasicPayDetailsID=srb1.ScaleRegisterBasicPayDetailsID
inner join ScaleRegister sr on sr.ScaleRegisterID=srb2.ScaleRegisterID and sr.Generated=1 and Suppliment in (0,1,6,9) 
where sr.EndingDate<=@ToDate) as SR  where StartingDate in (select Max(sr1.StartingDate) from ScaleRegister sr1 where sr1.ContactID=sr.ContactID and sr1.Generated=1 and sr1.Suppliment in (0,1,6,9) and sr1.EndingDate<=@ToDate)
) as SR where ScaleRegisterID in (select Max(sr1.ScaleRegisterID) from ScaleRegister sr1 where sr1.ContactID=sr.ContactID and sr1.StartingDate=sr.StartingDate and sr1.Generated=1 and sr1.Suppliment in (0,1,6,9) and sr1.EndingDate<=@ToDate)
) as SR 
left outer join ( select ead1.ContactID,ead1.FromODLDID from ( select ContactID,Max(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails cross join ToDay_HRMS where Ac_olid in (@Ac_olid) and AppointmentTypeID=23 and Approved=1 and Relieved=1 and Reported=1
and @ToDate between isnull(RelievedDate,ToDay) and isnull(ReportedDate,Today) group by ContactID ) as EAD
inner join EmployeeAppointmentDetails EAD1 on ead1.EmployeeAppointmentDetailsID=ead.EmployeeAppointmentDetailsID ) as Lien on lien.ContactID=sr.ContactID




Declare @SR1 table (SalaryTypeID int,SalaryTypes varchar(10),SalaryID int,Salary varchar(10),ScaleRegisterID int,ContactID int,YearID int,MonthID int,OLID int,BillRegisterNo varchar(50),BillRegisterOLID int,BillRegisterDate datetime,StartingDate datetime,EndingDate datetime) 
insert into @SR1
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleregisterID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.OLID
,sr.BillRegisterNo as BRNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.StartingDate,sr.EndingDate
from FnSRNew() sr 
left outer join FnSRNew() sr1 on sr1.SalaryTypeID=1 and sr1.ContactID= sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and sr1.OLID=sr.OLID
where sr.YearID in (2014) 


and (case when isnull(sr.Suppliment,0)=2 and sr.BillRegisterNo='0' then '2' else 
case when isnull(sr.Suppliment,0)=3 and sr.BillRegisterNo='0' then '3' else 
case when sr.SalaryYear=Year(sr.BillRegisterDate) and sr.SalaryMonth=Month(sr.BillRegisterDate) and sr.BillRegisterNo='0' then sr.BillRegisterNo else  
case when sr.BillRegisterNo='0' and sr.SalaryTypeID<>2 then '1' else 
case when sr.BillRegisterNo='0' and sr.SalaryTypeID=2 and (sr1.ContactID is NULL or sr1.generated =0 or sr1.BillRegisterNo not in ('0')) then '1'
else sr.BillRegisterNo end end end end end ) in (@BRNo)



Declare @SRD1 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int) 
insert into @SRD1
select srd.ScaleRegisterID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 'RC' else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 'RC' else Types end end) as Types
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 6 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 6 else TypesID end end) as TypesID
,max(case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then 30 else
case when sr.SalaryTypeID=2 and BillRegisterDate>='2012-11-01' then 30 else TypeID end end) as TypeID,BankID
,sum(case when sr.SalaryTypeID=2 and Typesid in (1,2,3) then isnull(-DiffAmount,0) else 
case when sr.SalaryTypeID=3 and Typesid in (1,2,3) and isnull(DiffAmount,0)<0 then isnull(-DiffAmount,0) else isnull(DiffAmount,0) end end) as Amount,srd.BankTypeID 
,TypesID ,TypeID
from @SR1 sr left join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where (case when TypesID<>3 then TypeID else case when TypesID=3 and TypeID in (14,15) then 0 else TypeID end end)<>0
group by sr.SalaryTypeID,srd.ScaleRegisterID,Types,TypesID,TypeID,BankID,srd.BankTypeID
having sum(isnull(DiffAmount,0))<>0

Declare @SRD2 table (ScaleRegisterID int ,Types varchar(4),TypesID int,TypeID int,BankID int,Amount money,BankTypeID int,TypesID1 int,TypeID1 int,Payment money) 
insert into @SRD2
select *,(case when TypesID in (4,5,6) and isnull(Amount,0)<0 then isnull(-Amount,0) else 0 end) as Payment from @SRD1






Declare @OID1 table (OID int)
Declare @OID1Sql varchar(Max) Set @OID1Sql='
select OfficeID from OfficeLocationAllocation where OfficeLocationAllocationid in ('+cast(@OLID as varchar(10))+')
' insert into @OID1 exec (@OID1Sql)

Declare @OID2 table (SlNo int,OLID int)
Declare @OID2Sql varchar(Max) Set @OID2Sql='
select SlNo,OLID from FnOLID('+cast(@OLID as varchar(10))+')
' insert into @OID2 exec (@OID2Sql)

Declare @AOLID table (OLID int)
Declare @OID int select @OID=(select * from @OID1)  if @OID=50  
insert into @AOLID 
select OLID from @OID2 else 
insert into @AOLID 
select OLID from @OID2
where OLID in (@OLID)


Declare @Desc table (ATypeID int,TypesID int,TypeID int,TypesDesc varchar(200),SalaryTypes varchar(20),Ordering varchar(10),FromHead varchar(20),ToHead varchar(20))
Declare @DescSql varchar(Max) Set @DescSql='
select ATypeID,TypesID,TypeID,Description,SalaryTypes,Ordering,FromHead,ToHead from FnADLR()
' insert into @Desc exec (@DescSql) 


Declare @Contact table (ContactID int,EmployeeName varchar(100),Bank varchar(100),Branch varchar(100),BankAcNo varchar(20),PanCardNo varchar(50),EmployeeCategoryID int)
Declare @ContactSql varchar(Max) Set @ContactSql='
select distinct ContactID,EmployeeName,Bank,Branch,BankAcNo,PanCardNo,EmployeeCategoryID from FnOLD()
' insert into @Contact exec (@ContactSql) 

Declare @ODLD table (OLID int,ODLDID int,OfficeName varchar(100),LocationName varchar(100),DesignationName varchar(100),DepartmentName varchar(100),LocationCode varchar(100),Ordering varchar(6),EmployeeGradeID int)
Declare @ODLDSql varchar(Max) Set @ODLDSql='
select distinct OLID,ODLDID,OfficeName,LocationName,ol.DesignationName,DepartmentName,LocationCode,Ordering,EmployeeGradeID
from  FnODLD() ol
left outer join FnDnOrder() do on (case when do.EmployeeGradeID=4 and do.DesignationID=231 then NULL else do.DesignationID end)=ol.DesignationID
where OLID is not null
' insert into @ODLD exec (@ODLDSql) 


Declare @SR table (LocationOrdered int,Ordered varchar(6),ScaleRegisterID int,ContactID int,YearID int,MonthID int,YearID1 int,MonthDesc varchar(12),StartingDate datetime,EndingDate datetime,OfficeName varchar(50),LocationName varchar(50), LocationCode varchar(100),SOfficeName varchar(50),SLocationName varchar(50),DesignationName varchar(100),DepartmentName varchar(100),EmployeeName varchar(50),BRNo varchar(50),OLID int,SOLID int,EmployeeTypes varchar(20),EOrder varchar(4),BRDate datetime)
insert into @SR 

select distinct oid.SlNo as LocationOrdered,ol.Ordering as Ordered,sr.ScaleRegisterID,sr.ContactID,sr.YearID,sr.MonthID,Year(sr.BillRegisterDate) as YearID1,datename(month,sr.BillRegisterDate) as MonthDesc,sr.StartingDate,sr.EndingDate
,ol1.OfficeName,ol1.LocationName,ol1.LocationCode,ol.OfficeName as SOfficeName,ol.LocationName as SLocationName,ol.DesignationName,ol.DepartmentName,ct.EmployeeName,sr.BillRegisterNo as BRNo,ol1.OLID,ol.OLID
,(case when ct.EmployeeCategoryID in (2,8) then 'Contract Employee' else case when EmployeeStatusID in (19) then 'Deputed' else case when EmployeeGradeID in (1,2) then 'Officers' else 'Employees' end end end) as EmployeeTypes
,(case when ct.EmployeeCategoryID in (2,8) then '04' else case when EmployeeStatusID in (19) then '03' else case when EmployeeGradeID in (1,2) then '01' else '02' end end end) as EOrder,sr.BillRegisterDate
from @SR1 sr cross join (select distinct OfficeName,LocationName,LocationCode,OLID from @ODLD where OLID in (select @OLID)) as OL1
left outer join @ODLDID srb on srb.ContactID=sr.ContactID

inner join @ODLD ol on ol.OLID in (@OLID) and ol.ODLDID=srb.ODLDID
left outer join @Contact ct on ct.ContactID=sr.ContactID
left outer join @OID2 oid on oid.OLID=ol.OLID
where Month(sr.BillRegisterDate)=6



Declare @SRD table (ATypeID int,ScaleRegisterID int,Amount money,SalaryTypes varchar(20),Ordering varchar(6))
insert into @SRD 

select ATypeID,ScaleregisterID,sum(Amount) as Amount,SalaryTypes,Ordering from (
select (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end) as ATypeID,srd.ScaleregisterID
,(case when (isnull(srd.Payment,0))<>0 then sum(isnull(-srd.Amount,0)) else sum(isnull(srd.Amount,0)) end) as Amount
,(case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=1 then 'Total Earnings' else case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=2 then 'Total Deductions'  else NULL end end) as SalaryTypes
,(case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=1 then '09' else case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=2 then '37'  else NULL end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID,srd.Payment 
) as ED group by ScaleregisterID,ATypeID,SalaryTypes,Ordering
union all
select 2 as ATypeID,ScaleregisterID
,(sum(case when ATypeID=1 then Amount else 0 end) - sum(case when ATypeID=2 then Amount else 0 end)) as Amount
,'Net Payable' as SalaryTypes,'38' as Ordering  from (
select (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end) as ATypeID,srd.ScaleregisterID
,(case when (isnull(srd.Payment,0))<>0 then sum(isnull(-srd.Amount,0)) else sum(isnull(srd.Amount,0)) end) as Amount
,(case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=1 then 'Total Earnings' else case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=2 then 'Total Deductions'  else NULL end end) as SalaryTypes
,(case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=1 then '09' else case when (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end)=2 then '37'  else NULL end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=srd.TypesID and d.TypeId=srd.TypeID
where d.Ordering  is not null group by srd.ScaleregisterID,ATypeID,srd.TypesID,srd.Payment 
) as ED group by ScaleregisterID
union all
select (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end) as ATypeID,srd.ScaleregisterID
,(case when (isnull(srd.Payment,0))<>0 then sum(isnull(-srd.Amount,0)) else sum(isnull(srd.Amount,0)) end) as Amount
,(case when isnull(srd.BankTypeID,0) not in (0) and srd.TypesID=6 then 'Recovery External' else d.SalaryTypes end) as SalaryTypes
,(case when isnull(srd.BankTypeID,0) not in (0) and srd.TypesID=6 then '28.01' else 
case when (isnull(srd.Payment,0))<>0 then '08.01' else d.Ordering end end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=(case when (isnull(srd.Payment,0))<>0 then srd.TypesID1 else srd.TypesID end)
and d.TypeId=(case when (isnull(srd.Payment,0))<>0 then srd.TypeID1 else srd.TypeID end)
where d.Ordering is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) <> 0
group by srd.ScaleregisterID,d.SalaryTypes ,d.Ordering,d.ATypeID,srd.BankTypeID,srd.TypesID,srd.Payment
union all
select distinct (case when (isnull(srd.Payment,0))<>0 then 1 else d.ATypeID end) as ATypeID,srd.ScaleregisterID
,(case when (isnull(srd.Payment,0))<>0 then sum(isnull(-srd.Amount,0)) else sum(isnull(srd.Amount,0)) end) as Amount
,'PLI' as SalaryTypes ,(case when (isnull(srd.Payment,0))<>0 then '08.01' else '10.01' end) as Ordering
from @SRD2 srd 
left outer join @Desc d on d.TypesID=(case when (isnull(srd.Payment,0))<>0 then srd.TypesID1 else srd.TypesID end)
and d.TypeId=(case when (isnull(srd.Payment,0))<>0 then srd.TypeID1 else srd.TypeID end)

where d.Ordering  is not null 
and (case when srd.TypesID in (5) and srd.TypeID in (17,18) and srd.BankID=86 then 0 else srd.TypeID end) = 0
group by srd.ScaleregisterID,ATypeID,srd.Payment




IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[dbo].[TmpSalaryOLWise]'))
    EXEC sp_executesql N'create table TmpSalaryOLWise 
	(OLID int,BRNo varchar(50),BRDate datetime,Ordered varchar(6),ContactID int,YearID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(100), LocationName varchar(100),EmployeeName varchar(100), DesignationName varchar(100),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),LocationCode varchar(100),EmployeeTypes varchar(20),MnYr varchar(10))
	'
drop table TmpSalaryOLWise
Create table TmpSalaryOLWise  (OLID int,BRNo varchar(50),BRDate datetime,EOrder varchar(4),Ordered varchar(6),ContactID int,YearID int,MonthID int,YearID1 int, MonthDesc varchar(10),OfficeName varchar(100), LocationName varchar(100),EmployeeName varchar(100), DesignationName varchar(100),  Ordering varchar(6),SalaryTypes  varchar(50), Amount numeric(18,2),Ordered1 varchar(6),LocationCode varchar(100),EmployeeTypes varchar(20),MnYr varchar(10))
insert into TmpSalaryOLWise 

select SOLID,sr.BRNo,sr.BRDate,sr.EOrder,sr.Ordered,sr.ContactID,sr.YearID,sr.MonthID,sr.YearID1,sr.MonthDesc,sr.SOfficeName,sr.SLocationName,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sum(srd.Amount) as Amount,NULL as Ordered1,sr.LocationCode,EmployeeTypes,(left(datename(month,sr.StartingDate),3)+'-'+cast(right(sr.YearID,2) as varchar(2))) as MnYr
from @SR sr inner join @SRD srd on srd.ScaleRegisterID=sr.ScaleRegisterID 

group by SOLID,sr.BRNo,sr.BRDate,sr.EOrder,sr.Ordered,sr.ContactID,sr.YearID,sr.MonthID,sr.MonthDesc,sr.SOfficeName,sr.SLocationName,sr.EmployeeName,sr.DesignationName,srd.Ordering,srd.SalaryTypes,sr.LocationCode,EmployeeTypes,datename(month,sr.StartingDate),sr.YearID1
order by BRNo,EOrder,Ordering,EmployeeName,YearID,MonthID

update a set a.Ordered1= (case when len(b.Ordered1)=1 then '0'+cast(b.Ordered1 as varchar(6)) else cast(b.Ordered1 as varchar(6)) end)
from TmpSalaryOLWise A
left outer join (select *,Row_Number() over (order by Ordering) as Ordered1  from (select Distinct Ordering from TmpSalaryOLWise ) as B ) b on b.Ordering=a.Ordering


























Declare @Columns varchar (Max), @Select_Columns varchar (Max)

SELECT  @Columns = STUFF(( SELECT DISTINCT  '],[' + ltrim((Ordered1)) FROM 
(select * from TmpSalaryOLWise ) Columns ORDER BY '],[' + ltrim((Ordered1)) FOR XML PATH('')), 1, 2, '') + ']' 

,@Select_Columns = STUFF(( SELECT DISTINCT   ltrim(Ordered1)	FROM  (
select distinct  ','+c as Ordered1 from (
select distinct 'isnull(['+cast(Ordered1 as varchar(4))+'],0) as ['+cast(Ordered1 as varchar(4))+']' as C
from TmpSalaryOLWise ) as H 
) Columns ORDER BY  ltrim(Ordered1) FOR XML PATH('')) , 1, 1, '')

IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[PVTOLWiseSalaryDView]'))
    EXEC sp_executesql N'CREATE VIEW [dbo].[PVTOLWiseSalaryDView] AS 
	select EOrder,EmployeeTypes,BRNo,BRDate,Ordering,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,LocationCode,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpSalaryOLWise'
drop view PVTOLWiseSalaryDView

DECLARE @query VARCHAR(8000)
SET @query    = 'CREATE VIEW PVTOLWiseSalaryDView as  select EOrder,EmployeeTypes,BRNo,BRDate,Ordered as Ordering,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,LocationCode,OfficeName,LocationName,EmployeeName,DesignationName,' +isnull(@Select_Columns,'[01]')+ '   from 
	(select EOrder,EmployeeTypes,BRNo,convert(varchar,BRDate,103) as BRDate,Ordered,ContactID,MnYr,YearID,MonthID,YearID1,MonthDesc,LocationCode,OfficeName,LocationName,EmployeeName,DesignationName,Ordered1,Amount
	FROM    TmpSalaryOLWise ) as A
	PIVOT ( SUM( Amount ) FOR Ordered1 IN ( ' +isnull(@Columns,'[01]')+ ' ) ) AS P'
EXECUTE( @query )
GO
