USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_Employee]
 @Query Varchar(10),@ContactID Int,@ODLDID Int,@ESID Int,@Retired Int  ,@CategoryID Int,@HC Int ,@Disability Int 
 ,@BankID Int,@BranchID Int,@AcNo Varchar(50),@DOB Varchar(50),@CasteTypeID Int,@Religion Varchar(50),@PanCardNo Varchar(50)
 ,@Sex Varchar(50),@MartialStatus Varchar(50),@NoOfChildren Int
 ,@CDetailsID Int,@MSMEDNo Varchar(50),@PPANNo Varchar(50),@PINNo Varchar(50) ,@VoterID Varchar(50),@ServiceTaxNo Varchar(50),@AadhaarCardNo Varchar(50)
AS SET NOCOUNT ON 


--Declare @Query Varchar(20) = 'Select'
--Declare @ContactID Int = 10

--Declare @ODLDID Int = 15
--Declare @ESID Int = 1
--Declare @Retired Int = 0

--Declare @CategoryID Int = 1
--Declare @HC Int = 1
--Declare @Disability Int = 1

--Declare @BankID Int = 0
--Declare @BranchID Int = 0
--Declare @AcNo Varchar(50) = '--'

--Declare @DOB Varchar(50) = '--'
--Declare @CasteTypeID Int = 0
--Declare @Religion Varchar(50) = 'Hindu'
--Declare @PanCardNo Varchar(50) = '--'

--Declare @Sex Varchar(50) = 'FeMale'
--Declare @MartialStatus Varchar(50) = 'UnMarried'
--Declare @NoOfChildren Int = 0

--Declare @CDetailsID Int = 0
--Declare @MSMEDNo Varchar(50) = '--'
--Declare @PPANNo Varchar(50) = '--'
--Declare @PINNo Varchar(50) = '--'
--Declare @VoterID Varchar(50) = '--'
--Declare @ServiceTaxNo Varchar(50) = '--'
--Declare @AadhaarCardNo Varchar(50) = '--'


IF @Query='Update' 
update a set ODLDID=(case when @ODLDID=0 then NULL else @ODLDID end) , EmployeeStatusID=@ESID , Retired=@Retired
from Employee  a where ContactID = @ContactID  

else IF @Query='Update1' 
update a set EmployeeCategoryID=@CategoryID , Handicapped=@HC , EmployeeDisabilityTypeID=@Disability
from Employee  a where ContactID = @ContactID  

else IF @Query='Update2' 
update a set BankID=(case when @BankID=0 then NULL else @BankID end) , BankBranchID=(case when @BranchID=0 then NULL else @BranchID end) , BankAcNo=@AcNo  
from Employee  a where ContactID = @ContactID   

else IF @Query='Update3' 
update a set DateOfBirth=(case when @DOB='--' then NULL else @DOB end) , CasteTypeID=(case when @CasteTypeID=0 then NULL else @CasteTypeID end) , Religion=@Religion , PanCardNo=(case when @PanCardNo='--' then '' else @PanCardNo end)
from Employee  a where ContactID = @ContactID  

else IF @Query='Update4' 
update a set Sex=@Sex , MartialStatus=@MartialStatus , NoOfChildren=@NoOfChildren
from Employee  a where ContactID = @ContactID  

IF @Query='Update5'
update a set MSMEDNo=(case when @MSMEDNo='--' then NULL else @MSMEDNo end),PPANNo=(case when @PPANNo='--' then '' else @PPANNo end),PANNo=(case when @PanCardNo='--' then '' else @PanCardNo end),PINNo=(case when @PINNo='--' then '' else @PINNo end),VoterID=(case when @VoterID='--' then NULL else @VoterID end),ServiceTaxNo=(case when @ServiceTaxNo='--' then NULL else @ServiceTaxNo end),AadhaarCardNo=(case when @AadhaarCardNo='--' then '' else @AadhaarCardNo end) 
from ContactDetails a with(nolock) where ContactID = @ContactID and (case when @CDetailsID=0 then 0 else ContactDetailsID end)=@CDetailsID

IF @Query='Import'
insert into ContactDetails (ContactID,MSMEDNo,PPANNo,PANNo,PINNo,VoterID,ServiceTaxNo,AadhaarCardNo )
select @ContactID,(case when @MSMEDNo='--' then NULL else @MSMEDNo end),(case when @PPANNo='--' then '' else @PPANNo end),(case when @PanCardNo='--' then '' else @PanCardNo end),(case when @PINNo='--' then '' else @PINNo end),(case when @VoterID='--' then NULL else @VoterID end),(case when @ServiceTaxNo='--' then NULL else @ServiceTaxNo end),(case when @AadhaarCardNo='--' then '' else @AadhaarCardNo end) 

IF (@Query='Delete')
delete from ContactDetails where ContactID = @ContactID and ContactDetailsID=@CDetailsID

IF (@Query='Select1' or @Query='Update5' or @Query='Import' or @Query='Delete')
select * from ContactDetails with(nolock) where ContactID = @ContactID

IF (@Query!='--' and @Query!='Select1' and @Query!='Update5' and @Query!='Import' and @Query!='Delete')
select ContactID,EmployeeCategoryID,ODLDID,Sex,MartialStatus,Handicapped,NoOfChildren,Religion,BloodGroup,Qualification,CasteTypeID,PanCardNo,BankID,BankBranchID,BankAcNo,Miscelleneous,HownTownTypeID,HomeTownID,DateOfBirth,Height,Nature,IdentityMark,JoinDate,JoinTime,EmployeeStatusID,PromotionHeldUp,Retired,CreatedBy,CreatedOn,CreatedTerminal,EmployeeDisabilityTypeID,SRApproved,EmployeeID,EmployeeGradeID 
from Employee with(nolock) where ContactID = @ContactID   





GO
