USE [EnergySync_HescomTest]
GO
/****** Object:  StoredProcedure [dbo].[SP_Annexure7F]    Script Date: 09-06-2026 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_Annexure7F] 
	@LoginOLID Int,
	@FromYear Int,
	@ToYear Int,
	@FromFyYear DateTime ,
	@ToFyYear DateTime,
	@AcOLID varchar(200) 

AS SET NOCOUNT ON


--Declare @LoginOLID Int select @LoginOLID = 337
--Declare @FromYear Int select @FromYear = 2023
--Declare @ToYear Int select @ToYear = 2024
--Declare @FromFyYear DateTime select @FromFyYear = '2023-04-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2023-12-31'
--Declare @AcOLID varchar(200) select @AcOLID = '2921'


Declare @OB Table (FromAcHead varchar(10),Amount Money) Insert Into @OB 
select FromAcHead,Sum(Amount) as Amount from (
select Left((isnull(MainAccountCode,'')+isnull(SubAccountCode,'')),6) as FromAcHead,Sum(DebitAmount-CreditAmount) as Amount
from TrialBalanceDetails with (nolock) where (isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) in ('28.831','28.832','28.834','28.835','28.790') and TrialBalanceID in ( select TrialBalanceID from TrialBalance With (NoLock) where OLID in (select * from Split(@AcOLID,',')) and TrialBalanceMonth=Month(DateAdd(Month,-1,@FromFyYear)) and TrialBalanceYear=Year(DateAdd(Month,-1,@FromFyYear)) )
Group By MainAccountCode,SubAccountCode
union all
select * from ( select '28.831' as AcCode,0 as Amt union all select '28.832',0 union all select '28.834',0 union all select '28.835',0 union all select '28.790',0 ) as A
) as A Group By FromAcHead


Declare @Cash Table (FromAcHead varchar(10),Amount Money) Insert Into @Cash 
select * from ( select '28.831' as AcCode,0 as Amt union all select '28.832',0 union all select '28.834',0 union all select '28.835',0 union all select '28.790',0 ) as A

Declare @Data Table (FromAcHead varchar(10),Amount Money) Insert Into @Data 
select * from ( select '28.831' as AcCode,0 as Amt union all select '28.832',0 union all select '28.834',0 union all select '28.835',0 union all select '28.790',0 ) as A


Declare @JV Table (JournalVoucherNo Int,OLID Int,DocumentTypeID Int,DocumentNo Int,FromAcHead varchar(20),ToAcHead varchar(20),VoltageClassCode varchar(4),Amount Money,RectifiedJVNo Int,JournalVoucherDate DateTime)
Insert into @JV
select JournalVoucherNo,OLID,DocumentTypeID,DocumentNo,FromAcHead,ToAcHead,VoltageClassCode,Amount,RectifiedJVNo,JournalVoucherDate
from JVDetailsAnnexure1to8 A with(nolock) left join VoltageClass B With (NoLock) on b.VoltageClassID=a.VoltageClassID
where FromAcHead not in ('-') and ToAcHead not in ('-') 
and ( FromAcHead in ('28.831','28.832','28.834','28.835','28.790') or ToAcHead in ('28.831','28.832','28.834','28.835','28.790'))
and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID in (select * from Split(@AcOLID,',')) 


Declare @JV1 Table (Types Varchar(10),FromAcHead varchar(10),Amount Money) Insert Into @JV1 
select Types,FromAcHead,Sum(Amount) Amount from (
select 'A16' Types,FromAcHead,Amount from @JV where FromAcHead in ('28.831','28.832','28.834','28.835','28.790') and ToAcHead Like '16.%'
union all select 'A16' Types,ToAcHead,-Amount from @JV where ToAcHead in ('28.831','28.832','28.834','28.835','28.790') and FromAcHead Like '16.%'
union all select 'A14' Types,FromAcHead,Amount from @JV where FromAcHead in ('28.831','28.832','28.834','28.835','28.790') and ToAcHead Like '14.%'
union all select 'A14' Types,ToAcHead,-Amount from @JV where ToAcHead in ('28.831','28.832','28.834','28.835','28.790') and FromAcHead Like '14.%'
union all select 'A10' Types,FromAcHead,Amount from @JV where FromAcHead in ('28.831','28.832','28.834','28.835','28.790') and ToAcHead Like '10.%'
union all select 'A10' Types,ToAcHead,-Amount from @JV where ToAcHead in ('28.831','28.832','28.834','28.835','28.790') and FromAcHead Like '10.%'
union all select 'A12' Types,FromAcHead,Amount from @JV where FromAcHead in ('28.831','28.832','28.834','28.835','28.790') and ToAcHead Like '12.%'
union all select 'A12' Types,ToAcHead,-Amount from @JV where ToAcHead in ('28.831','28.832','28.834','28.835','28.790') and FromAcHead Like '12.%'
union all select 'A16' Types,FromAcHead,Amount from @Data
union all select 'A14' Types,FromAcHead,Amount from @Data
union all select 'A10' Types,FromAcHead,Amount from @Data
union all select 'A12' Types,FromAcHead,Amount from @Data
) A Group By Types,FromAcHead


Declare @CB Table (Types Varchar(10),FromAcHead varchar(10),Amount Money) Insert Into @CB 
select 'CB' Types,FromAcHead,Sum(Amount) Amount from (
select 'OB' Types,* from @OB union all select * from @JV1 union all select 'AC' Types,FromAcHead,-Amount from @Cash
) A Group By FromAcHead


Declare @Final Table (OrderNo Int,Types1 Varchar(20),Amount Money) 
Insert Into @Final 
select (Row_Number() over (Order By Types,FromAcHead)) OrderNo,concat(Types,right(FromAcHead,3)) Types1,Amount from (
select 'OB' Types,* from @OB union all select * from @JV1 union all select 'AC' Types,* from @Cash union all select * from @CB union all 
select 'SOB' Types,'' ,Sum(Amount) Amount from @OB union all select concat('SAmount',right(Types,2)) Types,'' ,Sum(Amount) Amount from @JV1 Group By Types union all
select 'SAmountCash' Types,'' ,Sum(Amount) Amount from @Cash union all select 'SCB' Types,'' ,Sum(Amount) Amount from @CB 
) A 


select * from (
select * from ( select distinct Types1,Amount from @Final ) as MR
PIVOT (Sum(Amount) FOR Types1 in ([A10790],[A10831],[A10832],[A10834],[A10835],[A12790],[A12831],[A12832],[A12834],[A12835],[A14790],[A14831],[A14832],[A14834],[A14835],[A16790],[A16831],[A16832],[A16834],[A16835],[AC790],[AC831],[AC832],[AC834],[AC835],[CB790],[CB831],[CB832],[CB834],[CB835],[OB790],[OB831],[OB832],[OB834],[OB835],[SAmount10],[SAmount12],[SAmount14],[SAmount16],[SAmountCash],[SCB],[SOB])) pviot
) A 







GO
