USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[cpm2fr]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[cpm2fr] @fr bigint,@rno varchar(100)
as 
begin

update prebillreadingdetails set kwahfinalreading=@fr where billno =(select max(billno) from prebilldetails where tosbmdate is null and billed=1 and updated=1 and rrno=@rno)

end
GO
