USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_tariff_data]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_tariff_data] 
@tid varchar(max) 
AS
SET NOCOUNT ON

select TariffID,tariffname,SlabSerialNo,
isnull(LAG(kl.ToUnit, 1) OVER (ORDER BY SlabSerialNo ASC),0) FromUnit, ToUnit,EffectiveDate,RatePerUnit 
From (select l.TariffID,t.Description tariffname,k.EnergyChargeSlabSeries SlabSerialNo, k.EnergyChargeSlabRate RatePerUnit,
case when 99999999<=k.EnergyChargeSlabUnits
then 
k.EnergyChargeSlabUnits
else 
SUM(k.EnergyChargeSlabUnits)  OVER (ORDER BY k.EnergyChargeSlabSeries) end  ToUnit,
l.EffectiveDate  from EnergyChargeSlabs  k 
inner join EnergyChargeSlabPeriods l on k.EnergyChargeSlabPeriodID=l.EnergyChargeSlabPeriodID  
inner join Tariffs t on t.TariffID=l.TariffID
where t.TariffID= @tid)kl
GO
