USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReceiptDetails]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_GetReceiptDetails]
@ApplicationID varchar(max)
AS
SET NOCOUNT ON
select PaymentTypeID,al.Description Accounthead,r.ReceiptNo,r.ReceiptDate,
r.DocumentNo ApplicationID,r.Amount,py.PaymentModeID,py.Description PaymentMode
from Receipts  r 
inner join ApplicationDetails  a on a.ApplicationID=r.DocumentNo and r.DocumentTypeID=17
inner join AllocationStatementPresetData al on  al.AllocationStatementPresetDataID=r.PaymentTypeID
inner join PaymentModes py on py.PaymentModeID=r.PaymentModeID
where a.ApplicationID=@ApplicationID




GO
