USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_BBUPOPUPnew1]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[sp_BBUPOPUPnew1] @year varchar(20) ,@month varchar(20), @popup varchar(100) 

 AS  
Declare @status varchar(30) select @status=((select parsename(replace(@popup,'-','.'),1)))


if @status='Billed'
 begin

select  u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,c.rrno RRNO,c.fileas CONSUMERNAME,cast(year(getdate()) as varchar)+'-'+cast(month(getdate()) as varchar)+'-'+cast(r.ReadingDate as varchar) as Billdate
from  prebilldetails p 
left join consumer c on p.consumerid=c.consumerid and billed=1 and sbm=1
inner join ReadingdateAreaAllocation r on r.ReadingDateAreaAllocationID=(case when p.areaid is null then  c.ReadingDateAreaAllocationID else p.areaid end )
left join Users u on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
where  u.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(printeddate)=(select parsename(replace(@popup,'-','.'),2)) 
and month(printeddate)=@month    and year(printeddate)=@year
order by u.username,tt1.Description ,m.AreaName,c.rrno
end

else if  @status='Billable'
 begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME, p.rrno RRNO,c.fileas CONSUMERNAME,cast(year(getdate()) as varchar)+'-'+cast(month(getdate()) as varchar)+'-'+cast(r.ReadingDate as varchar) as Billdate
 from  dbo.prebill (2018,5)  p 
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=p.ReadingDateAreaAllocationID
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid= p.meterreaderid
left join consumer c on p.rrno=c.rrno
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid
where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(readingdate1)<=(select parsename(replace(@popup,'-','.'),2))  and printeddate1 is null 
and p.rrno not in(select rrno from dbo.prebill (2018,5) where username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(readingdate1)<=(select parsename(replace(@popup,'-','.'),2)) and day(printeddate) >day(readingdate1) and day(printeddate) <(select parsename(replace(@popup,'-','.'),2))) 
and p.rrno not in(select rrno from dbo.prebill (2018,5) where username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(readingdate1)<(select parsename(replace(@popup,'-','.'),2)) and readingdate1=printeddate)
order by u.username,tt1.Description ,m.AreaName,p.rrno
end 

else if @status='unbilled'

 begin
select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME, p.rrno RRNO,c.fileas CONSUMERNAME,cast(year(getdate()) as varchar)+'-'+cast(month(getdate()) as varchar)+'-'+cast(r.ReadingDate as varchar) as Billdate
 from  dbo.prebill (2018,5)  p 
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=p.ReadingDateAreaAllocationID
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid= p.meterreaderid
left join consumer c on p.rrno=c.rrno
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid
where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(p.readingdate1)<=(select parsename(replace(@popup,'-','.'),2))  
and p.rrno not in(select rrno from dbo.prebill (2018,5) where username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(readingdate1)<=(select parsename(replace(@popup,'-','.'),2)) and readingdate1=printeddate1)
and p.rrno not in(select rrno from dbo.prebill (2018,5) where username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(readingdate1)<=(select parsename(replace(@popup,'-','.'),2)) and readingdate1=printeddate)
and p.rrno not in(select rrno from dbo.prebill (2018,5) where username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(readingdate1)<=(select parsename(replace(@popup,'-','.'),2)) and day(readingdate1)<=day(printeddate) and day(printeddate) <=(select parsename(replace(@popup,'-','.'),2)))
order by u.username,tt1.Description ,m.AreaName,p.rrno
end
GO
