USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_AbSubpopup]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_AbSubpopup] @year varchar(20) ,@month varchar(20),@status1 varchar(20)

 AS SET NOCOUNT ON


declare @sql1 varchar(max)
declare @sql2 varchar(max)
declare @sql3 varchar(max)
Declare @prevbill table (ConsumerID int,count1 int,ecratio float,prevdemand money)
Declare @curbill table (ConsumerID int,printeddate date,totaldemandc money)


set @sql1='select consumerid,count(amount) count1,sum(ecratio) ecratio,sum(amount)/sum(ecratio) prevdemand from
(select  row_number() over (partition by p.consumerid order by p.printeddate desc) rn ,p.consumerid,amount,billdate,(isnull(pr.ecratio,0)-isnull(pr.withdrawalecratio,0)) ecratio
from  prebilldetails p 
left join PreBillReadingDetails pr on p.BillNo=pr.BillNo 
left join (select d.consumerid,month(billdate) month,year(billdate) year,sum(isnull(d1.amount,0)) amount from ConsumerLedgerDemands d 
left  join ConsumerLedgerDemandDetails d1 on d.ConsumerLedgerDemandsID=d1.ConsumerLedgerDemandsID and d1.demandchargetypeid  in (5,9)
group by d.consumerid,month(billdate)  ,year(billdate)) d on p.consumerid=d.consumerid and  month(p.billdate)=d.month and year(p.billdate)=d.year
where p.Billed=1 and sbm=1 and  odc<>1 and pr.KWahFinalReading is not null 
and convert(datetime,concat(year(billdate),''-'',month(billdate),''-'',''1''),120)<convert(datetime,concat('+@year+',''-'','+@month+',''-'',''1''),120)
)p where rn <4
group by consumerid having count(amount) =3'

insert into @prevbill
exec(@sql1)

set @sql2='
select c.ConsumerID,printeddate,isnull(amount,0)  totaldemandc 
from  consumer c
left join PreBillDetails p on c.ConsumerID=p.ConsumerID
left join PreBillReadingDetails pr on p.BillNo=pr.BillNo 
inner  join (select d.consumerid,month(billdate) month,year(billdate) year,sum(isnull(d1.amount,0)) amount from ConsumerLedgerDemands d 
left  join ConsumerLedgerDemandDetails d1 on d.ConsumerLedgerDemandsID=d1.ConsumerLedgerDemandsID and d1.demandchargetypeid  in (5,9)
group by d.consumerid,month(billdate)  ,year(billdate)) d on p.consumerid=d.consumerid and  month(p.printeddate)=d.month and year(p.printeddate)=d.year
where month(printeddate)='+@month+'  and year(printeddate)='+@year+' and billed=1 and SBM=1 and p.ArrearBill<>0 
and pr.KWahFinalReading is not null and isnull(pr.ecratio,0)<>0'


insert into @curbill
exec(@sql2)

select  u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,c.rrno RRNO,c.fileas CONSUMERNAME,totaldemandc DEMAND
from 
(
select c.ConsumerID,totaldemandc,ecratio,printeddate,(case when count1=3 and  totaldemandc>(150*prevdemand)/100 then 'Abnormal'
when count1=3 and totaldemandc<(50*prevdemand)/100 then 'Subnormal' else 'normal' end ) status from @curbill c 
inner join @prevbill p on c.ConsumerID=p.ConsumerID
) A 
left join consumer c on A.consumerid=c.consumerid
inner join ReadingdateAreaAllocation r on c.ReadingDateAreaAllocationID=r.ReadingDateAreaAllocationID
left join Users u on u.contactid=r.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID

where concat(day(printeddate),'-',status)=Ltrim(Rtrim(@status1)) 
order by u.username
GO
