USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_PBD]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_PBD]
@BillDate as datetime,@ConsumerID as int
As 
Declare @Today as datetime,@Days as int,@DBName as varchar(30)
Select @Days=(select distinct DataVolumeDuration from GeneralSetting)
Select @Today=(Select Today from Today)
Select @DBName=(select distinct table_catalog from information_schema.tables)

BEGIN TRY

If(@DBName='EnergySyncRevenueMoodabidri')
Begin
	insert into EnergySyncRevenueMoodabidriHistory.dbo.Consumer 
	select * from Consumer where consumerid not in(select consumerid from EnergySyncRevenueMoodabidriHistory.dbo.Consumer)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DistributionNodes 
	select * from DistributionNodes where DistributionNodeID not in(select DistributionNodeID from 
	EnergySyncRevenueMoodabidriHistory.dbo.DistributionNodes)


	insert into EnergySyncRevenueMoodabidriHistory.dbo.MeterDetails 
	select * from MeterDetails where MeterID not in
	(select MeterID from EnergySyncRevenueMoodabidriHistory.dbo.MeterDetails)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DistributionNodeMeterAllocation 
	select * from DistributionNodeMeterAllocation where DistributionNodeMeterAllocationID not in
	(select DistributionNodeMeterAllocationID from EnergySyncRevenueMoodabidriHistory.dbo.DistributionNodeMeterAllocation)

	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDetails 
	select * from PreBillDetails where ConsumerID in (@ConsumerID) and BillDate<(@BillDate-@Days)
	and ODC=0	
 
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.Receipts 
	select * from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ReceiptCancellationApprovals
	select * from ReceiptCancellationApprovals where ReceiptID in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ChequeTransactions
	select * from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)) 

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ChequeTransactionDetails
	select * from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
		
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ChequeTransactionDetailsSub
	select * from ChequeTransactionDetailsSub where ChequeTransactionDetailsID in
	(select ChequeTransactionDetailsID from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ChequeTransactionApprovals
	select * from ChequeTransactionApprovals where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments
	select * from CollectionAdjustments where CollectionAdjustmentID in 
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentDetails
	select * from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentDetailsSub
	select * from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentJVDetails
	select * from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentJVDetailsSub
	select * from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentApprovals
	select * from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentReceiptsDetails
	select * from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentReceiptsDetailsSub
	select * from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails 
	where CollectionAdjustmentDetailsID in(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails 
	where BillNo in(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))



	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments
	select * from CollectionAdjustments where ReceiptNo in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentDetails
	select * from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentDetailsSub
	select * from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments)))	

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentJVDetails
	select * from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentJVDetailsSub
	select * from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentApprovals
	select * from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentReceiptsDetails
	select * from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustmentReceiptsDetailsSub
	select * from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	and CollectionAdjustmentID not in(select CollectionAdjustmentID from EnergySyncRevenueMoodabidriHistory.dbo.CollectionAdjustments))))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.OtherDemandCharges
	select * from OtherDemandCharges where ConsumerID in (@ConsumerID) and OtherDemandChargedDate<(@Today-@Days)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.OtherDemandChargeDetails
	select * from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID) 
	and OtherDemandChargedDate<(@Today-@Days))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.OtherDemandChargeDetailsSub
	select * from OtherDemandChargeDetailsSub where OtherDemandChargeDetailsID in
	(select OtherDemandChargeDetailsID from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.OtherDemandChargeApprovals
	select * from OtherDemandChargeApprovals where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreCollectionDetails
	select * from PreCollectionDetails where ToSBMDate<(@Today-@Days)
	
	













	
	
	
	
	
	
	
	
	
	
	
	
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustments
	select * from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustmentDetails
	select * from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustmentDetailsSub
	select * from DemandAdjustmentDetailsSub where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustmentReceiptsDetails  
	select * from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustmentReceiptsDetailsSub
	select * from DemandAdjustmentReceiptsDetailsSub where DemandAdjustmentReceiptsDetailsID in
	(select DemandAdjustmentReceiptsDetailsID from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustmentCollectionDetails
	select * from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.DemandAdjustmentCollectionDetailsSub
	select * from DemandAdjustmentCollectionDetailsSub where DemandAdjustmentCollectionDetailsID in
	(select DemandAdjustmentCollectionDetailsID from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerCollections
	select * from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerCollectionDetails
	select * from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	 
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerCollectionDetailsSub
	select * from ConsumerLedgerCollectionDetailsSub where ConsumerLedgerCollectionDetailsID in
	(select ConsumerLedgerCollectionDetailsID from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	 
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerDemands
	select * from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerDemandDetails
	select * from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerDemandDetailsSub
	select * from ConsumerLedgerDemandDetailsSub where ConsumerLedgerDemandDetailsID in
	(select ConsumerLedgerDemandDetailsID from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedger
	select * from ConsumerLedger where ConsumerID in (@ConsumerID) and 
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerDetails
	select * from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerLedgerDetailsSub
	select * from ConsumerLedgerDetailsSub where ConsumerLedgerDetailsID in
	(select ConsumerLedgerDetailsID from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerGOKLedgerDetails
	select * from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerGOKLedgerDetailsSub
	select * from ConsumerGOKLedgerDetailsSub where ConsumerGOKLedgerDetailsID in
	(select ConsumerGOKLedgerDetailsID from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and 
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerArrears
	select * from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerArrearDetails
	select * from ConsumerArrearDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerArrearDetailsSub
	select * from ConsumerArrearDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerArrearInterestDetails
	select * from ConsumerArrearInterestDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerArrearInterestDetailsSub
	select * from ConsumerArrearInterestDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	
	insert EnergySyncRevenueMoodabidriHistory.dbo.RevenueComplaints 
	select * from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days)

	insert EnergySyncRevenueMoodabidriHistory.dbo.RevenueComplaintApprovals 
	select * from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days))

	insert EnergySyncRevenueMoodabidriHistory.dbo.RevenueComplaints 
	select * from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) 
	and ComplaintID not in(select ComplaintID from EnergySyncRevenueMoodabidriHistory.dbo.RevenueComplaints)
	
	
	insert EnergySyncRevenueMoodabidriHistory.dbo.RevenueComplaintApprovals 
	select * from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) 
	and ComplaintID not in(select ComplaintID from EnergySyncRevenueMoodabidriHistory.dbo.RevenueComplaints))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillWithdrawals
	select * from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillWithdrawalDetails
	select * from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillWithdrawalDetailsSub
	select * from PreBillWithdrawalDetailsSub where PreBillWithdrawalDetailsID in
	(select PreBillWithdrawalDetailsID from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillRebates
	select * from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillRebateDetails
	select * from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillRebateDetailsSub
	select * from PreBillRebateDetailsSub where PreBillRebateDetailsID in
	(select PreBillRebateDetailsID from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillReadingDetails
	select * from PreBillReadingDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDemands
	select * from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDemandDetails
	select * from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDemandDetailsSub
	select * from PreBillDemandDetailsSub where PreBillDemandDetailsID in
	(select PreBillDemandDetailsID from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDemandAdjustments
	select * from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDemandAdjustmentDetails
	select * from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillDemandAdjustmentDetailsSub
	select * from PreBillDemandAdjustmentDetailsSub where PreBillDemandAdjustmentDetailsID in
	(select PreBillDemandAdjustmentDetailsID from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.PreBillAttributeDetails
	select * from PreBillAttributeDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	





































	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputes
	select * from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeDetails
	select * from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeDetailsSub
	select * from ConsumerDisputeDetailsSub where ConsumerDisputeDetailsID in
	(select ConsumerDisputeDetailsID from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeApprovals
	select * from ConsumerDisputeApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeBillDetails
	select * from ConsumerDisputeBillDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeLedgerDetails
	select * from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeLedgerDetailsSub
	select * from ConsumerDisputeLedgerDetailsSub where ConsumerDisputeLedgerDetailsID in
	(select ConsumerDisputeLedgerDetailsID from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeRegularisationApprovals
	select * from ConsumerDisputeRegularisationApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactions
	select * from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactionDetails
	select * from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactionDetailsSub
	select * from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))
	
	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactions 
	select * from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	and ConsumerDisputeTransactionID not in(select ConsumerDisputeTransactionID from 
	EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactions)

    insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactionDetails
	select * from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	and ConsumerDisputeTransactionID not in(select ConsumerDisputeTransactionID from 
	EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactions))

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactionDetailsSub
	select * from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in	
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	and ConsumerDisputeTransactionID not in(select ConsumerDisputeTransactionID from 
	EnergySyncRevenueMoodabidriHistory.dbo.ConsumerDisputeTransactions)))

	
	insert into EnergySyncRevenueMoodabidriHistory.dbo.ComplaintManagement
	select * from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	insert into EnergySyncRevenueMoodabidriHistory.dbo.ComplaintManagementApprovals
	select * from ComplaintManagementApprovals where ComplaintManagementID in
	(select ComplaintManagementID from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
End
	




































































































































































































































































































































































































































































































































































































































































	
	
	delete from ComplaintManagementApprovals where ComplaintManagementID in
	(select ComplaintManagementID from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	delete from ComplaintManagement where OldBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or NewBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	

	delete from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))
	

	delete from ConsumerDisputeTransactionDetailsSub where ConsumerDisputeTransactionDetailsID in	
	(select ConsumerDisputeTransactionDetailsID from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))

	delete from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	

	delete from ConsumerDisputeTransactionDetails where ConsumerDisputeTransactionID in
	(select ConsumerDisputeTransactionID from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from ConsumerDisputeTransactions where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	delete from ConsumerDisputeTransactions where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerDisputeRegularisationApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	delete from ConsumerDisputeLedgerDetailsSub where ConsumerDisputeLedgerDetailsID in
	(select ConsumerDisputeLedgerDetailsID from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	delete from ConsumerDisputeLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and 
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))
	
	delete from ConsumerDisputeBillDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	delete from ConsumerDisputeApprovals where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	
	delete from ConsumerDisputeDetailsSub where ConsumerDisputeDetailsID in
	(select ConsumerDisputeDetailsID from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	

	delete from ConsumerDisputeDetails where ConsumerDisputeID in
	(select ConsumerDisputeID from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	

	delete from ConsumerDisputes where DisputeBillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	

	




























	
	delete from PreBillAttributeDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	
	delete from PreBillDemandAdjustmentDetailsSub where PreBillDemandAdjustmentDetailsID in
	(select PreBillDemandAdjustmentDetailsID from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))
	
	delete from PreBillDemandAdjustmentDetails where PreBillDemandAdjustmentID in
	(select PreBillDemandAdjustmentID from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))
	
	delete from PreBillDemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillDemandDetailsSub where PreBillDemandDetailsID in
	(select PreBillDemandDetailsID from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from PreBillDemandDetails where PreBillDemandID in
	(select PreBillDemandID from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from PreBillDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillReadingDetails where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillRebateDetailsSub where PreBillRebateDetailsID in
	(select PreBillRebateDetailsID from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from PreBillRebateDetails where PreBillRebateID in
	(select PreBillRebateID from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from PreBillRebates where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from PreBillWithdrawalDetailsSub where PreBillWithdrawalDetailsID in
	(select PreBillWithdrawalDetailsID from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from PreBillWithdrawalDetails where PreBillWithdrawalID in
	(select PreBillWithdrawalID from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from PreBillWithdrawals where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days))

	delete from RevenueComplaintApprovals where ComplaintID in
	(select ComplaintID from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from RevenueComplaints where DistributionNodeMeterAllocationID in(Select DistributionNodeMeterAllocationID from DistributionNodeMeterAllocation
	where DistributionNodeID in (Select DistributionNodeID from consumer where ConsumerID in (@ConsumerID)))
	and complaintdate<(@Today-@Days)	

	delete from RevenueComplaints where oldbillno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0) or newbillno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	delete from ConsumerArrearInterestDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrearInterestDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrearDetailsSub where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrearDetails where ConsumerArrearsID in
	(select ConsumerArrearsID from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerArrears where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	
	delete from ConsumerLedgerDetailsSub where ConsumerLedgerDetailsID in
	(select ConsumerLedgerDetailsID from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	delete  from ConsumerLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))
	
	delete from ConsumerGOKLedgerDetailsSub where ConsumerGOKLedgerDetailsID in
	(select ConsumerGOKLedgerDetailsID from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)))

	delete  from ConsumerGOKLedgerDetails where ConsumerLedgerID in
	(select ConsumerLedgerID from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2))

	delete from ConsumerLedger where ConsumerID in (@ConsumerID) and
	LedgerMonth=month(@BillDate) and LedgerYear=(year(@BillDate)-2)
	
	
	delete from ConsumerLedgerDemandDetailsSub where ConsumerLedgerDemandDetailsID in
	(select ConsumerLedgerDemandDetailsID from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from ConsumerLedgerDemandDetails where ConsumerLedgerDemandsID in
	(select ConsumerLedgerDemandsID from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerLedgerDemands where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)
	
	
	delete from ConsumerLedgerCollectionDetailsSub where ConsumerLedgerCollectionDetailsID in
	(select ConsumerLedgerCollectionDetailsID from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from ConsumerLedgerCollectionDetails where ConsumerLedgerCollectionID in
	(select ConsumerLedgerCollectionID from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from ConsumerLedgerCollections where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	
	
	delete from DemandAdjustmentCollectionDetailsSub where DemandAdjustmentCollectionDetailsID in
	(select DemandAdjustmentCollectionDetailsID from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from DemandAdjustmentCollectionDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from DemandAdjustmentReceiptsDetailsSub where DemandAdjustmentReceiptsDetailsID in
	(select DemandAdjustmentReceiptsDetailsID from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))))

	delete from DemandAdjustmentReceiptsDetails where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in 
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from DemandAdjustmentDetailsSub where DemandAdjustmentDetailsID in
	(select DemandAdjustmentDetailsID from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from DemandAdjustmentDetails where DemandAdjustmentID in
	(select DemandAdjustmentID from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))	

	delete from DemandAdjustments where billno in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)

	









	
	
	
	
	
	
	
	
	
	
	delete from PreCollectionDetails where ToSBMDate<(@Today-@Days)
	
	delete from OtherDemandChargeApprovals where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days))

	delete from OtherDemandChargeDetailsSub where OtherDemandChargeDetailsID in
	(select OtherDemandChargeDetailsID from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID)
	and OtherDemandChargedDate<(@Today-@Days)))

	delete from OtherDemandChargeDetails where OtherDemandChargeID in
	(select OtherDemandChargeID from OtherDemandCharges where ConsumerID in (@ConsumerID) 
	and OtherDemandChargedDate<(@Today-@Days))

	delete from OtherDemandCharges where ConsumerID in (@ConsumerID) and OtherDemandChargedDate<(@Today-@Days)

	
	delete from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails 
	where CollectionAdjustmentDetailsID in(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails 
	where BillNo in(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from CollectionAdjustmentReceiptsDetailsSub where CollectionAdjustmentReceiptsDetailsID in
	(select CollectionAdjustmentReceiptsDetailsID from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))))

	delete from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentReceiptsDetails where CollectionAdjustmentDetailsID in 
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))

	delete from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentApprovals where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))

	delete from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from CollectionAdjustmentJVDetailsSub where CollectionAdjustmentJVDetailsID in
	(select CollectionAdjustmentJVDetailsID from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))

	delete from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentJVDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))

	delete from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0)))

	delete from CollectionAdjustmentDetailsSub where CollectionAdjustmentDetailsID in
	(select CollectionAdjustmentDetailsID from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))
	
	delete from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustmentDetails where CollectionAdjustmentID in
	(select CollectionAdjustmentID from CollectionAdjustments where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))

	delete from CollectionAdjustments where CollectionAdjustmentID in 
	(select CollectionAdjustmentID from CollectionAdjustmentDetails where BillNo in
	(select billno from prebilldetails where billdate<(@BillDate-@Days) and ConsumerID in 
	(@ConsumerID) and ODC=0))

	delete from CollectionAdjustments where ReceiptNo in 
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))
	
	
	
	
	
	

	
	
	
	

	
	
	

	

	delete from ChequeTransactionApprovals where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
	
	delete from ChequeTransactionDetailsSub where ChequeTransactionDetailsID in
	(select ChequeTransactionDetailsID from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))))
	
	delete from ChequeTransactionDetails where ChequeTransactionID in
	(select ChequeTransactionID from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)))
	
	delete from ChequeTransactions where ReceiptNo in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)) 
	
	
	delete from ReceiptCancellationApprovals where ReceiptID in
	(select ReceiptNo from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days))

	delete from Receipts where contactid in (@ConsumerID) and PaymentTypeID=6 and ReceiptDate<(@Today-@Days)
	
	delete from PreBillDetails where ConsumerID in (@ConsumerID) and BillDate<(@BillDate-@Days)
	and ODC=0
END TRY

BEGIN CATCH
	select @ConsumerID
END CATCH
GO
