USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPBD]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_GetPBD]

As

If((Select HistoryUpdate from Today)=1)

Begin

	Declare  @BillDateParam as datetime, @ConsumerIDParam as int
	DECLARE cur_GetPBD CURSOR READ_ONLY FORWARD_ONLY LOCAL FOR 

		Select BillDate  ,ConsumerID   from PreBillDetails where Billed=1 And Updated=1 And ODC=0 And (ReadingDate between (Select HistoryUpdatedDate from Today) and (Select Today from Today))

		OPEN cur_GetPBD

			FETCH NEXT FROM cur_GetPBD INTO @BillDateParam ,@ConsumerIDParam 

			WHILE @@FETCH_STATUS = 0 
				Begin

					exec sp_PBD @BillDateParam,@ConsumerIDParam

					FETCH NEXT FROM cur_GetPBD INTO @BillDateParam,@ConsumerIDParam
				End

		CLOSE cur_GetPBD
		DEALLOCATE cur_GetPBD

	Update Today set HistoryUpdate=1, HistoryUpdatedDate=(select Today from Today)

End
GO
