USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[cpm1cb]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[cpm1cb] @cb bigint,@rno varchar(20)
as
begin
update consumerledger set openingbalance=@cb where consumerid=(select consumerid from consumer where rrno=@rno) and LedgerMonth=4



update c2 set c2.amount=c1.openingbalance
 from consumerledger c1
 inner join ConsumerLedgerDetails c2 on c1.consumerledgerid=c2.consumerledgerid
 inner join consumerledgerdetailssub c4 on c4.consumerledgerdetailsid=c2.consumerledgerdetailsid
 inner join consumerarrears c5 on c5.consumerid=c1.consumerid
 inner join consumerarreardetails c6 on c6.consumerarrearsid=c5.consumerarrearsid
 inner join consumerarreardetailssub c7 on c7.consumerarrearsid=c5.consumerarrearsid
 inner join consumer c3 on c3.consumerid=c1.consumerid
 where ledgermonth=4 and readingdate='2017-4-1' and rrno =@rno

update c4 set c4.amount=c1.openingbalance
 from consumerledger c1
 inner join ConsumerLedgerDetails c2 on c1.consumerledgerid=c2.consumerledgerid
 inner join consumerledgerdetailssub c4 on c4.consumerledgerdetailsid=c2.consumerledgerdetailsid
 inner join consumerarrears c5 on c5.consumerid=c1.consumerid
 inner join consumerarreardetails c6 on c6.consumerarrearsid=c5.consumerarrearsid
 inner join consumerarreardetailssub c7 on c7.consumerarrearsid=c5.consumerarrearsid
 inner join consumer c3 on c3.consumerid=c1.consumerid
 where ledgermonth=4 and readingdate='2017-4-1' and rrno =@rno


update c5 set c5.amount=c1.openingbalance,c5.balance=c1.openingbalance
 from consumerledger c1
 inner join ConsumerLedgerDetails c2 on c1.consumerledgerid=c2.consumerledgerid
 inner join consumerledgerdetailssub c4 on c4.consumerledgerdetailsid=c2.consumerledgerdetailsid
 inner join consumerarrears c5 on c5.consumerid=c1.consumerid
 inner join consumerarreardetails c6 on c6.consumerarrearsid=c5.consumerarrearsid
 inner join consumerarreardetailssub c7 on c7.consumerarrearsid=c5.consumerarrearsid
 inner join consumer c3 on c3.consumerid=c1.consumerid
 where ledgermonth=4 and readingdate='2017-4-1' and rrno =@rno

update c6 set c6.amount=c1.openingbalance,c6.balance=c1.openingbalance
 from consumerledger c1
 inner join ConsumerLedgerDetails c2 on c1.consumerledgerid=c2.consumerledgerid
 inner join consumerledgerdetailssub c4 on c4.consumerledgerdetailsid=c2.consumerledgerdetailsid
 inner join consumerarrears c5 on c5.consumerid=c1.consumerid
 inner join consumerarreardetails c6 on c6.consumerarrearsid=c5.consumerarrearsid
 inner join consumerarreardetailssub c7 on c7.consumerarrearsid=c5.consumerarrearsid
 inner join consumer c3 on c3.consumerid=c1.consumerid
 where ledgermonth=4 and readingdate='2017-4-1' and rrno =@rno

update c7 set c7.amount=c1.openingbalance,c7.balance=c1.openingbalance
 from consumerledger c1
 inner join ConsumerLedgerDetails c2 on c1.consumerledgerid=c2.consumerledgerid
 inner join consumerledgerdetailssub c4 on c4.consumerledgerdetailsid=c2.consumerledgerdetailsid
 inner join consumerarrears c5 on c5.consumerid=c1.consumerid
 inner join consumerarreardetails c6 on c6.consumerarrearsid=c5.consumerarrearsid
 inner join consumerarreardetailssub c7 on c7.consumerarrearsid=c5.consumerarrearsid
 inner join consumer c3 on c3.consumerid=c1.consumerid
 where ledgermonth=4 and readingdate='2017-4-1' and rrno =@rno
end
GO
