USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_BBUPOPUPnew]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Procedure [dbo].[sp_BBUPOPUPnew] @year varchar(20) ,@month varchar(20), @popup varchar(100) 

 AS  
Declare @status varchar(30) select @status=((select parsename(replace(@popup,'-','.'),1)))

Declare @prevbill table (rrno varchar(20),readingdate date,meterreaderid int ,printeddate date,printeddate1 date,ReadingDateAreaAllocationID int,username varchar(30))

insert into @prevbill 
select  rrno,readingdate1,meterreaderid,printeddate,(case when readingdate1>printeddate then readingdate1 end) printeddate1, ReadingDateAreaAllocationID,u.username
 from (
select  p.meterreaderid meterreaderid,isnull(p.readingdate,convert(datetime,concat(@year,'-',@month,'-',r.readingdate),120)) readingdate1, 
a.rrno rrno,p.ConsumerConnectionStatusID,isnull(p.areaid,a.ReadingDateAreaAllocationID) ReadingDateAreaAllocationID from
 (
select consumerid,rrno,year,month,c.ReadingDateAreaAllocationID  from  
(select @year year,@month month ) as Q
cross join Consumer c 
  ) a
 left join  prebilldetails p on  p.consumerid=a.consumerid  and  month(billdate)=@month  and year(billdate)=@year and ConsumerConnectionStatusID=1 and p.arrearbill=1
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=(case when p.areaid is null then  a.ReadingDateAreaAllocationID else p.areaid end )
) A
full join 
(
select  meterreaderid meterreaderid1,printeddate,rrno rrno1 from prebilldetails where  billed=1 and sbm=1  and odc<>1  and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1
) B on A.rrno=B.rrno1 
left join Users u on u.contactid= a.meterreaderid


if @status='Billed'
 begin

select  u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,c.rrno RRNO,c.fileas CONSUMERNAME
from  prebilldetails p 
left join consumer c on p.consumerid=c.consumerid and billed=1 and sbm=1
inner join ReadingdateAreaAllocation r on r.ReadingDateAreaAllocationID=(case when p.areaid is null then  c.ReadingDateAreaAllocationID else p.areaid end )
left join Users u on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
where  u.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(printeddate)=(select parsename(replace(@popup,'-','.'),2)) 
and month(printeddate)=@month    and year(printeddate)=@year
order by tt1.Description ,m.AreaName 
end

else if  @status='Billable'
 begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME, p.rrno RRNO,c.fileas CONSUMERNAME from  @prevbill  p 
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=p.ReadingDateAreaAllocationID
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid= p.meterreaderid
left join consumer c on p.rrno=c.rrno
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid
where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(p.readingdate)<=(select parsename(replace(@popup,'-','.'),2))  and printeddate1 is null 
and p.rrno not in(select rrno from @prevbill where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(p.readingdate)<=(select parsename(replace(@popup,'-','.'),2)) and day(printeddate) >day(readingdate) and day(printeddate) <(select parsename(replace(@popup,'-','.'),2))) 
and p.rrno not in(select rrno from @prevbill where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(readingdate)<(select parsename(replace(@popup,'-','.'),2)) and readingdate=printeddate)

end 

else if @status='unbilled'

 begin
select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME, p.rrno RRNO,c.fileas CONSUMERNAME from  @prevbill  p 
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=p.ReadingDateAreaAllocationID
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid= p.meterreaderid
left join consumer c on p.rrno=c.rrno
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid
where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(p.readingdate)<=(select parsename(replace(@popup,'-','.'),2))  
and p.rrno not in(select rrno from @prevbill where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(readingdate)<=(select parsename(replace(@popup,'-','.'),2)) and readingdate=printeddate1)
and p.rrno not in(select rrno from @prevbill where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(readingdate)<=(select parsename(replace(@popup,'-','.'),2)) and readingdate=printeddate)
and p.rrno not in(select rrno from @prevbill where p.username like concat((select parsename(replace(@popup,'-','.'),3)),'%')   and day(p.readingdate)<=(select parsename(replace(@popup,'-','.'),2)) and day(readingdate)<=day(printeddate) and day(printeddate) <=(select parsename(replace(@popup,'-','.'),2)))

end
GO
