USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[SP_ToCheckApprovals]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SP_ToCheckApprovals]
(@ActivityID int,
@ContactID int)


as

declare @V_Create as bit
declare @V_View as bit
declare @V_Modify as bit

begin 

select @V_Create=daa.createe,
    @V_View=daa.Vieww,
    @V_Modify=daa.Modifyy
    From ApprovalDetails  d  
    left join OfficeDepartmentDesignationAllocation d1 on d.ApproverODDID = d1.OfficeDepartmentDesignationAllocationID   
    left join OfficeDepartmentAllocation oda on oda.OfficeDepartmentAllocationID = d1.OfficeDepartmentAllocationID  
    left join ODLDAllocation odl on odl.OfficeID = oda.OfficeID and odl.DepartmentID = oda.DepartmentID and d1.DesignationID = odl.DesignationID  
    left join Employee e on e.ODLDID = odl.ODLDID  
    left join Contacts cont on cont.ContactID = e.ContactID  
    left join DesignationActivityAllocation daa on daa.OfficeDepartmentDesignationAllocationID=d1.OfficeDepartmentDesignationAllocationID  
    left join Activity a on a.ActivityID=daa.ActivityID  
where daa.ActivityID = @ActivityID  and cont.ContactID = @ContactID

      
                   select StatusID,Description,ShowNextApprover From Status
end

GO
