USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MRCPopup]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_MRCPopup] @status int ,@popup varchar(100) 
as
if @status=1
begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,p.rrno RRNO, r.description Revenuereason
from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=3 
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join ReadingdateAreaAllocation r1 on r1.ReadingDateAreaAllocationID= p.areaid
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=a.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r1.MeterReadingAreaID=m.MeterReadingAreaID
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
and r.description=(select parsename(replace(@popup,'-','.'),1)) and u.username=(select parsename(replace(@popup,'-','.'),2))

end

if @status=2
begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,p.rrno RRNO, r.description Revenuereason
from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=6
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join ReadingdateAreaAllocation r1 on r1.ReadingDateAreaAllocationID= p.areaid
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=a.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r1.MeterReadingAreaID=m.MeterReadingAreaID
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
and r.description=(select parsename(replace(@popup,'-','.'),1)) and u.username=(select parsename(replace(@popup,'-','.'),2))

end

if @status=3
begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,p.rrno RRNO, r.description Revenuereason
from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-9, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=9 
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join ReadingdateAreaAllocation r1 on r1.ReadingDateAreaAllocationID= p.areaid
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=a.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r1.MeterReadingAreaID=m.MeterReadingAreaID
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
and r.description=(select parsename(replace(@popup,'-','.'),1)) and u.username=(select parsename(replace(@popup,'-','.'),2))

end

if @status=4
begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,p.rrno RRNO, r.description Revenuereason
from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-12, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=12
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join ReadingdateAreaAllocation r1 on r1.ReadingDateAreaAllocationID= p.areaid
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=a.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r1.MeterReadingAreaID=m.MeterReadingAreaID
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
and r.description=(select parsename(replace(@popup,'-','.'),1)) and u.username=(select parsename(replace(@popup,'-','.'),2))

end
GO
