USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[cpmcbupdate]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[cpmcbupdate] @rrnum varchar(8000)
as
begin

update c1 set c1.openingbalance=p1.minimumamountdue
from prebilldetails p1
inner join consumerledger c1 on p1.consumerid=c1.ConsumerID
inner join consumerledgerdetails c2 on c2.consumerledgerid=c1.consumerledgerid
inner join consumerledgerdetailssub c3 on c3.ConsumerLedgerDetailsID=c2.ConsumerLedgerDetailsID
inner join consumerarrears c4 on c4.consumerid=c1.consumerid
inner join consumerarreardetails c5 on c5.consumerarrearsid=c4.ConsumerArrearsID
inner join ConsumerArrearDetailsSub c6 on c6.ConsumerArrearsID=c5.ConsumerArrearsID
where tosbmdate is null and rrno in(@rrnum)


update c2 set c2.amount=p1.minimumamountdue
from prebilldetails p1
inner join consumerledger c1 on p1.consumerid=c1.ConsumerID
inner join consumerledgerdetails c2 on c2.consumerledgerid=c1.consumerledgerid
inner join consumerledgerdetailssub c3 on c3.ConsumerLedgerDetailsID=c2.ConsumerLedgerDetailsID
inner join consumerarrears c4 on c4.consumerid=c1.consumerid
inner join consumerarreardetails c5 on c5.consumerarrearsid=c4.ConsumerArrearsID
inner join ConsumerArrearDetailsSub c6 on c6.ConsumerArrearsID=c5.ConsumerArrearsID
where tosbmdate is null and rrno in(@rrnum)


update c3 set c3.amount=p1.minimumamountdue
from prebilldetails p1
inner join consumerledger c1 on p1.consumerid=c1.ConsumerID
inner join consumerledgerdetails c2 on c2.consumerledgerid=c1.consumerledgerid
inner join consumerledgerdetailssub c3 on c3.ConsumerLedgerDetailsID=c2.ConsumerLedgerDetailsID
inner join consumerarrears c4 on c4.consumerid=c1.consumerid
inner join consumerarreardetails c5 on c5.consumerarrearsid=c4.ConsumerArrearsID
inner join ConsumerArrearDetailsSub c6 on c6.ConsumerArrearsID=c5.ConsumerArrearsID
where tosbmdate is null and rrno in(@rrnum)


update c4 set c4.amount=p1.minimumamountdue,c4.balance=p1.minimumamountdue
from prebilldetails p1
inner join consumerledger c1 on p1.consumerid=c1.ConsumerID
inner join consumerledgerdetails c2 on c2.consumerledgerid=c1.consumerledgerid
inner join consumerledgerdetailssub c3 on c3.ConsumerLedgerDetailsID=c2.ConsumerLedgerDetailsID
inner join consumerarrears c4 on c4.consumerid=c1.consumerid
inner join consumerarreardetails c5 on c5.consumerarrearsid=c4.ConsumerArrearsID
inner join ConsumerArrearDetailsSub c6 on c6.ConsumerArrearsID=c5.ConsumerArrearsID
where tosbmdate is null and rrno in(@rrnum)


update c5 set c5.amount=p1.minimumamountdue,c5.balance=p1.minimumamountdue
from prebilldetails p1
inner join consumerledger c1 on p1.consumerid=c1.ConsumerID
inner join consumerledgerdetails c2 on c2.consumerledgerid=c1.consumerledgerid
inner join consumerledgerdetailssub c3 on c3.ConsumerLedgerDetailsID=c2.ConsumerLedgerDetailsID
inner join consumerarrears c4 on c4.consumerid=c1.consumerid
inner join consumerarreardetails c5 on c5.consumerarrearsid=c4.ConsumerArrearsID
inner join ConsumerArrearDetailsSub c6 on c6.ConsumerArrearsID=c5.ConsumerArrearsID
where tosbmdate is null and rrno in(@rrnum)

update c6 set c6.amount=p1.minimumamountdue,c6.balance=p1.minimumamountdue
from prebilldetails p1
inner join consumerledger c1 on p1.consumerid=c1.ConsumerID
inner join consumerledgerdetails c2 on c2.consumerledgerid=c1.consumerledgerid
inner join consumerledgerdetailssub c3 on c3.ConsumerLedgerDetailsID=c2.ConsumerLedgerDetailsID
inner join consumerarrears c4 on c4.consumerid=c1.consumerid
inner join consumerarreardetails c5 on c5.consumerarrearsid=c4.ConsumerArrearsID
inner join ConsumerArrearDetailsSub c6 on c6.ConsumerArrearsID=c5.ConsumerArrearsID
where tosbmdate is null and rrno in(@rrnum)

end


GO
