USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserttariff]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_inserttariff]
 @Description varchar(max)=null, 
@UnderTariffID varchar(max)=null,
@Tatiffcode  varchar(max)=null,
@ConsumerBillingCycleID varchar(max)=null, 
@SanctionedLoadRoundOffTypeID varchar(max)=null,
@TimeOfDayTariff varchar(max) =null, 
@MinimumInterest  varchar(max)=null, 
@AgreementTerminationPeriod  varchar(max)=null,
@GovernmentPayment varchar(max)=null,
@MinimumArrears varchar(max)=null,
@DCBTariff varchar(max)=null,
@VoltageClassID varchar(max)=null,
@MinimumDemand varchar(max)=null,
@EffectiveDate varchar(max)=null,
@Billable varchar(max)=null,
@DisconnectionArrearLowerLimit varchar(max)=null,
@DisconnectionArrearUpperLimit varchar(max)=null,
@TemporaryConnection varchar(max)=null,
@RevenueBillTypeID varchar(max)=null
AS
SET NOCOUNT ON

insert  into Tariffs
select (select max(TariffID)+1 From Tariffs) t ,@Description, @UnderTariffID, @Tatiffcode, 
@ConsumerBillingCycleID, @SanctionedLoadRoundOffTypeID, @TimeOfDayTariff, @MinimumInterest, @AgreementTerminationPeriod, 
@GovernmentPayment, @MinimumArrears, @DCBTariff, @VoltageClassID, @MinimumDemand, @EffectiveDate, @Billable, @DisconnectionArrearLowerLimit,
 @DisconnectionArrearUpperLimit, @TemporaryConnection, 1, @RevenueBillTypeID

insert into  EnergyChargeSlabPeriods
select (select max(EnergyChargeSlabPeriodID)+1 From EnergyChargeSlabPeriods ) j ,TariffID,case when  month(getdate())<=3 then  
cast((year(getdate())-1) as varchar(10))
else 
cast((year(getdate())) as varchar(10))
end fyear,
case when  month(getdate())<=3 then  
(cast((year(getdate())) as varchar(10)))
else 
cast((year(getdate())+1) as varchar(10))
end Tyear,null,EffectiveDate,0,0
from Tariffs where Description=@Description
GO
