USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[cpm4constatus]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cpm4constatus] @status int,@rno varchar(20)
as
begin

update consumer set ConsumerConnectionStatusID=@status where RRNO=@rno

end
GO
