USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_BBU]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BBU] @year varchar(10) ,@month varchar(10),@meterreader varchar(30)

 AS SET NOCOUNT ON
declare @sql1 varchar(max)
Declare @prevbill table (rn int,UserName Varchar(50),date Date,billable int,billed int,unbilled int)


insert into @prevbill
select row_number() over(partition  by u.username order by  u.username,printeddate) rn,u.username,
(case when printeddate is null then convert(datetime,concat(Year,'-',Month,'-','1'),120) else printeddate end ) date,count(a.consumerid) Billable,
(case when printeddate is not null then counT(areaid) 
when printeddate is null then sum(isnull(areaid,0))  end) Billed,count(a.consumerid) -
(case when printeddate is not null then counT(areaid) 
when printeddate is null then sum(isnull(areaid,0))  end) Unbilled
from
 (
select consumerid,rrno,year,month,c.ReadingDateAreaAllocationID  from  
(select @year year,@month month ) as Q
cross join Consumer c 
 where   ConsumerConnectionStatusID=1 ) a

left join  prebilldetails p on  p.consumerid=a.consumerid and billed=1 and sbm=1  and odc<>1 and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=(case when p.areaid is null then  a.ReadingDateAreaAllocationID else p.areaid end )
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid=(case when p.meterreaderid is null then r.meterreaderid else p.meterreaderid end)
where u.contactid in  (select data from split(@meterreader,','))
group by u.username, printeddate,(case when printeddate is null then convert(datetime,concat(Year,'-',Month,'-','1'),120) else printeddate end )


select username,date,concat(left(username,6),'-',day(date),'-',status) status,count  from (select username  ,convert(varchar(10),date) date ,status,count from (select u.username,u.date,(Case when u.rn=1 then billable1 else (u.Billable1-sum(b.billed)) end) Billable,u.billed, ((Case when u.rn=1 then billable1 else (u.Billable1-sum(b.billed)) end) -u.billed) unbilled 
from (select *,(select sum(billable) from @prevbill p where p.username=u.username group by username) Billable1
from @prevbill u ) u
full join @prevbill b on  u.username=b.username and b.rn<u.rn
where u.username is not null
group by  u.Billable1,u.username,u.date,u.billed,u.rn) s
unpivot
(
  count
  for status in (Billable ,billed, unbilled )
) u
) A order by username,date 
GO
