USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[updatetariff]    Script Date: 15-06-2026 10:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updatetariff] @tariff varchar(200),@rrno varchar(100)
as
begin


update c1 set C1.TARIFFID=t1.tariffid
 from prebilldetails p1 
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join consumer c1 on c1.ConsumerID=p1.consumerid and c1.RRNO=p1.RRNo
inner join DistributionNodeMeterAllocation d1 on d1.distributionnodeid=c1.DistributionNodeID 
inner join MeterDetails m1 on m1.MeterID=d1.MeterID
left join Tariffs t1 on t1.Description=@tariff
where p1.RRNo=@rrno

update p1 set p1.TARIFFID=t1.tariffid
 from prebilldetails p1 
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join consumer c1 on c1.ConsumerID=p1.consumerid and c1.RRNO=p1.RRNo
inner join DistributionNodeMeterAllocation d1 on d1.distributionnodeid=c1.DistributionNodeID 
inner join MeterDetails m1 on m1.MeterID=d1.MeterID
left join Tariffs t1 on t1.Description=@tariff
where p1.RRNo=@rrno



update p2 set p2 .TARIFFID=t1.tariffid
 from prebilldetails p1 
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join consumer c1 on c1.ConsumerID=p1.consumerid and c1.RRNO=p1.RRNo
inner join DistributionNodeMeterAllocation d1 on d1.distributionnodeid=c1.DistributionNodeID 
inner join MeterDetails m1 on m1.MeterID=d1.MeterID
left join Tariffs t1 on t1.Description=@tariff
where p1.RRNo=@rrno





update meterdetails set tariffid=(select tariffid from tariffs  where description=@tariff) 
where meterid in(select m1.meterid
from prebilldetails p1 
inner join prebillreadingdetails p2 on p1.billno=p2.billno
inner join consumer c1 on c1.ConsumerID=p1.consumerid and c1.RRNO=p1.RRNo
inner join DistributionNodeMeterAllocation d1 on d1.distributionnodeid=c1.DistributionNodeID 
inner join MeterDetails m1 on m1.MeterID=d1.MeterID

where p1.RRNo=@rrno)

end

GO
