USE [ESMCCBantwal]
GO
/****** Object:  StoredProcedure [dbo].[Consumption]    Script Date: 15-06-2026 10:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Consumption](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)

select @sql='
select A.TariffID,A.WardName,A.Total,A.Live,C.Normal,C.AbNormal,C.SubNormal
from

(select dcb.TariffID,dcb.WardName,count(*) as Total,sum(case when dcb.ConsumerConnectionStatusID=1 then 1 end) as Live
from DCBDetails dcb
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') 
'+@var+'
group by dcb.TariffID,dcb.WardName) as A

inner join

(select dcb.TariffID,dcb.WardName,sum(case when dcb.ConsumptionTypeID=3 then 1 else 0 end) as Normal,sum(case when dcb.ConsumptionTypeID=1 then 1 else 0 end) as Subnormal,
sum(case when dcb.ConsumptionTypeID=2 then 1 else 0 end) as Abnormal
from DCBDetails dcb
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') 
'+@var+'
group by dcb.TariffID,dcb.WardName) as C on A.TariffID=C.TariffID and A.WardName=C.WardName
order by  dbo.ExpandNumbers(A.WardName,10) ASC'

exec(@sql)

GO
