USE [ESMCCBantwal]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_CollectionAdjustments]    Script Date: 15-06-2026 10:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--USE ESMCCBantwal



create PROCEDURE [dbo].[SP_ETL_CollectionAdjustments] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select CollectionAdjustmentID,CollectionAdjustmentTypeID,FromConsumerID,ToConsumerID,AllocationStatementPresetDataID,AdjustmentDate,ReceiptNo,ReceiptDate,CashCounterID
,CashCounterOLID,EffectiveDate,JVOrAdjustmentNo,JVOrAdjustmentDate,Amount,CollectionBalance,DemandBalance,Cancel,Approved,UpdatedFromBillNo,UpdatedToBillNo,TransSequenceID
,Updated,Accessed,AccessedBy,CreatedOn,CreatedBy,GetDate() dashboardupdated 
from '+@DBName+'CollectionAdjustments a cross join '+@DBName+'Today
where month(adjustmentdate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(adjustmentdate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
and isnull(Amount,0)!=0
Order by CollectionAdjustmentID
'exec (@Sql)



GO
