USE [ESMCCBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_DCB_MonthWise]    Script Date: 15-06-2026 10:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DCB_MonthWise] @FromDate varchar(20) ,@ToDate varchar(20) ,@RRNo varchar(50) 
AS 




Declare @ConsumerID Int =isnull((select ConsumerID from Consumer With(nolock) where RRNo=@RRNo),0) 


Declare @Adj Table (ConsumerID Int,AdjAmount Money,MonthID Int,YearID Int) 
Insert into @Adj
select ToConsumerID,Sum(Amount) Amount,Month(AdjustmentDate) MonthID,Year(AdjustmentDate) YearID
from D_collectionadjustments with (nolock) where CollectionAdjustmentTypeID = 3 and Approved=1 
and AdjustmentDate Between @FromDate and @ToDate 
and (case when @ConsumerID=0 then 0 else ToConsumerID end)=@ConsumerID
Group By ToConsumerID,Month(AdjustmentDate),Year(AdjustmentDate)

Declare @PBD Table (ConsumerID Int,MonthID Int,YearID Int) 
Insert Into @PBD
select ConsumerID,Month(DemandRaisedDate) MonthID,Year(DemandRaisedDate) YearID 
from D_prebilldetails with (nolock) where Billed=1 and SBM=1 
and DemandRaisedDate Between @FromDate and @ToDate 
and (case when @ConsumerID=0 then 0 else ConsumerID end)=@ConsumerID


Declare @DCB1 table (SlNo Int,PCOnsumerID Int,DCBYear Int,DCBMonth Int,ConsumerID int,RRNo Varchar(50),ConsumerConnectionStatusID int, Tariffid int,ArrearBill bit,Installation int,Consumption numeric,Consumption1 numeric,Office varchar(max),Location varchar(max),Tariffs varchar(max),WardName varchar(max),BlockName varchar(max),OB money,Demand money,DemandColl Money,Collection money,Adjustments money,CollectionAdjAmount money)
insert into @DCB1
select (Row_Number() Over (Partition By d.ConsumerID Order By d.ConsumerID,DCBYear,DCBMonth)) SLNo
,p.ConsumerID,DCBYear,DCBMonth,d.ConsumerID,RRNo,d.ConsumerConnectionStatusID,d.tariffid,d.ArrearBill,(case when d.tariffid<>1999 then 1 else 0 end) as Installation 
,Consumption,0 as Consumption1,Officename as Office,LocationName as Location,t.Description as Tariffs,WardName,BlockName
,OB,Demand,DemandColl,Collection,AdJustment,CollectionAdjAmount from ( 

select DCBYear,DCBMonth,d.ConsumerID,d.OLID,d.ConsumerConnectionStatusID,d.tariffid,d.ArrearBill,(isnull(d.Consumption,0)) as Consumption,isnull(d.WardName,'-') as WardName
,(case when len(d.BlockName)<=6 then ' -' else (ltrim(rtrim(left(d.BlockName,6)))+(case when len(ltrim(rtrim(right(d.BlockName,len(d.BlockName)-6))))=1 then '0'+ltrim(rtrim(right(d.BlockName,len(d.BlockName)-6))) else ltrim(rtrim(right(d.BlockName,len(d.BlockName)-6))) end)) end) as BlockName

,(round(Round((d.OpeningBalanceFixedCharge+d.OpeningBalanceEnergyCharge+d.OpeningBalanceRevenueOthers+d.OpeningBalanceInterest+d.OpeningBalanceTax+d.OpeningBalanceSupervisionFee+d.OpeningBalanceMeterRent+d.OpeningBalanceDandR),1),0)+
round(Round((d.GOKOBFixedCharge+d.GOKOBEnergyCharge+d.GOKOBRevenueOthers+d.GOKOBInterest+d.GOKOBTax+d.GOKOBSupervisionFee+
d.GOKOBMeterRent),1),0)) OB

,(round(Round((d.DemandRevenueFixedCharge+d.DemandRevenueEnergyCharge+d.DemandRevenueOthers+d.DemandInterest+d.DemandTax+d.DemandSupervisionFee+d.DemandMeterRent+d.PFPenalty+d.OtherCharges+
d.Rebate+d.DemandCorrection+d.DemandDRCharges+d.DemandRoundOff),2),0)+round(Round((d.GOKDemandRevenueFixedCharge+d.GOKDemandRevenueEnergyCharge+d.GOKDemandRevenueOthers
+d.GOKDemandInterest+d.GOKDemandTax+d.GOKDemandSupervisionFee+d.GOKDemandMeterRent),2),0)) as Demand

,round(round((d.CollectionRevenueFixedCharge+d.CollectionRevenueEnergyCharge+d.CollectionSupervisionFee+d.CollectionMeterRent),2),0) DemandColl

,round(round((d.CollectionRevenueFixedCharge+d.CollectionRevenueEnergyCharge+d.CollectionRevenueOthers+d.CollectionInterest+d.CollectionTax+d.CollectionSupervisionFee+d.CollectionMeterRent+d.CollectionBalance
+d.CollectionDRCharges+d.CollectionSuspense-d.CollectionDHAmount),2),0) as Collection

,round(round((isnull(d.CollectionCBTransfer,0)+isnull(d.CollectionLTOLRevenueFixedCharge,0)+isnull(d.CollectionLTOLRevenueEnergyCharge,0)+isnull(d.CollectionLTOLRevenueOthers,0)+isnull(d.CollectionLTOLInterest,0)+isnull(d.CollectionLTOLTax,0)+isnull(d.CollectionLTOLSupervisionFee,0)+isnull(d.CollectionLTOLMeterRent,0)+isnull(d.CollectionLTOLBalance,0)+isnull(d.CollectionMiscToRevenueFixedCharge,0)+isnull(d.CollectionMiscToRevenueEnergyCharge,0)+isnull(d.CollectionMiscToRevenueOthers,0)+isnull(d.CollectionMiscToRevenueInterest,0)+isnull(d.CollectionMiscToRevenueTax,0)+isnull(d.CollectionMiscToRevenueSupervisionFee,0)+isnull(d.CollectionMiscToRevenueMeterRent,0)+isnull(d.CollectionMiscToRevenueBalance,0)+isnull(d.CollectionRevenueToMisc,0)+isnull(d.CollectionDepositToRevenueFixedCharge,0)+isnull(d.CollectionDepositToRevenueEnergyCharge,0)+isnull(d.CollectionDepositToRevenueOthers,0)
+isnull(d.CollectionDepositToRevenueInterest,0)+isnull(d.CollectionDepositToRevenueTax,0)+isnull(d.CollectionDepositToRevenueSupervisionFee,0)+isnull(d.CollectionDepositToRevenueMeterRent,0)+isnull(d.CollectionDepositToRevenueBalance,0)+isnull(d.CollectionWithdrawlsRevenueFixedCharge,0)+isnull(d.CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(d.CollectionWithdrawlsRevenueOthers,0)+isnull(d.CollectionWithdrawlsInterest,0)+isnull(d.CollectionWithdrawlsTax,0)+isnull(d.CollectionWithdrawlsSupervisionFee,0)+isnull(d.CollectionWithdrawlsMeterRent,0)+isnull(d.CollectionWithdrawlsBalance,0)+isnull(d.CollectionOfficeAdjustmentFixedCharge,0)+isnull(d.CollectionOfficeAdjustmentEnergyCharge,0)+isnull(d.CollectionOfficeAdjustmentOthers,0)+isnull(d.CollectionOfficeAdjustmentInterest,0)+isnull(d.CollectionOfficeAdjustmentTax,0)+isnull(d.CollectionOfficeAdjustmentSupervisionFee,0)
+isnull(d.CollectionOfficeAdjustmentMeterRent,0)+isnull(d.CollectionOfficeAdjustmentBalance,0)+isnull(d.CollectionOfficeLightingJVFixedCharge,0)+isnull(d.CollectionOfficeLightingJVEnergyCharge,0)+isnull(d.CollectionOfficeLightingJVOthers,0)+isnull(d.CollectionOfficeLightingJVInterest,0)+isnull(d.CollectionOfficeLightingJVTax,0)+isnull(d.CollectionOfficeLightingJVSupervisionFee,0)+isnull(d.CollectionOfficeLightingJVMeterRent,0)+isnull(d.CollectionOfficeLightingJVBalance,0)+isnull(d.CollectionLT6JVFixedCharge,0)+isnull(d.CollectionLT6JVEnergyCharge,0)+isnull(d.CollectionLT6JVRevenueOthers,0)+isnull(d.CollectionLT6JVInterest,0)+isnull(d.CollectionLT6JVTax,0)+isnull(d.CollectionLT6JVSupervisionFee,0)+isnull(d.CollectionLT6JVMeterRent,0)+isnull(d.CollectionLT6JVBalance,0)+isnull(d.CollectionJVOthers,0)+isnull(d.CollectionJVOthersBalance,0)+isnull(d.CollectionDisputeToJVFixedCharge,0)
+isnull(d.CollectionDisputeToJVEnergyCharge,0)+isnull(d.CollectionDisputeToJVRevenueOthers,0)+isnull(d.CollectionDisputeToJVInterest,0)+isnull(d.CollectionDisputeToJVTax,0)+isnull(d.CollectionDisputeToJVSupervisionFee,0)+isnull(d.CollectionDisputeToJVMeterRent,0)+isnull(d.CollectionDisputeToJVBalance,0)+isnull(d.GOKCollectionRevenueFixedCharge,0)+isnull(d.GOKCollectionRevenueEnergyCharge,0)+isnull(d.GOKCollectionRevenueOthers,0)+isnull(d.GOKCollectionInterest,0)+isnull(d.GOKCollectionTax,0)+isnull(d.GOKCollectionSupervisionFee,0)
+isnull(d.GOKCollectionMeterRent,0)+isnull(d.GOKCollectionBalance,0)),2),0) as Adjustment,0 as CollectionAdjAmount

from (select * from DCB with (nolock) where Convert(datetime,(Cast(DCBYear as varchar(4))+'-'+cast(DCBMOnth as varchar(2))+'-1')) Between @FromDate and @ToDate) D1 
Inner Join DCBDetails d with (nolock) on d.DCBID=d1.DCBID and (case when @ConsumerID=0 then 0 else d.ConsumerID end)=@ConsumerID
) D 
left join @PBD p on p.ConsumerID=d.ConsumerID and p.YearID=d.DCBYear and p.MonthID=d.DCBMonth
left join Consumer cn with (nolock) on cn.ConsumerID=d.ConsumerID
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=d.OLID
left join Office o with (nolock) on o.OfficeID=ola.OfficeID
left join Location L with (nolock) on l.LocationID=ola.LocationID
left join Tariffs t with (nolock) on t.TariffID=d.TariffID















select SLNo,Office,Location,Tariffs,WardName,BlockName,a.ConsumerID,RRNo,DCBYear,DCBMonth



,Installation,(case when row=1 and ConsumerConnectionStatusID=1 then 1 else 0 end) ConsumerConnectionStatusID 

,(case when isnull(PConsumerID,0)=0 then 0 else 1 end) ArrearBill
,Consumption,TotalOB,Demand,DemandColl,(Collection+isnull(AdjAmount,0)) Collection ,(Adjustments-isnull(AdjAmount,0)) Adjustments,ClosingBalance from(

select SLNo,PConsumerID,DCBYear,DCBMonth,ROW_NUMBER() OVER(PARTITION BY consumerid,DCBYear,DCBMonth ORDER BY consumerid,DCBYear,DCBMonth,ArrearBill desc) AS Row 
,consumerid,RRNo,Installation,ConsumerConnectionStatusID, 
ArrearBill,(case when tariffid=1999 then (Consumption-Consumption1) else  Consumption end )as Consumption,Office,Location,Tariffs,WardName,BlockName
,OB as TotalOB,Demand,DemandColl,(Collection-CollectionAdjAmount) Collection,Adjustments,(case when WardName='Z-Revenue Suspense' then 0 else (OB+Demand)-(Collection+Adjustments) end) as ClosingBalance
from @DCB1 d 
) a left join @Adj Adj on adj.ConsumerID=a.ConsumerID and adj.YearID=a.DCBYear and adj.MonthID=a.DCBMonth
where (ABS(isnull(TotalOB,0))+ABS(isnull(Demand,0))+ABS(isnull(Collection,0))+ABS(isnull(AdjAmount,0))+ABS(isnull(Adjustments,0))+ABS(isnull(ClosingBalance,0)))!=0 


order by ConsumerID,SLNo


GO
