USE [ESMCCBantwal]
GO
/****** Object:  StoredProcedure [dbo].[MapBill]    Script Date: 15-06-2026 10:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MapBill](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)

select @sql='
select distinct dcb.ConsumerID,d.DistributionNodeUserDefinedFieldValue Lattitude,e.DistributionNodeUserDefinedFieldValue Longitude,
(case when isnull(dcb.ArrearBill,0)=1 then ''Billed'' else ''Unbilled'' end) as Bill,dcb.DCBID
from DCBDetails dcb
inner join(select ConsumerID,DistributionNodeID from Consumer ) as c on dcb.ConsumerID=c.ConsumerID
inner join DistributionNodeSub d on c.DistributionNodeID=d.DistributionNodeID and d.DistributionNodeUserDefinedFieldID=52
inner join DistributionNodeSub e on c.DistributionNodeID=e.DistributionNodeID and e.DistributionNodeUserDefinedFieldID=53
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') and ConsumerConnectionStatusID=1
'+@var+''
exec(@sql)
GO
