USE [ESMCCBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_WardWiseDCB_Old]    Script Date: 15-06-2026 10:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--drop procedure sp_WardWiseDCB

CREATE  Procedure [dbo].[sp_WardWiseDCB_Old]
@DCBIDString varchar(500)
AS
BEGIN
Declare @sql varchar(7000)

Set @sql='Select  (1) as Installation, (Select sum(isnull(D.Consumption,0)) from DCBDetails D where D.DCBID in ('+ @DCBIDString+')  and D.ConsumerID in (DCBDetails.ConsumerID)) as      
              Consumption,  (Select OfficeName from Office where OfficeID in     
 	(Select OfficeID from OfficeLocationAllocation OLA where OLA.OfficeLocationAllocationID in     
	(Select OLID from Consumer C where C.ConsumerID=DCBDetails.ConsumerID))) as Office,     
	(Select LocationName from Location where LocationID in     
	(Select LocationID from OfficeLocationAllocation OLA where OLA.OfficeLocationAllocationID in     
	(Select OLID from Consumer C where C.ConsumerID=DCBDetails.ConsumerID))) as Location,     
	(Select Description from Tariffs where TariffID=DCBDetails.TariffID) as Tariffs,     
	(DCBDetails.WardName) as WardName, (DCBDetails.BlockName) as BlockName,     
	(Select sum(D.OpeningBalanceFixedCharge+D.OpeningBalanceEnergyCharge+D.OpeningBalanceRevenueOthers+     
	D.OpeningBalanceMeterRent+D.OpeningBalanceSupervisionFee)     
	from DCBDetails D where D.DCBID in (Select min(DCBID) from DCB where DCBID in  (' + @DCBIDString + ')  )     
	and D.ConsumerID=DCBDetails.ConsumerID) as TotalOB,     
	sum((DemandRevenueFixedCharge+DCBDetails.DemandRevenueEnergyCharge+DemandRevenueOthers +PFPenalty +Rebate   
	+DCBDetails.DemandCorrection+DCBDetails.DemandDRCharges   
	+DemandRoundOff+GOKToConsumerAmount+DemandMeterRent+DemandSupervisionFee)) as Demand,     
	 sum((CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+   
	DCBDetails.CollectionDHAmount+CollectionDRCharges+CollectionBalance+CollectionSupervisionFee+  CollectionMeterRent +     
        CollectionLTOLRevenueFixedCharge+CollectionLTOLRevenueEnergyCharge + CollectionLTOLRevenueOthers   
	 +CollectionMiscToRevenueFixedCharge+CollectionMiscToRevenueEnergyCharge+CollectionMiscToRevenueOthers   
	 +CollectionDepositToRevenueFixedCharge+CollectionDepositToRevenueEnergyCharge +CollectionDepositToRevenueOthers   
	+CollectionWithdrawlsRevenueFixedCharge+CollectionWithdrawlsRevenueEnergyCharge+CollectionWithdrawlsRevenueOthers   
	 +CollectionOfficeAdjustmentFixedCharge+CollectionOfficeAdjustmentEnergyCharge+CollectionOfficeAdjustmentOthers   
	+CollectionOfficeLightingJVFixedCharge+CollectionOfficeLightingJVEnergyCharge+CollectionOfficeLightingJVOthers   
	 +CollectionLT6JVFixedCharge+CollectionLT6JVEnergyCharge+CollectionLT6JVRevenueOthers+CollectionSuspense   
	 +CollectionCBTransfer +CollectionLTOLBalance + CollectionMiscToRevenueBalance+  CollectionDepositToRevenueBalance   
	+CollectionWithdrawlsBalance+CollectionOfficeAdjustmentBalance+CollectionOfficeLightingJVBalance   
	+CollectionLT6JVBalance+CollectionDisputeToJVBalance+GOKCollectionBalance   
	+CollectionMiscToRevenueSupervisionFee+CollectionDepositToRevenueSupervisionFee+CollectionWithdrawlsSupervisionFee+        
        CollectionOfficeAdjustmentSupervisionFee+CollectionOfficeLightingJVSupervisionFee   
	+CollectionLT6JVSupervisionFee+CollectionDisputeToJVSupervisionFee+   CollectionLTOLMeterRent   
	+CollectionMiscToRevenueMeterRent+CollectionDepositToRevenueMeterRent+CollectionWithdrawlsMeterRent   
	+CollectionOfficeAdjustmentMeterRent+CollectionOfficeLightingJVMeterRent   
	+CollectionLT6JVMeterRent+CollectionDisputeToJVMeterRent)) as Collection,   
	(Select sum(D.OpeningBalanceFixedCharge+D.OpeningBalanceEnergyCharge+D.OpeningBalanceRevenueOthers+     
	D.OpeningBalanceMeterRent+D.OpeningBalanceSupervisionFee) from DCBDetails D     
	where D.DCBID in (Select min(DCBID) from DCB where DCBID in   (' + @DCBIDString +')    )and D.ConsumerID=DCBDetails.ConsumerID)     
	+ sum((DemandRevenueFixedCharge+ DemandRevenueEnergyCharge+ DemandRevenueOthers +PFPenalty +Rebate   
	+DemandCorrection+DemandDRCharges+DemandRoundOff+GOKToConsumerAmount+DemandMeterRent+DemandSupervisionFee)) +     
	-( sum((CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionDHAmount+       
	CollectionDRCharges+CollectionBalance+CollectionSupervisionFee+    CollectionMeterRent +     
        CollectionLTOLRevenueFixedCharge+CollectionLTOLRevenueEnergyCharge + DCBDetails.CollectionLTOLRevenueOthers)   
	 +CollectionMiscToRevenueFixedCharge+CollectionMiscToRevenueEnergyCharge+CollectionMiscToRevenueOthers   
	 +CollectionDepositToRevenueFixedCharge+CollectionDepositToRevenueEnergyCharge   
	 +CollectionDepositToRevenueOthers+CollectionWithdrawlsRevenueFixedCharge+CollectionWithdrawlsRevenueEnergyCharge   
	+CollectionWithdrawlsRevenueOthers +CollectionOfficeAdjustmentFixedCharge+CollectionOfficeAdjustmentEnergyCharge   
	+CollectionOfficeAdjustmentOthers + DCBDetails.CollectionOfficeLightingJVFixedCharge + CollectionOfficeLightingJVEnergyCharge   
	+CollectionOfficeLightingJVOthers +CollectionLT6JVFixedCharge+CollectionLT6JVEnergyCharge   
	+CollectionLT6JVRevenueOthers+CollectionSuspense+CollectionCBTransfer +CollectionLTOLBalance   
	 +CollectionMiscToRevenueBalance+      CollectionDepositToRevenueBalance+CollectionWithdrawlsBalance   
	+CollectionOfficeAdjustmentBalance+CollectionOfficeLightingJVBalance   
	+CollectionLT6JVBalance+CollectionDisputeToJVBalance+GOKCollectionBalance   
	+CollectionMiscToRevenueSupervisionFee+CollectionDepositToRevenueSupervisionFee+   
        CollectionWithdrawlsSupervisionFee+CollectionOfficeAdjustmentSupervisionFee + CollectionOfficeLightingJVSupervisionFee   
	+CollectionLT6JVSupervisionFee+CollectionDisputeToJVSupervisionFee+CollectionLTOLMeterRent+CollectionMiscToRevenueMeterRent   
	+CollectionDepositToRevenueMeterRent+CollectionWithdrawlsMeterRent+CollectionOfficeAdjustmentMeterRent+CollectionOfficeLightingJVMeterRent   
	+CollectionLT6JVMeterRent+CollectionDisputeToJVMeterRent)) as ClosingBalance     
	from DCBDetails,Consumer where DCBDetails.DCBID in  (' +  @DCBIDString +')
	and DCBDetails.ConsumerID=Consumer.ConsumerID     
	group by DCBDetails.ConsumerID,DCBDetails.TariffID,DCBDetails.WardName,DCBDetails.BlockName  '

Exec (@sql)

End 
GO
