USE [ESMCCBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_WardShifting]    Script Date: 15-06-2026 10:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--exec sp_WardShifting @wardname='malpe central' , @FromDate='2015-04-30',@ToDate='2016-03-31'

 

CREATE  PROCEDURE [dbo].[sp_WardShifting]( @wardname varchar(250),@FromDate varchar(10),@ToDate varchar(10)) 
as

 
--declare @TariffID varchar(10)
--declare @sql varchar(max),@FromDate varchar(10),@ToDate varchar(10)
--set @TariffID=13
--set @FromDate='2015-04-31'
--set @ToDate='2016-03-31'
declare @sql varchar(max)

select @sql='


;WITH wardwise_adjustment(ConsumerID,Tariff, OldValue,NewValue,ob) as(
select c.ConsumerID ConsumerID,'''+@wardname+''' as Tariff, OldValue,NewValue

,isnull((cast((Round(sum(OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceInterest
+OpeningBalanceTax+OpeningBalanceSupervisionFee+OpeningBalanceMeterRent+OpeningBalanceDandR),0)+Round(sum(GOKOBFixedCharge+
GOKOBEnergyCharge+GOKOBRevenueOthers+GOKOBInterest+GOKOBTax+GOKOBSupervisionFee+GOKOBMeterRent),0)) as numeric(10,2))) ,0) as ob     

 from  dcb d1
inner  join dcbdetails d on d.dcbid=d1.dcbid 
inner join consumer c on d.consumerid=c.consumerid
inner join MasterDataAlterations m on  c.DistributionNodeID=m.DistributionNodeID  and dcbyear= year(EffectiveDate) 
and dcbmonth= month(EffectiveDate) and MasterDataAlterationTypeID=29 
where  EffectiveDate between '''+@FromDate+''' and  '''+@ToDate+'''

and (OldValue= '''+@wardname+''' or NewValue = '''+@wardname+''') and  dcbyear=year(effectivedate) and DCBMonth=month(EffectiveDate)
group by c.consumerid,wardname,OldValue,NewValue)

select  Tariff ,OldValue,NewValue,sum(ob+0) as CB

from wardwise_adjustment
group by  Tariff,OldValue,NewValue'
--print  @sql

exec  ( @sql)



GO
