USE [ESMCCSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_TariffWiseDCB]    Script Date: 15-06-2026 11:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Procedure [dbo].[sp_TariffWiseDCB]
@DCBIDString varchar(500)
AS
SET NOCOUNT ON






GO
