USE [ESMCCSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_TariffWiseDCBNew]    Script Date: 15-06-2026 11:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_TariffWiseDCBNew]
@FromDate varchar(20) ,
@ToDate varchar(20)

AS
SET NOCOUNT ON


--Declare @FromDate varchar(20) = '2020-02-01'
--Declare @ToDate varchar(20) = '2020-02-29'


Declare @Adj Table (ConsumerID Int,AdjAmount Money,MonthID Int,YearID Int) Insert into @Adj
select ToConsumerID,Sum(Amount) Amount,Month(AdjustmentDate) MonthID,Year(AdjustmentDate) YearID
from D_collectionadjustments where CollectionAdjustmentTypeID = 3 and AdjustmentDate Between @FromDate and @ToDate 
and Approved=1 and Year(AdjustmentDate)=Year(ReceiptDate) and Month(AdjustmentDate)=MOnth(ReceiptDate) 
Group By ToConsumerID,Month(AdjustmentDate),Year(AdjustmentDate)

Declare @PBD Table (ConsumerID Int,MonthID Int,YearID Int) Insert Into @PBD
select ConsumerID,Month(DemandRaisedDate) MonthID,Year(DemandRaisedDate) YearID 
from D_prebilldetails where Billed=1 and SBM=1 and DemandRaisedDate Between @FromDate and @ToDate 



Declare @DCB1 table (PCOnsumerID Int,DCBDetailsID int ,DCBID int, DCBMonth int,DCBYear int , ConsumerID int, TariffID int, DCBTariffID int, Consumption numeric,Consumption1 numeric,
CollectionRevenueCash money, CollectionSuspense money
,CollectionRevenueAdjustments money,CollectionSuspenseAdjustments money,  
ConnectedLoad numeric, ConsumerConnectionStatusID  int, BillingMonth int,RevenueBillReasonID int, ArrearBill  bit,
OpeningBalanceRevenue money,  OpeningBalanceSuspense money,   DemandRevenue  money, DemandSuspense  money, CollectionAdjAmount money)

insert into @DCB1

select p.ConsumerID,d.DCBDetailsID,d.DCBID,DCBMonth,DCBYear,d.ConsumerID,d.TariffID,DCBTariffID,isnull(d.Consumption,0) as Consumption,0 as Consumption1
,round((d.CollectionRevenueFixedCharge+d.CollectionRevenueEnergyCharge+d.CollectionRevenueOthers+d.CollectionBalance+d.CollectionDRCharges+d.CollectionSuspense-d.CollectionDHAmount),2) as CollectionRevenueCash
,round((d.CollectionInterest+d.CollectionSupervisionFee),2)  as CollectionSuspense

,round((isnull(d.CollectionCBTransfer,0)+isnull(d.CollectionRevenueToMisc,0)+isnull(d.CollectionJVOthers,0)+isnull(d.CollectionJVOthersBalance,0)+isnull(d.CollectionLTOLRevenueFixedCharge,0)+isnull(d.CollectionLTOLRevenueEnergyCharge,0)+isnull(d.CollectionLTOLRevenueOthers,0)+isnull(d.CollectionLTOLBalance,0)
+isnull(d.CollectionMiscToRevenueFixedCharge,0)+isnull(d.CollectionMiscToRevenueEnergyCharge,0)+isnull(d.CollectionMiscToRevenueOthers,0)+isnull(d.CollectionMiscToRevenueBalance,0)+isnull(d.CollectionDepositToRevenueFixedCharge,0)+isnull(d.CollectionDepositToRevenueEnergyCharge,0)+isnull(d.CollectionDepositToRevenueOthers,0)+isnull(d.CollectionDepositToRevenueBalance,0)
+isnull(d.CollectionWithdrawlsRevenueFixedCharge,0)+isnull(d.CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(d.CollectionWithdrawlsRevenueOthers,0)+isnull(d.CollectionWithdrawlsBalance,0)+isnull(d.CollectionOfficeAdjustmentFixedCharge,0)+isnull(d.CollectionOfficeAdjustmentEnergyCharge,0)+isnull(d.CollectionOfficeAdjustmentOthers,0)+isnull(d.CollectionOfficeAdjustmentBalance,0)
+isnull(d.CollectionOfficeLightingJVFixedCharge,0)+isnull(d.CollectionOfficeLightingJVEnergyCharge,0)+isnull(d.CollectionOfficeLightingJVOthers,0)+isnull(d.CollectionOfficeLightingJVBalance,0)+isnull(d.CollectionLT6JVFixedCharge,0)+isnull(d.CollectionLT6JVEnergyCharge,0)+isnull(d.CollectionLT6JVRevenueOthers,0)+isnull(d.CollectionLT6JVBalance,0)
+isnull(d.CollectionDisputeToJVFixedCharge,0)+isnull(d.CollectionDisputeToJVEnergyCharge,0)+isnull(d.CollectionDisputeToJVRevenueOthers,0)+isnull(d.CollectionDisputeToJVBalance,0)+isnull(d.GOKCollectionRevenueFixedCharge,0)+isnull(d.GOKCollectionRevenueEnergyCharge,0)+isnull(d.GOKCollectionRevenueOthers,0)+isnull(d.GOKCollectionBalance,0)),2) as CollectionRevenueAdjustments

,round((isnull(d.CollectionLTOLInterest,0)+isnull(d.CollectionLTOLSupervisionFee,0)+isnull(d.CollectionMiscToRevenueInterest,0)+isnull(d.CollectionMiscToRevenueSupervisionFee,0)+isnull(d.CollectionDepositToRevenueInterest,0)+isnull(d.CollectionDepositToRevenueSupervisionFee,0)
+isnull(d.CollectionWithdrawlsInterest,0)+isnull(d.CollectionWithdrawlsSupervisionFee,0)+isnull(d.CollectionOfficeAdjustmentInterest,0)+isnull(d.CollectionOfficeAdjustmentSupervisionFee,0)+isnull(d.CollectionOfficeLightingJVInterest,0)+isnull(d.CollectionOfficeLightingJVSupervisionFee,0)
+isnull(d.CollectionLT6JVInterest,0)+isnull(d.CollectionLT6JVSupervisionFee,0)+isnull(d.CollectionDisputeToJVInterest,0)+isnull(d.CollectionDisputeToJVSupervisionFee,0)+isnull(d.GOKCollectionInterest,0)+isnull(d.GOKCollectionSupervisionFee,0)),2)  as CollectionSuspenseAdjustments

,d.ConnectedLoad,d.ConsumerConnectionStatusID,d.BillingMonth,d.RevenueBillReasonID,d.ArrearBill

,(round((d.OpeningBalanceFixedCharge+d.OpeningBalanceEnergyCharge+d.OpeningBalanceRevenueOthers+d.OpeningBalanceDandR),1)+round((d.GOKOBFixedCharge+d.GOKOBEnergyCharge+d.GOKOBRevenueOthers),1)) as OpeningBalanceRevenue
,(round((d.OpeningBalanceInterest+d.OpeningBalanceSupervisionFee),2)+round((d.GOKOBInterest+d.GOKOBSupervisionFee),1)) as OpeningBalanceSuspense

,(round((d.DemandRevenueFixedCharge+d.DemandRevenueEnergyCharge+d.DemandRevenueOthers+d.PFPenalty+d.OtherCharges+d.Rebate+d.DemandCorrection+d.DemandDRCharges+d.DemandRoundOff),2)
+round((d.GOKDemandRevenueFixedCharge+d.GOKDemandRevenueEnergyCharge+d.GOKDemandRevenueOthers),2)) as DemandRevenue
,(round((d.DemandInterest+d.DemandSupervisionFee),2)+round((d.GOKDemandInterest+d.GOKDemandSupervisionFee),2))  as DemandSuspense
,0 CollectionAdjAmount from (

select d.*,DCBYear,DCBMonth from DCBDetails d with (nolock) 
Inner Join DCB d1 with (nolock) on d1.DCBID=d.DCBID and Convert(datetime,(Cast(DCBYear as varchar(4))+'-'+cast(DCBMOnth as varchar(2))+'-1')) Between @FromDate and @ToDate
) D left outer join @PBD p on p.ConsumerID=d.ConsumerID and p.YearID=d.DCBYear and p.MonthID=d.DCBMonth
left outer join Consumer cn on cn.ConsumerID=d.ConsumerID
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=d.OLID
left outer join Office o on o.OfficeID=ola.OfficeID
left outer join Location L on l.LocationID=ola.LocationID
left outer join DCBTariffAllocation dta on dta.TariffID=d.TariffID
left outer join Tariffs t on t.TariffID=isnull(dta.DCBTariffID,d.TariffID)

union all
select 0,0,0,0,0,0,999,999,0,0,isnull(als.Amount,0) as Coll,0,0,0,0,0,0,NULL,0,0,0,0,0,isnull(CollectionAdjAmount,0) CollectionAdjAmount
from AllocationStatementDetails  als
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=als.OLID
left outer join Office o on o.OfficeID=ola.OfficeID left outer join Location L on l.LocationID=ola.LocationID
where AllocationStatementID in (select AllocationStatementID from AllocationStatement 
left outer join DCB on DCBID in (select DCBID from DCB where Convert(datetime,(Cast(DCBYear as varchar(4))+'-'+cast(DCBMOnth as varchar(2))+'-1')) Between @FromDate and @ToDate) 
where AllocationMonth=DCBMonth  and AllocationYear=DCBYear )and AllocationStatementPresetDataID=22 and isnull(als.Amount,0)<>0 


/*
select (case when a.ConsumerID=0 then 0 else row end) row,DCBDetailsID,DCBID,DCBMonth,DCBYear,a.ConsumerID,TariffID,DCBTariffID,Consumption
,(CollectionRevenueCash+isnull(AdjAmount,0)) CollectionRevenueCash ,CollectionSuspense, (CollectionRevenueAdjustments-isnull(AdjAmount,0)) CollectionRevenueAdjustments,CollectionSuspenseAdjustments
,ConnectedLoad ,(case when row=1 and ConsumerConnectionStatusID=1 then 1 else 0 end) ConsumerConnectionStatusID  ,BillingMonth,RevenueBillReasonID
--,(case when row=1 and ConsumerConnectionStatusID=1 and ArrearBill=1 then 1 else 0 end) ArrearBill
,(case when isnull(p.ConsumerID,0)=0 then 0 else 1 end) ArrearBill
,OpeningBalanceRevenue,OpeningBalanceSuspense,DemandRevenue,DemandSuspense,TotalOB,TotalDemand
,ConsumerAttributeID,ConsumerRebateID  from (
select ROW_NUMBER() OVER(PARTITION BY consumerid,DCBYear,DCBMonth ORDER BY consumerid,DCBYear,DCBMonth,ArrearBill desc) AS Row,DCBDetailsID,DCBID,DCBMonth,DCBYear,ConsumerID,TariffID,isnull(DCBTariffID,TariffID) as DCBTariffID,
 (case when tariffid=1999 then (Consumption-Consumption1) else  Consumption end )as Consumption
,((round((CollectionRevenueCash+CollectionSuspense),0)-CollectionSuspense-CollectionAdjAmount)) as CollectionRevenueCash,CollectionSuspense
,((round((CollectionRevenueAdjustments+CollectionSuspenseAdjustments),0)-CollectionSuspenseAdjustments)) as CollectionRevenueAdjustments,CollectionSuspenseAdjustments
,ConnectedLoad,ConsumerConnectionStatusID,BillingMonth,RevenueBillReasonID,ArrearBill
,(case when Year(@FromDate)=DCBYear and Month(@FromDate)=DCBMonth then ((round((OpeningBalanceRevenue+OpeningBalanceSuspense),0)-OpeningBalanceSuspense)) else 0 end) as OpeningBalanceRevenue
,(case when Year(@FromDate)=DCBYear and Month(@FromDate)=DCBMonth then OpeningBalanceSuspense else 0 end) as OpeningBalanceSuspense
,((round((DemandRevenue+DemandSuspense),0)-DemandSuspense)) as DemandRevenue,DemandSuspense
,round((OpeningBalanceRevenue+OpeningBalanceSuspense),0) as TotalOB,round((DemandRevenue+DemandSuspense),0) as TotalDemand
,NULL as ConsumerAttributeID,NULL as ConsumerRebateID 
from @DCB1 ) a
left outer join @Adj Adj on adj.ConsumerID=a.ConsumerID and adj.YearID=a.DCBYear and adj.MonthID=a.DCBMonth
left outer join @PBD p on p.ConsumerID=a.ConsumerID and p.YearID=a.DCBYear and p.MonthID=a.DCBMonth
*/



select Sum(Case when MaxNo=1 then Row else 0 end) row ,DCBDetailsID,DCBID,DCBMonth,DCBYear
,ConsumerID,TariffID,DCBTariffID
,Sum(Consumption) Consumption,Sum(CollectionRevenueCash) CollectionRevenueCash,Sum(CollectionSuspense) CollectionSuspense
,Sum(CollectionRevenueAdjustments) CollectionRevenueAdjustments,Sum(CollectionSuspenseAdjustments) CollectionSuspenseAdjustments
,Sum(ConnectedLoad) ConnectedLoad 
,Sum(Case when MaxNo=1 then ConsumerConnectionStatusID else 0 end)  ConsumerConnectionStatusID 
,BillingMonth,RevenueBillReasonID
,Sum(Case when MaxNo=1 then ArrearBill else 0 end) ArrearBill
,Sum(Case when MinOB=1 then OpeningBalanceRevenue else 0 end) OpeningBalanceRevenue
,Sum(Case when MinOB=1 then OpeningBalanceSuspense else 0 end) OpeningBalanceSuspense
,Sum(DemandRevenue) DemandRevenue,Sum(DemandSuspense) DemandSuspense
,Sum(Case when MinOB=1 then TotalOB else 0 end) TotalOB
,Sum(TotalDemand) TotalDemand ,ConsumerAttributeID,ConsumerRebateID 
from (
select (Row_Number() over (Partition By a.COnsumerID Order By a.ConsumerID,ArrearBill Desc,DCBYear,DCBMonth)) MaxNo,(Row_Number() over (Partition By a.ConsumerID Order By a.ConsumerID,DCBYear,DCBMonth)) MinOB
,(Row_Number() over (Partition By a.ConsumerID Order By a.ConsumerID,DCBYear desc,DCBMonth desc)) MaxCB,*  from (
select (case when a.ConsumerID=0 then 0 else row end) row ,DCBDetailsID,DCBID
,DCBMonth,DCBYear,a.ConsumerID,TariffID,DCBTariffID,Consumption
,(CollectionRevenueCash+isnull(AdjAmount,0)) CollectionRevenueCash ,CollectionSuspense
,(CollectionRevenueAdjustments-isnull(AdjAmount,0)) CollectionRevenueAdjustments,CollectionSuspenseAdjustments
,ConnectedLoad ,(case when row=1 and ConsumerConnectionStatusID=1 then 1 else 0 end) ConsumerConnectionStatusID ,BillingMonth,RevenueBillReasonID
--,(case when row=1 and ConsumerConnectionStatusID=1 and ArrearBill=1 then 1 else 0 end) ArrearBill
,(case when isnull(PConsumerID,0)=0 then 0 else 1 end) ArrearBill
,OpeningBalanceRevenue,OpeningBalanceSuspense,DemandRevenue,DemandSuspense,TotalOB,TotalDemand
,ConsumerAttributeID,ConsumerRebateID  
from ( select PConsumerID,ROW_NUMBER() OVER(PARTITION BY consumerid,DCBYear,DCBMonth ORDER BY consumerid,DCBYear,DCBMonth,ArrearBill desc) AS Row,DCBDetailsID,DCBID,DCBMonth,DCBYear,ConsumerID,TariffID,isnull(DCBTariffID,TariffID) as DCBTariffID,
 (case when tariffid=1999 then (Consumption-Consumption1) else  Consumption end )as Consumption
,((round((CollectionRevenueCash+CollectionSuspense),0)-CollectionSuspense-CollectionAdjAmount)) as CollectionRevenueCash,CollectionSuspense
,((round((CollectionRevenueAdjustments+CollectionSuspenseAdjustments),0)-CollectionSuspenseAdjustments)) as CollectionRevenueAdjustments,CollectionSuspenseAdjustments
,ConnectedLoad,ConsumerConnectionStatusID,BillingMonth,RevenueBillReasonID,ArrearBill
,(case when Year(@FromDate)=DCBYear and Month(@FromDate)=DCBMonth then ((round((OpeningBalanceRevenue+OpeningBalanceSuspense),0)-OpeningBalanceSuspense)) else 0 end) as OpeningBalanceRevenue
,(case when Year(@FromDate)=DCBYear and Month(@FromDate)=DCBMonth then OpeningBalanceSuspense else 0 end) as OpeningBalanceSuspense
,((round((DemandRevenue+DemandSuspense),0)-DemandSuspense)) as DemandRevenue,DemandSuspense
,round((OpeningBalanceRevenue+OpeningBalanceSuspense),0) as TotalOB,round((DemandRevenue+DemandSuspense),0) as TotalDemand
,NULL as ConsumerAttributeID,NULL as ConsumerRebateID 
from @DCB1 ) a
left outer join @Adj Adj on adj.ConsumerID=a.ConsumerID and adj.YearID=a.DCBYear and adj.MonthID=a.DCBMonth
) A ) A Group By ConsumerID,TariffID,DCBTariffID,DCBDetailsID,DCBID,DCBMonth,DCBYear,ConsumerConnectionStatusID ,BillingMonth,RevenueBillReasonID,ConsumerAttributeID,ConsumerRebateID 
Order By TariffID
GO
