USE [ESMCCSullia]
GO
/****** Object:  StoredProcedure [dbo].[sp_SuspenseAmount]    Script Date: 15-06-2026 11:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SuspenseAmount]
@FromDate varchar(20) ,
@ToDate varchar(20)

AS
SET NOCOUNT ON


--Declare @FromDate varchar(20) select @FromDate='2014-04-01'
--Declare @ToDate varchar(20) select @ToDate='2015-03-31'

;with suspenceAmount(OfficeName,LocationName,WardName,BlockName,Coll)as(
select o.OfficeName,l.LocationName,'Z-Revenue Suspense' as WardName,'Z-Revenue Suspense' as BlockName
,isnull(als.Amount,0) as Coll from AllocationStatementDetails  als
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=als.OLID
left outer join Office o on o.OfficeID=ola.OfficeID 
left outer join Location L on l.LocationID=ola.LocationID
where AllocationStatementID in (select AllocationStatementID from AllocationStatement 
left outer join DCB on DCBID in (select DCBID from DCB where Convert(datetime,
(Cast(DCBYear as varchar(4))+'-'+cast(DCBMOnth as varchar(2))+'-1')) Between @FromDate and @ToDate) 
where AllocationMonth=DCBMonth  and AllocationYear=DCBYear ) and AllocationStatementPresetDataID=22 and isnull(als.Amount,0)<>0 )


select OfficeName,LocationName,WardName,BlockName,cast(sum(Coll) as numeric(10,2)) coll from suspenceAmount
group by  OfficeName,LocationName,WardName,BlockName
GO
