USE [ESMCCSullia]
GO
/****** Object:  StoredProcedure [dbo].[SP_PreviousDemand]    Script Date: 15-06-2026 11:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec SP_PreviousDemand @consumerid='10334', @Year1='2012',@Year2='2013',  @Year3='2014',@Year4='2015' 

CREATE PROCEDURE [dbo].[SP_PreviousDemand](@consumerid varchar(4000),@Year1 varchar(10),@Year2 varchar(10),@Year3 varchar(10),@Year4 varchar(10) ) 

/*Declare @consumerid varchar(4000) set @consumerid='10334,1462'
Declare @Year1 varchar(10) set @Year1='2012'
Declare @Year2 varchar(10) set @Year2='2013'
Declare @Year3 varchar(10) set @Year3='2014'
Declare @Year4 varchar(10) set @Year4='2015'
 */
 
as
declare @sql varchar(max)

select @sql='


;with spdemand as(
select a.ConsumerID,MYear, 
dcbmonth,dcbyear,

(case when 
                        sum(othercharges+0)< 0 or  sum(DemandRevenueEnergyCharge+0)<0  or sum( DemandInterest +0)<0 or
                        sum( DemandTax+0)<0 or sum(DemandMeterRent+0)<0 or sum(DemandCorrection+0)<0 
                    
 then
                          cast(sum(r.Demand+0) as numeric(10,2))
else
                     (isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+DemandSupervisionFee + DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0))
END)  as AmountDue,

(case when sum(othercharges+0)< 0 or  sum(DemandRevenueEnergyCharge+0)<0 or sum( DemandInterest +0)<0 or
                       sum( DemandTax+0)<0 or sum(DemandMeterRent+0)<0or sum(DemandCorrection+0)<0 
                 
 then
             cast(sum(r.collection+0)  as numeric(10,2))
           
else
                isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+
                CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)
                 as NUMERIC(10,2)),0) 
END)  as Collection 


 from ( select ConsumerID,MYear,DCBID,A.dcbmonth,A.dcbyear  FROM ( 
select (CASE           
WHEN (d1.dcbyear in ('+@Year1+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year2+') and d1.dcbmonth<=3)  THEN  ''Y1'' 
WHEN (d1.dcbyear in ('+@Year2+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year3+') and d1.dcbmonth<=3)  THEN  ''Y2''   
WHEN (d1.dcbyear in ('+@Year3+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year4+') and d1.dcbmonth<=3)  THEN  ''Y3'' END) as MYear,
d1.dcbmonth,d1.dcbyear ,
   DCBID from DCB D1 where DCBYear in ('+@Year1+','+@Year2+','+@Year3+','+@Year4+' )) A
 Cross Join ( select Distinct ConsumerID  from DCBDetails d where
 consumerid in('+@consumerid+') ) 
as B where MYear is not NULL ) as A left outer Join ( select *  from DCBDetails d  where
 DCBID in (select DCBID from DCB where DCBYear in ('+@Year1+','+@Year2+','+@Year3+','+@Year4+'  ) and dcb.DCBID=d.DCBID) 
and consumerid in('+@consumerid+')) as B on b.ConsumerID=a.ConsumerID and a.dcbid=b.dcbid 

left outer join
(select consumerid,sum(demand) as demand,sum(collection) as collection,d.dcbid from RevenueLedger r
join DCB  d on( (d.DCBMonth = month(r.BillDate) and d.DCBYear = year(r.BillDate)) or (d.DCBMonth = month(r.ReceiptDate) and d.DCBYear = year(r.ReceiptDate)))
where ((billdate between  convert(varchar,concat('+@Year1+',''-'',''04'',''-'',''01''),0) and convert(varchar,concat('+@Year4+',''-'',''03'',''-'',''31''),0))
or (ReceiptDate between  convert(varchar,concat('+@Year1+',''-'',''04'',''-'',''01''),0) and convert(varchar,concat('+@Year4+',''-'',''03'',''-'',''31''),0)))
  
and consumerid in('+@consumerid+') 
group by r.consumerid,d.dcbid)
as r 
on A.ConsumerID = r.ConsumerID and  a.dcbid=r.dcbid 
Group By a.ConsumerID,MYear ,dcbmonth,dcbyear 
)
select consumerid,myear,sum(amountdue) amountdue,sum(collection)  collection from spdemand
group by  consumerid,myear
order by ConsumerID,myear'

exec(@sql)
--select @sql



GO
