USE [ESMCCSullia]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_Territories]    Script Date: 15-06-2026 11:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create PROCEDURE [dbo].[SP_ETL_Territories] @DBID int AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select *,GetDate() dashboardupdated from '+@DBName+'Territories  
order by TerritoryID 
'exec (@Sql)


GO
