USE [ESMCCSullia]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_ConsumerLedgerDemandDetails]    Script Date: 15-06-2026 11:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_ETL_ConsumerLedgerDemandDetails] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select ConsumerLedgerDemandDetailsID,ConsumerLedgerDemandsID,DemandChargeTypeID,Amount,Balance,GetDate() dashboardupdated 
from '+@DBName+'ConsumerLedgerDemandDetails where consumerledgerdemandsID in (
select ConsumerLedgerDemandsID from '+@DBName+'ConsumerLedgerDemands a cross join '+@DBName+'Today
where month(billdate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(billdate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
) and isnull(Amount,0)!=0 
Order by ConsumerLedgerDemandDetailsID
'exec (@Sql)


GO
