USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[cpm3name]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[cpm3name] @nm varchar(100),@rno varchar(100)
as 
begin

update consumer set firstname=@nm,FileAs=@nm where rrno=@rno

update prebilldetails set ConsumerName=@nm where rrno=@rno

end
GO
