USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_updtatetariff]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_updtatetariff]
@TariffID varchar(max)=null, 
 @Description varchar(max)=null, 
@UnderTariffID varchar(max)=null,
@Tatiffcode  varchar(max)=null,
@ConsumerBillingCycleID varchar(max)=null, 
@SanctionedLoadRoundOffTypeID varchar(max)=null,
@TimeOfDayTariff varchar(max)=null, 
@MinimumInterest  varchar(max)=null, 
@AgreementTerminationPeriod  varchar(max)=null,
@GovernmentPayment varchar(max)=null,
@MinimumArrears varchar(max)=null,
@DCBTariff varchar(max)=null,
@VoltageClassID varchar(max)=null,
@MinimumDemand varchar(max)=null,
@EffectiveDate varchar(max)=null,
@Billable varchar(max)=null,
@DisconnectionArrearLowerLimit varchar(max)=null,
@DisconnectionArrearUpperLimit varchar(max)=null,
@TemporaryConnection varchar(max)=null,
@RevenueBillTypeID varchar(max)=null
AS
SET NOCOUNT ON
select *From Tariffs
update  Tariffs set Description=@Description, UnderTariffID=@UnderTariffID, Tariffcode=@Tatiffcode, 
ConsumerBillingCycleID=@ConsumerBillingCycleID, SanctionedLoadRoundOffTypeID=@SanctionedLoadRoundOffTypeID, TimeOfDayTariff=@TimeOfDayTariff, MinimumInterest=@MinimumInterest,
 AgreementTerminationPeriod=@AgreementTerminationPeriod, GovernmentPayment=@GovernmentPayment, MinimumArrears=@MinimumArrears, DCBTariff=@DCBTariff, VoltageClassID=@VoltageClassID, 
MinimumDemand=@MinimumDemand, EffectiveDate=@EffectiveDate, Billable=@Billable, DisconnectionArrearLowerLimit=@DisconnectionArrearLowerLimit,
 DisconnectionArrearUpperLimit=@DisconnectionArrearUpperLimit, TemporaryConnection=@TemporaryConnection,RevenueBillTypeID=@RevenueBillTypeID
where TariffID=@TariffID

update EnergyChargeSlabPeriods  set EffectiveDate=@EffectiveDate  where  TariffID=@TariffID
GO
