USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_Approvecm]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[sp_Approvecm]
 @ak varchar(max) 
AS
SET NOCOUNT ON




insert into ConsumerLedgerDemands
select p.ConsumerID,p.BillNo,p.DemandRaisedDate,p.DueDate,p.TotalDemand,0,1,0,0 From ComplaintManagement c inner  join PreBillDetails p on c.NewBillNo=p.BillNo
  where p.SBM=0  and p.Billed=0 and cm=1 and c.ComplaintManagementID=@ak

insert into ConsumerLedgerDemandDetails
select cld.ConsumerLedgerDemandsID,5,cld.BillAmount,0
From ComplaintManagement c
inner  join PreBillDetails p on c.NewBillNo=p.BillNo
inner join ConsumerLedgerDemands cld on cld.BillNo=p.BillNo
where p.SBM=0 and p.Billed=0  and cm=1 and c.ComplaintManagementID=@ak



insert into ConsumerLedgerDemandDetailsSub
select cldd.ConsumerLedgerDemandDetailsID,2,cldd.Amount,0
From ComplaintManagement c
inner  join PreBillDetails p on c.NewBillNo=p.BillNo
inner join ConsumerLedgerDemands cld on cld.BillNo=p.BillNo
inner join ConsumerLedgerDemandDetails cldd on cldd.ConsumerLedgerDemandsID=cld.ConsumerLedgerDemandsID
where p.SBM=0  and cm=1 and c.ComplaintManagementID=@ak



update p  set  p.Billed=1
From ComplaintManagement c inner  join PreBillDetails p on c.NewBillNo=p.BillNo
where p.SBM=0   and p.Billed=0  and cm=1 and c.ComplaintManagementID=@ak

update c  set  c.Approved = 1
From ComplaintManagement c inner  join PreBillDetails p on c.NewBillNo=p.BillNo
where p.SBM=0   and p.Billed=0  and cm=1 and c.ComplaintManagementID=@ak


insert into ActivityApprovalDetails
select ActivityID,DocumentNo,NextContactID,NextODLDID,1,'',null,null,getdate() From ActivityApprovalDetails where ActivityID = 2 and  DocumentNo =  @ak
GO
