USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[LedgerLive]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LedgerLive] @Ward varchar(100),@ConsumerID varchar(max),@TariffID varchar(10)
as

set nocount on

Declare @sql varchar(max)
set @sql='SELECT  ola.fileas as Sub_Division,tt1.description as Ward,t.description as Tariff,ltrim(cn.ledgerno) as LNo,cn.RRNo,  pm.propertymasterno as doorno,rdaa.readingdate as RD,cn.ConsumerID,cn.Fileas as Name, 
cad.streetname as Address,convert(VARCHAR(20),cn.servicedate,103) as SD,lrm.yearid as Year,lrm.monthid as Month,  convert(CHAR(3),DateName(month,DateAdd(month,lrm.monthid,0)-1)) as MonthName,
round((select pbrd.kwahfinalreading from prebilldetails pbd,prebillreadingdetails pbrd where pbd.consumerid=cn.consumerid and pbd.billed=1 and pbd.odc<>1 and  month(pbd.DemandRaisedDate)=lrm.monthid
and year(pbd.DemandRaisedDate)=lrm.yearid  and pbd.billno in (select max(billno) from prebilldetails pbd1 where pbd1.consumerid=pbd.consumerid  and pbd1.billed=1 and pbd1.odc<>1
and month(pbd1.DemandRaisedDate)=month(pbd.DemandRaisedDate)  and year(pbd1.DemandRaisedDate)=year(pbd.DemandRaisedDate) group by pbd1.consumerid)  and pbd.billno=pbrd.billno and pbrd.released<>1),2) as FR,  
round((select pbrd.kwahinitialreading
from  prebilldetails pbd,  prebillreadingdetails pbrd
where pbd.consumerid=cn.consumerid  and pbd.billed=1 and pbd.odc<>1 and month(pbd.DemandRaisedDate)=lrm.monthid and year(pbd.DemandRaisedDate)=lrm.yearid 
and pbd.billno in (select max(billno) from  prebilldetails pbd1 where pbd1.consumerid=pbd.consumerid  and pbd1.billed=1 and pbd1.odc<>1 and month(pbd1.DemandRaisedDate)=month(pbd.DemandRaisedDate)
and year(pbd1.DemandRaisedDate)=year(pbd.DemandRaisedDate) group by pbd1.consumerid)  and pbd.billno=pbrd.billno and pbrd.released<>1),2) as IR, ccs.description as status,isnull(  case when (select pbrd.kwahfinalreading from  prebilldetails pbd,prebillreadingdetails pbrd     where(PBD.consumerid = cn.consumerid And PBD.billed = 1 And PBD.odc <> 1 And Month(pbd.DemandRaisedDate) = lrm.monthid) and year(pbd.DemandRaisedDate)=lrm.yearid  and pbd.billno in (select max(billno) from  prebilldetails pbd1 where pbd1.consumerid=pbd.consumerid  and pbd1.billed=1 and pbd1.odc<>1 and month(pbd1.DemandRaisedDate)=month(pbd.DemandRaisedDate) and year(pbd1.DemandRaisedDate)=year(pbd.DemandRaisedDate) group by pbd1.consumerid)  and pbd.billno=pbrd.billno and pbrd.released<>1) is not null then ''Normal''  else (select rbr.reasoncode from  prebilldetails pbd, prebillreadingdetails pbrd,revenuebillreasons rbr  where(PBD.consumerid = cn.consumerid And PBD.billed = 1 And PBD.odc <> 1 And Month(pbd.DemandRaisedDate) = lrm.monthid) and year(pbd.DemandRaisedDate)=lrm.yearid  and pbd.billno in (select max(billno) from  prebilldetails pbd1 where pbd1.consumerid=pbd.consumerid   and pbd1.billed=1 and pbd1.odc<>1 and month(pbd1.DemandRaisedDate)=month(pbd.DemandRaisedDate) and year(pbd1.DemandRaisedDate)=year(pbd.DemandRaisedDate) group by pbd1.consumerid) and pbd.billno=pbrd.billno and pbrd.released<>1 and pbrd.revenuebillreasonid=rbr.revenuebillreasonid)end ,''  -NoBill'') as Reason, cast( round(isnull((select sum(isnull(pbrd1.kwahconsumption,0)+isnull(pbrd1.kwahaverageconsumption,0)-isnull(pbrd1.WithdrawalConsumption,0)) from  prebilldetails pbd2, prebillreadingdetails pbrd1 where pbd2.consumerid=cn.consumerid  and pbd2.billno=pbrd1.billno and pbd2.billed=1 and month(pbd2.DemandRaisedDate)=lrm.monthid and year(pbd2.DemandRaisedDate)=lrm.yearid ),0),2)as INT) as Consumption,    round((select round(isnull(pbrd.bmdreading,0),2) from  prebilldetails pbd, prebillreadingdetails pbrd where pbd.consumerid=cn.consumerid and pbd.billed=1 and pbd.odc<>1  and month(pbd.DemandRaisedDate)=lrm.monthid and year(pbd.DemandRaisedDate)=lrm.yearid   and pbd.billno in (select max(billno) from  prebilldetails pbd1 where pbd1.consumerid=pbd.consumerid   and pbd1.billed=1 and pbd1.odc<>1 and month(pbd1.DemandRaisedDate)=month(pbd.DemandRaisedDate) and year(pbd1.DemandRaisedDate)=year(pbd.DemandRaisedDate) group by pbd1.consumerid) and pbd.billno=pbrd.billno and pbrd.released<>1),2) as BMD,   cast(round(isnull(cl.openingbalance,0),2) as numeric(10,2)) as OB,    cast(round(isnull((select sum(isnull(pbdds.amount,0)) from  prebilldetails pbd, ConsumerLedgerDemands pbds, ConsumerLedgerDemandDetails pbdd, ConsumerLedgerDemandDetailsSub pbdds   where pbd.consumerid=cn.consumerid and pbd.billno=pbds.billno and pbds.ConsumerLedgerDemandsID=pbdd.ConsumerLedgerDemandsid and   pbdd.ConsumerLedgerDemandDetailsID=pbdds.ConsumerLedgerDemandDetailsID and month(pbd.DemandRaisedDate)=lrm.monthid and year(pbd.DemandRaisedDate)=lrm.yearid and pbd.billed=1 and   pbdd.demandchargetypeid in(5,9) and pbdds.demandchargeid in(2,3)),0),2)as numeric(10,2)) as EC ,   cast(round(isnull((select sum(isnull(odc.amount,0)) from  otherdemandcharges odc where odc.consumerid=cn.consumerid and month(odc.otherdemandchargeddate)=lrm.monthid and year(odc.otherdemandchargeddate)=lrm.yearid and odc.cancel<>1 and odc.approved=1 and odc.otherdemandchargetypeid not in (4,5,9)),0),2) as numeric(10,2)) as OtherCharges,  cast(round(isnull((select sum(isnull(odc.amount,0)) from otherdemandcharges odc where odc.consumerid=cn.consumerid and month(odc.otherdemandchargeddate)=lrm.monthid and year(odc.otherdemandchargeddate)=lrm.yearid  and odc.cancel<>1 and odc.approved=1 and odc.otherdemandchargetypeid in (9)),0),2) as numeric(10,2)) as RoundOff,  round(isnull((select sum(isnull(-pbw.amount,0)) from  prebilldetails pbd3, prebillwithdrawals pbw where pbd3.consumerid=cn.consumerid and pbd3.billno=pbw.billno and pbd3.billed=1 and month(pbd3.DemandRaisedDate)=lrm.monthid and year(pbd3.DemandRaisedDate)=lrm.yearid),0),2) as AvgWA,   cast(isnull((round(isnull(cl.openingbalance,0),2)+  isnull(isnull((select sum(isnull(cldd.amount,0))  from  consumerledgerdemands cld, consumerledgerdemanddetails cldd where cld.consumerid=cn.consumerid  and cld.consumerledgerdemandsid=cldd.consumerledgerdemandsid and cldd.demandchargetypeid not in (1,2,3,4,11,12) and month(cld.billdate)=lrm.monthid and year(cld.billdate)=lrm.yearid),0),2)),0) as numeric(10,2)) as Total,  cast(round((isnull((select round(sum(isnull(-ca0.amount,0)),2) from collectionadjustments ca0 where ca0.cancel<>1 and ca0.collectionadjustmenttypeid=1 and ca0.approved=1 and isnull(ca0.fromconsumerid,0)=cn.consumerid  and month(ca0.adjustmentdate)=lrm.monthid and year(ca0.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca1.amount,0)),2) from  collectionadjustments ca1 where ca1.cancel<>1 and ca1.collectionadjustmenttypeid=1 and ca1.approved=1 and isnull(ca1.toconsumerid,0)=cn.consumerid  and month(ca1.adjustmentdate)=lrm.monthid and year(ca1.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca2.amount,0)),2) from  collectionadjustments ca2 where ca2.cancel<>1 and ca2.collectionadjustmenttypeid=2 and ca2.approved=1 and isnull(ca2.fromconsumerid,0)=cn.consumerid and month(ca2.adjustmentdate)=lrm.monthid and year(ca2.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca3.amount,0)),2) from collectionadjustments ca3 where ca3.cancel<>1 and ca3.collectionadjustmenttypeid=2 and ca3.approved=1 and isnull(ca3.toconsumerid,0)=cn.consumerid  and month(ca3.adjustmentdate)=lrm.monthid and year(ca3.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca4.amount,0)),2) from  collectionadjustments ca4 where ca4.cancel<>1 and ca4.collectionadjustmenttypeid=3 and ca4.approved=1 and isnull(ca4.fromconsumerid,0)=cn.consumerid  and month(ca4.adjustmentdate)=lrm.monthid and year(ca4.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca5.amount,0)),2) from  collectionadjustments ca5 where ca5.cancel<>1 and ca5.collectionadjustmenttypeid=3 and ca5.approved=1 and isnull(ca5.toconsumerid,0)=cn.consumerid and month(ca5.adjustmentdate)=lrm.monthid and year(ca5.adjustmentdate)=lrm.yearid and ca5.allocationstatementpresetdataid=6),0)+    isnull((select round(sum(isnull(ca6.amount,0)),2) from collectionadjustments ca6 where ca6.cancel<>1 and ca6.collectionadjustmenttypeid=4 and ca6.approved=1 and isnull(ca6.toconsumerid,0)=cn.consumerid  and month(ca6.adjustmentdate)=lrm.monthid and year(ca6.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca7.amount,0)),2) from collectionadjustments ca7 where ca7.cancel<>1 and ca7.collectionadjustmenttypeid=5 and ca7.approved=1 and isnull(ca7.fromconsumerid,0)=cn.consumerid and month(ca7.adjustmentdate)=lrm.monthid and year(ca7.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca8.amount,0)),2) from  collectionadjustments ca8 where ca8.cancel<>1 and ca8.collectionadjustmenttypeid=6 and ca8.approved=1 and isnull(ca8.fromconsumerid,0)=cn.consumerid  and month(ca8.adjustmentdate)=lrm.monthid and year(ca8.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca9.amount,0)),2) from  collectionadjustments ca9 where ca9.cancel<>1
and ca9.collectionadjustmenttypeid=8 and ca9.approved=1 and isnull(ca9.toconsumerid,0)=cn.consumerid  and month(ca9.adjustmentdate)=lrm.monthid and year(ca9.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca10.amount,0)),2) from  collectionadjustments ca10 where ca10.cancel<>1 and ca10.collectionadjustmenttypeid=12 and ca10.approved=1 and isnull(ca10.toconsumerid,0)=cn.consumerid  and month(ca10.adjustmentdate)=lrm.monthid and year(ca10.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca11.amount,0)),2) from  collectionadjustments ca11 where ca11.cancel<>1 and ca11.collectionadjustmenttypeid=16 and ca11.approved=1 and isnull(ca11.toconsumerid,0)=cn.consumerid  and month(ca11.adjustmentdate)=lrm.monthid and year(ca11.adjustmentdate)=lrm.yearid),0)),2) as numeric(10,2)) as AdjAmt, CAST(isnull((select sum(isnull(rt.amount,0)) from  receipts rt where rt.contactid=cn.consumerid and rt.cancel<>1  and rt.paymenttypeid=6 and month(rt.receiptdate)=lrm.monthid and year(rt.receiptdate)=lrm.yearid),0)AS NUMERIC(10,2))  as Collection, convert(VARCHAR(20),(select rt.ReceiptDate from  receipts rt where rt.contactid = cn.consumerid And rt.cancel
 <> 1 And rt.paymenttypeid = 6 And Month(rt.receiptdate) = lrm.monthid And Year(rt.receiptdate) = lrm.yearid and rt.receiptid in  (select max(rt1.receiptid) from  receipts rt1 where rt1.contactid=rt.contactid and rt1.cancel<>1 and rt1.paymenttypeid=6 and  month(rt1.receiptdate)=lrm.monthid and year(rt1.receiptdate)=lrm.yearid group by rt1.contactid))  ,103) as ReceiptDate,    isnull((select rt.ReceiptNo from  receipts rt where rt.contactid=cn.consumerid and rt.cancel<>1 and rt.paymenttypeid=6 and month(rt.receiptdate)=lrm.monthid and year(rt.receiptdate)=lrm.yearid and rt.receiptid in (select max(rt1.receiptid) from  receipts rt1 where rt1.contactid=rt.contactid and rt1.cancel<>1 and  rt1.paymenttypeid=6 and month(rt1.receiptdate)=lrm.monthid and year(rt1.receiptdate)=lrm.yearid group by rt1.contactid)),0)  as ReceiptNo,  cast(((isnull((round(isnull(cl.openingbalance,0),2)+  isnull(isnull((select sum(isnull(cldd.amount,0))  from  consumerledgerdemands cld, consumerledgerdemanddetails cldd where cld.consumerid=cn.consumerid  and cld.consumerledgerdemandsid=cldd.consumerledgerdemandsid and cldd.demandchargetypeid not in (1,2,3,4,11,12) and month(cld.billdate)=lrm.monthid and year(cld.billdate)=lrm.yearid),0),2)),0))-  (round(((isnull((select sum(isnull(rt.amount,0)) from  receipts rt where rt.contactid=cn.consumerid and rt.cancel<>1 and rt.paymenttypeid=6 and month(rt.receiptdate)=lrm.monthid and year(rt.receiptdate)=lrm.yearid),0)-  (isnull((select round(sum(isnull(-ca7.amount,0)),2) from  collectionadjustments ca7 where ca7.cancel<>1 and ca7.collectionadjustmenttypeid=5 and ca7.approved=1 and isnull(ca7.fromconsumerid,0)=cn.consumerid  and month(ca7.adjustmentdate)=lrm.monthid and year(ca7.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca8.amount,0)),2) from  collectionadjustments ca8 where ca8.cancel<>1 and ca8.collectionadjustmenttypeid=6 and ca8.approved=1 and isnull(ca8.fromconsumerid,0)=cn.consumerid and month(ca8.adjustmentdate)=lrm.monthid and year(ca8.adjustmentdate)=lrm.yearid),0)))),2)+  round((isnull((select round(sum(isnull(-ca0.amount,0)),2) from  collectionadjustments ca0 where ca0.cancel<>1 and ca0.collectionadjustmenttypeid=1 and ca0.approved=1 and isnull(ca0.fromconsumerid,0)=cn.consumerid  and month(ca0.adjustmentdate)=lrm.monthid and year(ca0.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca1.amount,0)),2) from  collectionadjustments ca1 where ca1.cancel<>1 and ca1.collectionadjustmenttypeid=1 and ca1.approved=1 and isnull(ca1.toconsumerid,0)=cn.consumerid  and month(ca1.adjustmentdate)=lrm.monthid and year(ca1.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca2.amount,0)),2) from  collectionadjustments ca2 where ca2.cancel<>1 and ca2.collectionadjustmenttypeid=2 and ca2.approved=1 and isnull(ca2.fromconsumerid,0)=cn.consumerid  and month(ca2.adjustmentdate)=lrm.monthid and year(ca2.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca3.amount,0)),2) from  collectionadjustments ca3 where ca3.cancel<>1 and ca3.collectionadjustmenttypeid=2 and ca3.approved=1 and isnull(ca3.toconsumerid,0)=cn.consumerid  and month(ca3.adjustmentdate)=lrm.monthid and year(ca3.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(-ca4.amount,0)),2) from  collectionadjustments ca4 where ca4.cancel<>1 and ca4.collectionadjustmenttypeid=3 and ca4.approved=1 and isnull(ca4.fromconsumerid,0)=cn.consumerid  and month(ca4.adjustmentdate)=lrm.monthid and year(ca4.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca5.amount,0)),2) from  collectionadjustments ca5 where ca5.cancel<>1 and ca5.collectionadjustmenttypeid=3 and ca5.approved=1 and isnull(ca5.toconsumerid,0)=cn.consumerid  and month(ca5.adjustmentdate)=lrm.monthid and year(ca5.adjustmentdate)=lrm.yearid and ca5.allocationstatementpresetdataid=6),0)+  isnull((select round(sum(isnull(ca6.amount,0)),2) from  collectionadjustments ca6 where ca6.cancel<>1 and ca6.collectionadjustmenttypeid=4 and ca6.approved=1 and isnull(ca6.toconsumerid,0)=cn.consumerid  and month(ca6.adjustmentdate)=lrm.monthid and year(ca6.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca9.amount,0)),2) from  collectionadjustments ca9 where ca9.cancel<>1 and ca9.collectionadjustmenttypeid=8 and ca9.approved=1 and isnull(ca9.toconsumerid,0)=cn.consumerid  and month(ca9.adjustmentdate)=lrm.monthid and year(ca9.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca10.amount,0)),2) from  collectionadjustments ca10 where ca10.cancel<>1 and ca10.collectionadjustmenttypeid=12 and ca10.approved=1 and isnull(ca10.toconsumerid,0)=cn.consumerid  and month(ca10.adjustmentdate)=lrm.monthid and year(ca10.adjustmentdate)=lrm.yearid),0)+  isnull((select round(sum(isnull(ca11.amount,0)),2) from  collectionadjustments ca11 where ca11.cancel<>1 and ca11.collectionadjustmenttypeid=16 and ca11.approved=1 and isnull(ca11.toconsumerid,0)=cn.consumerid  and month(ca11.adjustmentdate)=lrm.monthid and year(ca11.adjustmentdate)=lrm.yearid),0)),2)))as numeric(10,2)) as CB   
from  officelocationallocation ola, tariffs t, consumer cn cross join  LedgerRptMonths lrm   
left join PreBillDetails p on cn.ConsumerID=p.ConsumerID and   p.billed=1 and p.odc<>1 and month(p.DemandRaisedDate)=lrm.monthid 
and year(p.DemandRaisedDate)=lrm.yearid 
left outer join  consumerpropertyallocation cpa on cpa.consumerid=cn.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid   
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid   
left outer join  consumeraddressdetails cad on cad.consumerid=cn.consumerid and cad.addresscategoryid=5   
left outer join  distributionnodemeterallocation dnma on dnma.distributionnodeid=cn.distributionnodeid and dnma.disconnected<>1  
left outer join  meterdetails md on md.meterid=dnma.meterid   
left outer join  readingdateareaallocation rdaa on rdaa.readingdateareaallocationid=cn.readingdateareaallocationid   
left outer join  consumerarrears ca on ca.consumerid=cn.consumerid and ca.arrears=1 and   month(ca.readingdate)=lrm.monthid and year(ca.readingdate)=lrm.yearid  
left  join  consumerledger cl on cl.consumerid=cn.consumerid and cl.ledgermonth=lrm.monthid and  cl.ledgeryear=lrm.yearid
left outer join  ConsumerConnectionStatus ccs on cn.consumerconnectionstatusid=ccs.consumerconnectionstatusid 
left outer join  Receipts rt on   rt.contactid=cn.consumerid and rt.cancel<>1 and  rt.paymenttypeid=6 and month(rt.receiptdate)=lrm.monthid  
and year(rt.receiptdate)=lrm.yearid  where(  p.tariffid = t.tariffid And cn.consumerolid = ola.officelocationallocationid)  and  ola.officelocationallocationid = 1 
and   p.TariffID = '''+@TariffID+'''
and tt1.description ='''+ @Ward+'''   and  cn.ConsumerID in ('+@ConsumerID+')
  group by ola.fileas,t.description,ltrim(cn.ledgerno),cn.foliono,cn.RRNo,cn.ConsumerID,cn.Fileas,cad.streetname,cn.sanctionedload,  
cn.connectedload,cn.consumerconnectionstatusid, rdaa.readingdate, md.meterconstant, cn.servicedate, cn.lineminimum, 
 cn.lineminimumterminationdate,lrm.yearid, lrm.monthid, cl.openingbalance, tt1.description,pm.propertymasterno,ccs.description  
order by ola.fileas,cn.consumerid,lrm.yearid,lrm.monthid,ltrim(cn.ledgerno),cn.foliono,t.description '

set nocount off

exec(@sql)
GO
