USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_DistributionNodeMNRListID]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DistributionNodeMNRListID] AS
select * from DistributionNodeMNRList where RevenueTransfered=0
GO
