USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveReConnection]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_SaveReConnection]
@RRNo varchar(max)=null,
@ReConnectionDate varchar(max)=null,
@FinalReading varchar(max)=null,
@Reason varchar(max)=null,
@Remarks varchar(max)=null,
@TicketID varchar(max)=null,
@Imagepath varchar(max)=null


AS
SET NOCOUNT ON





update consumer  set ConsumerConnectionStatusID=1
where RRNO=@RRNo


update  h set h.ValidUpTo=dateadd(day,-1,@ReConnectionDate)
From ConsumerHistory h  where ConsumerID in  (
select ConsumerID  From consumer where RRNO=@RRNo) and FieldName = 'ConsumerConnectionStatusID'
and day(ModifiedOn)=day(getdate()) and  month(ModifiedOn)=month(getdate())  and  year(ModifiedOn)=year(getdate()) 


insert into RevenueCorrespondances
select null,(select top 1 OfficeLocationAllocationID From OfficeLocationAllocation),1013,ConsumerID,@ReConnectionDate,@TicketID,  
@ReConnectionDate,null,1,0,0,null,null,getdate(),null,null,0,@Remarks,@Imagepath From consumer where RRNO=@RRNo

insert into RevenueCorrespondanceDetails
select r.RevenueCorrespondanceID,m.MeterID,'Main',0,@FinalReading,(case when @Reason='' or @Reason is null then null else @Reason end)  From RevenueCorrespondances r
inner join  Consumer c on c.ConsumerID=r.ConsumerID
inner join DistributionNodeMeterAllocation m on m.DistributionNodeID=c.DistributionNodeID and m.Disconnected=0
where RevenueCorrespondanceID in (
select max(RevenueCorrespondanceID) From RevenueCorrespondances where ConsumerID in  (select ConsumerID From Consumer where RRNO=@RRNo))

update  r set ReconnectedDate=@ReConnectionDate ,Reconnected=1,AdviceForReconnect=1,ReconnectionListDate=getdate()
From consumerdisconnectionlist r where  consumerdisconnectionlistid in (
select max(consumerdisconnectionlistid)From consumerdisconnectionlist where   ConsumerID in   (select ConsumerID From Consumer where RRNO=@RRNo))
GO
