USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_uniquebillno]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_uniquebillno] as
BEGIN
declare @reseed bigint 
set @reseed=concat(year(GETDATE ( )),replicate('0', 2 - len(month(GETDATE ( )))) + cast ((month(GETDATE ( )))as varchar))
declare @billno bigint 
set @billno=@reseed*10000000

DBCC CHECKIDENT ('prebilldetails', RESEED,@billno)

insert into DBO.PreBillDetails 
select convert(date,getdate()),Null,Null,ConsumerID,rrno,null,ReadingDateAreaAllocationID,NUll,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,TariffID,NULL,NULL,NULL,null,FirstName,NULL,Metered,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,0,0,0,0,NULL,NULL,NULL,0,NULL,NULL,0,0,NULL,NULL,NULL,0,NULL,NULL
from consumer
order by dbo.ExpandNumbers(rrno,10) ASC

END
GO
