USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[cpm5phno]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[cpm5phno] @phno varchar(100),@rno varchar(20)
as begin 

update ConsumerPhoneDetails set localnumber=@phno where consumerid=(select consumerid from consumer where rrno=@rno)

end
GO
