USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[SP_LedgerReport]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LedgerReport]
	@consumerid varchar(max)
	

AS 
SET NOCOUNT ON




----- PreBillDetails
declare @PBD table (consumerid int,MonthID Int,YearID Int,billno Bigint,MaxNo Int ) 
insert into @PBD
select * from(select c.consumerid,c.monthid,c.yearid ,billno,(Row_number() over 
 (Partition By c.ConsumerID,YearID,MonthID Order By c.ConsumerID,c.YearID,c.MonthID,BillNo desc)) as MaxNo 
 from 
(select  c.ConsumerID,lrm.monthid,lrm.yearid from  Consumer c cross join LedgerRptMonths lrm 
 where ConsumerID in(select data from split(@consumerid,','))
) c left outer join prebilldetails pbd1 on  pbd1.ConsumerID=c.ConsumerID 
and  c.YearID=Year(pbd1.DemandRaisedDate) and MonthID=Month(pbd1.DemandRaisedDate)  and pbd1.billed=1 and pbd1.odc!=1 
where c.ConsumerID in(select data from split(@consumerid,','))

) b where MaxNo=1

-----PreBillReadingDetails
declare @PBRD table (billno Bigint,FR Money, IR Money,kwahconsumption money,kwahaverageconsumption Money,WithdrawalConsumption Money, bmd int,revenuebillreasonid int) 
insert into @PBRD
select BillNo,pbrd.kwahfinalreading, pbrd.kwahinitialreading,isnull(pbrd.kwahconsumption,0) kwahconsumption,
isnull(pbrd.kwahaverageconsumption,0) kwahaverageconsumption,isnull(pbrd.WithdrawalConsumption,0) WithdrawalConsumption
,round(isnull(pbrd.bmdreading,0),2) bmd,revenuebillreasonid
from prebillreadingdetails pbrd where  pbrd.released!=1 and billno in (select billno from @PBD pbd where MaxNo=1 and pbrd.billno=pbd.billno)

--collection adjestments
declare @CAD table (consumerid int,amount Money,CollectionAdjustmentTypeID int,month int, year int,billno bigint) 
insert into @CAD
select consumerid,round(isnull(amount,0),2),CollectionAdjustmentTypeID,pbd.monthid,pbd.yearid,pbd.billno from CollectionAdjustments ca
inner join @PBD pbd  on ca.FromConsumerID=pbd.consumerid and 
YearID=Year(ca.adjustmentdate) and MonthID=Month(ca.adjustmentdate) and  MaxNo=1
  where CollectionAdjustmentTypeID in(1,2,3,5,6) and  cancel<>1 and approved=1 


declare @CAD1 table (consumerid int,amount Money,CollectionAdjustmentTypeID int,month int, year int,billno bigint) 
insert into @CAD1
select  consumerid, round(isnull(amount,0),2),CollectionAdjustmentTypeID,pbd.monthid,pbd.yearid,billno from CollectionAdjustments ca
inner join @PBD pbd  on ca.ToConsumerID=pbd.consumerid and 
YearID=Year(ca.adjustmentdate) and MonthID=Month(ca.adjustmentdate) and  MaxNo=1
where CollectionAdjustmentTypeID in(1,2,3,4,8,12,16)  and  cancel<>1 and approved=1 




---ConsumerLedgerDemands
declare @CLD table (consumerid int,subamount Money,yearid int , monthid int) 
insert into @CLD
select cld.consumerid,sum( isnull(cldds.amount,0) ) subamount,pbd.yearid ,pbd.monthid 
from @PBD pbd 
inner join ConsumerLedgerDemands cld on   cld.consumerid = pbd.consumerid and month(cld.billdate)=pbd.monthid and year(cld.billdate)=pbd.yearid 
inner join  ConsumerLedgerDemandDetails cldd on cld.ConsumerLedgerDemandsID=cldd.ConsumerLedgerDemandsid 
inner join  ConsumerLedgerDemandDetailsSub cldds on   cldd.ConsumerLedgerDemandDetailsID=cldds.ConsumerLedgerDemandDetailsID
where   cldd.demandchargetypeid in(5,9) and cldds.demandchargeid in(2,3) 
group by cld.consumerid,pbd.monthid,pbd.yearid

---ConsumerLedgerDemands
declare @CLD1 table (consumerid int,detailamount Money,yearid int , monthid int) 
insert into @CLD1
select cld.consumerid, sum(isnull(cldd.amount ,0)),pbd.yearid ,pbd.monthid 
from @PBD pbd 
inner join ConsumerLedgerDemands cld on    cld.consumerid = pbd.consumerid and month(cld.billdate)=pbd.monthid and year(cld.billdate)=pbd.yearid 
inner join  ConsumerLedgerDemandDetails cldd on cld.ConsumerLedgerDemandsID=cldd.ConsumerLedgerDemandsid 
where  demandchargetypeid not in(1,2,3,4,11,12) 
group by cld.consumerid,pbd.monthid,pbd.yearid 


---otherdemandcharges
declare @ODC table (consumerid int,amount Money,billno bigint) 
insert into @ODC
select odc.consumerid,sum(isnull(odc.amount,0)) amount ,billno  from @PBD pbd 
inner join otherdemandcharges odc on odc.consumerid=pbd.consumerid and
 month(odc.otherdemandchargeddate)=pbd.monthid and year(odc.otherdemandchargeddate)=pbd.yearid 
where odc.cancel<>1 and odc.approved=1  and odc.otherdemandchargetypeid not in (4,5,9)
group by odc.consumerid,billno

declare @ODC1 table (consumerid int,amount Money,billno bigint) 
insert into @ODC1
select odc1.consumerid,sum(isnull(odc1.amount,0)) amount ,billno  from @PBD pbd 
inner join otherdemandcharges odc1 on odc1.consumerid=pbd.consumerid and
 month(odc1.otherdemandchargeddate)=pbd.monthid and year(odc1.otherdemandchargeddate)=pbd.yearid 
where  odc1.cancel<>1 and odc1.approved=1  and odc1.otherdemandchargetypeid  in (9) 
group by odc1.consumerid,billno


---prebillwithdrawals
declare @PBW table (consumerid int,amount Money,billno bigint) 
insert into @PBW
select consumerid,isnull(pbw.amount,0),pbw.billno from prebillwithdrawals pbw
inner join @PBD pbd on pbd.billno = pbw.billno 




declare @RCPT1 table (consumerid int,amount money,billno bigint) 
insert into @RCPT1
select pbd.consumerid,sum(rt.amount),pbd.billno
 from Receipts rt 
inner join @PBD pbd  on  rt.contactid = pbd.consumerid  and Month(rt.receiptdate) = pbd.monthid And Year(rt.receiptdate) = pbd.yearid
where rt.cancel <> 1  And rt.paymenttypeid = 6 
group by pbd.consumerid,pbd.monthid,pbd.yearid,pbd.billno

declare @RCPT table (consumerid int,ReceiptNo BigInt,amount money,receiptdate datetime,MaxNo1 Int ) 
insert into @RCPT
select pbd.consumerid, rt.ReceiptNo,rt.amount,rt.receiptdate,(Row_number() over 
(Partition By consumerID,YearID,monthID Order By ConsumerID,YearID,MonthID,receiptNo desc)) as MaxNo 
 from Receipts rt 
inner join @PBD pbd  on  rt.contactid = pbd.consumerid  and Month(rt.receiptdate) = pbd.monthid And Year(rt.receiptdate) = pbd.yearid
where rt.cancel <> 1  And rt.paymenttypeid = 6 


SELECT 
 ola.fileas as Sub_Division,tt1.description as Ward,t.description as Tariff,ltrim(cn.ledgerno) as LNo
,cn.RRNo,  pm.propertymasterno as doorno,rdaa.readingdate as RD,cn.ConsumerID,cn.Fileas as Name
, replace(replace(cad.StreetName,char(10),','),char(13),',') as Address,convert(VARCHAR(20),cn.servicedate,103) as SD,
pbd.yearid as Year,pbd.monthid as Month

, convert(CHAR(3),DateName(month,DateAdd(month,pbd.monthid,0)-1)) as MonthName
,cast(pbrd.FR as numeric(10,0)) FR,cast(pbrd.IR as numeric(10,0)) IR,ccs.description as status

,
isnull(case when  pbrd.FR is not null then 'Normal' 
else  rbr.reasoncode end ,'No Bill') as Reason
--
,cast(sum(isnull(pbrd.kwahconsumption,0)+isnull(pbrd.kwahaverageconsumption,0)-isnull(pbrd.WithdrawalConsumption,0)) as numeric(10,0)) consumption
,pbrd.bmd,cast(round(isnull(cl.openingbalance,0),2) as numeric(10,2)) as OB
,cast(isnull(cld.subamount,0) as numeric(10,2)) EC
,cast(isnull(odc.amount,0) as numeric(10,2)) as OtherCharges
,cast(isnull(odc1.amount,0) as numeric(10,2)) roundoff
,sum(isnull(-pbw.amount,0))  AvgWA
,cast(round(isnull(cl.openingbalance,0),2)+  sum(isnull(cld1.detailamount,0) ) as numeric(10,2)) as Total
--
,cast(sum( isnull(-cad1.amount,0)+ isnull(cad3.amount,0) +isnull(-cad3.amount,0)+ isnull(-cad4.amount,0)
+isnull(-cad5.amount,0)+ isnull(cad6.amount,0)  + isnull(-cad7 .amount,0) + isnull(cad8.amount,0) + isnull(cad9.amount,0)
+ isnull(cad10.amount,0) + isnull(cad11.amount,0)+ isnull(cad12.amount,0) )  as numeric(10,2)) as AdjAmt

, CAST(isnull(rpt1.amount,0) AS NUMERIC(10,2))  as Collection
,convert(VARCHAR(20),rpt.ReceiptDate ,103)   as ReceiptDate 
,isnull(rpt.ReceiptNo,0)   as ReceiptNo

,cast(round(isnull(cl.openingbalance,0),2) + sum(isnull(cld1.detailamount,0)) - sum(isnull(rpt1.amount,0))
-sum( isnull(-cad1.amount,0)+ isnull(cad3.amount,0) +isnull(-cad3.amount,0)+ isnull(-cad4.amount,0)
+isnull(-cad5.amount,0)+ isnull(cad6.amount,0)  + isnull(-cad7 .amount,0) + isnull(cad8.amount,0) + isnull(cad9.amount,0)
+ isnull(cad10.amount,0) + isnull(cad11.amount,0)+ isnull(cad12.amount,0))
as numeric(10,2)) as CB 

from officelocationallocation ola,tariffs t,consumer cn 
inner join @PBD pbd on pbd.consumerid=cn.consumerid-- and MaxNo=1
left outer join @PBRD pbrd on pbrd.BillNo=pbd.BillNo
left outer join @CLD cld on   pbd.consumerid=cld.consumerid and pbd.yearid = cld.yearid and pbd.monthid = cld.monthid 
left outer join @CLD1 cld1 on   pbd.consumerid=cld1.consumerid and pbd.yearid = cld1.yearid and pbd.monthid = cld1.monthid 
left outer join @PBW pbw on  pbd.billno = pbw.billno 
left outer join @ODC odc on pbd.billno = odc.billno
left outer join @ODC1 odc1 on  pbd.billno = odc1.billno 
left outer join  @CAD cad1 on cad1.billno = pbd.billno and cad1.collectionadjustmenttypeid=1
left outer join  @CAD cad2 on cad2.billno = pbd.billno and cad2.collectionadjustmenttypeid=2
left outer join  @CAD cad3 on cad3.billno = pbd.billno  and cad3.collectionadjustmenttypeid=3
left outer join  @CAD cad4 on cad4.billno = pbd.billno  and cad4.collectionadjustmenttypeid=5
left outer join  @CAD cad5 on cad5.billno = pbd.billno  and cad5.collectionadjustmenttypeid=6
left outer join  @CAD1 cad6 on cad6.billno = pbd.billno  and cad6.collectionadjustmenttypeid=1
left outer join  @CAD1 cad7 on cad7.billno = pbd.billno  and cad7.collectionadjustmenttypeid=2
left outer join  @CAD1 cad8 on cad8.billno = pbd.billno  and cad8.collectionadjustmenttypeid=3
left outer join  @CAD1 cad9 on cad9.billno = pbd.billno  and cad9.collectionadjustmenttypeid=4
left outer join  @CAD1 cad10 on cad10.billno = pbd.billno  and cad10.collectionadjustmenttypeid=8
left outer join  @CAD1 cad11 on cad11.billno = pbd.billno  and cad11.collectionadjustmenttypeid=12
left outer join  @CAD1 cad12 on cad12.billno = pbd.billno  and cad12.collectionadjustmenttypeid=16
left outer join @RCPT  rpt on pbd.consumerid = rpt.consumerid and month(rpt.receiptdate)=pbd.monthid  
and year(rpt.receiptdate)=pbd.yearid and rpt.MaxNo1=1
left outer join @RCPT1  rpt1 on pbd.billno= rpt1.billno
left outer join consumerpropertyallocation cpa on cpa.consumerid=cn.consumerid and cpa.main=1   
left outer join propertymaster pm on pm.propertymasterid=cpa.propertymasterid   
left outer join territories tt on tt.territoryid=pm.territoryid   
left outer join territories tt1 on tt1.territoryid=tt.underterritoryid   
left outer join consumeraddressdetails cad on cad.consumerid=cn.consumerid and cad.addresscategoryid=5   
left outer join distributionnodemeterallocation dnma on dnma.distributionnodeid=cn.distributionnodeid and dnma.disconnected!=1  
left outer join meterdetails md on md.meterid=dnma.meterid   
left outer join readingdateareaallocation rdaa on rdaa.readingdateareaallocationid=cn.readingdateareaallocationid   
left outer join consumerarrears ca on ca.consumerid=cn.consumerid and ca.arrears=1 and   month(ca.readingdate)=pbd.monthid and year(ca.readingdate)=pbd.yearid   
left outer join consumerledger cl on cl.consumerid=cn.consumerid and cl.ledgermonth=pbd.monthid and  cl.ledgeryear=pbd.yearid 
left outer join ConsumerConnectionStatus ccs on cn.consumerconnectionstatusid=ccs.consumerconnectionstatusid  
left outer join RevenueBillReasons rbr on pbrd.revenuebillreasonid=rbr.revenuebillreasonid 
where(  cn.tariffid = t.tariffid And cn.consumerolid = ola.officelocationallocationid)  
and  ola.officelocationallocationid =5
group by 
ola.fileas,t.description,ltrim(cn.ledgerno),cn.foliono,cn.RRNo,cn.ConsumerID,cn.Fileas,cad.streetname,cn.sanctionedload,  
cn.connectedload,cn.consumerconnectionstatusid, rdaa.readingdate, md.meterconstant, cn.servicedate, cn.lineminimum,
 cn.lineminimumterminationdate,
pbd.yearid, pbd.monthid
, cl.openingbalance, tt1.description,pm.propertymasterno,ccs.description,
pbrd.FR,pbrd.IR ,pbrd.bmd,rpt.ReceiptDate ,rpt.ReceiptNo ,rbr.reasoncode,cld.subamount,odc.amount,odc1.amount,rpt1.amount
order by ola.fileas,cn.consumerid,pbd.yearid,pbd.monthid,ltrim(cn.ledgerno),cn.foliono,t.description


GO
