USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_deletetariff]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_deletetariff]
@tariffid varchar(max)
AS
SET NOCOUNT ON

Declare @v int select @v=0

select  top 1  'Already consumer Exists  for this Tariff Not able to Delete' massage ,'error'  types,1 a From  Consumer  
where TariffID=@tariffid 

set @v=(select isnull(sum(a),0) count From (
select  1 a From  Consumer  
where TariffID=@tariffid 
)kl)

IF (@v=0 )
BEGIN
delete From EnergyChargeSlabHistory where EnergyChargeSlabPeriodID in (
 select EnergyChargeSlabPeriodID From EnergyChargeSlabPeriods where TariffID=@tariffid )

delete From EnergyChargeSlabs where EnergyChargeSlabPeriodID in ( select EnergyChargeSlabPeriodID From EnergyChargeSlabPeriods where TariffID=@tariffid )


delete From EnergyChargeSlabPeriods where TariffID=@tariffid


delete From Tariffs where TariffID=@tariffid

end
GO
