USE [EnergySyncRevenueBantwal]
GO
/****** Object:  StoredProcedure [dbo].[sp_Receipt_update]    Script Date: 12-06-2026 15:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Receipt_update]
 @cid varchar(max)
AS
SET NOCOUNT ON




DECLARE @ReceiptNo  varchar(max)
DECLARE db_cursor CURSOR FOR 
select ReceiptNo From Receipts where Cancel=0 and Updated=0 and CashCounterID= @cid 

select cast(count(*) as varchar(100)) msg, 'done' types  From Receipts where Cancel=0 and Updated=0 and CashCounterID= @cid 

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @ReceiptNo  

WHILE @@FETCH_STATUS = 0  
BEGIN  

insert into ConsumerLedgerCollections 
select  r.ReceiptNo,r.CashCounterOLID,r.CashCounterID,r.ContactID,null,
case when cb>=amount then amount else cb end 
,r.ReceiptDate,cb -amount,0,0
From Receipts r
inner join Consumer c on r.ContactID=c.ConsumerID
outer apply (select cb From consumercb(c.rrno))k
where r.CashCounterID= @cid and r.Updated=0 and r.Cancel=0 and r.ReceiptNo=@ReceiptNo
and cb>0    


insert into ConsumerLedgerCollectionDetails
select  ConsumerLedgerCollectionID,1,ccd.ReceiptAmount
From Receipts r
inner join Consumer c on r.ContactID=c.ConsumerID
inner join ConsumerLedgerCollections ccd on r.ReceiptNo=ccd.ReceiptNo
outer apply (select cb From consumercb(c.rrno))k
where r.CashCounterID= @cid and r.Updated=0 and r.Cancel=0 and r.ReceiptNo=@ReceiptNo
and cb>0      


insert into ConsumerLedgerCollectionDetailsSub 
select  vf.ConsumerLedgerCollectionDetailsID,2,ccd.ReceiptAmount
From Receipts r
inner join Consumer c on r.ContactID=c.ConsumerID
inner join ConsumerLedgerCollections ccd on r.ReceiptNo=ccd.ReceiptNo
inner join ConsumerLedgerCollectionDetails vf on vf.ConsumerLedgerCollectionID=ccd.ConsumerLedgerCollectionID
outer apply (select cb From consumercb(c.rrno))k
where r.CashCounterID= @cid and r.Updated=0 and r.Cancel=0 and r.ReceiptNo=2019040000001
and cb>0  


update r set r.Balance=Amount-cb
From Receipts r
inner join Consumer c on r.ContactID=c.ConsumerID  
outer apply (select cb From consumercb(c.rrno))k
where r.CashCounterID= @cid and r.Updated=0 and r.Cancel=0 and r.ReceiptNo=@ReceiptNo  
 and cb<Amount   
    
 

update r set r.Balance=0
From Receipts r
inner join Consumer c on r.ContactID=c.ConsumerID  
outer apply (select cb From consumercb(c.rrno))k
where r.CashCounterID=1 and r.Updated=0 and r.Cancel=0 and r.ReceiptNo=@ReceiptNo  
    and cb>=amount

update r set r.Updated=1
From Receipts r
inner join Consumer c on r.ContactID=c.ConsumerID  
outer apply (select cb From consumercb(c.rrno))k
where r.CashCounterID=@cid and r.Updated=0 and r.Cancel=0 and r.ReceiptNo=@ReceiptNo  



      FETCH NEXT FROM db_cursor INTO @ReceiptNo  
END 
CLOSE db_cursor  
DEALLOCATE db_cursor
GO
