USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[Update_User]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Update_User]
		@ContactID INT,
		@NewPassword varbinary(50)
AS
BEGIN 
	SET NOCOUNT ON 

	Update dbo.Users
	Set [Password]=@NewPassword
FROM dbo.Users
	WHERE 	ContactID=@ContactID
END

GO
