USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[SP_CurrentDemand]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec SP_CurrentDemand @consumerid='1046', @FromYear='2015',@ToYear='2016' 



create PROCEDURE [dbo].[SP_CurrentDemand](@consumerid varchar(4000),@FromYear varchar(10),@ToYear varchar(10) ) 

/*Declare @consumerid varchar(4000) set @consumerid='10334,1462'
Declare @FromYear varchar(10) set @FromYear='2015'
Declare @ToYear varchar(10) set @ToYear='2016'*/
 
as
declare @sql varchar(max)

select @sql='
select a.ConsumerID  ConsumerID,RRNo,Name, Address,WardName,Tariff,DoorNo,servicedate,  A.DCBmonth,dcbyear, 
isnull( ArrearBill,0) ArrearBill,
(case when sum(othercharges+0)< 0 then( isnull( cast(round(sum((round((DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+PFPenalty+ Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),2)+round((GOKDemandRevenueFixedCharge+ GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers),2)) +(round((DemandInterest+DemandSupervisionFee),2)+ round((GOKDemandInterest+GOKDemandSupervisionFee),2)) + (round((DemandTax+DemandMeterRent),2) +round((GOKDemandTax+GOKDemandMeterRent),2))),0) as NUMERIC(10,2)),0)) 
when sum(DemandRevenueEnergyCharge+0)<0 then isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueOthers+DemandInterest+DemandTax+DemandSupervisionFee + DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum(DemandRevenueOthers+0)<0 then  isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandInterest+DemandTax+DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum( DemandInterest +0)<0 then isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandTax+DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum( DemandTax+0)<0 then  isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum(DemandMeterRent+0)<0 then  isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+DemandSupervisionFee+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum(DemandRevenueOthers+0)<0 then  isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandInterest+DemandTax+DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum(DemandCorrection+0)<0 then  isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandInterest+DemandTax+DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
when sum(DemandRevenueOthers+0)<0 then  isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandInterest+DemandTax+DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)
else (isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+DemandSupervisionFee + DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0))
  END)  as AmountDue,

(case when sum(othercharges+0) < 0 then abs(cast(sum(othercharges + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum(DemandRevenueEnergyCharge+0)<0 then abs(cast(sum(DemandRevenueEnergyCharge + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum(DemandRevenueOthers+0)<0 then abs(cast(sum(DemandRevenueOthers + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum( DemandInterest +0)<0 then abs(cast(sum(DemandInterest + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum( DemandTax+0)<0 then abs(cast(sum(DemandTax + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum(DemandMeterRent+0)<0 then  abs(cast(sum(DemandMeterRent + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum(DemandRevenueOthers+0)<0 then abs(cast(sum(DemandRevenueOthers + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum(DemandCorrection+0)<0 then abs(cast(sum(DemandCorrection + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
when sum(DemandRevenueOthers+0)<0 then abs(cast(sum(DemandRevenueOthers + 0) as numeric(10,2))) +isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)as NUMERIC(10,2)),0)
else
isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+  CollectionInterest+CollectionTax+
CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)  +CollectionSuspense-CollectionDHAmount)
 as NUMERIC(10,2)),0) END)  as Collection 

 from ( select ConsumerID,DCBID,dcbyear,dcbmonth  FROM (select  DCBID,dcbyear,dcbmonth from DCB D1
 where (dcbyear ='+@FromYear+'  and dcbmonth>=4) or (dcbyear='+@ToYear+' 
 and dcbmonth<=3) ) A 
 Cross Join (select Distinct ConsumerID  from DCBDetails d
 where  DCBID=d.DCBID  
and consumerid in('+@consumerid+') ) as B  ) as A

 left outer Join
 ( select d.*,RRNo,cn.FileAs as Name,ca.StreetName as Address,t.Description as Tariff,cn.servicedate  from DCBDetails d left outer join
  Consumer cn on cn.ConsumerID=d.ConsumerID left outer join  ConsumerAddressDetails  ca on ca.ConsumerID=cn.ConsumerID
 left outer join Tariffs t on d.Tariffid=t.tariffid where DCBID in
 (select DCBID from DCB   where (dcbyear ='+@FromYear+' and dcbmonth>=4) or (dcbyear  ='+@ToYear+' and dcbmonth<=3) and dcb.DCBID=d.DCBID) 
and  cn.consumerid in
('+@consumerid+') ) as B on b.ConsumerID=a.ConsumerID and a.dcbid=b.dcbid Group By a.ConsumerID,RRNo,Name, 
Address,WardName,Tariff,DoorNo,servicedate,A.DCBmonth,dcbyear, ArrearBill
 order by a.ConsumerID,DCBYear,DCBMonth  '

exec(@sql)
--select @sql

GO
