USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL__Consumerledger_update_insert]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  PROCEDURE [dbo].[SP_ETL__Consumerledger_update_insert] @cmpid int
,@month Varchar(2),@year Varchar(4)
 AS 



Declare @DBName1 varchar(50)
select @DBName1=(select DatabaseDescription+'.dbo.' from Common.dbo.DatabaseLinks  where CompanyID=@cmpid and DatabaseTypeID=1)
Declare @DBName2 varchar(50)
select @DBName2=(select DatabaseDescription+'.dbo.' from Common.dbo.DatabaseLinks  where CompanyID=@cmpid and DatabaseTypeID=2)


Declare @Sql Varchar(Max)
Set @Sql = 'update a set a.ConsumerID=b.ConsumerID ,a.LedgerMonth=b.LedgerMonth ,a.LedgerYear=b.LedgerYear ,a.OpeningBalance=b.OpeningBalance ,a.GOKOpeningBalance=b.GOKOpeningBalance ,a.CourtDisputeOpeningBalance=b.CourtDisputeOpeningBalance ,a.AppellateDisputeOpeningBalance=b.AppellateDisputeOpeningBalance ,a.CreatedOn=b.CreatedOn ,a.CreatedBy=b.CreatedBy ,a.dashboardupdated=getdate()
From '+@DBName2+'D_Consumerledger   a inner join  '+@DBName1+'Consumerledger b on a.ConsumerLedgerID=b.ConsumerLedgerID 
'

Declare @Sql1 Varchar(Max) Set @Sql1 = '
insert into '+@DBName2+'D_Consumerledger  
select ConsumerLedgerID,ConsumerID,LedgerMonth,LedgerYear,OpeningBalance,GOKOpeningBalance,CourtDisputeOpeningBalance,AppellateDisputeOpeningBalance,CreatedOn,CreatedBy
,GetDate() dashboardupdated  
from '+@DBName1+'Consumerledger a cross join '+@DBName1+'Today
where ledgermonth = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and ledgeryear = (case when '+@year+' = 0 then year(today) else '+@year+' end)
and  ConsumerLedgerID   not in (select  ConsumerLedgerID   from '+@DBName2+'D_Consumerledger   )
order by ConsumerLedgerID '


exec (@Sql)
exec (@Sql1)


GO
