USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL__PreBillReadingDetails_update_insert]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  PROCEDURE [dbo].[SP_ETL__PreBillReadingDetails_update_insert] @cmpid int
,@month Varchar(2),@year Varchar(4)
 AS 



Declare @DBName1 varchar(50)
select @DBName1=(select DatabaseDescription+'.dbo.' from Common.dbo.DatabaseLinks  where CompanyID=@cmpid and DatabaseTypeID=1)
Declare @DBName2 varchar(50)
select @DBName2=(select DatabaseDescription+'.dbo.' from Common.dbo.DatabaseLinks  where CompanyID=@cmpid and DatabaseTypeID=2)


Declare @Sql Varchar(Max)
Set @Sql = 'update a set a.BillNo=b.BillNo ,a.MeterID=b.MeterID ,a.KWahInitialReading=b.KWahInitialReading ,a.KWahFinalReading=b.KWahFinalReading ,a.RevenueBillReasonID=b.RevenueBillReasonID ,a.MeterIdentifier=b.MeterIdentifier ,a.KWahConsumption=b.KWahConsumption ,a.KVahInitialReading=b.KVahInitialReading ,a.KVahFinalReading=b.KVahFinalReading ,a.KVahConsumption=b.KVahConsumption ,a.BMDReading=b.BMDReading ,a.PowerFactor=b.PowerFactor ,a.PowerFactorValue=b.PowerFactorValue ,a.KWahAverageConsumption=b.KWahAverageConsumption ,a.KVahAverageConsumption=b.KVahAverageConsumption ,a.WithdrawalConsumption=b.WithdrawalConsumption ,a.WithdrawalECRatio=b.WithdrawalECRatio ,a.ReasonKWahAvgConsumption=b.ReasonKWahAvgConsumption ,a.ReasonKVahAvgConsumption=b.ReasonKVahAvgConsumption ,a.LeadLag=b.LeadLag ,a.CTRatio=b.CTRatio ,a.PTRatio=b.PTRatio ,a.MeterFixedDate=b.MeterFixedDate ,a.MeterDigits=b.MeterDigits ,a.ECRatio=b.ECRatio ,a.Trivector=b.Trivector ,a.TariffID=b.TariffID ,a.MeterStatus=b.MeterStatus ,a.MeterConstant=b.MeterConstant ,a.Released=b.Released ,a.PendingForWithdrawal=b.PendingForWithdrawal ,a.MainMeter=b.MainMeter ,a.MeterReaderObservationID=b.MeterReaderObservationID ,a.MNRConstant=b.MNRConstant ,a.ReasonECRatio=b.ReasonECRatio ,a.ReasonStartingDate=b.ReasonStartingDate ,a.BulkPowerSupplyCount=b.BulkPowerSupplyCount ,a.dashboardupdated=getdate()
From '+@DBName2+'D_PreBillReadingDetails   a inner join  '+@DBName1+'PreBillReadingDetails b on a.PreBillReadingDetailsID=b.PreBillReadingDetailsID 
'

Declare @Sql1 Varchar(Max) Set @Sql1 = '
insert into '+@DBName2+'D_PreBillReadingDetails  
select PreBillReadingDetailsID,BillNo,MeterID,KWahInitialReading,KWahFinalReading,RevenueBillReasonID,MeterIdentifier,KWahConsumption,KVahInitialReading,KVahFinalReading
,KVahConsumption,BMDReading,PowerFactor,PowerFactorValue,KWahAverageConsumption,KVahAverageConsumption,WithdrawalConsumption,WithdrawalECRatio,ReasonKWahAvgConsumption
,ReasonKVahAvgConsumption,LeadLag,CTRatio,PTRatio,MeterFixedDate,MeterDigits,ECRatio,Trivector,TariffID,MeterStatus,MeterConstant,Released,PendingForWithdrawal,MainMeter
,MeterReaderObservationID,MNRConstant,ReasonECRatio,ReasonStartingDate,BulkPowerSupplyCount,GetDate() dashboardupdated 
from '+@DBName1+'PreBillReadingDetails where Released=0 and BillNo in (
select BillNo from '+@DBName1+'PreBillDetails a cross join '+@DBName1+'Today
where   Billed=1
and month(DemandRaisedDate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(DemandRaisedDate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
)
and  PreBillReadingDetailsID   not in (select  PreBillReadingDetailsID   from '+@DBName2+'D_PreBillReadingDetails  )

order by billno '


exec (@Sql)
exec (@Sql1)

GO
