USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_PreBillReadingDetails]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create PROCEDURE [dbo].[SP_ETL_PreBillReadingDetails] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select PreBillReadingDetailsID,BillNo,MeterID,KWahInitialReading,KWahFinalReading,RevenueBillReasonID,MeterIdentifier,KWahConsumption,KVahInitialReading,KVahFinalReading
,KVahConsumption,BMDReading,PowerFactor,PowerFactorValue,KWahAverageConsumption,KVahAverageConsumption,WithdrawalConsumption,WithdrawalECRatio,ReasonKWahAvgConsumption
,ReasonKVahAvgConsumption,LeadLag,CTRatio,PTRatio,MeterFixedDate,MeterDigits,ECRatio,Trivector,TariffID,MeterStatus,MeterConstant,Released,PendingForWithdrawal,MainMeter
,MeterReaderObservationID,MNRConstant,ReasonECRatio,ReasonStartingDate,BulkPowerSupplyCount,GetDate() dashboardupdated 
from '+@DBName+'PreBillReadingDetails where Released=0 and BillNo in (
select BillNo from '+@DBName+'PreBillDetails a cross join '+@DBName+'Today
where Billed=1 
and month(DemandRaisedDate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(DemandRaisedDate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
) Order by PreBillReadingDetailsID
'exec (@Sql)
GO
