USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[MapConsumption]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MapConsumption](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)

select @sql='
select distinct dcb.ConsumerID,d.DistributionNodeUserDefinedFieldValue Lattitude,e.DistributionNodeUserDefinedFieldValue Longitude,(case when isnull(dcb.ConsumptionTypeID,0)=1 then ''Subnormal''
                                                    when isnull(dcb.ConsumptionTypeID,0)=2 then ''Abnormal'' else ''Normal'' end) as Consumption,dcb.DCBID
from DCBDetails dcb
inner join (select DistributionNodeID,ConsumerID from Consumer) c on dcb.ConsumerID=c.ConsumerID
inner join DistributionNodeSub d on c.DistributionNodeID=d.DistributionNodeID and d.DistributionNodeUserDefinedFieldID=52
inner join DistributionNodeSub e on c.DistributionNodeID=e.DistributionNodeID and e.DistributionNodeUserDefinedFieldID=53
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+')
'+@var+''
exec(@sql)

GO
