USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[GISReportsDT]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GISReportsDT] @DB varchar(50),@Month varchar(10),@Year varchar(10) as  SET NOCOUNT ON


Declare @sql1 varchar(max) ,@sql2 varchar(max)
Declare @prevbill table (ConsumerID int,Ccount int,KWahConsumptionprev float,KWahConsumptionpre float)
Declare @curbill table (ConsumerID int,KWahConsumptioncurr float)
 
set @sql1='select ConsumerID,count(KWahConsumption) Ccount,(50*(sum(isnull(KWahConsumption,0)) /sum(ECRatio))/100)  KWahConsumptionprev,
(150*(sum(isnull(KWahConsumption,0)) /sum(ECRatio))/100)  KWahConsumptionpre
  from (select --distinct c.ConsumerID-- ,p.ConsumerID,isnull(pr.KWahConsumption,0) KWahConsumptioncurr 
  ROW_NUMBER () over (partition by c.Consumerid order by p.BillDate desc) rn,pr.KWahConsumption,pr.ECRatio,pr.KWahFinalReading,pr.RevenueBillReasonID,c.ConsumerID,BillDate
from  '+@DB+'consumer c
left join  '+@DB+'PreBillDetails p on c.ConsumerID=p.ConsumerID and month(BillDate)<'+@month+'and year(BillDate)<='+@year+' and billed=1 and SBM=1 and p.ArrearBill<>0
left  join  '+@DB+'PreBillReadingDetails pr on p.BillNo=pr.BillNo and pr.KWahFinalReading is not null --and  isnull(pr.KWahConsumption,0) <>0 
where  pr.KWahConsumption<>0 and pr.KWahConsumption is not null 
) p where rn <4 
group by  ConsumerID

union


select distinct c.ConsumerID,1 Ccount,0 KWahConsumption,0 KWahConsumptionpre
from  '+@DB+'consumer c
where  c.consumerid not in(select distinct p.consumerid from  '+@DB+'PreBillReadingDetails  pr 
inner join   '+@DB+'prebilldetails p on pr.BillNo=p.BillNo 
where   Billed=1 and p.Updated=1 and p.ArrearBill<>0  and month(BillDate) <'+@month+' and year(BillDate)<='+@year+'
and pr.KWahFinalReading is not null and pr.KWahConsumption <>0)'


insert into @prevbill
exec(@sql1)


set @sql2='
select c.ConsumerID,isnull(pr.KWahConsumption,0) KWahConsumptioncurr from  '+@DB+'consumer c
left join  '+@DB+'PreBillDetails p on c.ConsumerID=p.ConsumerID and month(BillDate)='+@month+'  and year(BillDate)='+@year+' and billed=1 and SBM=1 and p.ArrearBill<>0
left join  '+@DB+'PreBillReadingDetails pr on p.BillNo=pr.BillNo '


insert into @curbill
exec(@sql2)


select distinct P.DCBDetailsID, P.consumerID,(case  when Ccount=3 and  isnull(KWahConsumptioncurr,0)>isnull(KWahConsumptionpre,0)  then 2 when Ccount=3 and isnull(KWahConsumptioncurr,0)<isnull(KWahConsumptionprev,0)  then 1 when Ccount<=3 and isnull(KWahConsumptioncurr,0)  between isnull(KWahConsumptionprev,0) and isnull(KWahConsumptionpre,0)  then 3 else  3  
end) Consumpt  into #res
from (
select convert(datetime,concat(b.DCBYear,'-',b.DCBMonth,'-','01'),103) Date , a.DCBDetailsID,a.ConsumerID
from dcbdetails a
inner join DCB b on a.DCBID=b.DCBID where  b.DCBMonth=@Month and b.DCBYear=@Year ) as P

left join( select * from @prevbill) as Q on P.ConsumerID=Q.ConsumerID

left join(select * from @curbill) as R  on P.ConsumerID=R.ConsumerID 


update DCBDEtails set ConsumptionTypeID=B.Consumpt
from DCBDetails A inner join #res B ON A.DCBDetailsID=b.DCBDetailsID

select 'Consumption Type Transferred'

Declare @sql varchar(max) 

set @sql='

--select  dcbdetailsid,C.Amount  
update DCBDetails set Arrears=C.Amount 
from DCBDetails B 
inner join DCB A on A.DCBID=B.DCBID and A.DCBYear='+@Year+'  and A.DCBMonth='+@Month+'
inner join '+@DB+'ConsumerArrears C on B.ConsumerID=C.ConsumerID and C.Arrears=1 and month(C.BillDate)='+@Month+' and year(C.BillDate)='+@Year

exec (@sql)


select 'Arrears Data Transferred'


insert into MasterRange
select distinct tariffid,a.DCBMonth,a.DCBYear
from DCB a
inner join DCBDetails b on a.DCBID=b.DCBID
where concat(a.DCBMonth,'-',a.DCBMonth) not in(select concat(Month,'-',Year) from MasterRange where Month=a.DCBMonth and Year=a.DCBYear)

and a.DCBYear=@Year and a.DCBMonth=@Month

insert into Ranges
select distinct c.MasterRangeID,11,max(isnull(b.Arrears,0))*0.2
from DCB a
inner join DCBDetails b on a.DCBID=b.DCBID
inner join MasterRange c on a.DCBMonth=c.Month and a.DCBYear=c.Year and b.TariffID=c.TariffID
and a.DCBYear=@Year and a.DCBMonth=@Month and arrears<>0 
group by c.MasterRangeID,b.TariffID
union
select distinct c.MasterRangeID,max(isnull(b.Arrears,0))*0.2+1,max(isnull(b.Arrears,0))*0.4
from DCB a
inner join DCBDetails b on a.DCBID=b.DCBID
inner join MasterRange c on a.DCBMonth=c.Month and a.DCBYear=c.Year and b.TariffID=c.TariffID
and a.DCBYear=@Year and a.DCBMonth=@Month and arrears<>0 
group by c.MasterRangeID,b.TariffID
union
select distinct c.MasterRangeID,max(isnull(b.Arrears,0))*0.4+1,max(isnull(b.Arrears,0))*0.6
from DCB a
inner join DCBDetails b on a.DCBID=b.DCBID
inner join MasterRange c on a.DCBMonth=c.Month and a.DCBYear=c.Year and b.TariffID=c.TariffID
and a.DCBYear=@Year and a.DCBMonth=@Month and arrears<>0 
group by c.MasterRangeID,b.TariffID
union
select distinct c.MasterRangeID,max(isnull(b.Arrears,0))*0.6+1,max(isnull(b.Arrears,0))*0.8
from DCB a
inner join DCBDetails b on a.DCBID=b.DCBID
inner join MasterRange c on a.DCBMonth=c.Month and a.DCBYear=c.Year and b.TariffID=c.TariffID
and a.DCBYear=@Year and a.DCBMonth=@Month and arrears<>0 
group by c.MasterRangeID,b.TariffID
union
select distinct c.MasterRangeID,max(isnull(b.Arrears,0))*0.8+1,max(isnull(b.Arrears,0))
from DCB a
inner join DCBDetails b on a.DCBID=b.DCBID
inner join MasterRange c on a.DCBMonth=c.Month and a.DCBYear=c.Year and b.TariffID=c.TariffID
and a.DCBYear=@Year and a.DCBMonth=@Month and arrears<>0 
group by c.MasterRangeID,b.TariffID

select 'Arrears Range Transferred'



Declare @sql3 varchar(max) 

set @sql3='
select imagepath,a.consumerid,dcbdetailsid into #tmp
from '+@DB+'PreBillDetails a
inner join(select dcbdetailsid,consumerid from dcbdetails a
                     inner join DCB b on a.DCBID=b.DCBID and b.DCBMonth='+@Month+' and b.DCBYear='+@Year+') as b on a.consumerid=b.consumerid
where arrearbill=1 and month(BillDate)='+@Month+' and year(BillDate)='+@Year+' and a.imagepath<>'''' 

update b set b.Imagepath=a.Imagepath
from #tmp a
inner join DCBDetails b on a.dcbdetailsid=b.dcbdetailsid'

exec(@sql3)

select 'Image Path Transferred'

Declare @sql4 varchar(max) 

set @sql4='

insert into DistributionNodeSub
select * from '+@DB+'DistributionNodeSub A
where DistributionNodeID not in ( select DistributionNodeID from DistributionNodeSub B where b.DistributionNodeID=a.DistributionNodeID and b.DistributionNodeUserDefinedFieldID=a.DistributionNodeUserDefinedFieldID )
and DistributionNodeUserDefinedFieldID in(52,53)'

exec(@sql4)

select 'Lat Long Transferred'


select 'Complete !!!!!!!!!!!!'

GO
