USE [ESMCCKarKala]
GO
/****** Object:  StoredProcedure [dbo].[sp_TariffWiseDCB]    Script Date: 15-06-2026 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--drop procedure [sp_TariffsWiseDCB]

CREATE  Procedure [dbo].[sp_TariffWiseDCB]
@DCBIDString varchar(500)
AS
SET NOCOUNT ON



--Declare @DCBIDString int select @DCBIDString = 87

;With DCB1 (DCBDetailsID,DCBID,DCBMonth,DCBYear,ConsumerID,TariffID,DCBTariffID,Consumption,CollectionRevenueCash,CollectionInterest,CollectionTax,CollectionRevenueAdjustments,CollectionInterestAdjustments,CollectionTaxAdjustments,ConnectedLoad,ConsumerConnectionStatusID,BillingMonth,RevenueBillReasonID,ArrearBill,OpeningBalanceRevenue,OpeningBalanceInterest,OpeningBalanceTax,DemandRevenue,DemandInterest,DemandTax) as (
select DCBDetailsID,d.DCBID,DCBMonth,DCBYear,d.ConsumerID,d.TariffID,DCBTariffID,isnull(Consumption,0) as Consumption
,round((CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionBalance+CollectionDRCharges+CollectionSuspense-CollectionDHAmount),2) as RevenueCollection
,round((CollectionInterest+CollectionSupervisionFee),2) as InterestCollection
,round((CollectionTax+CollectionMeterRent),2) as TaxCollection

,round((isnull(CollectionCBTransfer,0)+isnull(CollectionRevenueToMisc,0)+isnull(CollectionJVOthers,0)+isnull(CollectionJVOthersBalance,0)+isnull(CollectionLTOLRevenueFixedCharge,0)+isnull(CollectionLTOLRevenueEnergyCharge,0)+isnull(CollectionLTOLRevenueOthers,0)+isnull(CollectionLTOLBalance,0)
+isnull(CollectionMiscToRevenueFixedCharge,0)+isnull(CollectionMiscToRevenueEnergyCharge,0)+isnull(CollectionMiscToRevenueOthers,0)+isnull(CollectionMiscToRevenueBalance,0)+isnull(CollectionDepositToRevenueFixedCharge,0)+isnull(CollectionDepositToRevenueEnergyCharge,0)+isnull(CollectionDepositToRevenueOthers,0)+isnull(CollectionDepositToRevenueBalance,0)
+isnull(CollectionWithdrawlsRevenueFixedCharge,0)+isnull(CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(CollectionWithdrawlsRevenueOthers,0)+isnull(CollectionWithdrawlsBalance,0)+isnull(CollectionOfficeAdjustmentFixedCharge,0)+isnull(CollectionOfficeAdjustmentEnergyCharge,0)+isnull(CollectionOfficeAdjustmentOthers,0)+isnull(CollectionOfficeAdjustmentBalance,0)
+isnull(CollectionOfficeLightingJVFixedCharge,0)+isnull(CollectionOfficeLightingJVEnergyCharge,0)+isnull(CollectionOfficeLightingJVOthers,0)+isnull(CollectionOfficeLightingJVBalance,0)+isnull(CollectionLT6JVFixedCharge,0)+isnull(CollectionLT6JVEnergyCharge,0)+isnull(CollectionLT6JVRevenueOthers,0)+isnull(CollectionLT6JVBalance,0)
+isnull(CollectionDisputeToJVFixedCharge,0)+isnull(CollectionDisputeToJVEnergyCharge,0)+isnull(CollectionDisputeToJVRevenueOthers,0)+isnull(CollectionDisputeToJVBalance,0)+isnull(GOKCollectionRevenueFixedCharge,0)+isnull(GOKCollectionRevenueEnergyCharge,0)+isnull(GOKCollectionRevenueOthers,0)+isnull(GOKCollectionBalance,0)),2) as RevenueAdj

,round((isnull(CollectionLTOLInterest,0)+isnull(CollectionLTOLSupervisionFee,0)+isnull(CollectionMiscToRevenueInterest,0)+isnull(CollectionMiscToRevenueSupervisionFee,0)+isnull(CollectionDepositToRevenueInterest,0)+isnull(CollectionDepositToRevenueSupervisionFee,0)
+isnull(CollectionWithdrawlsInterest,0)+isnull(CollectionWithdrawlsSupervisionFee,0)+isnull(CollectionOfficeAdjustmentInterest,0)+isnull(CollectionOfficeAdjustmentSupervisionFee,0)+isnull(CollectionOfficeLightingJVInterest,0)+isnull(CollectionOfficeLightingJVSupervisionFee,0)
+isnull(CollectionLT6JVInterest,0)+isnull(CollectionLT6JVSupervisionFee,0)+isnull(CollectionDisputeToJVInterest,0)+isnull(CollectionDisputeToJVSupervisionFee,0)+isnull(GOKCollectionInterest,0)+isnull(GOKCollectionSupervisionFee,0)),2) as InterestAdj

,round((isnull(CollectionLTOLTax,0)+isnull(CollectionLTOLMeterRent,0)+isnull(CollectionMiscToRevenueTax,0)+isnull(CollectionMiscToRevenueMeterRent,0)+isnull(CollectionDepositToRevenueTax,0)+isnull(CollectionDepositToRevenueMeterRent,0)
+isnull(CollectionWithdrawlsTax,0)+isnull(CollectionWithdrawlsMeterRent,0)+isnull(CollectionOfficeAdjustmentTax,0)+isnull(CollectionOfficeAdjustmentMeterRent,0)+isnull(CollectionOfficeLightingJVTax,0)+isnull(CollectionOfficeLightingJVMeterRent,0)
+isnull(CollectionLT6JVTax,0)+isnull(CollectionLT6JVMeterRent,0)+isnull(CollectionDisputeToJVTax,0)+isnull(CollectionDisputeToJVMeterRent,0)+isnull(GOKCollectionTax,0)+isnull(GOKCollectionMeterRent,0)),2) as TaxAdj
,d.ConnectedLoad,d.ConsumerConnectionStatusID,d.BillingMonth,RevenueBillReasonID,ArrearBill

,(round((OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceDandR),2)+round((GOKOBFixedCharge+GOKOBEnergyCharge+GOKOBRevenueOthers),2)) as RevenueOB
,(round((OpeningBalanceInterest+OpeningBalanceSupervisionFee),2)+round((GOKOBInterest+GOKOBSupervisionFee),2)) as InterestOB
,(round((OpeningBalanceTax+OpeningBalanceMeterRent),2)+round((GOKOBTax+GOKOBMeterRent),2)) as TaxOB

,(round((DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),2)+round((GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers),2)) as RevenueDemand
,(round((DemandInterest+DemandSupervisionFee),2)+round((GOKDemandInterest+GOKDemandSupervisionFee),2)) as InterestDemand
,(round((DemandTax+DemandMeterRent),2)+round((GOKDemandTax+GOKDemandMeterRent),2)) as TaxDemand
from DCBDetails d inner join DCB on dcb.DCBID=d.DCBID
left outer join Consumer cn on cn.ConsumerID=d.ConsumerID
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=d.OLID
left outer join Office o on o.OfficeID=ola.OfficeID
left outer join Location L on l.LocationID=ola.LocationID
left outer join DCBTariffAllocation dta on dta.TariffID=d.TariffID
left outer join Tariffs t on t.TariffID=isnull(dta.DCBTariffID,d.TariffID)
where d.DCBID in (@DCBIDString) 
union all
select 0,87,6,2014,0,0,0,0,isnull(als.Amount,0) as Coll,0,0,0,0,0,0,0,0,NULL,0,0,0,0,0,0,0
from AllocationStatementDetails  als
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=als.OLID
left outer join Office o on o.OfficeID=ola.OfficeID left outer join Location L on l.LocationID=ola.LocationID
where AllocationStatementID in (select AllocationStatementID from AllocationStatement left outer join DCB on DCBID in (@DCBIDString) where AllocationMonth=DCBMonth  and AllocationYear=DCBYear )
and AllocationStatementPresetDataID=22 and isnull(als.Amount,0)<>0 )

select DCBDetailsID,DCBID,DCBMonth,DCBYear,ConsumerID,TariffID,isnull(DCBTariffID,TariffID) as DCBTariffID, Consumption
,((round((CollectionRevenueCash+CollectionInterest+CollectionTax),0)-CollectionInterest-CollectionTax)) as CollectionRevenueCash,CollectionInterest,CollectionTax
,((round((CollectionRevenueAdjustments+CollectionInterestAdjustments+CollectionTaxAdjustments),0)-CollectionInterestAdjustments-CollectionTaxAdjustments)) as CollectionRevenueAdjustments,CollectionInterestAdjustments,CollectionTaxAdjustments
,ConnectedLoad,ConsumerConnectionStatusID,BillingMonth,RevenueBillReasonID,ArrearBill
,((round((OpeningBalanceRevenue+OpeningBalanceInterest+OpeningBalanceTax),0)-OpeningBalanceInterest-OpeningBalanceTax)) as OpeningBalanceRevenue,OpeningBalanceInterest,OpeningBalanceTax
,((round((DemandRevenue+DemandInterest+DemandTax),0)-DemandInterest-DemandTax)) as DemandRevenue,DemandInterest,DemandTax
,round((OpeningBalanceRevenue+OpeningBalanceInterest+OpeningBalanceTax),0) as TotalOB,round((DemandRevenue+DemandInterest+DemandTax),0) as TotalDemand
,NULL as ConsumerAttributeID,NULL as ConsumerRebateID from DCB1


GO
