/****** Object:  StoredProcedure [dbo].[spOnboardiTrack]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[spOnboardiTrack]
(
@company bigint,
@companyName nvarchar(100),
@address1 nvarchar(100),
@address2 nvarchar(100),
@primarycontactname nvarchar(100),
@primarycontactphone nvarchar(100),
@domain nvarchar(100),
@userName nvarchar(100),
@firstname nvarchar(100),
@lastname nvarchar(100),
@password nvarchar(100),
@location nvarchar(100),
@xmlreader nvarchar(100),
@importformat nvarchar(100),
@country bigint,
@state bigint,
@companyKey nvarchar(1000),
@productCode bigint
)
As

BEGIN TRY

    --BEGIN TRAN

--insert to company

insert into t_Company(PKID, CompanyName, Address1,Address2, PrimaryContactName, PrimaryContactEmail, CompanyEmail, PrimaryContactPhone, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyKey, Domain, ProductCode, CountryID, StateID
)values(@company, @companyName, @address1, @address2, @primarycontactname, @userName,@userName, @primarycontactphone, getdate(), getdate(), 1, 1, 1, @companyKey, @domain, @productCode, @country, @state)


--insert to user

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_User]
 UPDATE [t_Seq_User] SET [current] = @NextNumber

 --Select @NextNumber

insert into t_User(PKID, UserName, [Password], CreateDate, ModifiedDate, CreateBy, Modifiedby, IsActive, CompanyID, FirstName, LastName, RequiredDayStockEmail)
values(@NextNumber, @userName, @password, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1, @company, @firstname, @lastname, 1)

--insert to the service location type


 declare @NextServiceLocationType bigint
 
 SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType

insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType, 'Show Room', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType

insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType, 'Workshop', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType

insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType, 'Warehouse', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType

insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType,'Manufacturer', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType


insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType, 'Customer', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType


insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType, 'Display', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

SELECT @NextServiceLocationType=[Currval] + 1 FROM [t_Seq_ServiceLocationType]
 UPDATE [t_Seq_ServiceLocationType] SET [Currval] = @NextServiceLocationType


insert into t_ServiceLocationType(PKID, LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@NextServiceLocationType, 'Virtual', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

-- insert to role
declare @role bigint
SELECT @role =[Currval] + 1 FROM [t_Seq_Role]
 UPDATE [t_Seq_Role] SET [Currval] = @role


insert into t_Role(PKID, [Role], CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID)
values(@role, 'MD', GETDATE(), GETDATE(), @NextNumber,@NextNumber,1, @company)

--insert to user role


 declare @NextUserRoleNumber bigint
 
 SELECT @NextUserRoleNumber=[current] + 1 FROM [t_Seq_UserRole]
 UPDATE [t_Seq_UserRole] SET [current] = @NextUserRoleNumber

 --Select @NextUserRoleNumber

insert into t_UserRole(PKID, UserID, RoleID, CreateDate, ModifiedDate, CreateBy, ModifiedBy) values(@NextUserRoleNumber,@NextNumber, @role, getdate(), GETDATE(), @NextNumber, @NextNumber)

declare @workshop bigint

select @workshop = pkid from t_ServiceLocationType where CompanyID = @company and LocationType = 'Workshop'

-- service location

declare @newlocation bigint

 SELECT @newlocation=[Currval] + 1 FROM [t_Seq_ServiceLocation]
 UPDATE [t_Seq_ServiceLocation] SET [Currval] = @newlocation


insert into t_ServiceLocation(PKID, Name, LocationTypeID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, InCharge, Code) values(
@newlocation, @location, @workshop, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber, 1, @NextNumber, @location)


--Company settings

insert into t_CompanySetting(CompanyID, Setting, Defaults, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@company, '1', '3', GETDATE(), GETDATE(),@NextNumber,@NextNumber,1 )
insert into t_CompanySetting(CompanyID, Setting, Defaults, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@company, '2', 'India Standard Time', GETDATE(), GETDATE(),@NextNumber,@NextNumber,1 )

declare @newplugin bigint

 SELECT @newplugin=[Currval] + 1 FROM [t_Seq_XmlPlugin]
 UPDATE [t_Seq_XmlPlugin] SET [Currval] = @newplugin



 insert into t_XmlPlugIns(PKID, XMLReader, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ImportFormat)
 values(@newplugin, @xmlreader, getdate(), getdate(), @NextNumber, @NextNumber, 1, @company, @importformat)


 declare @NextUserServiceLocationNumber bigint
 
 SELECT @NextUserServiceLocationNumber=[current] + 1 FROM [t_Seq_UserServiceLocation]
 UPDATE [t_Seq_UserServiceLocation] SET [current] = @NextUserServiceLocationNumber

 --Select @NextUserServiceLocationNumber

 insert into t_UserServiceLocation(PKID, UserID, ServiceLocationID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
 @NextUserServiceLocationNumber, @NextNumber, @newlocation, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1)
  
 declare @locationtypecustomer bigint

 select @locationtypecustomer = pkid from t_ServiceLocationType where CompanyID = @company and LocationType = 'Customer'

 declare @locationtypevirtual bigint

 select @locationtypevirtual = pkid from t_ServiceLocationType where CompanyID = @company and LocationType = 'Virtual'

 
 declare @locationtypemanufacturer bigint

 select @locationtypemanufacturer = pkid from t_ServiceLocationType where CompanyID = @company and LocationType = 'Manufacturer'

 
 SELECT @newlocation=[Currval] + 1 FROM [t_Seq_ServiceLocation]
 UPDATE [t_Seq_ServiceLocation] SET [Currval] = @newlocation


 insert into t_ServiceLocation(PKID, Name, LocationTypeID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, InCharge) values(
 @newlocation, 'Customer', @locationtypecustomer, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber, 1, @NextNumber  )

 
 SELECT @NextUserServiceLocationNumber=[current] + 1 FROM [t_Seq_UserServiceLocation]
 UPDATE [t_Seq_UserServiceLocation] SET [current] = @NextUserServiceLocationNumber

 --Select @NextUserServiceLocationNumber

 insert into t_UserServiceLocation(PKID, UserID, ServiceLocationID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
 @NextUserServiceLocationNumber, @NextNumber, @newlocation, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1)

 SELECT @newlocation=[Currval] + 1 FROM [t_Seq_ServiceLocation]
 UPDATE [t_Seq_ServiceLocation] SET [Currval] = @newlocation

 
  insert into t_ServiceLocation(PKID, Name, LocationTypeID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, InCharge) values(
 @newlocation, 'Manufacturer', @locationtypemanufacturer, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber, 1, @NextNumber  )
 
 
 SELECT @NextUserServiceLocationNumber=[current] + 1 FROM [t_Seq_UserServiceLocation]
 UPDATE [t_Seq_UserServiceLocation] SET [current] = @NextUserServiceLocationNumber

 --Select @NextUserServiceLocationNumber

 insert into t_UserServiceLocation(PKID, UserID, ServiceLocationID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
 @NextUserServiceLocationNumber, @NextNumber, @newlocation, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1)

  SELECT @newlocation=[Currval] + 1 FROM [t_Seq_ServiceLocation]
 UPDATE [t_Seq_ServiceLocation] SET [Currval] = @newlocation


insert into t_ServiceLocation(PKID, Name, LocationTypeID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, InCharge) values(
@newlocation, 'All Location', @locationtypevirtual, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber, 1, @NextNumber  )

 
 SELECT @NextUserServiceLocationNumber=[current] + 1 FROM [t_Seq_UserServiceLocation]
 UPDATE [t_Seq_UserServiceLocation] SET [current] = @NextUserServiceLocationNumber

 --Select @NextUserServiceLocationNumber

 insert into t_UserServiceLocation(PKID, UserID, ServiceLocationID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
 @NextUserServiceLocationNumber, @NextNumber, @newlocation, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1)

 --COMMIT TRAN

 select [User] = @NextNumber, [Role] = @role

 END TRY
 BEGIN CATCH
    /*************************************
    *  Get the Error Message for @@Error
    *************************************/
    --IF @@TRANCOUNT > 0 ROLLBACK

	print @@Error

END CATCH
GO
