/****** Object:  StoredProcedure [dbo].[GetAllRepArea]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllRepArea]
(      
@companyID BigInt,      
@pageSize int,      
@pageIndex int,      
@sortField nvarchar(max),      
@sortOrder nvarchar(max),      
@query nvarchar(max),      
@fromDate datetime,      
@toDate datetime,      
@servicelocation bigint      
      
)      
As      
      
      
      
declare @skipRows int = @pageIndex,      
        @takeRows int = @pageSize,      
        @count int = 0      
      
;WITH Orders_cte AS (      
      
select       
    it.[PKID] as ID      
      ,it.[AreaCode] as Code      
      ,it.[AreaName] as Area,      
   it.AreaManager as ManagerID      
  ,it.[IsActive] as IsActive,      
   COALESCE(usr.FirstName,'') as  Manager,      
   it.CountryID as CountryID,      
   it.StateID as StateID,      
   it.DistrictID as DistrictID,      
   it.TalukID as TalukID,      
   c.Country as Country,      
   s.State as State,      
   d.Name as District,      
   t.Name as Taluk ,    
   it.IsDefault as IsDefault,  
   it.ZoneID as ZoneID,  
   it.BlockID as BlockID,  
   COALESCE(z.Name,'') as  Zone,  
   COALESCE(b.Name,'') as  Block,
   it.BranchId as BranchId,  
   it.RegionId as RegionId,  
   COALESCE(br.Name,'') as  Branch,  
   COALESCE(re.Name,'') as  Region  
  
        
    from t_Rep_Area it        
 join t_Country c on it.CountryID = c.PKID      
 join t_State s on it.StateID = s.PKID      
 join t_District d on it.DistrictID = d.PKID      
 join t_Taluk t on it.TalukID = t.PKID   
 left join t_AllMaster z on it.ZoneID = z.PKID   
 left join t_AllMaster b on it.BlockID = b.PKID   
 left join t_AllMaster br on it.BranchId = br.PKID   
 left join t_AllMaster re on it.RegionId = re.PKID   

 left join t_User usr on it.AreaManager = usr.PKID      
 where it.CompanyID = @companyID and it.ServiceLocation = @servicelocation and ( ((c.Country like @query )) or ((s.State like @query ))  or ((d.Name like @query )) or ((t.Name like @query )) or ((z.Name like @query )) or ((b.Name like @query )) or (it.AreaName like @query ) or (it.AreaCode like @query ) or  (usr.FirstName like @query ))  
    
      
       
       
       
)      
      
SELECT       
    ID,      
 Code,      
 Area,      
 ManagerID,      
 Manager,      
 IsActive,      
 CountryID,      
 StateID,      
 DistrictID,      
 TalukID,      
 Country,      
 State,      
 District,      
 Taluk,      
 tCountOrders.CountOrders AS TotalRows,    
 IsDefault,  
 ZoneID,  
 BlockID,  
 Zone,  
 Block,  
 BranchId,  
 RegionId,  
 Branch,  
 Region  
       
FROM Orders_cte      
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders      
      
ORDER BY       
      
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Code end desc,      
  CASE WHEN @sortField='Code' and @sortOrder ='asc' THEN Code end asc,      
  case   WHEN @sortField='Area' and @sortOrder ='asc'  THEN Area end asc,      
   case   WHEN @sortField='Country' and @sortOrder ='asc'  THEN Country end asc,      
   case   WHEN @sortField='StateName' and @sortOrder ='asc'  THEN State end asc,      
   case   WHEN @sortField='District' and @sortOrder ='asc'  THEN District end asc,      
   case   WHEN @sortField='Taluk' and @sortOrder ='asc'  THEN Taluk end asc,      
    case   WHEN @sortField='Zone' and @sortOrder ='asc'  THEN Zone end asc,      
  case   WHEN @sortField='Block' and @sortOrder ='asc'  THEN Block end asc,      
  case   WHEN @sortField='Manager' and @sortOrder ='asc'  THEN Manager end asc,
  case   WHEN @sortField='Branch' and @sortOrder ='asc'  THEN Branch end asc,      
  case   WHEN @sortField='Region' and @sortOrder ='asc'  THEN Region end asc
 
         
      
OFFSET @skipRows ROWS      
FETCH NEXT @takeRows ROWS ONLY
GO
