/****** Object:  StoredProcedure [dbo].[GetDetailsForSkeletonBill]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDetailsForSkeletonBill]
    @ConsumerNum BIGINT
AS
BEGIN
    SET NOCOUNT ON;


 SELECT
        (SELECT TOP 1 Name FROM t_BillingCompany) AS BillingCompanyName,
        (SELECT TOP 1 RegNo FROM t_BillingCompany) AS BillingCompanyRegNo,
        (SELECT TOP 1 Address FROM t_BillingCompany) AS BillingCompanyAddress,
        RIGHT('00000000' + CAST('' AS VARCHAR), 8)  AS InvoiceNumber,
        GetDate() AS InvoiceDate,
       RIGHT('0000000000' + CAST(p.PKID AS VARCHAR), 10) + ' ' + ISNULL(p.CheckDigit, '') AS AccountNumber,
       amConsumerType.Code + ' ' + amConsumerType.Name AS ConsumerType,
        p.Name AS CustomerName,
        p.Address1 AS AddressLine1,
        p.Address2 AS AddressLine2,
        p.PinCode AS PostalCode,
        p.City AS City,
     ca.DepositAmt AS DepositAmount,
   p.PKID AS ConsumerNumber,
        amTariff.Code AS TariffCode,
0 AS CurrentBill,
0 AS Adjustment,
0 AS OtherCharges,
0 AS Arrears,
amConsumerType.Code AS ConsumerType,
  0 AS CurrentBillAmount,
   0 AS AmountToBePaid
    FROM t_Party p
    LEFT JOIN t_ConsumerAccount ca ON ca.ConsumerNum = p.PKID
    LEFT JOIN t_AllMaster amAccountType ON amAccountType.PKID = p.AccountType
    LEFT JOIN t_AllMaster amConsumerType ON amConsumerType.PKID = p.ConsumerType
    LEFT JOIN t_AllMaster amTariff ON amTariff.PKID = p.TariffCode
    WHERE p.PKID =  @ConsumerNum;
END
GO
