/****** Object:  StoredProcedure [dbo].[ResetBatchwiseStock]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[ResetBatchwiseStock]    
(    
@servicelocation bigint    
)    
AS    
  
declare @batchMax bigint  
select @batchMax = max(PKID) + 1 from t_BatchwiseStock    
delete from t_BatchwiseStock where ServiceLocation = @servicelocation    
declare @purgeMax bigint  
select @purgeMax = max(PKID) + 1 from t_BatchwiseStock_Purge  
if( @purgeMax is null)
begin
set @purgeMax = 1
end
if(@batchMax > @purgeMax)  
 begin  
  select @batchMax  
 end  
else  
 begin  
  select @purgeMax  
 end
GO
