/****** Object:  StoredProcedure [dbo].[GetAllVariant]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[GetAllVariant]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime


)
As







select 
	   it.[PKID] as ID
      ,it.[Code] as Code
      ,it.Variant as Name
      ,it.[IsActive] as IsActive,
	  bd.Brand as Brand,
	  bd.PKID as BrandID,
	  ml.Model as Model,
	  ml.PKID as ModelID

    from t_ModelVariant it 
	inner join t_Model ml on it.ModelID = ml.PKID
	inner join t_Brand bd on it.BrandID = bd.PKID
	where it.CompanyID = @companyID
GO
