/****** Object:  StoredProcedure [dbo].[GetAllItemCompany]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllItemCompany]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	   it.[PKID] as ID
      ,it.[Code] as Code
      ,it.[Name] as Name
      ,it.[Email] as Email
      ,it.[MobileNo] as MobileNo
      ,it.[IsActive] as IsActive
    
		
    from t_ItemCompany it 	where it.CompanyID = @companyID  and ( (it.Code like @query )  or  (it.Name like @query ))
	
	
)

SELECT 
    ID,
	Code,
	
	Name,
	Email,
	MobileNo,
	IsActive,
	
    tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Code end desc,
  CASE WHEN @sortField='Code' and @sortOrder ='asc' THEN Code end asc,
  case   WHEN @sortField='Name' and @sortOrder ='asc'  THEN Name end asc,
  case   WHEN @sortField='Email' and @sortOrder ='asc'  THEN Email end asc,
  case   WHEN @sortField='MobileNo' and @sortOrder ='asc'  THEN MobileNo end asc
  
	
	
	
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
