/****** Object:  StoredProcedure [dbo].[GetAllEInvoiceReport]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllEInvoiceReport]  
(  
@companyID BigInt,  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint  
  
)  
As  
  
  
select   
 it.PKID,  
 it.BillNo,  
 it.BillAmountWithoutGST,  
 it.DiscountTotal,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 pt.Name as PartyCode,  
   
 bt.Name as BillTypeDisplay,  
 it.Status as Status,  
 it.AnyReturn as AnyReturn,  
 it.AllReturn as AllReturn,  
 it.IsRetail as IsRetail,  
 it.ReferenceTag as ReferenceTag,  
 it.Freight,  
 it.ServiceCharge,  
 it.TCS,  
 it.OverAllDiscountPercentage,  
 pt.GST as GSTIN,  
 it.AckNo as AckNo,  
 it.AckDate as AckDate,  
 it.IRN as IRN  
  
  
 from t_Sale it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_BillType bt on bt.PKID = it.BillType  
   
  
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation
GO
