/****** Object:  StoredProcedure [dbo].[GetAllMaterialIssues]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [dbo].[GetAllMaterialIssues]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.BillNo,
	it.BillAmount,
	it.TotalDiscount,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	it.ReturnBillNo,
	pt.Name as PartyCode,
	it.Status as Status,
	COALESCE(mrd.PKID,0) as  MaterialReceivedID
	from t_MaterialIssue it 
	inner join t_Party pt on it.PartyID = pt.PKID
	left join t_MaterialReceiveDetail mrd on it.PKID = mrd.MaterialIssueID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.Name like @query ))

	and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
    PKID,
	BillNo,
	BillAmount,
	TotalDiscount,
	TaxTotal,
	Miscellaneous,
	BillDate,
	ReturnBillNo,
	PartyCode,
	
	tCountOrders.CountOrders AS TotalRows,
	
	Status,
	MaterialReceivedID
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ReturnID' and @sortOrder ='asc' THEN PKID end desc,
  CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end asc,
  
 
  case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  case   WHEN @sortField='ReturnBillNo' and @sortOrder ='desc'  THEN ReturnBillNo end desc

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
