/****** Object:  StoredProcedure [dbo].[GetAllVoucher]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[GetAllVoucher]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.VoucherNo,
	it.Amount,
	it.Date,
	pt.Name as Party,
	it.Status,
	it.Receipt as Recipient
	
	from t_Voucher it 
	inner join t_Party pt on it.PartyID = pt.PKID

	--
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
)

SELECT 
     PKID,
	 VoucherNo,
	 Amount,
	 Date,
	 Party,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Recipient
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
