/****** Object:  StoredProcedure [dbo].[GetAllPurchaseOrder]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

		
CREATE  procedure [dbo].[GetAllPurchaseOrder]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@Status int,
@billStatus int

)
As

declare @bill bit

if(@billStatus = 2)
begin
	set @bill = 1
end
else
begin
	set @bill = 0
end

declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

		if( @Status = 1 )
		begin

			if( @billStatus = 1)
			begin
				;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Supplier,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	it.EmailStatus,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver
	
	
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Supplier,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver,
	 EmailStatus
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end asc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN Supplier end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
			end
			else
			begin
				
				;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Supplier,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	it.EmailStatus,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver
	
	
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.Status = @bill and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Supplier,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver,
	 EmailStatus
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end asc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN Supplier end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
			end
		

		end
		else if ( @Status = 2)
		begin

			if( @billStatus = 1)
				begin
					;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Supplier,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver,
	it.EmailStatus
	
	
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 1 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Supplier,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver,
	 EmailStatus
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

  CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end asc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN Supplier end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
				end
			else
				begin

					;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Supplier,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver,
	it.EmailStatus
	
	
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.Status = @bill and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 1 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Supplier,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver,
	 EmailStatus
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

  CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end asc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN Supplier end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
				end

		

		end
		else if(@Status = 3)
		begin

			if( @billStatus = 1)
				begin
					;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Supplier,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver,
	it.EmailStatus
	
	
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.Status != 0 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Supplier,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver,
	 EmailStatus
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end asc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN Supplier end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
				end
			else
				begin

					;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as Supplier,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver,
	it.EmailStatus
	
	
	from t_PurchaseOrder it 
	inner join t_Party pt on it.SupplierID = pt.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.Status = @bill and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 Supplier,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver,
	 EmailStatus
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end asc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN Supplier end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
				end
		

		end
GO
