/****** Object:  StoredProcedure [dbo].[RemoveForeignKey]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Procedure [dbo].[RemoveForeignKey]
(
@TableName nvarchar(500),
@ColumnName nvarchar(500)
)
As

DECLARE @ConstraintName nvarchar(200)
SELECT 
    @ConstraintName = KCU.CONSTRAINT_NAME
FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS AS RC 
INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE AS KCU
    ON KCU.CONSTRAINT_CATALOG = RC.CONSTRAINT_CATALOG  
    AND KCU.CONSTRAINT_SCHEMA = RC.CONSTRAINT_SCHEMA 
    AND KCU.CONSTRAINT_NAME = RC.CONSTRAINT_NAME
WHERE
    KCU.TABLE_NAME = @TableName AND
    KCU.COLUMN_NAME = @ColumnName
IF @ConstraintName IS NOT NULL EXEC('alter table ' + @TableName + ' drop  CONSTRAINT ' + @ConstraintName)
GO
