/****** Object:  StoredProcedure [dbo].[GetAllEntries]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllEntries]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@entryType int,
@status int

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

if ( @entryType < 0 )
begin
	if( @status = 1)
	begin
				;WITH Orders_cte AS (

			select 
				it.PKID,
				it.VoucherNo,
				it.Amount,
				it.Date,
				pt.Name as DebitParty,
				--ptd.Name as CreditParty,
				concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
				it.Status,
				it.Receipt as Recipient,
				ae.EntryType as EntryTypeDisplay,
				ae.PKID as EntryType
				from t_Entry it 
				--inner join t_EntryDetail ed on it.PKID = ed.EntryID
				left join t_Party pt on it.PartyID = pt.PKID
				--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
				inner join t_AccountEntryType ae on it.EntryType = ae.PKID
	

				--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
				where it.Status = 1 and it.EntryType = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

				and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 

				union

				select 
				it.PKID,
				it.VoucherNo,
				it.Amount,
				it.Date,
				pt.Name as CreditParty,
				concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
				--ptd.Name as  DebitParty,
				it.Status,
				it.Receipt as Recipient,
				ae.EntryType as EntryTypeDisplay,
				ae.PKID as EntryType
				from t_Entry it 
				--inner join t_EntryDetail ed on it.PKID = ed.EntryID
				left join t_Party pt on it.PartyID = pt.PKID
				--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
				inner join t_AccountEntryType ae on it.EntryType = ae.PKID
	

				--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
				where it.Status = 1 and it.EntryType <> 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))
				and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
			)

			SELECT 
				 PKID,
				 VoucherNo,
				 Amount,
				 Date,
				 DebitParty,
				 Narration,
				 --CreditParty,
				 tCountOrders.CountOrders AS TotalRows,
				 Status,
				 Recipient,
				 EntryTypeDisplay,
				 EntryType
	
			FROM Orders_cte
				CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

			ORDER BY PKID desc


  

			OFFSET @skipRows ROWS
			FETCH NEXT @takeRows ROWS ONLY;
	end
	else if(@status = 2)
	begin
				;WITH Orders_cte AS (

			select 
				it.PKID,
				it.VoucherNo,
				it.Amount,
				it.Date,
				pt.Name as DebitParty,
				--ptd.Name as CreditParty,
				concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
				it.Status,
				it.Receipt as Recipient,
				ae.EntryType as EntryTypeDisplay,
				ae.PKID as EntryType
				from t_Entry it 
				--inner join t_EntryDetail ed on it.PKID = ed.EntryID
				left join t_Party pt on it.PartyID = pt.PKID
				--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
				inner join t_AccountEntryType ae on it.EntryType = ae.PKID
	

				--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
				where it.Status = 0 and it.EntryType = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

				and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 

				union

				select 
				it.PKID,
				it.VoucherNo,
				it.Amount,
				it.Date,
				pt.Name as CreditParty,
				concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
				--ptd.Name as  DebitParty,
				it.Status,
				it.Receipt as Recipient,
				ae.EntryType as EntryTypeDisplay,
				ae.PKID as EntryType
				from t_Entry it 
				--inner join t_EntryDetail ed on it.PKID = ed.EntryID
				left join t_Party pt on it.PartyID = pt.PKID
				--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
				inner join t_AccountEntryType ae on it.EntryType = ae.PKID
	

				--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
				where it.Status = 0 and it.EntryType <> 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))
				and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
			)

			SELECT 
				 PKID,
				 VoucherNo,
				 Amount,
				 Date,
				 DebitParty,
				 Narration,
				 --CreditParty,
				 tCountOrders.CountOrders AS TotalRows,
				 Status,
				 Recipient,
				 EntryTypeDisplay,
				 EntryType
	
			FROM Orders_cte
				CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

			ORDER BY PKID desc


  

			OFFSET @skipRows ROWS
			FETCH NEXT @takeRows ROWS ONLY;
	end
	else
	begin
			;WITH Orders_cte AS (

		select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as DebitParty,
			--ptd.Name as CreditParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
	

			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.EntryType = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

			and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 

			union

			select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as CreditParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			--ptd.Name as  DebitParty,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
	

			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.EntryType <> 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))
			and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
		)

		SELECT 
			 PKID,
			 VoucherNo,
			 Amount,
			 Date,
			 DebitParty,
			 Narration,
			 --CreditParty,
			 tCountOrders.CountOrders AS TotalRows,
			 Status,
			 Recipient,
			 EntryTypeDisplay,
			 EntryType
	
		FROM Orders_cte
			CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

		ORDER BY PKID desc


  

		OFFSET @skipRows ROWS
		FETCH NEXT @takeRows ROWS ONLY;
	end
	
	
end
else

begin

if ( @entryType = 1 )
begin

	if( @status = 1)
	begin
				;WITH Orders_cte AS (

		select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as DebitParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			--ptd.Name as CreditParty,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.Status = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

			and it.EntryType = @entryType and
			CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
		)


		SELECT 
			 PKID,
			 VoucherNo,
			 Amount,
			 Date,
			 DebitParty,
			 Narration,
			 --CreditParty,
			 tCountOrders.CountOrders AS TotalRows,
			 Status,
			 Recipient,
			 EntryTypeDisplay,
			 EntryType
	
		FROM Orders_cte
			CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

		ORDER BY PKID desc

		 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
		 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
		 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
		  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

		OFFSET @skipRows ROWS
		FETCH NEXT @takeRows ROWS ONLY;
	end
	else if( @status = 2)
	begin
				;WITH Orders_cte AS (

		select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as DebitParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			--ptd.Name as CreditParty,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.Status = 0 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

			and it.EntryType = @entryType and
			CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
		)


		SELECT 
			 PKID,
			 VoucherNo,
			 Amount,
			 Date,
			 DebitParty,
			 Narration,
			 --CreditParty,
			 tCountOrders.CountOrders AS TotalRows,
			 Status,
			 Recipient,
			 EntryTypeDisplay,
			 EntryType
	
		FROM Orders_cte
			CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

		ORDER BY PKID desc

		 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
		 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
		 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
		  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

		OFFSET @skipRows ROWS
		FETCH NEXT @takeRows ROWS ONLY;
	end
	else
	begin
				;WITH Orders_cte AS (

		select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as DebitParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			--ptd.Name as CreditParty,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

			and it.EntryType = @entryType and
			CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
		)


		SELECT 
			 PKID,
			 VoucherNo,
			 Amount,
			 Date,
			 DebitParty,
			 Narration,
			 --CreditParty,
			 tCountOrders.CountOrders AS TotalRows,
			 Status,
			 Recipient,
			 EntryTypeDisplay,
			 EntryType
	
		FROM Orders_cte
			CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

		ORDER BY PKID desc

		 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
		 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
		 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
		  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

		OFFSET @skipRows ROWS
		FETCH NEXT @takeRows ROWS ONLY;
	end


end

else
begin

if( @status = 1)
begin

		;WITH Orders_cte AS (

	select 
		it.PKID,
		it.VoucherNo,
		it.Amount,
		it.Date,
		pt.Name as DebitParty,
		concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
		--ptd.Name as DebitParty,
		it.Status,
		it.Receipt as Recipient,
		ae.EntryType as EntryTypeDisplay,
		ae.PKID as EntryType
		from t_Entry it 
		--inner join t_EntryDetail ed on it.PKID = ed.EntryID
		left join t_Party pt on it.PartyID = pt.PKID
		--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
		inner join t_AccountEntryType ae on it.EntryType = ae.PKID
		--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
		where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

		and it.Status = 1 and it.EntryType = @entryType and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	)


	SELECT 
		 PKID,
		 VoucherNo,
		 Amount,
		 Date,
		 Narration,
		 --DebitParty,
		 DebitParty,
		 tCountOrders.CountOrders AS TotalRows,
		 Status,
		 Recipient,
		 EntryTypeDisplay,
		 EntryType
	
	FROM Orders_cte
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

	ORDER BY PKID desc

	 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
	 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
	 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
	  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

	OFFSET @skipRows ROWS
	FETCH NEXT @takeRows ROWS ONLY;

end
else if( @status = 2)
begin
			;WITH Orders_cte AS (

		select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as DebitParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			--ptd.Name as DebitParty,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.Status = 0 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

			and it.EntryType = @entryType and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
		)


		SELECT 
			 PKID,
			 VoucherNo,
			 Amount,
			 Date,
			 Narration,
			 --DebitParty,
			 DebitParty,
			 tCountOrders.CountOrders AS TotalRows,
			 Status,
			 Recipient,
			 EntryTypeDisplay,
			 EntryType
	
		FROM Orders_cte
			CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

		ORDER BY PKID desc

		 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
		 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
		 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
		  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

		OFFSET @skipRows ROWS
		FETCH NEXT @takeRows ROWS ONLY;
end
else
begin

				;WITH Orders_cte AS (

		select 
			it.PKID,
			it.VoucherNo,
			it.Amount,
			it.Date,
			pt.Name as DebitParty,
			concat(COALESCE(it.Narration1,''), ', ', COALESCE(it.Narration2,'')) as Narration,
			--ptd.Name as DebitParty,
			it.Status,
			it.Receipt as Recipient,
			ae.EntryType as EntryTypeDisplay,
			ae.PKID as EntryType
			from t_Entry it 
			--inner join t_EntryDetail ed on it.PKID = ed.EntryID
			left join t_Party pt on it.PartyID = pt.PKID
			--inner join t_Party ptd on ed.DebitPartyID = ptd.PKID
			inner join t_AccountEntryType ae on it.EntryType = ae.PKID
			--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
			where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.VoucherNo like @query )  or  (pt.Name like @query ) or (it.Receipt like @query ))

			and it.EntryType = @entryType and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
		)


		SELECT 
			 PKID,
			 VoucherNo,
			 Amount,
			 Date,
			 Narration,
			 --DebitParty,
			 DebitParty,
			 tCountOrders.CountOrders AS TotalRows,
			 Status,
			 Recipient,
			 EntryTypeDisplay,
			 EntryType
	
		FROM Orders_cte
			CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

		ORDER BY PKID desc

		 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN VoucherNo end desc,
		 -- CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
		 -- case   WHEN @sortField='Party' and @sortOrder ='asc'  THEN Party end asc
		  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,
	
  

		OFFSET @skipRows ROWS
		FETCH NEXT @takeRows ROWS ONLY;
end



end


end
GO
