/****** Object:  StoredProcedure [dbo].[GetAllSearchableFinishedItemSleekForSale]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE procedure [dbo].[GetAllSearchableFinishedItemSleekForSale]                
(                
@companyID BigInt,                
@pageSize int,                
@pageIndex int,                
@query nvarchar(max),                
@location bigint,                
@includeZero bit                
                
)                
As                
                
                
                
declare @skipRows int = @pageIndex,                
        @takeRows int = @pageSize,                
        @count int = 0                
                
  if (@includeZero = 1)                
                
  begin                
                
;WITH Orders_cte AS (                
                
select                 
 it.PKID,                
 it.PKID as ItemID,                
 it.Code as ItemCode,                
 it.Description as ItemDescription,                
 it.IsBatchwise as IsBatchwise,                
 tc.Percentage as Tax,                
 tc.PKID as TaxCategory,                
 ist.ClosingQty as ClosingQty,                
 ist.CostPrice as CostPrice,                
 it.AllowRateEdit as AllowRateEdit,                
 it.AllowLoyality as AllowLoyality,                
 ist.MRP as MRP,                
 ist.OpeningQty as OpeningQty,                
 ist.SellingPrice as SellingPrice,                
 ic.Code as Company,                
 ist.ClosingQty as InStockQty,                
 ist.DamageQty as DamageQty,                
 ist.NoStockQty as NoStockQty,                
 ist.RegionalStockistPrice as RegionalStockistPrice,                
 ist.SuperStockistPrice as SuperStockistPrice,                
 ist.StockistPrice as StockistPrice,                
 ist.DistributorPrice as DistributorPrice,                
 ist.SubDistributorPrice as SubDistributorPrice,                
 ist.SuperRetailerPrice as SuperRetailerPrice,                
 ist.RetailerPrice as RetailerPrice,                
 it.AllotmentPercentage as AllotmentPercentage  ,              
 ic.ZeroDiscount ,            
 it.CessPercentage,it.Units,          
 uom.Code as UOMCode ,      
 ist.SaleReturnAreaQty as SaleReturnAreaQty            ,    
 ic.PKID as ItemCompanyID,  
 COALESCE(uom2.PKID, -1) as UOM2ID,  
 COALESCE(uom2.Code, '') as UOM2Code,
 tc.Name as TaxDescription
   
                 
 from t_Item it             
 inner join t_UOM uom on it.UOMId = uom.PKID                  
              
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID                
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location                
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID                
 left join t_UOM uom2 on it.UOM2 = uom2.PKID             
 where it.ShouldShowInSaleBill = 1 and  it.IsActive = 1 and it.CompanyID = @companyID and it.ItemStatus = 2 and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ) or ( it.Barcode = @query))                
                 
)                
                
SELECT                 
 PKID,                
   ItemID,                
  ItemCode,                
   ItemDescription,                
   IsBatchwise,                
   Tax,                
   TaxCategory,                
   ClosingQty,                
   CostPrice,                
   MRP,                
   OpeningQty,                
   SellingPrice,                
                   
   tCountOrders.CountOrders AS TotalRows ,                
   InStockQty,                
   Company,                
   DamageQty,                
   NoStockQty,                
   RegionalStockistPrice,                
   SuperStockistPrice,                
   StockistPrice,                
   DistributorPrice,                
   SubDistributorPrice,                
   SuperRetailerPrice,                
   RetailerPrice,                
   AllotmentPercentage,                
   AllowRateEdit,                
   AllowLoyality  ,              
   ZeroDiscount,            
   CessPercentage,          
   Units,          
   UOMCode,      
   SaleReturnAreaQty ,    
   ItemCompanyID,  
   UOM2Code,  
   UOM2ID,
   TaxDescription
FROM Orders_cte                
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders                
                
ORDER BY ItemCode asc                
                 
                   
                
OFFSET @skipRows ROWS                
FETCH NEXT @takeRows ROWS ONLY;                
                
end          
else                
begin                
                
;WITH Orders_cte AS (                
                
select                 
 it.PKID,                
 it.PKID as ItemID,                
 it.Code as ItemCode,                
 it.Description as ItemDescription,                
 it.IsBatchwise as IsBatchwise,                
 tc.Percentage as Tax,                
 tc.PKID as TaxCategory,                
 ist.ClosingQty as ClosingQty,                
 ist.CostPrice as CostPrice,                
 ist.MRP as MRP,                
 ist.OpeningQty as OpeningQty,                
 ist.SellingPrice as SellingPrice,                
 ic.Code as Company,                
 ist.ClosingQty as InStockQty,                
 ist.DamageQty as DamageQty,                
 ist.NoStockQty as NoStockQty,                
 ist.RegionalStockistPrice as RegionalStockistPrice,                
 ist.SuperStockistPrice as SuperStockistPrice,                
 ist.StockistPrice as StockistPrice,                
 ist.DistributorPrice as DistributorPrice,                
 ist.SubDistributorPrice as SubDistributorPrice,                
 ist.SuperRetailerPrice as SuperRetailerPrice,                
 ist.RetailerPrice as RetailerPrice,                
 it.AllotmentPercentage as AllotmentPercentage,                
 it.AllowRateEdit as AllowRateEdit,                
 it.AllowLoyality as AllowLoyality ,              
 ic.ZeroDiscount ,            
 it.CessPercentage ,          
 it.Units,          
 uom.Code as UOMCode,      
 ist.SaleReturnAreaQty as SaleReturnAreaQty ,    
 ic.PKID as ItemCompanyID,  
 COALESCE(uom2.PKID, -1) as UOM2ID,  
 COALESCE(uom2.Code, '') as UOM2Code,
 tc.Name as TaxDescription
   
                 
 from t_Item it             
 inner join t_UOM uom on it.UOMId = uom.PKID                  
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID                
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location and ist.ClosingQty > 0                
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID                
 left join t_UOM uom2 on it.UOM2 = uom2.PKID                 
 where it.ShouldShowInSaleBill = 1 and it.IsActive = 1 and it.CompanyID = @companyID and it.ItemStatus = 2  and ((  it.Code like  @query + '%')  or  (it.Description like @query + '%' ) or ( it.Barcode = @query))                
                 
)                
                
SELECT                 
 PKID,                
   ItemID,                
  ItemCode,                
   ItemDescription,                
   IsBatchwise,                
   Tax,                
   TaxCategory,                
   ClosingQty,                
   CostPrice,                
   MRP,                
   OpeningQty,                
   SellingPrice,                
   tCountOrders.CountOrders AS TotalRows ,                
   InStockQty,                
   Company,                
   DamageQty,                
   NoStockQty,                
   RegionalStockistPrice,                
   SuperStockistPrice,                
   StockistPrice,                
   DistributorPrice,                
   SubDistributorPrice,                
   SuperRetailerPrice,                
   RetailerPrice,                
   AllotmentPercentage,                
   AllowRateEdit,                
  AllowLoyality  ,              
  ZeroDiscount ,            
  CessPercentage  ,          
  Units,          
  UOMCode,      
  SaleReturnAreaQty ,    
  ItemCompanyID,  
  UOM2Code,  
  UOM2ID,
  TaxDescription
FROM Orders_cte                
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders                
                
ORDER BY ItemCode asc                
                 
                   
                
OFFSET @skipRows ROWS                
FETCH NEXT @takeRows ROWS ONLY;                
                
end
GO
