/****** Object:  StoredProcedure [dbo].[Sp_AddDatewise]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_AddDatewise]

                     @DateAccount DateAccount READONLY

AS

BEGIN

    INSERT INTO t_DatewiseAccount

           (PKID
           ,PartyID
           ,AccountType
           ,Amount
           ,BillNo,
		   CompanyID,
		   Date,
		   ServiceLocation,
		   TransactionType)

       Select PKID

           ,PartyID

           ,AccountType

           ,Amount

           ,BillNo,
		   CompanyID,
		   Date,
		   ServiceLocation,
		   TransactionType
		    FROM @DateAccount

END
GO
