/****** Object:  StoredProcedure [dbo].[UpdateSTockSequence]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE Procedure [dbo].[UpdateSTockSequence]  
(  
@itemstock bigint,  
@batchstock bigint  
)  
As  
  
update t_Seq_t_ItemwiseStock set  Currval =( select max(PKID) + 1 from t_ItemwiseStock )
update t_Seq_t_BatchwiseStock set Currval = ( select  max(PKID) + 1 from t_BatchwiseStock)
GO
