/****** Object:  StoredProcedure [dbo].[GetPurgedParties]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  
   
Create procedure [dbo].[GetPurgedParties]  
(  
@companyID BigInt,  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@location bigint,  
@actingRole bigint,  
@itemSegment bigint = 1  
  
)  
As  
  
if @actingRole > 0  
begin  
  
 if @itemSegment = 3  
  begin  
  select   
    it.[PKID] as ID  
      ,it.[Code] as PartyCode  
      ,it.[GroupID] as GroupID  
      ,it.[Name] as Name  
      ,it.[Address1] as Address1  
      ,it.[Address2] as Address2  
      ,it.[Address3] as Address3  
      ,it.[City] as City  
      ,it.[PinCode] as PinCode  
      ,it.[Country] as CountryID  
      ,it.[State] as StateID  
      ,it.[GST] as GST  
      ,it.[MobileNo] as MobileNo  
      ,it.[LandLine] as LandlineNo  
      ,it.[DrugLicence1] as DrugLicence1  
      ,it.[DrugLicence2] as DrugLicence2  
      ,it.[District] as District  
	  ,COALESCE (pa.[AreaCode] , '' ) as Area  
       
      ,COALESCE (ro.PKID , -1 ) as Route  
      ,it.[OpeningBalance] as OpeningBalance  
      ,it.[ClosingBalance] as ClosingBalance  
      ,it.[DoctorName] as DoctorName  
      ,it.[KVCNo] as KVCNo  
      ,it.[CreditLimit] as CreditLimit  
      ,it.[CreditDays] as CreditDays  
      ,it.[ServiceLocation] as ServiceLocation  
      ,it.[CompanyID] as CompanyID  
      ,it.[IsActive] as IsActive  
   ,it.[PAN] as PAN,  
    it.LeadStatus as LeadStatus,  
    it.HandledBy as HandledBy,  
    isnull(usr.FirstName, '') as FirstName,  
     
 pg.Code as GroupName,  
 -- ct.Country as CountryDisplay,  
 -- st.State as StateDisplay,  
  it.ModifiedDate as ModifiedDate,  
  it.MaximumLeadTime,  
  it.AverageLeadTime,  
  pt.Type as PartyTypeDisplay,  
  st.State,  
  it.IsDefaultAccountParty as IsDefaultAccountParty,  
  ag.DisplayName as AccountGroupName,  
  it.ProfileUrl  
  --sl.Name as ServiceLocationName  
    
    from t_Party_Purge it   
 left join t_Party_Area a on  it.PKID = a.PartyID and a.servicelocation = @location    
 left join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @location  
 left join t_Route ro on a.routeid = ro.PKID  
 inner join t_PartyGroup pg on it.GroupID = pg.PKID  
 inner join t_AccountGroup ag on it.AccountGroupID = ag.PKID  
 inner join t_PartyType pt on it.PartyType = pt.PKID  
 --inner join t_Country ct on it.Country = ct.PKID  
 inner join t_State st on it.State = st.PKID  
 --inner join t_ServiceLocation sl on it.ServiceLocation = sl.PKID  
 left join t_User usr on it.HandledBy = usr.PKID  
 --where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))  
 where it.CompanyID = @companyID and it.ServiceLocation = @location and it.ActingRole = @actingRole and ( (it.Code like @query )  or  (it.Name like @query ) or ( ag.DisplayName like @query) or ( pg.Description like @query) or ( pg.Code like @query))  
   
   
  
 order by ID desc  
  end  
 else  
  begin  
  select   
    it.[PKID] as ID  
      ,it.[Code] as PartyCode  
      ,it.[GroupID] as GroupID  
      ,it.[Name] as Name  
      ,it.[Address1] as Address1  
      ,it.[Address2] as Address2  
      ,it.[Address3] as Address3  
      ,it.[City] as City  
      ,it.[PinCode] as PinCode  
      ,it.[Country] as CountryID  
      ,it.[State] as StateID  
      ,it.[GST] as GST  
      ,it.[MobileNo] as MobileNo  
      ,it.[LandLine] as LandlineNo  
      ,it.[DrugLicence1] as DrugLicence1  
      ,it.[DrugLicence2] as DrugLicence2  
      ,it.[District] as District  
      ,COALESCE (pa.[AreaCode] , '' ) as Area  
      ,COALESCE (ro.PKID , -1 ) as Route  
      ,it.[OpeningBalance] as OpeningBalance  
      ,it.[ClosingBalance] as ClosingBalance  
      ,it.[DoctorName] as DoctorName  
      ,it.[KVCNo] as KVCNo  
      ,it.[CreditLimit] as CreditLimit  
      ,it.[CreditDays] as CreditDays  
      ,it.[ServiceLocation] as ServiceLocation  
      ,it.[CompanyID] as CompanyID  
      ,it.[IsActive] as IsActive  
   ,it.[PAN] as PAN,  
    it.LeadStatus as LeadStatus,  
    it.HandledBy as HandledBy,  
    isnull(usr.FirstName, '') as FirstName,  
     
 pg.Code as GroupName,  
 -- ct.Country as CountryDisplay,  
 -- st.State as StateDisplay,  
  it.ModifiedDate as ModifiedDate,  
  it.MaximumLeadTime,  
  it.AverageLeadTime,  
  pt.Type as PartyTypeDisplay,  
  st.State,  
  it.IsDefaultAccountParty as IsDefaultAccountParty,  
  ag.DisplayName as AccountGroupName,  
  it.ProfileUrl  
  --sl.Name as ServiceLocationName  
    
    from t_Party_Purge it   
 left join t_Party_Area a on  it.PKID = a.PartyID and a.servicelocation = @location and a.segmentid = @itemSegment  
 left join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @location  
 left join t_Route ro on a.routeid = ro.PKID  
 inner join t_PartyGroup pg on it.GroupID = pg.PKID  
 inner join t_AccountGroup ag on it.AccountGroupID = ag.PKID  
 inner join t_PartyType pt on it.PartyType = pt.PKID  
 --inner join t_Country ct on it.Country = ct.PKID  
 inner join t_State st on it.State = st.PKID  
 --inner join t_ServiceLocation sl on it.ServiceLocation = sl.PKID  
 left join t_User usr on it.HandledBy = usr.PKID  
 --where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))  
 where it.CompanyID = @companyID and it.ServiceLocation = @location and it.ActingRole = @actingRole and ( (it.Code like @query )  or  (it.Name like @query ) or ( ag.DisplayName like @query) or ( pg.Description like @query) or ( pg.Code like @query))  
   
   
  
 order by ID desc  
  end  
  
  
  
end  
else  
begin  
  
if @itemSegment = 3  
  begin  
  select   
    it.[PKID] as ID  
      ,it.[Code] as PartyCode  
      ,it.[GroupID] as GroupID  
      ,it.[Name] as Name  
      ,it.[Address1] as Address1  
      ,it.[Address2] as Address2  
      ,it.[Address3] as Address3  
      ,it.[City] as City  
      ,it.[PinCode] as PinCode  
      ,it.[Country] as CountryID  
      ,it.[State] as StateID  
      ,it.[GST] as GST  
      ,it.[MobileNo] as MobileNo  
      ,it.[LandLine] as LandlineNo  
      ,it.[DrugLicence1] as DrugLicence1  
      ,it.[DrugLicence2] as DrugLicence2  
      ,it.[District] as District  
      ,COALESCE (pa.[AreaCode] , '' ) as Area   
      ,COALESCE (ro.PKID , -1 ) as Route  
      ,it.[OpeningBalance] as OpeningBalance  
      ,it.[ClosingBalance] as ClosingBalance  
      ,it.[DoctorName] as DoctorName  
      ,it.[KVCNo] as KVCNo  
      ,it.[CreditLimit] as CreditLimit  
      ,it.[CreditDays] as CreditDays  
      ,it.[ServiceLocation] as ServiceLocation  
      ,it.[CompanyID] as CompanyID  
      ,it.[IsActive] as IsActive  
   ,it.[PAN] as PAN,  
   it.LeadStatus as LeadStatus,  
   it.HandledBy as HandledBy,  
   isnull(usr.FirstName, '') as FirstName,  
     
 pg.Code as GroupName,  
 -- ct.Country as CountryDisplay,  
 -- st.State as StateDisplay,  
  it.ModifiedDate as ModifiedDate,  
  it.MaximumLeadTime,  
  it.AverageLeadTime,  
  pt.Type as PartyTypeDisplay,  
  st.State,  
  it.IsDefaultAccountParty as IsDefaultAccountParty,  
  ag.DisplayName as AccountGroupName,  
  it.ProfileUrl  
  --sl.Name as ServiceLocationName  
    
    from t_Party_Purge it   
 left join t_Party_Area a on it.PKID = a.PartyID and a.servicelocation = @location   
 left join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @location  
 left join t_Route ro on a.routeid = ro.PKID  
  
 inner join t_PartyGroup pg on it.GroupID = pg.PKID  
 inner join t_AccountGroup ag on it.AccountGroupID = ag.PKID  
 inner join t_PartyType pt on it.PartyType = pt.PKID  
 --inner join t_Country ct on it.Country = ct.PKID  
 inner join t_State st on it.State = st.PKID  
 left join t_User usr on it.HandledBy = usr.PKID  
 --inner join t_ServiceLocation sl on it.ServiceLocation = sl.PKID  
   
 --where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))  
 where it.CompanyID = @companyID and it.ServiceLocation = @location and  ( (it.Code like @query )  or  (it.Name like @query ) or ( ag.DisplayName like @query) or ( pg.Description like @query) or ( pg.Code like @query))  
   
   
  
 order by ID desc  
  end  
else  
 begin  
 select   
    it.[PKID] as ID  
      ,it.[Code] as PartyCode  
      ,it.[GroupID] as GroupID  
      ,it.[Name] as Name  
      ,it.[Address1] as Address1  
      ,it.[Address2] as Address2  
      ,it.[Address3] as Address3  
      ,it.[City] as City  
      ,it.[PinCode] as PinCode  
      ,it.[Country] as CountryID  
      ,it.[State] as StateID  
      ,it.[GST] as GST  
      ,it.[MobileNo] as MobileNo  
      ,it.[LandLine] as LandlineNo  
      ,it.[DrugLicence1] as DrugLicence1  
      ,it.[DrugLicence2] as DrugLicence2  
      ,it.[District] as District  
      ,COALESCE (pa.[AreaCode] , '' ) as Area   
      ,COALESCE (ro.PKID , -1 ) as Route  
      ,it.[OpeningBalance] as OpeningBalance  
      ,it.[ClosingBalance] as ClosingBalance  
      ,it.[DoctorName] as DoctorName  
      ,it.[KVCNo] as KVCNo  
      ,it.[CreditLimit] as CreditLimit  
      ,it.[CreditDays] as CreditDays  
      ,it.[ServiceLocation] as ServiceLocation  
      ,it.[CompanyID] as CompanyID  
      ,it.[IsActive] as IsActive  
   ,it.[PAN] as PAN,  
   it.LeadStatus as LeadStatus,  
   it.HandledBy as HandledBy,  
   isnull(usr.FirstName, '') as FirstName,  
     
 pg.Code as GroupName,  
 -- ct.Country as CountryDisplay,  
 -- st.State as StateDisplay,  
  it.ModifiedDate as ModifiedDate,  
  it.MaximumLeadTime,  
  it.AverageLeadTime,  
  pt.Type as PartyTypeDisplay,  
  st.State,  
  it.IsDefaultAccountParty as IsDefaultAccountParty,  
  ag.DisplayName as AccountGroupName,  
  it.ProfileUrl  
  --sl.Name as ServiceLocationName  
    
    from t_Party_Purge it   
 left join t_Party_Area a on it.PKID = a.PartyID and a.servicelocation = @location and a.segmentid = @itemSegment  
 left join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @location  
 left join t_Route ro on a.routeid = ro.PKID  
  
 inner join t_PartyGroup pg on it.GroupID = pg.PKID  
 inner join t_AccountGroup ag on it.AccountGroupID = ag.PKID  
 inner join t_PartyType pt on it.PartyType = pt.PKID  
 --inner join t_Country ct on it.Country = ct.PKID  
 inner join t_State st on it.State = st.PKID  
 left join t_User usr on it.HandledBy = usr.PKID  
 --inner join t_ServiceLocation sl on it.ServiceLocation = sl.PKID  
   
 --where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))  
 where it.CompanyID = @companyID and it.ServiceLocation = @location and  ( (it.Code like @query )  or  (it.Name like @query ) or ( ag.DisplayName like @query) or ( pg.Description like @query) or ( pg.Code like @query))  
   
   
  
 order by ID desc  
 end  
  
  
end
GO
