/****** Object:  StoredProcedure [dbo].[GET_NEXT_SLOT]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GET_NEXT_SLOT]
AS
    BEGIN
        DECLARE @NewSeqVal BIGINT;
        UPDATE [dbo].[t_Seq_Slot]
          SET @NewSeqVal = CurrVal = CurrVal + Incr;
        SELECT @NewSeqVal;
    END;
GO
