/****** Object:  StoredProcedure [dbo].[GET_NEXT_USER_BATCH]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[GET_NEXT_USER_BATCH] 
(
@batchQty bigint
)
AS  
  
  BEGIN
         DECLARE @NewSeqVal BIGINT;
		 declare @CurrVal BIGINT;
		 select @CurrVal = [Current] + 1 from [t_Seq_User]
         UPDATE [dbo].[t_Seq_User]
           SET
               @NewSeqVal = [Current] = [Current] + @batchQty;
         SELECT @CurrVal;
     END;
GO
