/****** Object:  StoredProcedure [dbo].[BootStrapNewCompany]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[BootStrapNewCompany]
(
@oldCompanyID bigint,
@newCompanyID bigint,
@companyName nvarchar(max),
@contactName nvarchar(max),
@email nvarchar(max),
@companyKey nvarchar(max),
@password nvarchar(max),
@domain nvarchar(max),
@serviceLocation nvarchar(max)
)

AS

--BEGIN TRANSACTION NEWCOMPANY

--BEGIN TRY


			insert into t_Company(PKID, CompanyName, PrimaryContactName, PrimaryContactEmail, CompanyKey, Password, Domain, ProductCode, ExpiryDate)
			values(@newCompanyID, @companyName, @contactName, @email, @companyKey, @password, @domain, 1, DATEADD(year, 2, getdate()))


			delete from t_BatchwiseOpeningStock
			delete from t_BatchwiseStock
			delete from t_BatchwiseStockTake

			delete from t_PartyItemDiscount
			delete from t_SaleHistory
			delete from t_DatewiseItem
			delete from t_SaleDetail
			delete from t_SaleBillPaymentDetail
			delete from t_SaleReturnSaleBill
			delete from t_SaleCreditNote
			delete from t_Sale
			delete from t_ItemInwardRate 
			delete from t_ItemwiseStock
			delete from t_NoShow
			delete from t_SaleOrderDetail
			delete from t_SaleOrder
			delete from t_SaleReturnDetail
			delete from t_SaleReturn
			delete from t_PurchaseOrderDetail
			delete from t_SupplierStatistics
			delete from t_PurchaseOrder

			delete from t_TransferOrderDetail
			delete from t_TransferOrder

			delete from t_Model
			delete from t_ModelColor
			delete from t_ModelVariant

			delete from t_NonSaleableItemStock
			delete from t_NoStock

			delete from t_Item

			delete from t_Bin
			delete from t_Self
			delete from t_Rack
			delete from t_Row

			delete from t_Branch
			delete from t_Brand
			delete from t_CommunicationAudit

			delete from t_Content

			delete from t_DatewiseAccount
			delete from t_DatewiseItem

			delete from t_VoucherDetail
			delete from t_Voucher
			delete from t_VoucherCreditNote

			delete from t_Department where ServiceLocation != 10268

			delete from t_PendingSale
			delete from t_PendingNote

			delete from t_ReceiptDetail
			delete from t_Receipt


			delete from t_PaymentDetail
			delete from t_Payment

			delete from t_PurchaseDetail
			delete from t_Purchase

			delete from t_MaterialReceiveDetail
			delete from t_MaterialReceive

			delete from t_MaterialIssueDetail
			delete from t_MaterialIssue

			delete from t_PurchaseReturnDetail
			delete from t_PurchaseReturn

			delete from t_EntryDetail
			delete from t_Entry

			delete from t_Party where ServiceLocation != 10268

			delete from t_Transfer
			delete from t_TransferInDetail
			delete from t_TransferIn

			delete from t_TransferOutDetail
			delete from t_TransferOut

			delete from t_UserRole where UserID not in (select PKID from t_USer where UserName = 'vinayakshenoy2000@gmail.com')
			delete from t_UserServiceLocation where UserID not in (select PKID from t_USer where UserName = 'vinayakshenoy2000@gmail.com')
			delete from t_UserSetting where UserID not in (select PKID from t_USer where UserName = 'vinayakshenoy2000@gmail.com')

			delete from t_Party_Area
			delete from t_PartyClassLimit
			delete from t_PartyItemDiscount

			delete from t_Party_Type_Item_Company

			delete from t_PendingPurchase
			delete from t_PendingSaleNote

			delete from t_User where PKID not in(select PKID from t_USer where UserName = 'vinayakshenoy2000@gmail.com')
			update t_USer set DefaultLocation = 10268


			delete from t_UOM

			delete from t_Party where ServiceLocation = 10268 and Code not in
			(
			'001',
			'002',

			'003',

			'004',

			'005',

			'006',

			'007',

			'008',

			'009',

			'010',

			'011',

			'012',

			'013',

			'014',

			'015',

			'016',
			'017'


			)

			update t_ServiceLocation set Name = @serviceLocation where PKID = 10268

			delete from t_UserServiceLocation where ServiceLocationID != 10268
			delete from t_ServiceLocation where PKID != 10268

			delete from t_EmailTemplateDetail
			delete from t_EmailTemplate
			delete from t_EmailTemplateModuleField where ServiceLocation != 10268

			delete from t_HSN
			delete from t_ItemComissionBucketRate
			delete from t_ItemComissionBucket
			delete from t_ItemCompany
			delete from t_ItemImage
			delete from t_ItemInwardRate
			delete from t_ItemPrice

			delete from t_MaterialProductionDetail
			delete from t_MaterialProduction

			delete from t_MaterialProductMixDetail
			delete from t_MaterialProductMix

			delete from t_ProductSubCategory
			delete from t_ProductCategory


			delete from t_Rep

			delete from t_Rep_Area
			delete from t_Rep_Area_Target

			delete from t_RolePermission where RoleID not in ( select RoleID from t_UserRole where UserID in (select PKID from t_User where UserName = 'vinayakshenoy2000@gmail.com'))
			delete from t_SMSSetting
			delete from t_SupplierCompany
			delete from t_SupplierStatistics

			update t_User set CompanyID = @newCompanyID
			update t_ServiceLocation set CompanyID =  @newCompanyID
			update t_PartyGroup set CompanyID = @newCompanyID
			update t_Feature set CompanyID = @newCompanyID
			update t_Party set CompanyID = @newCompanyID
			update t_RolePermission set CompanyID = @newCompanyID
			update t_UserSetting set CompanyID = @newCompanyID
			update t_UserServiceLocation set CompanyID = @newCompanyID
			update t_BillBook set CompanyID = @newCompanyID
			update t_CompanySetting set CompanyID = @newCompanyID
			update t_Department set CompanyID = @newCompanyID
			update t_DurgType set CompanyID = @newCompanyID
			update t_EmailTemplateModule set CompanyID = @newCompanyID
			update t_EmailTemplateModuleField set CompanyID = @newCompanyID
			update t_EnQuiryPaymentMode set CompanyID = @newCompanyID
			update t_InventoryStrategy set CompanyID = @newCompanyID
			update t_ItemStatus set CompanyID = @newCompanyID
			update t_TaxCategory set CompanyID = @newCompanyID
			update t_ItemType set CompanyID = @newCompanyID

			update t_PrinterData set CompanyID = @newCompanyID
			update t_PrintLayout set CompanyID = @newCompanyID
			update t_PrintPaper set CompanyID = @newCompanyID
			update t_Role  set CompanyID = @newCompanyID
			update t_ServiceLocationType set CompanyID  = @newCompanyID
			update t_WarehouseType set CompanyID = @newCompanyID
			update t_UserSetting set CompanyID = @newCompanyID

			update t_Seq_BillBookRef set Currval = 0
			update t_Seq_CreditNote set Curr = 0
			update t_Seq_DatewiseAccount set Currval = 0
			update t_Seq_Entry set Currval = 0
			update t_Seq_Entry_Detail set Currval = 0
			update t_Seq_Entry_Ref set Currval = 0
			update t_Seq_GRN_Ref set Currval = 0
			update t_Seq_MaterialIssue set Currval = 0
			update t_Seq_MaterialIssueDetail set Currval = 0
			update t_Seq_MaterialReceive set Currval = 0
			update t_Seq_MaterialReceiveDetail set Currval = 0
			update t_Seq_MatissueRef set Currval = 0
			update t_Seq_MatReceiveRef set Currval = 0
			update t_Seq_Payment set Currval = 0
			update t_Seq_Payment_Detail set Currval = 0
			update t_Seq_Payment_Ref set Currval = 0
			update t_Seq_Purchase set Currval = 0
			update t_Seq_Purchase_Return set Currval = 0
			update t_Seq_Purchase_Return_Ref set Currval = 0
			update t_Seq_Purchase_ReturnDetial set Currval = 0
			update t_Seq_PurchaseDetail set Currval = 0
			update t_Seq_Receipt set Currval = 0
			update t_Seq_Receipt_Detail set Currval = 0
			update t_Seq_Receipt_Ref set Currval = 0
			update t_Seq_Sale set Currval = 0
			update t_Seq_SaleDetail set Currval = 0
			update t_Seq_SaleReturn set Currval = 0
			update t_Seq_SaleReturnDetail set Currval = 0
			update t_Seq_Sales_Return set Currval = 0
			update t_Seq_Transfer_Order_Ref set Currval = 0
			update t_Seq_Voucher_Ref set Currval = 0


			update t_Seq_DatewiseAccount set Currval = 0
			update t_Seq_t_DatewiseItem set Currval = 0


			update t_Seq_Batch set [Current] = 0
			update t_Seq_Branch set Currval = 0
			update t_Seq_Brand set Currval = 0
			update t_Seq_CommunicationAudit set Currval = 0
			update t_Seq_Content set [Current] = 0
			update t_Seq_CreditNote set Curr = 0
			update t_Seq_Customer set Currval = 0
			update t_Seq_CustomerDetail set Currval = 0
			update t_Seq_DatewiseAccount set Currval = 0
			update t_Seq_EmailTemplate set Currval = 0
			update t_Seq_EmailTemplateDetail set Currval = 0
			update t_Seq_ItemComissionBucket set Currval = 0
			update t_Seq_ItemComissionBucketRate set Currval = 0
			update t_Seq_ItemCompany set Currval = 0
			update t_Seq_ItemImage set Currval = 0
			update t_Seq_ItemInwardRate set Currval = 0
			update t_Seq_ItemPrice set Currval = 0
			update t_Seq_MaterialIssue set Currval = 0
			update t_Seq_MaterialIssueDetail set Currval = 0
			update t_Seq_MaterialProduction set Currval = 0
			update t_Seq_MaterialProductionDetail set Currval = 0
			update t_Seq_MaterialProductMix set Currval = 0
			update t_Seq_MaterialProductMixDetail set Currval = 0
			update t_Seq_MaterialReceive set Currval = 0
			update t_Seq_MaterialReceiveDetail set Currval = 0

			update t_Seq_Model set Currval = 0
			update t_Seq_ModelColor set Currval = 0
			update t_Seq_ModeofPayment set Currval = 0

			update t_Seq_NonSaleableItemStock set Currval = 0
			update t_Seq_NoShow set Currval = 0
			update t_Seq_NoStock set Currval = 0

			update t_Seq_OpeningStock set Currval = 0
			update t_Seq_Party_Area set Currval = 0
			update t_Seq_Party set Currval = 5000
			update t_Seq_Party_Type_Item_Company set Currval = 0
			update t_Seq_PartyItemDiscount set Currval = 0
			update t_Seq_Payment set Currval = 0
			update t_Seq_Payment_Detail set Currval = 0
			update t_Seq_PendingNote set Currval = 0
			update t_Seq_PendingPurchase set Currval = 0
			update t_Seq_PendingSale set Currval = 0
			update t_Seq_PendingSaleNote set Currval = 0
			update t_Seq_ProductCategory set Currval = 0
			update t_Seq_ProductSubCategory set Currval = 0
			update t_Seq_Purchase_Order_Ref set Currval = 0
			update t_Seq_Purchase_Order_Detail set Currval = 0
			update t_Seq_PurchaseOrder set Currval = 0
			update t_Seq_Rack set Currval = 0
			update t_Seq_Rep set Currval = 0
			update t_Seq_Rep_Area set Currval = 0
			update t_Seq_RepPartyTarget set Currval = 0
			update t_Seq_RepTarget set Currval = 0
			update t_Seq_Row set Currval = 0
			update t_Seq_Sale_Order_Detail set Currval = 0
			update t_Seq_Sale_Order_Ref set Currval = 0
			update t_Seq_SaleCreditNote set Currval = 0
			update t_Seq_SaleOrder set Currval = 0
			update t_Seq_SaleReturnSaleBill set Currval = 0
			update t_Seq_Self set Currval = 0
			update t_Seq_SMSSetting set Currval = 0
			update t_Seq_SupplierCompany set Currval = 0
			update t_Seq_SupplierStatistics set Currval = 0
			update t_Seq_t_BatchwiseStock set Currval = 0
			update t_Seq_t_BatchwiseStockTake set Currval = 0
			update t_Seq_t_ItemwiseStock set Currval = 0
			update t_Seq_t_SaleHistory set Currval = 0
			update t_Seq_Transfer set Currval = 0
			update t_Seq_Transfer_Order_Ref set Currval = 0
			update t_Seq_TransferIn set Currval = 0
			update t_Seq_TransferIn_ID set Currval = 0
			update t_Seq_TransferInDetail set Currval = 0
			update t_Seq_TransferOrder set Currval = 0
			update t_Seq_TransferOrderDetail set Currval = 0
			update t_Seq_TransferOut set Currval = 0
			update t_Seq_TransferOut_ID set Currval = 0
			update t_Seq_TransferOutDetail set Currval = 0
			update t_Seq_UOM set Currval = 0
			update t_Seq_Voucher set Currval = 0
			update t_Seq_Voucher_Detail set Currval = 0
			update t_Seq_Voucher_Ref set Currval = 0
			update t_Seq_VoucherCreditNote set Currval = 0
			update t_FitnessStatus set CompanyID = @newCompanyID
			update t_Bank set CompanyID = @newCompanyID
			update t_SkinTheme set CompanyID = @newCompanyID
			update t_PartyLeadStatus set CompanyID = @newCompanyID
			update t_PartyOwnership set CompanyID = @newCompanyID
			update t_NotificationChannel set CompanyID = @newCompanyID
			update t_OrderStatus set CompanyID = @newCompanyID
			update t_Shift set CompanyID = @newCompanyID
			update t_ClaimStatus set CompanyID = @newCompanyID
			update t_PartyProspectStatus set CompanyID = @newCompanyID
			update t_ReminderType set CompanyID = @newCompanyID
			update t_CampaignType set CompanyID = @newCompanyID
			update t_Source set CompanyID = @newCompanyID
			update t_AccountGroup set CompanyID = @newCompanyID
			update t_PartyEmployeeSize set CompanyID = @newCompanyID
			update t_PartyDealSize set CompanyID = @newCompanyID
			update t_TenantEmployeeSyncDetail set CompanyID = @newCompanyID
			update t_PartyCallType set CompanyID = @newCompanyID
			update t_PartyCallStatus set CompanyID = @newCompanyID
			update t_CertificateType set CompanyID = @newCompanyID
			update t_ItemSegment set CompanyID = @newCompanyID
			
			update t_PartyIndustrySegment set CompanyID = @newCompanyID
			update t_ApplicationTheme set CompanyID = @newCompanyID
			
			
			
			
			
			
			DELETE FROM t_Company WHERE PKID = @oldCompanyID

--			COMMIT TRANSACTION NEWCOMPANY
--END TRY
--BEGIN CATCH
--	ROLLBACK TRANSACTION  NEWCOMPANY
--	print @@error
--END CATCH
GO
