/****** Object:  StoredProcedure [dbo].[GET_NEXT_ROUTE_SCHEDULE_DETAIL_BATCH]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_ROUTE_SCHEDULE_DETAIL_BATCH] 
(
@batchQty BigInt
)
AS    
	DECLARE @NewSeqVal BIGINT;
	declare @CurrVal BIGINT;
	select @CurrVal = CurrVal + 1 from t_Seq_RouteScheduleDetail
	UPDATE [dbo].[t_Seq_RouteScheduleDetail]
	SET
		@NewSeqVal = CurrVal = CurrVal + @batchQty;
	SELECT @CurrVal;
GO
