/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemForItemComission]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  Create procedure [dbo].[GetAllSearchableItemForItemComission]
(
@companyID BigInt,
@query nvarchar(max),
@location bigint


)
As

			

select top 50 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,

	ist.ClosingQty  as  ClosingQty,
	ist.CostPrice  as  CostPrice,
	ist.MRP  as  MRP,
	
	ist.OpeningQty as  OpeningQty,
	ist.SellingPrice  as  SellingPrice,
	
	ic.Code as Company,

	ist.ClosingQty as  InStockQty,
	
	ist.DamageQty  as  DamageQty,

	ist.NoStockQty  as  NoStockQty,

	
	ist.RegionalStockistPrice  as  RegionalStockistPrice,

	
	ist.SuperStockistPrice  as  SuperStockistPrice,

	
	ist.StockistPrice  as  StockistPrice,

	
	ist.DistributorPrice  as  DistributorPrice,

	
	ist.SubDistributorPrice  as  SubDistributorPrice,

	
	ist.SuperRetailerPrice  as  SuperRetailerPrice,

	
	ist.RetailerPrice  as  RetailerPrice,

	it.AllotmentPercentage as AllotmentPercentage,
	It.ItemStatus as ItemStatus,
	it.QuotationPrice as QuotationPrice,
	it.ItemNature as ItemNature
	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	LEFT join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	where it.IsActive = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query )  or  (it.Description like @query  ) or ( it.Barcode = @query))
GO
