/****** Object:  StoredProcedure [dbo].[GetAllDepartmentCheckUpDetail]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[GetAllDepartmentCheckUpDetail]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@department bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	dc.PKID,
	it.Description,
	it.IsActive,
	dc.FrequencyInDays,
	dp.Name as DepartmentDisplay
	from t_DepartmentCheckup dc
	inner join t_RegularCheckup it on dc.CheckUpID = it.pkid
	inner join t_Department dp on dc.DepartmentID = dp.PKID
	
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where dc.DepartmentID = @department and dc.CompanyID = @companyID and it.Description like @query 
	
)

SELECT 
    PKID,
	Description,
	IsActive,
	FrequencyInDays,
	DepartmentDisplay,
	tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Description end desc,
  CASE WHEN @sortField='Description' and @sortOrder ='asc' THEN Description end asc
  
 
	

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
