/****** Object:  StoredProcedure [dbo].[GetAllPurchaseReturnReport]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  
  
CREATE procedure [dbo].[GetAllPurchaseReturnReport]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@sortField nvarchar(max),  
@sortOrder nvarchar(max),  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@type bigint,
@inState bigint
)  
As  
  
  
  
declare @skipRows int = @pageIndex,  
        @takeRows int = @pageSize,  
        @count int = 0  
 
 if (@inState = -1)
 begin

 if ( @type = 1 )  
begin  
  
  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.ReturnBillNo as BillNo,  
 it.BillAmount,  
 it.TotalDiscount,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.EnteredDate,  
 pt.Name as PartyCode,  
 inst.Name as InstateDisplay,  
 bt.Name as BillTypeDisplay,  
 it.Status as Status,  
 1 as AnyReturn,  
 0 as AllReturn,  
 pt.GST as GSTIN ,
 it.InState
  
 from t_PurchaseReturn it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_InState inst on inst.PKID = it.InState  
 inner join t_BillType bt on bt.PKID = it.BillType  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query )) 
 
   
)  
  
SELECT   
    PKID,  
 BillNo,  
 BillAmount,  
 TotalDiscount,  
 TaxTotal,  
 Miscellaneous,  
 BillDate,  
 EnteredDate,  
 PartyCode,  
 InstateDisplay,  
 tCountOrders.CountOrders AS TotalRows,  
 BillTypeDisplay,  
 Status,  
 AnyReturn,  
 AllReturn,  
 GSTIN,
 InState
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,  
  CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN EnteredDate end asc,  
  case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,  
   
  case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
  
 CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,  
  case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,  
  case   WHEN @sortField='BillNo' and @sortOrder ='desc'  THEN BillNo end desc  
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
  
end  
else  
begin  
  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.ReturnBillNo as BillNo,  
 it.BillAmount,  
 it.TotalDiscount,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.EnteredDate,  
 pt.Name as PartyCode,  
 inst.Name as InstateDisplay,  
 bt.Name as BillTypeDisplay,  
 it.Status as Status,  
 0 as AnyReturn,  
 0 as AllReturn,  
 pt.GST as GSTIN ,
 it.InState
  
 from t_PurchaseReturn it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_InState inst on inst.PKID = it.InState  
 inner join t_BillType bt on bt.PKID = it.BillType  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ))  
   
)  
  
SELECT   
    PKID,  
 BillNo,  
 BillAmount,  
 TotalDiscount,  
 TaxTotal,  
 Miscellaneous,  
 BillDate,  
 EnteredDate,  
 PartyCode,  
 InstateDisplay,  
 tCountOrders.CountOrders AS TotalRows,  
 BillTypeDisplay,  
 Status,  
 AnyReturn,  
 AllReturn,  
 GSTIN ,
 InState
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,  
  CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN EnteredDate end asc,  
  case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,  
   
  case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
  
 CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,  
  case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,  
  case   WHEN @sortField='BillNo' and @sortOrder ='desc'  THEN BillNo end desc  
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
  
end

 end
 else
 begin

 if ( @type = 1 )  
begin  
  
  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.ReturnBillNo as BillNo,  
 it.BillAmount,  
 it.TotalDiscount,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.EnteredDate,  
 pt.Name as PartyCode,  
 inst.Name as InstateDisplay,  
 bt.Name as BillTypeDisplay,  
 it.Status as Status,  
 1 as AnyReturn,  
 0 as AllReturn,  
 pt.GST as GSTIN,
 it.InState
  
 from t_PurchaseReturn it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_InState inst on inst.PKID = it.InState  
 inner join t_BillType bt on bt.PKID = it.BillType  
   
  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.InState = @inState and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query )) 
 
   
)  
  
SELECT   
    PKID,  
 BillNo,  
 BillAmount,  
 TotalDiscount,  
 TaxTotal,  
 Miscellaneous,  
 BillDate,  
 EnteredDate,  
 PartyCode,  
 InstateDisplay,  
 tCountOrders.CountOrders AS TotalRows,  
 BillTypeDisplay,  
 Status,  
 AnyReturn,  
 AllReturn,  
 GSTIN,
 InState
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,  
  CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN EnteredDate end asc,  
  case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,  
   
  case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
  
 CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,  
  case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,  
  case   WHEN @sortField='BillNo' and @sortOrder ='desc'  THEN BillNo end desc  
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
  
end  
else  
begin  
  
;WITH Orders_cte AS (  
  
select   
 it.PKID,  
 it.ReturnBillNo as BillNo,  
 it.BillAmount,  
 it.TotalDiscount,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.EnteredDate,  
 pt.Name as PartyCode,  
 inst.Name as InstateDisplay,  
 bt.Name as BillTypeDisplay,  
 it.Status as Status,  
 0 as AnyReturn,  
 0 as AllReturn,  
 pt.GST as GSTIN  ,
 it.InState

  
 from t_PurchaseReturn it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_InState inst on inst.PKID = it.InState  
 inner join t_BillType bt on bt.PKID = it.BillType  
   
  
 --and C,AST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where it.InState = @inState and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date) and ( (it.BillNo like @query )  or  (pt.Name like @query ))  
   
)  
  
SELECT   
    PKID,  
 BillNo,  
 BillAmount,  
 TotalDiscount,  
 TaxTotal,  
 Miscellaneous,  
 BillDate,  
 EnteredDate,  
 PartyCode,  
 InstateDisplay,  
 tCountOrders.CountOrders AS TotalRows,  
 BillTypeDisplay,  
 Status,  
 AnyReturn,  
 AllReturn,  
 GSTIN ,
 InState
   
FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
ORDER BY   
  
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,  
  CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN EnteredDate end asc,  
  case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,  
   
  case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
  --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
  
 CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,  
  case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,  
  case   WHEN @sortField='BillNo' and @sortOrder ='desc'  THEN BillNo end desc  
    
  
OFFSET @skipRows ROWS  
FETCH NEXT @takeRows ROWS ONLY;  
  
end

 end
GO
