/****** Object:  StoredProcedure [dbo].[GetAllTransferOrderInRequest]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  procedure [dbo].[GetAllTransferOrderInRequest]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.OrderNo,
	it.Amount,
	it.Date,
	pt.Name as ProviderLocation,
	fr.Name as RequesterLocation,
	COALESCE(cp.Name, '') as Company,
	it.Status,
	it.Clear,
	it.ClearDate,
	COALESCE(it.IsApproved, 'false') as IsApproved,
	COALESCE(it.IsVerified, 'false') as IsVerified,
	COALESCE(it.VerifiedBy, '-1') as VerifiedBy,
	COALESCE(it.ApprovedBy, '-1') as ApprovedBy,
	COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,
	COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,
	COALESCE(us.FirstName, 'N/A') as Verifier,
	COALESCE(usr.FirstName, 'N/A') as Approver
	
	
	from t_TransferOrder it 
	inner join t_ServiceLocation pt on it.SupplierServiceLocationID = pt.PKID
	inner join t_ServiceLocation fr on it.ServiceLocation = fr.PKID
	left join t_ItemCompany cp on it.ItemCompany  = cp.PKID
	left join t_User usr on it.ApprovedBy = usr.PKID
	left join t_User us on it.VerifiedBy = us.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and  it.SupplierServiceLocationID = @ServiceLocation and it.IsApproved = 1 and it.Status = 1 and it.Clear = 0 and ( (it.OrderNo like @query )  or  (pt.Name like @query ))
	and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) 
	
)

SELECT 
     PKID,
	 OrderNo,
	 Amount,
	 Date,
	 ProviderLocation,
	 RequesterLocation,
	 Company,
	 tCountOrders.CountOrders AS TotalRows,
	 Status,
	 Clear,
	 ClearDate,
	 IsApproved,
	 IsVerified,
	 VerifiedBy,
	 ApprovedBy,
	 VerifiedDate,
	 ApprovedDate,
	 Verifier,
	 Approver
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 
CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,
 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,
  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,
  
 
  case   WHEN @sortField='Supplier' and @sortOrder ='asc'  THEN ProviderLocation end asc,
  case   WHEN @sortField='ItemCompany' and @sortOrder ='asc'  THEN Company  end asc
	
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
