/****** Object:  StoredProcedure [dbo].[GetAllSalesOrderAreaInRequest]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE  procedure [dbo].[GetAllSalesOrderAreaInRequest]  
(  
@companyID BigInt,  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@itemSegment bigint = 1  
  
)  
As  
  
  
select   
 it.PKID,  
 it.OrderNo,  
 it.Amount,  
 it.Date,  
 pt.Name as Party,  
 sr.Name as ServiceLocation,  
 pa.AreaName,  
 pa.PKID as AreaID,  
 it.Status,  
 it.Clear  
 from t_SaleOrder it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_ServiceLocation sr on it.ServiceLocation = sr.PKID  
 inner join t_Party_Area a on  pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation  
 inner join t_Rep_Area pa on a.AreaID = pa.PKID   
 where it.CompanyID = @companyID and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and it.IsDraft = 0 and it.Status = 1 
 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date)
GO
