/****** Object:  StoredProcedure [dbo].[GET_NEXT_FEEDBACK_QUESTION_OPTION]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_FEEDBACK_QUESTION_OPTION]
(
@company bigint
)
AS
      BEGIN
         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_FeedbackQuestionOption]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;
     END;
GO
