/****** Object:  StoredProcedure [dbo].[GET_NEXT_ITEMWISESTOCK]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	 Create PROCEDURE [dbo].[GET_NEXT_ITEMWISESTOCK]
AS
     BEGIN
         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_t_ItemwiseStock]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr;
         SELECT @NewSeqVal;
     END;
GO
