/****** Object:  StoredProcedure [dbo].[GetAllMaterialProcessing]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllMaterialProcessing]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.BillNo,
	 
	it.BillDate,
	it.EnteredDate,
	it.Status as Status,
	it.BoughtQty,
	i.Description
	
	from t_MaterialProcessing it 
	join t_Item i on it.ItemId = i.PKID
	
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) ) and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
    PKID,
	BillNo,
	BoughtQty,
	BillDate,
	EnteredDate,
	
	tCountOrders.CountOrders AS TotalRows,
	Status,
	Description
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc
 

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
