/****** Object:  StoredProcedure [dbo].[GET_NEXT_EMAIL]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GET_NEXT_EMAIL]
AS

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_Email]
 UPDATE [t_Seq_Email] SET [current] = @NextNumber

 Select @NextNumber
GO
