/****** Object:  StoredProcedure [dbo].[UpdateDatewiseItemSequence]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UpdateDatewiseItemSequence]  
(  
@CurrentSeq bigint  
)  
As  
  
update t_Seq_t_DatewiseItem set Currval =
( select max(PKID) + 1 from t_DatewiseItem)
GO
