/****** Object:  StoredProcedure [dbo].[GetAllMaterialProductMixes]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllMaterialProductMixes]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@mixType bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0


if( @mixType < 0 )
begin


;WITH Orders_cte AS (


select 
	it.PKID,
	pt.Code + ' ' + pt.Description as Name,
	um.Code,
	it.Status,
	it.CreateDate,
	mType.PKID as MixTypeID,
	mType.MixType as MixType
	from t_MaterialProductMix it 
	inner join t_Item pt on it.ItemID = pt.PKID
	inner join t_UOM um on it.UOMId = um.PKID
	inner join t_MaterialProductMixTYpe mType on it.ProductMixType = mType.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID  and ( (pt.Code like @query )  or  (pt.Description like @query ))

	and CAST(it.CreateDate as date) >= CAST(@fromDate as date)  and  CAST(it.CreateDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
    PKID,
	Name,
	Code,
	Status,
	CreateDate,
	
	
	tCountOrders.CountOrders AS TotalRows,
	MixType,
	MixTypeID
	
	
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ReturnID' and @sortOrder ='asc' THEN PKID end desc,
  CASE WHEN @sortField='CreateDate' and @sortOrder ='asc' THEN CreateDate end asc
  
 

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

end
else

begin

;WITH Orders_cte AS (


select 
	it.PKID,
	pt.Code + ' ' + pt.Description as Name,
	um.Code,
	it.Status,
	it.CreateDate,
	mType.PKID as MixTypeID,
	mType.MixType as MixType
	from t_MaterialProductMix it 
	inner join t_Item pt on it.ItemID = pt.PKID
	inner join t_UOM um on it.UOMId = um.PKID
	inner join t_MaterialProductMixTYpe mType on it.ProductMixType = mType.PKID

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.ProductMixType = @mixType and it.CompanyID = @companyID  and ( (pt.Code like @query )  or  (pt.Description like @query ))

	and CAST(it.CreateDate as date) >= CAST(@fromDate as date)  and  CAST(it.CreateDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
    PKID,
	Name,
	Code,
	Status,
	CreateDate,
	
	
	tCountOrders.CountOrders AS TotalRows,
	MixType,
	MixTypeID
	
	
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='ReturnID' and @sortOrder ='asc' THEN PKID end desc,
  CASE WHEN @sortField='CreateDate' and @sortOrder ='asc' THEN CreateDate end asc
  
 

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;


end
GO
