/****** Object:  StoredProcedure [dbo].[GetLoggedInUserTimeStamp]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetLoggedInUserTimeStamp](@nUserID bigint)
AS
     SELECT LoginTime
     FROM t_UserLoggedInTimestamp
     WHERE UserID = @nUserID;
GO
