/****** Object:  StoredProcedure [dbo].[IsTargetRangeExist]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[IsTargetRangeExist]  
(  
@fromdate datetime,  
@todate datetime,  
@servicelocation bigint,  
@company bigint,  
@source bigint,  
@type bigint  
)  
As  
  
if( @servicelocation > 0)  
begin  
  SELECT count(*)  
 FROM   t_Target  
 WHERE  Source = @source and TargetType = @type and servicelocation = @servicelocation and 
 ( FromDate BETWEEN @fromdate AND @todate OR  
     ToDate BETWEEN @fromdate AND @todate) and IsActive = 1  
  
end  
else  
begin  
 SELECT count(*)  
 FROM   t_Target  
 WHERE  Source = @source and TargetType = @type and ( FromDate BETWEEN @fromdate AND @todate OR  
     ToDate BETWEEN @fromdate AND @todate ) and IsActive = 1  
  
  
end
GO
