/****** Object:  StoredProcedure [dbo].[GetAllTransferReportItemwise]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	

CREATE procedure [dbo].[GetAllTransferReportItemwise]
(
@companyID BigInt,
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@ItemID bigint,
@transferType bigint

)
As

if ( @transferType = 1)
begin

if( @ItemID > 0 )
begin

select 
	it.PKID,
	it.RefNo,
	it.BillAmount,
	it.CreateDate,
	it.EnteredDate,
	d.Name as SourceLocationDisplay,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.BoughtQty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	ite.PKID as ItemId,
	pt.PKID as SourceLocation,
	ic.PKID as ItemCompanyID,
	ic.Name as ItemCompany,
	t.TransferInID as TransferInID
	
	from t_TransferOut it 
	inner join t_Transfer t on t.TransferOutID = it.PKID
	inner join t_ServiceLocation pt on it.ServiceLocation = pt.PKID
	inner join t_ServiceLocation d on it.DestinyLocationID = d.PKID
	inner join t_TransferOutDetail pd on it.PKID = pd.TransferOutID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)

	--order by BillNo

end
else
	begin

	select 
	it.PKID,
	it.RefNo,
	it.BillAmount,
	it.CreateDate,
	it.EnteredDate,
	d.Name as SourceLocationDisplay,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.BoughtQty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	ite.PKID as ItemId,
	pt.PKID as SourceLocation,
	ic.PKID as ItemCompanyID,
	ic.Name as ItemCompany,
	t.TransferInID as TransferInID
	
	from t_TransferOut it 
	inner join t_Transfer t on t.TransferOutID = it.PKID
	inner join t_ServiceLocation pt on it.ServiceLocation = pt.PKID
	inner join t_ServiceLocation d on it.DestinyLocationID = d.PKID
	inner join t_TransferOutDetail pd on it.PKID = pd.TransferOutID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)

	--order by BillNo

	end
end
else
begin

if( @ItemID > 0 )
begin

select 
	it.PKID,
	it.RefNo,
	it.BillAmount,
	it.CreateDate,
	it.EnteredDate,
	pt.Name as SourceLocationDisplay,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.BoughtQty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	ite.PKID as ItemId,
	pt.PKID as SourceLocation,
	ic.PKID as ItemCompanyID,
	ic.Name as ItemCompany,
	t.TransferInID as TransferInID
	
	from t_TransferIn it 
	inner join t_Transfer t on t.TransferOutID = it.PKID
	inner join t_ServiceLocation pt on it.ServiceLocation = pt.PKID
	inner join t_TransferInDetail pd on it.PKID = pd.TransferInID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.DestinyLocationID = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)

	--order by BillNo

end
else
	begin

	select 
	it.PKID,
	it.RefNo,
	it.BillAmount,
	it.CreateDate,
	it.EnteredDate,
	pt.Name as SourceLocationDisplay,
	ite.Description as Description,
	pd.BatchNo as BatchNo,
	pd.ExpiryDate as ExpiryDate,
	pd.BoughtQty as Qty,
	pd.FreeQty as FreeQty,
	pd.CostPrice as CostPrice,
	ite.PKID as ItemId,
	pt.PKID as SourceLocation,
	ic.PKID as ItemCompanyID,
	ic.Name as ItemCompany,
	t.TransferInID as TransferInID
	
	from t_TransferIn it 
	inner join t_Transfer t on t.TransferOutID = it.PKID
	inner join t_ServiceLocation pt on it.ServiceLocation = pt.PKID
	inner join t_TransferInDetail pd on it.PKID = pd.TransferInID
	inner join t_Item ite on pd.ItemID = ite.PKID
	inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID
	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.DestinyLocationID = @ServiceLocation and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)

	--order by BillNo

	end

end
GO
