/****** Object:  StoredProcedure [dbo].[BulkUpdateCostPrice]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[BulkUpdateCostPrice]
(
@prices SaleDetailType readonly
)
AS

update t_SaleDetail Set CostPrice = std.CostPrice
from t_SaleDetail 
inner join @prices as std
on t_SaleDetail.PKID = std.PKID
GO
