/****** Object:  StoredProcedure [dbo].[GetAllItemForReturnByDamage]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE procedure [dbo].[GetAllItemForReturnByDamage]
(
@companyID BigInt,
@location bigint


)
As





select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	COALESCE(bst.BoughtQty, '0') as BBoughtQty,
	COALESCE(bst.SoldQty, '0') as BSoldQty,
	COALESCE(bst.DamageQty, '0') as BDamageQty,
	COALESCE(bst.BatchNo, '') as BBatchNo,
	COALESCE(bst.Expiry, '') as BExpiry,
	COALESCE(bst.Scheme, '0') as BScheme,
	COALESCE(bst.ShemeQty, '0') as BSchemeQty,
	COALESCE(bst.MRP, '0') as BMRP,
	COALESCE(bst.CostPrice, '0') as BCostPrice,
	COALESCE(bst.ActualCostPrice, '0') as BActualCostPrice,
	COALESCE(bst.SellingPrice, '0')  as BSellingPrice,

	COALESCE(bst.RegionalStockistPrice, '0')  as BRegionalStockistPrice,
	COALESCE(bst.SuperStockistPrice, '0')  as BSuperStockistPrice,
	COALESCE(bst.StockistPrice, '0')  as BStockistPrice,
	COALESCE(bst.DistributorPrice, '0')  as BDistributorPrice,
	COALESCE(bst.SubDistributorPrice, '0')  as BSubDistributorPrice,
	COALESCE(bst.SuperRetailerPrice, '0')  as BSuperRetailerPrice,
	COALESCE(bst.RetailerPrice, '0')  as BRetailerPrice,

	ist.ClosingQty as ClosingQty,
	ist.CostPrice as CostPrice,
	ist.MRP as MRP,
	ist.OpeningQty as OpeningQty,
	ist.SellingPrice as SellingPrice,
	ic.Code as Company,
	ist.ClosingQty as InStockQty,

	ist.RegionalStockistPrice as RegionalStockistPrice,
	ist.SuperStockistPrice as SuperStockistPrice,
	ist.StockistPrice as StockistPrice,
	ist.DistributorPrice as DistributorPrice,
	ist.SubDistributorPrice as SubDistributorPrice,
	ist.SuperRetailerPrice as SuperRetailerPrice,
	ist.RetailerPrice as RetailerPrice,
	ist.DamageQty as DamageQty,
	ic.PKID as ItemCompany

	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	left join t_BatchwiseStock bst on it.PKID = bst.ItemID and bst.ServiceLocation = @location
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID

	--where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 and bst.Type = 1 and ( DATEDIFF(dd, GETDATE(), bst.Expiry) > 90) ))   and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	--where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 and bst.Type = 1 and ( DATEDIFF(dd, GETDATE(), bst.Expiry) > 90) ))   and ( (SOUNDEX( it.Code ) = SOUNDEX( @query ))  or  (it.Description like '%' + @query + '%' ))
	where it.IsActive = 1 and it.CompanyID = @companyID and ( (it.IsBatchwise != 1 and ist.DamageQty > 0) or ( it.IsBatchwise = 1 ))  and (( bst.DamageQty ) > 0)
GO
