/****** Object:  StoredProcedure [dbo].[sp_RemoveObsoleteItems]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RemoveObsoleteItems](
    @list [NumberList] READONLY)
AS
BEGIN

delete from t_AdditionalItemDiscount where itemid in (SELECT l.Item FROM @list l)

delete from t_AdditionalItemScheme where ItemId in (SELECT l.Item FROM @list l)

delete from t_AddOnItem where ItemID in (SELECT l.Item FROM @list l)

delete from t_BannerImage where Banner in (select PKID from t_Banner where Product is not null and Product in (SELECT l.Item FROM @list l))
delete from t_Banner where PKID in (select PKID from t_Banner where Product is not null and Product in (SELECT l.Item FROM @list l))

delete from t_BatchwiseOpeningStock where ItemID in (SELECT l.Item FROM @list l)

delete from t_BatchwiseStock where ItemID in (SELECT l.Item FROM @list l)

delete from t_DatewiseItem where ItemId in (SELECT l.Item FROM @list l)

delete from t_ItemComissionBucketRate where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemComissionBucket where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemDiscount where ItemID in (SELECT l.Item FROM @list l)

select PKID from t_SaleOrderItemFlowDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_SaleOrderItemFlowUserDetail where ItemFlowDetailID in ( select PKID from t_SaleOrderItemFlowDetail where ItemID in (SELECT l.Item FROM @list l))
delete from t_SaleOrderItemFlowDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_SaleOrderItemStyleDetail where ItemID in (SELECT l.Item FROM @list l)
delete from t_SaleOrderSubItemDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_SaleOrderDetail where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemImage where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemInwardRate where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemMaintenanceOwner where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemPrice where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemStyle where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemTypeDiscount where ItemID in (SELECT l.Item FROM @list l)
delete from t_ItemwiseStock where ItemID in (SELECT l.Item FROM @list l)



delete from t_ItemWorkFlowDetail where ItemWorkFlowID in (select PKID from t_ItemWorkFlow where ItemID in (SELECT l.Item FROM @list l) )
delete from t_ItemWorkFlow where ItemID in (SELECT l.Item FROM @list l)


delete from t_MaterialProcessingDetail where MaterialProcessing in (select PKID from t_MaterialProcessing where ItemID in (SELECT l.Item FROM @list l))
delete from t_MaterialProcessing where ItemID in (SELECT l.Item FROM @list l)

delete from t_MaterialProcessingIndentDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_MaterialProductionDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_MaterialProductionIndentDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_NonSaleableItemStock where ItemID in (SELECT l.Item FROM @list l)
delete from t_NoShow where ItemID in (SELECT l.Item FROM @list l)

delete from t_NoStock where ItemID in (SELECT l.Item FROM @list l)

delete from t_PartyAdditionalItemScheme where ItemID in (SELECT l.Item FROM @list l)



delete from t_MaterialProductMixDetail where MaterialProductMixID in ( select PKID from t_MaterialProductMix where ItemID in (SELECT l.Item FROM @list l))
delete from t_MaterialProductMix where ItemID in (SELECT l.Item FROM @list l)

select PKID from t_Product where ItemId in (SELECT l.Item FROM @list l)
delete from t_ProductDetail where ProductID in (select PKID from t_Product where ItemId in (SELECT l.Item FROM @list l))
delete from t_ProductRepair where ProductID in (select PKID from t_Product where ItemId in (SELECT l.Item FROM @list l))
delete from t_ProductExpiry where ProductID in (select PKID from t_Product where ItemId in (SELECT l.Item FROM @list l))
delete  from t_Product where ItemId in (SELECT l.Item FROM @list l)

delete  from t_PurchaseOrderDetail where ItemID in (SELECT l.Item FROM @list l)


delete from t_SaleItemFlowUserDetail where ItemFlowDetailID in (select PKID from t_SaleItemFlowDetail where ItemID in (SELECT l.Item FROM @list l))
delete from t_SaleItemFlowDetail where ItemID in (SELECT l.Item FROM @list l)

delete from t_SaleDetail where ItemID in (SELECT l.Item FROM @list l)
delete from t_SaleRecommendationDetail where ItemID in (SELECT l.Item FROM @list l)
delete from t_SaleReturnDetail where ItemID in (SELECT l.Item FROM @list l)
delete from t_SaleReturnOrderDetail where ItemID in (SELECT l.Item FROM @list l)



delete from t_TripBillDetail where TripID in (select PKID from t_TripMeter where ItemID in (SELECT l.Item FROM @list l))
delete from t_TripBunkDetail where TripID in (select PKID from t_TripMeter where ItemID in (SELECT l.Item FROM @list l))

delete from t_TripDriverDetail where TripID in (select PKID from t_TripMeter where ItemID in (SELECT l.Item FROM @list l))
delete from t_TripMeter where ItemID in (SELECT l.Item FROM @list l)

delete from t_CompanySEOMetaData where MetaDataID in (select PKID from t_MetaData where SeoID in (select PKID from t_SEO where ProductID in (SELECT l.Item FROM @list l)))
delete from t_MetaData where SeoID in (select PKID from t_SEO where ProductID in (SELECT l.Item FROM @list l))

delete from t_CompanySEOMetaProperty where MetaPropertyID in (select PKID from t_MetaProperty where SeoID in (select PKID from t_SEO where ProductID in (SELECT l.Item FROM @list l)))
delete from t_MetaProperty where SeoID in (select PKID from t_SEO where ProductID in (SELECT l.Item FROM @list l))
delete from t_SEO where ProductID in (SELECT l.Item FROM @list l)

INSERT INTO t_Item_Purge 
		SELECT *
		FROM t_Item
		WHERE PKID in (SELECT l.Item FROM @list l )


delete from t_Item where PKID in (SELECT l.Item FROM @list l)


END
GO
