/****** Object:  StoredProcedure [dbo].[sp_GetLatestReminderNotice]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetLatestReminderNotice]
    @AccountNo BIGINT   
AS
BEGIN
    SET NOCOUNT ON;

  
    SELECT TOP 1
        R.RemRefNum      AS ReferenceNo,       
        R.RemDate        AS NoticeDate,        
        R.ConsumerNum    AS AccountNo,        
        R.Name           AS CustomerName,      
        R.TotalArrear    AS OutstandingAmount, 
        R.BillNum        AS BillNo,            
        R.DueDate        AS CurrentBillDueDate,
        LTRIM(RTRIM(
            ISNULL(P.Address1,'') + ' ' +
            ISNULL(P.Address2,'') + ' ' +
            ISNULL(P.Address3,'') + ' ' +
            ISNULL(P.City,'') + ' ' +
            ISNULL(P.PinCode,'')
        )) AS CustomerAddress
    FROM dbo.t_Reminder R
    INNER JOIN dbo.t_Party P 
        ON R.ConsumerNum = P.PKID
    WHERE 
        R.ConsumerNum = @AccountNo
        AND (R.IsActive = 1 OR R.IsActive IS NULL)
    ORDER BY 
        R.RemDate DESC, 
        R.PKID DESC;
END
GO
