/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemDetail]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllSearchableItemDetail]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@query nvarchar(max),
@serviceLocation bigint,
@ItemCompany bigint

)
As


declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

		
if( @ItemCompany > 0 )
begin

;WITH Orders_cte AS (

select 
	it.PKID,
	
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	COALESCE(st.CostPrice, '0') as CostPrice,
	COALESCE(st.SellingPrice, '0') as SellingPrice,
	COALESCE(st.MRP, '0') as MRP,
	COALESCE(st.ClosingQty, '0') as ClosingQty,
	ic.Code as ItemCompany
	from t_Item it inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	left join t_ItemwiseStock st on it.PKID = st.ItemId and st.ServiceLocation = @serviceLocation and st.POInProgress = 0 
	inner join t_ItemCompany ic on ic.PKID = it.ItemCompany

	where it.CompanyID = @companyID and it.ItemCompany = @ItemCompany and it.IsActive = 1  and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	
)

SELECT 
    PKID,
	ItemID,
	ItemCode,
	ItemDescription,
	IsBatchwise,
	Tax,
	TaxCategory,
	CostPrice,
	SellingPrice,
	MRP,
	ClosingQty,
    tCountOrders.CountOrders AS TotalRows,
	ItemCompany
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY ItemCode asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

end

else

begin

;WITH Orders_cte AS (

select 
	it.PKID,
	
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	COALESCE(st.CostPrice, '0') as CostPrice,
	COALESCE(st.SellingPrice, '0') as SellingPrice,
	COALESCE(st.MRP, '0') as MRP,
	COALESCE(st.ClosingQty, '0') as ClosingQty,
	COALESCE(ic.Code, '') as ItemCompany
	
	from t_Item it inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	left join t_ItemwiseStock st on it.PKID = st.ItemId and st.ServiceLocation = @serviceLocation and st.POInProgress = 0
	left join t_ItemCompany ic on ic.PKID = it.ItemCompany
	where it.CompanyID = @companyID and  it.IsActive = 1  and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	
)

SELECT 
    PKID,
	ItemID,
	ItemCode,
	ItemDescription,
	IsBatchwise,
	Tax,
	TaxCategory,
	CostPrice,
	SellingPrice,
	MRP,
	ClosingQty,
    tCountOrders.CountOrders AS TotalRows,
	ItemCompany
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY ItemCode asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

end
GO
