/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemSleekForPurchase]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllSearchableItemSleekForPurchase]      
(      
@companyID BigInt,      
@pageSize int,      
@pageIndex int,      
@query nvarchar(max),      
@location bigint,      
@includeZero bit,      
@isFullTextSearch bit      
      
)      
As      
      
      
      
      
if (@includeZero = 1)      
      
  begin      
      
         
      
select top 50       
 it.PKID,      
 it.PKID as ItemID,      
 it.Code as ItemCode,      
 it.Description as ItemDescription,      
 it.IsBatchwise as IsBatchwise,      
 tc.Percentage as Tax,      
 tc.PKID as TaxCategory,      
 COALESCE(hs.Code,'') as  HSN,      
       
 COALESCE(ist.ClosingQty,'0') as  ClosingQty,      
 COALESCE(ist.CostPrice,'0') as  CostPrice,      
 COALESCE(ist.MRP,'0') as  MRP,      
       
 COALESCE(ist.OpeningQty,'0') as  OpeningQty,      
 COALESCE(ist.SellingPrice,'0') as  SellingPrice,      
       
 ic.Code as Company,      
 ic.PKID as ItemCompany,      
      
 COALESCE(ist.ClosingQty,'0') as  InStockQty,      
       
 COALESCE(ist.DamageQty,'0') as  DamageQty,      
      
 COALESCE(ist.NoStockQty,'0') as  NoStockQty,      
      
       
 COALESCE(ist.RegionalStockistPrice,'0') as  RegionalStockistPrice,      
      
       
 COALESCE(ist.SuperStockistPrice,'0') as  SuperStockistPrice,      
      
       
 COALESCE(ist.StockistPrice,'0') as  StockistPrice,      
      
       
 COALESCE(ist.DistributorPrice,'0') as  DistributorPrice,      
      
       
 COALESCE(ist.SubDistributorPrice,'0') as  SubDistributorPrice,      
      
       
 COALESCE(ist.SuperRetailerPrice,'0') as  SuperRetailerPrice,      
      
       
 COALESCE(ist.RetailerPrice,'0') as  RetailerPrice,      
      
 it.AllotmentPercentage as AllotmentPercentage,      
 It.ItemStatus as ItemStatus,      
 it.KgsPerItem as KgsPerItem,      
 it.MarginPercentage as MarginPercentage,      
 it.MinStock as MinStock,      
       
 it.CategoryID as CategoryID,      
 it.SubCategoryID as SubCategoryID,      
 it.ContentID as ContentID,      
 it.Barcode as Barcode,      
 it.ItemType as ItemType,    
 COALESCE(hs.Description,'') as  HSNDescription,  
 uom.Code as UOMCode,
 tc.Name as TaxDescription
      
 from t_Item it       
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID      
 LEFT join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location      
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID      
 inner join t_UOM uom on it.UOMId = uom.PKID                    
 left join t_HSN hs on it.HSNCode = hs.PKID      
 where it.IsActive = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query )  or  (it.Description like @query  ) or ( it.Barcode = @query))      
       
      
      
  end      
else      
begin      
      
        
select top 50       
 it.PKID,      
 it.PKID as ItemID,      
 it.Code as ItemCode,      
 it.Description as ItemDescription,      
 it.IsBatchwise as IsBatchwise,      
 tc.Percentage as Tax,      
 tc.PKID as TaxCategory,      
 ist.ClosingQty as ClosingQty,      
 ist.CostPrice as CostPrice,      
 ist.MRP as MRP,      
 ist.OpeningQty as OpeningQty,      
 ist.SellingPrice as SellingPrice,      
 ic.Code as Company,      
 ic.PKID as ItemCompany,      
 ist.ClosingQty as InStockQty,      
 ist.DamageQty as DamageQty,      
 ist.NoStockQty as NoStockQty,      
 ist.RegionalStockistPrice as RegionalStockistPrice,      
 ist.SuperStockistPrice as SuperStockistPrice,      
 ist.StockistPrice as StockistPrice,      
 ist.DistributorPrice as DistributorPrice,      
 ist.SubDistributorPrice as SubDistributorPrice,      
 ist.SuperRetailerPrice as SuperRetailerPrice,      
 ist.RetailerPrice as RetailerPrice,      
 it.AllotmentPercentage as AllotmentPercentage,      
 It.ItemStatus as ItemStatus,      
 it.KgsPerItem as KgsPerItem,      
 it.MarginPercentage as MarginPercentage,      
 COALESCE(hs.Code,'') as  HSN,      
 it.MinStock as MinStock,      
 it.CategoryID as CategoryID,      
 it.SubCategoryID as SubCategoryID,      
 it.ContentID as ContentID,      
 it.Barcode as Barcode,      
 it.ItemType as ItemType,    
 COALESCE(hs.Description,'') as  HSNDescription,  
 uom.Code as UOMCode  
        
 from t_Item it       
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID      
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location and ist.ClosingQty > 0      
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID   
 inner join t_UOM uom on it.UOMId = uom.PKID                  
 left join t_HSN hs on it.HSNCode = hs.PKID      
 where it.IsActive = 1 and it.CompanyID = @companyID  and ((  it.Code like  @query )  or  (it.Description like @query   ) or ( it.Barcode = @query))      
      
      
end
GO
