/****** Object:  StoredProcedure [dbo].[GetBillingDetails]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillingDetails]
    @BillNum BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @BillingMode VARCHAR(10);

    -- Get Billing Mode
    SELECT @BillingMode = am.Code
    FROM t_Bill b
    INNER JOIN t_Party p ON p.PKID = b.ConsumerNum
    LEFT JOIN t_AllMaster am ON am.PKID = p.BillingMode
    WHERE b.PKID = @BillNum;

    -- Return basic result if not SB or PB
    IF @BillingMode IS NULL OR (@BillingMode NOT IN ('SB', 'PB'))
    BEGIN
        SELECT @BillingMode AS BillingMode;
        RETURN;
    END


 SELECT
        (SELECT TOP 1 Name FROM t_BillingCompany) AS BillingCompanyName,
        (SELECT TOP 1 RegNo FROM t_BillingCompany) AS BillingCompanyRegNo,
        (SELECT TOP 1 Address FROM t_BillingCompany) AS BillingCompanyAddress,
        amAccountType.Name AS AccountTypeLine,
        RIGHT('00000000' + CAST(b.PKID AS VARCHAR), 8) AS InvoiceNumber,
        b.BillDate AS InvoiceDate,
       RIGHT('0000000000' + CAST(p.PKID AS VARCHAR), 10) + ' ' + ISNULL(p.CheckDigit, '') AS AccountNumber,
       amConsumerType.Code + ' ' + amConsumerType.Name AS ConsumerType,
  amConsumerType.Name as ConsumerName,
        rt.Name AS RouteName,
        p.Name AS CustomerName,
        p.Address1 AS AddressLine1,
        p.Address2 AS AddressLine2,
        p.PinCode AS PostalCode,
        p.City AS City,
b.DepositAmount AS DepositAmount,
   b.ConsumerNum AS ConsumerNumber,
        p.LicenseeConsumerNum,
amSupplyBy.Code AS SupplyByAccountType,
        amTariff.Code AS TariffCode,
        b.LastBillNum AS LastMonthBillNumber,
b.CurrentBillAmount AS CurrentBill,
b.AdjustmentAmount AS Adjustment,
b.CurrentBillAmount AS OtherCharges,
        b.LastBillDate AS LastMonthBillDate,
        b.LastPaymentNum AS LastPaymentNumber,
        b.LastPaymentDate AS LastPaymentDate,
b.PaymentDueDate,
b.Arrears,
b.BillRate AS PricePerUnit,
        amReading.Code AS ReadingType,
        bmr.LastReading,
        bmr.CurrentReading,
        bmr.Consumption,
        bmr.RepConsumption,
        bd.ItemQuantity AS Quantity,
        bd.ItemRate AS UnitRate,
        bd.ItemAmount AS Amount,
   amEventType.Code AS EventType,
       etgc.EventGroup AS EventGroup,
   md.MeterNum AS MeterNumber,
        amMeterMeasure.Code AS MeterMeasureCode,
   b.DisconBillInd,
        etgc.Description AS BillDescription,
   im.CFFactor,
        amSupplyType.Code AS SupplyType,
        b.LastBillAmount AS BillAmount,
        b.LastPaymentAmount AS PaymentAmount,  
amConsumerType.Code AS ConsumerType,
   DATEDIFF(DAY, b.LastBillDate, b.BillDate) AS BillDays,
   b.CurrentBillAmount +  b.AdjustmentAmount AS CurrentBillAmount,
   b.Arrears + b.CurrentBillAmount + b.FixedFeeAmount+ b.AdjustmentAmount AS AmountToBePaid,
         @BillingMode AS BillingMode,
evntCode.PKID AS EventCode,
        evntCode.Code AS EventCodeName,
        evntCode.Name AS ChargeLine1
    FROM t_Bill b
    INNER JOIN t_Party p ON p.PKID = b.ConsumerNum
INNER JOIN t_BillDetail bd ON bd.BillNum = b.PKID
    LEFT JOIN t_Route rt ON rt.PKID = p.Route
    LEFT JOIN t_ConsumerAccount ca ON ca.ConsumerNum = b.ConsumerNum
    OUTER APPLY (
    SELECT TOP 1 *
    FROM t_BillMeterReading
    WHERE BillNum = b.PKID
    ORDER BY PKID
    ) AS bmr
    LEFT JOIN t_AllMaster amMeasure ON amMeasure.PKID = bd.EventCode
    LEFT JOIN t_AllMaster amAccountType ON amAccountType.PKID = p.AccountType
    OUTER APPLY (
    SELECT TOP 1 *
    FROM t_InstalledMeter
    WHERE MeterNum = bmr.MeterNum
    ORDER BY PKID
    ) AS im
    LEFT JOIN t_AllMaster amConsumerType ON amConsumerType.PKID = p.ConsumerType
    LEFT JOIN t_MeterDetail md ON md.PKID = bmr.MeterNum
    LEFT JOIN t_AllMaster amMeterMeasure ON amMeterMeasure.PKID = md.UOM
    LEFT JOIN t_AllMaster amTariff ON amTariff.PKID = p.TariffCode
    LEFT JOIN t_AllMaster amReading ON amReading.PKID = b.ReadingType
    LEFT JOIN t_AllMaster amSupplyBy ON amSupplyBy.PKID = rt.SupplyByAccountType
    LEFT JOIN t_AllMaster evntCode ON evntCode.PKID = bd.EventCode
    LEFT JOIN t_EventTypeGroupControl etgc ON etgc.PKID = b.EventTypeGroupID
    LEFT JOIN t_AllMaster amEventType ON amEventType.PKID = etgc.EventType
    LEFT JOIN t_AllMaster amSupplyType ON amSupplyType.PKID = p.SupplyType
    WHERE b.PKID =  @BillNum;
END
GO
