/****** Object:  StoredProcedure [dbo].[sp_RemoveObsoleteBatches]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RemoveObsoleteBatches](
    @list [NumberList] READONLY)
AS
BEGIN
    -- Just return the items we passed in
	INSERT INTO t_BatchwiseStock_Purge(
		[ItemID], [BatchNo], [Expiry], [MRP], [CostPrice], [SellingPrice],  [Type], [ShemeQty], [Scheme], [CompanyID], [BoughtQty], [SoldQty], [ServiceLocation], [PKID], [DamageQty], [NoStockQty], [RegionalStockistPrice], [SuperStockistPrice], [StockistPrice], [DistributorPrice], [SubDistributorPrice], [SuperRetailerPrice], [RetailerPrice], [ActualCostPrice], [FMCGRate], [SchemeRemark], [FMCGActualPrice], [CreateDate], [SaleReturnAreaQty]
		)
		SELECT ItemID, BatchNo, Expiry, MRP, CostPrice, SellingPrice,Type, ShemeQty, Scheme, CompanyID, BoughtQty,SoldQty,ServiceLocation, PKID,DamageQty, NoStockQty, RegionalStockistPrice, [SuperStockistPrice], [StockistPrice], [DistributorPrice], [SubDistributorPrice], [SuperRetailerPrice], [RetailerPrice], [ActualCostPrice], [FMCGRate], [SchemeRemark], [FMCGActualPrice], [CreateDate], [SaleReturnAreaQty]
		FROM t_BatchwiseStock
		WHERE PKID in (SELECT l.Item FROM @list l )

    Delete FROM t_Batchwisestock where PKID in (SELECT l.Item FROM @list l )
END
GO
