/****** Object:  StoredProcedure [dbo].[GetAllVerifierPurchase]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllVerifierPurchase]    
(    
@companyID BigInt,    
@pageSize int,    
@pageIndex int,    
@sortField nvarchar(max),    
@sortOrder nvarchar(max),    
@query nvarchar(max),    
@fromDate datetime,    
@toDate datetime,    
@ServiceLocation bigint    
    
)    
As    
    
    
    
declare @skipRows int = @pageIndex,    
        @takeRows int = @pageSize,    
        @count int = 0    
    
;WITH Orders_cte AS (    
    
select     
 it.PKID,    
 it.BillNo,    
 it.BillAmount,    
 it.TotalDiscount,    
 it.TaxTotal,    
 it.Miscellaneous,    
 it.TCS,    
 it.CessAmount,    
 it.Freight,    
 it.BillDate,    
 it.EnteredDate,    
 pt.Name as PartyCode,    
 inst.Name as InstateDisplay,    
 bt.Name as BillTypeDisplay,    
 it.Status as Status,    
 it.AnyReturn as AnyReturn,    
 it.AllReturn as AllReturn,    
 COALESCE(po.OrderNo,'') as  OrderNo,    
 it.GRN as GRN,    
 COALESCE(it.IsApproved, 'false') as IsApproved,    
 COALESCE(it.IsVerified, 'false') as IsVerified,    
    
 COALESCE(it.VerifiedBy, '-1') as VerifiedBy,    
 COALESCE(it.ApprovedBy, '-1') as ApprovedBy,    
 COALESCE(it.VerifiedDate, getdate()) as VerifiedDate,    
 COALESCE(it.ApprovedDate, getdate()) as ApprovedDate,    
    
 COALESCE(us.FirstName, 'N/A') as Verifier,    
 COALESCE(usr.FirstName, 'N/A') as Approver    
    
 from t_Purchase it     
 inner join t_Party pt on it.PartyID = pt.PKID    
 inner join t_InState inst on inst.PKID = it.InState    
 inner join t_BillType bt on bt.PKID = it.BillType    
 left join t_PurchaseOrder po on it.OrderNumber = po.PKID    
 left join t_User usr on it.ApprovedBy = usr.PKID    
 left join t_User us on it.VerifiedBy = us.PKID    
    
    
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
 where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or (it.GRN like @query ) or  (pt.Name like @query ) or ( po.OrderNo like @query )) and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it. BillDate as date)
 <= CAST(@toDate as date)     
     
)    
    
SELECT     
    PKID,    
 BillNo,    
 BillAmount,    
 TotalDiscount,    
 TaxTotal,    
 Miscellaneous,    
 BillDate,    
 EnteredDate,    
 PartyCode,    
 InstateDisplay,    
 tCountOrders.CountOrders AS TotalRows,    
 BillTypeDisplay,    
 Status,    
 AnyReturn,    
 AllReturn,    
 OrderNo,    
 GRN,    
 IsApproved,    
 IsVerified,    
 VerifiedBy,    
 ApprovedBy,    
 VerifiedDate,    
 ApprovedDate,    
 Verifier,    
 Approver,    
 TCS,    
 Freight,    
 CessAmount    
     
FROM Orders_cte    
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
ORDER BY PKID desc    
    
 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,    
 -- CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end asc,    
 -- case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,    
     
 -- case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,    
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,    
    
 -- CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,    
 -- case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,    
 -- case   WHEN @sortField='OrderNumberDisaply' and @sortOrder ='desc'  THEN OrderNo end desc    
      
      
    
OFFSET @skipRows ROWS    
FETCH NEXT @takeRows ROWS ONLY;
GO
