/****** Object:  StoredProcedure [dbo].[GetAllMaterialProduction]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllMaterialProduction]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint,
@mixType bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

		if( @mixType < 0)
		begin

;WITH Orders_cte AS (

select 
	it.PKID,
	it.BillNo,
	it.BillAmount,
	it.TotalDiscount,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	it.EnteredDate,
	it.Status as Status,
	mt.PKID as MixTypeID,
	mt.MixType as MixType
	
	from t_MaterialProduction it 
	inner join t_MaterialProductMixTYpe mt on it.ProductMixType = mt.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) ) and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
    PKID,
	BillNo,
	BillAmount,
	TotalDiscount,
	TaxTotal,
	Miscellaneous,
	BillDate,
	EnteredDate,
	
	tCountOrders.CountOrders AS TotalRows,
	Status,
	MixTypeID,
	MixType
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,
 -- CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end asc,
 -- case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,
 
 -- case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,

 -- CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,
 -- case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,
 -- case   WHEN @sortField='OrderNumberDisaply' and @sortOrder ='desc'  THEN OrderNo end desc
  
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
end
else
begin

;WITH Orders_cte AS (

select 
	it.PKID,
	it.BillNo,
	it.BillAmount,
	it.TotalDiscount,
	it.TaxTotal,
	it.Miscellaneous,
	it.BillDate,
	it.EnteredDate,
	it.Status as Status,
	mt.PKID as MixTypeID,
	mt.MixType as MixType
	
	from t_MaterialProduction it 
	inner join t_MaterialProductMixTYpe mt on it.ProductMixType = mt.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.ProductMixType = @mixType and  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) ) and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	
)

SELECT 
    PKID,
	BillNo,
	BillAmount,
	TotalDiscount,
	TaxTotal,
	Miscellaneous,
	BillDate,
	EnteredDate,
	
	tCountOrders.CountOrders AS TotalRows,
	Status,
	MixTypeID,
	MixType
	
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY PKID desc

 --CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN BillNo end desc,
 -- CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end asc,
 -- case   WHEN @sortField='EnteredDate' and @sortOrder ='asc'  THEN EnteredDate end asc,
 
 -- case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,
 -- --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,

 -- CASE WHEN @sortField='InstateDisplay' and @sortOrder ='desc' THEN InstateDisplay end desc,
 -- case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc,
 -- case   WHEN @sortField='OrderNumberDisaply' and @sortOrder ='desc'  THEN OrderNo end desc
  
  

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

end
GO
