/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemSleekForSaleOffline]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE procedure [dbo].[GetAllSearchableItemSleekForSaleOffline]                
(                
@companyID BigInt,                
@pageSize int,                
@pageIndex int,                
@query nvarchar(max),                
@location bigint,                
@includeZero bit,                
@isFullTextSearch bit                
                
)                
As                
                
                
select                 
 it.PKID,                
 it.PKID as ItemID,                
 it.Code as ItemCode,                
 it.Description as ItemDescription,                
 it.IsBatchwise as IsBatchwise,                
 tc.Percentage as Tax,                
 tc.PKID as TaxCategory,                
 it.AllowRateEdit as AllowRateEdit,                
 it.AllowLoyality as AllowLoyality,                
 ist.ClosingQty  as  ClosingQty,                
 ist.CostPrice  as  CostPrice,                
 ist.MRP  as  MRP,                
                 
 ist.OpeningQty as  OpeningQty,                
 ist.SellingPrice  as  SellingPrice,                
                 
 ic.Code as Company,                
                
 ist.ClosingQty as  InStockQty,                
                 
 ist.DamageQty  as  DamageQty,                
                
 ist.NoStockQty  as  NoStockQty,                
                
                 
 ist.RegionalStockistPrice  as  RegionalStockistPrice,                
                
                 
 ist.SuperStockistPrice  as  SuperStockistPrice,                
                
                 
 ist.StockistPrice  as  StockistPrice,                
                
                 
 ist.DistributorPrice  as  DistributorPrice,                
                
                 
 ist.SubDistributorPrice  as  SubDistributorPrice,                
                
                 
 ist.SuperRetailerPrice  as  SuperRetailerPrice,                
                
                 
 ist.RetailerPrice  as  RetailerPrice,                
                
 it.AllotmentPercentage as AllotmentPercentage,                
 It.ItemStatus as ItemStatus,                
 it.IsInclusiveOfTax as IsInclusiveOfTax,                
 ist.FMCGRate as FMCGRate,                
 it.Barcode as Barcode ,              
 ic.ZeroDiscount ,            
 it.CessPercentage,          
 it.Units,          
 uom.Code,      
 ist.SaleReturnAreaQty as  SaleReturnAreaQty ,    
 ic.PKID as ItemCompanyID,  
 COALESCE(uom2.PKID, -1) as UOM2ID,  
 COALESCE(uom2.Code, '') as UOM2Code,
 tc.Name as TaxDescription
   
                 
 from t_Item it             
 inner join t_UOM uom on it.UOMId = uom.PKID                  
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID                
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location                
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID                
 left join t_UOM uom2 on it.UOM2 = uom2.PKID       
 where it.ShouldShowInSaleBill = 1 and it.IsActive = 1 and it.CompanyID = @companyID
GO
