/****** Object:  StoredProcedure [dbo].[GET_NEXT_PAYMENT_STUB_HEADER]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_PAYMENT_STUB_HEADER]
AS
		BEGIN
			DECLARE @NewSeqVal BIGINT;
			UPDATE [dbo].[t_Seq_PaymentStubHeader]
			SET
				@NewSeqVal = CurrVal = CurrVal + Incr;
			SELECT @NewSeqVal;
		END;
GO
