/****** Object:  StoredProcedure [dbo].[GetAllQuestionCampaign]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllQuestionCampaign]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.Code,
	it.QuestionType,
	it.IsActive
	
	from t_FeedbackQuetsionCampaign it
	
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.Code like @query )  or  (it.QuestionType like @query ))
	
)

SELECT 
    PKID,
	Code,
	IsActive,
	QuestionType,
	
	tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Code end desc,
  CASE WHEN @sortField='Name' and @sortOrder ='asc' THEN QuestionType end asc,
  
 
  case   WHEN @sortField='Code' and @sortOrder ='asc'  THEN Code end asc
	

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
