/****** Object:  StoredProcedure [dbo].[GET_NEXT_Zone_Block_Route_REF]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





Create PROCEDURE [dbo].[GET_NEXT_Zone_Block_Route_REF]
(@serviceLocation bigint,
@zone bigint,
@block bigint
)
AS
     BEGIN
	     DECLARE @AnyRecord bigint
		 DECLARE @NewSeqVal BIGINT;
	     select  @AnyRecord  = count(*) from  [dbo].[t_Seq_Zone_Block_Route] where ServiceLocation = @serviceLocation and [zone] = @zone and [block] = @block
		
		 if( @AnyRecord > 0)
			 begin
				 
				 UPDATE [dbo].[t_Seq_Zone_Block_Route]
				   SET
					   @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation and [zone] = @zone and [block] = @block
				 SELECT  @NewSeqVal;
			 end
		 else
			begin
			insert into [dbo].[t_Seq_Zone_Block_Route]( Seed, Incr, Currval, ServiceLocation, zone, block) values( 1, 1, 0, @serviceLocation, @zone, @block)
			
				 UPDATE [dbo].[t_Seq_Zone_Block_Route]
				   SET
					   @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation and [zone] = @zone and [block] = @block
				 SELECT @NewSeqVal;
			end
     END;
GO
