/****** Object:  StoredProcedure [dbo].[GetAllPartyCheckUpDetail]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create procedure [dbo].[GetAllPartyCheckUpDetail]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@department bigint,
@servicelocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	pc.PKID,
	pc.PartyID,
	pc.CheckUpID,
	pc.CheckUpDate,

	p.Name,
	rc.Description,
	dp.Name as DepartmentDisplay,
	pc.NextVisitDueDate

	from t_PartyCheckup pc
	inner join t_Party p on pc.PartyID = p.PKID
	inner join t_RegularCheckup rc on pc.CheckUpID = rc.pkid
	inner join t_Department dp on p.DepartmentID = dp.PKID
	
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where dp.ServiceLocation = @servicelocation and dp.PKID = @department and pc.CompanyID = @companyID and rc.Description like @query 
	
)

SELECT 
    PKID,
	PartyID,
	CheckUpID,
	CheckUpDate,
	Name,
	Description,
	DepartmentDisplay,
	NextVisitDueDate,
	tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Description end desc,
 CASE WHEN @sortField='Description' and @sortOrder ='asc' THEN Description end asc,
 CASE WHEN @sortField='DepartmentDisplay' and @sortOrder ='asc' THEN DepartmentDisplay end asc

  
 
	

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
