/****** Object:  StoredProcedure [dbo].[GET_ALL_ADJUSTMENT_REQUESTS]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GET_ALL_ADJUSTMENT_REQUESTS]
    @PageIndex INT = 1,
    @PageSize INT = 10,
    --@SortField NVARCHAR(50),
    --@SortDirection NVARCHAR(4),
    @Query NVARCHAR(100) = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @ServiceLocation BIGINT = NULL,
    @AdjReason BIGINT = NULL,
    @AdjType BIGINT = NULL,
    @CreatedBy BIGINT = NULL,
    @ApprovedBy BIGINT = NULL,
    --@UserID BIGINT = NULL,
    @TotalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @FromDate IS NULL SET @FromDate = '1900-01-01';
    IF @ToDate IS NULL SET @ToDate = '9999-12-31';

    ;WITH Filtered AS (
        SELECT
            ar.PKID,
            CAST(ar.ConsumerNum AS VARCHAR) AS DebitConsumerNum,
            ar.TransferInd,
            CAST(ar.AdjGroupNum AS BIGINT) AS AdjGroupNum,
            CAST(ar.AdjAmount AS DECIMAL(18, 2)) AS AdjAmount,
            CAST(ar.AdjTaxAmount AS DECIMAL(18, 2)) AS AdjTaxAmount,
            ar.AdjRequestStatus,
            am_AdjustmentStatus.Name AS AdjRequestStatusDisplay,
            ar.RefTaxInvoiceNum,
            ar.BillIssueInd,
            ar.BillNum,
            ar.IsActive,
            ar.CreatedDate,
            ar.CreatedBy,
            ISNULL(tu_CreatedBy.FirstName, 'N/A') AS CreatedByDisplay,
            ar.ApprovedDate,
            ar.ApprovedBy,
            ISNULL(tu_ApprovedBy.FirstName, 'N/A') AS ApprovedByDisplay,
            ar.LastUpdateDate,
            ar.LastUpdateUserId,
            tp.Name AS ConsumerName,
            am_NoteType.Code AS NoteType,
            ar.AdjustmentReason,
            ISNULL(am_AdjReason.Description, 'N/A') AS AdjReasonDisplay,
            ar.EventTypeGroupId AS AdjType,
            ISNULL(am_AdjType.Description, 'N/A') AS AdjTypeDisplay,
			tp.Address1 As Address1
        FROM t_AdjustmentRequest ar
        LEFT JOIN t_Party tp ON ar.ConsumerNum = tp.PKID
        LEFT JOIN t_User tu_CreatedBy ON ar.CreatedBy = tu_CreatedBy.PKID
        LEFT JOIN t_User tu_ApprovedBy ON ar.ApprovedBy = tu_ApprovedBy.PKID
        LEFT JOIN t_EventTypeGroupControl etgc ON ar.EventTypeGroupId = etgc.PKID
        LEFT JOIN t_AllMaster am_NoteType ON etgc.EventType = am_NoteType.PKID
        LEFT JOIN t_AllMaster am_AdjReason ON ar.AdjustmentReason = am_AdjReason.PKID
        LEFT JOIN t_AllMaster am_AdjType ON etgc.EventType = am_AdjType.PKID
        LEFT JOIN t_AllMaster am_AdjustmentStatus ON ar.AdjRequestStatus = am_AdjustmentStatus.PKID
        WHERE
            ar.IsActive = 1
            --AND (@UserID IS NULL OR ar.CreatedBy = @UserID)
            AND ar.CreatedDate BETWEEN @FromDate AND @ToDate
            AND (@AdjReason IS NULL OR ar.AdjustmentReason = @AdjReason)
            AND (@AdjType IS NULL OR ar.EventTypeGroupId = @AdjType)
            AND (@CreatedBy IS NULL OR ar.CreatedBy = @CreatedBy)
            AND (@ApprovedBy IS NULL OR ar.ApprovedBy = @ApprovedBy)
			AND (@ServiceLocation IS NULL OR ar.ServiceLocation = @ServiceLocation)
			AND (
				@Query = '%%' OR
				CAST(ar.TransferInd AS NVARCHAR) LIKE @Query OR  
				CONVERT(NVARCHAR, ar.CreatedDate, 103) LIKE @Query OR  
				CAST(ar.ConsumerNum AS NVARCHAR) LIKE @Query OR    
				tp.Name LIKE @Query OR                             
				ISNULL(am_AdjReason.Description, '') LIKE @Query OR  
				ISNULL(am_AdjType.Description, '') LIKE @Query OR    
				CAST(ar.AdjAmount AS NVARCHAR) LIKE @Query OR       
				CAST(ar.AdjTaxAmount AS NVARCHAR) LIKE @Query OR    
				ISNULL(am_AdjustmentStatus.Name, '') LIKE @Query OR 
				ISNULL(tu_CreatedBy.FirstName, '') LIKE @Query OR  
				ISNULL(tu_ApprovedBy.FirstName, '') LIKE @Query OR  
				CONVERT(NVARCHAR, ar.ApprovedDate, 103) LIKE @Query  
			)
    ),
    Numbered AS (
        SELECT *,
            ROW_NUMBER() OVER (ORDER BY CreatedDate DESC) AS RowNum
        FROM Filtered
    )

    -- Return paginated rows
    SELECT *
    FROM Numbered
    WHERE RowNum BETWEEN ((@PageIndex - 1) * @PageSize + 1) AND (@PageIndex * @PageSize);

    -- Get total count by repeating the filtering logic (same as Filtered CTE)
    SELECT @TotalCount = COUNT(*)
    FROM t_AdjustmentRequest ar
    WHERE
        ar.IsActive = 1
        --AND (@UserID IS NULL OR ar.CreatedBy = @UserID)
        AND ar.CreatedDate BETWEEN @FromDate AND @ToDate
        AND (@AdjReason IS NULL OR ar.AdjustmentReason = @AdjReason)
        AND (@AdjType IS NULL OR ar.EventTypeGroupId = @AdjType)
        AND (@CreatedBy IS NULL OR ar.CreatedBy = @CreatedBy)
        AND (@ApprovedBy IS NULL OR ar.ApprovedBy = @ApprovedBy);
END
GO
