/****** Object:  StoredProcedure [dbo].[GetAllColor]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create procedure [dbo].[GetAllColor]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime


)
As







select 
	   it.[PKID] as ID
      ,it.[Code] as Code
      ,it.Color as Name
      ,it.[IsActive] as IsActive,
	  bd.Brand as Brand,
	  bd.PKID as BrandID,
	  ml.Model as Model,
	  ml.PKID as ModelID,
	  mv.Variant as Variant,
	  mv.PKID as VariantID

	from t_ModelColor it
    inner join t_ModelVariant mv on it.VariantID = mv.PKID
	inner join t_Model ml on it.ModelID = ml.PKID
	inner join t_Brand bd on it.BrandID = bd.PKID
	where it.CompanyID = @companyID
GO
