/****** Object:  StoredProcedure [dbo].[sp_RemoveObsoleteVendors]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RemoveObsoleteVendors](      
    @list [NumberList] READONLY)      
AS      
BEGIN      
  
delete from t_PartyClearanceHistory where PartyID in (SELECT l.Item FROM @list l)      
  
delete from t_StudentDocument where PartyID in (SELECT l.Item FROM @list l)      
      
delete from t_StudentAdditionalDetail where PartyID in (SELECT l.Item FROM @list l)      
      
delete from t_StudentCourseDetail where PartyID in (SELECT l.Item FROM @list l)      
      
delete from t_StudentMemberDetail where PartyID in (SELECT l.Item FROM @list l)      
      
delete from t_SupplierCompany where PartyID in (SELECT l.Item FROM @list l)      
delete from t_UserReminder where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyHistory where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyAction where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyCheckup where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyContact where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyFollowUp where PartyID in (SELECT l.Item FROM @list l)      
      
delete from t_PartyIndustrySegmentDetail where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyItemDiscount where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyPaymentMode where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyProspectHistory where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyVehicle where PartyID in (SELECT l.Item FROM @list l)      
      
delete from t_PartyDocumentDetail where PartyID in (SELECT l.Item FROM @list l)      
delete from t_Party_Area where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PartyContact where PartyID in (SELECT l.Item FROM @list l)      
delete from t_NoShow where PartyID in (SELECT l.Item FROM @list l)      
delete from t_RestrictStudentExamCenter where StudentID in (SELECT l.Item FROM @list l)      
      
delete from t_SaleCreditNote where SalesID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))            
delete from t_PendingNote where PartyID in (SELECT l.Item FROM @list l)      
    
delete from t_SanitaryNapkin where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PendingSale where Party in (SELECT l.Item FROM @list l)      
      
      
delete from t_PatientAllergyDetail where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PatientCovidDetail where PartyID in (SELECT l.Item FROM @list l)      
delete from t_PatronPet where PartyID in (SELECT l.Item FROM @list l)      
      
      
delete from t_EntryDetail where EntryID in ( select PKID from t_Entry where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_Entry where PartyID in ( SELECT l.Item FROM @list l)      
      
delete from t_VoucherDetail where VoucherID in ( select PKID from t_Voucher where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_VoucherCreditNote where VoucherID in ( select PKID from t_Voucher where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_Voucher where PartyID in ( SELECT l.Item FROM @list l)      
      
delete from t_SaleReturnOrderDetail where SaleReturnOrderID in ( select PKID from t_SaleReturnOrder where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleReturnOrder where PartyID in ( SELECT l.Item FROM @list l)      
      
      
delete from t_SaleReturnDetail where SaleReturnID in ( select PKID from t_SaleReturn where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleReturn where PartyID in ( SELECT l.Item FROM @list l)      

delete from t_SaleCreditNote where SalesID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
      
delete from t_PaymentDetail where PaymentID in ( select PKID from t_Payment where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_Payment where PartyID in ( SELECT l.Item FROM @list l)      
      
      
delete from t_PurchaseDetail where PurchaseID in ( select PKID from t_Purchase where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SupplierStatistics where SupplierID in ( SELECT l.Item FROM @list l)      
      
delete from t_Purchase where PartyID in ( SELECT l.Item FROM @list l)      
      
delete from t_PurchaseReturnDetail where PurchaseReturnID in ( select PKID from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l))      
      
delete from t_ClaimDocumentDetail where ClaimID in (select PKID from t_Claim where PurchaseReturnID in ( select PKID from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l)))      
delete from t_Claim where PurchaseReturnID in ( select PKID from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l))      
      
      
delete from t_MaterialIssueDetail Where MaterialissueID in (select PKID from t_MaterialIssue where PurchaseReturnID in ( select PKID from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l)))      
delete from t_MaterialReceiveDetail where MaterialIssueID in (select PKID from t_MaterialIssue where PurchaseReturnID in ( select PKID from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l)))      
delete from t_MaterialIssue where PurchaseReturnID in ( select PKID from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PurchaseReturn where PartyID in ( SELECT l.Item FROM @list l)      
    
update t_ItemwiseStock set PurchaseOrder = null where PurchaseOrder in     
(    
select PKID from t_PurchaseOrder where SupplierID in ( SELECT l.Item FROM @list l)    
)    
    
delete from t_PurchaseOrderDetail where PurchaseOrderID in ( select PKID from t_PurchaseOrder where SupplierID in ( SELECT l.Item FROM @list l))      
delete from t_PurchaseOrder where SupplierID in ( SELECT l.Item FROM @list l)      
      
      
delete from t_SaleOrderDetail where SaleOrderID in ( select PKID from t_SaleOrder where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleOrderPaymentDetail where SaleOrderID in ( select PKID from t_SaleOrder where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleOrderPO where OrderID in ( select PKID from t_SaleOrder where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleOrderImageDetail where SaleOrderID in ( select PKID from t_SaleOrder where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleOrder where PartyID in ( SELECT l.Item FROM @list l)      
      
      
delete from t_ReceiptDetail where ReceiptID in ( select PKID from t_Receipt where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_ReceiptBounceChequeDetail where ReceiptID in ( select PKID from t_Receipt where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_ReceiptOnlinePaymentDetail where ReceiptID in ( select PKID from t_Receipt where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PaymentTracking where ReceiptID in ( select PKID from t_Receipt where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_Receipt where PartyID in ( SELECT l.Item FROM @list l)      
      
delete from t_SaleDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
    
delete from t_SaleRecommendationDetail where     
SaleID in ( Select PKID from t_SaleRecommendation where PartyID in (SELECT l.Item FROM @list l)  )    
delete from t_SaleRecommendation where PartyID in (SELECT l.Item FROM @list l)      
    
    
    
delete from t_SaleReturnSaleBill where SaleBillID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleHistory where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleCreditNote where SalesID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_SaleBillPaymentDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientVisitReason where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientVisitDocumentDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientVisitDiagnosis where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientVisitDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientRestDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientCovidDocumentDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientCertificateDocumentDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
delete from t_PatientCertificateDetail where PartyID in ( SELECT l.Item FROM @list l)      
delete from t_DoctorOpinionDetail where SaleID in ( select PKID from t_Sale where PartyID in ( SELECT l.Item FROM @list l))      
      
delete from t_Sale where PartyID in ( SELECT l.Item FROM @list l)      
      
update t_Party set OwnedBy = null where OwnedBy in ( select PKID from t_Party where PKID in (SELECT l.Item FROM @list l))      
      
INSERT INTO t_Party_Purge       
  SELECT *      
  FROM t_Party      
  WHERE PKID in (SELECT l.Item FROM @list l )      
      
      
delete from t_Party where PKID in (SELECT l.Item FROM @list l)      
      
      
END
GO
