/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemDetailForTransferOrderWithoutCompany]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[GetAllSearchableItemDetailForTransferOrderWithoutCompany]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@query nvarchar(max),
@serviceLocation bigint,
@SupplierLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (


select 
	it.PKID,
	
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	st.CostPrice as CostPrice,
	st.SellingPrice as SellingPrice,
	st.MRP as MRP,
	ic.Code as ItemCompanyDisplay,
	st.ClosingQty as ClosingQty,
	st.OpeningQty as OpeningQty,
	COALESCE(st.NoStockQty, '0') as NoStockQty,
	COALESCE(st.DamageQty, '0') as DamageQty
	from t_Item it inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	inner join t_ItemwiseStock st on it.PKID = st.ItemId
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID
	where st.ServiceLocation = @SupplierLocation  and it.IsActive = 1  and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	
)

SELECT 
    PKID,
	ItemID,
	ItemCode,
	ItemDescription,
	IsBatchwise,
	Tax,
	TaxCategory,
	CostPrice,
	SellingPrice,
	MRP,
	ItemCompanyDisplay,
	ClosingQty,
	OpeningQty,NoStockQty,
	DamageQty,
    tCountOrders.CountOrders AS TotalRows
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY ItemCode asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
