/****** Object:  StoredProcedure [dbo].[sp_GetCylinderBillingReport]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetCylinderBillingReport]
(
    @BillNum BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ConsumerNum BIGINT;

    SELECT 
        @ConsumerNum = ConsumerNum
    FROM t_CylinderBillRequest
    WHERE PKID = @BillNum;

    DECLARE @AccountName NVARCHAR(200);

    SELECT @AccountName = Code
    FROM t_Party
    WHERE PKID = @ConsumerNum;


    ;WITH DOItems AS
    (
        SELECT 
            d.PKID AS TransNo,
            d.CylDODate,
            d.UnitCount,
            d.UnitPrice,
            d.TotalPrice,
            d.GSTAmount,
            d.GSTRate,
            d.DOReferenceNum,
            d.DODocumentName,
            d.Remarks,
            d.CylTariffID,
            d.GasSupplierID,
            d.DOStatus
        FROM t_CylinderDeliveryOrder d
        WHERE d.BillNum = @BillNum
    ),

    Tariff AS
    (
        SELECT 
            PKID,
            TariffCode + '-' + TariffDesc AS CylinderType
        FROM t_CylTariffControl
    ),

    Supplier AS
    (
        SELECT PKID, SupplierCode
        FROM t_GasSupplier
    ),
    SupplierConv AS
    (
        SELECT c1.*
        FROM t_GasSupplierConv c1
        INNER JOIN (
            SELECT SupplierID, MAX(EffectiveDate) AS MaxDate
            FROM t_GasSupplierConv
            GROUP BY SupplierID
        ) c2
        ON c1.SupplierID = c2.SupplierID AND c1.EffectiveDate = c2.MaxDate
    ),

    DOStatusLookup AS
    (
        SELECT PKID, Description
        FROM t_AllMaster
    )

    SELECT 
        @BillNum AS BillNumber,
        @ConsumerNum AS AccountNumber,
        @AccountName AS AccountName,

        di.CylDODate AS DODate,
        di.TransNo,
        di.UnitCount AS Quantity,
        di.UnitPrice AS Price,
        di.TotalPrice,
        di.Remarks AS Description,
        di.GSTAmount AS TaxAmount,
        di.GSTRate AS TaxRate,
        di.DOReferenceNum AS RefNo,
        di.DODocumentName AS DocumentName,

        t.CylinderType,
        s.SupplierCode,
        sc.EffectiveDate AS EffDate,
        sc.SupplierConv AS Conversion,
        ds.Description AS DOStatus
    FROM DOItems di
    LEFT JOIN Tariff t ON di.CylTariffID = t.PKID
    LEFT JOIN Supplier s ON di.GasSupplierID = s.PKID
    LEFT JOIN SupplierConv sc ON di.GasSupplierID = sc.SupplierID
    LEFT JOIN DOStatusLookup ds ON di.DOStatus = ds.PKID
    ORDER BY di.TransNo;

END
GO
