/****** Object:  StoredProcedure [dbo].[GetAllSalesReturnReport]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE procedure [dbo].[GetAllSalesReturnReport]      
(      
@companyID BigInt,      
@pageSize int,      
@pageIndex int,      
@sortField nvarchar(max),      
@sortOrder nvarchar(max),      
@query nvarchar(max),      
@fromDate datetime,      
@toDate datetime,      
@ServiceLocation bigint,      
@status bigint      
      
)      
As      
      
declare @skipRows int = @pageIndex,      
        @takeRows int = @pageSize,      
        @count int = 0      
      
      
if @status < 0      
begin      
      
      
select       
 it.PKID,      
 it.ReturnBillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
       
 pt.GST as GSTIN,      
 pt.Name as PartyCode,      
       
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 1 as AnyReturn,      
 1 as AllReturn,      
 pt.PKID as PartyID,    
 it.InState,  
 it.Freight,  
 it.FreightGSTPercentage,
 AckNo as AckNo,
 AckDate as AckDate,
 IRN as IRN
       
 from t_SaleReturn it       
 inner join t_Party pt on it.PartyID = pt.PKID      
       
 inner join t_BillType bt on bt.PKID = it.BillType      
       
      
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)       
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)      
       
      
      
END      
ELSE      
Begin      
      
      
      
select       
 it.PKID,      
 it.ReturnBillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
       
 pt.GST as GSTIN,      
 pt.Name as PartyCode,      
       
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 1 as AnyReturn,      
 1 as AllReturn,      
 pt.PKID as PartyID ,    
 it.InState ,  
 it.Freight,  
 it.FreightGSTPercentage  ,
 AckNo as AckNo,
 AckDate as AckDate,
 IRN as IRN
      
 from t_SaleReturn it       
 inner join t_Party pt on it.PartyID = pt.PKID      
       
 inner join t_BillType bt on bt.PKID = it.BillType      
       
      
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)       
 where it.CompanyID = @companyID and it.Status = @status and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)       
      
END
GO
