/****** Object:  StoredProcedure [dbo].[GetAllTransferIns]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [dbo].[GetAllTransferIns]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@location bigint,
@inLocation bigint

)
As



select 
	  it.[PKID] as ID
      ,it.[RefNo] as InRefNo,
	  pg.[TransferOutRefNo] as OutRefNo
      ,it.ServiceLocation as Source,
	  pg.TransferOutDate as TransferOutDate,
	   pg.TransferInDate as TransferInDate,
	  it.BillAmount as BillAmount,
	  it.Miscellaneous as Miscellaneous,
	  pg.TransferInLocation as Destination,
	  pg.TransferInID as TransferInID,
	  sr.Name as SourceDisplay,
	  dt.Name as DestinationDisplay,
      COALESCE(tord.OrderNo, '') as OrderNo,
	  totype.OutType as TypeOfTransferOut,
      COALESCE(recOut.RefNo, '') as ReconcillationTransferOutRefNo
		
    from t_Transfer pg 
	inner join t_TransferIn it  on it.PKID = pg.TransferInID
	inner join t_ServiceLocation sr on pg.TransferOutLocation = sr.PKID
	inner join t_ServiceLocation dt on pg.TransferInLocation = dt.PKID
	left join t_TransferOut tot on pg.TransferOutID = tot.PKID
	inner join t_TransferOutType totype on tot.TransferType = totype.PKID
	left join t_TransferOrder tord on tot.OrderNumber = tord.PKID

	left join t_TransferOut recOut on tot.TransferOutRefNo = recOut.PKID
	

	--where it.CompanyID = @companyID and it.ServiceLocation = @location and it.IsActive = 1  and CAST(it.ModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.ModifiedDate as date) <= CAST(@toDate as date)   and ( (it.Code like @query )  or  (it.Name like @query ))
	where it.CompanyID = @companyID and pg.TransferOutLocation = @location and pg.TransferInLocation = @inLocation  
	and CAST(pg.TransferInDate as date) >= CAST(@fromDate as date)  and  CAST(pg.TransferInDate as date) <= CAST(@toDate as date)
GO
