/****** Object:  StoredProcedure [dbo].[GetAllCovidDetail]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create procedure [dbo].[GetAllCovidDetail]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@ServiceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	p.Name,
	it.RecordDate,
	it.ReportBackToWork,
	it.SRFID,
	it.IsActive
	
	from t_PatientCovidDetail it
	inner join t_Party p on it.PartyID = p.PKID
	

	--and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date) 
	where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (p.Name like @query ) or (p.Code like @query )  or  (it.SRFID like @query ))
	
)

SELECT 
    PKID,
	Name,
	RecordDate,
	ReportBackToWork,
	SRFID,
	IsActive,
	tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Name end desc,
  CASE WHEN @sortField='Name' and @sortOrder ='asc' THEN Name end asc,
  
 
  case   WHEN @sortField='SRFID' and @sortOrder ='asc'  THEN SRFID end asc
	

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
