/****** Object:  StoredProcedure [dbo].[GET_NEXT_MATE_ISSUE_REF]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GET_NEXT_MATE_ISSUE_REF]
(@serviceLocation bigint)
AS
     BEGIN

		 declare @count bigint
		 select @count = count(*) from t_Seq_MatissueRef where ServiceLocation = @serviceLocation
		 if  @count = 0 
		 begin

		  insert into t_Seq_MatissueRef(Seed, Incr, Currval, ServiceLocation)
		  values(1, 1,0, @serviceLocation)

		 end

         DECLARE @NewSeqVal BIGINT;
         UPDATE [dbo].[t_Seq_MatissueRef]
           SET
               @NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation
         SELECT @NewSeqVal;
     END;
GO
