/****** Object:  StoredProcedure [dbo].[spBootStartInventory]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spBootStartInventory]
(
@companyName nvarchar(100),
@address1 nvarchar(100),
@primarycontactname nvarchar(100),
@primarycontactphone nvarchar(100),
@domain nvarchar(100),
@userName nvarchar(100),
@firstname nvarchar(100),
@lastname nvarchar(100),
@password nvarchar(100),
@location nvarchar(100),
@xmlreader nvarchar(100),
@importformat nvarchar(100)
)
As

BEGIN TRY

   -- BEGIN TRAN

--insert to company

insert into t_Company(CompanyName, Address1, PrimaryContactName, PrimaryContactPhone, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyKey, Domain
)values(@companyName, @address1,@primarycontactname, @primarycontactphone, getdate(), getdate(), 1, 1, 1, NEWID(),@domain)

declare @company bigint

select @company = pkid from t_Company where Domain = @domain

--insert to user

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_User]
 UPDATE [t_Seq_User] SET [current] = @NextNumber

 Select @NextNumber

insert into t_User(PKID, UserName, [Password], CreateDate, ModifiedDate, CreateBy, Modifiedby, IsActive, CompanyID, FirstName, LastName, RequiredDayStockEmail)
values(@NextNumber, @userName, @password, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1, @company, @firstname, @lastname, 1)

--insert to the service location type

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Show Room', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Workshop', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Warehouse', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Manufacturer', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Customer', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Display', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

insert into t_ServiceLocationType(LocationType, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
'Virtual', @company, GETDATE(), GETDATE(),@NextNumber, @NextNumber, 1 )

-- insert to role

insert into t_Role([Role], CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID)
values('MD', GETDATE(), GETDATE(), @NextNumber,@NextNumber,1, @company)

--insert to user role

declare @role bigint

select @role = pkid from t_Role where CompanyID = @company and [Role] = 'MD'

 declare @NextUserRoleNumber bigint
 
 SELECT @NextUserRoleNumber=[current] + 1 FROM [t_Seq_UserRole]
 UPDATE [t_Seq_UserRole] SET [current] = @NextUserRoleNumber

 Select @NextUserRoleNumber

insert into t_UserRole(PKID, UserID, RoleID, CreateDate, ModifiedDate, CreateBy, ModifiedBy) values(@NextUserRoleNumber,@NextNumber, @role, getdate(), GETDATE(), @NextNumber, @NextNumber)

declare @workshop bigint

select @workshop = pkid from t_ServiceLocationType where CompanyID = @company and LocationType = 'Workshop'

-- service location

insert into t_ServiceLocation(Name, LocationTypeID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, InCharge, Code) values(
@location, @workshop, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber, 1, @NextNumber, @location)

--Company settings

insert into t_CompanySetting(CompanyID, Setting, Defaults, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@company, '1', '3', GETDATE(), GETDATE(),@NextNumber,@NextNumber,1 )
insert into t_CompanySetting(CompanyID, Setting, Defaults, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
@company, '2', 'India Standard Time', GETDATE(), GETDATE(),@NextNumber,@NextNumber,1 )

-- create feature

declare @NextFeatureNumber bigint
 
 SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
 UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber

 Select @NextFeatureNumber

insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Dashboard', 'Administration', 'dashboard', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-dashboard', 1)

--role permission ( @role)

 declare @NextRolePermissionNumber bigint
 
 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)


SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Category', 'Category', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-th', 2)


--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Register', 'Administration', 'Register', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-users', 3)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Users', 'Administration', 'Users', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-users', 4)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Sub Category', 'SubCategory', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-clock-o', 5)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Item', 'Item', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-bell-o', 6)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Customer', 'Customer', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-bell-o', 7)


--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)


SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Vendor', 'Vendor', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-exchange', 8)
--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Purchase', 'Purchase', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-motorcycle', 9)
--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Sales', 'Sales', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-bell-o', 10)
--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'UOM', 'UOM', 'index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-bell-o', 11)
--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Invoice Settings', 'Sales', 'InvoiceSettings', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-barcode', 12)
--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)


 
SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Opening Stock', 'Item', 'OpeningStock', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-motorcycle', 13)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)



 SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Stock Adjustment', 'Item', 'StockAdjustment', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-motorcycle', 13)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)






 SELECT @NextFeatureNumber=[current] + 1 FROM [t_Seq_Feature]
UPDATE [t_Seq_Feature] SET [current] = @NextFeatureNumber
Select @NextFeatureNumber


insert into t_Feature(PKID, Feature, Controller, Action, CreateDate, ModifiedDate, CompanyID, CreateBy, ModifiedBy, IsActive, CssClass, MenuOrder)values(
@NextFeatureNumber, 'Labour', 'Labour', 'Index', GETDATE(), GETDATE(), @company, @NextNumber, @NextNumber, 1, 'fa fa-motorcycle', 13)

--role permission ( @role)

 SELECT @NextRolePermissionNumber=[current] + 1 FROM [t_Seq_RolePermission]
 UPDATE [t_Seq_RolePermission] SET [current] = @NextRolePermissionNumber

 Select @NextRolePermissionNumber

 insert into t_RolePermission(PKID, RoleID, FeatureID, IsActive, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy)values(
 @NextRolePermissionNumber, @role, @NextFeatureNumber, 1, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber)





 insert into t_XmlPlugIns(XMLReader, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive, CompanyID, ImportFormat)
 values( @xmlreader, getdate(), getdate(), @NextNumber, @NextNumber, 1, @company, @importformat)


  declare @NextUserServiceLocationNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_UserServiceLocation]
 UPDATE [t_Seq_UserServiceLocation] SET [current] = @NextUserServiceLocationNumber

 Select @NextUserServiceLocationNumber

 insert into t_UserServiceLocation(PKID, UserID, ServiceLocationID, CompanyID, CreateDate, ModifiedDate, CreateBy, ModifiedBy, IsActive) values(
 @NextUserServiceLocationNumber, @NextNumber, @location, @company, GETDATE(), GETDATE(), @NextNumber, @NextNumber,1)
 

 --INSERT INTO t_Seq_Booking([Seed],[Incr],[Currval], [CompanyID]) VALUES(1,1,0, @company)


 END TRY
 BEGIN CATCH
    /*************************************
    *  Get the Error Message for @@Error
    *************************************/
   -- IF @@TRANCOUNT > 0 ROLLBACK

END CATCH
GO
