/****** Object:  StoredProcedure [dbo].[GET_NEXT_DISPOSAL_REF]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[GET_NEXT_DISPOSAL_REF]  
(@serviceLocation bigint)  
AS  
     BEGIN  
		DECLARE @AnyRecord bigint  
		DECLARE @NewSeqVal BIGINT;  
		select  @AnyRecord  = count(*) from  [dbo].[t_Seq_Disposal_Ref] where ServiceLocation = @serviceLocation  
    
		if( @AnyRecord > 0)  
			begin  
				UPDATE [dbo].[t_Seq_Disposal_Ref]  
				SET  
				@NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation  
				SELECT  @NewSeqVal;  
			end  
		else  
			begin  
				insert into [dbo].[t_Seq_Disposal_Ref]( Seed, Incr, Currval, ServiceLocation) values( 1, 1, 0, @serviceLocation)  
				UPDATE [dbo].[t_Seq_Disposal_Ref]  
				SET  
				@NewSeqVal = CurrVal = CurrVal + Incr where ServiceLocation = @serviceLocation  
				SELECT @NewSeqVal;  
			end  
    END;
GO
