/****** Object:  StoredProcedure [dbo].[GetAllModel]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[GetAllModel]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@sortField nvarchar(max),
@sortOrder nvarchar(max),
@query nvarchar(max),
@fromDate datetime,
@toDate datetime,
@brandID bigint

)
As

declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

if ( @brandID > 0 )
begin



;WITH Orders_cte AS (

select 
	   it.[PKID] as ID
      ,it.[Code] as Code
      ,it.Model as Name
      ,it.[IsActive] as IsActive,
	  bd.Brand as Brand,
	  bd.PKID as BrandID
    from t_Model it 
	inner join t_Brand bd on it.BrandID = bd.PKID
	where it.CompanyID = @companyID  and it.BrandID = @brandID and ( (it.Code like @query )  or  (it.Model like @query ) or (bd.Brand like @query ))
	
)

SELECT 
    ID,
	Code,
	Name,
	IsActive,
	Brand,
	BrandID,
    tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Code end desc,
  CASE WHEN @sortField='Code' and @sortOrder ='asc' THEN Code end asc,
  case   WHEN @sortField='Name' and @sortOrder ='asc'  THEN Name end asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

end

else
begin



;WITH Orders_cte AS (

select 
	   it.[PKID] as ID
      ,it.[Code] as Code
      ,it.Model as Name
      ,it.[IsActive] as IsActive,
	  bd.Brand as Brand,
	  bd.PKID as BrandID
    from t_Model it 
	inner join t_Brand bd on it.BrandID = bd.PKID
	where it.CompanyID = @companyID  and ( (it.Code like @query )  or  (it.Model like @query ) or (bd.Brand like @query ))
	
)

SELECT 
    ID,
	Code,
	Name,
	IsActive,
	Brand,
	BrandID,
    tCountOrders.CountOrders AS TotalRows
	
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY 

 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN Code end desc,
  CASE WHEN @sortField='Code' and @sortOrder ='asc' THEN Code end asc,
  case   WHEN @sortField='Name' and @sortOrder ='asc'  THEN Name end asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;

end
GO
