/****** Object:  StoredProcedure [dbo].[GetAllPurchaseReportItemwise]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE procedure [dbo].[GetAllPurchaseReportItemwise]  
(  
@companyID BigInt,  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@ItemID bigint  
  
)  
As  
  
  
  
if( @ItemID > 0 )  
begin  
  
select   
 it.PKID,  
 it.BillNo,  
 it.BillAmount,  
 it.TotalDiscount,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.EnteredDate,  
 pt.Name as PartyCode,  
  
 it.Status as Status,  
 it.AnyReturn as AnyReturn,  
 it.AllReturn as AllReturn,  
 ite.Description as Description,  
 pd.BatchNo as BatchNo,  
 pd.ExpiryDate as ExpiryDate,  
 pd.BoughtQty as Qty,  
 pd.FreeQty as FreeQty,  
 pd.CostPrice as CostPrice,  
 ite.PKID as ItemId,  
 pt.GST as GSTIN,  
 pt.PKID as PartyID,  
 ic.PKID as ItemCompanyID,  
 ic.Name as ItemCompany,  
 pd.ActualCostPrice as ActualCostPrice,  
 pd.SellingRate as SellingRate,  
 pd.FMCGRate as FMCGRate,  
 pd.MRP as MRP,
 it.PurchaseRefNo as PurchaseRefNo
   
 from t_Purchase it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_PurchaseDetail pd on it.PKID = pd.PurchaseID  
 inner join t_Item ite on pd.ItemID = ite.PKID  
 inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where ite.PKID = @ItemID and pd.ItemID = @ItemID and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)  
  
 --order by BillNo  
  
end  
else  
 begin  
  
 select   
 it.PKID,  
 it.BillNo,  
 it.BillAmount,  
 it.TotalDiscount,  
 it.TaxTotal,  
 it.Miscellaneous,  
 it.BillDate,  
 it.EnteredDate,  
 pt.Name as PartyCode,  
  
 it.Status as Status,  
 it.AnyReturn as AnyReturn,  
 it.AllReturn as AllReturn,  
 ite.Description as Description,  
 pd.BatchNo as BatchNo,  
 pd.ExpiryDate as ExpiryDate,  
 pd.BoughtQty as Qty,  
 pd.FreeQty as FreeQty,  
 pd.CostPrice as CostPrice,  
 ite.PKID as ItemId,  
 pt.GST as GSTIN,  
 pt.PKID as PartyID,  
 ic.PKID as ItemCompanyID,  
 ic.Name as ItemCompany,  
 pd.ActualCostPrice as ActualCostPrice,  
 pd.SellingRate as SellingRate,  
 pd.FMCGRate as FMCGRate,  
 pd.MRP as MRP,
 it.PurchaseRefNo as PurchaseRefNo
  
 from t_Purchase it   
 inner join t_Party pt on it.PartyID = pt.PKID  
 inner join t_PurchaseDetail pd on it.PKID = pd.PurchaseID  
 inner join t_Item ite on pd.ItemID = ite.PKID  
 inner join t_ItemCompany ic on ite.ItemCompany = ic.PKID  
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)   
 where  it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Status = 1 and CAST(it.EnteredDate as date) >= CAST(@fromDate as date)  and  CAST(it.EnteredDate as date) <= CAST(@toDate as date)  
  
 --order by BillNo  
  
 end
GO
