/****** Object:  StoredProcedure [dbo].[sp_RemoveObsoleteItemCompany]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RemoveObsoleteItemCompany](  
    @list [NumberList] READONLY)  
AS  
BEGIN  
  
delete from t_ClaimDocumentDetail where ClaimID in (  
select PKID from t_Claim where ItemCompany in (SELECT l.Item FROM @list l)  
)  

delete from t_ItemCompanyImage where ItemCompany in (SELECT l.Item FROM @list l)  
delete from t_Claim where ItemCompany in (SELECT l.Item FROM @list l)  
  
delete from t_ItemCompanyDiscountSlab where ItemCompany in (SELECT l.Item FROM @list l)  
  
delete from t_Party_Type_Item_Company where ItemCompany in (SELECT l.Item FROM @list l)  
  
delete from t_SupplierCompany where ItemCompany in (SELECT l.Item FROM @list l)  
  
update t_PurchaseOrder set ItemCompany = null   
where PKID in (   
select PKID from t_PurchaseOrder where ItemCompany in (SELECT l.Item FROM @list l)  
)  
  
update t_TransferOrder set ItemCompany = null   
where PKID in (   
select PKID from t_TransferOrder where ItemCompany in (SELECT l.Item FROM @list l)  
)  
  
  
update .t_User set ItemCompany = null   
where PKID in (   
select PKID from .t_User where ItemCompany in (SELECT l.Item FROM @list l)  
)  
  
INSERT INTO t_ItemCompany_Purge   
  SELECT *  
  FROM t_ItemCompany  
  WHERE PKID in (SELECT l.Item FROM @list l )  
  
delete from t_ItemCompany where PKID in (SELECT l.Item FROM @list l)  
  
END
GO
