/****** Object:  StoredProcedure [dbo].[GetAllQuotationForAParty]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



    
	CREATE procedure [dbo].[GetAllQuotationForAParty]    
	(    
	@companyID BigInt,    
	@pageSize int,    
	@pageIndex int,    
	@sortField nvarchar(max),    
	@sortOrder nvarchar(max),    
	@query nvarchar(max),    
	@fromDate datetime,    
	@toDate datetime,    
	@ServiceLocation bigint,    
	@status int,    
	@party bigint,    
	@area nvarchar(max),    
	@itemSegment bigint = 1    
    
    
	)    
	As    
    
    
    
	declare @skipRows int = @pageIndex,    
			@takeRows int = @pageSize,    
			@count int = 0    
    
    
	  if(@status = 1)    
	  begin    
    
	  if( @area = '')    
	  begin    
    
	;WITH Orders_cte AS (    
    
	select     
	 it.PKID,    
	 it.OrderNo,    
	 it.Amount,    
	 it.Date,    
	 pt.Name as Party,    
	 it.Status,    
	 it.Clear,    
	 it.ClearDate,    
	 it.IsDraft,    
	 usr.FirstName as MedicalRep,  
	 it.CreateDate,
	 rt.Name as Route
     
	 from t_SaleOrder it     
	 inner join t_Party pt on it.PartyID = pt.PKID    
	 inner join t_User usr on it.CreateBy = usr.PKID    
	 inner join t_Party_Area pa on pt.PKID = pa.PartyID and ItemSegment = @itemSegment
	inner join t_Route rt on pa.RouteID = rt.PKID

	 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
	 where it.PartyID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like
  
	 @query ))    
    
	 and it.IsQuotation = 1    
     
	)    
    
	SELECT     
		 PKID,    
	  OrderNo,    
	  Amount,    
	  Date,    
	  Party,    
	  tCountOrders.CountOrders AS TotalRows,    
	  Status,    
	  Clear,    
	  ClearDate,    
	  IsDraft,    
	  MedicalRep  ,  
	  CreateDate,
	  Route
     
	FROM Orders_cte    
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
	ORDER BY     
    
	 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,    
	  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,    
      
     
	  case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc    
      
     
      
    
	OFFSET @skipRows ROWS    
	FETCH NEXT @takeRows ROWS ONLY;    
	end    
	else    
	begin    
	;WITH Orders_cte AS (    
    
	select     
	 it.PKID,    
	 it.OrderNo,    
	 it.Amount,    
	 it.Date,    
	 pt.Name as Party,    
	 it.Status,    
	 it.Clear,    
	 it.ClearDate,    
	 it.IsDraft,    
	 usr.FirstName as MedicalRep,  
	 it.CreateDate  ,
	 rt.Name as Route
     
	 from t_SaleOrder it     
	 inner join t_Party pt on it.PartyID = pt.PKID --and pt.Area = @area    
	 inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment    
	 inner join t_Rep_Area ra on a.AreaID = ra.PKID and ra.AreaCode = @area    
	 inner join t_User usr on it.CreateBy = usr.PKID    
	 inner join t_Route rt on rt.PKID = a.RouteID
	 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
	 where it.PartyID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  or  (pt.Name like
  
	 @query ))    
    
	 and it.IsQuotation = 1    
     
	)    
    
	SELECT     
		 PKID,    
	  OrderNo,    
	  Amount,    
	  Date,    
	  Party,    
	  tCountOrders.CountOrders AS TotalRows,    
	  Status,    
	  Clear,    
	  ClearDate,    
	  IsDraft,    
	  MedicalRep ,  
	  CreateDate,
	  Route
     
	FROM Orders_cte    
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
	ORDER BY     
    
	 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,    
	  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,    
      
     
	  case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc    
      
     
      
    
	OFFSET @skipRows ROWS    
	FETCH NEXT @takeRows ROWS ONLY;    
    
	end    
    
	end    
	else if( @status = 2)    
	begin    
	  if( @area = '')    
	  begin    
    
	;WITH Orders_cte AS (    
    
	select     
	 it.PKID,    
	 it.OrderNo,    
	 it.Amount,    
	 it.Date,    
	 pt.Name as Party,    
	 it.Status,    
	 it.Clear,    
	 it.ClearDate,    
	 it.IsDraft,    
	 usr.FirstName as MedicalRep ,  
	 it.CreateDate ,
	 rt.Name as Route
     
	 from t_SaleOrder it     
	 inner join t_Party pt on it.PartyID = pt.PKID    
	 inner join t_User usr on it.CreateBy = usr.PKID    
	 inner join t_Party_Area pa on pt.PKID = pa.PartyID and ItemSegment = @itemSegment
	inner join t_Route rt on pa.RouteID = rt.PKID

	 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
	 where it.PartyID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 1 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query ) 
   
	or  (pt.Name like @query ))    
	 and it.IsQuotation = 1    
	)    
    
	SELECT     
		 PKID,    
	  OrderNo,    
	  Amount,    
	  Date,    
	  Party,    
	  tCountOrders.CountOrders AS TotalRows,    
	  Status,    
	  Clear,    
	  ClearDate,    
	  IsDraft,    
	  MedicalRep ,  
	  CreateDate,
	  Route
     
	FROM Orders_cte    
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
	ORDER BY     
    
	 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,    
	  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,    
      
     
	  case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc    
      
     
      
    
	OFFSET @skipRows ROWS    
	FETCH NEXT @takeRows ROWS ONLY;    
	end    
	else    
	begin    
	;WITH Orders_cte AS (    
    
	select     
	 it.PKID,    
	 it.OrderNo,    
	 it.Amount,    
	 it.Date,    
	 pt.Name as Party,    
	 it.Status,    
	 it.Clear,    
	 it.ClearDate,    
	 it.IsDraft,    
	 usr.FirstName as MedicalRep  ,  
	 it.CreateDate,
	 rt.Name as Route
     
	 from t_SaleOrder it     
	 inner join t_Party pt on it.PartyID = pt.PKID --and pt.Area = @area    
	 inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment    
	 inner join t_Rep_Area ra on a.AreaID = ra.PKID and ra.AreaCode = @area    
	 inner join t_User usr on it.CreateBy = usr.PKID    
	 inner join t_Route rt on rt.PKID = a.RouteID
	 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
	 where it.PartyID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 1 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date) and ( (it.OrderNo like @query )  
  
	or  (pt.Name like @query ))    
	 and it.IsQuotation = 1    
	)    
    
	SELECT     
		 PKID,    
	  OrderNo,    
	  Amount,    
	  Date,    
	  Party,    
	  tCountOrders.CountOrders AS TotalRows,    
	  Status,    
	  Clear,    
	  ClearDate,    
	  IsDraft,    
	  MedicalRep  ,  
	  CreateDate,
	  Route
     
	FROM Orders_cte    
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
	ORDER BY     
    
	 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,    
	  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,    
      
     
	  case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc    
      
     
      
    
	OFFSET @skipRows ROWS    
	FETCH NEXT @takeRows ROWS ONLY;    
	end    
	end    
	else if(@status = 3)    
	begin    
	if( @area = '')    
	begin    
    
    
	;WITH Orders_cte AS (    
    
	select     
	 it.PKID,    
	 it.OrderNo,    
	 it.Amount,    
	 it.Date,    
	 pt.Name as Party,    
	 it.Status,    
	 it.Clear,    
	 it.ClearDate,    
	 it.IsDraft,    
	 usr.FirstName as MedicalRep ,  
	 it.CreateDate ,
	 rt.Name as Route
     
	 from t_SaleOrder it     
	 inner join t_Party pt on it.PartyID = pt.PKID    
	 inner join t_User usr on it.CreateBy = usr.PKID    
	  inner join t_Party_Area pa on pt.PKID = pa.PartyID and ItemSegment = @itemSegment
	inner join t_Route rt on pa.RouteID = rt.PKID

	 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
	 where it.PartyID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date)  and ( (it.OrderNo like @query ) 
  
	 or  (pt.Name like @query ))    
	 and it.IsQuotation = 1    
	)    
    
	SELECT     
		 PKID,    
	  OrderNo,    
	  Amount,    
	  Date,    
	  Party,    
	  tCountOrders.CountOrders AS TotalRows,    
	  Status,    
	  Clear,    
	  ClearDate,    
	  IsDraft,    
	  MedicalRep  ,  
	  CreateDate  ,
	  Route
     
	FROM Orders_cte    
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
	ORDER BY     
    
	 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,    
	  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,    
      
     
	  case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc    
      
     
      
    
	OFFSET @skipRows ROWS    
	FETCH NEXT @takeRows ROWS ONLY;    
	end    
	else    
	begin    
	;WITH Orders_cte AS (    
    
	select     
	 it.PKID,    
	 it.OrderNo,    
	 it.Amount,    
	 it.Date,    
	 pt.Name as Party,    
	 it.Status,    
	 it.Clear,    
	 it.ClearDate,    
	 it.IsDraft,    
	 usr.FirstName as MedicalRep ,  
	 it.CreateDate ,
	 rt.Name as Route
     
	 from t_SaleOrder it     
	 inner join t_Party pt on it.PartyID = pt.PKID --and pt.Area = @area    
	 inner join t_Party_Area a on pt.PKID = a.PartyID and a.servicelocation = @ServiceLocation and a.SegmentID = @itemSegment    
	 inner join t_Rep_Area ra on a.AreaID = ra.PKID and ra.AreaCode = @area    
	 inner join t_User usr on it.CreateBy = usr.PKID    
	 inner join t_Route rt on rt.PKID = a.RouteID
	 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)     
	 where it.PartyID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.Clear = 0 and CAST(it.Date as date) >= CAST(@fromDate as date)  and  CAST(it.Date as date) <= CAST(@toDate as date)  and ( (it.OrderNo like @query )
  
	  or  (pt.Name like @query ))    
	 and it.IsQuotation = 1    
	)    
    
	SELECT     
		 PKID,    
	  OrderNo,    
	  Amount,    
	  Date,    
	  Party,    
	  tCountOrders.CountOrders AS TotalRows,    
	  Status,    
	  Clear,    
	  ClearDate,    
	  IsDraft,    
	  MedicalRep ,  
	  CreateDate ,
	  Route
     
	FROM Orders_cte    
		CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders    
    
	ORDER BY     
    
	 CASE WHEN @sortField='undefined' and @sortOrder ='undefined' THEN OrderNo end desc,    
	  CASE WHEN @sortField='Date' and @sortOrder ='asc' THEN Date end asc,    
      
     
	  case   WHEN @sortField='PartyID' and @sortOrder ='asc'  THEN Party end asc    
      
     
      
    
	OFFSET @skipRows ROWS    
	FETCH NEXT @takeRows ROWS ONLY;    
    
	end    
	end
GO
