/****** Object:  StoredProcedure [dbo].[GetAllSale]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllSale]  
(  
@companyID BigInt,  
@pageSize int,  
@pageIndex int,  
@sortField nvarchar(max),  
@sortOrder nvarchar(max),  
@query nvarchar(max),  
@fromDate datetime,  
@toDate datetime,  
@ServiceLocation bigint,  
@billGenMode bigint,  
@itemSegment bigint = 1,  
@party bigint = -1,  
@delivery bigint = 7  
  
)  
As  
  
  
  
declare @skipRows int = @pageIndex,  
        @takeRows int = @pageSize,  
        @count int = 0  
  
 if( @party <= 0)  
 begin  
  
  if ( @billGenMode = 0)  
  begin  
   if( @query != '%%')  
    begin  
     if( @itemSegment != 3)  
      begin  
       ;WITH Orders_cte AS (  
  
      select   
       it.PKID,  
       it.BillNo,  
       it.BillAmountWithoutGST,  
       it.DiscountTotal,  
       it.TaxTotal,  
       it.Miscellaneous,  
       it.BillDate,  
       it.Freight,  
       it.ServiceCharge,  
       it.TCS,  
       it.IsSalesService,  
       pt.Name as PartyCode,  
   
       bt.Name as BillTypeDisplay,  
       it.Status as Status,  
       it.AnyReturn as AnyReturn,  
       it.AllReturn as AllReturn,  
       COALESCE(co.Email, 0) as Email,  
       COALESCE(co.SMS, 0) as SMS,  
       it.ReferenceTag as ReferenceTag,  
       usr.FirstName as CreateBy,  
       pt.MobileNo as MobileNo,  
       it.CessAmount as CessAmount,  
       it.PackDate as PackDate,  
       it.ShipDate as ShipDate,  
       it.DeliverDate as DeliverDate,  
       it.PicklistNumber as PicklistNumber,  
       COALESCE(so.PKID, 0) as OrderNumber,  
       COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	   bt.PKID as BillType
       from t_Sale it   
       inner join t_Party pt on it.PartyID = pt.PKID  
   
       inner join t_BillType bt on bt.PKID = it.BillType  
       inner join t_User usr on it.CreatedBy = usr.PKID  
       left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
       left join t_SaleOrder so on it.OrderNumber = so.PKID   
   
       where it.Delivery = @delivery and it.CompanyID = @companyID and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.MobileNo like @query ) or  (pt.Name like @query ) or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
        and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
      )  
  
      SELECT   
       PKID,  
       BillNo,  
       BillAmountWithoutGST,  
       DiscountTotal,  
       TaxTotal,  
       Miscellaneous,  
       BillDate,  
       PartyCode,  
       tCountOrders.CountOrders AS TotalRows,  
       BillTypeDisplay,  
       Status,  
       AnyReturn,  
       AllReturn,  
       Email,  
       SMS,  
       ReferenceTag,  
       TCS,  
       Freight,  
       ServiceCharge,  
       IsSalesService,  
       CreateBy,  
       MobileNo,  
       CessAmount,  
       PackDate,  
       ShipDate,  
       DeliverDate,  
       PicklistNumber,  
       OrderNumber,  
       OrderNumberDisplay,
	   BillType
   
      FROM Orders_cte  
       CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
      ORDER BY   
  
       CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
        CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
        case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
        --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
        case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
      OFFSET @skipRows ROWS  
      FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
       ;WITH Orders_cte AS (  
  
        select   
         it.PKID,  
         it.BillNo,  
         it.BillAmountWithoutGST,  
         it.DiscountTotal,  
         it.TaxTotal,  
         it.Miscellaneous,  
         it.BillDate,  
         it.Freight,  
         it.ServiceCharge,  
         it.TCS,  
         it.IsSalesService,  
         pt.Name as PartyCode,  
   
         bt.Name as BillTypeDisplay,  
         it.Status as Status,  
         it.AnyReturn as AnyReturn,  
         it.AllReturn as AllReturn,  
         COALESCE(co.Email, 0) as Email,  
         COALESCE(co.SMS, 0) as SMS,  
         it.ReferenceTag as ReferenceTag,  
         usr.FirstName as CreateBy,  
         pt.MobileNo as MobileNo,  
         it.CessAmount as CessAmount,  
         it.PackDate as PackDate,  
         it.ShipDate as ShipDate,  
         it.DeliverDate as DeliverDate,  
         it.PicklistNumber as PicklistNumber,  
         COALESCE(so.PKID, 0) as OrderNumber,  
         COALESCE(so.OrderNo, '') as OrderNumberDisplay,
		 bt.PKID as BillType
  
         from t_Sale it   
         inner join t_Party pt on it.PartyID = pt.PKID  
   
         inner join t_BillType bt on bt.PKID = it.BillType  
         inner join t_User usr on it.CreatedBy = usr.PKID  
         left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
         left join t_SaleOrder so on it.OrderNumber = so.PKID   
         where it.Delivery = @delivery and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.MobileNo like @query ) or  (pt.Name like @query ) or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
          and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
        )  
  
        SELECT   
         PKID,  
         BillNo,  
         BillAmountWithoutGST,  
         DiscountTotal,  
         TaxTotal,  
         Miscellaneous,  
         BillDate,  
         PartyCode,  
         tCountOrders.CountOrders AS TotalRows,  
         BillTypeDisplay,  
         Status,  
         AnyReturn,  
         AllReturn,  
         Email,  
         SMS,  
         ReferenceTag,  
         TCS,  
         Freight,  
         ServiceCharge,  
         IsSalesService,  
         CreateBy,  
         MobileNo,  
         CessAmount,  
         PackDate,  
         ShipDate,  
         DeliverDate,  
         PicklistNumber,  
         OrderNumber,  
         OrderNumberDisplay,
		 BillType
   
        FROM Orders_cte  
         CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
        ORDER BY   
  
         CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
          CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
          case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
          --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
          case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
        OFFSET @skipRows ROWS  
        FETCH NEXT @takeRows ROWS ONLY;  
      end  
  
       
    end  
   else  
    begin  
     if( @itemSegment != 3)  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
   
    inner join t_BillType bt on bt.PKID = it.BillType  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
  
    where it.Delivery = @delivery and it.CompanyID = @companyID and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
   
    inner join t_BillType bt on bt.PKID = it.BillType  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where it.Delivery = @delivery and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
       
    end  
  end  
 else if ( @billGenMode = 1)  
  begin  
   if( @query != '%%')  
   begin  
    if( @itemSegment != 3)  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
  
    where it.Delivery = @delivery and it.IsSalesService = 0 and it.CompanyID = @companyID and it.ItemSegment = @itemSegment and  it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) or  (pt.MobileNo like @query ) or (pt.Name like @query ) 
or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay,
	 BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
    else  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
  
    where it.Delivery = @delivery and it.IsSalesService = 0 and it.CompanyID = @companyID  and  it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) or  (pt.MobileNo like @query ) or (pt.Name like @query ) or ( bt.Name like @query) or ( it
.ReferenceTag like @query))  
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay ,
	 BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
  
      
   end  
   else  
   begin  
    if( @itemSegment != 3)  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay  ,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where it.Delivery = @delivery and it.IsSalesService = 0 and it.ItemSegment = @itemSegment and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay ,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
    else  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay  ,
	bt.PKID as BillType
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where it.Delivery = @delivery and it.IsSalesService = 0 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
  
      
   end  
  end  
 else if( @billGenMode = 2)  
  begin  
   if( @query != '%%')  
    begin  
     if( @itemSegment != 3)  
      begin  
        ;WITH Orders_cte AS (  
  
    select   
     it.PKID,  
     it.BillNo,  
     it.BillAmountWithoutGST,  
     it.DiscountTotal,  
     it.TaxTotal,  
     it.Miscellaneous,  
     it.BillDate,  
     it.Freight,  
     it.ServiceCharge,  
     it.TCS,  
     it.IsSalesService,  
     pt.Name as PartyCode,  
   
     bt.Name as BillTypeDisplay,  
     it.Status as Status,  
     it.AnyReturn as AnyReturn,  
     it.AllReturn as AllReturn,  
     COALESCE(co.Email, 0) as Email,  
     COALESCE(co.SMS, 0) as SMS,  
     it.ReferenceTag as ReferenceTag,  
     usr.FirstName as CreateBy,  
     pt.MobileNo as MobileNo,  
     it.CessAmount as CessAmount,  
     it.PackDate as PackDate,  
     it.ShipDate as ShipDate,  
     it.DeliverDate as DeliverDate,  
     it.PicklistNumber as PicklistNumber,  
     COALESCE(so.PKID, 0) as OrderNumber,  
     COALESCE(so.OrderNo, '') as OrderNumberDisplay ,
	 bt.PKID as BillType
     from t_Sale it   
     inner join t_Party pt on it.PartyID = pt.PKID  
     inner join t_User usr on it.CreatedBy = usr.PKID  
     inner join t_BillType bt on bt.PKID = it.BillType  
   
     left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
     left join t_SaleOrder so on it.OrderNumber = so.PKID   
     where it.IsSalesService = 1 and it.ItemSegment = @itemSegment and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.Name like @query ) or  (pt.MobileNo like @query ) or ( bt.Name like @query)
 or ( it.ReferenceTag like @query))  
      and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
    )  
  
    SELECT   
     PKID,  
     BillNo,  
     BillAmountWithoutGST,  
     DiscountTotal,  
     TaxTotal,  
     Miscellaneous,  
     BillDate,  
     PartyCode,  
     tCountOrders.CountOrders AS TotalRows,  
     BillTypeDisplay,  
     Status,  
     AnyReturn,  
     AllReturn,  
     Email,  
     SMS,  
     ReferenceTag,  
     TCS,  
     Freight,  
     ServiceCharge,  
     IsSalesService,  
     CreateBy,  
     MobileNo,  
     CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay,
	 BillType
   
    FROM Orders_cte  
     CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
    ORDER BY   
  
     CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
      CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
      case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
      --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
      case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
    OFFSET @skipRows ROWS  
    FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
        ;WITH Orders_cte AS (  
  
    select   
     it.PKID,  
     it.BillNo,  
     it.BillAmountWithoutGST,  
     it.DiscountTotal,  
     it.TaxTotal,  
     it.Miscellaneous,  
     it.BillDate,  
     it.Freight,  
     it.ServiceCharge,  
     it.TCS,  
     it.IsSalesService,  
     pt.Name as PartyCode,  
   
     bt.Name as BillTypeDisplay,  
     it.Status as Status,  
     it.AnyReturn as AnyReturn,  
     it.AllReturn as AllReturn,  
     COALESCE(co.Email, 0) as Email,  
     COALESCE(co.SMS, 0) as SMS,  
     it.ReferenceTag as ReferenceTag,  
     usr.FirstName as CreateBy,  
     pt.MobileNo as MobileNo,  
     it.CessAmount as CessAmount,  
     it.PackDate as PackDate,  
     it.ShipDate as ShipDate,  
     it.DeliverDate as DeliverDate,  
     it.PicklistNumber as PicklistNumber,  
     COALESCE(so.PKID, 0) as OrderNumber,  
     COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	 bt.PKID as BillType
     from t_Sale it   
     inner join t_Party pt on it.PartyID = pt.PKID  
     inner join t_User usr on it.CreatedBy = usr.PKID  
     inner join t_BillType bt on bt.PKID = it.BillType  
   
     left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
     left join t_SaleOrder so on it.OrderNumber = so.PKID   
     where  it.IsSalesService = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.Name like @query ) or  (pt.MobileNo like @query ) or ( bt.Name like @query) or ( it.ReferenceTag like @query)
)  
      and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
    )  
  
    SELECT   
     PKID,  
     BillNo,  
     BillAmountWithoutGST,  
     DiscountTotal,  
     TaxTotal,  
     Miscellaneous,  
     BillDate,  
     PartyCode,  
     tCountOrders.CountOrders AS TotalRows,  
     BillTypeDisplay,  
     Status,  
     AnyReturn,  
     AllReturn,  
     Email,  
     SMS,  
     ReferenceTag,  
     TCS,  
     Freight,  
     ServiceCharge,  
     IsSalesService,  
     CreateBy,  
     MobileNo,  
     CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay,
	 BillType
   
    FROM Orders_cte  
     CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
    ORDER BY   
  
     CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
      CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
      case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
      --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
      case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
    OFFSET @skipRows ROWS  
    FETCH NEXT @takeRows ROWS ONLY;  
      end  
  
       
    end  
   else  
    begin  
     if( @itemSegment != 3)  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where   it.IsSalesService = 1 and it.ItemSegment = @itemSegment and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
    CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where   it.IsSalesService = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
    CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
  
       
    end  
  end  
 end  
 else  
 begin  
  
 if ( @billGenMode = 0)  
  begin  
   if( @query != '%%')  
    begin  
     if( @itemSegment != 3)  
      begin  
       ;WITH Orders_cte AS (  
  
      select   
       it.PKID,  
       it.BillNo,  
       it.BillAmountWithoutGST,  
       it.DiscountTotal,  
       it.TaxTotal,  
       it.Miscellaneous,  
       it.BillDate,  
       it.Freight,  
       it.ServiceCharge,  
       it.TCS,  
       it.IsSalesService,  
       pt.Name as PartyCode,  
   
       bt.Name as BillTypeDisplay,  
       it.Status as Status,  
       it.AnyReturn as AnyReturn,  
       it.AllReturn as AllReturn,  
       COALESCE(co.Email, 0) as Email,  
       COALESCE(co.SMS, 0) as SMS,  
       it.ReferenceTag as ReferenceTag,  
       usr.FirstName as CreateBy,  
       pt.MobileNo as MobileNo,  
       it.CessAmount as CessAmount,  
       it.PackDate as PackDate,  
       it.ShipDate as ShipDate,  
       it.DeliverDate as DeliverDate,  
       it.PicklistNumber as PicklistNumber,  
       COALESCE(so.PKID, 0) as OrderNumber,  
       COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	   bt.PKID as BillType
       from t_Sale it   
       inner join t_Party pt on it.PartyID = pt.PKID  
   
       inner join t_BillType bt on bt.PKID = it.BillType  
       inner join t_User usr on it.CreatedBy = usr.PKID  
       left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
       left join t_SaleOrder so on it.OrderNumber = so.PKID   
   
       where it.Delivery = @delivery and pt.PKID = @party and  it.CompanyID = @companyID and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.MobileNo like @query ) or  (pt.Name like @query ) 
or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
        and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
      )  
  
      SELECT   
       PKID,  
       BillNo,  
       BillAmountWithoutGST,  
       DiscountTotal,  
       TaxTotal,  
       Miscellaneous,  
       BillDate,  
       PartyCode,  
       tCountOrders.CountOrders AS TotalRows,  
       BillTypeDisplay,  
       Status,  
       AnyReturn,  
       AllReturn,  
       Email,  
       SMS,  
       ReferenceTag,  
       TCS,  
       Freight,  
       ServiceCharge,  
       IsSalesService,  
       CreateBy,  
       MobileNo,  
       CessAmount,  
       PackDate,  
       ShipDate,  
       DeliverDate,  
       PicklistNumber,  
       OrderNumber,  
       OrderNumberDisplay,
	   BillType
   
      FROM Orders_cte  
       CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
      ORDER BY   
  
       CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
        CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
        case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
        --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
        case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
      OFFSET @skipRows ROWS  
      FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
       ;WITH Orders_cte AS (  
  
        select   
         it.PKID,  
         it.BillNo,  
         it.BillAmountWithoutGST,  
         it.DiscountTotal,  
         it.TaxTotal,  
         it.Miscellaneous,  
         it.BillDate,  
         it.Freight,  
         it.ServiceCharge,  
         it.TCS,  
         it.IsSalesService,  
         pt.Name as PartyCode,  
   
         bt.Name as BillTypeDisplay,  
         it.Status as Status,  
         it.AnyReturn as AnyReturn,  
         it.AllReturn as AllReturn,  
         COALESCE(co.Email, 0) as Email,  
         COALESCE(co.SMS, 0) as SMS,  
         it.ReferenceTag as ReferenceTag,  
         usr.FirstName as CreateBy,  
         pt.MobileNo as MobileNo,  
         it.CessAmount as CessAmount,  
         it.PackDate as PackDate,  
         it.ShipDate as ShipDate,  
         it.DeliverDate as DeliverDate,  
         it.PicklistNumber as PicklistNumber,  
         COALESCE(so.PKID, 0) as OrderNumber,  
         COALESCE(so.OrderNo, '') as OrderNumberDisplay,
		 bt.PKID as BillType
  
         from t_Sale it   
         inner join t_Party pt on it.PartyID = pt.PKID  
   
         inner join t_BillType bt on bt.PKID = it.BillType  
         inner join t_User usr on it.CreatedBy = usr.PKID  
         left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
         left join t_SaleOrder so on it.OrderNumber = so.PKID   
         where it.Delivery = @delivery and pt.PKID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.MobileNo like @query ) or  (pt.Name like @query ) or ( bt.Name like @query) or ( it
.ReferenceTag like @query))  
          and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
        )  
  
        SELECT   
         PKID,  
         BillNo,  
         BillAmountWithoutGST,  
         DiscountTotal,  
         TaxTotal,  
         Miscellaneous,  
         BillDate,  
         PartyCode,  
         tCountOrders.CountOrders AS TotalRows,  
         BillTypeDisplay,  
         Status,  
         AnyReturn,  
         AllReturn,  
         Email,  
         SMS,  
         ReferenceTag,  
         TCS,  
         Freight,  
         ServiceCharge,  
         IsSalesService,  
         CreateBy,  
         MobileNo,  
         CessAmount,  
         PackDate,  
         ShipDate,  
         DeliverDate,  
         PicklistNumber,  
         OrderNumber,  
         OrderNumberDisplay,
		 BillType
   
        FROM Orders_cte  
         CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
        ORDER BY   
  
         CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
          CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
          case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
          --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
          case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
        OFFSET @skipRows ROWS  
        FETCH NEXT @takeRows ROWS ONLY;  
      end  
  
       
    end  
   else  
    begin  
     if( @itemSegment != 3)  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
   
    inner join t_BillType bt on bt.PKID = it.BillType  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
  
    where it.Delivery = @delivery and pt.PKID = @party and it.CompanyID = @companyID and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
   
    inner join t_BillType bt on bt.PKID = it.BillType  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where it.Delivery = @delivery and pt.PKID = @party and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
       
    end  
  end  
 else if ( @billGenMode = 1)  
  begin  
   if( @query != '%%')  
   begin  
    if( @itemSegment != 3)  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
  
    where it.Delivery = @delivery and pt.PKID = @party and it.IsSalesService = 0 and it.CompanyID = @companyID and it.ItemSegment = @itemSegment and  it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) or  (pt.MobileNo like @query ) or (pt.Name like @query ) or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay ,
	 BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
    else  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
  
    where it.Delivery = @delivery and  pt.PKID = @party and it.IsSalesService = 0 and it.CompanyID = @companyID  and  it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query ) or  (pt.MobileNo like @query ) or (pt.Name like @query ) or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay,
	 BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
  
      
   end  
   else  
   begin  
    if( @itemSegment != 3)  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay ,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where it.Delivery = @delivery and pt.PKID = @party and it.IsSalesService = 0 and it.ItemSegment = @itemSegment and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
    else  
     begin  
       ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where it.Delivery = @delivery and pt.PKID = @party and it.IsSalesService = 0 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
     CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
     end  
  
      
   end  
  end  
 else if( @billGenMode = 2)  
  begin  
   if( @query != '%%')  
    begin  
     if( @itemSegment != 3)  
      begin  
        ;WITH Orders_cte AS (  
  
    select   
     it.PKID,  
     it.BillNo,  
     it.BillAmountWithoutGST,  
     it.DiscountTotal,  
     it.TaxTotal,  
     it.Miscellaneous,  
     it.BillDate,  
     it.Freight,  
     it.ServiceCharge,  
     it.TCS,  
     it.IsSalesService,  
     pt.Name as PartyCode,  
   
     bt.Name as BillTypeDisplay,  
     it.Status as Status,  
     it.AnyReturn as AnyReturn,  
     it.AllReturn as AllReturn,  
     COALESCE(co.Email, 0) as Email,  
     COALESCE(co.SMS, 0) as SMS,  
     it.ReferenceTag as ReferenceTag,  
     usr.FirstName as CreateBy,  
     pt.MobileNo as MobileNo,  
     it.CessAmount as CessAmount,  
     it.PackDate as PackDate,  
     it.ShipDate as ShipDate,  
     it.DeliverDate as DeliverDate,  
     it.PicklistNumber as PicklistNumber,  
     COALESCE(so.PKID, 0) as OrderNumber,  
     COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	 bt.PKID as BillType
     from t_Sale it   
     inner join t_Party pt on it.PartyID = pt.PKID  
     inner join t_User usr on it.CreatedBy = usr.PKID  
     inner join t_BillType bt on bt.PKID = it.BillType  
   
     left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
     left join t_SaleOrder so on it.OrderNumber = so.PKID   
     where pt.PKID = @party and it.IsSalesService = 1 and it.ItemSegment = @itemSegment and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.Name like @query ) or  (pt.MobileNo like @query ) or ( 
bt.Name like @query) or ( it.ReferenceTag like @query))  
      and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
    )  
  
    SELECT   
     PKID,  
     BillNo,  
     BillAmountWithoutGST,  
     DiscountTotal,  
     TaxTotal,  
     Miscellaneous,  
     BillDate,  
     PartyCode,  
     tCountOrders.CountOrders AS TotalRows,  
     BillTypeDisplay,  
     Status,  
     AnyReturn,  
     AllReturn,  
     Email,  
     SMS,  
     ReferenceTag,  
     TCS,  
     Freight,  
     ServiceCharge,  
     IsSalesService,  
     CreateBy,  
     MobileNo,  
     CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay,
	 BillType
   
    FROM Orders_cte  
     CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
    ORDER BY   
  
     CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
      CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
      case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
      --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
      case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
    OFFSET @skipRows ROWS  
    FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
        ;WITH Orders_cte AS (  
  
    select   
     it.PKID,  
     it.BillNo,  
     it.BillAmountWithoutGST,  
     it.DiscountTotal,  
     it.TaxTotal,  
     it.Miscellaneous,  
     it.BillDate,  
     it.Freight,  
     it.ServiceCharge,  
     it.TCS,  
     it.IsSalesService,  
     pt.Name as PartyCode,  
   
     bt.Name as BillTypeDisplay,  
     it.Status as Status,  
     it.AnyReturn as AnyReturn,  
     it.AllReturn as AllReturn,  
     COALESCE(co.Email, 0) as Email,  
     COALESCE(co.SMS, 0) as SMS,  
     it.ReferenceTag as ReferenceTag,  
     usr.FirstName as CreateBy,  
     pt.MobileNo as MobileNo,  
     it.CessAmount as CessAmount,  
     it.PackDate as PackDate,  
     it.ShipDate as ShipDate,  
     it.DeliverDate as DeliverDate,  
     it.PicklistNumber as PicklistNumber,  
     COALESCE(so.PKID, 0) as OrderNumber,  
     COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	 bt.PKID as BillType
     from t_Sale it   
     inner join t_Party pt on it.PartyID = pt.PKID  
     inner join t_User usr on it.CreatedBy = usr.PKID  
     inner join t_BillType bt on bt.PKID = it.BillType  
   
     left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
     left join t_SaleOrder so on it.OrderNumber = so.PKID   
     where pt.PKID = @party and it.IsSalesService = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.Name like @query ) or  (pt.MobileNo like @query ) or ( bt.Name like @query) or ( it.ReferenceTag like @query))  
      and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
    )  
  
    SELECT   
     PKID,  
     BillNo,  
     BillAmountWithoutGST,  
     DiscountTotal,  
     TaxTotal,  
     Miscellaneous,  
     BillDate,  
     PartyCode,  
     tCountOrders.CountOrders AS TotalRows,  
     BillTypeDisplay,  
     Status,  
     AnyReturn,  
     AllReturn,  
     Email,  
     SMS,  
     ReferenceTag,  
     TCS,  
     Freight,  
     ServiceCharge,  
     IsSalesService,  
     CreateBy,  
     MobileNo,  
     CessAmount,  
     PackDate,  
     ShipDate,  
     DeliverDate,  
     PicklistNumber,  
     OrderNumber,  
     OrderNumberDisplay,
	 BillType
   
    FROM Orders_cte  
     CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
    ORDER BY   
  
     CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
      CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
      case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
      --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
      case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
    OFFSET @skipRows ROWS  
    FETCH NEXT @takeRows ROWS ONLY;  
      end  
  
       
    end  
   else  
    begin  
     if( @itemSegment != 3)  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where pt.PKID = @party and it.IsSalesService = 1 and it.ItemSegment = @itemSegment and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
    CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
     else  
      begin  
        ;WITH Orders_cte AS (  
  
   select   
    it.PKID,  
    it.BillNo,  
    it.BillAmountWithoutGST,  
    it.DiscountTotal,  
    it.TaxTotal,  
    it.Miscellaneous,  
    it.BillDate,  
    it.Freight,  
    it.ServiceCharge,  
    it.TCS,  
    it.IsSalesService,  
    pt.Name as PartyCode,  
   
    bt.Name as BillTypeDisplay,  
    it.Status as Status,  
    it.AnyReturn as AnyReturn,  
    it.AllReturn as AllReturn,  
    COALESCE(co.Email, 0) as Email,  
    COALESCE(co.SMS, 0) as SMS,  
    it.ReferenceTag as ReferenceTag,  
    usr.FirstName as CreateBy,  
    pt.MobileNo as MobileNo,  
    it.CessAmount as CessAmount,  
    it.PackDate as PackDate,  
    it.ShipDate as ShipDate,  
    it.DeliverDate as DeliverDate,  
    it.PicklistNumber as PicklistNumber,  
    COALESCE(so.PKID, 0) as OrderNumber,  
    COALESCE(so.OrderNo, '') as OrderNumberDisplay,
	bt.PKID as BillType
  
    from t_Sale it   
    inner join t_Party pt on it.PartyID = pt.PKID  
    inner join t_User usr on it.CreatedBy = usr.PKID  
    inner join t_BillType bt on bt.PKID = it.BillType  
   
    left join t_CommunicationAudit co on it.PKID = co.EventID and co.ModuleID = 1  
    left join t_SaleOrder so on it.OrderNumber = so.PKID   
    where pt.PKID = @party and it.IsSalesService = 1 and it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation   
     and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)   
   
   
   )  
  
   SELECT   
    PKID,  
    BillNo,  
    BillAmountWithoutGST,  
    DiscountTotal,  
    TaxTotal,  
    Miscellaneous,  
    BillDate,  
    PartyCode,  
    tCountOrders.CountOrders AS TotalRows,  
    BillTypeDisplay,  
    Status,  
    AnyReturn,  
    AllReturn,  
    Email,  
    SMS,  
    ReferenceTag,  
    TCS,  
    Freight,  
    ServiceCharge,  
    IsSalesService,  
    CreateBy,  
    MobileNo,  
    CessAmount,  
    PackDate,  
    ShipDate,  
    DeliverDate,  
    PicklistNumber,  
    OrderNumber,  
    OrderNumberDisplay ,
	BillType
   
   FROM Orders_cte  
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders  
  
   ORDER BY   
  
    CASE WHEN @sortField='ID' and @sortOrder ='asc' THEN PKID end desc,  
    CASE WHEN @sortField='BillDate' and @sortOrder ='asc' THEN BillDate end desc,  
    
   
     case   WHEN @sortField='PartyCode' and @sortOrder ='asc'  THEN PartyCode end asc,  
     --case   WHEN @sortField='Bin' and @sortOrder ='asc'  THEN Bin  end asc,  
   
     case   WHEN @sortField='BillTypeDisplay' and @sortOrder ='desc'  THEN BillTypeDisplay end desc  
  
   OFFSET @skipRows ROWS  
   FETCH NEXT @takeRows ROWS ONLY;  
      end  
  
       
    end  
  end  
  
  
 end
GO
