/****** Object:  StoredProcedure [dbo].[GetAllSearchableItem]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllSearchableItem]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@query nvarchar(max),
@serviceLocation bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	st.CostPrice * it.Units as CostPrice,
	st.SellingPrice * it.Units as SellingPrice,
	st.MRP * it.Units as MRP,
	st.ClosingQty as Stock
	from t_Item it inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	inner join t_ItemwiseStock st  on it.PKID = st.ItemId
	where st.ServiceLocation = @serviceLocation and it.CompanyID = @companyID and it.IsActive = 1  and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	
)

SELECT 
    PKID,
	ItemID,
	ItemCode,
	ItemDescription,
	IsBatchwise,
	Tax,
	TaxCategory,
    tCountOrders.CountOrders AS TotalRows,
	CostPrice,
	SellingPrice,
	MRP,
	Stock
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY ItemCode asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
