/****** Object:  StoredProcedure [dbo].[GetAllItemMasterCopy]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    
CREATE procedure [dbo].[GetAllItemMasterCopy]          
(          
@companyID BigInt,          
@fromDate datetime,          
@toDate datetime,          
@serviceLocation bigint          
          
          
)          
As          
          
          
select           
 it.PKID,          
 it.IsActive,           
 tx.Percentage as Tax,          
 tx.Name as TaxCategoryDisplay,          
 tx.PKID as TaxCategoryID,          
 it.PKID as ItemID,          
 it.Code as ItemCode,          
 it.Description as ItemDescription,          
 it.QuotationPrice as QuotationPrice,          
          
 it.MinStock as MinStock,          
 it.MaxStock as MaxStock,          
 it.ShelfLife as ShelfLife,          
 it.AllowRateEdit as AllowRateEdit,          
 it.AllowLoyality as AllowLoyality,          
 it.MinShelfLife as MinShelfLife,          
 --it.LocationID as ServiceLocationID,          
 --sl.Name as ServiceLocationDisplay,          
          
 --COALESCE(rw.Name,'') as [Row],          
 --COALESCE(rk.Name,'') as [Rack],          
 COALESCE(sf.Name,'') as [Self],          
 --COALESCE(bn.Name,'') as  [Bin],          
           
           
 --it.RequiredTracking as RequiredTracking,          
 --it.CreateDate as CreateDate,          
 it.LastModifiedDate as LastModifiedDate,          
 COALESCE(cm.Name,'') as  ItemCompanyDisplay,          
 COALESCE(cm.Code,'') as  ItemCompanyCode,          
 COALESCE(cm.PKID,-1) as  ItemCompany,          
 COALESCE(dep.Name,'') as  DepartmentName,          
 COALESCE(drg.Type,'') as  DrugType,          
 COALESCE(it.AllotmentPercentage,'100') as  AllotmentPercentage,          
          
 COALESCE(pc.Code,'') as  Category,          
 COALESCE(ps.Code,'') as  SubCategory,          
 COALESCE(mdl.Model,'') as  Model,          
 COALESCE(mdlc.Color,'') as  Color,          
 COALESCE(brn.Brand,'') as  Brand,          
          
          
           
 COALESCE(pc.PKID,'-1') as  CategoryID,          
 COALESCE(ps.PKID,'-1') as  SubCategoryID,          
 COALESCE(mdl.PKID,'-1') as  ModelID,          
 COALESCE(mdlc.PKID,'-1') as  ColorID,          
 COALESCE(brn.PKID,'-1') as  BrandID,          
 COALESCE(vrt.PKID,'-1') as  VariantID,          
          
          
          
 COALESCE(hs.Code,'') as [HSN],          
 COALESCE(uo.Code,'') as [UOM],          
 it.ItemSegment as ItemSegment,          
 COALESCE(se.Name,'') as SegmentDisplay ,        
 DepartmentID ,        
 it.MarginPercentage ,      
 it.StorageSection,      
 it.StorageSectionRow,    
 it.ItemNature,  
 it.ContentID,
 COALESCE(tc.Code,'') as [TaxClass]
 
          
 from t_Item it           
 left join t_HSN hs on it.HSNCode = hs.PKID          
 inner join t_TaxCategory tx on it.TaxCategory = tx.PKID          
 --inner join t_ServiceLocation sl on it.LocationID= sl.PKID          
          
 left join t_ProductCategory pc on it.CategoryID = pc.PKID          
 left join t_ProductSubCategory ps on it.SubCategoryID = ps.PKID          
 left join t_Model mdl on it.ModelID = mdl.PKID          
 left join t_ModelColor mdlc on it.ColorID = mdlc.PKID          
 left join t_Brand brn on it.BrandID = brn.PKID          
 left join t_ModelVariant vrt on it.VariantID = vrt.PKID          
 left join t_UOM uo on it.UOMId = uo.PKID          
 left join t_TaxClass tc on hs.TaxClass = tc.PKID          
           
          
 --left join t_Row rw on it.RowID= rw.PKID          
 --left join t_Rack rk on it.Rack= rk.PKID          
 left join t_Self sf on it.SelfID= sf.PKID          
 --left join t_Bin bn on it.Bin= bn.PKID          
 left join t_ItemCompany cm on it.ItemCompany = cm.PKID          
 left join t_Department dep on it.DepartmentID = dep.PKID          
 left join t_DurgType drg on it.DrugType = drg.PKID          
 left join t_ItemSegment se on it.ItemSegment = se.PKID          
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)           
 where it.CompanyID = @companyID order by it.Description
GO
