/****** Object:  StoredProcedure [dbo].[DownloadAllSalesReport]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[DownloadAllSalesReport]      
(      
@companyID BigInt,      
@fromDate datetime,      
@toDate datetime,      
@ServiceLocation bigint,      
@status bigint,      
@itemSegment bigint = 1      
      
)      
As      
      
if ( @status = 1)      
begin      
      
select       
 it.PKID,      
 it.BillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
       
 pt.Name as PartyCode,      
 pt.GST as GSTIN,      
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 it.AnyReturn as AnyReturn,      
 it.AllReturn as AllReturn,      
 it.IsRetail as IsRetail,      
 it.Freight,      
 it.ServiceCharge,      
 it.TCS,      
 it.OverAllDiscountPercentage,      
 pa.AreaCode as Area,      
 it.ReferenceTag,      
 it.BillType ,    
 it.InState ,  
 it.CessAmount,
 it.OrderCreateBy as OrderCreateBy,
 it.RepID as RepID
      
 from t_Sale it       
 inner join t_Party pt on it.PartyID = pt.PKID      
 inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation      
 inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation      
       
 inner join t_BillType bt on bt.PKID = it.BillType      
       
       
      
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and it.ItemSegment = @itemSegment and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)      
      
 order by PKID      
      
end      
else if( @status = 2)      
begin      
      
select       
 it.PKID,      
 it.BillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
 pt.GST as GSTIN,      
 pt.Name as PartyCode,      
       
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 it.AnyReturn as AnyReturn,      
 it.AllReturn as AllReturn,      
 it.IsRetail as IsRetail,      
 it.Freight,      
 it.ServiceCharge,      
 it.TCS,      
 it.OverAllDiscountPercentage,      
 pa.AreaCode as Area,      
 it.ReferenceTag,      
 it.BillType  ,    
 it.InState ,  
 it.CessAmount ,
 it.OrderCreateBy as OrderCreateBy,
 it.RepID as RepID
 
      
 from t_Sale it       
 inner join t_Party pt on it.PartyID = pt.PKID      
 inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation      
 inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation      
 inner join t_BillType bt on bt.PKID = it.BillType      
       
      
 where it.CompanyID = @companyID and it.Status = 1 and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)      
      
 order by PKID      
      
end      
else if( @status = 3)      
begin      
      
select       
 it.PKID,      
 it.BillNo,      
 it.BillAmountWithoutGST,      
 it.DiscountTotal,      
 it.TaxTotal,      
 it.Miscellaneous,      
 it.BillDate,      
 pt.GST as GSTIN,      
 pt.Name as PartyCode,      
       
 bt.Name as BillTypeDisplay,      
 it.Status as Status,      
 it.AnyReturn as AnyReturn,      
 it.AllReturn as AllReturn,      
 it.IsRetail as IsRetail,      
 it.Freight,      
 it.ServiceCharge,      
 it.TCS,      
 it.OverAllDiscountPercentage,      
 pa.AreaCode as Area,      
 it.ReferenceTag,      
 it.BillType ,    
 it.InState ,  
 it.CessAmount ,
 it.OrderCreateBy as OrderCreateBy,
 it.RepID as RepID
 
      
 from t_Sale it       
 inner join t_Party pt on it.PartyID = pt.PKID      
 inner join t_Party_Area a on pt.PKID = a.PartyID and a.SegmentID = @itemSegment and a.ServiceLocation = @ServiceLocation      
 inner join t_Rep_Area pa on a.AreaID = pa.PKID and pa.ServiceLocation = @ServiceLocation      
 inner join t_BillType bt on bt.PKID = it.BillType      
       
      
 where it.CompanyID = @companyID and it.Status = 0 and it.ItemSegment = @itemSegment and it.ServiceLocation = @ServiceLocation and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)      
      
 order by PKID      
      
end
GO
