/****** Object:  StoredProcedure [dbo].[GET_NEXT_PENDING_BILL_TRACKING_BATCH]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_NEXT_PENDING_BILL_TRACKING_BATCH]
AS
		BEGIN
			DECLARE @NewSeqVal BIGINT;
			UPDATE [dbo].[t_Seq_PendingBillTrackingBatch]
			SET
				@NewSeqVal = CurrVal = CurrVal + Incr;
			SELECT @NewSeqVal;
		END;
GO
