/****** Object:  StoredProcedure [dbo].[ResetBalance]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create procedure [dbo].[ResetBalance]
(
@company bigint,
@location bigint
)
AS

update t_Party set OpeningBalance = 0 where OpeningBalance is null
update t_Party set ClosingBalance = OpeningBalance where CompanyID = @company and ServiceLocation = @location
delete from t_DatewiseAccount where CompanyID = @company and ServiceLocation = @location
GO
