/****** Object:  StoredProcedure [dbo].[GET_NEXT_DIAGNOSIS_SERVICE_DETAIL_BATCH]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  CREATE PROCEDURE [dbo].[GET_NEXT_DIAGNOSIS_SERVICE_DETAIL_BATCH]  
  (  
  @batchQty BigInt  
  )  
AS  
BEGIN  
    DECLARE @NewSeqVal BIGINT;  
	declare @CurrVal BIGINT;  
	select @CurrVal = CurrVal + 1 from t_Seq_DiagnosisServiceDetail  
    UPDATE [dbo].[t_Seq_DiagnosisServiceDetail]  
    SET  
        @NewSeqVal = CurrVal = CurrVal + @batchQty;  
    SELECT @CurrVal;  
END;
GO
