/****** Object:  StoredProcedure [dbo].[GetAllSearchableItemBatchwise]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllSearchableItemBatchwise]
(
@companyID BigInt,
@pageSize int,
@pageIndex int,
@query nvarchar(max),
@location bigint

)
As



declare @skipRows int = @pageIndex,
        @takeRows int = @pageSize,
        @count int = 0

;WITH Orders_cte AS (

select 
	it.PKID,
	it.PKID as ItemID,
	it.Code as ItemCode,
	it.Description as ItemDescription,
	it.IsBatchwise as IsBatchwise,
	tc.Percentage as Tax,
	tc.PKID as TaxCategory,
	COALESCE(bst.BoughtQty, '0') as BBoughtQty,
	COALESCE(bst.SoldQty, '0') as BSoldQty,
	COALESCE(bst.BatchNo, '') as BBatchNo,
	COALESCE(bst.Expiry, '') as BExpiry,
	COALESCE(bst.Scheme, '0') as BScheme,
	COALESCE(bst.ShemeQty, '0') as BSchemeQty,
	COALESCE(bst.MRP, '0') as BMRP,
	COALESCE(bst.CostPrice, '0') as BCostPrice,
	COALESCE(bst.SellingPrice, '0') as BSellingPrice,
	ist.ClosingQty as ClosingQty,
	ist.CostPrice as CostPrice,
	ist.MRP as MRP,
	ist.OpeningQty as OpeningQty,
	ist.SellingPrice as SellingPrice,
	ic.Code as Company,
	COALESCE(ist.NoStockQty, '0') as NoStockQty,
	COALESCE(ist.DamageQty, '0') as DamageQty
	
	from t_Item it 
	inner join t_TaxCategory tc on it.TaxCategory = tc.PKID
	inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location
	inner join t_ItemCompany ic on it.ItemCompany = ic.PKID
	left join t_BatchwiseStock bst on it.PKID = bst.ItemID and bst.ServiceLocation = @location

	where it.IsActive = 1 and it.CompanyID = @companyID and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))
	
)

SELECT 
	PKID,
	  ItemID,
	 ItemCode,
	  ItemDescription,
	  IsBatchwise,
	  Tax,
	 TaxCategory,
	  BBoughtQty,
	  BSoldQty,
	  BBatchNo,
	  BExpiry,
	  BScheme,
	  BSchemeQty,
	  BMRP,
	  BCostPrice,
	  BSellingPrice,
	  ClosingQty,
	  CostPrice,
	  MRP,
	  OpeningQty,
	  SellingPrice,
	  Company,
	  NoStockQty,
	  DamageQty,
	  
	
      tCountOrders.CountOrders AS TotalRows 
FROM Orders_cte
    CROSS JOIN (SELECT Count(*) AS CountOrders FROM Orders_cte) AS tCountOrders

ORDER BY ItemCode asc
 
   

OFFSET @skipRows ROWS
FETCH NEXT @takeRows ROWS ONLY;
GO
