/****** Object:  StoredProcedure [dbo].[GetAllPurchaseReturn]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllPurchaseReturn]          
(          
@companyID BigInt,          
@query nvarchar(max),          
@fromDate datetime,          
@toDate datetime,          
@ServiceLocation bigint,    
@Status bigint    
          
)          
As          
          
          
          
select           
 it.PKID,          
 it.BillNo,          
 it.BillAmount,          
 it.TotalDiscount,          
 it.TaxTotal,          
 it.Miscellaneous,          
 it.BillDate,          
 it.ReturnBillNo,          
 pt.Name as PartyCode,          
 it.IsMatIssued,          
 it.MaterialIssueID,          
 --bt.Name as BillTypeDisplay,          
 it.Status as Status,
 it.CessAmount as CessAmount
 from t_PurchaseReturn it           
 inner join t_Party pt on it.PartyID = pt.PKID          
           
 --inner join t_BillType bt on bt.PKID = it.BillType          
           
          
 --and CAST(it.LastModifiedDate as date) >= CAST(@fromDate as date)  and  CAST(it.LastModifiedDate as date) <= CAST(@toDate as date)           
 where it.CompanyID = @companyID and it.ServiceLocation = @ServiceLocation and ( (it.BillNo like @query )  or  (pt.Name like @query ) or (it.ReturnBillNo like @query))          
          
 and CAST(it.BillDate as date) >= CAST(@fromDate as date)  and  CAST(it.BillDate as date) <= CAST(@toDate as date)
GO
