/****** Object:  StoredProcedure [dbo].[GET_NEXT_USER_SERVICE_LOCATION]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GET_NEXT_USER_SERVICE_LOCATION]
AS

 declare @NextNumber bigint
 
 SELECT @NextNumber=[current] + 1 FROM [t_Seq_UserServiceLocation]
 UPDATE [t_Seq_UserServiceLocation] SET [current] = @NextNumber

 Select @NextNumber
GO
