/****** Object:  StoredProcedure [dbo].[GetAllBatchwiseForSale]    Script Date: 17-06-2026 14:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  
  
CREATE procedure [dbo].[GetAllBatchwiseForSale]    
(    
@companyID BigInt,    
@location bigint,    
@expiryDays bigint    
    
)    
As    
    
    
    
    
    
select     
 it.PKID,    
 it.PKID as ItemID,    
 it.Code as ItemCode,    
 it.Description as ItemDescription,    
 it.IsBatchwise as IsBatchwise,    
 tc.Percentage as Tax,    
 tc.PKID as TaxCategory,    
 COALESCE(bst.BoughtQty, '0') as BBoughtQty,    
 COALESCE(bst.SoldQty, '0') as BSoldQty,    
 COALESCE(bst.BatchNo, '') as BBatchNo,    
 COALESCE(bst.Expiry, '') as BExpiry,    
 COALESCE(bst.Scheme, '0') as BScheme,    
 COALESCE(bst.ShemeQty, '0') as BSchemeQty,    
 COALESCE(bst.MRP, '0') as BMRP,    
 COALESCE(bst.CostPrice, '0') as BCostPrice,    
 COALESCE(bst.SellingPrice, '0') as BSellingPrice,    
 COALESCE(bst.FMCGRate, '0') as BFMCGRate,    
 COALESCE(bst.RegionalStockistPrice, '0') as BRegionalStockistPrice,    
 COALESCE(bst.SuperStockistPrice, '0') as BSuperStockistPrice,    
 COALESCE(bst.StockistPrice, '0') as BStockistPrice,    
 COALESCE(bst.DistributorPrice, '0') as BDistributorPrice,    
 COALESCE(bst.SubDistributorPrice, '0') as BSubDistributorPrice,    
 COALESCE(bst.SuperRetailerPrice, '0') as BSuperRetailerPrice,    
 COALESCE(bst.RetailerPrice, '0') as BRetailerPrice,    
    
 ist.ClosingQty as ClosingQty,    
 ist.CostPrice as CostPrice,    
 ist.MRP as MRP,    
 ist.OpeningQty as OpeningQty,    
 ist.SellingPrice as SellingPrice,    
    
 COALESCE(ist.RegionalStockistPrice, '0') as RegionalStockistPrice,    
 COALESCE(ist.SuperStockistPrice, '0') as SuperStockistPrice,    
 COALESCE(ist.StockistPrice, '0') as StockistPrice,    
 COALESCE(ist.DistributorPrice, '0') as DistributorPrice,    
 COALESCE(ist.SubDistributorPrice, '0') as SubDistributorPrice,    
 COALESCE(ist.SuperRetailerPrice, '0') as SuperRetailerPrice,    
 COALESCE(ist.RetailerPrice, '0') as RetailerPrice,    
    
 it.ItemNature as ItemNature,    
 ic.Code as Company,    
 ist.ClosingQty as InStockQty,    
 COALESCE(bst.Type, '0') as ItemType,    
 COALESCE(bst.ActualCostPrice, bst.CostPrice) as BActualCostPrice ,  
 bst.CreateDate as InwardDate,
 it.CessPercentage
    
    
 from t_Item it     
 inner join t_TaxCategory tc on it.TaxCategory = tc.PKID    
 inner join t_ItemwiseStock ist on it.PKID = ist.ItemId and ist.ServiceLocation = @location    
 left join t_BatchwiseStock bst on it.PKID = bst.ItemID and bst.ServiceLocation = @location    
 inner join t_ItemCompany ic on it.ItemCompany = ic.PKID    
    
 --where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 and bst.Type = 1 and ( DATEDIFF(dd, GETDATE(), bst.Expiry) > 90) ))   and ( (it.Code like '%' + @query + '%')  or  (it.Description like '%' + @query + '%' ))    
 where it.CompanyID = @companyID and ( (it.IsBatchwise != 1) or ( it.IsBatchwise = 1 and bst.Type = 1 and ( DATEDIFF(dd, GETDATE(), bst.Expiry) > @expiryDays) ))
GO
