USE [ESMCCMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[DCBSAMEMONTHCOLLEADJAmount]    Script Date: 15-06-2026 11:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure [dbo].[DCBSAMEMONTHCOLLEADJAmount] @DB varchar(50),@Month varchar(10),@Year varchar(10) as  SET NOCOUNT ON


Declare @sql3 varchar(max) 

set @sql3='select a.AllocationStatementID,a.AllocationMonth,a.AllocationYear,sum(c.Amount) Amount1  into #tmp from '+@DB+'CollectionAdjustments c 
inner join  '+@DB+'receipts r on c.ReceiptNo=r.ReceiptNo and month(c.adjustmentDate)=month(r.ReceiptDate) and year(c.adjustmentdate)=year(r.ReceiptDate) and paymenttypeid=22
inner join  AllocationStatement a on month(c.adjustmentDate)=a.AllocationMonth and year(c.adjustmentdate)=a.AllocationYear
where a.AllocationMonth='+@Month+' and a.AllocationYear='+@Year+'
group by a.AllocationStatementID,a.AllocationMonth,a.AllocationYear


update a1 set CollectionAdjAmount=Amount1
from #tmp a
inner join AllocationStatementDetails a1 on a.AllocationStatementID=a1.AllocationStatementID and a1.AllocationStatementPresetDataID=22'

exec(@sql3)
print 'Collectionadjamount Transferred'
print 'Complete !!!!!!!!!!!!'
GO
