USE [ESMCCMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_PreBillDetails]    Script Date: 15-06-2026 11:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_ETL_PreBillDetails] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 



Declare @Sql Varchar(Max) Set @Sql = '
select BillNo,DemandRaisedDate,ConsumerID,RRNo,BillDate,TransactionDate,ReadingDate,AreaID,MeterReaderID,ToSBMDate,DueDate,PoleID,LTFeederID,TransformerID,FeederID
,RevenueBillReasonID,AverageConsumption,TariffID,SanctionedLoad,SanctionedLoadUnitID,UnauthorisedLoad,UnauthorisedLoadUnitID,ConsumerName,MeterReaderCode,Metered,FromSBMDate
,BillStartDate,ECRatio,ECStartingDate,FCRatio,FCStartingDate,LineMinimumAmount,LineMinimumTax,MinimumAmountDue,TotalAmountDue,TotalDemand,GOKConsumption,ArrearBill
,BulkPowerSupplyCount,SBM,Billed,Printed,Updated,UpdatedDate,PrintedDate,PrintedTime,ODC,Remarks,ConsumerConnectionStatusID,CreatedBy,CreatedOn,ImagePath,CM,Latitude,Longitude
,0 LocationID,GetDate() dashboardupdated
from '+@DBName+'PreBillDetails a cross join '+@DBName+'Today
where Billed=1 
and month(DemandRaisedDate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(DemandRaisedDate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
Order by BillNo,ConsumerID
'exec (@Sql)

GO
