USE [ESMCCMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_Disconnection]    Script Date: 15-06-2026 11:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_Disconnection]
@Reading varchar(500)
AS
BEGIN
Declare @sql varchar(7000)

Set @sql='Select Consumer.ConsumerID,

        RRNO as SequenceNo,FileAs as Name,(LedgerNo+FolioNo) as LFNO, (Select Description from Tariffs    
         where Tariffs.TariffID=Consumer.TariffID) as Tariffs, (Select AreaName from MeterReadingAreas where MeterReadingAreaID    
         in (Select distinct(MeterReadingAreaID) from ReadingDateAreaAllocation RDA where    
         RDA.ReadingDateAreaAllocationID=Consumer.ReadingDateAreaAllocationID)) as Area,    
         (Select Description from ConsumerDisconnectionReasons where    
         ConsumerDisconnectionReasonID =ConsumerDisConnectionList.ConsumerDisconnectionReasonID) as Reasons, 
         (Select (Area.AreaName) + char(10) +(CD.StreetName) + char(10)+(City.CityName)   
         + char(10) + (Taluks.TalukName)+ char(0) +(CD.Pincode) from ConsumerAddressDetails CD    
         left outer join Area on CD.AreaID=Area.AreaID left outer join City on CD.CityID=City.CityID  
         left outer join Taluks on CD.TalukID=Taluks.TalukID  
         where CD.ConsumerID=Consumer.ConsumerID and CD.AddressCategoryID=5) as Address,  
         (ConsumerDisConnectionList.ArrearsAmount) as Amount,   
         ConsumerDisConnectionList.DoorNo from Consumer, ConsumerDisConnectionList    
         where(Consumer.ConsumerID = ConsumerDisConnectionList.ConsumerID)  
         and ConsumerDisConnectionList.ReadingDateAreaAllocationID in (' +@Reading+ ')  
         and ConsumerDisConnectionList.DisConnected=0 and  ConsumerDisConnectionList.DisConnectcancel=0'

Exec (@sql)

END

GO
