USE [ESMCCMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[MapAllConsumers]    Script Date: 15-06-2026 11:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MapAllConsumers](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)

select @sql='
select distinct dcb.ConsumerID,d.DistributionNodeUserDefinedFieldValue Lattitude,e.DistributionNodeUserDefinedFieldValue Longitude,t.Description,dcb.DCBID
from (select ConsumerID,TariffID,DCBID from DCBDetails with (nolock) where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') )dcb
left join (select tariffid tid,description from Tariffs) t on dcb.TariffID=t.tid
inner join (select ConsumerID,DistributionNodeID from Consumer with (nolock)) as c on dcb.ConsumerID=c.ConsumerID
Full join DistributionNodeSub d on c.DistributionNodeID=d.DistributionNodeID and d.DistributionNodeUserDefinedFieldID=52
Full join DistributionNodeSub e on c.DistributionNodeID=e.DistributionNodeID and e.DistributionNodeUserDefinedFieldID=53
where (case when dcb.ConsumerID is NULL then 1 else 0 end) = 0
and (case when d.DistributionNodeUserDefinedFieldValue is NULL then 1 else 0 end) = 0
and (case when e.DistributionNodeUserDefinedFieldValue is NULL then 1 else 0 end) = 0
'+@var+''
exec(@sql)

GO
