USE [ESMCCMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[Arrears]    Script Date: 15-06-2026 11:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Arrears] (@var varchar(1000),@Month varchar(10),@Year varchar(10),@LimitFrom varchar(10),@LimitTo varchar(10),@Date1 datetime,@Date2 datetime) as
declare @sql varchar(8000)
select @sql='

select *
from
(

select dcb.TariffID,dcb.WardName,count(*) as Total,isnull(sum(case when ConsumerConnectionStatusID=1 then 1 end),0) as Live,sum(dcb.Arrears) Arrears
from DCB dc 
inner join DCBDetails dcb on dc.DCBID=dcb.DCBID and DCBMonth='+@Month+' and DCBYear='+@Year+'
where dcb.arrears between  '+@LimitFrom+' and '+@LimitTo+'
'+@var+'
and dcb.ConsumerID in(select distinct  dcb1.ConsumerID
                                             from DCB dc 
                                             inner join DCBDetails as dcb1 on dc.DCBID=dcb1.DCBID 
                                             and convert(date,concat(dc.DCBYear,''-'',dc.DCBMonth,''-'',1),120) between  '''+ convert(varchar,@Date1,120) +''' and '''+convert(varchar,@Date2,120)+''' and dcb1.arrears>11 
                                              '+@var+')
group by dcb.TariffID,dcb.WardName) as P'

exec(@Sql)
GO
