USE [ESMCCMoodabidri]
GO
/****** Object:  StoredProcedure [dbo].[sp_WardWiseDCB]    Script Date: 15-06-2026 11:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Procedure [dbo].[sp_WardWiseDCB]
@DCBIDString varchar(500)
AS
SET NOCOUNT ON




--Declare @DCBIDString int select @DCBIDString = 89


;With DCB1 (ConsumerID,Installation,Consumption,Office,Location,Tariffs,WardName,BlockName,OB,Demand,Collection,Adjustments) as (
select d.ConsumerID,1 as Installation,sum(isnull(Consumption,0)) as Consumption,Officename as Office,LocationName as Location,t.Description as Tariffs,isnull(WardName,'-') as WardName
,(case when len(BlockName)<=6 then ' -' else (ltrim(rtrim(left(BlockName,6)))+(case when len(ltrim(rtrim(right(BlockName,len(BlockName)-6))))=1 then '0'+ltrim(rtrim(right(BlockName,len(BlockName)-6))) else ltrim(rtrim(right(BlockName,len(BlockName)-6))) end)) end) as BlockName
,round(sum((round((OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceDandR),2)+round((GOKOBFixedCharge+GOKOBEnergyCharge+GOKOBRevenueOthers),2)) + (round((OpeningBalanceInterest+OpeningBalanceSupervisionFee),2)+round((GOKOBInterest+GOKOBSupervisionFee),2)) + (round((OpeningBalanceTax+OpeningBalanceMeterRent),2)+round((GOKOBTax+GOKOBMeterRent),2))),0) as OB
,round(sum((round((DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),2)+round((GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers),2)) + (round((DemandInterest+DemandSupervisionFee),2)+round((GOKDemandInterest+GOKDemandSupervisionFee),2)) + (round((DemandTax+DemandMeterRent),2)+round((GOKDemandTax+GOKDemandMeterRent),2))),0) as Demand
,round(sum(round((CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionBalance+CollectionDRCharges+CollectionSuspense-CollectionDHAmount),2) + round((CollectionInterest+CollectionSupervisionFee),2) + round((CollectionTax+CollectionMeterRent),2)),0) as Collection

,sum(isnull(CollectionCBTransfer,0)+isnull(CollectionLTOLRevenueFixedCharge,0)+isnull(CollectionLTOLRevenueEnergyCharge,0)+isnull(CollectionLTOLRevenueOthers,0)+isnull(CollectionLTOLInterest,0)+isnull(CollectionLTOLTax,0)+isnull(CollectionLTOLSupervisionFee,0)+isnull(CollectionLTOLMeterRent,0)+isnull(CollectionLTOLBalance,0)+isnull(CollectionMiscToRevenueFixedCharge,0)+isnull(CollectionMiscToRevenueEnergyCharge,0)+isnull(CollectionMiscToRevenueOthers,0)+isnull(CollectionMiscToRevenueInterest,0)+isnull(CollectionMiscToRevenueTax,0)+isnull(CollectionMiscToRevenueSupervisionFee,0)+isnull(CollectionMiscToRevenueMeterRent,0)+isnull(CollectionMiscToRevenueBalance,0)+isnull(CollectionRevenueToMisc,0)+isnull(CollectionDepositToRevenueFixedCharge,0)+isnull(CollectionDepositToRevenueEnergyCharge,0)+isnull(CollectionDepositToRevenueOthers,0)
+isnull(CollectionDepositToRevenueInterest,0)+isnull(CollectionDepositToRevenueTax,0)+isnull(CollectionDepositToRevenueSupervisionFee,0)+isnull(CollectionDepositToRevenueMeterRent,0)+isnull(CollectionDepositToRevenueBalance,0)+isnull(CollectionWithdrawlsRevenueFixedCharge,0)+isnull(CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(CollectionWithdrawlsRevenueOthers,0)+isnull(CollectionWithdrawlsInterest,0)+isnull(CollectionWithdrawlsTax,0)+isnull(CollectionWithdrawlsSupervisionFee,0)+isnull(CollectionWithdrawlsMeterRent,0)+isnull(CollectionWithdrawlsBalance,0)+isnull(CollectionOfficeAdjustmentFixedCharge,0)+isnull(CollectionOfficeAdjustmentEnergyCharge,0)+isnull(CollectionOfficeAdjustmentOthers,0)+isnull(CollectionOfficeAdjustmentInterest,0)+isnull(CollectionOfficeAdjustmentTax,0)+isnull(CollectionOfficeAdjustmentSupervisionFee,0)
+isnull(CollectionOfficeAdjustmentMeterRent,0)+isnull(CollectionOfficeAdjustmentBalance,0)+isnull(CollectionOfficeLightingJVFixedCharge,0)+isnull(CollectionOfficeLightingJVEnergyCharge,0)+isnull(CollectionOfficeLightingJVOthers,0)+isnull(CollectionOfficeLightingJVInterest,0)+isnull(CollectionOfficeLightingJVTax,0)+isnull(CollectionOfficeLightingJVSupervisionFee,0)+isnull(CollectionOfficeLightingJVMeterRent,0)+isnull(CollectionOfficeLightingJVBalance,0)+isnull(CollectionLT6JVFixedCharge,0)+isnull(CollectionLT6JVEnergyCharge,0)+isnull(CollectionLT6JVRevenueOthers,0)+isnull(CollectionLT6JVInterest,0)+isnull(CollectionLT6JVTax,0)+isnull(CollectionLT6JVSupervisionFee,0)+isnull(CollectionLT6JVMeterRent,0)+isnull(CollectionLT6JVBalance,0)+isnull(CollectionJVOthers,0)+isnull(CollectionJVOthersBalance,0)+isnull(CollectionDisputeToJVFixedCharge,0)
+isnull(CollectionDisputeToJVEnergyCharge,0)+isnull(CollectionDisputeToJVRevenueOthers,0)+isnull(CollectionDisputeToJVInterest,0)+isnull(CollectionDisputeToJVTax,0)+isnull(CollectionDisputeToJVSupervisionFee,0)+isnull(CollectionDisputeToJVMeterRent,0)+isnull(CollectionDisputeToJVBalance,0)+isnull(GOKCollectionRevenueFixedCharge,0)+isnull(GOKCollectionRevenueEnergyCharge,0)+isnull(GOKCollectionRevenueOthers,0)+isnull(GOKCollectionInterest,0)+isnull(GOKCollectionTax,0)+isnull(GOKCollectionSupervisionFee,0)+isnull(GOKCollectionMeterRent,0)+isnull(GOKCollectionBalance,0)) as Adjustment
from DCBDetails d 
left outer join Consumer cn on cn.ConsumerID=d.ConsumerID
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=d.OLID
left outer join Office o on o.OfficeID=ola.OfficeID
left outer join Location L on l.LocationID=ola.LocationID
left outer join Tariffs t on t.TariffID=d.TariffID
where DCBID in (@DCBIDString)
group by o.OfficeName,l.LocationName,d.ConsumerID,t.Description,WardName,BlockName
union all
select 0,0,0,o.OfficeName,l.LocationName,'Z-Revenue Suspense' as Tariffs,'Z-Revenue Suspense' as WardName,'Z-Revenue Suspense' as BlockName
,0,0,isnull(als.Amount,0) as Coll,0 as Adj from AllocationStatementDetails  als
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=als.OLID
left outer join Office o on o.OfficeID=ola.OfficeID left outer join Location L on l.LocationID=ola.LocationID
where AllocationStatementID in (select AllocationStatementID from AllocationStatement left outer join DCB on DCBID in (@DCBIDString) where AllocationMonth=DCBMonth  and AllocationYear=DCBYear )
and AllocationStatementPresetDataID=22 and isnull(als.Amount,0)<>0 ) 


----- Ward wise DCB
select Installation,Consumption,Office,Location,Tariffs,WardName,BlockName
--,(case when WardName='ZRevenue Suspense' then 'Revenue Suspense' else Tariffs end) as Tariffs
--,(case when WardName='ZRevenue Suspense' then 'Revenue Suspense' else WardName end) as WardName
--,(case when WardName='ZRevenue Suspense' then 'Revenue Suspense' else BlockName end) as BlockName
,OB as TotalOB,Demand,Collection ,Adjustments,(case when WardName='Z-Revenue Suspense' then 0 else (OB+Demand)-(Collection+Adjustments) end) as ClosingBalance
from DCB1 d --where ConsumerID=12253
order by d.WardName

GO
