USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[MapArrears]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MapArrears](@var varchar(1000),@Month varchar(10),@Year varchar(10),@LimitFrom varchar(10),@LimitTo varchar(10),@Date1 datetime,@Date2 datetime) as
declare @sql varchar(4000)

select @sql='
select dcb.ConsumerID,d.DistributionNodeUserDefinedFieldValue Lattitude,e.DistributionNodeUserDefinedFieldValue Longitude,dcb.Arrears as Arrears,dcb.DCBID
from DCB dc 
inner join DCBDetails dcb on dc.DCBID=dcb.DCBID and DCBMonth='+@Month+' and DCBYear='+@Year+'
and (convert(varchar,concat(dc.DCBYear,''-'',dc.DCBMonth,''-'',dcb.ReadingDate),0) between '''+convert(varchar,@Date1,105)+''' and '''+convert(varchar,@Date2,105)+'''
and arrears-(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionInterest+CollectionTax+CollectionSupervisionFee+CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)+
CollectionSuspense-CollectionDHAmount)>10)
inner join (select ConsumerID,DistributionNodeID from Consumer) c on dcb.ConsumerID=c.ConsumerID
inner join DistributionNodeSub d on c.DistributionNodeID=d.DistributionNodeID and d.DistributionNodeUserDefinedFieldID=52
inner join DistributionNodeSub e on c.DistributionNodeID=e.DistributionNodeID and e.DistributionNodeUserDefinedFieldID=53
where (dcb.Arrears-(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+CollectionInterest+CollectionTax+CollectionSupervisionFee+CollectionMeterRent+CollectionBalance+
CollectionDRCharges,0)+CollectionSuspense-CollectionDHAmount) between '+@LimitFrom+' and '+@LimitTo+' )
'+@var+''
exec(@sql)
GO
