USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_Tariffwise_adjustment]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[sp_Tariffwise_adjustment](@TariffID varchar(5),@Year1 varchar(10),@Year2 varchar(10),@Year3 varchar(10),@Year4 varchar(10),@Year5 varchar(10) ) 


 
as
declare @sql varchar(max)

select @sql='


;WITH Tariffwise_adjustment as(
select c.ConsumerID,'+@TariffID+' as Tariff, OldValue,NewValue,
CASE
WHEN (d1.dcbyear in('+@Year1+') and d1.dcbmonth>=4 or d1.dcbyear in('+@Year2+') and d1.dcbmonth<=3)  THEN  ''Y1'' 
WHEN (d1.dcbyear in('+@Year2+') and d1.dcbmonth>=4 or d1.dcbyear in('+@Year3+') and d1.dcbmonth<=3)  THEN  ''Y2''   
WHEN (d1.dcbyear in('+@Year3+') and d1.dcbmonth>=4 or d1.dcbyear in('+@Year4+') and d1.dcbmonth<=3)  THEN  ''Y3''
WHEN (d1.dcbyear in('+@Year4+') and d1.dcbmonth>=4 or d1.dcbyear in('+@Year5+') and d1.dcbmonth<=3)  THEN  ''Y4''
END AS FYear
,isnull((cast((Round(sum(OpeningBalanceFixedCharge+OpeningBalanceEnergyCharge+OpeningBalanceRevenueOthers+OpeningBalanceInterest+OpeningBalanceTax+
OpeningBalanceSupervisionFee+OpeningBalanceMeterRent+OpeningBalanceDandR),0)+Round(sum(GOKOBFixedCharge+GOKOBEnergyCharge+ 
GOKOBRevenueOthers+GOKOBInterest+GOKOBTax+GOKOBSupervisionFee+GOKOBMeterRent),0)) as numeric(10,2))) ,0) as ob     

 from  dcb d1
inner  join dcbdetails d on d.dcbid=d1.dcbid 
inner join consumer c on d.consumerid=c.consumerid
inner join MasterDataAlterations m on  c.DistributionNodeID=m.DistributionNodeID  and dcbyear= year(EffectiveDate) and dcbmonth= month(EffectiveDate)
where MasterDataAlterationTypeID=2 and EffectiveDate between

 convert(varchar,concat('+@Year1+',''-'',''04'',''-'',''01''),0) and convert(varchar,concat('+@Year5+',''-'',''03'',''-'',''31''),0)
and (OldValue='+@TariffID+' or NewValue ='+@TariffID+') and  dcbyear=year(effectivedate) and DCBMonth=month(EffectiveDate)
group by c.consumerid,wardname,OldValue,NewValue,
CASE
WHEN (d1.dcbyear in ('+@Year1+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year2+') and d1.dcbmonth<=3)  THEN  ''Y1'' 
WHEN (d1.dcbyear in ('+@Year2+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year3+') and d1.dcbmonth<=3)  THEN  ''Y2''   
WHEN (d1.dcbyear in ('+@Year3+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year4+') and d1.dcbmonth<=3)  THEN  ''Y3''
WHEN (d1.dcbyear in ('+@Year4+') and d1.dcbmonth>=4 or d1.dcbyear in ('+@Year5+') and d1.dcbmonth<=3)  THEN  ''Y4''
END)

select Tariff,OldValue,NewValue,FYear,sum(ob+0) as cb from Tariffwise_adjustment
group by Tariff,OldValue,NewValue,FYear
order by FYear'


exec(@sql)

GO
