USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[sp_TariffWiseDCBNew1]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Procedure [dbo].[sp_TariffWiseDCBNew1]
@FromDate varchar(20) ,
@ToDate varchar(20)

AS
SET NOCOUNT ON








GO
