USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[MapPercentageConsumption]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[MapPercentageConsumption](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)

select @sql='

select A.ConsumerID,A.WardName,Lattitude,Longitude,case when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4))<10 then ''Below 10%''
when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4)) between 10 and 20 then ''10-20%''
when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4)) between 20 and 40 then ''20-40%''
when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4))>40 then ''Above 40%'' end PercentageConsumption,
case when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4))<10 then ''r''
when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4)) between 10 and 20 then ''b''
when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4)) between 20 and 40 then ''y''
when cast((A.Consumption/B.TConsumption)*100 as decimal(10,4))>40 then ''g'' end Icon,DCBID
from (
select distinct dcb.ConsumerID,WardName,d.DistributionNodeUserDefinedFieldValue Lattitude,e.DistributionNodeUserDefinedFieldValue Longitude,consumption,dcb.DCBID
from DCBDetails dcb
inner join(select ConsumerID,DistributionNodeID from Consumer ) as c on dcb.ConsumerID=c.ConsumerID
inner join DistributionNodeSub d on c.DistributionNodeID=d.DistributionNodeID and d.DistributionNodeUserDefinedFieldID=52
inner join DistributionNodeSub e on c.DistributionNodeID=e.DistributionNodeID and e.DistributionNodeUserDefinedFieldID=53
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') and ConsumerConnectionStatusID=1
'+@var+') as A

inner join
(select WardName,sum(Consumption) TConsumption
from DCBDetails dcb
inner join (select tariffid tid,description from tariffs) as t on t.tid=dcb.tariffid
where DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+') and ConsumerConnectionStatusID=1
and Consumption<>0 '+@var+'
group by WardName) as B on A.WardName=B.WardName'

exec(@sql)
GO
