USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[MapAllConsumers]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[MapAllConsumers](@var varchar(1000),@Month varchar(10),@Year varchar(10)) as
declare @sql varchar(4000)

select @sql='
select distinct dcb.ConsumerID,d.DistributionNodeUserDefinedFieldValue Lattitude,e.DistributionNodeUserDefinedFieldValue Longitude,t.Description,dcb.DCBID
from DCBDetails dcb
inner join (select ConsumerID,DistributionNodeID from Consumer ) as c on dcb.ConsumerID=c.ConsumerID
inner join DistributionNodeSub d on c.DistributionNodeID=d.DistributionNodeID and d.DistributionNodeUserDefinedFieldID=52
inner join DistributionNodeSub e on c.DistributionNodeID=e.DistributionNodeID and e.DistributionNodeUserDefinedFieldID=53
left join (select tariffid tid,description from Tariffs) t on dcb.TariffID=t.tid
where dcb.DCBID in(select DCBID from DCB where DCBMonth='+@Month+' and DCBYear='+@Year+')
'+@var+''
exec(@sql)
GO
