USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[SP_CDemandConsolidated]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--exec SP_CDemandConsolidated @wardname='KADIYALI',@year1=2012, @FromYear='2015',@ToYear='2016' 

/*
Declare @wardname varchar(100) set @wardname='KOLA'
Declare @Year1 varchar(10) set @Year1='2012'
Declare @FromYear varchar(10) set @FromYear='2015'
Declare @ToYear varchar(10) set @ToYear='2016'*/
CREATE PROCEDURE [dbo].[SP_CDemandConsolidated](@wardname varchar(100),@year1 varchar(10),@FromYear varchar(10),@ToYear varchar(10) ) 

/*
Declare @wardname varchar(100) set @wardname='KOLA'
Declare @FromYear varchar(10) set @FromYear='2012'
Declare @ToYear varchar(10) set @ToYear='2013'
 */


as
declare @sql varchar(max)

select @sql='



with DCB1(ConsumerID,WardName, month,dcbyear, Amountdue,Collection) 
as
( select  a.ConsumerID  ConsumerID,A.WardName WardName,A.DCBmonth month ,dcbyear, 



isnull(cast((Round(sum(DemandRevenueFixedCharge+DemandRevenueEnergyCharge+DemandRevenueOthers+DemandInterest+DemandTax+
DemandSupervisionFee+ DemandMeterRent+PFPenalty+OtherCharges+Rebate+DemandCorrection+DemandDRCharges+DemandRoundOff),0)
+Round(Sum(GOKDemandRevenueFixedCharge+GOKDemandRevenueEnergyCharge+GOKDemandRevenueOthers+GOKDemandInterest
+GOKDemandTax+GOKDemandSupervisionFee+GOKDemandMeterRent),0)) as NUMERIC(10,2)),0)as AmountDue,

isnull(CAST(Sum(Round(CollectionRevenueFixedCharge+CollectionRevenueEnergyCharge+CollectionRevenueOthers+
CollectionInterest+CollectionTax+CollectionSupervisionFee+ CollectionMeterRent+CollectionBalance+CollectionDRCharges,0)
+CollectionSuspense-CollectionDHAmount) as NUMERIC(10,2)),0) as Collection

 from ( select ConsumerID,wardname,DCBID,dcbyear,dcbmonth FROM (select  DCBID,dcbyear,dcbmonth from DCB D1 
where (dcbyear in('+@FromYear+') and dcbmonth>=4) or (dcbyear in('+@ToYear+') and dcbmonth<=3) ) A
 Cross Join (select Distinct ConsumerID,wardname  from DCBDetails d where
dcbid in (select dcbid from dcb  where  
 convert(varchar,concat(DCBYear,''-'',DCBMonth,''-'',d.readingdate),0) 
between convert(varchar,concat('+@Year1+',''-'',''04'',''-'',''01''),0) and convert(varchar,concat('+@ToYear+',''-'',''03'',''-'',''31''),0)
and  DCBID=d.DCBID)  and  wardname='''+@wardname+''' )  as B  ) as A 
left outer Join ( select d.* from DCBDetails d 
  where DCBID in (select DCBID from DCB  
 where (dcbyear in('+@FromYear+') and dcbmonth>=4) or (dcbyear in('+@ToYear+') and dcbmonth<=3)  and dcb.DCBID=d.DCBID)
 and wardname = '''+@wardname+''') as B on b.ConsumerID=a.ConsumerID and a.dcbid=b.dcbid
 
 Group By a.ConsumerID,A.WardName,A.DCBmonth,dcbyear) 

select wardname,month,dcbyear,sum(Amountdue) amountdue,sum(collection) collection from DCB1

  group by wardname,month,dcbyear order by dcbyear,month '

exec(@sql)
--select @sql
-- where Amountdue<>0


GO
