USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[ArrearsDT]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ArrearsDT] @DB varchar(50),@Month varchar(10),@Year varchar(10) as





Declare @sql varchar(max) 

set @sql='

--select  dcbdetailsid,C.Amount  
update DCBDetails set Arrears=C.Amount 
from DCBDetails B 
inner join DCB A on A.DCBID=B.DCBID and A.DCBYear='+@Year+'  and A.DCBMonth='+@Month+'
inner join '+@DB+'ConsumerArrears C on B.ConsumerID=C.ConsumerID and C.Arrears=1 and month(C.BillDate)='+@Month+' and year(C.BillDate)='+@Year

exec (@sql)

GO
