USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_ConsumerLedgerDemands]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_ETL_ConsumerLedgerDemands] @DBID int,@month Varchar(2),@year Varchar(4) AS 

--Declare @DBID Varchar(5) select @DBID = 22
Declare @DBName varchar(50) select @DBName = (( SELECT concat(DatabaseDescription,'.dbo.') FROM Common.dbo.DatabaseLinks where DatabaseLinkID = @DBID )) 


Declare @Sql Varchar(Max) Set @Sql = '
select ConsumerLedgerDemandsID,ConsumerID,BillNo,BillDate,DueDate,BillAmount,Balance,TransSequenceID
,GetDate() dashboardupdated  
from '+@DBName+'ConsumerLedgerDemands a cross join '+@DBName+'Today
where month(billdate) = (case when '+@month+' = 0 then month(today) else '+@month+' end)
and year(billdate) = (case when '+@year+' = 0 then year(today) else '+@year+' end)
Order by ConsumerLedgerDemandsID
'exec (@Sql)


GO
