USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[SP_ESMCCMaster]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ESMCCMaster]
	@ESRUdupi varchar(200)


AS 
SET NOCOUNT ON




ALTER TABLE Address NOCHECK CONSTRAINT all ALTER TABLE AddressCategory NOCHECK CONSTRAINT all ALTER TABLE AllocationStatement NOCHECK CONSTRAINT all
ALTER TABLE AllocationStatementPresetData NOCHECK CONSTRAINT all ALTER TABLE ApplicationDetails NOCHECK CONSTRAINT all ALTER TABLE Area NOCHECK CONSTRAINT all
ALTER TABLE City NOCHECK CONSTRAINT all ALTER TABLE CollectionAdjustmentTypes NOCHECK CONSTRAINT all ALTER TABLE ComplaintTypes NOCHECK CONSTRAINT all
ALTER TABLE Consumer NOCHECK CONSTRAINT all ALTER TABLE ConsumerAddressDetails NOCHECK CONSTRAINT all ALTER TABLE ConsumerAttributes NOCHECK CONSTRAINT all
ALTER TABLE ConsumerClosingBalanceDetails NOCHECK CONSTRAINT all ALTER TABLE ConsumerClosingBalanceDetailsSub NOCHECK CONSTRAINT all ALTER TABLE ConsumerConnectionStatus NOCHECK CONSTRAINT all
ALTER TABLE ConsumerDepositDetails NOCHECK CONSTRAINT all ALTER TABLE ConsumerDepositReceiptDetails NOCHECK CONSTRAINT all ALTER TABLE ConsumerDisConnectionList NOCHECK CONSTRAINT all
ALTER TABLE ConsumerDisconnectionReasons NOCHECK CONSTRAINT all ALTER TABLE ConsumerLoginAllocation NOCHECK CONSTRAINT all ALTER TABLE ConsumerLogins NOCHECK CONSTRAINT all
ALTER TABLE ConsumerPaymentDetails NOCHECK CONSTRAINT all ALTER TABLE ConsumerPaymentReceiptDetails NOCHECK CONSTRAINT all ALTER TABLE ConsumerPremises NOCHECK CONSTRAINT all
ALTER TABLE ConsumerRebates NOCHECK CONSTRAINT all ALTER TABLE ContactAddressDetails NOCHECK CONSTRAINT all ALTER TABLE ContactCategories NOCHECK CONSTRAINT all
ALTER TABLE ContactCategoryAllocation NOCHECK CONSTRAINT all ALTER TABLE ContactCategoryDepositAllocation NOCHECK CONSTRAINT all ALTER TABLE ContactCategoryDocumentAllocation NOCHECK CONSTRAINT all
ALTER TABLE ContactCategoryPaymentAllocation NOCHECK CONSTRAINT all ALTER TABLE ContactEmailDetails NOCHECK CONSTRAINT all ALTER TABLE ContactPhoneDetails NOCHECK CONSTRAINT all
ALTER TABLE Contacts NOCHECK CONSTRAINT all ALTER TABLE Country NOCHECK CONSTRAINT all ALTER TABLE DCB NOCHECK CONSTRAINT all
ALTER TABLE DCBAttributeDetails NOCHECK CONSTRAINT all ALTER TABLE DCBConsumptionDetails NOCHECK CONSTRAINT all ALTER TABLE DCBDetails NOCHECK CONSTRAINT all
ALTER TABLE DCBRebateDetails NOCHECK CONSTRAINT all ALTER TABLE DCBSlabConsumptionDetails NOCHECK CONSTRAINT all ALTER TABLE DemandChargeMainTypes NOCHECK CONSTRAINT all
ALTER TABLE DemandCharges NOCHECK CONSTRAINT all ALTER TABLE DemandChargeTypes NOCHECK CONSTRAINT all ALTER TABLE Department NOCHECK CONSTRAINT all
ALTER TABLE Deposits NOCHECK CONSTRAINT all ALTER TABLE Designation NOCHECK CONSTRAINT all ALTER TABLE DistributionInspectionOptions NOCHECK CONSTRAINT all
ALTER TABLE DistributionInspectionSchedules NOCHECK CONSTRAINT all ALTER TABLE DistributionMaintenance NOCHECK CONSTRAINT all ALTER TABLE DistributionMaintenanceDetails NOCHECK CONSTRAINT all
ALTER TABLE DistributionMaintenanceReasons NOCHECK CONSTRAINT all ALTER TABLE DistributionMaintenanceReasonTypes NOCHECK CONSTRAINT all ALTER TABLE DistributionNodeDetails NOCHECK CONSTRAINT all
ALTER TABLE DistributionNodeDetailsSub NOCHECK CONSTRAINT all ALTER TABLE DistributionNodeInterruptionDetails NOCHECK CONSTRAINT all ALTER TABLE DistributionNodeInterruptions NOCHECK CONSTRAINT all
ALTER TABLE DistributionNodeInterruptionTypes NOCHECK CONSTRAINT all ALTER TABLE DistributionNodeMNRList NOCHECK CONSTRAINT all ALTER TABLE DistributionNodeReadingDetails NOCHECK CONSTRAINT all
ALTER TABLE DistributionNodeReadings NOCHECK CONSTRAINT all ALTER TABLE DistributionNodes NOCHECK CONSTRAINT all ALTER TABLE DistributionNodeTypes NOCHECK CONSTRAINT all
ALTER TABLE DistributionNodeUserDefinedFields NOCHECK CONSTRAINT all ALTER TABLE Districts NOCHECK CONSTRAINT all ALTER TABLE DocumentTypes NOCHECK CONSTRAINT all
ALTER TABLE dtproperties NOCHECK CONSTRAINT all ALTER TABLE ElectricalAccidents NOCHECK CONSTRAINT all ALTER TABLE ElectricalAccidentStatus NOCHECK CONSTRAINT all
ALTER TABLE ElectricalAccidentVictimTypes NOCHECK CONSTRAINT all ALTER TABLE EmailCategory NOCHECK CONSTRAINT all ALTER TABLE Employee NOCHECK CONSTRAINT all
ALTER TABLE EmployeeCategories NOCHECK CONSTRAINT all ALTER TABLE ExternalOrganisationBranches NOCHECK CONSTRAINT all ALTER TABLE ExternalOrganisationBranchLocationTypes NOCHECK CONSTRAINT all
ALTER TABLE ExternalOrganisations NOCHECK CONSTRAINT all ALTER TABLE ExternalOrganisationTypes NOCHECK CONSTRAINT all ALTER TABLE FeederPhaseTypes NOCHECK CONSTRAINT all
ALTER TABLE GovernmentOrganisations NOCHECK CONSTRAINT all ALTER TABLE GovernmentOrganisationTypes NOCHECK CONSTRAINT all ALTER TABLE GramPanchayats NOCHECK CONSTRAINT all
ALTER TABLE InstallationCategories NOCHECK CONSTRAINT all ALTER TABLE Location NOCHECK CONSTRAINT all ALTER TABLE MasterDataAlterationMainTypes NOCHECK CONSTRAINT all
ALTER TABLE MasterDataAlterations NOCHECK CONSTRAINT all ALTER TABLE MasterDataAlterationTypes NOCHECK CONSTRAINT all ALTER TABLE MaterialMovementRegister NOCHECK CONSTRAINT all
ALTER TABLE MeterReadingAreas NOCHECK CONSTRAINT all ALTER TABLE MeterReleasedAndReplacements NOCHECK CONSTRAINT all ALTER TABLE MMRDetails NOCHECK CONSTRAINT all
ALTER TABLE MMROtherDetails NOCHECK CONSTRAINT all ALTER TABLE NameSuffix NOCHECK CONSTRAINT all ALTER TABLE NameTitle NOCHECK CONSTRAINT all
ALTER TABLE ODLDAllocation NOCHECK CONSTRAINT all ALTER TABLE Office NOCHECK CONSTRAINT all ALTER TABLE OfficeLocationAllocation NOCHECK CONSTRAINT all
ALTER TABLE OfficeLocationDepartmentAddress NOCHECK CONSTRAINT all ALTER TABLE OfficeLocationDepartmentAllocation NOCHECK CONSTRAINT all ALTER TABLE OfficeLocationDepartmentPhoneDetails NOCHECK CONSTRAINT all
ALTER TABLE PhoneCategory NOCHECK CONSTRAINT all ALTER TABLE PremisedLocationTypes NOCHECK CONSTRAINT all ALTER TABLE Processes NOCHECK CONSTRAINT all
ALTER TABLE ReadingdateAreaAllocation NOCHECK CONSTRAINT all ALTER TABLE RevenueBillReasons NOCHECK CONSTRAINT all ALTER TABLE RevenueBillTypes NOCHECK CONSTRAINT all
ALTER TABLE RevenueLedger NOCHECK CONSTRAINT all ALTER TABLE ScheduleTypes NOCHECK CONSTRAINT all ALTER TABLE State NOCHECK CONSTRAINT all
ALTER TABLE Stock NOCHECK CONSTRAINT all ALTER TABLE sysdiagrams NOCHECK CONSTRAINT all ALTER TABLE Taluks NOCHECK CONSTRAINT all
ALTER TABLE Tariffs NOCHECK CONSTRAINT all ALTER TABLE UnitOfMeasure NOCHECK CONSTRAINT all ALTER TABLE Users NOCHECK CONSTRAINT all
ALTER TABLE Villages NOCHECK CONSTRAINT all ALTER TABLE VoltageClass NOCHECK CONSTRAINT all ALTER TABLE WorkTypes NOCHECK CONSTRAINT all








Declare @ConsumerBillingCycles table (ConsumerBillingCycleID Int,Description varchar(50),Duration Int)
Declare @ConsumerBillingCyclesSql varchar(Max) Set @ConsumerBillingCyclesSql='
select ConsumerBillingCycleID,Description,Duration from '+@ESRUdupi+'ConsumerBillingCycles
' insert into @ConsumerBillingCycles exec (@ConsumerBillingCyclesSql)


 update c1 set c1.Description=c.Description,c1.Duration=c.Duration
from @ConsumerBillingCycles c inner join ConsumerBillingCycles c1 on c1.ConsumerBillingCycleID=c.ConsumerBillingCycleID

insert into ConsumerBillingCycles (ConsumerBillingCycleID,Description,Duration)
select * from @ConsumerBillingCycles where ConsumerBillingCycleID not in ( select ConsumerBillingCycleID from ConsumerBillingCycles )




Declare @DCBTariffs table (DCBTariffID Int,TariffID Int,VoltageClassID Int)
Declare @DCBTariffsSql varchar(Max) Set @DCBTariffsSql='
select isnull(UnderTariffID,0),TariffID,VoltageClassID from '+@ESRUdupi+'Tariffs where isnull(UnderTariffID,0)<>0 union all
select TariffID,TariffID,VoltageClassID from '+@ESRUdupi+'Tariffs where isnull(UnderTariffID,0)=0 and TariffID not in (select isnull(UnderTariffID,0) from '+@ESRUdupi+'Tariffs)
' insert into @DCBTariffs exec (@DCBTariffsSql)


 update c1 set c1.DCBTariffID=c.DCBTariffID,c1.VoltageClassID=c.VoltageClassID
from @DCBTariffs c inner join DCBTariffAllocation c1 on c1.TariffID=c.TariffID

insert into DCBTariffAllocation (DCBTariffID,TariffID,VoltageClassID)
select * from @DCBTariffs where TariffID not in ( select TariffID from DCBTariffAllocation )




Declare @Country table (CountryID Int,CountryName varchar(50),CountryCode varchar(20),DefaultCountry Int)
Declare @CountrySql varchar(Max) Set @CountrySql='
select CountryID,CountryName,CountryCode,DefaultCountry from '+@ESRUdupi+'Country
' insert into @Country exec (@CountrySql)


 update c1 set c1.CountryName=c.CountryName,c1.CountryCode=c.CountryCode,c1.DefaultCountry=c.DefaultCountry
from @Country c inner join Country c1 on c1.CountryID=c.CountryID

insert into Country (CountryID,CountryName,CountryCode,DefaultCountry)
select * from @Country where CountryID not in ( select CountryID from Country )





Declare @State table (StateID Int,CountryID Int,StateName varchar(50))
Declare @StateSql varchar(Max) Set @StateSql='
select StateID,CountryID,StateName from '+@ESRUdupi+'State
' insert into @State exec (@StateSql)


 update s1 set s1.CountryID=s.CountryID,s1.StateName=s.StateName
from @State s inner join State s1 on s1.StateID=s.StateID

insert into State (StateID,CountryID,StateName)
select * from @State where StateID not in ( select StateID from State )





Declare @Districts table (DistrictID Int,DistrictName varchar(50),DistrictCode varchar(20),StateID Int)
Declare @DistrictsSql varchar(Max) Set @DistrictsSql='
select DistrictID,DistrictName,DistrictCode,StateID from '+@ESRUdupi+'Districts
' insert into @Districts exec (@DistrictsSql)


 update d1 set d1.DistrictName=d.DistrictName,d1.DistrictCode=d.DistrictCode,d1.StateID=d.StateID
from @Districts d inner join Districts d1 on d1.DistrictID=d.DistrictID

insert into Districts (DistrictID,DistrictName,DistrictCode,StateID)
select * from @Districts where DistrictID not in ( select DistrictID from Districts )





Declare @City table (CityID Int,StateID Int,CityName varchar(50))
Declare @CitySql varchar(Max) Set @CitySql='
select CityID,StateID,CityName from '+@ESRUdupi+'City
' insert into @City exec (@CitySql)


 update ct1 set ct1.StateID=ct.StateID,ct1.CityName=ct.CityName
from @City ct  inner join City ct1 on ct1.CityID=ct.CityID

insert into City (CityID,StateID,CityName)
select * from @City where CityID not in ( select CityID from City )





Declare @Area table (AreaID Int,CityID Int,AreaName varchar(100),PinCode varchar(20))
Declare @AreaSql varchar(Max) Set @AreaSql='
select AreaID,CityID,AreaName,PinCode from '+@ESRUdupi+'Area
' insert into @Area exec (@AreaSql)


 update a1 set a1.CityID=a.CityID,a1.AreaName=a.AreaName,a1.PinCode=a.PinCode
from @Area a inner join Area a1 on a1.AreaID=a.AreaID

insert into Area (AreaID,CityID,AreaName,PinCode)
select * from @Area where AreaID not in ( select AreaID from Area )





Declare @Taluks table (TalukID Int,TalukName varchar(50),TalukCode varchar(20),DistrictID Int)
Declare @TaluksSql varchar(Max) Set @TaluksSql='
select TalukID,TalukName,TalukCode,DistrictID from '+@ESRUdupi+'Taluks
' insert into @Taluks exec (@TaluksSql)


 update t1 set t1.TalukName=t.TalukName,t1.TalukCode=t.TalukCode,t1.DistrictID=t.DistrictID
from @Taluks t  inner join Taluks t1 on t1.TalukID=t.TalukID

insert into Taluks (TalukID,TalukName,TalukCode,DistrictID)
select * from @Taluks where TalukID not in ( select TalukID from Taluks )





Declare @GramPanchayats table (GramPanchayatID Int,GramPanchayatName varchar(50),GramPanchayatCode varchar(50),TalukID Int)
Declare @GramPanchayatsSql varchar(Max) Set @GramPanchayatsSql='
select GramPanchayatID,GramPanchayatName,GramPanchayatCode,TalukID from '+@ESRUdupi+'GramPanchayats
' insert into @GramPanchayats exec (@GramPanchayatsSql)


 update gp1 set gp1.GramPanchayatName=gp.GramPanchayatName,gp1.GramPanchayatCode=gp.GramPanchayatCode,gp1.TalukID=gp.TalukID
from @GramPanchayats gp  inner join GramPanchayats gp1 on gp1.GramPanchayatID=gp.GramPanchayatID

insert into GramPanchayats (GramPanchayatID,GramPanchayatName,GramPanchayatCode,TalukID)
select * from @GramPanchayats where GramPanchayatID not in ( select GramPanchayatID from GramPanchayats )





Declare @Villages table (VillageID Int,VillageName varchar(50),VillageCode varchar(20),GramPanchayatID Int)
Declare @VillagesSql varchar(Max) Set @VillagesSql='
select VillageID,VillageName,VillageCode,GramPanchayatID from '+@ESRUdupi+'Villages
' insert into @Villages exec (@VillagesSql)


 update v1 set v1.VillageName=v.VillageName,v1.VillageCode=v.VillageCode,v1.GramPanchayatID=v.GramPanchayatID
from @Villages v  inner join Villages v1 on v1.VillageID=v.VillageID

insert into Villages (VillageID,VillageName,VillageCode,GramPanchayatID)
select * from @Villages where VillageID not in ( select VillageID from Villages )





Declare @Office table (OfficeID Int,OfficeName varchar(50),OfficeCode varchar(20),UnderOfficeID Int,FileAs varchar(50))
Declare @OfficeSql varchar(Max) Set @OfficeSql='
select OfficeID,OfficeName,OfficeCode,UnderOfficeID,FileAs from '+@ESRUdupi+'Office
' insert into @Office exec (@OfficeSql)


 update o1 set o1.OfficeName=o.OfficeName,o1.OfficeCode=o.OfficeCode,o1.UnderOfficeID=o.UnderOfficeID,o1.FileAs=o.FileAs
from @Office o  inner join Office o1 on o1.OfficeID=o.OfficeID

insert into Office (OfficeID,OfficeName,OfficeCode,UnderOfficeID,FileAs)
select * from @Office where OfficeID not in ( select OfficeID from Office )





Declare @Location table (LocationID Int,LocationName varchar(50))
Declare @LocationSql varchar(Max) Set @LocationSql='
select LocationID,LocationName from '+@ESRUdupi+'Location
' insert into @Location exec (@LocationSql)


 update l1 set l1.LocationName=l.LocationName
from @Location l  inner join Location l1 on l1.LocationID=l.LocationID

insert into Location (LocationID,LocationName)
select * from @Location where LocationID not in ( select LocationID from Location )





Declare @Department table (DepartmentID Int,DepartmentName varchar(50),DepartmentCode varchar(20))
Declare @DepartmentSql varchar(Max) Set @DepartmentSql='
select DepartmentID,DepartmentName,DepartmentCode from '+@ESRUdupi+'Department
' insert into @Department exec (@DepartmentSql)


 update dp1 set dp1.DepartmentName=dp.DepartmentName,dp1.DepartmentCode=dp.DepartmentCode
from @Department dp  inner join Department dp1 on dp1.DepartmentID=dp.DepartmentID

insert into Department (DepartmentID,DepartmentName,DepartmentCode)
select * from @Department where DepartmentID not in ( select DepartmentID from Department )





Declare @Designation table (DesignationID Int,DesignationName varchar(50),DesignationCode varchar(20))
Declare @DesignationSql varchar(Max) Set @DesignationSql='
select DesignationID,DesignationName,DesignationCode from '+@ESRUdupi+'Designation
' insert into @Designation exec (@DesignationSql)


 update dn1 set dn1.DesignationName=dn.DesignationName,dn1.DesignationCode=dn.DesignationCode
from @Designation dn inner join Designation dn1 on dn1.DesignationID=dn.DesignationID

insert into Designation (DesignationID,DesignationName,DesignationCode)
select * from @Designation where DesignationID not in ( select DesignationID from Designation )





Declare @ASPD table (AllocationStatementPresetDataID Int,Description varchar(500),FromMainAccountCode varchar(20),FromSubAccountCode varchar(20),ToMainAccountCode varchar(20),ToSubAccountCode varchar(20))
Declare @ASPDSql varchar(Max) Set @ASPDSql='
select AllocationStatementPresetDataID,Description,RevenueDemandMainAccountCode,RevenueDemandSubAccountCode,BalanceCollectionMainAccountCode,BalanceCollectionSubAccountCode from '+@ESRUdupi+'AllocationStatementPresetData
' insert into @ASPD exec (@ASPDSql)


 update a1 set a1.Description=a.Description,a1.FromMainAccountCode=a.FromMainAccountCode,a1.FromSubAccountCode=a.FromSubAccountCode,a1.ToMainAccountCode=a.ToMainAccountCode,a1.ToSubAccountCode=a.ToSubAccountCode
from @ASPD a inner join AllocationStatementPresetData a1 on a1.AllocationStatementPresetDataID=a.AllocationStatementPresetDataID 

insert into AllocationStatementPresetData (AllocationStatementPresetDataID,Description,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode)
select * from @ASPD where AllocationStatementPresetDataID not in ( select AllocationStatementPresetDataID from AllocationStatementPresetData )





Declare @Address table (AddressID Int,Description varchar(500))
Declare @AddressSql varchar(Max) Set @AddressSql='
select AddressID,Description from '+@ESRUdupi+'Address
' insert into @Address exec (@AddressSql)


 update a1 set a1.Description=a.Description
from @Address a inner join Address a1 on a1.AddressID=a.AddressID

insert into Address (AddressID,Description)
select * from @Address where AddressID not in ( select AddressID from Address )





Declare @AddCate table (AddressCategoryID Int,Description varchar(50))
Declare @AddCateSql varchar(Max) Set @AddCateSql='
select AddressCategoryID,Description from '+@ESRUdupi+'AddressCategory
' insert into @AddCate exec (@AddCateSql)


 update acg set acg.Description=ac.Description
from @AddCate ac inner join AddressCategory acg on acg.AddressCategoryID=ac.AddressCategoryID

insert into AddressCategory (AddressCategoryID,Description)
select * from @AddCate where AddressCategoryID not in ( select AddressCategoryID from AddressCategory )






Declare @FeederPhaseTypes table (FeederPhaseTypeID Int,Description varchar(100))
Declare @FeederPhaseTypesSql varchar(Max) Set @FeederPhaseTypesSql='
select FeederPhaseTypeID,Description from '+@ESRUdupi+'FeederPhaseTypes
' insert into @FeederPhaseTypes exec (@FeederPhaseTypesSql)


 update a1 set a1.Description=a.Description
from @FeederPhaseTypes a inner join FeederPhaseTypes a1 on a1.FeederPhaseTypeID=a.FeederPhaseTypeID

insert into FeederPhaseTypes (FeederPhaseTypeID,Description)
select * from @FeederPhaseTypes where FeederPhaseTypeID not in ( select FeederPhaseTypeID from FeederPhaseTypes )






Declare @DistributionNodeUserDefinedFields table (DistributionNodeUserDefinedFieldID Int,Description varchar(100))
Declare @DistributionNodeUserDefinedFieldsSql varchar(Max) Set @DistributionNodeUserDefinedFieldsSql='
select DistributionNodeUserDefinedFieldID,Description from '+@ESRUdupi+'DistributionNodeUserDefinedFields
' insert into @DistributionNodeUserDefinedFields exec (@DistributionNodeUserDefinedFieldsSql)


 update a1 set a1.Description=a.Description
from @DistributionNodeUserDefinedFields a inner join DistributionNodeUserDefinedFields a1 on a1.DistributionNodeUserDefinedFieldID=a.DistributionNodeUserDefinedFieldID

insert into DistributionNodeUserDefinedFields (DistributionNodeUserDefinedFieldID,Description)
select * from @DistributionNodeUserDefinedFields where DistributionNodeUserDefinedFieldID not in ( select DistributionNodeUserDefinedFieldID from DistributionNodeUserDefinedFields )






Declare @ConsumerRebates table (ConsumerRebateID Int,Description varchar(50))
Declare @ConsumerRebatesSql varchar(Max) Set @ConsumerRebatesSql='
select ConsumerRebateID,Description from '+@ESRUdupi+'ConsumerRebates
' insert into @ConsumerRebates exec (@ConsumerRebatesSql)


 update a1 set a1.Description=a.Description
from @ConsumerRebates a inner join ConsumerRebates a1 on a1.ConsumerRebateID=a.ConsumerRebateID

insert into ConsumerRebates (ConsumerRebateID,Description)
select * from @ConsumerRebates where ConsumerRebateID not in ( select ConsumerRebateID from ConsumerRebates )






Declare @ConsumerDisconnectionReasons table (ConsumerDisconnectionReasonID Int,Description varchar(100))
Declare @ConsumerDisconnectionReasonsSql varchar(Max) Set @ConsumerDisconnectionReasonsSql='
select ConsumerDisconnectionReasonID,Description from '+@ESRUdupi+'ConsumerDisconnectionReasons
 ' insert into @ConsumerDisconnectionReasons exec (@ConsumerDisconnectionReasonsSql)


 update a1 set a1.Description=a.Description
from @ConsumerDisconnectionReasons a inner join ConsumerDisconnectionReasons a1 on a1.ConsumerDisconnectionReasonID=a.ConsumerDisconnectionReasonID

insert into ConsumerDisconnectionReasons (ConsumerDisconnectionReasonID,Description)
select * from @ConsumerDisconnectionReasons where ConsumerDisconnectionReasonID not in ( select ConsumerDisconnectionReasonID from ConsumerDisconnectionReasons )






Declare @CollectionAdjustmentTypes table (CollectionAdjustmentTypeID Int,Description varchar(100),Display Int,JournalVoucher Int)
Declare @CollectionAdjustmentTypesSql varchar(Max) Set @CollectionAdjustmentTypesSql='
select CollectionAdjustmentTypeID,Description,RevenueDisplay,JournalVoucher from '+@ESRUdupi+'CollectionAdjustmentTypes
' insert into @CollectionAdjustmentTypes exec (@CollectionAdjustmentTypesSql)


 update a1 set a1.Description=a.Description,a1.Display=a.Display,a1.JournalVoucher=a.JournalVoucher
from @CollectionAdjustmentTypes a inner join CollectionAdjustmentTypes a1 on a1.CollectionAdjustmentTypeID=a.CollectionAdjustmentTypeID

insert into CollectionAdjustmentTypes (CollectionAdjustmentTypeID,Description,Display,JournalVoucher)
select * from @CollectionAdjustmentTypes where CollectionAdjustmentTypeID not in ( select CollectionAdjustmentTypeID from CollectionAdjustmentTypes )





Declare @ConsumerConnectionStatus table (ConsumerConnectionStatusID Int,Description varchar(100))
Declare @ConsumerConnectionStatusSql varchar(Max) Set @ConsumerConnectionStatusSql='
select ConsumerConnectionStatusID,Description from '+@ESRUdupi+'ConsumerConnectionStatus
' insert into @ConsumerConnectionStatus exec (@ConsumerConnectionStatusSql)


 update a1 set a1.Description=a.Description
from @ConsumerConnectionStatus a inner join ConsumerConnectionStatus a1 on a1.ConsumerConnectionStatusID=a.ConsumerConnectionStatusID

insert into ConsumerConnectionStatus (ConsumerConnectionStatusID,Description)
select * from @ConsumerConnectionStatus where ConsumerConnectionStatusID not in ( select ConsumerConnectionStatusID from ConsumerConnectionStatus )






Declare @VoltageClass table (VoltageClassID Int,VoltageClassCode varchar(50),Description varchar(50))
Declare @VoltageClassSql varchar(Max) Set @VoltageClassSql='
select VoltageClassID,VoltageClassCode,Description from '+@ESRUdupi+'VoltageClass
' insert into @VoltageClass exec (@VoltageClassSql)


 update a1 set a1.VoltageClassCode=a.VoltageClassCode,a1.Description=a.Description
from @VoltageClass a inner join VoltageClass a1 on a1.VoltageClassID=a.VoltageClassID

insert into VoltageClass (VoltageClassID,VoltageClassCode,Description)
select * from @VoltageClass where VoltageClassID not in ( select VoltageClassID from VoltageClass )






Declare @PhoneCategory table (PhoneCategoryID Int,Description varchar(50))
Declare @PhoneCategorySql varchar(Max) Set @PhoneCategorySql='
select PhoneCategoryID,Description from '+@ESRUdupi+'PhoneCategory
' insert into @PhoneCategory exec (@PhoneCategorySql)


 update a1 set a1.Description=a.Description
from @PhoneCategory a inner join PhoneCategory a1 on a1.PhoneCategoryID=a.PhoneCategoryID

insert into PhoneCategory (PhoneCategoryID,Description)
select * from @PhoneCategory where PhoneCategoryID not in ( select PhoneCategoryID from PhoneCategory )





Declare @ODLDAllocation table (ODLDID Int,OfficeID Int,DepartmentID Int,LocationID Int,DesignationID Int)
Declare @ODLDAllocationSql varchar(Max) Set @ODLDAllocationSql='
select ODLDID,OfficeID,DepartmentID,LocationID,DesignationID from '+@ESRUdupi+'ODLDAllocation
' insert into @DistributionNodeUserDefinedFields exec (@DistributionNodeUserDefinedFieldsSql)


 update a1 set a1.OfficeID=a.OfficeID,a1.DepartmentID=a.DepartmentID,a1.LocationID=a.LocationID,a1.DesignationID=a.DesignationID
from @ODLDAllocation a inner join ODLDAllocation a1 on a1.ODLDID=a.ODLDID

insert into ODLDAllocation (ODLDID,OfficeID,DepartmentID,LocationID,DesignationID)
select * from @ODLDAllocation where ODLDID not in ( select ODLDID from ODLDAllocation )





Declare @OL table (OfficeLocationAllocationID int,OfficeID int,LocationID int,UnderOfficeLocationAllocationID int,VoltageClassID int,FileAs varchar(250))
Declare @OLSql varchar(Max) Set @OLSql='
select OfficeLocationAllocationID,OfficeID,LocationID,UnderOfficeLocationAllocationID,VoltageClassID,FileAs from '+@ESRUdupi+'OfficeLocationAllocation
' insert into @OL exec (@OLSql)


 update ola set ola.OfficeID=ol.OfficeID , ola.LocationID=ol.LocationID , ola.UnderOfficeLocationAllocationID=ol.UnderOfficeLocationAllocationID , ola.VoltageClassID=ol.VoltageClassID , ola.FileAs=ol.FileAs
from @OL ol inner join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OfficeLocationAllocationID

insert into OfficeLocationAllocation (OfficeLocationAllocationID,OfficeID,LocationID,UnderOfficeLocationAllocationID,VoltageClassID,FileAs)
select * from @OL where OfficeLocationAllocationID not in ( select OfficeLocationAllocationID from OfficeLocationAllocation )





Declare @OfficeDepartmentAllocation table (OfficeDepartmentAllocationID Int,DepartmentID Int,OfficeID Int,UnderDepartmentID Int,DepartmentFileAs varchar(100))
Declare @OfficeDepartmentAllocationSql varchar(Max) Set @OfficeDepartmentAllocationSql='
select OfficeDepartmentAllocationID,DepartmentID,OfficeID,UnderDepartmentID,DepartmentFileAs from '+@ESRUdupi+'OfficeDepartmentAllocation
' insert into @OfficeDepartmentAllocation exec (@OfficeDepartmentAllocationSql)


 update a1 set a1.DepartmentID=a.DepartmentID,a1.OfficeID=a.OfficeID,a1.UnderDepartmentID=a.UnderDepartmentID,a1.DepartmentFileAs=a.DepartmentFileAs
from @OfficeDepartmentAllocation a inner join OfficeDepartmentAllocation a1 on a1.OfficeDepartmentAllocationID=a.OfficeDepartmentAllocationID

insert into OfficeDepartmentAllocation (OfficeDepartmentAllocationID,DepartmentID,OfficeID,UnderDepartmentID,DepartmentFileAs)
select * from @OfficeDepartmentAllocation where OfficeDepartmentAllocationID not in ( select OfficeDepartmentAllocationID from OfficeDepartmentAllocation )





Declare @OfficeLocationDepartmentAllocation table (OfficeLocationDepartmentAllocationID Int,OfficeDepartmentAllocationID Int,OfficeLocationAllocationID Int,FileAs varchar(100))
Declare @OfficeLocationDepartmentAllocationSql varchar(Max) Set @OfficeLocationDepartmentAllocationSql='
select OfficeLocationDepartmentAllocationID,OfficeDepartmentAllocationID,OfficeLocationAllocationID,FileAs from '+@ESRUdupi+'OfficeLocationDepartmentAllocation
' insert into @OfficeLocationDepartmentAllocation exec (@OfficeLocationDepartmentAllocationSql)


 update a1 set a1.OfficeDepartmentAllocationID=a.OfficeDepartmentAllocationID,a1.OfficeLocationAllocationID=a.OfficeLocationAllocationID,a1.FileAs=a.FileAs
from @OfficeLocationDepartmentAllocation a inner join OfficeLocationDepartmentAllocation a1 on a1.OfficeLocationDepartmentAllocationID=a.OfficeLocationDepartmentAllocationID

insert into OfficeLocationDepartmentAllocation (OfficeLocationDepartmentAllocationID,OfficeDepartmentAllocationID,OfficeLocationAllocationID,FileAs)
select * from @OfficeLocationDepartmentAllocation where OfficeLocationDepartmentAllocationID not in ( select OfficeLocationDepartmentAllocationID from OfficeLocationDepartmentAllocation )





Declare @OfficeLocationDepartmentAddress table (OfficeLocationDepartmentAllocationID Int,StreetName varchar(500),AreaID Int,CityID Int,AddressID Int)
Declare @OfficeLocationDepartmentAddressSql varchar(Max) Set @OfficeLocationDepartmentAddressSql='
select OfficeLocationDepartmentAllocationID,StreetName,AreaID,CityID,AddressID from '+@ESRUdupi+'OfficeLocationDepartmentAddress
' insert into @OfficeLocationDepartmentAddress exec (@OfficeLocationDepartmentAddressSql)

delete from OfficeLocationDepartmentAddress

insert into OfficeLocationDepartmentAddress
select * from @OfficeLocationDepartmentAddress





Declare @OfficeLocationDepartmentPhoneDetails table (OfficeLocationDepartmentAllocationID Int,PhoneCategoryID Int,CountryID Int,AreaCode varchar(50),LocalNo Varchar(50),ExtensionNo varchar(50))
Declare @OfficeLocationDepartmentPhoneDetailsSql varchar(Max) Set @OfficeLocationDepartmentPhoneDetailsSql='
select OfficeLocationDepartmentAllocationID,PhoneCategoryID,CountryID,AreaCode,LocalNo,ExtensionNo from '+@ESRUdupi+'OfficeLocationDepartmentPhoneDetails
' insert into @OfficeLocationDepartmentPhoneDetails exec (@OfficeLocationDepartmentPhoneDetailsSql)

delete from OfficeLocationDepartmentPhoneDetails

insert into OfficeLocationDepartmentPhoneDetails
select * from @OfficeLocationDepartmentPhoneDetails





Declare @MRArea table (MeterReadingAreaID int,AreaName varchar(300))
Declare @MRAreaSql varchar(Max) Set @MRAreaSql='
select MeterReadingAreaID,AreaName from '+@ESRUdupi+'MeterReadingAreas
' insert into @MRArea exec (@MRAreaSql)


 update mra set mra.AreaName=mr.AreaName
from @MRArea mr inner join MeterReadingAreas mra on mra.MeterReadingAreaID=mr.MeterReadingAreaID

insert into MeterReadingAreas (MeterReadingAreaID,AreaName)
select * from @MRArea where MeterReadingAreaID not in ( select MeterReadingAreaID from MeterReadingAreas )





Declare @Suffix table (SuffixID Int,SuffixName varchar(50))
Declare @SuffixSql varchar(Max) Set @SuffixSql='
select SuffixID,SuffixName from '+@ESRUdupi+'NameSuffix
' insert into @Suffix exec (@SuffixSql)


 update a1 set a1.SuffixName=a.SuffixName
from @Suffix a inner join NameSuffix a1 on a1.SuffixID=a.SuffixID

insert into NameSuffix (SuffixID,SuffixName)
select * from @Suffix where SuffixID not in ( select SuffixID from NameSuffix )





Declare @Title table (TitleID Int,TitleName varchar(50))
Declare @TitleSql varchar(Max) Set @TitleSql='
select TitleID,TitleName from '+@ESRUdupi+'NameTitle
' insert into @Title exec (@TitleSql)


 update a1 set a1.TitleName=a.TitleName
from @Title a inner join NameTitle a1 on a1.TitleID=a.TitleID

insert into NameTitle (TitleID,TitleName)
select * from @Title where TitleID not in ( select TitleID from NameTitle )





Declare @Contacts table (ContactID Int,CompanyName Varchar(250),TitleID Int,FirstName Varchar(100),MiddleName Varchar(100),LastName Varchar(100),SuffixID Int,SpouseName Varchar(200),Photo Image,Profession Varchar(255),NickName Varchar(255),ManagerName Varchar(255),WebPage Varchar(255),Remarks Varchar(3000),AssistantName Varchar(255),TINNo Varchar(50),EPFNo Varchar(50),LicenseNo Varchar(50),LicenseFromDate Datetime,LicenseToDate Datetime,FileAs Varchar(255),CreatedBy Varchar(50),CreatedOn Datetime,CreatedTerminal Varchar(50))
Declare @ContactsSql varchar(Max) Set @ContactsSql='
select ContactID,CompanyName,TitleID,FirstName,MiddleName,LastName,SuffixID,SpouseName,Photo,Profession,NickName,ManagerName,WebPage,Remarks,AssistantName,TINNo,EPFNo,LicenseNo,LicenseFromDate,LicenseToDate,FileAs,CreatedBy,CreatedOn,CreatedTerminal from '+@ESRUdupi+'Contacts
' insert into @Contacts exec (@ContactsSql)


 update ct set ct.CompanyName=c.CompanyName,ct.TitleID=c.TitleID,ct.FirstName=c.FirstName,ct.MiddleName=c.MiddleName,ct.LastName=c.LastName,ct.SuffixID=c.SuffixID,ct.SpouseName=c.SpouseName,ct.Photo=c.Photo,ct.Profession=c.Profession,ct.NickName=c.NickName,ct.ManagerName=c.ManagerName,ct.WebPage=c.WebPage,ct.Remarks=c.Remarks,ct.AssistantName=c.AssistantName,ct.TINNo=c.TINNo,ct.EPFNo=c.EPFNo,ct.LicenseNo=c.LicenseNo,ct.LicenseFromDate=c.LicenseFromDate,ct.LicenseToDate=c.LicenseToDate,ct.FileAs=c.FileAs,ct.CreatedBy=c.CreatedBy,ct.CreatedOn=c.CreatedOn,ct.CreatedTerminal=c.CreatedTerminal
from @Contacts c inner join Contacts ct on ct.ContactID=c.ContactID

insert into Contacts (ContactID,CompanyName,TitleID,FirstName,MiddleName,LastName,SuffixID,SpouseName,Photo,Profession,NickName,ManagerName,WebPage,Remarks,AssistantName,TINNo,EPFNo,LicenseNo,LicenseFromDate,LicenseToDate,FileAs,CreatedBy,CreatedOn,CreatedTerminal)
select * from @Contacts where ContactID not in ( select ContactID from Contacts )





Declare @ContactCategories table (ContactCategoryID Int,Description varchar(100),MasterTable varchar(50),MasterField varchar(50),FieldValue varchar(50),Display Int)
Declare @ContactCategoriesSql varchar(Max) Set @ContactCategoriesSql='
select ContactCategoryID,Description,MasterTable,MasterField,FieldValue,Display from '+@ESRUdupi+'ContactCategories
' insert into @ContactCategories exec (@ContactCategoriesSql)


 update a1 set a1.Description=a.Description,a1.MasterTable=a.MasterTable,a1.MasterField=a.MasterField,a1.FieldValue=a.FieldValue,a1.Display=a.Display
from @ContactCategories a inner join ContactCategories a1 on a1.ContactCategoryID=a.ContactCategoryID

insert into ContactCategories (ContactCategoryID,Description,MasterTable,MasterField,FieldValue,Display)
select * from @ContactCategories where ContactCategoryID not in ( select ContactCategoryID from ContactCategories )





Declare @CCAllocation table (ContactCategoryID Int,ContactID Int)
Declare @CCAllocationSql varchar(Max) Set @CCAllocationSql='
select ContactCategoryID,ContactID from '+@ESRUdupi+'ContactCategoryAllocation
' insert into @CCAllocation exec (@CCAllocationSql)

delete from ContactCategoryAllocation 

insert into ContactCategoryAllocation 
select * from @CCAllocation 






Declare @ContactAddressDetails table (ContactAddressDetailsID Int,ContactID Int,StreetName varchar(500),CityID Int,AreaID Int,Complete Int,AddressID Int,AddressCategoryID Int,MailAddress Int)
Declare @ContactAddressDetailsSql varchar(Max) Set @ContactAddressDetailsSql='
select ContactAddressDetailsID,ContactID,StreetName,CityID,AreaID,Complete,AddressID,AddressCategoryID,MailAddress from '+@ESRUdupi+'ContactAddressDetails
' insert into @ContactAddressDetails exec (@ContactAddressDetailsSql)


 update a1 set a1.ContactID=a.ContactID,a1.StreetName=a.StreetName,a1.CityID=a.CityID,a1.AreaID=a.AreaID,a1.Complete=a.Complete,a1.AddressID=a.AddressID,a1.AddressCategoryID=a.AddressCategoryID,a1.MailAddress=a.MailAddress
from @ContactAddressDetails a inner join ContactAddressDetails a1 on a1.ContactAddressDetailsID=a.ContactAddressDetailsID

insert into ContactAddressDetails (ContactAddressDetailsID,ContactID,StreetName,CityID,AreaID,Complete,AddressID,AddressCategoryID,MailAddress)
select * from @ContactAddressDetails where ContactAddressDetailsID not in ( select ContactAddressDetailsID from ContactAddressDetails )






Declare @ContactPhoneDetails table (ContactID Int,PhoneCategoryID Int,CountryID Int,AreaCode varchar(50),LocalNumber varchar(50),ExtensionNo varchar(50))
Declare @ContactPhoneDetailsSql varchar(Max) Set @ContactPhoneDetailsSql='
select ContactID,PhoneCategoryID,CountryID,AreaCode,LocalNumber,ExtensionNo from '+@ESRUdupi+'ContactPhoneDetails
 ' insert into @ContactPhoneDetails exec (@ContactPhoneDetailsSql)

delete from ContactPhoneDetails

insert into ContactPhoneDetails
select * from @ContactPhoneDetails





Declare @EmailCategory table (EmailCategoryID Int,Description varchar(100))
Declare @EmailCategorySql varchar(Max) Set @EmailCategorySql='
select EmailCategoryID,Description from '+@ESRUdupi+'EmailCategory
 ' insert into @EmailCategory exec (@EmailCategorySql)


 update a1 set a1.Description=a.Description
from @EmailCategory a inner join EmailCategory a1 on a1.EmailCategoryID=a.EmailCategoryID

insert into EmailCategory (EmailCategoryID,Description)
select * from @EmailCategory where EmailCategoryID not in ( select EmailCategoryID from EmailCategory )






Declare @ContactEmailDetails table (ContactID Int,EmailCategoryID Int,EmailAddress Varchar(50))
Declare @ContactEmailDetailsSql varchar(Max) Set @ContactEmailDetailsSql='
select ContactID,EmailCategoryID,EmailAddress from '+@ESRUdupi+'ContactEmailDetails
 ' insert into @ContactEmailDetails exec (@ContactEmailDetailsSql)

delete from ContactEmailDetails

insert into ContactEmailDetails
select * from @ContactEmailDetails





























Declare @EmployeeCategories table (EmployeeCategoryID Int,Description varchar(100))
Declare @EmployeeCategoriesSql varchar(Max) Set @EmployeeCategoriesSql='
select EmployeeCategoryID,Description from '+@ESRUdupi+'EmployeeCategories
' insert into @EmployeeCategories exec (@EmployeeCategoriesSql)


 update a1 set a1.Description=a.Description
from @EmployeeCategories a inner join EmployeeCategories a1 on a1.EmployeeCategoryID=a.EmployeeCategoryID

insert into EmployeeCategories (EmployeeCategoryID,Description)
select * from @EmployeeCategories where EmployeeCategoryID not in ( select EmployeeCategoryID from EmployeeCategories )






Declare @ExternalOrganisationBranchLocationTypes table (ExternalOrganisationBranchLocationTypeID Int,Description varchar(100))
Declare @ExternalOrganisationBranchLocationTypesSql varchar(Max) Set @ExternalOrganisationBranchLocationTypesSql='
select ExternalOrganisationBranchLocationTypeID,Description from '+@ESRUdupi+'ExternalOrganisationBranchLocationTypes
' insert into @ExternalOrganisationBranchLocationTypes exec (@ExternalOrganisationBranchLocationTypesSql)


 update a1 set a1.Description=a.Description
from @ExternalOrganisationBranchLocationTypes a inner join ExternalOrganisationBranchLocationTypes a1 on a1.ExternalOrganisationBranchLocationTypeID=a.ExternalOrganisationBranchLocationTypeID

insert into ExternalOrganisationBranchLocationTypes (ExternalOrganisationBranchLocationTypeID,Description)
select * from @ExternalOrganisationBranchLocationTypes where ExternalOrganisationBranchLocationTypeID not in ( select ExternalOrganisationBranchLocationTypeID from ExternalOrganisationBranchLocationTypes )






Declare @ExternalOrganisationTypes table (ExternalOrganisationTypeID Int,Description varchar(100))
Declare @ExternalOrganisationTypesSql varchar(Max) Set @ExternalOrganisationTypesSql='
select ExternalOrganisationTypeID,Description from '+@ESRUdupi+'ExternalOrganisationTypes
' insert into @ExternalOrganisationTypes exec (@ExternalOrganisationTypesSql)


 update a1 set a1.Description=a.Description
from @ExternalOrganisationTypes a inner join ExternalOrganisationTypes a1 on a1.ExternalOrganisationTypeID=a.ExternalOrganisationTypeID

insert into ExternalOrganisationTypes (ExternalOrganisationTypeID,Description)
select * from @ExternalOrganisationTypes where ExternalOrganisationTypeID not in ( select ExternalOrganisationTypeID from ExternalOrganisationTypes )






Declare @ExternalOrganisations table (ExternalOrganisationID Int,ExternalOrganisationTypeID Int,Name varchar(100),MainAccountCode varchar(20),SubAccountCode varchar(20))
Declare @ExternalOrganisationsSql varchar(Max) Set @ExternalOrganisationsSql='
select ExternalOrganisationID,ExternalOrganisationTypeID,Name,MainAccountCode,SubAccountCode from '+@ESRUdupi+'ExternalOrganisations
' insert into @ExternalOrganisations exec (@ExternalOrganisationsSql)


 update a1 set a1.ExternalOrganisationTypeID=a.ExternalOrganisationTypeID,a1.Name=a.Name,a1.MainAccountCode=a.MainAccountCode,a1.SubAccountCode=a.SubAccountCode
from @ExternalOrganisations a inner join ExternalOrganisations a1 on a1.ExternalOrganisationID=a.ExternalOrganisationID

insert into ExternalOrganisations (ExternalOrganisationID,ExternalOrganisationTypeID,Name,MainAccountCode,SubAccountCode)
select * from @ExternalOrganisations where ExternalOrganisationID not in ( select ExternalOrganisationID from ExternalOrganisations )






Declare @ExternalOrganisationBranches table (ExternalOrganisationBranchID Int,ExternalOrganisationID Int,Name varchar(100),ExternalOrganisationBranchLocationTypeID Int)
Declare @ExternalOrganisationBranchesSql varchar(Max) Set @ExternalOrganisationBranchesSql='
select ExternalOrganisationBranchID,ExternalOrganisationID,Name,ExternalOrganisationBranchLocationTypeID from '+@ESRUdupi+'ExternalOrganisationBranches
' insert into @ExternalOrganisationBranches exec (@ExternalOrganisationBranchesSql)


 update a1 set a1.ExternalOrganisationID=a.ExternalOrganisationID,a1.Name=a.Name,a1.ExternalOrganisationBranchLocationTypeID=a.ExternalOrganisationBranchLocationTypeID
from @ExternalOrganisationBranches a inner join ExternalOrganisationBranches a1 on a1.ExternalOrganisationBranchID=a.ExternalOrganisationBranchID

insert into ExternalOrganisationBranches (ExternalOrganisationBranchID,ExternalOrganisationID,Name,ExternalOrganisationBranchLocationTypeID)
select * from @ExternalOrganisationBranches where ExternalOrganisationBranchID not in ( select ExternalOrganisationBranchID from ExternalOrganisationBranches )






Declare @Employee table (ContactID Int,EmployeeCategoryID Int,ODLDID Int,Sex varchar(10),MartialStatus varchar(10),Handicapped Int,NoOfChildren Int,Religion varchar(10),BloodGroup varchar(10),Qualification varchar(50),QuartersAvailable varchar(50),QuarterNumber varchar(50),Caste varchar(20),PanCardNo varchar(20),BankID Int,BankBranchID Int,BankAcNo varchar(20),Miscelleneous varchar(50),Retired Int)
Declare @EmployeeSql varchar(Max) Set @EmployeeSql='
select ContactID,EmployeeCategoryID,ODLDID,Sex,MartialStatus,Handicapped,NoOfChildren,Religion,BloodGroup,Qualification,QuartersAvailable,QuarterNumber,Caste,PanCardNo,BankID,BankBranchID,BankAcNo,Miscelleneous,Retired from '+@ESRUdupi+'Employee
' insert into @Employee exec (@EmployeeSql)


 update a1 set a1.EmployeeCategoryID=a.EmployeeCategoryID,a1.ODLDID=a.ODLDID,a1.Sex=a.Sex,a1.MartialStatus=a.MartialStatus,a1.Handicapped=a.Handicapped,a1.NoOfChildren=a.NoOfChildren,a1.Religion=a.Religion,a1.BloodGroup=a.BloodGroup,a1.Qualification=a.Qualification,a1.QuartersAvailable=a.QuartersAvailable,a1.QuarterNumber=a.QuarterNumber,a1.Caste=a.Caste,a1.PanCardNo=a.PanCardNo,a1.BankID=a.BankID,a1.BankBranchID=a.BankBranchID,a1.BankAcNo=a.BankAcNo,a1.Miscelleneous=a.Miscelleneous,a1.Retired=a.Retired
from @Employee a inner join Employee a1 on a1.ContactID=a.ContactID

insert into Employee (ContactID,EmployeeCategoryID,ODLDID,Sex,MartialStatus,Handicapped,NoOfChildren,Religion,BloodGroup,Qualification,QuartersAvailable,QuarterNumber,Caste,PanCardNo,BankID,BankBranchID,BankAcNo,Miscelleneous,Retired)
select * from @Employee where ContactID not in ( select ContactID from Employee )





Declare @RDAA table (ReadingDateAreaAllocationID int,MeterReadingAreaID int,AreaOLID int,ReadingDate int,MeterreaderID int)
Declare @RDAASql varchar(Max) Set @RDAASql='
select ReadingDateAreaAllocationID,MeterReadingAreaID,AreaOLID,ReadingDate,MeterreaderID from '+@ESRUdupi+'ReadingdateAreaAllocation
' insert into @RDAA exec (@RDAASql)


 update rdaa set rdaa.ReadingDateAreaAllocationID=rd.ReadingDateAreaAllocationID,rdaa.MeterReadingAreaID=rd.MeterReadingAreaID,rdaa.AreaOLID=rd.AreaOLID,rdaa.ReadingDate=rd.ReadingDate,rdaa.MeterreaderID=rd.MeterreaderID
from @RDAA rd inner join ReadingDateAreaAllocation rdaa on rdaa.ReadingDateAreaAllocationID=rd.ReadingDateAreaAllocationID

insert into ReadingDateAreaAllocation (ReadingDateAreaAllocationID,MeterReadingAreaID,AreaOLID,ReadingDate,MeterreaderID)
select * from @RDAA where ReadingDateAreaAllocationID not in ( select ReadingDateAreaAllocationID from ReadingDateAreaAllocation )






Declare @Tariffs table (TariffID Int,Description Varchar(50),UnderTariffID Int,TariffCode Varchar(50),ConsumerBillingCycleID Int,SanctionedLoadRoundOffTypeID Int,TimeOfDayTariff Bit,MinimumInterest Money,AgreementTerminationPeriod Decimal,GovernmentPayment Bit,MinimumArrears Money,DCBTariff Bit,VoltageClassID Int,MinimumDemand Money,EffectiveDate Datetime,Billable Bit,DisconnectionArrearLowerLimit Money,DisconnectionArrearUpperLimit Money,TemporaryConnection Bit,Display Bit,RevenueBillTypeID Int)
Declare @TariffsSql varchar(Max) Set @TariffsSql='
select TariffID,Description,UnderTariffID,TariffCode,ConsumerBillingCycleID,SanctionedLoadRoundOffTypeID,TimeOfDayTariff,MinimumInterest,AgreementTerminationPeriod,GovernmentPayment,MinimumArrears,DCBTariff,VoltageClassID,MinimumDemand,EffectiveDate,Billable,DisconnectionArrearLowerLimit,DisconnectionArrearUpperLimit,TemporaryConnection,Display,RevenueBillTypeID
from '+@ESRUdupi+'Tariffs ' insert into @Tariffs exec (@TariffsSql)


 update ts set ts.Description=t.Description,ts.UnderTariffID=t.UnderTariffID,ts.TariffCode=t.TariffCode,ts.ConsumerBillingCycleID=t.ConsumerBillingCycleID,ts.SanctionedLoadRoundOffTypeID=t.SanctionedLoadRoundOffTypeID,ts.TimeOfDayTariff=t.TimeOfDayTariff,ts.MinimumInterest=t.MinimumInterest,ts.AgreementTerminationPeriod=t.AgreementTerminationPeriod,ts.GovernmentPayment=t.GovernmentPayment,ts.MinimumArrears=t.MinimumArrears,ts.DCBTariff=t.DCBTariff,ts.VoltageClassID=t.VoltageClassID,ts.MinimumDemand=t.MinimumDemand,ts.EffectiveDate=t.EffectiveDate,ts.Billable=t.Billable,ts.DisconnectionArrearLowerLimit=t.DisconnectionArrearLowerLimit,ts.DisconnectionArrearUpperLimit=t.DisconnectionArrearUpperLimit,ts.TemporaryConnection=t.TemporaryConnection,ts.Display=t.Display,ts.RevenueBillTypeID=t.RevenueBillTypeID
from @Tariffs t inner join Tariffs ts on ts.TariffID=t.TariffID

insert into Tariffs(TariffID,Description,UnderTariffID,TariffCode,ConsumerBillingCycleID,SanctionedLoadRoundOffTypeID,TimeOfDayTariff,MinimumInterest,AgreementTerminationPeriod,GovernmentPayment,MinimumArrears,DCBTariff,VoltageClassID,MinimumDemand,EffectiveDate,Billable,DisconnectionArrearLowerLimit,DisconnectionArrearUpperLimit,TemporaryConnection,Display,RevenueBillTypeID)
select * from @Tariffs where TariffID not in ( select TariffID from Tariffs )






Declare @TariffHistory table (TariffID Int,MinimumDemand Numeric(18,0),ValidUpTo Datetime)
Declare @TariffHistorySql varchar(Max) Set @TariffHistorySql='
select TariffID,MinimumDemand,ValidUpTo from '+@ESRUdupi+'TariffHistory
' insert into @TariffHistory exec (@TariffHistorySql)

delete from TariffHistory

insert into TariffHistory
select * from @TariffHistory





Declare @RBTypes table (RevenueBillTypeID Int,Description Varchar(50))
Declare @RBTypesSql varchar(Max) Set @RBTypesSql='
select RevenueBillTypeID,Description from  '+@ESRUdupi+'RevenueBillTypes
' insert into @RBTypes exec (@RBTypesSql)


 update rbt set rbt.Description=rb.Description
from @RBTypes rb inner join RevenueBillTypes rbt on rbt.RevenueBillTypeID=rb.RevenueBillTypeID

insert into RevenueBillTypes (RevenueBillTypeID,Description)
select * from @RBTypes where RevenueBillTypeID not in ( select RevenueBillTypeID from RevenueBillTypes )





Declare @RBReasons table (RevenueBillReasonID Int,Description Varchar(50),ReasonCode Varchar(50),RevenueBillTypeID Int)
Declare @RBReasonsSql varchar(Max) Set @RBReasonsSql='
select RevenueBillReasonID,Description,ReasonCode,RevenueBillTypeID from  '+@ESRUdupi+'RevenueBillReasons
' insert into @RBReasons exec (@RBReasonsSql)


 update rbr set rbr.Description=rb.Description,rbr.ReasonCode=rb.ReasonCode,rbr.RevenueBillTypeID=rb.RevenueBillTypeID 
from @RBReasons rb inner join RevenueBillReasons rbr on rbr.RevenueBillReasonID=rb.RevenueBillReasonID

insert into RevenueBillReasons (RevenueBillReasonID,Description,ReasonCode,RevenueBillTypeID)
select * from @RBReasons where RevenueBillReasonID not in ( select RevenueBillReasonID from RevenueBillReasons )





Declare @ConsumerAttributes table (ConsumerAttributeID Int,Attribute varchar(50))
Declare @ConsumerAttributesSql varchar(Max) Set @ConsumerAttributesSql='
select ConsumerAttributeID,Description from '+@ESRUdupi+'ConsumerAttributes 
' insert into @ConsumerAttributes exec (@ConsumerAttributesSql)


 update ca1 set ca1.Attribute=ca.Attribute
from @ConsumerAttributes ca inner join ConsumerAttributes ca1 on ca1.ConsumerAttributeID=ca.ConsumerAttributeID

insert into ConsumerAttributes (ConsumerAttributeID,Attribute)
select * from @ConsumerAttributes where ConsumerAttributeID not in ( select ConsumerAttributeID from ConsumerAttributes )





Declare @ConsumerAttributeTariffAllocation table (TariffID Int,ConsumerAttributeID Int)
Declare @ConsumerAttributeTariffAllocationSql varchar(Max) Set @ConsumerAttributeTariffAllocationSql='
select TariffID,ConsumerAttributeID from '+@ESRUdupi+'ConsumerAttributeTariffAllocation
' insert into @ConsumerAttributeTariffAllocation exec (@ConsumerAttributeTariffAllocationSql)

delete from ConsumerAttributeTariffAllocation

insert into ConsumerAttributeTariffAllocation (TariffID,ConsumerAttributeID)
select * from @ConsumerAttributeTariffAllocation





Declare @DemandChargeMainTypes table (DemandChargeMainTypeID Int,Description varchar(50))
Declare @DemandChargeMainTypesSql varchar(Max) Set @DemandChargeMainTypesSql='
select DemandChargeMainTypeID,Description from '+@ESRUdupi+'DemandChargeMainTypes
' insert into @DemandChargeMainTypes exec (@DemandChargeMainTypesSql)


 update a1 set a1.Description=a.Description
from @DemandChargeMainTypes a inner join DemandChargeMainTypes a1 on a1.DemandChargeMainTypeID=a.DemandChargeMainTypeID

insert into DemandChargeMainTypes (DemandChargeMainTypeID,Description)
select * from @DemandChargeMainTypes where DemandChargeMainTypeID not in ( select DemandChargeMainTypeID from DemandChargeMainTypes )





Declare @DemandCharges table (DemandChargeID Int,Description varchar(50))
Declare @DemandChargesSql varchar(Max) Set @DemandChargesSql='
select DemandChargeID,Description from '+@ESRUdupi+'DemandCharges
' insert into @DemandCharges exec (@DemandChargesSql)


 update a1 set a1.Description=a.Description
from @DemandCharges a inner join DemandCharges a1 on a1.DemandChargeID=a.DemandChargeID

insert into DemandCharges (DemandChargeID,Description)
select * from @DemandCharges where DemandChargeID not in ( select DemandChargeID from DemandCharges )





Declare @DemandChargeTypes table (DemandChargeTypeID Int,Description varchar(50),DemandChargeMainTypeID Int,DemandChargeCode varchar(20),CollectionOrder Int,SubClass Int,Tax Int,Interest Int)
Declare @DemandChargeTypesSql varchar(Max) Set @DemandChargeTypesSql='
select DemandChargeTypeID,Description,DemandChargeMainTypeID,DemandChargeCode,CollectionOrder,SubClass,Tax,Interest from '+@ESRUdupi+'DemandChargeTypes
' insert into @DemandChargeTypes exec (@DemandChargeTypesSql)


 update a1 set a1.Description=a.Description,a1.DemandChargeMainTypeID=a.DemandChargeMainTypeID,a1.DemandChargeCode=a.DemandChargeCode,a1.CollectionOrder=a.CollectionOrder,a1.SubClass=a.SubClass,a1.Tax=a.Tax,a1.Interest=a.Interest
from @DemandChargeTypes a inner join DemandChargeTypes a1 on a1.DemandChargeTypeID=a.DemandChargeTypeID

insert into DemandChargeTypes (DemandChargeTypeID,Description,DemandChargeMainTypeID,DemandChargeCode,CollectionOrder,SubClass,Tax,Interest)
select * from @DemandChargeTypes where DemandChargeTypeID not in ( select DemandChargeTypeID from DemandChargeTypes )





Declare @UnitOfMeasure table (UnitID Int,UnitTypeID Int,UnitOfMeasure varchar(50),Numeral Int)
Declare @UnitOfMeasureSql varchar(Max) Set @UnitOfMeasureSql='
select UnitID,UnitTypeID,UnitOfMeasure,0 as Numeral from '+@ESRUdupi+'UnitOfMeasure
' insert into @UnitOfMeasure exec (@UnitOfMeasureSql)


 update a1 set a1.UnitTypeID=a.UnitTypeID,a1.UnitOfMeasure=a.UnitOfMeasure,a1.Numeral=a.Numeral
from @UnitOfMeasure a inner join UnitOfMeasure a1 on a1.UnitID=a.UnitID

insert into UnitOfMeasure (UnitID,UnitTypeID,UnitOfMeasure,Numeral)
select * from @UnitOfMeasure where UnitID not in ( select UnitID from UnitOfMeasure )






Declare @ScheduleTypes table (ScheduleTypeID Int,Description varchar(500),FromMainAccountCode varchar(20),FromSubAccountCode varchar(20),ToMainAccountCode varchar(20),ToSubAccountCode varchar(20))
Declare @ScheduleTypesSql varchar(Max) Set @ScheduleTypesSql='
select ScheduleTypeID,Description,NULL as FromMainAccountCode,NULL as FromSubAccountCode,MainAccountCode,SubAccountCode from '+@ESRUdupi+'ScheduleTypes
' insert into @ScheduleTypes exec (@ScheduleTypesSql)


 update a1 set a1.Description=a.Description,FromMainAccountCode=a.FromMainAccountCode,a1.FromSubAccountCode=a.FromSubAccountCode,a1.ToMainAccountCode=a.ToMainAccountCode,a1.ToSubAccountCode=a.ToSubAccountCode
from @ScheduleTypes a inner join ScheduleTypes a1 on a1.ScheduleTypeID=a.ScheduleTypeID

insert into ScheduleTypes (ScheduleTypeID,Description,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode)
select * from @ScheduleTypes where ScheduleTypeID not in ( select ScheduleTypeID from ScheduleTypes )





Declare @Deposits table (DepositID Int,Description varchar(500),ScheduleTypeID Int,Percentage varchar(10))
Declare @DepositsSql varchar(Max) Set @DepositsSql='
select DepositID,Description,ScheduleTypeID,Percentage from '+@ESRUdupi+'Deposits
' insert into @Deposits exec (@DepositsSql)


 update a1 set a1.Description=a.Description,a1.ScheduleTypeID=a.ScheduleTypeID,a1.Percentage=a.Percentage
from @Deposits a inner join Deposits a1 on a1.DepositID=a.DepositID

insert into Deposits (DepositID,Description,ScheduleTypeID,Percentage)
select * from @Deposits where DepositID not in ( select DepositID from Deposits )





Declare @CCDAllocation table (ContactCategoryDepositAllocationID Int,ContactCategoryID Int,DepositID Int)
Declare @CCDAllocationSql varchar(Max) Set @CCDAllocationSql='
select ContactCategoryDepositAllocationID,ContactCategoryID,DepositID from '+@ESRUdupi+'ContactCategoryDepositAllocation
' insert into @CCDAllocation exec (@CCDAllocationSql)


 update a1 set a1.ContactCategoryID=a.ContactCategoryID,a1.DepositID=a.DepositID
from @CCDAllocation a inner join ContactCategoryDepositAllocation a1 on a1.ContactCategoryDepositAllocationID=a.ContactCategoryDepositAllocationID

insert into ContactCategoryDepositAllocation (ContactCategoryDepositAllocationID,ContactCategoryID,DepositID)
select * from @CCDAllocation where ContactCategoryDepositAllocationID not in ( select ContactCategoryDepositAllocationID from ContactCategoryDepositAllocation )





Declare @DocumentTypes table (DocumentTypeID Int,Description varchar(500),MasterTable varchar(50),MasterField varchar(50),MasterValueField varchar(50))
Declare @DocumentTypesSql varchar(Max) Set @DocumentTypesSql='
select DocumentTypeID,Description,MasterTable,MasterField,MasterValueField from '+@ESRUdupi+'DocumentTypes
' insert into @DocumentTypes exec (@DocumentTypesSql)


 update a1 set a1.Description=a.Description,a1.MasterTable=a.MasterTable,a1.MasterField=a.MasterField,a1.MasterValueField=a.MasterValueField
from @DocumentTypes a inner join DocumentTypes a1 on a1.DocumentTypeID=a.DocumentTypeID

insert into DocumentTypes (DocumentTypeID,Description,MasterTable,MasterField,MasterValueField)
select * from @DocumentTypes where DocumentTypeID not in ( select DocumentTypeID from DocumentTypes )





Declare @Processes table (ProcessID Int,Description varchar(500),MasterTable varchar(50),MasterField varchar(50),MasterValueField varchar(50),MasterTypeTable varchar(50),MasterTypeField varchar(50),MasterTypeValueField varchar(50))
Declare @ProcessesSql varchar(Max) Set @ProcessesSql='
select ProcessID,Description,MasterTable,MasterField,MasterValueField,MasterTypeTable,MasterTypeField,MasterTypeValueField from '+@ESRUdupi+'Processes
' insert into @Processes exec (@ProcessesSql)


 update a1 set a1.Description=a.Description,a1.MasterTable=a.MasterTable,a1.MasterField=a.MasterField,a1.MasterValueField=a.MasterValueField,a1.MasterTypeTable=a.MasterTypeTable,a1.MasterTypeField=a.MasterTypeField,a1.MasterTypeValueField=a.MasterTypeValueField
from @Processes a inner join Processes a1 on a1.ProcessID=a.ProcessID

insert into Processes (ProcessID,Description,MasterTable,MasterField,MasterValueField,MasterTypeTable,MasterTypeField,MasterTypeValueField)
select * from @Processes where ProcessID not in ( select ProcessID from Processes )





Declare @CCDocAllocation table (ContactCategoryID Int,DocumentTypeID Int,ProcessID Int,PK Int)
Declare @CCDocAllocationSql varchar(Max) Set @CCDocAllocationSql='
select ContactCategoryID,DocumentTypeID,ProcessID,PK from '+@ESRUdupi+'ContactCategoryDocumentAllocation
' insert into @CCDocAllocation exec (@CCDocAllocationSql)


 update a1 set a1.ContactCategoryID=a.ContactCategoryID,a1.DocumentTypeID=a.DocumentTypeID,a1.ProcessID=a.ProcessID
from @CCDocAllocation a inner join ContactCategoryDocumentAllocation a1 on a1.PK=a.PK


insert into ContactCategoryDocumentAllocation (ContactCategoryID,DocumentTypeID,ProcessID,PK)
select * from @CCDocAllocation where PK not in (select PK from ContactCategoryDocumentAllocation )






Declare @CCPAllocation table (ContactCategoryPaymentAllocationID Int,ContactCategoryID Int,AllocationStatementPresetDataID Int)
Declare @CCPAllocationSql varchar(Max) Set @CCPAllocationSql='
select ContactCategoryPaymentAllocationID,ContactCategoryID,AllocationStatementPresetDataID from '+@ESRUdupi+'ContactCategoryPaymentAllocation
' insert into @CCPAllocation exec (@CCPAllocationSql)


 update a1 set a1.ContactCategoryID=a.ContactCategoryID,a1.AllocationStatementPresetDataID=a.AllocationStatementPresetDataID
from @CCPAllocation a inner join ContactCategoryPaymentAllocation a1 on a1.ContactCategoryPaymentAllocationID=a.ContactCategoryPaymentAllocationID


insert into ContactCategoryPaymentAllocation (ContactCategoryPaymentAllocationID,ContactCategoryID,AllocationStatementPresetDataID)
select * from @CCPAllocation where ContactCategoryPaymentAllocationID not in (select ContactCategoryPaymentAllocationID from ContactCategoryPaymentAllocation )






Declare @PremisedLocationTypes table (PremisedLocationTypeID Int,Description varchar(100))
Declare @PremisedLocationTypesSql varchar(Max) Set @PremisedLocationTypesSql='
select PremisedLocationTypeID,Description from '+@ESRUdupi+'PremisedLocationTypes
' insert into @PremisedLocationTypes exec (@PremisedLocationTypesSql)


 update a1 set a1.Description=a.Description
from @PremisedLocationTypes a inner join PremisedLocationTypes a1 on a1.PremisedLocationTypeID=a.PremisedLocationTypeID

insert into PremisedLocationTypes (PremisedLocationTypeID,Description)
select * from @PremisedLocationTypes where PremisedLocationTypeID not in ( select PremisedLocationTypeID from PremisedLocationTypes )






Declare @ConsumerPremises table (ConsumerPremiseID Int,PremiseLocationTypeID Int,ConsumerPremiseOLID Int,ConsumerPremiseName varchar(100))
Declare @ConsumerPremisesSql varchar(Max) Set @ConsumerPremisesSql='
select ConsumerPremiseID,PremiseLocationTypeID,ConsumerPremiseOLID,ConsumerPremiseName from '+@ESRUdupi+'ConsumerPremises
' insert into @ConsumerPremises exec (@ConsumerPremisesSql)


 update a1 set a1.PremiseLocationTypeID=a.PremiseLocationTypeID,a1.ConsumerPremiseOLID=a.ConsumerPremiseOLID,a1.ConsumerPremiseName=a.ConsumerPremiseName
from @ConsumerPremises a inner join ConsumerPremises a1 on a1.ConsumerPremiseID=a.ConsumerPremiseID

insert into ConsumerPremises (ConsumerPremiseID,PremiseLocationTypeID,ConsumerPremiseOLID,ConsumerPremiseName)
select * from @ConsumerPremises where ConsumerPremiseID not in ( select ConsumerPremiseID from ConsumerPremises )






Declare @DistributionNodeTypes table (DistributionNodeTypeID Int,Description varchar(50),DistributionNodeTypeCode varchar(20),UnderDistributionNodeTypeID Int,FileAs varchar(50))
Declare @DistributionNodeTypesSql varchar(Max) Set @DistributionNodeTypesSql='
select DistributionNodeTypeID,Description,DistributionNodeTypeCode,UnderDistributionNodeTypeID,FileAs from '+@ESRUdupi+'DistributionNodeTypes
' insert into @DistributionNodeTypes exec (@DistributionNodeTypesSql)


 update a1 set a1.Description=a.Description,a1.DistributionNodeTypeCode=a.DistributionNodeTypeCode,a1.UnderDistributionNodeTypeID=a.UnderDistributionNodeTypeID,a1.FileAs=a.FileAs
from @DistributionNodeTypes a inner join DistributionNodeTypes a1 on a1.DistributionNodeTypeID=a.DistributionNodeTypeID

insert into DistributionNodeTypes (DistributionNodeTypeID,Description,DistributionNodeTypeCode,UnderDistributionNodeTypeID,FileAs)
select * from @DistributionNodeTypes where DistributionNodeTypeID not in ( select DistributionNodeTypeID from DistributionNodeTypes )






Declare @DistributionMaintenanceReasonTypes table (DistributionMaintenanceReasonTypeID Int,Description varchar(100))
Declare @DistributionMaintenanceReasonTypesSql varchar(Max) Set @DistributionMaintenanceReasonTypesSql='
select DistributionMaintenanceReasonTypeID,Description from '+@ESRUdupi+'DistributionMaintenanceReasonTypes
' insert into @DistributionMaintenanceReasonTypes exec (@DistributionMaintenanceReasonTypesSql)


 update a1 set a1.Description=a.Description
from @DistributionMaintenanceReasonTypes a inner join DistributionMaintenanceReasonTypes a1 on a1.DistributionMaintenanceReasonTypeID=a.DistributionMaintenanceReasonTypeID

insert into DistributionMaintenanceReasonTypes (DistributionMaintenanceReasonTypeID,Description)
select * from @DistributionMaintenanceReasonTypes where DistributionMaintenanceReasonTypeID not in ( select DistributionMaintenanceReasonTypeID from DistributionMaintenanceReasonTypes )






Declare @DistributionMaintenanceReasons table (DistributionMaintenanceReasonID Int,DistributionMaintenanceReasonTypeID Int,Description varchar(100))
Declare @DistributionMaintenanceReasonsSql varchar(Max) Set @DistributionMaintenanceReasonsSql='
select DistributionMaintenanceReasonID,DistributionMaintenanceReasonTypeID,Description from '+@ESRUdupi+'DistributionMaintenanceReasons
' insert into @DistributionMaintenanceReasons exec (@DistributionMaintenanceReasonsSql)


 update a1 set a1.DistributionMaintenanceReasonTypeID=a.DistributionMaintenanceReasonTypeID,a1.Description=a.Description
from @DistributionMaintenanceReasons a inner join DistributionMaintenanceReasons a1 on a1.DistributionMaintenanceReasonID=a.DistributionMaintenanceReasonID

insert into DistributionMaintenanceReasons (DistributionMaintenanceReasonID,DistributionMaintenanceReasonTypeID,Description)
select * from @DistributionMaintenanceReasons where DistributionMaintenanceReasonID not in ( select DistributionMaintenanceReasonID from DistributionMaintenanceReasons )






Declare @EnergyChargeSlabPeriods table (EnergyChargeSlabPeriodID Int,TariffID Int,FromDate Int,ToDate Int,MemoDate Datetime,EffectiveDate Datetime,ModifiedFlag Int,EffectiveUpdate Int)
Declare @EnergyChargeSlabPeriodsSql varchar(Max) Set @EnergyChargeSlabPeriodsSql='
select EnergyChargeSlabPeriodID,TariffID,FromDate,ToDate,MemoDate,EffectiveDate,ModifiedFlag,EffectiveUpdate from '+@ESRUdupi+'EnergyChargeSlabPeriods
' insert into @EnergyChargeSlabPeriods exec (@EnergyChargeSlabPeriodsSql)


 update a1 set a1.TariffID=a.TariffID,a1.FromDate=a.FromDate,a1.ToDate=a.ToDate,a1.MemoDate=a.MemoDate,a1.EffectiveDate=a.EffectiveDate,a1.ModifiedFlag=a.ModifiedFlag,a1.EffectiveUpdate=a.EffectiveUpdate
from @EnergyChargeSlabPeriods a inner join EnergyChargeSlabPeriods a1 on a1.EnergyChargeSlabPeriodID=a.EnergyChargeSlabPeriodID

insert into EnergyChargeSlabPeriods (EnergyChargeSlabPeriodID,TariffID,FromDate,ToDate,MemoDate,EffectiveDate,ModifiedFlag,EffectiveUpdate)
select * from @EnergyChargeSlabPeriods where EnergyChargeSlabPeriodID not in ( select EnergyChargeSlabPeriodID from EnergyChargeSlabPeriods )






Declare @EnergyChargeSlabs table (EnergyChargeSlabPeriodID Int,EnergyChargeSlabSeries Int,EnergyChargeSlabUnits Numeric(18,0),EnergyChargeSlabRate Float,MinimumEnergyCharge Numeric(18,0),ID Int)
Declare @EnergyChargeSlabsSql varchar(Max) Set @EnergyChargeSlabsSql='
select EnergyChargeSlabPeriodID,EnergyChargeSlabSeries,EnergyChargeSlabUnits,EnergyChargeSlabRate,MinimumEnergyCharge,ID from '+@ESRUdupi+'EnergyChargeSlabs
' insert into @EnergyChargeSlabs exec (@EnergyChargeSlabsSql)


 update a1 set a1.EnergyChargeSlabPeriodID=a.EnergyChargeSlabPeriodID,a1.EnergyChargeSlabSeries=a.EnergyChargeSlabSeries,a1.EnergyChargeSlabUnits=a.EnergyChargeSlabUnits,a1.EnergyChargeSlabRate=a.EnergyChargeSlabRate,a1.MinimumEnergyCharge=a.MinimumEnergyCharge
from @EnergyChargeSlabs a inner join EnergyChargeSlabs a1 on a1.ID=a.ID

insert into EnergyChargeSlabs (EnergyChargeSlabPeriodID,EnergyChargeSlabSeries,EnergyChargeSlabUnits,EnergyChargeSlabRate,MinimumEnergyCharge,ID)
select * from @EnergyChargeSlabs where ID not in ( select ID from EnergyChargeSlabs )






Declare @EnergyChargeSlabHistory table (EnergyChargeSlabPeriodID Int,EnergyChargeSlabSeries Int,EnergyChargeSlabUnits Numeric(18,0),EnergyChargeSlabRate Float,MinimumEnergyCharge Numeric(18,0),ValidUpTo Datetime)
Declare @EnergyChargeSlabHistorySql varchar(Max) Set @EnergyChargeSlabHistorySql='
select EnergyChargeSlabPeriodID,EnergyChargeSlabSeries,EnergyChargeSlabUnits,EnergyChargeSlabRate,MinimumEnergyCharge,ValidUpTo from '+@ESRUdupi+'EnergyChargeSlabHistory
' insert into @EnergyChargeSlabHistory exec (@EnergyChargeSlabHistorySql)

delete from EnergyChargeSlabHistory

insert into EnergyChargeSlabHistory 
select * from @EnergyChargeSlabHistory 






Declare @GovernmentOrganisationTypes table (GovernmentOrganisationTypeID Int,Description varchar(100))
Declare @GovernmentOrganisationTypesSql varchar(Max) Set @GovernmentOrganisationTypesSql='
select GovernmentOrganisationTypeID,Description from '+@ESRUdupi+'GovernmentOrganisationTypes
' insert into @GovernmentOrganisationTypes exec (@GovernmentOrganisationTypesSql)


 update a1 set a1.Description=a.Description
from @GovernmentOrganisationTypes a inner join GovernmentOrganisationTypes a1 on a1.GovernmentOrganisationTypeID=a.GovernmentOrganisationTypeID

insert into GovernmentOrganisationTypes (GovernmentOrganisationTypeID,Description)
select * from @GovernmentOrganisationTypes where GovernmentOrganisationTypeID not in ( select GovernmentOrganisationTypeID from GovernmentOrganisationTypes )






Declare @GovernmentOrganisations table (GovernmentOrganisationID Int,GovernmentOrganisationOLID Int,GovernmentOrganisationTypeID Int,Description varchar(100),GramPanchayatID Int)
Declare @GovernmentOrganisationsSql varchar(Max) Set @GovernmentOrganisationsSql='
select GovernmentOrganisationID,GovernmentOrganisationOLID,GovernmentOrganisationTypeID,Description,GramPanchayatID from '+@ESRUdupi+'GovernmentOrganisations
' insert into @GovernmentOrganisations exec (@GovernmentOrganisationsSql)


 update a1 set a1.GovernmentOrganisationOLID=a.GovernmentOrganisationOLID,a1.GovernmentOrganisationTypeID=a.GovernmentOrganisationTypeID,a1.Description=a.Description,a1.GramPanchayatID=a.GramPanchayatID
from @GovernmentOrganisations a inner join GovernmentOrganisations a1 on a1.GovernmentOrganisationID=a.GovernmentOrganisationID

insert into GovernmentOrganisations (GovernmentOrganisationID,GovernmentOrganisationOLID,GovernmentOrganisationTypeID,Description,GramPanchayatID)
select * from @GovernmentOrganisations where GovernmentOrganisationID not in ( select GovernmentOrganisationID from GovernmentOrganisations )






Declare @InstallationCategories table (InstallationCategoryID Int,Description varchar(100),UnderInstallationCategoryID Int,TariffID Int)
Declare @InstallationCategoriesSql varchar(Max) Set @InstallationCategoriesSql='
select InstallationCategoryID,Description,UnderInstallationCategoryID,TariffID from '+@ESRUdupi+'InstallationCategories
' insert into @InstallationCategories exec (@InstallationCategoriesSql)


 update a1 set a1.Description=a.Description,a1.UnderInstallationCategoryID=a.UnderInstallationCategoryID,a1.TariffID=a.TariffID
from @InstallationCategories a inner join InstallationCategories a1 on a1.InstallationCategoryID=a.InstallationCategoryID

insert into InstallationCategories (InstallationCategoryID,Description,UnderInstallationCategoryID,TariffID)
select * from @InstallationCategories where InstallationCategoryID not in ( select InstallationCategoryID from InstallationCategories )






Declare @MasterDataAlterationMainTypes table (MasterDataAlterationMainTypeID Int,Description varchar(100))
Declare @MasterDataAlterationMainTypesSql varchar(Max) Set @MasterDataAlterationMainTypesSql='
select MasterDataAlterationMainTypeID,Description from '+@ESRUdupi+'MasterDataAlterationMainTypes
' insert into @MasterDataAlterationMainTypes exec (@MasterDataAlterationMainTypesSql)


 update a1 set a1.Description=a.Description
from @MasterDataAlterationMainTypes a inner join MasterDataAlterationMainTypes a1 on a1.MasterDataAlterationMainTypeID=a.MasterDataAlterationMainTypeID

insert into MasterDataAlterationMainTypes (MasterDataAlterationMainTypeID,Description)
select * from @MasterDataAlterationMainTypes where MasterDataAlterationMainTypeID not in ( select MasterDataAlterationMainTypeID from MasterDataAlterationMainTypes )





Declare @MasterDataAlterationTypes table (MasterDataAlterationTypeID Int,Description varchar(100),MasterDataAlterationMainTypeID Int,Billable Int)
Declare @MasterDataAlterationTypesSql varchar(Max) Set @MasterDataAlterationTypesSql='
select MasterDataAlterationTypeID,Description,MasterDataAlterationMainTypeID,Billable from '+@ESRUdupi+'MasterDataAlterationTypes
' insert into @MasterDataAlterationTypes exec (@MasterDataAlterationTypesSql)


 update a1 set a1.Description=a.Description,a1.MasterDataAlterationMainTypeID=a.MasterDataAlterationMainTypeID,a1.Billable=a.Billable
from @MasterDataAlterationTypes a inner join MasterDataAlterationTypes a1 on a1.MasterDataAlterationTypeID=a.MasterDataAlterationTypeID

insert into MasterDataAlterationTypes (MasterDataAlterationTypeID,Description,MasterDataAlterationMainTypeID,Billable)
select * from @MasterDataAlterationTypes where MasterDataAlterationTypeID not in ( select MasterDataAlterationTypeID from MasterDataAlterationTypes )






Declare @DNodes table (DistributionNodeTypeID Int,DistributionNodeID Int,DistributionNodeOLID Int,ConnectionID Int,DistributionNodeName Varchar(100),DistributionNodeCode Varchar(50),UnderDistributionNodeTypeID Int,UnderDistributionNodeID Int,UnderDistributionNodeOLID Int,ExternalOrganisation Bit,ExternalOrganisationID Int,FileAs Varchar(200),StreetName Varchar(100),AreaID Int,CityID Int,StateID Int,PinCode Varchar(50),CountryID Int,VoltageClassID Int)
Declare @DNodesSql varchar(Max) Set @DNodesSql='
select DistributionNodeTypeID,DistributionNodeID,DistributionNodeOLID,ConnectionID,DistributionNodeName,DistributionNodeCode,UnderDistributionNodeTypeID,UnderDistributionNodeID,UnderDistributionNodeOLID,ExternalOrganisation,ExternalOrganisationID,FileAs,StreetName,AreaID,CityID,StateID,PinCode,CountryID,VoltageClassID
from '+@ESRUdupi+'DistributionNodes ' insert into @DNodes exec (@DNodesSql)


 update dn set dn.DistributionNodeTypeID=d.DistributionNodeTypeID,dn.DistributionNodeOLID=d.DistributionNodeOLID,dn.ConnectionID=d.ConnectionID,dn.DistributionNodeName=d.DistributionNodeName,dn.DistributionNodeCode=d.DistributionNodeCode,dn.UnderDistributionNodeTypeID=d.UnderDistributionNodeTypeID,dn.UnderDistributionNodeID=d.UnderDistributionNodeID,dn.UnderDistributionNodeOLID=d.UnderDistributionNodeOLID,dn.ExternalOrganisation=d.ExternalOrganisation,dn.ExternalOrganisationID=d.ExternalOrganisationID,dn.FileAs=d.FileAs,dn.StreetName=d.StreetName,dn.AreaID=d.AreaID,dn.CityID=d.CityID,dn.StateID=d.StateID,dn.PinCode=d.PinCode,dn.CountryID=d.CountryID,dn.VoltageClassID=d.VoltageClassID
from @DNodes d inner join DistributionNodes dn on dn.DistributionNodeID=d.DistributionNodeID

insert into DistributionNodes (DistributionNodeTypeID,DistributionNodeID,DistributionNodeOLID,ConnectionID,DistributionNodeName,DistributionNodeCode,UnderDistributionNodeTypeID,UnderDistributionNodeID,UnderDistributionNodeOLID,ExternalOrganisation,ExternalOrganisationID,FileAs,StreetName,AreaID,CityID,StateID,PinCode,CountryID,VoltageClassID)
select * from @DNodes where DistributionNodeID not in ( select DistributionNodeID from DistributionNodes )






Declare @Consumer table (ConsumerID Int,ConnectionID Int,ApplicationID Int,NameTitleID Int,FirstName Varchar(500),MiddleName Varchar(500),LastName Varchar(500),SuffixID Int,OLID Int,TariffID Int,RRNO Varchar(50),NextToConsumerID Int,InstallationCategoryID Int,GovernmentOrganisationTypeID Int,GovernmentOrganisationID Int,DistributionNodeID Int,DistributionNodeOLID Int,ClosingBalance Money,ConsumerConnectionStatusID Int,Metered Bit,FeederPhaseTypeID Int,LineMinimum Float,LineMinimumTerminationDate Datetime,CurrentLimit Float,FileAs Varchar(1000),LedgerNo Varchar(50),FolioNo Varchar(50),SanctionedLoad Float,SanctionedUnitID Int,ConnectedLoad Float,ConnectedUnitID Int,UnAuthorisedLoad Float,UnAuthorisedUnitID Int,ReadingDateAreaAllocationID Int,SpotSerialNo Int,TimeOfDayTariff Bit,ConsumerPremiseID Int,ServiceDate Datetime,AreaType Varchar(50),BillingMonth Int,BulkPowerSupplyCount Int,UnderConsumerID Int,TemporaryConsumer Bit,TemporaryConsumerID Int)
Declare @ConsumerSql varchar(Max) Set @ConsumerSql='
select ConsumerID,ConnectionID,ApplicationID,NameTitleID,FirstName,MiddleName,LastName,SuffixID,ConsumerOLID,TariffID,RRNO,NextToConsumerID,InstallationCategoryID,GovernmentOrganisationTypeID,GovernmentOrganisationID,DistributionNodeID,DistributionNodeOLID,ClosingBalance,ConsumerConnectionStatusID,Metered,FeederPhaseTypeID,LineMinimum,LineMinimumTerminationDate,CurrentLimit,FileAs,LedgerNo,FolioNo,SanctionedLoad,SanctionedLoadUnitID,ConnectedLoad,ConnectedLoadUnitID,UnAuthorisedLoad,UnAuthorisedLoadUnitID,ReadingDateAreaAllocationID,SpotSerialNo,TimeOfDayTariff,ConsumerPremiseID,ServiceDate,AreaType,BillingMonth,BulkPowerSupplyCount,UnderConsumerID,TemporaryConsumer,TemporaryConsumerID
from '+@ESRUdupi+'Consumer ' insert into @Consumer exec (@ConsumerSql)


 update cn set cn.ConnectionID=c.ConnectionID,cn.ApplicationID=c.ApplicationID,cn.NameTitleID=c.NameTitleID,cn.FirstName=c.FirstName,cn.MiddleName=c.MiddleName,cn.LastName=c.LastName,cn.SuffixID=c.SuffixID,cn.OLID=c.OLID,cn.TariffID=c.TariffID,cn.RRNO=c.RRNO,cn.NextToConsumerID=c.NextToConsumerID,cn.InstallationCategoryID=c.InstallationCategoryID,cn.GovernmentOrganisationTypeID=c.GovernmentOrganisationTypeID,cn.GovernmentOrganisationID=c.GovernmentOrganisationID,cn.DistributionNodeID=c.DistributionNodeID,cn.DistributionNodeOLID=c.DistributionNodeOLID,cn.ClosingBalance=c.ClosingBalance,cn.ConsumerConnectionStatusID=c.ConsumerConnectionStatusID,cn.Metered=c.Metered,cn.FeederPhaseTypeID=c.FeederPhaseTypeID
,cn.LineMinimum=c.LineMinimum,cn.LineMinimumTerminationDate=c.LineMinimumTerminationDate,cn.CurrentLimit=c.CurrentLimit,cn.FileAs=c.FileAs,cn.LedgerNo=c.LedgerNo,cn.FolioNo=c.FolioNo,cn.SanctionedLoad=c.SanctionedLoad,cn.SanctionedUnitID=c.SanctionedUnitID,cn.ConnectedLoad=c.ConnectedLoad,cn.ConnectedUnitID=c.ConnectedUnitID,cn.UnAuthorisedLoad=c.UnAuthorisedLoad,cn.UnAuthorisedUnitID=c.UnAuthorisedUnitID,cn.ReadingDateAreaAllocationID=c.ReadingDateAreaAllocationID,cn.SpotSerialNo=c.SpotSerialNo,cn.TimeOfDayTariff=c.TimeOfDayTariff,cn.ConsumerPremiseID=c.ConsumerPremiseID,cn.ServiceDate=c.ServiceDate,cn.AreaType=c.AreaType,cn.BillingMonth=c.BillingMonth,cn.BulkPowerSupplyCount=c.BulkPowerSupplyCount
,cn.UnderConsumerID=c.UnderConsumerID,cn.TemporaryConsumer=c.TemporaryConsumer,cn.TemporaryConsumerID=c.TemporaryConsumerID
from @Consumer c inner join Consumer cn on c.ConsumerID=cn.ConsumerID

insert into Consumer (ConsumerID,ConnectionID,ApplicationID,NameTitleID,FirstName,MiddleName,LastName,SuffixID,OLID,TariffID,RRNO,NextToConsumerID,InstallationCategoryID,GovernmentOrganisationTypeID,GovernmentOrganisationID,DistributionNodeID,DistributionNodeOLID,ClosingBalance,ConsumerConnectionStatusID,Metered,FeederPhaseTypeID,LineMinimum,LineMinimumTerminationDate,CurrentLimit,FileAs,LedgerNo,FolioNo,SanctionedLoad,SanctionedUnitID,ConnectedLoad,ConnectedUnitID,UnAuthorisedLoad,UnAuthorisedUnitID,ReadingDateAreaAllocationID,SpotSerialNo,TimeOfDayTariff,ConsumerPremiseID,ServiceDate,AreaType,BillingMonth,BulkPowerSupplyCount,UnderConsumerID,TemporaryConsumer,TemporaryConsumerID)
select * from @Consumer where ConsumerID not in ( select ConsumerID from Consumer )



Declare @CNUpdateSql varchar(Max) Set @CNUpdateSql='
update c set RevenueTransfered=1 from '+@ESRUdupi+'Consumer c where RevenueTransfered=0
' exec (@CNUpdateSql)





Declare @ConsumerAddressDetails table (ConsumerAddressDetailsID Int,ConsumerID Int,AddressCategoryID Int,StreetName varchar(500),AreaID Int,CityID Int,StateID Int,DistrictID Int,TalukID Int,GramPanchayatID Int,PinCode varchar(20),CountryID Int,MailAddress Int)
Declare @ConsumerAddressDetailsSql varchar(Max) Set @ConsumerAddressDetailsSql='
select ConsumerAddressDetailsID,ConsumerID,AddressCategoryID,StreetName,AreaID,CityID,StateID,DistrictID,TalukID,GramPanchayatID,PinCode,CountryID,MailAddress
from '+@ESRUdupi+'ConsumerAddressDetails ' insert into @ConsumerAddressDetails exec (@ConsumerAddressDetailsSql)


 update cad1 set cad1.ConsumerID=cad.ConsumerID,cad1.AddressCategoryID=cad.AddressCategoryID,cad1.StreetName=cad.StreetName,cad1.AreaID=cad.AreaID,cad1.CityID=cad.CityID,cad1.StateID=cad.StateID,cad1.DistrictID=cad.DistrictID,cad1.TalukID=cad.TalukID,cad1.GramPanchayatID=cad.GramPanchayatID,cad1.PinCode=cad.PinCode,cad1.CountryID=cad.CountryID,cad1.MailAddress=cad.MailAddress
from @ConsumerAddressDetails cad inner join ConsumerAddressDetails cad1 on cad1.ConsumerAddressDetailsID=cad.ConsumerAddressDetailsID

insert into ConsumerAddressDetails (ConsumerAddressDetailsID,ConsumerID,AddressCategoryID,StreetName,AreaID,CityID,StateID,DistrictID,TalukID,GramPanchayatID,PinCode,CountryID,MailAddress)
select * from @ConsumerAddressDetails where ConsumerAddressDetailsID not in ( select ConsumerAddressDetailsID from ConsumerAddressDetails )





Declare @ConsumerDepositDetails table (ConsumerDepositDetailsID Int,ConsumerID Int,ContactCategoryDepositAllocationID Int,ClaimedDate datetime,Amount Money,ReceiptAmount Money)
Declare @ConsumerDepositDetailsSql varchar(Max) Set @ConsumerDepositDetailsSql='
select ConsumerDepositDetailsID,ConsumerID,ContactCategoryDepositAllocationID,ClaimedDate,Amount,ReceiptAmount
from '+@ESRUdupi+'ConsumerDepositDetails ' insert into @ConsumerDepositDetails exec (@ConsumerDepositDetailsSql)


 update a1 set a1.ConsumerID=a.ConsumerID,a1.ContactCategoryDepositAllocationID=a.ContactCategoryDepositAllocationID,a1.ClaimedDate=a.ClaimedDate,a1.Amount=a.Amount,a1.ReceiptAmount=a.ReceiptAmount
from @ConsumerDepositDetails a inner join ConsumerDepositDetails a1 on a1.ConsumerDepositDetailsID=a.ConsumerDepositDetailsID

insert into ConsumerDepositDetails (ConsumerDepositDetailsID,ConsumerID,ContactCategoryDepositAllocationID,ClaimedDate,Amount,ReceiptAmount)
select * from @ConsumerDepositDetails where ConsumerDepositDetailsID not in ( select ConsumerDepositDetailsID from ConsumerDepositDetails )

Declare @CDDeUpdateSql varchar(Max) Set @CDDeUpdateSql='
update c set RevenueTransfered=1 from '+@ESRUdupi+'ConsumerDepositDetails c where RevenueTransfered=0
' exec (@CDDeUpdateSql)






Declare @ConsumerDepositReceiptDetails table (ConsumerDepositReceiptDetailsID Int,ConsumerDepositDetailsID Int,ReceiptNumber varchar(max),CollectCentreID Int,ReceiptDate Datetime,ReceiptOLID Int,ReceiptAmount Money)
Declare @ConsumerDepositReceiptDetailsSql varchar(Max) Set @ConsumerDepositReceiptDetailsSql='
select ConsumerDepositReceiptDetailsID,ConsumerDepositDetailsID,ReceiptNumber,CollectCentreID,ReceiptDate,ReceiptOLID,ReceiptAmount
from '+@ESRUdupi+'ConsumerDepositReceiptDetails ' insert into @ConsumerDepositReceiptDetails exec (@ConsumerDepositReceiptDetailsSql)


 update a1 set a1.ConsumerDepositDetailsID=a.ConsumerDepositDetailsID,a1.ReceiptNumber=a.ReceiptNumber,a1.CollectCentreID=a.CollectCentreID,a1.ReceiptDate=a.ReceiptDate,a1.ReceiptOLID=a.ReceiptOLID,a1.ReceiptAmount=a.ReceiptAmount
from @ConsumerDepositReceiptDetails a inner join ConsumerDepositReceiptDetails a1 on a1.ConsumerDepositReceiptDetailsID=a.ConsumerDepositReceiptDetailsID


insert into ConsumerDepositReceiptDetails (ConsumerDepositReceiptDetailsID,ConsumerDepositDetailsID,ReceiptNumber,CollectCentreID,ReceiptDate,ReceiptOLID,ReceiptAmount)
select  * from @ConsumerDepositReceiptDetails where ConsumerDepositReceiptDetailsID not in ( select ConsumerDepositReceiptDetailsID from ConsumerDepositReceiptDetails )

Declare @CDRDUpdateSql varchar(Max) Set @CDRDUpdateSql='
update c set RevenueTransfered=1 from '+@ESRUdupi+'ConsumerDepositReceiptDetails c where RevenueTransfered=0
' exec (@CDRDUpdateSql)



Declare @ConsumerPaymentDetails table (ConsumerPaymentDetailsID Int,ConsumerID Int,ContactCategoryPaymentAllocationID Int,ClaimedDate Datetime,Amount Money,ReceiptAmount Money)
Declare @ConsumerPaymentDetailsSql varchar(Max) Set @ConsumerPaymentDetailsSql='
select ConsumerPaymentDetailsID,ConsumerID,ContactCategoryPaymentAllocationID,ClaimedDate,Amount,ReceiptAmount
from '+@ESRUdupi+'ConsumerPaymentDetails ' insert into @ConsumerPaymentDetails exec (@ConsumerPaymentDetailsSql)


 update a1 set a1.ConsumerID=a.ConsumerID,a1.ContactCategoryPaymentAllocationID=a.ContactCategoryPaymentAllocationID,a1.ClaimedDate=a.ClaimedDate,a1.Amount=a.Amount,a1.ReceiptAmount=a.ReceiptAmount
from @ConsumerPaymentDetails a inner join ConsumerPaymentDetails a1 on a1.ConsumerPaymentDetailsID=a.ConsumerPaymentDetailsID

insert into ConsumerPaymentDetails (ConsumerPaymentDetailsID,ConsumerID,ContactCategoryPaymentAllocationID,ClaimedDate,Amount,ReceiptAmount)
select * from @ConsumerPaymentDetails where ConsumerPaymentDetailsID not in ( select ConsumerPaymentDetailsID from ConsumerPaymentDetails )

Declare @CPDUpdateSql varchar(Max) Set @CPDUpdateSql='
update c set RevenueTransfered=1 from '+@ESRUdupi+'ConsumerPaymentDetails c where RevenueTransfered=0
' exec (@CPDUpdateSql)






Declare @ConsumerPaymentReceiptDetails table (ConsumerPaymentDetailsID Int,ReceiptNumber varchar(max),CollectCentreID Int,ReceiptDate Datetime,ReceiptOLID Int,ReceiptAmount Money)
Declare @ConsumerPaymentReceiptDetailsSql varchar(Max) Set @ConsumerPaymentReceiptDetailsSql='
select ConsumerPaymentDetailsID,ReceiptNumber,CollectCentreID,ReceiptDate,ReceiptOLID,ReceiptAmount
from '+@ESRUdupi+'ConsumerPaymentReceiptDetails ' insert into @ConsumerPaymentReceiptDetails exec (@ConsumerPaymentReceiptDetailsSql)

delete from ConsumerPaymentReceiptDetails

insert into ConsumerPaymentReceiptDetails 
select * from @ConsumerPaymentReceiptDetails

Declare @CPRDUpdateSql varchar(Max) Set @CPRDUpdateSql='
update c set RevenueTransfered=1 from '+@ESRUdupi+'ConsumerPaymentReceiptDetails c where RevenueTransfered=0
' exec (@CPRDUpdateSql)






Declare @ConsumerAttributeAllocation table (ConsumerID Int,AttributeID Int)
Declare @ConsumerAttributeAllocationSql varchar(Max) Set @ConsumerAttributeAllocationSql='
select ConsumerID,AttributeID from '+@ESRUdupi+'ConsumerAttributeAllocation
' insert into @ConsumerAttributeAllocation exec (@ConsumerAttributeAllocationSql)

delete from ConsumerAttributeAllocation 

insert into ConsumerAttributeAllocation (ConsumerID,AttributeID)
select * from @ConsumerAttributeAllocation






Declare @CCLoadDetails table (ConsumerID Int,ConnectedLoad Float,UnitID Int)
Declare @CCLoadDetailsSql varchar(Max) Set @CCLoadDetailsSql='
select ConsumerID,ConnectedLoad,UnitID from '+@ESRUdupi+'ConsumerConnectedLoadDetails
' insert into @CCLoadDetails exec (@CCLoadDetailsSql)


 update a1 set a1.ConnectedLoad=a.ConnectedLoad,a1.UnitID=a.UnitID
from @CCLoadDetails a inner join ConsumerConnectedLoadDetails a1 on a1.ConsumerID=a.ConsumerID

insert into ConsumerConnectedLoadDetails (ConsumerID,ConnectedLoad,UnitID)
select * from @CCLoadDetails where ConsumerID not in ( select ConsumerID from ConsumerConnectedLoadDetails )






Declare @ConsumerEmailDetails table (ConsumerID Int,EmailCategoryID Int,EmailAddress varchar(100))
Declare @ConsumerEmailDetailsSql varchar(Max) Set @ConsumerEmailDetailsSql='
select ConsumerID,EmailCategoryID,EmailAddress from '+@ESRUdupi+'ConsumerEmailDetails
 ' insert into @ConsumerEmailDetails exec (@ConsumerEmailDetailsSql)

delete from ConsumerEmailDetails

insert into ConsumerEmailDetails 
select * from @ConsumerEmailDetails





Declare @ConsumerRebateAllocation table (ConsumerID Int,ConsumerRebateID Int,ValidityFromDate Datetime,ValidityToDate DateTime,PermanentValidity Int)
Declare @ConsumerRebateAllocationSql varchar(Max) Set @ConsumerRebateAllocationSql='
select ConsumerID,ConsumerRebateID,ValidityFromDate,ValidityToDate,PermanentValidity from '+@ESRUdupi+'ConsumerRebateAllocation
 ' insert into @ConsumerRebateAllocation exec (@ConsumerRebateAllocationSql)

delete from ConsumerRebateAllocation

insert into ConsumerRebateAllocation
select * from @ConsumerRebateAllocation






Declare @ConsumerPhoneDetails table (ConsumerID Int,PhoneCategoryID Int,CountryID Int,AreaCode varchar(50),LocalNumber varchar(250),ExtensionNo varchar(50))
Declare @ConsumerPhoneDetailsSql varchar(Max) Set @ConsumerPhoneDetailsSql='
select ConsumerID,PhoneCategoryID,CountryID,AreaCode,LocalNumber,ExtensionNo from '+@ESRUdupi+'ConsumerPhoneDetails
 ' insert into @ConsumerPhoneDetails exec (@ConsumerPhoneDetailsSql)

delete from ConsumerPhoneDetails

insert into ConsumerPhoneDetails
select * from @ConsumerPhoneDetails






Declare @ConsumerSanctionedLoadDetails table (ConsumerID Int,SanctionedLoad Float,UnitID Int)
Declare @ConsumerSanctionedLoadDetailsSql varchar(Max) Set @ConsumerSanctionedLoadDetailsSql='
select ConsumerID,SanctionedLoad,UnitID from '+@ESRUdupi+'ConsumerSanctionedLoadDetails
 ' insert into @ConsumerSanctionedLoadDetails exec (@ConsumerSanctionedLoadDetailsSql)

delete from ConsumerSanctionedLoadDetails

insert into ConsumerSanctionedLoadDetails
select * from @ConsumerSanctionedLoadDetails






Declare @ConsumerUnAuthorisedLoadDetails table (ConsumerID Int,UnAuthorisedLoad Float,UnitID Int)
Declare @ConsumerUnAuthorisedLoadDetailsSql varchar(Max) Set @ConsumerUnAuthorisedLoadDetailsSql='
select ConsumerID,UnAuthorisedLoad,UnitID from '+@ESRUdupi+'ConsumerUnAuthorisedLoadDetails
 ' insert into @ConsumerUnAuthorisedLoadDetails exec (@ConsumerUnAuthorisedLoadDetailsSql)

delete from ConsumerUnAuthorisedLoadDetails

insert into ConsumerUnAuthorisedLoadDetails
select * from @ConsumerUnAuthorisedLoadDetails





ALTER TABLE Address CHECK CONSTRAINT all ALTER TABLE AddressCategory CHECK CONSTRAINT all ALTER TABLE AllocationStatement CHECK CONSTRAINT all
ALTER TABLE AllocationStatementPresetData CHECK CONSTRAINT all ALTER TABLE ApplicationDetails CHECK CONSTRAINT all ALTER TABLE Area CHECK CONSTRAINT all
ALTER TABLE City CHECK CONSTRAINT all ALTER TABLE CollectionAdjustmentTypes CHECK CONSTRAINT all ALTER TABLE ComplaintTypes CHECK CONSTRAINT all
ALTER TABLE Consumer CHECK CONSTRAINT all ALTER TABLE ConsumerAddressDetails CHECK CONSTRAINT all ALTER TABLE ConsumerAttributes CHECK CONSTRAINT all
ALTER TABLE ConsumerClosingBalanceDetails CHECK CONSTRAINT all ALTER TABLE ConsumerClosingBalanceDetailsSub CHECK CONSTRAINT all ALTER TABLE ConsumerConnectionStatus CHECK CONSTRAINT all
ALTER TABLE ConsumerDepositDetails CHECK CONSTRAINT all ALTER TABLE ConsumerDepositReceiptDetails CHECK CONSTRAINT all ALTER TABLE ConsumerDisConnectionList CHECK CONSTRAINT all
ALTER TABLE ConsumerDisconnectionReasons CHECK CONSTRAINT all ALTER TABLE ConsumerLoginAllocation CHECK CONSTRAINT all ALTER TABLE ConsumerLogins CHECK CONSTRAINT all
ALTER TABLE ConsumerPaymentDetails CHECK CONSTRAINT all ALTER TABLE ConsumerPaymentReceiptDetails CHECK CONSTRAINT all ALTER TABLE ConsumerPremises CHECK CONSTRAINT all
ALTER TABLE ConsumerRebates CHECK CONSTRAINT all ALTER TABLE ContactAddressDetails CHECK CONSTRAINT all ALTER TABLE ContactCategories CHECK CONSTRAINT all
ALTER TABLE ContactCategoryAllocation CHECK CONSTRAINT all ALTER TABLE ContactCategoryDepositAllocation CHECK CONSTRAINT all ALTER TABLE ContactCategoryDocumentAllocation CHECK CONSTRAINT all
ALTER TABLE ContactCategoryPaymentAllocation CHECK CONSTRAINT all ALTER TABLE ContactEmailDetails CHECK CONSTRAINT all ALTER TABLE ContactPhoneDetails CHECK CONSTRAINT all
ALTER TABLE Contacts CHECK CONSTRAINT all ALTER TABLE Country CHECK CONSTRAINT all ALTER TABLE DCB CHECK CONSTRAINT all
ALTER TABLE DCBAttributeDetails CHECK CONSTRAINT all ALTER TABLE DCBConsumptionDetails CHECK CONSTRAINT all ALTER TABLE DCBDetails CHECK CONSTRAINT all
ALTER TABLE DCBRebateDetails CHECK CONSTRAINT all ALTER TABLE DCBSlabConsumptionDetails CHECK CONSTRAINT all ALTER TABLE DemandChargeMainTypes CHECK CONSTRAINT all
ALTER TABLE DemandCharges CHECK CONSTRAINT all ALTER TABLE DemandChargeTypes CHECK CONSTRAINT all ALTER TABLE Department CHECK CONSTRAINT all
ALTER TABLE Deposits CHECK CONSTRAINT all ALTER TABLE Designation CHECK CONSTRAINT all ALTER TABLE DistributionInspectionOptions CHECK CONSTRAINT all
ALTER TABLE DistributionInspectionSchedules CHECK CONSTRAINT all ALTER TABLE DistributionMaintenance CHECK CONSTRAINT all ALTER TABLE DistributionMaintenanceDetails CHECK CONSTRAINT all
ALTER TABLE DistributionMaintenanceReasons CHECK CONSTRAINT all ALTER TABLE DistributionMaintenanceReasonTypes CHECK CONSTRAINT all ALTER TABLE DistributionNodeDetails CHECK CONSTRAINT all
ALTER TABLE DistributionNodeDetailsSub CHECK CONSTRAINT all ALTER TABLE DistributionNodeInterruptionDetails CHECK CONSTRAINT all ALTER TABLE DistributionNodeInterruptions CHECK CONSTRAINT all
ALTER TABLE DistributionNodeInterruptionTypes CHECK CONSTRAINT all ALTER TABLE DistributionNodeMNRList CHECK CONSTRAINT all ALTER TABLE DistributionNodeReadingDetails CHECK CONSTRAINT all
ALTER TABLE DistributionNodeReadings CHECK CONSTRAINT all ALTER TABLE DistributionNodes CHECK CONSTRAINT all ALTER TABLE DistributionNodeTypes CHECK CONSTRAINT all
ALTER TABLE DistributionNodeUserDefinedFields CHECK CONSTRAINT all ALTER TABLE Districts CHECK CONSTRAINT all ALTER TABLE DocumentTypes CHECK CONSTRAINT all
ALTER TABLE dtproperties CHECK CONSTRAINT all ALTER TABLE ElectricalAccidents CHECK CONSTRAINT all ALTER TABLE ElectricalAccidentStatus CHECK CONSTRAINT all
ALTER TABLE ElectricalAccidentVictimTypes CHECK CONSTRAINT all ALTER TABLE EmailCategory CHECK CONSTRAINT all ALTER TABLE Employee CHECK CONSTRAINT all
ALTER TABLE EmployeeCategories CHECK CONSTRAINT all ALTER TABLE ExternalOrganisationBranches CHECK CONSTRAINT all ALTER TABLE ExternalOrganisationBranchLocationTypes CHECK CONSTRAINT all
ALTER TABLE ExternalOrganisations CHECK CONSTRAINT all ALTER TABLE ExternalOrganisationTypes CHECK CONSTRAINT all ALTER TABLE FeederPhaseTypes CHECK CONSTRAINT all
ALTER TABLE GovernmentOrganisations CHECK CONSTRAINT all ALTER TABLE GovernmentOrganisationTypes CHECK CONSTRAINT all ALTER TABLE GramPanchayats CHECK CONSTRAINT all
ALTER TABLE InstallationCategories CHECK CONSTRAINT all ALTER TABLE Location CHECK CONSTRAINT all ALTER TABLE MasterDataAlterationMainTypes CHECK CONSTRAINT all
ALTER TABLE MasterDataAlterations CHECK CONSTRAINT all ALTER TABLE MasterDataAlterationTypes CHECK CONSTRAINT all ALTER TABLE MaterialMovementRegister CHECK CONSTRAINT all
ALTER TABLE MeterReadingAreas CHECK CONSTRAINT all ALTER TABLE MeterReleasedAndReplacements CHECK CONSTRAINT all ALTER TABLE MMRDetails CHECK CONSTRAINT all
ALTER TABLE MMROtherDetails CHECK CONSTRAINT all ALTER TABLE NameSuffix CHECK CONSTRAINT all ALTER TABLE NameTitle CHECK CONSTRAINT all
ALTER TABLE ODLDAllocation CHECK CONSTRAINT all ALTER TABLE Office CHECK CONSTRAINT all ALTER TABLE OfficeLocationAllocation CHECK CONSTRAINT all
ALTER TABLE OfficeLocationDepartmentAddress CHECK CONSTRAINT all ALTER TABLE OfficeLocationDepartmentAllocation CHECK CONSTRAINT all ALTER TABLE OfficeLocationDepartmentPhoneDetails CHECK CONSTRAINT all
ALTER TABLE PhoneCategory CHECK CONSTRAINT all ALTER TABLE PremisedLocationTypes CHECK CONSTRAINT all ALTER TABLE Processes CHECK CONSTRAINT all
ALTER TABLE ReadingdateAreaAllocation CHECK CONSTRAINT all ALTER TABLE RevenueBillReasons CHECK CONSTRAINT all ALTER TABLE RevenueBillTypes CHECK CONSTRAINT all
ALTER TABLE RevenueLedger CHECK CONSTRAINT all ALTER TABLE ScheduleTypes CHECK CONSTRAINT all ALTER TABLE State CHECK CONSTRAINT all
ALTER TABLE Stock CHECK CONSTRAINT all ALTER TABLE sysdiagrams CHECK CONSTRAINT all ALTER TABLE Taluks CHECK CONSTRAINT all
ALTER TABLE Tariffs CHECK CONSTRAINT all ALTER TABLE UnitOfMeasure CHECK CONSTRAINT all ALTER TABLE Users CHECK CONSTRAINT all
ALTER TABLE Villages CHECK CONSTRAINT all ALTER TABLE VoltageClass CHECK CONSTRAINT all ALTER TABLE WorkTypes CHECK CONSTRAINT all


GO
