USE [ESMCCUdupi]
GO
/****** Object:  StoredProcedure [dbo].[ImageDT]    Script Date: 15-06-2026 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ImageDT] @DB varchar(50),@Month varchar(10),@Year varchar(10) as 



Declare @sql1 varchar(max) 

set @sql1='
select imagepath,a.consumerid,dcbdetailsid into #tmp
from '+@DB+'PreBillDetails a
inner join(select dcbdetailsid,consumerid from dcbdetails a
                     inner join DCB b on a.DCBID=b.DCBID and b.DCBMonth='+@Month+' and b.DCBYear='+@Year+') as b on a.consumerid=b.consumerid
where arrearbill=1 and month(BillDate)='+@Month+' and year(BillDate)='+@Year+' and a.imagepath<>'''' 

update b set b.Imagepath=a.Imagepath
from #tmp a
inner join DCBDetails b on a.dcbdetailsid=b.dcbdetailsid'

exec(@sql1)

GO
