USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertDemandChargeType]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[sp_insertDemandChargeType]
@discription varchar(max),
 @DemandChargeMainTypeID varchar(max),
@ak varchar(max),
@CollectionOrder varchar(max) 
AS
SET NOCOUNT ON


Declare @v int select @v=0

select * From (
select  top 1  'Allready same demand type exits' massage ,'error'  types from DemandChargeTypes where Description = @discription
)kl

set @v=(select isnull(sum(a),0) count From (select  top 1  'Allready same demand type exits please select' massage ,1 a from DemandChargeTypes where Description = @discription)kl)

IF (@v=0 )
BEGIN

declare @sl varchar(max)  select @sl=','



declare @counts int SELECT @counts=(DATALENGTH(@ak)-DATALENGTH(REPLACE(@ak,@sl,'')))/DATALENGTH(@sl)


create table  #tempcols (name varchar(max))
WHILE ( @counts >= 0)
BEGIN
insert into #tempcols
SELECT left(@ak,CHARINDEX(@sl,@ak)-1)   where 0<@counts
insert into #tempcols
SELECT @ak  where 0=@counts
set @ak=right(@ak,len(@ak)-CHARINDEX(@sl,@ak))
set @counts=@counts-1
ENd



insert into DemandChargeTypes 
select @discription,@DemandChargeMainTypeID,null, @CollectionOrder,case when len(@ak)=0 then 0 else 1 end ,
case when @DemandChargeMainTypeID=3 then 1 else 0 end,case when @DemandChargeMainTypeID=2 then 1 else 0 end
union
select @discription+' '+name,(select  top 1 DemandChargeMainTypeID From DemandChargeMainTypes where Description=name),
null,@CollectionOrder+1,0,
case when name='Tax' then 1 else 0 end,case when name='Interest' then 1 else 0 end
From #tempcols where name!=''


insert into DemandChargeTypeTaxAllocation
select  (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription), 
 (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription+' '+name)
 from  #tempcols where name='Tax'

insert into DemandChargeTypeInterestAllocation
select  (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription), 
 (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription+' '+name)
from  #tempcols where name='Interest'


insert into DemandChargeTypeArrearsAllocation
select  (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription), 
 (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription+' '+name)
from  #tempcols where name='Arrears'



drop table  #tempcols

select   'Sucessfully inserted' massage,'done' types
end 




GO
