USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_Unbilledpopup1]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  procedure [dbo].[sp_Unbilledpopup1] @status int,@popup varchar(100) 
as



if @status=1
begin

select u.username Meterreader,areaname,c.rrno,isnull(max(billdate),max(c.ServiceDate)) 'Last Billdate' from 
(
select  a.rrno from 
(
select RRNo,consumerid,ConsumerConnectionStatusID,tariffid, ReadingDateAreaAllocationID,convert(datetime,concat(Year,'-',Month,'-','1'),120) Date1 ,fileas Consumername from
(
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)) year ,month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)) month
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0))
) as Q
cross join  Consumer
where   ConsumerConnectionStatusID=1) a
left join PreBillDetails p on a.RRNo=p.RRNo  and Month(p.BillDate)=Month(a.Date1) and Year(p.BillDate)=Year(a.Date1)  and billed=1 and sbm=1 and odc<>1 AND p.ArrearBill=1
where billdate is null
group by a.rrno having count(*) =3
) b
inner join consumer c on b.rrno=c.rrno
left join PreBillDetails p on c.RRNo=p.RRNo and billed=1 and sbm=1 and odc<>1 and arrearbill=1
inner join ReadingdateAreaAllocation r on c.ReadingDateAreaAllocationID=r.ReadingDateAreaAllocationID
left join Users u on u.contactid=r.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
where areaname=(select parsename(replace(@popup,'-','.'),1))  and username=(select parsename(replace(@popup,'-','.'),2)) 
group by u.username,areaname,c.rrno
end

else if @status=2
begin

select u.username Meterreader,areaname,c.rrno,isnull(max(billdate),max(c.ServiceDate)) 'Last Billdate' from 
(
select  a.rrno from 
(
select RRNo,consumerid,ConsumerConnectionStatusID,tariffid, ReadingDateAreaAllocationID,convert(datetime,concat(Year,'-',Month,'-','1'),120) Date1 ,fileas Consumername from
(
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0)) year ,month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0)) month
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-5, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-5, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-4, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-4, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0))
) as Q
cross join  Consumer
where   ConsumerConnectionStatusID=1) a
left join PreBillDetails p on a.RRNo=p.RRNo  and Month(p.BillDate)=Month(a.Date1) and Year(p.BillDate)=Year(a.Date1)  and billed=1 and sbm=1 and odc<>1 AND p.ArrearBill=1
where billdate is null
group by a.rrno having count(*) =6
) b
inner join consumer c on b.rrno=c.rrno
left join PreBillDetails p on c.RRNo=p.RRNo and billed=1 and sbm=1 and odc<>1 and arrearbill=1
inner join ReadingdateAreaAllocation r on c.ReadingDateAreaAllocationID=r.ReadingDateAreaAllocationID
left join Users u on u.contactid=r.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
group by u.username,areaname,c.rrno
 end

else if @status=3
begin

select u.username Meterreader,areaname,c.rrno,isnull(max(billdate),max(c.ServiceDate)) 'Last Billdate' from 
(
select  a.rrno from 
(
select RRNo,consumerid,ConsumerConnectionStatusID,tariffid, ReadingDateAreaAllocationID,convert(datetime,concat(Year,'-',Month,'-','1'),120) Date1 ,fileas Consumername from
(
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-9, 0)) year ,month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-9, 0)) month
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-8, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-8, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-7, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-7, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-5, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-5, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-4, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-4, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0))
) as Q
cross join  Consumer
where   ConsumerConnectionStatusID=1) a
left join PreBillDetails p on a.RRNo=p.RRNo  and Month(p.BillDate)=Month(a.Date1) and Year(p.BillDate)=Year(a.Date1)  and billed=1 and sbm=1 and odc<>1 AND p.ArrearBill=1
where billdate is null
group by a.rrno having count(*) =9
) b
inner join consumer c on b.rrno=c.rrno
left join PreBillDetails p on c.RRNo=p.RRNo and billed=1 and sbm=1 and odc<>1 and arrearbill=1
inner join ReadingdateAreaAllocation r on c.ReadingDateAreaAllocationID=r.ReadingDateAreaAllocationID
left join Users u on u.contactid=r.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
group by u.username,areaname,c.rrno
 end

else if @status=4
begin

select u.username Meterreader,areaname,c.rrno,isnull(max(billdate),max(c.ServiceDate)) 'Last Billdate' from  
(
select  a.rrno from 
(
select RRNo,consumerid,ConsumerConnectionStatusID,tariffid, ReadingDateAreaAllocationID,convert(datetime,concat(Year,'-',Month,'-','1'),120) Date1 ,fileas Consumername from
(
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-12, 0)) year ,month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-12, 0)) month
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-11, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-11, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-10, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-10, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-9, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-9, 0))

union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-8, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-8, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-7, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-7, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-5, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-5, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-4, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-4, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-2, 0))
union
select year(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)),month(DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0))
) as Q
cross join  Consumer
where   ConsumerConnectionStatusID=1) a
left join PreBillDetails p on a.RRNo=p.RRNo  and Month(p.BillDate)=Month(a.Date1) and Year(p.BillDate)=Year(a.Date1)  and billed=1 and sbm=1 and odc<>1 AND p.ArrearBill=1
where billdate is null
group by a.rrno having count(*) =12
) b
inner join consumer c on b.rrno=c.rrno
left join PreBillDetails p on c.RRNo=p.RRNo and billed=1 and sbm=1 and odc<>1 and arrearbill=1
inner join ReadingdateAreaAllocation r on c.ReadingDateAreaAllocationID=r.ReadingDateAreaAllocationID
left join Users u on u.contactid=r.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
group by u.username,areaname,c.rrno
end
GO
