USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_MRC]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_MRC]  @status int,@reason varchar(100) 
as



DECLARE @cols  AS NVARCHAR(MAX)=''
DECLARE @cols1  AS NVARCHAR(MAX)=''
DECLARE @query  AS NVARCHAR(MAX)=''




 
SELECT @cols = @cols + QUOTENAME(RevenueBillReason) + ',' FROM 
( 
select distinct r.Description RevenueBillReason from 
RevenueBillReasons  r left join 
(

select isnull(p.meterreaderid,0) meterreaderid,isnull(consumerid,0) consumerid,isnull(pr.RevenueBillReasonID,0) RevenueBillReasonID,isnull(count(*),0) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
inner join users u  on u.contactid=p.meterreaderid
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1 and (case when @reason=0 then   0  else pr.RevenueBillReasonID end) in (@reason )
group by  p.meterreaderid,consumerid,pr.RevenueBillReasonID
) a  on a.RevenueBillReasonID=r.RevenueBillReasonID
group by meterreaderid,a.RevenueBillReasonID,r.Description
) as tmp




select @cols1= left(@cols,len(@cols)-1)

if @status=1
begin



set @query = 
'SELECT * from 
(
   select distinct u.username,r.Description RevenueBillReason,count(*) count1 from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-3, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=3 
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
 and (case when '+@reason+'=''0''  then  ''0''  else convert(varchar,r.RevenueBillReasonID,20) end) in ('+@reason+')
group by u.username,a.RevenueBillReasonID,r.Description

) src
pivot 
(
   max(count1) for RevenueBillReason in ('+@cols1+') 
) piv 

'
execute(@query)
end


else if @status=2
begin



set @query = 
'SELECT * from 
(select distinct u.username,r.Description RevenueBillReason,count(*) count1 from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-6, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=6
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
 and (case when '+@reason+'=''0''  then  ''0''  else convert(varchar,r.RevenueBillReasonID,20) end) in ('+@reason+')
group by u.username,a.RevenueBillReasonID,r.Description

) src
pivot 
(
   max(count1) for RevenueBillReason in ('+@cols1+')
) piv 

'
execute(@query)
end


else if @status=3
begin



set @query = 
'SELECT * from 
(select distinct u.username,r.Description RevenueBillReason,count(*) count1 from 
(
select  consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-9, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  consumerid,pr.RevenueBillReasonID
having count(*) >=9
) a
inner join prebilldetails p  on a.consumerid=p.consumerid and p.Billed=1 and sbm=1 and p.ArrearBill=1
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=p.meterreaderid
where     billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-1, 0)) 
and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) 
 and (case when '+@reason+'=''0''  then  ''0''  else convert(varchar,r.RevenueBillReasonID,20) end) in ('+@reason+')
group by u.username,a.RevenueBillReasonID,r.Description

) src
pivot 
(
   max(count1) for RevenueBillReason in ('+@cols1+')
) piv 

'
execute(@query)
end


if @status=4
begin



set @query = 
'SELECT * from 
(
   select distinct u.username,r.Description RevenueBillReason,count(*) count1 from 
(
select  meterreaderid,consumerid,pr.RevenueBillReasonID,count(*) count
from prebilldetails p 
inner join prebillreadingdetails pr on p.BillNo=pr.BillNo
where billdate between (select DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-12, 0)) and (select DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1)) and pr.RevenueBillReasonID is not null and pr.RevenueBillReasonID<>6 and p.Billed=1 and sbm=1 and p.ArrearBill=1
and pr.Released<>1  
group by  p.meterreaderid,consumerid,pr.RevenueBillReasonID
having count(*) >=12
) a
inner join RevenueBillReasons r on a.RevenueBillReasonID=r.RevenueBillReasonID
inner join users u  on u.contactid=a.meterreaderid
where  (case when '+@reason+'=''0''  then  ''0''  else convert(varchar,r.RevenueBillReasonID,20) end) in ('+@reason+')
group by u.username,a.RevenueBillReasonID,r.Description

) src
pivot 
(
   max(count1) for RevenueBillReason in ('+@cols1+')
) piv 

'
execute(@query)
end
GO
