USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteDemandChargeType]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Procedure [dbo].[sp_deleteDemandChargeType]
@discription varchar(max)

AS
SET NOCOUNT ON


Declare @v int select @v=0

select * From (
select  top 1  'Allready used in  ConsumerLedgerDemandDetails' massage ,'error'  types From  ConsumerLedgerDemandDetails  
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerLedgerDetails' massage ,'error'  types  From  ConsumerLedgerDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerArrearDetails'massage ,'error'  types  From  ConsumerArrearDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description =@discription)
union 
select  top 1  'Allready used in  PreBillDemandDetails' massage,'error'  types   From  PreBillDemandDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description =@discription))kl

set @v=(select isnull(sum(a),0) count From (
select  top 1  'Allready used in  ConsumerLedgerDemandDetails' error ,1 a From  ConsumerLedgerDemandDetails  
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerLedgerDetails' error ,1  From  ConsumerLedgerDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  ConsumerArrearDetails'error ,1  From  ConsumerArrearDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)
union 
select  top 1  'Allready used in  PreBillDemandDetails' error,1   From  PreBillDemandDetails
where DemandChargeTypeID in  (select DemandChargeTypeID From DemandChargeTypes where Description = @discription)

)kl)

IF (@v=0 )
BEGIN

select *  into  #tempdf  from (
select  max(DemandChargeTypeID) id From DemandChargeTypes where Description=@discription
union
select TaxDemandchargeTypeID  id From DemandChargeTypeTaxAllocation where DemandChargeTypeID in (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription)
 union
select InterestDemandChargeTypeID id From DemandChargeTypeInterestAllocation where DemandChargeTypeID in (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription)
 union
select ArrearDemandChargeTypeID  id From DemandChargeTypeArrearsAllocation where DemandChargeTypeID in (select  max(DemandChargeTypeID) From DemandChargeTypes where Description=@discription)
)k
delete From DemandChargeTypeTaxAllocation where  TaxDemandchargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypeInterestAllocation where InterestDemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypeArrearsAllocation where ArrearDemandChargeTypeID  in  ( select id From #tempdf)

delete From DemandChargeTypeTaxAllocation where DemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypeInterestAllocation where DemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypeArrearsAllocation where DemandChargeTypeID in  ( select id From #tempdf)
delete From DemandChargeTypes where DemandChargeTypeID in  ( select id From #tempdf)



drop table #tempdf
select   'Sucessfully delete' massage,'done' types
end 
GO
