USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[cpm6sernum]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[cpm6sernum] @sernum varchar(100),@rno varchar(100)
as
begin
update  meterdetails set serialnumber=@sernum where MeterID=(select max(meterid)from distributionnodemeterallocation where distributionnodeid in (select distributionnodeid from consumer where rrno=@rno))
end
GO
