USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_BBUPOPUP]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_BBUPOPUP] @year varchar(20) ,@month varchar(20), @popup varchar(100) 

 AS  
Declare @status varchar(30) select @status=((select parsename(replace(@popup,'-','.'),1)))


if @status='Billed'
 begin

select  u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME,c.rrno RRNO,c.fileas CONSUMERNAME
from  prebilldetails p 
left join consumer c on p.consumerid=c.consumerid and billed=1 and sbm=1
inner join ReadingdateAreaAllocation r on r.ReadingDateAreaAllocationID=(case when p.areaid is null then  c.ReadingDateAreaAllocationID else p.areaid end )
left join Users u on u.contactid=p.meterreaderid
left outer join  consumerpropertyallocation cpa on cpa.consumerid=c.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
 left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid  
inner join MeterReadingAreas m on r.MeterReadingAreaID=m.MeterReadingAreaID
where  u.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and day(printeddate)=(select parsename(replace(@popup,'-','.'),2)) 
and month(printeddate)=@month    and year(printeddate)=@year
order by tt1.Description ,m.AreaName 
end

else if  @status='Billable'
 begin

select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME, a.rrno RRNO,a.fileas CONSUMERNAME
from
 (
select consumerid,rrno,year,month,c.ReadingDateAreaAllocationID,fileas  from  
(select @year year,@month month ) as Q
cross join Consumer c 
 where   ConsumerConnectionStatusID=1 ) a

left join  prebilldetails p on  p.consumerid=a.consumerid and billed=1 and sbm=1  and odc<>1 and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=(case when p.areaid is null then  a.ReadingDateAreaAllocationID else p.areaid end )
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid=(case when p.meterreaderid is null then r.meterreaderid else p.meterreaderid end)
left outer join  consumerpropertyallocation cpa on cpa.consumerid=a.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid
where u.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and a.rrno not in(select rrno from prebilldetails where billed=1 and sbm=1  and odc<>1 and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1 
and day(PrintedDate)<(select parsename(replace(@popup,'-','.'),2)) )
end 

else if @status='unbilled'

 begin
select u.username METERREADERNAME ,tt1.Description WARD,m.AreaName AREANAME, a.rrno RRNO,a.fileas CONSUMERNAME
from
 (
select consumerid,rrno,year,month,c.ReadingDateAreaAllocationID,fileas  from  
(select @year year,@month month ) as Q
cross join Consumer c 
 where   ConsumerConnectionStatusID=1 ) a

left join  prebilldetails p on  p.consumerid=a.consumerid and billed=1 and sbm=1  and odc<>1 and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=(case when p.areaid is null then  a.ReadingDateAreaAllocationID else p.areaid end )
left join MeterReadingAreas m on r.MeterReadingAreaid=m.MeterReadingAreaid
left join Users u on u.contactid=(case when p.meterreaderid is null then r.meterreaderid else p.meterreaderid end)
left outer join  consumerpropertyallocation cpa on cpa.consumerid=a.consumerid and cpa.main=1   
left outer join  propertymaster pm on pm.propertymasterid=cpa.propertymasterid  
left outer join  territories tt on tt.territoryid=pm.territoryid 
left outer join  territories tt1 on tt1.territoryid=tt.underterritoryid
where u.username like concat((select parsename(replace(@popup,'-','.'),3)),'%') and a.rrno not in(select rrno from prebilldetails where billed=1 and sbm=1  and odc<>1 and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1 
and day(PrintedDate)<=(select parsename(replace(@popup,'-','.'),2)) )
end
GO
