USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_deletecurrentbilldetailsnew]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_deletecurrentbilldetailsnew]  @BillNo varchar(max)
AS

Begin





delete
 from PreBillDemandDetailsSub  where PreBillDemandDetailsID in(select PreBillDemandDetailsID from PreBillDemandDetails 
where PreBillDemandID in(select PreBillDemandID  from PreBillDemands where billno in(select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))))

 

delete  from PreBillDemandDetails 
where PreBillDemandID in(select PreBillDemandID  from PreBillDemands where  billno in(select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,','))))

 

delete  from PreBillDemands where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))
 

delete from PreBillWithdrawalDetailsSub where PreBillWithdrawalDetailsID in(select PreBillWithdrawalDetailsID from PreBillWithdrawalDetails
 where PreBillWithdrawalID in(select PreBillWithdrawalID from PreBillWithdrawals where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))))


delete  from PreBillWithdrawalDetails
 where PreBillWithdrawalID in(select PreBillWithdrawalID from PreBillWithdrawals
 where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,','))))

delete   from PreBillWithdrawals where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))

delete  from PreBillRebateDetailsSub where PreBillRebateDetailsID in(select PreBillRebateDetailsID from PreBillRebateDetails
 where PreBillRebateID in(select PreBillRebateID from PreBillRebates where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))))

delete  from PreBillRebateDetails
 where PreBillRebateID in(select PreBillRebateID from PreBillRebates where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,','))))


delete  from PreBillRebates where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))

delete  from PreBillDemandAdjustmentDetailsSub where PreBillDemandAdjustmentDetailsID in(select PreBillDemandAdjustmentDetailsID from PreBillDemandAdjustmentDetails
 where PreBillDemandAdjustmentID in(select  PreBillDemandAdjustmentID from PreBillDemandAdjustments
where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))))

delete  from PreBillDemandAdjustmentDetails
 where PreBillDemandAdjustmentID in(select  PreBillDemandAdjustmentID from PreBillDemandAdjustments
where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,','))))

delete from PreBillDemandAdjustments where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))

delete from PreBillReadingDetails where billno in (select billno from prebilldetails where billed=0 and ODC<>1and billno in (select * from split(@BILLNO,',')))

END
GO
