USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_updatephone]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_updatephone]  @rrno varchar(50),@phone varchar(100) ,@inter int  as
BEGIN


create table #temp1( rrno varchar(20) primary key,phone varchar(200))

insert into #temp1  
select @rrno,@phone 


update cd set StreetName=left(StreetName,CHARINDEX('PH:', StreetName)-2)
from Consumer c inner join 
#temp1 t on t.rrno=c.RRNO inner join
ConsumerAddressDetails cd on cd.ConsumerID=c.ConsumerID and  StreetName like '%PH:%' and @inter=1

update  cp set cp.localnumber =''
From Consumer c inner join #temp1 t on c.RRNO=t.rrno 
inner join  ConsumerPhoneDetails cp on cp.ConsumerID=c.ConsumerID and @inter=1



update  cp set cp.localnumber=t.phone
From Consumer c inner join #temp1 t on c.RRNO=t.rrno 
inner join  ConsumerPhoneDetails cp on cp.ConsumerID=c.ConsumerID and localnumber not  like concat('%',t.phone,'%') and  (cp.localnumber is null or cp.localnumber ='')



update  cp set cp.localnumber=concat(cp.localnumber,',',t.phone)
From Consumer c inner join #temp1 t on c.RRNO=t.rrno 
inner join  ConsumerPhoneDetails cp on cp.ConsumerID=c.ConsumerID and localnumber not  like concat('%',t.phone,'%') 

insert into ConsumerPhoneDetails
select c.ConsumerID,6,1,null,t.phone ,null,0 From Consumer c inner join #temp1 t on c.RRNO=t.rrno 
where c.ConsumerID not in 
(select c.ConsumerID
From Consumer c inner join #temp1 t on c.RRNO=t.rrno 
inner join  ConsumerPhoneDetails cp on cp.ConsumerID=c.ConsumerID)


update cd set StreetName=concat(StreetName,',',t.phone)
from Consumer c inner join 
#temp1 t on t.rrno=c.RRNO inner join
ConsumerAddressDetails cd on cd.ConsumerID=c.ConsumerID and   StreetName  not  like concat('%',t.phone,'%') and StreetName like '%PH:%'




update cd set StreetName=concat(StreetName,',PH:-',t.phone)
from Consumer c inner join 
#temp1 t on t.rrno=c.RRNO inner join
ConsumerAddressDetails cd on cd.ConsumerID=c.ConsumerID and   StreetName  not  like concat('%',t.phone,'%')  and StreetName not  like '%PH:%'


drop table #temp1

END
GO
