USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_deletecurrentbilldetails]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  procedure [dbo].[sp_deletecurrentbilldetails] AS

Begin

SET NOCOUNT ON

delete from PreBillDemandDetailsSub  where PreBillDemandDetailsID in(select PreBillDemandDetailsID from PreBillDemandDetails 
where PreBillDemandID in(select PreBillDemandID  from PreBillDemands where billno in(select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)))
 


delete  from PreBillDemandDetails 
where PreBillDemandID in(select PreBillDemandID  from PreBillDemands where billno in(select billno from PreBillDetails where concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0))



delete  from PreBillDemands where billno in(select billno from PreBillDetails where concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)



delete from PreBillWithdrawalDetailsSub where PreBillWithdrawalDetailsID in(select PreBillWithdrawalDetailsID from PreBillWithdrawalDetails
 where PreBillWithdrawalID in(select PreBillWithdrawalID from PreBillWithdrawals where BillNo in(select billno from PreBillDetails where concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)))



delete  from PreBillWithdrawalDetails
 where PreBillWithdrawalID in(select PreBillWithdrawalID from PreBillWithdrawals
 where BillNo in(select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0))



delete   from PreBillWithdrawals where BillNo in(select billno from PreBillDetails where  
concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)



delete  from PreBillRebateDetailsSub where PreBillRebateDetailsID in(select PreBillRebateDetailsID from PreBillRebateDetails
 where PreBillRebateID in(select PreBillRebateID from PreBillRebates where BillNo in(
select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)))



delete  from PreBillRebateDetails
 where PreBillRebateID in(select PreBillRebateID from PreBillRebates where BillNo in(
select billno from PreBillDetails where  
concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0))



delete  from PreBillRebates where BillNo in(
select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)



delete  from PreBillDemandAdjustmentDetailsSub where PreBillDemandAdjustmentDetailsID in(select PreBillDemandAdjustmentDetailsID from PreBillDemandAdjustmentDetails
 where PreBillDemandAdjustmentID in(select  PreBillDemandAdjustmentID from PreBillDemandAdjustments
where BillNo in(select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0) ))



delete  from PreBillDemandAdjustmentDetails
 where PreBillDemandAdjustmentID in(select  PreBillDemandAdjustmentID from PreBillDemandAdjustments
where BillNo in(select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0) )



delete from PreBillDemandAdjustments
where BillNo in(select billno from PreBillDetails where concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)




delete from PreBillReadingDetails where BillNo in(
select billno from PreBillDetails where  concat(year(billdate),month(billdate))=concat(year(GETDATE ( )),month(GETDATE ( )) ) and billed=0)


end
GO
