USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[saveDisconnectionAdvace_open]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  Procedure [dbo].[saveDisconnectionAdvace_open]
@RRNO varchar(max)=null,
@ReadingDateAreaAllocationID varchar(max)=null,
@StatusID int=null,
@FromContactID int=null,
@FromODLDID int=null,
@ToContactID int=null,
@ToODLDID int=null,
@ApprovalRemarks varchar(max)
AS
SET NOCOUNT ON

declare @ak varchar(max)  select @ak =@RRNO

declare @reding varchar(max)  select @reding  =@ReadingDateAreaAllocationID 



declare @sl varchar(max)  select @sl=','
declare @counts int SELECT @counts=(DATALENGTH(@ak)-DATALENGTH(REPLACE(@ak,@sl,'')))/DATALENGTH(@sl)




create table  #tempcols (rrno varchar(max))
WHILE ( @counts >= 0)
BEGIN
insert into #tempcols
SELECT left(@ak,CHARINDEX(@sl,@ak)-1)   where 0<@counts
insert into #tempcols
SELECT @ak  where 0=@counts
set @ak=right(@ak,len(@ak)-CHARINDEX(@sl,@ak))
set @counts=@counts-1
ENd


update  r set r. DisconnectionListapproved=1
From consumerdisconnectionlist r where  consumerdisconnectionlistid in (
select max(consumerdisconnectionlistid)From consumerdisconnectionlist where   ConsumerID in   (select ConsumerID From Consumer where RRNO in (select rrno From #tempcols )))
and r.ReadingDateAreaAllocationID= @reding  
and @StatusID=1 and r.AdviceForDisconnect=1 and r. DisconnectionListapproved=0
 and r.cancelled=0



insert into ActivityApprovalDetails
select 53,(select max(ConsumerDisConnectionListID) From ConsumerDisConnectionList where ConsumerID in (select ConsumerID from Consumer where RRNO=@RRNO ))
,@FromContactID ,@FromODLDID,@StatusID ,@ApprovalRemarks,@ToContactID ,@ToODLDID,getdate()
GO
