USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_disconnectionList]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_disconnectionList]  
@MeterReaderID varchar(max) null ,
@MeterReadingAreaID  varchar(max) null,
@ReadingDate varchar(max) null,
@TariffID varchar(max) null,
@fromamount varchar(max) null,
@toamount varchar(max) null,
@types varchar(20) null, 
@multipleofdeposit float null

AS
SET NOCOUNT ON

select cv.RRNO,cv.ConsumerID,cv.FileAs consumerName,mr.AreaName,a.ReadingDate,c.FileAs MeterReader,t.Description Tariff,
cb Arrears,FinalReading,LastPaidDate,isnull(deposit,0)  deposit From ReadingdateAreaAllocation  a
inner join contacts  c on c.ContactID=a.MeterReaderID
inner join MeterReadingAreas mr on mr.MeterReadingAreaID=a.MeterReadingAreaID
inner join Consumer cv on cv.ReadingDateAreaAllocationID=a.ReadingDateAreaAllocationID
inner join Tariffs t on t.TariffID=cv.TariffID
outer apply(select *From consumercb(cv.rrno))kl
outer apply(select  isnull(KWahFinalReading,KWahInitialReading)  FinalReading From PreBillReadingDetails  where BillNo in  (
select max(p.BillNo) From PreBillDetails p inner join  PreBillReadingDetails q on p.BillNo=q.BillNo and p.RRNo=cv.RRNo and p.Billed=1 and p.SBM=1 group by p.RRNo )
)kl1
outer apply(select sum(isnull(j.Amount,0)) deposit  
from ConsumerDepositDetails j  where j.ConsumerID=cv.ConsumerID
group by j.ConsumerID
)klkkkkkk
outer apply(select top 1 convert(varchar(max),ReceiptDate,103) LastPaidDate from Receipts where ContactID=cv.ConsumerId 
and isnull(Cancel,0)=0 order by ReceiptDate desc) LastPaidDate
where MeterReaderID = @MeterReaderID  and a.MeterReadingAreaID=@MeterReadingAreaID 
and  a.ReadingDate=@ReadingDate and cv.ConsumerConnectionStatusID=1 and cb between  @fromamount  and @toamount
and cv.ConsumerID not in (select ConsumerID From ConsumerDisConnectionList  where Reconnected=0 and cancelled=0 
and  DisconnectCancel=0 ) and (cv.TariffId=@TariffID or @TariffID is null or @TariffID='0') 
and @types='arrears'




union 

select cv.RRNO,cv.ConsumerID,cv.FileAs consumerName,mr.AreaName,a.ReadingDate,c.FileAs MeterReader,t.Description Tariff,
cb Arrears,FinalReading,LastPaidDate,isnull(deposit,0)  deposit From ReadingdateAreaAllocation  a
inner join contacts  c on c.ContactID=a.MeterReaderID
inner join MeterReadingAreas mr on mr.MeterReadingAreaID=a.MeterReadingAreaID
inner join Consumer cv on cv.ReadingDateAreaAllocationID=a.ReadingDateAreaAllocationID
inner join Tariffs t on t.TariffID=cv.TariffID
outer apply(select *From consumercb(cv.rrno))kl
outer apply(select  isnull(KWahFinalReading,KWahInitialReading)  FinalReading From PreBillReadingDetails  where BillNo in  (
select max(p.BillNo) From PreBillDetails p inner join  PreBillReadingDetails q on p.BillNo=q.BillNo and p.RRNo=cv.RRNo and p.Billed=1 and p.SBM=1 group by p.RRNo )
)kl1
outer apply(select sum(isnull(j.Amount,0)) deposit  
from ConsumerDepositDetails j  where j.ConsumerID=cv.ConsumerID
group by j.ConsumerID
)klkk
outer apply(select top 1 convert(varchar(max),ReceiptDate,103) LastPaidDate from Receipts where ContactID=cv.ConsumerId 
and isnull(Cancel,0)=0 order by ReceiptDate desc) LastPaidDate
where MeterReaderID = @MeterReaderID  and a.MeterReadingAreaID=@MeterReadingAreaID 
and  a.ReadingDate=@ReadingDate and cv.ConsumerConnectionStatusID=1 and 
cv.ConsumerID in (
select cl.ConsumerID From Consumer cl 
outer apply (select cb From consumercb(cl.rrno))mn
outer apply(select sum(isnull(j.Amount,0)) deposit  
from ConsumerDepositDetails j  where j.ConsumerID=cv.ConsumerID
group by j.ConsumerID
)kl  where cb>=isnull(deposit,0)*@multipleofdeposit)
and cv.ConsumerID not in (select ConsumerID From ConsumerDisConnectionList  where Reconnected=0 and cancelled=0 
and  DisconnectCancel=0 )
 and (cv.TariffId=@TariffID or @TariffID is null or @TariffID='0') 
and @types='deposit'

union 

select cv.RRNO,cv.ConsumerID,cv.FileAs consumerName,mr.AreaName,a.ReadingDate,c.FileAs MeterReader,t.Description Tariff,
cb Arrears,FinalReading,LastPaidDate,isnull(deposit,0)  deposit From ReadingdateAreaAllocation  a
inner join contacts  c on c.ContactID=a.MeterReaderID
inner join MeterReadingAreas mr on mr.MeterReadingAreaID=a.MeterReadingAreaID
inner join Consumer cv on cv.ReadingDateAreaAllocationID=a.ReadingDateAreaAllocationID
inner join Tariffs t on t.TariffID=cv.TariffID
outer apply(select *From consumercb(cv.rrno))kl
outer apply(select  isnull(KWahFinalReading,KWahInitialReading)  FinalReading From PreBillReadingDetails  where BillNo in  (
select max(p.BillNo) From PreBillDetails p inner join  PreBillReadingDetails q on p.BillNo=q.BillNo and p.RRNo=cv.RRNo and p.Billed=1 and p.SBM=1 group by p.RRNo )
)kl1
outer apply(select sum(isnull(j.Amount,0)) deposit  
from ConsumerDepositDetails j  where j.ConsumerID=cv.ConsumerID
group by j.ConsumerID
)klkkk
outer apply(select top 1 convert(varchar(max),ReceiptDate,103) LastPaidDate from Receipts where ContactID=cv.ConsumerId 
and isnull(Cancel,0)=0 order by ReceiptDate desc) LastPaidDate
where MeterReaderID = @MeterReaderID  and a.MeterReadingAreaID=@MeterReadingAreaID 
and  a.ReadingDate=@ReadingDate and cv.ConsumerConnectionStatusID=1 and 
cv.ConsumerID in (
select ConsumerID From (select ConsumerID,sum(resoncount) resoncount  From
(select *From  (select row_number() over(PARTITION BY  p.ConsumerID order by p.BillDate desc) cou ,
case when rd.RevenueBillReasonID is null then 0 else 1 end  resoncount ,p.ConsumerID
From PreBillDetails p WITH (NOLOCK)
inner join PreBillReadingDetails rd  WITH (NOLOCK)on p.billno=rd.BillNo
where p.Billed=1 and p.SBM=1 )k
where cou<=2)kj
group by ConsumerID)kjl where kjl.resoncount=2
)
and cv.ConsumerID not in (select ConsumerID From ConsumerDisConnectionList  where Reconnected=0 and cancelled=0 
and  DisconnectCancel=0 )
 and (cv.TariffId=@TariffID or @TariffID is null or @TariffID='0') 
and @types='reason'
GO
