USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_BBUNew]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_BBUNew] @year varchar(10) ,@month varchar(10),@meterreader varchar(30)

AS SET NOCOUNT ON

Declare @prevbill table (rrno varchar(20),readingdate date,meterreaderid int ,printeddate date,printeddate1 date)

insert into @prevbill 
select  rrno,readingdate1,meterreaderid,printeddate,(case when readingdate1>printeddate then readingdate1 end) printeddate1
 from (
select  isnull(p.meterreaderid,r.meterreaderid)  meterreaderid,isnull(p.readingdate,convert(datetime,concat(@year,'-',@month,'-',r.readingdate),120)) readingdate1, 
a.rrno rrno,p.ConsumerConnectionStatusID from
 (
select consumerid,rrno,year,month,c.ReadingDateAreaAllocationID  from  
(select @year year,@month month ) as Q
cross join Consumer c 
  ) a
 left join  prebilldetails p on  p.consumerid=a.consumerid  and  month(billdate)=@month  and year(billdate)=@year and ConsumerConnectionStatusID=1 and p.arrearbill=1
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=(case when p.areaid is null then  a.ReadingDateAreaAllocationID else p.areaid end )
) A
full join 
(
select  meterreaderid meterreaderid1,printeddate,rrno rrno1 from prebilldetails where  billed=1 and sbm=1  and odc<>1  and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1
) B on A.rrno=B.rrno1 

Declare @billdetails table (rn int,
meterreaderid int ,date1 date,billable1 int ,BilledOndate int,BilledAdvance int,billed1 int ,unbilled1 int,billedafter int)

insert into @billdetails

select  row_number() over(partition  by isnull(B.meterreaderid,A.meterreaderid) order by  isnull(B.meterreaderid,A.meterreaderid),isnull(B.printeddate,A.readingdate)) rn,
isnull(B.meterreaderid,A.meterreaderid) meterreaderid,isnull(B.printeddate,A.readingdate) date1,isnull(billable,0) billable1 ,isnull(BilledOndate,0) BilledOndate,isnull(BilledAdvance,0) BilledAdvance,
isnull(billed,0) billed1,isnull(unbilled,0) unbilled1,isnull(billedafter,0) billedafter
 from (select meterreaderid,readingdate,count(distinct rrno) Billable from @prevbill 
where meterreaderid is not null
group by meterreaderid,readingdate) A  full join 
(select meterreaderid,printeddate,count(distinct rrno) Billed  from @prevbill 
where meterreaderid is not null and printeddate is not null
group by meterreaderid,printeddate) B  on A.meterreaderid=B.meterreaderid and A.readingdate=B.printeddate
full join 
(select meterreaderid,printeddate1,count(distinct  rrno) BilledAdvance  from @prevbill 
where meterreaderid is not null  
group by meterreaderid,printeddate1) D on A.meterreaderid=D.meterreaderid and A.readingdate=D.printeddate1 
full join 
(select meterreaderid,printeddate,count(distinct  rrno) BilledOndate  from @prevbill 
where meterreaderid is not null  and readingdate=printeddate
group by meterreaderid,printeddate) F on A.meterreaderid=F.meterreaderid and A.readingdate=F.printeddate
left  join 
(select meterreaderid,readingdate,count(distinct  rrno) unbilled  from @prevbill 
where meterreaderid is not null and  (readingdate<>printeddate) or printeddate is null
group by meterreaderid,readingdate) C on A.meterreaderid=C.meterreaderid and A.readingdate=C.readingdate
full join
(select meterreaderid,printeddate,count(distinct  rrno) billedafter  
from @prevbill 
where meterreaderid is not null and  (readingdate<printeddate)  
group by meterreaderid,printeddate)  E on  B.meterreaderid=E.meterreaderid and B.printeddate=E.printeddate
where isnull(B.meterreaderid,A.meterreaderid) in  (select data from split(@meterreader,','))
order by isnull(B.meterreaderid,A.meterreaderid),isnull(B.printeddate,A.readingdate)

select username,date1,concat(left(username,6),'-',day(date1),'-',status) status,count  from 
(
select username  ,convert(varchar(10),date1) date1 ,status,count from 
(
select u.username,bd.date1,(sum(b.billable1)-bd.billedadvance-bu.billedondate1-bu.billedadvance1-bu.billedafter1) Billable,bd.billed1 as billed,
(sum(b.billable1)-bd.billedadvance-bd.billedondate-bd.billedafter-bu.billedondate1-bu.billedadvance1-bu.billedafter1) unbilled
 from @billdetails bd inner join (
select u.meterreaderid,u.date1,(case when u.rn=1 then u.billedondate else sum(b.billedondate) end) billedondate1,
(case when u.rn=1 then u.billedafter else sum(b.billedafter) end)   billedafter1,
(case when u.rn=1 then u.billedadvance else sum(b.billedadvance) end)   billedadvance1  from @billdetails  u
full join @billdetails b on  u.meterreaderid=b.meterreaderid and b.rn<u.rn 
where  u.meterreaderid is not null
group by u.billedondate,u.billedadvance,u.billedafter,u.meterreaderid,u.date1,u.rn
) bu on bd.meterreaderid=bu.meterreaderid and bd.date1=bu.date1
full join @billdetails b on  bd.meterreaderid=b.meterreaderid and b.rn<=bd.rn 
left  join Users u on bd.meterreaderid=u.contactid
where bd.meterreaderid is not null 
group by bd.billedondate,bd.billedafter,bd.billed1,bd.billedadvance,bu.billedondate1,bu.billedadvance1,bu.billedafter1,u.username,bd.date1
) s
unpivot
(
  count
  for status in (Billable ,billed, unbilled )
) u
) A order by username,date1
GO
