USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_AbSub1]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[sp_AbSub1] @year varchar(20) ,@month varchar(20)

 AS SET NOCOUNT ON


declare @sql1 varchar(max)
declare @sql2 varchar(max)

Declare @prevbill table (ConsumerID int,count1 int,prevdemand money)
Declare @curbill table (ConsumerID int,printeddate date,totaldemandc money)
Declare @status table (ConsumerID int,printeddate date,status varchar(10))

set @sql1='select consumerid,count(amount) count1,sum(amount)/isnull(sum(ecratio),1) prevdemand from

(
select  row_number() over (partition by p.consumerid order by p.printeddate desc) rn ,p.consumerid,amount,billdate,(isnull(pr.ecratio,0)-isnull(pr.withdrawalecratio,0))ecratio
from  prebilldetails p 
left join PreBillReadingDetails pr on p.BillNo=pr.BillNo 
inner  join (select d.consumerid,month(billdate) month,year(billdate) year,sum(isnull(d1.amount,0)) amount from ConsumerLedgerDemands d 
left  join ConsumerLedgerDemandDetails d1 on d.ConsumerLedgerDemandsID=d1.ConsumerLedgerDemandsID and d1.demandchargetypeid  in (5,9)
group by d.consumerid,month(billdate)  ,year(billdate)) d on p.consumerid=d.consumerid and  month(p.billdate)=d.month and year(p.billdate)=d.year
where p.Billed=1 and sbm=1 and  odc<>1 and pr.KWahFinalReading is not null 
and convert(datetime,concat(year(billdate),''-'',month(billdate),''-'',''1''),120)<convert(datetime,concat('+@year+',''-'','+@month+',''-'',''1''),120)
)p where rn <4 
group by consumerid  having count(amount) =3'

insert into @prevbill
exec(@sql1)

set @sql2='
select c.ConsumerID,printeddate,isnull(amount,0) totaldemandc 
from  consumer c
left join PreBillDetails p on c.ConsumerID=p.ConsumerID
left join PreBillReadingDetails pr on p.BillNo=pr.BillNo 
inner  join (select d.consumerid,month(billdate) month,year(billdate) year,sum(isnull(d1.amount,0)) amount from ConsumerLedgerDemands d 
left  join ConsumerLedgerDemandDetails d1 on d.ConsumerLedgerDemandsID=d1.ConsumerLedgerDemandsID and d1.demandchargetypeid  in (5,9)
group by d.consumerid,month(billdate)  ,year(billdate)) d on p.consumerid=d.consumerid and  month(p.printeddate)=d.month and year(p.printeddate)=d.year
where month(printeddate)='+@month+'  and year(printeddate)='+@year+' and billed=1 and SBM=1 and p.ArrearBill<>0 and pr.KWahFinalReading is not null'

insert into @curbill
exec(@sql2)

select day(printeddate) DAY,sum(case when status='Abnormal' then 1 else 0 end) Abnormal,sum(case when status='Subnormal' then 1 else 0 end) Subnormal
from 
(
select c.ConsumerID,printeddate,(case when count1=3 and  totaldemandc>(150*prevdemand)/100 then 'Abnormal'
when count1=3 and  totaldemandc<(50*prevdemand)/100 then 'Subnormal' else 'normal' end ) status from @curbill c 
inner join @prevbill p on c.ConsumerID=p.ConsumerID
) A 
group by day(printeddate)
GO
