USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[cpm4constatus]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cpm4constatus] @status int,@rno varchar(20)
as
begin

update consumer set ConsumerConnectionStatusID=@status where RRNO=@rno

end
GO
