USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[sp_uniquebillgenerationcpm]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_uniquebillgenerationcpm] as
BEGIN

declare @billno1 bigint 
select @billno1=(select (select (select (select year('2017-17-01')*100))+(select month('2017-7-01')))*10000)

declare @reseed bigint 
set @reseed=@billno1*1000

DBCC CHECKIDENT ('prebilldetails', RESEED,@reseed)

insert into DBO.PreBillDetails 

SELECT CONVERT(date, getdate()),Null,Null,ConsumerID,rrno,null,ReadingDateAreaAllocationID,NUll,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,TariffID,NULL,NULL,NULL,null,FirstName,NULL,Metered,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,0,0,0,0,NULL,NULL,NULL,0,NULL,NULL,0,0,NULL,NULL,NULL,0,NULL,NULL
from consumer
order by dbo.ExpandNumbers(rrno,10) ASC

END

GO
