USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[SP_ToCheckApprovals]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure [dbo].[SP_ToCheckApprovals]
(@ActivityID int,
@ContactID int)


as

declare @V_Create as bit
declare @V_View as bit
declare @V_Modify as bit

begin 
 
                   select StatusID,Description,ShowNextApprover From Status
end

GO
