USE [EnergySyncRevenueKarkala]
GO
/****** Object:  StoredProcedure [dbo].[cpm3name]    Script Date: 12-06-2026 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cpm3name] @nm varchar(100),@rno varchar(100)
as 
begin

update consumer set firstname=@nm,FileAs=@nm where rrno=@rno


update DistributionNodes set FileAs=@nm where DistributionNodeID=(select DistributionNodeID from consumer where rrno=@rno)

end
GO
